[2022-06-24 12:38] vladimir-krestov commented on #7344
@RussKie, FYI

[2022-06-24 13:10] deng0 opened #7345 "WinForms Designer ignores custom Form Font in specific case"
### Environment

Visual Studio 2022 17.2.5

### .NET version

6.0

### Did this work in a previous version of Visual Studio and/or previous .NET release?

We think this problem might have been introduced with a recent VS update, but we're not sure.

### Issue description

We have noticed that in a specific case the Visual Studio .NET Core Windows Forms designer ignores the custom font that is set

[2022-06-24 16:52] MisinformedDNA opened #7346 "Generated code should be fully qualified"
### .NET version

6.0.202

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

If a user's namespace includes `Application`, then the generated code for `ApplicationConfiguration` will result in compile time issues. Controls should be fully qualified to avoid these issues. This is how the [Logging ge

[2022-06-24 19:33] vladimir-krestov opened #7347 "DataGridView and its elements accessible objects are leaking in memory"
### .NET version

.NET 7.0 Preview 4

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

DataGridView and its elements accessible objects are left in memory after the DataGridView control instance with its rows was inspected with accessibility tool (like Accessibility Insights or Inspect) and the form with Dat

[2022-06-24 20:49] merriemcgaw commented on #7336
@PoojaNamde thank you so much!
@Olina-Zhang this looks like a simple tab order issue. Can you update the sample app to have the correct tab order inside the sample and provide the update app to @PoojaNamde ?

[2022-06-24 20:53] merriemcgaw commented on #7337
Thanks @PoojaNamde .

@Olina-Zhang can you replace the website content with the simple html doc below (you'll need to change the extension I think). With very little content I'm interested in finding out where the focus goes next. Just attach the updated sample and assign back to me. Thanks!

[simple.txt](https://github.com/dotnet/winforms/files/8980638/simple.txt)

[2022-06-26 10:17] bkoelman commented on #3780
So this gets marked as up-for-grabs again? I don't really see the point...

I'm using Windows 10, not 7. The following is in my Main method:
[code]

[2022-06-26 12:56] chylex commented on #2476
I ended up using https://github.com/paintdotnet/System.Windows.Forms.Legacy as a replacement for the removed native controls.

[2022-06-26 12:57] chylex commented on #2476
If anyone is interested in a solution for the missing native controls, I ended up using https://github.com/paintdotnet/System.Windows.Forms.Legacy as a replacement.

[2022-06-26 19:48] vladimir-krestov commented on #7245
The reason of the regression is #2096, when BoundingRectangle was changed.

[2022-06-27 00:43] ahdung commented on #3780
@bkoelman But this title style is windows 7, isn't it?
![image](https://user-images.githubusercontent.com/12094247/175840600-2ba76bb9-1558-4662-9bac-1add0f92766f.png)

And native button on Windows 10 is like this, no rounded corner:
![image](https://user-images.githubusercontent.com/12094247/175840941-0a54e60b-ad0b-48a9-b948-9bff15c76a1f.png)

[2022-06-27 06:05] adbhosale opened #7351 "A11y_WINFORMS_PrintingTesting_Settings_Zoom : At 200 percent zoom the Content at the bottom of the tab like Ok and Cancel button is not visible."
### .NET version

.NET Framework Version 4.8.04161
Operating System: Windows 11 Enterprise 21H2

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

GitHubTags:#A11yMAS;#A11yTCS;#.NET Core[WINFORMS]-Win32-June2022;#.NET Core;#A11ySev2;#WCAG1.4.4;#DesktopApp;#Win11;#Benchmark;#Zoom

Actual:
At 200 per

[2022-06-27 06:21] adbhosale opened #7352 "A11y_WINFORMS_DialogControls_ColorDialog_Screenreader : The NVDA is not announcing about the color in color dialog."
### .NET version

.NET Framework Version 4.8.04161
Operating System: Windows 11 Enterprise 21H2

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

GitHubTags:#A11yMAS;#A11yTCS;#.NET Core[WINFORMS]-Win32-June2022;#.NET Core;#A11ySev2;#WCAG1.3.1;#DesktopApp;#Win11;#Benchmark;#Screenreader#NVDA

Actua

[2022-06-27 06:31] Amy-Li03 commented on #7336
@merriemcgaw @PoojaNamde have updated the sample app, you can get the new app from here:
[Accessibility_Core_7.0_App.zip](https://github.com/dotnet/winforms/files/8989190/Accessibility_Core_7.0_App.zip)

[2022-06-27 06:36] Amy-Li03 commented on #7337
Thank you @merriemcgaw and @Tanya-Solyanik , it works to add a simple html for webBrowser, have updated the app:
[Accessibility_Core_7.0_App.zip](https://github.com/dotnet/winforms/files/8989207/Accessibility_Core_7.0_App.zip), we will update the Accessibility app in GitHub later.
@PoojaNamde please use the new app to do testing.

[2022-06-27 06:46] Durgajyothi143 opened #7353 "A11y_WINFORMS_Winforms-Containers_GroupBox_Zoom:At 200% zoom the data under group box is not visible"
### .NET version

.NET Framework Version 4.8.04161
Operating System: Windows 11 Enterprise 21H2

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

GitHubTags:#A11yMAS;#A11yTCS;#.NET Core[WINFORMS]-Win32-June2022;#.NET Core;#A11ySev2;#WCAG1.4.4;#DesktopApp;#Win11;#Benchmark;#Zoom

**Actual:**

At 20

[2022-06-27 06:47] Durgajyothi143 opened #7354 "A11y_WINFORMS_Winforms-Containers_Winform-Containers_Keyboard:Keyboard focus is going in incorrect direction"
### .NET version

.NET Framework Version 4.8.04161
Operating System: Windows 11 Enterprise 21H2

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

**Issue description**

GitHubTags:#A11yMAS;#A11yTCS;#.NET Core[WINFORMS]-Win32-June2022;#.NET Core;#A11ySev2;#WCAG2.4.3;#DesktopApp;#Win11;#Benchmark;#Keyboard;

**Actual:**

[2022-06-27 07:21] Durgajyothi143 opened #7355 "A11y_WINFORMS_Remaining_Controls_Testing_Remaining-Controls_Zoom:At 200% zoom item and value section is not visible clearly"
### .NET version

.NET Framework Version 4.8.04161
Operating System: Windows 11 Enterprise 21H2

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

GitHubTags:#A11yMAS;#A11yTCS;#.NET Core[WINFORMS]-Win32-June2022;#.NET Core;#A11ySev2;#WCAG1.4.4;#DesktopApp;#Win11;#Benchmark;#Zoom

**Actual:**

At 20

[2022-06-27 07:58] Mandi-Man commented on #6252
Verified this issue with 7.0.100-preview.7.22324.4 and 6.0.400-preview.22316.6 from main branch, it doesn't repro. So close this issue now.Please see below screenshots:
![image](https://user-images.githubusercontent.com/104553917/175887064-f8dd575b-8fe3-4fcf-9b61-9548f442fe22.png)
![image](https://user-images.githubusercontent.com/104553917/175886814-0a433752-be52-4473-a7d0-3184f98d24c9.png)

[2022-06-27 07:58] #6252 closed

[2022-06-27 08:28] #6295 closed

[2022-06-27 08:59] Nora-Zhou01 commented on #6119
Verified with 17.3.0 Preview 3.0 [32626.21.main] from main branch,  it doesn't repro. So close this issue now.  See below screenshot.
![0627](https://user-images.githubusercontent.com/104609169/175901193-176e1beb-804e-4dc1-82d2-b05267e4f7b9.gif)

[2022-06-27 10:48] xiaoyuvax opened #7356 "BinaryEditor doesn't work for PropertyGrid control in .net 6 preview."
### .NET version

 Version:   6.0.400-preview.22301.10
 Commit:    25580ffe7a

Host (useful for support):
  Version: 6.0.6
  Commit:  7cca709db2

.NET SDKs installed:
  6.0.301 [C:\Program Files\dotnet\sdk]
  6.0.400-preview.22301.10 [C:\Program Files\dotnet\sdk]

.NET runtimes installed:
  Microsoft.AspNetCore.App 3.1.25 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
  Microsoft.AspNet

[2022-06-27 20:21] vladimir-krestov opened #7357 "Suggest to create and use separate method with asserting `HRESULT` of `UiaDisconnectProvider`"
### Is your feature request related to a problem? Please describe

We have to check `UiaDisconnectProvider` result every time and check its arguments for null.
Based on [this comment](https://github.com/dotnet/winforms/pull/7319#discussion_r907681735).`UiaDisconnectProvider`

### Describe the solution you'd like and alternatives you've considered

We may create a separate method for `UiaDisconnect

[2022-06-28 01:15] RussKie commented on #7357
Sounds good.

[2022-06-28 04:03] kant2002 opened #7358 "Multiple entries in the DesignToolsServerManifest.json"
### Environment

Version 17.3.0 Preview 2.0

### .NET version

.NET 7.0

### Did this work in a previous version of Visual Studio and/or previous .NET release?

_No response_

### Issue description

Here is part of DesignToolsServerManifest.json which I found when looking for crash of debugger in my test app which uses local build. You may notice multiple entries for `"System.Windows.Forms.resourc

[2022-06-28 04:20] xiaoyuvax commented on #7356
Cause and workaround discussed here, waiting for future fix:
https://stackoverflow.com/questions/72770925/binaryeditor-class-doesnt-work-for-propertygrid-control-in-net-6-preview?noredirect=1#comment128547943_72770925

[2022-06-28 10:05] John-Qiao commented on #6919
Verified this issue on .NET 6.0 test pass build: .NET 6.0.302-servicing.22323.16, it was fixed.

[2022-06-28 20:49] merriemcgaw commented on #7354
@Olina-Zhang can you rearrange the controls so that the last groups with the buttons are in their own column and make sure that TabOrder is correct, left to right then top to bottom.

Once you've gotten that could you check in the fix to the sample project and provide us an EXE to test with here? Thanks so much!

[2022-06-28 21:27] merriemcgaw commented on #7355
Note there is a scrollbar on the form and that allows the full control to be accessible without "loss of content or functionality".

[2022-06-28 21:53] merriemcgaw commented on #7352
@Olina-Zhang @vladimir-krestov what do we show for the UIA Hierarchy? What do Narrator or Jaws do? This is a Windows dialog so I doubt there's much we can do but we'll record our findings here.

[2022-06-28 23:58] Shyam-Gupta commented on #7358
@kant2002 I am not sure how `System.Windows.Forms.dll`, `System.Windows.Forms.Primitives.dll` and their corresponding resource assemblies are getting listed in this file. Could you please share your test project which is causing this file to generate. Thanks.

[2022-06-28 23:58] merriemcgaw commented on #7355
@Olina-Zhang can you get a full screen shot?

[2022-06-29 00:05] merriemcgaw commented on #7351
@Olina-Zhang  can you get us full size screen shots of each of these print related screens, so that we can determine which we own and can fix.

[2022-06-29 00:08] merriemcgaw commented on #7346
This will need to be serviced.

[2022-06-29 00:13] Tanya-Solyanik commented on #7341
I had seen the same issue in the ,NET Framework.

[2022-06-29 00:18] merriemcgaw commented on #7341
@MelonWang1 can you please try to find a workaround, like adding a space at the end of the LinkLabel for the customer, and @dreddy-work will see if there is something we can do on our end.

[2022-06-29 00:36] Tanya-Solyanik commented on #7357
Alternatively, we can remove this assert.

[2022-06-29 02:00] Nora-Zhou01 commented on #7201
@Junjun-zhao The latest .NET 7.0 SDK build doesn't contain this PR fix. We will verify and add comments once the PR is merged to build.

[2022-06-29 02:54] Olina-Zhang commented on #7354
Updated TabOrder for tested form, and please using following EXE for testing:
[AppExE.zip](https://github.com/dotnet/winforms/files/9006856/AppExE.zip)
![TabOrderUpated](https://user-images.githubusercontent.com/26474449/176341153-0b6312fd-938d-4f64-89d9-4671dcef577d.gif)

[2022-06-29 06:45] Durgajyothi143 commented on #7355
Hi @merriemcgaw
I have used Display Resolution :1366*768 before moving to 200% custom scaling .

[2022-06-29 08:08] Olina-Zhang opened #7363 "[Multi-Monitor] Unhandled exception pops up when expanding DataGridView ComboBox dropdown list on secondary monitor"
### .NET version

7.0.100-preview.7.22323.18

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

Unhandled exception pops up when expanding DataGridView ComboBox dropdown list to choose item on secondary monitor
![image](https://user-images.githubusercontent.com/26474449/176385452-dcd72b4a-c2cf-4b93-b88a-f562f

[2022-06-29 09:38] Olina-Zhang commented on #7355
@merriemcgaw I verified this form page on display resolution: 1366*768, set Magnifier with 200% custom scaling. In this mode, we can move mouse to see all form easily, please see following gif:
![200Zoom](https://user-images.githubusercontent.com/26474449/176404697-665a8737-00f9-4654-86b4-1bef593abf4f.gif)

[2022-06-29 09:56] Olina-Zhang commented on #7351
@merriemcgaw I verified these print related screens on display resolution: 1366*768 used in another issue, set Magnifier with 200% custom scaling. In this mode, although screens are not fully visible, and can move mouse to see all screens easily, please see following gif:
![200ZoomPrint](https://user-images.githubusercontent.com/26474449/176408356-7823c042-89ef-40b1-bb9b-b03f6dc0cae9.gif)

[2022-06-29 10:00] MelonWang1 commented on #7341
@merriemcgaw Adding a space at the end of the LinkLabel text properties can solve this issue. I will tell this workaround to customer to try.
![11](https://user-images.githubusercontent.com/94418985/176409604-7f23eee2-30db-47ba-82b7-5e73a54d8711.gif)

[2022-06-29 10:12] Olina-Zhang commented on #7352
@merriemcgaw In Inspect: UIA tree, there isn't every color blocks, and Narrator also repro, it cannot focus on every color area.
![image](https://user-images.githubusercontent.com/26474449/176411266-455c9d44-8adc-47da-8a25-413f507eacc8.png)
![Narrator1](https://user-images.githubusercontent.com/26474449/176412027-60bd0c1b-6203-4ec7-9b47-ff1c88f7979b.gif)

[2022-06-29 10:17] vladimir-krestov commented on #7329
ToolStrip:
![image](https://user-images.githubusercontent.com/49272759/176413197-a0981734-225b-43f1-83c0-07ce3ec6048a.png)

[2022-06-29 13:01] dkazennov commented on #7329
TabPage leaks when tested with Narrator:
![image](https://user-images.githubusercontent.com/102961955/176442352-4b0933fd-774b-4697-8080-b0ae5727a1c2.png)

[2022-06-29 13:17] bkoelman commented on #3780
I don't remember, it's been many years ago I wrote that application. You can find the source at https://github.com/bkoelman/DogAgilityCompetitionManagement/blob/master/src/MediatorEmulator/Program.cs and try it yourself.

[2022-06-29 17:39] merriemcgaw commented on #1953
I'm removing the a11yMAS label because this wasn't part of a test pass, and the contrast ratio should be just fine as is. If we get an official bug on it of couse we will look into it.

[2022-06-29 17:43] merriemcgaw commented on #7355
@Olina-Zhang it looks like this dialog has a horizontal scrollbar at the bottom of the form, as well as the vertical one on the side. Can you please take a look and remove that horizontal scrollbar? That's the part that we are not allowed to have. The vertical one is fine, the horizontal one is not. And I see it at the 100% scaling, so I think it may have been added to demonstrate that forms can s

[2022-06-29 17:44] merriemcgaw commented on #7354
Assigning to @Durgajyothi143 to validate and close this bug.

[2022-06-29 17:48] merriemcgaw commented on #7351
@Olina-Zhang can you show me what it looks like at 200% scaling with the resolution at 1024x768? I need to see the bottoms of the dialogs to see if they're visible in that configuration. Thanks so much!

[2022-06-29 22:39] Tanya-Solyanik commented on #6713
Intermittent failure:

https://dev.azure.com/dnceng/public/_build/results?buildId=1851676&view=ms.vss-test-web.build-test-results-tab&runId=48760536&resultId=103011&paneView=debug

System.Windows.Forms.Tests.Dpi.ToolStripItemDpiTests.ToolStripItems_FontScaling(newDpi: 192)
Error message
System.ArgumentException : dpiContext (Parameter '0')

Stack trace
   at Interop.User32.SetThreadDpiAwarenessCon

[2022-06-29 23:05] #7245 closed

[2022-06-29 23:13] dreddy-work commented on #7363
And ComboBox is set to `AutoComplete` mode.  This happen only when that property on Combobox is set.

[2022-06-29 23:18] runfoapp[bot] opened #7365 "Flaky System.Windows.Forms.Tests.Dpi.FormDpiTests.Form_DpiChanged_Bounds"
Runfo Tracking Issue: [Flaky System.Windows.Forms.Tests.Dpi.FormDpiTests.Form_DpiChanged_Bounds](https://runfo.azurewebsites.net/tracking/issue/355)
|Build|Definition|Kind|Run Name|
|---|---|---|---|

Build Result Summary
|Day Hit Count|Week Hit Count|Month Hit Count|
|---|---|---|
|0|0|0|

[2022-06-29 23:18] RussKie commented on #6713
Created https://github.com/dotnet/winforms/issues/7365.

[2022-06-30 00:11] dreddy-work opened #7366 "Expect delayed/slow response during the month of July"
Multiple members on WinForms teams will be on vacation during the month of July. Expect delayed response on the issues and PR reviews.

[2022-06-30 00:41] RussKie commented on #7341
FWIW, there was another report for `LinkLabel` truncating the content - #3780

[2022-06-30 02:24] Olina-Zhang commented on #7353
@merriemcgaw I verified this issue when the display scaling is at 200% and screen size is 1024x768, there is no scrollbar on form, and we can move mouse to see all form controls easily, please see following gif:
![200ZoomContainer](https://user-images.githubusercontent.com/26474449/176579222-ee9a147c-af4c-4c19-8f71-00b5a7222941.gif)

[2022-06-30 02:37] Olina-Zhang commented on #7351
@merriemcgaw Here is the GIf result when Windows is 200% scaling with the resolution at 1024x768, have similar result with 1366*768. Can move mouse to see all screens easily.
![200ZoomPrints](https://user-images.githubusercontent.com/26474449/176580704-7741cb2e-c9ea-4b9c-979d-ac315cb1c28e.gif)

[2022-06-30 05:44] #6603 closed

[2022-06-30 10:23] Olina-Zhang commented on #7355
@merriemcgaw  I have redesigned this form page to make the controls a little more compact to shrink the form without scrollbar displayed. And tested it at 200% scaling with the resolution at 1024x768. Can move mouse to see all screens easily:
![200ZoomCommon1](https://user-images.githubusercontent.com/26474449/176654656-da93f880-564a-41a3-9891-50e0e9dd22a9.gif)

[2022-06-30 22:41] merriemcgaw commented on #7341
We've got multiple reports of this problem with the disabled controls. I think it would be worth trying to find a fix for the issue, but it's still not the top priority on the team. We'd be more than happy to put this issue up for grabs and accept a PR from someone signficantly impacted by this issue.

[2022-06-30 22:46] merriemcgaw commented on #7355
@Olina-Zhang that looks great. Are you able to see the whole form at once when you've set the dpi scaling to 200% not just the magnifier (though magnifier can be super helpful lots of times). I think the rules they're looking for are 1280x768 at 200% dpi scaling.

[2022-06-30 23:26] merriemcgaw commented on #7351
All of our dialogs are OK if I set the window size to 1280x1024 and change the display scaling (DPI scaling) to 200%. This should be meeting the criteria. @adbhosale can you please retest all of your scaling samples at 1280x1024? That is an acceptable value and all of our dialogs look just fine then.

[2022-06-30 23:29] merriemcgaw commented on #7355
1280x1024 with a dpi scaling of 200% shows the following
<img width="437" alt="OK at 200 percent" src="https://user-images.githubusercontent.com/20996271/176794916-45270672-fa4a-4d8f-9afb-98255b6e4677.png">
:

[2022-06-30 23:30] merriemcgaw commented on #7355
@Durgajyothi143 your screen size is too small. For desktop apps we can test at 1280x10024 and 200% dpi scaling. The above snapshots is what I see when I do so. Please revalidate all scaling related issues at the new screen size.

[2022-06-30 23:36] merriemcgaw commented on #7353
@Durgajyothi143 please retest with a screen size of 1280x1024 and the scaling (DPI scaling) at 200%. This is what I show, no content is out of the view of the window.
<img width="590" alt="Containers OK" src="https://user-images.githubusercontent.com/20996271/176795543-ac153c41-fb99-469d-beed-da3472635bc6.png">

[2022-07-01 05:51] Cassie-Li01 commented on #7245
Verified on latest .NET core 7.0 build: .NET 7.0.100-preview.7.22330.8, issue is fixed. Screenshot as below:
![image](https://user-images.githubusercontent.com/96758262/176831714-08c0042c-5392-451b-8270-328a3c6ed3e6.png)
![image](https://user-images.githubusercontent.com/96758262/176831794-b4dc6ffb-849f-4be9-8db8-14baf3793a3c.png)
![image](https://user-images.githubusercontent.com/96758262/1768318

[2022-07-01 06:15] MelonWang1 commented on #7089
Verified this issue on .NET SDK 7.0.100-preview.7.22327.3, it is fixed. The XListView and XListViewItem Cases automation run passed.

[2022-07-01 07:00] Cassie-Li01 commented on #7201
Verified on latest .NET Core 7.0 build: .NET 7.0.100-preview.7.22330.8, issue is fixed. Screenshot as below, @Junjun-zhao please kindly check.
![image](https://user-images.githubusercontent.com/96758262/176840867-d7f79b4b-b563-443b-b0b1-146950ba51a5.png)
![image](https://user-images.githubusercontent.com/96758262/176840922-b99140d6-eeff-474c-837d-1a54f5428faa.png)
![image](https://user-images.gith

[2022-07-01 07:07] Junjun-zhao commented on #7201
Verified and this issue fixed on build .NET 7.0.100-preview.6.22330.5. Thanks.

[2022-07-01 08:33] giduac commented on #6680
@RussKie

The msftbot detects this as a Feature Request.
It's actually a Bug...

Cheers,

[2022-07-02 11:43] ShiiikK opened #7371 "Cant create new project without having Designer Error"
### Environment

Visual Studio 22 Version 17.2.5

### .NET version

3.1 and 5.0 and 6.0

### Did this work in a previous version of Visual Studio and/or previous .NET release?

no it only works on Winforms .net Framework.

### Issue description

After create new project i got this after loading the Designer:

[code]

### Steps to reproduce

Create new project on 3.1 or 5.0 or 6.0, all the same.

#

[2022-07-04 01:49] Cassie-Li01 commented on #7371
Hi @ShiiikK Is this issue the same as https://github.com/dotnet/winforms/issues/7270? If not, could you please attach the full verbose log? See https://aka.ms/winforms/designer/troubleshooting.

[2022-07-04 15:37] dkazennov commented on #7329
I tested the Button control in a standalone application without buttons to switch between forms (checkboxes are being used instead). It appears that if there is no buttons in the application but the tested one (closed and collected), then there will be no Button class object and Button.AccessibleObject class object in the Heap.

![image](https://user-images.githubusercontent.com/102961955/17718529

[2022-07-05 06:36] Cassie-Li01 commented on #7201
Verified on .NET 7.0.100-preview.6.22352.1 TP build, it was fixed, screenshot as above.

[2022-07-05 06:45] Ashley-Li commented on #7271
Verified this issue on .NET 7.0.100-preview.6.22352.1, issue was fixed as below screenshot.

[2022-07-05 07:46] dkazennov opened #7375 "ToolStrip class and it's accessible object are leaking in memory"
### .NET version
.NET Version: 7.0

### Issue description
ToolStrip and it's accessible object are left in memory after the ToolStrip control instance was inspected with accessibility tool (like Accessibility Insights or Inspect) and the form with ToolStrip is closed, garbage is collected, but accessibility tool is still opened.

ToolStrip.AccessibilityObject
ToolStripButton.ToolStripButtonAccessi

[2022-07-05 17:10] #7337 closed

[2022-07-05 18:09] merriemcgaw commented on #7336
We have to keep these open until @PoojaNamde closes with their verification. @poojaNamde please let us know when you're able to do this verification.

[2022-07-05 23:48] merriemcgaw commented on #7371
@ShiiikK - it looks like this is most likely not the issue @Cassie-Li01 mentions will not be a match. But making sure that you collect and share the verbose logs should give us the info we need. Another question: Is this a fresh install of VS or is it recently updated?

Thanks!

[2022-07-05 23:59] merriemcgaw commented on #7363
Let's take a look at this when we get to doing the DGV in PerMonitorV2. I think taking a holistic approach to the DGV.

[2022-07-06 00:04] merriemcgaw opened #7378 "[Epic] Complete PMv2 support for the DataGridView"
### Is your feature request related to a problem? Please describe

We need to make sure we do the full review of the DataGridView in lots of PMv2 scenarios.

### Describe the solution you'd like and alternatives you've considered

There are lots of scenarios here like:

- Row Height/Cell Height
- Font change in the ComboBox
- Incorrect positioning of the Edit control
- recreation of handle recursi

[2022-07-06 03:03] wangrd opened #9037 "can't resolve licx file with vs2022 and reuturn code -1073741819"
### Issue Description
It's not successful when I build my C# project with vs2022，bucause of the license.licx which used by a third-party component in my project. But it's ok in vs2019 or older.

### Steps to Reproduce
add a licx file in cs project and build it.

### Expected Behavior
Work well like vs2019.

### Actual Behavior
Can't compile successfuly.

### Analysis
In my mind, it may be related

[2022-07-06 08:31] Nora-Zhou01 commented on #7267
Verified on the .NET 7.0 Preview6 test pass build: 7.0.100-preview.6.22352.1, this issue is fixed that the .NET Core 3.1 VB WinForms project which created from VS can be built successfully now.
![3 1](https://user-images.githubusercontent.com/104609169/177505717-959eef27-26d5-4320-97d3-2da0aa16912e.png)

[2022-07-06 09:03] dkazennov commented on #7329
While working on the Issue I was unable to repro the memory leak in ToolStrip:
![image](https://user-images.githubusercontent.com/102961955/177513151-9c7a123e-b73b-4670-9447-04d18569acb6.png)

[2022-07-06 09:39] dkazennov commented on #7329
Retested controls - found no leaks:

- ToolStrip
- ListView
- RichTextBox
- MaskedTextBox

[2022-07-06 10:05] Philip-Wang01 commented on #7089
Verified this issue on .NET SDK 7.0.100-preview.6.22352.1, it is fixed. The XListView and XListViewItem Cases automation run passed.

[2022-07-06 10:46] dkazennov commented on #7375
Retesting during development (with ToolStripForm from main WinformsContolsTest application).

![image](https://user-images.githubusercontent.com/102961955/177533333-820ced86-9a4b-422e-b029-1c7b523147e6.png)

[2022-07-06 11:10] ShiiikK commented on #7371
Its not the same issue. Its occur directly after create a new project and i cant fix it. This happens everytime, since now 2 months. i cant work anymore with .net Core.

[2022-07-06 13:58] janseris opened #7379 "Creating a new WinForms project in .NET 6 in Version 17.3.0 Preview 2.0 breaks the designer for Form1.cs"
### Environment

Version 17.3.0 Preview 2.0

### .NET version

[code]

### Did this work in a previous version of Visual Studio and/or previous .NET release?

yes it worked in some previous VS 2022

### Issue description

Create a new project from template.
![image](https://user-images.githubusercontent.com/64279914/177567500-16e9840d-f79c-4950-83db-dac103567e3f.png)

The error says ensure that th

[2022-07-06 17:06] dmitrii-drobotov commented on #4754
After investigating this issue, I didn't find a good way to resolve it for the RichTextBox.

For the regular TextBox it works by selecting all of its text, which then determines the highlight rectangle. So one way of fixing it could be to also select all text for RichTextBox when it gets focused. But after implementing it I found that RichTextBox has a side effect of scrolling the content to the e

[2022-07-07 01:09] willibrandon opened #7381 "DoDragDrop to RichTextBox results in AccessViolationException"
### .NET version

7.0

### Did it work in .NET Framework?

Yes

### Issue description

As noted in https://github.com/dotnet/winforms/pull/6576#issuecomment-1176883278, I see an `AccessViolationException` when drag-and-dropping to the `RichTextBox` and the operation fails.  I'm not yet sure if it is related to the work done in #6576 or not.

![AccessViolationException](https://user-images.githubus

[2022-07-07 01:30] fernandanavamoya opened #7383 "Button_Anchor_ResizeOnWindowSizeWiderAsync fails intermittently"
### Test

System.Windows.Forms.UITests.ButtonTests.Button_Anchor_ResizeOnWindowSizeWiderAsync

### Issue description

Failed in Windows_x64 Release. History shows several failures over the past week.

[code]

[2022-07-07 01:36] fernandanavamoya commented on #7383
fyi: @RussKie

[2022-07-07 07:18] ghost opened #7384 "When text is saved and opened next time, center alignment fails and right alignment fails"
### .NET version

.NET Framework 4.5.2

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

[code]

### Steps to reproduce

None

[2022-07-07 09:15] PoojaNamde commented on #7336
Verified this issue in the latest environment. Issue is fixed hence closing the bug.

[2022-07-07 09:15] #7336 closed

[2022-07-07 09:16] PoojaNamde commented on #7337
Verified this issue in the latest environment. Issue is fixed hence closing the bug.

[2022-07-07 09:16] PoojaNamde commented on #7337
Verified this issue in the latest environment. Issue is fixed hence closing the bug.

[2022-07-07 09:25] Durgajyothi143 commented on #7354
@merriemcgaw
verified this issue in the latest environment. Issue is not fixed and still able to repro. Could you please provide latest with fixes available to verify the issue.

[2022-07-07 14:38] dmitrii-drobotov opened #7385 "ListView accessible objects are leaking in memory"
### .NET version

7.0 Preview 6

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

`ListView` accessible objects are left in memory after the `ListView` control instance with its items was inspected with accessibility tool (like Accessibility Insights or Inspect) and the form with `ListView` is clo

[2022-07-07 14:52] vladimir-krestov commented on #6000
@merriemcgaw, should we care about contrasts if `EnableHeadersVisualStyles` is turned off?

[2022-07-07 15:38] dmitrii-drobotov commented on #7329
I found that ListView does have a leak, if testing with Narrator or not refreshing tree in Inspect. Will be tracked in #7385.
![image](https://user-images.githubusercontent.com/102954094/177814129-3f4cb1b7-2687-4c85-94f4-a740c7818ad9.png)

[2022-07-07 21:48] merriemcgaw commented on #6000
I'm going to say no. The default is with visual styles on and that is accessible. I think we can close this issue (but good find!)

[2022-07-07 21:48] #6000 closed

[2022-07-07 21:49] merriemcgaw commented on #7354
@Durgajyothi143 - did you use the zip file that @Olina-Zhang  provided with the latest .NET 7 preview installed? Can you record a gif and show me what the issue is, because it looks above like @Olina-Zhang fixed the issue you mentioned.

[2022-07-07 21:58] merriemcgaw commented on #4754
@dmitrii-drobotov , I agree. I can't see the RTL scenarios as being critical for WinForms in particular. I'll close these two.

[2022-07-07 21:58] #4754 closed

[2022-07-08 10:49] dmitrii-drobotov opened #7387 "Narrator cannot announce the content in RichTextBox"
### .NET version

7.0 Preview 6

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

This is a regression issue (see https://github.com/dotnet/winforms/issues/3455). It does not repro in .NET 6.0.

### Issue description

Narrator should announce the content in RichTextBox.
**Expected behavior (.NET 6):**
![Screenshot 2022-07-08 123424](h

[2022-07-08 11:38] dkazennov commented on #7375
It appears that RestoreFocusMessageFilter holds ToolStrip and ToolStripAccessibleObject in memory.
![image](https://user-images.githubusercontent.com/102961955/177985012-ebc7d43b-d489-4e0d-9b94-365d4101163d.png)

[2022-07-09 06:06] willibrandon commented on #4500
I can help with removing the `RemoteExecutor` dependency in tests.

What if anything should be done with tests that depend on `RemoteExecutor` but are not skipped?

[2022-07-09 10:21] Svetoslav92 commented on #6964
Don't hurry up with that. Windows 8.1 is with extended support until January 10, 2023 and as we all know it it has IE11, Trident. Trident itself is fully working and functional in Windows 10,11 and not marked as obsolete. It makes sense to obsolete it here when Microsoft plans removing Trident ? I think this won't happen anytime soon as this will end HTA,Vbscript,Jscript and everything related. Th

[2022-07-10 09:27] 0xC0000054 opened #7390 "ErrorProvider should use the OS error icon"
### .NET version

6.0.6

### Issue description

The `ErrorProvider` uses a built-in icon resource with Windows 7 styling, this looks out of place on Windows 10/11.
Ideally it should get the default system error icon from the OS using [SHGetStockIconInfo](https://docs.microsoft.com/en-us/windows/win32/api/shellapi/nf-shellapi-shgetstockiconinfo).

The built-in `ErrorProvider` icon: ![WinForms Error

[2022-07-10 17:07] dkazennov commented on #7375
Have found a simple way to leave no accessible objects or corresponding control class objects in the Heap.

Result with the Inspect:
![image](https://user-images.githubusercontent.com/102961955/178154691-ebe15484-7910-4e1b-ba1f-bf1ba4f0328b.png)

Result with the Narrator:
![image](https://user-images.githubusercontent.com/102961955/178154708-048173af-84df-44b0-9338-e467bc91b807.png)

[2022-07-12 07:02] #4600 closed

[2022-07-12 07:15] AberHatschi opened #7575 "DataSet corrupting Form Designer Code in NET 6"
### Description

So if you create a class something like

`Public Class Test1 Inherits Control End Class`

and compile so you are able to drag this class onto your form. The designer will create these lines:
`Friend WithEvents Testcontrol1 As testcontrol`
`Me.Testcontrol1 = New ProjectName.testcontrol()`

In this case the designer recognizes ProjectName as a Namespace

However if you add now a Dat

[2022-07-12 10:02] Tanya-Solyanik opened #7394 "Replace IntPtr with nint where it's used as a win32 Handle or LParam or WParam"
### .NET version

.NET 7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

N/A

### Issue description

Dependency flow from Arcade, brought in changes in Analyzers which resulted in RS0017/16 warnings like this one:
src\System.Windows.Forms.Primitives\src\System\Windows\Forms\Message.cs#L31
src\System.Windows.Forms.Primitives\src\Sy

[2022-07-12 23:30] merriemcgaw commented on #7390
Thanks for filing this! This looks like a good first issue for someone to pick up. If we don't get to it in .NET 7 we'll plan on getting it in .NET 8.

[2022-07-12 23:30] JeremyKuhne commented on #7394
We shouldn't change our public APIs to `nint` from `IntPtr`. The question here is whether or not we care about how this shows up in the Shipped/Unshipped.txt files. I presume no? @RussKie?

[2022-07-12 23:33] merriemcgaw commented on #7384
Thanks for filing this issue. We could use more information about your scenario and what is being impacted.

[2022-07-13 16:23] vladimir-krestov commented on #4982
@NikitaSemenovAkvelon

[2022-07-13 20:11] #7387 closed

[2022-07-14 03:02] Tanya-Solyanik opened #7407 "Flaky test: Button_Anchor_ResizeOnWindowSizeTallerAsync"
### Test

System.Windows.Forms.UITests.ButtonTests.Button_Anchor_ResizeOnWindowSizeTallerAsync

### Issue description

Stack trace
   at System.Windows.Forms.UITests.ButtonTests.<Button_Anchor_ResizeOnWindowSizeTallerAsync>b__8_0(Form form, Button button) in /_/src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ButtonTests.cs:line 209
   at System.Windows.Forms.UITests.ControlTestB

[2022-07-14 04:02] #5040 closed

[2022-07-14 06:56] Tanya-Solyanik commented on #6490
@cristianosuzuki77 , @csigs  - could you please restore the .NET Framework translation?

[2022-07-14 07:47] Tanya-Solyanik commented on #7383
duplicate of https://github.com/dotnet/winforms/issues/7297

[2022-07-14 07:47] #7383 closed

[2022-07-14 08:05] #6570 closed

[2022-07-14 09:33] John-Qiao commented on #5040
@RussKie verified with the .NET 6.0.400 and latest .NET 7.0 SDK from main branch, this issue does not repro in them.
![TestResult3](https://user-images.githubusercontent.com/45864985/178951778-1ac13cbb-d0dd-46a5-a6bd-a821f0a09345.gif)

[2022-07-14 13:20] dkazennov opened #7415 "TabPage class and it's accessible object are leaking in memory"
### .NET version

.NET Version: 7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

TabPage and it's accessible object are left in memory after the ToolStrip control instance was selected with Narrator and the form with ToolStrip is closed, garbage is collected, but Narrator is still opened.

##

[2022-07-14 18:08] teo-tsirpanis commented on #7394
In .NET 7 [`nint` and `IntPtr` will refer to the exact same thing](https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-11#numeric-intptr-and-uintptr) so changing between them does not make any difference.

[2022-07-14 18:40] bartonjs commented on #4895
* The ICommandProvider interface is rather large, which gives off a feeling that it will end up growing over the next couple of releases.  Instead of a large interface the behavior should be pulled off onto a different type.
  * One possible hand-waved example here is included (changed `ICommandProvider` to `CommandControl : Control` and changed the base class of `ButtonBase`)
    * Most of the Ra

[2022-07-14 21:43] Tanya-Solyanik commented on #6610
ToolStrip_WndProc_InvokeMouseActivateWithHandle_Success does not show among failures in https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E14+definition%3A267. Thus closing

[2022-07-14 21:50] #7025 closed

[2022-07-14 22:19] Tanya-Solyanik commented on #6610
Never mind, they don't show up in the stats because they are disabled.

[2022-07-15 09:53] NikitaSemenovAkvelon commented on #3678
The border doesn't draws  because message WM.PAINT (0x000F) doesn't pushes for this control when "Tab" pressed. For other controls this message triggers drawing of borders. Moreover, I've tried call default Wm Paint method from another message's handle and it causes an exception. It looks like drawing of borders for PrintPreviewControl never have been supported.

[2022-07-15 14:25] Durgajyothi143 commented on #7355
Verified the bug as per above comment issue is not reproducing. Hence closing the bug
![Screenshot (43)](https://user-images.githubusercontent.com/108055767/179243497-675b730a-a9a0-4c12-a9ad-14ce28879f57.png)

[2022-07-15 14:25] #7355 closed

[2022-07-15 14:29] Durgajyothi143 commented on #7353
Verified the bug as per above comment issue is not reproducing. Hence closing the bug
![Presentation1](https://user-images.githubusercontent.com/108055767/179244092-23b8d9e0-ee49-4e5c-a08c-bdcb35b1ae14.gif)

[2022-07-15 14:29] #7353 closed

[2022-07-15 14:59] adbhosale commented on #7351
Verified the bug as per above comment issue is not reproducing. Hence closing the bug
![Fixed](https://user-images.githubusercontent.com/93637360/179249834-4198112c-ba0f-4630-80a5-3836da754438.png)

[2022-07-15 14:59] #7351 closed

[2022-07-15 16:29] tracktownsoftware opened #7424 "Scenario where DesignMode is false from the NET WinForms OOP designer"

[2022-07-15 16:42] dkazennov commented on #7375
Retested the fix:
![image](https://user-images.githubusercontent.com/102961955/179269085-874c45ad-7738-4082-99e5-760459ad1eb5.png)
Inconsistent with CIT. Requested retest on more time.

[2022-07-15 17:29] merriemcgaw commented on #7354
@Olina-Zhang can your team please take a look at the video provided and make sure that we've got the correct focus order in the sample again? It looks like we may have missed something. Thanks!

[2022-07-15 17:55] merriemcgaw commented on #7384
@kelicto I'd like to understand more about your specific scenario, and whether you're blocked (and whether this is a regression for you). This will enable me to prioritize accordingly. Though I do note that you are referring to .NET Framework, and there is a different process to getting bugs fixed there because it is part of the Windows OS we're concerned about unintended regressions. Only high pr

[2022-07-15 22:58] runfoapp[bot] opened #7427 "listviewitemkeyboardtooltip_invokeishoveredwithmouse_returnsexpected"
Runfo Tracking Issue: [listviewitemkeyboardtooltip_invokeishoveredwithmouse_returnsexpected](https://runfo.azurewebsites.net/tracking/issue/376)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[1882774](https://dev.azure.com/dnceng/public/_build/results?buildId=1882774)|[dotnet-winforms CI](https://dnceng.visualstudio.com/public/_build?definitionId=267)|[PR 7421](https://github.com/dotnet/winf

[2022-07-15 22:58] runfoapp[bot] opened #7428 "listviewitemkeyboardtooltip_invokeishoveredwithmouse_returnsexpected"
Runfo Creating Tracking Issue (data being generated)

[2022-07-15 23:00] Tanya-Solyanik commented on #7428
Note: this is a theory, maybe only some inputs are flaky?

[2022-07-17 00:48] jnm2 opened #7432 "WFAC010 build warning directly contradicts WPF guidance (WPF and WinForms can be used together)"
### .NET version

6.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

No issue template seems well-placed to receive feedback on build-time analyzers.

This warning appears when you use Windows Forms in a WPF application:

However, WPF guidance instructs you to place these settings in app.manife

[2022-07-17 12:24] kirsan31 commented on #6858
I've looked at `ResXResourceWriter` and `ResXResourceReader` and I think we can leave them as is. They are most using in designer and If used by the user, he _must_ call dispose any way.
What do you think?

[2022-07-17 16:24] kirsan31 commented on #6987
The problem happens due to the fact that we first show the tooltip, and then show the dropdown, which will overlap the tooltip.

[2022-07-18 07:24] Olina-Zhang commented on #7354
@Durgajyothi143 The app you used is not the updated one, could you please use the above AppExE.zip I attached to test again?

[2022-07-18 07:26] Olina-Zhang commented on #7354
I provided AppExE.zip this time @Durgajyothi143

[2022-07-18 08:28] RussKie commented on #7394
Since `nint`/`nuint` are aliases I see no issues updating our APIs to match. Also I don't necessarily think the changes need to be recorded as "unshipped" since we aren't technically changing the meaning.

[2022-07-18 08:36] RussKie commented on #4500
That'd be great!

We use/tried to use `RemoteExecutor` for situations where we need change the global state (e.g., disable visual styles, control the clipboard, the mouse or the keyboard, etc.). Because unit tests are run in parallel any changes to the global state destabilises the whole suite.
So one way of resolution is to migrate the RE-dependent tests to the UIIntegration test project that exe

[2022-07-18 08:42] Olina-Zhang commented on #7428
@Tanya-Solyanik  this is a tracking issue in runfo, why I don't see this test failure in PR https://github.com/dotnet/winforms/pull/7421's  Tests Summary in here: https://dev.azure.com/dnceng/public/_build/results?buildId=1886820&view=ms.vss-test-web.build-test-results-tab? And I checked in here: https://dev.azure.com/dnceng/public/_test/analytics?definitionId=267&contextType=build by this test, t

[2022-07-18 08:58] Olina-Zhang commented on #7427
Dup of GH issue: https://github.com/dotnet/winforms/issues/7428?

[2022-07-18 18:26] dreddy-work commented on #7366
Team is back and respond on Issues/PRs regularly.

[2022-07-18 18:26] #7366 closed

[2022-07-19 01:29] elachlan opened #7445 "Start using CsWin32"
### Is your feature request related to a problem? Please describe

This issue is to be used to help centralize information around the change to implement [CsWin32](https://github.com/microsoft/CsWin32).

**Blockers:**
~~https://github.com/microsoft/CsWin32/issues/639~~
~~https://github.com/microsoft/CsWin32/issues/605~~
https://github.com/microsoft/CsWin32/issues/600
https://github.com/microsoft/C

[2022-07-19 01:40] elachlan commented on #7445
@JeremyKuhne I have created an issue here to help centralize issues/information around CSWin32.

Before anything gets too deep, the Winforms team should decide on how they want to split up the NativeMethods.txt file.

[2022-07-19 02:21] JeremyKuhne commented on #7445
Not sure how we'd want to split this up in ways that make sense given everything going to one class. Any ideas are certainly welcome.

Note that this is currently a prototype effort targeting .NET 8. We have an intern working on this (@fernandanavamoya) with support from myself and our returning @lonitra.

[2022-07-19 03:22] elachlan commented on #7445
I have asked the CsWin32 team about the `NativeMethods.txt` in https://github.com/microsoft/CsWin32/issues/606.

AFAIK, each `NativeMethods.txt` file needs to be in its own folder and added to additionalfiles. So in the context of winforms, we can place a `NativeMethods.txt` in each library sub folder. That way each library has its own `NativeMethods.txt`.

Another way is have a single file, but a

[2022-07-19 04:16] #6987 closed

[2022-07-19 04:18] RussKie commented on #7427
Yes, a dup. Thank you

[2022-07-19 04:18] #7427 closed

[2022-07-19 04:20] RussKie commented on #7428
@Olina-Zhang there were [several build runs](https://dev.azure.com/dnceng/public/_build/results?buildId=1882774&view=logs&j=99876fdd-e453-527d-d65e-c0a1f9b00909), and one of those failed:
![image](https://user-images.githubusercontent.com/4403806/179663830-00dd9184-de77-4f1f-88a8-7eade9fc4749.png)

[2022-07-19 04:25] RussKie commented on #4500
Here's some context https://github.com/dotnet/winforms/issues/2192#issuecomment-624111538

[2022-07-19 04:56] elachlan commented on #7445
@JeremyKuhne do you want all the generated code in one file? If not, you can use the following in NativeMethods.json
[code]

[2022-07-19 05:46] RussKie commented on #7445
_Personal opinion_: I like how we have separation per containing dll (i.e., Interop.User32, Interop.Gdi32, etc). It'd be great to retain the separation if possible, e.g., /User32/NativeMethods.txt, /Gdi32/NativeMethods.txt, /Kernel32/NativeMethods.txt, etc.

[2022-07-19 05:46] RussKie commented on #7445
👍

[2022-07-19 05:48] elachlan commented on #7445
I'll proceed on this basis. It seems easier to deal with.

[2022-07-19 06:10] dkazennov commented on #7415
With the Narrator there are only two leaks.
![image](https://user-images.githubusercontent.com/102961955/179677786-89b6722e-d0b2-4fa9-897b-5b3a12824343.png)

[2022-07-19 08:42] dkazennov commented on #7415
Fix result with Inspect and Narrator:
![image](https://user-images.githubusercontent.com/102961955/179707383-55e03da5-5c37-4b0c-844f-d802e4979f0b.png)

[2022-07-19 09:14] NikitaSemenovAkvelon commented on #2907
In progress

[2022-07-19 09:14] NikitaSemenovAkvelon commented on #6708
In progress

[2022-07-19 09:52] Durgajyothi143 commented on #7354
@Olina-Zhang
I have dwonloaded the zip file which u have provided but in this which file i have to open
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/108055767/179722122-fde1689b-cb98-456f-a0e0-0cc7753e65d9.png)

[2022-07-19 10:08] RussKie commented on #4304
Can you please file a new issue with a sample repro and as much info as possible. Thank you.

It is coming, but our timeline has sadly stretched beyond our expectations. Apologies.

[2022-07-19 10:16] RussKie commented on #6680
Since this is a behaviour that exists in .NET FRamework, we can almost consider it a _feature_. And some users may have come to rely on this behaviour or may have put some workarounds.
Because this an existing behaviour, and it only affects a small number of users (which sadly includes you), this issue has a low priority for the team, and we very unlikely to work on it. However, we will consider a

[2022-07-19 11:26] NikitaSemenovAkvelon commented on #5876
It looks like the bug has been fixed already.
1) Sunken (all cells have contrast borders):
![image](https://user-images.githubusercontent.com/109065597/179736718-b62222da-8356-479d-bae6-5657ff9c2444.png)
2) Raised (like in previous case all cells have contrast borders):
![image](https://user-images.githubusercontent.com/109065597/179737249-d0105237-7547-43f5-a092-244a126e479d.png)
3) Single (all b

[2022-07-19 12:28] NikitaSemenovAkvelon commented on #7261
In progress

[2022-07-19 12:37] NikitaSemenovAkvelon commented on #5752
It works correctly if I don't misunderstand a problem. Ctrl+Tab shortcut moves focus to next ToolStrip and with Shift moves to previous one.
![jRBHLJ132Q](https://user-images.githubusercontent.com/109065597/179750850-4938a389-0604-4a72-b0d2-907a41f2d903.gif)

@Olina-Zhang could you test it, please?
@dreddy-work, @merriemcgaw what do you think if we close this issue as not reproducing?

[2022-07-19 16:41] dreddy-work commented on #5752
@NikitaSemenovAkvelon , did you hit same code path that was in the comment here ?

[2022-07-19 17:37] merriemcgaw commented on #5752
@Tanya-Solyanik what are your thoughts on this one? The behavior looks reasonable to me but I don't have a full understanding of what you were trying to get done in the original comment.

[2022-07-19 17:38] merriemcgaw commented on #5876
I do think we should close this if it doesn't repro. I don't think it's a scenario that is all that common with the giant dividers, so if we're good with a fairly "normal" DGV I think we should close it.

[2022-07-19 19:36] Tanya-Solyanik commented on #5752
@merriemcgaw - in office ribbon Ctrl+Tab moves focus to the next item in the current toolstrip, not to the next toolsstrip.

[2022-07-19 21:53] willibrandon commented on #4500
I have a stash with` RemoteExecutor` removed and if I recall correctly, there were at least 1 if not more problem tests that when un-skipped, caused other tests to fail. I'll bring myself back up to speed, migrate the RE-dependent tests to the UIIntegration test project, and check the results. Thank you for the context and resolution strategy.

That is good to know that the UIIntegration test proj

[2022-07-19 22:03] elachlan commented on #7445
So @AArnott suggests we keep a centralized NativeMethods.txt and not split it up. The splitting up was designed for shared project scenarios. Which makes sense.

I will adjust my PR to move it back to the main NativeMethods.txt as this will allow better management.

[2022-07-19 23:13] elachlan commented on #7445
I compiled the project with the whole list of methods I put together, without any code changes. I get 4 of these warnings:
 `warning PInvoke005: This API is only available when targeting a specific CPU architecture. AnyCPU cannot generate this API.`

The Associated APIs:
- `GetClassLongPtrW`
- `GetWindowLongPtrW`
- `SetClassLongPtrW`
- `SetWindowLongPtrW`

I believe in these cases, we have just ch

[2022-07-19 23:29] RussKie commented on #4500
We can do this in a staggered fashion - i.e., open a PR that fixes one or two tests, then fix another, etc., until all fixed.

[2022-07-19 23:33] RussKie commented on #4500
@willibrandon I'm assigning this to you. Please holler if you won't be able to work on it.

[2022-07-19 23:45] JeremyKuhne commented on #7445
@elachlan I appreciate that you want to help here and do want your help, but I'd ask that you hold off for a week or so while we get things spun up on our end. I'll ping you when we're ready if that is ok.

[2022-07-19 23:49] elachlan commented on #7445
Not a problem. I have been mostly probing for issues at this stage. So hopefully that helps in establishing everything. I will hold off on any additional work for now.

[2022-07-20 00:05] #2907 closed

[2022-07-20 01:44] Olina-Zhang commented on #7354
@Durgajyothi143 that ExE is an executable file, could you please double-click it to run in file explorer?

[2022-07-20 05:56] elachlan commented on #7445
Here is a link to a discussion around the the 32bit/64bit based APIs.
https://github.com/microsoft/CsWin32/discussions/592
https://github.com/microsoft/CsWin32/issues/528

[2022-07-20 06:53] Olina-Zhang commented on #5752
@NikitaSemenovAkvelon I have the same testing result as you. And Tanya has given the comment: when `TabStop` is false, `Ctrl+Tab `should move button focus forward **inside** ToolStrip, instead of between ToolStrips.

[2022-07-20 07:00] RussKie commented on #7445
@AArnott if I read it correctly, the CsWin32 guideline is to commit to a specific bitness, which may work for a end-user app but doesn't work for for an SDK (our case). Windows Forms and WPF binaries are compiles as AnyCPU and flow through to Windows Desktop, where they get cross-compiled for the target bitness.

We also have  situations where struct packing is different between bitness, e.g.:
htt

[2022-07-20 13:01] dkazennov commented on #4690
I'll take Common.Case1

[2022-07-20 20:05] Tanya-Solyanik opened #7464 "Enable IL2057;IL2062;IL2096 warnings"
### .NET version

https://github.com/dotnet/winforms/pull/7376/commits/7006bb4884df1d762ba2feb0da14a7824611c1ca suppressed trimmable warnings to enable dependency flow. These warnings should be further investigated.

Suggestions from Jeremy and Vitek:
1. Annotate types that are serialized into resx. Introduce a build-time/design-time tool that that parses resx and generates list of types that shou

[2022-07-20 21:02] vitek-karas commented on #7464
Not all scenarios must support trimming. I think it's very reasonable to not support trimming in designer scenarios. Trimming is applied during publish - designers typically don't act on published apps (at least as far as I understand their behavior).

It's possible to add `DynamicallyAccessedMembers` attribute onto a `string` parameter - in that case it's understood as a type name. So the trimmer

[2022-07-20 21:07] #6708 closed

[2022-07-20 21:16] Tanya-Solyanik commented on #3678
@NikitaSemenovAkvelon  - the border should not be drawn because print preview control is not editable, it does not process keyboard focus.

[2022-07-20 21:23] AArnott commented on #7445
@elachlan  The default is _not_ one file, so you don't need this setting to turn it off. Only to opt _in_ to single file generation.

@elachlan This has come up [a few times](https://github.com/microsoft/CsWin32/issues?q=is%3Aissue+pinvoke005+is%3Aclosed). I would recommend that WinForms actually target specific CPU architectures, at least for its runtime assemblies. That will give it access to th

[2022-07-20 21:24] lonitra opened #7468 "[Tracking] CsWin32 API Change/Add Requests"
In the effort to start using CsWin32 (#7445), there may be APIs we'd like changed or added in cswin32 due to missing typedefs, conveniency, etc. This is a tracking issue to help keep a list of these adds/changes we would like.

- `CombineRgn` method missing `RegionType` return type (https://github.com/microsoft/win32metadata/issues/1024)
- `RECT` (https://github.com/microsoft/CsWin32/issues/626)

[2022-07-21 01:19] lonitra opened #7471 "ToolStripTextBoxControlAccessibleObject_Default_Role_IsExpected Failure"
### Test

System.Windows.Forms.Tests.ToolStripTextBox_ToolStripTextBoxControlAccessibleObjectTests.ToolStripTextBoxControlAccessibleObject_Default_Role_IsExpected(createControl: True, expectedRole: Text)

### Issue description

[code]

[2022-07-21 02:36] RussKie commented on #7471
We track repeated test failures with [Runfo app](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E14+definition%3A267+kind%3Arolling#build), which automatically updates the tracking issues (e.g., https://github.com/dotnet/winforms/issues/7365).

[2022-07-21 02:47] RussKie commented on #7445
We don't package or release directly, and our binaries follow an established flow through several layers (dotnet/winforms->dotnet/wpf->dotnet/windowsdesktop->...). So we can't target specific bitness, as it would require us to completely reengineer **all** our build, test, packaging and release pipelines. This is simply unattainable.

[2022-07-21 02:55] RussKie commented on #3678
There are several ways to test local changes. One is with the WinformsControlTest project, and it works for the majority of test cases. Another is to copy the test bianries to the global SDK as described in https://github.com/dotnet/winforms/blob/main/docs/debugging.md.
@NikitaSemenovAkvelon feel free to ping me directly, if you have any questions.

[2022-07-21 03:58] #7346 closed

[2022-07-21 04:15] AArnott commented on #7445
Ok. Then you'll have to keep the arch-specific APIs hand-authored.

[2022-07-21 08:00] NikitaSemenovAkvelon commented on #5876
The same ratio by a default style of DataGridView.
![image](https://user-images.githubusercontent.com/109065597/180161565-7867bbee-e789-4b25-a454-eddda4003d57.png)

[2022-07-21 09:49] Durgajyothi143 commented on #7354
@Olina-Zhang
When we are trying to run "Accessibility_Core_App.exe" we are getting below error but when we try to install the version mentioned for .NET we are getting version 7.0.0-preview.6.22330.3, so could you please help us to resolve this issue

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/108055767/180184473-fb6c95a2-3cef-427a-bd8a-0572baefe580.png)

[2022-07-21 17:01] KlausLoeffelmann commented on #4895
**Challenges we face when we put this under _Preview_ by attributing respective new APIs with `RequiresPreviewFeature` (which is not part of the actual API review discussion, I only state it here for completeness)**:

`Button`'s new `Command` property will most probably be used in binding scenarios. And here is the problem with that: WinForms currently binds via reflection; property names are pass

[2022-07-21 19:02] terrajobst commented on #4895
* We'd prefer not having the classes `CommandComponent` and `CommandControl`
    - Instead just follow the WinForms model of having a naming convention
* We still need `BindableComponent` because `Component` is lower than WinForms (where `IBindableComponent` lives).
* We'd like the designer to mark the generated `InitializeComponent` with `[RequiresPreviewFeatures(Url = "<placeholder>")]` when the

[2022-07-22 01:55] Olina-Zhang commented on #7354
@Durgajyothi143 The issue you met is caused by .Net 7.0 version on your system is lower than that "Accessibility_Core_App.exe" app was built. Please install the higher .Net 7.0 version from: https://github.com/dotnet/installer to test.
![image](https://user-images.githubusercontent.com/26474449/180345300-60dc3175-8a73-40fa-b0a6-b7dfcbb22ce3.png)

[2022-07-22 03:10] John-Qiao commented on #7387
Verified with 7.0.100-rc.1.22371.5 from main branch, this issue has been fixed that Narrator announces the content in RichTextBox now.
![TestResult1](https://user-images.githubusercontent.com/45864985/180354587-a0e4fb9b-954f-4ff4-9a05-60afe582e6b8.png)

[2022-07-22 06:00] NikitaSemenovAkvelon commented on #5752
I've completed a small research about behavior of tabbing in few apps. There are some differences:
1) **Office**:
![ezgif-2-c7d72a6d53](https://user-images.githubusercontent.com/109065597/180189171-9addfb22-c771-4e3e-97a0-b1f29151c04b.gif)
![image](https://user-images.githubusercontent.com/109065597/180189277-a112962a-b1e5-4afa-94e2-8ad4835e6fe3.png)
Behavior of `tab` doesn't depend on `ctrl` modi

[2022-07-22 07:42] Amy-Li03 commented on #7245
Verified on .NET 7.0 test pass build: .NET 7.0.100-preview.7.22370.3, issue was fixed.

[2022-07-22 08:01] MandiMan commented on #6987
Verified with 7.0.100-rc.1.22371.5 from main branch, this issue has been fixed that the tips are visible. Gif as below:
![issue6987](https://user-images.githubusercontent.com/108860782/180392425-ca8e9e6a-8d7a-4a19-ab00-302938be6f33.gif)

[2022-07-22 10:04] tbolon commented on #4895
I know it will certainly not be feasible, but is the string is replaced with a `nameof()` instruction, could this problem be solved?

[code]

[2022-07-22 11:10] v-mholloway commented on #6490
@VinoWang01 can you provide an english screen shot for context...?

[2022-07-22 11:27] kelicto commented on #7384
Sorry about that, this task queue is lagging behind in priority, it's not hard to reproduce, I'll provide everything I need when I'm done taking time.

[2022-07-22 17:54] dmitrii-drobotov opened #7481 "Narrator announces incorrect content of ListViewSubItem after column is removed from a ListView"
### .NET version

7.0 RC1

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

After column is removed from a ListView, Narrator announces content of the subitem that was on the focused cell before column removal.

### Actual behavior:
After column removal, Narrator announces "Item 1", Sub 1, Sub 2" while the

[2022-07-22 20:33] merriemcgaw commented on #7384
@kelicto - no worries at all. If you're able to help us with a scenario and repro, we will make an effort to see it's fixed in .NET 7. Note however that we aren't able to commit to a fix in the .NET Framework given the super high servicing bar for it.

[2022-07-22 20:36] merriemcgaw commented on #5752
It looks OK to me too. @Tanya-Solyanik, given that these are ToolStrips rather than Ribbons, my thought is that we should be closer to the behavior in VS. What are your thoughts?

[2022-07-23 01:16] Tanya-Solyanik commented on #5752
@NikitaSemenovAkvelon, @merriemcgaw , @Olina-Zhang  -
Well, Office is the standard in accessibility. VS usage is miniscule compared to office's 😄 . So I would rather copy Office's experience. But this issue overall is a minor one because the user is not stuck within the control either way, there is always a way to exit it.  And I can see than Ctrl+Tab is a convenience when user wants to skip the t

[2022-07-23 06:16] elachlan commented on #7379
Duplicate of https://github.com/dotnet/winforms/issues/7371?

[2022-07-23 09:43] vladimir-krestov commented on #5876
@merriemcgaw, @dreddy-work, so may we close this now?

[2022-07-23 13:28] janseris opened #7484 "Properties search bar does not appear in .NET Core"
### Environment

VS 2022 17.2.6

### .NET version

.NET Framework 4.7.2, .NET 6

### Did this work in a previous version of Visual Studio and/or previous .NET release?

.NET Framework

### Issue description

Search bar in properties does not show in WinForms controls.
It takes a very long time to scroll for the right property in Controls with a lot of properties instead of searching which is fast.

[2022-07-23 13:31] janseris commented on #7379
@elachlan not sure because it works in VS 2022 17.2.6, I just wanted to report it for the Preview version so that the error does not make it into 17.3.0

[2022-07-23 22:09] janseris opened #7485 "Text size calculation is wrong using Graphics and GraphicsPath"
### .NET version

.NET Framework 4.7.2

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

probably all

### Issue description

What was my initial goal:
- create a rectangle which by resizing, fits text into itself
- this rectangle should show the bounds of the text and the text should fit tightly into the rectangle

This seems like an

[2022-07-24 21:49] #7261 closed

[2022-07-24 23:17] RussKie commented on #7379
Could you please provide the diagnostic information as described in https://aka.ms/winforms/designer/troubleshooting

[2022-07-24 23:20] RussKie commented on #4895
This (and many other improvements) will be possible once the designer code DOM generation is migrated to the Roslyn engine. This is work in progress, but no definite timelines.

[2022-07-25 01:35] kelicto commented on #7017
The language pack does not contain corresponding resources.

[2022-07-25 01:48] Cassie-Li01 commented on #6490
Hi @v-mholloway The ENU screenshot as below, please kindly check:
![image](https://user-images.githubusercontent.com/96758262/180677171-3909d571-0e60-4ebd-a79c-1b69d8e887fe.png)

[2022-07-25 02:03] Olina-Zhang commented on #5884
@willibrandon Is this work completed? Since we saw the related PR is merged and tested it in the latest .Net 7.0 build.

[2022-07-25 06:58] RussKie commented on #5884
Yes, @Olina-Zhang, this has been resolved by #6576.
Thank you for the nudge.

[2022-07-25 06:58] #5884 closed

[2022-07-25 07:05] janseris commented on #7379
@RussKie hi no because this is perfectly reproducible. Might be fixed in current preview though. I can't use a preview version now and this is not a priority problem for me because I can work in regular VS. I just wanted to let you know

[2022-07-25 07:45] RussKie commented on #7379
If it's "perfectly reproducible" why are you unable to share the diagnostics?
I can't repro the issue.

[2022-07-25 08:14] janseris commented on #7379
@RussKie
as I wrote I don't have that version installed anymore because it's been 14+ days

[2022-07-25 08:32] NikitaSemenovAkvelon commented on #6238
In progress

[2022-07-25 09:45] MelonWang1 commented on #7336
Verified on .NET 7.0.100-preview.7.22370.3 TP build, issue is fixed, screenshot as below:
![7336](https://user-images.githubusercontent.com/94418985/180748393-01a3f4ef-bf9a-4063-ade3-eef0deb1cb1f.gif)

[2022-07-25 10:15] Amy-Li03 opened #7492 "[Accessibility] SubItems displayed incorrectly in Inspect or AccessibilityInsights after a column is removed from the ListView."
### .NET version

.NET SDK 7.0.100-preview.7.22370.3

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

1. This issue doesn't repro on .NET Core 3.1.
2. The subItems doesn't display in Inspect in .NET 5.0.
3. This issue all can reproduced on .NET 6.0 & 7.0.

### Issue description

The SubItems displayed incorrectly in Inspect and Acce

[2022-07-25 22:38] merriemcgaw commented on #5876
Yup

[2022-07-25 22:38] #5876 closed

[2022-07-25 22:41] merriemcgaw commented on #5752
The behavior of Tabbing through ToolStripContainers has always been a mystery to me 😆. I think we're in an OK place here, and that we've got better places to invest our time in 😉 . Until we find out that the current behavior is a MAS violation, I think we can close this issue.

[2022-07-25 22:41] #5752 closed

[2022-07-26 01:54] RussKie commented on #6948
Closing to due to age.

[2022-07-26 01:54] #6948 closed

[2022-07-26 07:08] MandiMan commented on #7337
Verified on .NET 7.0.100-preview.7.22370.3 TP build, issue is fixed, screenshot as below:
![issue7359](https://user-images.githubusercontent.com/108860782/180945038-5a8493bf-4f02-46c7-9b52-6eb4dcd2f8ee.gif)

[2022-07-26 07:14] Olina-Zhang commented on #5884
Verified on .NET 7.0 test pass build: .NET 7.0.100-preview.7.22370.3, issue was fixed: it supports dragging and dropping pictures and RTF files now.

[2022-07-26 07:56] Philip-Wang01 commented on #6603
Verified on .NET 7.0 test pass build: .NET 7.0.100-preview.7.22370.3, issue was fixed,

Default Control.Name:
![image](https://user-images.githubusercontent.com/86937911/180953095-31ea61ce-d418-4cd2-ae02-debdb14fb4b3.png)
Null:
![image](https://user-images.githubusercontent.com/86937911/180953136-046807f4-0abb-4315-92b9-8e6ef422a13d.png)
String.Empty:
![image](https://user-images.githubusercontent

[2022-07-26 08:58] RussKie commented on #7379
Without additional diagnostics there's nothing we can do further. If you see this issue occur again please ping here or raise a new issue.
Thanks.

[2022-07-26 08:58] #7379 closed

[2022-07-26 09:07] dmitrii-drobotov commented on #7492
This looks to be related to https://github.com/dotnet/winforms/issues/7481

[2022-07-26 09:26] Durgajyothi143 commented on #7354
@Olina-Zhang
The mention version is not available in the link you have mentioned.
![Screenshot (50)](https://user-images.githubusercontent.com/108055767/180972900-a03194cf-683b-4130-abf5-385ee84fa7a5.png)

[2022-07-26 21:23] Tanya-Solyanik commented on #6603
Thank you @Philip-Wang01! This was a big chunk of work!

[2022-07-27 00:19] #4883 closed

[2022-07-27 00:22] #7390 closed

[2022-07-27 00:33] merriemcgaw commented on #7371
@ShiiikK in order for us to be able to diagnose your issue we need you to follow the instructions in the troubleshooting guide at https://aka.ms/winforms/designer/troubleshooting. Once you provide us with those details we would be happy to dig in and help you solve this issue.

[2022-07-27 00:37] Tanya-Solyanik commented on #7484
@janseris - I'm not getting the search bar in properties in  .NET Framework project either. Is a 3rd party extension displaying this search bar?

[2022-07-27 01:03] #7358 closed

[2022-07-27 06:13] #7385 closed

[2022-07-27 07:57] janseris commented on #7484
@Tanya-Solyanik hi no I do not have any extensions which would add this.

[2022-07-27 08:38] RussKie commented on #7484
@janseris your screenshot clearly shows you are using DevExpress controls. The standard property browser never had the filtering capabilities you're referring to AFAIK.

[2022-07-27 08:44] janseris commented on #7484
@RussKie this is why went into this again and this time I am showing TableLayoutPanel which is 0 % devexpress.
I am trying to test on a machine where I don't have devexpress installed at all to tell if the extension itself adds search to all controls including original Winforms controls

[2022-07-27 09:47] janseris commented on #7484
@Tanya-Solyanik @RussKie
Thank you for checking this. I have tested it in VS where DevExpress is not installed on version 17.0.4 and 17.2.6 and none had the search bar in .NET Framework project. I will be solving it with DevExpress.
Thank you for your time

[2022-07-27 10:02] janseris commented on #7485
@JeremyKuhne
Having played with this a lot, I noticed that the offset of the GraphicsPath containing string is probably caused by the fact that for different string content, a different offset is generated because different symbols are sized differently and might reach the max value which is that offset of the GraphicsPath bounding rectangle from the original point would be 0. I have not tested th

[2022-07-27 11:02] RussKie commented on #7484
👍

Yes, this looks like a nice to have feature. Realistically with the current workload we're unlikely to add anything like this in near future, but we'll certainly keep it in mind.

[2022-07-27 14:24] dmitrii-drobotov opened #7504 "Replacing a TreeNode by index in a TreeView adds a blank space below node"
### .NET version

7.0.100-preview.5.22307.18

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

When setting a new `TreeNode` by index in `TreeNodeCollection`, the old node seems to be not completely removed, leaving a blank space. It also creates an issue from accessibility side, because focusing on this bla

[2022-07-27 15:33] SalmanTahir7 commented on #3691
Any News 4?

[2022-07-27 15:36] AzAgarampur commented on #3691
I believe the only option we have is to wait for a windows update to be pushed out that updates the dwm to composite child windows. I don't think winforms itself can fix this.

~~unless winforms decides to completely owner draw child windows but that's more of a headache than anything~~. Also that doesn't solve the core problem either.

[2022-07-27 20:42] merriemcgaw commented on #7354
You can find it on this link @Durgajyothi143
https://github.com/dotnet/installer#table

Preview 7 should be out soon but the latest builds are in the table I linked.

[2022-07-28 09:21] vladimir-krestov opened #7506 "Rework unit test infra for keyboard keypress simulations"
### .NET version

- .NET 7

### Issue description

- Fix review points of #7489
- Needs to rework some unit tests to use a standard test helped of key press events

[2022-07-28 10:57] janseris commented on #7484
@RussKie
 Hi according to Devexpress (https://supportcenter.devexpress.com/ticket/details/t1105258/designer-properties-search-bar-does-not-show-in-net-core) this feature is not available and cannot be because the required API is missing in. NET Core WinForms designer. Then we are moving back here.

[2022-07-28 23:51] RussKie commented on #7484
DevExpress team can raise the issue directly to us and let us know what API they require to facilitate this functionality. There is nothing we can do here.

[2022-07-28 23:51] #7484 closed

[2022-07-29 02:40] Cassie-Li01 commented on #7385
Verified on latest .NET 7 build .NET 7.0.100-rc.1.22378.6, issue is fixed, screenshot as below:
Inspect:
![image](https://user-images.githubusercontent.com/96758262/181669194-592472b3-9e46-45e9-8d36-8a172a9efaed.png)
Accessibility Insight
![image](https://user-images.githubusercontent.com/96758262/181669867-4d476bad-228d-4977-a3ec-21777868df5a.png)
Narrator:
![image](https://user-images.githubuser

[2022-07-29 03:10] John-Qiao commented on #7261
Verified with 7.0.100-rc.1.22378.6 from main branch, this issue has been fixed that it shows the AutomationPropertyChanged or Text_TextChanged event each time the control text changes, please check below screenshots:

![1](https://user-images.githubusercontent.com/45864985/181674924-dd9d0c9c-a46d-494c-b47c-e3b8600a07cb.png)
![2](https://user-images.githubusercontent.com/45864985/181674931-73f09a41

[2022-07-29 06:08] Amy-Li03 commented on #6708
Verified this issue with .NET 7.0 latest build: 7.0.100-preview.7.22370.3, issue was fixed. ListView.GroupCollapsedStateChanged can fire correct GroupIndex.
![Fixed](https://user-images.githubusercontent.com/62929087/181693873-7637875d-3a04-492f-b1b4-66475833967d.gif)

[2022-07-29 06:31] MandiMan commented on #6987
Verified on latest .NET 7 build .NET 7.0.100-rc.1.22378.6, this issue has been fixed that the tips are visible. Gif as below:
![issue6987](https://user-images.githubusercontent.com/108860782/181697253-9287f969-8b32-4eb9-8469-87cc8abe296e.gif)

[2022-07-29 06:53] Ashley-Li commented on #7346
Verified on latest .NET 7 build .NET 7.0.100-rc.1.22378.6, issue is fixed, screenshot as below:
![image](https://user-images.githubusercontent.com/56664234/181700736-52ee7b03-38b6-4c14-951d-50c6fa4a1f26.png)

[2022-07-29 08:07] NikitaSemenovAkvelon commented on #6238
I found a bad commit that broke the behavior of announcing in NET 5. But currently, behavior looks the same as in NET5 before the bad commit.
![wxxDvfVUVt](https://user-images.githubusercontent.com/109065597/181711932-b51e7110-b2f7-4fa5-abaa-d739d07842c1.gif)

[2022-07-29 09:04] Nora-Zhou01 commented on #7390
Verified on latest .NET 7 build .NET 7.0.100-rc.1.22378.6, issue is fixed, screenshot as below:
![1111](https://user-images.githubusercontent.com/104609169/181724909-be5d9233-77ca-44f0-8d19-f9e228c784b1.png)

[2022-07-29 10:53] NikitaSemenovAkvelon commented on #5234
Order in Inspect depends on the order in that controls were added to a Form/Control Collection. Suddenly, they were added in the revert direction (e.g. control3, control 2, control 1) and it is a general practice. @vladimir-krestov, @RussKie do you know for what it was done?
So, I can correct the order of adding controls to fix the order in Inspect, but I don't how it may affect other behavior.

[2022-07-29 11:38] NikitaSemenovAkvelon commented on #6699
It seems correct, the event was raised on collapsing/expanding. And it works both ways via a mouse or a keyboard.
![4Qc0AUcrMn](https://user-images.githubusercontent.com/109065597/181750222-5a23074e-a2e1-4e88-8d63-c21beb919550.gif)
So, @merriemcgaw could we close the issue as non-reproduced?

Also, I've noticed strange behavior with focus after collapsing/expanding. It always moves to the first el

[2022-07-29 20:01] c-ohle opened #7518 ".NET 7.0 preview DragEnter bug after update to latest versions."
### Description

#### When trying to drag and drop files from folders or other sources into a Windows.Forms.Controls:

NotImplementedException in [IDropTargetVtbl.cs](https://source.dot.net/#System.Windows.Forms.Primitives/Interop/WinFormsComWrappers.IDropTargetVtbl.cs,77)
VS2022 preview, .NET 7.0 preview, SDK, all latest versions.

It works compiled for  .NET 6.0, it worked for all .NET 7.0 previ

[2022-07-29 20:05] merriemcgaw commented on #6699
Yep, this looks like something we may have fixed with earlier work. Since we can't reproduce I'll be happy to close it 😺

[2022-07-29 20:05] #6699 closed

[2022-07-29 20:40] merriemcgaw commented on #5234
I don't think we need to fix this if it's just incorrect in Inspect. That particular tool is basically deprecated. I wouldn't risk changing anything that might impact any other behavior here.

[2022-07-29 20:40] #5234 closed

[2022-07-30 21:33] dreddy-work commented on #7518
@kant2002, can you take a quick look to see if your latest changes in anyway causing this?

[2022-07-31 07:04] kant2002 commented on #7518
I think issue was introduced in https://github.com/dotnet/winforms/pull/6976

[2022-07-31 08:22] c-ohle commented on #7518
@kant2002 Yes, this seems to be the same problem. But there is something more.

Since an earlier NET7 version (3 or so) something is wrong with COM refcounts.
For example in my test app: Previously it was possible to drag and drop 3D objects from the 3D view of one app instance to the 3D view of another app instance.
Now the source app instance hangs after a some deep internal COM exceptions.
Comp

[2022-07-31 08:46] c-ohle commented on #7518
@kant2002 Not really important because the exception is handled but maybe as hint:
This exception is also new since this version. (3 or so) (the exception is in AxIWebBrowser - wrong debug display)

![image](https://user-images.githubusercontent.com/63112403/182017918-70621295-f358-440f-b306-27649e175b76.png)

[2022-07-31 09:07] c-ohle commented on #7518
@kant2002 and one more hint to reproduce:
Drag and drop still works within views of an app instance.
But app exit -1, which has always been a sure sign of a forgotten COM release call.

[2022-08-01 07:10] NikitaSemenovAkvelon commented on #5852
It doesn't reproduce currently. Maybe one of updates for Win11 fixed the bug, as you say previously it depends on OS.
![0FRHKvLqGj](https://user-images.githubusercontent.com/109065597/182091684-776e0d83-9f7a-4bc4-b07d-b2c666a89699.gif)

@Amy-Li03 could you test it once again, please?

[2022-08-01 07:32] #7504 closed

[2022-08-01 08:29] Durgajyothi143 commented on #7354
Verified the bug as per above comment issue is not reproducing. Hence closing the bug.

[A11y_WINFORMS_Winforms-Containers_Winform-Containers_KeyboardKeyboard focus is going in incorrect direction #7354.webm](https://user-images.githubusercontent.com/108055767/182106901-2b194516-fa7b-47f9-9808-2cedea8baf4e.webm)

[2022-08-01 08:29] #7354 closed

[2022-08-01 09:23] NikitaSemenovAkvelon commented on #6657
Style in Win11 depends on native style which you can see below on a screen of the MFC app:
![image](https://user-images.githubusercontent.com/109065597/182097409-585588ca-70e6-4f35-9acc-9bfaae7defbd.png)

I can add a black border (only for Win11) to highlight selected checkboxes. It looks like this on the screen:
![image](https://user-images.githubusercontent.com/109065597/182116418-ddcdae2a-1b77-

[2022-08-01 18:36] merriemcgaw commented on #7154
This is a major change in behavior and will need to be behind a quirk of some kind. I don't think we can get this in 7, so let's shoot for 8.

[2022-08-01 19:19] merriemcgaw commented on #3471
I think this is a "nice to have" and we can consider it for .NET 8. I don't think it meets the bar for coming in hot in .NET 7. We haven't gotten any official bugs about this behavior so I think we're good to handle this on in our own time.

[2022-08-01 23:15] #6656 closed

[2022-08-02 00:07] #3261 closed

[2022-08-02 03:03] Olina-Zhang commented on #7345
@deng0 @KlausLoeffelmann I checked that simple repro project, the LocalizableFormWithToolTip and LocalizableFormWithoutToolTip forms have two differences: one is just LocalizableFormWithToolTip has tooltip, another is these 2 forms have different custom font set, LocalizableFormWithToolTip form is "Microsoft Sans Serif, 8.25pt" font, and LocalizableFormWithoutToolTip form is "Segoe UI, 12pt", so I

[2022-08-02 07:03] deng0 commented on #7345
@Olina-Zhang Thanks for looking into it.

All 4 forms already have the custom font set.
The problem is that the designer ignores the custom font that is already set in LocalizableFormWithToolTip.
This can obviously screw up your layout. And if you forget to set the custom font every time you open the form in the designer, the designer will remove the custom font from the form code alltogether, whi

[2022-08-02 07:36] Amy-Li03 commented on #5852
Hi @NikitaSemenovAkvelon , verified this issue on OS: Win 11 22H2(OS Build 25153.1000) and .NET latest build: .NET SDK 7.0.100-rc.1.22401.1, issue is still reproducing, please see following gif.
![Repro](https://user-images.githubusercontent.com/62929087/182318497-a15a4ea3-aa17-4198-93e5-db1c672f2fd8.gif)

[2022-08-02 07:51] Olina-Zhang commented on #7345
@deng0  I see the result is the form design and corresponding runtime have same display as we set custom font.
I may not have understood your issue. I just put a textbox to display current form's custom font, you can see 4 forms results, all are expected:

![image](https://user-images.githubusercontent.com/26474449/182320884-23084efd-39c9-4f01-b22d-dd463625ae68.png)
![image](https://user-images.gi

[2022-08-02 08:49] deng0 commented on #7345
The problem is that the WinForms Designer ignores the custom font that is set in LocalizableFormWithToolTip.
In LocalizableFormWithToolTip.resx the custom font is set:
[code]

But when you open the form in the designer it shows the form's font as "Microsoft Sans Serif, 8.25pt" (ApplicationDefaultFont set in csproj), which is not correct.

Of course you can set the font again in the designer, but t

[2022-08-02 16:28] dkazennov commented on #4690
ListViewItem components of the ListView control have Accessible Objects.
But the main issue as I see it: accessible tools do not fix checking the checkboxes of ListViewItems. The Narrator doesn't announces checks.  ListViewItem can contain checkbox, but it doesn't behave like CheckBox control. So the ListViewItem class must be changed, maybe new AccessibleObjects can be introduced (like in the Mon

[2022-08-02 17:22] KlausLoeffelmann commented on #7345
@RussKie: I guess we would need to be thinking about a localizable Default Font.

[2022-08-02 18:05] deng0 commented on #7345
interesting idea, but this doesn't have anything to do with the reported bug, or am I missing something?
IMHO I don't think localizable default font is something that is needed for WinForms at this stage.
If someone really wants to use different fonts for different cultures, he can specify each form's custom font which is localized.

[2022-08-02 21:44] lonitra opened #7525 "Strongly Typed Resources For Icon/Bitmap"
### .NET version

Version:   6.0.400-preview.22330.6
Commit:    da7c9ccceb

.NET SDKs installed:
  6.0.400-preview.22330.6 [C:\Program Files\dotnet\sdk]

.NET runtimes installed:
  Microsoft.AspNetCore.App 5.0.17 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
Microsoft.AspNetCore.App 6.0.6 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.App]
Microsoft.AspNetCore.App 6.0.7 [C:\Progr

[2022-08-02 22:18] Tanya-Solyanik commented on #5852
@merriemcgaw  - this is likely to be a windows issue, as ListView tooltips are special-cased for this control. I suggest "won't fix". Winforms is not special-casing ListView right now, and shouldn't in the future.

[2022-08-03 00:15] merriemcgaw commented on #7518
@c-ohle would it be possible for you to provide trimmed down sample code so that we can test the fix from @kant2002 (and hopefully even incorporate it into our test bed somehow)?

[2022-08-03 00:30] merriemcgaw commented on #6713
Given that we have the test-bug label that is added separately for each failure, we should just use that query to track the tests we need to fix. A separate tracking issue that aggregates them isn't needed.

[2022-08-03 00:30] #6713 closed

[2022-08-03 01:00] #7197 closed

[2022-08-03 02:05] willibrandon commented on #7381
I have a bead on this issue with a potential fix that I'm testing now.

[2022-08-03 02:25] willibrandon commented on #7381
Please feel free to assign this issue to me.

[2022-08-03 02:48] RussKie commented on #7381
All yours :) Thank you

[2022-08-03 04:14] NikitaSemenovAkvelon commented on #6702
The bug was caused by these changes (https://github.com/dotnet/winforms/pull/3398/files#diff-07a0a87cedab0d76c974ce8b105912a1b986c87116c7ee0ac73d6d5d65e4b48a) in .NET Core 3.1. And it was fixed in .NET5 by this PR (https://github.com/dotnet/winforms/pull/3398/files#diff-07a0a87cedab0d76c974ce8b105912a1b986c87116c7ee0ac73d6d5d65e4b48a). So, I think a reason of the issue was an incorrect call Unsafe

[2022-08-03 04:23] NikitaSemenovAkvelon commented on #6702
Also, it doesn't reproduce via the keyboard. Because the button wasn't destroyed I think.
![DEWFP3FA22](https://user-images.githubusercontent.com/109065597/182523711-91126baf-4d1c-4eb6-8dca-7d29ba5fb43a.gif)

[2022-08-03 04:31] c-ohle commented on #7518
@merriemcgaw hi, the fastest way is really with Test.exe from the [Project](https://github.com/c-ohle/RationalNumerics)
It's all up to date, last check in yesterday, based on [NET7 dev master-branch](https://github.com/dotnet/installer)
After download change Target framework from NET 6.0 to NET 7.0.
In debug go to TabPage "Polyhedron" and wait for the short animation to finish.
You can move the 3D

[2022-08-03 07:50] Olina-Zhang commented on #7518
@c-ohle I tested your Test.exe from the [Project](https://github.com/c-ohle/RationalNumerics), can drag-drop 3D objects from "Polyhedron" TabPage to desktop, but it doesn't allow dragging the objects from the desktop back into the view, is there something wrong with my operation?
![drag-drop](https://user-images.githubusercontent.com/26474449/182553893-e67241cf-f262-419c-abf2-25f1fab78fb0.gif)

[2022-08-03 08:05] c-ohle commented on #7518
@Olina-Zhang Yes, but that's exactly the problem - the bug in the latest .NET 7.0 preview.
But thanks for testing, now it's certain it's not just my machine.

[2022-08-03 08:12] c-ohle commented on #7518
@Olina-Zhang
VS2022 MainMenu\Debug\Windows\Exception Settings
Common Language Runtime Exceptions - select all
Then you get it: 'System.NotImplementedException' in System.Windows.Forms.Primitives.dll

[2022-08-03 08:26] Olina-Zhang commented on #7518
@c-ohle we also created a simple repro project about drag-dropping image on pictureBox in Winforms from file explorer, the DragEnter event cannot be triggered. So it is the same issue in here.
[WinFormsApp14.zip](https://github.com/dotnet/winforms/files/9249403/WinFormsApp14.zip)
![drag-drop1](https://user-images.githubusercontent.com/26474449/182561029-2ab2a354-6640-4221-8807-149f168cef8a.gif)

[2022-08-03 08:51] c-ohle commented on #7518
@Olina-Zhang good work, now it should be easy for them to reproduce and to add the missing COM interface request.
But please note: There are actually two issues as I mentioned above:

The other issue is some versions older and deeper in the system and can not reproduce with a "drop target only app".

[2022-08-03 09:03] c-ohle commented on #7518
@Olina-Zhang when I switch back to .Net 6.0. it works. Maybe you forgot a rebuild or something?

[2022-08-03 09:09] Olina-Zhang commented on #7518
yes, this issue cannot repro in Net 6.0, you can see my previous comment. When switch app to .Net 6.0, that DragEnter event can be triggered, I set a breakpoint in that app.

[2022-08-03 09:28] c-ohle commented on #7518
@Olina-Zhang with my app too? This could also be a SDK version(s) conflict - it would not be the first time.
To make sure - you can compile and test the same project with Target NET 6.0 in a offical VS2022 (not preview).

[2022-08-03 09:33] c-ohle commented on #7518
@Olina-Zhang sorry, yes you said, I misunderstood earlier and focussed on this.

[2022-08-03 15:03] KlausLoeffelmann commented on #7345
You would need to apply that font then to every Form in your project separately.
In a project with 400 Forms, that would be not so good.

[2022-08-03 17:45] NikitaSemenovAkvelon commented on #6238
@Olina-Zhang could you test it, please?

[2022-08-03 21:09] Tanya-Solyanik commented on #3678
Moved to triage.
This fix introduces a subtle change. Before and after default generated code does not have `TabStop` property in .designer.cs. If this source runs on the `before` binaries, effectively TabStop is true. If it runs on the `after` binaries, `TabStop` is false because the default value is interpreted differently.
I think that this is acceptable because focus frame had never been displ

[2022-08-03 21:45] dreddy-work opened #7535 "Runtime configuration support for Winforms in .NET"
# Support for application runtime configuration in WinForms applications

## Overview
\
NET Winforms applications currently have [limited application configurations](https://aka.ms/applicationconfiguration) capabilities that are defined via MSBuils properties and are emitted into source code using source generators at compile time. This document outlines expansion of those application-wide configu

[2022-08-04 01:18] #5852 closed

[2022-08-04 01:47] merriemcgaw commented on #6657
@NikitaSemenovAkvelon I would also check to see how it looks on Win 11 in the new high contrast themes as @tinodo mentioned above. It needs to look good on all the different contrast views as well as normal view.

@Olina-Zhang I just noticed the changes in Win11 high contrast themes, it might be worth taking a look at all of our regular controls and verifying them in the new themes. I hope that so

[2022-08-04 03:00] Olina-Zhang commented on #6238
@NikitaSemenovAkvelon tested this issue in the latest .Net 7.0 build: 7.0.100-rc.1.22402.10, it doesn't reproduce now: after deleting listview item, then enter listView again, Narrator can announce it.
![ListView](https://user-images.githubusercontent.com/26474449/182753635-185e3f95-ec4b-4847-834f-5438e96b49ee.gif)

[2022-08-04 05:13] NikitaSemenovAkvelon commented on #6657
With any of the contrast themes, checkboxes have contrast colors. So, if a user uses a contrast theme, he won't have any trouble.
![image](https://user-images.githubusercontent.com/109065597/182767230-34af9a5d-b421-42ea-858f-1a151ec57f2b.png)
![image](https://user-images.githubusercontent.com/109065597/182767169-e845402c-5e86-4b49-8163-43108e676228.png)
![image](https://user-images.githubuserconte

[2022-08-04 07:28] NikitaSemenovAkvelon commented on #1953
In Win11 HC themes are different. And data inside DGV looks different too.
Default style:
![image](https://user-images.githubusercontent.com/109065597/182787920-4c03f024-0099-4ee7-bdb0-4a9dc93d275f.png)
How it looks in all HC themes:

1. Aquatic
![image](https://user-images.githubusercontent.com/109065597/182788250-b2764b2f-40e6-4793-aeb7-78745baaf66f.png)
2. Desert
![image](https://user-images.gi

[2022-08-05 00:01] #7196 closed

[2022-08-05 12:49] elachlan commented on #7468
This would be helpful for `SHAutoComplete` method.
https://github.com/microsoft/win32metadata/issues/1027

[2022-08-05 14:19] elachlan commented on #7468
This is blocking `ImmGetConversionStatus`:
https://github.com/microsoft/win32metadata/issues/1028

[2022-08-06 01:36] JeremyKuhne opened #7547 "DragEnter_Set_DropImageType_Message_MessageReplacementToken_ReturnsExptected fails intermittently"
### Test

System.Windows.Forms.UITests.DragDropTests.DragEnter_Set_DropImageType_Message_MessageReplacementToken_ReturnsExptected

### Issue description

Failed on debug x64:

[code]

[2022-08-08 04:33] runfoapp[bot] opened #7551 "Flaky test: datagridview_rowheaderswidth_setwithhandle_getreturnsexpected"
Runfo Tracking Issue: [Flaky test: datagridview_rowheaderswidth_setwithhandle_getreturnsexpected](https://runfo.azurewebsites.net/tracking/issue/423)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[1925410](https://dev.azure.com/dnceng/public/_build/results?buildId=1925410)|[dotnet-winforms CI](https://dnceng.visualstudio.com/public/_build?definitionId=267)|Rolling|Windows_x64-xunit|
|[192541

[2022-08-08 04:45] Tanya-Solyanik commented on #7551
Dupe of https://github.com/dotnet/winforms/issues/6739

[2022-08-08 04:45] #7551 closed

[2022-08-08 04:49] Tanya-Solyanik commented on #6739
@Olina-Zhang  - plese comment out the line of theory data that causes failures

[2022-08-08 10:23] Philip-Wang01 opened #7552 "DataGridView displays tooltips for all cells in a selected row, even if the cell is wide enough for its content."
### .NET version

.NET SDK 7.0.100-rc.1.22405.9

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it's not a regression issue, also repro on .NET 6.0.

### Steps to reproduce

1. Open the attached solution: [DGV_DataBind_ToolTip.zip](https://github.com/dotnet/winforms/files/9280770/DGV_DataBind_ToolTip.zip)
2. Extract and open th

[2022-08-08 14:41] stanko75 commented on #4304
Hello,

can you please confirm if we gonna need NuGet packages in order to show our custom controls in the Toolbox? Is there a way to keep them always there, without installing them every time we start a new project?

Thanks in advance.

[2022-08-08 17:09] #6661 closed

[2022-08-08 17:58] #4895 closed

[2022-08-08 18:10] weltkante commented on #7485
you can use [Graphics.MeasureCharacterRanges](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.graphics.measurecharacterranges) to get tight bounds for `Graphics.DrawString`.

Never used `GraphicsPath` so no idea why it interprets font size differently than the rest of the APIs.

[2022-08-08 22:44] #4810 closed

[2022-08-09 09:10] NikitaSemenovAkvelon commented on #1953
Using manifest with settings for Win10/Win11 some changes from #1966 (https://github.com/dotnet/winforms/pull/1966/files#diff-9d504543bd501e09991d02bff89a815d6245eeeb12fe3dc82da960caebc9c5a1R2371, https://github.com/dotnet/winforms/pull/1966/files#diff-cd5392ce149aed5451edcee98c4573469d3901139bf20d96e999838223683a06R914) fixes the issue. Now, it looks correctly (DataGridViewTextBoxColumn like Text

[2022-08-09 18:06] dmitrii-drobotov commented on #7492
The bug exists because when a column is removed, the corresponding subitems are not deleted and still stored in the same order. A way to fix it is to recreate the handle of ListView after column removal. After that the visible content will be the same as in Inspect/Narrator but it does affect the behavior.

Right now column removal behavior looks logical but there would be a problem if something t

[2022-08-09 18:30] merriemcgaw commented on #7492
At this point I don't think it's the right time to change behavior, though I do think that may be the right approach. Let's put this on the back burner and consider for .NET 8.

[2022-08-09 19:05] merriemcgaw commented on #4304
Hi @stanko75 at this point, yes you will want to use a NuGet package to get your controls on the ToolBox. And yes, there is a way to put them in a location such that they don't need to be added to every new project you create. We're working on the docs ourselves at the moment, but we are following the same patterns as the xaml designer, and I can point you to their docs for [unreferenced NuGet pac

[2022-08-09 19:10] merriemcgaw commented on #6657
@NikitaSemenovAkvelon in that case I think you can go with your approach.

[2022-08-09 21:19] Tanya-Solyanik commented on #4690
Only a single task is fixed so far.

[2022-08-09 23:00] #7328 closed

[2022-08-10 01:11] Tanya-Solyanik commented on #7492
@merriemcgaw - I wouldn't recreate handle even in NET8 because is a breaking change that could manifest itself very subtly. @Amy-Li03 - does this repro for any other accessibility tools? Narrator in scan mode?

[2022-08-10 01:26] DWAK-ATTK opened #7562 "Please add a modern Tab control to WinForms"
### Is your feature request related to a problem? Please describe

The only problem is a lack of a modern Tab control, not a technical problem.

### Describe the solution you'd like and alternatives you've considered

https://github.com/dotnet/winforms/blob/main/docs/roadmap.md told me to submit control requests here.

I would REALLY like to see WinForms gain a modern Tab control.  The Windows Tab

[2022-08-10 03:58] RussKie commented on #7562
Thank you for the suggestion. As per our charter, we generally expose common controls provided by Windows, and the tab control is one of those. And you're right, is has somewhat limited functionality.
https://github.com/dotnet/winforms/blob/eff830b360cfdaf77ba7ba69eec53ba3dbaa3f34/src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs#L274-L279

AFAIK SSMS and VS are build on WPF, and hen

[2022-08-10 07:02] willibrandon commented on #7547
Finicky. I'll see if I kind find a better way to move the mouse.

[2022-08-10 07:29] Amy-Li03 commented on #7492
@Tanya-Solyanik Yes, Inspect, Accessibility Insights and Narrator (both narrator scan on and scan off) tools all can repro this issue.

[2022-08-10 07:35] #6323 closed

[2022-08-10 10:24] dmitrii-drobotov commented on #7492
Ok, I see, thanks for the feedback! Maybe I could come up with a different solution then, and definitely later for .NET 8.

[2022-08-10 14:35] dkazennov opened #7567 "ReleaseUiaProvider method won't work correctly if Control.ReleaseUiaProvider doesn't set Accessibility object to null"
### .NET version

.NET Version: 7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

Control control.ReleaseUiaProvider(control.Handle) only works correctly if Control.ReleaseUiaProvider(IntPtr handle) sets Accessibility object to null (via Properties.SetObject). This is being found while working

[2022-08-10 16:54] vladimir-krestov commented on #7344
Closed as completed in #7330

[2022-08-10 16:54] #7344 closed

[2022-08-10 17:38] merriemcgaw commented on #2193
I agree, this is not behavior we should change. As soon as a RadioButton gets focus, it gets selected. Changing this behavior would cause too many problems.

[2022-08-10 17:38] #2193 closed

[2022-08-10 18:11] Hyguys opened #7570 "Could not find file 'C:\<deletedfile>'"
### Environment

Microsoft Visual Studio Community 2022 (64 bits) - Current Version 17.3.0

### .NET version

Not sure - the latest (I'm a beginner)

### Did this work in a previous version of Visual Studio and/or previous .NET release?

Not sure

### Issue description

I was trying to make my solution to a template because just copying and pasting the solution folder was not working to open in a

[2022-08-10 23:18] #7415 closed

[2022-08-10 23:47] merriemcgaw commented on #7552
@vladimir-krestov can you take a first look at this?
@Philip-Wang01- what is the behavior in the Framework? Can you test back to 2.0?

[2022-08-10 23:49] RussKie commented on #7552
The docs are quite thorough, and it looks like we may have missed on of the cases - https://docs.microsoft.com/dotnet/api/system.windows.forms.datagridview.showcelltooltips.

[2022-08-10 23:52] merriemcgaw commented on #3678
That seems quite reasonable to me.

[2022-08-11 00:12] merriemcgaw commented on #4370
Is there anything else we can do with this issue? Is there more work that we need to do?

[2022-08-11 00:19] merriemcgaw commented on #2867
@John-Qiao can you check to see if this is still a problem?

[2022-08-11 00:29] Tanya-Solyanik commented on #2867
The issue as described in this bug is fixed. The designer regression is fixed on the designer level, so this bug can be closed.

[2022-08-11 00:31] DWAK-ATTK commented on #7562
Per https://github.com/dotnet/winforms/blob/main/docs/roadmap.md (emphasis mine)

But if you guys don't want feature requests, I'm not sure why you asked for them.  Well, regardless, I love WinForms - you guys have done a great job on it.  Keep it up.

[2022-08-11 01:35] merriemcgaw commented on #6349
@Olina-Zhang can you confirm whether this is still a problem?

[2022-08-11 04:34] #7318 closed

[2022-08-11 05:35] #7506 closed

[2022-08-11 06:54] John-Qiao commented on #2867
@merriemcgaw Verified with latest .NET SDK 7.0.100-rc.1.22410.4 build from main branch, this issue still repro in runtime as below:
![TestResult](https://user-images.githubusercontent.com/45864985/184079365-6a288040-8441-40dc-b4ec-ba160ac1d712.png)

[2022-08-11 07:51] Philip-Wang01 commented on #7552
@merriemcgaw .NET Framework does not seem to support mouse tooltip, which are only displayed when cell text is truncated. Here are the results of .NET Framework 2.0. .NET Framework 4.8 and 3.5 also have the same results.
![testframwork20](https://user-images.githubusercontent.com/86937911/184088001-6462861c-7bb4-4813-9e85-d5eed086efca.gif)
[Framework20.zip](https://github.com/dotnet/winforms/files

[2022-08-11 10:48] Olina-Zhang commented on #6349
@merriemcgaw It seems this issue is reproduced, I checked the records by frames, and during maximized form, there has black background in one frame.
previous frame:
![image](https://user-images.githubusercontent.com/26474449/184117175-4f9be765-e1de-44b6-a342-d3e2fe28702a.png)
next frame:
![image](https://user-images.githubusercontent.com/26474449/184117296-4a0226d7-301a-4c06-bf1c-fceef510b8a3.png)

[2022-08-11 12:00] #7567 closed

[2022-08-11 17:44] dreddy-work opened #7579 "`Form_DpiChanged_MinMaxSizeChanged_WithRuntimeSetting` Fail in CI"
### Test

`Form_DpiChanged_MinMaxSizeChanged_WithRuntimeSetting`

### Issue description

`Form_DpiChanged_MinMaxSizeChanged_WithRuntimeSetting` fail only on lab machines and pass on local machines. It seems lab machines failing to set thread's Dpi context. Need to investigate further to confirm theory.

[2022-08-11 17:50] dreddy-work commented on #7579
Related to https://github.com/dotnet/winforms/pull/7467

[2022-08-11 19:40] weltkante commented on #4370
Personally I'd suggest to move "implementing ActiveX controls in WinForms and hosting them in external environments" into "unsupported" territory
- doing it properly requires generating a type library (TLB) which is no longer supported by the dotnet ecosystem. You can get it to work by using the Desktop Framework to compile against a similarly shaped API and generate the TLB, then use that TLB wit

[2022-08-11 21:50] 1R053 commented on #4370
What is then the recommended architecture to host user controls in taskpanes of Office COM addins?

[2022-08-11 22:49] weltkante commented on #4370
Office COM addins are no longer supported, and there's no plan to restore support
- you cannot have multiple dotnet core runtimes, this will break Office and/or your addin whenever more than one person implements a COM addin [(see e.g. this issue, where I see you already posted as well](https://github.com/dotnet/runtime/issues/49686) or [this issue)](https://github.com/dotnet/runtime/issues/53729)

[2022-08-11 22:51] #7357 closed

[2022-08-11 23:03] #7381 closed

[2022-08-11 23:04] RussKie commented on #4370
Adding @AaronRobinsonMSFT for general awareness.

[2022-08-11 23:05] 1R053 commented on #4370
Office COM addins are still supported by MS Office and I do not expect that to go away soon, especially since the JavaScript based Office addin infrastructure lacks relevant features for more advanced scenarios.
That .NET Core does not want to support it is very unfortunate for this not unimportant use case.
The lack of multiple runtime support also means probably, that any vendor trying to establ

[2022-08-12 07:17] RussKie commented on #3117
This API is being deprecated (see https://github.com/dotnet/runtime/pull/73838) because it doesn't meet the current accessibility standards and the Windows UI guidelines. It is recomended for projects that require an input box roll their own implementation.

[2022-08-12 07:17] #3117 closed

[2022-08-12 07:18] RussKie commented on #3161
This API is being deprecated (see https://github.com/dotnet/runtime/pull/73838). [`MessageBox` API](https://docs.microsoft.com/dotnet/api/system.windows.forms.messagebox) should be used instead.

[2022-08-12 07:18] #3161 closed

[2022-08-12 16:30] vladimir-krestov commented on #6095
Closed as completed in #7330

[2022-08-12 16:30] #6095 closed

[2022-08-12 19:31] merriemcgaw commented on #6349
Huh, so we're looking at a very brief flash that self-corrects. I think we should close this issue, but feel free to reopen if it becomes something that is seriously impacting your applications.

[2022-08-12 19:31] #6349 closed

[2022-08-12 20:47] Tanya-Solyanik opened #7587 "Complete obsoletion process for DomainUpDownAccessibleObject class."
We'll be conservative in NET7 and will return instance of an obsoleted DomainUpDownAccessibleObject type from DomainUpDown.CreateAccessibilityInstance method. This will prevent failures of the runtime casts in snippets like this one:
[code]

In .NET 8 we will remove protected override methos `DomainUpDown.CreateAccessibilityInstance`. This kind of change is allowed by the [breaking changes](https:

[2022-08-12 20:49] merriemcgaw commented on #2867
@Tanya-Solyanik do you want to take a look and see what is happening here?

[2022-08-12 23:21] #7251 closed

[2022-08-12 23:21] #7535 closed

[2022-08-15 17:16] #7518 closed

[2022-08-16 02:26] #5378 closed

[2022-08-16 06:47] #3678 closed

[2022-08-16 23:53] #6236 closed

[2022-08-17 02:07] Cassie-Li01 opened #7601 "[Accessibility] Narrator is reading ToolStripMenuitems even when they are disabled"
### .NET version

.NET SDK 7.0.100-rc.1.22416.2

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it's not a regression issue, also repro on .NET 6.0.

### Issue description

[Accessibility] Narrator is reading ToolStripMenuitems even when they are disabled
![repro](https://user-images.githubusercontent.com/96758262/185018197-a48

[2022-08-17 04:02] #7371 closed

[2022-08-17 04:32] paul1956 opened #7602 "Still unable to add a used control to Design File and related issues"
### Environment

Version 17.4.0 Preview 1.0

### .NET version

6

### Did this work in a previous version of Visual Studio and/or previous .NET release?

Yes under Framework

### Issue description

There does not seem to be a way to add a user control to Toolbox and adding the control manually to Designer File manually works as long as you don't open the designer where parts of it will be deleted.

[2022-08-17 05:54] NikitaSemenovAkvelon commented on #7601
Should we skip all of `ToolStripItem`, including `ToolStripMenuItem`, `ToolStripTextBox`, `ToolStripButton`, etc. or just  `ToolStripMenuItem`?

[2022-08-17 09:42] Roopesh-T opened #7603 "A11y_VS IDE (DougAm) Individual R&D Subscript_Authentication Mode_ScreenReader:When using the arrow keys to change the selection in the Authentication Mode combo box, screen reader is not announcing the change of selection."
### .NET version

.NET Framework Version 4.7.2
Operating System: Windows 11 Enterprise 21H2
Microsoft Visual Studio Enterprise 2022 (64-bit) - Int Preview
Version 17.4.0 Preview 2.0 [32815.475.main]

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

**GitHubTags:**#A11yMAS;#A11yTCS;#BM_VS IDE (Doug

[2022-08-18 00:24] merriemcgaw commented on #7602
Most UserControl scenarios are working, at least in C#. @KlausLoeffelmann do you have issues with this in VB.NET? Can you take a look?

[2022-08-18 00:27] merriemcgaw commented on #7575
@KlausLoeffelmann getting this on your radar.

[2022-08-18 00:31] Tanya-Solyanik commented on #7603
@Roopesh-T - this is not the right place to open this bug, It should be opened in AzDO

[2022-08-18 00:39] davkean commented on #7603
http://github.com/dotnet/project-system owns the above Debug UI.

[2022-08-18 00:41] KlausLoeffelmann commented on #7575
@AberHatschi:
What are your exact steps to create a DataSet and add it to the Form for .NET Apps in this scenario?

Please note, that the _Data Source Provider Services_, which is responsible for Typed DataSet generation, is not enabled for .NET Apps, and therefore we have limited Designer support for (Typed) DataSets. Porting a Form directly from .NET Framework to .NET should work though, and als

[2022-08-18 00:50] merriemcgaw commented on #7603
Please note for future reference that the correct place for filing .NET Framework WinForms bugs is in the DevDiv AzDO instance with an Area Path of DevDiv\NET Fundamentals\Winforms\. Also note that I highly doubt that this is a WinForms .NET Framework issue if it is only observed in NVDA - I tested your application and it announces fine in Narrator as well. I also tested the VS UI in question with

[2022-08-18 00:50] #7603 closed

[2022-08-18 03:09] MelonWang1 opened #7608 "[Accessibility][HC] The color of the inverted triangle symbol of "Details" button in Properties window is incorrect when non-selecting it"
### .NET version

.NET SDK 7.0.100-rc.2.22417.1

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it's not a regression issue, also repro on .NET 6.0.

### Issue description

**Current Behavior:**
The inverted triangle symbol of "Details" button is invisible when non-selecting it.
![issue36](https://user-images.githubusercontent.c

[2022-08-18 05:31] Perpete commented on #7602
Hello,
After creating a usercontrol in VB with .net6 for a WinForm project with version 17.2.6 of visual studio, it is still impossible to add this usercontrol to the toolbox.
This usercontrol works fine in its creation project.
Here is the error message in French:

![ScreenToolbox](https://user-images.githubusercontent.com/66659162/185300758-f977aa60-c77e-4b84-8c7f-9ef77b02684a.png)

Translated m

[2022-08-18 06:06] willibrandon commented on #5884
@roland5572 - I'm not sure how we're going to top this one.

[2022-08-18 06:48] tinodo opened #7609 "Designer crashes when running Visual Studio 17.3.0 as a DpiUnaware process where the project is set to SystemAware."
### Environment

Microsoft Visual Studio Enterprise 2022 (64-bit) - Current
Version 17.3.1

(The problem also exists in 17.3.0.)

### .NET version

.NET 6.0

### Did this work in a previous version of Visual Studio and/or previous .NET release?

Yes, worked in 17.0.x, 17.1.x and 17.2.x.
Problem started with 17.3.0.

### Issue description

I am using VS2022 for developing a Windows Forms app. Since

[2022-08-18 09:01] Olina-Zhang commented on #7609
I can reproduce this issue when using registry key as following screenshot to set VS as DpiUnaware mode, the form designer cannot be loaded with or without the addition of appllication's DPI: `<ApplicationHighDpiMode>SystemAware</ApplicationHighDpiMode>`
![image](https://user-images.githubusercontent.com/26474449/185355380-5e14d102-9f23-4d1e-9434-b801b46936e3.png)

- without application's DPI, for

[2022-08-18 09:23] tinodo commented on #7609
That is correct. You have to remove the registry setting and use the /noScale parameter for DevEnv.exe or set your displays to 100% or wait for the 'warning' in Visual Studio to appear and click the provided link in the warning to restart VS as a DpiUnaware process.
For me, the registry setting was the preferred solution; I might 'forget' the /noScale and I don't want to change the DPI settings on

[2022-08-18 10:34] Ashley-Li opened #7610 "System.Windows.Forms.KeysConverter.ConvertFrom exception on .NET SDK 7.0"
### .NET version

.NET SDK 7.0.100-rc.2.22417.1

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it's a regression issue, cannot repro on .NET 6.0.

### Issue description

When running the application with .NET 7.0, an exception pops up, but the same code does not have an exception on .NET 6.0. Please see below gif:
![reproStep]

[2022-08-18 16:59] dreddy-work commented on #7609
Looking into it.

[2022-08-18 17:25] KlausLoeffelmann commented on #7602
Yes, it doesn't work in VB.
@dreddy-work: Do you have any ideas why this might fail?

[2022-08-18 17:32] dreddy-work commented on #7602
`Choose Toolbox Items` is not enable for .NET yet.  VB user controls not showing up in the toolbox is being investigated under issue https://github.com/microsoft/winforms-designer/issues/4558  (internal repo)

 Regarding User controls being removed when edited in the designer is a different issue that need to be investigated.

[2022-08-18 18:41] KlausLoeffelmann commented on #7602
@dreddy-work: No, this is not what I mean.

If you have a Custom Control (public/internal Class deriving from `System.Windows.Forms.Control`) in a VB Project, it is supposed to be populated in the Toolbox. _That_ doesn't work. It works for C#, not for Visual Basic.
If you reference your VB project to a C# class library _containing_ a Custom Control, that control gets populated.
If you reference yo

[2022-08-18 19:09] merriemcgaw commented on #7352
Exception request made https://ceacc.visualstudio.com/ceaccex/_workitems/edit/130273

[2022-08-19 00:06] dreddy-work commented on #7602
Linked PR is fixing the issue for showing Toolbox items form VB projects in Toolbox explorer.  Later part of the issue where editing Form designer removing the user control need to be investigated further if it still repo after this.

Linked fix should fix populating Toolbox items for VB projects and as well as Nuget packages built from VB projects.

[2022-08-19 01:18] vsfeedback opened #7617 "hwndThatLostFocus doesn't work as expected"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/hwndThatLostFocus-doesnt-work-as-expect/10114981)._

---
[severity:It bothers me. A fix would be nice]
The exact issue I have posted on Stackoverflow. Here is the url:
https://stackoverflow.com/questions/73288493/cant-escape-from-toolstriptextbox-in-a-particular-case

---
### Original Co

[2022-08-19 01:28] Cassie-Li01 commented on #7617
[Accessibility]Can't escape from textbox using keyboard ESC

**Repro Steps:**
1. Create a winforms
2. Add a menustrip with a textbox
3. Add KeyDown event of datagridview.
`if (e.KeyCode == Keys.F3)
    toolStripTextBox1.Focus();`
4. Build and run, click the datagridview to focus on it.
5. Press F3 to change focus.
6. Press Esc on your keyboard.
or open attached project
[testapp.zip](https://github

[2022-08-19 03:09] RussKie commented on #7610
This would be a regression from #6448

/cc: @gpetrou

[2022-08-19 03:24] Amy-Li03 commented on #7602
@Perpete This issue has been fixed in another team, and you can track it at here: https://developercommunity.visualstudio.com/t/Visual-Studio-2022-173-Chargement-de-/10120433

[2022-08-19 03:32] RussKie commented on #5884
Haha, we have plenty of issue in the back log 😉 I'm sure you can find something to your taste there, e.g.: https://github.com/dotnet/winforms/labels/api-approved and https://github.com/dotnet/winforms/labels/up-for-grabs

Thanks again for your contributions.

[2022-08-19 05:31] gpetrou commented on #7610
I suspect we just need to use `TryGetValue` instead of `KeyNames[tokens[i]];` and do a null check as before. I can add a PR with a test sometime next week. The changes should be something like the following inside `ConvertFrom`:

[code]

[2022-08-19 08:11] vsfeedback opened #7623 "ComboBox will bolck close all window WinForm .Net Framework 4.8"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ComboBox-will-bolck-close-all-window---W/10122568)._

---
[severity:It bothers me. A fix would be nice]
Hi support.
Close all windows( taskbar -> right click icon -> close all window) can't work, with a asterisk sound when closing the form.
The cause is the property 'AutoCompleteMode' ar

[2022-08-19 16:18] #7609 closed

[2022-08-19 18:50] mcsilver commented on #4776
Hi, what's the status of this one for WinForms and .NET Framework 4.7.2, please? I'm noticing the same thing.

[2022-08-19 19:20] dreddy-work commented on #4776
This is something that may need to address with Operating System. Other native tools show this window is actually located at 0,0 that make me think drawing of the window is off here. @mcsilver , did you try with a native (MFC) application?

![image](https://user-images.githubusercontent.com/36968667/185691624-3ec1c05d-982b-4357-9995-044f37365e61.png)

@Olina-Zhang  can you check this with native a

[2022-08-19 19:43] mcsilver commented on #4776
Hi @Olina-Zhang, this may be a problem of understanding more than a problem with the software. In your screenshot, I see that the window's position shows in WinSpy++ as (0,0) but its location on the screen does not appear to be against the left edge of the screen, in my opinion, whereas its top is. Why would its left edge not be touching the edge of the screen when its location is (0,0) whereas it

[2022-08-19 22:17] dkoehler69 commented on #7262
I also encounter a NullReferenceException in a DataGridView with the exact same stack trace.

In my case, [DataGridView.ShowCellToolTips](https://docs.microsoft.com/dotnet/api/system.windows.forms.datagridview.showcelltooltips) is  set to false.

In my case, the bug has nothing to do with updating the DataGridView. The exception is triggered regularly, when I use the Down or Up key to scroll throu

[2022-08-19 22:21] danmoseley opened #7624 "[Tracking] Consider renaming "up-for-grabs" label to "help wanted""
It is specially recognized by Github. See context https://github.com/dotnet/runtime/issues/71496

You'll want to make sure you update upforgrabs.net https://github.com/up-for-grabs/up-for-grabs.net/blob/f19d7297a01f8e46d9a95ab2bc5ec5511135737a/_data/projects/dotnet-winforms.yml#L14-L15, with a PR like https://github.com/up-for-grabs/up-for-grabs.net/pull/3320

cc @mairaw

[2022-08-19 22:25] danmoseley commented on #7624
"good first issue" also has special powers, but you already use that.

[2022-08-21 02:15] elachlan commented on #7468
Just to explain what I have been doing. I have been using ILSpy to check the win32metadata for everything in each of the interop folders. I am doing this so win32metadata is ahead of the winforms team on any differences, making the conversion easier. I am working bottom to top.

I am creating the issues first and then I will submit PRs based on feedback in the issues. This way the team has known p

[2022-08-21 03:12] elachlan commented on #7468
Remaining Interop folders to check:
- Ole32
- Mso
- Mshtml
- Imm32
- Hhctrl
- Gdi32
- Comdlg32
- ComCtl32

[2022-08-21 22:55] elachlan commented on #7468
What do we do with the following interop libraries?
- Mso (Not in win32metadata)
- Mshtml (Not in win32metadata)
- Hhctrl (.ocx, probably not apart of win32metadata?)

[2022-08-22 04:20] NikitaSemenovAkvelon commented on #6238
@merriemcgaw may we close this issue as not reproduced?

[2022-08-22 07:39] Olina-Zhang commented on #4776
@dreddy-work MFC native dialog- application has the same testing result:
![image](https://user-images.githubusercontent.com/26474449/185866008-d0e512ef-c9f8-408c-9041-4467471f54ee.png)

[2022-08-22 08:15] RussKie commented on #4776
If an MFC app is exhibiting this behaviour, then this is likely a Windows level bug.

[2022-08-22 10:46] BigBauf opened #7635 "ContextMenuStrip has erroneous behavior if ToolStripMenuItem item Available=false"
### .NET version

Net 7.0 Preview1

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

no

### Issue description

If you add a ToolStripMenuItem to a ContextMenuStrip with the flag 'available' = false already set, it brakes the scrolling behavior.

![ErrorDemo](https://user-images.githubusercontent.com/4630276/185898167-b51a2e87-0dfb-43

[2022-08-22 18:14] #7610 closed

[2022-08-22 18:21] mcsilver commented on #4776
Crazy! Okay, thanks.

[2022-08-22 18:46] dreddy-work commented on #4776
Opened an [internal bug](https://microsoft.visualstudio.com/OS/_workitems/edit/41027378) in Windows repo and will be tracking the issue there. @mcsilver , to track the progress publicly, you may want to open a feedback ticket for Windows operating system via one of the channels defined [here](https://support.microsoft.com/en-us/windows/send-feedback-to-microsoft-with-the-feedback-hub-app-f59187f8-

[2022-08-22 18:46] #4776 closed

[2022-08-22 19:54] mcsilver commented on #4776
That's great, @dreddy-work. I took your suggestion.

[2022-08-22 20:37] lonitra commented on #7468
Looping in @JeremyKuhne for further thoughts on this when he's back. For now, we'll proceed with conversions for the other folders.

[2022-08-22 22:01] elachlan commented on #7468
I know it sounds a bit silly, but I can't remember if I compared user32 to Win32Metadata. So I just have these to compare and raise issues:
- Ole32
- ComCtl32
- User32

I should be able to look into it later this week. After that, I will begin work on the PRs.

For the issues already raised in win32metadata some of them might not be valid. So if the team could verify them, that would be great. It

[2022-08-23 00:02] KlausLoeffelmann opened #7641 "[API Suggestion] Introduce Modern Visual Styles for Apps targeting .NET 11+ and Win 11+ for A11Y improvements. (Was DarkMode/VisualStyles)"
[Updated 11/24/2025]

We will aim to pick Visual Styles up and finalize them in the time frame of .NET 11.

It was originally decided, that we postpone it from .NET 9 to .NET 10, which unfortunately could not be done through changing priorities at the time. With Copilot support now at our disposal, based on the past experiences so far and the response from the community, we will put this back high

[2022-08-23 00:29] RussKie commented on #4776
Out of curiosity, does a WPF app exhibit the same?

[2022-08-23 00:30] RussKie commented on #7610
Thank you @gpetrou

[2022-08-23 01:59] RussKie commented on #7624
Thank you @danmoseley, updated.

[2022-08-23 02:00] #7624 closed

[2022-08-23 02:06] Olina-Zhang commented on #4776
Yes, it is same.
![image](https://user-images.githubusercontent.com/26474449/186052852-068adb9a-baf3-479e-acd1-7729c864644a.png)

[2022-08-23 02:25] RussKie commented on #7641
I suggest avoiding "dark" in the API names. At some point in time Windows could introduce a new mode - say, blue - and that wouldn't fit into the proposed API.

Historically, the colours were part of the theme definition, now it appears Windows is making a distinction between "colours" and "themes" - the former is the selection of "light" vs "dark", and the latter is now accessibility related:

![

[2022-08-23 07:47] vladimir-krestov commented on #4851
@Amy-Li03, can you please test this case in AI. I think, we don't need to care about Inspect, we can just click "Update" button for it. For the rest UIA tools ListView works well, please check it. If so, please close the issue.

[2022-08-23 09:35] vladimir-krestov commented on #4982
The same as for #4851, Inspect is obsolete tools, it caches old values and doesn't reflect real accessibility tree after any changes. Inspect should be updated after any changes in UI (like we did for memory leaks). Sometimes Inspect updates the tree itself, but sometimes not. Narrator works well with trees and AI as well. Moreover, AI is current UIA dev tool, so @Zheng-Li01, please check this cas

[2022-08-23 10:32] NikitaSemenovAkvelon commented on #6103
I suggest closing this issue. The reasons are:

1. We cannot change the type of any properties without changing in daughter classes.
2. Why `null` is an incorrect value? And why `string.Empty` is better?
3. Now, we have a single null-check inside `GetPropertyValue` method. After refactoring, we will have it in many places. Codebase will be grown after such refactoring. Without any profit as I can

[2022-08-23 11:36] NikitaSemenovAkvelon commented on #6702
@merriemcgaw could we close the Issue as we discussed previously?

[2022-08-23 14:59] KlausLoeffelmann commented on #7641
I thought about that for a while. I decided to use _Dark Mode_ in the name, because I followed the public Windows API, which the prototype is based on, and which does the same. Another point is that _Dark Mode_ is meanwhile a buzz word, so I'd argue it helps with discoverability. Therefore, I strongly advocate to continue using _Dark Mode_.

This is what `Application.EnvironmentDarkMode` does. It

[2022-08-23 16:02] lonitra commented on #7468
Could you clarify what you mean when you say that they might not be valid?

[2022-08-23 20:37] elachlan commented on #7468
I have done my best to find where the signatures of methods don't match. In some instances like NTSTATUS, an enum was turned down for static fields instead.

I expect the win32metadata team might turn down a few others.

[2022-08-23 21:00] dreddy-work commented on #7635
@BigBauf , thank you for filing this.  Since this is not a regression, it will not be on priority list for the team. If you like to come up with a solution, we will assist you with validation and release process.

[2022-08-23 21:03] dreddy-work commented on #7623
@Tanya-Solyanik/ @vladimir-krestov, do you guys recall any work around Combo Box for .NET framework 4.8 that could have caused this?

[2022-08-23 21:07] dreddy-work commented on #7617
@Cassie-Li01 , if this repro in .NET framework as well, how did you generate gif for expected behavior?

[2022-08-23 21:13] dreddy-work commented on #7602
@KlausLoeffelmann, will be taking a look further if there is anything else that need to be addressed here.

[2022-08-23 21:25] dreddy-work commented on #7552
@Philip-Wang01 , it is little ambiguous. Can you confirm if it was regression from .NET framework 2.0 ? or it was never an issue with .NET framework but only in .NET core?

[2022-08-24 01:01] RussKie commented on #7468
Great job @elachlan! Thank you.

[2022-08-24 01:01] paul1956 commented on #7602
I am also seeing lots of churn (via GitHub) when anything in the file change (unrelated to DataGridView) a should I open a separate issue?

These changes happen constantly they don't break anything they just renumber CellStyles
![image](https://user-images.githubusercontent.com/12789369/186293208-f30b64ce-ec03-4f72-bbd9-8a45e5a8cd31.png)

[2022-08-24 01:08] RussKie commented on #7602
@paul1956 yes, it's better to track unrelated issues separately.

In this specific case, I think the .NET Framework designer behaves the same way, and, if this is so, this issue won't have a high priority for the team.
I agree this is affecting the developer experience (and it's bitten me too few times in the past too), this is not technically wrong (i.e., the code is not broken).

[2022-08-24 01:17] Philip-Wang01 commented on #7552
@dreddy-work This is not a regression issue for .NET framework 2.0. .NET Framework does not seem to support mouse tooltip, so there is no such problem. NET Core may have been added default tooltip text to resources for all cells in this PR:  https://github.com/dotnet/winforms/pull/1681. So, this should only be a .NET Core issue.
![image](https://user-images.githubusercontent.com/86937911/186295232

[2022-08-24 01:37] RussKie commented on #6702
If the issue only affect .NET Core 3.1 then we need to bar check it. If it affects a large number of customers then we'd probably want to consider fixing it. But we also need to keep in mind that .NET Core 3.1 is nearing its EOL in Feb '23.

[2022-08-24 02:04] Cassie-Li01 commented on #7617
@dreddy-work
Below steps work well, I recorded expected result follow below steps:

1. Click the datagridview to focus on it.
2. Click the textbox to change focus.
3. Press Esc on your keyboard.

[2022-08-24 02:41] Amy-Li03 commented on #4851
@vladimir-krestov tested this issue in AI tool, the test result is same as mentioned by @NikitaSemenovAkvelon above, so close it.

[2022-08-24 02:41] #4851 closed

[2022-08-24 03:20] willibrandon commented on #3336
If the intent is to test interop bindings work and do not crash, perhaps the new integration tests in [`DragDropTests`](https://github.com/dotnet/winforms/blob/08c02c42a2217b5571c48577d366a43937637cc1/src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/DragDropTests.cs#L12) will suffice?

[2022-08-24 04:45] paul1956 commented on #7602
@RussKie At least its documented now. Feel free to handle as you see fit. When I used Framework, I didn't have Git.

[2022-08-24 07:44] paul1956 opened #7653 "I am seeing lots of churn (via GitHub) when anything in Designer changes"
### Environment

All

### .NET version

All

### Did this work in a previous version of Visual Studio and/or previous .NET release?

No

### Issue description

This is a tracking issue; it worked this way in Framework, but it really threshes GitHub

These changes happen constantly they don't break anything they just renumber CellStyles
![image](https://user-images.githubusercontent.com/12789369/18

[2022-08-24 08:31] paul1956 commented on #7641
How is the prototype/feature going to be exposed? Does it depend on specific version of Windows 7/10/11/next...? Do Control vendors custom controls need to support this?

[2022-08-24 10:43] vladimir-krestov commented on #7552
From the [docs](https://docs.microsoft.com/dotnet/api/system.windows.forms.datagridview.showcelltooltips):

When the value of this property is true and the mouse pointer is over a cell or the user has navigated to the cell using the keyboard, the cell displays a ToolTip when one of the following conditions is met:

So:
1. DataGridView ToolTips work according to the documentation in .NET Framework

[2022-08-24 10:45] vladimir-krestov commented on #7552
Mouse tooltips work correctly in .NET Framework.
#1681 added keyboard tooltips only, but it looks like it brought the regression

[2022-08-24 11:42] kirsan31 commented on #7641
Guys I am sorry, but when it comes to _themes / modes_ https://github.com/dotnet/winforms/issues/3691 immediately rings in my head (and I can't get away from it) 🙄

[2022-08-24 14:16] KlausLoeffelmann commented on #7602
I am wondering,  if this particular one is caused by the custom CodomSerializer of the DataGridView.

[2022-08-24 14:51] KlausLoeffelmann commented on #7641
Sadly true. I am only very carefully optimistic that Windows will change anything in that regard. And I know custom NC-Painting is probably not an option. @RussKie, didn't you have something here?

[2022-08-24 15:17] DualBrain commented on #7641
Yep... yep... yep... yep... and yep!

[2022-08-24 17:43] Tanya-Solyanik commented on #6103
`null` and `string.Empty` have different meanings, one means defer to the native proxy and the other means "show an empty string in inspect". It does not make sense to unify strings

[2022-08-24 18:47] dreddy-work commented on #6103
I have not looked at other properties. Comment was specific to `Help`.  Base class property should have been default to empty string (since that is what we are returning) and non-nullable. Derived classes can override whichever the way make it more opt.

I am fine punting this given this is more of a syntactic change at this point.

[2022-08-24 18:53] AdmiralSnyder opened #7657 "microsoft.dotnet.designtools.client.proxies.ControlProxy not available"
### Environment

VS 2022 Version 17.4.0 Preview 1.0
windows 11, 64bit

### .NET version

since it's a VS extension, it targets Framework 4.8

### Did this work in a previous version of Visual Studio and/or previous .NET release?

sure, in VS2019 it's been working (i don't remember when the switch to the new oop designer happened, but _that_ is the relevant breaking point.

### Issue description

i

[2022-08-24 19:46] weltkante commented on #3336
Probably, since any test that covers a working scenario implicitly also covers testing whether the interop definitions work. I don't know if the original tests still show up as hangs, if so its probably worth removing them if we now have tests that do the same and more.

[2022-08-24 22:38] AdmiralSnyder commented on #7657
having a look at the assembly of the GetType() led me to the `Microsoft.DotNet.DesignTools.Clients.dll` assembly in the VS directory `C:\Program Files\Microsoft Visual Studio\2022\Preview\Common7\IDE\CommonExtensions\Microsoft\Windows.Forms\Microsoft.DotNet.DesignTools.Client.dll` which i can reference... BUT how do i reference that assembly _correctly_ for vsix packaging? I suspect I can't just b

[2022-08-24 23:18] msftedad opened #7658 "When executing PSADT package as NT\LOCALSYTEM (default behavior when we deploy the packages inside SCCM), no text is read by the screen reader."
### .NET version

.NET version: 6.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

We are using a customized version of PSAppDeployToolkit to create software packages for SCCM. This powershell templating tool can display different popups to the user. We detected two different behaviors of screen readers :

[2022-08-24 23:51] paul1956 commented on #7602
@KlausLoeffelmann I don't know but I am seeing it in other places but more subtle where spaces are added and removed around (). I don't have a specific example right now but next time I get one I will open a separate issue. I will change title to include DataGridView.

[2022-08-24 23:54] paul1956 commented on #7653
This issue is related to having a DataGridView on the form BUT not specifically related to changing anything with the DataGridView.

[2022-08-25 03:42] vsfeedback opened #7663 "Winforms ListView ColumnWidthChanging event is not fired"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Winforms-ListView-ColumnWidthChanging-ev/10129947)._

---
[severity:It's more difficult to complete my work]
ListView has an event ColumnWidthChanging which should allow the expected column width change to be cancelled, however the event is never fired because the HDN.ENDTRACKW notificat

[2022-08-25 03:58] John-Qiao commented on #7663
- .NET Core Version:
 .NET SDK 7.0.100-alpha.1.22060.5

- Have you experienced this same bug with .NET Framework?:
  Yes

**Problem description:**

The ColumnWidthChanging event is not fired.

**Expected behavior:**

The ColumnWidthChanging event should be fired.

**Minimal repro:**

1. Open the attached [ColumnWidthChanging-TestApp.zip](https://github.com/dotnet/winforms/files/9421213/ColumnWidth

[2022-08-25 06:07] elachlan commented on #7653
Related: #3652

[2022-08-25 07:00] RussKie commented on #7658
I think @Sulquendi answered the question in https://github.com/PSAppDeployToolkit/PSAppDeployToolkit/issues/702#issuecomment-1070931195 - screenreaders run under non-elevated user aren't allowed to interact with apps run under elevated users. UIA is essentially achieved by executing code in the context of a target app, and allowing to do so from a non-elevated user would be a security risk.

[2022-08-25 12:48] elachlan commented on #7468
Adding win32metadata issues for User32 is "done". I may have missed a few, but we can pick them up when converting.

[2022-08-25 18:48] dreddy-work commented on #4776
Response from OS team for reference:

This behavior is by design (oddly enough).  In Windows 8 (or 8.1?) the design was changed so that window borders would have thin (1px at 96 DPI) borders.

Literally switching to 1px of non-client area on the edges wouldn't work out because grabbing the edges with the mouse would be too hard.  So, the amount of non-client space on the edges was left as 8px wide

[2022-08-25 19:02] mcsilver commented on #4776
Hi Devendar,

I wondered if it was something like that. In fact, I have often been frustrated by the lack of border width when attempting to resize from the top.

A question though: After I manually drag a window’s left edge to the left edge of the screen, it seems that the cursor still has several pixels within which it switches to the resizing state. In other words, it doesn’t appear to be a pro

[2022-08-25 20:14] paul1956 opened #7667 "With Multiple DataGridViews Problem adding columns"
### Environment

Version 17.4.0 Preview 1.0

### .NET version

N/A

### Did this work in a previous version of Visual Studio and/or previous .NET release?

I think so at least it worked differently

### Issue description

If you have multiple DataGridView controls on a form attempting to add columns with the same name doesn't work as expected.
With 2 or more DGV's on a Form add some columns to the

[2022-08-25 23:48] #7547 closed

[2022-08-26 22:53] fernandanavamoya opened #7675 "[Tracking] Missing Shell32 enums and structs in CsWin32"
These enums and structs are missing in CsWin32 library:
- `BFFM`
- `FDEOR`
- `FDESVR`
- `FOS`
- `NIF`
- `NIIF`
- `NIM`
- `NIN`
- `NOTIFYICONDATAW`
- `SFGAOF`

These are also in the [ComImport] interface:
- `FDESVR`
- `FOS`
- `SFGAOF`

[2022-08-27 02:39] elachlan commented on #7675
@fernandanavamoya, could you please let me know what functions you are using where you couldn't find these? If you could please provide links to them from https://docs.microsoft.com/en-us/windows/win32/ that would be great.

Its best to check the win32metadata using ilspy, I did this for a few below:
FDEOR = `FDE_OVERWRITE_RESPONSE`
FDESVR = `FDE_SHAREVIOLATION_RESPONSE`
FOS = 'FILEOPENDIALOGOPTIO

[2022-08-27 07:09] elachlan commented on #7675
I believe `NOTIFYICONDATAW` is one of the structs that are architecture specific, which winforms will need to manually manage.

CC: @AArnott

[2022-08-27 10:00] elachlan commented on #7468
I am done! I have done my best to make sure I have covered everything, but I may have missed something.

We are going to have difficulties in `ComCtl32` because lots of the enums defined in there are not defined in Win32Metadata and might not be added.

`Ole32` has a lot of interface updates. But the conversion doesn't seem as bad.

The metadata team and winforms team will need to review and discu

[2022-08-27 15:42] mikebattista commented on #7468
Fortunately most of your issues are just with friendly enums which are easy to add.

[2022-08-28 01:56] elachlan commented on #7468
The biggest problem winforms will face is the messaging constants. Metadata doesn't group them into enums. Which makes it harder for winforms to consume them. There is a lot to be said for constants though. Since if you only use two of them, then you just import two of them via CsWin32. So the amount of generated code is less.

[2022-08-28 15:44] kirsan31 commented on #6926
In continuation of [this question](https://github.com/dotnet/winforms/pull/7031#issuecomment-1204259859), I did some more research...

Questions:
1. Why we have Invalidate call when Cursor is above non-existent `TopLeftHeaderCell`??? I mean non-existent because we have no columns and rows here - we have absolutely empty grid! But we will Invalidate in **any case** if mouse over hypothetical `TopLe

[2022-08-28 20:17] vladimir-krestov commented on #7623
I checked my and the team previous codeflows related to ComboBox, we changed an accessibility part only, so I don't remember any changes related to this bug.

[2022-08-29 05:42] Cassie-Li01 commented on #7381
Verified on TP build 7.0.100-rc.1.22425.12, it is fixed. Screenshot as below:
![7381_fixed](https://user-images.githubusercontent.com/96758262/187130694-5880e3fa-8b9f-4e6d-ba4c-19e99acb9552.gif)
![7381](https://user-images.githubusercontent.com/96758262/187130699-44241537-53b0-4b0c-b923-af09901881e7.gif)

[2022-08-29 06:03] John-Qiao commented on #7415
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed as below:
![7415-TestResult](https://user-images.githubusercontent.com/45864985/187133300-70ffeaba-7396-4394-b38d-d624efe5bc23.png)

[2022-08-29 06:15] John-Qiao commented on #7328
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed as below:
![7328-TestResult](https://user-images.githubusercontent.com/45864985/187134998-b1be1c69-1645-4839-ba05-4f06fc65e957.png)
![7328-TestResult-2](https://user-images.githubusercontent.com/45864985/187135001-855ee7e6-8610-4ebf-9b2f-b9e82cce7480.png)

[2022-08-29 06:51] MandiMan commented on #6656
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed as below:
![issue6657](https://user-images.githubusercontent.com/108860782/187140456-bcedb5d4-7cf0-4d0b-b060-58981b184f54.png)

[2022-08-29 06:59] John-Qiao commented on #4810
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed as below:
![4810-TestResult](https://user-images.githubusercontent.com/45864985/187142060-c8caff79-d12c-4201-b647-50bb8fb8696a.png)

[2022-08-29 07:33] MandiMan commented on #7197
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed as below:
![memory link](https://user-images.githubusercontent.com/108860782/187147839-d7393259-3ea9-478b-b01d-1be13be55373.PNG)

[2022-08-29 07:43] MelonWang1 commented on #7504
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed, there is no blank space is add when replacing a TreeNode by index in a TreeView, and no exception throws with Narrator. But there is still a memory leak for TreeViewAccessibleObject.
![bu](https://user-images.githubusercontent.com/94418985/187150060-52968d3f-5ce0-4544-b159-09c28a5538eb.gif)
<img width="611" alt="Ann

[2022-08-29 08:10] Ashley-Li commented on #7318
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed as below:
![image](https://user-images.githubusercontent.com/56664234/187154845-48cbb702-d98c-429f-9016-1ee41a0ded8b.png)

[2022-08-29 08:45] Nora-Zhou01 commented on #7196
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed as below
![treenode](https://user-images.githubusercontent.com/104609169/187161362-a978f8c9-ab14-491e-bfa3-f2596974ef1b.png)
:

[2022-08-29 09:19] MandiMan commented on #3261
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed as below:
![listview](https://user-images.githubusercontent.com/108860782/187168000-9911116b-0367-4c10-bd1c-d2c74931fa55.png)

[2022-08-29 09:48] Nora-Zhou01 commented on #6661
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue was fixed as belo
![box](https://user-images.githubusercontent.com/104609169/187174200-d99171e6-bcd5-4669-986d-1a3e53c459d2.png)
w

[2022-08-29 09:54] Junjun-zhao opened #7686 "[7.0.100-rc.2.22417.1] private field name changed from virtualListSize to _virtualListSize for ListView"
### .NET version

7.0.100-rc.2.22417.1

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Verify Scenarios:
1). Windows10 RS5 x64+dotnet-sdk-7.0.100-rc.2.22417.1: Fail
2). Windows10 RS5 x64+dotnet-sdk-7.0.100-rc.1.22408.5: Fail
3). Windows10 RS5 x64+dotnet-sdk-6.0.303-win-x64: Pass

### Issue description

**Application Name**: mRemote

[2022-08-29 10:25] vsfeedback opened #7687 "ListView CustomDraw does not fire OnDrawSubItem with non-default column display order"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/ListView-CustomDraw-does-not-fire-OnDraw/10129868)._

---
[severity:It's more difficult to complete my work]
A winforms ListView control with custom drawing enabled does not fire OnDrawSubItem for subitems which it incorrectly believes are off screen because it is ignoring the column Dis

[2022-08-29 10:44] Cassie-Li01 commented on #7251
Verified on TP build 7.0.100-rc.1.22425.12, it is fixed. Details as below:
<html>
<body>

Scenarios | Result

Scenario1: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": true. 100% primary screen,  300% secondary screen | Issue is fixed
Scenario2: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": false. 100% primary screen,  300% secondary screen | Issu

[2022-08-29 10:48] Amy-Li03 commented on #7687
### .NET Core Version:
.NET SDK 8.0.100-alpha.1.22423.9

### Have you experienced this same bug with .NET Framework?
Yes

### Minimal repro:
[ListViewNoCustomDraw.zip](https://github.com/dotnet/winforms/files/9443818/ListViewNoCustomDraw.zip)
1. Create a WinForms .NET core project.
2. Add a ListView with OwnerDraw set true in Details view.
3. Set the DisplayIndex of column1 from 0 to 3.
4. Build a

[2022-08-29 11:08] Ashley-Li commented on #7375
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.1.22425.12, issue is not fix as below:
![image](https://user-images.githubusercontent.com/56664234/187188122-04640135-c3f1-4f7e-b9d2-a4ffca9cc049.png)

[2022-08-29 18:10] dreddy-work commented on #4776
This is the windows decision based on feedback they received. Windows team/feedback channel might be the best place to chat further on this.

[2022-08-29 19:11] kirsan31 commented on #7623
Some more info on this.
1. `ComboBox` is out of business here 😁 You can delete it from child form and will get same behavior.
2. As @Ashley-Li mentioned the bug exists only if you open 1 or 2 child forms. If more - all will close.
3. If you open child form and normally close it (with cross), then next child form opening will not have this bug.

[2022-08-29 22:39] merriemcgaw commented on #6238
Yes, let's close this.

[2022-08-29 22:39] #6238 closed

[2022-08-30 01:11] Olina-Zhang commented on #7375
@dkazennov Do we need to reactivate this issue?

[2022-08-30 01:13] merriemcgaw commented on #6702
I would say we don't need to do anything because even in the case of 3.1 it looks like it doesn't repro using the keyboard, just the mouse. So I see no reason to fix unless we've got a customer blocked on it. And, in that case we would still need to bar check it.

[2022-08-30 03:25] Tanya-Solyanik commented on #7375
I th

[2022-08-30 05:01] Tanya-Solyanik commented on #7196
@Nora-Zhou01  - These are referenced from a static object and thus expected.

[2022-08-30 05:02] Tanya-Solyanik commented on #7318
@Ashley-Li  - these are referenced from static objects and are expected to stay in the memory

[2022-08-30 05:04] Tanya-Solyanik commented on #7504
@MelonWang1 - please open a new bug for this leak with repro app attacked, unless the bug already exists.

[2022-08-30 06:17] dkazennov commented on #7375
Yes I believe we need to reactivate this issue.

[2022-08-30 06:18] dkazennov commented on #7375
Yes, thanks. Should we open this issue or create a new one? Should we fix in in NET8?

[2022-08-30 07:18] RussKie commented on #7641
Yes, I tinkered with NC- and C-painting of the form in the VS designer context. I got some partial progress, but that'd require more time (which is a bit scarce). Custom rendering of MDI windows could be a significant challenge.

[2022-08-30 07:22] kirsan31 commented on #7641
Is the Windows team so untouchable? 😕

[2022-08-30 08:08] dkazennov commented on #7375
@Ashley-Li could you please describe steps to reproduce this case?

[2022-08-30 08:31] MelonWang1 commented on #7504
@Tanya-Solyanik I found this attached project has not step to collect the garbage, so i add a button control to **collect the garbage**. [TreeViewReplaceBug (1).zip](https://github.com/dotnet/winforms/files/9451163/TreeViewReplaceBug.1.zip)
Test result is:
!DumpHeap -type TreeView:
<img width="476" alt="treeview-narrrtor" src="https://user-images.githubusercontent.com/94418985/187386216-9764b10c-a

[2022-08-30 08:41] dmitrii-drobotov commented on #7504
@MelonWang1 Thank you! This is expected and means there is no memory leak issue.

[2022-08-30 09:48] Ashley-Li commented on #7375
@dkazennov Focused on ToolStrip controls with items in Narrator, Accessibility Insight and Inspect, there still have toolStrip items memory leak. Please see below test result with Narrator:
**Repro steps:**
1.Create a parent form with two buttons: one will be opening a child form with the ToolStrip control and the other will collect the garbage.
2. Press the second button to open the child form wi

[2022-08-30 10:25] paul1956 commented on #7641
Are MDI windows used that much that a 99% solution isn't worth releasing as a start?

[2022-08-30 14:34] KlausLoeffelmann commented on #7641
The issue here also is that MDI-Windows aren't really the best idea for user interfaces, and so neither Windows nor we recommend these. We have no plans to really obsolete them alright, but they aren't really a good idea. That said, the rendering of MDI Windows is one thing. But in WinForms, you can also host a Form as a control in another Form. That then isn't technically an MDI window, although

[2022-08-30 15:00] KlausLoeffelmann commented on #7602
Back to the original issue, @paul1956, @merriemcgaw, @Tanya-Solyanik, @dreddy-work, @RussKie:

You can add a user control (indirectly) by this:
* You derive a class from Component with at least `internal` (`friend` in VB) scope in the same project. On build, it will automatically get populated to the toolbox, as long as it's not prevented by this Tools/Option setting:

![image](https://user-images

[2022-08-30 15:28] kirsan31 commented on #7641
@KlausLoeffelmann

Can I ask - why? I often hear a similar statement but without any arguments 🤷‍♂️ But I have arguments in defense of MDI:
1. MDI is the only multi windows layout that WinForms can offer you out of the box.
2. This is the most stable (error free) noncommercial multi windows layout for WinForms.
3. So far great if you need to manage multiple windows that are visible at the same tim

[2022-08-30 15:35] DualBrain commented on #7641
I will confirm that I do (regularly) utilize this technique and can share that it does present some challenges - with that said, sometimes these challenges are less of an issue than attempting alternative methods (code rewrite, inheritance, etc.); a real pros vs. cons situation where accepting the challenges/limitations of embedding a window within a window.

Now with that said, when I do this it

[2022-08-30 15:55] DualBrain commented on #7641
I do tend to agree that MDI (in its current form) is a bit *dated*; however, there many scenarios where this approach is still very valid.  While I don't personally design projects around this model, I do stumble across projects every once and a while that do; as such, I don't see MDI going away any time soon - at least not without a very solid/clear replacement available.

In order to handle "dar

[2022-08-30 17:50] lucapivato commented on #6459
https://www.jitbit.com/alexblog/300-systemdrawing-vs-skiasharp-benchmark/

[2022-08-30 19:57] KlausLoeffelmann commented on #7641
@kirsan31, @DualBrain: When it comes to MDI Windows, WinForms just follows the Windows/Office guidelines. It doesn't have to do with my/general personal preference, it's just a very functional reason: When multi-monitor display scenarios became common even in conservative work environments like Banks, Insurance Companies, Government Departments (all typical WinForms target audiences), MDI user int

[2022-08-30 20:02] KlausLoeffelmann commented on #7641
Still, I recognize that we need to support existing apps with that - so, no, no one said anything about obsoleting it. All that I am saying is, that it'll be very likely that we (WinForms) won't invest in a scenario, that a) doesn't make sense in modern work environments, and b) that isn't very likely supported (in terms of modernizing) by Windows. Should they decide to introduce theming, then we

[2022-08-30 20:53] DualBrain commented on #7641
@KlausLoeffelmann Sorry if it didn't come across properly; but I was trying to clarify that MDI is what it is, pretty much isn't (or rather shouldn't be) going anywhere and although not generally recommended, there are scenarios where it is being used and/or may be useful. As I said, I don't particularly utilize it as I would much rather have docking, tabbed, tear-away model than MDI. ;-)

Additio

[2022-08-30 23:30] RussKie opened #7695 "Improve templates"
### .NET version

.

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes

### Issue description

As per https://github.com/dotnet/wpf/pull/6973#discussion_r958470912, we need to invert these conditions (https://github.com/dotnet/sdk/pull/27486) as we missed a version in the past:

[code]

### Steps to reproduce

N/A

[2022-08-30 23:33] merriemcgaw commented on #7687
@Amy-Li03 can you work with the customer to understand impact and whether it is a blocking issue or if it is just annoyance. Then if it is blocking advice the customer to go the CSS route so that we can investigate a .NET Framework issue.  This does seem like resizing and scrolling does eventually allow the end user to see everything.

[2022-08-30 23:42] merriemcgaw commented on #7686
@PriyaPurkayastha @Junjun-zhao, this app is using private reflection and we generally make no guarantees around the naming of private fields. The owner should either update the app or not use private reflection here. Is there any rule that we can't change private fields in RCs? If not we will close this issue as won't fix.

[2022-08-30 23:45] merriemcgaw commented on #7667
@Olina-Zhang - what is the behavior in Framework in this scenario?

[2022-08-30 23:49] merriemcgaw commented on #7663
@John-Qiao can you please work with @Amy-Li03 and the customer to determine the Framework impact and advise the CSS route? And perhaps for this one find out what version of .NET Framework they are targeting.

We will consider doing something in .NET 8 because this one seems to be more impactful.

[2022-08-30 23:52] Tanya-Solyanik commented on #7663
@John-Qiao  - additional question, what version of the .NET Framework does this repro on? For example, retarget the application to 3.5 to see if it repros. I wonder if this could had been caused by the old accessibility fixes in the FX

[2022-08-30 23:56] merriemcgaw commented on #7658
@msftedad - we are going to have to close this issue based on what @RussKie and the original issue poster have determined - there's nothing that WinForms can do. This would need to be raised with the Windows team. Can the user run accessibility tools in an elevated context from the very beginning? That would be the solution that we can think of. This is a deeper design discussion than WinForms can

[2022-08-30 23:56] #7658 closed

[2022-08-30 23:56] PriyaPurkayastha commented on #7686
@merriemcgaw do you know when this change went in? Did it go out in RC? This is the first time we are testing this since its a new app being onboarded, hence trying to understand the timelines about when this change to private field was introduced.

[2022-08-31 00:03] merriemcgaw commented on #7657
We are still in the process of producing documentation around the out of process designer SDK. The latest info can be found [here](https://github.com/dotnet/winforms/discussions/7073) and further samples and instructions will be available soon. The sample that is referenced in this thread will show you how to reference the WinForms Designer Extensibility SDK, which should automatically add the ref

[2022-08-31 00:09] merriemcgaw commented on #7653
We're working on moving our CodeDom serialization to Roslyn, which is a huge undertaking (so no ETA but it is in progress). Once that is done, we can investigate if this still happens to the same degree, and further investigate. At this point, it's better to wait until we have the Roslyn serialization to invest much because this is a very old issue that has always been here, Git makes it much more

[2022-08-31 00:18] merriemcgaw commented on #7617
Esc alone wouldn't necessarily revert focus to the previous control. Can the user tab back to the DataGridView? That would satisfy accessibility requirements. Changing the behavior here would introduce a lot of potential for regressions and we aren't hearing other users need to use the Esc key to move focus in any direction. In fact, I'd believe that the Accessibility experts would flag this as ba

[2022-08-31 00:18] #7617 closed

[2022-08-31 01:10] merriemcgaw commented on #7686
Honestly, I'd have to take a closer look. We've been updating the names of private fields quite a bit to bring the code base up to current formatting standards. We generally don't make any claim to private field changes having names that don't change. Since this is the first time we've had a compat app hit this particular field it will take some git leg work to find the specific commit that has th

[2022-08-31 01:39] Amy-Li03 commented on #7687
@merriemcgaw got it, will get this information from customer.

[2022-08-31 02:58] John-Qiao commented on #7663
@merriemcgaw ok, we will confirm that info with customer in ticket.

@Tanya-Solyanik double-click on column header divider can fire the ColumnWidthChanging event, but drags the column header divider cannot fire ColumnWidthChanging event. This issue occurs in all .NET Framework versions(from 3.5 to 4.8.1) and .NET Core versions(from 3.1 to 7.0).

[2022-08-31 03:06] RussKie commented on #6926
Thank you @kirsan31 for digging deep into this.

The cursor is a system-wide singleton, and we're running many tests, and some of those are concurrent... I think it's plausible that a) some of our tests move the cursor, b) something else on a build agent is active and causes the cursor to move, ~and c) sun spots and aliens~. I don't think we can/should be locking the cursor in a way that may affec

[2022-08-31 05:18] Tanya-Solyanik commented on #7663
Thank you, @John-Qiao , so this is not a regression.

@merriemcgaw - I would suggest not touching this behavior, or at least quirking it. Chances are, there exists an application that relies on not having a changing event in this case.

[2022-08-31 05:24] Tanya-Solyanik commented on #7375
@dkazennov  - if repro steps are different now, feel free to open a new issue

[2022-08-31 05:25] Tanya-Solyanik commented on #7504
@MelonWang1 - thank you for the additional investigation!

[2022-08-31 05:51] willibrandon opened #7700 "Consider adding a drag and drop test from File Explorer"
### Issue description

We currently have a handful of drag and drop UI test cases which drag data from and to the application, but we're missing the case when the users drags data from File Explorer to the application. To support the work being done in #5163, and as a regression test for #7518, I propose we add a drag and drop UI integration test which drags data from File Explorer and drops it to

[2022-08-31 06:25] willibrandon commented on #7700
Please feel free to assign this issue to me.

[2022-08-31 08:00] kirsan31 commented on #3691
@KlausLoeffelmann this is the answer to https://github.com/dotnet/winforms/issues/7641#issuecomment-1232103546

Multi-monitor scenario is the strong point for not to invest in self rendering MDI. But to fix **more then 10 yeas old windows bug** this is not a point at all.
I arguing here to fix the bug in windows not to _fix_ it by WinForms team...

And about Multi-monitor...
WinForms support multi

[2022-08-31 08:01] kirsan31 commented on #7641
I think I've been misunderstood here. I didn't offer to slow down this work because of the MDI. I just wanted to remind you that we have an unfixed bug on this topic for a very long time, and it's time to kick the Windows team harder...

@KlausLoeffelmann for not to flood, I [answered in the relevant topic](https://github.com/dotnet/winforms/issues/3691#issuecomment-1232596588).

[2022-08-31 09:13] Amy-Li03 commented on #7687
**Reply from customer:**
It’s just an annoyance. I’ve been able to work around it and other bug I found (https://developercommunity.visualstudio.com/t/Winforms-ListView-ColumnWidthChanging-ev/10129947#T-ND10135004) by adding a zero width column 0 and preventing width and column reordering changes for column 0.

[2022-08-31 14:04] antonfirsov commented on #6459
What does 500kb picture mean? What format? What resolution?

(1) In any case 500kb is small, not representative for typical today's workflows dealing with images coming from 12MP phone cameras.
(2) the benchmark doesn't stress concurrent execution, therefore it's useless to make any conclusions about web scenarios.

Sure, System.Drawing might be still okayish in some desktop app scenarios, but the

[2022-08-31 14:57] lucapivato commented on #6459
I didn’t write it. Just found it interesting.

Trying to simply draw underlined or wrapped text with skia seems to be a
complicated task. Google’s blog post about underlined text is that it’s a
controversial feature… always trying to save developers (many of which have
naturally more “field” experience)  from themselves is quite annoying and
patronizing, again in my view.

Seems to be a nice libra

[2022-08-31 17:01] PriyaPurkayastha commented on #7686
Thanks @RussKie and @merriemcgaw. I had a chat with @marklio last evening about this issue.
1. We were wondering if this change was related to naming conventions/formatting or some sort of code refactoring. Ideally, we would want changes to fields for formatting to be done early on in the release (which is the case for this change given that it was made in Preview 3) as compared to late in the rel

[2022-08-31 18:23] merriemcgaw commented on #7686
Thanks @PriyaPurkayastha, @marklio - I agree that as our product matures and more and more people are migrating their applications we should absolutely be mindful of these sorts of changes. I will make sure that we don't make more changes like this in the RC timeframes. But this one we'll do as Won't Fix.

[2022-08-31 18:23] #7686 closed

[2022-08-31 18:26] merriemcgaw commented on #7687
Then let's go ahead and "Won't Fix" this issue and close the feedback ticket as Low Priority. We've got much more impactful things to manage at the moment. We can always reopen if it becomes important for other customers.

[2022-08-31 18:46] merriemcgaw commented on #7663
I would have to agree wholeheartedly. Two steps here - if @John-Qiao can you work with the customer on this feedback ticket to see if the Framework version of the bug is a blocking issue for the customer. If it is not, then close it as low priority because changing this could cause problems for other apps. I'll leave this issue open for .NET 8+ and when it is fixed we will want to ensure that we'v

[2022-08-31 19:06] lucapivato commented on #6459
Just thought to give a try to the 5 reasons with some simple tests:

*   Created 1M fonts each in 4 concurrent threads (on a 12 core machine, each thread has a random Sleep call to block) randomizing the family name and the size to prevent some internal caching. Uses about 0 GDI handles overall, unless you call ToLogFont(), which is expected. The GDI handles do increase by about 50 but drop quickl

[2022-09-01 01:32] John-Qiao commented on #7663
@merriemcgaw customer is using .NET 6.0.8 and this bug is not blocked his project, he enabled the ColumnWidthChanged event as a workaround. As this bug is a .NET runtime issue, I have closed the initial feedback ticket as duplicated to this GH issue. Below is the reply from customer:

`I’m using .net 6.0.8. It’s just an annoyance. I’ve been able to work around it by forcing the column width in the

[2022-09-01 01:33] TheDecryptor commented on #6459
Another point in favour of Direct2D/DirectWrite, it has [special support for RDP](https://docs.microsoft.com/en-us/windows/win32/direct2d/direct2d-overview#:~:text=Content%20that%20is%20rendered%20by%20using%20Direct2D%20can%20also%20be%20displayed%20remotely%20by%20using%20the%20Remote%20Desktop%20Protocol%20(RDP)%20infrastructure%20in%20the%20Windows%207%20operating%20system.%20Developers%20can%

[2022-09-01 01:47] Cassie-Li01 opened #7705 "[Accessibility][HC] The icon of DataTimePicker is not clearly visible"
### .NET version

.NET 8.0.100-alpha.1.22430.2

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it is not a regression issue

### Issue description

**Current Behavior:**
The icon of DateTimePicker is not clearly
![image](https://user-images.githubusercontent.com/96758262/187814308-f4292a62-082c-44b3-8bbe-1a69fd37996a.png)

**Ex

[2022-09-01 02:34] nathan130200 commented on #6459
I still prefer winforms instead WPF for fast building desktop application. I can quickly drag'n'drop controls and 🥳 TADA! i have an desktop application running. I prefer WPF when requires lot of complexity or when just GDI+ cannot handle.

For example i was working an pseudo 2d cell game simulation just for testing skills on 2d games, but its impossible to use winfors.

Each rendering when cells c

[2022-09-01 02:38] Amy-Li03 commented on #7687
@merriemcgaw thank you!
I will close this issue as "Won't Fix", for the initial feedback ticket, due to this is a .NET runtime issue, customer can comment at here, I have closed it as duplicated to this GH issue.

[2022-09-01 02:38] #7687 closed

[2022-09-01 03:37] RussKie commented on #7663
Closing as won't fix due to the risk profile and availability of a workaround.

[2022-09-01 03:37] #7663 closed

[2022-09-01 05:10] dkazennov commented on #7375
@Ashley-Li Hello, could you please open new issue?

[2022-09-01 09:42] Ashley-Li opened #7713 "ToolStrip class and it's accessible object are leaking in memory"
### .NET version

.NET 7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it can repro in .NET 6.0.

### Issue description
Focused on ToolStrip controls with items in Narrator, Accessibility Insight and Inspect, have a relatively large number of memory leaks.

https://user-images.githubusercontent.com/56664234/187878642-e986b0c

[2022-09-01 09:47] Ashley-Li commented on #7375
@dkazennov @Tanya-Solyanik Have filed a new issue :[#7713](https://github.com/dotnet/winforms/issues/7713)

[2022-09-01 10:41] Olina-Zhang opened #7714 "Unhandled exception pops up when using Accessibility tools to focus on date button in MonthCalendar"
### .NET version

8.0.100-alpha.1.22430.2

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it is a regression issue, cannot repro .Net 6.0 and previous, repro in .Net 7.0

### Issue description

Unhandled exception pops up when using Accessibility tools to focus on date button in MonthCalendar

System.InvalidOperationException

[2022-09-01 10:53] Olina-Zhang opened #7715 "MonthCalendar accessible objects are leaking in memory"
### .NET version

8.0.100-alpha.1.22430.2

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

MonthCalendar accessible objects are left in memory after the MonthCalendar control instance was inspected with accessibility tool: just Narrator and the form with MonthCalendar is closed, garbage is collected, but Na

[2022-09-01 11:17] #4304 closed

[2022-09-01 15:56] KlausLoeffelmann commented on #3691
I get that. But there is no point in in discussing this here, that's all I am saying. And I am personally not really optimistic, Windows will address this. All the more, since it's not a bug. It's just not the way most of _likes_ this to be rendered.

And we gradually have been working on HDPI issues in the 5, 6, 7 timeframe and we will be working on this for 8. As I said in other contexts before:

[2022-09-01 16:36] vladimir-krestov commented on #7714
Sure, #7362 brought this regression. Working on it asap

[2022-09-01 16:46] dreddy-work commented on #3691
I do not want to jump on the ongoing conversation but wanted to update on what windows team think on MDI visual styles. They did resolve internal tracking bug as won't fix given the legacy nature and cost involved. It would be nice to redirect MDI visual styles/theming questions/feedback via windows feedback channel to give the team justification for fixing this.

[2022-09-01 16:50] kirsan31 commented on #3691
@KlausLoeffelmann I'm afraid we'll go into a tough offtopic here too :)

I disagree, because this behavior depends on the version of Windows. For example in Windows Server 2012 it's just rendered as it must. But I agree as you said:

😥

Ok, I'll rephrase a little:
WinForms have any multi-window layout engine out of the box other than MDI?

Paint.NET is a great app. And if you look at it you will n

[2022-09-01 18:20] kirsan31 commented on #3691
@KlausLoeffelmann

I mean changing this settings:
![image](https://user-images.githubusercontent.com/17767561/187984315-63322d75-c46a-4c57-9615-90650efaa462.png)
or equivalent:
![image](https://user-images.githubusercontent.com/17767561/187984456-dbbd768c-c4f1-4784-8c30-1029340bb6ea.png)

Apparently it's all my bad English...

In my understanding to fully support changing this option during app ru

[2022-09-01 18:25] vladimir-krestov commented on #7714
@Tanya-Solyanik, do you remember some similar cases, like you pointed for a List collection some time ago?

[2022-09-01 20:47] antonfirsov commented on #6459
I agree that text rendering / font shaping is one of SkiaSharp's weaknesses, and my intention wasn't to argue for SkiaSharp, but mostly to point out the flawed methodology in the mentioned blog post.

https://github.com/dotnet/winforms/issues/6459#issuecomment-1231979418 without further context suggested that System.Drawing is a winner choice for server-side thumbnail making, which is simply not t

[2022-09-01 21:23] Tanya-Solyanik commented on #7714
I see, I missed it here. Could you please review all collections after this one is done?

We also want to service it for 7.0

[2022-09-02 01:03] #4370 closed

[2022-09-02 02:07] Amy-Li03 opened #7718 "[HDPI] The Icon of checkbox in DateTimePicker control is burry"
### .NET version

NET 8.0.100-alpha.1.22451.15

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, this is not a regression issue.

### Issue description

The Icon of checkbox in DateTimePicker control is burry in high DPI.

Win11 OS:
![image](https://user-images.githubusercontent.com/62929087/188042110-c7db6b06-145f-4024-b1b9-8c22

[2022-09-02 02:08] vsfeedback opened #7719 "BindingSource.Current and Nullable reference types"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/BindingSourceCurrent-and-Nullable-refer/10126279)._

---
[severity:It's more difficult to complete my work]
Since `BindingSource.Current` can be `null`, its signature should be changed from

    public object Current ...

to

    public object? Current ...

---
### Original Comments

###

[2022-09-02 02:13] MelonWang1 opened #7720 "[Win11][HC] The display of buttons and scrollbar controls in the HC theme is not consistent with the normal theme"
### .NET version

.NET 8.0.100-alpha.1.22451.15

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it is not a regression issue

### Issue description

**Current Behavior:**
The display of buttons and scrollbar controls in the HC theme is not consistent with the normal theme.
HC Aquatic theme:
<img width="239" alt="Aquatic" src="ht

[2022-09-02 02:17] John-Qiao commented on #7719
Latest reply from customer:

[2022-09-02 02:39] MelonWang1 opened #7721 "[HC] The icon of "Browse..." in PropertyGrid control is unclear when non-selecting it"
### .NET version

.NET 8.0.100-alpha.1.22451.15

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it is not a regression issue

### Issue description

**Current Behavior:**
The icon of "Browse..." is unclear when non-selecting it.
HC Aquatic theme:
<img width="217" alt="11-Aquatic" src="https://user-images.githubusercontent.com/9

[2022-09-02 02:57] MelonWang1 opened #7722 "[HC] The icon of "AddNew" in DataGridView control is unclear"
### .NET version

.NET 8.0.100-alpha.1.22451.15

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it is not a regression issue

### Issue description

**Current Behavior:**
The icon of "AddNew" in DataGridView control is unclear.
HC Aquatic theme:
<img width="306" alt="data-Aquatic" src="https://user-images.githubusercontent.com/9

[2022-09-02 03:02] Olina-Zhang opened #7723 "[Accessibility] Narrator focuses on the Column Headers instead of the first cell when enter DataGridView by switching Form"
### .NET version

8.0.100-alpha.1.22430.2

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it is a regression issue, cannot repro .Net 6.0, for 7.0 version,

### Issue description

Narrator focuses on the Column Headers instead of the first cell when enter DataGridView by switching Form. If application has one Form with DataGri

[2022-09-02 06:31] Ashley-Li commented on #7196
Verified on .NET SDK 8.0.100-alpha.1.22451.15 build, issue was fixed as below:
![image](https://user-images.githubusercontent.com/56664234/188072852-44b8bb93-8e63-4137-8afc-e6bd1dd6d35e.png)

[2022-09-02 06:36] Olina-Zhang opened #7724 "[Accessibility] [HC] The little triangle of "toolbar options" button in ToolStrip is hard to visible when focusing on it"
### .NET version

8.0.100-alpha.1.22451.15

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, not a regression issue

### Issue description

The little triangle of "Toolbar options" button in ToolStrip is hard to visible on Windows 11 high contrast themes and Windows 10 high contrast black/white themes

**Windows 11 HC Aquatic/Dese

[2022-09-02 06:52] Amy-Li03 commented on #4810
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 07:06] MandiMan commented on #6656
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 07:15] Philip-Wang01 commented on #7610
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed as below:
![isue123](https://user-images.githubusercontent.com/86937911/188079807-952ba3d8-b53a-47b3-93a9-d02325d99dc3.gif)

[2022-09-02 07:23] Olina-Zhang opened #7725 "[Accessibility] HC and default themes: The color contrast of checkmark in MenuStrip is less than 3:1"
### .NET version

8.0.100-alpha.1.22451.15

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

The color contrast of checkmark in MenuStrip is less than 3:1 on Windows 11 high contrast themes and Windows 10 some themes.

Windows 11 HC themes testing result:
![image](https://user-images.githubusercontent.com/2

[2022-09-02 07:40] RussKie commented on #7719
Nullable annotations is an ongoing effort (https://github.com/dotnet/winforms/issues/1107), there has been a significant progress (https://github.com/dotnet/winforms/issues?q=label%3A%22area%3A+NRT%22), however it is far from being complete.

[2022-09-02 07:40] #7719 closed

[2022-09-02 07:44] Philip-Wang01 commented on #7197
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 07:51] Nora-Zhou01 commented on #6661
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 08:03] Nora-Zhou01 commented on #7328
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 08:04] Olina-Zhang opened #7726 "[Accessibility] LinkLabel's color contrast is less than 4.5:1 when clicking it"
### .NET version

8.0.100-alpha.1.22451.15

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

LinkLabel's color contrast is less than 4.5:1 when clicking it on Win10 and Win11 default themes and high contrast themes

**Win10 and Win11 default themes:**
![image](https://user-images.githubusercontent.com/264744

[2022-09-02 08:09] MelonWang1 commented on #3261
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 08:13] John-Qiao opened #7727 "[Accessibility] [HC] ComboBox control's FlatStyle is not displayed correctly in design and runtime when set FlatStyle property to Flat or Popup"
### .NET version

8.0.100-alpha.1.22430.2

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it works in .NET 6.0.
![6 0-Aquatic](https://user-images.githubusercontent.com/45864985/188091624-debb1e8b-60fe-4f12-bba5-0f2a4226e35e.png)

### Issue description

On Windows 11 and Windows 10 all high contrast themes, the ComboBox contro

[2022-09-02 08:14] Nora-Zhou01 commented on #7518
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 08:20] MandiMan commented on #7415
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 08:35] MandiMan commented on #7381
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 09:06] MelonWang1 commented on #7318
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was fixed, test result is same as above screenshot.

[2022-09-02 10:02] MandiMan commented on #3678
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, issue was not fixed. When I add TextBox, Button and PrintPreviewControl to the form. run the application and TAB through the form. click TAB three times is a loop, so PrintPreviewControl does not show the selected border but is still the selected state. And PrintPreviewControl's TabStop property is still displayed in

[2022-09-02 10:04] Amy-Li03 commented on #7251
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, **Scenario1 was fixed, but Scenario2 is still reproducing.**

**Scenario1**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": true. 100% primary screen,  300% secondary screen.
**Scenario2**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": false. 100% primary screen, 300

[2022-09-02 10:04] Amy-Li03 commented on #7251
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, **Scenario1 was fixed, but Scenario2 is still reproducing.**

**Scenario1**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": true. 100% primary screen,  300% secondary screen.
**Scenario2**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": false. 100% primary screen, 300

[2022-09-02 10:06] Amy-Li03 commented on #7251
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, **Scenario1 was fixed, but Scenario2 is still reproducing.**

**Scenario1**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": true. 100% primary screen,  300% secondary screen.
**Scenario2**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": false. 100% primary screen, 300

[2022-09-02 10:06] Amy-Li03 commented on #7251
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, **Scenario1 was fixed, but Scenario2 is still reproducing.**

**Scenario1**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": true. 100% primary screen,  300% secondary screen.
**Scenario2**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": false. 100% primary screen, 300

[2022-09-02 10:07] Amy-Li03 commented on #7251
Verified on .NET 8.0 latest build from main branch: NET 8.0.100-alpha.1.22451.15, **Scenario1 was fixed, but Scenario2 is still reproducing.**

**Scenario1**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": true. 100% primary screen,  300% secondary screen.
**Scenario2**: .Net 7.0, and "System.Windows.Forms.ScaleTopLevelFormMinMaxSizeForDpi": false. 100% primary screen, 300

[2022-09-02 13:48] AraHaan commented on #6459
Another thing I do not like about System.Drawing: When needing to zoom for example a 1,200 x 1,200 px image by 5000% you will find that System.Drawing cannot handle it (I use the resize method on images and calculate the new size using original size and the % amount).

[2022-09-02 17:32] dreddy-work commented on #7251
When flag is set to false, you see existing behavior and that is by design. We wanted to make sure we are not breakign existing application that may have worked around this issue.

[2022-09-02 19:12] dreddy-work commented on #3678
@MandiMan , main is not flowing all the way. It is possible that this fix might not be there yet in the installer. I sent out an email reply on this. Please follow up after SDK is up to date with winforms runtime.

[2022-09-03 15:26] kirsan31 commented on #6926
@RussKie
As far as I can tell, **all** `DataGridView` Flaky tests have the same root... And I decided to go the hard way and fix the cause first, not the consequence... 🙄 And the cause as I mentioned is that `TopLeftHeaderCell` is not visible if we have no columns at all, but `DataGridView` still treat it as visible :(
Also we have another non consistent behavior here -`DataGridView` without colum

[2022-09-05 19:32] vladimir-krestov commented on #7714
I have found the reason. https://github.com/dotnet/winforms/pull/7362 and https://github.com/dotnet/winforms/pull/7569 didn't bring this regression. They exposed the problem in #4758.
The reasons is a double nested call of `RebuildAccessibilityTree` after changing of a view and a range:

![image](https://user-images.githubusercontent.com/49272759/188504402-2bcefdbb-70e9-4dc5-a142-a956e3c1550f.png)

[2022-09-06 02:38] Nora-Zhou01 opened #7740 "[HC] Menustrips' child control textbox borders are not visible"
### .NET version

8.0.100-alpha.1.22451.15

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it is not a regression issue

### Issue description

Cu**rrent Behavior:**
Menustrips' child control textbox borders are not visible
HC Aquatic theme:
![A6](https://user-images.githubusercontent.com/104609169/188589900-c1403e7c-40a4-4861-9

[2022-09-06 14:21] RightFS opened #7742 "Got an exception when a TextBlock got focus: `System.Globalization.CultureNotFoundException:“Argument_CultureNotSupportedInInvariantMode Arg_ParamName_Name, culture Argument_CultureInvalidIdentifier, 2052 (0x0804)”`"
### .NET version

 Version:   6.0.303
 Commit:    7494fee64a

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

I don't know how to switch a wpf project target SDK.

### Issue description

My code works well when I build it for debug, but not working in release mode.

There are two textblock in this window, and the exception will be th

[2022-09-06 14:25] RightFS commented on #7742
Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, It did not work in .NET Core 5.0

[2022-09-06 14:53] RightFS commented on #7742
<InvariantGlobalization>false</InvariantGlobalization>

[2022-09-06 14:53] #7742 closed

[2022-09-07 00:18] merriemcgaw commented on #7718
This is Windows UI we don't have control over drawing the CheckBox check mark in a DateTime control. So we are going to close this as External. This isn't that common of a scenario so we don't think bringing it to Windows will make a difference either.

[2022-09-07 00:18] #7718 closed

[2022-09-07 00:23] merriemcgaw commented on #7726
There is an open issue in System.Drawing from to expose new System Colors. We should wait until these are exposed and then see if we can get the Visited Link color in order to use it instead of being something we improvise. We should track for .NET 8 but it's not a high priority.

[2022-09-07 00:25] merriemcgaw commented on #7723
@Olina-Zhang what happens as the user tabs through the application when the column headers are selected?

[2022-09-07 00:28] merriemcgaw commented on #7723
@vladimir-krestov was there a recent change in the DGV that might be causing this? Can you please find the right person to look into this?

[2022-09-07 00:28] Tanya-Solyanik commented on #7723
@dmitrii-drobotov  - FYI

[2022-09-07 00:35] merriemcgaw commented on #7727
@Tanya-Solyanik - for this one I think that the complaint is that we can see the borders, whereas in Win 10/11 the default theme shows with no/white borders. This is OK behavior, otherwise how could someone tell that there is a control there. I like the new look for the new themes and propose no change here. Thoughts?

[2022-09-07 00:35] merriemcgaw commented on #7740
We should do a textbox border in HC modes, just using the regular system color for control border, IMO.

[2022-09-07 00:38] merriemcgaw commented on #7725
This is one we should address for .NET 8, if we can't meet min contrast for regular themes in HC themes then there is a problem.

[2022-09-07 00:41] merriemcgaw commented on #7724
That glyph should come from a standard System color. It's also pretty clear we don't meet contrast minimums here either.

[2022-09-07 00:42] merriemcgaw commented on #7722
Looks like the glyph needs to be filled in with white in those themes rather than just outlined in white.

[2022-09-07 00:45] merriemcgaw commented on #7721
@dmitrii-drobotov / @vladimir-krestov - what is the difference between the glyphs in .NET and .NET Framework? Do we do anything different on our end?

[2022-09-07 00:47] merriemcgaw commented on #7720
I'm going to resolve this one as by design. The Common Controls team didn't change the UI for ScrollBars in HC themes it looks like. We don't have a lot of control here regardless, so there's not much we can do. And the scrollbar outlines do look OK in HC mode.

[2022-09-07 00:47] #7720 closed

[2022-09-07 00:50] merriemcgaw commented on #7705
@Tanya-Solyanik I'm inclined to also won't fix this issue. I don't know that we have control, and to me it looks like the HC version of the icon simply couldn't be made to look reasonable in HC so they left it at the solid page. This isn't an accessibility concern, just a usability concern, but one over which we may have little to no control.

[2022-09-07 00:52] merriemcgaw commented on #7715
@vladimir-krestov / @dmitrii-drobotov can you assign this to the appropriate person on your team? Not an urgent issue but one good to fix as much as possible.

[2022-09-07 02:45] Olina-Zhang commented on #7723
it will go to the second cell, skip the first one:
![123](https://user-images.githubusercontent.com/26474449/188777058-743fbe73-9f70-43fd-9de7-48ebb4154c82.gif)

[2022-09-07 20:16] TimBakkerVBH commented on #3328
This issue is still in the .NET Core designer. With .Net Framework it's fixed. Is there an ETA on this?

[2022-09-07 20:49] merriemcgaw commented on #7740
Experience in this particular application in standard theme is almost as bad as HC.
@Nora-Zhou01 what happens here for Win10 HC themes
@merriemcgaw to work with Scott to figure out whether or not we need to force the border in HC mode and what the priority might be.

[2022-09-07 20:54] merriemcgaw commented on #7727
Confirmed with @Tanya-Solyanik that this is now by design and we like it this way.

[2022-09-07 20:54] #7727 closed

[2022-09-07 21:00] merriemcgaw commented on #7726
@dmitrii-drobotov / @vladimir-krestov which System Color are we using for the LinkLabel control?

[2022-09-07 22:43] scottaohara commented on #7740
@merriemcgaw yeh this definitely looks to be an issue.  i'd have no idea there was a form field there in the high contrast modes.

[2022-09-08 08:21] RussKie commented on #3328
I am afraid, no. The support for the generic/abstract forms/user controls is on the team's backlog, however, it's not very high on the priority list.

[2022-09-08 08:28] TimBakkerVBH commented on #3328
can you maybe provide a workaround for this? I know this was a long standing issue with .net framework as well.

[2022-09-08 09:40] Nora-Zhou01 commented on #7740
@merriemcgaw the text in the textbox can be displayed and the border can be shown when the cursor is placed on the textbox.
Win10 high contrast themes:
HC #1:
![H1](https://user-images.githubusercontent.com/104609169/189089527-3eed5358-8a38-4177-8c80-a41f44760b69.png)

HC #2:
![H2](https://user-images.githubusercontent.com/104609169/189089544-3a43e0b3-b705-4b68-9ae8-346e8dbade1a.png)

HC Black:
![

[2022-09-08 14:35] dmitrii-drobotov commented on #7726
@merriemcgaw In this issue it's actually not the *visited* link color (that one is violet and has good contrast ratio) but rather the *active* link color, i.e. the one that is visible when you click on a link but not release it yet. For that we are trying to get IE's "Anchor Color Hover" from the registry. But on my machine (Win 11) it was not found, so in that case we default to `System.Drawing.C

[2022-09-08 15:34] dmitrii-drobotov commented on #7721
Yes, it was changed in #886. The difference is that now there is a white border around dots (left is the old icon, right is the current one):
![image](https://user-images.githubusercontent.com/102954094/189163559-1e666a6a-dd91-4e4c-88de-bbee01a9797a.png)

[2022-09-08 19:08] merriemcgaw commented on #7726
Ahhh, that makes a lot of sense. I think that the priority of this is much lower if it is only _while_ the user is clicking on the link. If the Visited and not-yet-visited link colors are good, I think we can close this as won't fix. @Tanya-Solyanik do you agree?

[2022-09-08 19:09] merriemcgaw commented on #7740
@vladimir-krestov / @dmitrii-drobotov can you all get this fixed for 7.0? I think if it's not risky we could take it in RC2.

[2022-09-08 20:03] #7723 closed

[2022-09-09 12:25] vladimir-krestov commented on #5874
@merriemcgaw, should we care about `EnableHeadersVisualStyles = false` cases? If no, let's close this

[2022-09-09 12:55] vladimir-krestov commented on #4847
The same as #4851.
@Olina-Zhang, please test it via AI and Inspect with updating (like you tested in #4851).
If it works as expected, please close the issue

[2022-09-09 15:22] Chello1801 opened #7755 "Everytime I create a new project the designer breaks"
### Environment

Visual Studio 2022 17.3.3

### .NET version

I use NET 6.0, but it also affected 3.1 & 5.0.

### Did this work in a previous version of Visual Studio and/or previous .NET release?

It did work in the past, but suddenly i just get this error that breaks the form designer.

### Issue description

In every project I create, the form designer just doesnt work.
This is the error it giv

[2022-09-09 17:49] merriemcgaw commented on #5874
I think you're absolutely right. If we're not seeing this in the default configurations I think we should close this. Especially since this needs RTL to be true as well.

[2022-09-09 17:49] #5874 closed

[2022-09-09 18:59] LukAss741 opened #7757 "Faulting module name: coreclr.dll"
### .NET version

new6.0-windows

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

I didn't try

### Issue description

My application that is supposed to run 24/7 regularly crashes. This is what I see in event viewer:

[code]

### Steps to reproduce

I have a large project. The program crashes very iregularly - sometimes every like 1

[2022-09-10 07:16] kirsan31 commented on #7757
You need to investigate crush dump. I suggest to create a full dump. Look here: https://docs.microsoft.com/en-us/windows/win32/wer/collecting-user-mode-dumps

[2022-09-12 04:59] vladimir-krestov commented on #7726
I think, we can close this issue until a user request, because not-visited and visited states are long and users see them long time. But in most common cases clicking on the link process is so fast, so users may not notice that the color has changed to red at all.
Moreover this one-second state of link doesn't block users, they see clear what they will click and what they already clicked, they won

[2022-09-12 05:36] vladimir-krestov commented on #4392
@merriemcgaw, now the current behavior looks better to me 😄
Should we change it or keep it as is and close this issue?

[2022-09-12 06:36] Chello1801 commented on #7755
´´´
[08:32:39.204060] info: Creating VsDesignerLoader
[08:32:42.852334] info: [Thread 1] Creating design-time ITypeResolutionService.
[08:32:44.264804] info: Start processing enqueued assemblies
[08:32:44.265802] trce: Loaded Microsoft.WinForms.DesignTools.Protocol in 00:00:00.0000255 [thread 72]
[08:32:44.436715] trce: Processed 'Microsoft.WinForms.DesignTools.Protocol' in 00:00:00.1714324
[08:32

[2022-09-12 07:22] vladimir-krestov commented on #3393
While working on memory leaks issues we didn't find a way of testing this. So @merriemcgaw, can we close it?

[2022-09-12 07:54] Chello1801 commented on #7755
[code]

[2022-09-12 12:48] acentrella13 opened #7761 "Help! We need charts!"
### Environment

Visual Studio 2019 / 2022

### .NET version

5.0 on

### Did this work in a previous version of Visual Studio and/or previous .NET release?

yes

### Issue description

We can not design charts or have access to the control in 5.0 on... there are thousands of winforms developers still requiring the development of charts in their forms...please help to add this support!

### Steps

[2022-09-12 13:07] dmitrii-drobotov commented on #7726
I do have a little concern though, we adapt to HC theme colors when it comes to visited and not-visited links:
![image](https://user-images.githubusercontent.com/102954094/189658524-eba722df-bfbb-49c7-87e5-876ec2f0ceca.png)
![image](https://user-images.githubusercontent.com/102954094/189658619-0df25713-d140-4411-ab5e-e29b8f9e2881.png)
![image](https://user-images.githubusercontent.com/102954094/18

[2022-09-12 14:01] kirsan31 commented on #6926
/cc @RussKie can you pls. look into this so I understand in which direction to continue?

[2022-09-12 23:34] Tanya-Solyanik opened #7762 "ComboBox control with DropDownList style should not support Value UIA pattern"
ComboBox controls are required to provide Value pattern ([IValueProvider](https://docs.microsoft.com/en-us/windows/desktop/api/UIAutomationCore/nn-uiautomationcore-ivalueprovider))	 only if the end user can add arbitrary values according to [documentation](https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-supportcomboboxcontroltype).

<html>
<body>

IValueProvider | Depends | If the co

[2022-09-12 23:55] Tanya-Solyanik opened #7763 "ComboBox supports Value UIA pattern, however, does not raise the property change event for value property"
According to the required events section in [docs](https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-supportcomboboxcontroltype).

<html>
<body>

UIA_ValueValuePropertyId property-changed event. | If the control supports the Value control pattern, it must support this event.
-- | --

</body>
</html>

[UIA_ValueValuePropertyId](https://docs.microsoft.com/en-us/windows/win32/winauto/uiau

[2022-09-13 00:11] Tanya-Solyanik opened #7764 "ComboBox raises selection property change even though it does not support the selection provider."
ComboBox AccessibleObject [raises](https://github.com/dotnet/winforms/blob/7f4adcd84d61704d0ed5164b43b94e4667831225/src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxAccessibleObject.cs#L273) [ElementSelected property change event](https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-implementingselectionitem), however this control does not support the [SelectionProvider]

[2022-09-13 02:06] #7761 closed

[2022-09-13 02:09] RussKie commented on #7755
@Shyam-Gupta is there anything that rings a bell?

[2022-09-13 02:12] RussKie commented on #6926
Looking into it now.

[2022-09-13 04:18] RussKie commented on #6926
Just to reiterate my understanding - we have a number of issues that we believe are all caused by the incorrect visibility handling of `TopLeftHeaderCell`. These issues are as follows (in no specific order):
* multiple intermittent DGV-related test failures,
* inconsistent behaviour depending on whether a DGV has any columns or not,
* inconsistent behaviour depending on whether a DGV has any bound

[2022-09-13 07:09] kirsan31 commented on #6926
@RussKie

Yes, but not sure about https://github.com/dotnet/winforms/issues/3378...

If @merriemcgaw doesn't mind in principle, I would try to open a new issue...

Yes.

[2022-09-13 16:54] #7714 closed

[2022-09-13 19:17] acentrella13 commented on #7761
Sorry but why is this marked closed?  Those aren't answers or solutions, merely point to band-aids...  we need charts supported in winforms .net 5.0 and greater, thank you

[2022-09-13 23:57] RussKie commented on #7761
[System.Windows.Forms.DataVisualization](https://github.com/dotnet/winforms-datavisualization) is officially deprecated, if you depend on this control you can fork it and update it as you see fit.
@kirsan31's fork is likely the most up-to-date.

[2022-09-14 00:01] merriemcgaw commented on #7762
This has been the case since 3.5, and no complaints have been seen from providers or users at this point. There's the potential who expect Value Pattern for this style would be broken if we remove it without a quirk. But, on the other hand, they shouldn't be expecting this pattern.

Given that there's no feedback asking for this fix, I want to close this issue, until someone does flag the issue an

[2022-09-14 00:01] #7762 closed

[2022-09-14 00:08] merriemcgaw commented on #4158
Let's close this issue, it's been this way forever, and virtualized ListViews aren't a mainline scenario, someone can re-file/reopen if it becomes an issue.

[2022-09-14 00:08] #4158 closed

[2022-09-14 00:09] Shyam-Gupta commented on #7755
@Chello1801 Requesting you to share following information:

- How is the project getting created? Using Visual Studio or using dotnet.exe CLI?
- Once the project gets created, are you able to build it using Visual Studio without any error?
- Does this issue also reproes for a WPF .NET project?

[2022-09-14 00:25] merriemcgaw commented on #4392
Let's close it 😆

[2022-09-14 00:25] #4392 closed

[2022-09-14 00:25] merriemcgaw commented on #3393
Yep

[2022-09-14 00:25] #3393 closed

[2022-09-14 00:26] merriemcgaw commented on #7726
I agree, not worth changing at this point.