[2021-11-09 02:25] hdefucom commented on #6126
This is a change since NETCORE.

![image](https://user-images.githubusercontent.com/51500043/140850254-e133431d-c90d-418c-accd-c4a7af4b1d19.png)

[2021-11-09 03:03] Amy-Li03 commented on #6126
Still build with error
![image](https://user-images.githubusercontent.com/62929087/140854190-b84b2fba-6566-4d8b-b39a-d3ea9f4116e2.png)

[2021-11-09 03:08] hdefucom commented on #6126
![image](https://user-images.githubusercontent.com/51500043/140854757-0a5a2503-7838-48b2-80c5-7a2767b72327.png)

😓

[2021-11-09 03:14] Amy-Li03 commented on #6126
Thank you! It works for me.

[2021-11-09 03:20] hdefucom commented on #6126
One more thing, If you use c#10's global using ,`<ImplicitUsings>enable</ImplicitUsings>`
SDK will automatically add some namespaces,
but some are not available in the lower version of the framework,
such as `system.net.http`,
Therefore, it is recommended to disable global using and configure it in your own code

[2021-11-09 05:17] RussKie commented on #6126
@Amy-Li03 please refer to https://docs.microsoft.com/dotnet/core/compatibility/sdk/6.0/csharp-template-code

[2021-11-09 06:49] willibrandon commented on #5884
Thanks, its been really fun. I think adding support for drag images and drop descriptions for drag sources outside of the application would be really helpful. It would allow the application to display more details to the user regarding the drag-and-drop operation.

[2021-11-09 06:52] willibrandon commented on #5884
Drag images and drop descriptions from Explorer.

https://user-images.githubusercontent.com/5017479/140875905-bac8774a-4bcb-4530-873d-d904bae5306d.mp4

[2021-11-09 07:08] AraHaan commented on #2543
I would rather call GetThemeSysColor for the colors (after calling ``SetWindowTheme`` (from uxtheme.dll) to ``Explorer_Dark``.

Oh which in my Winforms application I actually do today, the only problem is that Well, when it comes to the things like ContextMenuStrips, I am not sure what values to pass in to the ``GetThemeSysColor`` function to grap the actual dark variant of the "light" color used

[2021-11-09 12:52] vladimir-krestov commented on #6116
A link in a DGV is a regular text, so its color should have contrast 4.5:1 (AI requirements)
For the current blue selection color only white color has correct contrast (4.508:1), other colors are not acceptable.
Changing of the selection color to lighter looks unshapely.
![image](https://user-images.githubusercontent.com/49272759/140927277-cb6c7e52-b9bf-4124-ba7c-ed69e4e37184.png)

So that is a di

[2021-11-09 14:25] Shadowblitz16 commented on #2543
as long as you can have the win32 team support a rendering back end for the new controls it should work all the way back as far as C# supports.

also I thought C# supported back to xp?

[2021-11-09 16:00] vladimir-krestov commented on #4754
Any known ways don't affect Narrator to focus on the RTL RichTextBox, this control doesn't support UIA, so this bug will be fixed after implementing of UIA for RichTextBox, but it may be time consuming task.

[2021-11-09 16:41] deng0 opened #6144 "ApplicationConfiguration Code Generation bug"
* .NET Core Version:
6.0.0

**Problem description:**
When windows system language is set to a language which uses comma as decimal separator the code generator which creates the ApplicationConfiguration class messes up the decimal separator in emSize for the font

For instance when `<ApplicationDefaultFont>Microsoft Sans Serif, 8.25pt</ApplicationDefaultFont>` is set int the csproj file, the follo

[2021-11-09 18:17] merriemcgaw commented on #6116
I think white should be sufficient, was there a blocker in just using that @SergeySmirnov-Akvelon @vladimir-krestov ?

[2021-11-09 19:28] weltkante commented on #5509
I canceled my work on that because the desired compatibility requirement of executing code against newer frameworks without recompiling were too high. You'll likely run into similar issues by introducing a base class, since existing code will have been linked against the "old" public API of the subclass. You have to go through weird contortions to keep this compatible, by keeping the old public AP

[2021-11-09 19:59] weltkante commented on #2543
no, XP is long out of support, see for example [this page](https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0-supported-os.md) for .NET 5 supported platforms. XP and Vista are off the list, Win7 is only supported if its patched.

[2021-11-09 21:12] cadilhac commented on #3316
.Net 6 and VS2022 are here. So I'm asking the question again. Knowing that the licx file mechannism has gone, how to license my commercial winforms component? My customers are waiting for it.

[2021-11-09 23:13] merriemcgaw commented on #3316
There are no plans to implement the licx file mechanism for licensing. The current thinking internally is that most software vendors are creating their own licensing mechanism, and that the licx file method was not adequate for most modern scenarios. The recommendation is to either invest in a cloud-based licensing approach or create a system specific to your component and your component needs. Mi

[2021-11-09 23:25] merriemcgaw commented on #3316
My bad - I saw the licensing question and didn't note the original source of this issue.

Custom Controls are much more fully supported in VS2022 and we are working on getting demo blog posts and documentation about how to get your custom controls onto the ToolBox via a NuGet package, how to create custom controls, and when do customers need to take a dependency on our new SDK to allow their contr

[2021-11-10 00:40] cadilhac commented on #3316
@merriemcgaw Your 2 messages puzzle me a bit and I'm not sure if there will be some sort of integration mechanism so that 3rd party licensing managers can plugin to the designer. So far it was possible with the licx file mechanism. When I asked the question in this same thread, someone answered by:

But you now seem to indicate that licensing will never be implemented again. Implementing a complet

[2021-11-10 02:03] dhrdlicka opened #6151 "Setting a font form disables autoscaling"
* .NET Core Version:
6.0.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

Forms with an explicitly set font do not automatically scale on font/DPI size changes. The `AutoScaleDimensions` property is reset from whatever value the app was built with, to the current host settings when `Font` gets set. This leads to the form never getting adjusted when the de

[2021-11-10 03:26] RussKie commented on #6151
Please provide a simple project that reproduces the issue.

[2021-11-10 03:57] RussKie commented on #5884
Awesome!
Standing by for your API proposal. Feel free to open a draft PR to accompany it as well.

[2021-11-10 04:20] hdefucom commented on #6139
### I found the general problem.

I rely on the nuget package of framework 4.0 for an old style project file.
This problem occurs when there are too many controls in my project when using this package.
However, if the package project is updated to the SDK style project file, it can be debugged normally when packaged.

[2021-11-10 08:56] Danil-Andrianov commented on #6116
@merriemcgaw
Hi, Merrie! Yes, there is blocker. When cell is selected, there are two different color states for link: VisitedLinkColor and ActiveLinkColor. One of them we could make white, but there is no suitable color for another state.
So I decided to change the color of the selected cell and made it darker. Please, see the result below.
![image](https://user-images.githubusercontent.com/742288

[2021-11-10 09:44] Tanya-Solyanik commented on #5852
@Amy-Li03 - is this specific to the  ListView control? I suspect that this is a native control issue.

[2021-11-10 09:47] willibrandon commented on #5884
This will be a stretch for me but I'll start putting it together. I believe there are some other subtler features I haven't looked at yet such as the mouse cursor offset in relation to the drag image and how that allows for some cool things like insertion points with previews.

[2021-11-10 10:59] filipnavara opened #6152 "PerMonitorV2 DPI scaling not firing ScaleControl method for deeply nested layouts"
* .NET Core Version: 6.0 RTM

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Deeply nested controls don't get `ScaleControl` called when moving to secondary monitor (150% DPI -> 100% DPI) in PerMonitorV2 mode.

**Expected behavior:**

`ScaleControl` is always called for deeply nested controls when DPI changes.

**Minimal repro:**

To be done.

It looks lik

[2021-11-10 11:10] willibrandon commented on #5884
Note that the outer edges of the drag image are blended out if the image width or height exceeds 300 pixels.

[2021-11-10 11:48] lhak opened #6153 "Windows 11 snap layout does not work correctly when initiated from a maximized window"
When the Windows 11 snap layout functionality is invoked, the window is not resized correctly when it is started from a maximized state.

* .NET Core Version:

.net core 3.1

* Have you experienced this same bug with .NET Framework?:

**Problem description:**

**Expected behavior:**

The window should be sized correctly.

**Minimal repro:**

- Create a new winforms project
- Maximize the window
-

[2021-11-10 13:19] hdefucom commented on #6139
#### My whole project uses. Netframework 4.0

The entire solution uses SDK style project files.

However, some libraries are installed using nuget.

The problem is with this nuget package.
The nuget package is generated using an older version of the project file.
When I use the SDK style project file to install this nuget package,
and the number of project controls reaches two or three thousand,
t

[2021-11-10 14:02] SergeySmirnov-Akvelon opened #6155 "Comboboxes with "Flat" and "Popup" flat styles are not displayed in High Contrast mode"
.NET Core Version:
- 7.0.0-alpha.1.21556.5

Have you experienced this same bug with .NET Framework?:
- Yes

**Problem description:**
1. Create a `Form` with a `Combobox`
2. Set `Popup` or `Flat` flat style
3. Turn on High Contrast mode
4. Run the application

**Actual behavior:**
Comboboxes should be displayed are not displayed in High Contrast mode:
![image](https://user-images.githubusercontent.

[2021-11-10 14:24] filipnavara commented on #6152
Test app:
[WinFormsApp1.zip](https://github.com/dotnet/winforms/files/7513384/WinFormsApp1.zip)

On net5.0 TFM moving it to different screen (with different DPI setting) changes color:

https://user-images.githubusercontent.com/1764393/141130587-0c8d5f8a-1b96-4616-a10b-22d70624e462.mp4

On net6.0 TFM it stays gray because ScaleControl is not called:

https://user-images.githubusercontent.com/17643

[2021-11-10 15:03] kirsan31 commented on #6152
https://github.com/dotnet/winforms/pull/6130? Seems need to be servicing...

[2021-11-10 16:26] filipnavara opened #6157 "Forms created on non-primary monitors with different DPI have incorrect font size"
* .NET Core Version: 6.0 RTM

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Forms that are launches on secondary screen with different DPI (eg. primary = 150% or 144, secondary = 100% or 96) have incorrectly scaled fonts.

**Expected behavior:**

Correctly scaled fonts.

**Minimal repro:**

[WinFormsApp2.zip](https://github.com/dotnet/winforms/files/75143

[2021-11-10 16:27] filipnavara commented on #6157
Ref: https://github.com/dotnet/winforms/issues/4854

[2021-11-10 17:38] merriemcgaw commented on #6152
@dreddy-work  can you take a look?

[2021-11-10 17:41] merriemcgaw commented on #6157
@filipnavara is this a regression?

[2021-11-10 18:00] Shadowblitz16 commented on #2543
but win32 still supports it.
If the renderer is exposed from win32, winforms can just use that.

[2021-11-10 18:09] filipnavara commented on #6157
Yes, it is a regression. You can change the TFM in the app to `net5.0-windows` to see how it behaved previously.

[2021-11-10 18:10] merriemcgaw commented on #6116
I don't think I like that dark selection - it doesn't match up with the selected cell color anywhere else. Was there a yellow we could use for Visited Link?

[2021-11-10 18:13] dreddy-work commented on #6157
@filipnavara, Thanks for reporting this. I am looking into it.

[2021-11-10 18:15] dreddy-work commented on #6152
#6130 should help it here. Regarding service, given this is PerMonitorV2 mode, we may not be able to service but get it fixed in 7.0

[2021-11-10 18:16] weltkante commented on #2543
No, you got it backwards, the win32 API doesn't "support" anything, it is a description of what is being supported under various operating system versions. XP had an implementation of the win32 API and it is still documented which parts of the API were available under XP.

However compiling C++ code with Visual Studio has no longer been supported for XP for a while, the compiler will emit CPU inst

[2021-11-10 18:17] #5957 closed

[2021-11-10 18:17] #6152 closed

[2021-11-10 18:17] merriemcgaw commented on #3316
That is currently the plan of record. Perhaps the CryptoLicensing tool can be convinced to port to .NET 6. Are they using .NET Core otherwise?

My second post was not necessarily directed at your situation. The original problem that was raised in this issue was that there were issues with the WinForms designer and custom controls. We've done a lot of work to solve these issues, and everything shou

[2021-11-10 18:22] filipnavara commented on #6152
We absolutely need this serviced as it's a regressions from .NET 5 that is blocking upgrade to .NET 6 for us.

[2021-11-10 18:26] dreddy-work commented on #6152
Your app is already in PermonitorV2 mode? Is it possible for you to share your app?

[2021-11-10 18:28] filipnavara commented on #6152
It was PerMonitorV2 for a while on supported Windows versions. Unfortunately I cannot share the source code but it can be downloaded from https://www.emclient.com. I will ne happy to share any small bits of the source code if necessary to isolate any issues but I cannot share it as a whole.

[2021-11-10 18:30] dreddy-work commented on #6152
That is fine. I will request if i need any further. It helps in our validations to cross verify customer apps. Will update this thread on  servicing decision.

[2021-11-10 18:41] dreddy-work commented on #6099
We have checked in localized strings. On renaming directories, VS will be making necessary changes there and we do not need any further changes.

[2021-11-10 18:41] #6099 closed

[2021-11-10 18:46] dreddy-work commented on #6151
@dhrdlicka , its little unclear on how you are setting Font here. it would help to share  your test app here and also a possible giff with how you are changing system settings in this case.

[2021-11-10 19:04] willibrandon commented on #5884
Has anyone ever considered dragging text out of a textbox, like Word?

To implement dragging text, the WM_SETCURSOR message needs to be handled in order to set the cursor appropriately (I-beam vs arrow) when the mouse moves over selected text. Then the WM_LBUTTONDOWN message needs to be handled to check if a drag operation has been started which can be done using the [DragDetect](https://docs.micr

[2021-11-10 19:46] dreddy-work commented on #6157
Cached values for the property `ScaledControlFont `are indirectly fixed in the #5557. I do not expect this issue with latest bits from 7.0/main branch. I will be working on how to get this serviced. @filipnavara , did you try 7.0 bits here?

[2021-11-10 20:07] filipnavara commented on #6157
I'll retry with 7.0/main bits tomorrow when I am in the office with multi-monitor setup.

[2021-11-10 20:22] filipnavara commented on #6157
The font sizing is definitely working better on 7.0. I cannot verify it's 100% correct over VNC due to scaling issues with the remote desktop. Curiously, the forms are still created with a different size based on which displayed they were created on:

![image](https://user-images.githubusercontent.com/1764393/141187385-812b199b-23a3-4f69-91b9-2e4359a78ff6.png)

I think we had a workaround for that

[2021-11-10 20:42] dreddy-work commented on #6157
Sure. Or if you can retarget to 7.0?

[2021-11-10 21:09] filipnavara commented on #6157
Yeah, I can do that. I'd still need to build SWF myself to get version with 92921bb7f17c576db8bc2eced309c00b0947d344 since it will take some time to propagate to feeds and/or installer package. We have some workarounds that would likely interfere and make it hard to see if it really helped or if we're hitting other issue.

I did initial build with 7.0 (w/o 92921bb7f17c576db8bc2eced309c00b0947d344)

[2021-11-10 21:13] dreddy-work commented on #6157
If you have more details on other layout issue you are seeing, please share or open an issue against 7.0 and I will track it for 7.0 early preview.  I am getting these two issues you reported serviced in 6.0.

[2021-11-10 21:23] filipnavara commented on #6157
I hope these two issues are the only major ones. We need to remove couple of workarounds that are not necessary anymore (like our own workaround for initial scaling on non-primary display) and do a little bit more testing. Once I'm done with the testing I'll post an update! Thanks!

[2021-11-10 21:58] RussKie commented on #6144
The font descriptor must be culture agnostic. This is by design. We'll make sure to note this in the docs (these are coming shortly).

/cc: @adegeo FYI

[2021-11-10 22:04] RussKie commented on #6152
@dreddy-work it would be good to do a root cause analysis and find what changes caused this regression.

[2021-11-10 22:09] RussKie commented on #6157
This guide should help: https://github.com/dotnet/winforms/blob/main/docs/debugging.md#1-copy-your-changes-into-the-sdk
I also have a script that can installs/uninstall dev binaries https://gist.github.com/RussKie/bb11e213f04729603e533856865922c1

[2021-11-10 22:26] dhrdlicka commented on #6151
Here is a repro project: [AutoScaleDimensionsRepro.zip](https://github.com/dotnet/winforms/files/7516303/AutoScaleDimensionsRepro.zip)

I am changing DPI settings in the Settings app, though I also noticed that the bug can be reproduced by directly changing the `AutoScaleDimensions` in the designer code.

[2021-11-10 22:35] filipnavara commented on #6152
The incorrect code was first introduced in https://github.com/dotnet/winforms/pull/5032. Note that there's a similar `IsScaledByParent` method introduced in the same commit which is likely correct (but should be checked anyway by someone who understands it better).

[2021-11-10 22:36] filipnavara commented on #6157
@RussKie Thanks for the link! I'm equipped to make full source builds but this will likely same me a bit of time.

[2021-11-10 22:48] RussKie commented on #6152
Thank you @filipnavara, this is really helpful.

[2021-11-10 23:11] dreddy-work commented on #6152
That method was checking if parent hierarchy has a Container that could lead to scaling children. Given that it was not  looking for which parent Container, that should be good.

[2021-11-10 23:40] RussKie commented on #6144
@deng0 can you please provide more context - what is your Windows default locale, what is the application locale, etc.? Thank you

[2021-11-11 01:35] Amy-Li03 commented on #5852
@Tanya-Solyanik yes, this issue is specific to ListView control, other controls don't repro this issue.

[2021-11-11 01:46] kirbypinkgamer opened #6160 "bug: toolstripstatuslabel text"
* .NET Core Version:
.NET 6.0 (Visual Studio 2022)

* Have you experienced this same bug with .NET Framework?
No

**Problem description:**

When you create a toolstrip on a winform and add a toolstripstatuslabel with any Text property containing a '&' character in the string, the '&' character is not displayed. All rest of the string however is displayed but not the '&'.

**Expected behavior:**

T

[2021-11-11 04:25] kirbypinkgamer opened #6168 "question: chart in winforms .net 6.0"
Hi

In .NET 4.8 I used the chart UI widget in winforms UI designer to make different kind of charts (pie chart, bar chart, ...).
Now I try to port my .net 4.8 code to .net 6.0 but I can't find the chart widget anymore. It's just not in the list...

I use visual studio community 17.0

Thanks

[2021-11-11 04:26] kirbypinkgamer opened #6162 "question: chart in winforms .net 6.0"
Hi

In .NET 4.8 I used the chart UI widget in winforms UI designer to make different kind of charts (pie chart, bar chart, ...).
Now I try to port my .net 4.8 code to .net 6.0 but I can't find the chart widget anymore. It's just not in the list...

I use visual studio community 17.0

Thanks

[2021-11-11 04:29] RussKie commented on #6160
This is a duplicated of https://github.com/dotnet/winforms/issues/4294.

The workaround that works on .NET Framework and .NET versions is noted here: https://github.com/dotnet/winforms/issues/4294#issuecomment-735510324

[2021-11-11 04:29] #6160 closed

[2021-11-11 04:32] #6162 closed

[2021-11-11 06:46] deng0 commented on #6144
@RussKie
I see that you already committed a change that should fix this bug.
But anyway regarding your question:
The problem can be reproduced by setting the decimal symbol to comma in Control Panel - Region - Additional Settings:
![image](https://user-images.githubusercontent.com/4224837/141249489-002a3894-bc57-4b76-8c05-8760e79568e1.png)

Using `Size.ToString(CultureInfo.InvariantCulture)` is pr

[2021-11-11 07:08] RussKie commented on #6144
Yes, thank you. I just wanted to make sure I tested your specific scenario.

`CultureInfo.CurrentCulture` doesn't work well for regionally distributed teams, and would cause more friction than requiring common settings to be set the invariant culture.

[2021-11-11 07:22] Danil-Andrianov commented on #6116
@merriemcgaw In case of yellow we'll lose the required contrast. Do you think 4:1 will be good enough?

[2021-11-11 07:28] deng0 commented on #6144
@RussKie  Thanks for the quick reply.

I think you misunderstood. I was suggesting overriding CultureInfo.CurrentCulture with CultureInfo.InvariantCulture for Code Generators/Analyzers, to make sure that the same code is generated regardless of system culture.

[2021-11-11 07:34] egvijayanand commented on #6153
Facing the same issue with target framework as `net6.0`.

Rather than snapping to the selected option, the window gets restored.

[2021-11-11 07:58] kelicto commented on #6072
@RussKi
[KeLi.ColumnIndexErrorDemo.zip](https://github.com/dotnet/winforms/files/7518746/KeLi.ColumnIndexErrorDemo.zip)
e

[2021-11-11 09:34] filipnavara commented on #6157
I can confirm that using build from `main` with the two fixes (92921bb7f17c576db8bc2eced309c00b0947d344 and 9b77d919753564d3a47799c59ca426686e7daf70) resolves the issues in our app. There's one remaining problem with scaling of padding in one of our custom controls but it's very likely in our code and workaroundable/fixable.

[2021-11-11 10:03] SergeySmirnov-Akvelon opened #6165 "The application crashes when trying to get data about the DropDownList in the PropertyGrid through the Inspect"
.NET Core Version:
- 7.0.0-alpha.1.21558.10

Have you experienced this same bug with .NET Framework?:
- No (regression from #5638)

**Repro steps:**

1. Create an app with a `PropertyGrid` and button.
2. Set `Button` as `SelectedObject` property of `PropertyGrid`.
3. Run the app.
4. Run the Inspect.
5. Set focus to `Accessible Role` dropdown list.

**Actual behavior:**
The Application crashes:
![I

[2021-11-11 10:15] kpreisser commented on #6151
Hi, we also run into this issue after upgrading our app from .NET 5.0.12 to .NET 6.0.0: Forms are no longer scaled with high DPI modes when we set the `Font` property.

I can reproduce this also with the following minimal program (using 100% DPI mode) by setting different `AutoScaleDimensions` (as noted by @dhrdlicka):
[code]

Running with .NET 5.0.12 prints `Button.Width: Expected=80, Actual=80`,

[2021-11-11 11:39] filipnavara commented on #6157
We still found one case which was not addressed by #5557. I'll file a separate issue once we have a repro. The gist is that the Form gets created on non-primary monitor. It arrives to `OnHandleCreated` and the scaled font is cached. Then immediately after that _before the window is shown_ it gets moved to a position on a different monitor (in our case it's done by a component that saves/restores f

[2021-11-11 13:57] kirsan31 commented on #6168
Duplicate of https://github.com/dotnet/winforms/discussions/6163.

[2021-11-11 16:39] dreddy-work commented on #6151
Thank you  @dhrdlicka  and @kpreisser . I will look into it and get it addressed in coming servicing release.

[2021-11-11 19:59] dreddy-work commented on #6157
Very happy to hear that. 92921bb7f17c576db8bc2eced309c00b0947d344 is being back ported.
 We may not be able to backport 9b77d919753564d3a47799c59ca426686e7daf70 as-is because of risk associated there. I will look into getting a tailored fix to get back to 5.0 behavior there if possible.

[2021-11-11 20:10] merriemcgaw commented on #6116
I think we would have a technical violation, but I don't know how serious it is. Could we find some other way to indicate that the link has been followed rather than a new color? Maybe bold or italicize links that have been visited? That way we could keep the blue the way it is and the white will still follow contrast guidelines while making the links visibly different. It's not ideal, but it migh

[2021-11-11 20:49] ghost opened #6169 "toolstripstatuslabel question"
Hi

You just close this issue here https://github.com/dotnet/winforms/issues/6160
without any explanation.

What's the logic behind using "&&" in order to get "&" displayed on a toolstripstatuslabel ?
Why is this changed compared to .net 4.8?

[2021-11-11 22:59] #6168 closed

[2021-11-12 00:46] #2178 closed

[2021-11-12 01:25] dreddy-work commented on #6169
This has been the behavior even in .NET framework 4.8, how are you verifying this with Framework? can you share a sample and screenshots of it with .NET framework 4.8?

[2021-11-12 01:55] dreddy-work commented on #6139
@hdefucom , this issue is not WinForms specific and Visual Studio feedback ticket would be right place to raise this and it will be redirected to right team. Once raise feedback ticket, please add link to this issue for future reference. //cc: @tmeschter and @drewnoakes .

[2021-11-12 01:55] #6139 closed

[2021-11-12 01:57] merriemcgaw commented on #6127
Hi @peterYong, this repo is regarding the new open source version of WinForms, starting with .NET Core 3.0. It looks like your application is built on .NET Framework 4.5. .NET Framework is currently only taking high impacting servicing issues and security issues. Unfortunately, the HelpProvider control is not something that is in wide use anymore so I don't think that a servicing issue for it woul

[2021-11-12 01:57] #6127 closed

[2021-11-12 02:14] dreddy-work commented on #6139
I wasn't saying its Visual Studio problem but it will be redirected to right team if you raise feedback ticket via Visual Studio.

[2021-11-12 02:42] kirbypinkgamer commented on #6169
Hello

You only need to make a toolstripstatuslabel in .net 4.8 and .net 6.0, enter some text like "test&" and compare. You'll see only in .net 4.8 a single '&' is displayed while in .net 6.0 you need '&&' to display only a single '&'
I have no time to make screenshots of this trivial example...

[2021-11-12 02:49] dreddy-work commented on #6169
We did try on our end [here](https://github.com/dotnet/winforms/issues/4294#issuecomment-736930614):  and we could not repro it hence, requested on how you were able to get it working in Framework 4.8.

[2021-11-12 06:44] Lydia-Shi opened #6172 "Cannot open From designer when targeting to .NET7.0 in VB core Winforms application"
* .NET Core Version:
.NET 7.0.100-alpha.1.21558.2

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Form designer cannot be opened and keeps loading when targeting to .NET7.0 in VB core Winforms application.
![image](https://user-images.githubusercontent.com/54019172/141422099-f3436725-4ef6-420c-8fa5-325d7114efcc.png)

**Expected behavior:**
Form designer can

[2021-11-12 07:51] michaelongithub commented on #4623
VS 2022/17.0.0: Datasource dropdown (in Control like DataGridView): klicking dropdown arrow: VS goes into Design error screen and dies.
Menu Project: Add Datasource: Empty tool window opens with: this window is not supported for selected Project.
So no way to add ado.net designed dataset to datasources in project.

[2021-11-12 12:22] filipnavara opened #6173 "PerMonitorV2: DPI scaling not firing ScaleControl when custom Font is used"
* .NET Core Version: 6.0, 7.0/main

* Have you experienced this same bug with .NET Framework?: No (also works in .NET 5)

**Problem description:**

This is variation of problem reported in #6152 with the twist of setting `Font` on one of the controls. It is a regression from .NET 5.

**Expected behavior:**

`ScaleControl` is called consistently when moving window to display with different DPI.

**

[2021-11-12 14:47] kirsan31 commented on #6173
May be related to https://github.com/dotnet/winforms/issues/6151?

[2021-11-12 15:14] filipnavara commented on #6173
@kirsan31 Thanks, looks related.

[2021-11-12 17:01] KlausLoeffelmann commented on #4623
Yes, _new_ Typed DataSets are not supported in 17.0. Since this is a 20 year old, not very performant technology, we recommend to look into our modern and way more performant alternatives: Entity Framework and EFCore. [Take a look here](https://docs.microsoft.com/en-us/ef/core/get-started/overview/first-app?tabs=netcore-cli), for example as a start. With those, you can use the new _Add new Object

[2021-11-12 17:25] michaelongithub commented on #4623
It is a new solution, just this one form for testing and trying to narrow down the problem. Until now on all Machines (3) we tried (Win 10 and Win Server 2019) crash consistently on  clicking "choose datasource" dropdown. (And also forms after creation not opening in designer at all but only in code behind forms)
We have however quit large .net Framework Winform apps that we need to migrate.  All

[2021-11-12 18:31] dreddy-work commented on #6157
@filipnavara , [9b77d91](https://github.com/dotnet/winforms/commit/9b77d919753564d3a47799c59ca426686e7daf70) is solving initialization on the secondary monitor and helping scale it when moved back and forth between primary and secondary monitor. Just wanted to check back with you if you had a work around here and can be used for your product? a tailored fix to bring back 5.0 behavior for a Form th

[2021-11-12 19:03] filipnavara commented on #6157
We had a workaround for that scenario with .NET 5: https://gist.github.com/filipnavara/0cd86bba0aca62e416d46e19361ec6fa#file-gistfile1-txt-L114-L158. I am pasting the whole file as-is but we already modified it significantly for .NET 6 to remove most of the workarounds: https://gist.github.com/filipnavara/f6d6f7af8102107a56709edd1b00e85d

[2021-11-12 19:21] KlausLoeffelmann commented on #4623
So, you're saying that already happens, when you create a new WinForms Project, just put a a DataGridView on it, and open the Binding Picker of that DataGridViews Tasks?

Is it a localized Version?

Do you have any special  Business classes imported at that time?

What framework are you targeting for the test project?

[2021-11-12 20:12] dreddy-work commented on #6172
@Lydia-Shi this will best investigated in designer repo.

[2021-11-12 20:49] KlausLoeffelmann commented on #4623
BTW: I tested this on a different machine, in German Visual Studio 17.0 GA, against .NET 5.0 and .NET 6.0 and in C# and VB. Always the same result, never had any problems opening the Data Binding Picker. Any other ideas what to try to repo?

![image](https://user-images.githubusercontent.com/9663150/141532565-0a7e3ba1-b6fe-487a-876b-66ffe2ccc912.png)

[2021-11-12 21:06] willibrandon commented on #5884
I've hit a little bit of a snag. Drag images don't seem to work well with the RichTextBox and I need some time to figure out why.

[2021-11-13 00:15] dreddy-work commented on #6173
Both have same root cause.

[2021-11-13 00:53] dreddy-work commented on #6173
I am resolving this as dupe for #6151 and tracking release there.

[2021-11-13 08:58] vladimir-krestov commented on #4876
Looks like there is an incorrect accessibility tree. "Available values" list and DropDownHolder are different components.
DropDownHolder includes the values list.
- So the first way is to add a new "DropDownHolder" layer (red in the pic), like this:
![image](https://user-images.githubusercontent.com/49272759/141472510-82eea00f-c203-400e-9bd4-a16939932f19.png)
- The second way is to change HitTest

[2021-11-13 12:40] michaelongithub commented on #4623
@KlausLoeffelmann  Thank you for trying. Now found out, what caused the problem (.net 6.0): Had not installed System.Data.SqlClient.

Steps to reproduce:
1. Create .net core 6.0 Winform Project
2. Add typed Dataset
3. Draw Table from ServerExplorer connected Database into Dataset Designer surface. One can even preview Data in the default TableAdapter.
4. Draw Datagridview from Control Tool Window

[2021-11-13 17:18] KlausLoeffelmann commented on #4623
That option should probably also be disabled for .NET Apps, because it relies on the Data Source Provider Service.
@John-Hart, is that something which is supposed to work?

I'll look into it. As I said: While only existing Typed DataSet definitions are (limited) supported, whose definition files were brought over from a Framework App for purely migration purposes (you can open the Form containing

[2021-11-14 16:37] mottykohn opened #6176 "For control Name use nameof instead of hardcoding"
**Is your feature request related to a problem? Please describe.**

The generates code-behind for any given control looks like this
[code]
The name is hard-coded. When renaming a control using f2 or ctrl-r-r you need to update the hard coded name.

**Describe the solution you'd like and alternatives you've considered**
Was wondering if it would be possible the generate code the looks like this
[co

[2021-11-15 02:01] docfresh opened #6177 "Outdated Settings Documentation / Portable settings documentation"
The Application Settings help file [here ](https://docs.microsoft.com/en-us/dotnet/desktop/winforms/advanced/application-settings-for-windows-forms?view=netframeworkdesktop-4.8&WT.mc_id=DT-MVP-5003235)is outdated. It refers to .NET 4 but not 5 or 6.  I can't find an updated version.  Some of the relevant info is [here](https://stackoverflow.com/questions/65518159/where-are-the-settings-saved-in-a-

[2021-11-15 03:36] #6177 closed

[2021-11-15 03:39] RussKie commented on #6176
It is currently not technically possible as the CodeDomSerializer isn't aware of the new Roslyn constructs. However we have work in the pipeline that may eventually address this limitation.

/cc: @DustinCampbell

[2021-11-15 03:39] #6176 closed

[2021-11-15 04:11] dakusan opened #6181 "WinForms TextBox Caret does not blink"
I'm using .NET Core 3.1, but another user on StackOverflow reported the same problem in .NET 5. And one user reported “Mine blinks 5-6 times then stops blinking.”.

I have a System.Windows.Forms.TextBox that I added to the form through the designer in Visual Studio 2019 C# to a “Windows Forms App (.NET Core)” project. The caret just stays solid and does not blink. The Win32 APIs don't seem to help

[2021-11-15 05:13] #6126 closed

[2021-11-15 19:44] dreddy-work commented on #6173
@filipnavara , I appreciate if you can validate your original application with the changes made in the linked PR and confirm.

[2021-11-15 19:49] dreddy-work commented on #6151
@dhrdlicka and @kpreisser ,  draft PR is up and linked here. Would you help check your applications targeting 6.0 working fine with this change?

[2021-11-15 20:52] John-Hart commented on #4623
@michaelongithub it would be verify helpful if you could report this issue from within Visual Studio via the Help > Send Feedback > Report a Problem menu.

Thanks!
John

[2021-11-15 21:15] michaelongithub commented on #4623
ok, will do.

[2021-11-15 21:54] John-Hart commented on #4623
thanks @michaelongithub  - really appreciate it.
@KlausLoeffelmann, I did take a quick look and it looks to me like the exception is happening in the winforms designer not the data provider

[2021-11-16 00:01] #6181 closed

[2021-11-16 02:18] TempeBrennan opened #6186 "IDesigner interface deosn't take effect in .net core"
* .NET Core Version:
* 6.0.100-rc.2.21505.57

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

I can see "IDesigner" interface is available in official document
[MS document](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.design.idesigner?view=net-5.0)
![image](https://user-images.githubusercontent.com/51563666/141883724-10f651da-5dff-4490

[2021-11-16 02:19] RussKie opened #6187 "We are not rounding corners in button borders on Win11"
* .NET Version: 7.0 Preview1

**Problem description:**

https://github.com/dotnet/winforms/pull/6059 updated the colour of the `Button`'s borders, however it regressed the rendering on W11

Here's .NET 7.0 vs .NET 6.0
![image](https://user-images.githubusercontent.com/4403806/141871191-4bedd74e-88f9-4ff7-b693-8dac5afdb48e.png)
...magnified:
![image](https://user-images.githubusercontent.com/440380

[2021-11-16 02:20] RussKie commented on #6187
@merriemcgaw please prioritise

[2021-11-16 06:19] ahdung opened #6189 "Application wide private fonts"
Consider this API:
[code]
like `PrivateFontCollection.AddFontFile`, but more useful, `PrivateFontCollection` not friendly for third-party components, no source code, it maybe load font from configuration file, use `FontConverter` convert from `string`, the finally is `new Font(string)`, but this way is not respect private fonts.

So we need a way to set applicationOrProcess-wide private fonts, and

[2021-11-16 08:22] michaelongithub commented on #4623
@John-Hart unfortunately cannot log in to report problem as you suggested. using my company user/pwd that works for office365, VS, Teams, everything else.

[2021-11-16 10:53] kpreisser commented on #6151
Hi @dreddy-work,
thanks for providing the PR.
Unfortunatly, when testing the above minimal program with `System.Windows.Forms.dll` built from the PR (commit 628ebc015b8663b68039bdb6bd72fdfda71ca2d8), I can still reproduce the issue that the form is not scaled when `f.Font` is set after `f.AutoScaleMode`, but it is scaled when switching the two lines. Additionally, I can reproduce it with our appli

[2021-11-16 11:11] kirsan31 commented on #6151
@kpreisser this is different issue (your bug is from the days of .net framework - no regression). See https://github.com/dotnet/winforms/issues/3202.
And original issue is regression (according to the author) even from .net5. But I don't really know how his code could work in .NET Framework and .Net5 due to not fixed #3202 :man_shrugging:

[2021-11-16 12:33] kpreisser commented on #6151
Hi @kirsan31,

when I run the code from https://github.com/dotnet/winforms/issues/6151#issuecomment-966177823 with .NET Core 3.1.21 and .NET 5.0.12, the form is correctly scaled. Only when running it with .NET 6.0.0, it is not scaled. So it seems to be a regression from .NET 5.0 as noted in the OP; I don't think it's a different issue.

However, the symptoms (scaling works again when `Font` is set

[2021-11-16 13:11] kirsan31 commented on #6151
Ok, I figured out what's going on.

0. The root of all problems are : *DPI scaling is broken if font of the form set after DPI scaling logic code*. See [#3202](https://github.com/dotnet/winforms/issues/3202) for details.
1. The necessary conditions for [#3202](https://github.com/dotnet/winforms/issues/3202) (all framework versions) are:
   1. `AutoScaleMode.Font`.
   2. Font of the form must be di

[2021-11-16 13:16] kpreisser commented on #6151
Hi @kirsan31,
thank you. That matches with what I figured after debugging .NET 5.0:
In NET 5.0, the `Control.Font` setter had the following condition which checks `!resolved.Equals(value)`:
https://github.com/dotnet/winforms/blob/6120af5607760b0daa3530a8cf8f8777c6992631/src/System.Windows.Forms/src/System/Windows/Forms/Control.cs#L2127-L2147

So, when setting the font as `new System.Drawing.Font("

[2021-11-16 14:30] fivage opened #6190 "form.ShowDialog(owner) with owner that is Topmost stays hidden behind the owner"
* .NET Core Version: 5

* Have you experienced this same bug with .NET Framework?: No, works correctly in 4.7.2

**Problem description:**

form.ShowDialog(owner) with owner that is Topmost stays hidden behind the owner.

**Expected behavior:**

It should be put in front of the owner

[2021-11-16 16:04] deng0 opened #6191 "ApplicationConfiguration: bug with DPI scaling when ApplicationDefaultFont is set"
* .NET Core Version:
6.0.0

**Problem description:**
When ApplicationDefaultFont is set in the csproj, there is a problem with the autogenerated ApplicationConfiguration, namely that Application.SetDefaultFont is called before Application.SetHighDpiMode, which breaks DPI scaling.
When ApplicationConfiguration.Initialize() is not used and the commands are called in the correct order instead, DPI sc

[2021-11-16 18:00] dreddy-work commented on #6151
Thanks Guys. For now, I delinked the other bug that duped to this and get fixes out separately.

[2021-11-16 19:20] bartonjs commented on #5912
Looks good as proposed

[code]

[2021-11-16 21:26] dreddy-work commented on #6125
@RussKie, I tried this on my machine with standalone app but could not repro. Only difference is, I have latest bits here.

[2021-11-16 23:33] RussKie commented on #5912
Setting as up for grabs.

[2021-11-16 23:58] RussKie commented on #6125
I'll test it against the main and see if it's been fixed.

[2021-11-17 00:40] RussKie commented on #6189
Could you please elaborate more on your request - why is this necessary or useful. Also please provide a customer-facing example of how you expect this to be used.

[2021-11-17 00:42] RussKie commented on #6190
Please provide a repro that shows the issue. Also an animation of the issue would help.

[2021-11-17 01:46] RussKie commented on #6125
Tested against the latest main. It is still happening for me on a secondary monitor with 150% SF (the primary monitor is at 100%)

https://user-images.githubusercontent.com/4403806/142094113-ff1f3f9f-ff04-444a-b03a-52681a32da66.mp4

[2021-11-17 04:12] #6037 closed

[2021-11-17 04:33] Philip-Wang01 commented on #4838
Verified this issue with latest .NET SDK 7.0.100-alpha.1.21566.13 build, it is fixed that The button properly aligned and display the text while setting custom scaling (150%)
![image](https://user-images.githubusercontent.com/86937911/142134659-d13088a2-f7ed-4a4e-ad8f-4905f234b1bb.png)

[2021-11-17 04:47] Philip-Wang01 commented on #5774
Verified this issue with latest .NET SDK 7.0.100-alpha.1.21566.13 build, this issue has been fixed.

![image](https://user-images.githubusercontent.com/86937911/142136464-17e53f94-d516-4d3a-b5b4-76ef0a0ab9a3.png)

[2021-11-17 05:58] Amy-Li03 commented on #6093
Verified this issue on .NET 7.0.0-alpha.1.21566.13 build, issue was fixed.
![Fixed](https://user-images.githubusercontent.com/62929087/142143149-035c157c-f4e8-498e-9ac8-dd2f60b81ecf.gif)

[2021-11-17 06:45] Olina-Zhang commented on #6041
Verified this issue with latest .NET SDK 7.0.100-alpha.1.21566.13 build, it is fixed:
![GHIssue6041_withPrivates](https://user-images.githubusercontent.com/26474449/142148288-239c9b9f-0a3f-43d6-b245-c4b8db2c00e3.gif)

[2021-11-17 07:02] Lydia-Shi commented on #2178
Verified this issue with .NET 7.0.100-alpha.1.21566.13 from latest main branch, this issue is fixed that empty DGV can get blue Narrator rectangle.
![image](https://user-images.githubusercontent.com/54019172/142148816-672d66bc-88a4-40af-89ca-8c7319f1c2e6.png)

[2021-11-17 07:19] Lydia-Shi commented on #1587
Verified this issue with .NET 7.0.100-alpha.1.21566.13, this issue is fixed.
![image](https://user-images.githubusercontent.com/54019172/142154152-8623fbaf-5949-452b-8ba6-07c0fcf741be.png)

[2021-11-17 08:06] Ashley-Li commented on #5493
Verified this issue with .NET 7.0.100-alpha.1.21566.13, this issue is fixed.
![test_result](https://user-images.githubusercontent.com/56664234/142159741-df4a5b2c-bf35-457a-93c1-8de9d903d3cd.gif)
.

[2021-11-17 08:59] Amy-Li03 commented on #5957
Verified this issue on .NET 7.0.0-alpha.1.21566.13 build, issue was fixed.
1. Opened on secondary monitor set to 150% DPI when primary monitor is set at 100% DPI. Works well
![Pic3](https://user-images.githubusercontent.com/62929087/142169227-c59324a2-c5a8-465b-a6c3-084ee9c5ce23.png)

2. Opened on primary monitor set to 100% DPI then dragged onto secondary monitor at 150% DPI. Works well
![Pic4](h

[2021-11-17 09:12] mansai commented on #4908
NET 6.0 Support designer
 System.Windows.Forms.Design.DataGridViewDesigner

The VS-specific designer functionality will be made available, because it makes very sense outside the VS.

For example: User form Designer

[2021-11-17 09:25] Ashley-Li commented on #6152
Verified this issue on .NET 7.0.0-alpha.1.21566.13 build, issue was fixed. When moving to secondary monitor (150% DPI -> 100% DPI) in PerMonitorV2 mode, changes color. Please see below video:[test_resut.zip](https://github.com/dotnet/winforms/files/7553376/test_resut.zip)

[2021-11-17 11:11] AmalRajUmapathySelvam opened #6193 "Couldn't edit collection property in designer if collection editor is implemented to process with different class types"
* .NET Core Version: **.NET 5.0**

* Have you experienced this same bug with .NET Framework?: **No**

**Problem description:**

Collection editor for a custom collection is not shown in NET 5.0, whereas it is shown and is working fine in NET Framework, if the custom collection class has different derived classes.

**Expected behavior:**
Collection editor in the CustomCollection property should be

[2021-11-17 12:46] SergeySmirnov-Akvelon commented on #5676
`@SergeySmirnov-Akvelon Is this the similar issue: #5502?`

Hi @Olina-Zhang. This bug is more about the fact that it is difficult for the user to see the differences between the checked and the focused button.

[2021-11-17 19:31] dreddy-work opened #6197 "Remove or Update Obsolete property AssemblyName.ProcessorArchitecture use in Winforms"
This is a tracking bug to validate and remove use of obsolete property `AssemblyName.ProcessorArchitecture` in Winforms.
Currently (.NET 4. 0 and above versions), `AssemblyName.ProcessorArchitecture` is always set to None for reference assemblies. However, if we load an explicit assembly, we may get the architecture that the binary was targeting. Given this property was used in public API `GetReso

[2021-11-17 19:51] dreddy-work opened #6199 "Cleanup flags and use bitfields wherever possible in ContainerControl class"
This is a tracking bug for the comment on https://github.com/dotnet/winforms/pull/6198#pullrequestreview-809063648.

Goal is to move some of the Boolean flags in the ContainerControl Class to a bitfields to improve performance.

[2021-11-17 20:41] #3796 closed

[2021-11-17 22:43] #6173 closed

[2021-11-18 00:23] RussKie commented on #6186
This is a known issue. It is on our radar, and the current plan to get it fixed in one of the upcoming 17.x release.

In general issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, et

[2021-11-18 00:23] #6186 closed

[2021-11-18 02:19] VinoWang01 commented on #3883
Verified with .NET SDK 7.0.100-alpha.1.21566.13 build, this issue is fixed now.
![image](https://user-images.githubusercontent.com/90816462/142339350-3c1d5472-ded8-459c-9184-47f0bcb2588b.png)

[2021-11-18 02:47] TempeBrennan commented on #6186
@RussKie Thanks, I got it.

[2021-11-18 02:57] VinoWang01 commented on #6021
Verified with .NET SDK 7.0.100-alpha.1.21566.13 build, this issue is fixed now.
![image](https://user-images.githubusercontent.com/90816462/142343518-0ecd4a12-20f9-4555-8fcf-a6ea1edb3c37.png)

[2021-11-18 03:08] Tanya-Solyanik commented on #3883
Sorry, when I said "white" I did not mean hardcoded white color. I meant color that resolves to white in standard theme... Could you please try SystemColor.HighlightText

[2021-11-18 03:44] RussKie commented on #4908
Please elaborate and explain a use case where VS-centric designers is required outside VS.

[2021-11-18 04:24] ahdung commented on #6189
Sure. First of all thank you for your response.

I'm using a reporting component named [FastReport](https://www.fast-report.com/en/product/fast-report-net/), I made a report file `a.frx` by its designer, this file with follow contents:
[code]
Note there is a `TextObject` with font property, `FastReport` engine read it and render this `TextObject` element, How read? use `FontConverter.ConvertFromSt

[2021-11-18 04:49] ahdung commented on #6189
use case:
[code]

[2021-11-18 05:59] Amy-Li03 commented on #6193
Verified this issue on .NET 5.0 & 6.0 & 7.0, this issue all reproduced on these versions. And if we add a winforms user control to WinForms .NET core project, then add custom property for this user control, collection editor icon of custom property also **doesn’t show** in properties window.
In addition, we found an issue: [2655 ](https://github.com/dotnet/winforms-designer/issues/2655) in GH desi

[2021-11-18 06:13] RussKie commented on #5405
I've reviewed the proposal, and compared it against the existing API. I'm proposing few tweaks:

[code]

[code]

[code]

[code]

I'm a little ensure about the proposed default value for the `TestFileCreate` - what's the current implementation's behaviour?
[code]

Please let me know if you have any questions or objections. If not, please update your proposal, and then I think we'll be ready to pass

[2021-11-18 10:49] Olina-Zhang commented on #4854
@dreddy-work  verify this issue in HDPI full testing again on .Net 7.0 build, I found this issue was not fixed well on both .Net 7.0 and .Net 6.0 builds: the Form deviceDpi value is not correct on secondary screen. Please see following testing result:
.Net 7.0 launch test app on **300%** secondary screen directly:
![image](https://user-images.githubusercontent.com/26474449/142401332-aa8dfa8e-2746-

[2021-11-18 10:50] AmalRajUmapathySelvam commented on #6193
@Amy-Li03 - I couldn't view the above mentioned issue.

[2021-11-18 13:08] filipnavara commented on #6173
@dreddy-work Sorry, I was out on public holiday. I've tested it with our app and the fix definitely improved things for us significantly. Thanks!

We still have one issue where explicit setting of `Font` does one additional rescaling of `Padding` but I was not able to reproduce it in isolated app yet and it was likely happening in .NET 5 too.

[2021-11-18 14:15] filipnavara commented on #6173
@dreddy-work I spoke too fast, now we get this crash in a reproducible scenario:

[code]

Code for `ThemeForm.OnHandleCreated`:
[code]

The font assigned to `this.Font` is valid and not disposed. It goes into `SetFont` and the code path with `localChanged`.

[2021-11-18 15:08] filipnavara commented on #6173
So, our Font got disposed from here when the main window was moved to secondary screen:
https://github.com/dotnet/winforms/blob/29e805d6d3e60144a31dad96d848cdcfe454e4eb/src/System.Windows.Forms/src/System/Windows/Forms/Control.cs#L12278-L12282

[code]

[2021-11-18 15:10] ASYSTEMS-Mathieu commented on #4311
Created a fresh .net6 project on VS2022 and I cannot open the designer when the form inherits another form. Sometimes the designer just loads forever, sometimes it displays an error "The connection to the server has been lost".

[2021-11-18 15:12] filipnavara commented on #6173
Ah, now I see it. It's this line that broke it all:

https://github.com/dotnet/winforms/blob/29e805d6d3e60144a31dad96d848cdcfe454e4eb/src/System.Windows.Forms/src/System/Windows/Forms/Control.cs#L11421

That causes our font to be disposed later. I'll open separate issue.

[2021-11-18 15:16] filipnavara opened #6201 "Fix in #6198 causes assigned fonts to be inadvertently disposed"
There's a new regression introduced in #6198 and described in comments [here](https://github.com/dotnet/winforms/issues/6173#issuecomment-972904545).

We assign a custom `Font` to a control that is propagated by the new code into `ScalableControlFont`:
https://github.com/dotnet/winforms/blob/29e805d6d3e60144a31dad96d848cdcfe454e4eb/src/System.Windows.Forms/src/System/Windows/Forms/Control.cs#L1142

[2021-11-18 15:26] filipnavara commented on #6201
Note that this was already fixed once in https://github.com/dotnet/winforms/commit/9b77d919753564d3a47799c59ca426686e7daf70#diff-07a0a87cedab0d76c974ce8b105912a1b986c87116c7ee0ac73d6d5d65e4b48a and reintroduced.

[2021-11-18 16:17] kirsan31 commented on #4311
@ASYSTEMS-Mathieu

I think https://github.com/dotnet/winforms/issues/3338 thread is most relevant for this. Also, provide simple repro pls, because examples that I've tried working well.

[2021-11-18 18:39] dreddy-work commented on #6201
Thanks @filipnavara reporting this. I am getting this corrected.  QQ: given that you are creating a new Form after moving to a new monitor with different DPI, reusing the old Font may not give the right size for the new monitor. What scenarios, where you still need unscaled Font?

[2021-11-18 19:17] Tanya-Solyanik commented on #4876
Could you please elaborate on these options?

Where are you suggesting to add DroppDownHolder to? Are you suggesting to return it's accessibility object from the navigation APIs?

The second tree looks cleaner, and might be preferable to user experience. But I would think that navigation interfces would need to change as well to ensure parent-child link between the propertygrid entry and the list

[2021-11-18 19:23] filipnavara commented on #6201
We hit this in couple of different scenarios. Firstly, we have global cache of fonts derived from the system MessageBoxFont. We never dispose these fonts over the lifetime of the application (at least not unless the system fonts change).

These fonts are then assigned to some controls. When WinForms didn't have the concept of default font we assigned it to every Form. We also assign the derived ve

[2021-11-18 20:57] #4816 closed

[2021-11-18 22:26] #5960 closed

[2021-11-18 22:29] eriawan commented on #5912
@RussKie

I think this issue is quite straightforward.
Could I have and work on this issue? Please assign to me, thanks in advance! 🙂

[2021-11-18 22:59] #6020 closed

[2021-11-18 23:05] #5413 closed

[2021-11-18 23:24] merriemcgaw commented on #6189
Hi @ahdung,

This seems to be a bit specific to the FastReports tool, and in that case it would be better done in that utility. If you have any scenarios that would benefit from it that are not specific to a particular tool, that will help us evaluate whether or not we want to take it into the full WinForms runtime where it exists for all customers.

[2021-11-18 23:31] #6169 closed

[2021-11-18 23:59] dreddy-work commented on #6153
We may have to do something like described here: https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/apply-snap-layout-menu

[2021-11-19 00:05] dreddy-work commented on #6072
@kelicto , its still unclear on what the issue here is and what you are expecting. Given this has been the case from .NET framework, we would need detailed explanation of the issue and how its going to help users outside of your application.

[2021-11-19 00:47] RussKie commented on #5912
Awesome, all yours @eriawan :)

[2021-11-19 01:05] kelicto commented on #6072
I don't get target datagidview column by index. So, I have to use name to get it.

[2021-11-19 01:07] RussKie commented on #3263
Do the [`Application.SetDefaultFont(Font)`](https://docs.microsoft.com/dotnet/api/system.windows.forms.application.setdefaultfont?view=windowsdesktop-6.0) and  new [application bootstrap functionality](https://aka.ms/applicationconfiguration) help addressing or mitigating the issue?

[2021-11-19 01:09] RussKie commented on #4937
I'm going to close this as it is an OS level bug and there's little we can go on out end but to wait. I may wish to consider submitting a feedback via the Windows Hub.

[2021-11-19 01:09] #4937 closed

[2021-11-19 01:39] ahdung commented on #6189
@merriemcgaw As I know, almost all document presentation solutions store font information in the doc, `html, rdl(your report), xaml(your thing)...`, this is not a difficult to imagine thing. Apps reads text literal and constructs the font, this process is often internal, developers can't control it, can't pass `PrivateFontCollection` or something. Basically I think `PrivateFontCollection` is a thi

[2021-11-19 01:44] RussKie commented on #6189
[`PrivateFontCollection`](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Drawing.Common/src/System/Drawing/Text/PrivateFontCollection.cs) is owned by https://github.com/dotnet/runtime/, where does Windows Form come into the picture?

[2021-11-19 01:52] ahdung commented on #6189
@RussKie I'm not reporting a issue about `PrivateFontCollection`, I wish winform have a app-wide private fonts solution.

[2021-11-19 02:15] RussKie commented on #6072
If this is a behaviour that exists in .NET Framework (even if it may appear as a bug) then it is unlikely that we can or will change it because other users may have come to depend on it.

I have also written a little sample, and I can reference columns by `Name`:
![image](https://user-images.githubusercontent.com/4403806/142551166-4918d210-0d0c-4e0c-a4c2-0bc80216aceb.png)

[2021-11-19 02:20] RussKie commented on #4311
@ASYSTEMS-Mathieu  please report issues with VS and VS Designer via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the cause.

Please post the link to the VS Feedback

[2021-11-19 07:07] kirsan31 commented on #3263
@RussKie

Sadly - no, it's simply change starting font of the app, controls font scaling problem remains the same.

I suddenly thought that most likely I went from the wrong side. Probably it will be much easier to allow (optionally) the control to scale from the system font even if it has a fixed font (like you do it with app default font)?

[2021-11-19 09:48] valimaties commented on #4641
I have the same problem on my system.
I've activated _verbose_ log and this is my log:

[11:04:13.6100796] [EticheteWF]: Launching design tools server process...
[11:04:14.9853264] [EticheteWF]: Connected to named pipe: DesignToolsServer.c3c3225e-998b-49d2-b928-6f2e982a5647
[11:04:14.9931347] [EticheteWF]: info: Design Tools Server[0]
[11:04:14.9931347] [EticheteWF]:       Connecting to pipe: Desi

[2021-11-19 19:52] lhak commented on #6153
Workaround I have found:

Handle the WM_WINDOWPOSCHANGED message and reset the saved window coordinates:

[code]

Not sure if there are any negative side effects, but so far it is working fine for me.

[2021-11-19 21:38] merriemcgaw commented on #6189
@ahdung I appreciate your suggestion and we will take it under advisement. At this point it does not alight with our current goals for .NET 7 and we haven't heard any more specific requests in this space from other customers, so I am going to close this issue. That said, if we have additional requests from more customers I am more than happy to reconsider that for a future release.

[2021-11-19 21:38] #6189 closed

[2021-11-19 21:51] merriemcgaw commented on #4623
@michaelongithub we have strict privacy protocols and do not save usernames/passwords when the VS Feedback option is used. You can send that feedback directly from Visual Studio from the feedback button
<img width="153" alt="image" src="https://user-images.githubusercontent.com/20996271/142695722-c2c58b0b-062e-40e0-8e05-fa9cb9025c00.png">
In that case we don't collect username/password. The only w

[2021-11-20 01:05] ahdung commented on #6189
@merriemcgaw It is really so said. This matter does not require a lot of work, just need a global `PraviteFontCollection`, and let the font constructors access it first. This is not a major or breaking change.

In addition, users will not express all their dissatisfaction, most time we tend to overcome. If we think according to the amount of user requests, we don't even need C, Punched tape is eno

[2021-11-20 10:22] michaelongithub commented on #4623
@merriemcgaw  tried to to as @John-Hart asked. In my VS 2022 GA Help/Feedback/Report Problem opens https://developercommunity.visualstudio.com/report?...... in browser and there I cannot log in with the credentials I am logged in in VS. Just wanted to inform @John-Hart since I said I would do that. For my needs the matter is settled. (VS dying with the above steps remaining)

[2021-11-21 04:37] willibrandon commented on #5405
Those tweaks look good to me, thanks for taking a look. The proposed default value for `TestFileCreate`, or `CheckWriteAccess` should be true which is the current default behavior. I'll update the proposal with your suggestions and if you have any other thoughts on `CheckWriteAccess` please let me know.

[2021-11-21 20:30] willibrandon commented on #5405
The proposal has been updated and thank you for the suggestions @RussKie.

[2021-11-22 00:56] RussKie commented on #5405
Thank you. Marking as ready for review by the API Review Board.
The review may take awhile, once the proposal is reviewed a member of the ARB will post here.

[2021-11-22 03:36] kelicto commented on #6072
Yes. Working on .NET Framework 4.x.

[2021-11-22 06:33] michael-eddy opened #6255 "FormClosing.Cancel not working"
I used the `FormClosing` event block the form closing before the data has saved.
but it's not working after i set `e.Cancel = true`,it's still closed “automatic”...
so it's that a BUG or it's just???
![微信截图_20211122143023](https://user-images.githubusercontent.com/22364738/142811896-000f91e7-aaf1-4e28-852d-7d907b2d0637.png)
![微信截图_20211122143045](https://user-images.githubusercontent.com/22364738/

[2021-11-22 07:30] Olina-Zhang commented on #4854
Form is scaled well when launching app in secondary screen directly, we can check it in Spy++, but the control: label gets Form.DeviceDpi value is not correct when launching app in secondary screen directly.
Here is the result when launch app on 300% DPI secondary screen directly:
![image](https://user-images.githubusercontent.com/26474449/142820764-32a0b302-5d19-444e-9203-3855829aae1f.png)

[2021-11-22 11:51] kelicto commented on #6072
My explicitly created columns coincided with the number of entity attributes, and I didn't realize that I had to set AutoGenerateColumns to false. Therefore, I failed to find this problem in time, and I think that if the index value is all 0, it is equivalent to a state of inoperability. If it is obtained, an exception should be thrown: tell the user to obtain it only when AutoGenerateColumns is f

[2021-11-22 13:25] DmitryGorokhov opened #6210 "ComboBox control has incorrect highlighting of opened drop-down list in Inspect"
**.NET Core Version:**

- 6.0.100

**Have you experienced this same bug with .NET Framework?:**

- Yes

**Minimal repro:**

1. Create an app with a ComboBox control.
2. Build the app and run it.
3. Run the Inspect.
4. Investigate drop-down list opening using Inspect.

**Actual behavior:**

Inspector highlights entire list when drop-down list is opened. So ComboBox control has incorrect highlightin

[2021-11-23 00:50] dreddy-work commented on #6210
@DmitryGorokhov , how is Accessibility Insights tool treat this? in either case, this doesn't seem to blocking accessibility users. If insights tool matches with narrator, we may just close this.

[2021-11-23 00:56] RussKie commented on #4641
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2021-11-23 01:03] #6191 closed

[2021-11-23 01:05] merriemcgaw commented on #4641
We are aware of difficulties with the loading of complex forms and have been working hard in VS 2022 to improve the load time. This is an ongoing process as we find various ways to make this loading an asynchronous process. If you're running into significant problems with your loading, please file a feedback ticket where we try to collate related issues and automatically update them when they are

[2021-11-23 01:05] #4641 closed

[2021-11-23 04:25] Olina-Zhang commented on #5189
@dreddy-work Verified this issue in the latest .Net 7.0 SDK build, it cannot repro now when setting MDIParent's height is 493 or 860.
Here is testing result:
100% DPI main screen:
![image](https://user-images.githubusercontent.com/26474449/142971036-915b40fb-f09d-4d83-b1be-791c4953b60b.png)
Move to 300% DPI secondary screen:
![image](https://user-images.githubusercontent.com/26474449/142971080-dd3

[2021-11-23 04:53] willibrandon commented on #5884
Just an update that I'm still researching this issue. Just received 4 books (all released in the 90's) I'm looking through now trying to learn everything I can about drag and drop.

[2021-11-23 05:03] Olina-Zhang commented on #5162
@dreddy-work Verified this issue in the latest .Net 7.0 SDK build, it cannot repro. Please see following test result:
100% main screen:
![image](https://user-images.githubusercontent.com/26474449/142973568-0bae85c1-26f8-400c-853e-ad7555a11211.png)
Move to 300%DPI secondary screen:
![image](https://user-images.githubusercontent.com/26474449/142973636-1c00a52b-3d8d-4fdd-a4a2-acacbab21443.png)

[2021-11-23 05:37] willibrandon commented on #5884
I hope everyone can understand for me there is a big difference between getting some sample code working good enough for a demo versus having a complete understanding of the feature in order to confidently propose a change and see it through. This one could take me a little while to get there.

[2021-11-23 06:31] RussKie commented on #5884
No worries at all. According to the animations you've made a terrific progress.
Feel free to open a draft PR with a sample in our test harness project WinformsControlsTest, it could help in understanding the problem area better and promote discussions.

[2021-11-23 06:39] RussKie commented on #5162
Apart from the incorrect position of the child form (https://github.com/dotnet/winforms/issues/3395) and the the updown control this looks awesome!

Do we have a tracking issue for the updown rendering? I couldn't find it.

[2021-11-23 06:43] Olina-Zhang commented on #5162
https://github.com/dotnet/winforms/issues/5104 is for spinner buttons of DomainUpDown/NumericUpDown.

[2021-11-23 06:44] RussKie commented on #1462
https://github.com/dotnet/winforms/issues/3316#issuecomment-964629843

From @merriemcgaw

[2021-11-23 06:44] #1462 closed

[2021-11-23 06:53] RussKie commented on #3617
Keeping it open until we migrate all MAUI tests into the new project.

[2021-11-23 08:01] Olina-Zhang commented on #5076
@dreddy-work  Verified this issue in the latest .Net 7.0 SDK build, this issue doesn't reproduce now. When Right aligned controls on 100% main screen, the runtime has the same behavior as design time when changing DPI to 300% main screen. Please see following screenshot on 300% main screen:
![image](https://user-images.githubusercontent.com/26474449/142988440-9333825c-53bc-43f8-ab6e-b24e287ffd54.p

[2021-11-23 08:42] Olina-Zhang commented on #4762
@dreddy-work  Verified this issue in the latest .Net 7.0 SDK build, it doesn't reproduce now:
100 main screen:
![image](https://user-images.githubusercontent.com/26474449/142993110-b5cac653-dbf1-41f4-8fee-41036b95f0c0.png)
Move to 300% secondary screen:
![image](https://user-images.githubusercontent.com/26474449/142993372-3a62d7ad-f1cd-4db3-a2ca-a6e01901caed.png)

[2021-11-23 12:27] DmitryGorokhov commented on #6210
Accessibility Insights works incorrect too, same as the Inspect. Please see screens below.
Actually, I agree that it doesn't block the accessibility for users apps because the Narrator works clean. But the difference in behavior looks strange and it can confuse other developers. The issue is also similar to the one that we have already resolved. So I think we should keep this one.

![AI0](https://

[2021-11-23 15:13] vladimir-krestov commented on #4876
Actually, GridViewListBox is a component of DropDownHolder, so the first way is to change `FragmentNavigate` logic of `DropDownHolderAccessibleObject` and `GridViewListBoxAccessibleObject` to configure parent-child relationships. Thereby I will change the accessibility tree. In my opinion, this is right way, because actually we see 2 components DropDownHolder and ListBox inside, and the accessibil

[2021-11-23 17:05] Tanya-Solyanik commented on #4876
If we already have `DropDownHolderAccessibleObject` and `GridViewListBoxAccessibleObject`, it makes sense to define a parent-child relationship between them, the first option sounds good.

[2021-11-23 18:19] terrajobst commented on #5405
* Makes sense
* Do we/should we replicate some of these in WPF's dialog (`OpenFileDialog` and `SaveFileDialog`)?

[code]

[2021-11-23 23:28] RussKie commented on #5405
Thank you @terrajobst.
@willibrandon would you like to submit a PR with an implementation?

[2021-11-23 23:45] willibrandon commented on #5405
Yes!

[2021-11-24 01:36] dreddy-work opened #6215 "Explicitly assigned Font on Control do not consider mixed HDPI mode applications and may incorrectly propagate to child controls that are in SA."
Explicitly assigned Font is scaled when there is a DPI change in PmV2 applications and propagate this new Font to its children.
However, in a mixed mode application, children may be running in SystemAware mode and thus does not need scaled Font.

[2021-11-24 06:28] Olina-Zhang commented on #3202
@dreddy-work  verified this issue in the latest .Net 7.0 SDK build using above attached test app, it doesn't reproduce. Please see following testing results on different DPI setting:
125%DPI:
![image](https://user-images.githubusercontent.com/26474449/143186035-6b990c32-70f2-4f5a-badc-b67f4ed29729.png)
200%DPI:
![image](https://user-images.githubusercontent.com/26474449/143186105-a988c2c9-1b05-42d

[2021-11-24 06:55] Olina-Zhang commented on #3411
@dreddy-work It seems a dup of #3390, verified this issue in the latest .Net 7.0 SDK build, it doesn't reproduce when opening child window in secondary screen directly or changing DPI when app is running on single monitor.

[2021-11-24 07:50] Olina-Zhang commented on #4214
@dreddy-work  verified this issue in the latest .Net 7.0 SDK build, it doesn't reproduce, here is the testing screenshots on different DPI setting:
150%DPI:
![image](https://user-images.githubusercontent.com/26474449/143196281-6f3435a7-c983-4442-892e-bc2447a8038d.png)
200%DPI:
![image](https://user-images.githubusercontent.com/26474449/143196379-3b4aab1d-dbe8-4cf5-abce-e32e62cef81d.png)
300%DPI:
!

[2021-11-24 08:45] Olina-Zhang commented on #4527
@dreddy-work cannot repro this issue in the latest .Net 7.0 SDK build.

[2021-11-24 09:13] IrakliLomidze opened #6216 "Make WinForm project more modular by separating resources and settings for each form"
**Is your feature request related to a problem? Please describe.**

 The problem is difficult to copy form from one project to another.
1) Potentially problems in resources (same name image files) and issues of merging settings files.

**Describe the solution you'd like and alternatives you've considered**

Suggestion,
Make WinForm project more modular.
By Allowing separate resources and settings

[2021-11-24 10:00] kant2002 opened #6217 "Consider LibraryImport for PInvoke generation"
The [LibraryImportGenerator](https://github.com/dotnet/runtime/issues/43060) experiment lands .NET 7 and provide slightly better performance with high compatibility bar. Also LibraryImportGenerator probably would be productized for .NET 7 https://github.com/dotnet/runtime/issues/60595

.NET Team itself embrace it in core .NET - See https://github.com/dotnet/runtime/issues?q=is%3Aissue+is%3Aopen+Li

[2021-11-24 14:27] kirsan31 commented on #3202
@dreddy-work
How could this be fixed?
Due to [this](https://github.com/dotnet/winforms/issues/5205#issuecomment-895468492) the problem is on designer side (what's strange). And VS2022 designer still put font **after** DPI logic...
Also we have #6151 opened and I am not see any PR related to this...

[2021-11-24 14:36] SergeySmirnov-Akvelon opened #6220 "The ToolStripButton borders have low color contrast ratio in high contrast mode"
NET Core Version:
- .NET Core SDK: 7.0.0-alpha.1.21567.1

Have you experienced this same bug with .NET Framework?:
- Yes for `ToolStripRenderMode.System` (from #5502)
- No for other rendered modes

**Problem description:**
1. Create a `Form` with a `ToolStrip`
2. Add a `ToolstripButton` to `ToolStrip`
3. Set `System`  rendering mode
4. Enable high contrast mode
5. Run the application

**Actual beh

[2021-11-24 15:12] SergeySmirnov-Akvelon opened #6221 "Disabled buttons have low contrast for text and borders"
.NET Core Version:
- .NET Core SDK: 7.0.0-alpha.1.21567.1

Have you experienced this same bug with .NET Framework?:
- Yes

**Repro steps:**
1. Create a form with a button
2. Make button disabled
3. Run the application

**Notes:**
The issue is reproduced for high contrast mode.

**Actual behavior:**
Flat button text:
![image](https://user-images.githubusercontent.com/23376742/143261747-1a07d49a-d62

[2021-11-24 16:02] TangibleDave opened #6222 "Both options for creating .NET 6 WinForms builds have serious show stoppers"
I would prefer to create a single-file self-contained install for a WinForms application using .NET 6. However, the removal of trimming in .NET 6 for WinForms applications means that the size of the install is impractical (>100MB - that's just insane for our utilities). With trimming in .NET 5, the size was large, but acceptable.

The "framework-dependent" option is also not practical due to the c

[2021-11-24 17:55] dreddy-work commented on #4527
@Olina-Zhang , please add screenshots from verified build using same customer application for future references on the bugs that do not reproduce.

[2021-11-24 17:56] #4214 closed

[2021-11-24 17:56] #3411 closed

[2021-11-24 17:59] dreddy-work commented on #4762
@Olina-Zhang , can you try just a list box with multiple entries here? I couldn't repro this either but are there any properties on List box that we could exercise ?

[2021-11-24 18:01] dreddy-work commented on #5162
Closing this as incorrect position of child is tracked #3395 here and is Windows related ( a windows bug is opened for this internally).

[2021-11-24 18:01] #5162 closed

[2021-11-24 18:04] dreddy-work commented on #5189
Incorrect position of MDI child is being tracked here:  (#3395). @alanhoman , can you confirm the rest of the issues with latest bits from main branch?

[2021-11-24 18:16] dreddy-work commented on #3202
@Olina-Zhang , can you confirm that the Font assignment is in right place (i.e., after AutoScaleMode)?

[2021-11-24 19:56] #6201 closed

[2021-11-24 19:56] #5047 closed

[2021-11-24 22:42] RussKie commented on #6222
There're other options too, e.g. https://github.com/Tyrrrz/DotnetRuntimeBootstrapper.

The trimming is not currently supported for Windows Desktop apps due to an extensive dependence on COM and reflection, which are not trim-safe (https://github.com/dotnet/winforms/issues/4649). And if it worked it would be "accidental" (https://twitter.com/andygocke/status/1455320377387732994).

AFAIK this is bei

[2021-11-24 22:50] RussKie commented on #6216
Please elaborate on what you have in mind, how you see it is used, and how it would benefit all Windows Forms developers.

[2021-11-24 22:53] RussKie commented on #5076
Presume fixed. @kirsan31 please let us know if the issue resurfaces.

[2021-11-25 02:33] Olina-Zhang commented on #4762
@dreddy-work verified ListBox with multiple items under 2 modes with AutoScaleMode = Font, Dpi, the result is different when moving form from 100% main screen to 300% secondary screen: the displayed items are different.

100% main screen for 2 modes with AutoScaleMode = Font, Dpi, the results are same:
![image](https://user-images.githubusercontent.com/26474449/143366585-8799336d-0e5a-4a27-9ed3-65

[2021-11-25 02:43] VinoWang01 opened #6224 "[DpiUnaware] The icons of MenuStrip/ToolStrip/StatusStrip aren't scaling well on 300% system DPI"
* .NET Core Version:
.NET SDK 7.0.100-alpha.1.21568.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
All icons are very large than the text on High Dpi under DpiUnaware mode.
![Icon_Actual](https://user-images.githubusercontent.com/90816462/143370535-71477ac0-fbdc-4736-b41c-1ed591d6fbbd.png)
![Icon_NetFX](https://user-images.githubusercontent.com/90816462

[2021-11-25 02:58] VinoWang01 opened #6225 "[PerMonitorV2] The more/less button icon of tabControl doesn't scale well on 300% system DPI."
* .NET Core Version:
.NET SDK 7.0.100-alpha.1.21568.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Under High Dpi mode, the icon on the more/less button of TabControl is so small to see.
![TabPageIcon](https://user-images.githubusercontent.com/90816462/143372106-6d9699d9-469f-4562-a2a8-db62159bb086.png)

**Expected behavior:**
The icon should be scaled.

[2021-11-25 03:01] Olina-Zhang commented on #3202
Here is the result of 300% DPI: font setting of the form is after DPI scaling logic code in designer.cs file
![image](https://user-images.githubusercontent.com/26474449/143371922-3d759626-754c-4a99-b232-2efda42f4439.png)

[2021-11-25 03:10] Olina-Zhang commented on #4527
Adding the testing screenshots for this issue, cannot repro in the latest .Net 7.0 SDK build:

150%DPI:
![image](https://user-images.githubusercontent.com/26474449/143373051-f38561c0-2d26-4123-9fa2-f0b81b8d5d17.png)

300%DPI:
![image](https://user-images.githubusercontent.com/26474449/143373161-5a7ebb59-ceb8-4c99-852b-4d298caf3d60.png)

[2021-11-25 03:43] RussKie commented on #4527
Thank you

[2021-11-25 03:43] #4527 closed

[2021-11-25 03:45] RussKie commented on #3202
@kirsan31 do you think you could test your scenarios against the latest .NET 7 and confirm the fix? Thanks

[2021-11-25 03:48] RussKie commented on #6072
Please refer to the docs: https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.datagridview.autogeneratecolumns?view=windowsdesktop-6.0

I am not convinced there is an issue with the SDK, and see no follow up work on our end.

[2021-11-25 03:48] #6072 closed

[2021-11-25 04:36] kelicto commented on #6072
I have described it very clearly. Our concern should be how the problem occurred and how to deal with it. You can leave it alone, but it can always exist, although the impact is really small. Many people in the Chinese Community Forum also have the same problem. This is how I found the pattern and then searched for the answer, and it was resolved smoothly.

[2021-11-25 06:44] John-Qiao opened #6226 "[Multi-Monitor] The controls' size and location are not scale well when move form from 300% main screen to 100% secondary screen system DPI."
* .NET Core Version:
.NET SDK 7.0.100-alpha.1.21568.2

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The controls' size and location are not scale well when move form from 300% main screen to 100% secondary screen system DPI.

Launch on 300% main screen.
![300](https://user-images.githubusercontent.com/45864985/143391476-e2a489b2-8bcf-4b9f-be05-b1e0f10d31

[2021-11-25 07:02] kirsan31 commented on #3202
@RussKie @dreddy-work
Just checked it with latest .Net7 sdk and it's defiantly fixed! Time to port this fix to .Net6 (#6151) :)

---------------------------

P.s. after installing .Net7 and enabling this in VS2022:
![image](https://user-images.githubusercontent.com/17767561/143394002-dbb03e05-4673-4ff3-b24f-76e3db7e35b2.png)

`net6.0-windows` targets will fail to build with dozen's of import error

[2021-11-25 07:09] John-Qiao opened #6227 "[DpiUnaware] The ListBox and CheckedListBox controls are not scaled well on 300% system DPI"
* .NET Core Version:
.NET SDK 7.0.100-alpha.1.21568.2

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The ListBox and CheckedListBox controls are not scaled well on 300% system DPI.
![Actual](https://user-images.githubusercontent.com/45864985/143395433-9ab982d8-d324-4776-b007-ad5995c9b444.png)

**Expected behavior:**

The ListBox and CheckedListBox control

[2021-11-25 07:12] Olina-Zhang commented on #6093
Verified this issue in .Net 6.0.101-servicing.21568.17 build, it is fixed with the same above result on .Net 7.0.

[2021-11-25 07:17] kirsan31 commented on #5076
@RussKie with `7.0.100-alpha.1.21568.2` all problems described in [first](https://github.com/dotnet/winforms/issues/5076#issue-918325809) and [fifth](https://github.com/dotnet/winforms/issues/5076#issuecomment-859923019) posts are persists.

[2021-11-25 07:21] Ashley-Li commented on #6099
Verified this issue with VS 17.0.2 31919.166 + OS CHS, it is fixed. Now Localized description for WinForms CHS templates. Please see below result:
![image](https://user-images.githubusercontent.com/56664234/143396752-65d29923-6cff-43f2-92ed-593443819a15.png)
![image](https://user-images.githubusercontent.com/56664234/143396771-367769c0-2377-4497-b9b6-429f21c94e76.png)
Verified this issue with test

[2021-11-25 07:22] John-Qiao opened #6228 "[DpiUnaware] The sub item CheckBox cannot be scaled well in GroupBox control on 300% system DPI"
* .NET Core Version:
.NET SDK 7.0.100-alpha.1.21568.2

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The sub item CheckBox cannot be scaled well in GroupBox control on 300% system DPI.
![Actual](https://user-images.githubusercontent.com/45864985/143397205-4f552229-5680-45f5-bd28-186b2e40a72d.png)

**Expected behavior:**

The sub item CheckBox should be sc

[2021-11-25 07:39] Amy-Li03 commented on #6144
@RussKie verified this issue on .NET 6.0.101 service build, issue is still reproducing, whether this PR doesn't merge into this build?
![image](https://user-images.githubusercontent.com/62929087/143397416-2ead255a-6965-4425-b80b-dbdaf3e1ea14.png)
We also verified this issue on .NET 7.0 latest build: 7.0.100-alpha.1.21568.2, issue was fixed.

[2021-11-25 07:40] DmitryGorokhov commented on #6210
Seems it's known problem #4375 . So I am closing this duplicate

[2021-11-25 07:40] #6210 closed

[2021-11-25 08:08] Philip-Wang01 commented on #6152
Verified this issue in .Net 6.0.101-servicing.21568.17 build, it is fixed with the same above result on .Net 7.0.

[2021-11-25 09:00] Maspapa opened #6229 "The TextRenderer.MeasureText has different return between .Net FrameWork and .Net 6"
* .NET Core Version:
.Net6

* Have you experienced this same bug with .NET Framework?:
NO

**Problem description:**
The TextRenderer.MeasureText has different return between .Net FrameWork and .Net 6
`The Code below return different between .Net6 and .NetFrameWork

            Font font2 = new Font("Segoe UI", 9);
            Font font = new Font("Arial", 20F, FontStyle.Italic | FontStyle.Bold, Gr

[2021-11-25 09:20] John-Qiao commented on #6099
Verified this issue with VS 17.0.2 Preview 1.0 [31923.300.d17.0] + .NET 6.0.101-servicing.21569.4 build, it is fixed with the same above result.

[2021-11-25 09:36] RussKie commented on #3202
Please raise an issue in https://github.com/dotnet/sdk.

[2021-11-25 09:37] #3202 closed

[2021-11-25 10:07] 2mik opened #6230 "ListView.Items.RemoveAt causes NullReferenceException"
* .NET Core Version:
6.0.0

* Have you experienced this same bug with .NET Framework?:
Classic .NET - No
.NET 5 - No
.NET 6 - Yes

**Problem description:**
Deleting a selected item from ListView causes NullReferenceException on calling ListView.Items.RemoveAt(index).
The bug reproduces stable in my app in the following conditions:
1. The item being deleted must be selected. If it's not selected, n

[2021-11-25 10:38] 2mik commented on #6230
May be add ? after Group in this line
ListView owningListView = listView ?? Group**?**.ListView ?? throw new InvalidOperationException(nameof(listView));
in [this line](https://github.com/dotnet/winforms/blob/4c1f44c52a62bf4dafc178fc4a2f900c7c3fb9fa/src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.cs#L238)

[2021-11-25 11:42] 2mik commented on #6230
I've managed to create an app to reproduce the error:
[WinFormsApp_VS2022.zip](https://github.com/dotnet/winforms/files/7602653/WinFormsApp_VS2022.zip)

1. Run the app.
2. Press the "button1"
3. Press the Add button.
4. Click the white space of ListView to deselect item.
5. Click the 2nd item.
6. Click the Delete button.
7. You should get a described exception.

[2021-11-25 11:58] IrakliLomidze commented on #6216
Sometimes I need to copy some functionality from one WinForm project to another.
Form is not a Form.cs and Form.designer.cs it keeps resources in the common resource repository in the project file.

So Idea is to have the ability to store form-related resources (strings, images) in  the .resx files and not in the project file.

[2021-11-25 12:02] ArtemTatarinov opened #6231 "Menu bar for maximized hosted MDI window not being exposed through UIA as expected"
* .NET Core Version: 3.0, 3.1, 5.0, 6.0, 7.0
* Have you experienced this same bug with .NET Framework?: The issue is reproduced at 4.8; 4.7.2 has all the buttons, but their order is reversed.

**Problem description:**
When the child MDI window is maximized, the Accessibility Insights tool (or the Inspect) doesn't show all the `ControlBox` buttons from the menu strip.
![image](https://user-images.g

[2021-11-25 20:12] KevRitchie commented on #5526
Hi @RussKie, what's your thoughts on the above?

[2021-11-25 22:30] RussKie commented on #6230
@vladimir-krestov @SergeySmirnov-Akvelon please investigate

[2021-11-25 23:28] RussKie commented on #5526
Thank you for the nudge, it dropped off my radar.
Yes, I think that makes sense. If you open a draft PR it will be easier to tell for sure.

[2021-11-26 06:59] Amy-Li03 opened #6235 "WinForms app which targeting .NET Core 3.1 is build failed on only have .NET 5.0.404-serving.21572.11 installed machine"
* .NET Core Version:
.NET 5.0.210-servicing.21572.9
.NET 5.0.404-serving.21572.11

* .NET Core Version:
This issue doesn't reproduce on .NET 7.0 latest build: 7.0.100-alpha.1.21568.2

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**  [TestApp.zip](https://github.com/dotnet/winforms/files/7606834/TestApp.zip)
1. Create a WinForms app targeting .NET Core 3.1 on machi

[2021-11-26 07:06] Lydia-Shi commented on #5774
Verified this issue with VS 17.0.2 Preview 1.0 [31923.300.d17.0] + .NET 6.0.101-servicing.21569.4 build, this issue is fixed.
![Git](https://user-images.githubusercontent.com/54019172/143540549-2137ad9a-ce73-4b38-b65f-559d9c906f1d.gif)
![image](https://user-images.githubusercontent.com/54019172/143540637-a5b15388-f3a5-448a-bef0-e9f48eede38a.png)

[2021-11-26 07:10] Olina-Zhang commented on #3202
@RussKie @kirsan31  for targeting 7.0 issue, I filed the one: https://github.com/dotnet/wpf/issues/5648 in sdk repo originally, and was moved to WPF repo now.

[2021-11-26 07:15] Amy-Li03 commented on #6235
There is a similar issue: [2925](https://github.com/dotnet/winforms/issues/2925), it was fixed in previous, but it reappears in .NET 5.0.404-serving.21572.11 build.

[2021-11-26 07:21] kirsan31 commented on #3202
@Olina-Zhang My errors was about only 6.0 targeting and I've post my comment in [similar issue](https://github.com/dotnet/sdk/issues/22752).

[2021-11-26 08:31] VinoWang01 commented on #6093
Verified this issue in .Net 5.0.210 build, the checkedListBox-items will not disappear when changing the Form's ShowInTaskBar property.

[2021-11-26 09:07] ArtemTatarinov opened #6236 "Move returning of the virtual properties to `AccessibleObject` from children classes"
There're some virtual properties at the base `AccessibleObject` class, like `BoundingRectangle`, that are returned in the `GetPropertyValue` method of the children classes. Since these properties are virtual, we can return them in the `GetPropertyValue` method at the base class, even if they are overridden at the children classes.

_Originally posted by @dreddy-work in https://github.com/dotnet/wi

[2021-11-26 12:48] SergeySmirnov-Akvelon opened #6238 "Narrator does not announce the focused ListViewItem when the user returns focus to the ListView after deleting the ListViewItem."
.NET Core Version:
- .NET Core SDK: 7.0.0-alpha.1.21574.1

Have you experienced this same bug with .NET Framework?:
- No (the issue is reproduced since .NET Core 5.0)

**Repro steps:**
1. Create a `Form` with a `ListView` and a couple of `Buttons`.
2. Add a couple of `Columns` to the `ListView` and set the view mode to `Details`.
3. Make the first `Button` a button for adding `ListViewItems` to th

[2021-11-26 13:17] mcguu opened #6241 "[Question]no authorization to open a file using zip?"
sorry I am a newbie and I do not know where to ask so I put it here.
I am using uwp
I want to open and read a zipped file using `ZipFile`

[code]
the `file` is not null and there is a exception that I do not have access to the file.

what should I do?

[2021-11-27 10:40] kirsan31 commented on #3212
Seems to implicitly fixed in `.Net7`:

![image](https://user-images.githubusercontent.com/17767561/143677791-84ebdaca-7554-4ab8-8b65-cd8487d3adb9.png)

Need to be checked again closer to release...

[2021-11-27 10:40] #3212 closed

[2021-11-27 13:58] Notplayingallday383 opened #6243 "VS2019 Crashes when adding reference"
Hello, I am trying to add a dll file to my C# Project and whenever I do vs just freezes then crashes. Does anyone know how to fix this issue without uninstalling VS?

[2021-11-27 14:02] Notplayingallday383 commented on #6243
This doesn't happen with .Net Components because I tried it and it didn't crash

[2021-11-27 14:19] kirsan31 commented on #3263
To clarify idea from my previous post. Instead of doing something wiht designer, we can do like this:

Add `bool` `AlwaysScaleFont` property to the `Control`. And if it `true` we will always scale the font even then it was explicitly set. Like we do it in `SetDefaultFont`(1281 line):
https://github.com/dotnet/winforms/blob/9cdc5b3b515287f1746d991ba5443e3cde510f1b/src/System.Windows.Forms/src/Syste

[2021-11-28 06:03] willibrandon commented on #5405
I can investigate replicating these in WPF.

[2021-11-28 18:59] simmotech opened #6245 "Found a reason for WinForms Designer to 'hang' when loading"
Symptom:
Opening a Form or User Control shows "Loading designer..." and never completes.

My main applications both did this for months and I assumed it was because I was using pre-release versions of VS 2022.
But the same happened with the final release so today I got around to researching what the problem was.

I turned on Verbose output for the WinForms Designer and spotted an exception about a

[2021-11-29 00:17] RussKie commented on #6245
I appreciate you have spent the time to raise the issue, and shared a fix that you have found. However issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to in

[2021-11-29 00:17] #6245 closed

[2021-11-29 00:19] RussKie commented on #5405
Great! Though I suggest to raise an issue in https://github.com/dotnet/wpf with a proposal and wait for a formal ack from the @dotnet/wpf-developers before investing too much time in this.

[2021-11-29 00:35] RussKie commented on #6243
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2021-11-29 00:35] #6243 closed

[2021-11-29 00:46] Olina-Zhang opened #6246 "Creating Winforms application with errors and targeting is still 6.0 by CLI after installing the latest .Net 7.0 SDK build"
### .NET Core Version:
.Net SDK 7.0.100-alpha.1.21527.14

### More Info:
This issue can also reproduce when creating WPF, console application by CLI
### To Reproduce
1.	Install the latest .Net 7.0 SDK build from main branch in  https://github.com/dotnet/core-sdk
2.	Create winforms application by CLI: donet new winforms
3.	Open application's csproj file to check TargetFramework

### Actual result:

[2021-11-29 06:23] liyanligt opened #6247 "C# tabControl1_DrawItem event firing constantly when I tried doublebuffering --cp.ExStyle |= 0x02000000"
I have a form and it has tones of other controls(buttons,textbox, custom controls, labels, panel,gridview,,listview,). You can guess i had flickering issue. I tried doublebuffering,but it caused other question that  tabControl1_DrawItem event firing constantly, how can it be fixed? Thank you very much.
I also want to note that without this code the problem does not happen, but the tabs flicker con

[2021-11-29 07:29] simmotech commented on #6245
The issue _was_ identified - no additional information needed.
I feel I have done my bit in reporting not only a problem but an easy way for you to reproduce it.
So to have the issue ignored and closed immediately rankles a bit.

I have logged the issue via Visual Studio as you requested but I have moved past this now - I won't be breaking my code again to send memory dumps/stack traces etc. so if

[2021-11-30 16:13] Tanya-Solyanik commented on #2726
duplicate of https://github.com/dotnet/winforms/pull/5424

[2021-11-30 16:13] #2726 closed

[2021-11-30 18:09] ryank425 commented on #6241
Can you share what exceptions you are getting with the exception message and stack trace?

Also, can you try to see if you can open the file using FileStream with Read only access, and pass the stream to ZipFile?

It would be exactly like the example code with some slight modification from MSDN using https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.ziparchiveentry.open?view=net-6.

[2021-11-30 18:20] Tanya-Solyanik commented on #6220
@merriemcgaw  - could you please remind me if you recommended to port this one to NETFX or not? AI will detect.

[2021-11-30 18:23] Tanya-Solyanik commented on #6221
@SergeySmirnov-Akvelon  - please add the doc link that explains that disabled UI is not required to be contrasting and close this bug

[2021-11-30 21:10] alanhoman commented on #5189
Hi @dreddy-work, and thanks for all of the excellent work on HDPI!  I have verified that this issue has been resolved by the latest bits.  Most of the major HDPI issues have been fixed and I will be entering a few new ones in the next 1-2 days.

[2021-11-30 21:11] #5189 closed

[2021-12-01 00:50] #6241 closed

[2021-12-01 03:17] RussKie commented on #6235
This looks like an SDK level issue, not Windows Forms specific.

[2021-12-01 03:18] RussKie commented on #6144
Unfortunately the fix hasn't made its way into 6.0.1, and will be shipped in 6.0.2 servicing release.

[2021-12-01 05:54] TempeBrennan opened #6252 ""DrawIcon" method will translate offset twice"
* .NET Core Version: 6.0.100

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
If translate transform, DrawIcon paint position is wrong. I'm not sure is this a bug or not, netcore 3.1 is correct
[code]
**Current behavior:**

![image](https://user-images.githubusercontent.com/51563666/144179146-4e7ee736-22c5-4c9c-8040-c1915f99f759.png)

**Expected behavior:**

[2021-12-01 07:45] AmalRajUmapathySelvam opened #6253 "Custom cursors are getting shrank in dpi aware application on extended monitor with high resolution"
* .NET Core Version:
Not tested in .NET Core.

* Have you experienced this same bug with .NET Framework?:
**Yes.**

**Problem description:**
When showing custom cursor, cursor is not shown properly in dpi aware applications when app is build on primary monitor with 175 dpi and extended to secondary monitor with 100 dpi in high resolution.

**Output screenshot with dpi aware:**
![dpiAware_true](htt

[2021-12-01 08:02] yevgeni-zolotko commented on #2573
We tried it, and it looks like the functionality ported to .NET 6 works for us. Thank you.

[2021-12-01 08:52] Lydia-Shi commented on #6245
Created a new issue [3973](https://github.com/dotnet/winforms-designer/issues/3973) in designer repro to track this. @RussKie

[2021-12-01 08:58] fivage commented on #6190
[WinFormsApp2.zip](https://github.com/dotnet/winforms/files/7632324/WinFormsApp2.zip)

`
public partial class Form1 : Form
    {
        public Form1()
        {
            InitializeComponent();

            this.TopMost = true;
        }

        private void OpenPopupButton_Click(object sender, EventArgs e)
        {
            PopupForm popupForm = new();
            popupForm.ShowDialog(thi

[2021-12-01 19:08] MisinformedDNA commented on #5915
@KlausLoeffelmann Any update?

[2021-12-01 23:28] merriemcgaw commented on #6220
If we have bandwidth I'd probably recommend it.

[2021-12-01 23:40] merriemcgaw commented on #4623
@michaelongithub just to be sure I'm not misunderstanding - can this issue be closed in this repo?

[2021-12-02 02:28] RussKie commented on #6255
Please provide a standalone simple repro.

[2021-12-02 03:33] WPMGPRoSToTeMa commented on #6165
It is crashing because you're running application without debugger attached. Otherwise it will pause at `Debug.Fail` just like hitting a regular breakpoint. Also there will be no issue if you will run it compiled in release mode no matter with or without debugger attached since assertions aren't compiled in release mode.

[2021-12-02 08:17] 87Alex opened #8853 "Icon.Save(stream) each time returns different results"
### Description

We use the following code to compare two icons:

[code]

With the net6.0 release the stream.ToArray() method each time returns different results for the same Icon.
You can modify the IconEquals as follows and it will return false:

[code]

### Reproduction Steps

Launch the following code with any Icon:
[code]

### Expected behavior

The IconEquals method should return true.

###

[2021-12-02 11:40] michaelongithub commented on #4623
@merriemcgaw personally I can cope with the problematic situation. The fatal behavior of VS in the special reproducible situation remains. Not checked in 17.0.2. You decide, where this info is posted appropriately.

[2021-12-02 23:40] #6247 closed

[2021-12-02 23:46] RussKie commented on #5915
@KlausLoeffelmann is currently OOF. With holiday season is almost upon us our responses may be delayed.

[2021-12-02 23:50] KlausLoeffelmann commented on #5915
That said, I know my dept, even watching my Mom-visiting-from-Germany backing Holiday cookies. Will take a while though, still... 🎅

[2021-12-03 01:15] alanhoman opened #6259 "ChildMdi Container control rendering issues when not Maximized"
* .NET Core Version:
dotnet-sdk-7.0.100-alpha.1.21568.2-win-x64

* Have you experienced this same bug with .NET Framework?:
No

**Issue** When moving an MdiParent to a higher DPI monitor, the ChildMdi (not maximized) TabControl on the bottom becomes slightly wider and slightly shorter after multiple moves.

Run the project and click MdiParent - Simple Layout on the 100% monitor
Click on the Maximi

[2021-12-03 01:53] alanhoman opened #6260 "ChildMdi Container control rendering issues when Maximized"
.NET Core Version:
dotnet-sdk-7.0.100-alpha.1.21568.2-win-x64

Have you experienced this same bug with .NET Framework?:
No

**Issue:** When moving an MdiParent to a higher DPI monitor, the ChildMdi (Maximized) TabControl on the bottom becomes slightly narrower and slightly shorter after multiple moves.

Run the project and click MdiParent - Simple Layout on the 100% monitor
Drag the MdiParent to t

[2021-12-03 02:52] #6165 closed

[2021-12-03 03:13] willibrandon commented on #5884
Will do. I'll start putting together a sample in the test harness.

So far the demos that I've shown come from samples contained in Adam Root's [blog post series on drag and drop](https://docs.microsoft.com/en-us/archive/blogs/adamroot/shell-style-drag-and-drop-in-net-wpf-and-winforms). I didn't have to integrate the sample code into Winforms to make the demos work, which was nice since it didn't

[2021-12-03 18:49] merriemcgaw commented on #4623
I am going to move this issue to our internal designer repo, where we can take a closer look. @John-Hart was kind enough to provide us a repro so we can investigate further.

@KlausLoeffelmann getting this on your radar.

[2021-12-03 18:59] willibrandon commented on #5884
This is out of scope for this issue but I'm noting it here for future reference: [Asynchronous drag and drop](https://docs.microsoft.com/en-us/windows/win32/shell/datascenarios?redirectedfrom=MSDN#dragging-and-dropping-shell-objects-asynchronously).

[2021-12-03 23:06] alanhoman opened #6265 "ChildMdi inactive (not visible) TabPages do not render properly on HDPI change"
.NET Core Version:
dotnet-sdk-7.0.100-alpha.1.21568.2-win-x64

Have you experienced this same bug with .NET Framework?:
No

**Issue:** When moving an MdiParent to a higher DPI monitor, the ChildMdi (Maximized) inactive (not visible) TabPages do not render properly when moved from a 100% to 150% monitor.

Run the project and click MdiParent - Simple Layout on the 100% monitor
Drag the MdiParent to

[2021-12-03 23:45] merriemcgaw opened #6266 "Expect some delays while members are on vacation"
Due to seasonal holidays, many of our members are taking time off. Please expect delayed responses until early January.

[2021-12-04 01:27] merriemcgaw opened #6267 "Remove BinaryFormatter from WinForms runtime"
BinaryFormatter is an inherently unsafe serliazer. WinForms used it quite a bit in early versions and now we should remove as much of this as possible.

[2021-12-04 01:31] merriemcgaw opened #6268 "Epic - complete PerMonV2 support in WinForms"
We've been working on improving our HDPI experience for the last few releases. We're going to put a significant focus on HPDI as part of .NET 7.

Issues will be linked as they are scoped into this epic so that we can track them. This is part of the dotnet/planning/issues/27 theme.

[2021-12-04 01:33] merriemcgaw commented on #4649
Adding this to our dotnet/planning/issues/27 theme

[2021-12-04 01:38] merriemcgaw opened #6269 "Epic - Improve Clipboard functionality"
In addition to removing BinaryFormatter we need to make sure that we are creating a safe and efficient Clipboard feature area. This is part of the dotnet/planning/issues/27 theme. We'll add individual issues to this list as we investigate.

- [ ] Investigate limitations and problems in current Clipboard implementation

[2021-12-04 01:43] merriemcgaw opened #6270 "Epic - Align with Win11 look and feel"
Windows 11 implemented a new look and feel. While we get most of that automatically through the Common Controls we do have several places where we owner draw our controls and these should be enhanced in some way to look more aligned with Windows. This is part of our dotnet/planning/issues/27 theme.

I will be creating and adding issues to this epic in the coming weeks to outline precisely what we

[2021-12-04 07:38] willibrandon commented on #5884
Test harness peek, using the [`IDropTargetHelper`](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nn-shobjidl_core-idroptargethelper) interface to display the drag image from Explorer.

https://user-images.githubusercontent.com/5017479/144701231-942d3b5c-9232-4ae0-bc77-e606511d3e39.mp4

This piece doesn't require a public API change.

[2021-12-04 08:02] willibrandon commented on #5884
It seems a little more within reach.

[2021-12-04 08:29] kirsan31 commented on #6270
#3691? 😌

[2021-12-04 10:45] roland5572 commented on #3851
Yes, WPF not only implements a progress bar, but also implements other features.

![wpfshell-taskbariteminfo](https://user-images.githubusercontent.com/88176616/144706601-ebe80670-c8f4-42a2-a409-d44276fb2721.png)

TaskbarItemInfo.ThumbButtonInfos
https://docs.microsoft.com/en-us/dotnet/api/system.windows.shell.taskbariteminfo.thumbbuttoninfos

TaskbarItemInfo.Overlay
https://docs.microsoft.com/en-

[2021-12-05 15:46] davi1td commented on #4304
Hi, checking in on the excellent submission by @StevenBonePgh, is there a reason there has been no update here since April 15th?
And its still broken in vs2022, .net 6.
Regards

[2021-12-06 00:16] RussKie commented on #6165
I don't agree with this view angle - an app must never crash in Debug or Release mode unless it is a developer-originated error that the developer can fix. And it is never ok to accept crashes in Debug because we don't in Release - by doing this we are ignoring the root cause.

[2021-12-06 02:48] TempeBrennan opened #6295 "Measure text with charset shiftjis has some change after upgrade to .net6.0"
* .NET Core Version: 6.0.100

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
When I call "TextRenderer.MeasureText" method, I found result is changed between 3.1.

In framework and 3.1, there is a little bigger than actual paint.

I found in .net6, default charset result is correct now , but for shiftjis our result is smaller than before.

Is this by design

[2021-12-06 06:48] kirsan31 commented on #6295
Same as https://github.com/dotnet/winforms/issues/6229?
Need some response...

[2021-12-06 07:06] TempeBrennan commented on #6295
Yes, just need help us confirm is this about no padding strategy? Thanks!

[2021-12-06 10:04] hdefucom opened #6297 "Data binding of child controls of ToolStripControlHost"
* .NET Core Version:
net40--net6.0-windows

* Have you experienced this same bug with .NET Framework?:

Yes
**Problem description:**
Add a ListBox to the ToolStripControlHost.
ListtBox cannot display data bound with datasource,
However, it can be displayed by using items.Add.
This problem only occurs in the ListBox in the ToolStripControlHost.

[code]

[2021-12-06 15:25] marinusmaurice opened #6298 "Missing files on build"
* .NET Core Version:
.NET SDK (reflecting any global.json):
 Version:   6.0.100
 Commit:    9e8b04bbff

Runtime Environment:
 OS Name:     debian
 OS Version:  11
 OS Platform: Linux
 RID:         debian.11-x64
 Base Path:   /usr/share/dotnet/sdk/6.0.100/

Host (useful for support):
  Version: 6.0.0
  Commit:  4822e3c3aa

.NET SDKs installed:
  6.0.100 [/usr/share/dotnet/sdk]

.NET runtimes instal

[2021-12-06 16:37] weltkante commented on #6267
whats the replacement? anything been announced yet?

[2021-12-06 19:01] merriemcgaw commented on #6298
@RussKie can you take a look when you get online?

[2021-12-06 23:01] #6231 closed

[2021-12-07 00:17] merriemcgaw commented on #4304
@davi1td Actually that's a great question! Keep an eye out on the .NET Blogs starting later this month. We'll be doing a new series of blogs to explain the new Out-of-process architecture for the .NET WinForms Designer and then some blogs to describe how you then go and create controls and designers in this new model.

[2021-12-07 00:44] #6298 closed, assigned to nobody

[2021-12-07 02:00] davi1td commented on #4304
Thanks for the update!

[2021-12-07 08:11] willibrandon commented on #5884
Test harness, using the [`IDragSourceHelper2`](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl/nn-shobjidl-idragsourcehelper2) interface to initialize the drag image and the [`IDropTargetHelper`](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nn-shobjidl_core-idroptargethelper) interface to display the drag image. When the drag-and-drop helpers are used, they call `ID

[2021-12-07 08:14] willibrandon commented on #5884
I've observed the following private data formats used by the drag-and-drop helpers:

Shell IDList Array
DragImageBits
DragContext
DragSourceHelperFlags
UsingDefaultDragImage
DisableDragText
DropDescription
DragWindow
IsComputingImage
IsShowingLayered
IsShowingText
UntrustedDragDrop

[2021-12-07 08:20] StuYarrow commented on #6265
I think this is related to the controls on the non-visible tab pages not being fully created.  I have been struggling to find a workaround for this.  I have tried getting Control.Handle, and confirmed that the window handle has been created, but Control.Created is still false and the dimensions Bounds/ClientRectangle/DisplayRectangle/CreateParams.Width/Height are not initialised correctly.  Callin

[2021-12-07 11:31] SergeySmirnov-Akvelon opened #6304 ""ComboBox.SelectedItem" property throws an exception if the selected item was removed and Handle is not created"
.NET Core Version:
- 7.0.0-alpha.1.21576.4

Have you experienced this same bug with .NET Framework?:
- No (the issue is not reproduced only in .NET Core 3.0, because when setting the `SelectedItem` property, we forcibly create a `Handle`)

**Repro steps:**
1. Create `ComboBox` and add some `Items`.
2. Set the last `Item` as the `SelectedItem`.
3. Remove last `Item`
4. Try to get the `SelectedItem`

[2021-12-07 13:07] SergeySmirnov-Akvelon opened #6306 "The accessibility rectangle is drawn incorrectly for a dynamically added ListViewGroup."
.NET Core Version:
- 7.0.0-alpha.1.21576.4

Have you experienced this same bug with .NET Framework?:
- No (from .NET Core 6.0)

**Repro steps:**
1. Create a `Form` with a `ListView` and a `Button`.
2. Add an event for a `Button` to add multiple `ListViewGroups` with `ListViewItems`.
3. Run the application
4. Add `ListViewGroups` using the `Button`
5. Get accessibility rectangle for `ListViewGroup`

[2021-12-07 18:59] willibrandon commented on #5884
@merriemcgaw - How about dragging something with a drag source inside of the application, with the drop target being Explorer? Like dragging an item from a `ListView` to Windows Explorer.

[2021-12-08 02:30] #4538 closed

[2021-12-08 03:01] RussKie commented on #3509
FYI, it is being worked on. https://twitter.com/IgorRussKie/status/1467788326493061120

[2021-12-08 05:13] RussKie commented on #5774
This sample is still broken https://github.com/dotnet/winforms/issues/5774#issuecomment-919771932
Whilst the left border is correctly aligned, the right border isn't calculated correctly. So now instead of this:
![image](https://user-images.githubusercontent.com/4403806/133388611-62bccda7-0820-4dea-b0f9-d262106dae8d.png)
I get this:
![image](https://user-images.githubusercontent.com/4403806/145152

[2021-12-08 05:28] RussKie commented on #5884
This is really cool!

[2021-12-08 05:33] RussKie commented on #6267
At this stage we don't have any formed plans or announcements. Binary formatters are used in multiple scenarios - e.g. the clipboard and resources. We are fully aware this deprecation will likely have far reaching impact, and we need to plan accordingly.

[2021-12-08 06:10] willibrandon commented on #5884
It's getting better. I discovered how to respond to data requests from Windows Explorer.

Dragging from Explorer to the application, and back. Somebody pinch me.

https://user-images.githubusercontent.com/5017479/145157013-6eb7a0b3-fdc5-45b3-bcbd-08a6eab03720.mp4

[2021-12-08 06:15] willibrandon commented on #5884
So far I've observed the following data formats used by Explorer:

Preferred DropEffect
FileDrop
UniformResourceLocator
FileGroupDescriptorW
TargetCLSIDfRelease
TargetCLSID
AsyncFlag
Logical Performed DropEffect
Performed DropEffect
FileNameMapW
FileOpFlags
DropEffectFolderList

[2021-12-08 08:42] Olina-Zhang opened #6317 "Accessibility: Inspect: The LegacyIAccessible.DefaultAction property should not be empty for Collapsed/Expanded DateTimePicker"
* .NET Core Version:
.Net 7.0 SDK build: 7.0.100-alpha.1.21568.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Create a Winforms .Net Core application
2. Add a DateTimePicker control to form designer
3. Build and run application, then use Inspect to detect it when DateTimePicker is collapsed and expanded, pay attention to the LegacyIAccessible.DefaultAction

[2021-12-08 12:30] skrysmanski commented on #3619
Just as a note for anyone stumbling across this: This problem happened to me today with VS 2019 16.11.6 - so apparently it has not been properly fixed in 16.8.

[2021-12-08 18:33] OliaG opened #6320 "Epic - Improve WinForms startup performance for ARM64"
On Windows, .NET 7 Windows Forms startup is 1.1x faster than .NET Framework 4.8 on Arm64 and x64.

[2021-12-08 18:45] #6116 closed

[2021-12-08 19:19] Tanya-Solyanik commented on #3883
Fixed by https://github.com/dotnet/winforms/pull/6250

[2021-12-08 19:19] #3883 closed

[2021-12-08 21:31] cbenard commented on #1462
@dennismaxjung @EamonHetherton Does not work for me, and I think I know why. When you put it in a Framework project as `something.dll.licenses`, the root namespace is prepended so you get `something.something.licenses` which doesn't match the original name. The solution is to do this:

[code]

I extracted the resource ending in `licenses` using dnSpy from one built by the build server get the corr

[2021-12-09 01:50] Amy-Li03 opened #6322 "The ToolStripButton borders have low color contrast ratio in high contrast mode on win11 OS"
* OS Version: Win11
* .NET Core Version:
.NET Core SDK: 7.0.0-alpha.1.21568.2

* Have you experienced this same bug with .NET Framework?:
Yes

* More info:
1. There is a known issue: [6220](https://github.com/dotnet/winforms/issues/6220) about this on Win10 OS
2. This issue is reproducing when high contrast is Aquatic/Dusk/Night sky
3. This issue doesn't repro when high contrast is Desert

**Minim

[2021-12-09 02:22] RussKie opened #6323 "Switch to net7.0 tfm"
* dotnet/runtime and dotnet/aspnetcore have already switched over, e.g. https://github.com/dotnet/aspnetcore/blob/main/eng/Versions.props#L46. See https://github.com/dotnet/aspnetcore/pull/36328/commits/5c4e769b076a37b65b310d8f792a9d4a40d06bad for more details.
* remove all non dotnet7 NuGet feeds

[2021-12-09 05:39] ArtemTatarinov opened #6324 "Move the rest of duplicate logic of `GetPropertyValue` to base class"
We should investigate and refactor the following cases by moving them to the `GetPropertyValue` method of the base class from the children classes:
- `IsInvokePatternAvailablePropertyId` (needs special attention because the `AccessibleObject` class uses a large switch inside the `IsInvokePatternAvailable` property for checking `IsInvokePatternAvailablePropertyId` property, we need to be sure that

[2021-12-10 08:48] AngeloCresta commented on #5421
This week I had time to dig a bit into this, and I've found something interesting, the issue is not (only) with the toolbars, but it seems with the DWMComposition (*) and Windows 11 (build > 220000).
If you have a custom form with no standard border  (let's say 1px) and a paddind of 1 px, the composition is not able to draw the child controls docked into the parent (Form), addind at least 2px on b

[2021-12-10 12:05] ArtemTatarinov opened #6326 "Selected dropdown button in `PropertyGrid` entry has visual artifacts on Windows 11"
* .NET Core Version:
3.0, 3.1, 5.0, 6.0, 7.0

* Have you experienced this same bug with .NET Framework?:
Yes, at 4.7.2 and 4.8, but in a bit different manner (see the screenshot below)

**Problem description:**
When the drop down button is selected with the mouse cursor, there're some visual artifacts on this button:
![image](https://user-images.githubusercontent.com/87859299/145568114-c12b791c-63

[2021-12-10 13:45] tbolon commented on #6297
We had a similar problem for years in our app, where the StatusStrip does not supports binding because its override of `OnBindingContextChanged` does not update binding on child items. It's caused by the fact that ToolStripItem does not inherit from Control, and is not aware of any change in parent BindingContext.

We fixed this problem by subclassing StatusStrip and adding a specific method to up

[2021-12-10 13:59] roland5572 commented on #5493
Thank you @Ashley-Li

The same problem exists in the **MenuStrip** control (System.Windows.Forms.MenuStrip).
Is it also fixed?

![020](https://user-images.githubusercontent.com/88176616/130546534-0ff01a85-c75c-434b-ac6e-8e71948b2cd7.png)

[2021-12-10 14:31] hdefucom commented on #6297
How should I rewrite it? I don't know much about the "BindingContext" of the component，Manually call onbindingcontextchanged of toolstripitem?

[2021-12-10 14:34] hdefucom commented on #6297
This prevents access to protected members, --> CS1540
[code]

[2021-12-10 14:38] tbolon commented on #6297
It's an old problem and I don't remember exactly the details. We also add to subclass the StatusStripItem if I remember. There is no easy fix.

And by reviewing your code, I see that you are setting directly the DataSource on the control, so I am not even sure my comment applies to your problem. In our case, the DataSource was a BindingSource component attached to the parent form.

You should try

[2021-12-10 16:49] TonyValenti commented on #6043
Hi @dreddy-work -
I'm going to create a feedback ticket.  This issue is really dragging on us.

We have two different versions of our app and it seems like something in ClickOnce isn't isolating them from each other.
To recreate the issue, install these two apps in any order:
https://get.fasterlaw.com/UniversalMigrator/setup.exe
https://get.fasterlaw.com/UniversalMigrator.clio/setup.exe

You'll ge

[2021-12-10 17:51] Tanya-Solyanik commented on #6326
@Olina-Zhang  - could you please try out Artem's app?

[2021-12-10 20:45] merriemcgaw commented on #6326
Is this related to Windows perhaps changing the dropdown button to be curved and the selection rectangle isn't taking that into consideration? We had another issue like that with our buttons recently.

[2021-12-10 21:58] jbhensley commented on #6153
Based on this, any side effect is likely to be seen when programmatically setting location/size.

https://github.com/dotnet/winforms/blob/e283294aefed00a944d0f8e0345859fdc2425a1c/src/System.Windows.Forms/src/System/Windows/Forms/Form.cs#L4749-L4753

Seems like the fix is to not restore previous location/size when coming out of a maximized state due to Windows snap layout, but it might be more comp

[2021-12-11 02:37] hdefucom commented on #6297
Thank you,
I found out how to do it. I just need to manually update the BindingContext after the data source is changed.
But I don't know what consequences this will bring, but it is effective at present.

[code]

[2021-12-11 03:02] Tanya-Solyanik commented on #6326
Rootcause and fix are probably the same as in  https://github.com/dotnet/winforms/pull/6194 but in different code path

[2021-12-13 04:03] Olina-Zhang commented on #6326
Verified several different Win11 OS versions with Dev17, the results are different. The latest OS version cannot repro this issue

- .Net Core app
Order OS versions can repro it:
![image](https://user-images.githubusercontent.com/26474449/145750193-9de2c3fe-96a7-444d-9abb-28f7d8485f83.png)
![image](https://user-images.githubusercontent.com/26474449/145750240-701421f8-ee51-4b33-b335-242993646710.pn

[2021-12-13 06:10] willibrandon commented on #5884
Setting _UsingDefaultDragImage_ to true causes the drag and drop manager to display the image like it would when dragged from Explorer, with a layered image background (DD_IMAGEBG) and drop description text rendered underneath the drag image.

![UsingDefaultDragImage_true](https://user-images.githubusercontent.com/5017479/145759532-6d299b51-13b2-45db-a615-3546d0d19dca.png)

UsingDefaultDragImage (

[2021-12-13 06:11] Ashley-Li commented on #5493
@roland5572 Yes, it also fixed.

[2021-12-13 06:19] EmilyFeng97 commented on #6246
This issue also repro when creating the asp.net core app.
![image](https://user-images.githubusercontent.com/66412474/145761916-c803832d-3d44-4e62-9254-a167627e352f.png)

[2021-12-13 11:03] Danil-Andrianov opened #6333 "Some rewritten MAUI tests fails"
* .NET Core Version:
7.0.0-alpha.1.21576.4

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Some Integration tests occasionally fails.
![image](https://user-images.githubusercontent.com/74228865/145800747-29800083-d024-42d4-b6dc-64e42d29b553.png)

[2021-12-13 19:57] dreddy-work commented on #6246
https://github.com/dotnet/winforms/pull/6206

[2021-12-13 22:30] Tanya-Solyanik commented on #6326
Thank you, @Olina-Zhang ! this is great to see!
I'm keeping this bug open for @merriemcgaw to take a look in case we want to document it somewhere.

[2021-12-13 22:50] Tanya-Solyanik commented on #6187
@Olina-Zhang  - could you please retest this on the newest windows11?

[2021-12-13 23:08] merriemcgaw commented on #6326
I will be sure to document that our best experience is on the latest OS builds. But I'm so glad this was filed so we can refer back to it!

[2021-12-13 23:08] #6326 closed

[2021-12-13 23:15] merriemcgaw commented on #4484
Covered by a .NET 7 targeted Epic. #6270

[2021-12-13 23:15] #4484 closed

[2021-12-14 00:05] dreddy-work commented on #6215
Original issue is wrongly understood, and this is not needed

[2021-12-14 02:10] roland5572 commented on #5493
@Ashley-Li ,Thank you very much.

[2021-12-14 02:56] RussKie commented on #6333
What are the actual errors? The tests appear to pass on the build agents.

[2021-12-14 03:06] Olina-Zhang commented on #6187
This issue still repro on the newest Windows 11 version with .Net 7.0 installed: Button with FlatStyle: Standard and not focused.
![image](https://user-images.githubusercontent.com/26474449/145925077-ac9544aa-2fab-44f2-a45f-86d5cdf11987.png)
And it doesn't reproduce on .Net 6.0 after .Net 7.0 is uninstalled with same Windows 11 version
![image](https://user-images.githubusercontent.com/26474449/14

[2021-12-14 05:26] ArtemTatarinov commented on #6326
I've found some kind of a quick workaround for this issue, maybe it would be useful for someone or for a future possible investigation. The calling of the `base.OnPaint(pevent)` at the `OnPaint` method at the `DropDownButton` class should be modified like this:
[code]
`else` block is needed because without it when the button is selected for the first time there are some other artifacts that remain

[2021-12-14 06:58] ArtemTatarinov opened #6339 "Setting `MainMenuStrip` at the MDI child form several times leads to multiplying `ControlBox` buttons"
* .NET Core Version:
7.0

* Have you experienced this same bug with .NET Framework?:
Yes, at 4.8

**Problem description:**
If the `MainMenuStrip` property of the child MDI `Form` class is set to some `MenuStrip` instance, then set to null, and then is set again to the `MenuStrip` instance, then the `ControlBox` buttons (`System`, `Minimize`, `Restore`, `Close`) are cloned:

![mdiMultipleButtons](h

[2021-12-14 07:26] RussKie commented on #6339
I'm having a deja-vu.... https://github.com/dotnet/winforms/issues/3029#issuecomment-749295542. However this was only an issue in .NET Framework, and it didn't repro in .NET Core 3.1 or .NET 5.0.
Please check when this was regressed.

[2021-12-14 07:29] RussKie commented on #6326
@ArtemTatarinov is this something you suggest we change in our codebase?

[2021-12-14 07:36] AraHaan commented on #6270
@merriemcgaw is there plans to have it auto select dark mode for everything if Windows is in Dark mode (to color everything including scrollbars dark like in Windows Explorer).

Bonus Points: If the Windows Team can expose a way to make all MessageBoxes/TaskDialogs, as well as all of the Common Controls dark as well too.

Although it would be cool if there was apis where an application can create

[2021-12-14 07:38] ArtemTatarinov commented on #6326
No, that's just in case.

[2021-12-14 09:31] Danil-Andrianov commented on #6333
@RussKie There are random tests failing. I suspect it's because of form: now we have separate form for each test, so there is a mess with the coordinates, focuses etc.

[2021-12-14 19:49] dreddy-work commented on #5774
@Lydia-Shi , can you confirm on this with latest WinForms bits from main branch? and if it repro, can you track what change causing it?

[2021-12-14 19:56] #5494 closed

[2021-12-14 22:36] kuhnboy commented on #5113
I'm interested in the fix as well. Changing from FixedDialog to another border style fixes the issue.

[2021-12-15 00:43] #5405 closed

[2021-12-15 02:11] willibrandon commented on #5405
@roland5572 - Thank you for the good idea.

[2021-12-15 02:11] RussKie commented on #6333
In the interest of transparency, we had an offline chat and determined that
a) mnemonics related tests are dependent on the keyboard layout - i.e., the test must be run with the English keyboard layout, and
b) all UI integration must use the `InputSimulator`.

[2021-12-15 03:02] Lydia-Shi commented on #5774
@dreddy-work Verified this issue with latest .NET 7.0.100-alpha.1.21568.2 + private dlls built from main branch in Winforms repro, this issue is fixed after resized From, and we also get same results without private dlls, please see below GIF:
![Fixed](https://user-images.githubusercontent.com/54019172/146115004-d7352064-c430-440f-b757-d920a35f04ad.gif)

[2021-12-15 03:07] dreddy-work commented on #5774
It seems there is an issue with the container size holding those controls. behavior is not same as Framework.

[2021-12-15 07:07] willibrandon commented on #5884
As noted in [DROPDESCRIPTION](https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/ns-shlobj_core-dropdescription), some UI coloring is applied to the text in **Insert** if used by specifying _%1_ in **Message**.

Without UI coloring.

[code]
![DropDescription_no_color](https://user-images.githubusercontent.com/5017479/146136535-fe11212c-1c90-4faf-8dea-f81e9ad58309.png)

With UI coloring

[2021-12-15 07:56] roland5572 opened #6349 "ElementHost class causes black areas when maximized"
If use class **System.Windows.Forms.Integration.ElementHost** in Winforms, and then maximize the interface, it will cause a large area of black on the interface background.

https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.integration.elementhost

Test Code:
.net 6.0

[code]
Test Steps:

Step 1: Double-click the title bar to start maximizing.

![000](https://user-images.githubuserc

[2021-12-15 17:16] ArtemTatarinov commented on #6339
I've reproduced it at the latest build of the 5.0 and 6.0 branches:
![image](https://user-images.githubusercontent.com/87859299/146228225-ee32e6f6-68e8-4a93-8d4b-a087a8b8ea92.png)
![image](https://user-images.githubusercontent.com/87859299/146230736-b4c69ccd-6181-41a4-b384-1a06af38edae.png)

In 3.1 checking/unchecking the `Set parent menu strip` ComboBox isn't affecting the main menu strip at all

[2021-12-15 18:18] #5912 closed

[2021-12-15 19:55] jbhensley commented on #4042
The problem would appear to be here:

https://github.com/dotnet/winforms/blob/6dfe634b722120b575cb6ac9904e6d95cc161894/src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs#L471-L482

Since `CheckedItems` cannot be used in conjunction with virtual mode, it would seem that the fix would be changing line 471 to `if (CheckBoxes && !VirtualMode)`.

I made this change and validated that the err

[2021-12-15 23:00] #3617 closed

[2021-12-16 02:37] Lydia-Shi commented on #6349
Verified this issue with latest .NET 7.0.100-alpha.1.21568.2 and .NET 6.0.200-preview.21573.3, this issue cannot repro.
**Reproduce steps:**
1. Create a Winforms .NET Core application
2. Add WindowsFormsIntegration.dll(Under C:\Program Files\dotnet\shared\Microsoft.WindowsDesktop.App\6.0.0) reference to this project
3. Add above code in Program.cs
4. Build and run this project

**Results:**
After

[2021-12-16 03:04] RussKie commented on #4042
Thank you @jbhensley for spotting this and your investigation.
It is plausible that some bug have managed to sneak in, as while updating the `ListView` functionality (primarily for the accessibility scenarios) we overlooked the virtual mode scenario, and had to close the gaps very late in the .NET 5.0 dev cycle. To be fair (though not trying to excuse ourself) `ListView` has a very broad functiona

[2021-12-16 03:08] roland5572 commented on #5405
@willibrandon Thank you. I also found a possibility to increase the speed of WPF controls and save WPF system resources. I have updated the test results in this case.

https://github.com/dotnet/wpf/discussions/5582

[2021-12-16 03:52] roland5572 commented on #6349
@Lydia-Shi , You can see my screenshot, I captured your video first, and then used the video player that comes with Windows to view it **frame by frame**, and then I found out.

It does appear on a black background.

![001](https://user-images.githubusercontent.com/88176616/146304647-274e560d-a723-45cc-97f4-ad44c844870e.png)

The **timestamp** on the screenshot may be inaccurate, because I used th

[2021-12-16 10:18] SergeySmirnov-Akvelon opened #6353 "An exception appears when the user press the left / right arrow in the ListView without ListViewGroup"
.NET Core Version:
 - NET Core SDK: 7.0.0-alpha.1.21606.7

Have you experienced this same bug with .NET Framework?:
- Yes (from #5960)

**Problem description:**

1. Create a `Form` with a `ListView`.
2. Add an `ListViewItem` to the `ListView`.
3. Run the app.
4. Press the left / right arrow.

**Actual behavior:**
User sees an exception.
![Issue-6353](https://user-images.githubusercontent.com/23376

[2021-12-16 14:51] jbhensley commented on #4042
I submitted a PR with the changes.

We have an app that's part WinForms and part WPF that's being converted to full WPF, but slowly. In the meantime, we'd like to migrate to .NET >= 5

[2021-12-17 00:16] merriemcgaw commented on #5884
We probably want to consider colors of the drag text when the user is using High Contrast.

[2021-12-17 00:19] merriemcgaw commented on #6270
Our plans are in the very early stages @AraHaan. I'm working with Windows to make sure an API is available that exposes to WinForms whether the OS is set to light theme or dark theme. We'd obviously expose this in WinForms APIs as quickly as we can. But going as far as a full automatic theme, I can't predict a timeline for that. We've got some ideas but there's also issue prioritization and resour

[2021-12-17 00:22] merriemcgaw commented on #6187
Would it be the rectangles we're drawing when we're increasing the contrast of our buttons borders?

[2021-12-17 03:07] AraHaan commented on #6270
I guess a possible winapi header for it could look like so:

[code]

Oh course that would need to be done on the Windows sides and more work might need to be done to allow it for basically all of the common controls apis, etc.

[2021-12-17 06:17] willibrandon commented on #5884
Thanks @merriemcgaw that is super motivating to hear that. It has been a true test in patience and understanding.

I've just recently got the drag images and drop descriptions working with the RichTextBox.

https://user-images.githubusercontent.com/5017479/146498147-23168550-316d-4bbd-862a-bdec4f93a90a.mp4

[2021-12-17 17:15] tgriff opened #6359 "[Accessibility] Narrator announces NumericUpDown as "edit" instead of "spinbutton""
* .NET Core Version:
None

* Have you experienced this same bug with .NET Framework?:
Yes, .NET Framework 4.8.1

**Problem description:**
Narrator announces NumericUpDown as "edit" instead of "spinbutton". I have set the AccessibleRole = SpinButton but the control is still announced as "edit". Note that this was reported to me by our internal accessibility test team and I am filing this issue per

[2021-12-18 00:00] KnightNine opened #6361 "Arrow navigation always prioritizes parent `DataGridView` control regardless of what child control is focused."
* .NET Core Version:
6.0

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
The issue is that I cannot use arrows for navigating through any of my controls that are children to my parent DataGridView.
adding a `TextBox`, another `DataGridView`, or any control that uses the arrow keys for navigation in any way to the Controls of a `DataGridView` means that any

[2021-12-18 06:15] willibrandon commented on #5884
Dragging multiple files from Explorer causes the drag-image manager to display a multi-file layered image DD_IMAGEBG with the number of files displayed in the middle DD_TEXTBG.

![DragDropMultiFile_FromExplorer](https://user-images.githubusercontent.com/5017479/146631116-99e05e32-ee4a-4a9b-860c-beffe7d71037.png)

[2021-12-18 07:16] roland5572 opened #6362 "Long text causes ToolStripLabel not to display any text."
If you have a long text that needs to be displayed on the ToolStripLabel control, when your form interface is not wide enough, ToolStripLabel will hide all the text instead of using ellipsis to replace the content that is not wide enough.

If no text is displayed, it looks like the entire control is missing.

Suppose the program prompts the user with an important message (The program itself may no

[2021-12-18 13:24] memoarfaa opened #6364 "Windows 11 breaking Development compatibility"
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?:  Yes

**Problem description:**

1.  MDIParent Window  that have Custom WM_NCPAINT Windows Message or  its  DWMNCRENDERINGPOLICY set to DWMNCRP_DISABLED will add then new  Snap layouts in maximize button to Mdi Child Window (how  a Child Window can layout all Desktop Windows and layout its parent in Desktop  );

![2021

[2021-12-18 18:40] willibrandon commented on #5884
Drag text without UI coloring in high contrast.

[code]

![DragText_WithoutUIColoring_HighContrast](https://user-images.githubusercontent.com/5017479/146652246-808329f9-3bf2-4632-ac73-43307729625e.png)

Drag text with UI coloring in high contrast. The word "Explorer" has coloring applied.

[code]
![DragText_WithColoring_HighContrast](https://user-images.githubusercontent.com/5017479/146652251-1439

[2021-12-18 18:55] willibrandon commented on #5884
@merriemcgaw - This is a good example of why this one could take me a while to get there. High contrast themes wasn't even something I was aware of.

[2021-12-19 06:13] randydejesusmarte opened #6366 "C# need the inputBox"
C# You need the inputBox tool that VB had so that developers can save some time in some developments and according to some tests that I have done, it would not be difficult to implement it in this or some future version

[2021-12-19 21:19] willibrandon commented on #5884
I'm taking a look at the ToolStripItem next as it has its own DropTarget/DropSource implementation. Please bear with me.

Also I'm starting to think about what automated unit and integration tests could and should look like. Drag-and-drop doesn't seem to be a well tested area at the moment. I only see [2 tests](https://github.com/dotnet/winforms/blob/6766f3edf0ab99bf64aa0243f6125caa5fba7344/src/Sy

[2021-12-20 08:43] KnightNine commented on #6361
found a fix here https://stackoverflow.com/questions/43071129/handle-navigation-keys-in-textbox-inside-datagridview maybe it helps.

[2021-12-20 09:14] Lydia-Shi commented on #6362
This issue also reproduce in .NET Framework. The label has been collapsed in Form designer.
![image](https://user-images.githubusercontent.com/54019172/146741174-c3031dd0-b57c-4cdf-9c29-166a1257db17.png)

[2021-12-20 18:34] #6353 closed

[2021-12-20 18:36] dreddy-work commented on #6362
@roland5572, did you notice same in .NET framework 4.8? or earlier core versions like .NET 3.1 or 5.0?

[2021-12-21 01:10] RussKie commented on #5884
Have a look at the UIIntegration tests, those use InputSimulator to control the mouse and the keyboard.

________________________________
From: Brandon Williams ***@***.***>
Sent: Monday, 20 December 2021 8:19 AM
To: dotnet/winforms ***@***.***>
Cc: Igor Velikorossov ***@***.***>; Comment ***@***.***>
Subject: Re: [dotnet/winforms] support drag and drop with icon and text label (#5884)

I'm taking

[2021-12-21 02:01] roland5572 commented on #6362
@dreddy-work Yes, I just recompiled it and it appeared in .net framework 4.8 and .net 5.0

[2021-12-21 05:15] willibrandon commented on #5884
@RussKie - Amazing! This approach definitely alleviates the issue described in https://github.com/dotnet/winforms/issues/3336 and allows the system to carry on and call IDropTarget::DragEnter when the cursor passes over a drop area.

Thank you very much. I could have wasted a lot of time looking for that.

[2021-12-21 11:50] 2mik commented on #2491
Currently, is there any lifehack to run WinForm editor without scaling for .NET 6 project on 4K screen?

[2021-12-21 11:52] Youssef1313 commented on #417
I have seen this in a branch new Hello, world console app.

https://github.com/dotnet/sdk/issues/9632 suggests to run `dotnet build-server shutdown`.

It didn't work for me, but may work for others.

For my case, this was caused by `MSBuildSdksPath` environment variable being set to a version different than what I specified in a `global.json`. I had to update the path to match the SDK version in `

[2021-12-21 14:55] 2mik opened #6380 "TreeView images not scaled on high DPI"
* .NET Core Version:
6.0

* Have you experienced this same bug with .NET Framework?:
No info

**Problem description:**
When a monitor is scaled, for example 150%, tree view images are still small while labels are scaled well. See the screenshots.
Scale 100%
![scale100](https://user-images.githubusercontent.com/9930867/146950228-a72087ee-eb7f-4f2f-8ec4-ddb745172236.png)
Scale 150%
![scale150](https

[2021-12-21 15:56] 2mik opened #6381 "Anchors of user control don't work when scaling on high DPI"
* .NET Core Version:
6.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

When components are inside a user control, their anchors work incorrect when scaling. It affects a project a lot, because using docking instead of anchors for components inside a user control is difficult in some cases.
Scale 100%
![scale100](https://user-images.githubusercontent.com/

[2021-12-21 16:18] 2mik opened #6382 "ItemHeight of ListBox is not scaled on high DPI in OwnerDrawFixed mode"
* .NET Core Version:
6.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

When using ListBox in the OwnerDrawFixed mode, item heights are not scaled.
Scale 100%
![scale100](https://user-images.githubusercontent.com/9930867/146963072-7692bfbe-e38d-42dc-a565-525709369ef8.png)
Scale 150%
![scale100](https://user-images.githubusercontent.com/9930867/146963091-2

[2021-12-22 18:25] jbhensley commented on #6304
I submitted what I believe to be a fix for this.

There is a larger issue, which is that `ComboBox` does not raise `SelectedIndexChanged` or `SelectedValueChanged` in response to mutations in the underlying collection. For this fix, `SelectedIndex` gets set to -1 when the `SelectedItem` is removed from `Items`. In keeping with existing behavior, no events are raised. This matches what is observed

[2021-12-23 04:01] #6255 closed

[2021-12-23 10:20] vladimir-krestov commented on #6221
Disabled controls are not required to be contrast:
- "_User Interface Components that are not available for user interaction (e.g., a disabled control in HTML) are not required to meet contrast requirements in WCAG 2.1._" - from the [doc](https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast.html#:~:text=Inactive%20User%20Interface%20Components).
- "_Text or images of text that are part of

[2021-12-23 10:20] #6221 closed

[2021-12-23 10:43] vijayarasan opened #6415 "Wrong Icon Displayed windows 2003 OS and Windows 2008 server"
**Problem description:**

We create the simple sample and set font style as “Regular”, the issue raises whereas when the font style is set to “Bold”, the icon font is drawn properly. Here I have attached the sample for your reference.

**Sample Link :**  [IconFont.zip](https://github.com/dotnet/winforms/files/7768722/IconFont.zip)

Image for your reference,

**Regular FontStyle :**

 ![RegularFont

[2021-12-24 06:05] Lydia-Shi commented on #5774
@dreddy-work Verified "PushForm" in latest .NET 7.0.100-alpha.1.21568.2, "FormPush" form shows incorrectly after clicking "Shows options" in 300%,200%,175%, but shows correctly in 150%, so please help us to confirm if there are some errors about control size in sample project.
![ForPush](https://user-images.githubusercontent.com/54019172/147321198-8b49205a-5120-4166-aaf6-4521fe24446a.gif)
![image]

[2021-12-25 19:43] nathan130200 opened #6420 "Timed out while connecting to named pipe: DesignToolsServer"
* .NET Core Version:
.NET 6.0.100

* .NET Info Command
[code]

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Attemt to open winforms designer on NET6 fail everytime.

If i both add `<TargetPlatforms>net472;net6.0-windows</TargetPlatforms>` for both net6.0-windows and net472, the designer open, but open old .NET Framework designet (that works too for .net 6

[2021-12-26 10:41] roland5572 opened #6421 "Setting ShowInTaskbar to false causes the form to close automatically (Abnormal exit)."
Setting ShowInTaskbar to false causes the form to close automatically (**Abnormal exit**).

https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.form

Test Code:
.NET 6.0 (Version: 6.0.1)(This problem also appears in .net framework 4.8)
Win10 system (21H2).

[code]

Steps to reproduce:
1. Run the appliction.
2. Click the first button, the application will open a new Form.
3. Click the

[2021-12-27 09:26] ArtemTatarinov opened #6430 "Extract test controls from resources to code"
Some items at some forms (`ListViewTest`, `TreeViewTest`) of our internal test application (`WinformsControlsTest`) are created from the resources:
![image](https://user-images.githubusercontent.com/87859299/147456432-7b180c49-2108-4ab1-a48b-bdcf6e9192a6.png)
![image](https://user-images.githubusercontent.com/87859299/147456481-43c45c68-d152-4bb7-8133-1dc14c5ddfab.png)

These items are not visible

[2021-12-27 11:22] vladimir-krestov commented on #3613
I agree with @weltkante, we shouldn't change users "Tab" expirience.
Also, Alt+down/F4 buttons work for the control. Moreover, DateTimePicker supports Expand/Collapse pattern, so Narator announces if the control is expanded/collapsed. So users know how to work with it.
![image](https://user-images.githubusercontent.com/49272759/147466774-9991d6d4-7d6f-4f6d-b3dd-dc7417e40e1c.png)
In my opinion, we

[2021-12-27 11:31] vladimir-krestov commented on #3626
@Vino-Wang, could you please check this issue for the latest sdk.
Looks like we fixed this after https://github.com/dotnet/winforms/pull/6250

[2021-12-27 17:31] #6339 closed

[2021-12-27 17:40] #6304 closed

[2021-12-27 19:10] dreddy-work commented on #6420
@Shyam-Gupta / @RussKie can you guys take a look here and map it to the issue in designer repo?

[2021-12-27 19:12] dreddy-work commented on #6415
@vijayarasan , These OSs are not in [support ](https://docs.microsoft.com/en-us/microsoft-365/security/defender-endpoint/tvm-supported-os?view=o365-worldwide#:~:text=Capabilities%20per%20supported%20operating%20systems%20%28OS%29%20and%20platforms,%20%20Yes%20%2015%20more%20rows%20)for non-security related issues.  Do you see similar issue with latest/supported OS?

[2021-12-28 06:11] Atma9 commented on #4790
After the introduction of VS 2022, there are no obvious improvements for the Win-forms designers for .NET Core. Roughly the same issues persist as one year ago. However we did seem to manage to find one (reproducible) bug:

[Browsable(false)]

does not hide the property from being serialized. This makes no sense. Why would you want to prevent browsing of property from the VS.IDE, but at the same s

[2021-12-28 18:58] #4042 closed

[2021-12-29 07:05] AraHaan commented on #6421
This is odd because in my program it works just fine (even when using 7.0.0-dev runtime) 🤔.

[2021-12-29 07:23] roland5572 commented on #6421
Did you use Win7 or Win11? I am running on Win10 system (21H2).

[2021-12-29 13:29] AraHaan commented on #6421
I use Windows 11 on my old computer (that had 11 since it was in preview), and my newer one and it seems to work fine.

[2021-12-29 13:57] tbambuch opened #6439 "Controls are scaled multiple times in PerMonitorV2 HDPI mode"
* .NET Core Version:
6.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

ContainerControls with Visible = false are scaled multiple times in the PerMonitorV2 mode if moved to the another screen and then made visible

**Expected behavior:**
scaling (Size, Location, Margins, Paddings) should be made only once

**Minimal repro:**
Sample project attached. My s

[2021-12-29 14:19] tbambuch opened #6440 "UserControls inside another UserControl are not scaled in PerMonitorV2 HDPI mode"
* .NET Core Version:
6

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

If you place UserControl with AutoScaleMode = Inherit inside another UserControl with AutoScaleMode = Inherit, the control will not be scaled when moving the form to another screen with different dpi.

**Expected behavior:**
scale the control, including any child controls

**Minimal rep

[2021-12-29 15:35] roland5572 commented on #6421
I just used Win11 for testing. I used the test code above. Found the same problem. I am not sure if this problem can be avoided by other codes in your program.

[2021-12-29 15:40] jmarioiii commented on #4304
@merriemcgaw is there any update on this?  I have a library of user controls that rely on custom UITypeEditors for design mode configuration and when we ported over from Framework 4.8 to 6.0 we lost all functionality.

[2021-12-29 21:21] hamarb123 commented on #2491
Hi, I opened a project today in VS 2022 (17.0.4) and it is certainly not fixed. Even running in 100% scaling mode doesn't fix it. Please remove this from "Done" and fix it, it makes using WinForms almost impossible on High Dpi Displays.

[2021-12-30 00:56] hamarb123 commented on #3161
I'd like to fix this, I can do a PR.
One way I could fix it is by moving `GetTitleFromAssembly` to the dotnet/runtime repo and moving the `Title` check there.
Another way it could be done is by writing `InvokeMethod`s in IL code and then just calling the function without reflection, and forcing inlining to happen with `aggressiveinlining` (which should pretty much always inline it since it is just

[2021-12-30 06:06] 2mik commented on #2491
My solution (I hope temporary):
1. Use 2 monitors. The 1st is FullHD, the 2nd is 4K.
2. In display settings, set 1st monitor as primary.
3. Open VS on the 2nd monitor. Despite some troubles, the designer is possible to use.
In my opinion, fixing WinForms designer for high DPI should have a higher priority.

[2021-12-30 07:34] willibrandon commented on #5884
As noted in [DROPDESCRIPTION](https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/ns-shlobj_core-dropdescription) and [DROPIMAGETYPE](https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/ne-shlobj_core-dropimagetype), a drop image type can be specified which indicates the type of image to be used with the drop description text.

**DROPIMAGE_INVALID**

[code]
![DropImageType In

[2021-12-30 09:01] willibrandon commented on #5884
This is starting to look really good and the drag images and drop descriptions result in a very nice drag-and-drop experience. It makes drag-and-drop more discoverable and easier to use.

I can't help but wonder why it doesn't already exist in Winforms?

[2021-12-30 11:55] fahadabdulaziz commented on #6421
I can confirm this problem using Win10 21H2, on .NET 6.0.1 but not Win10 21H2 .NET 6.0.0.
Maybe #6115 is related.

[2021-12-30 21:22] willibrandon commented on #5884
I can imagine drag images and drop descriptions being implemented in a few different ways and before I go too far in a certain direction, I suggest we start by first adding support for DropTargets to display the drag image (if one is available) and to specify a drop description. Its a little easier to achieve compared to adding support for DropSources, or more specifically, adding support to speci

[2021-12-30 22:26] RussKie commented on #5884
👍
________________________________
From: Brandon Williams ***@***.***>
Sent: Friday, 31 December 2021 8:22 AM
To: dotnet/winforms ***@***.***>
Cc: Igor Velikorossov ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/winforms] support drag and drop with icon and text label (#5884)

I can imagine drag images and drop descriptions being implemented in a few different ways and before I go too far

[2021-12-30 23:47] zkost commented on #6193
Is there a fix for this yet?

[2021-12-31 06:03] randydejesusmarte opened #6444 "C# need a inputBox similar to visual basic"

[2021-12-31 14:59] #6444 closed

[2022-01-02 01:23] CharlesOkwuagwu commented on #5368
Hi,

Please I'm trying to migrate a project having `MenuItem` to the new `ToolStripMenuItem`
The `Index `property of `MenuItem `seems to have no equivalent in `ToolStripMenuItem`.

RE: **MenuItem.Index**
[code]
Please advise on what to do in this case. Thanks!

[2022-01-02 06:18] AraHaan commented on #6421
Odd I now run into this issue now with manually built runtime running at the tip of branch main.

[2022-01-02 06:26] AraHaan commented on #6421
I think it *could* be that I hide the form the first thing right on the load event on my forms program causing it to terminate ironically right after it loads TerraFX.Interop.Windows 😄.

[2022-01-02 15:07] RuoYear opened #6453 "Why does the UI designer need to scan the output directory? Cause it to keep looping "loading designer you can continue working""
* .NET Core Version: .NET 6.0.1

* Have you experienced this same bug with .NET Framework?: NO

Hello, I am using visual studio 2022, and I upgraded my previous .NET Framework project to .NET 6, but when I use the designer, it just keeps prompting "The designer is loading, you can use the designer in the background Continue to work while loading".
But when I rebuild a similar project step by step,

[2022-01-02 19:39] KlausLoeffelmann opened #6459 "Let's consider adding a faster, modern rendering engine for custom 2D and Text rendering like Skia or Direct2D/DirectWrite"
Since this topic is one of my personal favorite topics, which I deal with as a hobby in my spare time, I have been experimenting with GDI+, DirectWrite/Direct2D and SkiaSharp a bit lately. While we've made significant improvements around GDI/GDI+ memory consumptions and efficiency, we hear more and more feedback that the WinForms community finds GDI+ too slow in its (rendering) core for modernizin

[2022-01-02 21:19] kirsan31 commented on #6459
@KlausLoeffelmann do you forget to add second (Skia) gif/video?

[2022-01-02 22:25] KlausLoeffelmann commented on #6459
No. They are currently all just too big as GIFs, so I couldn't add them.
I have to recapture them with Camtasia and edit them.

[2022-01-02 23:40] paul1956 commented on #6459
At least a couple of the WinForms Apps I work on regularly hanged for extended periods of time rendering large datasets and had to be recoded to smooth out the behavior it, would be nice if DataGridView just worked, which technology used to me is an implementation decision.

[2022-01-03 00:08] KlausLoeffelmann commented on #6459
@paul1956: Can you elaborate on that? Is this a rendering problem in the DataGridView, where it takes too long to actually bring the representation for the already present data on the screen, or is the problem to get the data in time to then render without interruptions?

[2022-01-03 00:17] paul1956 commented on #6459
I can only describe the symptom. When I have a lot of rows in DGV, When filling the grid it tries to update the display after each row is added and the is very slow. When it finishes, which could take minutes, scrolling even 1 raw takes almost as long. I now only load what is in view but there is a lot of manual management to get that to work.

[2022-01-03 09:50] 2mik commented on #6459
Currently WinForms look like an abandoned child. They used to be almost bugless and high quality, but not now. Hope this situation will change.

[2022-01-03 13:51] RussKie commented on #6459
Screen2gif can save as mp4, which can be uploaded here.

Please open a new issue with a repro.

[2022-01-03 15:37] filipnavara commented on #6440
I think this is duplicate of https://github.com/dotnet/winforms/issues/6152 and it's been fixed both on `main` branch and in servicing (still unreleased?).

[2022-01-03 17:07] KlausLoeffelmann commented on #6459
Yes, it would be also really interesting to know what you do to mitigate!

[2022-01-03 20:04] merriemcgaw commented on #3613
Agreed!

[2022-01-03 20:04] #3613 closed

[2022-01-04 01:02] AuracleTech commented on #6270
![image](https://user-images.githubusercontent.com/40531871/147996202-d6d9e27d-ed61-4dd1-8e86-c5581c932fbc.png)
Do you know how sad this made me... I... I'll stop programming...

[2022-01-04 01:08] willibrandon commented on #6459
I am very interested in easier ways to render to PDF.

[2022-01-04 04:31] hamarb123 commented on #2491
Thanks @2mik! I've started doing something similar (I run through parallels on a Mac).
I have a 2ndary 1080p monitor and put parallels there in fullscreen and open VS.
I'm yet to use the designer with it moved back, but it would probably work since the designer ignores dpi changes.

[2022-01-04 09:53] weltkante commented on #2491
This is the WinForms runtime, you want to report designer issues through VS (the designer github repo isn't public). My guess is that its closed because there is nothing left to do in the WinForms runtime to support this scenario.

[2022-01-04 13:26] RussKie commented on #6270
This is a Windows issue, a pure MFC app will look the same.
________________________________
From: Auracle ***@***.***>
Sent: Tuesday, 4 January 2022 12:02 PM
To: dotnet/winforms ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [dotnet/winforms] Epic - Align with Win11 look and feel (Issue #6270)

[image]<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fuser-images.githubuser

[2022-01-04 18:23] rickbrew opened #6464 "Catastrophic regression introduced in .NET 6.0.1 WinForms, completely broke Paint.NET v4.3.6"
* .NET Core Version: 6.0.1

**Problem description:**
Yesterday I rolled out a new update for Paint.NET, version 4.3.5. After quickly pushing out a hotfix (v4.3.6) for something that _I_ broke in the code, I then received numerous reports of another catastrophic breaking issue that rendered the app completely broken.

After many hours it was finally determined that the culprit was having a certain

[2022-01-04 19:24] rickbrew commented on #6464
Also, to vent a bit, how on earth was a change like this approved for a _servicing release_ of .NET ?! I am completely baffled by this. Please don't do this again :( It took hours of frantic troubleshooting and debugging to figure this all out, and a lot of my users/customers were _really_ unhappy.

[2022-01-05 08:59] jeffhandley commented on #6464
CC @dotnet/platform-compat-team

[2022-01-05 10:31] willibrandon commented on #5884
I had been wondering if it was possible to extract the drag image itself from the global memory object "DragImageBits" format while in flight so that it could then be passed on to the application to do something cool with, but I had not seen it mentioned in the documentation.

https://user-images.githubusercontent.com/5017479/148196220-b35c265c-2ca3-4f85-9acd-b908c96951a3.mp4

I thought initially

[2022-01-05 13:17] filipnavara commented on #6439
FWIW this is working correctly on .NET 7 nighlies.

[2022-01-05 14:24] nathan130200 commented on #6459
If skia is used to render winforms, maybe can be turned into multiplatform, since all rendering stuff will be on multiplatform library. I know that exists Maui, but maui have lot of boilerplate, and winforms is fast, simple and easy to develop.

[2022-01-05 14:30] filipnavara commented on #6439
This particular bug seems to have been resolved by https://github.com/dotnet/winforms/commit/9b77d919753564d3a47799c59ca426686e7daf70 with the change in ContainerControl.cs. However, we have seen similar errors even with backport of this fix so we are looking into producing new repos.

[2022-01-05 16:30] merriemcgaw commented on #6464
@dreddy-work let's take a look asap!

[2022-01-05 17:51] rickbrew commented on #6464
I'm trying to create a minimal repro, I'll post it when it's ready

[2022-01-05 17:59] dreddy-work commented on #6464
Looking. @rickbrew , please share your repro when you have.

[2022-01-05 18:08] rickbrew commented on #6464
And again, the way I'm dealing with opacity by setting it myself is likely something I can remove, it's just an artifact of how things had to be done in 2004 for reasons that are half lost to time. But, it's been working fine for 18 years so it's hard to justify removing it and risk getting crash reports from an unknown number of systems.

[2022-01-05 18:12] dreddy-work commented on #6464
Nuget package "`TerraFx.*`" available to download? @rickbrew

[2022-01-05 18:13] rickbrew commented on #6464
TerraFX.Interop.Windows is on nuget.org, it's @tannergooding 's. Is it not downloading for you or something?

[2022-01-05 18:14] rickbrew commented on #6464
https://www.nuget.org/packages/TerraFX.Interop.Windows/10.0.20348/

[2022-01-05 18:17] dreddy-work commented on #6464
Initially it was not resolved for some reason. Now i can install it. Thank you for the link.

[2022-01-05 19:21] dreddy-work commented on #6464
@rickbrew , are you sure you do not see this issue in .NET 6.0?

[2022-01-05 19:34] merriemcgaw commented on #4304
Keep an eye out for a blog from @KlausLoeffelmann later this month. It will give you a basic idea of what the new architecture is and why it has to be the new way. We're working on future blog posts to give much more detail on how to develop controls and their designers.

[2022-01-05 21:08] dreddy-work commented on #6464
@rickbrew , I am trying to investigate with sample app provided.  In repro scenario from sample app, i see you were forcing `Handle `creation in setting the Opacity. This Handle creation was taking BaseForm's property `this.StartPosition = System.Windows.Forms.FormStartPosition.WindowsDefaultBounds;` into consideration and thus creating `Form `with windows default bounds instead of Winforms defaul

[2022-01-05 21:17] rickbrew commented on #6464
@dreddy-work Yup, everything was working fine from .NET 1.1 up through .NET 6.0, but stopped working correctly with 6.0.1.

[2022-01-05 21:18] rickbrew commented on #6464
@dreddy-work , TerraFX's last .NET 5 release was v10.0.20348-rc1

Search this page for ".NET 5" and you'll see it: https://github.com/terrafx/terrafx.interop.windows/releases

[2022-01-05 21:22] rickbrew commented on #6464
btw it should not be setting `StartPosition` to `Manual`, that was just a mistake. I've updated the repo.

[2022-01-05 22:04] memoarfaa commented on #6270
https://user-images.githubusercontent.com/12494184/148296043-48b700b7-3164-4c04-b98d-baf4e8f39d6d.mp4

May be but it's beautiful to draw it.
 paint Non Client area not easy for all.
 make Chrome window for mdi ,Child ,normal Window is required if asp.net core didn't do it how will do

[2022-01-05 22:18] memoarfaa commented on #6270
Windows fix will not be good issue but custom NC  area WndProc theme messages will be

[2022-01-05 22:28] RussKie commented on #6270
If you have a fix in mind, please feel free to open a draft PR to continue the discussion.
________________________________
From: memoarfaa ***@***.***>
Sent: Thursday, 6 January 2022 9:18 AM
To: dotnet/winforms ***@***.***>
Cc: Igor Velikorossov ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/winforms] Epic - Align with Win11 look and feel (Issue #6270)

@RussKie<https://nam06.safelinks.p

[2022-01-05 22:33] #3509 closed

[2022-01-05 22:53] dreddy-work commented on #6464
@rickbrew , something is missing here.  I see the repro scenario all the way to .NET 3.1. i.e. the problem you are defining with your sample app exist in .NET 3.1 as well. Do you have a machine with just 6.0 and you do not see the problem? Can you share a gif with running sample app you provided above?

[2022-01-05 23:41] rickbrew commented on #6464
Well the tailored repro is Paint.NET itself. I can provide you access to the repo and you can jump between the commits/branches to test it on Framework 4.7, .NET 5.0.x, 6.0, and 6.0.1. I can also provide installers for all versions that use .NET 1.1 through 4.7, and installers / portable ZIPs for the .NET 5+ versions.

Would that be worth trying out?

[2022-01-05 23:44] dreddy-work commented on #6464
I see you have standalone installers for Paint.NET (including net runtime/winforms binaries with it). Can you provide a working version of standalone installer targeting net 6.0?

[2022-01-06 00:06] Dave-Lowndes commented on #3509
@Shyam-Gupta
In which version of VS should we see this improved facility? I've just updated VS2022 to 17.1.0 Preview 2.0, and for a new WinForm project targeting .Net Core 6, the View, Tab Order menu item seems to be permanently disabled.

[2022-01-06 00:20] memoarfaa commented on #6270
you already see the fix but there is some of points need to discuss how to introduce it.
I will open discussion

[2022-01-06 00:47] rickbrew commented on #6464
Sure -- e-mail me at contact@getpaint.net and I'll send you download links

I don't have an FDD build prepared, but I may be able to transform my SCD into one (at build time I do the reverse, so it must be possible)

[2022-01-06 00:49] dreddy-work commented on #6464
Thanks. I am sending private message. I am not sure how to securely share download links on GitHub either.  If this does not work, i may need access to your repo to play with but that can be later.

[2022-01-06 02:24] RussKie commented on #3509
This will ship in 17.1 GA

[2022-01-06 03:05] kirsan31 commented on #6270
@memoarfaa

 You can use [existing one](https://github.com/dotnet/winforms/issues/3691).

[2022-01-06 05:49] VinoWang01 opened #6468 "ListView will fire the GroupCollapsedStateChanged when focus is on the ListViewItem and user expands/collapses a ListViewGroup using the keyboard"
.NET Core Version:

-  .NET Core SDK: 7.0.0-alpha.1.21568.0

Have you experienced this same bug with .NET Framework?:

- No. `ListViewGroup.CollapsedState` was implemented in .NET Core 5.0 (#3155) and from (#5960)

**Problem description:**
When the user uses the right or left key to expand/collapse the `ListViewGroup`, the focus will be on the `ListViewItem` in the group. At this time, continue to

[2022-01-06 06:34] Junjun-zhao opened #6475 "[dotnet-sdk-7.0.100-alpha.1.21568.2] WinForms Samples app launch failed with error System.ComponentModel.Win32Exception (1400): Error creating window handle"
### Description

When testing WinForms Samples app against runtime dotnet-sdk-7.0.100-alpha.1.21568.2, it failed to launch with error  System.ComponentModel.Win32Exception

### Reproduction Steps

**App Source, App checking at**: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1458251
**Repro Steps for the Problematic App**:
Copy Apps\Winforms Samples from server to local machine.
Launch Ma

[2022-01-06 06:36] VinoWang01 commented on #6353
Verified with latest built 7.0 binaries, this issue was fixed.

[2022-01-06 09:22] Olina-Zhang opened #6471 "[Accessibility] Screen reader announces incorrect columns of the "Row Information" table when some columns are hidden"
* .NET Core Version:
7.0.100-alpha.1.21568.2

* Have you experienced this same bug with .NET Framework?:
Yes. Related AzDo bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1451446

**Minimal repro:**
1. Open attached application:( a DataGridView with 6 columns, and **the last 2 columns' Visible property are false**)
[WinFormsApp46.zip](https://github.com/dotnet/winforms/files/7820686/Wi

[2022-01-06 09:47] Ashley-Li commented on #6165
Verified this issue with .NET 7.0.100-alpha.1.21568.2, it is fixed. The application does not crash when setting focus to Accessible Role dropdown list.
![6165-verify](https://user-images.githubusercontent.com/56664234/148363354-6a7aecf4-bdca-4e29-891e-31768efe6637.gif)

[2022-01-06 15:22] jmarioiii commented on #4304
Thanks @merriemcgaw.  Our entire UI development foundation relies upon custom designers and we are at a critical blocakage trying to gauge rework efforts and expense recreate this functionality in 6.0.   @KlausLoeffelmann can you give us a preview of the changes to the way custom UITypeEditors will be implemented in the future?  More importantly, will they be implemented using property attributes?

[2022-01-06 16:17] antonfirsov commented on #6459
I wonder how open would the WinForms user community to a solution that is built around [Maui.Graphics](https://github.com/dotnet/Microsoft.Maui.Graphics) -- in theory this lib shouldn't pull in only a small friction of the Maui.Graphics boilerplate.

Reasons:
- If possible, I would avoid introducing yet another Drawing API to the .NET ecosystem
- There may be some synergies between the Maui.Graphi

[2022-01-06 18:02] dreddy-work commented on #6468
@VinoWang01 , is this regression from any of the previous .NET versions (6.0?)

[2022-01-06 18:09] KlausLoeffelmann commented on #6459
I will certainly take a closer look!

[2022-01-06 19:24] rickbrew commented on #6464
Okay great -- I got your e-mail and have sent over all the things you requested 👍🏼

[2022-01-06 20:41] fahadabdulaziz commented on #6464
Maybe this issue related to https://github.com/dotnet/winforms/issues/6421

[2022-01-06 20:54] dreddy-work commented on #6464
For now, I can confirm #6114 is causing this issue. Will get the fix out soon. @rickbrew thank you for sharing paint.Net source.

[2022-01-07 01:13] SoftCircuits opened #6478 "What's new with async support for WinForms event handlers?"
I'm sure I'm not the first to ask this but is there anything new with regards to WinForms event handlers implementing `async`?

Basically, since everything is basically done in event handlers with WinForms, the question is can I use `async/await` at all?

Looks like the old workaround is to return `void` instead of `Task`. But I know this can cause problems.

I know the WinForms engine was recentl

[2022-01-07 01:26] VinoWang01 commented on #6468
@dreddy-work, this feature is enabled from 7.0, `ListViewGroup.CollapsedState` was implemented in .NET Core 5.0 (Implement Collapsible/Collapsed for ListViewGroup #3155) and from (ListView not firing GroupCollapsedStateChanged when user expands/collapses a ListViewGroup using the keyboard #5960)

[2022-01-07 01:32] dreddy-work commented on #6464
@rickbrew, linked PR is fixing the scenario. I would appreciate if you can validate the change with your app (binaries from linked PR). We would be getting this out in 6.0.2 servicing after validations on our side.

[2022-01-07 06:07] dreddy-work commented on #6475
@Junjun-zhao , if the app is targeting net5.0, how is it running on only net7.0? are you sure app is targeting net 7.0 and machine only has net 7.0 but not net5.0?

@Olina-Zhang , can you try if you guys can repro this?

[2022-01-07 06:08] John-Qiao commented on #6421
Add test app here: [TestApp6421.zip](https://github.com/dotnet/winforms/files/7826817/TestApp6421.zip)

[2022-01-07 06:18] Junjun-zhao commented on #6475
@dreddy-work  Thanks for helping look into this issue. I'm from AppCompat team and doing third-party apps runtime combability validation with .NET 7 now. This issue was found when run the app against .NET 7.0 runtime.

[2022-01-07 06:34] dreddy-work commented on #6475
Reference, following is code snippet that throwing.
[code]

[2022-01-07 08:07] gitskotjuko commented on #4304
If I see it right, this is about designer SDK mentioned in this thread https://github.com/dotnet/winforms/issues/4887.
Looks to me as a serious obstacle on porting from Framework to 6.0.

[2022-01-07 18:50] dreddy-work commented on #6475
@Junjun-zhao, What is the scenario here? What is ` set DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX=2 ` doing here? can you retarget the app to .NET7.0 and run it? can you double click and run it? or its same issue with command line as well as double click? Can you please attach sample here or grant permission to us to access share in the linked Azdo item?

[2022-01-07 19:17] PriyaPurkayastha commented on #6475
Provided information to Devendar via Teams - DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX setting is to make app use the latest major runtime installed on the machine instead of using the .NET version that the app was built with. More details available in Roll Forward section of https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-2-1
Have also shared permissions to source and app binaries

[2022-01-07 21:49] #6464 closed

[2022-01-08 02:56] roland5572 commented on #6475
@dreddy-work The same stack info and ComponentModel.Win32Exception exception occurred when I was writing a program before. I'm not sure if it's similar to this current post. I might be able to provide some useful information.

When I upgrade my program from .net 4.8 to .net 5.0 :

.net 4.8 code:
[code]

.net 5.0 code:

[code]
You can compare the difference between these two pieces of code.
These a

[2022-01-08 07:19] khaledafifi opened #6483 "vs 2022 Win forms app on windows 11"
the designer doesn't open and says "Loading designer ..... "
vs 2022 - build: 17.0.4
app: WinForms
framework: .net 6

[2022-01-08 09:55] RussKie commented on #6483
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2022-01-08 09:55] #6483 closed

[2022-01-08 14:35] RalphLAtGitHub commented on #2886
To whom it may concern at Microsoft: It is extremely annoying that Microsoft is unable to fix this bug after almost two years, let alone provide a timeline for solving the problem. if I did my job like that, I would be bankrupt!

[2022-01-09 03:12] rickbrew commented on #6464
Many thanks for fixing this @dreddy-work ! I'll be fixing Paint.NET to not do this sort of thing in the first place, of course. I found some other early forced Handle creation locations that need patching, although thankfully none of them have caused anything other than a performance optimization opportunity.

[2022-01-09 21:10] KlausLoeffelmann commented on #6478
We have planned this for the .NET 7 timeframe, but we also need to complete some urgent new Designer functionality, so we may reprioritize or not tackle all of those. As always: Help for from the community is highly appriciated!

https://github.com/dotnet/winforms/issues/4631
https://github.com/dotnet/winforms/issues/5917
https://github.com/dotnet/winforms/issues/5918

If you have other things in

[2022-01-09 21:11] KlausLoeffelmann commented on #5918
Unlocked. Let's go from here.

[2022-01-09 21:12] KlausLoeffelmann commented on #5918
Unlocked. Let's go from here.

[2022-01-09 21:13] KlausLoeffelmann commented on #5917
Unlocked. Let's discuss from here.

[2022-01-09 23:13] SoftCircuits commented on #6478
@KlausLoeffelmann Thanks. I know WinForms is not Microsoft's highest priority. I've been working with WinForms/.NET 6.0 for about a week. My biggest complaint is that it's a bit slow and buggy. Get a lot of errors and even lost a bit of work. Will file an issue if I get something repeatable.

Otherwise, looking forward to potential async support in .NET 7.

[2022-01-10 02:02] Junjun-zhao commented on #6475
@dreddy-work

When retargeting the app to .NET7.0 and run it from Visual Studio, We get the same exception, see screenshot from Visual Studio:

![same exception after retargeting  NET 7 0](https://user-images.githubusercontent.com/83067197/148710640-ca7bd512-dbad-4fac-86c6-6158d9d7564a.png)

If we double click to run the exe directly, the app doesn't launch and we can see the same error message fr

[2022-01-10 04:45] roland5572 commented on #6475
@Junjun-zhao

You can see my previous content in this post.

Add this statement to your code:

```Application.SetHighDpiMode(HighDpiMode.SystemAware);```

It might solve the problem. This could be a bug due to DPI.

Full Sample Code:
[code]

[2022-01-10 07:29] Junjun-zhao commented on #6475
@roland5572 Thanks for your comments for this issue. We have tried after adding ``` Application.SetHighDpiMode(HighDpiMode.SystemAware); ```, this issue still repro with same error.

[2022-01-10 09:52] Olina-Zhang commented on #6475
As issue's steps, it can repro on a machine with just .net 7.0 installed and that environment variables set. And it also repro when retargeting app from .net 5.0 to .net 7.0 in VS.
Here is the .net 5.0 testing app with MetroFramework nuget package:
[WinFormsApp9.zip](https://github.com/dotnet/winforms/files/7837952/WinFormsApp9.zip)

**More Info**: If skip to install MetroFramework nuget package,

[2022-01-10 09:59] ArtemTatarinov commented on #4851
A possible solution for tree updating, needs further investigation and experimenting: https://stackoverflow.com/questions/10782100/outdated-ui-automation-tree/47354168#47354168

[2022-01-10 10:57] bairog commented on #4451
@Zheng-Li01 @RussKie @KlausLoeffelmann @dreddy-work
Any updates? What is an approximate timeframe for fixing that in Visual Studio 2022?

[2022-01-10 12:09] SergeySmirnov-Akvelon commented on #6359
Hi @dreddy-work, @merriemcgaw. The issue is reproducible because when the user puts focus on the `NumericUpDown` it hits the `TextBox`. The role of `NumericUpDown` in this case does not matter, since we are announcing the state of the `TextBox`, and not the `NumericUpDown` as a whole.

We can change the `Role` of the edits field to `SpinButton`, but in this case the Narrator will announce `spinner

[2022-01-10 17:49] dreddy-work commented on #6464
That issue might not be fixed yet. Our CTI said they could repro it with this change too.  I didn't get chance to debug that scenario yet. Let me know how it goes for you @AraHaan.

[2022-01-10 17:50] AraHaan commented on #6421
I will be testing the changes in #6477 to ensure my program now properly runs the way it was before I installed the 6.0.1 servicing.

[2022-01-10 20:17] AraHaan commented on #6464
Alright, I will let you guys know for sure.

[2022-01-11 00:57] Tanya-Solyanik commented on #6475
@roland5572  - if you could collect a crash dump. or call stack for exception related to the lack of   `Application.SetHighDpiMode(HighDpiMode.SystemAware);`, could you please open a dedicated issue?

[2022-01-11 01:13] roland5572 commented on #6475
@Tanya-Solyanik Missing this statement can make the program unstable, but it won't fire 100% of the time. I'll try this bug again in the next few days. I'm not sure if the current .NET version has fixed this. If it still happens, I will create a new post.

[2022-01-11 02:53] Amy-Li03 commented on #6339
Verified this issue on .NET SDK 7.0.100-alpha.1.22060.5, issue was fixed, please see following video:
![Fixed](https://user-images.githubusercontent.com/62929087/148873018-c5c6022e-65e0-4771-b962-24f0f74c8197.gif)

[2022-01-11 02:53] Olina-Zhang commented on #6475
And also verified this issue using that testing app with MetroFramework nuget package on a just .Net 6.0 SDK: 6.0.200-preview.22055.15, it cannot repro.

[2022-01-11 03:22] VinoWang01 commented on #6353
Verified with SDK 7.0.100-alpha.1.22060.5 build by executing the steps in 'Problem description', no exception pops up when pressing Left / Right keyboard.

[2022-01-11 03:56] VinoWang01 commented on #4042
Verified this issue on .NET SDK 7.0.100-alpha.1.22060.5, this issue was fixed, there is no exception when disable or enable CheckBoxes property in virtual mode.
![Fixed](https://user-images.githubusercontent.com/90816462/148878754-5480212f-cbe2-4467-bd9b-9c5af0dcedb4.gif)

[2022-01-11 06:15] vijayarasan commented on #6415
Hi @dreddy-work,

Thanks for the update.

We have checked with the latest OS version. The reported problem does not occur. The reported problem only occurs while using Windows 2003 OS and Windows 2008 servers.

Regards,
Vijayarasan S

[2022-01-11 06:29] Philip-Wang01 commented on #6116
Verified this issue on .NET SDK 7.0.100-alpha.1.22060.5, this issue was fixed, the Link is easy to see when the dataGridViewlinkcell is clicking and after clicking when the dataGridView row is highlighted/selected situation.
![123456789](https://user-images.githubusercontent.com/86937911/148892412-9eba739e-23a3-429a-8722-587108618a85.gif)

[2022-01-11 06:46] John-Qiao commented on #4538
Verified this issue on .NET SDK 7.0.100-alpha.1.22060.5, issue was fixed.
![TestResult-4538](https://user-images.githubusercontent.com/45864985/148894407-bfe343df-907a-4096-aa42-4c47b7b39c99.gif)

[2022-01-11 06:54] Jenna-Zheng commented on #5960
Verified this issue with .NET SDK 7.0.100-alpha.1.22060.5, it is fixed.
1. Collapsed and expanded ListViewGroup from the keyboard with writing to log at the event handler:
![ListView_Keyboard](https://user-images.githubusercontent.com/64949616/148894977-06ebbace-0001-4089-8e09-7a0a3680b174.gif)
2. Examined Narrator's text while collapsing and expanding ListViewGroup from the keyboard:
![ListView_N

[2022-01-11 07:21] Jenna-Zheng commented on #6191
Verified this issue with .NET SDK 7.0.100-alpha.1.22060.5, it is fixed that when useApplicationConfiguration is set to true or false, the form and the textbox are correctly scaled up.
![image](https://user-images.githubusercontent.com/64949616/148898421-31e9fd77-0dc9-4af7-bfe5-7236fad349bf.png)

[2022-01-11 07:56] Lydia-Shi commented on #6231
Verifies this issue with latest .NET 7.0.100-alpha.1.22060.5, this issue is fixed. Accessibility Insights and Inspect shows all the ControlBox buttons from the menu strip.
![image](https://user-images.githubusercontent.com/54019172/148902785-6ab53270-9608-478c-bbeb-85c8c5af7add.png)
![image](https://user-images.githubusercontent.com/54019172/148902456-bda79783-98ef-44cf-aebb-d57c20d34713.png)

[2022-01-11 08:12] Lydia-Shi commented on #4816
Verified this issue with .NET 7.0.100-alpha.1.22060.5, this issue is fixed. The yellow rectangle still focus on subitem when setting View to Details for ListView control and focus on sub items.
![SubItems](https://user-images.githubusercontent.com/54019172/148904780-11b4713b-9cf2-4993-887c-3b33a5dac30f.gif)

[2022-01-11 08:25] Ashley-Li commented on #6304
Verified this issue on .NET SDK 7.0.100-alpha.1.22060.8, it was fixed, please see following video：
![6304_verify](https://user-images.githubusercontent.com/56664234/148906473-de72b762-5b8d-48af-87fc-b8a1df6f2a74.gif)

[2022-01-11 09:08] Lydia-Shi commented on #6173
Verified this issue with latest .NET 7.0.100-alpha.1.22060.5, this issue is fixed.
![image](https://user-images.githubusercontent.com/54019172/148911993-a88db7a7-3b43-44aa-b0f0-887e5f4f4bfb.png)
![image](https://user-images.githubusercontent.com/54019172/148912461-63a99e80-cf37-4a1b-a90f-b96d20d32ae6.png)

[2022-01-11 10:01] VinoWang01 opened #6490 "[RUS] The ‘Details’ button text overlaps its drop down arrow in unhandled exception dialog"
.NET Core Version:

- .NET SDK 7.0.100-alpha.1.22060.9

Have you experienced this same bug with .NET Framework?:

- No

**Problem description:**
The text overlaps the drop down arrow in ‘Details’ button of Unhandled exception window.
![RUS-Core](https://user-images.githubusercontent.com/90816462/148921242-13a34e54-69d9-48da-bd1d-bd17a7923118.png)

**Expected behavior:**
There should be no overlapp

[2022-01-11 12:46] kirsan31 commented on #6041
@dreddy-work @Olina-Zhang
I have several bugs that I think is related to this one. I have checked them with .Net 7.0 and they are not fixed there :(
Then I have checked exactly this bug (repro from 1 post)  with .Net 7.0 `dotnet-sdk-7.0.100-alpha.1.22060.9-win-x64.exe` and it's not fixed too:

https://user-images.githubusercontent.com/17767561/148945078-726d3c08-04ea-477c-9589-982781ad0142.mp4

[2022-01-11 14:18] Njoro007 opened #6492 "(Loading Designer...) Form Designer Fails to Display"
* .NET Core Version: 6.0.101

* Visual Studio 2022 Version 17.0.4

When opening a Form Designer it Displays the Message "Loading Designer..."(Image Attached) and completely doesn't display the Form Designer. What should one do to have the Form Designer Displayed? Form Designer sometimes shows after a few VS Restarts or sometimes lucky to have it displayed the first time VS starts. I didn't experie

[2022-01-11 17:58] dreddy-work commented on #6041
@Olina-Zhang , can you help validate this?

@kirsan31 , can you elaborate on this?

[2022-01-11 17:59] dreddy-work commented on #6492
@Shyam-Gupta, can you follow-up here?

[2022-01-11 18:18] kirsan31 commented on #6041
@dreddy-work

After Installing net7 sdk (all versions up to `dotnet-sdk-7.0.100-alpha.1.22060.9-win-x64.exe`) the build of `net6.0`/`net6.0-windows` targets are failed with dozens of errors if we will use net7 sdk for build (use _preview of net sdk_ option in VS).
Also `BenchmarkDotNet` will fail to build `net6.0`/`net6.0-windows` benchmarks until you uninstall net7 sdk.
`net7.0; net7.0-windows; n

[2022-01-11 18:20] dreddy-work commented on #6041
May be we have to wait for https://github.com/dotnet/sdk/pull/23293 to finish. Did you raise issue in SDK repo? can you link it here?

[2022-01-11 18:26] kirsan31 commented on #6041
May be :man_shrugging:

I found similar (I think so...) [issue](https://github.com/dotnet/sdk/issues/22752) and posted a [comment](https://github.com/dotnet/sdk/issues/22752#issuecomment-979035894) there...

[2022-01-11 18:42] KlausLoeffelmann commented on #6478
It has a pretty big priority... 😄

Do mean the runtime, which should be noticeably faster than Framework, or the Designer?
Without being bug-report-specific: What areas do you see slow performance?

[2022-01-11 18:54] KlausLoeffelmann commented on #4451
There is a breaking change difference in how Designers work in Framework and .NET, so neither is this a bug, nor will work this way.

To create a Designer for VS and .NET, you would need to use the WinForms Designer SDK. The reason is (simplified), that the Designer needs to run in the context of the Form (or the UserControl), which is .NET and not Framework. But VS _is_ Framework. So, for the .NE

[2022-01-11 19:04] SoftCircuits commented on #6478
@KlausLoeffelmann Looks like you were probably responding to me. I was mostly referring to the designer. It sometimes takes several seconds to load a form in the designer. And I crashed it more than once where either Visual Studio had to restart and/or it became corrupt.

[2022-01-11 19:53] Shyam-Gupta commented on #6492
@Njoro007 Could you please provide following information:

1. Do you see this issue for any specific project or does it happen even for new projects ?
2. Please confirm if you can build the project successfully.
3. When this issue occurs, please check [Windows EventVwr logs](https://www.windowscentral.com/how-use-event-viewer-windows-10) and check if you see any errors with `devenv.exe`, `DesignTo

[2022-01-12 04:08] John-Qiao opened #6494 "The dropdown button is no visible in ComboBox control when set FlatStyle property to Flat or Popup"
* .NET Core Version:
.NET SDK 7.0.100-alpha.1.22060.5

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The dropdown button is no visible in ComboBox control when set FlatStyle property to Flat or Popup.

Design Time:
![DesignTime](https://user-images.githubusercontent.com/45864985/149062167-cc1f413b-39d9-41b4-a845-a9d5f9f71219.png)

Runtime:
![Runtime](http

[2022-01-12 07:05] kirsan31 commented on #6041
I will wait on clarifications with this one to understand what to do with other bugs (related or not) ...
P.s. net6 build issues will be fixed with https://github.com/dotnet/installer/pull/12654.

[2022-01-12 10:35] deng0 commented on #6381
This is not a new problem of .NET Core.

The same already happened with .NET Framework.
I've adjusted your repro project to use .NET Framework and the same problem happens there too:
[ControlScalingBug_NET48.zip](https://github.com/dotnet/winforms/files/7853762/ControlScalingBug_NET48.zip)

But still it would be nice if the bug would someday be fixed.

For now it's best to use the following workar

[2022-01-12 10:44] Olina-Zhang commented on #6041
Sorry for missing this issue verification again, will update it tomorrow when the HDPI machine is ready.

[2022-01-12 10:45] kirsan31 commented on #6041
@Olina-Zhang

This issue is not related to HDPI.

[2022-01-12 10:59] Olina-Zhang commented on #6041
Verified this issue in the latest .Net 7.0 SDK build, it can reproduce now, re-open this one @dreddy-work
![Repro](https://user-images.githubusercontent.com/26474449/149127831-5afc1c52-f175-4154-bce3-3ae9f42d9f2f.gif)

[2022-01-12 11:29] kirsan31 commented on #6041
@dreddy-work
Also, I see https://github.com/dotnet/winforms/pull/6140 servicing PR with 6.01 Milestone. In 6.0.1 this bug is repro too.

[2022-01-12 12:43] Njoro007 commented on #6492
1.  The issue is very random. It happens in any Project (Old or New), NET 5 or NET 6. I sometimes get lucky to have the Windows Form Designer Display the Form. Sometimes even with numerous VS restarts doesn't work.

2. Yes All Projects Build Successfully, I'm able to debug as well

3. I'm finding a number of errors only on DesignerToolsServer.exe

4. [15:13:42.6740614] [Foresight Property]: Launch

[2022-01-12 13:54] kirsan31 commented on #6492
I can add my 50 cents on this.

For me most of the time (if not all)  this happens when you open solution with remembered (opened) forms designers (like we see in video above). And the more such forms there are, the higher the likelihood that they will not open.
As a result, I got used to always closing the form after using the designer.

Also when using designer VS frequently silently crashing (e

[2022-01-12 18:15] Tanya-Solyanik commented on #4629
@Amy-Li03 - Could you please try to repro this regression on .NET Framework on ARM64. I see that you commented that it does not repro on .NET Framework, but it's not clear if on ARM or AMD.

[2022-01-12 21:38] Shyam-Gupta commented on #6492
@Njoro007 Thank you for sharing the information. From the logs, I can confirm that its happening because `DesignToolsServer` process is exiting on launch. If you could share the EventVwr logs for this process, then it will help me identify the root cause.

Also let me know the project `Target Framework` and output of following command when executed in Visual Studio Developer Command prompt: `"c:\P

[2022-01-12 21:41] Shyam-Gupta commented on #6492
@kirsan31 Whenever the issue reproes for you, could you please share `WinForms output window logs`, and `EventVwr` logs for `devenv.exe` and `DesignToolsServer.exe`. Thanks.

[2022-01-13 02:10] #5835 closed

[2022-01-13 02:34] VinoWang01 opened #6496 "[CSY] ‘Details’ and ‘Continue’ have the same hotkey: P in unhandled exception dialog"
.NET Core Version:

- .NET SDK 7.0.100-alpha.1.22060.5

Have you experienced this same bug with .NET Framework?:

- No

**Problem description:**
‘Details’ and ‘Continue’ have the same hotkey: P
![image](https://user-images.githubusercontent.com/90816462/149255111-bbeb9aab-4c7d-4c05-9f0a-9904bed71000.png)

**Expected behavior:**
The hot key should be unique.
![image](https://user-images.githubuserc

[2022-01-13 03:39] #4750 closed

[2022-01-13 06:09] 2mik commented on #6381
My case works correctly on classic .NET, but doesn't work on .NET Core.
May be classic .NET also has issues with anchors, but its behavior differs comparing to .NET core.

[2022-01-13 06:41] Amy-Li03 commented on #4629
@Tanya-Solyanik yes, ` .NET 6.0 Windows x64 SDK` is not ARM SDK.

This issue is not reproducing on .NET Framework on ARM64.

[2022-01-13 07:41] deng0 commented on #6381
Have you looked at the adjusted repro I've created? That is your case on classic .NET and it has the same problem, doesn't it?
It might be important to know if this is in fact a regression with .NET Core or not in order to fix it.

[2022-01-13 22:44] nathan130200 commented on #6420
Hello, someone?

[2022-01-13 22:47] dreddy-work commented on #6420
Linking the similar bugs together #6492. I am guessing they both have same root cause.

[2022-01-13 22:55] Shyam-Gupta commented on #6420
@nathan130200 Could you please share `Windows EventVwr` logs for `DesignToolsServer.exe` when this issue occur.

[2022-01-13 23:03] Arcalise08 commented on #6492
I am effected by the same bug. I leave windows forms designer on verbose mode. I have virtually the same error as the OP here. It does it randomly. There are no EventVwr logs pertaining to the event either.  Frustratingly, It isnt enough to close the form and reopen it. After getting the named_pipe timeout you must restart visual studio for it to try again.

[2022-01-13 23:08] Shyam-Gupta commented on #6492
@Arcalise08 What is the `Visual Studio` version you are using ? Did it work for you in earlier versions ?

[2022-01-14 04:13] foller commented on #6420
I had the same problem today.
By taking a good look at the errors and things I messed with before the error started happening. I verified that it is looking for the file from the temp folder. One of my projects has a reference to a project with a higher version and that caused an error when loading the logger. I tested it by deleting the contents of the Temp folder and creating a new project. That

[2022-01-14 04:13] foller commented on #6492
I had the same problem today.
By taking a good look at the errors and things I messed with before the error started happening. I verified that it is looking for the file from the temp folder. One of my projects has a reference to a project with a higher version and that caused an error when loading the logger. I tested it by deleting the contents of the Temp folder and creating a new project. That

[2022-01-14 05:06] Arcalise08 commented on #6492
I confirmed this issue in 17.0.4, 17.0.5 and 17.1.0

The code base on question was recently upgraded from .net framework 4.6. It is a legacy codebase. And the designer was originally not happy because the project was stuck on x86 builds. And just about no forms would load no matter how many times I tried. I made some adjustments that allowed me to build in x64 bit and now the designer works someti

[2022-01-14 07:10] bairog commented on #4451
Well looks like it is one more big reason to finally [move Visual Studio 2022 to .NET 6](https://developercommunity.visualstudio.com/t/Move-Visual-Studio-2022-to-NET-6/1402400). So both processes will be .NET..

[2022-01-14 08:18] Shyam-Gupta commented on #6492
@Arcalise08 Could you please check if appropriate runtime versions are installed with `Visual Studio`. These options are available in `Visual Studio Installer` -> `Modify` -> `Individual Components` tab. If they are not installed then try installing them and see if problem gets resolved.

![image](https://user-images.githubusercontent.com/24871676/149474152-f7e249a7-38ac-4fc2-a523-b17e3227660b.png

[2022-01-14 08:25] Shyam-Gupta commented on #6492
@Arcalise08 We have made some fixes related to x86 projects in .NET (Core) designer and they should be available in an upcoming 17.1 Preview release.

[2022-01-14 09:11] Danil-Andrianov opened #6501 "Rewritten MAUI tests can't pass pipelines"
* .NET Core Version:
7.0.0-alpha.1.21576.4

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Some rewritten MAUI tests can't pass pipelines for some reasons. They're passing local build and staying successful for many reruns without any single fail. Unfortunately, in this case it's spoil debugging and for checking every test fix we should rerun pipelines, whi

[2022-01-14 11:24] foller commented on #6492
@Arcalise08 let me explain better. The error is the same.

in my case it copies the App.designer.deps.json and App.designer.runtimeconfig.json files to the Local\temp folder. In my case, I believe there was a larger version of Microsoft.Extensions.Logging installed inside one of the packages with a version greater than my project version 5.0.
![image](https://user-images.githubusercontent.com/4506

[2022-01-14 15:44] Arcalise08 commented on #6492
@Foller

Although the symptoms are the same (designer not loading) the root cause is different. We are seeing a `Timed out while connecting to named pipe: DesignToolsServer.340e7bf1-6d59-4c76-bbd8-318bea1b56bf` with no other errors and nothing pointing to a cause.

@Shyam-Gupta  I've yet to have this issue happen again after installing .net core 3.1 runtimes. However since the issue is intermitten

[2022-01-14 15:48] Bajotumn commented on #6420
I was able to successfully work around this issue for myself and my team in a 110 project solution.

We added the DesignToolsServer.exe to Windows Defender exceptions so that it is not slowed down by the system call hooks Defender uses to provide real-time protection. The issue has not gone away completely but is now only a minor inconvenience since once the server has started it persists for the

[2022-01-14 15:56] foller commented on #6492
in VS2022 i also getting time out. i cood only get the error in the VS 2019.

[2022-01-14 16:21] Arcalise08 commented on #6492
@foller we are talking about a VS2022 error

[2022-01-14 20:45] jbhensley commented on #6362
I believe this is where it's happening and appears to be by design. Are there any cases where `ToolStrip` uses ellipsis to indicate overflow?

https://github.com/dotnet/winforms/blob/b25dca42b0bd1c923ab6b59de3543027e8cfd3e1/src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSplitStackLayout.cs#L561-L605

[2022-01-14 21:35] jbhensley commented on #6155
It looks like the `ComboBox` border gets painted using `SystemColors.Window` when in `Flat` or `Popup` mode. But since the inside of the control is the same, there's no outline. This seems to raise a larger question of whether the `ComboBox` should actually have a "flat" mode in high contrast. It would be easy enough to add `&& !DisplayInformation.HighContrast` to the following check, which should

[2022-01-14 22:48] nathan130200 commented on #6420
@Shyam-Gupta i had same issue, first time show exception "Timeout while connecting remote pipe", next time i try open form, don't show up any logs, neither on Windows Event Viewer also:

https://user-images.githubusercontent.com/14365254/149594961-d2fda802-43f7-44b3-97ae-1f2f0bc2c3a6.mp4

[2022-01-14 22:50] nathan130200 commented on #6420
Also in taskmgr don't show up, DesigntToolsServer trying to start

https://user-images.githubusercontent.com/14365254/149595351-22625731-ac94-4400-9b75-db6c19f0b885.mp4

.

[2022-01-15 04:02] Shyam-Gupta commented on #6420
@nathan130200 Thank you so much for sharing the videos. The error regarding `DesignerRuntimeImplementationProjectOutputGroup` is different. Due to this error, WinForms designer will not try to launch `DesignToolsServer` process. Also it tries to launch process for the first time designer is opened. Subsequent closing and reopening of designer will not trigger `DesignToolsServer` process launch.

I

[2022-01-15 07:29] kirsan31 commented on #6492
We have [this topic](https://github.com/dotnet/winforms/discussions/6460#discussion-3777116) in discussions with some possible explanation...

[2022-01-16 03:50] nathan130200 commented on #6420
I just have VS2022 preview installed, also i did some tests, if i close and reopen project DesignToolsServer was able to start. But its a bit confused.

[2022-01-16 10:03] roland5572 commented on #6362
@jbhensley

This problem causes the ToolStrip to never display **long text**, because once it does, the **ToolStripLabel** control disappears.

I just did a test. Same problem with **StatusStrip**, I will create a new post about this issue.

https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.statusstrip

[2022-01-16 18:25] SoftCircuits opened #6512 "Need event when menu item is selected (not clicked)"
I've been working with the new WinForms code. I know the work is ongoing, so I've been avoiding posting all the issues I'm running into. I can if anyone wants. Right now, it seems somewhat slow, unstable and buggy.

But I do have a feature request that is sorely needed: We have an event when menu items are clicked. But there is no event for when menu items are selected. I think this should be adde

[2022-01-17 02:15] RussKie commented on #6362
I can certainly appreciate that this can look confusing. However I'd question the UI design decision/implementation first, e.g. whether a status strip is the right control to present an "important message" to a user, and whether an important message must be long. There are other better suited controls for gaining user attention, such as [`MessageBox`](https://docs.microsoft.com/dotnet/api/system.w

[2022-01-17 02:15] #6362 closed

[2022-01-17 03:58] roland5572 commented on #6362
@RussKie Thank you for the explanation. But I think, as a Label control, you can't ask the programmer to limit its text length, or limit the text to a very small width, because the interface width of the program and the width of the display screen may change at any time.  the text that needs to be displayed should be determined by business logic, not the width of the characters.

The current Label

[2022-01-17 04:22] RussKie commented on #6362
I'm not disagreeing that the behavior of the strip controls can be questioned in some scenarios. However I am pointing out that those scenarios should be questioned, and UI/UX impacts on end users should as well be assessed and considered. For instance neither Windows nor Office dumps a ton of text on me when there's a notification or a reminder:
![image](https://user-images.githubusercontent.com/

[2022-01-17 04:49] roland5572 commented on #6362
@RussKie

Thank you.

Not only important messages, but even some ordinary texts, there will still be such problems.

I recommend adding some hints to the product documentation.
Because some programmers may not understand this feature. In some unexpected circumstances, the text that needs to be displayed may not be displayed.

[2022-01-17 08:30] SergeySmirnov-Akvelon opened #6514 "The color contrast of the button border is less than 3:1 when button has "Pressed" or "Checked" state in Windows 11"
.NET Core Version:
- 7.0.0-alpha.1.22061.11

Have you experienced this same bug with .NET Framework?:
- Yes

**Repro steps:**
1. Create a form with a standard Button and a CheckBox
2. Set the following checkbox settings:
[code]
3. Run the application
4. Hold down the Button.

**Actual behavior:**
The color contrast of the button border is less than 3:1
![image](https://user-images.githubuserconten