[2021-05-19 18:59] weltkante commented on #4940
Are these the only ones? I'd have thought WinForms uses more CoClasses but maybe I'm mistaken. It'd always be possible to call `CoCreateInstance` P/Invoke and unwrap to the interface if there's sufficient reason to work around this problem.

[2021-05-19 19:17] crsuzukimsft opened #4944 "[Loc] Assistance with translations"
For the resource "ParentControlDesignerGridSizeDescr" in the file https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms.Design/src/Resources/xlf/SR.pt-BR.xlf the translators have the following question:  It looks like two separate strings have been combined into one and without a period. I can find separate duplicate strings for "Place existing controls in new container, '{0}'." an

[2021-05-19 22:21] kant2002 commented on #4940
COM support implemented, at least a lot of controls working. Some issues on NativeAOT front with marshalling, but overall Winforms + NativeAOT story looks promising.

CoClass declared in 3 places only
https://github.com/dotnet/winforms/blob/d46ad2e8dc76248739d9ae22b28b399a6a6b299e/src/Accessibility/src/Accessibility.il#L284
https://github.com/dotnet/winforms/blob/d46ad2e8dc76248739d9ae22b28b399a6a

[2021-05-19 22:56] weltkante commented on #4940
CoClass attribute doesn't need to be declared for a class to be a CoClass, so searching for it won't find all CoClasses used by WinForms. I'm wondering what part isn't implemented, the CoClass attribute semantic (being able to call `new` on an interface and get the corresponding CoClass, which IMHO is silly since you can just `new` the CoClass itself instead of the interface) - or the CoClass runt

[2021-05-19 23:12] RussKie commented on #4944
@cristianosuzuki77 can you please have a look

[2021-05-19 23:21] RussKie commented on #1756
We can certainly consider this.
If you have any deeper thoughts on this subject and proposals - please feel free to share. We also accept pull requests ;)

[2021-05-19 23:42] RussKie commented on #4936
@KSchlobohm can you please elaborate on your request, and why `<UseWindowsForms>true</UseWindowsForms>` isn't sufficient?

[2021-05-19 23:46] RussKie commented on #4913
Am I hearing it right that you're sending a PR? 😉

[2021-05-20 03:23] RussKie commented on #4940
@kant2002 thank you for raising this issue, and feel free to raise more as you find those.
Windows Forms is intrinsically tied to Windows API and relies on COM in may different ways (e.g. for automation and accessibility support). I've had a chat with @AaronRobinsonMSFT, who knows about COM and interop way more than me, and the gist of the conversation boils down to the following. Using ComWrapper

[2021-05-20 03:34] RussKie commented on #4941
Please provide a standalone simple repro.

[2021-05-20 03:50] dreddy-work opened #4945 "Unit and Integration Tests for high DPI changes"
* .NET Core Version: .NET 6.0

**Problem description:**

This issue is created to track missing unit and integration tests for the high DPI changes we will be doing in .NET 6.0 release. We would need add support for test infra structure that help add unit tests validating DPI messages and scaling of controls based on the DPI of monitor.

All the PRS that may require high DPI tests will be linked t

[2021-05-20 03:52] #4475 closed

[2021-05-20 04:04] kant2002 commented on #4940
@RussKie I have simple ComWrappers which suite my needs, just these two pieces not working. Can this be community-led effort with some guidance from team? Technically let me create PR to show what minimal amount I want. If it take more testing and other unknown efforts from you, I understand that this may be abandoned.

[2021-05-20 04:30] RussKie commented on #4940
Absolutely! Maybe open a draft PR where you can show your proposal and we can discuss the approach. We'll try to muster the necessary experts, and guide you through the process.

[2021-05-20 06:09] Balkoth commented on #4929
There is another problem with the textbox: If you want to scroll to the caret position when the dpi of the form changes it only scroll the control on the primary display to the caret. On the secondary display it does not bring the caret into the view.

[code]

[2021-05-20 06:33] RussKie commented on #3567
I've spent a little time wading through the ListView test sample with have - it trips on undisposed `NativeImageList` instances (run in DEBUG).
https://github.com/dotnet/winforms/blob/cb8eb664e55af0a0ac0638d491ddf763c8015cec/src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/ListViewTest.Designer.cs#L33-L145

I observed two different issues:

1. Leaks caused by `this.imageList1.I

[2021-05-20 06:34] myokeeh opened #4947 "Right-anchored controls are cut off on the right of the Window/Form."
* .NET Core Version:
5.0.203

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

Visual Studio 2019 (latest) Designer and running app's anchored listview and textbox don't behave the same way. They look fine in the designer, but running displays the right side beyond the window right border and are cut-off. They're anchored beyond the right side of the window.

[2021-05-20 07:20] russgreen commented on #4941
Take a look here https://github.com/russgreen/WinformsAppSettingsBindingSample

[2021-05-20 14:08] weltkante commented on #4913
Sure, was holding off since @JeremyKuhne was already investigating and I don't know how far he got, its better to coordinate than two people trying to do a PR for the same bug ;)

Also I think thats not the only leak here, but I couldn't see anything immediately obvious, probably needs further investigation. If you want a partial fix for just the ImageList disposal thats easily done.

[2021-05-20 15:35] maxzav opened #4949 "App freezes when tooltip in treeview showing"
* .NET Core Version:
3.1, 5, 6-preview

* Have you experienced this same bug with .NET Framework?:
Yes (checked on 4.8)

**Problem description:**
If the text is too long, the application freezes for very long time when trying to display the tooltip. For text with length 12000 app not responding about 1 minute on my pc.

**Expected behavior:**
No freezes, text in tooltip must be cutted.

**Minimal

[2021-05-20 16:11] KSchlobohm commented on #4936
I think this issue is already addressed and can be closed. VS2019 now includes the template I was discussing.

![image](https://user-images.githubusercontent.com/23503973/119012733-e6c89680-b95b-11eb-8610-339921fb31fa.png)

[2021-05-20 16:18] kirsan31 commented on #3567
@RussKie

We already have a **big silent breaking change** - removal of `NativeImageList` finalizer. That's lead to **critical** problem - GDI leak, even in Winforms repo itself  (#4913, #4928). May be this is not so important for small brief time running apps, but for big and long running it's a pain (due to crush after hard limit gg). GDI leaks are difficult to debug, especial not managed one an

[2021-05-20 18:08] JeremyKuhne commented on #4913
@weltkante Thanks for investigating! By all means, please create a PR. :) I've been held up by other things and haven't been able to dig into it fully yet.

[2021-05-20 23:12] RussKie commented on #4944
Right, hahaha :) I'll have a look

[2021-05-21 00:19] RussKie commented on #4949
Windows doesn't impose any limits on the length of a tooltip, so neither Windows Forms.
Please refer to the [Tooltips and Infotips best practices doc](https://docs.microsoft.com/en-us/windows/win32/uxguide/ctrl-tooltips-and-infotips), and modify your code to present a usable tooltip to your users.

[2021-05-21 00:19] #4949 closed

[2021-05-21 00:33] merriemcgaw commented on #4943
Thank you for bringing this to our attention. Unfortunately, the .NET Framework 4.8 is considered "done" and is only taking security fixes or those fixes coming through our Customer Service programs. So the likelihood of this being fixed in .NET Framework 4.8 is small, but a fix in .NET 6 is quite likely if it repros in the current version. We are actively taking fixes and contributions from the p

[2021-05-21 00:38] RussKie commented on #3567
A fair call, we regressed in https://github.com/dotnet/winforms/pull/3526.

Can you please share an example? I couldn't find anything specific that could break by the proposed change.

[2021-05-21 07:11] RussKie commented on #4928
Duplicate of #3567

[2021-05-21 07:11] #4928 closed

[2021-05-21 07:35] kirsan31 commented on #3567
All usage I found was like this: _get images from serialized ImageList_. [For example](https://stackoverflow.com/a/52645521/6075536).
The problems can happens if you (for some strange reason) need to populate 2 ImageLists with the same images. I modified a bit code from the link above:
[code]

But I agree, the probability of such a usage is not very high :)

[2021-05-22 23:33] paul1956 opened #4957 "Setting do not work on NEW VB .Net 5 Winforms application"
* .NET Core Version:  What I have installed is below
[code]

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Create a new VB WinForm App, that will read settings, add settings, run app and application will crash as below.

![image](https://user-images.githubusercontent.com/12789369/119243280-20470080-bb1a-11eb-9bcc-4c95a6dd18f3.png)
[code]

**Expected behavi

[2021-05-23 00:44] KlausLoeffelmann commented on #4957
Hey Paul, thanks for reporting this.
And also thank you for providing that workaround.

Project System knows about general issues with conflicting Framework/.NET Core/5 assembly versions, and we're working on a solution.

@KathleenDollard  for FYI!

[2021-05-23 00:45] KlausLoeffelmann commented on #4941
Application Settings Binding is a feature which we have not yet enabled in the Designer.
The plan is to implement in the VS 17 timeframe.

[2021-05-23 01:18] KlausLoeffelmann opened #4958 "Introduce ApplicationDefaults for Application and the Application Framework"
## Rationale:

We recently discussed and implemented a new method named `SetDefaultFont` on the `Application` type, which allows the User to, well, do exactly this: Set a Default font. The primary motivation was for migration of legacy Framework WinForms apps, which had pixel-perfect Form designs based on the previous standard font, to still work in .NET. without completely redoing the layout.

Wh

[2021-05-23 07:11] russgreen commented on #4941
Glad to hear it’s not vanished for good.

[2021-05-23 17:16] elu commented on #4272
I have the same issue when trying to add the EasyLabel ActiveX-Control of Tharo.com to the toolbox.

[2021-05-24 10:06] rlktradewright commented on #4272
It's now six months since I raised this issue. There has not been a peep out of Microsoft since then, nor have any of the various pronouncements about Windows Forms in .Net 5 and .Net 6 made any mention of this issue.

It would be helpful if Microsoft could give some indication of when support for ActiveX controls in the .Net 5 Windows Forms Designer is likely to become available. There must be so

[2021-05-24 11:52] #4944 closed

[2021-05-24 18:17] lxman opened #4963 "Image handling is causing constant OOM errors"
We have a project that makes heavy use of images. Basically speaking you have a PictureBox and we put in it a full sized png of an 8.5x11 page of text (the png's are mostly under about 1MB in size). Then we place controls (text boxes, etc.) over the places where the user needs to fill out text, etc.

This works well at runtime, but at design time, it's quite the nightmare. Basically speaking we ca

[2021-05-24 19:14] dreddy-work commented on #4963
Thanks @lxman for reporting this. Given the nature of the issue, it may be hard for us to repro locally and investigate. Can you provide following information that help diagnose it further?

- Dump when Visual Studio crashes?
- A minimal repro app, if possible?
- Given that you are experiencing this issue in .NET 4.7.2, we have been working on improving the performance in .NET core, Is it possible

[2021-05-24 20:57] myokeeh commented on #4947
It appears I needed `Application.SetHighDpiMode(HighDpiMode.SystemAware);`

[2021-05-24 22:51] KlausLoeffelmann opened #4965 "Introduce Properties IdleText and IdleTextDelayTime on TextBoxBase and ComboBox"
## Rationale:

Usually, there are 2 types of events which are considered to be a Property Change for a Value which has been edited in a TextBox, RichTextBox or ComboBox:

* A User has edited the contents of a TextBox, and moved the focus away from that TextBox.
* A User has changed the Text (so edited or deleted just one character), and while keeping the focus in the TextBox, the Property of the v

[2021-05-24 23:26] weltkante commented on #4965
Can we improve the default value to account for machines setup for older people or people with disabilities? As far as I'm aware the configured doubleclick time [is often used](https://devblogs.microsoft.com/oldnewthing/20080423-00/?p=22623) to derive the reaction speed of the user, e.g. [see these docs](https://docs.microsoft.com/en-us/windows/win32/controls/ttm-setdelaytime#remarks). Default tim

[2021-05-24 23:45] merriemcgaw commented on #4958
Next Steps: @KlausLoeffelmann to formalize the API Diff and tag appropriate people.
@russkie to think a bit more on corner cases.

[2021-05-25 02:59] #3567 closed

[2021-05-25 03:05] lxman commented on #4963
Moving to .NET core is not a possible option at this point. This project is probably has about 10 yrs worth of development in it with about 60 projects in the solution. I will do some research to find out how to get a dump when VS crashes. I will see if I can produce a minimal repro as my time permits.

[2021-05-25 04:04] KlausLoeffelmann commented on #4965
@weltkante: Yes, I agree. We had the discussion years ago at a then customer of mine, when we were dealing with the exact same thing, and I thought 300ms was something we found out after hours of tests. But actually, after looking things up, it turned out we had several default/implementations at the end at different costumers ranging between 250 and 500ms. So, I wouldn't have any problems to go f

[2021-05-25 06:46] RussKie commented on #4913
I've run [GDI_test.zip](https://github.com/dotnet/winforms/files/6477978/GDI_test.zip) on a private build of #4952 in a VM, and I believe the immediate issue is addressed.
There is still a little GDI handle leak, that is connecting and disconnecting from the VM lead to slight increase in GDI handles, but all of them were collected back to the original starting point.

<details>
<summary>Screenshot

[2021-05-25 06:46] #4913 closed

[2021-05-25 10:51] dfev77 commented on #4943
@merriemcgaw thanks for the reply. Our up is currently targeting 4.7.2 and we are making use of UIAutomation in our tests through FlaUI lib. It works fine, the issue was observed through our migration to 4.8, too bad we did not do is sooner :)

.Net 6 seems to work fine in regards to this.
(just that the window is 2x in size, same on .net 5, but that is a different topic)

[2021-05-25 19:59] merriemcgaw commented on #4943
I think we're going to close this issue given that it applies to .NET Framework rather than the .NET 6 product.
@dfev77 When it comes to the larger form size, my suspicion is that because our templates include setting the DPIAwareness to System Aware.

[2021-05-25 19:59] #4943 closed

[2021-05-25 22:31] merriemcgaw commented on #4272
Sorry about the delay all! We're still in progress when it comes to the designer and are still collecting feedback about how critical ActiveX designer support is to get into the designer. We do listen to your feedback and are taking it into consideration. Though I would suggest filing a suggestion ticket from Visual Studio too so that we get this tracked in the best spot and others can vote. At th

[2021-05-26 03:16] RussKie commented on #4958
Conceptually the proposal makes sense, but I struggle to think of anything else what we could consider as an "application default", which would justify this new API. _Application defaults_ for me mean a behavioural consistency, not so much a presentation or visual consistency. The latter fall into a "theming" category (e.g. "default colour" or "default button size"), which is an orthogonal concern

[2021-05-26 07:09] #4748 closed

[2021-05-26 09:40] Jessie-Zhang01 opened #4977 "[Accessibility] The "Table.ItemColumnHeaderItems" property of MonthCalendar should not be empty in the inspect tool"
- .NET Core Version: .NET SDK 6.0.100-Preview.5.21273.2

- Have you experienced this same bug with .NET Framework?:
No, the property does not exist in the Framework.

**Problem description:**
The "Table.ItemColumnHeaderItems" property of MonthCalendar should not be empty in the inspect tool, it should be pointed to corresponding "Mon/Tue/Wed/Thu/Fri/Sat/Sun".

**Minimal repro:**

1. Create a .NET

[2021-05-26 09:56] John-Qiao opened #4978 "Font style does not work in Application.SetDefaultFont() when the text scale value is bigger than 100% in OS"
* .NET Core Version:

   .NET SDK 6.0.100-preview.5.21275.4

* Have you experienced this same bug with .NET Framework?:

   No

**More Info:**

This issue occurs in other System.Drawing.FontStyle enum values too, like Bold, Strikeout and Underline...

**Problem description:**

The font style is not _Italic_ for controls in form.
![Actual](https://user-images.githubusercontent.com/45864985/11963975

[2021-05-26 11:04] Olina-Zhang commented on #4977
This issue was found the PR: https://github.com/dotnet/winforms/pull/4758 merged

[2021-05-26 11:05] Olina-Zhang commented on #4978
This issue was found after the PR: https://github.com/dotnet/winforms/pull/4911 merged.

[2021-05-26 15:48] kirsan31 commented on #4978
The problem is here:
https://github.com/dotnet/winforms/blob/f577471f0d2d338721676cd78b007ae696795de4/src/System.Windows.Forms/src/System/Windows/Forms/Application.cs#L1243
We need to set `FontStyle` too:
[code]

[2021-05-26 18:48] KlausLoeffelmann commented on #4958
The more I thought about your concept https://github.com/dotnet/winforms-designer/issues/3192 the more I got concerned for "just" having simple methods for setting _a_ default value (or default value_s_ per se). And the reason is the enormous potential of that proposal.

### Guaranteeing a unique style in Customer's Forms Design
Think about it: Why would we stop with the Font? We could also apply

[2021-05-26 21:43] KathleenDollard commented on #4958
I like the idea of the Defaults, even if we aren't sure how far ranging they are going to be. If we do not find more things to default in the near future, this does not stink too much, and I highly expect we will.

I am not sure on the name of the property on the VB event being ApplicatinsDefaults, rather than just Defaults.

I would love to hear more ideas on evolving the application framework st

[2021-05-26 22:54] RussKie commented on #4978
🤦‍♂️

[2021-05-27 00:21] KlausLoeffelmann commented on #4958
Yes, makes sense.

[2021-05-27 00:32] RussKie commented on #4909
Progress update:
![projectconfiguration](https://user-images.githubusercontent.com/4403806/119747720-aa0a1b80-bed6-11eb-8247-45b1668d4867.gif)

[2021-05-27 03:17] omariom commented on #4909
If the WinForms related properties were prefixed with "WinForms."  it would be easier to differentiate them  from others
msbuild properties.
Like
[code]

[2021-05-27 03:35] jnm2 commented on #4909
ℹ The common phrase is "makes a conscious decision."

[2021-05-27 03:38] jnm2 commented on #4909
@omariom I've also seen people do this:

[code]

[2021-05-27 06:00] Zheng-Li01 opened #4982 "[Accessibility] Some sub-items of StatusStrip are still show all properties in the Inspect Tree after destroyed it"
* .NET Core Version:
.NET 6.0 6.0.100-preview.6.21276.13

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Some sub-items StatusStrip/ToolStrip/MenuStrip/ComboBox/PropertyGrid/DataGridView are still show all properties in the Inspect Tree after destroyed it

**Expected behavior:**
The  StatusStrip/ToolStrip/MenuStrip/ComboBox/PropertyGrid/DataGridView contro

[2021-05-27 06:15] RussKie commented on #4909
Thank you :)

[2021-05-27 06:17] RussKie commented on #4909
There are other existing "Application*" properties (e.g. `ApplicationIcon` and `ApplicationManifest`, and the new properties will align with those.

[2021-05-27 06:51] Marie-Shi commented on #4679
Verified this issue with 6.0.100-preview.5.21276.14 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is fixed, now Yellow rectangle displays around the ListViewSubItem.
![fix](https://user-images.githubusercontent.com/45864017/119779227-054e0500-befb-11eb-8d27-49ebb14c11dd.png)

[2021-05-27 06:54] Amy-Li03 commented on #3745
Verified this issue on .NET SDK 6.0.100-preview.5.21276.14, issue was fixed. Now Narrator can announce text from column header when user hovers mouse cursor on column header.
![image](https://user-images.githubusercontent.com/62929087/119779241-0a12b900-befb-11eb-9e99-4c01f251a29b.png)

[2021-05-27 07:50] Zheng-Li01 commented on #3001
Verified the issue with latest 6.0.0-preview.5.21275.7, the main functions have been fully merged/implemented, found a new issue too and filed it as #[4978](https://github.com/dotnet/winforms/issues/4978)

[2021-05-27 08:18] SergeySmirnov-Akvelon opened #4983 "ScrollBar control does not support UIA accessibility"
**Environment**
- Microsoft Windows [Version 10.0.19041.388]
- .NET Core SDK 6.0.100-preview.3.21202.5

**Have you experienced this same bug with .NET Framework?:**
- Yes

**Problem description**
![image](https://user-images.githubusercontent.com/23376742/119790447-9e215800-bedc-11eb-918f-7b58467e6397.png)

Accessibility providers:
`[pid:10384,providerId:0x811196 Main:Nested [pid:10832,providerId:

[2021-05-27 08:20] Lydia-Shi commented on #4887
Verified this issue with .Net 6.0.100-preview.5.21276.15 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is fixed, results as below:
![image](https://user-images.githubusercontent.com/54019172/119791404-624fb800-bf07-11eb-9f69-a442fd3d7429.png)

[2021-05-27 08:25] Lydia-Shi commented on #2573
Verified this issue with .Net 6.0.100-preview.5.21276.15 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is fixed, results as below:
![image](https://user-images.githubusercontent.com/54019172/119792138-0a658100-bf08-11eb-9d3a-055e3d138118.png)

[2021-05-27 08:44] Marie-Shi commented on #4857
Verified this issue with 6.0.100-preview.5.21276.14 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is fixed.
![update2](https://user-images.githubusercontent.com/45864017/119795142-c758dd00-bf0a-11eb-806c-62ed9b5c7c46.gif)

[2021-05-27 08:56] Zheng-Li01 commented on #4928
Verified the issue with latest 6.0.0-preview.5.21275.7, the issue has been fixed that "GDI objects" don't increase as expected.
![VerifiedIssue4928](https://user-images.githubusercontent.com/38325459/119796997-6e8a4400-bf0c-11eb-9aea-e8174e9cdc26.gif)

[2021-05-27 09:32] Jenna-Zheng commented on #4224
Verified this issue with 6.0.100-preview.5.21276.14 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is fixed.
![image](https://user-images.githubusercontent.com/64949616/119802803-74365880-bf11-11eb-8b6d-0a30c082d430.png)

[2021-05-27 09:44] Jenna-Zheng commented on #4372
@SergeySmirnov-Akvelon  Verified this issue with 6.0.100-preview.5.21276.14 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is still reproducing(NET 6.0 preview.5 and .NET 6.0 preview.6 are both reproducing this issue)
![test](https://user-images.githubusercontent.com/64949616/119804544-0559ff00-bf13-11eb-8e74-2828f4bf53f3.gif)

[2021-05-27 09:56] SergeySmirnov-Akvelon commented on #4372
Hi @Jenna-Zheng. We have left the current behavior of the bounding rectangle unchanged. During the discussion, it was decided that only "IsOffScreen" property and "OffScreen" state should take into account that the item is now invisible.

[2021-05-27 10:02] trivalik opened #4984 "ListView.HideSelection "DefaultValue" is wrong"
* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

`ListView.HideSelection` DefaultValue is "True", but the internal flags are not supposed to show this. This lead to that Designer work makes it impossible to assign True.

**Expected behavior:**
If "DefaultValue" is correct, VS Designer will work as expected.

**Minimal repro:**
1. Create a Form
2. add ListVi

[2021-05-27 10:10] Jenna-Zheng commented on #4372
Verified this issue with 6.0.100-preview.5.21276.14 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is fixed.
![image](https://user-images.githubusercontent.com/64949616/119808211-7c44c700-bf16-11eb-8d7f-c04b0b9d8148.png)
![image](https://user-images.githubusercontent.com/64949616/119808422-aeeebf80-bf16-11eb-9cdc-0e290313e6f5.png)

[2021-05-27 10:14] John-Qiao opened #4985 "TextAlign property doesn't work for ToolStripMenuItem"
* .NET Core Version:

   .NET SDK 6.0.100-preview.6.21276.13

* Have you experienced this same bug with .NET Framework?:

   Yes

**More Info:**

1. This is not the regression issue, it occurs in .NET Framework project too.
2. This issue occurs in the design time too.
3. This issue occurs in MenuStrip/ContextMenuStrip/StatusStrip/ToolStrip controls.

**Problem description:**

TextAlign property do

[2021-05-27 14:41] weltkante commented on #4984
(Summarizing the discussion on the PR)

As noted in the [docs](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.listview.hideselection?view=net-5.0#property-value) the historical default value is `true` so the metadata was correct for Desktop Framework up to 4.7.2

In 4.8 they changed the default to be dynamic and depend on a runtime switch. In .NET Core the runtime switches were r

[2021-05-27 14:52] trivalik opened #4989 "do Control.DesiredVisibility public"
**Is your feature request related to a problem? Please describe.**
Often logic set `Visible` property and wants to rely later on this set value. Making `Control.DesiredVisibility` public would allow this the easy way. This would reduce to introduce a extra flag for an already existing information.

**Describe the solution you'd like and alternatives you've considered**

Making `Control.DesiredVisi

[2021-05-27 22:08] Tanya-Solyanik opened #4991 "Update documentation for `System.Windows.Forms.Design` namespace and designer-related classes in `System.ComponentModel.Design` to indicate that .NET 3*/5/6 types are not compatible with the VS"
Theses classes are provided to applications that are implementing IDE functionality outside the VS, for example ability to show and edit controls on the design surface.

Currently users are implementing outdated samples, to support VisualStudio design time experience, like this [one](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.design.irootdesigner?view=net-5.0)

See issue  ht

[2021-05-27 23:08] dreddy-work commented on #4989
Can you share a business use case here? Any sample application where you can demonstrate the use of this property would help understand better.

[2021-05-27 23:12] dreddy-work commented on #4985
@John-Qiao , Is this issue in response to a feedback? We would need a business case to implement functionality. In the best case we may hide design time property.  Did you check behavior in MFC (C++) app with 'MainMenu'?

[2021-05-27 23:44] dreddy-work commented on #4984
In .NET 4.8 we tried to make application more accessible and overlooked the design time scenario. It would align to change `[DefaultValue]` to match with runtime default 'false'.  `ShouldSerialize**` may help as a work around if we wanted help migrating customers but we did not receive many reports yet. For now, we can take this as-is for .NET 6.0.

[2021-05-28 02:07] jsoref opened #4992 "Unicode in method name AccessibleObject_Parent_Is..alendarAccessibleObject()"
https://github.com/dotnet/winforms/blob/542c6129652d47aa4f1b726208c8fe068f264973/src/System.Windows.Forms/tests/UnitTests/AccessibleObjects/MonthCalendar.CalendarBodyAccessibleObjectTests.cs#L161

Introduced in #4758 by @vladimir-krestov

[code]

[2021-05-28 03:04] #4977 closed

[2021-05-28 03:48] SenthilKumaranRajan commented on #4887
Hi Team,

Will this fix be included for .NetCore 3.1 and .Net 5?

[2021-05-28 05:46] RussKie commented on #4887
No. .NET 6.0 onwards

From: Senthil Kumaran Rajan ***@***.***>
Sent: Friday, May 28, 2021 1:49 PM
To: dotnet/winforms ***@***.***>
Cc: Igor Velikorossov ***@***.***>; State change ***@***.***>
Subject: Re: [dotnet/winforms] Smart Tag support in WF (#4887)

Hi Team,

Will this fix be included for .NetCore 3.1 and .Net 5?

—
You are receiving this because you modified the open/close state.
Reply to

[2021-05-28 05:52] kirsan31 commented on #4909
#4978 triggers me: do we need `ApplicationFontStyle` here too?

[2021-05-28 06:23] RussKie commented on #4909
**In my opinion** this starts encroaching into theming/styling territory.  AFAIK Windows has never had a default font that was italic or bold.
`SetDefaultFont` API was added in response to the changes of the hardcoded default font, and only for the purpose of unblocking and enabling migrations of .NET Framework apps with pixel-perfect layouts.  Our goal is to allow building Windows native apps, an

[2021-05-28 07:26] RussKie commented on #4958
Conceptually I am not against the idea, but at the moment I am unable to see what these *default values* are, and *what* use cases we will addressing. Without this I have a strong feeling we're trying to add/modify API just in case in the future someone will may need something. This statement summarises it:

The only problem (that I see) that we have and that we need to fix - is to update VB Appli

[2021-05-28 07:40] RussKie commented on #4991
@Tanya-Solyanik I'm happy to help but I'm not exactly sure what the target state is.

[2021-05-28 07:48] John-Qiao commented on #4985
@dreddy-work  yes, it's a feedback issue which post in here: https://developercommunity2.visualstudio.com/t/ToolStripMenuItem-TextAlign-doesnt-work/856122.

And I didn't find the TextAlign property for Menu items in MFC app, please check below screenshot:
![MFC-Main](https://user-images.githubusercontent.com/45864985/119949118-229ed400-bfcc-11eb-8feb-260f225257bc.png)

[2021-05-28 08:01] RussKie commented on #4985
There is a solution available on SO https://stackoverflow.com/a/4397976/2338036, which also notes that "_this is not standard Windows GUI menu item layout which users expect_".
 Our goal is to allow building Windows native apps, and this request is asking to allow building apps that don't look native on Windows.

I propose we hide these API from the strip controls. Any users that desire to build a

[2021-05-28 08:03] #4992 closed

[2021-05-28 08:37] Ashley-Li commented on #4913
Verified this issue with 6.0.100-preview.5.21276.14 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is fixed. Please see this result: [issue_4913_verify.zip](https://github.com/dotnet/winforms/files/6559466/issue_4913_verify.zip)

[2021-05-28 17:51] rlktradewright commented on #4272
Sounds like this isn't going to happen any time soon, and probably never...

I have submitted feedback as you suggested, but I won't hold my breath.

It's a shame, because COM interop in the .Net Framework is absolutely marvellous. And while it is possible to use ActiveX controls in .Net 5, having to manually put the code in is, shall we say, non-optimal  (because of course you then can't use the

[2021-05-28 23:50] Njoro007 opened #4999 "Editing DropDownButton in StatusStrip"
* .NET Core Version:  5.0.3

* Have you experienced this same bug with .NET Framework?:  No

**Problem description:**

    StatusLabel. Trying to rename label Text Name in the designer window and new text would only display after clicking outside the label component
    While typing new text for the statuslabel on the designer, Visual designer freezes until  I click outside the statusStrip.

**Exp

[2021-05-29 09:10] kirsan31 commented on #4272
I'm afraid that you are right. The new designer is something very hidden and at the moment has much more important problems than ActiveX support. Designer is the main brake on the path of full migration from net framework :(

[2021-05-30 01:24] luronumen commented on #4774
After this [Visual Studio 2019 v16.10 - WinForms Updates](https://devblogs.microsoft.com/visualstudio/visual-studio-2019-v16-10-and-v16-11-preview-1-are-available-today/#winforms-updates) here are the instruction for porting a .NET Framework form to the .NET 5.0:

HOW TO PORT A WINFORM FROM THE .NET FRAMEWORK TO .NET 5.0 INCLUDING ITS RESOURCE FILES
- Set the form font to "Microsoft Sans Serif 8 p

[2021-05-30 02:08] dreddy-work commented on #4999
Can you please share which version of the VisualStudio you are using here?

[2021-05-30 10:39] Njoro007 commented on #4999
@dreddy-work VIsual Studio 16.10.0

[2021-05-30 18:15] weltkante commented on #3254
This has now been fixed in the runtime

[2021-05-30 23:45] RussKie commented on #3254
Thank you ;)

[2021-05-30 23:45] #3254 closed

[2021-05-31 03:04] Lydia-Shi commented on #4456
Verified this issue with .NET 6.0.100-preview.5.21276.15 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is fixed.
![image](https://user-images.githubusercontent.com/54019172/120134024-d76d0700-c1ff-11eb-9324-6597f3dabf6c.png)

[2021-05-31 03:26] Jessie-Zhang01 commented on #4977
Verified the issue with .Net SDK 6.0.100-preview.6.21278.6, this issue is fixed. Please see following screenshot:
Inspect result:
![image](https://user-images.githubusercontent.com/45864649/120135476-ebfece80-c202-11eb-8a0f-5438b0c72cf0.png)
Narrator result:
![image](https://user-images.githubusercontent.com/45864649/120135492-f4efa000-c202-11eb-8d39-96685794e41e.png)

[2021-05-31 08:06] SenthilKumaranRajan commented on #4887
Some companies providing a smart tag in Net50

https://www.telerik.com/blogs/dotnet-conf-2020-telerik-ui-for-winforms-wpf-officially-supports-dotnet-5

If smart tag is possible in net 5. Then please suggest how can we do this?

[2021-05-31 08:22] Marie-Shi commented on #1395
Verified this issue with .NET 6.0.100-preview.5.21276.15 from Release/6.0.1XX-preview5 branch of https://github.com/dotnet/installer, it is fixed, now those two methods InitializeNewComponent/InitializeExistingComponent have been implemented in Core.

[2021-05-31 08:59] vladimir-krestov opened #5018 "Some methods force creation AccessibleObject of a control"
* .NET Core Version: 6.0 preview 6

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
- We use `AccessibilityObject` property inside some methods of controls to raise some UIA events
For example - `MonthCalendar.OnGotFocus()`:
[code]

This property forces creation of the control's accessible object even it is not necessay (no an accessibility tool is running)

[2021-05-31 15:07] weltkante commented on #4272
Considering the TLB importer (which imports an ActiveX TLB into a .NET assembly) was intentionally never ported to .NET Core its unlikely that this will happen anytime soon. Also the existing COM infrastructure in the .NET runtime is being phased out and replaced by a new one, which will be lacking certain parts historically used for ActiveX controls (like TLB and IDispatch support).

The unfortun

[2021-05-31 15:16] weltkante commented on #4887
Last I heared they partnered with Microsoft and developed their designers under NDA. Unless I missed the release the WinForms team is still working on support and documentation for everyone else.

[2021-05-31 16:44] KlausLoeffelmann commented on #4958
Then let’s hold this off a bit until we can have explored a few ideas around this with concrete implementation prototypes. It shouldn’t take more than a day or so, and I think it will become much clearer then.

Again: if we‘re almost all positive that there are more default values to come, and SetFont won’t be the only one, we shouldn’t rush something which we can later no longer change.

Question

[2021-06-01 06:05] RussKie commented on #4887
That's correct, a number of vendors have access to our Designer SDK under NDA. This SDK is still being worked on, and once it has stabilised and deemed complete it will released to the public.

Also it is worth noting that both .NET Core 3.1 and .NET 5.0 will be retired not long after the release of .NET 6.0. Refer to https://dotnet.microsoft.com/platform/support/policy for more details.

[2021-06-01 06:11] RussKie commented on #4887
It is also worth noting that Windows Forms runtime (this repo) and the Windows Forms designer (i.e. the design surface and the behaviours in it) are two different codebases, and no longer have tight coupling as they used to in .NET Framework.
#4860 was an enabler to designer scenarios support at runtime, and had nothing to do with the Visual Studio Designer scenarios.

[2021-06-01 06:40] RussKie commented on #4958
No, at this stage this doesn’t affect #4909.

From: Klaus Löffelmann ***@***.***>
Sent: Tuesday, June 1, 2021 2:45 AM
To: dotnet/winforms ***@***.***>
Cc: Igor Velikorossov ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/winforms] Introduce ApplicationDefaults for Application and the Application Framework (#4958)

Conceptually I am not against the idea, but at the moment I am unable to see

[2021-06-01 14:40] StefanMyczko commented on #4928
Will this be fixed in NET5 or will we have to wait until NET6 release in November?

[2021-06-01 14:45] kirsan31 commented on #4928
Will be in 5.0.8.

[2021-06-01 16:00] #4398 closed

[2021-06-01 23:01] Tanya-Solyanik commented on #4991
I would document the current state.

[2021-06-02 06:54] Niranjan16-Ninja commented on #4887
Hi @RussKie ,

I am facing the same issue while also using the `ComponentDesigner ` class for my custom component control. The same issue is reproducible in .NetCore 3.1 and .NET5 , but works fine in .NET Framework. I have attached the sample for same . Will the fix for this issue will be included in .NET 6 ?

In .NET Framework:
![image](https://user-images.githubusercontent.com/59389414/120435518

[2021-06-02 07:58] RussKie commented on #4887
@Niranjan16-Ninja your use case is in the Designer, please refer to my previous comment.

We are working to ensure the .NET designer is at parity with the .NET Framework designer, and the smart tag support is one the list.

[2021-06-02 19:46] dang-gun commented on #4790
I have the same problem.
I just followed the example.(
https://docs.microsoft.com/ko-kr/dotnet/api/system.componentmodel.design.serialization.codedomserializer?view=net-5.0 )

An error occurs.
![CodeDomSerializer_001](https://user-images.githubusercontent.com/22692763/120542865-9145bc80-c426-11eb-8b13-5db347e3175b.png)

[2021-06-02 20:24] dreddy-work commented on #4999
We have been working on menu strips and status strips in the designer in the latest previews.  expect it to be fixed soon there. keeping this open here for community visibility.

[2021-06-02 22:23] MiloszKrajewski opened #5033 "ListView evaluates all items in VirtualMode"
* .NET Core Version:
[code]

* Have you experienced this same bug with .NET Framework?:
No. Actually, DEFINITELY NO.

**Problem description:**

`ListView` instantiates all list items even in virtual mode, for example:

[code]

This works perfectly fine in .NET Framework (tested with 4.7.2), yet in .NET 5 freezes UI for a long time as it creates all the items.
Note, it will become quick again while

[2021-06-02 23:15] RussKie commented on #5033
@dreddy-work can you please investigate

[2021-06-03 00:37] RussKie commented on #4061
I am afraid I have bad new for you all - we won't be not be updating VSTO or the COM Add-in platform to use .NET Core or .NET 5+. For more details please refer to https://github.com/dotnet/core/issues/5156#issuecomment-853430132.

[2021-06-03 00:37] #4061 closed

[2021-06-03 00:50] #4978 closed

[2021-06-03 01:07] #4031 closed

[2021-06-03 07:05] vladimir-krestov commented on #4198
@guybark, @merriemcgaw, what if to change an editable subitem control type to "text", like we made in #5025?
It's impossible to implement Text pattern for a subitem, because it's just a container for it's nested "edit" field, that already supports Text pattern. So we may make the container as "text" without supporting of Text pattern:
![image](https://user-images.githubusercontent.com/49272759/120

[2021-06-03 10:23] xpouyat opened #5036 "Multilanguage .NET 5 Winforms app crashes on French Windows, related to Del shortcut key"
* .NET Core Version:
.Net 5.0.6

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

There an issue with a new multilanguage .NET 5 winforms app when deployed and run on a French Windows OS. The published App crashes at start on the French Windows with error:
Description: The process was terminated due to an unhandled exception.
Exception Info: System.ArgumentE

[2021-06-03 10:49] Zheng-Li01 commented on #5036
Add more info:
1. The issue can reproduce .NET Core 5.0 & 6.0.
2. The issue can't reproduce .NET Framework project.
3. The issue can't reproduce when not setting the localized property **as True.**

[2021-06-03 10:51] RussKie commented on #5036
Duplicate of #2886

[2021-06-03 23:20] SimonCropp opened #5039 "merge some of the projects"
So there is a resource overhead IDEs pay for each project. So where possible it would be nice to merge some of the projects, where having multiple projects adds little value. for example:

![image](https://user-images.githubusercontent.com/122666/120723929-10fe8480-c516-11eb-8a2f-66c227cdab09.png)

[2021-06-03 23:31] RussKie commented on #4790
Can you provide us with a sample repro? Then we may be able to provide you with some guidance.

[2021-06-04 00:25] RussKie commented on #5039
Thank you for the nudge.
These are machine automated integration UI (maui) tests projects that are run as own processes during the testing phase to test specific behavioural aspects that may be changing or dependent on process-wide state.

Redesigning our maui/integration tests is on our backlog, but it isn't something we can action now.

[2021-06-04 00:25] #5039 closed

[2021-06-04 01:42] Jenna-Zheng opened #5040 "ListViewItem.ForeColor not work when mouse is over “Text” of the first row in the ListView"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21276.13

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Color of the first item changed back to default.
![image](https://user-images.githubusercontent.com/64949616/120732551-19f05580-c518-11eb-95ad-ea79cd44f290.png)
![test](https://user-images.githubusercontent.com/64949616/120732978-dea25680-c518-11eb-8a23

[2021-06-04 02:14] #4940 closed

[2021-06-04 02:57] kant2002 opened #5041 "UseWindowsForms=true disable console"
1. Create new console program
2. Set net6.0-windows/net5.0-windows
3. Set UseWindowsForms=true

Now Console completely disabled, even if `<OutputType>Exe</OutputType>`.

[2021-06-04 03:34] RussKie commented on #5041
This is by design. Please refer to the breaking docs for the workaround: https://docs.microsoft.com/dotnet/core/compatibility/sdk/5.0/automatically-infer-winexe-output-type#recommended-action

[2021-06-04 03:34] #5041 closed

[2021-06-04 06:16] trivalik commented on #4989
Please find attached example.
[DemonstrateDesiredVisibility.zip](https://github.com/dotnet/winforms/files/6596156/DemonstrateDesiredVisibility.zip)

Here I try to order only the visible controls. This example is simple implementation of a more complex control reorganization.

[2021-06-04 17:27] dreddy-work commented on #5033
Looks like new  accessibility pattern changes regressed this. @SergeySmirnov-Akvelon.

[2021-06-04 17:51] dreddy-work opened #5047 "Cache Font while scaling controls in HDPI mode"
This is a tracking bug for a possible perf improvement in HDPI mode.

Currently, we are scaling Font on the fly when DPI changed event occur. Creation of Font and handle is proved to be a costly operation and we could cache values of Fonts for each DPI*DpiAwarenessContext*Control combination.

ex: Control.WmDpiChangedBeforeParent(..).

[2021-06-04 19:05] merriemcgaw commented on #4198
That sounds reasonable to me, thanks @vladimir-krestov

[2021-06-05 05:59] Atma9 commented on #4790
Dear RussKie,

The main subject of this report is about:
Please provide a method how to debug custom CodeDomSerializers in Visual Studio .NET IDE for .NET Core.

How does a sample repro look for this? If I knew how to write one, I would be able to solve the problem myself.
Are there no examples on the internet how it is possible to step in to the code of custom CodeDomSerializer? I could not find

[2021-06-06 21:07] bkoelman commented on #3780
I'm also seeing LinkLabel being cut off, but only when in Disabled state. I have two LinkLabels inside a GroupBox. When the GroupBox is enabled, both links render properly. When setting Enabled to false on the GroupBox, then both labels are cut off. The labels have AutoSize set to True. This all happens inside a single form that is visible and active all the time. I'm not using a custom font and t

[2021-06-07 09:46] weltkante commented on #4790
There currently is no documentation on authoring design time (including serialization) for custom controls, it is to be expected that no examples exists. They are still working on adding support for that.

[2021-06-07 11:28] Atma9 commented on #4790
The related classes are all marked as implemented and as if working for .NET 5.0 including code examples (which compile):
https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.design.serialization.codedomserializer?view=net-5.0

But no example, how to debug in case of a problem.

[2021-06-08 01:48] VincentBu opened #8831 "Test failure System.Drawing.Tests.ToolboxBitmapAttributeTests.Ctor_FileName(fileName: \"C:\\\\h\\\\w\\\\9C600885\\\\w\\\\BCB80A07\\\\e\\\\bitmaps\\\\inval\"..., size: {Width=0, Height=0})"

[2021-06-08 08:26] #3491 closed

[2021-06-08 21:43] dreddy-work commented on #4937
This is the Native messagebox window.  @Balkoth by any chance, did you try this with a native application?

[2021-06-08 21:51] dreddy-work commented on #4929
I can not repro this with current bits. @Balkoth, Can you get latest bits from this repo and see if you still repro? At runtime, window always launch on primary screen. So, wanted to understand the following.

@Olina-Zhang , can you try if you could repro this with latest bits from this repo?

[2021-06-08 22:00] #4294 closed

[2021-06-09 01:49] gsmental commented on #3750
@OliaG BUT  linux support in maui?

[2021-06-09 02:38] dreddy-work commented on #4790
.Net core designer is still preview and Control vendors with NDA has access to internal repo.  Core designer run out of proc with  process name "DesignToolsServer.exe". We do publish SDK to a public [feed](https://dev.azure.com/dnceng/public/_packaging?_a=package&feed=dotnet-tools&package=Microsoft.WinForms.Designer.SDK&version=1.0.0-prerelease-preview1.21307.3&protocolType=NuGet) though. If you c

[2021-06-09 04:44] dreddy-work commented on #5033
@SergeySmirnov-Akvelon , Do you guys be able to look at this?

[2021-06-09 04:47] dreddy-work commented on #4880
@OliaG , I would need a test application here to understand this better. Is it possible to ping the user on twiiter and ask for it?

[2021-06-09 05:19] Balkoth commented on #4937
No i did not.

[2021-06-09 05:22] Atma9 commented on #4790
Dear Devendar,

Thank you for this info. Is there some indication within VS.IDE, that shows, if the Winforms .NET Core designer is preview or release? How will we know when the release happens?

We are also control vendor for some 20 years. How could we apply for access?

Thanks!
Atmapuri

[2021-06-09 05:22] Balkoth commented on #4854
I don't know how to say this in simpler words, but there is another method. Just put the windows explorer on the monitor in question and launch the exe via doubleclick from there.

[2021-06-09 05:30] trivalik commented on #4984
merged https://github.com/dotnet/winforms/pull/4968

[2021-06-09 05:30] #4984 closed

[2021-06-09 05:33] Balkoth commented on #4929
Sorry but i only got a developer production machine, on which i can not use beta and preview versions.

[2021-06-09 06:25] trivalik opened #5061 "allow use GetPreferredSize caching in Control"
**Is your feature request related to a problem? Please describe.**
To allow easy to improve performance for custom controls on size/layout requests.

**Describe the solution you'd like and alternatives you've considered**

To be able to use the cache feature implemented in `GetPreferredSize` it would be necessary to make method GetPreferredSizeCore protected.
Additional a method to enable this cac

[2021-06-09 09:19] trivalik commented on #4989
I found an additional situation. If you implement a LayoutEngine. We have conditions where asyncronous a condition appear that visible changes, then we force the layout update. In this case all controls are invisible. With `DesiredVisibility` a correct calculation could be made. Another thing would be why `PerformLayout` runs the layout also if Control is invisible.

[2021-06-09 11:45] awakecoding commented on #4880
@dreddy-work I don't have a simple test application (nor the time to prepare one, unfortunately) but would a free closed source application help in your investigation? I implemented a workaround in Remote Desktop Manager to fix the incorrect coordinates, all you'd need is an RDP server to connect to to replicate the bug (it was in an embedded RDP window using FreeRDP, not the Microsoft ActiveX)

[2021-06-09 14:41] awakecoding commented on #4880
Here are the download links to the last version of RDM Free without the workaround I applied (2021.1.26):

https://cdn.devolutions.net/download/Setup.RemoteDesktopManagerFree.2021.1.26.0.msi
https://cdn.devolutions.net/download/Devolutions.RemoteDesktopManagerFree.Bin.2021.1.26.0.zip

To replicate the issue, create an embedded RDP entry, and then go in the Advanced tab to select "RDP (FreeRDP late

[2021-06-09 14:58] kant2002 opened #5066 "Logical issue in RichTextBox.UpdateOleCallback"
In following lines I think lying logical issue if `punk` does not support `IRichEditOleCallback`.

https://github.com/dotnet/winforms/blob/c76a4a49db18b4b88ed62170ffcb36f5f4718e50/src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs#L3239-L3247

This lead to double release of pUnknown/issues. Honestly I discover that in NativeAOT scenario because I do not implement support for that int

[2021-06-09 15:52] alanhoman commented on #3491
Hi @dreddy-work, thanks for the excellent work on the High DPI improvements.  I have the winforms project building and running, but have a very important issue that needs to be resolved.  When I try to use the winforms binaries on one of my existing projects following the steps in https://github.com/dotnet/winforms/blob/main/docs/debugging.md, I cannot get it to work.  **This is critical to the te

[2021-06-09 15:58] dreddy-work commented on #3491
@alanhoman , it seems you copied only System.Windows.Form.dll. But it depends on primitive as well. Please also copy System.Windows.Form. primitive.dll as well. It should unblock.

[2021-06-09 16:07] alanhoman commented on #3491
I did copy System.Windows.Forms.Primitives.dll to C:\Program Files\dotnet\shared\Microsoft.WindowsDesktop.App\6.0.0-preview.4.21254.5.  Are these dll's supposed to have File version: 42.42.42.42424?

[2021-06-09 16:10] dreddy-work commented on #3491
All our test builds carry that version.  If you copied both binaries to same location and  project targeting that 6.0, it should work. Can you share a GIF with copying binaries and running app where you still get this error?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: alanhoman ***@***.***>
Sent: Wednesday, June 9, 2021 9:07:38 AM
To: dotnet/winforms ***@***.

[2021-06-09 17:09] alanhoman commented on #3491
Success!  Thanks for the additional info.  The one out of date dll was C:\Program Files\dotnet\packs\Microsoft.WindowsDesktop.App.Ref\6.0.0-preview.4.21254.5\ref\net6.0\System.Windows.Forms.Primitives.dll.  It wasn't in my ref folder, so I copied it from C:[repo]\winforms\artifacts\bin\System.Windows.Forms\Debug\net6.0.  Once I updated this, the build worked.

Thanks for the help!

[2021-06-09 17:19] dreddy-work commented on #3491
Good to hear. And thank you @alanhoman for testing it out. As a note, work on HDPI is still in progress and we have identified some control specific issues ( you will see issues being created for them in next couple of days).  Please let us know how your testing results and issues you still see.

[2021-06-09 17:30] dreddy-work commented on #4790
@OliaG would be able to help you on this and they are notified about your request.

[2021-06-09 17:35] alanhoman commented on #3491
Great, I am starting to test with the understanding that you are actively making changes.  Should I run off of the dev/dreddy/ContainerControlScalingInHighDpi branch to get your latest changes, the main branch, or some other branch?

Also when I run using your branch or main, I get the error below when I try to run the original test repo from this issue and select the MdiParent - Simple layout.  S

[2021-06-09 17:52] dreddy-work commented on #3491
I would suggest to use 'main' branch for any of your testing. This particular issue need to be investigated on why. it doesn't seem to be related to the High Dpi changes. Can you open a new issue for this to investigate further ?

[2021-06-09 20:17] KlausLoeffelmann opened #5069 "Introduce ApplyApplicationDefaults Event to the Application Framework"
## Rationale

In the WinForms 3.1-time frame, we introduced the `SetHighDpiMode` method and the `HighDpiMode` property. The reason for that was that we wanted to change the default HighDpiMode for WinForms Apps to be SystemAware. At the same time, we wanted to provide also a programmatically way to set the DpiMode, since the only remaining option to do that was over the App’s manifest – the App.Co

[2021-06-09 20:19] KlausLoeffelmann commented on #5069
@merriemcgaw, @RussKie, @KathleenDollard, @JeremyKuhne - please take a look!
This is the requirement for updating the .NET 6 templates.

[2021-06-09 21:14] dreddy-work commented on #4880
Thank you @awakecoding  for the info. I ran the tool but I admit that this is the first time i am using this tool and have no idea on how this works and what to expect after creating RDP session. Do you mind generating a GIF by repro'ing the issue with this tool?

[2021-06-09 21:23] dreddy-work commented on #4854
No worries. Sample app attached helped understand that you were explicitly setting position on Form to CurrentScreen. Will be looking into it.

[2021-06-09 21:32] OliaG commented on #4790
@Atma9 , could you please send me email with the name of your company to oliag@microsoft.com so I can see how I can help you with the access.

[2021-06-09 21:55] dang-gun commented on #4790
The sample doesn't work here.
https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.design.serialization.codedomserializer?view=net-5.0
![image](https://user-images.githubusercontent.com/22692763/121434194-edc15280-c9b7-11eb-9e8a-759a147af3eb.png)

source code : https://github.com/dang-gun/ResourceWriterTest
I may have misunderstood the sample code.
Please let me know if there are any

[2021-06-09 22:02] awakecoding commented on #4880
The problem should appear as the embedded RDP desktop size being much larger than it should be instead of matching the embedded window size. By default we take the size of the embedded window and pass it to FreeRDP, but it is incorrectly reported, leading to a much larger size. You can toggle with the regular RDP engine (RDP ActiveX) and you should see a difference - the Microsoft RDP ActiveX can

[2021-06-10 00:34] RussKie commented on #5066
How can we test the hypothesis?

[2021-06-10 04:19] fandrei opened #5070 "Getting "Cannot open include file: 'atlbase.h'" when running build.cmd"
* .NET Core Version:

.NET 5
ATL is installed and the atlbase.h file **is** present, located in `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.29.30037\atlmfc\include\atlbase.h`

**Problem description:**

I checked out the latest code from the repo, ran build.cmd and got these errors:
[code]

[2021-06-10 04:19] kant2002 commented on #5066
I think if we create derived class where override `override object CreateRichEditOleCallback() => new object();` the issue will appear in regular .Net

[2021-06-10 04:58] AzAgarampur commented on #3691
This does not affect just `MDICLIENT class` Windows; any `HWND` with `WS_OVERLAPPEDWINDOW` (or similar) that is a child of another overlapped window loose DWM compositing, revealing the theme parts from the `Window` class (the win7 caption, frame, close/min/max, etc.) in the aero style rather than the modern theme parts from the `DWMWindow` class.

[2021-06-10 05:34] RussKie opened #5071 "Update C# templates to top level statements"
Top level statements have been released in .NET 5 and C# 9. There are a number of active internal discussion about updating other templates (e.g. ASP.NET Core) to use the top level statements approach.

As discussed in https://github.com/dotnet/designs/pull/223#discussion_r646978111 C# Windows Forms apps can be written as top level programs today as well, though `[STAThread]` make it a little awkw

[2021-06-10 05:34] RussKie commented on #5071
![image](https://user-images.githubusercontent.com/4403806/121298454-3d136e80-c937-11eb-9b60-5ea95a3527ae.png)

[2021-06-10 09:15] Balkoth opened #5072 "Multiple RadioButton in GroupBox do not DataBind to checked correctly"
**.NET Core Version:**

SDK: 5.0.203 (383637d63f)
Runtime: 5.0.6 (478b2f8c0e)

**Problem description:**

When a property is bound to the checked property of a RadioButton and that RadioButton is in a group with other RadioButtons its checked property does not propagate back to the bound property when another RadioButton in the group is checked.

**Minimal repro:**
- Create new .NET-Core 5.0 WinFor

[2021-06-10 13:07] awakecoding commented on #4880
Ok, here's a screenshot showing RDM 2020.1.26 with an embedded RDP session using the RDP ActiveX (select RDP Version "latest" in the Advanced tab). The Microsoft RDP ActiveX natively handles DPI rendering and somehow handles the size of the parent window correctly, but we have no control (or knowledge) of how it does it. The FreeRDP engine is ours (FreeRDP is my project btw) and the problem is not

[2021-06-10 13:24] alanhoman commented on #3491
I have done some initial testing of the High DPI changes and here is what I have found.

1. For the MdiParent form if tabPage1 is the visible tab at the time you move from a 100% to a 150% monitor, then tabPage2 does not layout properly on 150%.  Conversely, if tabPage2 was visible, then after the move tabPage1 will not layout properly.  Also on the 150% monitor, half of the child form header/titl

[2021-06-10 13:39] RussKie commented on #5070
Do you have all pre-reqs installed? https://github.com/dotnet/winforms/blob/main/docs/developer-guide.md#machine-setup

[2021-06-10 13:43] fandrei commented on #5070
@RussKie yes I do.

[2021-06-10 13:49] RussKie opened #5074 "Update C# templates with global usings"
We can simplify our templates with [global usings](https://youtu.be/GJ_PaRNDe9E?t=1079) and have them implemented similar to this:

[code]

A sample .using file:
[code]

This list of usings looks sensible, but it is up for a discussion.

Credits for this idea go to https://github.com/khalidabuhakmeh/CsharpTenFeatures.

At some point in the future when https://github.com/dotnet/aspnetcore/issues/32

[2021-06-10 15:30] dreddy-work commented on #3491
Thanks @alanhoman for validation. I will start looking into the scenarios you listed here.

[2021-06-10 17:45] merriemcgaw commented on #5069
That sounds good to me. Thanks @KlausLoeffelmann!

[2021-06-10 17:46] dreddy-work commented on #5070
@fandrei , seems your CMake path is not set as expected.  If you used same command shown in above link, it should it.

[2021-06-10 17:49] dreddy-work commented on #5061
@trivalik, can you provide a sample application on what you would be doing without this today? And how this helps in that sample.

[2021-06-10 18:15] fandrei commented on #5070
@dreddy-work any ideas what can be wrong with it?

[2021-06-10 20:17] dreddy-work commented on #3395
This could be native issue. Tracking here: https://microsoft.visualstudio.com/OS/_queries/edit/33699482/

[2021-06-10 20:35] fandrei commented on #5070
PS and any way to diagnose it?

[2021-06-10 20:38] dreddy-work commented on #5070
Just to confirm, Did you make sure your CMake is installed and added to Path?

[2021-06-10 20:45] fandrei commented on #5070
@dreddy-work
[code]

[2021-06-11 00:26] RussKie commented on #5070
@fandrei can open the \artifacts\log\Debug\build.binlog and have a look what path atlbase.h is being expected at?

[2021-06-11 00:34] merriemcgaw commented on #4947
Did that fix your problem @myokeeh?

[2021-06-11 00:38] merriemcgaw commented on #4991
@Tanya-Solyanik Can you give a quick write up of what you'd like to see?

[2021-06-11 00:38] merriemcgaw commented on #4991
And would this be better moved to the docs repo?

[2021-06-11 00:45] merriemcgaw commented on #4805
@KlausLoeffelmann can you take a look at this? @cston do you have any insight since we know you've worked in this space?

[2021-06-11 00:51] merriemcgaw commented on #4720
I doubt that we can change the default behavior. Perhaps a property that enables the ability to set this. If someone has a proposal for how this might be done we'd be happy to consider it. I'll mark as up for grabs, but move it out to future.

[2021-06-11 00:53] merriemcgaw commented on #4665
I'm going to bump this to future but I welcome anyone to pick it up and make the change.

[2021-06-11 00:56] merriemcgaw commented on #4663
@AArnott can you ping me offline and help flesh out the picture of what we need here.

[2021-06-11 01:00] RussKie commented on #4861
This fails in a11y related code
[code]

This was fixed in .NET 5.0.

@MrStefanWolff are you able to migrate to .NET 5.0?

@vladimir-krestov  @SergeySmirnov-Akvelon please investigate feasibility of a fix.
@merriemcgaw we may need to service this...

[2021-06-11 01:14] merriemcgaw commented on #4549
We will need to investigate this a little more deeply. We haven't come to a conclusion just yet.

[2021-06-11 01:18] KlausLoeffelmann commented on #4805
I have a draft PR for that.
Testing next week.

[2021-06-11 01:49] Olina-Zhang commented on #4929
@dreddy-work Verified this issue in .Net 6.0 SDK build with latest bits from this repo. We cannot launch runtime on secondary screen, just on primary screen, and then move to secondary screen. It looks good. Here is the screenshot:
300% primary screen:
![TextBox_300%main](https://user-images.githubusercontent.com/26474449/121618802-0e61d900-ca9a-11eb-895b-d0f32c4f6afe.png)
Move to 100% secondary s

[2021-06-11 01:52] fandrei commented on #5070
@RussKie where I can find it?
The build command shows only this: `cmake --build "D:\Projects.ThirdParty\.NET_Internals\winforms\artifacts\obj\NativeTests\x64\Debug" --target install  --config Debug -- `
In the code, it's referenced just by the default include path: `#include <atlbase.h>`

[2021-06-11 02:07] RussKie commented on #5070
\artifacts\log\Debug\build.binlog

[2021-06-11 02:10] fandrei commented on #5070
@RussKie there is a lot of data there. Where in the file this path is?

[2021-06-11 02:13] Olina-Zhang commented on #4929
@dreddy-work But if launching built exe on secondary screen, it repro, it seems an issue. see following screenshots:

Run exe on 100% secondary screen:
![TextBoxEXe_100%sec](https://user-images.githubusercontent.com/26474449/121620838-9695ad80-ca9d-11eb-9320-b95bdc5fa228.PNG)
Run exe on 300% secondary screen:
![TextBoxEXe_300%sec](https://user-images.githubusercontent.com/26474449/121620859-a0b7ac

[2021-06-11 03:27] KlausLoeffelmann commented on #4805
@AlexVallat: Help me to understand the scenario. True, in Framework we couldn't do that - but as far as I remember only at that point. Wouldn't you get a `NoStartupFormException` after `OnCreateMainForm` has been called, if you had not defined a Form in that method, anyway? Or is it exactly that what's important in your scenario, namely _not_ to have defined a start Form at an earlier point in tim

[2021-06-11 03:33] RussKie commented on #5070
@jkoritzinsky are you able to give a hand?

[2021-06-11 03:41] KlausLoeffelmann commented on #4805
@KathleenDollard: Would we need to service this?

[2021-06-11 06:03] dreddy-work commented on #4929
This is being worked on, Related to #4854

[2021-06-11 06:10] kirsan31 commented on #4720
@merriemcgaw

The exact proposal  in the first post ;)

[2021-06-11 06:12] kirsan31 commented on #3691
@RussKie
What do you think are our chances that this will be fixed in Windows? Ironically this external bug is most wanted thing in WinForms repo :)

[2021-06-11 06:33] kirsan31 commented on #4947
I think this must be related with #3168, #4838 (`AnchorStyles.Right` scaling problems).

[2021-06-11 07:18] kirsan31 opened #5076 "Right aligned elements font scaling problem"
* .NET Core Version: all up to latest tested 5.0.6

* Have you experienced this same bug with .NET Framework?: No (not applicable).

**Problem description:**

Right aligned elements on the form can change their relative position after font scaling.
For example, when you design a form in designer you often right align labels before input fields:
![image](https://user-images.githubusercontent.com/17

[2021-06-11 08:03] AlexVallat commented on #4805
@KlausLoeffelmann The scenario that is important to me is not having a main form at all. This usually because I'm writing some background utility that just shows a notification icon and no form, but should still have single-instance behaviour. You wouldn't get a NoStartupFormException because the usage pattern for WindowsFormsApplicationBase would be to override both `OnStartupNext` and `OnStartup

[2021-06-11 08:45] kant2002 commented on #5066
Following code
[code]

produce following exception
[code]

[2021-06-11 09:32] weltkante commented on #5066
can you detail this a bit more? the only thing I see is that it doesn't check for IntPtr.Zero and Marshal.Release will probably throw when passed zero (or just ignore it) - but I can't identify the refcounting bug you seem to have spotted?

Throwing the exception due to releaing IntPtr.Zero is fine, looking at the method I see no resource leaks, of course it will be unintuitive for the caller to d

[2021-06-11 10:22] hyperquantum opened #5078 "Disallow pasting invisible control characters in TextBox"
**Is your feature request related to a problem? Please describe.**

I recently had to debug a problem in our WinForms application that was caused by the presence of an invisible control character (0x1F) in a string that was supposed to be an e-mail address. Our software validates e-mail addresses when entered, but this hasn't always been the case. I figured that the invalid character was probably

[2021-06-11 11:18] kant2002 commented on #5066
I think you are right. that's not belong here.

[2021-06-11 11:18] #5066 closed

[2021-06-11 11:42] trivalik commented on #5061
I cannot provide sample application. I just found by inspecting code, that this feature can only be used for internal controls.

[2021-06-11 14:27] MrStefanWolff commented on #4861
Hello again
Thank you for your investigation into this issue.
Unfortunately, we cannot migrate our code to .NET 5.0

Best regards.

[2021-06-11 16:48] merriemcgaw commented on #4720
We are looking for someone to propose (and implement) an API that would enable this to happen. It has to go through the full API review process, and we can help a bit with that. But it looks like there are more urgent fires to fight for .NET 6 so it doesn't look like we will have the resources to enable this feature just yet. If the community can, that would be something we'd totally take.

[2021-06-11 17:55] KlausLoeffelmann commented on #4805
Ok, thanks for taking the time to explain your scenario! That makes sense.

[2021-06-11 19:22] dreddy-work commented on #5076
@kirsan31 , you don't see this when AutoscaleMode  is DPI?

[2021-06-11 20:29] kirsan31 commented on #5076
@dreddy-work

Yea, with AutoscaleMode = DPI align is ok, and it's logical:
![image](https://user-images.githubusercontent.com/17767561/121745110-a13b5b80-cb0c-11eb-9f37-2707c62672eb.png)

[2021-06-11 20:37] dreddy-work commented on #5076
In this case, i do not think winforms has any control over it. We rely on Font metrics when scaling and they come from windows. Users have alternative to set DPI scale. When it comes to high DPI, our choice should default DPI scale but that would be a breaking change from current default Font scale.

In Core, Designer is rendered as out of proc and use the targeted runtime. So, it may be worth che

[2021-06-11 21:37] kirsan31 commented on #5076
@dreddy-work
Hmm, and if we look to this from other side?
Open this project in new designer (see wrong align), correct right align, build, change dpi from 100 to 125, run app - align is wrong:

https://user-images.githubusercontent.com/17767561/121750611-5eca4c80-cb15-11eb-8877-30e55ec1b9eb.mp4

P.s. We relay on Font scaling instead of DPI scaling because our apps are all accessed only by rdp. And

[2021-06-12 02:36] RussKie commented on #3691
This bug affects our team as much as it affects you... And we do hope it gets fixed.

[2021-06-12 09:34] AraHaan commented on #5074
I would rather name the file ``GlobalUsings.cs`` 🤔.

Bonus points: using json to store the using directives that should be global then use a source generator to generate the global usings code file.

[2021-06-12 09:42] AraHaan commented on #5071
I would rather the Application.Run() to also be moved to the Initialize method that is source generated and take in the form instance that should be new'd up in that call so it could be simplified to just:

[code]

So then in the end the actual Program.cs file *could* then be chopped down to just a single line of actual code with the Initialize method running that lambda inside when it calls Run f

[2021-06-12 16:21] chayaphon commented on #3346
Hi, I just download VS2019 latest version, and when I create new project both .Net5 and .Net Core 3.1 still found the same issue...
is there any update ?

[2021-06-12 19:29] kirsan31 commented on #4720
Ok, lets try this slow way.

We need to add `bool` property to `Form` class, let it be `MdiChildrenMinimizedAnchorTop`.

**Draft API Proposal**

[code]
**To do.**
1. Discuss a name for the property.
2. Discuss a description for the property. Translations?
3. Category: *Style* or may be *Layout*?
4. Implement trivial logic with this property in `SetBoundsCore` method of `MdiClient` class and do PR.

[2021-06-12 20:54] myokeeh commented on #4947
@merriemcgaw yes on one app. still figuring it out on another.

[2021-06-12 20:54] myokeeh commented on #4947
@kirsan31 seems so.

[2021-06-12 23:34] weltkante commented on #5078
While I'm not against this proposal, I don't think it actually solves your problem, there are plenty "invisible" unicode characters not categorized as [control characters](https://www.compart.com/en/unicode/category/Cc) that are common to appear in the modern international web. For example take [zero width spaces](https://en.wikipedia.org/wiki/Zero-width_space), [soft hyphens](https://en.wikipedia

[2021-06-13 00:58] weltkante commented on #5072
I don't think this ever worked, I've tried various alternatives:

- configuring the binding as `OnValidating` (the default) vs. `OnPropertyChanged`
- implementing `INotifyPropertyChanged` on the data object vs. not implementing it
- using a `BindingSource` vs. binding directly against the data object

The `OnValidating` setup which is used in the OP example runs into issues with focus handling, sw

[2021-06-13 05:22] kirsan31 commented on #5072
Yea, as I remember it's never worked. Would be nice to fix.

[2021-06-13 07:32] dreddy-work commented on #5076
Thanks @kirsan31 for the GIF demonstrating the issue. A logical fix of right aligning the label will still create same alignment issue with controls on the left. Label size is adjusted to the text in it no matter if it is DPI ( DPI change cause Font change) or Font scaled.

[2021-06-13 08:40] kirsan31 commented on #5076
@dreddy-work did you got that with `AutoscaleMode = DPI` issue is still present (picture after video)?

Overall I understand that to scale well right (bottom?) aligned controls we need a new technique here. Control need to know from what corner it's must be scaled.

Can I close this or we leave this for distant future? :-)

[2021-06-13 09:32] RussKie commented on #5078
I agree with @weltkante's assessment, this proposal targets a rather specific use case. As your examples show it is easy to implement a functionality that addresses your requirements, so I can't see a compelling reason to have this functionality baked into the SDK.
Alternatively you may wish to check out [`MaskedTextBox`](https://docs.microsoft.com/dotnet/api/system.windows.forms.maskedtextbox), a

[2021-06-13 09:32] #5078 closed

[2021-06-13 09:47] RussKie commented on #5074
Why?

Why? And why do we need source generators here?

[2021-06-13 09:55] RussKie commented on #5061
This functionality has been like this for a long time. To change it we need to have a compelling use- and business cases, which require a sample of how it works (or doesn't work) today, what changes are necessary to overcome any shortcomings of the current API, as well as a thought-out proposal, detailing the solution. If you can't provide these, we can't take it further.

[2021-06-13 14:02] RussKie opened #5087 "Incorrect dimensions of collapsible ListViewGroup"
* .NET Core Version: .NET 5.0+

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

A collapsible listview group has incorrect dimensions, i.e. it taller than necessary.
![image](https://user-images.githubusercontent.com/4403806/121810086-bea22e00-cca2-11eb-8774-1c3af1f8ead9.png)

The issue is caused by incorrect settings of flags, and assuming that `Subtitle`

[2021-06-13 17:11] AraHaan commented on #5074
So that way the user could clearly see where the usings are.

I just stated it as a possible option that a developer *could* opt into to have the global usings file get source generated for them based on a json file to define which global users it should contain.

[2021-06-14 06:11] trivalik commented on #5061
I was just thinking on optimization, reuse already existing code. If this is not wanted, feel free to close it.

[2021-06-14 07:54] Balkoth opened #5090 "WinForms HighDPI PerMonitorV2 ListView ColumnHeader scales wrong"
**.NET Core Version:**
SDK: 5.0.203 (383637d63f)
Runtime: 5.0.6 (478b2f8c0e)

**Problem description:**

If a ListView is put into View.Detailed mode, the column headers are not scaled when the DPI changes.

Starting on the main monitor looks correct:
![image](https://user-images.githubusercontent.com/80055480/121857585-1322c900-ccf6-11eb-9931-6228fd698788.png)

Moving the window to another monitor

[2021-06-14 07:58] Balkoth commented on #5072
The most crucial thing to do is to document this and the implemented fix somewhere where every developer can easily find this. I wasted a couple of hours, just because i thought i was doing something wrong.

[2021-06-14 17:58] cadilhac opened #5092 "Painting bug in IconEditor"
* .NET Core Version:
Any

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
The problem happens in System.Drawing.Design.IconEditor.PaintValue.

[code]
When the icon size is smaller than the provided bounds, the X position is reset as if it was expected to be initially 0. Actually, I guess this code is only called by the MS PropertyGrid and it works well in t

[2021-06-14 20:42] #4639 closed

[2021-06-14 20:52] AraHaan commented on #4639
should the ``up-for-grabs`` label be removed as well?

[2021-06-14 21:10] RussKie commented on #4639
Thanks for checking.
This is closed, so I don't think it matters...

[2021-06-14 21:15] RussKie commented on #5092
Are you in a position to submit a fix?

This makes it hard to triage and fix

[2021-06-14 21:16] RussKie commented on #5061
Thank you for the suggestion. Closing until there's a compelling use case.

[2021-06-14 21:16] #5061 closed

[2021-06-14 21:38] cadilhac commented on #5092
Yes. As I said, replacing "X = " by "X += " fixes it.

[2021-06-14 21:42] alanhoman opened #5093 "TextRenderer.MeasureText is very slow"
* .NET Core Version:
6.0.0-preview.4.21254.5

**Problem description:**
The performance of TextRenderer.MeasureText has significantly degraded.  I think the issue is with the .Net 6.0 changes to Control.Font, but it may be something else as well.   When I run the code snippet below here are the performance numbers:

.NET Framework 4.8: **179 ms**
.NET 5.0: **262 ms**
.NET 6.0: **5,646 ms**  **(31x

[2021-06-14 21:45] RussKie commented on #5093
Can you share the benchmarks you used to measure this? The snippet alone is not very meaningful.

[2021-06-14 21:48] #4712 closed

[2021-06-14 22:14] weltkante commented on #5092
looking at the code you copy-pasted it seems the vertical adjustment code is setting `X` instead of `Y` - which is likely to be another bug

Why is that so? Can't you just obtain an editor from the TypeDescriptor infrastructure and invoke it to present your scenario, say, in the paint handler of a panel or something?

[2021-06-14 22:34] alanhoman commented on #5093
Here is a repo.  It runs in 5,000 ms. on .NET 6.0.  If you change the project to .NET 5.0, it runs in 250 ms.

[MeasureTextSample.zip](https://github.com/dotnet/winforms/files/6651585/MeasureTextSample.zip)

[2021-06-15 00:50] #5087 closed

[2021-06-15 04:55] #4608 closed

[2021-06-15 06:03] RussKie commented on #5093
Run a [simple benchmark](https://github.com/RussKie/WinFormsBenchmarks/blob/master/Benchmarks/TextRendererBenchmarks.cs), indeed it looks like we have been regressing since .NET Core days... Now need to identify whether the regression is in our codebase or in the underlying .NET runtime.
/cc: @JeremyKuhne @safern

[code]
|      Method |        Job |              Runtime |      Toolchain | iteratio

[2021-06-15 06:17] Zheng-Li01 opened #5095 "[Multi-Monitor] ToolStripButtons in PrintPreviewDialog are not scaled well when DPIs differ"
* .NET Core Version:
.NET 6.0.100-preview.6.21313.2 + private binaries build from main branch in dotnet/winforms repo [New.zip](https://github.com/dotnet/winforms/files/6653242/New.zip)

* Have you experienced this same bug with .NET Framework?:
 No

**Expected behavior:**
ToolStripButtons in PrintPreviewDialog are scaled well when DPIs differ.

**Minimal repro:**
1. Set the primary screen as 100%

[2021-06-15 06:27] Zheng-Li01 opened #5096 "[Multi-Monitor] DataGridView cannot scale well when DPIs differ"
* More info
The issue also can reproduce on when setting the primary screen as 300% DPI, and secondary screen 100% DPI.

* .NET Core Version:
.NET 6.0.100-preview.6.21313.2 + private binaries build from main branch in dotnet/winforms repo.
[New.zip](https://github.com/dotnet/winforms/files/6653300/New.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Expected behavior:**
DataG

[2021-06-15 06:32] Zheng-Li01 opened #5097 "[Multi-Monitor] The icon and dot-line of Treeview are not scaled well when DPIs differ"
* .NET Core Version:
.NET 6.0.100-preview.6.21313.2 + private binaries build from main branch in dotnet/winforms repo.
[New.zip](https://github.com/dotnet/winforms/files/6653328/New.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Expected behavior:**
The icon and dot-line of Treeview are scaled well when DPIs differ

**Minimal repro:**
1. Set the primary screen as 100% DPI,

[2021-06-15 06:36] Zheng-Li01 opened #5098 "[Multi-Monitor] ListView cannot scale well when DPIs differ"
* .NET Core Version:
.NET 6.0.100-preview.6.21313.2 + private binaries build from main branch in dotnet/winforms repo [New.zip](https://github.com/dotnet/winforms/files/6653344/New.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Expected behavior:**
ListView scaled well when DPIs differ

**Minimal repro:**
1. Set the primary screen as 100% DPI, and secondary screen 300% DPI.

[2021-06-15 06:41] Zheng-Li01 opened #5099 "[Multi-Monitor] The focusing for TrackBar is not scaled well when DPIs differ"
* More info
The issue also can reproduce on when setting the primary screen as 100% DPI, and secondary screen 300% DPI.

* .NET Core Version:
.NET 6.0.100-preview.6.21313.2 + private binaries build from main branch in dotnet/winforms repo [New.zip](https://github.com/dotnet/winforms/files/6653375/New.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Expected behavior:**
The fo

[2021-06-15 06:50] Zheng-Li01 opened #5100 "[DPI] The icon of child form was covered when running on 300% DPI"
* .NET Core Version:
.NET 6.0.100-preview.6.21313.2 + private binaries build from main branch in dotnet/winforms repo [New.zip](https://github.com/dotnet/winforms/files/6653420/New.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Expected behavior:**
The icon of child form display correctly when running on 300% DPI.

**Minimal repro:**
1. Set the screen DPI as 300%.
2. Open t

[2021-06-15 07:00] #4963 closed

[2021-06-15 07:19] RussKie commented on #5093
It is quite bizarre, `SystemFonts.DefaultFont` allocates for each call, and thus suffers a perf hit. Using `control.Font` and a local variables appears to be equally performant.

[code]
|                  Method |        Job |              Runtime |      Toolchain | iterations |           Mean |        Error |       StdDev | Ratio | RatioSD |     Gen 0 |     Gen 1 | Gen 2 |    Allocated |
|-------

[2021-06-15 08:38] John-Qiao opened #5101 "[Multi-Monitor] The Height of currentDPILabel's size has a little change after moved form from 300% primary screen to 100% secondary screen"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21313.2 + [Private dlls.zip](https://github.com/dotnet/winforms/files/6654027/Private.dlls.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The Height of currentDPILabel's size has a little change after moved form from 300% primary screen to 100% secondary screen.

Open on 300% primary screen.
![300](http

[2021-06-15 08:52] John-Qiao opened #5102 "[Multi-Monitor] The form has scrollbar when DPIs differ"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21313.2 + private binaries build from main branch in dotnet/winforms repo [Private dlls.zip](https://github.com/dotnet/winforms/files/6654131/Private.dlls.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The form has scrollbar when moving it from 300% primary screen to 100% secondary screen.
![Move-300-to

[2021-06-15 09:06] John-Qiao opened #5104 "[Multi-Monitor] The spinner buttons of DomainUpDown/NumericUpDown controls are not scaled well when DPIs differ"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21313.2 + [Private dlls.zip](https://github.com/dotnet/winforms/files/6654255/Private.dlls.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The spinner buttons of DomainUpDown/NumericUpDown controls are not scaled well.
![Move-300-to-100](https://user-images.githubusercontent.com/45864985/122024607-2b3040

[2021-06-15 09:14] John-Qiao opened #5105 "[DPI] The form Icon for child form with maximize state in MDIParent form is very small when running on 300% DPI"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21313.2 + private binaries build from main branch in dotnet/winforms repo [Private dlls.zip](https://github.com/dotnet/winforms/files/6654328/Private.dlls.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The form Icon for child form with maximize state in MDIParent form is very small when running on 300%

[2021-06-15 09:26] John-Qiao opened #5106 "[Multi-Monitor] The checkbox icon of toolStripMenuItem is not scaled well when DPIs differ"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21313.2 + private binaries build from main branch in dotnet/winforms repo [Private dlls.zip](https://github.com/dotnet/winforms/files/6654393/Private.dlls.zip)

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The checkbox icon of toolStripMenuItem is not scaled well.
![Move-300-to-100](https://user-images.gith

[2021-06-15 10:50] weltkante commented on #5093
The repo does not reproduce the regression by itself, I suspect your test environment contains additional aspects required to reproduce the significant regression you are seeing. I'm running 100% DPI (no HiDPI machine) and I'm using the stock default fonts of an european windows installation. Neither `6.0.0-preview.4.21254.5` nor the current nightly build observe the regression.

I think you need

[2021-06-15 11:09] weltkante commented on #4963
I think if you report the problem from within VS the workflow allows you to record steps to reproduce the problem. When it crashes as part of that repro I'd assume they record enough information to diagnose it. Overall, for VS-specific issues its often recommended to report then through the VS bug reporting infrastructure so they can capture additional context, seems like here it would be especial

[2021-06-15 15:24] alanhoman commented on #5093
I was using the guide in debugging.md,  Method 2: **Point your project to your experimental binary(-ies)**.  I realized this was the debug version so when I built the release version and changed the references (as shown below), it went from 5,000 ms down to 245 ms.

I think this can be closed, but I have the following suggestions and questions:

1. It might be good in debugging.md to state that fo

[2021-06-15 17:25] cadilhac commented on #5092
You're right. Finally did a repro code that also includes the fix. Here it is.
[IconEditorBug.zip](https://github.com/dotnet/winforms/files/6657531/IconEditorBug.zip)

[2021-06-15 17:49] merriemcgaw commented on #4720
Once we've figured out the name of the property and description (we can get the translations automatically) we may be able to bring this through the API review process. Can you copy the content above to the first comment in the issue? That's what the API folks look for.

[2021-06-15 17:56] merriemcgaw commented on #3346
This is on our backlog of features we want to get into the next release, but we've got a lot of competing priorities so I'm not quite able to commit to a particular release at this time.

[2021-06-15 17:57] kirsan31 commented on #4720
@merriemcgaw

Done.

[2021-06-15 22:19] RussKie commented on #5093
I've run font-only benchmarks, and creating a font is significantly faster. It also doesn't appear to be significant for the text measuring.
[code]
|            Method |        Job |              Runtime |      Toolchain |         Mean |       Error |      StdDev | Ratio | RatioSD |  Gen 0 |  Gen 1 |  Gen 2 | Allocated |
|------------------ |----------- |--------------------- |--------------- |---

[2021-06-15 23:46] safern commented on #5093
It looks like SystemFonts are expensive because we need to consider user settings like culture settings, etc. I.e in arabic the default font is `Tahoma` not `Segoe UI`. So I guess that is where the expensive part comes into play.

[2021-06-16 00:20] RussKie commented on #5093
Feel free to open a PR and propose an update to the doc.

If you make a backup, it isn't. It is possible to "Repair" the installation as well, but certainly requires more time.
From the personal experience Method 2 may not work in all test scenarios.

I have a script that deploys local binaries and reverts the deployment, you're welcome to give it a go: https://gist.github.com/RussKie/bb11e213f047

[2021-06-16 00:20] #5093 closed

[2021-06-16 02:48] paul1956 commented on #3346
Is there any workaround? Is Application.Config still used? updating Settings does not update it but the changed settings seem to work in the application.

[2021-06-16 02:51] paul1956 commented on #4957
@KlausLoeffelmann, it seems if you delete the problem sections from App.Config manually. You can change setting and the changes work at runtime and the error doesn't happen of course you lose the features you comment out (Logging).

[2021-06-16 02:54] RussKie commented on #4957
@KlausLoeffelmann is this tracked somewhere to which we can link?

[2021-06-16 03:21] John-Qiao opened #5111 "[HDPI] The warning properties window is not scaled properly when running on 300% DPI"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21313.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

On 300% DPI machine, the warning properties window is not scaled properly, see screenshot as below:
![Actual](https://user-images.githubusercontent.com/45864985/122153070-d3deae80-ce94-11eb-8cce-bdf716b145b0.png)

**Expected behavior:**

The warning pro

[2021-06-16 06:28] RussKie commented on #4978
@kirsan31 would you be open for a chat? If so, could you please reach out to me at igor.velikorossov at microsoft dot com?

[2021-06-16 06:32] kirsan31 commented on #4978
@RussKie

Hm, I don't quite understand what do you mean. I think this was closed by you in #5030.

[2021-06-16 07:33] RussKie commented on #4978
Хотел бы пообщаться, если удобно напиши на емайл.

[2021-06-16 07:34] #4805 closed

[2021-06-16 08:05] Zheng-Li01 opened #5112 "[HDPI] TextBox shrinks when running application on 300% DPI"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21313.2

* Have you experienced this same bug with .NET Framework?:
Yes, there have a VSO  bug to track: [549652](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/549652)

**Problem description:**
TextBox shrinks after running application on 300% DPI.
![image](https://user-images.githubusercontent.com/38325459/122181248-c5f05400-cebb-11eb-81af-

[2021-06-16 08:09] kirsan31 commented on #4978
@RussKie

I emailed to you from golikova at gmail dot com, In case of spam filters.

[2021-06-16 08:55] Marie-Shi opened #5113 "[HDPI]A form with FormBorderStyle=FixedDialog and ControlBox=false is sized incorrectly"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21313.2

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
There is a similar VSO bug: [631474](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/631474).

**Actual behavior:**
The form is truncated at the bottom.
![Capture](https://user-images.githubusercontent.com/45864017/122187870-06eb6700-cec2-11eb-8788-3d60e70f

[2021-06-16 17:02] dreddy-work opened #5116 "Scaling child items of ToolstripControlHost"
This issue is to follow-up and track  for the comments made on PR #5059 about scaling of child items that do not have conventional child-parent relationship via 'SetParent(..)' with ToolstripControlHost.

A sample app exercising this scenario would be helpful in debugging it.

[2021-06-16 20:56] dreddy-work commented on #5112
Some winforms controls are Font scaled and reset control height to Font height, no mater what the bounds were. Expecting different category controls to align with each other when scaled is a complex issue.  This needs breaking changes.

[2021-06-16 22:18] dreddy-work commented on #5076
Yes. for RTL, we need special handling on the DPI changed.  I have not dig into it yet but keep this bug open. We will update it with info and decide then if this need to be closed.

[2021-06-16 22:24] dreddy-work commented on #5100
These must be coming form windows.

[2021-06-16 22:26] dreddy-work commented on #5105
related #5100

[2021-06-16 22:47] dreddy-work commented on #5111
@John-Qiao , Can you please attach GIF on how you reproduce this? This window is opening in 'SystemAware' mode for me always. Did you check the DPI awareness of the window displayed?

[2021-06-17 02:57] John-Qiao commented on #5111
@dreddy-work it can repro in 2 DPI modes: PerMonitorV2/SystemAware for form's AutoScaleMode: Font/DPI when testing in PropertyGrid control. Please check below gif file:
![TestResult3](https://user-images.githubusercontent.com/45864985/122323888-6a28d800-cf5a-11eb-984a-8663ab95b3fd.gif)

And it can repro in **Properties** window when open form in design time too, Please check below gif file:
![Test

[2021-06-17 06:50] John-Qiao commented on #4978
Verified with .NET 6.0.100-preview.6.21315.23 + private binaries build from main branch in dotnet/winforms repo, this issue has been fixed that font style works when the text scale value is bigger than 100% in OS.
![TestResult](https://user-images.githubusercontent.com/45864985/122346238-517cea00-cf7b-11eb-8e62-8f2dfe6d4e23.png)

[2021-06-17 21:02] eerhardt opened #8832 "ToolboxBitmapAttribute no longer supports resource/assembly name Suffixes"

[2021-06-18 02:41] Olina-Zhang opened #5128 "[Accessibility] Keyboard tooltip of Winforms control should disappear when moving Form"
* .NET Core Version:
.NET SDK 6.0.100-preview.6.21317.3

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Create a Winforms .Net Core application with targeting .Net 6.0 or using attached app directly
[WinFormsApp16.zip](https://github.com/dotnet/winforms/files/6674251/WinFormsApp16.zip)
2. Add 2 buttons and a tooltip to core designer, and set button2's tooltip

[2021-06-18 17:28] merriemcgaw commented on #3346
Adding @JeremyKuhne to see what his thoughts are for an alternative approach,

[2021-06-18 19:01] KlausLoeffelmann commented on #3346
Yes, for the time being, we will keep app.config.

As a workaround:
The type version of the `UserSettingsGroup` class in the app config should be changed to `Version=4.0.0.0` and it’s assembly to `System`.

That _should_ solve the problems for runtime and designer.

[2021-06-19 00:04] paul1956 commented on #3346
@KlausLoeffelmann could we have a specific example the first doesn't help and the second is an error
[code]
[code]

[2021-06-19 11:22] imba-tjd commented on #3001
Question: Can WPF set default font? rather than set FontFamily in every xaml.

[2021-06-19 12:24] weltkante commented on #3001
@imba-tjd you can try setting the default value of the FontFamily and related properties in the metadata before creating any window or control. In general this is the wrong repo to ask in though, you'll find more people knowing about WPF in the WPF repo.

[2021-06-20 13:27] luronumen commented on #4774
From **.NET 6** it will be possible to define a default font for the application: [Windows Forms: default font](https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-5/#windows-forms-default-font)

[2021-06-20 21:24] paul1956 commented on #3346
@KlausLoeffelmann If I look at App.config, after I change a setting it does not reflect the changes. After I delete the logging section from App.Config it is never put back. In both cases the changes I make to setting (values or additional setting) do from through to the application. I don't see  any way to add/change the log settings in Visual Studio other then creating a new project.

[2021-06-20 22:21] AraHaan commented on #4774
with that default font, what if that form is localized with it? Would you have to manually delete each entry with the same font entry used in the resx file?

[2021-06-21 00:26] RussKie commented on #4774
The primary goal for the `SetDefaultFont` API is to enable migrations of existing projects from .NET Framework. The .NET Framework's default font is Microsoft Serif, 8.25f, so even if it is serialized into resources, with having `SetDefaultFont("Microsoft Serif", 8.25f)` the app will continue to render as previously.

If you're thinking of redesigning existing apps into the new font - then, yes, y

[2021-06-21 00:28] #4774 closed

[2021-06-21 02:00] John-Qiao commented on #4978
Verified with .NET 6.0.100-preview.7.21320.2 from main branch, this issue has been fixed that font style works as above when the text scale value is bigger than 100% in OS.

[2021-06-21 02:20] TempeBrennan commented on #3300
@weltkante I tried override "Site" property.
When double click "form.cs", first will execute control constructor then will apply value to "Site"
Then when user close "form.cs" file, "Site" will be set again.

So if I want to get design time or run time in constructor, this property can not help me indeed. But I can not find other good way.

Before this API added, do we have other recommended way t

[2021-06-21 04:04] weltkante commented on #3300
@TempeBrennan my recommendations were based on the Desktop Framework designer, but by now it became apparent that the WinForms team is not interested in maintaining compatibility with Desktop Framework designer APIs. The new designer SDK is not released yet (only accessible under NDA) so I cannot give any recommendations how to write design time code. If you develop controls you may want to reach

[2021-06-21 08:22] Zheng-Li01 commented on #4031
Verified the issue with latest 6.0.100-preview.7.21320.4 that the issue has been fixed, no error appeared when the DataGridViewTextBoxCell is not in the editing state, see below GIF.
![Issue4031](https://user-images.githubusercontent.com/38325459/122730407-c23e4200-d2ac-11eb-8957-af4d295f1632.gif)

[2021-06-21 08:25] Zheng-Li01 commented on #5087
Verified the issue with latest 6.0.100-preview.7.21320.4 that the issue has been fixed, no code generated for Subtitle/TaskLink/Footer properties when not setting. see below GIF.
![Issue5087](https://user-images.githubusercontent.com/38325459/122730781-32e55e80-d2ad-11eb-9c83-5d5a8ec9693d.gif)

[2021-06-21 08:28] Zheng-Li01 commented on #4984
Verified the issue with latest 6.0.100-preview.7.21320.4 that the issue has been fixed, the Designer will serialize HideSelection property when setting it as True. see below GIF.
![Issue4984](https://user-images.githubusercontent.com/38325459/122731055-7d66db00-d2ad-11eb-994f-df6d854f999c.gif),

[2021-06-22 02:18] Zheng-Li01 commented on #4928
The issue also have been fixed in 5.0.8.

[2021-06-22 04:35] Kaelum opened #5137 "Information request for RESX file auto-code generation"
The .NET 5.0 Release branch of [dotnet / winforms](https://github.com/dotnet/winforms) appears to be using a mechanism for RESX files, that autogenerates a C# partial class file in the bin folder of the project for the RESX file.  With the `Winforms.sln` solution loaded in Visual Studio 2019, all references to that class in the solution/project appear to be resolvable, and enumerable in Intellisen

[2021-06-22 07:04] Ashley-Li commented on #4913
The issue also have been fixed in 5.0.8.

[2021-06-23 00:51] #4198 closed

[2021-06-23 01:02] #4835 closed

[2021-06-23 01:04] #4861 closed

[2021-06-23 02:49] Zheng-Li01 commented on #4712
@AraHaan @RussKie, verified the issue with .NET 6.0 6.0.100-preview.6.21322.9, the new function has been implemented for now, just a minor issue need to confirm that no similar **Summary** for new added buttons. see below screenshot.
![image](https://user-images.githubusercontent.com/38325459/123027570-a0f66680-d410-11eb-87c3-de45ff820bd0.png)

[2021-06-23 04:17] AraHaan commented on #4712
How is that possible?

[2021-06-23 04:39] RussKie commented on #4712
This means our intellisence bundles haven't been updated yet.

[2021-06-23 04:59] AraHaan commented on #4712
wait there is a separate bundle?

[2021-06-23 05:29] Barshan-Mandal opened #5140 "Custom control drag and drop throws exception"
* .NET Core Version:

.net 6.0
* Have you experienced this same bug with .NET Framework?:

no

**Problem description:**
custom contro; drag and drop throws exception

**Expected behavior:**

**Minimal repro:**

[2021-06-23 08:22] Olina-Zhang commented on #5087
Verified this issue with the latest .Net SDK 6.0.100-preview.6.21322.9 build, this issue is fixed, no code generated about Subtitle/TaskLink/Footer properties when they are not set. And in runtime, the dimensions of collapsible listViewGroup is changed.
Now:
![image](https://user-images.githubusercontent.com/26474449/123062395-0f521d80-d43f-11eb-8e73-c7e7bb1f6be6.png)
Before:
![image](https://user

[2021-06-23 08:28] Amy-Li03 commented on #4944
Verified the issue with .NET 6.0 6.0.100-preview.6.21322.9, it was fixed, now the resource "ParentControlDesignerGridSizeDescr" has correct resource string: "Determines the size of the positioning grid."

[2021-06-23 08:32] Amy-Li03 commented on #4316
This issue has been fixed on .NET SDK 5.0.8 servicing, we can open ListView form successfully and no VS crash.

[2021-06-23 08:58] Amy-Li03 commented on #4475
Verified the issue with .NET 6.0 6.0.100-preview.6.21322.9, it was fixed. A dpi-aware .Net6.0 PropertyGrid can draw the caret properly in its own distinct space.

![image](https://user-images.githubusercontent.com/62929087/123067887-3e787880-d3c6-11eb-8037-df49c77c4692.png)

[2021-06-23 09:12] John-Qiao commented on #4978
Verified the issue with .NET 6.0 6.0.100-preview.6.21323.1, it is fixed as above result too.

[2021-06-23 09:47] Junjun-zhao opened #5143 "[ 6.0.100-preview.6.21322.2] PropertyGrid doesn't work well at HeroesPowerPlant when Enabled property is set False and PropertySort set to PropertySort.NoSort"
**Application**: HeroesPowerPlant
**OS**: Windows 10 RS5
**CPU**: X64
**.NET Build Number**: 6.0.100-preview.6.21322.2

**Source Code & App check at :** https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1346436

**Verify Scenarios:**
1) Windows 10 RS5 X64 + dotnet-sdk-3.1.406   PASS
2) Windows 10 RS5 X64 + dotnet-sdk-5.0.200   PASS
3) Windows 10 RS5 X64 + 6.0.100-preview.6.21315.23 PASS
4) Wi

[2021-06-23 11:27] luronumen opened #5141 "Unable to publish a .NET 5.0 WinForms project via ClickOnce when the WebPageFile (e.g.: Default.htm) is not yet created"
* .NET Core Version: **.NET 5.0**

* Have you experienced this same bug with .NET Framework?: **No**

**Problem description:**
- Unable to publish a .NET 5.0 WinForms project via ClickOnce when the WebPageFile (e.g.: Default.htm) is not yet created

- The attached Error message is displayed:

![ErrorMessage](https://user-images.githubusercontent.com/8019466/123087911-7a7a0080-d3fb-11eb-8b98-90da73

[2021-06-23 11:48] RussKie commented on #5140
@Barshan-Mandal information you've provided is not sufficient to provide any meaningful help or investigate. Please provide more information, or the issue will be closed.

[2021-06-23 11:51] RussKie commented on #4712
Yes, xml-docs flow through a number of other systems and teams before becoming intellisence and docs. :)

[2021-06-23 16:50] #4872 closed

[2021-06-23 16:52] dreddy-work commented on #5141
@John-Hart Can you please take a look at this publishing scenario?

[2021-06-23 16:55] dreddy-work commented on #5143
@vladimir-krestov , is this related to the one you guys fixed recently? @Junjun-zhao , did you try with latest preview?

[2021-06-23 16:58] dreddy-work commented on #5140
We would need details on how your custom control is developed and if it has any dependencies? What is the exception? screenshots? or GIF of the scenario.

[2021-06-23 17:26] KlausLoeffelmann commented on #3346
Well, basically what's happening is that when the _App.Config_ gets written, the .NET (not the .NET Framework) types get written out. Which is principally OK, but: At runtime, the Framework process tries to resolve those types being stated in the app config, and of course it can't. And that's why we're seeing the errors: VS running in the Framework process can simply not deal with the types. Now,

[2021-06-23 19:00] John-Hart commented on #5141
@sujitnayak could you please help investigate this?

[2021-06-23 19:11] dreddy-work commented on #5137
This comes from a build task from Arcade `Microsoft.DotNet.Arcade.Sdk.GenerateResxSource` that is integrated into our repos. I guess any repo that use Arcade build infrastructure would get this feature.

[2021-06-23 20:27] merriemcgaw commented on #5128
@Olina-Zhang Does it go away ever? Like if you click on some other control in the form?

[2021-06-23 20:28] merriemcgaw commented on #5112
@Zheng-Li01 Does it behave as expected when everything is using DPI Scaling?

[2021-06-23 23:27] Kaelum commented on #5137
@dreddy-work Thank you!

I don't think that we'll be able to implement easily, but it's something that we'll definitely want to consider.

[2021-06-23 23:27] #5137 closed

[2021-06-23 23:37] dreddy-work commented on #5141
Progress will be tracked in attached feedback item [FeedbackTicket 1345881](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1345881): . This is issue does not belong to winforms but ClickOnce. Closing it.

[2021-06-23 23:37] #5141 closed

[2021-06-23 23:43] RussKie commented on #5137
@Kaelum trying asking your question in https://github.com/dotnet/arcade/, it is manned by the engineering team that manages the infra.

[2021-06-24 00:26] paul1956 commented on #3346
@KlausLoeffelmann making that change causes 2 errors in designer with very clean messages about settings and App.Config differing. Accepting both seems to do everything correctly and they don't happen again. I still need to delete logging section or I get a runtime error. Should the default App.Config on new applications be upgraded to above?
[code]

[2021-06-24 00:27] RussKie commented on #5143
This appears to be a regression in net6.0

![image](https://user-images.githubusercontent.com/4403806/123184285-b5049b80-d4d6-11eb-9ded-2db34ed02d15.png)

[2021-06-24 01:44] merriemcgaw opened #5146 "Populate the FrameworkId property for each UIA element with running version of .NET"
[Accessibility Insights for Windows ](https://accessibilityinsights.io/docs/en/windows/overview/)needs to be able to determine which .NET version is running in order to report only actionable errors to the application developer when they are scanning for accessibility errors. Errors where WinForms had not yet implemented a UIA provider for a control is not realistically actionable for a developer

[2021-06-24 01:49] John-Qiao commented on #4031
Verified the issue with .NET 6.0 6.0.100-preview.6.21323.1, it has been fixed as above testing result too.

[2021-06-24 02:46] Zheng-Li01 commented on #5112
@merriemcgaw,  there have same behavior between design time and run time when creating & running the project both on 300% DPI scaling.
![image](https://user-images.githubusercontent.com/38325459/123194468-16c60500-d4d9-11eb-9373-8c436c825b78.png)

[2021-06-24 06:57] Balkoth opened #5148 "WinForms HighDPI PerMonitorV2 UserControl Panel scales wrong"
**.NET Core Version:**
SDK: 5.0.301 (ef17233f86)
Runtime: 5.0.7 (556582d964)

**Problem description:**
Panels on a UserControl are not scaled correctly when DPI changes occur.

The attached sample contains a form with a tab control and 2 tab pages. On the first tab page the panels are added directly, on the second tab page is a user control with the exact same panel configuration.

Starting the ap

[2021-06-24 07:01] Junjun-zhao commented on #5143
@dreddy-work   Yes,  We tired. It repro on the latest preview build 6.0.100-preview.6.21322.2 .

[2021-06-24 07:12] SenthilKumaranRajan commented on #4887
Hi @RussKie ,

Today I have installed .NET 6 preview 5 and tested this reported issue. Still this issue is not fixed.

Please find the screenshot below.

![image](https://user-images.githubusercontent.com/44424557/123218666-a1166500-d4e9-11eb-9d7d-a78a9843c9ac.png)

[2021-06-24 07:56] Olina-Zhang commented on #5128
@merriemcgaw  here is the cases that tooltip disappears:
1. Like you said:  click on some other control
2. In repro steps said: when waiting for tooltip is timeout, that keyboard tooltip eventually disappears when moving the form.

[2021-06-24 08:01] Jenna-Zheng commented on #3491
Verified this issue with Core 6.0.100-preview.6.21323.12, Most of the issues have been fixed, but found several new issues that have been submitted for tracking([#5098](https://github.com/dotnet/winforms/issues/5098), [#5106](https://github.com/dotnet/winforms/issues/5106), [#5105](https://github.com/dotnet/winforms/issues/5105), [#5102](https://github.com/dotnet/winforms/issues/5102))

**Test Pro

[2021-06-24 09:02] RussKie commented on #4887
Is this at run time or design time?

[2021-06-24 09:06] SenthilKumaranRajan commented on #4887
Hi @RussKie ,

**Design Time**. I know smart tag will work only on design time. Also, in .NET Framework it works perfectly. Please find screenshot below.

![image](https://user-images.githubusercontent.com/44424557/123235514-9237ae80-d4f9-11eb-8499-96cf678332aa.png)

[2021-06-24 10:25] RussKie commented on #4571
Have we completed the list?

[2021-06-24 12:05] vladimir-krestov commented on #5143
@dreddy-work, no, it's not related to the previous our work.

Yes, this is a regression, it apprears since c5e6890d27861fabd53da802c4da5c7da24ef883.
Loot at `GridEntry.cs` file, line 133:

![image](https://user-images.githubusercontent.com/49272759/123257600-0de62b00-d4fb-11eb-9ad4-3aef1c47a6c3.png)

Here `_flags` field should be used like in the rest places of this change (#5058).
The exception a

[2021-06-24 18:01] KlausLoeffelmann commented on #3346
That is a question @merriemcgaw and @KathleenDollard are discussing, currently.
I hadn't have a chance yet to get behind this.

[2021-06-24 18:11] Eilon commented on #4631
We would *LOVE* to have this as well for Blazor Desktop scenarios. Blazor Desktop supports running Blazor web apps natively in WinForms apps in WebView2. There's a lot of async stuff in WebView2, and Blazor is fully async. When the new [BlazorWebView WinForms control](https://github.com/dotnet/maui/blob/main/src/BlazorWebView/src/WindowsForms/BlazorWebView.cs#L20) is disposed, we need a way to cal

[2021-06-24 19:08] KlausLoeffelmann commented on #4631
We're really busy currently with Performance work in the WinForms Designer. Said that, this is still very high on my list - it'll just take a little bit longer to get to it!

[2021-06-24 19:29] Eilon commented on #4631
We would gladly be early adopters and try this out once it's available!

[2021-06-24 19:50] KlausLoeffelmann commented on #4631
@merriemcgaw for planning and priorities.

[2021-06-25 03:02] baraBlz opened #5153 "NETapi"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like and alternatives you've considered**

**Will this feature affect UI controls?**

[2021-06-25 04:29] #3863 closed

[2021-06-25 05:51] #5153 closed

[2021-06-25 06:19] vsfeedback opened #5154 "Null Reference Exception occurred on mouse move the dropdown of Inherit combobox in NETCore"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Null-Reference-Exception-occurred-on-mou/1459552)._

---
Hi Team,

we have create a control on inherit to Combobox and create a CreateAccessibilityInstance() in NETCORE 50 Frame work , when open the dropdown to mouse over the item or touch a item exception occured from the base. WndProc(

[2021-06-25 06:49] John-Qiao commented on #5154
* .NET Core Version:
.NET SDK 6.0.100-preview.7.21324.6

* Have you experienced this same bug with .NET Framework?:
Yes, this issue occurs in .NET Framework 4.8 too. But it does not occur in .NET Framework 4.7.2 or earlier versions.

**Problem description:**

The exception occurs when move mouse over the item in inherited ComboBox control.
![Core-6 0](https://user-images.githubusercontent.com/4586

[2021-06-25 07:24] Balkoth commented on #5148
Sidenote: It does not matter if the UserControl is on a TabControl/TabPage. It also scales wrong if just a Panel is set as containter.

[2021-06-25 09:49] Zheng-Li01 commented on #5112
@merriemcgaw, the issue also can reproduce when setting the AutoScaledMode property value as DPI.
![image](https://user-images.githubusercontent.com/38325459/123406611-ac4abd00-d5dd-11eb-90be-8dc8686e8321.png)

[2021-06-25 09:50] NiranjanKumar16 commented on #4887
Hi @RussKie ,

I am having the same issue in .NET6 preview 5 at design time in Windows Forms. It seems like you have fixed this issue and set for .NET6 Preview 5. But it is still not working. Can you please check this and update us asap ?

[2021-06-25 11:20] weltkante commented on #4887
In case you missed it, this issue was implemented for runtime designers, VisualStudio uses a new implementation and disregards many of the old WinForms designer code. There is a new designer SDK with support available under NDA, public documentation for creating design time code usable in VS is not yet available.

[2021-06-25 12:48] vladimir-krestov commented on #5146
@merriemcgaw,
We already have `UiaCore.UIA.FrameworkIdPropertyId`, so we can use it in `GetPropertyValue` to return some value.
To get the current used framework version, it's necessary to use `System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription`. So we can do the following:

![image](https://user-images.githubusercontent.com/49272759/123425291-a5ff1580-d5ca-11eb-91d6-6130d60625

[2021-06-25 14:27] RobGallo commented on #5146
@vladimir-krestov , Thank you.

Just fyi: There is a discussion happening about what the exact format should be and how the expected values should be documented. The format needs to be stable and predictable.

[2021-06-26 15:34] alanhoman commented on #3491
I am trying to test all of the High DPI changes from the main branch and recently I started getting an exception that prevents me from doing any testing.  Did something change in the build process or is something broken in the main branch?  I have 6.0.0-preview.5.21301.4 installed, and then copy the latest WinForms dlls from the build into it.

![image](https://user-images.githubusercontent.com/21

[2021-06-26 21:17] dreddy-work commented on #3491
@alanhoman ,  main branch is constantly updated for latest dependencies. It seems you have couple of build old runtime than that our 'main' branch targets.  Try installing latest runtime.

[2021-06-26 21:22] dreddy-work commented on #5148
Thanks @Balkoth . Panels are the next in line for HDPI work.

[2021-06-26 22:20] alanhoman commented on #3491
I am using the publicly available .NET 6.0 Preview 5 SDK that was released on 6/17/2021.  It looks like winforms is using the yet to be released Preview 7.  Should I be using this?  Do you have a link that describes how to do this since it doesn't look like there is an installer for it yet?  What process do you follow to keep your SDK up-to-date with the winforms work?

[2021-06-27 03:51] RussKie commented on #3491
We're building against .NET nightlies (which are [automatically updated](https://github.com/dotnet/winforms/pulls?q=is%3Apr+sort%3Aupdated-desc+is%3Amerged+author%3Aapp%2Fdotnet-maestro)).
There are few ways you can go about it - either install the latest nightlies globally (see: https://github.com/dotnet/installer), or prepend the path to .\winforms\\.dotnet to your global %PATH% so your VS and y

[2021-06-27 14:56] alanhoman opened #5161 "In WinformsControlsTest\MainForm.cs, use Show(this) so child forms open on the same monitor as the parent"
* .NET Core Version:
Daily Build - 6.0.0-preview.7.21323.1

In winforms\src\System.Windows.Forms\tests\IntegrationTests\WinformsControlsTest\MainForm.cs, all of the [form].Show() calls in GetButtonsInitInfo() should be changed to [form].Show(**this**) so that the child form will always open on the monitor the MainForm is on.  I can submit a pull request with this change if you like.  For example:

[2021-06-27 15:50] alanhoman opened #5162 "Child MDI windows have rendering issues"
* .NET Core Version:
Daily Build - 6.0.0-preview.7.21326.1

In winforms\src\System.Windows.Forms\tests\IntegrationTests\WinformsControlsTest\MdiChild.cs, change the btnOpenChild_Click event to open the MultipleControls form rather than a blank form then do the following

1. Run the project on a 100% scaled monitor and click the MDI Parent button.
2. Move the MDI Parent form from a 100% scaled moni

[2021-06-27 15:57] alanhoman commented on #3491
@RussKie , I installed the dotnet-sdk-6.0.100-preview.7.21326.2 SDK daily build from https://github.com/dotnet/installer/blob/main and everything is working now.  Thanks for the guidance! I will continue testing and open a new issue for each scenario if I find anything.

[2021-06-28 02:22] RussKie commented on #5161
👍

👍
Please check that issues you're seeing aren't already raised. This may be a good start: https://github.com/dotnet/winforms/issues?q=is%3Aissue+is%3Aopen+label%3A%22area%3A+HDPI%22

[2021-06-28 02:25] RussKie commented on #5154
@vladimir-krestov @SergeySmirnov-Akvelon please investigate

[2021-06-28 04:35] dreddy-work commented on #5162
Any of those controls has Font set? Can you attach your test app as well?

[2021-06-28 04:53] alanhoman commented on #5162
This was not from my app, it is from the base WinForms project here on GtitHub (https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/MultipleControls.cs).  Please look at my issue again in order to reproduce the issue.  I can create a pull request if you like so that line 26 on MdiChild.cs opens MultipleControls rather than a blank form.

[2021-06-28 05:05] dreddy-work commented on #5162
Okay. Just wanted to make sure if you have  used your own test app here. Pull request may not be needed for the repro app. Scaling should work in both cases ( inherited Font and user set Font). We have known issues when launching or creating Forms ( or containers) on a non primary monitor first time. I am working on this scenario.

[2021-06-28 07:44] kant2002 opened #5163 "ComWrappers support"
I want to raise questions about plans for adding ComWrappers support in WinForms.
This make WinForms application IL trimming friendly. For me that would be big win for NativeAOT, but I understand that this is not priority.
Work in .NET repository started https://github.com/dotnet/runtime/pull/54636 and I think similar approach to some degree can happens here.

I initially try to find simplest inte

[2021-06-28 11:10] vladimir-krestov commented on #5154
Please see the following code:
https://github.com/dotnet/winforms/blob/8c12a8276fa2d9e6ced90a92eae3fd6badb4fceb/src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxChildNativeWindow.cs#L44-L47

In the customer code `_owner.AccessibilityObject` is `PastelessComboBoxAccessibility`, that is not "ComboBoxAccessibleObject".

There is no way to inherit a new custom class from `ComboBoxAcc

[2021-06-28 16:49] dreddy-work commented on #5163
@JeremyKuhne would be right person on winforms team to take this discussion further.

[2021-06-28 17:33] JeremyKuhne commented on #5163
We do want/intend to move to function pointers for COM, it is just a matter of resource allocation. If folks are interested in contributing to make this happen we'd welcome it. Tests will be important and depending on risk and timing some changes might have to go into .NET 7.

[2021-06-28 18:10] JeremyKuhne commented on #5143
@vladimir-krestov yes, please make the change. If you can write a regression test that would be fantastic.

[2021-06-28 18:48] dreddy-work commented on #5154
But we do allow creation of CustomeAccessible object. correct? Setting `SupportsUiaProvider ` to `false` help achieve that? How do we support applications being migrated? @Tanya-Solyanik

We should do that meanwhile.

[2021-06-28 20:07] davidbuckleyni opened #5166 "Themes Implementation in Winforms"
Please bring the ability of themes to winforms every other platform has it but WinForms.

We should be able to set the theme on startup and change it on the fly with a listener.

Should be something like this

    services.configure(themeName);

This would then look in resources.resx for dark or light theme pallets. That could be used to style the entire application for example

    DarkControlCol

[2021-06-28 23:34] carlossanlop opened #5167 "System.Windows.Forms - Undoc 6.0 APIs"
The APIs in the table below were introduced in .NET 6.0 and are showing up as undocumented in the dotnet-api-docs repo.

Some of them are already documented in triple slash comments in source. Area owners, please:

1. Verify if there are any APIs from the table have not been documented in source. If you find any, document them in triple slash and submit a PR to runtime to commit the documentation.

[2021-06-29 00:38] RussKie commented on #5154
This code doesn't exist in .NET Framework, so it is something we added later.
Perhaps the code can be expressed as follows:
[code]

[2021-06-29 05:06] kant2002 commented on #5163
@JeremyKuhne Yes. I potentially willing to contribute in that area.
I have further questions which will affect my contributions. Does this repo should take into account .NET 3.1? If yes, then since ComWrappers do not support .NET 3.1 tests should run again .NET 3.1 and NetCoreAppCurrent (?). I may need help in that area.
If you have some other specifics which I may not know, would be good to have

[2021-06-29 06:47] RussKie commented on #5163
To service .NET Core 3.1 we need to meet the servicing bar, and at this stage I can't see we will. So changes will go into .NET 6.0 onwards.

Yes, a draft PR would be a good start.

Thank you

[2021-06-29 07:58] kant2002 commented on #5163
Quick question to double-check that I understand correctly. For me this is means that I should not worry about .NET 3.1 and can just change code. No split in project files like it was in dotnet/runtime#54636. Correct?
I have feeling that you answer significantly simplify my life, but cannot believe that.

[2021-06-29 12:24] RonHeck opened #5180 ".NET5 Forms: Cancel edit on ListView triggers event AfterLabelEdit with args.Label is "" instead of null"
The behavior of entering the label edit mode and leaving it without change or escape button was changed. In .NET-Framework and .NET-Core 3.1 the event "AfterLabelEdit" provides "LabelEditEventArgs" where the property "Label" is "null". In .NET5 the empty string is returned. So for now it is not possible to detect edit operation cancelation any more. The previous behavior should be established as i

[2021-06-29 15:13] dreddy-work commented on #5161
Assuming this is done and merged.

[2021-06-29 15:13] #5161 closed

[2021-06-29 15:20] alanhoman commented on #5161
Yes, this was merged, thanks.

[2021-06-29 15:48] Craftplacer opened #5169 "`ListViewGroup` shows empty subtitles"
* .NET Core Version:
5.0.203

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
A ListViewGroup header shows space for a subtitle which isn't set.

**Expected behavior:**
A single line ListViewGroup header to be displayed when `Subtitle` (introduced in .NET Core) is set to `null` (or a whitespace, depending what is more convenient/possible inside the designer)

[2021-06-29 17:16] merriemcgaw commented on #5112
@Zheng-Li01 Thanks!

[2021-06-29 17:45] JeremyKuhne commented on #5163
Yes, we only build the next version from our main branch. @RussKie was saying that if you wanted to make the same changes to 3.1 you would have to do so in the release branch for that version and that it wouldn't be something that would meet the servicing bar.

So you do _not_ have to worry about any other .NET versions in `main` other than .NET 6.

[2021-06-29 19:08] merriemcgaw commented on #5166
This is absolutely something that is on our long term roadmap. We have to work with Windows to make sure that some of the Windows APIs we need are made public so we can read them as we bring up the form. These are discussions that are happening internally and we will be sure to let everyone know when we get a plan in place. This happens to be a favorite topic of mine and @RussKie /

[2021-06-29 20:40] alanhoman commented on #5166
Hi @merriemcgaw, I wanted to add that this is extremely important for my organization and I appreciate the high priority you are placing on this feature!

[2021-06-29 20:43] merriemcgaw commented on #5166
I'm glad it's a feature that has so much enthusiasm behind it! I can't make a prediction yet as to when we would release this type of feature, but it is totally on my radar. We'll keep everyone posted as we get more info from Windows and as we are able to settle on a steady design.

[2021-06-29 21:19] RussKie commented on #5169
Duplicate of #5087

[2021-06-29 21:19] #5169 closed

[2021-06-29 23:15] DamianEdwards opened #5171 "WinForms project templates use latest C# language idioms"
In .NET 6, the included C# project templates will use the latest language idioms.

See the [parent Epic](https://github.com/dotnet/templating/issues/3359) for details.

@OliaG

[2021-06-30 01:31] RussKie commented on #5171
Related:
- https://github.com/dotnet/winforms/issues/5071
- https://github.com/dotnet/winforms/issues/5074

[2021-06-30 10:49] 199621616 opened #5175 "Can page selection printing be realized"
Can you provide sample code？

[2021-06-30 17:43] DamianEdwards commented on #5171
@RussKie just making sure you're aware of the SDK feature being implemented to support implicit/default global usings. There's [a PR going on right now](https://github.com/dotnet/sdk/pull/18459) to enable this and then the WindowsDesktop SDK should utilize this feature too.

[2021-06-30 22:03] OliaG opened #5179 "WinForms project templates use latest VB language idioms"
In .NET 6, the included VB project templates will use the latest language idioms.

Related https://github.com/dotnet/winforms/issues/5171

[2021-06-30 22:59] RussKie commented on #5180
@vladimir-krestov @SergeySmirnov-Akvelon are you able to investigate? It may have regressed in #2459 but not certain.

[2021-07-01 02:10] #5143 closed

[2021-07-01 03:12] RussKie commented on #5074
This work is currently blocked by https://github.com/dotnet/sdk/pull/18459/files

[2021-07-01 04:44] 199621616 commented on #5175
The reason for submitting this is that the result printed by the selected page is not the selected page

[2021-07-01 05:54] #5175 closed

[2021-07-01 06:38] vsfeedback opened #5182 "Microsoft.PointOfService in .Net 5 only referneces .Net 4 Forms to work."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/MicrosoftPointOfService-in-Net-5-only-/1449438)._

---
[severity:I'm unable to use this version]
The Microsoft PointOfService SDK's statement  New PosExplorer(Me) requires a .Net Framework 4.0 form to pass. The .net 5 Form can not be translated for this object. Is there a work around?

-

[2021-07-01 07:15] Jenna-Zheng commented on #5182
- .NET Core Version:
.NET SDK 5.0.400-preview.21323.10

- Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
The exception occurs when clicking the button1.
![image](https://user-images.githubusercontent.com/64949616/124079078-45188700-da7b-11eb-9d7c-db86a7bbcf21.png)

**Expected behavior:**
There is no exception occurs when clicking the button1.
![image](https:/

[2021-07-01 07:57] RussKie commented on #5182
@Jenna-Zheng we don't own the SDK in question, the customer needs to contact the owner, which judging from the NuGet is @ronnieoverby, and confirm the SDK is .NET Standard and/or .NET compatible. If it isn't it won't work, and it is the expected behaviour.

[2021-07-01 07:57] #5182 closed

[2021-07-01 18:08] vladimir-krestov commented on #5154
@dreddy-work,

Yes, but it won't be successful.

Yes, but a user can't do it even using reflection.

I have fixed the case for ComboBox.
I tried to find any places with the same issue using " as (\w|.)*AccessibleObject" regular expression.
There are no any incorrect usings of `as`, there are internal objects only.

[2021-07-01 18:54] sylveon commented on #5166
Related: https://github.com/microsoft/WindowsAppSDK/issues/41

[2021-07-01 22:08] alanhoman opened #5189 "Child MDI has HDPI issues related to height"
* .NET Core Version:
6.0.0-preview.7.21323.1

Run the repo and select MDIParent - Simple Layout.  Move MDIParent from the primary monitor to the secondary monitor.

If the MDIParent1 window height is less than 494 or greater than 859, the SimpleForm in MDIParent1 will not render properly when moved to the secondary monitor.  In the repo it is set to 493.

It would be expected that no matter what t

[2021-07-01 22:46] alanhoman opened #5190 "HDPI Performance and Rendering Issues"
* .NET Core Version:
6.0.0-preview.7.21323.1

When moving the application from the primary monitor at 100% to a secondary monitor at 150%, then opening a Child MDI form by selecting File -> New, there are performance and rendering issues:

1. Opening a new Child form on the primary monitor takes 416 ms.  When moved to the secondary at 150% and selecting File -> New, the Child form takes 4,850 ms t

[2021-07-02 07:13] vsfeedback opened #5191 "When vertically writing "MS P Gothic" font, etc., the character position is moved to the right depending on the font size."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/When-vertically-writing-MS-P-Gothic-fo/1466584)._

---
[severity:It's more difficult to complete my work]
The characters drawn when the font size is 16 or less are in a strange position.
At size 17, it is located in the center of the column, but at size 16, the position of 'I' is especia

[2021-07-02 07:31] John-Qiao commented on #5191
* .NET Core Version:
.NET SDK 6.0.100-preview.7.21351.6

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

When the font size is 16(or smaller), the position of characters is moved to the right, especially the 'I' character, it's clearly to the right.
![Actual](https://user-images.githubusercontent.com/45864985/124237574-3a78f300-db4a-11eb-9fee-d05d1be3515b.

[2021-07-02 15:40] OJacot-Descombes opened #5195 "API Proposal: Add Descendants property for Control"
# Motivation

Often it is necessary to not only iterate the immediate child controls through the `Controls` property but also the nested ones.

Google returns 5’540 results for "site:stackoverflow.com iterate nested controls winforms".

# Proposal

Add a `Descendants` property to `Control` iterating child controls recursively.

## Note
Since `Form` derives from `Control`, the property would be ava

[2021-07-02 18:37] koszeggy opened #5196 "Label is forcibly rendered with WindowText color instead of ControlText in high contrast mode"
* .NET Core Version:
All versions from .NET Core 3.0 to .NET 5

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The default color of a `Label` is `SystemColors.ControlText`. However, starting with .NET Core 3.0, it is rendered with `SystemColors.WindowText` color in HighContrast mode. This can produce the following issue with a high contrast color set using

[2021-07-02 18:45] weltkante commented on #5195
I'll add a note that operating on descendant controls of composite controls you didn't build yourself is generally bad practice, as you don't know what side effects any changes to these controls will have.

If the `Descendants` property somehow would only traverse the layer of controls you placed in the designer (including controls placed on panels and other containers) this would be much more use

[2021-07-02 20:05] OzarkDigitalSolutions commented on #5182
The original bug was not found using the Nuget package "PosForDotNet". The reference was using the SDK package from
"C:\Program Files (x86)\Microsoft Point Of Service\SDK\Microsoft.PointOfService.dll".
Jenna-Zheng misreported this issue. The matter should be looked into and not closed.

Recreate these conditions using Winfoms .Net 5.0 and this reference and you will see the issue.

[2021-07-03 16:00] davidbuckleyni commented on #5166
Glad to here it was talking with olga on twitter. I love how telerik handle it with the sep dlls for the themes might be worth talking to them

[2021-07-03 16:41] OJacot-Descombes commented on #5195
@weltkante. What is the behaviour of the `Controls` property? Does it apply the restriction you are suggesting? If, yes, it would be easy implement `Descendants` recursively base on the `Controls` property.

[2021-07-03 20:46] weltkante commented on #5195
No, the information required to implement a designer-centric enumeration does not currently exist and would need to be created. I'm just throwing this into the discussion because I often found blindly iterating through and operating on the control tree of a third party control breaks them, somtimes in subtile ways.

Its fine for simple applications that only use the win32 wrappers or simple self-d

[2021-07-03 20:51] davidbuckleyni commented on #5166
That only deals with UWP and WPF Im talking winforms here

[2021-07-03 20:56] mdtauk commented on #5166
Ideally it should be possibly to specify a bundled MSStyles with values for Light and Dark control resource and colours.  With an ability to specify Dark or Light as the app's chosen theme, as well as following the OS setting.

Each app could use a locally produced Style - or the current version of WinForms as a package could have a style included to match the version of the OS the app is run on.

[2021-07-03 21:04] davidbuckleyni commented on #5166
If u ever used the telerik ones where their is a theme option on each form that was something like i was thinking but, agreed a global option would be good as well.

[2021-07-03 21:22] sylveon commented on #5166
The issue I opened on the Windows App SDK repo is about dark theming for Win32/WinForms apps specifically, not WPF nor UWP

[2021-07-04 02:37] #5180 closed

[2021-07-04 18:02] OJacot-Descombes commented on #5195
@weltkante, I do net see a simple reliable way to implement this. Users will end up having to apply a white/blacklist as before to `Descendants`, I fear.

A clean solution would be to mark such third-party controls with an attribute (either on the top level or only the "forbidden" child controls). But of course, control makers would have to join the game. But even then, there are situations were s

[2021-07-05 03:02] Jenna-Zheng commented on #5182
@OzarkDigitalSolutions "C:\Program Files (x86)\Microsoft Point Of Service\SDK\Microsoft.PointOfService.dll" is also generated after installing the "PosForDotNet" package. Whether it is installed with nuget package "posfordotnet" or [PosForDotNet-1.14.1.zip](https://github.com/dotnet/winforms/files/6761330/PosForDotNet-1.14.1.zip) package, the result is the same.

[2021-07-05 06:47] kirsan31 commented on #5166
@merriemcgaw

Any hope that this can some how speed up #3691 fixing?

[2021-07-05 07:56] Zheng-Li01 commented on #4198
Verified the issue with latest 6.0.0-preview.7.21330.1, the issue has been fixed that the edit listview items are support the Text pattern when ListView's LabelEdit is true for now, please see blow screenshot.
![image](https://user-images.githubusercontent.com/38325459/124437334-8b3a5700-dda9-11eb-9233-5081b9352099.png)

[2021-07-05 08:08] Zheng-Li01 commented on #4861
Verified the issue with latest 6.0.0-preview.7.21330.1, the issue has been fixed that no exception pops up by following the steps provided by customer with attached project. see below GIF.
![Issue4861](https://user-images.githubusercontent.com/38325459/124438616-018b8900-ddab-11eb-93b9-b533e41d08ef.gif)

[2021-07-05 08:33] Zheng-Li01 commented on #4835
Verified the issue with latest 6.0.0-preview.7.21330.1, the issue has been fixed that Inspect & AccessibilityInsight tools are working well when using ToolStripControlHost add custom controls for ToolStrip Control, please see below GIF.
![Issue4835](https://user-images.githubusercontent.com/38325459/124441836-b07d9400-ddae-11eb-80ed-d8fef716cebc.gif)

[2021-07-05 10:05] RussKie commented on #5166
This bug needs to be fixed by the Windows team, it's on their backlog.

[2021-07-05 21:44] RussKie commented on #5191
@John-Qiao can you check how it behaves in an MFC?

[2021-07-06 07:51] coderb opened #5202 "Enhance DataGridView to support non-destructive (multi column) Sort"
`DataGridView.Sort` seems to be implemented via the quick sort algo in `DataGridViewRowCollection.RowArrayList`.

I would like to be able to sort the DataGridView in a non-destructive (stable) way when changing the sort column (clicking the header to sort).  Eg.  If I sort on the first column and then sort on the second, the rows remain sorted by column 1 for equal values of column 2.

[2021-07-06 12:07] coderb commented on #5202
@krwq nope, that link is a no go.  i need to be able to (continue to) use the column headers to do the sorting.  i've tried everything i could find on the web/stack overflow and even tried doing some reflection to SortInternal when overriding the Sort() method of DataGridView but it doesn't like to be passed both a column and comparer object.

it seems like some code support in DataGridView is app

[2021-07-06 16:16] #3982 closed

[2021-07-06 16:48] merriemcgaw commented on #5166
We haven't gotten any feedback from the Windows team on #3691 but we are asking again. It is on their radar and they've acknowledged it's on their end.

[2021-07-07 03:46] RussKie commented on #5196
@vladimir-krestov @SergeySmirnov-Akvelon please investigate

[2021-07-07 07:06] Balkoth opened #5205 "WinForms HighDPI PerMonitorV2 RichTextBox looses formatting"
**.NET Core Version:**
SDK: 5.0.301 (ef17233f86)
Runtime: 5.0.7 (556582d964)

**Problem description:**
Moving a window containing a RichTextBox between two displays makes the RichTextBox drop all formattings when PerMonitorV2 is enabled.

Starting on main display:
![image](https://user-images.githubusercontent.com/80055480/124714685-58f03d00-df02-11eb-8b5a-66989e1b0ed1.png)

After being moved to s

[2021-07-07 08:43] John-Qiao commented on #5191
@RussKie We created a C++ Windows Desktop project to test this scenario, the issue can be reproduced in it too.

[WindowsProject1.txt](https://github.com/dotnet/winforms/files/6775730/WindowsProject1.txt)

![TestResult-C++](https://user-images.githubusercontent.com/45864985/124727900-b9eb3580-df41-11eb-96b8-14dcb6bc39ad.png)

[2021-07-07 13:19] vladimir-krestov commented on #4102
There are several ways to fix it easily:
- `ImageAlign` & `TextAlign`: they work like a RadioButton, so their control type should be "**radio button**"
   _How to fix_: do nothing, it's already "radio button"
- `Anchor`: it works like a CheckBox, so its control type should be "**check box**"
   _How to fix_: there are 2 ways:
     1) Override `Role` property for `SpringControlAccessibleObject` and

[2021-07-07 17:21] #5154 closed

[2021-07-07 17:41] merriemcgaw commented on #4102
These all seem reasonable to me. I agree with your choices for Localized Control Type. @DmitryGorokhov, welcome aboard!

[2021-07-07 18:43] merriemcgaw commented on #5205
Thanks @Balkoth. Is this a regression from an earlier version of .NET?

[2021-07-07 18:54] Balkoth commented on #5205
I have not tried this on other versions, but this should be pretty easy to verify with the provided sample.

[2021-07-08 00:04] #5196 closed

[2021-07-08 03:35] RussKie commented on #5191
This is how Windows draws the text, we have no control over it. The feedback needs to be submitted via the Windows Hub.

[2021-07-08 03:35] #5191 closed

[2021-07-08 03:36] RussKie commented on #5205
@John-Qiao could you please check whether this is reproducible in an MFC app?

[2021-07-08 04:01] bairog commented on #4623
**.NET 6-preview5** was out almost a month ago. Any updates on this?
P. S. Is there any timeframe when WinForms Designer for .NET Core will finally leave preview state (that lasts from pre-NET Core 3.0 time) and will have feature parity with WinForms Designer for .NET Framework?

[2021-07-08 10:03] John-Qiao commented on #5205
@RussKie ok, we will try that and check the result.

[2021-07-08 12:25] Balkoth commented on #5205
@RussKie
What's the plan with all the included controls for .NET 6. Everytime i try to include a winforms control i discover bugs with dpi scaling. Is there no task in the backlog for .NET 6 to test all the winforms controls if they are production ready for using with PerMonitorV2?

I fear that if i don't report a control now, we will be stuck for another release of .NET with not working high dpi

[2021-07-08 15:51] IrakliLomidze opened #5219 "When is expected a stable version of WinForm core Designer ?"
When is expected a stable version of WinForm core Designer?

.NET 5 Designer was not updated for while.

[2021-07-08 17:29] dreddy-work commented on #5205
Thanks @Balkoth for your efforts in validating HDPI scenario and opening issues with sample apps. It helps. Our default for winforms applications is still SystemAware. Work on HDPI is being prioritized and expected to speed up in the coming previews of .NET 6.0. HDPI support for winforms PermintorV2 mode is not yet production ready.

While reporting helps prioritize and identify the common areas,

[2021-07-08 21:33] merriemcgaw commented on #5219
We've been working hard under the hood to improve our Core designer and bring it up to parity. We are getting close, and 16.10 saw a lot of performance improvements especially with interacting directly with controls on the form, and adding the MenuStrip, ToolStrip and StatusStrip in-situ editors so you can now manage  your menus the way you always have.

When will we be done? I don't have a solid

[2021-07-08 21:38] merriemcgaw commented on #4623
Take a look at the comment I placed in #5219. Long story short, we've got a few more bits and pieces to add back to the new designer and we need your help by providing feedback so we know where to prioritize. VS Feedback is the best way to do that for us.

Note also that the designer is separate from the .NET release and version. The designer is part of Visual Studio and updates with each new VS p

[2021-07-08 21:39] merriemcgaw commented on #4623
Oh, and @KlausLoeffelmann will provide a short update about where we are with data and what our next steps are going to be. We want to hear from you what it is that we need to concentrate on providing in the data binding space!

[2021-07-08 21:48] DamianEdwards commented on #5074
@RussKie the SDK feature was just merged. The epic has been updated with details of which namespaces are imported by default by the various SDKs. Please add the details for WinForms at your convenience.

[2021-07-08 23:27] #5219 closed

[2021-07-09 03:46] #4914 closed

[2021-07-09 04:47] bairog commented on #4623
@merriemcgaw Our company have no plans to buy Visual Studio 2022 in near future, so we will continue using Visual Studio 2019. According to company rules we cannot use preview IDE version for software developent. So I can provide some feedback as soon as Visual Studio 2019 16.11 will be released (suppose it to be in a July-August). Thank you for your efforts.

[2021-07-09 04:49] bairog commented on #4451
**.NET 6-preview5** was out almost a month ago. Any updates on this issue?

[2021-07-09 05:14] RussKie commented on #4451
No.

Note also that the designer is separate from the .NET release and version. The designer is part of Visual Studio and updates with each new VS preview.

[2021-07-09 08:34] Balkoth commented on #5205
Thanks for the heads-up.

[2021-07-09 09:17] kirsan31 commented on #4720
I've created draft PR #5221. May be it's speed up things a bit? :)

[2021-07-09 14:07] OlegRa opened #5223 "Unit tests success depends on user settings"
* .NET Core Version:
6.0.100-preview.6.21317.3

* Have you experienced this same bug with .NET Framework?:
N/A

**Problem description:**

Many unit tests that check the `Control.ShowKeyboardCues` and `Control.ShowFocusCues` default values for newly created controls failed on Windows 10 box with the enabled "Underline access keys when available" option.

**Expected behavior:**

Unit tests shouldn't

[2021-07-09 14:08] OlegRa commented on #5223
I have fixes for most of the failed tests - I'll prepare PR for these cases soon.

[2021-07-09 17:38] merriemcgaw commented on #4720
@dreddy-work can you start a thread with @terrajobst to get approval for this API change? Let's get that started while @kirsan31 is kindly coding the new API so we know we can get this in .NET 6 for sure

[2021-07-09 18:14] Tanya-Solyanik commented on #4102
![image](https://user-images.githubusercontent.com/15823268/125118616-ce940e80-e0a4-11eb-8d41-559527c0d083.png)

Why these 2 are ListItems?

Otherwise looks good. I would not change base type for the DockEditorCheckBox as there might be differences in renderers between these 2 classes

[2021-07-09 18:19] dreddy-work commented on #4720
Sure.

[2021-07-09 19:21] terrajobst commented on #4720
Easiest is to file an issue, put in the 6.0.0 milestone, mark it as blocking and api-ready-for-review. We'll look at it first thing Tuesday morning then.

[2021-07-09 23:31] #5223 closed

[2021-07-10 04:59] willibrandon commented on #4856
I see the same behavior in Win32.

![TextBoxDisabledBorderIssue1](https://user-images.githubusercontent.com/5017479/125152325-c4076280-e100-11eb-942c-6156f6cc0bea.gif)

[2021-07-10 05:44] docfresh opened #5225 "TabControl difficult to support Dark mode"
It seems WinForms on .NET 5 has no built-in support for dark mode theming. I can implement a custom darkmode theme switcher that sets BackColor and ForeColor on most controls easily, but TabControl doesn't support it.  There is no built in way to override the paint event without building a custom control that inherits TabControl and overrides OnPaint/Draw.  TabControl also seems unresponsive to th

[2021-07-10 21:21] KlausLoeffelmann commented on #5069
After reconsidering the scope of the `ApplyDefaultValues` Application Framework event, this would be the Visual Basic experience:

![image](https://user-images.githubusercontent.com/9663150/125176645-fd37e500-e189-11eb-9dc4-d640effc7a17.png)

[2021-07-11 00:39] KathleenDollard commented on #5069
I like this simplified approach, but I am concerned about the transition for folks.

Can we support the MyApplication_HighDpiMode event handler, but perhaps mark it as deprecated or otherwise let folks know to move away from it?

If MinimumSplashScreenDisplayTime is set in both the MyApplication_ApplyApplicationDefaults and the OnInitialize override, which wins?

[2021-07-11 13:00] IrakliLomidze opened #5226 "WinForm Core 5/6 Designer on Visual Studio 2019.10 100% scale mode in 4K display."
* .NET Core Version: 5, 6-Prev5
* Have you experienced this same bug with .NET Framework?:

**Problem description:**

.NET Framework Windows Forms is working correctly.
I tried VS 2019.10 is VM with 96DPI screen mode and Winform designers on autoscale mode works more or less acceptable.

Please Fix that Bug in VS 100% scale core designers.

[2021-07-11 14:36] RussKie commented on #5226
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2021-07-11 14:36] #5226 closed

[2021-07-12 00:57] davidbuckleyni commented on #5225
Please search first this has been talked about already https://github.com/dotnet/winforms/issues/5166

[2021-07-12 04:17] vladimir-krestov commented on #4102
It's just a mistake while testing the approach. Sorry

[2021-07-12 14:27] KlausLoeffelmann commented on #5069
I thought about that, too. But we'd bee introducing a new API as deprecated, which strikes me as a bit peculiar.

Then the EventArgs would get prepopulated with the override, but can then be changed - so the event ultimately wins.

[2021-07-12 14:52] paul1956 commented on #5069
@KlausLoeffelmann Mistakes happen do the right thing. The same thing happened in System.JSON  with Options and they did the right thing in .Net 6.0. It was immediately obvious I made the change that works in .Net 5.0 and 6.0, I guess they backported the changed API.

[2021-07-12 15:03] KlausLoeffelmann commented on #5069
I wouldn't even consider it to be a mistake: At the time, we've been introducing `ApplyHighDpiMode` we hadn't thought about Default values. I had that idea only when we were start thinking of how to address the Font issue in the designer.

So, am I getting you correctly: You say let's phase `ApplyHighDpiMode` out, and go with `ApplyDefaultSettings`?

[2021-07-12 15:18] paul1956 commented on #5069
@KlausLoeffelmann Yes exact. If possible add the API as something I can use in an update to .Net 5 so I can have common source during the transition, Otherwise please provide an example in the error message on what I need to do to have common source with #IF. This is what happened with JsonSerializerOptions DefaultIgnoreCondition and is a great model.

[2021-07-13 13:07] SergeySmirnov-Akvelon commented on #3059
Hi @merriemcgaw. I have investigated this issue and I have several points.

**CheckedListBox**
When drawing the focusing rectangle, we use a special logic that uses alternation of two colors: black (which is taken by default and contrasts with white and blue) and orange (which is obtained by inverting the blue background color). I agree with the CTI team that perhaps the resulting orange color is

[2021-07-13 17:22] terrajobst commented on #4720
* It seems beneficial to indicate the Windows Forms behavior instead of describing the Win32 default. This way, should Windows change the behavior we don't have an incorrect description. Hence, the property should flip the default value and describe what Windows Forms does
* Should be in the same property grid category as `MdiChildren`

[code]

[2021-07-13 17:27] dreddy-work commented on #4720
[SRDescription(nameof(SR.FormMdiChildrenMinimizedAnchorBottomDescr))]

All of them are in CatWindowStyle.

[2021-07-13 18:02] merriemcgaw commented on #3059
I agree for the **ListView** that we would need to get Windows to fix it. I'm interested in how it renders on Win11, we should check that out.

For the **CheckedListBox** I'm not 100% certain that we need to change the "marching ants" (dotted line) color at all given that the selection should be of a reasonable ratio for low vision users to be able to differentiate it from non-selected items. My s

[2021-07-14 02:05] Zheng-Li01 opened #5234 "The list items displaying with incorrect order under the list tree node in Inspect when expanding the ImageAlign/TextAlign/Dock properties comboBox in PropertyGrid"
* .NET Core Version:
.NET 6.0.100-preview.7.21363.2
* Have you experienced this same bug with .NET Framework?:
 No, the feature is no supported in the .NET Framework & .NET Core 3.1, see details in the GH issue [3027](https://github.com/dotnet/winforms/issues/3027)

**Problem description:**
The list items displaying with incorrect order under the list tree node in Inspect when expanding the ImageA

[2021-07-14 02:10] Zheng-Li01 commented on #3027
Verified the issue with 5.0 & latest 6.0, the feature has been supported that the list items displaying under the list tree node in Inspect when expanding the Cursor/Color properties comboBox in PropertyGrid, see below screenshot. can we close it?
![image](https://user-images.githubusercontent.com/38325459/125549513-70072217-5fee-4b0c-83dc-3b345817bc37.png)

[2021-07-14 02:39] Zheng-Li01 opened #5235 "Narrator can't announce the full information when go through the RadioButton control by using Up/Down/Left/Right arrow"
* .NET Core Version:
.NET 6.0.100-preview.7.21363.2

* Have you experienced this same bug with .NET Framework?:
 No

**Problem description:**
Narrator can't announce the full information when go through the RadioButton control by using Up/Down/Left/Right arrow, which is regression issue, can't reproduce on .NET Core 3.1.

**Expected behavior:**
Narrator can announce the full information when go th

[2021-07-14 07:27] lGSMl opened #5258 "ClickOnce user.config update does not work on .Net Core runtime"
### Description

We have recently moved our clickonce app on .net core 3.1, as .net 5 SDK now supports publishing clickonce apps.

After moving to core we faced an issue that user.config is not preserved anymore between application updates.

According to [this clickonce documentation](https://docs.microsoft.com/en-us/visualstudio/deployment/clickonce-and-application-settings?view=vs-2019#version-u

[2021-07-14 09:15] SergeySmirnov-Akvelon commented on #3059
Hi @merriemcgaw. I have investigated colors and found that orange color has low contrast for normal colors:
`Green` - 1.172
`Yellow` - 2.052
`Blue` (highlighted) - 1,874
`Red` - 1,825

I think we could replace it with alternating `Black` and `White`, as we did for the buttons in the `PropertyGrid`.
Firstly, both colors have a high contrast for `Blue` (`Black`- 4.667 and `White` - 4.498).
Secondly,

[2021-07-14 14:31] vlada-shubina commented on #5171
Just a hint since this repo is also using `--langVersion`: in project common templates we discovered issues to due to new features are only working in certain frameworks / language versions, so we are considering to conditionally enable features based on language version set by user (if set).
Draft PR on this is here: https://github.com/dotnet/templating/pull/3454.

[2021-07-14 16:58] DamianEdwards commented on #5171
The compiler with support for this is now in SDK version 6.0.100-preview.7.21364.4

[2021-07-14 19:01] #5140 closed

[2021-07-14 20:37] merriemcgaw commented on #3059
I like that idea! Sounds like a plan to me.

[2021-07-15 00:53] RussKie commented on #5171
@vlada-shubina could you guide me through the changes we need to make in [our templates](https://github.com/dotnet/winforms/tree/main/pkg/Microsoft.Dotnet.WinForms.ProjectTemplates)? Do we need to copy the changes from https://github.com/dotnet/templating/pull/3454?

[2021-07-15 02:38] #4983 closed

[2021-07-15 05:44] oudi commented on #4991
outdated samples? Is there any other sample to support VisualStudio design time at .net core 3*/5/6？

[2021-07-15 09:12] vlada-shubina commented on #5171
Since the templates allow the user to pick up the language version (and also framework in your case) you need to consider it when making the change, as if the user picks up lower language version or lower framework the template based on latest C# features may fail on build.

Generally for each feature you introduce to your templates you need to do the following conditions:
[code]
In case of consol

[2021-07-15 09:19] vlada-shubina commented on #5171
Additional thought: if your template code file content is too difficult to manage with inline conditions, you may consider doing different files and pick up the correct file to use using `sources` based on condition.
You already use this approach in some templates to pick up correct csproj file: https://github.com/dotnet/winforms/blob/e0c821b17863458611e4e056c16eb1ad65f9ce9a/pkg/Microsoft.Dotnet.W

[2021-07-15 11:42] RussKie commented on #5171
@vlada-shubina thank you!

[2021-07-15 23:00] JeremyKuhne commented on #4813
Saw this again. When it gets to the second BITBLIT it fails.

[code]

Possibly a race condition? Here is the full dump:

[code]

[2021-07-16 01:27] JeremyKuhne commented on #4347
[code]

[2021-07-16 01:48] vdanche opened #5249 "[Loc]With net6 preview 7 installed on locale OS, some template names are unlocalized after runing "dotnet new --list" in CLI ."
1. Install net 6 preview 7 SDK[6.0.100-preview.7.21364.30(runtime:6.0.0-preview.7.21360.10)] from https://github.com/dotnet/installer
2. Install it on locale OS
3. Run “dotnet new --list” in CLI
4. Check if  output contents are localized well.
Actual Result:
Some template names are not localized.

e.g
SC:
![image](https://user-images.githubusercontent.com/65637796/125879083-4b560aaf-0760-4726-807e

[2021-07-16 12:49] ulex opened #5255 "Some letters are cropped in a textbox when Cascadia Code font is used"
* .NET Core Version: 5.0.301
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

I'm observing cropping for some letters in WinForms textbox when Cascadia Code font is used. It looks like baseline is calculated incorrectly, but I cannot be sure. Compare the appearance of letters `g`,`q` and `j` with WPF renderer.
![screenshot](https://user-images.githubusercon

[2021-07-16 22:26] terrajobst commented on #5069
Since I'm not proficient in VB (and neither are most people on @dotnet/fxdc) I have written the API in C#. Please let me know if I messed it up:

[code]

[2021-07-16 22:30] terrajobst commented on #5069
Looks reasonable. I'd just suggest to use a `TimeSpan` for `MinimumSplashScreenDisplayTime` as this removes the ambiguity if the unit is milliseconds, seconds, or fortnight per inch squared.

[2021-07-16 22:35] bartonjs commented on #5069
FDG says:

So I think the event just needs to be declared as `EventHandler<ApplyDefaultsEventArgs>`.

[2021-07-16 22:45] terrajobst commented on #5069
Ah yes. Good call.

[2021-07-17 01:01] zxbe opened #5259 ".net6 pre 6 exception "unable to find an entry point named ‘AdjustWindowRectExForDpi’ in DLL user32.dll""
* .NET Core Version:

6.0 Preview6

* Have you experienced this same bug with .NET Framework?:

No

**Problem description:**

When I Update the sdk from .net6 p 5 to p6 and run the winformapp in win7sp1 OS,I got the exception “unable to find an entry point named ‘AdjustWindowRectExForDpi’ in DLL user32.dll”.

![exception](https://i.stack.imgur.com/F1Kvo.png)

![winform](https://i.stack.imgur.com/h

[2021-07-17 04:15] docfresh commented on #5225
I searched but thanks for the link. Built-in support for darkmode API and ability to set ForeColor/BackColor seem like 2 different things.   Most WinForms controls you can easily override display behavior with color; TabControl seems immune and especially difficult, even with custom paint events.  I've tried multiple packages and code samples trying to get something to look legit.  So this is not

[2021-07-17 08:26] kirsan31 commented on #5259
https://github.com/dotnet/winforms/pull/5260

[2021-07-18 14:27] kirsan31 commented on #4883
@RussKie

While I totally agree with your [#4654 (comment)](https://github.com/dotnet/winforms/issues/4654#issuecomment-814632604). But from other side `DoubleBuffered` has always been and is a very specific and inconvenient (I hope don't need to list why). And the `TreeView` situation is one example of this. So, I think implementing `TVS_EX_DOUBLEBUFFER` through protected `DoubleBuffered` is some

[2021-07-19 03:00] RussKie commented on #5259
Duplicate of #5260

[2021-07-19 03:00] #5259 closed

[2021-07-19 03:59] RussKie commented on #5255
@Olina-Zhang @John-Qiao could please check how it renders in MFC?

[2021-07-19 07:55] RussKie commented on #4883
At least this way it will be consistent with other controls.

The only possible explanation I can offer is that our `TreeView` control was implemented back when `TVS_EX_*` properties weren't available, all of them came in Vista.
Which brings us to the point, I'm sure, you're well aware by now - we can add new API that will close the gap, and we're accepting proposals for those :)

[2021-07-19 08:01] John-Qiao commented on #5154
Verified with .NET 6.0.100-rc.1.21368.3 from main branch, this issue has been fixed in this .NET 6.0 SDK that items can be selected in Inherit combobox successfully.
![TestResult](https://user-images.githubusercontent.com/45864985/126124347-0dde3e44-26fd-4166-9b1c-4bbe786da0ab.gif)

[2021-07-19 08:03] Philip-Wang01 commented on #5180
Verified the issue with latest .Net 6.0.100-rc.1.21368.3(x64) that this issue is fixed: the event "AfterLabelEdit" provides "LabelEditEventArgs" where the property "Label" is "null.
![konotabi](https://user-images.githubusercontent.com/86937911/126124645-148c134d-3869-42db-9971-65ec3bcc00d7.gif)

[2021-07-19 08:13] Philip-Wang01 commented on #5143
Verified the issue with latest .Net 6.0.100-rc.1.21368.3(x64) that this issue is fixed: PropertyGrid doesn't work well at HeroesPowerPlant when Enabled property is set False and PropertySort set to PropertySort.NoSort.
![deyege](https://user-images.githubusercontent.com/86937911/126126168-132b1a16-d542-468f-8ca7-79f1f22d9118.gif)

[2021-07-19 08:28] Marie-Shi commented on #4983
Verified this issue with .NET dotnet-sdk-6.0.0-rc.1.21368.1 from latest main branch, it is fixed, now ScrollBar control supports UIA accessibility.
![UIA](https://user-images.githubusercontent.com/45864017/126128421-bb4ed198-b2d6-462e-a5bb-a7b1ae4af016.png)

[2021-07-19 08:36] John-Qiao commented on #4914
Verified with .NET 6.0.100-rc.1.21368.3 from main branch, this issue has been fixed that TrackBar control supports the UIA accessibility now.
![TestResult-4919](https://user-images.githubusercontent.com/45864985/126129166-c9f0aae6-bd07-4f1f-933d-5527ae334d97.png)

[2021-07-19 09:19] Junjun-zhao commented on #5143
Thanks.  Verified this with SDK dotnet-sdk-6.0.100-preview.7.21368.1, this issue also has been fixed.

[2021-07-19 09:26] Jenna-Zheng commented on #5196
Verified this issue with .NET dotnet-sdk-6.0.0-rc.1.21368.1 from latest main branch, it is fixed.
![image](https://user-images.githubusercontent.com/64949616/126137251-f3f2db17-5b14-495c-b783-cf63de6b0ee7.png)

[2021-07-19 11:18] kirsan31 commented on #4883
@RussKie

Exactly...

It's subject to discuss...
So we can move 2 way here:
1. Implement only TVS_EX_DOUBLEBUFFER through protected `DoubleBuffered`.
2. Implement all Extended Styles. And then may be use it in `DoubleBuffered`.
   - Need to discuss which of Extended Styles to implement. I really don't understand some of them. For example: **TVS_EX_DRAWIMAGEASYNC** - *Retrieves calendar grid inform

[2021-07-19 11:28] John-Qiao commented on #5255
Hi @RussKie, I tried two fonts "Cascadia Code" and "Segoe UI" in MFC C++ project, but got the same text rendered in runtime. Please check below screenshots:

Default text without font setting:
![Default1](https://user-images.githubusercontent.com/45864985/126153330-4551edd9-4687-4369-a384-d5c37ce53b38.png)

"Cascadia Code" font:
![CC1](https://user-images.githubusercontent.com/45864985/126153343-8

[2021-07-19 12:57] RussKie commented on #5255
@weltkante any hint on what we're missing?

[2021-07-19 17:01] dreddy-work opened #5278 "Unable to find an entry point named 'AdjustWindowRectEx ForDpi' in DLL user32.dll"
Recent change for HDPI in .NET 6.0 uses latest API `AdjustWindowRectEx ForDpi()` from windows that was introduced in Windows 10 version >1607.  We were not check for the API availability and thus running the winforms on Windows 7 is throwing `Unable to find an entry point`.

Fix is to make sure we call this API only on available OS and in other case, default to legacy API.

Customer report: https:

[2021-07-19 18:18] dreddy-work commented on #5258
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1357963

[2021-07-19 19:51] merriemcgaw commented on #3454
I'd like to get this addressed - my bet is that we'll see it the next official test pass.

[2021-07-19 20:05] merriemcgaw commented on #5235
@Zheng-Li01 are you saying the expectation is that Narrator should announce the radio button you're leaving and the one you're going into with the arrow keys? What happens if you are using tab keys to move between without changing values, does that work OK?

[2021-07-19 20:07] merriemcgaw commented on #3027
Yep

[2021-07-19 20:07] #3027 closed

[2021-07-19 20:09] merriemcgaw commented on #5234
This would be considered a MAS violation. We should get it fixed. @Zheng-Li01 do we have this problem with the Framework version of the PropertyGrid as well, out of curiosity?

[2021-07-19 20:12] merriemcgaw commented on #4079
I'd like the TextPattern to behave as it does in the TextBox if possible.

[2021-07-19 20:26] #4720 closed

[2021-07-19 20:34] dreddy-work commented on #5249
@KlausLoeffelmann , any idea where and how these localized?

[2021-07-19 23:12] #5278 closed

[2021-07-19 23:39] davidbuckleyni commented on #5166
Its not a bug if its not their its an enhancement

[2021-07-20 01:52] Zheng-Li01 commented on #5234
As mentioned above that the issue can't reproduce with the .NET Framework version of the propertyGrid due to there are no list items displaying under the list tree node in Inspect .
![image](https://user-images.githubusercontent.com/38325459/126250207-0c3a4e9c-bfbf-4885-a23e-320be7b838f9.png)

[2021-07-20 02:17] Zheng-Li01 commented on #5235
Yes, due to the value was changed on this behavior.

Can't use the tab keys to move between without changing values, however can do it by using Up/Down arrows with **On-Screen Keyboard**, please see below GIF.
![Update_5235](https://user-images.githubusercontent.com/38325459/126252022-911fa35f-bf4a-4630-8cba-1c28fb72aeef.gif)

[2021-07-20 06:12] John-Qiao commented on #5087
Verified this issue with the .NET SDK 5.0.9, this issue is fixed, no code generated about Subtitle/TaskLink/Footer properties when they are not set. And in runtime, the dimensions of collapsible listViewGroup is changed.
![TestResult-5087](https://user-images.githubusercontent.com/45864985/126270560-b6ddca50-7ac7-4c10-bb2c-a50b258a5b20.png)

[2021-07-20 07:16] Jenna-Zheng commented on #4861
Verified this issue with the .NET SDK 5.0.9, the issue has been fixed that no exception pops up.

[2021-07-20 08:45] weltkante commented on #5255
couple of points to note:
* the WPF sample uses a different font size (20@96dpi instead of 20@72dpi, you need to write "20pt" in WPF if you want to get "points" which are 72 DPI instead of "device independent pixels" at 96 DPI)
* the WPF sample uses a frame around the textbox, the WinForms sample doesn't
  * adding the frame style in WinForms gets correct textbox height calculations, only with `Bo

[2021-07-20 13:31] SergeySmirnov-Akvelon opened #5290 "Items disappear from the ListView when the user scrolls up/down"
**.NET Core Version:**
- 5.0

**Have you experienced this same bug with .NET Framework?:**
- No

**Repro steps:**
1. Create a ListView in virtual mode with 1 million items (or use `NET5` project from [VirtualListView.zip](https://github.com/dotnet/winforms/files/6848616/VirtualListView.zip))
2. Start scrolling up/down

**Actual behavior:**
Items disappear:

**Expected behavior:**
Items should be d

[2021-07-20 14:17] kelicto opened #5291 "ErrorProvider's RightToLeft display bug."
When on the end of message contains any symbol, It must happend.

Reference:
![image](https://user-images.githubusercontent.com/23723575/126338837-7b4ebbf3-25e0-4f91-8222-b7e9a2a3c894.png)

[2021-07-20 14:26] ulex commented on #5255
Thanks for further investigation!

@weltkante regarding font size: I didn't notice the difference between font sizes and for that reason didn't try to adjust the size. I've fixed it in updated sample [cascadia_sample_v2_font_size_border.zip](https://github.com/dotnet/winforms/files/6849025/cascadia_sample_v2_font_size_border.zip)

I cannot confirm. I've set BorderStyle to `Fixed3d` in new a sample

[2021-07-20 16:20] weltkante commented on #5255
@ulex interesting that you fail even with frame, are you running on a high DPI monitor? (my test machine was using 100% DPI settings and I can't easily switch to a high DPI machine right now, so I'm wondering what the differences in our environments are)

either way I'll debug the no-frame scenario and see what I can find

[2021-07-20 16:36] KlausLoeffelmann commented on #5069
We had some problems in the past with generating the stubs for Visual Basic `Handles` clause based on generics in Visual Basic. We should thoroughly test this, and if that works, I'll make the change!

[2021-07-20 17:33] bartonjs commented on #5069
API Review:

* `ApplyApplicationDefaultsEventHandler` should be `EventHandler<ApplyApplicationDefaults>`, but since the rest of the events on this type are custom delegates doing this one that way is OK (and may be needed due to an IDE limitation)
* Ideally `MinimumSplashScreenDisplayTime` would be a `TimeSpan`, but since it's just echoing an existing unitless `int` property it's OK.

[code]

[2021-07-20 17:54] ulex commented on #5255
@weltkante wow, you are right! Indeed I use 200% DPI.
There are screenshots:
* 96DPI, `Fixed3D`
* 96DPI, `FixedSingle` - Ideal!
* 96DPI, `None`
* 192DPI, `Fixed3D`
* 192DPI, `FixedSingle`
* 192DPI, `None`
![grafik](https://user-images.githubusercontent.com/1911626/126371398-2c939328-c657-411a-bc8f-4b1b87155f1a.png)

Thanks in advance!

[2021-07-20 17:59] weltkante commented on #5255
I can repro the behavior in an MFC edit box (without frame) and also via plain `TextRenderer` API. Since MFC doesn't have autosized edit boxes you have to manually set the height to 33 pixel (which is what the font reports to both WinForms and WPF, everyone agrees about the layout height).

When you size the MFC edit box accordingly and put the text in, it does render like WinForms. If you use the

[2021-07-20 18:17] weltkante commented on #5255
Reported in the cascadia repo, lets see what they say about GDI support.

[2021-07-20 19:33] kant2002 opened #5294 "How reference just single assembly from WinForms profile"
I would like to reference just Accessibility.dll without hardcoding path to it in the project. How that's possible ?

[2021-07-20 21:51] weltkante commented on #5255
Update: I've been playing around with some native code, different Windows APIs report different heights for the font (33 vs. 35 pixels), it may be possible WinForms is incorrectly mixing different APIs here. If the underlying native control is rendered via GDI/TextRenderer it probably should use the font size of the [HFONT/FontCache](https://github.com/dotnet/winforms/blob/ccb12709d4931f06e625ad61

[2021-07-20 22:14] paul1956 commented on #4957
I just ported a 10 year old WinForm app to .Net Core 5 using TryConvert. It used SQL, Excel and Office Interop and it went flawlessly except for the issue with App.Config any update on when this might be fixed, what does **external issue** mean? Also found a subtle bug in the code flagged by newest ,Net analyzers.

[2021-07-21 00:41] merriemcgaw commented on #5167
We should prioritize this for RC1

[2021-07-21 01:07] RussKie commented on #4957
It means just that, the issue is external to our codebase.

@KlausLoeffelmann the stack trace in https://github.com/dotnet/winforms-designer/issues/3596 looks very similar.

[2021-07-21 01:08] #5294 closed

[2021-07-21 01:27] RussKie commented on #5255
@weltkante thank you very much! 🚀

@JeremyKuhne what do you think?

[2021-07-21 03:00] Marie-Shi commented on #5180
Verified this issue with the .NET SDK 5.0.9, this issue is fixed: the event "AfterLabelEdit" provides "LabelEditEventArgs" where the property "Label" is "null.
![issue_update](https://user-images.githubusercontent.com/45864017/126423801-cb623574-79ce-4599-92cc-fa600b6ba8a8.gif)

[2021-07-21 06:02] kirsan31 commented on #5290
I'm worried how it can be if target is `NET5` ?

[2021-07-21 06:09] kant2002 commented on #5163
Most work in ComWrappers would be like in #5174 where private instances would be used to provide access to COM instances.
This would work for handful of places, but not in WebBrowser. Reason for that, is that .NET allow cast `__ComObject` to different interfaces. In case of WebBrowser, this is utilized to have access to additional services out of ActiveX instance of WebBrowser. Example https://git

[2021-07-21 06:13] RussKie commented on #5290
I've removed the ref to #4911, since the issue is reported against .NET 5, and the default font feature is introduced in .NET 6.0 Preview 5.

[2021-07-21 06:36] RussKie commented on #5163
The WebBrowser control is all but officially deprecated, since it is based on the old IE engine. The current official guidelines are to migrate to the Edgium-based [WebView2 control](https://docs.microsoft.com/microsoft-edge/webview2/).

[2021-07-21 06:40] RussKie commented on #4555
@kant2002 since you're doing work with COM wrappers, you may be interested in this discussion.

[2021-07-21 06:47] RussKie commented on #5291
This is how RTL works.

[2021-07-21 06:47] #5291 closed

[2021-07-21 07:23] filipnavara commented on #4555
Haha. Thanks for looping @kant2002 in. I wanted to post a link to this issue to the Twitter thread but I got distracted and forgot about it 😅

[2021-07-21 07:38] RussKie commented on #4555
He seemed like the best candidate for nerd sniping :)

[2021-07-21 08:36] kant2002 commented on #4555
Do I properly understand that initial request is to have fact below working.
[code]

And maybe for same-process calls, `realDataObject == dataObject`. Correct?

[2021-07-21 12:43] weltkante commented on #4555
Yes, but from what I gathered at other threads you aren't going to be able to support it, since it means user-defined custom COM objects and IDispatch support are required. It basically means full support for COM interop instead of handrolled inlined internal implementations you're currently doing.

[2021-07-21 13:23] kant2002 commented on #4555
@weltkante  Where `IDispatch` comes from? I was looking at `IDataObject` and cannot find any reference to it, or to `VARIANT` from which it can jump on my face. Obviously I may miss some special case. Please point to me which API may trigger requirement for `IDispatch` implementation since I trying to avoid that for now.

What you mean user-defined custom COM objects? Regular CCW (COM callable wra

[2021-07-21 13:51] DmitryGorokhov opened #5307 "DockEditor works like a RadioButton, but have got the LocalizedControlType value is check box"
* .NET Core Version:
6.0.100-rc.1.21370.2

* Have you experienced this same bug with .NET Framework?:
Yes

* More info:
Created past the attempt to fix linked issue issue #4102. The described way in issue cause the narrator regression was reported by CTI - The narrator can't announce the status for Dock property: after compared between Dock and ImageAlign properties, due to they are all RadioButto

[2021-07-21 13:57] weltkante commented on #4555
Its the default when you make an object `ComVisible(true)` without explicitly opting out of it. I _think_ I remember debugging the OLE code of the clipboard and noting OLE will query for IDispatch, but I may misremember. I've looked through the discussion, since IDispatch wasn't mentioned in this thread it may not be relevant for this particular usage - we had several issues in WinForms where it w

[2021-07-21 14:01] vladimir-krestov commented on #5307
There are 2 possible ways to fix it:
1) Add `AccessibleRole` as `RadioButton` for `DockEditorCheckBox` and `Change CheckBoxAccessibleObject`:
    - Override `IsItemSelected` property and add `SelectionItemPattern` supporting:

    ![image](https://user-images.githubusercontent.com/49272759/126500852-f09e2c47-4d82-4e43-ab5f-d9fc23c36719.png)

2) Change the base type of  `DockEditorCheckBox` to `Rad

[2021-07-21 14:13] vladimir-krestov commented on #5307
There is no way to change properties in a common way, because most of necessary properties and method are internal, so we can't override them here. And CheckBox shouldn't know about `DockEditor`.

[2021-07-21 14:39] SergeySmirnov-Akvelon commented on #4504
During investigation, I found that messages about the selected item are generated by this [line](https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxAccessibleObject.cs#L242). When commenting it, the Narrator does not announce information that the selected item has changed. Adding logs and listening for events using `AccEvent` tool showed

[2021-07-21 17:07] kelicto commented on #5291
Thanks.

[2021-07-21 17:11] kirsan31 commented on #4807
Hmm this is by strange design:
https://github.com/dotnet/winforms/blob/e572c90a5e12a9f481c5ac3cbe25a21f47fba64c/src/System.Windows.Forms/src/System/Windows/Forms/DataGridView.DataConnection.cs#L1305-L1314
And  I am afraid that we need some one who really understand what's going on here...
Why we can't show `DataGridView` with all invisible columns at first time, but can hide them after control is

[2021-07-21 18:00] #5069 closed

[2021-07-21 18:05] JeremyKuhne commented on #5255
Maybe we could do targeted fixes. Something to do early in v7 to see if we think we need to also add compat switches.

[2021-07-21 20:26] weltkante commented on #5255
@ulex I think the best option to work around this is to turn off `AutoSize` for now if you use Cascadia Code, and instead calculate and set the height yourself. Maybe encapsulate in a TextBox subclass which does this for you if you have many places where this is needed. Calculating the GDI font height correctly requires lots of interop, a simpler workaround is to call `TextRenderer.MeasureText` wi

[2021-07-21 23:05] RussKie commented on #5171
Nullability was enabled in our templates by @jmarolf in https://github.com/dotnet/winforms/pull/4922

[2021-07-22 02:11] Philip-Wang01 opened #5314 "Narrator announces the wrong message when changing font properties in Font dialog"
* .NET Core Version:
.NET 6.0.100-rc.1.21371.12

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Narrator announces the wrong message when changing font properties in Font dialog. which is not regression issue, can reproduce on .Net Core 3.1 and .Net 5.0

**Expected behavior:**
Narrator should announce the correct information when changing font properties in

[2021-07-22 06:59] Lydia-Shi commented on #4861
Verified this issue with the .NET SDK 3.1.118, the issue has been fixed that no exception pops up.

[2021-07-22 10:37] RussKie commented on #4807
I suppose, it may be a strange scenario to have a grid without any columns, hence it wasn't considered, judging by the comment... ¯\\_(ツ)\_/¯
The team is currently dealing with other high priority items, but you're welcome to experiment here, and propose a possible solution.

[2021-07-22 10:42] RussKie commented on #4555
Just to throw the wrench into works, the strategic target we'd want to get to is to re-write the current implementation of the `Clipboard` using a custom CCW/RCW shared by @AaronRobinsonMSFT (see: https://github.com/dotnet/winforms/issues/4555#issuecomment-779219416).

[2021-07-22 10:45] kirsan31 commented on #4807
Totally agree.

We made a grid with the ability to select columns by the user. And this behavior immediately fell out on tests. I filled out a bug.
But now it's clear that this is not a bug lol. And I think it's not worth to dig here for the grid without columns ;)
Lets levee this issue for some one else who **really want** empty grid :))))

[2021-07-22 11:27] RussKie commented on #4807
Sounds like a plan :)

[2021-07-22 11:27] #4807 closed

[2021-07-22 13:11] weltkante commented on #4555
Thats fine and matches what AOT needs, but without AOT you can do an incremental implementation and fall back to asking the builtin marshaler for a CCW when getting passed a user-defined object - the problem is that (as far as I understand) AOT doesn't like that very much and prefers everything being custom CCWs/RCWs which is tough when you have to support user-defined COM objects and interfaces (

[2021-07-22 13:31] kant2002 commented on #4555
I think .NET 6 will solve custom IDataObject support if we retreive objects using `ComWrappers.GetOrCreateObjectForComInstance(ptr, CreateObjectFlags.Unwrap)` where `CreateObjectFlags.Unwrap` is new flags
https://github.com/dotnet/runtime/blob/57bfe474518ab5b7cfe6bf7424a79ce3af9d6657/src/libraries/System.Private.CoreLib/src/System/Runtime/InteropServices/ComWrappers.cs#L66

My understanding that i

[2021-07-22 13:44] weltkante commented on #4555
yes, unwrapping is possible, but the question is who creates the CCW of a custom DataObject? It needs to respond to interface queries to things other than IDataObject, including user-defined interfaces. I don't know the new API enough to know if the WinForms ComWrappers can unwrap an RCW obtained from a user-defined ComWrapper CCW. The alternative would be the WinForms ComWrapper to be solely resp

[2021-07-22 14:26] viktoriad commented on #2641
Hello. Do you have any plans to support third-party languages in .NET Core WinForms Designer for VS2022?

[2021-07-22 15:02] Jeyyu opened #5320 "Creating a platform independent GUI like Java Swing for CoreCLR"
**I think it would suit C# good. This feature is the best way to ensure a singlecodebase everywhere CoreCLR runs on. Its also way better to maintain this way. A lot of project where written in Java because of a feature like this.**

There are a lot of alternatives but most of them are wrappers that needs to be updated often/are platform dependent/ none of them are truly independent. I think an sim

[2021-07-22 18:08] ulex commented on #5255
The proposed workaround works like a charm!
Thanks a lot @weltkante, both for your help and for detailed explanation!

[2021-07-22 18:20] #5033 closed

[2021-07-22 18:22] #4102 closed

[2021-07-23 02:35] Zheng-Li01 commented on #4872
Verified the issue with .NET 6.0 6.0.100-preview.7.21369.19, the issue has been fixe that the ToolStrip is scaled well. see below screenshot.
![image](https://user-images.githubusercontent.com/38325459/126731341-170d521b-6191-4e73-b7e1-f39a7c77f952.png)

[2021-07-23 02:35] #5320 closed

[2021-07-23 06:05] Olina-Zhang commented on #5154
Verified with the .Net 6.0 Preview 7 release build: 6.0.100-Preview.7.21369.19, it is fixed as above result.

[2021-07-23 06:47] John-Qiao commented on #4914
Verified with .NET 6.0.100-preview.7.21369.19 build, this issue has been fixed that TrackBar control supports the UIA accessibility too.

[2021-07-23 06:49] Olina-Zhang commented on #5196
Verified with the .Net 6.0 Preview 7 release build: 6.0.100-Preview.7.21369.19, it is fixed as above result.

[2021-07-23 07:31] Lydia-Shi commented on #4983
Verified with .NET 6.0.100-preview.7.21369.19 build, this issue has been fixed that ScrollBar control supports UIA accessibility.

[2021-07-23 08:15] Ashley-Li commented on #4198
Verified with .NET 6.0.100-preview.7.21369.19 build, the issue has been fixed that the edit listview items are support the Text pattern when ListView's LabelEdit is true for now.

[2021-07-23 08:17] Philip-Wang01 commented on #5180
Verified with the .Net 6.0 Preview 7 release build: 6.0.100-Preview.7.21369.19, it is fixed as above result.

[2021-07-23 12:03] SergeySmirnov-Akvelon commented on #3058
![image](https://user-images.githubusercontent.com/23376742/126775868-fb191976-8b7e-40ee-989b-421cc681b926.png)

![3058-Prototype](https://user-images.githubusercontent.com/23376742/126778993-bbfddfa2-7222-42d0-8cfc-c0d3cbe3b560.gif)

[2021-07-23 17:08] #3059 closed

[2021-07-23 23:35] merriemcgaw commented on #5255
Agreed! Thank you so much @weltkante!

[2021-07-24 13:07] kant2002 commented on #4555
I think if we talk about implementations like that
https://github.com/AvaloniaUI/Avalonia/blob/ef39b9487897fe5a7ae9c4502f0e8ce05c8f4612/src/Windows/Avalonia.Win32/DataObject.cs
I see two options, not mutually exclusive.
1. Then WinForms should either provider a way to specify ComWrapper to use for wrapping/unwrapping clipboard objects to implementor of the library. Maybe something like `Clipboard.

[2021-07-26 08:04] Ashley-Li commented on #4805
@KlausLoeffelmann  Verified with .NET 6.0.100-preview.7.21369.19 build, after I run this App:  [testApp.zip](https://github.com/dotnet/winforms/files/6876515/testApp.zip)
(set IsSingleInstance to true. Do not assign a MainForm) , the result is not same with PR: #5075, there is an exception that appears, please see below gif:
![test_4805](https://user-images.githubusercontent.com/56664234/126954532

[2021-07-26 10:28] tbolon opened #5352 "Reconsider propagating only the inner exception on Control.Invoke"
**Is your feature request related to a problem? Please describe.**

See this [Stackoverflow comment which describes the current behavior](https://stackoverflow.com/a/28055196/8731)

Currently, the Control.Invoke method only propagates the innermost exception to the caller.
There are multiple justifications from microsoft in the comments (from 2015), and one of the is the "breaking change"-one.
I w

[2021-07-26 10:33] tbolon commented on #5352
Sorry, I initially closed this issue because I didn't test if this behavior was present in latest .net core.

I can now confirm that the behavior is still the same in .NET 6.

[2021-07-26 17:38] merriemcgaw commented on #5314
@Philip-Wang01 do you know if this was a regression from an earlier version of .NET?
@Tanya-Solyanik do we create the FontDialog ourselves or do we get it from Windows?

[2021-07-27 02:44] RussKie commented on #4663
I'm starting to look into this. I have a few questions.

@AArnott how do we test what I port meets the requirements?
Also the original implementation of `ToolboxService` depends on remoting services (which we don't have, e.g. [`ClientSponsor`](https://referencesource.microsoft.com/#mscorlib/system/runtime/remoting/clientsponsor.cs,19029595201c0d58)) and uses `BinaryFormatter` (which we _can_ use n

[2021-07-27 08:56] tbolon commented on #5352
I am still trying to understand how exception are propagated when using Control.Invoke/BeginInvoke.

Please ignore this issue for now, I will update it with a solution when I find one.

[2021-07-27 13:27] tbolon commented on #5352
Based on my investigation, there is no trivial way to throw the detailed exception AND preserve the current behavior of showing only the innermost exception in Application.ThreadException and the ThreadExceptionDialog.

I would like to keep my suggestion opened for discussion as I see no real interest in having Control.Invoke only keeping the innermost exception, or at least suggest some documenta

[2021-07-27 14:13] AArnott commented on #4663
I'll contact you offline to provide the answer.

[2021-07-27 23:24] dreddy-work commented on #5167
@carlossanlop/ @mairaw , Can you please help get me access to repo dotnet/dotnet-api-docs/ to open pull requests? I couldn't push the branch there.

[2021-07-27 23:29] RussKie commented on #5167
@dreddy-work have you forked the repo?

[2021-07-27 23:40] RussKie commented on #5352
Thank you for raising the issue. It is also late in .NET 6.0 dev cycle, we need to have especially strong reasons to make breaking changes now.
Please bear with us, this is a complex topic which requires time to sit down, investigate and think it through. The team is quite pre-occupied making sure .NET 6.0 and the designer are as good as they can be. We likely be revisiting this discussion closer/

[2021-07-28 03:19] John-Qiao commented on #4102
Verified the issue in .NET 6.0.100-rc.1.21377.28 SDK from Master branch, this issue has been fixed that all LocalizedControlType are set correctly for ImageAlign & TextAlign, Anchor and Dock properties.
![ImageAlign-TextAlign](https://user-images.githubusercontent.com/45864985/127258246-5d354ac2-bc03-48ed-8613-1f36f7a9ae33.png)
![Anchor](https://user-images.githubusercontent.com/45864985/127258254

[2021-07-28 06:14] kant2002 commented on #2714
I think there is a [good chance](https://github.com/dotnet/runtimelab/issues/1100) that currently NativeAOT can run you WinForms application. There [some](https://github.com/dotnet/winforms/pull/5319) work [happens](https://github.com/dotnet/winforms/pull/5174) to improve situation, and make Winforms works as is.

[2021-07-28 07:03] RussKie commented on #2714
I think we can close this question with an answer - no, .NET 5.0 is done, and won't support NativeAOT.
With all the awesome work that @kant2002 is currently doing .NET 6.0 is _likely_ to provide (at least limited) support for NativeAOT.

However this is not an official promise, the team is aware of the desire to have this capability available, but we have multiple competing priorities, and some th

[2021-07-28 07:03] #2714 closed

[2021-07-28 07:49] John-Qiao commented on #5033
Verified the issue in .NET 6.0.100-rc.1.21377.28 SDK from Master branch, this issue has been fixed that not freezing UI, and working as in .NET Framework.
![TestResult](https://user-images.githubusercontent.com/45864985/127284654-acedeb6d-93e4-4f91-bc00-9647cb176bce.gif)

[2021-07-28 08:17] tbolon commented on #5352
No problem, I did not intend that this change should be considered for .NET 6.0.

I just encountered this problem in my app, and found the problem interesting.
And since a lot have changed since 2015, I found useful to raise this question again.

For sure, take your time polishing the release of .NET 6.0, and take some leave if you can :)

[2021-07-28 09:22] Philip-Wang01 commented on #3059
Verified the function in the 6.0.100-rc.1.21377.28.
For the **CheckedListBox**, the color contrast of the focus dot line on selection items is above 3:1.
For the **ListView**, according to the above description, we still need to get Windows to fix it.
**CheckedListBox**:
![7281](https://user-images.githubusercontent.com/86937911/127295761-ba5dc824-3876-4830-8ae3-2f9dad7c6630.png)
**ListView**:
![7

[2021-07-28 09:42] Ashley-Li commented on #5278
Verified this issue with OS(Windows-7-Enterprise-SP1)+ .NET dotnet-sdk-6.0.100-rc.1.21377.28, it is fixed. Now there's no exception error( “unable to find an entry point named ‘AdjustWindowRectExForDpi’ in DLL user32.dll”) pops up when clicking and run the exe file, and the form designer can be run successfully. Please see below gif:
![test](https://user-images.githubusercontent.com/56664234/12730

[2021-07-28 09:43] Ashley-Li commented on #5259
Verified this issue with OS(Windows-7-Enterprise-SP1)+ .NET dotnet-sdk-6.0.100-rc.1.21377.28, it is fixed. Now there's no exception error( “unable to find an entry point named ‘AdjustWindowRectExForDpi’ in DLL user32.dll”) pops up when clicking and run the exe file, and the form designer can be run successfully. Please see below gif:
![test](https://user-images.githubusercontent.com/56664234/12730

[2021-07-28 16:32] Tanya-Solyanik commented on #5018
Please also investigate if this method could be used: [UiaClientsAreListening](https://docs.microsoft.com/en-us/windows/win32/api/uiautomationcoreapi/nf-uiautomationcoreapi-uiaclientsarelistening)

[2021-07-28 16:42] mairaw commented on #5167
With a forked repo, anyone could push a PR. Is that enough @dreddy-work? Otherwise, if you need push access, I'd talk to @BillWagner. I no longer have admin access here.

[2021-07-28 16:43] dreddy-work commented on #5167
Forked repo should be good enough.  Will reach out if i need more permissions.

[2021-07-28 20:49] dreddy-work commented on #5258
Some ClickOnce features are not available in .NET (Core). There is no way for user’s app to access various runtime ClickOnce properties, i.e. in ApplicationDeployment object, since it does not exist anymore.

Customers app is writing the config file to a location outside of ClickOnce isolated storage, in a path determined, and generated by the application. My(Nikolam) suggestion would be to explor

[2021-07-28 20:49] dreddy-work commented on #5258
We have a tracking Azdo bug and this is not a winforms issue but clickonce. So, closing it here.

[2021-07-28 20:49] #5258 closed

[2021-07-29 00:23] rickbrew opened #5368 "Help needed: Paint.NET plugins that use Menu / ContextMenu, how to get them working?"
For Paint.NET 4.3, I've ported it to .NET 5, added native ARM64 support, and having been publishing public alphas. (latest build at https://forums.getpaint.net/topic/118482-paintnet-43-alpha-build-7879/ if you're curious)

One important issue that's come up is that there are some older _and very popular_ plugins, compiled circa .NET 2.0/3.5, that use `Menu` and `ContextMenu` and do not work at all

[2021-07-29 00:44] AraHaan commented on #5368
Why cant you do some sort of way to forward usage of those types to ``MenuStrip`` or even ``ContextMenuStrip``.

Bonus: if there was an .NET Version of Detours to detour construction and usage of those types to the 2 mentioned above that the old ones was removed for.

[2021-07-29 00:52] rickbrew commented on #5368
Those are intriguing ideas, but the real question is: how? How do I actually accomplish that?

Also, the plugin names and versions are knowable in advance, they're easy enough to gather. So I don't have to pay the performance cost of scanning every plugin DLL for these type references.

[2021-07-29 00:55] AraHaan commented on #5368
I think TypeResolve could work, but then return on that event return the Paint.NET Assembly and have the fake versions of those old types that was removed from winforms in there that actually "wrap" the ones they was replaced with.

[2021-07-29 00:59] rickbrew commented on #5368
As mentioned earlier, `TypeResolve` will not work, as per https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.typeresolve?view=net-5.0 👍

`AssemblyLoadContext` does not have an analogous event for types, only for assemblies.

[2021-07-29 01:04] AraHaan commented on #5368
That is sad I would have expected a way to hook into that on AssemblyLoadContexts (like when it cannot find those removed types in ``System.Windows.Forms.dll`` so that way you can force it to instead use the types defined in ``Paint.NET.exe``.

[2021-07-29 03:56] ericstj commented on #5368
Why don’t we add TypeForwards to an assembly that can be provided by the community?  Call it “System.Windows.Forms.Legacy”.  That will satisfy the binder without having the types in the framework.

This is somewhat like how we handle compat shims for netfx today. Take System.Security.Permissions for example. We ship and mscorlib that forwards to it, but you need a package to get the types. Take th

[2021-07-29 04:18] vladimir-krestov commented on #4028
@Olina-Zhang, please test this issue for .NET 6.0. It looks like we have fixed it before.

[2021-07-29 04:20] merriemcgaw commented on #5368
I was thinking along the same lines @ericstj. I’m sure we can figure out how to get a package to them with the types. Let’s chat offline this week to brainstorm!

[2021-07-29 04:45] vladimir-krestov commented on #5018
@Tanya-Solyanik, I talked with Guy about UiaClientsAreListening. It doesn't work for us.

[2021-07-29 04:47] vladimir-krestov commented on #5018
@SergeySmirnov-Akvelon has resolved this issue by #5232. So closed this.

[2021-07-29 04:48] #5018 closed

[2021-07-29 04:53] rickbrew commented on #5368
Any chance we could get that in for the next servicing release of .NET 5? 🙏🏼

[2021-07-29 04:57] rickbrew commented on #4326
FYI, help may be on the way, #5368

[2021-07-29 04:59] #4909 closed

[2021-07-29 05:25] AraHaan commented on #5368
Another issue with @ericstj's comment is that what will happen to removed members of ``Control`` where ``Control.ContextMenu`` or even ``Form.Menu``, etc was removed and old code depends on that property existing.

Perhaps there *should* be a language feature where one can use extensions to add ``Properties`` to another type (extension properties). Then @ericstj's idea might actually work complete

[2021-07-29 06:02] rickbrew commented on #5368
Yeah I'm curious how @ericstj and @merriemcgaw 's ideas could work even with the type forwarding attributes and a legacy package -- the big thing I'm seeing in one of the most popular plugins is the use of the `Control.ContextMenu` property. Some other plugins do make use of `ContextMenu` with a private field and those would be fine.

I'm going to spend some time exploring the use of dnlib, https:

[2021-07-29 09:11] cwing2019 commented on #5259
any control put on groupbox or layout, will cause this problem;

System.EntryPointNotFoundException:“Unable to find an entry point named 'AdjustWindowRectExForDpi' in DLL 'user32.dll'.”

[2021-07-29 12:18] bairog commented on #4623
@merriemcgaw @KlausLoeffelmann @RussKie
I've been trying for a long time to convince Microsoft to make .NET 6.0 final development available also for Visual Studio 2019 version 16.11. Hope MS will hear me and understand my agrumentation ([Github topic](https://github.com/dotnet/core/issues/5567#issuecomment-883100859), [Developer Community topic](https://developercommunity.visualstudio.com/t/Make-N

[2021-07-29 13:51] Junjun-zhao opened #5371 "[6.0.100-preview.7.21375.4] Abstract.DataStructures.Algorithms app unable to Kruskal items correctly"
**Application Name**: Abstract.DataStructures.Algorithms
**OS**: Windows 10 RS5
**CPU**: X64
**.NET Build Number**: dotnet-sdk-6.0.100-preview.7.21375.4

**App and Source code checking at** : https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1360769

**Verification Scenarios:**
Windows10 RS5 x64 + dotnet 3.1.117-servicing-015334: Pass
Windows10 RS5 x64 + dotnet-sdk-5.0.302-servicing.21316.24:

[2021-07-29 16:08] ericstj commented on #5368
My comment was only based on missing types, it won't work well for missing members as we don't have a way to forward those.  As folks have mentioned it requires assembly rewriting.  Even extension methods would require a recompile/rewrite of the customer code.

One thing that could be done is all the legacy types can be provided in `System.Windows.Forms.Legacy` as a default implementation of them

[2021-07-29 17:53] AraHaan commented on #5368
Technically would not need to have it use a newer version if you have it as a project in your own codebase then basically have it output into the OutDir of the application that needs those types for it to win over the runtime’s copy that throws those exceptions?

Alternatively why not have the runtime version throw the exceptions if they do not explicitly opt into the old implementations of those

[2021-07-29 18:15] weltkante commented on #5371
isn't this WPF instead of WinForms on the stack traces?

[2021-07-29 18:37] TonyValenti opened #5374 "ClickOnce seems broken for .NET 6.0"
### Description
When trying to publish using ClickOnce and .NET6.0, publish fails and provides no useful information as to why.

### Configuration
[code]

### Regression?
Yes.  This used to work on .Net 5.0.

### Other information
This information is given in the log:
[code]

And the last few lines of the output log show:
[code]

I would wager that the ```GetTargetPath``` errors have something to

[2021-07-29 20:19] ericstj commented on #5368
I'm just stating "newer version" here since that's built into our developer experience.  For any assembly you can provide a newer version and it will be preferred over what's in the framework.  Even for framework-dependent apps you can have a app-local copy of a newer versions.  This is how we keep libraries like `System.Text.Json` evolving while still exposing new API to `netstandard2.0`.  It's n

[2021-07-30 00:10] dreddy-work commented on #4044
@SergeySmirnov-Akvelon , if this is quick we could take it in 6.0. Please mark PR with `doc-breakingchange`

[2021-07-30 00:28] dreddy-work commented on #3572
@vladimir-krestov  , Can you take a look at this and see if there is a way to activate tooltips here?

[2021-07-30 00:48] dreddy-work commented on #1570
@AlexYurkin, apologize for the delayed response here but given that doc is updated to account for this difference, Is there a use case that make this suggestion to be prioritized?