[2020-04-30 19:02] kirsan31 commented on #3175
Is it happening on all your projects? Because on our projects all are ok. For example, you can try [this test project](https://github.com/dotnet/winforms/files/4557769/WinFormsCoreTest_dpi.zip).

[2020-04-30 20:18] merriemcgaw commented on #3175
Hi @cirrusone we've been working hard to make some very fundamental changes in how the designer works and there are regular updates each month which unblock new scenarios. Why we have to make such fundamental changes in how the designer works is that Visual Studio devenv.exe is running as a .NET Framework process, but we want the user to be able to visualize changes, properties, and controls that

[2020-04-30 20:50] merriemcgaw commented on #3159
Perfect! I had forgotten all about that one.

[2020-05-01 02:58] #3163 closed

[2020-05-01 03:45] #687 closed

[2020-05-01 12:10] cirrusone commented on #3175
@kirsan - your example project works fine this end.

I think the issue is I'm using a 3rd party datagrid. However, we tested an initial MVP using the same datagrid and the 'workaround'  file nesting method and it worked with no issues. Latest versions of VS it no longer works which is a little frustrating.

[2020-05-01 18:01] hughbe opened #3178 "[Discussion] Should we remove IsIE and related code from Control.ActiveXImpl"
In the roadmap, it says

However, we have some code that checks if we're sited:

[code]

Is this code dead? Should it be removed?

[2020-05-01 20:35] KhArtNJava opened #3179 "Can't publish app for linux-arm64 or ubuntu-arm64"
Steps to produce:

- Create a project from Windows Forms App (.Net core) template in visualstudio 2019 with .Net Core 5.0 or with .Net Core 3.1 .
- Click on build -> publish
- Change deployment mode to: Self-contained
- Change target framework to: linux-arm64 or ubuntu-arm64

Actual result: the screen display this error:
![image](https://user-images.githubusercontent.com/757085/80839464-f61b5b80-8

[2020-05-02 08:12] kirsan31 commented on #3179
No. WinForms and WPF are windows only.

[2020-05-02 10:20] filipnavara opened #3182 "UI Automation can cause unbounded memory consumption"
* .NET Core Version:  3.1.200

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

The WinForms control expose UI Automation interfaces through WM_GETOBJECT. They, however, don't call the `UiaDisconnectProvider` API when the controls are destroyed ([SDK sample](https://github.com/microsoft/Windows-classic-samples/tree/master/Samples/UIAutomationCleanShutdown))

[2020-05-02 10:24] KhArtNJava commented on #3179
So, I have to use .Net Framework WinForms app with Mono?

[2020-05-03 09:09] hughbe commented on #3018
i think https://github.com/dotnet/arcade/pull/3496 may contribute to this

[2020-05-04 06:39] #3018 closed

[2020-05-04 07:39] RussKie commented on #3179
Correct. Refer to https://github.com/dotnet/winforms/blob/master/README.md
![image](https://user-images.githubusercontent.com/4403806/80944986-1dee0780-8e2e-11ea-8836-c832df368fb3.png)

[2020-05-04 07:39] #3179 closed

[2020-05-04 07:41] RussKie commented on #3182
Thank you for the report.
You seemed to know quite a bit about this area. Do you think you could send a PR with a fix?

/cc: @M-Lipin

[2020-05-04 08:06] filipnavara commented on #3182
I am looking into it and maybe I will come up with a PR. The documentation on the topic is quite scarce unfortunately.

[2020-05-04 09:40] kirsan31 opened #3202 "DPI scaling is broken if font of the form set in designer"
* .NET Core Version: **3.1.3**

* Have you experienced this same bug with .NET Framework?: **Yes**

**Problem description:**

DPI scaling (`AutoScaleMode.Font`) is broken if font of the form set in designer. Or you can read it as: DPI scaling is broken if font of the form set **after** DPI scaling logic code, even in `SuspendLayout` and before very first `PerformLayout`.
![Snipaste_2020-05-04_11-4

[2020-05-04 10:16] RussKie commented on #3032
@tarekgh I'm having massive problems with this code locally - it fails with NREs using C:\Program Files\dotnet\shared\Microsoft.NETCore.App\5.0.0-preview.5.20253.6\System.Text.Encoding.CodePages.dll

![image](https://user-images.githubusercontent.com/4403806/80956132-ebe7a000-8e43-11ea-9cca-8f70119faaec.png)

[2020-05-04 10:30] RussKie commented on #3032
Here's the stack:
[code]

It fails to detect my encoding and returns here:
https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/libraries/System.Text.Encoding.CodePages/src/System/Text/CodePagesEncodingProvider.cs#L58-L60

From what I understand the code is unable to handle codepage 65001, which is UTF-8 Unicode with Cyrillic.

I have a mixed bag of locale/language s

[2020-05-04 12:09] kirsan31 commented on #3168
At first look, problems can be solved with this:
![image](https://user-images.githubusercontent.com/17767561/80963118-035c6400-8e17-11ea-8db2-2672732b94e2.png)
:scream:
![Snipaste_2020-05-04_14-49-42](https://user-images.githubusercontent.com/17767561/80963262-40c0f180-8e17-11ea-9ad3-ab6e86e2a159.png)

But only with: `this.splitContainer2.Dock = System.Windows.Forms.DockStyle.Fill;` With other doc

[2020-05-04 15:38] filipnavara commented on #3182
Unfortunately the easy fix solves only half of the problem. Calling `UiaDisconnectProvider` helps with all the controls that return `true` from `SupportsUiaProviders`. However, that excludes `UserControl` and anything delivered from it. Since the property is non-public there's no easy way to override it from user code (aside from overriding the whole `WndProc` logic for `WM_GETOBJECT`). The issue

[2020-05-04 15:46] WinformsWizard opened #3205 "Support Partial Classes"
I Made a new method in my partial class
![1](https://user-images.githubusercontent.com/53128787/80984784-5379fd00-8dfc-11ea-95f7-e5bd05e05b2a.PNG)
Here is the partial class that has the design code
![2](https://user-images.githubusercontent.com/53128787/80984867-6ee50800-8dfc-11ea-9d99-b6273131a819.PNG)
Added method to event handler (Did not show up on autocomplete)
![3](https://user-images.github

[2020-05-04 15:50] #3205 closed

[2020-05-04 16:09] tarekgh commented on #3032
@RussKie You need just to do the following instead:

[code]

[2020-05-04 18:04] M-Lipin opened #3206 "Label control does not support UIA accessiblility"
* .NET Core Version:
.NET Core 5.0

 Version:   5.0.100-alpha.1.20073.10
 Commit:    29f4d693a9

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536\

Host (useful for support):
  Version: 5.0.0-alpha.1.20072.3
  Commit:  c3dc1fdfdc

* Have you experienced this same bug with

[2020-05-04 19:35] kirsan31 commented on #3032
`CodePagesEncodingProvider.Instance` :

So, code above check this list, and if code page returned from `GetCPInfoExW(CP_ACP, 0, &cpInfo)` (system's active code page) is not from it - uses utf8. Theoretically this code will fail if system's code page is from list of supported in current .NET Framework platform (and != utf8):

- ASCII (code page 20127), which is returned by the Encoding.ASCII proper

[2020-05-04 19:57] tarekgh commented on #3032
@kirsan31 the encoding is really kind f frozen area which I doubt we'll add more encoding either in Windows or .NET. So, things can change is very unlikely. Also, the direction for Windows is to try to promote UTF-8 moving forward. I wouldn't worry about that for now. Also, we can easily fix this in the CodePagesEncodingProvider be transparent to the WinForms code too.

[2020-05-05 00:08] RussKie opened #3209 "Flaky test: `DataGridViewRow_PaintCells_Invoke_Success` deadlock"
**Problem description:**

Observing almost permanent test deadlocks locally and on build agents, especially after correcting test decorations in https://github.com/dotnet/winforms/pull/3064.
Inspecting a memory dump of a locally hung test process I got the following:

![image](https://user-images.githubusercontent.com/4403806/81024826-f9d70880-8eb7-11ea-9d2e-cf0fe33bd3ec.png)

[code]

There doesn'

[2020-05-05 04:22] RussKie commented on #3121
Reopening since we still have few tests that appear to be machine specific:

[code]

[2020-05-05 04:38] RussKie commented on #3032
@kirsan31 I'm running your example on W10 and both net472 and netcoreapp3.1 apps show the same "broken" behaviour:
![image](https://user-images.githubusercontent.com/4403806/81035360-fce4ef80-8edd-11ea-9608-96dc1cf726ae.png)

Is the issue W7Sp1 specific? Have you observed it on other versions?

[2020-05-05 06:20] weltkante commented on #3032
This is likely your locale, as you described before you are having a UTF8 based locale. If you have a "real" codepage the behavior differed between Desktop/Core.

I don't know why the RTF control breaks down with UTF8 locale, there is probably another bug somewhere, but since its consistent with Desktop Framework the bug might be in the RTF control itself.

[2020-05-05 06:51] weltkante commented on #3121
On first glance both failures seem to be related to culture, which was not subject of the fixes here (have a separate issue for that).

First day of week is a machine wide culture setting, expected value should come from CultureInfo or the test should run with the default en-US culture without user customizations.

The `iFont.Charset` depends on the machines locale, since you said somewhere else y

[2020-05-05 07:37] weltkante commented on #3209
Ouch, that is a bad hang. Looks like its waiting for a control on a thread without message loop.

Now I'm wondering whether test data is generated on a separate thread. If so that would be a major problem for creating any thread-bound object in test data because it can make any test flaky /cc @hughbe

I'll start passing the ThreadID through the test data arguments and assert that the tests run on

[2020-05-05 08:05] weltkante commented on #3209
Yup thats the problem, test data is generating threadbound objects on a different thread. We probably need a `WinFormsMemberData` as welll (or have `WinFormsTheory` change how `MemberData` is executed, don't know which is easier to achieve)

@AArnott @RussKie is this something we'd also want propagated back into Xunit.StaFact, or should we start creating local test infrastructure instead consideri

[2020-05-05 08:28] hughbe commented on #3209
Yes unfortunately these tests were designed pretty badly. I'm working on a full overhaul by removing `DataGridViewRow` parameters within testdata, but I'm a bit busy on other stuff

[2020-05-05 10:05] kirsan31 commented on #3032
@RussKie Yes, @weltkante is right. We have deeper problem here, RichTextBox can't properly convert (both .net and core) non ascii characters with utf8:
![Snipaste_2020-05-05_12-55-09](https://user-images.githubusercontent.com/17767561/81054942-66f69800-8ed0-11ea-995a-4f2e19955f39.png)

Current bug with `Encoding.Default` perfectly emulate this Win10 feature:
![Snipaste_2020-05-05_10-33-55](https:/

[2020-05-05 10:14] weltkante commented on #3032
[Here](https://github.com/dotnet/winforms/issues/3101#issuecomment-617455940) @JeremyKuhne said that you can get UTF8 to work by specifying the code page explicitly with the `SF_USECODEPAGE` flag.

Maybe you can detect that `CodePagesEncodingProvider.Instance.GetEncoding(0)` returns null and then use `SF_USECODEPAGE` to work around the RTF control bug.

[2020-05-05 10:47] kirsan31 opened #3212 "SplitterWidth set in designer not preserve for nested splitContainers"
* .NET Core Version: **all up to 6.0**

* Have you experienced this same bug with .NET Framework?: **Yes**

**Problem description:**

SplitterWidth set in designer not preserve for splitContainer inside other splitContainer:
![Snipaste_2020-05-05_13-38-28](https://user-images.githubusercontent.com/17767561/81058101-6d880e00-8ed6-11ea-8226-aecd71d060fb.png)
Workaround - set `splitContainer2.Splitte

[2020-05-05 12:56] AArnott commented on #3209
So if I understand correctly, an `[StaTheory]` test has a data-generating attribute whose method is running but not on the same STA thread that the test runs on? I'd never considered that requirement but it makes sense to fix this. I don't know whether xunit even gives the discovery attribute power to execute the data generating attribute. If so, I can fix this.

Even if you fork my project and/or

[2020-05-05 13:34] AArnott commented on #3209
OK, so I did some digging. There appears to be *no way* we can ensure the data objects are created on the STA thread. In fact when running in the Test Explorer, they weren't created at all -- they were *deserialized*. The data generating attribute ran out of proc and its results had been serialized, only to be reconstituted later in the test executing process.

I wasn't testing with thread-affinit

[2020-05-05 13:36] weltkante commented on #3209
sure, just asking if there is interest in flowing this back, I'll open an issue with a repro scenario over at the StaFact repo, debugging the winforms tests is still a pain until some of the other issues here get fixed :-)

[2020-05-05 13:44] AArnott commented on #3209
Ok, good news. I created a custom type and return it in my `MemberData` member. My goal was that my custom type would _not_ be serializable, but I didn't have to do anything special to achieve that.
xunit/TE _does_ run it out of proc, but it evidently detects this isn't a primitive/serializable(?) type and then it _reruns_ the data generator in proc just before running the test.

The best news is

[2020-05-05 13:59] M-Lipin opened #3214 "Button control does not support UIA accessibility"
* .NET Core Version:

.NET Core 5.0
Version: 5.0.100-alpha.1.20073.10
Commit: 29f4d693a9
Runtime Environment:
OS Name: Windows
OS Version: 10.0.18363
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536\
Host (useful for support):
Version: 5.0.0-alpha.1.20072.3
Commit: c3dc1fdfdc

* Have you experienced this same bug with .NET Framework?:

Yes

**Problem

[2020-05-05 14:37] hughbe commented on #3090
I'm going to close this as we have a bunch of other open issues that cover the same thing

[2020-05-05 14:37] #3090 closed

[2020-05-05 14:41] hughbe commented on #1030
The build is not found. I suggest closing this :))

[2020-05-05 15:06] hughbe commented on #2192
I would suggest putting this in a `RemoteExecutor.Invoke` call as well, just to be safe

[2020-05-05 15:22] weltkante commented on #1030
Does it require to reenable a test for closing this issue? Probably should document which test needs to be reenabled?

[2020-05-05 17:35] kpreisser opened #3222 "TaskDialog.ShowDialog() doesn't install WindowsFormsSynchronizationContext"
* .NET Core Version:
5.0.100-preview.5.20255.2

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

Currently, `TaskDialog.ShowDialog()` doesn't install the `WindowsFormsSynchronizationContext`, so when showing the task dialog from a thread that didn't call a `Control` constructor and which currently isn't running a message loop e.g. with `Form.ShowDialog()` or

[2020-05-05 17:52] weltkante commented on #3222
Please proceed very carefully here, the design of the WinForms message loop is very complex because it integrates with Office and its still up for discussion whether this support is still needed or going to be removed. Installing a WinFormsSynchronizationContext is _not_ enough to have a proper message loop.

It shouldn't need to, it should be forwarding to the win32 implementation which has its o

[2020-05-05 18:59] kpreisser commented on #3222
Hi @weltkante ,

thank you for the insights.

OK, agreed.

Can you elaborate on that? When I insert a call to `new Control();` at the beginning of the `Main` method shown in my example (which also [installs the synchronization context](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/Control.cs#L442)), then the console shows the expected behavior (co

[2020-05-05 19:29] weltkante commented on #3222
Yes that was what I was referring to, even if you try writing something with cancellation tokens you'll have a hard time properly terminating async operations because once you leave the ShowDialog your async calls are hanging, so its too late for cancellation. You have to cancel _and wait for completion_ before leaving a message loop.

SC has OperationStarted/OperationCompleted callbacks to count

[2020-05-05 19:46] AArnott commented on #3209
Can someone download the build artifact from this PR build and validate that it resolves your issue?
https://github.com/AArnott/Xunit.StaFact/pull/42

[2020-05-05 20:03] kpreisser commented on #3044
I noticed this issue (filter in the `OpenFileDialog` is not applied) on Windows Server 2019 that was installed using the **Server Core** option, and where the [Server Core App Compatibility Feature on Demand](https://docs.microsoft.com/en-us/windows-server/get-started-19/install-fod-19) is installed. However, I also cannot reproduce it e.g. on a regular Windows 10 machine.

E.g., when using the fo

[2020-05-05 20:30] weltkante commented on #3209
I'll give it a try, thanks

[2020-05-05 20:46] weltkante commented on #3209
Thread IDs are consistent now, so as far as I can tell it works.

[2020-05-05 21:09] M-Lipin opened #3223 "ListView control does not support UIA accessibility"
* .NET Core Version:

.NET Core 5.0
Version: 5.0.100-alpha.1.20073.10
Commit: 29f4d693a9
Runtime Environment:
OS Name: Windows
OS Version: 10.0.18363
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536
Host (useful for support):
Version: 5.0.0-alpha.1.20072.3
Commit: c3dc1fdfdc

* Have you experienced this same bug with .NET Framework?:

Yes

**Problem d

[2020-05-05 22:52] RussKie commented on #3044
@kpreisser  thank you for looking into it!

[2020-05-05 23:08] #2192 closed

[2020-05-06 00:24] weltkante commented on #3222
I've thought about it and think I like option (2) from my previous post most currently. The `TaskDialog` constructor -not ShowDialog- should do the same work the `Control` constructor does, and this involves installing a WFSC (but not uninstalling it once its done, since Controls don't do that either).

This strategy of treating it like a Control as far as WinForms initialization is concerned shou

[2020-05-06 04:12] AArnott commented on #3209
Thanks for the validation. This is now pushed to nuget.

https://github.com/AArnott/Xunit.StaFact/releases/tag/v1.0.31-beta

[2020-05-06 04:14] RussKie commented on #3222
May be do nothing and let user to facilitate a correct SC?
In Git Extensions we do this for the same reason:
https://github.com/gitextensions/gitextensions/blob/master/GitExtensions/Program.cs#L79-L84

How general do you think this use case where a user spawns a TD outside/absent of a form and then starts performing async operations?

[2020-05-06 04:54] danmosemsft commented on #3166
Would it help to leave Spy++ running? Is been a long time since I used it.
https://docs.microsoft.com/en-us/visualstudio/debugger/spy-increment-help?view=vs-2019

@jeremykuhne

[2020-05-06 06:06] #3046 closed

[2020-05-06 06:10] RussKie commented on #1030
Yes, once disabled test(s) is re-enabled an associated issue(s) get closed.
I think when we started, flaky tests would get commented out. Later we started using "Skip(reason, link)" notation.

Looks like @hughbe has found the offending test.

[2020-05-06 06:13] RussKie commented on #2192
I think we have a problem with the RE now - https://github.com/dotnet/arcade/issues/5325
But, yes, I think we may be in a position to start re-enabling tests and see what gives.

[2020-05-06 07:18] weltkante commented on #3209
great, thanks again for looking into it!

(for the record, this is blocked on #3122 because fixes in stafact currently cannot flow to winforms, I used the workaround mentioned in the issue to test locally)

[2020-05-06 08:14] RussKie commented on #3209
#3122 is high on my list, I just have a massive backlog do deal with

[2020-05-06 18:43] M-Lipin opened #3227 "CheckBox control does not support UIA accessibility"
* .NET Core Version:

.NET Core 5.0
Version: 5.0.100-alpha.1.20073.10
Commit: 29f4d693a9
Runtime Environment:
OS Name: Windows
OS Version: 10.0.18363
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536
Host (useful for support):
Version: 5.0.0-alpha.1.20072.3
Commit: c3dc1fdfdc

* Have you experienced this same bug with .NET Framework?:

Yes

**Problem d

[2020-05-06 20:32] M-Lipin opened #3229 "GroupBoxAccessibleObject class definition should be in a separate file"
* .NET Core Version:

.NET Core 5.0
Version: 5.0.100-alpha.1.20073.10
Commit: 29f4d693a9
Runtime Environment:
OS Name: Windows
OS Version: 10.0.18363
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536
Host (useful for support):
Version: 5.0.0-alpha.1.20072.3
Commit: c3dc1fdfdc

**Problem description:**

GroupBoxAccessibleObject class definition is locat

[2020-05-06 20:56] M-Lipin opened #3232 "PictureBox control does not support UIA accessibility"
* .NET Core Version:

.NET Core 5.0
Version: 5.0.100-alpha.1.20073.10
Commit: 29f4d693a9
Runtime Environment:
OS Name: Windows
OS Version: 10.0.18363
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536
Host (useful for support):
Version: 5.0.0-alpha.1.20072.3
Commit: c3dc1fdfdc

* Have you experienced this same bug with .NET Framework?:

Yes

**Problem d

[2020-05-06 22:01] hughbe commented on #3229
Not sure if there's a policy I missed but I don't think changes like this need an issue :))

[2020-05-06 23:17] weltkante commented on #1878
@hughbe @RussKie I don't think this is fixed, I still find plenty of wrong [ComVisible(true)] attributes. Needs to be reopened or creating a follow-up issue for proper cleanup. I also noticed new [ComVisible(true)] attributes were being added in accessibility PRs, flagged them, but I think this needs a bit care in reviews, at least for the current time being.

[2020-05-06 23:47] JeremyKuhne commented on #3166
I'd add the check directly to the code under an assert to try and track it down.  Note that you shouldn't have to walk for the matching process, `Process` has `Process.GetProcessById()`.

[2020-05-06 23:54] RussKie commented on #3150
I presume it is addressed by #3064.

[2020-05-06 23:54] #3150 closed

[2020-05-07 00:44] RussKie commented on #3229
Technically it is good to have an issue that discusses an underlying problem and all that comes with it. But for mundane refactors like this we can just send a PR.

[2020-05-07 01:15] #534 closed

[2020-05-07 01:54] RussKie commented on #3032
@JeremyKuhne has an incoming PR

[2020-05-07 04:08] RussKie commented on #3073
The magic is performed by `ResolveMatchingContract` in FacadeAssemblies.prop
https://github.com/dotnet/winforms/blob/bb5b5cecf9538eeac6c99a0c4a0d4e41b9295737/eng/FacadeAssemblies.props#L15-L49
Type forwards for public types are generated automatically, internal types must be forwarded manually.

For non-facade projects we must define forwards explicitly (e.g. System.Windows.Forms -> System.Windows

[2020-05-07 04:08] #3073 closed

[2020-05-07 04:22] RussKie commented on #3093
Wow, looks like a bug:

[2020-05-07 04:23] RussKie commented on #3093
Wow, looks like a bug:
![image](https://user-images.githubusercontent.com/4403806/81254319-246ac200-906e-11ea-8575-b676a534b6c5.png)
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.listbox.integercollection?view=netcore-3.1#remarks

[2020-05-07 04:28] RussKie commented on #3062
I've created this issue after #2797 to alert @M-Lipin @vladimir-krestov @Ryuugamine (who work on accessibility implementations), to ensure our implementations don't cause a repeat, and we actively test to verify that.

[2020-05-07 04:33] RussKie commented on #3003
Closing as I don't believe there is anything outstanding from our side. @AraHaan holler back, if it is not the case.

@weltkante thank you for your help!

[2020-05-07 04:33] #3003 closed

[2020-05-07 16:57] kpreisser commented on #3222
Hi @weltkante and @RussKie,

thank you for your replies.

I have thought a bit more about this, and I think I agree with @RussKie that it's probably better not to install the WFSC in the `TaskDialog`, but rather only document this; so that `TaskDialog` doesn't behave differently than `MessageBox` in this regard.
Otherwise, I could imagine that users might want to show a `MessageBox` in different (

[2020-05-07 17:21] weltkante commented on #3222
I don't have any objections.

You can try doing that. Is TaskDialog handle based or a COM API? If its COM just checking the thread won't be enough. Depending on how the COM classes are configured TaskDialog may reject running on a MTA thread and spin up a STA threadpool thread just for running the TaskDialog. Normally this happens transparently, but if you are going to check threads it may mess wi

[2020-05-07 17:39] kpreisser commented on #3222
AFAIK, TaskDialog is not a COM API. It's a regular function [`TaskDialogIndirect`](https://docs.microsoft.com/en-us/windows/win32/api/commctrl/nf-commctrl-taskdialogindirect) in `comctl32.dll`.
(The documentation says that TaskDialog requires the single-threaded apartment (STA) model, but I didn't experience any problems yet when showing the task dialog from threads using the MTA model. When I cal

[2020-05-08 00:05] merriemcgaw commented on #3222
We need to document that this isn't supported (update docs). We should also throw in this scenario.

[2020-05-08 00:19] merriemcgaw commented on #3202
We want to tackle this when we address DPI scaling holistically. Will bring it up in a designer meeting to see what we might be able to do there. Since this is not a regression and there are workaround we probably won't get DPI across the board working, I'm moving to the future bucket. But I want to continue the design discussion about how we might address this.

[2020-05-08 00:22] merriemcgaw commented on #3182
Out of curiosity, how is this represented in the [aka.ms/accessibilityinsights](https://aka.ms/accessibilityinsights) tool? That is fast becoming our standard tool for evaluation of accessibility.

[2020-05-08 00:27] merriemcgaw commented on #3178
We should be getting rid of anything IE specific in Core. So delete away 😁.

[2020-05-08 00:29] merriemcgaw commented on #3175
We are still in progress for enabling 3rd party controls. We are working with control vendors to define the best way to develop Core controls that work in the designer. Even then, you control vendor will most likely need to update their code for complex 3rd party designers to work.

[2020-05-08 00:42] merriemcgaw commented on #3093
We could throw an exception in this situation, but it really could be a breaking change for customers. I'd be concerned about the impact of the breaking change.

[2020-05-08 01:30] RussKie commented on #3222
@gewarren the `TaskDialog` API have come in P4. I don't believe the docs from P4 have been published yet. What's the best way for us to add/update the docs for the `TaskDialog` API?

[2020-05-08 02:16] RussKie commented on #1107
When annotating Windows Forms types verify that the Runtime types are NRT enabled (refer to https://github.com/dotnet/runtime/issues/2339).

[2020-05-08 04:00] #3069 closed

[2020-05-08 04:57] #3092 closed

[2020-05-08 08:05] kirsan31 commented on #3202
@merriemcgaw thank you. Сan you share estimated plan when / in which version will be DPI scaling overhaul?

[2020-05-08 08:18] reflectronic opened #8822 "Implement CachedBitmap functionality in System.Drawing"
### Background

Drawing a `Bitmap` in GDI+ has relatively poor performance, since the image is stored in a device-independent format. The [`CachedBitmap`](https://docs.microsoft.com/en-us/windows/win32/api/gdiplusheaders/nl-gdiplusheaders-cachedbitmap) class stores an image in a format that is optimized for display on a particular device. Thus, rendering an image stored in a `CachedBitmap` is fast

[2020-05-08 08:41] hughbe commented on #3093
I’m wore incline to remove the duplicates and resort the array

[2020-05-08 08:51] weltkante commented on #3093
Having indexer-setter work uat `Insert` throw is indeed inconsistent, but I agree that for compatibility its better to have indexer behave like `Remove`+`Add` than starting to throw now.

[2020-05-08 09:19] hughbe commented on #3093
We could change Insert to just add the object to the array?

[2020-05-08 09:32] weltkante commented on #3093
Yes thats what some other sorted collections do. I don't have a strong opinion over doing one or the other, just wanted to raise awareness.

indexer-setter is kind of like a "ReplaceAt" operation, so you can also argue for just supporting indexer-setter and still throwing in Insert. Its mostly a thing of proper documentation I think.

The important thing is that no method should break the collecti

[2020-05-08 09:38] Vino-Wang opened #3238 "The selected cell's below dot line is missing when setting the ListView’s GridLines to true"
* .NET Core Version: 5.0.100-preview.5.20256.4

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
The below selected dot line of the selected cell is missing.
![GridLines_True_Core](https://user-images.githubusercontent.com/18568603/81393275-a9c7a280-9152-11ea-83ef-f0939ce22ed0.png)

**Expected behavior:**
The dot line should not be missing.
![GridLines_False

[2020-05-08 09:43] hughbe opened #3239 "Need a way to mock RegistryKey"
* .NET Core Version:
master

* Have you experienced this same bug with .NET Framework?:
N/A

**Problem description:**
We want to test various registry interactions such as with `InputLanguage` (https://github.com/dotnet/winforms/pull/3237)

@weltkante  mentioned he's putting something together but this could take some time (https://github.com/dotnet/winforms/pull/3237#discussion_r422039848)

Openi

[2020-05-08 10:17] weltkante commented on #3239
Extending the issue description a bit:

Testing failure cases of global APIs like registry or system settings is hard because they are often machine specific. Setting up dedicated test machines for different scenarios is not scalable.

In commercial solutions the profiler API is used for mocking static methods, non-virtual methods or sealed classes. This is done by running the code under a profile

[2020-05-08 12:31] weltkante commented on #3239
@hughbe I see you have been poking at CLRIE ;-) I pushed my proof of concept to a fork [here](https://github.com/weltkante/CLRInstrumentationEngine/tree/mocking) if people are interested in how its done on a technical level. Like I said its still a bit early since only a low level API is implemented, but it works. It has a sandbox project as well, its Desktop Framework though, didn't get around to

[2020-05-08 13:18] kirsan31 commented on #3175
@merriemcgaw I think, that main point of @cirrusone was:

Also, I have a question after new core designer will be released, what will be the principle of selecting designer version (.net/core) for such projects `<TargetFrameworks>net472;netcoreapp3.1</TargetFrameworks>`? Currently preview of VS always uses .net designer.

[2020-05-08 13:23] weltkante commented on #3175
Are you sure, did you try reordering them and putting .NET Core first? When I'm debugging (F5) it seems to pick the first TF from the list, so maybe the designer does the same.

[2020-05-08 13:32] kirsan31 commented on #3175
Ah sorry - got it: you need to close+open solution to changes in order of `net472/netcoreapp3.1`  take affect...

[2020-05-08 17:32] sandeep200321 commented on #2814
Hi,
above code doesn’t work in windows 8.1 and when you click on print,window freezes hangs. Tested this in .net 5.0 preview as well but no luck. It just works fine in windows 10. Can you please address this.

[2020-05-08 18:31] M-Lipin opened #3243 "RadioButton control accessibility does not support UIA providers"
* .NET Core Version:

.NET Core 5.0
Version: 5.0.100-alpha.1.20073.10
Commit: 29f4d693a9
Runtime Environment:
OS Name: Windows
OS Version: 10.0.18363
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536
Host (useful for support):
Version: 5.0.0-alpha.1.20072.3
Commit: c3dc1fdfdc

* Have you experienced this same bug with .NET Framework?:

Yes

**Problem d

[2020-05-08 19:11] M-Lipin opened #3245 "Splitter control accessibility does not support UIA providers"
* .NET Core Version:

.NET Core 5.0
Version: 5.0.100-alpha.1.20073.10
Commit: 29f4d693a9
Runtime Environment:
OS Name: Windows
OS Version: 10.0.18363
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536
Host (useful for support):
Version: 5.0.0-alpha.1.20072.3
Commit: c3dc1fdfdc

* Have you experienced this same bug with .NET Framework?:

Yes

**Problem d

[2020-05-08 19:23] filipnavara commented on #3182
I gave Accessibility Insights a try. Unlike other tools it actually does some proper tracking and live refreshes until you pause it. To reproduce the problematic scenario I opened the form, selected element on the form in the Accessibility Insights and paused it. Then I closed the form.

For things like `Label` you can see that it still allows to get an information of a control that is disposed:

[2020-05-08 21:57] gewarren commented on #3222
@russkie Bill @BillWagner has a [PR](https://github.com/dotnet/dotnet-api-docs/pull/4205) to update the docs for Preview 3 that I'll approve and merge this afternoon. We can create a similar PR for Preview 4. When does that release?

[2020-05-08 22:03] BillWagner commented on #3222
I have the binaries to start the process for Preview 4. We'll publish those in coordination with the Preview 4 release.

[2020-05-08 22:28] JeremyKuhne commented on #3032
We should break out a separate issue for the part of this that isn't a regression so that we can track servicing separately as the two issues have different servicing input criteria. There is a workaround for the UTF-8 input, you can manually escape anything that isn't in the ASCII range (i.e. over 127).

Adding UTF-8 support to the `RTF` setter is, as I mentioned, a no brainer. I'll just always d

[2020-05-08 23:24] RussKie commented on #2814
Please raise a new issue and provide more details about your setup.

[2020-05-09 00:14] merriemcgaw commented on #3202
We're working on our longer term roadmap in the coming weeks. I'm starting to see more and more requests for a DPI overhaul from multiple channels, so I'm certain it will be one of the next big things once we get the designer work completed.

[2020-05-09 01:45] paul1956 commented on #3222
@RussKie does the statement from @BillWagner change your answer about what I need to run the demo? If not I am missing something getting the demo working.

[2020-05-09 04:18] sandeep200321 commented on #2814
Thanks. New issue is raised here with details.
https://github.com/dotnet/wpf/issues/2971

[2020-05-09 08:28] kirsan31 commented on #3032
@JeremyKuhne I will open a new issue, a bit late when will have time...

[2020-05-09 13:58] kirsan31 opened #3247 "RichTextBox Rtf property wrong converting non ascii chars on Win10 with utf8 locale"
* .NET Core Version: **3.1.3**

* Have you experienced this same bug with .NET Framework?: **Yes**

**Problem description and Expected behavior:**
![Snipaste_2020-05-09_16-50-25](https://user-images.githubusercontent.com/17767561/81475488-3a66b700-9215-11ea-9ecc-13d06057c85a.png)
Note, due to other [bug](https://github.com/dotnet/winforms/issues/3032)  in .net core (3.1.3), RichTextBox Rtf  setter

[2020-05-09 14:02] filipnavara opened #3248 "Unnecessary instances of ToolStripDropDownMenu"
* .NET Core Version: 3.1.200, 5.0

* Have you experienced this same bug with .NET Framework?: Haven't tried.

**Problem description:**

Unnecessary tooltip drop-downs are instantiated from the keyboard hook:

[code]

`ToolStripDropDownItem.OnKeyboardToolTipHook` is creating instances of `ToolStripDropDownMenu` even if there is no submenu used. It should probably first check for the existence of th

[2020-05-09 18:18] 199621616 commented on #3028
它已经常导致用户被迫中止应用。对最终用户伤害很大。

[2020-05-10 08:34] filipnavara commented on #3248
Attempted fix (against release/3.1): https://github.com/filipnavara/winforms/tree/ToolStripDropDownItem_hook_3.1

[2020-05-10 15:19] kirsan31 opened #3250 "Clarification about System.Drawing.Font and Dispose"
- [Docs](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.font.dispose?view=dotnet-plat-ext-3.1) says nothing unusual here:

- Designer assigning fonts this way: `someControl.Font = new System.Drawing.Font(...);` and never Dispose them.

- In .net [Font.Dispose(bool disposing)](https://referencesource.microsoft.com/System.Drawing/R/316bf22f513c0e53.html) has an  `[SuppressMessage("Micros

[2020-05-10 15:19] kirsan31 opened #8823 "Clarification about System.Drawing.Font and Dispose"

[2020-05-10 15:55] weltkante commented on #3250
Fonts are dangerous to dispose because they can be shared, if you want desterminstic disposal you need a thourough concept of ownership to be sure its safe to dispose. The designer certainly doesn't have that. As far as I'm aware most of WinForms lets the GC clean up fonts, simply because its not safe to call Dispose when you don't know who else is still using it.

A better design would have been

[2020-05-10 16:35] kirsan31 commented on #3250
@weltkante Thank you. My thoughts on this lie roughly on the same plane.
So we definitely need some clarification on this in docs...

[2020-05-10 19:59] M-Lipin opened #3251 "DataGridViewCell ComboBox causes application crash in some circumstances"
* .NET Core Version:

.NET Core 5.0
Version: 5.0.100-alpha.1.20073.10
Commit: 29f4d693a9
Runtime Environment:
OS Name: Windows
OS Version: 10.0.18363
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536
Host (useful for support):
Version: 5.0.0-alpha.1.20072.3
Commit: c3dc1fdfdc

* Have you experienced this same bug with .NET Framework?:

Yes

**Problem d

[2020-05-10 21:16] hughbe opened #3252 "AppActivate_ProcessId fails locally"
[code]

I suspect this might be causing tests to hang, because I ran some tests locally and I got a visual basic popup saying "Message" that didn't go away once the tests finished

[2020-05-11 02:45] RussKie commented on #3251
@merriemcgaw if it is being serviced in .NET Framework, will we be servicing .NET Core 3.1 as well?

[2020-05-11 10:45] RussKie commented on #2656
@hughbe could please remind what `public int GroupLink { get; }` is for?

[2020-05-11 10:48] hughbe commented on #2656
@RussKie I modelled the API after `ColumnClick`, so it is an index to the group in `ListView.Groups`.

Perhaps a name like `GroupIndex` would be better

[2020-05-11 11:37] RussKie opened #3254 "Flaky test: `ProfessionalColorTable_ChangeUserPreferences_GetColor_ReturnsExpected` deadlock"
**Problem description:**

After #3226 was merged, `ProfessionalColorTable_ChangeUserPreferences_GetColor_ReturnsExpected` tests started deadlocking in x86 mode that caused CI builds to fail again.
I managed to reproduce the deadlock locally, though it took few attempts to do so.

Looks like the test deadlocks on itself, there are no other user-code executed:
![image](https://user-images.githubuser

[2020-05-11 11:37] RussKie commented on #3254
/cc: @hughbe

[2020-05-11 11:45] weltkante commented on #3254
When it looks like its "deadlocking on itself" it instead is usually sending a window message to a control without message loop.

SendMessageOnUserPreferenceChange sends a message to the desktop, which probably tries to notify all forms, so if there is _any_ that has not been properly disposed and still hanging around without a message loop you'll probably see this hang.

You could try running the

[2020-05-11 11:58] weltkante commented on #3254
The SystemEvents class will "take over" the STA thread from which it is invoked and expects it to live until the process terminates.

That means SystemEvents are incompatible with multiple UI threads, you'll have to test SystemEvents in a RemoteExecutor.

[2020-05-11 12:09] RussKie commented on #3254
Thank you.

That's _probably_ not too difficult - throw an exception in `~Control` :) Though I think we could drown in those.

The trouble with the RE - https://github.com/dotnet/arcade/issues/5325
So while it is runnable locally, it doesn't appear to be runnable on the build agents...

[2020-05-11 12:11] RussKie commented on #3254
Wow, thank you!

[2020-05-11 12:28] weltkante commented on #3254
Yeah and it doesn't help here either way, the HWND which deadlocks doesn't inherit from Control, SystemEvents has its own implementation.

[2020-05-11 12:37] RussKie commented on #2656
Thank you, I have updated @terrajobst's code snippet.

[2020-05-11 12:39] RussKie commented on #3254
If it deadlocks on a undisposed control, wouldn't we just need to catch those via the finalizer calls?
Or is there something else that you have in mind?

[2020-05-11 12:42] weltkante commented on #3254
Its a native control (HWND) which it creates for message dispatching purposes. The control is created the first time someone accesses SystemEvents, it checks the apartment. If its STA it creates the HWND on the current thread, otherwise it creates a separate STA thread.

So if your first invocation of SystemEvents is on a WinFormsFact then SystemEvents will create its broadcast HWND on that thread

[2020-05-11 12:47] hughbe commented on #3254
FYI it is implemented here: https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs

Would a fix be to change the `WinFormsFact` to be `Fact`?

[2020-05-11 12:48] weltkante commented on #3254
Probably, but you need to enforce that on every usage of SystemEvents (including indirect usages). I don't know if WinForms itself depends on SystemEvents, but if the first invocation happens indirectly through Application.Run or something you still are flaky since you depend on the "right" test to be executed first.

Running it in RemoteExecutor seems to be the safer thing to do.

[2020-05-11 13:54] RussKie commented on #3250
Thank you for the feedback. We don't technically own `Font`, it belong to .NET Runtime: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Drawing.Common/src/System/Drawing/Font.cs

@JeremyKuhne do you know who would be the owner of `System.Drawing.Common` to pass the feedback to?

[2020-05-11 18:53] terrajobst opened #3257 "Survey: repo contribution experience"
We’ve been working as a team, and community, for five years in the dotnet org on the .NET Core project. Many of the same GitHub handles have remained constant over that time, some are new, and others have come and gone. Thanks to everyone that has contributed! We normally focus on how to improve the product, but we’re turning our focus to improving the open source project. We’ve created a survey t

[2020-05-11 20:58] JeremyKuhne commented on #1878
If classes had `[ComVisible]` on Framework I'd prefer to keep the attribute unless we can clearly document that it has some negative impact.

The auditing is a must for 5.0, I don't want to see us inadvertently exposing this attribute in unintended places.

[2020-05-11 22:10] weltkante commented on #1878
I scrolled through all remaining ComVisible which can be found by "search references" in VS and they all are specified without GUID (meaning they get a generated GUID). Since the generated GUID is different from Desktop Framework this is probably acceptable, but I still think most (if not all) ComVisible attributes are redundant.

The only negative impacts I currently can think of involve sharing

[2020-05-11 23:52] filipnavara opened #3260 "Changing MainForm doesn't update reference in ThreadContext"
* .NET Core Version: 3.1.200

* Have you experienced this same bug with .NET Framework?: Haven't tried

**Problem description:**

We have an application that can have more than one form open. When one of these forms is closed and it was the `ApplicationContext.MainForm` one we switch it to another opened window. Once all the windows are closed we shut down the app.

Currently the `Application.Thre

[2020-05-12 00:31] lonitra opened #3261 "Accessibility: ListViewGroup Subtitle Property"
**Problem description:**

The ListViewGroup has a subtitle property that is not being picked up by both inspect and narrator.

**Expected behavior:**

The subtitle property should be read by narrator and it should also be displayed somewhere in inspect

**Minimal repro:**

1. Create a winforms core app
2. Add a ListView and ListViewGroup with a subtitle
4. Run app
3. Start inspect/narrator and cli

[2020-05-12 01:08] ben-page commented on #3262
@jjmew, is closing issues without comment Microsoft policy? I but a lot of effort to clearly report this problem. You could at least say that Microsoft doesn't care about this.

Additionally, I don't think this issues should have been transferred here. This is the .NET Core Windows Forms repository, correct?

I'm trying to use the .NET Framework Window Forms designer in a project that references a

[2020-05-12 01:20] jjmew commented on #3262
@ben-page  I am sorry. The intent was to move the issue to dotnet/winforms and to close the one ne in Project-System. It seems like I had a misunderstanding of how to use the "Transfer Issue" feature in GitHub . When I closed the one in project system it propagated.

The WinForms team is the one that will have to triage this issue

[2020-05-12 01:50] RussKie commented on #3262
@ben-page I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identif

[2020-05-12 01:51] RussKie commented on #3146
@PDostalek is this resolved? Can we close the issue?

[2020-05-12 02:26] ben-page commented on #3262
I really appreciate both responses.

And I'm happy to create a project that demonstrates the problem. I'll post the file here and use the VS Feedback tool on that project.

[2020-05-12 03:25] RussKie commented on #3252
It is plausible that while the tests were run some other app (or you, if you used the PC) stole the focus while tests were run, and that precluded the message box from being dismissed.
But it is not improbable that something else is broken too.

[2020-05-12 04:06] RussKie commented on #3222
@kpreisser could you amend the code to throw for x-thread access?
We'll update the docs when P5 opens.

[2020-05-12 06:22] #1031 closed

[2020-05-12 09:04] kirsan31 opened #3263 "Designer: Ability to set relative Font size and style"
**Is your feature request related to a problem? Please describe.**

Many _new_ Fonts for the controls are simple size/style change of parent font. Currently you can achieve this in Designer only by explicitly creating new Font object. **But this is completely breaks Windows Font size scaling of your app.** So, for now to preserve Font size scaling you need (full manual approach not a variant here)

[2020-05-12 09:14] Olina-Zhang opened #3264 "Application cannot be ran successfully when adding pictureBox with image, changed targeting from .Net Core 5.0 to 3.1"
# Customer-Facing Description
After changed targeting from .Net Core 5.0 to 3.1, app cannot be ran successfully when form contains pictureBox with Image added

## Minimal Reproduction Scenario
1.	Create a Winforms Core application with targeting .Net Core 5.0
2.	Add a pictureBox with image by Local resource
3.	Build and run app
4.	Change app’s targeting to .Net Core 3.1 or using following .zip app

[2020-05-12 09:20] M-Lipin commented on #3124
Passed QA.

[2020-05-12 11:14] weltkante commented on #3264
This might be related to #3108 where WinForms does different assembly versioning than the Core Runtime project.

[2020-05-12 11:16] weltkante commented on #3108
@merriemcgaw this needs to be resolved before 5.0 is released, its a binary compatibility problem, if you let it slip into 5.0 release you would make it a permanent problem because you cannot downgrade assembly versions without breaking someone.

[2020-05-12 17:27] merriemcgaw commented on #3108
@JeremyKuhne @RussKie  let's discuss again in our meeting Thursday.

[2020-05-12 17:33] merriemcgaw commented on #3251
We absolutely should service it in 3.1. For some reason I thought we had done this or something very like it in 3.1 servicing. Am I imagining things 😂

[2020-05-12 17:50] lonitra opened #3269 "Accessibility: ListViewGroup Collapsible/Collapsed"
**Problem description:**
A Collapsible ListViewGroup cannot be collapsed/expanded via keyboard only. Additionally, there is no Narrator announcement for the collapse/expand action.

**Expected behavior:**
User should be able to collapse/expand a collapsible ListViewGroup via keyboard only, perhaps by pressing the SPACE bar.

Narrator should also announce the expand/collapse action. Something simil

[2020-05-12 20:05] filipnavara commented on #3260
Also, even if the reference in `currentForm` is fixed it's still referenced on the stack through `LocalModalMessageLoop(Form form)` call.

[2020-05-12 21:33] Tanya-Solyanik commented on #3254
We had seen this bug in the .NET framework, in Watson crash dumps and from customer service. Here is a small repro in the .Net Framework. Would be good to have it fixed.

[code]

[2020-05-12 22:13] hughbe commented on #3269
`IExpandCollapseProvider` seems perfect for this

[2020-05-13 00:46] RussKie commented on #3122
I had a chat with @vladimir-krestov and he said he had success with using https://www.nuget.org/packages/Xunit.StaFact/1.0.31-beta version.
Posting here so I don't forget, I'll try to find sometime to verify.

[2020-05-13 02:38] RussKie commented on #3269
I think <kbd>SPACE</kbd> is more associated with "enact" (e.g. similar to <kbd>ENTER</kbd>, _press button_), for expand/collapse - <kbd>←</kbd> <kbd>→</kbd> are typically used (e.g. in Windows Explorer or in a TreeView control), so I think we should use those.

Interesting idea 👍 I let @M-Lipin to comment on this.

[2020-05-13 02:45] RussKie opened #3271 "Flaky test: `IDispatch_GetTypeInfo_Invoke_Success`"
**Problem description:**

https://dev.azure.com/dnceng/public/_build/results?buildId=641217&view=logs&j=7c8326b9-0a5f-532a-e6de-db8515c72d9a&s=ff05ad62-bb9a-53b6-ce9f-72f329a63e7c

[code]

[2020-05-13 05:43] jeremy-visionaid opened #3272 "MenuStrip arrow key navigation goes in the wrong direction"
* .NET Core Version:
At least current master (5.0.100-preview.5.20251.2), but I recall seeing the issue since at least .NET Framework 2.0

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

With a populated MenuStrip, and focus on ToolStripMenuItem that is not top-level, focus shifts in the reverse direction to the arrow key (i.e. pressing the left arrow key

[2020-05-13 05:49] jeremy-visionaid commented on #3272
I think the problem is that ToolStripDropDown uses SystemInformation.RightAlignedMenus property to determine the navigation direction. But, if I understand correctly, this refers to the handedness for a tablet user (i.e. left or right-handed), so the menu alignment is probably not relevant. I think the intention was probably that it should reverse with respect the RightToLeft setting - making the

[2020-05-13 06:05] RussKie commented on #3272
There was exactly same complaint in https://github.com/gitextensions/gitextensions/issues/5970

[2020-05-13 06:21] jeremy-visionaid commented on #3272
@RussKie - Wish I'd spotted that one earlier - would have saved me some time! Thanks for the link!

[2020-05-13 06:55] kirsan31 commented on #3034
Fixed in 3.1.**4**.
![mc](https://user-images.githubusercontent.com/17767561/81780833-d8050380-94ff-11ea-84da-4aafa26ba000.gif)

[2020-05-13 06:55] #3034 closed

[2020-05-13 07:39] vladimir-krestov commented on #3122
Yes, I have updated xUnit in the project locally.
What I made:
- Installed package using PM: `Install-Package Xunit.StaFact -Version 1.0.31-beta`
- Changed _xUnit version_ manually in `Versions.props` file

The build is successful for me. There are no errors.
`WinFormsTheory` worked correctly with `MemberData`.

I'm not sure that I got the correct result because I have problems with running tests

[2020-05-13 07:47] weltkante commented on #3254
Just for the record, your snippet has a bug, a form that is displayed with `ShowDialog` needs explicit disposal, you only get automatic disposal when calling `Show`. That is because after `ShowDialog` the user usually wants to read out dialog results and if the handles are already gone it may not be possible to read all entered data anymore.

I don't think you can do anything if a STA thread decid

[2020-05-13 08:50] weltkante commented on #3271
Theres at least one more of that category, `IPictureTests.GetPictureFromIPictureDisp`

https://dev.azure.com/dnceng/public/_build/results?buildId=639224&view=ms.vss-test-web.build-test-results-tab

[code]

Somewhere else I commented it might be related to not having OLE initialized on that thread (this is fixed in xunit.stafact already) so it'd be interesting to see if these tests stop being flaky

[2020-05-13 08:59] hughbe commented on #3271
Note that these tests already are `WinFormsFact`:
[code]

[2020-05-13 09:01] Olina-Zhang opened #3275 "The first runtime behavior is not correct after changed TextBox's PasswordChar value from one to another"
* .NET Core Version:
.Net Core 5.0 from master branch: 5.0.100-preview.5.20262.7

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1.    Create a Winforms Core application
2.    Add a TextBox control to form designer, and set its PasswordChar property to value ‘*’,
3.    Run this application and input some string in TextBox
4.    Close runtime, and change its Passw

[2020-05-13 09:04] weltkante commented on #3271
WinFormsFact without xunit.stafact doesn't do OleRequire on the STA thread

The [other](https://github.com/dotnet/winforms/blob/fde3805ea206227ad01266c7d25ce0ed2df4996f/src/System.Windows.Forms.Primitives/tests/Interop/Ole32/IPictureTests.cs#L63) flaky test is still a plan Fact and running on MTA (tested with debug output) - but its not failing locally.

So like I said I'm only guessing, the API w

[2020-05-13 09:28] weltkante commented on #3122
I think this PR fixed it AArnott/Xunit.StaFact#39 for WinForms as well, nice!

I can confirm the framework reference is gone from nuspec and tests work correctly in VS.

The errors were only visible inside VS. Not sure why you can't run tests, works for me. I have to execute `build-local.ps1` in a powershell console first, then I can run tests.

[2020-05-13 09:34] vladimir-krestov commented on #3122
I had platform issues when I tested the new xUnit version. I used some workaround to run tests in VS. But I have fixed my issues and now it isn't necessary.
The build is correct with the new xUnit for me too.
@weltkante, could you please create a new PR to master with updating xUnit?

[2020-05-13 09:46] weltkante commented on #3271
The blocking issue for the xunit.stafact update was resolved so we can just update the nuget package and see if the flakyness goes away for `IDispatch_GetTypeInfo_Invoke_Success`
* If it does then OleInitialize was the problem and the other test should become WinFormsFact as well
* If still flaky after merging #3276 then the problem was something else

[2020-05-13 09:56] weltkante commented on #3275
Probably a bug in VS, I notice the `*` symbol on the file tab indicating unsaved changes.

I have noticed some problems similar to this myself where VS doesn't sync correctly when you have both Designer and Source open at the same time.

[2020-05-13 16:35] merriemcgaw commented on #3275
That's a great catch - it looks like the save that usually happens didn't get saved. @Olina-Zhang - is this a repeatable behavior? Or once you build again everything is good? Is it happening with every new app or just this one solution? Finally, are you using the classic designer or the Core designer? If it's Core designer and it happens with lots of projects we'll move this issue over there becau

[2020-05-13 21:23] AArnott commented on #3122
Given the success with the latest version of Xunit.StaFact 1.0.31-beta, I may release as stable.  I'll give it a little longer so more folks on this repo can validate and close this issue.

[2020-05-13 21:32] weltkante commented on #3272
When you are in tablet mode (or ever attached a touch device) menus are supposed to open to the left if you are right handed. The point is that when you use a stylus right handed and menus open to the right, then your right hand would be over the menu and you'd not see any of the options.

It should be a display-only setting, not affecting keyboard input.

[2020-05-13 22:05] weltkante commented on #3252
Actually this also found a bug which isn't a test bug 😉

Code is [here](https://github.com/dotnet/winforms/blob/a69ded30f06eff90ecbde7e2ec722b5d1b1f695c/src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Interaction.vb#L221):
[code]

And localization is [here](https://github.com/dotnet/winforms/blob/706f8b978281baca67f0d685d4677ee8838b1ba3/src/Microsoft.VisualBasic.Forms/src/Resources/SR.re

[2020-05-14 00:25] jeremy-visionaid commented on #3272
That's a really good point. However, I don't see that changing the handedness in Control Panel affects the display of the menus at all, in any application, including after a reboot (Windows 10 Pro 1909 18363.836). Though the same setting does instantaneously reverse the menu key navigation in a running .NET app. I'd guess the intention is, like you say, that the sub menus should open in a directio

[2020-05-14 01:03] #2797 closed

[2020-05-14 01:13] #3178 closed

[2020-05-14 01:13] terrajobst commented on #3067
When we approved it, I wrote this in email:

The mental model I had in mind was something simple like this:

[code]

[2020-05-14 01:23] #3022 closed

[2020-05-14 01:31] RussKie commented on #3032
Closing this as a fix for regression.
We'll continue to work on https://github.com/dotnet/winforms/issues/3247

[2020-05-14 01:31] #3032 closed

[2020-05-14 01:43] Olina-Zhang commented on #3275
@merriemcgaw Yes, this issue repros when app is not saved state. I use Core designer to add control for this issue, and just found above scenario can repro issue. If build application before run it directly, this issue cannot repro. And if doing above scenario and changing TextBox's PasswordChar value consecutively in one solution, it can repro every first time because app is in unsaved state.

[2020-05-14 03:51] jeremy-visionaid commented on #3272
So, I've managed to get the handedness to affect the menu display - but only in WPF applications, and it doesn't change the position of the chevron/arrow for sub-menus there. Assuming the WPF behavior I'm seeing is correct, the sub-menu opening direction is only dependent on the RightToLeft setting. So, the issue here looks like it can be fixed by just ignoring the RightAlignedMenus property, sinc

[2020-05-14 06:58] Jenna-Zheng opened #3280 "The first item still retain in ListViewItem Collection Editor dialog after clicked Cancel button"
* .NET Core Version: 5.0.100-preview.5.20263.6

* Have you experienced this same bug with .NET Framework?: No

**More info:** This issue still occurs in **Edit Groups...**, but the **Edit Columns...** works well.

**Problem description:**

The first item still retain in **ListViewItem Collection Editor** dialog.
![Untitled](https://user-images.githubusercontent.com/64949616/81902255-6659b200-95f2-

[2020-05-14 07:08] RussKie commented on #3252
@weltkante thank you!

@cston looks like something got missing during the port.

I can think of a fix like this:
[code]

What do you think?

[2020-05-14 07:15] weltkante commented on #3272
This is weird, the last I checked win32 native menus, WinForms and WPF all behaved identical regarding `SystemInformation.RightAlignedMenus`. It would be odd if WinUI were to be the one off due to a misunderstanding. This probably needs closer inspection.

[2020-05-14 07:25] kirsan31 commented on #3032
@RussKie Why 3.1.5 tag was removed? As i can see this was merged to 3.1 branch... Same [here](https://github.com/dotnet/winforms/issues/3022).
Or it's not decided yet in which servicing release it will be?

[2020-05-14 07:39] RussKie commented on #3032
It is going out in 3.1.5. We tag issues to prioritise dev efforts, and PRs get tagged for actual release.

[2020-05-14 07:44] weltkante commented on #3269
putting the suggestion in relation with other controls:
* checkboxes and toggle buttons are activated by space
* WPF has a standalone expand/collapse control ("expander") where the header can be focused as a whole and is activated (toggled) by space
* treeview expand/collapse is activated by arrow keys, however you focus the item and cannot focus the expand glyph

[2020-05-14 10:21] jeremy-visionaid commented on #3272
@weltkante - I agree. I borrowed an old Windows 7 machine, and the handedness (MenuDropAlignment/RightAlignedMenus) setting takes effect instantaneously in running applications there for at least Win32 native menus. No idea why it doesn't work on my Windows 10 machine, but there does seem to be some bug or configuration issue there.

[2020-05-14 17:34] dreddy-work commented on #2969
I looked into this issue. This repro is possible on machines that has windows 10 version less than 1607 and application is targeting 'netcoreapp 5.0'. I tried to repro myself with the 1607 version and 3.1 targeting and it does not repro.  below is the gif from the machine. According to the source code that make sense. We will be working on fixing the issue for those scenarios. However, if you @fil

[2020-05-14 18:48] lonitra commented on #2656
I've been looking at some documentation and I found some things that might be interesting that I would appreciate some input on: [LVN_LINKCLICK](https://docs.microsoft.com/en-us/windows/win32/controls/lvn-linkclick) and [NMLVLINK](https://docs.microsoft.com/en-us/windows/win32/api/commctrl/ns-commctrl-nmlvlink) structure.

I found that if the ListViewGroup task is clicked on then it is in fact a `

[2020-05-14 18:58] hughbe commented on #2656
In my local implementation I went with the `LVN_LINKCLICK`. Although this would add more structs to the internal interop, this is no harm - they're not exposed and relatively simple.

I agree

Example `LVN_CLICKED` in `WndProc`
[code]

[code]

[code]

[code]

[code]

[2020-05-14 19:19] filipnavara commented on #2969
I tested it on a virtual machine that was installed from "14393.0.161119-1705.rs1_refresh_clientpro_ret_x64fre_en-us_0c8a07f49ff047c8ec52c6a1f7b21568174a18d7" ISO. It should be the same version as on your screenshot. Unfortunately the machine has updated in the background so I would need to rebuild it to access it again. There was no .NET Core installed inside it. The only thing I did was to copy

[2020-05-14 19:46] M-Lipin opened #3285 "Accessibility: implement unit and UI tests for accessible navigation"
* .NET Core Version:

.NET SDK (reflecting any global.json):
 Version:   5.0.100-preview.5.20260.4
 Commit:    0950d416f9

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100-preview.5.20260.4\

Host (useful for support):
  Version: 5.0.0-preview.5.20260.5
  Commit:  09ee4814cb

* Have y

[2020-05-14 19:58] M-Lipin opened #3287 "Accessibility: review and make accessibility implementation consistent"
* .NET Core Version:

.NET SDK (reflecting any global.json):
Version: 5.0.100-preview.5.20260.4
Commit: 0950d416f9

Runtime Environment:
OS Name: Windows
OS Version: 10.0.18363
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100-preview.5.20260.4\

Host (useful for support):
Version: 5.0.0-preview.5.20260.5
Commit: 09ee4814cb

* Have you experienced this same bug wit

[2020-05-14 20:06] JeremyKuhne commented on #2656
I agree as well

[2020-05-14 21:31] dreddy-work commented on #2969
@filipnavara , Is it possible to share the self contained app that you used? Also, if you get a chance to get the machine rebuild, please share the screenshot of version info.

[2020-05-14 21:37] filipnavara commented on #2969
Unfortunately the self-contained output is kind of on the big side so I had to share it through external service that allows larger files.

https://send.firefox.com/download/b48739bcf3c1097f/#4aBM9eavZZCiGZsTYQPuPg

The link will be valid for a week, or 100 downloaded, whichever comes first. I can reupload it elsewhere if it becomes an issue.

[2020-05-14 21:57] filipnavara commented on #2969
My bad, looks like I sent you the publish directory after I made some local changes... at least I cannot reproduce the issue anymore with the exact same set of binaries. I managed to revert the virtual machine to earlier state at the end of Windows installation. The exact version is 10.0.14393:

![image](https://user-images.githubusercontent.com/1764393/81990009-96c73d80-963e-11ea-9e0e-a7184945e03

[2020-05-14 21:59] dreddy-work commented on #2969
hmm. Okay. I will assume the repro scenario is what i described above and we try to fix it with that in mind.  I just wanted to make sure that i understand the scenario well( not just from the source code) before applying the fix.  Thank you for providing these information. We will update this issue once the fix is merged.

[2020-05-14 22:01] filipnavara commented on #2969
Here's link to rebuild version of the original repro (https://github.com/dotnet/winforms/files/4549943/contextmenu-repro.zip) that crashes on 1607 (14393.447):

https://send.firefox.com/download/eadcc5b1734bbaf7/#c7qlpTGSUe-zPCAJX-q9xg

[2020-05-14 22:23] #3251 closed

[2020-05-14 23:08] Varorbc commented on #117
https://docs.microsoft.com/en-us/microsoft-edge/webview2/releasenotes#09515-prerelease

[2020-05-14 23:17] JeremyKuhne commented on #3142
This is likely a missing attribute. @lonitra can you tag in links to the similar fix you did?

[2020-05-14 23:18] #3252 closed

[2020-05-14 23:20] JeremyKuhne commented on #3166
@Tanya-Solyanik suggests that there is a timeout between repeated calls, which would be worth investigating.

[2020-05-14 23:22] JeremyKuhne commented on #3254
This is something we've gotten user feedback on (CSS & Watson).

[2020-05-14 23:34] dreddy-work commented on #2969
can you share what is the difference between these two applications?

[2020-05-14 23:38] JeremyKuhne commented on #3275
@Olina-Zhang A few more clarifications if you would:

1. What is the menu command you're using to run?
2. Can you get the same behavior on .NET Framework?

Thanks!

[2020-05-14 23:44] filipnavara commented on #2969
I wish I could but I no longer have source for the first published binaries (https://github.com/dotnet/winforms/issues/2969#issuecomment-628899985).

After I posted the repro here two weeks ago I went on to try couple of things and I found out that the problem can be triggered either with application manifest that specifies PerMonitorV2 DPI handling, or the explicit `Application.SetHighDpiMode(Hig

[2020-05-14 23:44] JeremyKuhne commented on #3248
@filipnavara Could you make a PR against master?

[2020-05-14 23:45] filipnavara commented on #3248
Sure. Will do it tomorrow.

[2020-05-14 23:46] JeremyKuhne commented on #3238
@Vino-Wang Can you share details on the DPI your display is at? Thanks :)

[2020-05-14 23:50] filipnavara commented on #3248
The branch is here: https://github.com/filipnavara/winforms/tree/ToolStripDropDownItem_hook

I'll do some local tests with memory profiler before opening a PR. Not exactly sure how to unit test it though.

[2020-05-14 23:53] JeremyKuhne commented on #3088
@hughbe I'd make this match the underlying behavior. If we want to make any of these truly synchronized, we can look at them individually as new features.

[2020-05-15 01:30] RussKie commented on #3067
Yes, it is something I had in mind too.
However as we started exploring the designer story we come to realisation that correlated properties pose challenge to the designer. It was also uncovered that we completely overlooked the events associated with the properties.

The new proposal is to meld the two properties into one, thus reducing the API surface and make it easier for a developer:
[code]

[2020-05-15 01:40] Olina-Zhang commented on #3275
@JeremyKuhne using VS toolbar: application name to run or pressing F5, Ctrl+F5 Keyboards all can repro this issue, and cannot repro it when doing same scenario in .Net framework.

[2020-05-15 02:44] jeremy-visionaid commented on #3272
I got remote access to another Windows 10 machine (also build 18363.836). The behavior was the same - WinForms and Win32 API menu display were unaffected by the MenuDropAlignment/RightAlignedMenus setting.

The arrow key navigation from the pull request seems correct to me with regards to Windows 7 (i.e. the the navigation arrow key you need to press depends on the RTL setting, and the sub-menu is

[2020-05-15 06:07] Olina-Zhang opened #3290 "RootFolder property doesn't work for modernize ForderBrowserDialog"
* .NET Core Version:
.Net Core 5.0 from master branch: 5.0.100-preview.5.20262.7

* Have you experienced this same bug with .NET Framework?: No

**Minimal repro:**
1.	Create a Winforms .Net Core Application
2.	Add following code to show modernize folderBrowserDialog and set its RootFolder property to specific Folder
public Form1()
        {
            InitializeComponent();
            FolderBrow

[2020-05-15 06:20] Zheng-Li01 opened #3291 "The value of the FileName attribute is not fully displayed when the character length is greater than 16"
* .NET Core Version:
.NET SDK 5.0.100-preview5.20262.6

* More info:
1. The issue also can reproduce .NET SDK 3.1.
2. The issue can't reproduce on SaveFileDialog control.

* Have you experienced this same bug with .NET Framework?:
 Yes, this is not a regression issue, which can repro from .NET 3.5 to .NET 4.8.

**Minimal repro:**
1. Opened the attached reproduce project.([Repo_App.zip](https://git

[2020-05-15 06:26] RussKie commented on #3122
@weltkante and I observing a new wave of deadlocks. Trying to assert whether these have anything to do with Xunit.StaFact 1.0.31-beta.

[2020-05-15 07:18] weltkante commented on #3272
I can confirm your observations. I don't have a VM ready to check older Win 10 versions, but it sounds like either a regresion in some Win 10 update, or they silently changed the usage of that setting and nobody told the WPF team.

[2020-05-15 08:12] weltkante commented on #3122
There are two issues with stafact

- ThreadRental doesn't seem to recognize its task finished (not sure yet what happens in the corresponding tests, they seem to have finished)
- `WinFormsSynchronizationContextAdapter.PumpTill` is using a polling message loop without waiting for messages (will create an issue and PR, easy to fix)

[2020-05-15 08:18] Vino-Wang commented on #3238
@JeremyKuhne, my test machine's DPI is setting as 100%DPI.

[2020-05-15 11:05] weltkante commented on #3088
Note that writing code which does this generically (i.e. can deal both with an underlying collection that IsSynchronized has true or false) is hard.

If the underlying collection has `IsSynchronized==true` then you can only forward methods which consist of a single access to the underlying collection. Methods which have more than one access to the underlying collection need an additional `lock (_u

[2020-05-15 17:04] lonitra commented on #3142
If we have a specific editor for ToolStripItem then the fix will likely be similar to #3120 to pop up the correct editor, otherwise we may have to do something like #3111 to keep from throwing an error on the generic editor.

[2020-05-16 11:50] M-Lipin opened #3294 "Accessibility: no way to set Label control accessible role and accessible name"
* .NET Core Version:

Reproduces in 3.1 as well as in 5.0.

* Have you experienced this same bug with .NET Framework?:

Yes
Link to DevDiv issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1108206

**Problem description:**

If AccessibleName or/and AccessibleRole is set to a custom value for the Label control, this does not affect the AccessibleName and AccessibleRole in runtime. And d

[2020-05-16 23:27] cston opened #3296 "Use same application id for WindowsFormsApplicationBase.IsSingleInstance for same major.minor version number"
In .NET Framework, `WindowsFormsApplicationBase.IsSingleInstance` behavior uses an application id that is consistent for the same { major, minor } version numbers.

In dotnet/winforms, the `ModuleVersionID` is used for the application id which is distinct for each build. Consider matching .NET Framework by using an id that is consistent for { major, minor } version.

See [reference source](https:/

[2020-05-17 00:17] weltkante opened #3297 "Disabled tests: WindowsFormsSynchronizationContext"
**.NET Core Version:**
master branch

**Have you experienced this same bug with .NET Framework?:**
no

**Problem description:**

Following three tests are blocking the update of xunit.stafact (#3122) and will be commented out unless they get fixed before the package update PR gets merged.
* WindowsFormsSynchronizationContext_Dispose_MultipleTimes_Success
* WindowsFormsSynchronizationContext_Send_I

[2020-05-17 01:30] AArnott commented on #3122
The xunit.stafact bugs @weltkante reported are fixed and available on https://www.nuget.org/packages/xunit.stafact

[2020-05-17 01:32] AArnott commented on #3297
Thanks for filing. FWIW, if there's pushback on this, we can investigate making xunit.stafact more resilient to the SynchronizationContext being disposed.

[2020-05-17 09:17] weltkante commented on #3297
I don't think theres much you can do on the stafact side. There is no guarantee that the test is done at the point where the SC is disposed and just stopping to pump messages can lead to deadlocks.

Also there is the whole issue of determining _if_ the SC (or rather, the underlying infrastructure) is disposed, the unit test has its own instance of WFSC but its sharing the same WinForms infrastruct

[2020-05-17 10:12] weltkante opened #3298 "Extract stack traces of hanging CI test runs"
**Is your feature request related to a problem? Please describe.**
Hangs in CI build are hard to diagnose, especially if they are not reproducable locally or do not happen deterministically.

**Describe the solution you'd like and alternatives you've considered**
[`dotnet-dump`](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump) allows collecting dumps of a process and analyze t

[2020-05-17 10:34] weltkante commented on #3298
Give the testing process id can be figured out, following powershell script takes a minidump (so storage size should be no concern) and extracts the stack traces. I also include the thread summary because it mentions apartments and lock counts.

[code]

The CI build may also need to install dotnet-dump if arcade doesn't do that yet, see linked doc page.

[2020-05-17 15:14] 199621616 commented on #1878
@JeremyKuhne 我们的每个用户，都需要与当地的医疗保险系统或卫生信息系统对接，多使用COM互操作来实现。正是由于.NetCore3.1目前没有解决此问题，我们的对接模块不得不仍然停留在.NetFramwork4.6上。
Each of our users needs to interface with the local medical insurance system or health information system, and use COM interoperability to achieve more. Because. NETCORE 3.1 does not solve this problem at present, our docking module has to stay on. Netframework 4.6.

[2020-05-17 15:22] hughbe commented on #1878
By the way, what is the criteria for including them. I noticed that we do so for `AccessibleObject` subclasses. Do these attributes actually do anything?

[2020-05-17 15:24] hughbe commented on #1878
Surely having it on `IWin32Window` won't cause any problems, as we don't override any windows registry entries?

[2020-05-17 15:25] hughbe commented on #1878
Also, would the fix be to simply have
[code]

[2020-05-17 15:36] weltkante commented on #1878
As far as I'm aware the only thing left is to allow COM to call CoCreateInstance (call the default constructor). You still have to do some registration or manifest declarations for this case besides using the attribute. I might be missing other arcane use cases.

Previously the most important usecase was to indicate "this class/interface/struct/enum is owned by this assembly and needs to be regist

[2020-05-18 03:09] RussKie commented on #3091
dotnet/arcade#5171 has been merged.

[2020-05-18 05:58] RussKie commented on #3298
I've been mulling over how we can get a memory dump. Your proposal is one of several ways, assuming dotnet-dump is installed, or it can be installed as part of a build run.

We'll need to look at this in conjunction with https://github.com/dotnet/arcade/issues/5398.

[2020-05-18 07:29] John-Qiao opened #3299 "Accessibility: NVDA is announcing an unnecessary content contain as 'row 0 row 1 columntext column 1' when NVDA focus is on first column row 0"
* .NET Core Version:
5.0.100-preview.6.20266.3

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**

1. This issue can still reproduce in .NET Core 3.1.
2. This issue does not occur in Narrator.
![Narrator](https://user-images.githubusercontent.com/45864985/82185640-1e050180-991c-11ea-8c70-e6f7c877f513.png)

**Problem description:**
NVDA is announcing an unnecessary cont

[2020-05-18 11:58] PDostalek commented on #3146
Thank you @RussKie

[2020-05-18 11:58] #3146 closed

[2020-05-18 20:13] JeremyKuhne commented on #1878
@199621616 if you have a specific WinForms COM scenario that is broken can you please file an issue with details so we can track it? If it is an issue with .NET Core COM interop in general you should create the issue in https://github.com/dotnet/runtime.

[2020-05-18 20:18] JeremyKuhne commented on #1878
@AaronRobinsonMSFT do we have any best practices for porting code from .NET Framework to .NET Core that used to use `[ComVisible]`? With or without specific GUIDs as @weltkante mentions in the discussion above?

[2020-05-18 20:45] oggy22 opened #3300 "Design Mode check"
* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Hi Winforms team,

I’d like to raise an issue with Winforms about the way to check if the current code is run by designer or not. It’s rather confusing and I think there is room for improvement. The ways and suggestions I found from multiple sources (Stackoverflow and few of your team mates) are:
•	DesignMode

[2020-05-18 20:59] AaronRobinsonMSFT commented on #1878
@JeremyKuhne This is a declarative mechanism and depending on how .NET controls are being passed around/consumed this could result in some very complicated/nasty scenarios.

As mentioned, if the interface is something that is new and desired to be provided to COM clients then `ComVisibleAttribute` is the appropriate mechanism. For [.NET Core COM servers](https://docs.microsoft.com/dotnet/core/nati

[2020-05-18 21:04] weltkante commented on #3300
They are reliable for what they are designed, but you want to use them for something they are not designed for.

If I remember right it works like this:
* LicenseManager is setup for the duration of the constructor call.
* DesignMode is setup after the control has been added to the design surface, but only for controls the user is actually currently designing (i.e. not their child controls if they

[2020-05-18 21:13] JeremyKuhne commented on #1878
@AaronRobinsonMSFT thanks! When it comes to GUIDs and `[ComVisible]` we should then:

1. Always provide an explicit GUID
2. Don't use `[ComVisible]` for actual COM interfaces (e.g. along with a `[ComImport]`)
2. Never match a `[ComVisible]` GUID from .NET Framework?

Is this the right summary?

[2020-05-18 21:49] AaronRobinsonMSFT commented on #1878
This is the safest approach. There are some caveats here that permit having the same Guids in most theoretical cases. One of the most important is that all .NET objects are free threaded and don't need apartment marshalling. However, there are issues with COM aggregation scenarios that make this far more complicated in practice.

[2020-05-18 22:31] oggy22 commented on #3300
Going through the documentation of [LicenceManager](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.licensemanager.usagemode?view=netcore-3.1) and [DesignMode](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.component.designmode?view=netcore-3.1) I don't see any mentioning about the caveat about constructor. So at least the documentation should be improved expla

[2020-05-19 01:11] lonitra opened #3301 "Add Support for Title Image to ListViewGroup"
**Is your feature request related to a problem? Please describe.**

Our ListViewGroup does not have support for Title Images (or icons next to the group header) while LVGROUP does (https://docs.microsoft.com/en-us/windows/win32/api/commctrl/ns-commctrl-lvgroup)

**Describe the solution you'd like and alternatives you've considered**

Add support for adding images to ListViewGroup headers.

I am ba

[2020-05-19 04:01] RussKie commented on #3296
@cston could you please clarify the request - is this a bug or new API request?
Is this something you're planning to work on, or something up-for-grabs?

[2020-05-19 05:10] cston commented on #3296
@RussKie, this is a change in behavior from .NET Framework. I've updated the description to clarify.

The issue is up for grabs.

[2020-05-19 05:19] cston commented on #3296
cc @KathleenDollard

[2020-05-19 07:17] #3025 closed

[2020-05-19 07:45] therawk opened #3303 "Unable to select controls inside the TabControl"
* .NET Core Version:
3.1.300-preview-015135

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
I added a TabControl and added other components like TextBox and Label and now want to drag the TextBox around. It doesn't work since the Designer seems to ignore my selection of a specific element.

**Expected behavior:**
It is possible to add UI Controls to the Tab

[2020-05-19 10:09] paul1956 commented on #3296
In framework Visual Studio creates a new GUID for every new project that never changes. There was a function in Framework GetTypeLibGuidForAssembly that got this GUID and then code here appended Major and Minor version strings and that was the string used to define a single instance. GetTypeLibGuidForAssembly no longer exists in Core and Visual Studio no longer creates the GUID but existing Framew

[2020-05-19 22:42] weltkante opened #3305 "Broken IDispatch.GetTypeInfo interop tests"
**.NET Core Version:**
Master with PR #3276 applied

**Have you experienced this same bug with .NET Framework?:**
unknown

**Problem description:**
The [tests](https://github.com/dotnet/winforms/blob/e32620ed185e3c15fa67bdb7fe93757a735d6edb/src/System.Windows.Forms.Primitives/tests/Interop/Oleaut32/ITypeInfoTests.cs) were flaky before, sometimes throwing `ComException(E_FAIL)`. The update of xunit

[2020-05-19 22:57] weltkante commented on #3305
I can reproduce these inside the VS debugger, but I don't know how to diagnose this without further assistance.

Things I checked:
* updated above tests to WinFormsFact and made sure they execute in STA
* made sure WinForms was not calling any `Marshal.ReleaseComObject` or `Marshal.FinalReleaseComObject` APIs which in my experience can be common sources of this exception if the RCW is used after b

[2020-05-19 23:40] weltkante commented on #3305
I remembered that `ITypeInfo` can be finnicky and added `Marshal.ReleaseComObject(typeInfo);` to the end of each test, that _seems_ to work around the problem.

I still don't see how this can cause the exception though, is this something that could be a bug in coreclr and needs further investigation, or should we be working around by manually managing `ITypeInfo` RCW refcounts?

[2020-05-20 00:35] KlausLoeffelmann opened #3306 "Should we move System.Windows.Forms.Padding back to the System.Windows.Forms assembly"
While investigating a bug in the WinForms Core Designer, namely in the context of serialization of Resource files, I noticed that from 3.1 to 5.0 the `Padding` struct has moved from the `System.Windows.Forms` assembly to `System.Windows.Forms.Primitives`. This is the reason, at least from the perspective of deserializing resource files in the Core Designer, we can not retarget a WinForms 5.0 Core

[2020-05-20 01:30] merriemcgaw commented on #3306
I'm on board with this.

[2020-05-20 01:38] Zheng-Li01 commented on #3303
@RussKie, there have exist issue [1589](https://github.com/dotnet/winforms-designer/issues/1589) in dotnet/winforms-designer repo to track it.

[2020-05-20 03:15] John-Qiao commented on #3049
Verified the issue in .NET Core 5.0.100-preview.5.20269.19, this issue has been fixed that the String Collection Editor dialog be opened now.
![3049](https://user-images.githubusercontent.com/45864985/82401015-3e9f9980-9a8b-11ea-8422-ee907287f033.png)

[2020-05-20 05:07] #3127 closed

[2020-05-20 05:40] Olina-Zhang commented on #3099
Verified this issue in .NET Core 5.0.100-preview.5.20269.19, it has been fixed. PropertyGrid sub-level item expanded/collapsed state is correct now. Please see following screenshot for Inspect and Narrator behavior:
![image](https://user-images.githubusercontent.com/26474449/82409029-6ef13300-9a9f-11ea-9c1a-9e7abe305bcb.png)

[2020-05-20 05:49] RussKie commented on #3034
Thank you for the follow up!

[2020-05-20 06:27] RussKie commented on #3182
Thank you for the investigations.

It is easier to review changes, discuss and bounce idea in a PR. First we need to fix it in the master branch, and then put out a case for patching 3.1 branch.
Something else perhaps to consider is calling [`UiaDisconnectAllProviders`](https://docs.microsoft.com/windows/win32/api/uiautomationcoreapi/nf-uiautomationcoreapi-uiadisconnectallproviders) when shutting

[2020-05-20 08:46] nirzaf opened #3307 "Winforms Designer Not Working with .NET Core 3.1 SDK"
* .NET Core Version:   3.1 LTS Version

* Have you experienced this same bug with .NET Framework?:  No

**Problem description:**

    Winform Designer looks like in a screenshot given below

![image](https://user-images.githubusercontent.com/18024930/82425619-63543b00-9aa4-11ea-9532-bae05883afa1.png)
Could not do any designing in Winforms
I am using Visual Studio 16.6.0 Version Last Updated 20/05/

[2020-05-20 09:03] hughbe commented on #3305
I remember in https://github.com/dotnet/winforms/pull/2603 (https://github.com/dotnet/winforms/pull/2603#discussion_r368761076) we had some problems. Maybe they are realted?

[2020-05-20 09:13] hughbe commented on #3301
As per the API
[code]

I would suggest we follow the pattern across winforms of having `int TitleImageIndex` and `string TitleImageKey`

[2020-05-20 09:23] Thea-Zhao commented on #2802
The validation result above is incorrect because we do not know that the "Available values" list are expected.
Verified with.NET Core 5.0.100-preview.5.20269.19 build, this issue is fixed. All the list elements have the same name property "Available values". This is expected that a PropertyGrid ComboBox entry should have "Available values" list in the accessibility tree.
![issue2802-fixed](https:/

[2020-05-20 09:31] Jenna-Zheng commented on #3251
Verified with .NET Core 5.0.100-preview.5.20269.19 build, this issue is fixed, now DataGridViewCell Combox not causes application crash.
![3251-TestResult](https://user-images.githubusercontent.com/64949616/82430229-a40d7d80-9abf-11ea-8d85-10c944f058c0.gif)

[2020-05-20 09:43] weltkante commented on #3305
Right, this is probably related to the linked comment. It'll probably mean we have to do manual RCW reference management to avoid the problem of automatic release, I'll do the corresponding PR.

I still want the opinion of @AaronRobinsonMSFT on whether this may be a race condition/bug in the runtime that needs further inspection, or if we should ignore it and work around it.

[2020-05-20 09:55] Jessie-Zhang01 opened #3309 "An exception occurred when adding an image to the BackgroundImage property"
* .NET Core Version: .Net Core 5.0.100-preview.6.20269.24

* Have you experienced this same bug with .NET Framework?:
No

**More Info:**

1. This issue cannot reproduce when adding pictures from the property window.
2. This issue just reproduce when the BackgroundImageLayout property to Tile.
3. This issue also can reproduce on .Net 3.1 and .Net 3.0.

**Minimal repro:**
1. Create a winforms core p

[2020-05-20 09:59] filipnavara commented on #3182
#3308. I shared the backport to release/3.1 only because I already had it for testing on our own app. It's non-trivial for us to retarget the app to 5.0 so any large scale testing with memory profiler I do with the 3.1 backports on actual production version of the app.

That's pretty much useless when the app is shutting down because the COM objects will die anyway. `UiaDisconnectAllProviders` is

[2020-05-20 10:01] hughbe commented on #3305
I also made this a while ago: https://github.com/hughbe/Interop-Repro

Run StressTest.ps1 from the root of the repo

[2020-05-20 10:04] weltkante commented on #3305
Having read through the whole linked thread it looks like this issue was exactly what happened before. The previous workaround was probably relying on xunit.stafact behavior, now that its updated the old workaround might no longer work. The correct workaround is to never cause the problematic situation, if you don't want to wind up individual processes for tests the easiest solution is manual RCW

[2020-05-20 12:46] Padanian opened #3312 "Controls declared without WithEvents clause in Winforms Designer"
* .NET Core Version:
 5.0.100-preview.4.20258.7

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Declaration of controls on a form by dragging control onto it does not include "WithEvents" clause.
As such, event handlers methods are created without "Handles" clause.

**Expected behavior:**
Dragging and dropping controls on form shall correctly declare and in

[2020-05-20 12:55] Padanian opened #3313 "NumericUpDown: unable to evaluate its properties at runtime"
* .NET Core Version:
 5.0.100-preview.4.20258.7

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Runtime evaluation of NumericUpDown properties fails with <Internal evaluation error of expression> for properties .Value, .Min and .Max
NOTE = actual error message may be different because of translation from my locale
NOTE 2 = Multiple different errors are show

[2020-05-20 14:57] cadilhac opened #3316 "Winforms designer exception with my custom control"
* .NET Core Version:
3.1.300-preview-015135

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
I'm the developer of Smart PropertyGrid.Net (VisualHint company) and I am trying to port my component to .net core 3. It works well but I was unable to use the forms designer so far. I was happy to read this morning that the winforms designer could now be used with c

[2020-05-20 20:06] Tanya-Solyanik commented on #3254
This could be fixed in this test, but it would be even better to re-design how SystemEvents are initialized.

[2020-05-20 20:07] hughbe commented on #3254
would have to open issue in dotnet/runtime. @weltkante you're an infinitely busy guy but if could open an issue, would be awesome since you know everything!

[2020-05-20 21:02] weltkante commented on #3254
Created an issue, not sure I can do much more, basically just analyzed the stacktrace and did some guesswork. The cleanest solution would be if thread shutdowns were observable, then it could automatically unregister the HWND before the thread is gone.

[2020-05-20 21:55] weltkante opened #3317 "SystemEvents deadlock if UI thread shuts down early"
### Description

The first thread that accesses `SystemEvents` is [used for initialization](https://github.com/dotnet/runtime/blob/master/src/libraries/Microsoft.Win32.SystemEvents/src/Microsoft/Win32/SystemEvents.cs#L475). If its a MTA thread then a private STA thread with message loop is created for listening to system events, but if the first thread is an STA thread the initialization happens o

[2020-05-20 22:36] AaronRobinsonMSFT commented on #3305
Sorry about missing this. @hughbe Yes, this issue is the same as https://github.com/dotnet/winforms/pull/2603#discussion_r368761076. This is a general problem with the XUnit framework and the STA for concurrent tests. @weltkante Your suggestion about manual `Release` seems reasonable to me.

[2020-05-20 23:11] RussKie commented on #3317
@JeremyKuhne is this something can be solved at winforms level, or we need to move it back to the CLR?

[2020-05-20 23:19] weltkante commented on #3317
SystemEvents is not part of WinForms, the WinForms issue is #3254, I was asked to open one in the runtime repo who owns SystemEvents.

[2020-05-21 00:12] OliaG commented on #3316
@cadilhac, thanks for reporting this issue. We just started our work on third-party controls, so it is in progress and some things may not work yet.

That being said, is it possible you are having issues with licensing of your controls because LICX  is not supported in .NET Core? Also have you tried running portability analyzer on your code to ensure you don't have any dependencies  on APIs that a

[2020-05-21 00:22] Tanya-Solyanik commented on #3316
@cadilhac - Your trial version is targeting .Net Framework, and it has licensing implemented. Licensing is not fully done in Core yet, so this is not expected to work. I also guess that you have some design time components, ControlDesigners, UITypeEditors, TypeConverters, Serializers, these should be re-implemented and should take dependency on our new set of base classes, we are still working of

[2020-05-21 00:28] Tanya-Solyanik commented on #3307
@nirzaf - we had seen similar issues in multi-monitor setup, where the primary monitor has resolution other than 100%. What screen resolutions do you have?
Why do you think this is related to the Core SDK version? What version is your application targeting?

[2020-05-21 00:37] merriemcgaw commented on #3312
This is VB support that currently have on the backlog to implement within the next couple of Previews. @KlausLoeffelmann will be working on this coming soon. He will keep you posted on our progress.

[2020-05-21 00:49] paul1956 opened #3318 "Winforms Designer in Version 16.7.0 Preview 1.0 Not Working with Visual Basic"
* .NET Core Version:
3.1

* Have you experienced this same bug with .NET Framework?:
No also not with Visual Studio 16.6.0

**Problem description:**
Attempting to open any VB form in designer by clicking on any Visual Basic Windows Form you will see the 2 error dialogs at the bottom
 A sample project you can use is https://github.com/kpreisser/TaskDialogDemo.git  and it has a C# and VB identical p

[2020-05-21 00:51] merriemcgaw commented on #3316
We're working with third party control vendors to make things work in the new designer. We've been making progress and will be releasing guidance to vendors in the not too distant future. There will necessarily be a new paradigm for creating control designers in Visual Studio due to the fact that VS runs in .NET Framework and you control will be running in Core. We'll work with several vendors to

[2020-05-21 00:59] merriemcgaw commented on #3262
That would be wonderful @ben-page, thank you!

[2020-05-21 01:02] merriemcgaw commented on #3175
Can you please provide VS feedback? This stack doesn't show the Core Designer loaded at this point. First try changing the order, and if it continues to cause problems can you please provide VS feedback so that we can collect diagnostic data to help route the problem to the right place?

[2020-05-21 01:05] #3305 closed

[2020-05-21 01:12] cadilhac commented on #3316
Thanks for all this information.

1. I'm not worried about design time components. I don't have any of the ones you mention. So the issue is not related to that.
2. My test was done without any licensing, though I'm interested to learn how this will work if there is no LICX file management. How will licensing work? So again, my issue is not related to that.
3. About the portability analyzer, I did

[2020-05-21 01:13] weltkante commented on #3271
@RussKie note that this [may not be fixed](https://github.com/dotnet/winforms/pull/3315#issuecomment-631478269). This issue was about `OleCreatePictureIndirect` returning `E_FAIL` while the PR fixed an exception with ITypeInfo later in the same method.

You don't have to reopen if you don't see the failures again, just wanted to drop you a note that there may have been two interop issues in the sa

[2020-05-21 01:17] RussKie commented on #3271
Thank you, I'll keep it open for now.

[2020-05-21 02:31] RussKie commented on #3318
Can you please submit the feedback via the VS Feedback tool, it collects logs, stack traces and other important information that help in debugging issues, such as the NRE you're seeing.

[2020-05-21 02:40] RussKie commented on #3305
Thank you all 🚀

[2020-05-21 02:54] weltkante commented on #3122
Took me a while to figure out but some tests are suddenly executing in parallel when they shouldn't be, created AArnott/Xunit.StaFact#48

[2020-05-21 02:56] vsfeedback opened #3319 "TableLayoutPanel memory leak"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/681591/tablelayoutpanel-memory-leak.html)._

---
TableLayoutPanel has a memory leak when dynamically filled with controls, controls cleared (with dispose), and reloaded with the same data source. This will eventually cause a parameter error somewhere in system code. The mem

[2020-05-21 03:00] weltkante commented on #3305
Sorry, [missed one ITypeInfo](https://github.com/dotnet/winforms/pull/3276/commits/1235d10eca868cfad148cfeeb2625b735b9b6470) 😞  Want me to make another PR for that line or leave that for the nuget package update? Around 1 out of 10 runs pass locally so I missed it. Its definitely better than all tests failing constantly.

[2020-05-21 03:47] paul1956 commented on #3318
I did that also

[2020-05-21 04:46] liquidboy commented on #1631
just like to chime in and say how much of a pain this is, just encountered it

[2020-05-21 06:15] jeremy-visionaid commented on #3272
FWIW, with respect to the MenuDropAlignment/RightAlignedMenus affecting the positioning of the drop down menus, I found the following behaviors:

| - | Windows 7 | Windows 10 |
| - | - | - |
| Win32: | Respected | Ignored |
| WinForms | Ignored | Ignored |
| WPF | Respected | Respected |

Given that both Windows versions still have a setting in Control Panel to change this, I think the cases where

[2020-05-21 06:28] mgholam opened #3320 "ListView Group Header Color"
![listview group](https://user-images.githubusercontent.com/460565/82530040-96a0d380-9b51-11ea-843b-19e5db65008e.png)

**Is your feature request related to a problem? Please describe.**
In the original WinForms ListView, when grouping items, you cannot change the Group Header color and it is always Blue.
Which is not visible when the background is dark (as in the image above).

**Describe the solu

[2020-05-21 06:53] RussKie commented on #3301
I agree, this way we have consistent API.

[2020-05-21 06:54] RussKie commented on #3319
Waiting for a repro project that has been requested on the VS Feedback site.

[2020-05-21 07:05] RussKie commented on #3305
Let's fix it :)

[2020-05-21 07:43] #2769 closed

[2020-05-21 10:01] Jessie-Zhang01 opened #3322 "Brightness contrast of the control boundary line is less than 3:1"
* .NET Core Version: .Net Core 5.0.100-preview.6.20270.51

* Have you experienced this same bug with .NET Framework?:
Yes

**Related test scenarios:**

- The contrast of control default status(non-focused, unselected).

  - Affected controls:
    - [x] Button
    - [x] ComboBox(DropDownStyle = DropDownList)
    - [x] TooStrip(ProgressBar, Button)
    - [x] DataGridView(Inner boundary line)
    - [

[2020-05-21 10:11] Jessie-Zhang01 commented on #3043
[#3322 ](https://github.com/dotnet/winforms/issues/3322)tracks the overall support.

[2020-05-21 10:11] Jessie-Zhang01 commented on #3059
#3322 tracks the overall support.

[2020-05-21 14:09] nirzaf commented on #3307
I am using a single monitor in my laptop ThinkPad i7, with resolution 1366 X 768 (Recommended by Windows 10) My targeting .NET Core SDK Version is  3.1 LTS Version

[2020-05-21 14:28] Tanya-Solyanik commented on #3307
I'm sorry, I meant to ask what your scale on the primary monitor was, could you please lookup it as well:
![image](https://user-images.githubusercontent.com/15823268/82569030-84fd0300-9b34-11ea-82ce-183ce17291c8.png)

Why do you think the issue is related to .NET SDK, what happens when you switch to NET 5.0?

[2020-05-21 14:33] nirzaf commented on #3307
I couldn't find any options called Scale & Layout in my windows settings
![image](https://user-images.githubusercontent.com/18024930/82569549-050b8300-9b9e-11ea-8c29-94aeed92b508.png)
![image](https://user-images.githubusercontent.com/18024930/82569675-31bf9a80-9b9e-11ea-96b7-5479b9645021.png)

[2020-05-21 17:14] merriemcgaw commented on #1631
Have you tried adding the setting which reverts back to the older RTB in .NET 4.8?
`<runtime>
  <AppContextSwitchOverrides value="Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl=true" />
</runtime>`

If this is a significant problem that the apps config file I would suggest you use VS Feedback to report the problem and tell us how this is impacting the Autodesk app in particular. We can

[2020-05-21 20:57] #3318 closed

[2020-05-21 21:35] Tanya-Solyanik commented on #3318
Hi @paul1956, I had tried out the task dialog demo in VB, but did not see this error dialog. The designer loaded fine.  Did you start seeing this error once you upgraded the VS? Do you have 5.0 version of the SDK installed? Can you load the designer for the CS task dialog demo? Can you build both successfully?

[2020-05-21 22:47] Tanya-Solyanik commented on #3313
Issue related to the textbox property had been fixes in the .NET Core designer a couple days back, it is not yet available in the Preview channel. If everything goes as expected, it would be in 16.7.0 Preview2.

[2020-05-21 23:00] Tanya-Solyanik commented on #3313
@Padanian, could you please share screenshot of PropertyBrowser showing error that you see. We had fixed several bugs in this area, I would like to see if they were the same as your issue. Trying out your steps, I don't see are errors on the Preview channel build of the VS.

[2020-05-22 00:28] Tanya-Solyanik commented on #3316
Then your scenario should work after we completely enable support for user controls, i.e. controls that are not defined in the current project. This should be available in the Preview channel within a month or two. At this point designer works with custom controls that are defined in your current project.
How do you plan to distribute your library? We will recommend using nuget packages, and will

[2020-05-22 00:31] Tanya-Solyanik commented on #3307
Hm, had you tried typing "scale" in the search box on the upper left? Had you looked in the "Advanced" link?

[2020-05-22 00:42] RussKie commented on #3260
Do you have any thoughts on how it could be fixed?

[2020-05-22 01:20] KlausLoeffelmann commented on #3312
Yes, that is correct!

[2020-05-22 02:15] paul1956 commented on #3316
@Tanya-Solyanik I have noticed that in 16.7 Preview 1, the designer add the namespace before User Controls defined in the current project on every save or run is the designer is open.
[code]
becomes after every save
[code]
And then you get 7 errors until you delete "RootNamespace." Should I open a new issue of is this know?

[2020-05-22 02:39] paul1956 commented on #3318
@Tanya-Solyanik it only happens in 16.7 Preview 1, yes I have 5.0 installed but not using on this project branch. I have never seen it fail under C#, but it seems related to system load. When I restart and there is lots of activity (stuff starting up, Virus scanner busy..) and CPU is ~100 busy it always fails to start. If I restart VS when CPU load is low I can't reproduce it on VB or C# and once

[2020-05-22 04:59] nirzaf commented on #3307
Yes, I tried all the possible way to find that option but could not find it,
I am using Windows 10 Enterprise Version 2016 LTSB, Updated always, I had this problem in previous visual studio versions as well, but Previously I didn't even get that white blank screen After updated to 16.6 I get this white blank screen

[2020-05-22 06:13] Padanian commented on #3313
![image](https://user-images.githubusercontent.com/7769348/82636968-16877600-9c04-11ea-9dd0-62296c9339c5.png)

[2020-05-22 06:13] nawfalhasan commented on #2644
I am not sure, but I think it would be totally non-breaking to implement additional interfaces. I mean nobody is asking to take away non-generic IEnumerable, ICollection or IList. All we have to do is implement additional IList<T> etc.

Of course certain things have to remain non-generic. For e.g. ListBox.Items have to be non-generic (or should implement IList<object> which is meh..). But for most

[2020-05-22 06:15] Padanian commented on #3313
As you see above, there's even a VScroll property which should be there. It's kinda all mixed up.

[2020-05-22 06:42] weltkante commented on #2644
@nawfalhasan I've done a prototype and it doesn't work out. While adding interfaces is not binary breaking by itself you quickly run into complications because of the design and usage of base classes, which make it impossible to implement the interfaces correctly and efficiently.

Lessons learned from the prototype why it doesn't work adding the generic interface:
- If the class was designed for e

[2020-05-22 07:52] nawfalhasan commented on #2644
@weltkante makes sense. Let me start by saying this feature request should be least of priorities of WinForms team as it isnt a significant benefit. But let me address each of the points:

1. More work, but subclasses too should do this. I understand it is incredibly more work to inspect each subclass and figure out which of the derived APIs have to be amended.
2. I dont get this point honestly
3.

[2020-05-22 08:51] nawfalhasan opened #3328 "Support generic base class in designer"
**Is your feature request related to a problem? Please describe.**
Problem: Unable to open up a form that inherits from a generic form class without building project.

**Description:**
When a form inherits from a common base class like `FormBase<T>`, the designer of the more derived type cant be opened without building the project in VS.

**Example:**

    public class FormBase<T> : Form
    {

[2020-05-22 08:53] nawfalhasan commented on #3328
This is a feature request, not an api-suggestion. Seems I cant add appropriate label.

[2020-05-22 08:54] nawfalhasan commented on #3328
The same applies for user controls as well

[2020-05-22 09:08] nawfalhasan opened #3329 "Support abstract base class in designer"
**Is your feature request related to a problem? Please describe.**
Problem: Unable to open up a form that inherits from an abstract form class.

**Description:**
When a form inherits from a abstract class, the designer of the more derived type cant be opened.

**Example:**

    public abstract class FormBase : Form
    {
        protected FormBase()
        {
        }
    }

    public class Form

[2020-05-22 09:11] weltkante commented on #2644
I have inspected and updated each subclass, its a mess due to the other points but doable, this point was about 3rd party subclasses outside the WinForms codebase.

The base class is used to provide most of the implementation of the collection API. Since its non-generic its implementation and virtual/abstract API is independent of what you actually store in the collection. Making the subclass coll

[2020-05-22 09:30] weltkante commented on #3329
The designer needs to instantiate the base class. It can't instantiate your subclass because that would mean baking the code you are trying to edit in the designer (i.e. recompiling after _every single edit_)

[2020-05-22 09:44] weltkante commented on #3328
what type `T` would you expect the designer to display? the designer needs a live instance to run against, so it has to chose a generic type parameter.

[2020-05-22 11:02] nawfalhasan commented on #3328
The designer for `FormDerived : FormBase<DerivedViewModel>` should resolve T as DerivedViewModel. If not, at the very least it should open up the designer of `Form` (i.e. first proper base it can design)

Designer need not verify generic constraints, but if it does that is fine as well (it would be more correct). I am not sure what is the complexity here. The base here is bound and closed generic

[2020-05-22 11:03] nawfalhasan commented on #3329
Either that, or let us have an option to control what designer should be designed. E.g. via an attribute like TypeDescriptionProvider. Unfortunately it doesnt always cleanly work.

[2020-05-22 11:22] weltkante commented on #3328
The designer doesn't have a choice, the runtime does that when you instantiate an instance. You cannot create an instance of an invalid type or an open generic type (without specifying `T`). The designer doesn't contain a compiler, it just creates an instance off your last build and runs it.

Right, that works when your derived class is not generic anymore, I was also thinking of the case `FormDer

[2020-05-22 11:27] nawfalhasan commented on #3328
As a first step not. But it can be implemented too if MS let us specify a TypeDescriptionProvider (which controls which instance should  designer design).

[2020-05-22 15:49] DualBrain opened #3332 "Initializing and immediately adding an image as a resource fails until you close and reopen."
* .NET Core Version:

3.1 in VS 16.6 (release version)

* Have you experienced this same bug with .NET Framework?:

No

**Problem description:**

When initialize the resource file, switch to the image tab (without first closing), add an item (without first closing) and it is added to the resources folder but disappears from the actual resource list.  Have to reopen and re-add the item - after this

[2020-05-22 18:01] yashimwong opened #3333 "Missing items during adding to MenuToolStrip in designer mode"
* .NET Core Version:  3.1.300

* Have you experienced this same bug with .NET Framework?:  No

**Problem description:**
- When adding items to MenuToolStrip in the designer mode, when switching to code and switching back, items added is suddenly missing in the designer but retains in WinForm auto-generated code.

**Expected behavior:**
- Items should not be missing after adding

[2020-05-22 20:46] chucker commented on #2614
@RussKie can we make it so the .NET Core 3.0 docs show it as deprecated, so it's a little clearer why it disappears in 3.1? This text isn't clear enough, I think:

(Maybe change it to "_was_ retained _up until .NET Core 3.0_" or something?)

Also, I don't know if you can ping someone about https://apisof.net/catalog/System.Windows.Forms.MenuItem, because that, too, suggests that .NET Core 3.1 shou

[2020-05-23 02:39] jscholes opened #3334 "Accessibility: problematic screen reader UX for ContextMenuStrip (NVDA)"
* .NET Core Version: 3.1
* Have you experienced this same bug with .NET Framework?: No

#### Problem description:

When using the standard `ContextMenu` removed in https://github.com/dotnet/winforms/pull/2157, NVDA announces "Context Menu" when the menu opens.  With `ContextMenuStrip`, NVDA doesn't announce anything on pop-up (not even the presence of a menu without an accessible name), meaning th

[2020-05-23 02:40] jscholes commented on #3334
Note: it's likely that this problem also affects `MenuStrip` when using a menu-bar-style setup, but I didn't include it in the main issue description because I haven't tested it.

[2020-05-23 02:48] jscholes commented on #3334
Confirmed that JAWS announces "context menu" as expected, but NVDA does not.

[2020-05-23 18:07] wjk commented on #3322
I don't think we can do much to change this. These graphics are supplied by `uxtheme.dll`, which is a part of Windows. The underlying system cannot be changed or extended by anyone outside the Windows team. (That being said, if a High Contrast theme is being used, the bitmaps will change to follow the accessibility tenets of that mode, so there is that.)

[2020-05-23 19:30] weltkante opened #3336 "DragDrop unit tests hang, should be integration tests"
**.NET Core Version:**
master

**Have you experienced this same bug with .NET Framework?:**
not applicable

**Problem description:**
DoDragDrop tests in ToolStripItemTests and ControlTests are hanging CI.

Not sure if its worth to root-cause the hang, I think they should be integration tests instead as proper drag'n'drop tests need mouse interaction, otherwise OLE probably exits out very early. Th

[2020-05-24 17:34] ekolis opened #3338 "Inherited forms don't work in the designer for .NET Core"
* .NET Core Version:
3.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

1. Create a .NET Core WinForms app.
2. Create a form.
3. Create a second form.
4. Edit the second form's code behind to make it inherit from the first form.
5. Open the visual designer for the second form.

The designer will then crash with this error:

-- | --
The designer could not

[2020-05-24 17:41] ekolis opened #3339 "User control designer does not work for .NET Core"
* .NET Core Version:
3.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

1. Create a WinForms project.
2. Add a user control to the project.
3. Open the designer for the user control.

I get this error:

**Expected behavior:**
 The control designer opens.

**Minimal repro:**
see attached
[BrokenUserControlDesigner.zip](https://github.com/dotnet/winforms/fi

[2020-05-24 18:48] wjk opened #3340 "Add support for TMT_FONT"
To make my app look more like native Windows components, while still supporting High Contrast themes, I use VisualStyleRenderer to draw "instruction text" (like the TaskDialog uses). In the default theme, this is 12-point Segoe UI, foreground color `#003399`. To do this, I use the class `TEXTSTYLE`, part 1, and state 0 (these values come from `vsstyle.h` in the Windows SDK).

However, when I attem

[2020-05-25 05:23] docfresh opened #3342 "Cannot rename ToolStripMenuItem in Items Collection Editor"
* .NET Core Version:
3.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
I cannot rename toolStripMenuItems in the Items Collection Editor.

**Expected behavior:**
The item should be renamed.

**Minimal repro:**

1. Create a MenuStrip in a .NET Core Winforms app
2. Add a few items in the Items Collection Editor
3. Try to rename an item in the property grid

[2020-05-25 05:35] Vino-Wang commented on #3342
@docfresh This issue has been fixed in preview release build. You can try to install the VS form here https://visualstudio.microsoft.com/vs/preview/ and try to rename your MenuStrip again.

[2020-05-25 06:59] kirsan31 commented on #3338
It's not done yet, see: https://devblogs.microsoft.com/dotnet/windows-forms-designer-for-net-core-released.

[2020-05-25 07:01] kirsan31 commented on #3339
What V.S. version are you using? User controls in designer are [only available from 16.7 Preview](https://devblogs.microsoft.com/dotnet/windows-forms-designer-for-net-core-released/).

[2020-05-25 09:55] John-Qiao opened #3343 "The version of System.Windows.Forms.dll is incorrect"
* .NET Core Version:
.NET Core 3.1.300

* Have you experienced this same bug with .NET Framework?:
No

**More info:**

1. This issue occurs in other Winforms .NET Core 3.1 dlls too.
2. This issue occurs in the latest .NET Core 3.1 dlls too.
3. This issue does not occur in .NET Core 5.0
![Core5 0](https://user-images.githubusercontent.com/45864985/82801858-8e79c880-9eb0-11ea-9a09-9e747da7d1ce.png)

[2020-05-25 20:43] hughbe commented on #3336
I did add these tests to make sure our interop bindings worked (i.e. didn't crash, throw EntryPointNotFoundException etc)

[2020-05-25 21:05] ekolis commented on #3339
Oh I see. I was using 16.6.0. Thanks!

On Mon, May 25, 2020, 3:01 AM kirsan31 <notifications@github.com> wrote:

[2020-05-25 23:05] #3339 closed

[2020-05-25 23:19] RussKie commented on #3343
This is by design. Windows Forms .NET Core can't have a version less than .NET Framework (which is v4.8)

[2020-05-25 23:19] #3343 closed

[2020-05-26 00:12] docfresh commented on #3342
The preview build resolved it, but another bug:  After renaming the menu item, circled items do not update the name until you close and reopen the editor.
Thanks

![image](https://user-images.githubusercontent.com/8064022/82848973-807d7500-9ebb-11ea-9130-63a0c891a8a5.png)

[2020-05-26 00:29] docfresh opened #3345 "Remember Property Grid display style choice in Menu Items Collection Editor"
A MenuStrip's Items Collection Editor shows the MenuItems, and the properties for them in a property grid.

The property grid can be displayed 1 of 2 ways: Categorized, or Alphabetized.

Unfortunately, it does not remember my preference.  I always prefer to see the grid alphabetized, but every time I go back into the Items Collection Editor, the property grid is displayed "Categorized"

![image](h

[2020-05-26 00:32] RussKie commented on #3345
Just to confirm, you're talking in a context of Visual Studio, where you'd like your choice to be remembered, right?

[2020-05-26 00:59] #3122 closed

[2020-05-26 01:13] #3272 closed

[2020-05-26 01:25] docfresh opened #3346 "Creating/Saving a Settings file throws error"
* .NET Core Version:
3.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
I used try-convert to convert a near-empty .NET 4.72 Framework project to .NET Core.

When trying to add a settings file, I get the error "An error occurred while reading the app. config file. The file might be corrupted or contain invalid XML" when creating a new Settings file and sav

[2020-05-26 01:28] RussKie commented on #3346
@docfresh  I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identi

[2020-05-26 01:51] 199621616 opened #3347 "Net5.0Preview4 Title blur when window is maximized"
.NET Core Version: 5.0.0-previcw4
 Title blur when window is maximized

Not is maximized,Display normal

Using components
DevComponents.DotNetBar2

![0](https://user-images.githubusercontent.com/25498672/82852754-5ae18180-9f36-11ea-9cf6-ac48f7fbe1cd.jpg)
![1](https://user-images.githubusercontent.com/25498672/82852771-68970700-9f36-11ea-89c3-e7d811faafbf.PNG)

[2020-05-26 01:52] RussKie commented on #3347
Please fill in all required information and ping us back to re-open.

[2020-05-26 01:52] #3347 closed

[2020-05-26 01:54] RussKie commented on #3340
Out of curiosity, what tool are you using?

[2020-05-26 02:06] Vino-Wang commented on #3342
@docfresh @RussKie The second issue has been filed in core designer area and it's still under investigation.

[2020-05-26 02:18] wjk commented on #3340
I'm using [PresentationTheme.Aero’s ThemeBrowser](https://github.com/gix/PresentationTheme.Aero/tree/master/Source/ThemeBrowser). Works great.

[2020-05-26 02:21] RussKie commented on #3340
Noice!

Providing a better theming experience is on our future roadmap, so fixes and enhancements in this area are quite welcome.

[2020-05-26 02:59] RussKie commented on #2614
@gewarren is this something we can do?

@OliaG @terrajobst is that something you maintain?

[2020-05-26 04:07] RussKie opened #3348 "Track finalization"
**Problem description:**

https://github.com/dotnet/winforms/pull/3169 cleaned out a number of `FINALIZATION_WATCH`.
Consider how we want to track finalization so that we can shake out issues in disposal as we're clearly having problems in our test runs.

[2020-05-26 04:54] RussKie commented on #3320
Please provide a repro project

[2020-05-26 05:02] mgholam commented on #3320
An actual project or a test project?

[2020-05-26 05:40] RussKie commented on #3320
We need a simple project that clearly demonstrates the issue.

From: Mehdi Gholam <notifications@github.com>
Sent: Tuesday, May 26, 2020 3:03 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Igor Velikorossov <Igor.Velikorossov@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet/winforms] ListView Group Header Color (#3320)

An actual project or a test project?

—
You

[2020-05-26 05:53] TanVal commented on #860
Hi, I am also facing same issue. may I know if the issue is resolved and how was it resolved? Also please let me know how much was the effort.

[2020-05-26 05:56] RussKie commented on #3222
@kpreisser do you think you could send a PR that checks for x-thread access?

[2020-05-26 05:56] mgholam commented on #3320
https://github.com/mgholam/listviewgroupheader

[2020-05-26 08:45] hughbe commented on #3340
Good idea. I was just looking at the docs and it seems like there are others that we could (should)? be supporting:
From https://docs.microsoft.com/en-us/windows/win32/controls/property-typedefs
ID | Notes
-- | --
TMT_BODYFONT |  
TMT_CAPTIONFONT |  
TMT_GLYPHFONT | The font that the glyph associated with this part will be drawn with, if font-based glyphs are used.
TMT_HEADING1FONT |  
TMT_HEADING

[2020-05-26 10:10] #2802 closed

[2020-05-26 11:20] #39 closed

[2020-05-26 17:32] wjk commented on #3340
@hughbe I would like to disagree. Most of the other IDs you listed correspond to fonts that can already be retrieved using the `SystemFonts` class. The rest (ICONTITLEFONT, HEADING1FONT, HEADING2FONT) I have never seen used, even when using my msstyles-dumping tool.

[2020-05-26 18:32] hughbe commented on #3340
Alrighty thats fine then :)

[2020-05-26 22:33] gewarren commented on #2614
I'm cleaning the docs up now.

[2020-05-27 01:01] #3248 closed

[2020-05-27 02:38] RussKie commented on #3166
I'm no longer observing the issue. I think this was addressed in #3276.

[2020-05-27 02:38] #3166 closed

[2020-05-27 02:55] RussKie commented on #3263
Related to https://github.com/dotnet/winforms/issues/3001

[2020-05-27 06:13] kirsan31 commented on #3263
@RussKie

Sorry, but I can't understand - how it is related?

[2020-05-27 07:27] kpreisser commented on #3222
Sorry for the delay. Yes, I think I can send a PR for the cross-thread access check.

[2020-05-27 10:17] Amy-Li03 opened #3353 "The ImageIndex value is not automatically set to -1 after set the ImageKey property to an empty string."
* .NET Core Version:
.NET 5.0.100-preview.6.20276.4 from master branch

* More info:
This is a regression issue, this issue cannot reproduce in .NET 5.0.100-preview.5.20272.9 build.

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The ImageKey and ImageIndex properties are mutually exclusive, meaning if one is set, the other is ignored. But now if set the Im

[2020-05-27 10:45] weltkante commented on #3353
Sounds like a regression with the recent PRs of making properties ignore setters if the value didn't change. For setters which had side effects outside the property they were setting (like here where it clears another property) this is a breaking change.

@hughbe @RussKie The PRs making setters idempotent (e.g. #3314 and #3126, maybe more?) may need another review to make sure the setters were not

[2020-05-27 11:20] gc-deniszmitrichenko opened #3354 "Control derived from ComboBox causes application crash with System.ArgumentOutOfRangeException when override OnMeasureItem method"
* .NET Core Version:

.NET SDK 5.0.100-preview.4.20258.7

* Have you experienced this same bug with .NET Framework?:

No
It is also not reproducible with .Net Core 3.1.

**Problem description:**

In derived from ComboBox class when sets ComboBox.DrawMode = DrawMode.OwnerDrawVariable and override OnMeasureItem method there is a call of OnMeasureItem method with MeasureItemEventArgs which Index prop

[2020-05-27 12:34] hughbe commented on #3353
This was a deliberate impact of that PR that we documented. I don't have any complaints about fixing this though. I would argue that that, however, code should really be doing
[code]

Rather than setting
[code]

[2020-05-27 12:49] weltkante commented on #3353
What about the symmetric failure case where you set ImageIndex=-1 when an ImageKey is in use, does that properly reset the image or also fail? Do we require people to set both ImageIndex and ImageKey to remove an image reliably?

[2020-05-27 12:54] weltkante commented on #3353
@Amy-Li03 Also, about what ImageIndex/ImageKey are we talking here?

I remember one PR discussion mentioning that a goal was to have all implementations behave the same. So before deciding what to do here its important to keep in mind how other controls behaved before the regressing PRs.

[2020-05-27 20:06] #2056 closed

[2020-05-27 22:18] paul1956 commented on #3296
The AssembyInfo being add in #3352 has the GUID needed to make SingleInstance compatible with Framework.

[2020-05-27 22:49] #3131 closed

[2020-05-28 00:25] RussKie commented on #3334
@vladimir-krestov @Ryuugamine can you have a look?

[2020-05-28 00:55] RussKie commented on #3320
I am afraid we can't offer a solution here. Our theming support is rudimentary, and making Windows Forms apps that are themeable/skinable is a major undertaking (e.g. https://github.com/gitextensions/gitextensions/pull/7213).
A better integration with OS themes (to use current theme colors and styles) is on our roadmap, but until then you will need to resort to ~hacks~workarounds (using interops o

[2020-05-28 02:22] merriemcgaw commented on #3175
I hope you all check out 16.7 Preview 1, lots of issues have begun to be ironed out. We're bringing more features in for Preview 2 (and beyond of course). The only issue we've seen repeated mentions of recently is the ToolBox corruption which can be fixed by resetting your ToolBox or following more detailed instructions. Check out @OliaG's [blog post](https://devblogs.microsoft.com/dotnet/windows-

[2020-05-28 02:24] merriemcgaw commented on #3142
@lonitra feel free to add a PR for this fix 😁

[2020-05-28 02:27] merriemcgaw commented on #3346
Just to let you know, this issue has not yet been implemented by the team. We have it high on our backlog and look forward to having it available in an upcoming VS preview. I'll circle back and let you know when we've gotten the work done.

[Designer issue ](https://github.com/dotnet/winforms-designer/issues/356 )(sorry this isn't public at this point, just linking for internal reference)

[2020-05-28 02:32] merriemcgaw commented on #3342
Thanks Vino!
[Designer Issue](https://github.com/dotnet/winforms-designer/issues/1810)

[2020-05-28 02:33] merriemcgaw commented on #3338
Yep, we've got an [internal item ](https://github.com/dotnet/winforms-designer/issues/1135)on our backlog for this issue.'

[2020-05-28 02:35] merriemcgaw commented on #3332
@KlausLoeffelmann - have you seen this issue internally yet?
@DualBrain  - we're still working on VB.NET Support (as well as resources support) so stay tuned.

[2020-05-28 02:39] merriemcgaw commented on #3329
We'll consider an addition like this once we're fully at parity with the Framework designer.

[2020-05-28 02:56] paul1956 commented on #3346
@merriemcgaw could we create a single list (issue) for all the things that are know to be broken with VB and Designer. It would save a lot of reporting and then we would know what issue we find that should be added. This was done initially for VB Core and in that case others could contribute. For example I don't see that the designer corrupts VB Project files that have local Custom Control  or tha

[2020-05-28 03:10] RussKie commented on #3346
Providing you with a list would not be productive - the list is constantly changing. But the team looks at all issues that are raised via the VS Feedback (the icon in the top right hand side corner). And this is one of the reasons why issues with VS and VS Designer should be sent via the VS Feedback.
Another reason - the VS Feedback tool captures a lot of additional information (such as screenshot

[2020-05-28 03:29] nawfalhasan commented on #3329
@merriemcgaw thanks, can't wait! :)

[2020-05-28 03:55] docfresh commented on #3346
@RussKie  my apologies, I will use VS Feedback in the future.  FYI I made a linked issue on the try-convert project here; they are adding a warning about app.config
https://github.com/dotnet/try-convert/issues/296#issuecomment-634952641

[2020-05-28 04:16] mgholam commented on #3320
All that is needed is the ability to change the group header color.

[2020-05-28 04:19] RussKie commented on #3354
This looks like may be a regression introduced in https://github.com/dotnet/winforms/pull/1837 (https://github.com/dotnet/winforms/pull/1837/commits/d503ac3d2f5c5e96329ed7252443be1833d743b9)
![image](https://user-images.githubusercontent.com/4403806/83098460-100a6a00-a0ee-11ea-94f5-fb523d61a48a.png)

Here's the state from 3.1:
![image](https://user-images.githubusercontent.com/4403806/83098398-daf

[2020-05-28 05:17] DualBrain commented on #3332
Completely understand...

I'll add that this *might* be an artifact of converting from a Console application to a WinForms application - which, right now, is the only way that I can create a WinForms project for VB (understanding that I'm playing on the razors edge here).  I suspect that if the templates existed and I were to create a WinForms project directly, the resources would probably be "ini

[2020-05-28 05:21] DualBrain opened #3356 "Button component not available in Toolbox"
* .NET Core Version:
3.1 release in VS 16.6

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The Button component is missing from the VS Toolbox... Label (and many others are there), but no Button.

**Expected behavior:**

The Button component would be available (visible) in the Toolbox.

**Minimal repro:**

Other than it is happening "on my machine", I'm n

[2020-05-28 05:33] paul1956 commented on #3356
A lot of people are having this issue, From Feedback you need to reset Toolbox and when that doesn't work
Delete
[code]
and when that doesn't work, delete files below (these will reset some VS settings).
[code]

[2020-05-28 05:42] paul1956 commented on #3346
@RussKie stock answer from Feedback is VB is not supported by Designer even though it has been, to some extent, since VSIX preview and they close the issue but I will continue to use that method. I didn't want to bother on issues that are known to not work.

[2020-05-28 05:57] RussKie commented on #3356
Thank you @paul1956

[2020-05-28 05:59] RussKie commented on #3320
You're welcome to offer an API suggestion as to how it may be implemented.

[2020-05-28 06:36] KlausLoeffelmann commented on #3332
I'll check this. This shouldn't be language specific, so I suspect this might be a general designer issue in the area of resources.

Cory, one of the reasons the templates don't exist yet for VB is, that we did not have the Application Framework support earlier (`WindowsFormsApplicationBase` for example). And without that, templates are impacted.

[2020-05-28 06:46] #3340 closed

[2020-05-28 07:00] Amy-Li03 commented on #3353
@weltkante I talked in the issue is treeNode's ImageIndex/ImageKey property, and listView control doesn't exist this issue.

[2020-05-28 07:59] RussKie opened #3358 "Flaky tests: `ImageList` randomly crashes tests and result in AccessViolationException"
For the past few days I'm observing tests randomly fail in Release builds, with some builds providing **no logs** of failures.
Few other logs I found are below:

[code]

[code]

[2020-05-28 08:06] weltkante commented on #3358
If you want to get minidumps on crashes there is a registry setting for that, but its probably all just AccessViolations after some memory corruption so the stack traces probably won't be too useful. (If an AccessViolation happens outside managed code then it just terminates the process.)

[2020-05-28 08:11] RussKie commented on #3358
I'll try to get some time to plugin the screenshot capture and a memory dump functionality into the CI pipeline.

[2020-05-28 08:13] RussKie commented on #3353
Thank you @Amy-Li03.

@hughbe looking through the code I think this is a regression introduced in #3126 here:
![image](https://user-images.githubusercontent.com/4403806/83116127-b0708680-a10e-11ea-981a-5b2af52dfe9b.png)

By default `ImageKey == ""` not `null`, so previously when `ImageKey = ""` it would go and reset the `ImageIndex = -1`, now we're bailing out and the `ImageIndex` is not reset...

[2020-05-28 09:03] paul1956 commented on #3296
As soon as #3352 is checked in I will do a PR to address this in a way that will work when GUID is present and work as is when its not.

[2020-05-28 10:33] weltkante commented on #3358
Not getting any AVs or process crashes locally.

[2020-05-28 11:29] weltkante opened #3359 "Test failure ListView_Handle_GetTextBackColor_Success in 32 bit"
**.NET Core Version:**
github master

**Have you experienced this same bug with .NET Framework?:**
n/a

**Problem description:**
`ListView_Handle_GetTextBackColor_Success` fails in VS when running the 32 bit test runner, don't know why it doesn't fail in CI, I thought it used both 32 bit and 64 bit test runner?

[code]
I think `(IntPtr)0xFFFFFFFF` is invalid in 32 bit

**Expected behavior:**
* CI

[2020-05-28 12:26] ekolis commented on #3338
Great, thanks!

[2020-05-28 13:21] weltkante opened #3361 "Missing Control.Dispose calls in unit tests"
**.NET Core Version:**
github master

**Have you experienced this same bug with .NET Framework?:**
n/a

**Problem description:**
Disposing controls in unit tests is required because the usage of multiple UI threads. If the control has not been GC'ed by the time the UI thread terminates this can lead to hangs.

Related to #3348 but this is short-term bugfixing while the other issue is long-term rel

[2020-05-28 13:57] mgholam commented on #3320
I replaced the `ListView` with a custom `ListBox`.

[2020-05-28 14:01] DualBrain commented on #3332
Thanks.

Regarding why the templates don't currently exist; I figured it was a combination of this and the fact that things are clearly changing with the project format along the way to .NET 5 - so completely understandable.

[2020-05-28 15:25] weltkante commented on #3361
/cc @hughbe in case this is of interest, /cc @RussKie FYI

I'm not starting a PR yet since I only know how to fix the trivial cases (marked above) - though if you want a partial PR for this issue I can do that.

[2020-05-28 15:27] weltkante commented on #3359
@RussKie PR is trivial but I'd like to know whats wrong with CI, is it by design that this doesn't run in 32 bit?

[2020-05-28 17:26] vinicio328 commented on #654
@Tanya-Solyanik
I faced the same issue, but I have a fix for that, based on docs
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.createparams.classname?redirectedfrom=MSDN&view=netcore-3.1#System_Windows_Forms_CreateParams_ClassName

It says:

So based on that on CreateParams, when I set the ClassName I just did an Upper method call and it fixed the Class Already exists exception.

[2020-05-28 23:42] RussKie commented on #3359
@MattGal is this something you could help us with?

As @weltkante pointed our tests may not be running as true 32-bit processes.
![image](https://user-images.githubusercontent.com/4403806/83204493-55cb3f00-a18f-11ea-8c10-3d8b54c45536.png)

I'm guessing 32-bit SDK needs to be installed, but I'm not sure how to do that in the CI.

[2020-05-28 23:43] MattGal commented on #3359
Taking a peek.  I'll use some Learning Day time to learn about your WOW64 issues :)

[2020-05-29 00:09] #3354 closed

[2020-05-29 02:24] RussKie commented on #3358
Some more: https://dev.azure.com/dnceng/public/_build/results?buildId=662467&view=artifacts&type=publishedArtifacts
[code]

One thing I didn't notice before, only x86 tests appear to fail, which suggests bitness-related issues.

[2020-05-30 13:20] hughbe opened #3371 "DataGridView.OnRowHeadersWidthSizeModeChanged has bad check for RowHeadersWidthSizeModeChanged event"
* .NET Core Version:
master

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

In `OnRowHeadersWidthSizeModeChanged` we have the following check

[code]

Note that we write `Events[EVENT_DATAGRIDVIEWROWHEADERSWIDTHSIZEMODECHANGED] is EventHandler eh`

however, `RowHeadersWidthSizeModeChanged` is not an `EventHandler`, but `DataGridViewAutoSizeModeEventHandle

[2020-05-30 16:12] hughbe opened #3372 "DataGridView.OnColumnHeadersHeightChanged forces creation of the handle"
* .NET Core Version:
Master

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

Compare `OnColumnHeadersHeightChanged` with
[code]

with `OnRowHeadersWidthChanged`
[code]

Notice that `OnRowHeadersWidthChanged` doesn't force the handle creation, as it guards `UpdateMouseEnteredCell` with `IsHandleCreated`.

However, `OnColumnHeadersHeightChanged` doesn't.

No

[2020-05-30 16:13] hughbe commented on #3372
Also, should we guard the whole check with `if (ColumnHeadersVisible)` to match what we do with `Row`?

/cc @russkie

[2020-05-31 22:35] #3067 closed

[2020-06-01 11:40] 15092368540 opened #3376 "DataGridView memory usage"
.NET Core 3.1.4

DataGridView memory usage so much and the first search takes too long time.

![DGTest](https://user-images.githubusercontent.com/49462433/83405636-8507d780-a43f-11ea-8d17-256fe38d7658.GIF)

Example:

[DGTest.ZIP](https://github.com/dotnet/winforms/files/4711037/DGTest.ZIP)

[2020-06-01 11:53] hughbe commented on #3376
your sample is missing `ANSI.txt`, could you share it?

[2020-06-01 12:17] hughbe commented on #3376
I'm not sure this is the most efficient way of doing this. The reason the memory is shooting up so much is because you are creating a new row for every single element in the list in this check:`if (dataGridView1.Rows[i].Cells[0].Value.ToString() == s1)`

[code]

If you look at the implementation, you can see that we clone a shared row each time we access it. See https://docs.microsoft.com/en-us/do

[2020-06-01 12:22] hughbe commented on #716
@RussKie any idea what these components are? issue doesn't really describe it

[2020-06-01 12:31] RussKie commented on #716
@merriemcgaw  @dreddy-work I don't appear have access to the linked doc, is there something else to do besides addressing referenced open issues - 714-721?

[2020-06-01 12:34] hughbe commented on #718
This can be closed, all tests added /cc @RussKie

[2020-06-01 12:35] hughbe commented on #717
This can be closed. Tests have been written for `DesignerActionItemCollection` and `DesignerActionListCollection`

[2020-06-01 12:38] hughbe commented on #715
Missing tests for
- ReferenceService
- StatusCommandUI
- InheritanceService
- UndoEngine
- StatusCommandUI

[2020-06-01 12:38] hughbe commented on #714
Actually, missing tests for
- InheritedPropertyDescriptor

[2020-06-01 13:07] 15092368540 commented on #3376
Thank you, Thank you!!

[2020-06-01 13:07] #3376 closed

[2020-06-01 16:48] DualBrain commented on #3356
Had to delete the files (and, thus, reset my UI prefs).

[2020-06-01 19:55] hughbe opened #3378 "DataGridView.TopLeftHeaderCell throws ArgumentOutOfRangeException on Handle creation"
* .NET Core Version:
Master

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Consider the following code:
[code]
Get the error
[code]

**Expected behavior:**
Shouldn't throw

**Minimal repro:**
See above

[2020-06-01 20:53] kirsan31 commented on #3378
Is it related with https://github.com/dotnet/winforms/issues/1830?

[2020-06-01 21:01] hughbe commented on #3378
I don’t think it’s the same cause but I agree TopLeftHeaderCell is rather buggy

[2020-06-01 21:36] Jean-Enrick opened #3379 "Not updating Minimum or Maximum property of NumericUpDown"
* .NET Core Version:
3.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
When changing the value of the Minimum or the Maximum property for a NumericUpDown control from the Properties menu, the designer file is not updated. When building the project, the properties will keep their default values of 0 and 100.

**Expected behavior:**
If the value Minimum or

[2020-06-01 22:40] paul1956 commented on #3356
@DualBrain I did too but I did see messages from others where the first or second option worked.

[2020-06-01 23:11] paul1956 commented on #3356
@RussKie for completeness there are actually many buttons missing {some I sent via feedback) compared to what you get after reset. The most frequently used/noticed is the Button.

[2020-06-02 00:21] merriemcgaw commented on #716
I think that's all we need to worry about. I can't recall anything else.

[2020-06-02 03:59] Marie-Shi commented on #3379
@Jean-Enrick There is a [Designer Issue](https://github.com/dotnet/winforms-designer/issues/1652) to track it and it has been fixed in preview release build. You can try to install the VS from here https://visualstudio.microsoft.com/vs/preview/ and try again.

[2020-06-02 05:49] #3353 closed

[2020-06-02 08:25] RussKie commented on #717
Thank you!

[2020-06-02 08:25] #717 closed

[2020-06-02 08:26] RussKie commented on #718
Thank you

[2020-06-02 08:26] #718 closed

[2020-06-02 08:33] RussKie commented on #3356
@merriemcgaw FYI

[2020-06-02 10:34] RussKie commented on #3091
This is still an issue...

[2020-06-02 13:31] RussKie commented on #1878
A follow up question - our accessibility object implementations are decorated with `[ComVisible(true)]`, e.g.:
https://github.com/dotnet/winforms/blob/e3f5000b7714c43671f1e0b86110d2993d697238/src/System.Windows.Forms/src/System/Windows/Forms/AccessibleObject.cs#L21-L46

Is this correct?

/cc: @M-Lipin @vladimir-krestov

[2020-06-02 13:38] weltkante commented on #1878
It doesn't cause problems because there's no `[Guid(...)]` specified which could be shared with Desktop Framework. The .NET Core runtime generates different GUIDs so it would work. But its not best practice as discussed above, you'd either remove `ComVisible(true)` or specify a (newly generated) Guid attribute. I think we still need to decide which of the two options to go for.

Given that most Ac

[2020-06-02 13:53] RussKie commented on #3379
Fixed in VS 16.6P4

[2020-06-02 13:53] #3379 closed

[2020-06-02 13:55] hughbe commented on #1878
FYI in https://github.com/dotnet/runtime/issues/37269

Types should not be marked as both imported from COM and made visible to COM.
 COM-visible types should be accessible and creatable
Types marked ComVisible(true) should be public, non-abstract, and have a public parameterless constructor.
CA1409 looks to have the same intent, but only specifically flagged the public parameterless constructor.

[2020-06-02 13:58] hughbe commented on #3091
Maybe we're not updated to latest arcade (https://github.com/dotnet/winforms/pull/3369)

[2020-06-02 14:06] RussKie commented on #3091
Hmm, I think you may be correct - it was merged 3 weeks ago, but the last we merged an update from arcade was 19 days ago...

[2020-06-02 14:08] hughbe commented on #3091
Yes I think that may be why I'm also still seeing the `Write-PipelineTelemetryError: not a valid identifier ` errors that were mentioned in https://github.com/dotnet/arcade/pull/5388#discussion_r431737627

[2020-06-02 14:14] RussKie commented on #1878
Is this the right reference?

[2020-06-02 14:16] RussKie commented on #1878
Ah found it under https://github.com/dotnet/runtime/issues/37039

[2020-06-02 14:35] RussKie commented on #3091
With #3369 merged, presume it fixed (second time lucky 😄).
Will re-open, if it's still not fixed.

[2020-06-02 14:35] #3091 closed

[2020-06-02 14:47] chrarnoldus commented on #2644
Fwiw there is a precendent for doing something like that: https://github.com/dotnet/runtime/issues/13933

Also even with an explicit interface implementation you can easily do a foreach loop using the generic enumerator by using the `AsEnumerable` extension method:

[code]

[2020-06-02 15:21] maikebing opened #3383 "Whether can reconsider supporting cross-platforms?"
Whether  can reconsider supporting cross-platforms, whether  can consider implementing mono/winforms under Linux and macos ?
Or  rename mono/winform to Microsoft.NET.Sdk.LinuxDesktop  and   packe in to  .net core sdk !

[2020-06-02 15:32] weltkante commented on #3383
You cannot easily implement WinForms on different platforms, it just forwards most of its controls to the Windows OS and thus is highly specific to how Windows works.

As far as I'm aware the official response to the multiplatform requests is [MAUI](https://github.com/dotnet/maui).

[2020-06-02 17:37] JeremyKuhne commented on #1878
I'd prefer removing the `[ComVisible]` attributes on these accessibility objects. I'd rather try and shed this and consider pulling it back if someone genuinely has a need for it (highly unlikely). If we can't come up with a semi-plausible use case for things with `[ComVisible]` I'd rather see us remove the attribute. It is likely to save us more time in the long run by not having to keep analyzin

[2020-06-03 00:27] DualBrain commented on #3356
To confirm, I tried the first suggestion and after it didn't resolve the problem, I then had to proceed to removing the batch of files.  Upon doing so, was able to see the controls.

[2020-06-03 01:04] #3229 closed

[2020-06-03 01:59] #2655 closed

[2020-06-03 02:33] RussKie commented on #1878
We had a private discussion with Jeremy, and concluded that we should remove all `[ComVisible]` decorations.
If/when we hear from our customers that some use-case requires the decoration - we'll add it back, and have the use-case documented.

@weltkante please let me know if you want to do it, or I'll set it up for grabs.
Thank you

[2020-06-03 03:24] RussKie commented on #3378
Which test case is causing the crash? Is this a test bug or an implementation bug?

[2020-06-03 04:59] 199621616 commented on #1878
@JeremyKuhne
示例一：医疗保险系统对接的COM互操作：
保险系统接口规范提供PB调用示例：

//创建地纬嵌入式接口对象，调用com组件
int vi   Oleobject sei                                 
sei =create Oleobject       //创建ole对象seiproxy
vi=   sei.connecttonewobject('sei3') //连接com组件   if vi <> 0 then      
messagebox('错误','创建地纬嵌入式接口sei对象失败！')      
return    end if

我们使用.NetFramework4.6.1调用方式：
                Type type = Type.GetTypeFromProgID("sei3", true

[2020-06-03 06:11] RussKie commented on #3383
Cross-platform support is not on our roadmap in the foreseeable future, sorry.
There are numerous technical challenges, some of which @weltkante mentioned above, that added together don't make a compelling business case.

[2020-06-03 06:11] #3383 closed

[2020-06-03 06:11] Zheng-Li01 commented on #3354
Verified the issue with latest .NET Core SDK 5.0.100-preview6.20302.5, the crash issue has been fixed that the project provided by customer can build & run successfully. See below GIF.
![UpdateCoreIssue](https://user-images.githubusercontent.com/38325459/83601844-fe203f80-a5a3-11ea-99e7-bdf08741f629.gif)

[2020-06-03 06:12] RussKie commented on #3354
Thank you @Zheng-Li01

[2020-06-03 06:15] Wonderdch opened #3386 "Dead link"
**Problem description:**

Page: [Designing Forms](https://github.com/dotnet/winforms/blob/master/Documentation/getting-started.md#designing-forms)
Link: [Windows Forms Designer Documentation.](https://github.com/dotnet/winforms/blob/master/Documentation/Documentation/winforms-designer.md)

[2020-06-03 06:54] weltkante commented on #1878
@RussKie I'll put a PR up later today

[2020-06-03 07:12] RussKie commented on #1878
Awesome 👍

[2020-06-03 07:20] RussKie commented on #3386
Thank you, I've corrected the link.

[2020-06-03 07:20] #3386 closed

[2020-06-03 08:55] hughbe commented on #3378
The test is `DataGridViewHeaderCell_GetInheritedState_InvokeTopLeftHeaderCellWithHandle_ReturnsExpected`.
https://github.com/dotnet/winforms/blob/7eff6d2f762a5f47b6bd6f3432a5225753f055de/src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewHeaderCellTests.cs#L2945-L2988

I think this is an implementation bug. The reason I consider this is because the `RowIndex` and `ColumnInde

[2020-06-03 09:40] Marie-Shi commented on #3272
Verified this bug with .Net Core 5.0.100-preview.6.20302.5, it is fixed, now MenuStrip arrow key navigation goes in the correct direction.
![a](https://user-images.githubusercontent.com/45864017/83621365-2a968480-a5c1-11ea-88dd-0d7113d4c144.gif)

[2020-06-03 10:35] weltkante commented on #3317
ping @jeffschwMSFT @RussKie

[2020-06-03 10:38] RussKie commented on #3272
Thank you @Marie-Shi

[2020-06-03 10:38] weltkante commented on #3271
This needs reevaluation now that the xunit.stafact was updated. We need to know if these test failures still happen on CI. If they went away for `IPictureTests.GetPictureFromIPictureDisp` then `IPictureTests.GetPictureFromIPictureDisp` also needs to be WinFormsFact and this can be closed.

[2020-06-03 11:07] weltkante commented on #3271
If #3013 is merged before this is analyzed the above assumptions no longer hold, the tests will be turned back to StaFact and OleInitialize won't be called.

[2020-06-03 18:21] JeremyKuhne commented on #1878
@199621616 I've created https://github.com/dotnet/runtime/issues/37362 to follow up on your [comment](https://github.com/dotnet/winforms/issues/1878#issuecomment-637953220) as it appears that you have a general COM interop issue.

cc: @AaronRobinsonMSFT

[2020-06-03 23:25] #2656 closed

[2020-06-04 00:50] dreddy-work opened #3390 "Winforms child window is not scaled according to the DPI of the moitor."
* Have you experienced this same bug with .NET Framework?:

Yes

**Problem description:**

Winfrom application is unable to render the child window appropriately according to the current monitor DPI when it's DpiAwareness is set to PermonitorV2. Also, when the application is dragged from one monitor to another with different DPI setting and then a new child window is opened, the child window is no

[2020-06-04 07:14] weltkante commented on #2926
with xunit.stafact updated and PR #3389 improving setup of local machines it may be possible to close this now?

workflow for setting up local x86:
- `.\restore.cmd`
- `.\restore.cmd -platform x86` (fails after installing x86 runtime but you can ignore that)
- `.\build.cmd`
- `.\start-vs.cmd`

I can now select x86 in the test panel and tests execute

[2020-06-04 07:55] RussKie commented on #2926
`build.cmd` does the restore as well, so you can save calling `restore.cmd`:
https://github.com/dotnet/winforms/blob/c517fac6ad6b50aa8b2bdf04b230c6fc74de957a/Restore.cmd#L2
https://github.com/dotnet/winforms/blob/c517fac6ad6b50aa8b2bdf04b230c6fc74de957a/build.cmd#L2

Invoking commands with `-platform x86` don't work - the build looks for "x86|Debug" or "x86|Release" configurations, which we don't

[2020-06-04 08:09] hughbe opened #3391 "ErrorProviderAccessibleObjectTests.Ctor tests flakey"
* .NET Core Version:
Master

* Have you experienced this same bug with .NET Framework?:
N/A

**Problem description:**
In https://github.com/dotnet/winforms/pull/3366
[code]

[2020-06-04 08:19] RussKie commented on #3391
Yes, just saw it too. I haven't seen it before... 😕

[2020-06-04 08:21] #3182 closed

[2020-06-04 08:23] RussKie commented on #3182
@filipnavara how much of an issue is this for you if the fix isn't ported to 3.1?

[2020-06-04 08:33] weltkante commented on #2926
It works enough to get the x86 runtime installed, which is all I wanted 😄

[2020-06-04 08:36] filipnavara commented on #3182
We are evaluating the impact at the moment with a group of our beta testers.

It is certainly a blocker for us for using our automated testing (using the Ranorex tool). That's something we can live with by splitting the tests into small chunks and terminating the test process between them.

The bigger problem would be if it caused unintentional out-of-memory errors for customers. Unfortunately we

[2020-06-04 09:55] weltkante commented on #3391
There is a static weak reference list in play here, so this test interacts with all other tests ever having entered something in that list. Normally this is supposed to be designed threadsafe & cleanup correctly in response to GC.

Looking at the implementation I cannot see any threadsafety logic like locks, so maybe this is just a race condition triggered in the middle of cleanup when having mult

[2020-06-04 10:11] RussKie commented on #3182
@merriemcgaw

[2020-06-04 11:10] weltkante commented on #3182
When I've been debugging WinForms going through automation API was the common case not the exception. Windows itself is very happy to use UI automation for various purposes, for example the onscreen keyboard will go through the automation API, there are probably more common tools that use it but I'm not actively aware of them.

[2020-06-04 14:26] M-Lipin opened #3393 "Need to cover the UiaDisconnectProvider call with test scenario"
* .NET Core Version:

5.0 after merging https://github.com/dotnet/winforms/pull/3308

* Have you experienced this same bug with .NET Framework?:

No

**Problem description:**

UiaDisconnectProvider call was added to Control.ReleaseUiaProvider method. This introduces releasing accessibility objects but this functionality is not covered be test. Need to add this.

**Expected behavior:**
UiaDisconnec

[2020-06-04 20:42] weltkante commented on #3391
Randomly happened to me locally as well, not limited to CI, but seems to be quite rare to trigger (at least for me) so I couldn't catch it under a debugger yet. I still think the above explanation of not being threadsafe makes most sense of what could be the cause.

While investigating I also found `ErrorProviderAccessibleObjectTests` constructor creates controls in the test-class without disposin

[2020-06-04 20:44] weltkante commented on #3361
While looking at #3391 I noticed `ErrorProviderAccessibleObjectTests` test class constructor creates controls which are apparently not disposed. Fix is to implement IDisposable on the test class.

I'm surprised this doesn't appear in my list above, seems the GC never ran during my experimenting, maybe the test executed late and process terminated before GC collected these.

[2020-06-04 23:20] merriemcgaw commented on #2969
I think we are going to take this for .NET 5, but for 3.1 I don't think we're going to take it until/unless we can determine that there is a repro that we could expect to hit occasionally. If you could provide the binary again, if we inspect it in ILSpy and find a more common repro I'll happily reconsider this for 3.1.

[2020-06-04 23:29] merriemcgaw commented on #3356
@dreddy-work is working on figuring out why our designer install is corrupting the ToolBox. We're taking a look and it's a priority.

[2020-06-04 23:37] merriemcgaw commented on #3309
@Jessie-Zhang01 do you know when this regressed?

[2020-06-04 23:40] dreddy-work commented on #3356
@paul1956 , I am trying to repro this scenario locally, Can you please add the details on how you entered in this state of missing controls?  A straight winforms netcore 3.1 application is working just fine. I will also be looking into feedback tickets around this issue to see if i can get more details on repro scenario.

[2020-06-04 23:42] merriemcgaw commented on #3301
This works for me to continue to get the ListView fully supported.

[2020-06-04 23:50] merriemcgaw commented on #3291
@Zheng-Li01 - is this designer or runtime?

[2020-06-04 23:56] merriemcgaw commented on #3247
We will take a look at this more closely when Windows brings the UTF-8 stuff to GA.

[2020-06-05 00:17] paul1956 commented on #3356
@dreddy-work I did not do anything except try to add a Button to a Core 3.1 VB form and noticed it was missing (along with CheckBox and a few others), then checked C# Form and it was also missing and once it is fixed (which has different solutions for different people) it hasn't happened again. I also noticed it missing in 16.6 and needed to fix it there as well. The Form Designer has not really w

[2020-06-05 01:01] weltkante commented on #3309
Thats a [pretty old regression](https://github.com/dotnet/winforms/pull/810/files#diff-471c11fc7a13e1b5e23965f32037d55fR174-R186), PR #810, the ImageEditor immediately disposes the stream of the image it just has loaded. An Image holds onto the stream so that leads to weird bugs later on.

repro code (by coping the invocation code from ImageEditor)
[code]

[2020-06-05 01:27] Jessie-Zhang01 commented on #3309
@merriemcgaw this should be not a regression issue, it also can reproduce on .Net Core 3.1 and .Net Core 3.0.

[2020-06-05 01:52] Zheng-Li01 commented on #3291
@merriemcgaw, this should be runtime issue, due to the issue also can repro when setting the character length is grater than 16 by using code for FileName attribute.

[2020-06-05 02:43] Amy-Li03 opened #3395 "The MDI Child form does not render correctly at High DPI"
* .NET Core Version:
.NET 5.0.100-preview.6.20302.5

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
When  keeping the app running and changing the DPI from 100% to 175% or higher, the header of this maximized Mdi child windows shoule not be visible and label control in MDI child window should not be cropped.
But if we running the app on 100% DPI, then stop

[2020-06-05 02:57] RussKie commented on #3309
This is a regression from .NET Framework though, if it's not reproducible there.

[2020-06-05 03:00] #3257 closed

[2020-06-05 03:49] RussKie commented on #3361
We're stress testing the runtime and the tests we've (👀 @ @hughbe) written. Whilst it is somewhat frustrating, I think, overall it has been a very good learning for all of us. I expect to find more bugs, but I think we're getting better at it :)
To top it off we found few genuine bugs too.

[2020-06-05 03:50] RussKie commented on #3361
I'm happy with partial fixes, less to worry about :)

[2020-06-05 06:32] kirsan31 commented on #3395
Currently .net HDPI support is not the best one, and will be completely [overhaul](https://github.com/dotnet/winforms/issues/3202#issuecomment-626072014) (I hope :) ).
And statement above is about system DPI (you need restart app on W10 and logout/login on W7). All other HDPI support version is nearly not working at all (At least for MDI) :(

[2020-06-05 06:56] weltkante commented on #3309
sorry, above repro code had the using removed, which fixes the bug, corrected the snippet

[2020-06-05 08:14] weltkante commented on #3359
Actually this is less obvious to fix than I thought, the quickest solution I can come up with is ugly: Environment.Is64BitProcess ? (IntPtr)0xFFFFFFFF : (IntPtr)(-1) because 0xFFFFFFFF is no valid 32 bit IntPtr but -1 is sign extended and differs in 64 bit.

[2020-06-05 08:20] RussKie commented on #3359
I'm seeing if this'd work:
[code]

[2020-06-05 08:36] RussKie commented on #3359
Doesn't work as is:
[code]

I guess we'd need to use the ugly version

[2020-06-05 09:12] RussKie commented on #3358
Another IOE in Release:
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=672867&view=results

[2020-06-05 09:19] weltkante commented on #3358
I had that same `ImageCollection_AddStrip_InvokeWithHandle_Success` test fail locally reporting that `AddStrip` loaded zero images (expected one image)

These failures make no sense, makes memory corruption the most likely cause.

[2020-06-05 09:41] Amy-Li03 opened #3399 "RichTextBox doesn't work right when hidden text is used"
* .NET Core Version:
.NET SDK 5.0.100-preview.7.20304.9

* Have you experienced this same bug with .NET Framework?:
  1. This issue can reproduce from .NET 4.7 to .NET 4.8 latest build.
  2. This issue cannot reproduce in versions prior to .NET 4.7.

**Problem description:**
When insert hidden text (e.g. "{\rtf1\ansi{Sample for {\v HIDDEN }text}}") to the RTF fragment, the RichTextBox's Text prope

[2020-06-05 09:47] weltkante commented on #3399
May want to check on Desktop Framework if [toggling the switch](https://github.com/dotnet/winforms/issues/1631#issuecomment-632232584) for the RTF control version changes behavior. Could have been an intentional change in the RTF control itself?

[2020-06-05 10:24] #3359 closed

[2020-06-05 10:26] RussKie commented on #3359
Thank you @weltkante, I had a few goes at it, but ultimately converged to your suggestion

[2020-06-05 13:59] mlsomers opened #3402 "Child items of System.Windows.Forms.StatusStrip are not added to the strip (designer issue)"
ToolStripStatusLabel's (and maybe other items, not tested) are not visible, nither in the designer nor in runtime. It turns out they are never assigned to the strip's Items collection. A workaround (that only works in runtime) is to add them manually after `InitializeComponent`:
[code]

Related artifacts:
- Items need to be added using the Items property via the PropertyGrid (not a big issue).
- C

[2020-06-05 18:26] weltkante commented on #3361
PR for the simple cases is up.

Also found a control leak outside unit tests, ColorDialog caches its [ColorUI](https://github.com/dotnet/winforms/blob/f495965fd48e366bb85254574b09c820b68eeb8b/src/System.Windows.Forms.Design/src/System/Drawing/Design/ColorEditor.cs#L25) popup but never disposes it, and the class is not disposable either.

Currently this is a liability for unit testing, disposing of

[2020-06-05 19:11] DualBrain commented on #3356
I don't know if it helps or not, but I recently started fresh with a new machine.  Prior to v16.6 update, it was a fresh install with the only real addition related to VS is that of the latest DevExpress component install.  I then updated to 16.6.  Also, .NET WinForms projects are also still actively being developed on this same machine.

[2020-06-05 20:27] weltkante commented on #3309
For the record, `ImageListImageEditor` has the [same regression](https://github.com/dotnet/winforms/commit/265fe3166ba40c25b90d3a8c91ad8967b3fbf902#diff-030daa6425d8e7386e97284c9fac7e44L121-R114), introduced in PR #1299

[2020-06-05 22:18] paul1956 commented on #3356
I have never installed DevExpress component (I do have 2 project local components that I wrote). Since I and others used feedback to initially report you should be able to see what add-ons are installed.

[2020-06-07 08:35] hughbe commented on #3358
Also failure in `ImageCollection_IListItem_SetWithHandle_GetReturnsExpected`
[code]

[2020-06-07 09:28] hughbe opened #3406 "ComboBoxAccessibleObject_ExpandCollapse_Set_CollapsedState failing"
* .NET Core Version:
Master

* Have you experienced this same bug with .NET Framework?:
N/A

**Problem description:**
[code]
https://dev.azure.com/dnceng/public/_build/results?buildId=674902&view=ms.vss-test-web.build-test-results-tab&runId=20913492&resultId=101913&paneView=debug

[2020-06-08 07:47] vladimir-krestov opened #3410 "Needs to implement UIA_LegacyIAccessiblePattern for all control accessible objects"
* .NET Core Version: 5.0

* Have you experienced this same bug with .NET Framework?:  Yes

**Problem description:**
- If to set SupportsUiaProviders as true for any control it will lose LegacyIAccessiblePattern implementation. In this case, you can't set accessible Role, Name, and other properties for this control.

**Expected behavior:**
- All control accessible objects support LegacyIAccessibleP

[2020-06-08 08:50] Zheng-Li01 opened #3411 "Winforms child window is not scaled according to the DPI of the monitor on signal monitor"
* Have you experienced this same bug with .NET Framework?:
Yes

* .NET Core Version:
Latest .net core sdk 5.0 preview7 20307.3

**More info:**
The issue also can reproduce when changing the Display Scale and Layout settings from 300% to 100% of the monitor in which the application is running.

**Problem description:**
Winform application is unable to render the child window appropriately according

[2020-06-08 14:08] sneusse commented on #2058
I got the same issue in .Net Core 3.1

Here is a hacky workaround - maybe you'll need additional bounds checks, maybe also RTL will be broken, who knows. I'ts good enough for my use-case so I thought I'll share it here.

The behaviour will be a bit different as the submenu will always open at the cursor location (actually I like this behaviour more :) ). Be sure to use the provided extension metho

[2020-06-08 14:31] 0x084E commented on #2058
II'll need a little more logic, but overriding SetBoundsCore was a nice hint. Thanks for sharing!

[2020-06-08 23:56] RussKie commented on #3406
Another one here - https://dev.azure.com/dnceng/public/_build/results?buildId=676108&view=results

[2020-06-09 02:57] docfresh commented on #3345
Yes, that is correct.

[2020-06-09 03:17] #3390 closed

[2020-06-09 05:36] #3309 closed

[2020-06-09 06:10] RussKie commented on #3297
Not sure if it is related, but just observed a failure in https://dev.azure.com/dnceng/public/_build/results?buildId=677815&view=results
[code]

Very little information unfortunately:
[code]

[2020-06-09 08:27] RussKie commented on #3358
I can't seem to repro this issue locally...
Looking through the code all tests appear to be failing at the same point - `System.Windows.Forms.ImageList.AddToHandle(Bitmap bitmap) in /_/src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs:line 414`.

I think it fails here:
https://github.com/dotnet/winforms/blob/d4cfc2d9d6cb20984761fc0cf5eb8efd70c2d810/src/System.Windows.Forms/src/System/

[2020-06-09 08:42] hughbe commented on #3358
This is really weird. I know its not related to your theory here, but could @weltkante's comment here https://github.com/dotnet/winforms/pull/3324#discussion_r429144722 cause this?

Perhaps there's some odd/incorrect/overlapping memory copying happening?

[2020-06-09 08:55] weltkante commented on #3358
I really doubt its a bug in the ImageList code itself, QueryInterface failing would mean the object is corrupted (playing into the memory corruption idea) or already released (which I'd expect to be handled gracefully).

Sure, you can cause arbitrary damage by bad memory copying. But I don't think that particular linked comment was right, later in the discussion it became clear that the caller mad

[2020-06-09 10:45] RussKie commented on #3358
@MattGal we seem to have "progressed" to level 2 of test nightmares, tests randomly fail with no clear indication of the underlying cause.
Is [collecting user-mode memory dumps](https://docs.microsoft.com/en-us/windows/win32/wer/collecting-user-mode-dumps) a possibility on CI agents (it requires HKLM registry settings)?

[2020-06-09 11:27] RussKie commented on #3358
Looking at a log for a failed build in https://github.com/dotnet/winforms/pull/3224#issuecomment-641226644 it appears we may have a a minidump (snip):
[code]

A question is whether we get a mini dump when a test runner crashes.

[2020-06-09 11:28] hughbe commented on #3358
I thought `RemoteExecutor` is disabled in winforms?

[2020-06-09 11:29] RussKie commented on #3358
We disabled it, but this is a new test being developed that hasn't been skipped.
I've actually wondered whether we could re-enable RE, but apparently not :(

[2020-06-09 11:30] weltkante commented on #3358
Do you have access to it? Its not in the artifact zip you can publically download (it just has log and binlog files)

[2020-06-09 11:32] weltkante commented on #3358
no

[2020-06-09 12:01] mavnorthwind commented on #3399
Thanks for pointing out this switch. While it can be used to mitigate the problem in that RichTextBox will still use Rich Edit 3.0 (which I had to do with my own workaround as well), it doesn't really solve the problem stemming from Rich Edit 4.1.
Rich Edit 4.1 supports TSF and has vastly better table handling, so of course you'd want to utilize the current version if it could behave like previous

[2020-06-09 12:04] weltkante commented on #3399
Yes I was pointing out to check the switch because if the issue is in the native control then WinForms can't do much about it besides notifying the owners of the control, the source is not in the WinForms repo.

[2020-06-09 12:47] weltkante commented on #3406
@RussKie I'm confused why the CI build you linked is considered successful even though a test failed (also in the "run unit test" logs there is no output of failed tests either). Did you manually trigger a rerun and it overwrote part of the CI output?

[2020-06-09 13:44] weltkante commented on #3297
Yeah I'm getting that locally as well from time to time, stack trace looks like its the same root cause (disposed WFSC) but probably not doing it intentionally because then it would fail reliably. For what its worth I actually captured this one in a [full dump](https://1drv.ms/u/s!AuW3VU_s-jxTgeZiBQXq_XBi0_CLkg?e=Bh2GhA) while trying to repro the other random crashes.

I don't know if its possible

[2020-06-09 14:29] weltkante commented on #3358
Turned on the dump collection flags locally and have been repeating testruns for a few hours, but I got a [full crash dump](https://1drv.ms/u/s!AuW3VU_s-jxTgeZj9YzaRb7aZlSRCw?e=0cBE1T) now. No entry in log but the crashing test is `List​View_State​Image​List_Set​With​Handle​With​Non​Null​Old​Value_Get​Returns​Expected`, panic crash due to memory corruption, so yeah my guess was probably right.

[2020-06-09 15:11] mavnorthwind commented on #3399
After browsing through the reference source a bit and playing around with various ways of accessing the RichEdit's text I think I found something:
When you use EM_GETTEXTEX to get the text contents, you can specify whether or not you want hidden text (there's a flag GT_NOHIDDENTEXT).
This flag is ignored by RichEdit 2.0/3.0 but honored by RichEdit 4.1.

So my guess is that this bug was fixed with

[2020-06-09 16:00] MattGal commented on #3358
Not only is it a possibility, we've already done it for you!  In fact for the run in question I think [this is a dump... doesn't seem to have your specific failure?](https://helixri107v0xdeko0k025g8.blob.core.windows.net/results-d76a85fe0f0d4801bb/5cf69245-042e-412f-965e-09ac971484cf/dotnet.exe.3284.dmp?sv=2019-02-02&se=2020-09-07T12%3A45%3A18Z&sr=c&sp=rl&sig=hX4iMcRy4B6Nnrt%2Boa9UaauEyW1%2FEOvzY6

[2020-06-09 19:35] hughbe commented on #3358
I'm not sure if this is release specific - see crash in https://dev.azure.com/dnceng/public/_build/results?buildId=678166&view=logs&jobId=1f132584-ab08-5fbf-e5d0-5685de454342

System​.Windows​.Forms​.Tests​.Html​Document​Tests​.Html​Document​_Link​Color​_Get​Custom​Value​On​Body​_Returns​Expected
all other are are either starting up the thread or waiting to create their first handle, so most likel

[2020-06-09 19:39] merriemcgaw commented on #3356
Thanks for the suggestions and data points all! We're prioritizing this issue because it's not a fun way to start trying to work with WinForms Core apps!

[2020-06-09 19:44] merriemcgaw commented on #3291
Ah, I see. Thanks @Zheng-Li01 - can you update repro steps to indicate that? It would be helpful since the gifs first made us think designer 🙂

[2020-06-09 21:49] weltkante commented on #3358
@RussKie might want to learn where to find those ;)

I think thats a misunderstanding, its just failing very unreliably. Took me hours of local test runs to fail once with dumps enabled, but then it failed twice in a row (second dump not yet uploaded)

Definitely not release-only, I had it 3 times in debug build test runs so far, one of them being the dump I linked above.

Its easy to misread this

[2020-06-09 21:55] MattGal commented on #3358
Since these are builds you'll have to get Kusto access and use the AzDO API to figure out the "orchestration id" of your job to get this working.  It's a bit tricky (it'd be free if your tests ran on helix test machines).  @RussKie let me know if you want to send some instructions (and whether you have Kusto read access to engsrvprod).

[2020-06-09 21:59] weltkante opened #3418 "Reduce UI test congestion"
**Is your feature request related to a problem? Please describe.**
Looking at dumps of test runs (e.g. during #3358) or breaking test runs in a debugger it appears there are dozens of test threads stuck starting up or winding down.

Generally there seems to be a lot of congestion on the WinForms side.

I don't know if reducing congestion makes thread runs complete faster, but it certainly will mak

[2020-06-09 22:36] RussKie commented on #3358
Matt showed me some magic tricks to look up dumps. Now we need to wait for the "right" memory dump to come along.

[2020-06-09 22:43] AArnott commented on #3418
What is this global lock? Can you share a callstack?

I don't suppose it's Xunit.StaFact's role to control test execution concurrency, but if it's not cleaning up threads quickly after each test is done, then that sounds like a bug.

[2020-06-09 23:15] weltkante commented on #3418
I didn't investigate closely yet, but the global lock is the one WinForms puts around window handle creation. WinForms is not really designed for multiple UI threads so that probably wasn't a point of optimization in the past, technically it could probably be redesigned to be more granular per-ui-thread.

<details><summary>thread creation</summary>

[code]

</details>

- tons of threads wait in th

[2020-06-10 02:50] Zheng-Li01 commented on #3291
@merriemcgaw, sure.

Have update the repro steps & repro GIF/project that reproduce the issue by using code.

[2020-06-10 03:57] RussKie commented on #3358
I've downloaded the memory dump from https://dev.azure.com/dnceng/public/_build/results?buildId=678965&view=results
I'm seeing very much the same what @weltkante saw earlier in his dump - dozens (if not hundreds) of threads - most of which are queued up to create a handle, quite a few threads are pumping messages before their exits.

The immediate crash is a result of x-thread access:
![image](htt

[2020-06-10 04:15] RussKie commented on #3399
You're welcome to send us a PR with a fix too

[2020-06-10 04:36] RussKie commented on #3297
Related https://github.com/dotnet/winforms/issues/3358#issuecomment-641705284

[2020-06-10 05:04] RussKie commented on #3406
I did re-run it, and hence it is green now.

![image](https://user-images.githubusercontent.com/4403806/84227514-f9b9d080-ab27-11ea-839b-2a2942040993.png)

https://dev.azure.com/dnceng/public/_build/results?buildId=676108&view=logs&j=1f132584-ab08-5fbf-e5d0-5685de454342&s=ff05ad62-bb9a-53b6-ce9f-72f329a63e7c
But with a re-run all logs are overwritten sadly.

I've checked the failed build didn't ha

[2020-06-10 07:11] kirsan31 commented on #3032
@RussKie Hm, i see no mentions of any fixes for WinForms in 3.1.**5** release notes. I have checked this issue and https://github.com/dotnet/winforms/issues/3022 - they not fixed in 3.1.5 :((((
![image](https://user-images.githubusercontent.com/17767561/84237875-c87ad980-ab02-11ea-801d-bed7a3a9e196.png)

[2020-06-10 07:23] weltkante commented on #3406
You only get them for actual crashes, not for ordinary test failures.

[2020-06-10 07:26] weltkante commented on #3358
I doubt this is connected to the memory corruption, unless it happened to corrupt a SynchronizationContext. Trying to figure out which thread/task was failing in #3297 is a different investigation. It may be possible to figure out the originating thread/task by inspecting stack variables or heap objects. This doesn't help for the memory corruption investigation though.

[2020-06-10 07:28] RussKie commented on #3032
Sorry, looks like it didn't make it into 3.1.5. But it definitely made it into 3.1.6
![image](https://user-images.githubusercontent.com/4403806/84239356-b703f280-ab3f-11ea-944f-125a1ad815a3.png)

[2020-06-10 07:59] SergeySmirnov-Akvelon opened #3419 "The "RaiseAutomationEvent" method doesn't check "IsHandleCreated" flag."
- .NET Core Version:
  .NET 5 P4

**Problem description:**

https://github.com/dotnet/winforms/pull/3228#discussion_r437081185

Use of `RaiseAutomationEvent`, `RaiseAutomationPropertyChangedEvent`, etc. requires guards again a non-existing handle here, else we'll force a creation. However it is easy to overlook this fact, so the guard `if (IsHandleCreated)` must be implemented in those events rath

[2020-06-10 15:59] vladimir-krestov opened #3421 "Epic - [Accessibility] Implement UIA provider for all controls"
* Base issue: #2146
* Base PR: #3037

* .NET Core Version: 6.0

**Problem description:**
- Many .Net Core WinForms controls support `MSAA` proxy, which is unmanaged for us. These controls don't support `UIA` provider. This doesn't allow us to change some Accessibility properties or methods to fix some Accessibility bugs. We can't manage our AccessibleObjects fully.

**Expected behavior:**
- All .N

[2020-06-10 23:09] RussKie commented on #3062
Copying from https://github.com/dotnet/winforms/pull/3308#issuecomment-632522821

I think these are the culprits:
https://github.com/dotnet/winforms/blob/c4e9accbc563541f17dc5ee3f9dc9ee11ce11d5f/src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs#L27-L42

I think it should be something like this:
[code]

BUT! Then `Handle.set` needs to be re-written, and I don't kn

[2020-06-11 04:00] #3262 closed

[2020-06-11 06:18] Vino-Wang opened #3424 "No exception setting an invalid value for `ListViewGroupCollapsedState`"
* .NET Core Version:
.NET SDK 5.0.100-preview.6.20309.18

* Have you experienced this same bug with .NET Framework?:
No

**More Info:**
This is a new supported property(new API: CollapsedState) in .NET 5.0 Preview 6, here is the pull: https://github.com/dotnet/winforms/pull/3155

**Problem description:**
No exception is thrown when setting an invalid value(e.g. -1, 3, 100) for Enum type ‘ListViewG

[2020-06-11 06:56] Ashley-Li opened #3425 "The SelectedImageIndex value is not automatically set to -1 after set the SelectedImageKey property to an empty string"
*  .NET Core Version:
.NET 5.0.100-preview.6.20309.18 from master branch

* .More info
This is a regression issue, this issue cannot reproduce in .NET 5.0.100-preview.5.20272.9 build.
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The SelectedImageKey and SelectedImageIndex properties are mutually exclusive; if one is set, the other is ignored. But now if s

[2020-06-11 07:31] #3410 closed

[2020-06-11 07:54] Ashley-Li commented on #3353
Verified this issue with .NET 5.0.100-preview.6.20276.4,this issue has been fixed. Run the attached project and click the button1,the ImageIndex value is automatically set to -1 after set the ImageKey property to an empty string.Please check below result：
![image](https://user-images.githubusercontent.com/56664234/84359696-97320480-abfb-11ea-8bba-ede361f6071d.png)

[2020-06-11 08:12] RussKie commented on #3358
After merging #3423, which built successfully, the master build has failed - https://dev.azure.com/dnceng/public/_build/results?buildId=682086&view=results

I've downloaded the memdump, and it failed with:
[code]
![image](https://user-images.githubusercontent.com/4403806/84358312-4ece1300-ac0a-11ea-8b82-bb1cc24664c9.png)

Not quite sure what to look for though...

[2020-06-11 08:44] weltkante commented on #3358
I'll do the same process again and hope this reduces to a single test, seems WebBrowser wasn't the only issue.

[2020-06-11 08:55] hughbe commented on #3358
I know that the web browser clsid is being used in AxHost tests?

[2020-06-11 10:00] #3319 closed

[2020-06-11 11:07] weltkante commented on #3425
Related to #3353 just another property?

[2020-06-11 12:32] PasaOpasen opened #3428 "numericUpDown goes to default parameters in the time of building"
* .NET Core Version:
.NET Core 3.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

numericUpDown parameters (Value exactly) go to default in the time of building. I choose current params, but after building there are default params and after closing of application there are same params in constuctor

To reproduce
1. clone [this repository](https://github.c

[2020-06-11 13:06] weltkante commented on #3358
Thats unfortunate, sounds like there is another source of corruption then. I extended the PR to cover AxHost mentioned above, but I've not seen AxHost tests running in parallel with the other ones, so there still may be something else than WebBrowser.

Unfortunately I could not yet get local test runs to crash on the current master branch.

You'll want to look at all the threads being named after

[2020-06-11 15:02] snhg opened #3430 "System.Windows.Forms.ListView.HideSelection issue with net48 migration"
* .NET Version:
.NET 4.8

**Problem description:**

Migrated winforms project from net472 to net48 and found that one of the control using System.Windows.Forms.ListView was not looking good. found that the HideSelection was set to False even though anywhere in my code its not set and left default to "true".

**Expected behavior:**
when the property not set in Designer it should be by default "true

[2020-06-11 17:09] vladimir-krestov commented on #3062
We don't need to change `Handle.get` because `_handle` is set when creating control `Handle` (`OnHandleCreated` method).
And if `Handle` is created then (`Owner.Handle  ==  _handle`).

[2020-06-11 23:26] merriemcgaw commented on #3345
Thanks for the suggestion! I can raise this issue on the designer side and if there are enough people requesting the feature then we can look at getting something in the designer. One question - are you referring to the Core Designer or the .NET Framework Designer?

[2020-06-11 23:29] merriemcgaw commented on #3313
@KlausLoeffelmann can you take a quick look?

[2020-06-11 23:30] RussKie commented on #3428
@KlausLoeffelmann could you please check this one.

[2020-06-11 23:32] merriemcgaw commented on #3430
@Tanya-Solyanik can you check to see if there was something with an Accessibility fix which could impact that?

[2020-06-11 23:34] merriemcgaw commented on #3430
@snhg Could you confirm whether this is back to the right value when you set the target back to 4.7.2?

[2020-06-11 23:44] merriemcgaw commented on #3421
@RussKie  - let's take a look at Win32 docs about which UIA patterns are really needed on which controls.

[2020-06-11 23:50] KlausLoeffelmann opened #3437 "Setting a TreeNode to a certain position in a TreeNodeCollection is inserting it rather than replacing the existing one."
**.NET Core Version:**
All Versions from NetFx2.0 to CoreFx5.0

**Have you experienced this same bug with .NET Framework?**
Yes

**Problem description:**
Assigning a TreeNode object to the TreeNodeCollection Index property inserts it to the underlying Windows TreeView control rather than updating the existing, and causes the .NET Nodes collection no longer to be in sync with the Windows TreeView c

[2020-06-11 23:53] docfresh commented on #3345
Core Designer.    It'd also be nice in .NET Framework Designer, but if I have to pick one, Core.

[2020-06-11 23:53] merriemcgaw commented on #3411
@dreddy-work - FYI

[2020-06-11 23:59] merriemcgaw commented on #3402
@Olina-Zhang can we get an copy of this issue in the designer repo? It looks like the designer hasn't generated the code for this. If you can take a close look at the control and file any related issues (with the code generated) that would be super helpful.

[2020-06-12 00:02] merriemcgaw commented on #3395
@Amy-Li03, did you turn on PerMonitor awareness for this test. @dreddy-work - was this covered in your recent fix?

[2020-06-12 01:34] Ashley-Li commented on #3425
@weltkante The two issues have the same phenomenon but different properties, #[3353 ](https://github.com/dotnet/winforms/issues/3353)about ImageIndex and this issue about SelectedImageIndex.

[2020-06-12 02:20] RussKie commented on #3358
We did a bit of scouting around with Jeremy looking through the code in this stack. I'll try to set up a step-through environment, but from a high level it looks like `ImageList_Create` creates an instance of `CImageList` to casts it via [`QueryInterface`](https://docs.microsoft.com/en-us/windows/win32/api/unknwn/nf-unknwn-iunknown-queryinterface(refiid_void)) (not quite sure what `riid` is), and

[2020-06-12 02:30] snhg commented on #3430
Tried some tests on on my VS:
Microsoft Visual Studio Professional 2019
Version 16.6.2

1. create a Winform Application with target framework net48
2. drag and drop the listview control onto form
3. check the HideSelection property, Its "False"

1. create a Winform Application with target framework net472
2. drag and drop the listview control onto form
3. check the HideSelection property, **Its "F

[2020-06-12 02:48] vsfeedback opened #3438 "Repositioning a Label control with Autosize TRUE and Anchor Bottom Left failed"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1070453/error-en-reposicionamiento-de-un-control-label-con.html)._

---
He detectado el siguiente funcionamiento anómalo:
Tengo una pantalla con varios controles, entre ellos un TabControl y un DataGridview. Enmedio de los dos hay dos Labels.
Al cargar la pantalla, esos dos

[2020-06-12 03:02] John-Qiao commented on #3438
* .NET Core Version:
5.0.100-preview.7.20308.6

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
1. It’s not a regression issue.
2. If set the AutoSize property = **False** for that two Label controls, this issue will be fixed.
3. If move the edit label control text codes from Form_Load event to Form_Shown event, this issue will be fixed.
`        private void Form2_L

[2020-06-12 03:02] Olina-Zhang commented on #3402
@merriemcgaw, added items by PropertyBrowser are still in form designer and runtime, no disappearing:
![image](https://user-images.githubusercontent.com/26474449/84460204-edef1b00-ac9b-11ea-9382-b56458c6f120.png)

Here are related existing Designer Issues: 1. [In-situ editing support](https://github.com/dotnet/winforms-designer/issues/380), 2. [Rename item cannot be refreshed](https://github.com/d

[2020-06-12 03:07] RussKie commented on #3430
![image](https://user-images.githubusercontent.com/4403806/84460398-277c5200-acad-11ea-9609-7db8a20414c9.png)
https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/ListView.cs,238

I think `HideSelection` was put excluded with `AccessibilityImprovements.Level3` (introduced in net48). The docs have a remark suggesting that the setting should be turned off to m

[2020-06-12 03:28] Zheng-Li01 commented on #3395
@merriemcgaw, the issue reproduce on PerMonitroV2 as the screenshot in the above reproduce steps, and the text is blur with SystemAware, and the text is not scaled well with PerMonitor, please see below screenshots.

**PerMonitorV2:**
![PerMonitroV2](https://user-images.githubusercontent.com/38325459/84461615-77ecb300-ac9f-11ea-841a-9c0b977f3f4c.PNG)
**PerMonitor:**
![PerMonitor](https://user-imag

[2020-06-12 05:45] #3424 closed

[2020-06-12 07:18] weltkante commented on #3358
@Russkie I looked at the dump and this time `AxHostTests` were running in parallel with `HtmlDocumentTests` (both have a started but unfinished test thread), so it likely may have been `WebBrowser` again that caused the race condition and memory corruption. ImageList might have just been the victim of having the memory corrupted. In this case the last PR merged should have helped.

Maybe, but if y

[2020-06-12 08:35] Vino-Wang opened #3439 "Cannot successfully assign a ListViewItem to a specified group in PropertyGrid"
* .NET Core Version:
5.0.100-preview.7.20311.17

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
The setting is not successfully, the Group property was return to ‘(none)’ after clicking OK button.
![Group](https://user-images.githubusercontent.com/18568603/84482566-91572480-acca-11ea-9f9e-83f1a107d5be.gif)

**More Info:**
1.	This issue is not a regression,

[2020-06-12 09:06] kirsan31 commented on #3395
@Zheng-Li01

If app was launch after DPI change and this setting is on:

![image](https://user-images.githubusercontent.com/17767561/84484995-301c5a80-aca4-11ea-8d5d-ee1ef64bd1db.png)

the text will (must) not be blur.

@merriemcgaw does the activity in this thread mean that we need to report  PerMonitorV2 dpi problems?
As I mentioned above, on our app, combination of  mdi+PerMonitorV2+rdp was com

[2020-06-12 09:15] RussKie commented on #3121
Debugged into `MonthCalendar_Handle_GetWithDefaultFirstDayOfWeek_Success` failure:

![image](https://user-images.githubusercontent.com/4403806/84486496-d38b6080-ace0-11ea-80bb-a185fe75ac3d.png)

There is a misalignment between values in `Day` and `DayOfWeek` enums, which causes incorrect expectations in my case.

[2020-06-12 09:31] weltkante commented on #3358
@marklio if you still can make use of a TTD trace, I've got one [here](https://1drv.ms/u/s!AuW3VU_s-jxTgeZuaV9i1KAaV6Bi-Q?e=fRBEf4) - created it on an azure VM from the repro I linked, probably antivirus problems which prevent TTD working locally

[2020-06-12 09:47] weltkante commented on #3121
So what did SendMessage actually return? Native code uses `LOCALE_IFIRSTDAYOFWEEK` for `Day.Default` so it certainly won't have returned 7, that would fail independent of machine settings.

Maybe this test failure detected an actual mismatch between the locale MonthCalendar uses and the CurrentCulture locale?

(Note the +6 mod 7 in the test code is to correct the misalignment between `Day` and `Da

[2020-06-12 11:10] snhg commented on #3430
Thanks for the information

[2020-06-12 17:02] webfoot commented on #3395
If it's helpful, I grabbed an MDI C++ sample project from Microsoft and modified it to show the issue. What is the best way to communicate with the Microsoft team that will be working on this? Thanks!
https://github.com/webfoot/HighDpiMdiTest-cpp

![HighDefMdiChildIssue](https://user-images.githubusercontent.com/713740/84528056-d14ee500-ac93-11ea-8bc3-a40e3d5b24d6.JPG)

[2020-06-12 23:53] merriemcgaw commented on #3395
@webfoot I'd file feedback using the Windows Feedback tool. You can mark it as a bug and someone should take a look. There are so many submissions that bots try to find duplicates to make things easier so you might need to be a bit persistent. This looks like it's an underlying Windows issue if it's reproing in C++

@kirsan31 - we're testing PMA to see where our debt is and help us plan what futur

[2020-06-12 23:54] merriemcgaw commented on #3402
Thanks so much @Olina-Zhang!!

[2020-06-12 23:54] KlausLoeffelmann opened #3443 "Port missing DesignBindingConverter"
The `DesignBindingConverter`, which converts data bindings for use in the Design-Time environment, has not been ported yet from NetFx and is missing.

[2020-06-13 00:00] KlausLoeffelmann opened #3444 "Port missing ControlBindingsConverter"
The `ControlBindingsConverter`, which provides the `DesignBindings` and the `AdvancedBinding` for the `ControlBindingsCollection` in a Design-Time environment, has not been ported yet from NetFx and is missing.

[2020-06-13 00:05] KlausLoeffelmann opened #3445 "Port missing DesignBinding Class"
The `DesignBinding` class, which is used in the Design-Time Environment to support Data Binding, has not been ported yet from NetFx.

[2020-06-13 00:17] KlausLoeffelmann commented on #3444
Still considering, though, if it makes sense to have it in the runtime.
We'd need a copy of `DesingBinding` and the Design-Binding-related Editors in the Core Designer anyway.

[2020-06-13 14:03] weltkante commented on #3444
Duplicate of #2412

[2020-06-13 14:10] weltkante commented on #3445
Is this actually consumed anywhere in the WinForms runtime? Could be provided by the VS design time if its not needed at runtime, the API is not public.

[2020-06-13 14:11] weltkante commented on #3443
Is this actually consumed anywhere in the WinForms runtime? Could be provided by the VS design time if its not needed at runtime, the API is not public.

In fact I didn't come across this as missing converter when I tested all metadata annotations, which may be indication that its (currently) not needed. Probably depends on the decision on where to put #3445

[2020-06-13 19:53] KlausLoeffelmann commented on #3428
Sure.

Hey @PasaOpasen, I took a look at the repo, and it has a lot of other stuff in it (even in the WinForms demo). Did you try if that bug reproduces in a minimal repo? And if yes, could you provide that demo here? Thanks!

[2020-06-13 20:06] KlausLoeffelmann commented on #3313
Sure. And I cannot really repro this bug. Taking a look at `sender` in the above sample shows up like this:

![image](https://user-images.githubusercontent.com/9663150/84578048-5c081080-ad76-11ea-95bc-7b0e01e1ed5e.png)

I am going to close it for now, and should it still persists on your machine after the next update (please also try to update the Net5 SDK!), then please reopen it! Thanks!

[2020-06-13 20:06] #3313 closed

[2020-06-13 20:12] KlausLoeffelmann commented on #3444
Ha! Thanks for pointing that out.

Yes, this is how I implemented it right now, as I mentioned. I am still asking myself, if it's needed for other applications, anyway.

[2020-06-13 20:22] weltkante commented on #3444
Previously the "official" strategy was to port those by a on-demand basis. Custom hosted report designers usually have their own data binding system so I doubt this is necessary.

[2020-06-13 20:50] KlausLoeffelmann commented on #3444
Just to make everyone understand and for completeness. This would fail in Core. But I think you're correct. And who would do this and what for? 😄 So, Closing those.

[code]

[2020-06-13 20:50] #3444 closed

[2020-06-13 20:52] KlausLoeffelmann commented on #3443
See comments for #3444.

[2020-06-13 20:52] #3443 closed

[2020-06-13 20:52] KlausLoeffelmann commented on #3445
See comments for #3444.

[2020-06-13 20:52] #3445 closed

[2020-06-13 20:55] weltkante commented on #3444
Might want to comment on #2412, if I understand you correctly you have this in the VS designer and the broken attribute inside WinForms can be removed?

[2020-06-13 20:58] KlausLoeffelmann commented on #3444
I want to discuss this internally a bit further before making this call. But yes, I think that would make sense.

[2020-06-13 20:58] KlausLoeffelmann commented on #3444
Could you create an issue for that under which we can discuss?

[2020-06-13 20:59] KlausLoeffelmann commented on #2412
Closing this as per the discussion in #3444.

[2020-06-13 20:59] #2412 closed

[2020-06-13 21:01] weltkante commented on #3444
#2412 was actually the issue I created for fixing the WinForms attribute, the original description mentioned that as one of the options besides porting.

[2020-06-13 21:05] KlausLoeffelmann commented on #3444
I would rather have a dedicated issue for removing the Attributes, just for clarity.
Me missing what you just pointed out explains why. 😏

[2020-06-13 21:16] weltkante opened #3446 "Remove references to ControlBindingsConverter"
Follow-up to #2412 and #3444

**.NET Core Version:**
github master

**Have you experienced this same bug with .NET Framework?:**
no

**Problem description:**
`ControlBindingsConverter` is currently defined in the VS designer and no longer present in the WinForms runtime, yet still [referenced](https://github.com/dotnet/winforms/search?q=ControlBindingsConverter&unscoped_q=ControlBindingsConverter)

[2020-06-13 21:16] weltkante commented on #3446
Some discussion in #3444, @KlausLoeffelmann wants some further internal discussion before removing this, once agreed the removal is trivial.

[2020-06-13 21:42] KlausLoeffelmann commented on #3446
Thanks @weltkante!!

@merriemcgaw, @Tanya-Solyanik, @RussKie , @dreddy-work - can we pick this up in the next runtime sync?

[2020-06-15 05:15] #3296 closed

[2020-06-15 05:29] weltkante commented on #3391
#3441 should have a dump in the 2nd failed test run

[2020-06-15 05:37] RussKie commented on #3430
@snhg thanks again for alerting us. I've raised https://github.com/dotnet/docs/issues/18952.
@Tanya-Solyanik please feel to correct or provide more info, if necessary.
@gewarren for visibility.

[2020-06-15 05:38] #3430 closed

[2020-06-15 06:25] RussKie commented on #3391
I'm amassing quite a collection... x86 and x64, all failing in `ImageList` tests.

[2020-06-15 06:33] RussKie commented on #3121
![image](https://user-images.githubusercontent.com/4403806/84624235-56502d80-af24-11ea-969e-5e074ec73a57.png)

If I make the following change than the test pass:
[code]

[2020-06-15 06:40] RussKie commented on #3121
Actually it gets interesting.

Here's my Windows settings:
![image](https://user-images.githubusercontent.com/4403806/84625243-3883c800-af26-11ea-80aa-fc4564cdfc72.png)

Here's the `CultureInfo.CurrentCulture` instance:
![image](https://user-images.githubusercontent.com/4403806/84625398-84367180-af26-11ea-9710-58d5cfd81689.png)
..and expanded `DateTimeFormat` instance:
![image](https://user-images

[2020-06-15 06:48] weltkante commented on #3121
Definitely wrong, the docs of `MCM_GETFIRSTDAYOFWEEK` and the `Day` enum have different numeric values than `FirstDayOfWeek`. Changing it this way would break it for everyone else.

I think the key here is figuring out why your locale and CurrentCulture differ, might be a bug in the .NET Core runtime? Maybe check with Desktop Framework if it differs there as well?

Normally (on Desktop Framework)

[2020-06-15 06:52] weltkante commented on #3391
wrong issue 😄 this one can actually argued to be a bug in WinForms

[2020-06-15 06:58] RussKie commented on #3391
opps :)

[2020-06-15 07:26] RussKie commented on #3121
I tested further, I changed my Windows' first day of the week to be "Saturday".
`CultureInfo.CurrentCulture.DateTimeFormat.FirstDayOfWeek` hasn't changed and remained `Sunday`.
`User32.SendMessageW(control.Handle, (User32.WM)ComCtl32.MCM.GETFIRSTDAYOFWEEK, IntPtr.Zero, IntPtr.Zero)` however returned `5`, which stands for `Saturday` in our `Day` enum:
https://github.com/dotnet/winforms/blob/100762a

[2020-06-15 07:43] RussKie commented on #3121
Created a net472 app, and it starts looking like a bug in .NET runtime... 🤯

![image](https://user-images.githubusercontent.com/4403806/84629560-dcbd3d00-af2d-11ea-97f1-aaa9313176da.png)

I created a standalone multi-targeting console app and ran it testing different start days (Sat and Wed):
[code]

Then I pointed to winforms/.dotnet and.... 💥
[code]

[2020-06-15 07:56] #3425 closed

[2020-06-15 08:09] Jessie-Zhang01 commented on #3309
Verified this issue with .Net 5.0.100-preview.7.20314.1 from Master branch, this issue is fixed, The picture added successfully.
![image](https://user-images.githubusercontent.com/45864649/84632994-56e7c480-af22-11ea-9f15-31968f1a5048.png)