[2017-05-01 22:57] davkean opened #4333 "Component designer does not display when targeting .NET Core/.NET Standard"
_From @JinShil on April 29, 2017 7:47_

.Net Standard 2.0 and .Net Core 2.0 have included APIs in `System.ComponentModel` for building and extending the Visual Studio designer (e.g `Component` class, `DesignerAttribute`, `TypeConverter`, etc..)

However, if one tries to use these classes in the current release of Visual Studio 2017 to create designers for their classes, Visual Studio displays erro

[2017-06-08 21:33] mellinoe opened #8797 "System.Drawing.Common should give friendly error when used on Nano"
Right now, you will get EntryPointNotFoundException's when some System.Drawing.Common tries to load some of it's PInvoke imports. We should somehow wrap these in a way that makes error messages more explicit and less confusing.

[2017-07-05 15:13] stephentoub opened #8807 "MakeTransparent_GrayscalePixelFormat_ThrowsArgumentException failed in CI on desktop"
https://ci3.dot.net/job/dotnet_corefx/job/master/job/windows-TGroup_netfx+CGroup_Release+AGroup_x86+TestOuter_false_prtest/793/consoleText
[code]

[2017-07-16 11:07] KostaVlev opened #8806 "System.Drawing.Imaging.ImageAttributes.SetColorKey() is set but not applied."
I am writing test for `System.Drawing.Imaging.ImageAttributes` dotnet/runtime#22130:

[code]

Expected: Color.FromArgb(0, 0, 0, 0)
Actual: Color.FromArgb(255, 100, 100, 100)

I am running the test on `netfx` and `netcoreapp` and it fails on both.

Looks like transparency isn't get applied.

[EDIT] Fixed code formatting - @karelz

[2017-07-26 02:40] dotnet-mc-bot opened #8805 "Test: System.Drawing.Tests.FontFamilyTests/Ctor_Name failed with "System.ArgumentException""
Opened on behalf of @Jiayili1

The test `System.Drawing.Tests.FontFamilyTests/Ctor_Name(name: \"Microsoft Sans Serif\", expectedName: \"Microsoft Sans Serif\")` has failed.

System.ArgumentException : Font 'Microsoft Sans Serif' cannot be found.

        Stack Trace:

           at System.Drawing.FontFamily.CreateFontFamily(String name, FontCollection fontCollection)
       at System.Drawing.Tests

[2017-08-29 17:21] mellinoe opened #8804 "CopyFromScreen tests causing intermittent failures"
[code]

I believe these tests are invalid, given that they are failing against the .NET Framework. We should give them some scrutiny, and potentially remove them.

[2018-03-02 07:15] AlexRadch opened #8808 "System.Drawing.Common.Tests fails 10 tests in non-English Windows"

[2018-05-22 21:50] safern opened #8816 "Investigate failing System.Drawing.Common tests in RS4"
[code]

cc: @danmosemsft

[2018-06-08 23:55] Anipik opened #8815 "EndPrint_SetValue_ReturnsExpected and PrintPage_SetValue_ReturnsExpected throws excpetion"
Unhandled Exception of Type System.ComponentModel.Win32Exception
Error in remote procedure call

[code]

Link https://mc.dot.net/#/user/Anipik/pr~2Fjenkins~2Fdotnet~2Fcorefx~2Fmaster~2F/test~2Ffunctional~2Fcli~2F/928be92417ee8f200df812e3dfc002abcf80f787/workItem/System.Drawing.Common.Tests/analysis/xunit/System.Drawing.Printing.Tests.PrintDocumentTests~2FEndPrint_SetValue_ReturnsExpected

cc @danm

[2018-06-27 00:11] stephentoub opened #8814 "DrawLines_PointFs, DrawBezier_PointFs, DrawBezier_Points and DrawLines_Points failing sporadically in CI"

[2018-10-08 23:24] dmklementiev-zz opened #8819 "Test failure: System.Drawing.Drawing2D.Tests.LinearGradientBrushTests.Ctor_PointF_PointF_Color_Color"
Note that the failure occurs on Arm64 only!

The test: https://github.com/dmklementiev/corefx/blob/master/src/System.Drawing.Common/tests/Drawing2D/LinearGradientBrushTests.cs has failed with the following details:

Unhandled Exception of Type Xunit.Sdk.EqualException
Message :
Assert.Equal() Failure
Expected: {X=0,Y=0,Width=2,Height=2}
Actual:   {X=0,Y=-1,Width=2,Height=2}

Stack Trace :
   at Sy

[2018-10-23 16:26] onovotny opened #1 "Modernize FolderBrowserDialog"
The Windows Forms `FolderBrowserDialog` uses an old folder picker control. Starting in Windows Vista, there is a newer COM-based control available.

My proposal is to enhance the existing `FolderBrowserDialog` to use that newer control by default when running on Vista and higher.

The existing API can be used, but the newer API gives us a few new options:

1. The default location may be any folder

[2018-11-01 07:57] Mogikan opened #8818 "Arithmetic operation resulted in an overflow"
I created .NET Core (2.1) console app and added reference to System.Drawing.Common nuget (4.5.1). I'm trying to run the following code from [docs](https://docs.microsoft.com/en-us/dotnet/framework/winforms/advanced/how-to-determine-the-parameters-supported-by-an-encoder), but it fails on bitmap1.GetEncoderParameterList with System.OverflowException:

'Arithmetic operation resulted in an overflow.'

[2018-11-13 22:04] Shyam-Gupta opened #39 "Remove unused managed defines from S.W.F code"
There are a few pre-processor directives in S.W.F code which might not be required.
Scrub the code and keep only those which are required.

[2018-11-13 23:25] zsd4yr opened #40 "Remove *Permission and *Assert.'s from code"

[2018-11-15 22:56] Shyam-Gupta opened #48 "Deal with globally suppressed warnings (618 and 649) from System.Windows.Forms code"
618: use of obsolete code.  Used probably because of legacy code, but globally surpressing the warning turns it off for new code too. Hence check if the code can be modified to avoid them. If not then add #pragmas instead of globally suppressing this warning.

649: field is never assigned.  We should not ignore this warning except in the rare cases when we need to preserve an unused field for back

[2018-11-15 22:58] Shyam-Gupta opened #49 "Cleanup explicit EmbeddedResource items from System.Windows.Forms.csproj"
Feedback from EricStj:

Replace all these explicit items with a convention.  Seems that you should be able to come up with a globbing convention for these and update the reading code where it doesn't align with the convention (or update items when the convention is insufficient).

[2018-11-15 23:03] Shyam-Gupta opened #50 "Remove unwanted comments from System.Windows.Forms code"
Feedback from @danmosemsft:

Remove comments like:
/// <devdoc>
        ///    <para>[To be supplied.]</para>
/// </devdoc>

from ResXResourceWriter.cs and other files.

[2018-11-19 21:26] ericstj opened #64 "Clean up root documents that have template content"
Here are the following that appear incorrect / incomplete:
- Documentation.md
- Readme.md
- Roadmap.md

[2018-11-26 18:09] zsd4yr opened #75 "Complete Roadmap.md"

[2018-11-26 20:07] clairernovotny opened #77 "Add .editorconfig file"
Please add a .editorconfig file that fully specifies the conventions and naming rules for these projects.

[2018-11-26 20:20] clairernovotny opened #79 "Add more tests to FolderBrowserDialog"
Once more advanced testing infrastructure is in-place, `FolderBrowseDialog` can use additional tests.

[2018-11-26 20:22] AdamYoblick opened #80 "Get rid of build.sh"
To avoid confusion if we support Linux/Mac or not.

[2018-11-26 21:35] zsd4yr opened #83 "make test runner use stopwatch"

[2018-11-26 21:35] #83 closed, assigned to zsd4yr

[2018-11-26 23:07] #80 closed, assigned to AdamYoblick

[2018-11-27 17:10] #77 closed, assigned to AdamYoblick

[2018-11-28 01:17] Shyam-Gupta opened #92 "Add InternalsVisibleTo to System.Windows.Forms.Design and System.Windows.Forms.Design.Editors"
As per feedback received from @ericstj we should avoid using IVT even for test code.

[2018-11-28 01:34] Shyam-Gupta opened #93 "Ensure that Facade assemblies get dropped to both ref and lib folder in the package"
Got following feedback from Eric regarding Facade assemblies:

_"There was one special case for these facades that you will want to check, they use the property **IsRuntimeAndReferenceAssembly** in order to ensure that we use the same dll in both the ref and lib folder in the package."_

[2018-11-28 19:26] ericstj opened #97 "SRDescriptionAttribute and SRCategoryAttribute should be calling GetResourceString"
The purposes of both of these attributes is to translate from an ID known at build time to a localized value that can only be known at runtime.

As such the string they contain needs to be looked up, by calling SR.GetResourceString.

Today both of these classes are treating the ID as if it were a localized value:
https://github.com/dotnet/winforms/blob/f04eb68702d28c0fcf2b2b9dc5d7972e7503a9db/src/

[2018-11-29 01:48] #97 closed, assigned to Shyam-Gupta

[2018-11-29 04:08] dotMorten opened #101 "DataGridColumn's default property points to a non-existing property"
In the following line:

https://github.com/dotnet/winforms/blob/cfde4d047a4724a69d90f4bec57f29af1f1e83ab/src/System.Windows.Forms/src/System/Windows/Forms/DataGridColumn.cs#L35

The `[DefaultProperty]` tag points to the property `Header` which doesn't exist. I'm assuming it was meant to point to the `HeaderText` property.

Discovered as part of PR #86

[2018-11-29 04:08] dotMorten opened #102 "DataGridTextBox's default property points to a non-existing property"
In the following line:

https://github.com/dotnet/winforms/blob/cfde4d047a4724a69d90f4bec57f29af1f1e83ab/src/System.Windows.Forms/src/System/Windows/Forms/DataGridTextBox.cs#L25

The `[DefaultProperty]` tag points to the property `GridEditName` which doesn't exist. I'm not sure which property this was really meant to point to - especially considering this class doesn't have any properties.

Discov

[2018-11-30 18:18] zsd4yr opened #108 "change helixaccesstoken to use helix anon var group after open"

[2018-11-30 21:27] dotMorten opened #110 "Can't use the Pack command from Visual Studio. PackageProjectUrl is not set"
If you try and pack a project in WinForms like this:

![image](https://user-images.githubusercontent.com/1378165/49315554-fc535880-f4a2-11e8-95b8-91887bbe42b8.png)

You're met with the build error:
![image](https://user-images.githubusercontent.com/1378165/49316520-062a8b00-f4a6-11e8-9644-02ed0034b0d2.png)

This happens both to the projects `System.Windows.Forms` and `System.Windows.forms.Ref`

Th

[2018-11-30 22:58] #110 closed, assigned to nobody

[2018-12-01 03:23] dreddy-work opened #112 "Porting System.Windows.Forms.DataVisualization to .NET core"
Creating this issue to track the porting of  System.Windows.Forms.DataVisualization.dll into  Core.

- We have seen multiple reports on  not being able to migrate because of missing the dll in core.
- Porting of this binary may have dependency on System.Data.Oledb.
- Winforms applications using "Chart" control are primary target of this issue.

[2018-12-01 22:11] KlausLoeffelmann opened #116 "VisualStyles fails to activate with current setup to build System.Windows.Forms.dll"
Every modern WinForms App uses VisualStyles to get a proper look and feel. When VisualStyles fail for an App to be activated, Apps look like running under an ancient OS like Windows 2000.

With the way the build system is currently set up, System.Windows.Forms.dll seems to be build differently compared to the internal build system we had before. On start of a WinForms app, the Application class tr

[2018-12-01 23:01] merriemcgaw opened #117 "Update WebBrowser control in .NET Core"
Copied from https://github.com/dotnet/core/issues/2093

Since WinForms is moving to .NET Core 3.0, I hope you upgrade the WebBrowser control to use the IE version installed on the user PC. The current WebBrowser control uses IE 7 and causes many problems. There is a workaround to solve this, but doing it in the user's PC needs permissions. See this topic for more details:
https://stackoverflow.com

[2018-12-03 23:58] #116 closed, assigned to KlausLoeffelmann, Shyam-Gupta, dreddy-work

[2018-12-04 08:42] stefanov-stefan opened #134 "PlaceholderText API addition to TextBox control"
With the following PR (https://github.com/dotnet/winforms/pull/96 -> moved to https://github.com/dotnet/winforms/pull/238) we have proposed addition of new property to the TextBox control called PlaceholderText. The property accepts string which will be drawn when the control has no text it in and is not on focus. Quite useful to indicate what is the expected input.

### Rationale
Currently, in or

[2018-12-04 12:32] KlausLoeffelmann opened #135 "Setting/Getting HighDpiMode in WinForms Core Apps"
## Rationale

Developers in WinForms Core currently have no way to **set the HighDPI mode** in their WinForms App. In a future version of .NET Core 3.0, this will again be possible via App.Manifest; however, a change in the settings requires then their app to be rebuilt. The previous option in the classic framework to control this setting via App.Config has been completely dropped in .NET Core. Cu

[2018-12-04 16:27] #75 closed, assigned to OliaG

[2018-12-04 17:19] karelz commented on #101
Seems to be present also on .NET Framework.
Any idea what is the impact on apps / dev scenarios?

[2018-12-04 17:21] karelz commented on #102
@dotMorten assigning to you as you volunteered ;)

[2018-12-04 17:22] karelz commented on #101
Seems to be present also on .NET Framework.
Any idea what is the impact on apps / dev scenarios?

[2018-12-04 17:30] #1 closed

[2018-12-04 18:00] wjk commented on #134
Is there any reason why we shouldn't just use [the `EM_SETCUEBANNER` message](https://docs.microsoft.com/en-us/windows/desktop/controls/em-setcuebanner) available since Windows Vista to do this? (I know that compatibility with *really* old systems — namely, Windows XP — would be negatively affected were we to do it this way, but I thought we don't support anything before Windows 7 anyway.)

[2018-12-04 18:26] zsd4yr opened #139 "Replace "magic" strings in Cursors.cs with const strings declared at top of file"
actual:

[code]

expected:

[code]

[2018-12-04 18:37] sylveon opened #140 "Use system cursors in System.Windows.Forms.Cursors"
Currently, System.Windows.Forms.Cursors has a few embedded cursors that where added for backwards compatibility with old operating systems that are not supported anymore. They should be replaced to use system cursors.

The following cursors are embedded:
 - [ ] HSplit
 - [ ] VSplit
 - [ ] NoMove2D
 - [ ] NoMoveHoriz
 - [ ] NoMoveVert
 - [ ] PanEast
 - [ ] PanNE
 - [ ] PanNorth
 - [ ] PanNW
 - [ ]

[2018-12-04 18:46] zsd4yr commented on #140
Sorry for the confusion here @sylveon we **do** have a unit test infrastructure using xunit. You can find them under src->System.Windows.Forms->tests->UnitTests

Someone just needs to actually write the xunit tests for these 😄

I believe @merriemcgaw was refering to our current lack of **functional** tests

[2018-12-04 18:47] sylveon commented on #140
Haha, my bad. I'll take a look and try to write some tests later.

[2018-12-04 18:50] merriemcgaw commented on #140
@sylveon, I could have been more clear, @zsd4yr is right. We have unit test infra, but we're still porting the functional tests. Would love to see unit tests!

[2018-12-04 19:06] zsd4yr commented on #140
@sylveon I've tested just the hand and it looks great :) Works on multiple monitorys with HDPI changes too

[2018-12-04 19:09] sylveon commented on #140
Yeah, I've been using that hand for a while now using reflection :sweat_smile:

[code]

[2018-12-04 19:14] AdamYoblick commented on #140
Just say no to private reflection! 😉

[2018-12-04 19:16] sylveon commented on #140
Hence this pull request :smile:

[2018-12-04 19:21] daniel-white opened #142 "What is going to happen to `System.Windows.Shell`?"
`System.Windows.Shell` is part of PresentationCore.dll (which is part of WPF). I'm sure it would be nice to move that into a new open source library as part of this effort.

[2018-12-04 19:30] zsd4yr opened #143 "Remove the word hack from repo comments"

[2018-12-04 19:43] kpreisser opened #146 "Windows Task Dialog"
Hi,

On Windows Vista and higher, the [Task Dialog](https://docs.microsoft.com/en-us/windows/desktop/Controls/task-dialogs-overview) is available that provides many more features than a Message Box. While you can show a [Message Box](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.messagebox?view=netframework-4.7.2) in WinForms and WPF, there is no "official" implementation of the

[2018-12-04 19:48] KlausLoeffelmann commented on #143
Actually, in some if not every cases, I think the notion of some "Workaround" or "Ad-Hoc-Solution" (cannot think of better Eupimisms in this context) would still be useful, especially in the area of rendering and layouting when we need to come back to those things for HighDPI improvements. Thoughts?

[2018-12-04 19:54] zsd4yr commented on #143
That's the case but we missed some; we'll have it in the history in case we need it

[2018-12-04 19:54] #143 closed

[2018-12-04 20:25] bobasaurus opened #147 "WinForms Designer Support"
In Visual Studio 2019 Preview 1, there is no project template for generating .NET Core 3 WinForms projects.  If I instead run on the command line:

`dotnet new winforms -o winforms_core_test`

a project is created successfully.  I can then open the generated .csproj file in VS2019.  But the WinForms designer doesn't seem to be available.  Typically the right-click context menu shows "view designer

[2018-12-04 20:30] Misiu commented on #134
@wjk correct me if I'm wrong, but this won't work if TextBox has Multiline enabled.

[2018-12-04 20:30] dotMorten commented on #147
That limitation is already documented on the landing page : https://github.com/dotnet/winforms/blob/master/README.md

[2018-12-04 20:31] richlander commented on #147
It is also documented in today's blog post: https://blogs.msdn.microsoft.com/dotnet/2018/12/04/announcing-net-core-3-preview-1-and-open-sourcing-windows-desktop-frameworks/

[2018-12-04 20:42] bobasaurus commented on #147
Ah, I must have missed that.  Thanks, looking forward to future support.

[2018-12-04 20:43] zsd4yr commented on #147
Going to keep this issue open so that people can track anything on-going here

[2018-12-04 20:45] poizan42 commented on #117
The X-UA-Compatible header method does not: https://stackoverflow.com/a/39534209/1555496 - though it requires you to control the headers or the html. I haven't tried it but maybe it works to just put the actual page inside an iframe on a page with the http-equiv tag.

[2018-12-04 21:50] wjk commented on #134
@Misiu True, but there's no reason we can't use a custom implementation for Multiline text fields, and the system's implementation for single-line text fields. That being said, I don't really care which way we end up doing this. I just wanted to throw that link into the issue.

[2018-12-04 22:35] ericstj commented on #139
HSPLIT_CUR doesn't exactly follow our coding guidelines for constants https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md

Moreover you may want to close this in preference to #140.

[2018-12-04 22:43] ericstj commented on #93
/cc @AdamYoblick who I believe is working on this at the moment.

[2018-12-04 22:45] AdamYoblick commented on #93
Yep, in progress. @zsd4yr is working on it with me :)

[2018-12-04 23:31] willibrandon commented on #139
Hi, first time contributor here and I'm currently learning how to use GitHub.  I've committed the requested changes to my repository and just saw ericstj's comment regarding coding guidelines and possibly closing this issue.  How should I proceed?

[2018-12-04 23:40] Tanya-Solyanik commented on #147
**Workaround to use the designer is to create two apps:**
* .NET Framework app for designing the WinForms app
* .NET Core app to run the WinForms application
Both the applications will reference same files.

**Steps:**
1. Using developer command prompt, create a .NET Core WinForms app. This app will be used to run the WinForms application. Steps:
Open developer command prompt and run following com

[2018-12-05 01:45] karelz commented on #139
@willibrandon let's wait on clarification if this change is needed. @zsd4yr @Tanya-Solyanik can you please help clarify if we should close this issue in favor of #140 as suggested above?

[2018-12-05 02:34] zsd4yr commented on #139
We’re moving in favor of #140 because it will allow us to take advantage of the high resolution and accessibility complaint cursors in the OS. @willibrandon I’m glad you’re helping out here :) I expect there will be additional entry-level issues soon

Closing this issue in favor of #140

[2018-12-05 02:34] Tanya-Solyanik commented on #139
Hi @karelz. I discussed this with @zsd4yr , we hit a race condition opening these 2 issues. Indeed #[140   ](https://github.com/dotnet/winforms/issues/140) is the preferred way to implement this  - we will get all OS improvements(high res and the right system theme) when we access the system cursors :) and will reduce size of our binary somewhat.

[2018-12-05 02:34] #139 closed

[2018-12-05 02:35] karelz commented on #139
Thanks!

[2018-12-05 03:29] Tanya-Solyanik commented on #135
FYI, steps to set DPI Awareness using the manifest:

- add application manifest to your .NET Core project.

- Uncomment the DPI-Awareness element, dpiAwareness element is supported as well.
[code]

- uncomment Windows10 as a supported OS

[code]

- Add this manifest to your project file
[code]

- dotnet run

[2018-12-05 04:49] dreddy-work commented on #135
This eliminates lot of trouble.

[2018-12-05 07:33] kpreisser commented on #117
You can set the registry key in `HKEY_CURRENT_USER\SOFTWARE\Microsoft\Internet Explorer\Main\FeatureControl\FEATURE_BROWSER_EMULATION` (rather than `HKEY_LOCAL_MACHINE`) to disable IE7 Compatibility View, which doesn't require elevated permissions; ideally at the top of your `Main()` method before GUI code is invoked.

See: https://github.com/Microsoft/monaco-editor/issues/114#issuecomment-2427786

[2018-12-05 08:38] KlausLoeffelmann commented on #146
I like this idea in general. What I'd like to suggest first though is an additional and more detailed concept which depicts the rationale/business value, public surface area (Class, Methods, Properties, etc.), small code samples, maybe along with a link to a repo fork which would include the work that you already did (probably with way fewer partial classes/code files ;-) ). Something I could put

[2018-12-05 08:49] KlausLoeffelmann commented on #147
I am not sure if this will work properly, since the resulting files are not nested/missing the .designer.cs file in the classic framework project. The designer would pick this up all right, but would on CodeDom serialization create `InitializeComponent` in the main form class, thus projects ending up with two `InitializeComponent` methods and wouldn't really compile?

(Correct me, if I am missing

[2018-12-05 08:54] KlausLoeffelmann commented on #135
We'd still need to recompile apps for changes to be picked up, though.
(Or do we?)

[2018-12-05 08:58] KlausLoeffelmann commented on #134
Not sure, if we wanted to introduce another dependency If we'd not really need one.
@merriemcgaw?

[2018-12-05 09:15] garfbradaz commented on #50
A little unrelated but can Winforms repository make use of the same Dead Code analysis as CoreFX?

https://github.com/dotnet/corefx/issues/17905

cc @ericstj

[2018-12-05 09:21] navneetccna opened #159 "Linux 3.0 issue"
* .NET Core Version: 3.0 Preview1
* Have you experienced this same bug with .NET Framework?: Yes/No
No

**Problem description:**
I am running 3.0 winform application on linux with following command
dotnet run
But getting error

/home/owner/dotnet/sdk/3.0.100-preview-009812/Sdks/Microsoft.NET.Sdk.WindowsDesktop/targets/Microsoft.NET.Sdk.WindowsDesktop.targets(14,2): error MSB4019: The imported proj

[2018-12-05 09:30] KlausLoeffelmann commented on #159
Hey @navneetccna,

as stated in the [README](https://github.com/dotnet/winforms/blob/master/README.md), WinForms is not supported on other OS than Windows.

Klaus

[2018-12-05 09:31] raffaeler commented on #159
I would also add the [contributing guide](https://github.com/dotnet/winforms/blob/master/Documentation/contributing.md):
[code]

[2018-12-05 09:36] navneetccna commented on #159
Oh, that is very sad. I though .net core 3.0 provide cross platform implementation for windows application as well

[2018-12-05 09:40] raffaeler commented on #159
@navneetccna This project is just the original winforms project which has been released open source. Porting it cross platform would be a (very big) new feature.
Any UI platform have direct dependencies on the OS, as there are no common standards defined for windowing.

I can imagine that before or later someone will fork this project and "transplant" it to Wine as it was done many years ago on Mo

[2018-12-05 09:46] navneetccna commented on #159
I can understand the pain of the cross platform dependencies. So we still need to use need to  JAVAFX or QT5 for cross platform windows application.

[2018-12-05 09:48] raffaeler commented on #159
@navneetccna there are for sure multiple strategies to do that, but this is clearly not the goal of this repository. And IMHO for good and understandable reasons.

[2018-12-05 09:50] navneetccna commented on #159
Thanks for prompt response. Hope some day dotnet provide cross platform solution as well.

[2018-12-05 09:50] #159 closed

[2018-12-05 11:34] KlausLoeffelmann commented on #135
Because we have several HighDPI modes, which we unfortunately don't support all completely yet.

We tend to go for `SystenAware` by default - currently it is `DpiUnaware`. Ultimately, we want `PerMonitorV2`, but there is still some work to be done before we could default to that.

On top: folks need to be prepared in their apps for backwards compatibility. If you have a lot of owner drawing going

[2018-12-05 15:17] wjk commented on #146
@KlausLoeffelmann I might want to take a stab at integrating @kpreisser's library into WinForms core. I'm not too good at writing formal rationales, though. I hope this won't be a problem. 😄

One other question before I begin, however. Where should I put the native types when I start work on this branch? I know WinForms uses three separate classes: `NativeMethods`, `SafeNativeMethods`, and `Unsafe

[2018-12-05 16:12] dreddy-work commented on #135
Right. as this change in csproj.

[2018-12-05 16:18] dreddy-work commented on #135
This approach is cleaner.  Dpi handling in winforms happen in the very begining. We may be able to set it programatically in the  application but if users want to change it, our dpi related values are cached and may not respond as expected. ALso, when winforms application launched by a host process ( for ex: Debugging from VS), All dpi related values are cached much before we get to the starting p

[2018-12-05 17:32] karelz commented on #146
@KlausLoeffelmann BTW: I suggest to put api-suggestion on any issue which will most likely require API process. api-suggestions are enhancements which require additional process of API review and explicit approval on the API shape.

[2018-12-05 18:09] #64 closed

[2018-12-05 19:47] dotMorten commented on #102
Fixed and merged!

[2018-12-05 19:47] #102 closed

[2018-12-05 19:48] dotMorten commented on #102
@karelz Errr that milestone though... :)

[2018-12-05 19:49] kpreisser commented on #146
Hi @KlausLoeffelmann and @wjk,
thanks, that's good to hear!

I would be happy to contribue my implementation of the Task Dialog, but note that there are some areas in the API which I think are not yet ideal from an OOP point of view. Also, I implemented some unofficial features which probably shouldn't be in the public API.

I have created the branch [`apiProposal`](https://github.com/kpreisser/Ta

[2018-12-05 19:55] karelz commented on #102
Base on my experience from CoreFX repo, it is best to update milestones on closed issues and PRs on regular basis, after the fact. I do it every 1-4 weeks on CoreFX, at minimum prior to a release.
There is no way all engineers will pay attention to milestones. It is lost battle + it is easier to do batch changes later on than train everyone and push process on them 😉 (I am big believer in minimal

[2018-12-05 20:06] zsd4yr commented on #92
Discussed within the internal team today. We are not removing this and instead allowing it to be added to other binaries. Testing publics is the ciritcal, yet we should also allow testing internals. Changing the issue name to correspond with the new strategy.

[2018-12-05 20:17] DmitryGaravsky opened #162 "Add the capability to automatically close the MessageBox after the specific timeout."
This request is based on popular SO question: [Close a MessageBox after several seconds](https://stackoverflow.com/questions/14522540/close-a-messagebox-after-several-seconds/14522952#14522952) (100+ votes).
<a href="https://stackoverflow.com/a/14522952/1010363"><img alt="StackOverflow Answer" src="https://img.shields.io/badge/StackOverflow-QnA-green.svg"></a>

### Rationale

When developing LOB a

[2018-12-05 20:43] wjk commented on #146
Sounds great, modulo the following:

* I would greatly prefer the second approach to adding common buttons (`var buttonYes = taskDialog.CommonButtons.Add(TaskDialogResult.Yes);`).
* Don't care about the removal of the "unofficial" TaskDialog icons (Lock, Defrag, et al), as I can easily accomplish the same thing by setting the `MainIconHandle` property. However, please _don't_ get rid of the icons

[2018-12-05 20:43] tewarid opened #163 "InvalidCastException when icon is set in autogenerated form designer code"
* .NET Core Version: 3.0 Preview1
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Crash at runtime where icon is set as follows in autogenerated form designer code

[code]

**Actual behavior:**

Following exception is thrown when running using dotnet CLI or vscode

[code]

**Expected behavior:**

No crash, form icon is set. Crash does not happen and icon is

[2018-12-05 20:57] GSPP commented on #146
It seems like your .NET solution (which is nice) is a fairly literal translation of the C++ API. The C++ API is a bit nasty, though. I think we can make the .NET API nicer and abstract away certain nastiness. For example, why does the dialog need to be opened to be configured? I think the native API likely does it this way because it's the only reasonable way to do it in native code. In object bas

[2018-12-05 20:59] wjk commented on #163
This problem you're seeing is caused by https://github.com/Microsoft/msbuild/issues/2221. The reason it works when building in VS is because VS uses .NET Framework MSBuild, which does not suffer from the above issue, which is specific to .NET Core MSBuild. I opened https://github.com/Microsoft/msbuild/pull/3819 to try to fix this, but it hasn't been reviewed since I fixed the remaining test failur

[2018-12-05 20:59] DmitryGaravsky opened #165 "Control can't be properly GC-collected after disposing because of it referenced via the System.Windows.Forms.Control.cachedLayoutEventArgs field"
The same bug is reproducible with .NET Framework but it seems it has no chance to be ever fixed.
But the .NET Core looks like a good place for introducing some improvements in this area.

### Problem description
Each instance of the `System.Windows.Forms.Control` type contains a private member variable of the  `LayoutEventArgs` type - **cachedLayoutEventArgs** . And, the `LayoutEventArgs` instance

[2018-12-05 21:29] zsd4yr commented on #165
Could you be more clear about these scenarios? What is not triggering when the child control disposing does not affect the layout process of the parent control?

[2018-12-05 21:30] merriemcgaw commented on #163
Thank you to @wjk for spotting this dupe!

[2018-12-05 21:37] Tanya-Solyanik opened #167 "remove ` /// <include file='` an `///<internalonly/>` comments"
Comments like the following are no longer used:

 `  /// <internalonly />`

`/// <include file='doc\SystemInformation.uex' path='docs/doc[@for="SystemInformation.TerminalServerSession"]/*' />`

[2018-12-05 22:00] Tanya-Solyanik opened #169 "Add documentation on running WInformsControlsTest when validating changes"
This will be a temporary measure for basic validation of changes until functional test are incorporated in the process. Consider covering the following points:
1. how to build the app
2. how to run it against the newly updated System.Windows.Forms.dll and how to put breakpoint in the newly changed code
3. what actions to perform in the app besides clicking all the buttons (move across the screens,

[2018-12-05 23:48] #108 closed

[2018-12-06 00:02] merriemcgaw commented on #162
Thanks for the suggestion! Could you follow the [API Review Process](https://github.com/dotnet/winforms/blob/master/Documentation/issue-guide.md#high-quality-feature-and-api-suggestions) to move this along? In the meantime I will move this to the future milestone.

[2018-12-06 00:03] sharwell commented on #162
💡 I would suggest using `TimeSpan` instead of `int` for the timeout.

[2018-12-06 01:40] Shyam-Gupta opened #175 "Use -refout to auto generate ref assemblies"
Instead of having separate 'ref' projects in the solution, use -refout to generate ref assemblies automatically from src assemblies.

Details: https://github.com/dotnet/roslyn/blob/233957b90f555c731f8e22b5319bb7e869567580/docs/features/refout.md

[2018-12-06 05:23] lextm opened #177 "System.ComponentModel.Design.CollectionEditor is missing in preview 1"
It is a commonly used type when WinForms PropertyGrid control is in use, as custom collection editor is needed to edit custom collection types.

It is not yet available in .NET Core 3.0 Preview 1.

[2018-12-06 08:04] Tanya-Solyanik commented on #134
@KlausLoeffelmann , could you please clarify what dependency you mean?

[2018-12-06 08:44] kpreisser commented on #146
Hi @wjk,

thanks! Yes, the second approach seems better, but I think it might still be good to also support assigning the flags, so that you can assign them in the object initializer (if you just want to add standard buttons but don't need to customize them), just as you can specify button flags in the static `Show()` methods.

Thinking about it, it probably should also be possible to manually cre

[2018-12-06 09:23] DmitryGaravsky commented on #165
Hi, @zsd4yr

From my experience, there are  **two cases when this issue is 100% reproducible**:
 - manual locking of layout processing(already demonstrated in the Reproduction section);
 - removing a control from an invisible container (inactive tab-page for example);

Here are the steps for last case reproduction:
1. Create a form with two buttons and TabControl with two pages.
2. Add the followi

[2018-12-06 09:53] KlausLoeffelmann commented on #165
I'll take a look!

[2018-12-06 10:00] KlausLoeffelmann commented on #134
@Tanya-Solyanik Well, EM_SETCUEBANNER is a OS specific dependency, which in this case might not be necessary, since for Multiline rendering we'd need the custom rendering anywhere. So, if something goes wrong, we have two potential causes to investigate, instead of one. And should someone ever want to take textbox and port it to another "context", then custom rendering might be also easier portabl

[2018-12-06 10:20] weltkante commented on #165
@KlausLoeffelmann @DmitryGaravsky

I think this won't work, if nobody holds a reference to the LayoutEventArgs it will be collected immediately, making the cache useless. What you want is a ConditionalWeakTable where the key is the Control and the value the LayoutEventArgs (ConditionalWeakReference does not exist unfortunately, and the framework API required to build one is internal).

[2018-12-06 10:37] euroUK commented on #162
Why it should be separate AutoClosingMessageBox  class? Why it can't be just extra optional parameter on MessageBox calss?

Also, it looks like we require to add extra state to DialogResult to specify that mbox was closed automatically.

[2018-12-06 11:02] DmitryGaravsky commented on #162
@sharwell
Thanks for participating, Sam.
Initially, the `timeout` parameter was designed according to the widely used `Task.Delay(1000)` pattern.
Using the `TimeSpan` do not allow us to make the timeout parameter optional because we can't specify the default value `TimeSpan.FromMilliseconds(1000)` doe to in not a compile-time constant.
BTW, I have renamed the parameter `timeout` to the `timeoutMil

[2018-12-06 11:21] DmitryGaravsky commented on #162
@euroUK
Thanks for participating, Yury.
There are **two important reasons for dot not touching the default MessageBox API**:
At first, **because of potential breaking changes**.
From my experience, it is often needed to create reflection-based proxies for the standard MessageBox API in order to create cross-platform UI libraries or frameworks which provide some level of abstraction.
Another reason

[2018-12-06 11:36] DmitryGaravsky commented on #165
@weltkante

Yes, you're absolutely correct, but I proposed not the exact replacement of `LayoutEventArgs cachedEventArgs;` with the `WeakReference cachedEventArgs;` but "something based on weak-references" that can resolve this issue.

[2018-12-06 12:12] Varorbc opened #178 "update codegen naming rules to be complaint with current guidelines"
When I double-click a button on the form, vs automatically adds a click method, such as `button1_click`, but this naming is currently suggested and is not meet specifications.

[2018-12-06 14:11] GSPP commented on #146
Another issue is that the parent window must be specified. `MessageBox` has the same issue. I believe that code like `MessageBox.Show(title, text)` is wrong. The first parameter must be the parent window. If this is not done then the message box can have weird behavior such as having the wrong parent and remaining locked behind another window. I do not fully remember what the problems were but I h

[2018-12-06 14:36] jnm2 commented on #178
Duplicate of https://github.com/dotnet/roslyn/issues/20999?

[2018-12-06 14:38] jnm2 commented on #134
I have a strong preference for keeping the UI OS-native by using EM_SETCUEBANNER.

[2018-12-06 14:44] jnm2 commented on #147
Duplicate of https://github.com/dotnet/project-system/issues/2963?

[2018-12-06 14:54] jnm2 commented on #140
@sylveon I've been doing the same workaround :D

[2018-12-06 15:20] jnm2 commented on #177
See https://github.com/dotnet/core-sdk/issues/79#issuecomment-422492997 for an in-depth explanation of why we need to ship these types for our end users to use at runtime.

[2018-12-06 15:34] zsd4yr commented on #178
@Tanya-Solyanik is this code gen? Does this live in the runtime?

[2018-12-06 15:38] nikeee opened #181 "Question: Implement APIs formerly provided by WindowsAPICodePack?"
Some time ago, there was the [WindowsAPICodePack](https://stackoverflow.com/questions/24081665/windows-api-code-pack-where-is-it), which essentially vanished from the public. Most of the APIs provided for WinForms do not exist to the current day.

Is there any plan to re-implement some of these APIs? There are #146 and #57 which already did some of this work.

There are numerous packages from diff

[2018-12-06 15:39] zsd4yr commented on #147
@jnm2 this issue tracks only Winforms while https://github.com/dotnet/project-system/issues/2963 is tracking progress for Winforms and WPF. I don’t their either has to be duped, but feel free to relate the two :)

[2018-12-06 16:34] KlausLoeffelmann commented on #178
It is related to the Classic Framework Designer, I assume

[2018-12-06 16:58] zsd4yr commented on #178
@klausloeffelmann does code gen live in design time? I think it isn’t in the runtime

[2018-12-06 17:05] KlausLoeffelmann commented on #178
The CodeDomSerializer lives in the Core runtime, I think, but is triggered by the designtime, but Tanya should confirm.

[2018-12-06 17:07] zsd4yr opened #182 "Port accessibility fixes from framework runtime to core runtime"

[2018-12-06 17:34] zsd4yr opened #183 "Create an extensible functional UI testing solution"
This issue is to track our current progress porting our existing functional testing suite as well as to encourage a discussion for a more long-term solution to functional UI testing solution.

Our current suite uses Maui as well as a wrapper library (made by the windows forms team), which are fired by xunit tests.

[2018-12-06 17:40] jnm2 commented on #181
E.g.: https://github.com/dotnet/winforms/issues/146

[2018-12-06 18:45] karelz commented on #183
@zsd4yr I recommend to use only 1 issue type label ...

[2018-12-06 18:46] zsd4yr commented on #183
:) works for me

[2018-12-06 18:50] sharwell commented on #183
I've done a bit of work on this in GitExtensions. If the approach is desirable I could implement a more generalized solution here. Would the goal be to just support tests within this repository, or to go a step further and recommend a practice for external Windows Forms developers to create their own tests for applications?

[2018-12-06 18:58] zsd4yr commented on #183
@sharwell --currently looking for something 1) we can run as part of a daily / as-often-as-we-want build (so it needs to be parallelizable; think running many different tests); 2) easy to write, and 3) easy to extend.

The current thinking is to support tests within this repository to create greater confidence in the builds and extensive PRs.

[2018-12-06 19:00] zsd4yr commented on #183
Our current solution is --IMHO-- neither easy to write / edit; nor intuitive to contributors; which is why I wanted to open the discussion to the community 😄

[2018-12-06 19:51] ericstj commented on #50
I agree the dead code analysis would be good to get going on some of these new repositories.  It's another good testcase for the ILLinker (WPF especially, since it relies on internals and reflection heavily).

[2018-12-06 19:52] ericstj opened #186 "Run ILLinker on Winforms codebase and diff to identify deadcode"

[2018-12-06 19:55] zsd4yr opened #187 "Move common tests helpers out of its own binary and into a new Common folder with common src and common test files"

[2018-12-06 20:20] Tanya-Solyanik commented on #187
Is this applicable to unit tests or to functional tests?

[2018-12-06 20:22] Tanya-Solyanik commented on #186
https://github.com/dotnet/core/blob/master/samples/linker-instructions.md

[2018-12-06 20:23] sharwell commented on #183
My preferred approach has the goal of looking close to this:

[code]

This addresses two early concerns:

1. Easy to reason about the test purpose
1. Test reliability (specifically avoiding cases where asserts run too early)

[2018-12-06 20:41] ericstj commented on #186
More info is in this issue in CoreFx https://github.com/dotnet/corefx/issues/17905

[2018-12-06 20:42] zsd4yr commented on #187
it's applicable to all shared; both src and test code

[2018-12-06 20:53] kpreisser commented on #146
Hi @GSPP,

thanks for your reply!

Note that the Task Dialog explicitely supports not using a parent window (documentation of the `hwndParent` parameter):

When not specifying a parent window, the Task Dialog will be displayed as non-modal window (so it does not lock/hide other windows). This is also the behavior with a native MessageBox (if you directly call the `MessageBoxW` API), whereas the `M

[2018-12-06 21:04] RussKie commented on #183
E.g. here
https://github.com/gitextensions/gitextensions/tree/master/UnitTests/GitUITests/CommandsDialogs/CommitDialog

[2018-12-06 21:35] AdamYoblick commented on #187
Yeah this is basically doing two things at once - creating $(repoRoot)\Common\src and tests and moving the common testhelper files to that common tests folder. The Common src folder can be used for whatever other common files we have.

[2018-12-06 22:41] #187 closed

[2018-12-07 00:01] lextm opened #192 "UAC shield icon no longer shows in preview 1"
The shield button is required to indicate a task requires elevation.

On .NET Framework it is possible to use Windows message to manipulate a button, for example
[code]
This does not work on Preview 1, and no shield icon is displayed.

[2018-12-07 00:20] merriemcgaw commented on #177
@dreddy-work, can you please take a look?

[2018-12-07 00:35] ericstj opened #194 "System.Drawing.Primitves is part of NETCoreApp and should not require a packagereference"
System.Drawing.Primitives has been part of NETCoreApp since 2.0 https://github.com/dotnet/corefx/blob/d6173e069a9bcedfdfd7f4f41e67d23f67157b61/src/System.Drawing.Primitives/dir.props#L7

You can delete https://github.com/dotnet/winforms/blob/457ebceaabfd2982e431c2eecbb69e80f9482e61/eng/Versions.props#L16
https://github.com/dotnet/winforms/blob/457ebceaabfd2982e431c2eecbb69e80f9482e61/src/System.Wi

[2018-12-07 00:43] JuditRose opened #195 "Pressing UpButton/DownButton should jump to the matching item when setting a part of text , which similar to one of DomainUpDown collection"
Background: recently, we updated the testcase project's targeting pack to .Net 4.7.3, found this regression issue from .Net 4.7.2

Repro Steps:

1.     Create a Winforms application with targeting latest .net 4.7.3 and add a DomainUpDown to form designer
2.      Add and setting to UseLegacyScrolling quirk value to ‘true’ from default value ‘false’ in app.config file
     <runtime>
          <AppCo

[2018-12-07 01:54] karelz commented on #195
Nit: There is no 4.7.3. Do you mean 4.8?

[2018-12-07 03:10] carlowahlstedt opened #198 "Strange Encoding Issues"
When cloning and opening the code base for the first time, on macOS 10.14.1, strange encoding issues appear. A few were fixed in another PR, but here's a list of the others I found.

<img width="333" alt="screen shot 2018-12-06 at 9 56 24 am" src="https://user-images.githubusercontent.com/2687687/49625373-422c8700-f9a3-11e8-91b8-18808f574e87.png">

#155 @Tanya-Solyanik

[2018-12-07 09:11] RogerHardiman commented on #159
I would direct users to the Mono project and the WINE project. Both offer a WinForms emulation for Linux and MacOS. It was written years ago and us mostly complete.

[2018-12-07 11:58] GSPP commented on #146
Great!

I see. These would be framework provided derived classes and there would be no option to implement your own. These buttons should then not use an interface because that can be implemented by user code. It should be an abstract base class with a private constructor and the derived classes sealed. Inheritance is used as a discriminated union type here. It's not for Liskov substitution.

[2018-12-07 12:34] KlausLoeffelmann commented on #134
@jnm2: I would agree with you, if there wasn't the need for custom rendering for MultiLine. Or do you want to abandon support for MultiLine, and only go the EM_SETCUEBANNER road?

[2018-12-07 14:16] jnm2 commented on #134
Can we start with only support for what can be natively themed (EM_SETCUEBANNER) and then look at simulating it if someone asks for multiline support down the road? It seems rare. (And when we get to the point of someone asking for it, we might be able to do something such as turning off multiline mode when the text is null or empty so that EM_SETCUEBANNER kicks in, to retain native theming.)

[2018-12-07 14:24] KlausLoeffelmann commented on #134
I neither think it's rare, nore would I like to have it implemented inconsistently, also since It would hurt accessibility compliance, so I'd say no.

[2018-12-07 14:36] jnm2 commented on #134
'Rare' is anecdotal (I don't recall noticing it), but Windows doesn't support it natively. It would be interesting to know how relying on EM_SETCUEBANNER hurts accessibility compliance. But all that aside, making it work in multiline mode would be a good thing, so let's do that!

For placeholder text in multiline mode, can we still use EM_SETCUEBANNER and switch to and from ES_MULTILINE based on w

[2018-12-07 15:01] jnm2 commented on #146
My implementation also has a `CommandLinkDescription` property because when `UseCommandLinks` is true, up to two lines of text in `pszButtonText` are used. This might be nicer as an API than requiring the user to know about concatenating `text + '\n' + commandLinkDescription` to get what they want.

[2018-12-07 16:02] karelz commented on #198
I am curious what is the unicode char that causes the trouble. I doubt it is "normal" apostrophe, or backtick. Those should IMO just work everywhere.

[2018-12-07 16:08] AdamYoblick commented on #198
Maybe the special curved single a double quotes that Word uses for example?

________________________________
From: Karel Zikmund <notifications@github.com>
Sent: Friday, December 7, 2018 10:03 AM
To: dotnet/winforms
Cc: Subscribed
Subject: Re: [dotnet/winforms] Strange Encoding Issues (#198)

I am curious what is the unicode char that causes the trouble. I doubt it is "normal" apostrophe, or back

[2018-12-07 16:15] karelz commented on #198
Maybe, although I wonder how they got from Word to code :)

[2018-12-07 16:22] jnm2 commented on #198
I type `’` on purpose because I like it (Alt+0146).
UTF8 (no BOM) all the things! Tooling shouldn’t be enforcing restrictions like this on us at this point. I've yet to see issues with out-of-the-box Git setup and curly quotes.

[2018-12-07 16:58] kevingosse commented on #48
There are two places with unused fields:

- https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2TypeInfoProcessor.cs#L37
- https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs#L45

In both cases, they are instances of TraceSwitch used through the file in `Debug.Wr

[2018-12-07 17:45] zsd4yr commented on #48
I prefer indirection, but others may feel differently. 😉

[2018-12-07 17:45] rido-min opened #202 "Incorrect ThreadExceptionDialog"
* .NET Core Version:
[code]
* Have you experienced this same bug with .NET Framework? No

**Problem description:**

Thread Exception Dialog shows some issues:

- Resources are not used
- Buttons overlap
- Text is not formatted

![image](https://user-images.githubusercontent.com/14916339/49663771-82702180-fa04-11e8-937a-573b423ea573.png)

**Expected behavior:**
Same as .NET Framework

![image](http

[2018-12-07 18:59] zsd4yr commented on #175
Starting a discussion here after talking about this issue with @ericstj

[2018-12-07 19:03] zsd4yr commented on #175
If we make this change to -refout, we will only have the ref dll's; not the ref source.

Reasons we might want ref sources:
1. You have a nice concise record of the public API that can be reviewed by API design
2. It forces you to make concious changes to public API and consider if they are breaking.
3. It allows you to make some changes *only* in the reference or implementation (like adding an ob

[2018-12-07 19:04] zsd4yr commented on #175
if we used the /t:GenerateReferenceSource option, we could rebuild reference from source when necessary (giving us the same benefits of the -refout flag) but still allowing us to have these benefits because we have the reference source

[2018-12-07 19:06] AdamYoblick commented on #175
I really like 2 and 3. Especially 2. If forces us to manually recognize public api changes instead of being able to forget and the build just goes on as normal.

[2018-12-07 19:06] zsd4yr commented on #175
We also IMHO 'ought to start including apicompat as part of our public builds here. if the reference is incompatible with the implementation, our build should fail. @AdamYoblick do you agree? I can create an issue and try to add it as a step to our process 😄

[2018-12-07 19:07] AdamYoblick commented on #175
Yeah apicompat is fine but that eliminates the option for benefit 3 (unless the apicompat handles the case where the source has MORE publics than the ref, then we're ok).

But yes, apicompat should be automatic as part of the CI build.

[2018-12-07 19:07] zsd4yr commented on #175
we can check the apicompat in one direction but not the other?

[2018-12-07 19:09] zsd4yr commented on #175
for example, I apicompat is capable of ensuring the implementations satisfy the reference without ensuring that references parity the implementation.

We 'ought to be able to do the same with core and framework to ensure that core is a superset of framework if we want

[2018-12-07 19:09] AdamYoblick commented on #175
I know nothing about apicompat 😆

[2018-12-07 19:09] tannergooding commented on #175
One of the big problems with not using the built-in compiler `refout` feature, however, is that it is very easy to end up in a world where the information you are including or excluding does not match what the C# compiler thinks is should be included/excluded.

There have been issues in the past where the `/t:GenerateReferenceSource` option in CoreFX has not matched (and still may not match) the C

[2018-12-07 19:18] jaredpar commented on #175
Indeed the CoreFX tooling for reference assemblies was designed without consulting the compiler team. As a result it turned out they made a variety of decisions that caused their reference assemblies to be observably different from there implementation assemblies. This caused a deal of customer confusion as subtle changes to their build caused them to silently switch between reference + implementa

[2018-12-07 19:18] merriemcgaw commented on #198
Is this happening on Windows? Or any other OS beyond MacOS?

[2018-12-07 19:20] zsd4yr commented on #198
Does anyone know of a way to simply replace these at commit / push time? can .gitattributes do something to help us here?

I do not think each developer should have to fix these; we should just to something automatic to ensure all chars in comments are unicode readable.

[2018-12-07 19:23] zsd4yr commented on #175
@jaredpar is there an issue in either roslyn or corefx to bring these two closer together that we can link here? I'd love to read more on what the difference are, as I think there's some benefits here to having the source

[2018-12-07 19:23] merriemcgaw commented on #202
@rido-min does this still happen on the latest WinForms build? It should be fixed by https://github.com/dotnet/winforms/pull/98

[2018-12-07 19:31] jnm2 commented on #198
Were all the files added in https://github.com/dotnet/winforms/commit/195f89af79d550c2da1711c45c379efd63519ac1 saved as UTF8 without BOM?

Once all files are on UTF8, .editorconfig's `charset = utf-8` can ensure that encodings aren't accidentally mixed. I usually do:

[code]

[2018-12-07 19:39] #50 closed

[2018-12-07 19:56] merriemcgaw commented on #181
Thank you for the suggestion! Bringing these APIs into WinForms is not currently on our radar for our published [roadmap](https://github.com/dotnet/winforms/blob/master/roadmap.md). I suggest that whichever APIs are most important to you to be added are filed as individual issues so that we can evaluate them one by one. I'm going to close this issue and look forward to seeing the individual issues

[2018-12-07 19:56] #181 closed

[2018-12-07 20:44] KlausLoeffelmann commented on #134
I was referring to accessibility and Multiline. I am sure, if EM_SETCUEBANNER worked for MultiLine, accessibility would be even easier to cover. I am checking the exact requirements for the accessibility scenarios right now.

[2018-12-07 20:45] kevingosse commented on #40
Before I go too far on this (there's **a lot** of them), are we absolutely we want to remove all the SecurityPermission/UIPermission/Assert stuff? I understand they're no-op on .net core, but coreclr/corefx keep a few of them for the parts of code that are shared with .net framework. Are we positive we don't need to do the same thing for winforms?

[2018-12-07 20:47] sharwell commented on #40
💭 I'm not sure why we would be removing `Debug.Assert` calls. I sometimes use those to document assumptions made at different points in code and I wouldn't be surprised to see similar things in some places here.

[2018-12-07 20:49] kevingosse commented on #40
The CAS asserts, not the debug asserts :)

For instance, https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/WinFormsSecurity.cs#L488

[2018-12-07 21:32] lextm opened #204 "Verb runas does not trigger UAC elevation in preview 1"
* .NET Core Version: (3.0 Preview1)
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
It is very common to call another executable using `Process` class and pass `"runas"` as verb to trigger UAC prompt, so that the executable to call is launched as elevated.

**Actual behavior:**
No UAC prompt. The executable is launched but not elevated.

**Expected behavior:

[2018-12-07 21:47] rido-min commented on #202
I tried again with latest bits and got the same results:

[code]

[2018-12-07 21:59] lextm commented on #204
Here is the sample project.
[uac-elevation-test.zip](https://github.com/dotnet/winforms/files/2658884/uac-elevation-test.zip)

1. Open WindowsFormsApp1.sln in Visual Studio 2019 Preview 1.
1. Compile all projects.
1. Go to TriggerElevation\bin\Debug to launch TriggerElevation.exe.
1. Click the button.

Because this is a WinForms app on .NET Framework, UAC prompt should appear, and after that a mes

[2018-12-07 22:13] zsd4yr commented on #198
We should be able to add it and then locally take all out and put all back in liek you would if you updated the gitignore.

[2018-12-07 22:19] zsd4yr commented on #198
actually I forgot that we do not currently wish to change all the files like that but I've made this change @jnm2 so that all new files will not suffer 😄

#205

[2018-12-07 22:35] wjk commented on #204
@lextm Two thoughts;

1. Are you certain `UseShellExecute` is true? If not, the verb will be ignored.
2. You might want to test to see if this bug also reproduces with a console application as well as a Forms app, because the `Process` class actually exists in [corefx](https://github.com/dotnet/corefx), which is not Forms-specific. If so, you  might want to move this bug there.

[2018-12-07 23:08] karelz commented on #40
Thanks for picking up the issue @kevingosse! I added you to collaborators list. Once you accept, ping me here and I will be able to assign it to you. (assigning to myself temporarily)

@dotnet/dotnet-winforms FYI about collaborator trick (with Read permissions) - see https://github.com/dotnet/winforms/settings/collaboration

[2018-12-07 23:09] kevingosse commented on #40
@karelz accepted

[2018-12-08 00:09] lextm commented on #204
Thanks. It seems that the default value of `Process.UseShellExecute` has been changed to `false` on .NET Core, which is the cause of this issue. Close it now.

[2018-12-08 00:09] #204 closed

[2018-12-08 00:47] lextm commented on #204
Related to https://github.com/dotnet/docs/issues/3111

[2018-12-08 01:38] stefanov-stefan opened #210 "win-x64 publish with Core3 Preview and VS2019 results in ""CheckEmbeddedRootDescriptor" task was not given a value for the required parameter "AssemblyPath"""
I have been trying to publish a plain dotnet new winforms app by following the steps [here]([url](https://github.com/dotnet/core/blob/master/samples/linker-instructions.md)), but I end up with error: error MSB4044: The "CheckEmbeddedRootDescriptor" task was not given a value for the required parameter "AssemblyPath".

See attached image for the whole process.

I am running VS2019 Preview and have

[2018-12-08 02:17] jnm2 commented on #198
My only caution about doing the .editorconfig without normalizing existing files would be that you might see invisible (whitespace) changes on the first line of each modified file in a PR for files changing from UTF8-BOM to UTF8. It doesn't seem too bad, but ymmv and it might bug you.

[2018-12-08 18:31] tomrus88 commented on #210
I've had exactly same error when I used ILLink.Tasks package, publish works fine without it. So it must be some problem with ILLink.Tasks, not winforms?

[2018-12-08 23:57] damageboy commented on #177
Same here...
Trying to test our WinForms stuff in .NET Core 3.0 and hitting up on these missing APIs as part of property-grid related runtime support.

In my case the missing types are:
* `CollectionEditor`
* `ObjectSelectorEditor`

[2018-12-09 00:43] dreddy-work commented on #177
Sure. Editors were ported as prioritized. We will get these ported as soon as possible.

[2018-12-09 09:43] ghost opened #214 "Upgrade ReportViewer Control"
1- Allow us to change the default zoom of the ReportViewrer  control programmatically. I prefer to use "fit width", so I had to hack the control using reflection to do so, which can cause problems in different versions.

2- Allow to save the report in doc format. Some Arabic reports is miss-formatted in docx.

3- I suggest also to add a static method to the ReportViewrer  control to Allow us to pr

[2018-12-09 13:29] KlausLoeffelmann opened #215 "Port ToolStrip HighDpi improvements from Framework runtime to Core"
This is a back-port of the bug fix from .NET 4.8 (BUG 378542) and its original description:

Adjustments for controls for smooth operation in HighDPI PerMonitorV2 mode are usually straight-forward, since the basic infrastructure for this is already implemented in the control class.
Basically, the problem has to be solved that if a form is moved from one monitor to another with a different pixel de

[2018-12-09 13:38] kpreisser commented on #146
I have now done the changes in branch [`apiProposal`](https://github.com/kpreisser/TaskDialog/tree/apiProposal).

@jnm2 Thanks for your suggestion! You are right, it is more user-friendly to have different properties so that the user doesn't need to concatenate the strings with an `\n`. I have implemented this in the `TaskDialogCustomButton` class by using a `Text` and `DescriptionText` property.

[2018-12-09 15:51] BuraChuhadar commented on #117
I don't think the comments above should be the actual approach. At the end browser control would default itself to IE 11. With a lot new web based applications out there, it impossible support this component. IE 11 doesn't support a lot new web standards as it is getting harder and harder every day to support IE 11's desires. A fundamental change is necessary here. Please consider switching Edge b

[2018-12-09 17:21] Liminiens opened #216 "System.Resources.Resx code readability and style issues"
**Problem description:**

Currently there is an issue with code style consistency in `System.Resources.Resx...` family (like using BCL types instead of keywords), and in some places the readability of the code could be improved. For example, use  `foreach` instead of `for`, or remove redundant else conditions. Also some patterns like `str != null && str.Length > 0`, or `.Equals` can be simplified.

[2018-12-09 18:44] MohammadHamdyGhanem commented on #117
@BuraChuhadar
The control should use the highest version available.  Edge is version 12 and above.

[2018-12-09 21:38] raffaeler opened #218 "DataObject.SetAudio should be exposed with a new overload taking Span<byte>"
The `DataObject` class currently exposes two audio overloads. The [first one](https://github.com/raffaeler/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs#L385) taking a `byte[]` calls the [second](https://github.com/raffaeler/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs#L395) who takes a `Stream`.

# Rationale
Since the

[2018-12-10 06:17] zsd4yr commented on #218
This is great! Still ironing out what it will mean to expose an additional overload api using span when span is not supported in VB. This is also an ongoing discussion in #148; hopefully we'll get an answer from our api review board and amongst the team sometime this next week.

[2018-12-10 07:03] KlausLoeffelmann commented on #216
Absolute. I would even go so far to say: Before we would accept PRs which 'optimize' code in terms of standards/readability, we'd need benchmark proof that the modification doesn't hurt performance.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Zachary Danz <notifications@github.com>
Sent: Monday, December 10, 2018 7:23:42 AM
To: dotnet/winforms
Cc: Subscr

[2018-12-10 15:50] GSPP commented on #146
Sounds very good to me.

Maybe we should create a few succinct demos of this new `TaskDialog` just to see how the API feels. Both simple and elaborate use cases. Once we ship this API it's frozen forever.

Is there a way to get that native code error fixed? Clearly, this requires a Windows change. If you can create a repro this could be initiated by the team.

[2018-12-10 17:23] livarcocc opened #221 "How to reference System.Design"
@jnm2 commented on [Thu Sep 13 2018](https://github.com/dotnet/core-sdk/issues/79)

When converting the project to netcoreapp3.0 and keeping the `System.Design` reference, the compiler doesn't seem to see the reference:

[code]

How will this work in the future?

(edit) This gets it to build:

[code]

But since System.Design is heavily used at runtime, I'm doubtful that the .NET Framework's System

[2018-12-10 17:53] zsd4yr commented on #221
Can you not reference the facades in source?

[2018-12-10 18:08] dreddy-work commented on #221
@zsd4yr, we need to port these editors to core. This is issue is ported from core to here.

[2018-12-10 18:17] zsd4yr commented on #216
@KlausLoeffelmann I think that should not be necessary for this **particular** PR, as I've gone through it manually and can guarantee the benefit here. However, I agree that we absolutely need bench marking of our current performance. We have this anecdotally on a few applications but not anywhere approaching the law of large numbers nor with any real confidence about the most important / frequent

[2018-12-10 18:22] jnm2 commented on #221
Just to clarify, more types than just CollectionEditor and ObjectSelectorEditor are needed at runtime by our customers. Types such as `DesignerActionList` ([full list](https://github.com/dotnet/core-sdk/issues/79#issuecomment-422492997)) are also used by our customers at runtime because we integrate with DevExpress's [end user report designer](https://docs.devexpress.com/XtraReports/10715/create-e

[2018-12-10 18:25] zsd4yr commented on #221
I believe we initially did not port these because we expected that they were primarily used / only used in design-time scenarios. I see that this supposition is not the case, so we need ot get moving on porting these.

[2018-12-10 18:32] zsd4yr commented on #178
perhaps @JuditRose could take this issue on? It sounds familiar

[2018-12-10 19:15] gilfusion commented on #146
If I might interject a question or two... is the TaskDialog you're designing only meant to be used from code, or would it be possible to at least configure it's properties from the designer (once it's up and running on Core), like ColorDialog, OpenFileDialog, and friends? How would this design affect that use case?

[2018-12-10 19:37] kpreisser commented on #146
Hi @GSPP,

good idea! I think I can edit my first command and provide the current public API surface along with a few real-world examples of the Task Dialog (e.g. the ones that we use in a commercial application and ones that I have seen on other applications) and their corresponding code for the current API state. I'm sure there still are a lot of TODOs/fine tuning for the API (especially the nam

[2018-12-10 20:04] zsd4yr commented on #218
@raffaeler once you feel comfortable with your work here (including testing 😄 ), feel free to mark this issue as `api-ready-for-review`. I'm working on next-steps with our API Review board

[2018-12-10 20:14] raffaeler commented on #218
@zsd4yr As we already discussed the topic with @karelz and I did further investigations, I believe it's done, unless you have comments in the linked PR.
Said that, I have no clue on how to assign that label :) I believe you only can do that.

[2018-12-10 20:37] kevingosse commented on #48
I'm at loss about what to do for MarshalAs.SafeArray (used for instance here: https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/UnsafeNativeMethods.cs#L2399)
According to the API, we are indeed expected to use a SAFEARRAY: https://msdn.microsoft.com/en-us/windows/ms536782(v=vs.71)
But the attribute is marked as obsolete in .net core, with the message

[2018-12-10 20:55] zsd4yr commented on #218
Assiging us both for my own purposes 😀

[2018-12-10 22:00] zsd4yr commented on #48
Maybe @dreddy-work and @Shyam-Gupta can advise?

[2018-12-10 23:20] wjk commented on #146
@kpreisser For proper designer support, you would need to do the following:

* Make the `TaskDialog` class inherit from `System.ComponentModel.Component` and annotate it with `[ToolboxItem(true)]`. This tells the designer that this control should appear in the toolbox.
* Annotate the properties that should be editable in the designer with `[Category("...")]`, `[Description("...")]`, and `[DefaultV

[2018-12-11 00:48] Tanya-Solyanik commented on #169
fixed by https://github.com/dotnet/winforms/pull/185

[2018-12-11 00:48] #169 closed

[2018-12-11 00:54] maikebing opened #228 "The comments generated by the designer do not make sense, please cancel"
I recommend canceling the designer to generate comments, or not internationalization,
Because different language programmers generate comments in different languages when they adjust the interface, there are a lot of changes when they are submitted to git, which is actually of little practical significance.

[2018-12-11 01:47] merriemcgaw commented on #195
Yep, that's what was meant. :)

[2018-12-11 08:05] KlausLoeffelmann commented on #228
I think I know what you mean, but could you give an example, so people not so familiar with CodeDomSerialization (I assume your talking about the Windows Forms Designer?) would better understand?

[2018-12-11 08:45] Liminiens opened #229 "cachedTypes in AssemblyNamesTypeResolutionService is unreachable"
**Problem description:**

[Here ](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs#L977) the field [cachedTypes](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs#L824) is currently unreachable because it relies on `Assembly.GlobalAssemblyCache` which is false in .NET Core and `Is

[2018-12-11 13:17] jnm2 commented on #146
`[Browsable(false)]` should also be specified for any properties (including get-only properties) which you don't want visible in the properties window.

[2018-12-11 16:24] jeffschwMSFT commented on #210
cc @sbomer

[2018-12-11 18:57] #195 closed

[2018-12-11 20:00] kpreisser commented on #146
Hi @wjk and @jnm2,
thank you very much for your help! I will look into doing the necessary changes in the next few days.

[2018-12-12 08:22] raffaeler commented on #218
@danmosemsft I am not sure to understand the rationale in what you are saying. Most of [nestandard2.1](https://github.com/dotnet/standard/blob/master/docs/versions/netstandard2.1_diff.md) is about overloads taking `Span<>` or `ReadOnlySpan<>`. Many of them are for interop with Streams, I/O related classes, StringBuilder and many other (I can count 706 at the provided link).

I am not saying that w

[2018-12-12 08:35] MichalStrehovsky commented on #218
The litmus test for adding a `Span` overload is to answer the question: can this be used to avoid an allocation? The implementation provided in #217 does a full copy of the span's content into a stream. The user might call this API thinking they're avoiding an allocation, but the API will allocate nonetheless (the provided implementation makes a copy of the span's data and stores it in a `MemorySt

[2018-12-12 09:06] raffaeler commented on #218
@MichalStrehovsky Unfortunately I could not get rid of the Stream, but I believe there is another point here.
The original implementation does not allow to specify the offset and length parameter. Therefore, if the user is willing to slice the buffer, the `Span` overload can avoid the additional allocation.
Now the problem is if we should add a `public virtual void SetAudio(byte[] audioBytes, int

[2018-12-12 09:13] MichalStrehovsky commented on #218
[code]

The proposed implementation of the new `SetData` overload will allocate an array that has the same length as the slice within the `MemoryStream` for the above snippet.

This is equivalent to the allocation incurred for the following piece of code that is already possible with the existing API surface:

[code]

Am I missing something?

[2018-12-12 09:34] MichalStrehovsky commented on #218
I'll let owners of WinForms speak to that, but this looks like a convenience method too.

I assume VB developers would have the data in an array.

They can do:

[code]

This would even prevent the copy of the data for the slice because `MemoryStream` uses the provided array as the backing store (no copy is made).

[2018-12-13 12:16] KlausLoeffelmann opened #242 "PlatformNotSupported Exception thrown by LoadAsync() method of PictureBox control"
Stepts to reproduce:

1. Create a new WinForms Core App.
2. Add the following Code the Form's constructor.

[code]

3. Run the app.

**Expected Result:** `LoadAsync` should be executed. (**NOTE:** Although `LoadAsync` implies this, the method does not return `Task` but `void`, so the usage here is correct with regards to `async`/`await.`)

**Actual Result:** An exception pops up, please see follow

[2018-12-13 14:48] jnm2 commented on #242
The `BeginInvoke` call is something I think https://docs.microsoft.com/dotnet/standard/analyzers/api-analyzer would have caught at compile time, IIRC.

[2018-12-14 01:19] nsivov commented on #192
BCM_SETSHIELD will only work for comctl32 v6, so first thing to check is that correct manifest/context is enabled.

[2018-12-14 03:34] AraHaan commented on #147
Uh I am trying to get ``<FrameworkReference Include="Microsoft.DesktopUI" />`` to work on my test Winforms application on my laptop that is not online, anyone got a direct link or something to download all the nuget packages needed to build the project on that computer  by using my iphone to download them to the computer?

[2018-12-14 04:38] lextm commented on #192
@nsivov Thanks for the hint. Added the following to application manifest and used SysInternals sigcheck to confirm, and then the shield icon started to show up,
[code]

However, on .NET Framework/Windows, the manifest section can be commented out while shield buttons still appear. So there is still a compatibility issue (or breaking change) here.

Microsoft should either change the .NET Core 3.0 d

[2018-12-14 08:56] KlausLoeffelmann commented on #242
@ericstj , could you take a look?

[2018-12-14 09:02] KlausLoeffelmann commented on #242
In addition: What do folks think about making this method `Obsolete`, and come up with a new one which does keep what its promising (namely returning Task and not void)?

[2018-12-14 09:58] weltkante commented on #242
It doesn't promise returning a Task, that's some naming convention which was invented way later than WinForms. Errors are reported through LoadCompleted event, would you obsolete that as well or expose the same error twice through different means?

Without having a proper infrastructure for async support in the WinForms framework I see little value in adding Task support for this particular method

[2018-12-14 12:54] KlausLoeffelmann commented on #242
I think we just have!  😊

Think about the target audience for a second that WinForms have - this is quite different from what you normally have in Core. So, I think, this might be even a great opportunity to start, because the use case is simple and straight forward. On top I expect the actual usage of this method extremely low. And at the same time, I expect that the typical Windows audience expe

[2018-12-15 10:01] asmaaswt commented on #242
البرمجة بالعربية غير مدعومة

[2018-12-15 22:13] karelz commented on #242
@asmaaswt we use English in our repos - we not have capability and/or capacity to use other languages. English is treated as most common language for most developers world-wide.

I used automated translation (updated above), but I am not sure if it is correct, or how it relates to this specific issue. Can you please explain in more details what you meant and how it relates to this issue? Thanks!

[2018-12-16 15:06] kevingosse opened #247 "RuntimeEnvironment.GetRuntimeInterfaceAsObject is not supported"
Running the Microsoft.DotNet.Analyzers.Compatibility, I found one occurence of API that is not supported on .NET Core.
In `ComponentManagerBroker` we call [`RuntimeEnvironment.GetRuntimeInterfaceAsObject`](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/ComponentManagerBroker.cs#L192). This method [throws a PlatformNotSupportedException](https://git

[2018-12-16 15:07] kevingosse commented on #242
I gave it a try, to my surprise `BeginInvoke` is not detected by the analyzer.

[2018-12-16 15:52] KlausLoeffelmann commented on #135
@Tanya-Solyanik: Until now, our HighDpiMode enum looks like this.

[code]

I could imagine for addressing HighDPI issue in scenarios like the Document class in Windows 10 1809, we would need to take DPI_AWARENESS_CONTEXT_UNAWARE_GDISCALED also into account. So, do you think we should already add an additional HighDpiMode enum value `UnawareGdiScaled`?

(See: https://docs.microsoft.com/en-us/window

[2018-12-16 17:40] weltkante commented on #247
Besides Office this is also used in Visual Studio (called `IOleComponentManager` but its the same interface) and in VB6.

Note that the interface declaration used by WinForms is actually wrong, but apparently it slips through the cracks and doesn't crash anything. (Arguments that should be pointers are commented out and specified as `int`, which is wrong for 64 bit or when the pointer is to a COM

[2018-12-17 02:53] albahari opened #248 "WebBrowser.ObjectForScripting doesn't work"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
Microsoft.WindowsDesktop.App 3.0.0-alpha-27128-4

* Have you experienced this same bug with .NET Framework?: No

**Problem Description**

When you set the ObjectForScripting property on a WebBrowser control and then click a link that calls a method on the ObjectForScripting, it displays a script error dialog inste

[2018-12-17 08:13] 0xd4d opened #249 ".NET Core 3.0 daily build includes WinForms reference assemblies instead of runtime assemblies"
3.0.100-preview-009839 (latest daily build)

The following assemblies are reference assemblies:

- System.Windows.Forms
- System.Windows.Forms.Design
- System.Windows.Forms.Design.Editors

An exception is thrown at runtime if you try to run a WinForms application.

[2018-12-17 12:31] l0hn commented on #210
This error occurs if you add ILLink.Tasks to a fresh core 3.0 console app so I don't think this is specific to winforms.

[2018-12-17 13:36] DmitryGaravsky opened #250 "PlatformNotSupported Exception thrown by Delegate.BeginInvoke() method"
* .NET Core Version: (Version:   3.0.100-preview-009812)
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The call of the `Delegate.BeginInvoke` method fires the `System.PlatformNotSupportedException`:
    `Operation is not supported on this platform.`

It looks like a compatibility bug.

**Minimal repro:**
1. Create a new WinForms Core App.
2. Add the follow

[2018-12-17 14:03] AdamYoblick commented on #249
We did a release into .net core sdk on Friday, so this is mine to investigate. Will look at this first thing today. Thank you.

[2018-12-17 14:17] radiy opened #251 "Fail to create resource file with image."
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)

3.0 Preview1, vs 2019 preview 1.1

* Have you experienced this same bug with .NET Framework?: Yes/No

no

**Problem description:**

Fail to create resource file with image.

**Actual behavior:**

Build will fail with error:
1>C:\Users\kvasov2\projects\tmp\res-bug\Form1.resx(123,5): error MSB3103: Invalid Resx fil

[2018-12-17 16:08] pottereric opened #252 "'PermissionSet' could not be found."
I just cloned the repo last night. When I try to build the application, I get 4 errors that say:
"The type or namespace name 'PermissionSet' could not be found".

I have the latest preview of the SDK installed. (3.0.100-preview-009812)

Is there something else that I need?

[2018-12-17 16:13] AdamYoblick commented on #252
Hi there,

I just pulled master and I'm not able to repro this. Are you referring to building a winforms application, or building the winforms source?

[2018-12-17 16:16] pottereric commented on #252
I am trying to build the WinForms source. More specifically, I am trying to build the Winforms.sln in the root of this repository.

[2018-12-17 16:17] AdamYoblick commented on #252
Are you building through Visual Studio or command line? Does this repro when you run .\build.cmd?

[2018-12-17 16:20] pottereric commented on #252
I tried building in Visual Studio 2017. I tried building with the "dotnet build" cli. I tried building with build.cmd. I got the same thing every time.

[2018-12-17 16:21] AdamYoblick commented on #252
There are some other pre-reqs you need installed in order to build this source, did you follow the steps at https://github.com/dotnet/winforms/blob/master/Documentation/developer-guide.md ?

[2018-12-17 16:59] ericstj commented on #242
Just to confirm, I believe this is intentional per
https://github.com/dotnet/corefx/issues/5940#issuecomment-182107557 /cc @jkotas.  You'll need to make a fix to WinForms here to avoid this API.  The comment here may not even apply any more on Core so perhaps you can just call BeginGetResponse https://github.com/dotnet/winforms/blob/408a31db5c58be99eff71ed94dfae6fda49364e0/src/System.Windows.Forms

[2018-12-17 18:18] zsd4yr commented on #249
Alright, what I'm finding by opening with ilspy and dotpeek is that the assemblies are *not* reference assemblies but they are flagged as such...

Looking into that now

[2018-12-17 18:30] pottereric commented on #252
I had been missing the C++ workload and components. But now I have them installed. When I execute build.cmd, I still get the same 4 build errors related to missing the PermissionSet type.

[2018-12-17 18:39] danmosemsft commented on #251
Same as https://github.com/Microsoft/msbuild/issues/3311 ?

At a guess, this is from ResxResourceReader, probably the Assembly.Load that's in ResXDataNode.GetAssemblyQualifiedName.

[2018-12-17 19:03] Tanya-Solyanik commented on #135
adding an enum value is easy. the difficult part will be to implement  support for these values. It does not matter if the value is added now or later.

[2018-12-17 20:17] ArrowCase commented on #242
Yes please!

[2018-12-17 20:20] weltkante commented on #250
@OliaG as mentioned in issue #242 and according to https://github.com/dotnet/corefx/issues/5940#issuecomment-182107557 this is intentional and not a bug. It certainly isn't a bug in WinForms.

[2018-12-17 21:21] Tanya-Solyanik commented on #178
Duplicate of an issue from Developer community:
https://developercommunity.visualstudio.com/content/problem/286625/naming-rule-violation-these-words-must-begin-with-1.html
Please monitor status there.

[2018-12-17 21:21] #178 closed

[2018-12-17 23:41] zsd4yr commented on #249
Can confirm this is fixed internally; Let's give the remainder of the day to let the changes trickle to the SDK

Thanks @0xd4d for flagging this 😄

[2018-12-17 23:44] zsd4yr commented on #135
Another point about the enum worth noting here is that if you send Uninitalized to windows, for example, to set the thread context, windows will refuse to do this; so we will have to make sure we're checking for this kind of thing. I would prefer to live in a world where we track such things with a boolean of some kind instead of part of the enum, but this is not the end of the world.

[2018-12-17 23:48] nguerrera commented on #249
@AdamYoblick @zsd4yr The "trickling" process isn't automatic yet. If there's an official new build available to insert into the SDK, I can do that. Just let me know.

[2018-12-17 23:58] AdamYoblick commented on #249
Yeah we know :) Zach will create the PR and we'll ping you when it's ready to go.

But since you brought it up...is there a timeline for getting dependency flow set up at least for inputs into dotnet sdk? We did this work for the DotNet-Trusted branch and it was pretty minimal for inputs. Maybe I can create the PR for this in dotnet-sdk?

[2018-12-18 00:53] OliaG commented on #210
@jeffschwMSFT @sbomer it looks like general ILLink.Tasks problem. Where do you track those bugs? Can we move this issue there as it is not WinForms specific

[2018-12-18 01:06] sbomer commented on #210
@OliaG Feel free to move it to https://github.com/mono/linker. This is happening because the linker hasn't been updated to work with the 3.0 SDK, which is something we're working on.

[2018-12-18 02:45] zsd4yr commented on #249
Thanks for the heads up. I just wanted to make sure eveyrone on the thread knew that this would not be _instantaneous_. Your clarification is better though 😄

[2018-12-18 02:59] nguerrera commented on #249
Cc @livarcocc.

We are getting close to moving dotnet/core-sdk to arcade, which should make dependency uptake easier.

I don’t have an ETA.

I don’t know what you have in mind with the PR but I would hesitate to make changes to the current build process.

[2018-12-18 03:37] AdamYoblick commented on #249
The PR would be exactly the changes to enable darc in arcade, without building with the arcade sdk. :)

We are just finishing up those changes in the repo that builds the WindowsDesktop shared UI framework, and the work is pretty minimal. I’m going to document all of it and show it to you guys.

I think it would bring some immediate value to both coresdk, as well as consumers of coresdk, without t

[2018-12-18 06:01] nguerrera commented on #249
We already have a branch building with arcade and will merging it up to master soon. I don't think it's worth duplicating a subset of that unless it's trivial.

[2018-12-18 10:58] VasylRudnitskyi opened #253 "ListViewItem haven't name property value if there is image instead of text"
.Net Framework 4.7.2

ListViewItem doesn't have value of accessible name property when it contains image, so screen reader cannot read it.

Repro
Create new windows form application .net 4.7.2
Create ImageList, add few images.
Create new Listview, add few list items with provided imageindex property.
Open Keros for Desktop and validate list.

Actual result: Name property is empty.
Expected result:

[2018-12-18 11:13] Olina-Zhang opened #254 "Winforms controls’ ProductName property should have a meaningful description in .Net Core, compared to .Net Framework"
**OS:** RS5/RS6
**VS:** 16.0.0.0 Preview 2.0 [28416.104.d16.0stg] + .Net Core 3.0 latest build

**Steps to Reproduce:**
1. Create a Winforms .Net Core application by command: dotnet new winforms –o “xxx”
2. Write code to check any Winforms control’s productName property
	_System.Windows.Forms.Button button = new Button();
       string productName = button.ProductName;_

**Actual:**
 In .Net Core,

[2018-12-18 14:04] AdamYoblick commented on #249
The flow IN is trivial and is identical to the “real” arcade work. This is actually more important to us so our latest bits can flow into coresdk

The flow out is more custom and can probably wait.

[2018-12-18 16:32] ArrowCase opened #257 "MissingMethodException from System.Security.Permissions when running application"
This is an issue with running the hello world WinForms application after replacing the System.Windows.Forms binary with my locally built copy (i.e. to debug changes).

Steps followed:

* Install .NET Core 3.0.0 Preview 1 SDK with [x64 Installer](https://github.com/dotnet/core/blob/master/release-notes/3.0/preview/3.0.0-preview1-download.md) (can't use latest build due to #249)
* `dotnet new winfor

[2018-12-18 18:30] zsd4yr commented on #249
This should now be solved. @0xd4d and others looking for a fix here, please see the [new Core SDK build](https://github.com/dotnet/core-sdk/#installers-and-binaries).

I have confirmed that this is now fixed in 3.0.100-preview-009844

[2018-12-18 18:30] #249 closed

[2018-12-18 18:31] zsd4yr commented on #257
#249 is fixed.

[2018-12-18 18:34] zsd4yr commented on #252
Is this related to https://github.com/dotnet/corefx/pull/33379 ?

[2018-12-18 18:34] zsd4yr commented on #257
Is this related to https://github.com/dotnet/corefx/pull/33379 ?

[2018-12-18 18:39] zsd4yr commented on #254
@Tanya-Solyanik is this due to

[code]

in the get for System.Windows.Forms.Application.ProductName?

[2018-12-18 18:43] zsd4yr commented on #254
Actually, I think it's more likely to be the get for ProductName in the ControlVersionInfo class in Control.cs since this is about a button.

[code]

The code appears very similar.

[2018-12-18 18:47] zsd4yr commented on #253
Looks like this is a framework bug, not a core bug -- @merriemcgaw what do you think?

[2018-12-18 19:37] terrajobst commented on #218
We aren't experts on `IDataObject` but what is the benefit of using `Span<T>` here? The `Stream` API allows you to slice the data already, and it seems the implementation pushes the state into the heap.

For this scenario `Span<T>` doesn't make sense; at the very minimum it would need to be `Memory<T>` (because `Span<T>` cannot be stored on the heap). However, this seems to complicate the API surf

[2018-12-18 19:37] #218 closed

[2018-12-18 19:43] OliaG commented on #253
We should test it for Framework 4.8 and Core 3

[2018-12-18 19:48] OliaG commented on #254
Might be helpful to look at the old FX code to see how it worked

[2018-12-18 19:54] OliaG commented on #257
This is probably fixed and verified by the latest core sdk

[2018-12-18 19:55] ArrowCase commented on #257
Yep, this is fixed with 3.0.100-preview-009844.

[2018-12-18 19:55] #257 closed

[2018-12-18 21:21] AdamYoblick commented on #252
hi @pottereric I believe this is resolved with the latest sdk  (3.0.100-preview-009844.), can you confirm?

[2018-12-18 22:34] merriemcgaw commented on #253
@VasylRudnitskyi, this repo is for .NET Core 3 version of Windows Forms. From your report it appears that you got this for .NET 4.7.2. We've been making changes in the upcoming .NET 4.8. You should test with an [early access build of .NET 4.8](https://github.com/Microsoft/dotnet-framework-early-access) to see if the issue has been corrected. If it has not, please file an issue in that repo.

@M-Li

[2018-12-19 02:05] ArrowCase opened #259 "Create proper Ctrl+Backspace shortcut in TextBox"
In Windows, `Ctrl+Backspace` commonly serves as a shortcut to delete the word immediately preceding the cursor. It is equivalent to `Ctrl+Shift+Left` followed by `Backspace`.

In WinForms, this shortcut works only in single-line `TextBox` controls which have autocomplete enabled. This is actually built into `SHAutoComplete` somewhere in the win32 API, and is a "rogue feature" with no documentation

[2018-12-19 16:39] #252 closed

[2018-12-19 16:41] zsd4yr commented on #259
My guess is that this is going to be by-design. I am fairly certain that the textboxes in winforms are wrappers around native and that winforms doesn't handle text at all except to send it to the windows control.

[2018-12-19 16:44] AdamYoblick commented on #252
Glad we could get it fixed quickly. Thanks for reporting this :)

[2018-12-19 16:57] ArrowCase commented on #259
@zsd4yr WinForms has a custom "select all" shortcut handler for multi-line `TextBox` controls [here](https://github.com/dotnet/winforms/blob/0bfb38964d8def2561b85bb3f32f3a2a8c4d96e6/src/System.Windows.Forms/src/System/Windows/Forms/TextBox.cs#L698) with a comment explicitly calling out the intent to support something that the native control doesn't.

[2018-12-19 17:01] zsd4yr commented on #259
Good to know there is precedent for this; that makes the bar lower. Someone on the team should probably go into our previous source control and attempt to ascertain the reason for / work item associated with that change.

[2018-12-19 17:36] bryukov commented on #253
@merriemcgaw I don't think we have a ready fix from 4.8 for this issue - at least I haven't found one.

[2018-12-19 18:09] jnm2 commented on #259
I live by Ctrl+Back/Del/Left/Right. It doesn't have the awareness of users and implementors that it should have for how much it improves quality of keyboard usage.

[2018-12-19 18:18] zsd4yr commented on #259
What happens when you perform this operation on a native multiline text box?

Trying to determine if this is something windows forms might want to handle on our end or if this is something Windows might want to look at.

[2018-12-19 18:22] ArrowCase commented on #259
@zsd4yr It will insert the ASCII `DELETE` character, which shows up as a box.

It would be fine by me if the Windows team wanted to make this change, but I will note that essentially every text box in Windows 10 today already has the Ctrl+Backspace behavior I'm proposing (try it out in the search bar). Whether that's because they don't use the same underlying native control as WinForms does, or be

[2018-12-19 18:40] ArrowCase commented on #259
@merriemcgaw We don't have to worry about regressions per se, since this shortcut handler would be new and doesn't really change existing code.

As for the correctness of the handler itself, I have tested the behavior of the shortcut in various possible scenarios -- position of the cursor, whether or not a selection already exists, whether the user is also holding other keys including modifier key

[2018-12-19 18:55] dreddy-work commented on #251
@radiy, are you building it from the VS or from the dotnet core command line?

[2018-12-19 19:13] radiy commented on #251
Building from vs

19 дек. 2018 г. 21:56 пользователь "Devendar Reddy Adulla" <
notifications@github.com> написал:

@radiy <https://github.com/radiy>, are you building it from the VS or from
the dotnet core command line?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/dotnet/winforms/issues/251#issuecomment-448705719>, or mu

[2018-12-20 01:10] merriemcgaw commented on #134
Hi @stefanov-stefan , can you please follow the instructions in the [API Review Process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) in the Core repo (specifically the speclet and sample usage) so that we can mark this API suggestion as ready for review? I'll make sure to have it on the API board's radar for the next review.

cc @terrajobst ; @Kla

[2018-12-20 02:33] Botao-Liu opened #262 "Cannot open the Winforms .Net Core application in d15.9 version of VS"
**OS**: RS5 X64
**VS**: Dev15 d15.9 28307.253 + .Net Core 3.0.100-Preview-009844

**More Info**: This issue cannot repro in Dev16 d16.0stg latest build.

**Steps to Reproduce**:
1. install d15.9 version of VS and .net core 3.0
2. Create a Winforms NETCore template application using command: dotnet new winforms -o MyWinformsApp
3. open the application using VS.

**Actual:**
VS cannot open the Winfo

[2018-12-20 19:53] merriemcgaw commented on #262
You should use the latest Preview releases of Visual Studio 2019. Closing this issue

[2018-12-20 19:53] #262 closed

[2018-12-21 06:38] DmitryGaravsky commented on #262
To work with the WinForms .Net Core3 projects in VS2017 you should enable the "Use previews of the .Net Core SDK" option in Visual Studio options.
To accomplish this task open the Options window (Menu->Tools->Options...) and type the ".net core" in the search box:
![vs2017 netcore](https://user-images.githubusercontent.com/8652582/50328424-1b726280-0504-11e9-8742-0d76435df970.png)

[2018-12-21 07:30] KlausLoeffelmann commented on #259
If I understood this proposal correctly, I would be worried about breaking changes in existing code. So, if we at all considered this (where I have to say, I'd actually like the idea), we should definitely also consider quirking it. I therefore find it better to also create an issue in which we thematize quirks as such.

[2018-12-21 14:31] ArrowCase commented on #259
@KlausLoeffelmann To make sure we're on the same page, what kinds of breaking changes would you expect? [Wikipedia says](https://en.wikipedia.org/wiki/Delete_character) the ASCII `DELETE` character historically never had any use on Windows, so I can't imagine why anyone would be relying on the old behavior of the shortcut in WinForms.

For most people, if they know about the other behavior at all,

[2018-12-21 15:02] nsivov commented on #259
@ArrowCase underlying window handles are exposed in winforms, it makes subclassing easy (unless it's somehow remedied at winforms side, but I doubt it). With subclassing any change to existing behavior is immediately visible, in your case new message sequences sent to the Edit that were not sent before. Also isn't it trivial to have the change you're proposing as a custom control, based on winform

[2018-12-21 15:18] ArrowCase commented on #259
@nsivov The point of this change is to improve WinForms. I don't see why enhancements wouldn't be considered. The goal for the 3.0 release is parity with netfx, but as the readme states, "Over time, the two implementations may diverge."

[2018-12-21 15:47] nsivov commented on #259
That only means that no promises is made that they will not diverge. But it would be interesting to hear official interpretation, and attitude towards deliberate changes in behavior.

[2018-12-22 05:31] anirudhagupta commented on #117
@merriemcgaw
What about Replacing the IE7 with MS Edge (upcoming Edge will be based on chromium), Look like new MS Edge will support Windows 7, so there should not be any issue with Windows 7.

[2018-12-23 04:30] lextm commented on #251
The error message only shows when compiling in VS. If running `dotnet build` then everything seems to compile.

However, another bigger issue is that the actual embedded resource contains a string instead of the image, which triggers a runtime exception like,
[code]
If you need a sample project, just do the following,

1. `dotnet new winforms` with .NET Core 3.0 SDK Preview 1.
1. Open this project

[2018-12-23 17:40] zangxx66 opened #266 "Publish winforms application miss .ICO files in .Net Core 3.0"
* .NET Core Version: 3.0 Preview1
* Have you experienced this same bug with .NET Framework?: No

**Problem description:** I set a icon,but it dont work atfer publish,expction is cant found icon file.

**Actual behavior:** exceptions

**Expected behavior:** can't find file "xxx.ico"

**Minimal repro:** Publish action not include reference file,and run exe file must cmd,this isnot reasonable

[2018-12-24 07:53] zangxx66 opened #267 "Winforms application for .Net Core 3.0 cant run in OSX"
* .NET Core Version: 3.0 Preview1
* Have you experienced this same bug with .NET Framework?: No

**Problem description:** cant work

**Actual behavior:** exceptions

**Expected behavior:** Could not load file or assembly "System.Windows.Forms" The System cannot the file specified

[2018-12-24 09:31] zangxx66 commented on #267
Will it support in the future?

[2018-12-24 09:58] anirudhagupta commented on #267
Few days ago I read here that this repository will not take pull request to make it work on Linux and Mac so it certainly not work on other plateform.

[2018-12-24 18:49] merriemcgaw commented on #267
@anirudhagupta is correct. We are not looking to make WinForms cross plat at this time. Closing this issue.

[2018-12-24 18:49] #267 closed

[2018-12-24 18:55] Symbai opened #269 "FolderBrowserDialog - Multiselect"
Thanks for https://github.com/dotnet/winforms/issues/1. While the design from CommonOpenFileDialog from Windows API Codec pack has now shipped into the Folderbrowserdialog which is really amazing, sadly it does not support multiselection where CommonOpenFileDialog from the windows API codec pack does.

It would be nice to have support for selecting multiple folders, just like with CommonOpenFileDi

[2018-12-26 12:58] Lohnegrim opened #270 "C1FlexGrid needs System.Drawing.Design.UITypeEditorEditStyle in System.Drawing"
* .NET Core Version: 3.0 Preview1
* Have you experienced this same bug with .NET Framework?: No

I tried to convert one of our project to .Net Core 3.0 with WinForms, and it compiles and works fine for the most parts, but one of the external components(C1FlexGrid) we use always throws a error:
System.TypeLoadException: Could not load type 'System.Drawing.Design.UITypeEditorEditStyle' from assembly

[2018-12-28 17:47] hughbe opened #272 "Public DataGridViewCellPaintingEventArgs constructor does not set the `dataGridView` field causing NullRefs"
The following constructor is broken:
[code]

The `private DataGridView dataGridView;` field of `DataGridViewCellPaintingEventArgs` is not set so defaults to `null`, so all methods using the args cause a NullReferenceException!!

[2018-12-28 17:48] hughbe commented on #272
This contrasts the similar `DataGridViewRowPrePaintEventArgs` and `DataGridViewRowPostPaintEventArgs` which set this field!

[2018-12-30 22:57] hughbe opened #277 "Debug.Assert failures don't appear in the CI"
E.g. in https://github.com/dotnet/winforms/pull/274 all the Debug CI says is: https://dnceng.visualstudio.com/public/_build/results?buildId=64113
![image](https://user-images.githubusercontent.com/1275900/50552215-4720e580-0c86-11e9-9332-88ff486b68f4.png)

[code]

[2019-01-01 20:28] hughbe opened #283 "Cloned ScrollableControl.DockPaddingEdges.Top actually equals the Bottom!"
[code]

[2019-01-01 20:38] hughbe opened #284 "ScrollableControl.DockPaddingEdges.Equals for a cloned padding throws NRE"
[code]

[2019-01-02 16:17] KlausLoeffelmann commented on #270
Hi @Lohnegrim,

the C1FlexGrid assembly you used: Is that a classic framework or a .NET Core assembly?
(If that would be a classic framework assembly/component, the behavior is expected since both assembly types core/classic are not compatible).

[2019-01-02 18:22] Lohnegrim commented on #270
Hi @KlausLoeffelmann,

It is the classic Framework.

Is, or will/should/may it be compatible in the future, or a will workaround for missing types like this?

[2019-01-02 20:40] KlausLoeffelmann commented on #270
Well, no. Those are different platforms which cannot be made compatible. It is their nature that they aren't compatible. That said, there may be a good chance that your control provider (which is Component One I assume?) might be providing a version for WinForms Core in the future. You might want to check with them.

I am closing this.

[2019-01-02 21:58] zsd4yr commented on #269
Since the older dialog is the one used in Framework, I am adding the compat label here.

[2019-01-02 22:58] zsd4yr commented on #283
Great catch. please see my comments on the PR 😄

[2019-01-03 00:11] doMConSwiss commented on #272
Allready fixed by commit e267e523.
https://github.com/dotnet/winforms/commit/e267e523ed516d1c3fc2c331ec90fbd4d9cb3a19

[2019-01-03 00:20] #272 closed

[2019-01-03 12:31] kpreisser commented on #146
Thanks to the help of @wjk and @jnm2, I was able to having the `TaskDialog` appear in the Windows Forms designer toolbar and provide basic designer support:
![taskdialogproperties](https://user-images.githubusercontent.com/13289184/50637256-82a70280-0f59-11e9-880c-99bcb8affe41.png)
![commonbuttoncollectioneditor](https://user-images.githubusercontent.com/13289184/50637295-b3873780-0f59-11e9-8afa-7

[2019-01-03 17:48] zsd4yr commented on #277
In this case, do you know which debug assert failed?

[2019-01-03 21:37] zsd4yr commented on #134
@stefanov-stefan how is your work providing a speclet and sample usage progressing? We are looking forward to reviewing this in the next API review meeting but we need that information first.

[2019-01-03 23:53] hughbe opened #290 "ScrollableControl.DockPaddingEdges.GetHashCode returns different values for equal"
Overrides `base.GetHashCode` which returns different results for the same padding but with a different owner. Also means that an equal clone does not have the same hash code as the original

[2019-01-03 23:53] hughbe opened #291 "ScrollableControl.DockPaddingEdges.ToString returns """
Should return something descriptive at least, e.g. matching `Padding`

[2019-01-04 03:40] merriemcgaw commented on #266
Is the issue that the dotnet publish command is not including the ico file you set as the icon for the app or is the issue that it's throwing an exception rather than an error message? This is unclear to me.  Is your icon file referenced to be included in your project file?

[2019-01-04 03:48] zangxx66 commented on #266
I am building with vscode.Icon file be included in my project directory and I have added an icon file to my program.Run program have a miss icon file exception after publish command.../bin/netcoreapp3.0/publish is not including icon file

[2019-01-04 14:32] Misiu commented on #134
@stefanov-stefan also please add a note that PlaceholderTest should work with multiline and with MaskedTextBox.

[2019-01-04 17:58] hughbe commented on #277
Any of the debugs deleted in https://github.com/dotnet/winforms/commit/e267e523ed516d1c3fc2c331ec90fbd4d9cb3a19

[2019-01-04 19:46] merriemcgaw commented on #266
Can you please attach a sample repro application so we can further diagnose the issue?

[2019-01-04 19:53] merriemcgaw commented on #134
@terrajobst when is the next API Review meeting? I believe that we are ready to go with @stefanov-stefan's proposal.

[2019-01-04 21:10] zsd4yr commented on #277
I agree this kind of thing should show up in the build as a debug assertion failure, not a test failure.

[2019-01-04 21:31] wjk commented on #266
Is this a case of https://github.com/Microsoft/msbuild/issues/2221? If you are including the icon in a resx file, then `dotnet publish` will not compile the icon properly. You will need to use full-Framework MSBuild for this to work presently.

[2019-01-04 21:48] jnm2 commented on #134
@zsd4yr Shouldn't the color follow the system scheme that EM_SETCUEBANNER does, regardless of how the system colors were picked?

[2019-01-04 22:08] zsd4yr commented on #134
Whenever possible, we should try to rely on system colors. I'm only indicating that we should choose a system color that conforms to this minimum ration compared to the system color for white. I have not checked if this particular case does or does not satisfy the ratio; I am speaking generally.

[2019-01-04 22:34] AdamYoblick commented on #277
Debug asserts happen at runtime, not compile time. If the DEBUG tests are running, debug asserts will be hit I think.

________________________________
From: Zachary Danz <notifications@github.com>
Sent: Friday, January 4, 2019 3:10 PM
To: dotnet/winforms
Cc: Subscribed
Subject: Re: [dotnet/winforms] Debug.Assert failures don't appear in the CI (#277)

I agree this kind of thing should show up in

[2019-01-04 22:55] sharwell commented on #277
Debug assertions need a trace listener to work well in automated test scenarios. For example, see PerfView's use of [`ThrowingTraceListener`](https://github.com/Microsoft/perfview/blob/master/src/PerfView.TestUtilities/ThrowingTraceListener.cs). Note that the listener requires registration to work, which can be seen in https://github.com/Microsoft/perfview/commit/b846e8d0dc4dd3ca95061ad4adc3d309ea

[2019-01-04 23:20] hughbe opened #295 "[cleanup] use HashCode.Combine instead of WindowsFormUtils"
See https://github.com/dotnet/winforms/pull/294#discussion_r245447476

[2019-01-04 23:55] #283 closed

[2019-01-05 19:33] Symbai commented on #266
I have experienced the same problem with WPF on .NET Core 3.0 too so it isn't just winforms related: https://github.com/dotnet/wpf/issues/209

[2019-01-05 20:43] MohammadHamdyGhanem opened #297 "Win 10 scalling issue"
I used VASE app on win 10 ver 1803. It works fine, until I customized win 10 display setting to use a 125% or a 150% scale, when I noticed that subtitle text displayed on the video is shifted down so a part of it goes out of display.
This doesn't happen in Win 7 nor win 10 ver 17xx.
Note: VASE Uses Framework V: 4 . I had a performance issue with V 7.2 put this not our concern here!

What has chang

[2019-01-06 02:42] lextm commented on #297
Quote from the Readme file,

[2019-01-06 03:13] MohammadHamdyGhanem commented on #297
@lextm :
I think this problem exists in .net core too, becuase the changes in win 10. So, any issue we report about .net framework win forms, is to be fixed in .net core version, which we will move to sooner or later. This is expected, becuase up and running apps today use .net framework, so practical issues come from them.

[2019-01-06 04:46] lindexi commented on #297
@MohammadHamdyGhanem I am interested in your question. Can you bring your app to dotnet core to sure this problem exists in .net core too?

[2019-01-07 08:00] stefanov-stefan commented on #134
I have already verified that as Merrie suggested earlier and the selected color is compliant. Thanks for pointing out.

[2019-01-07 08:59] stefanov-stefan commented on #134
Thanks for pointing out. Actually, MaskedTextBox will not be affected, as the property is introduced in the TextBox, not the TextBoxBase class. Still, the Multiline is valid and I will indicate that.

[2019-01-07 09:21] Misiu commented on #134
@stefanov-stefan as PlaceholderText will only show when TextBox is empty I think it is a valid request to also support it in MaskedTextBox.
I don't know the source code that much, but probably it is possible to add PlaceholderText to TextBoxBase instead of TextBox? This way TextBox and MaskedTextBox will benefit from the new property.

[2019-01-07 18:45] terrajobst commented on #134
Tomorrow is the next triage session.

[2019-01-07 23:00] #295 closed

[2019-01-08 05:09] 199621616 opened #302 "Hosting Blazor Introduces WinForm to the Internet"
At present, a large number of traditional WinForm desktop applications urgently need to be transformed into Internet applications. The emergence of Blazor provides conditions for these traditional applications to enter the Internet. WinForm + Blazor + WebApi, a new way to build C # stack development.

[2019-01-08 08:12] stefanov-stefan commented on #134
I see MaskedTextBox as a control that always displays a mask to invite the user to fill in the limited desired input (e.g. ________-____-___), hence the mask itself plays the placeholder text, hence no need for additional one, considering the control purpose.

[2019-01-08 09:54] Misiu commented on #134
@stefanov-stefan You're right - MaskedTextBox always displays a mask, so Placeholder won't be displayed.

[2019-01-08 10:50] gsmental opened #303 "Web Services(asmx) in WinForms"
we are consuming web services (asmx files)  from our WebForms based projects. but these are not available in winform (i am just demanding asmx files)

[2019-01-08 14:57] pveliz opened #304 "Running .Net Core 3.0 Winforms app targeting x86 in windows 10"
I'm trying to run a WinForms App targeting x86 but the application closes immediately and  I'm got this error:

[code]

How to replicate it:

First open File Explorer and create a folder to host your project. Then open a command prompt of your choice, move to the folder you have just created and then execute the following command:

`dotnet new winforms
`

Open visual Studio 2019 Preview, Create a

[2019-01-08 18:01] lhak opened #305 "Improved dpi scaling and support for logical coordinates"
This issue is created as requested for PR #279 to discuss the proposed improvements and new APIs.

# Current status of dpi scaling
Here is some of the insight I have gained into the current dpi scaling implementation by going throught the current codebase. Please correct me if I got something wrong:

- The Control class contains a DeviceDpi property. This returns the system dpi by default and will

[2019-01-08 18:58] terrajobst commented on #134
Presumably `PlaceholderText` will behave like `Text` with respect to handling `null` vs `string.Empty`?

[2019-01-08 19:19] AdamYoblick commented on #277
This is why I'm not a fan of Debug.Asserts in general. I get that they improve performance in release scenarios, but I would rather the test fail consistently if it's supposed to, in both debug and release.

[2019-01-08 20:39] danmosemsft commented on #304
-532462766 (0xe0434352). is the code for "some managed exception"

Can you get a managed callstack in windbg? Something like this, from memory
[code]

[2019-01-09 05:09] Naganathan opened #306 ".NetCore support System.Runtime.Serialization.Formatters.Soap?"
I am facing below exception while serialize/deserialize my project.

Could not load file or assembly 'System.Runtime.Serialization.Formatters.Soap, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.'

Please confirm whether .Netcore support "System.Runtime.Serialization.Formatters.Soap" serialization and any other functionality available

[2019-01-09 07:42] weltkante commented on #277
@AdamYoblick you are missing the point, this *was* a DEBUG run (see `-configuration Debug` switch in the log)

The point sharwell raises is that for CI you need some additional setup code to have Debug.Assert/Trace.Assert actually be treated as a test failure.

[2019-01-09 09:50] gsmental commented on #303
I think, this is a similar issues which i am facing

https://github.com/dotnet/winforms/issues/306

[2019-01-09 14:17] pveliz commented on #304
Please let me know if this will help, if not, please let me know the steps to get the info that you need.

[code]

Thank you

[2019-01-09 17:51] AdamYoblick commented on #277
I understand what Sam is saying. :) This means we would need to change our test code based on the config being run, which I'm not a fan of. If my team disagrees, then I'm flexible of course.

In my opinion, all methods should use real error handling (i.e. throwing exceptions) instead of Debug.Asserts. This would eliminate the need for special test code for the debug config.

I understand the perfo

[2019-01-09 18:31] sharwell commented on #277
@AdamYoblick `Debug.Assert` can be helpful for things like internal invariants that should never be violated. For example, a `private` method could assert arguments are not null if both 1) all exposed callers validate arguments and 2) it's not immediately obvious from the code flow that the callers ensure the arguments are not null. In such a case, `Debug.Assert` is preferable to argument checking

[2019-01-09 19:33] AdamYoblick commented on #277
First let me say that I know I'm in the minority with this opinion. Engineers tend to value performance over everything else, but I do not. :)

I get that Debug.Assert is better performance than throwing exceptions. My argument is that it's safer for every method (even privates) to just validate its own arguments with exceptions. This guarantees that the inputs are valid for any method, regardless

[2019-01-10 02:11] karelz commented on #277
I agree with @AdamYoblick that runtime checks are in 99.9% cases better than `Debug.Assert`. Only 0.1% code may be so perf sensitive, that it matters and justifies use of `Debug.Assert`. Rather be sure (while a bit slower) than faster and sorry.
@stephentoub @danmosemsft does it match your guidence and experience in CoreFX?

[2019-01-10 02:17] stephentoub commented on #277
I'm having trouble following the discussion.  Can someone help me understand what the original problem is?  By default a Debug.Assert will fail fast; is that not happening?  Has it been overridden?  Etc.

As for guidance, my view of Debug.Assert is basically the same as @sharwell: it's for validating that internal invariants aren't broken.  In some cases, those internal invariants are for internal

[2019-01-10 17:17] AdamYoblick commented on #277
@stephentoub In a nutshell, the suggestion was that Debug.Asserts should properly fail our unit tests. Sam's mentioned that we could modify our test code to subscribe to a trace listener in order for debug asserts to properly fail unit tests when running against a debug config.

My comment was we should not have to do this. If a test case is supposed to fail, it should be using Assert.Throws and s

[2019-01-10 19:38] zsd4yr commented on #198
Is this still an issue?

[2019-01-10 19:41] zsd4yr commented on #93
@AdamYoblick this is done, yes?

[2019-01-10 20:06] stephentoub commented on #277
If the tests in question are validating public surface area, then from my perspective no Debug.Assert should ever be triggerable.  In such a case, there's a bad bug, either the assert itself is bad or the important invariant its validating isn't being held, and it fail fasts; this isn't something to be validating via Assert.Throws because you should never be able to cause such exceptions to happen

[2019-01-10 20:23] AdamYoblick commented on #93
:shipit:

[2019-01-10 20:23] #93 closed

[2019-01-10 21:00] #92 closed

[2019-01-10 21:35] zsd4yr commented on #165
@KlausLoeffelmann, we have been very busy these last few weeks! When you get a chance, could you update this thread with any progress?

[2019-01-10 21:36] zsd4yr commented on #140
@sylveon what work is remaining here?

[2019-01-10 21:37] zsd4yr commented on #182
@bryukov @M-Lipin Would you guys mind creating a check-list here so that the community can track on-going work on these ports?

[2019-01-10 21:38] zsd4yr commented on #186
@hughbe this sounds sort of like the work you have been doing?

[2019-01-10 21:38] #194 closed

[2019-01-10 21:40] zsd4yr commented on #101
@merriemcgaw do we have any idea what we want to do about this?

[2019-01-10 21:41] zsd4yr commented on #215
@KlausLoeffelmann, when you get the opportunity, can you update this thread with your progress here?

[2019-01-10 21:42] zsd4yr commented on #221
@dreddy-work, this is still WIP, correct?

[2019-01-10 21:43] zsd4yr commented on #214
@merriemcgaw this looks like an API suggestion; do you agree?

[2019-01-10 21:44] zsd4yr commented on #48
Looks like only CS0618 is remaining?

[2019-01-10 21:46] zsd4yr commented on #228
@maikebing could you supply specific examples of comments which you feel do not make sense? Can you supply the text and where it is being generated?

[2019-01-10 21:47] zsd4yr commented on #229
@Liminiens do you have a proposed change to rely on other values which are not always false?

[2019-01-10 21:47] zsd4yr commented on #175
We are going to move ahead with autogeneration via the compiler. @Shyam-Gupta will provide further updates when appropriate

[2019-01-10 21:49] zsd4yr commented on #192
@karelz what are your thoughts here?

[2019-01-10 21:54] kevingosse commented on #48
Yes. I can't make progress on it without some expertise on the marshaling part :/

[2019-01-11 02:13] maikebing commented on #228
While I'm involved in the international software work, developers in different countries use visual Studio in different languages, and each time the window form is modified, the designer generates comments in different languages, and when submitted to git, it produces a lot of meaningless modifications and deletions! So, I think we should delete these comments.
I've written an example, please clic

[2019-01-11 02:44] merriemcgaw commented on #305
This is a large feature request and not fully in scope for the 3.0 release. However we are actively investigating ways we can improve Per Monitor support for all of our controls. I added the API suggestion tag because we will need to also discuss options around adding to the API and whether that's a good option or not. Thanks @lhak for kicking off the discussions.

[2019-01-11 03:13] sylveon commented on #140
This is done. If you have idea for a better way to unit test this class,
feel free to share because I couldn't find one.

On Thu, Jan 10, 2019, 16:36 Zachary Danz <notifications@github.com wrote:

[2019-01-11 10:35] drewnoakes commented on #140
Relates to https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/19085239-some-system-windows-forms-cursors-values-are-extre

[2019-01-11 16:16] wjk commented on #305
@lhak Given what @merriemcgaw said regarding how this change is not likely to be merged any time soon, I have a question for you. Is there any way I can glue your changes on top of an otherwise-unmodified copy of winforms (via subclassing, extension methods, etc.)?

I have had to jury-rig a custom `ToolStripRenderer` to draw correctly under high-DPI scenarios in the past, and it was not easy. More

[2019-01-11 16:57] lextm commented on #192
@danmosemsft Yes. Sure. I summarize the key points below,

On .NET Framework, my test app uses the following manifest,

https://github.com/jexuswebserver/JexusManager/blob/v12.0.68.0/JexusManager/app.manifest

You can see that the section of `` is commented out.

This test app does show UAC shield icons correctly.

On .NET Core, I found that UAC shield icons did not show up, unless this section is

[2019-01-11 16:59] nsivov commented on #192
It's also possible to activate context dynamically of course. Maybe that's what .NET Framework is doing.

[2019-01-11 17:45] zsd4yr commented on #140
@sylveon the only way I can think would be to roll through instantiating all of them and just ensure the right one is being made. Pretty standard constructor unit test stuff.

[2019-01-11 17:45] #140 closed

[2019-01-14 10:04] KlausLoeffelmann commented on #165
Sure. We should re-prioritize issues this week, anyway.

[2019-01-14 10:13] KlausLoeffelmann commented on #215
PR is waiting in a private branch, and is ready to go, but needs testing beforehand. For this to make easier for the CTI Team, I would rather have #135 in first, which has the same state. We need to re-prioritize internal tasks to see, when the right time is to kick this off.

[2019-01-14 10:45] #253 closed

[2019-01-14 14:44] creativbox opened #317 "VisualStyleRenderer.IsSupported returns false when a dialog is shown on Windows 10 v1809"
* Have you experienced this same bug with .NET Framework?
Yes

**Problem description:**
The parent window does not render with styles on Windows 10 v1809 when an open or save file dialog is shown.

The native UXTheme function GetThemeAppProperties returns additional flags on Windows 10 v1809 if an dialog is opened (e.g. OpenFileDialog). The same flags are returned by the managed wrapper property A

[2019-01-14 18:31] zsd4yr commented on #228
Diff tools can be configured to ignore code comments, which would handle the majority of these. Is that not a viable solution to your scenario, or is it an inconvenient one?

[2019-01-14 19:35] lextm commented on #192
@zsd4yr

On Windows/.NET Framework, the following section can be commented out, and the UAC shield icon still appears,

[code]

On Windows/.NET Core 3.0 Preview 1, however, this section must be uncommented for the shield icons to appear.

[2019-01-14 22:16] merriemcgaw commented on #317
We've seen this issue on .NET Framework as well and have fixed the issue there. @dreddy-work, have we brought the change into Core yet?

[2019-01-14 22:30] merriemcgaw commented on #305
@wjk  you should work with @KlausLoeffelmann , he's been working on the ToolStrip and I'm pretty sure he ported some fixes into .NET Core rather recently (or it's in the works :)).
@lhak , one thing I'd like to understand is what kind of testing you've done and you would propose around this new feature. We're looking at perhaps creating an all new setting somewhere higher in the stack (form or app

[2019-01-14 22:47] karelz commented on #306
That namespace is not supported in .NET Core: https://apisof.net/catalog/System.Runtime.Serialization.Formatters.Soap
However, SOAP serialization should work: https://github.com/dotnet/corefx/issues/10676

[CoreFX repo](https://github.com/dotnet/corefx) would be better place to file issues/questions regarding general .NET Core capabilities, not tied to WinForms, if you have further follow ups. Tha

[2019-01-14 22:47] #306 closed

[2019-01-14 22:48] karelz commented on #303
Duplicate of #306

[2019-01-14 22:48] #303 closed

[2019-01-15 03:14] maikebing commented on #228
Very inconvenient.

[2019-01-15 14:35] KlausLoeffelmann commented on #305
Yes, the Toolstrip is in the works - actually, it is ready, but for easier testing, we should have the HighDpiMode API extension in, before we PR the toolstrip.

Also, without having taken a look at the correlating PR yet - if we really want to approach a big change like the proposed, let's think about having appropriate analyzers to guarantee consistency in the changes. Tests alone would not be e

[2019-01-15 19:58] merriemcgaw commented on #302
@199621616 what are you suggesting that WinForms does in its code base to make it easier for people to transform their apps? This is usually something that app owners would need to do not the WinForms technology.

[2019-01-15 20:02] merriemcgaw commented on #297
@MohammadHamdyGhanem please confirm it on Core for us to investigate.

[2019-01-15 20:06] merriemcgaw commented on #277
I think the consensus is that we don't want Debug.Asserts to fail our CI builds.

[2019-01-15 20:34] kevingosse opened #321 "Delete obsolete ResourceConsumption/ResourceExposure attributes"
Those attributes are present in a few places in the code and can be probably removed (see https://github.com/dotnet/corefx/pull/30863).

[2019-01-15 20:40] AdamYoblick commented on #277
Ohh I see, I was under the impression that debug asserts didn’t fail the CI build. You’re saying they do in a weird way.

In my opinion, that means we should either get rid of all the debug asserts (since many are informational), or only run unit tests for the release config.

Or the third option what is what Sam suggested, which is add a trace listener for the debug asserts.

____________________

[2019-01-15 20:52] karelz commented on #277
My understanding of what @stephentoub suggested above is:
* Debug asserts are useful
* When Debug assert fails, it should show up as test failure (i.e. "fail" CI build)

[2019-01-15 20:54] MohammadHamdyGhanem commented on #297
@merriemcgaw
I updated win10 to v 1809 and retested the app, and it works fine now.
Thanks.

[2019-01-15 20:54] #297 closed

[2019-01-15 21:30] MohammadHamdyGhanem commented on #297
I want to migrate the project to .NET Core 3.0 for more testing, put there is no such option in project properties, which shows only FW versions. How can I do this?

[2019-01-15 21:34] MohammadHamdyGhanem commented on #297
VS.NET 2019 preview1 doesn't offer to create Win Forms app with .NET core . I installed .NET core 3.0 preview. Am I missing something here?

[2019-01-16 05:48] lextm commented on #297
@MohammadHamdyGhanem https://github.com/dotnet/winforms/blob/master/Documentation/getting-started.md Check the repo carefully and you can help yourself then.

[2019-01-16 08:16] 199621616 commented on #302
@merriemcgaw 能否开发一个WinForm版的、类似Electron那样的 可托管JavaScript、TypeScrip或者Blazor的客户端软件?

[2019-01-16 23:49] karelz commented on #302
Thanks for the translation @AdamYoblick!

Turning WinForms into Electron to host other languages and runtimes is outside of the scope of this repo.
WinForms as technology is tied to .NET. .NET supports dozens of programming languages and they can be equally used, .NET != C#. Mixing other runtimes is more interop story and there are currently not clear compelling scenarios to do that.

Closing as "

[2019-01-16 23:49] #302 closed

[2019-01-17 00:36] dreddy-work commented on #317
We have fixed it in pr #322

[2019-01-17 00:36] #317 closed

[2019-01-17 06:57] NarryG opened #329 "Setting the Maximum value on a Trackbar to a very large number results in excessive memory usage"
* .NET Core Version: 3.0 Preview1
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
Setting the MaxValue on the Trackbar control to a very high number results in excessive ram usage (in the gigabytes for a very large number).

This appears to be because on initialization of the underlying windows control, the maximum is set before the tick mark frequency, res

[2019-01-17 09:26] Marie-Shi opened #330 "An error pops up when adding reference to Winforms .net core application"
**OS:** RS4 x64
**VS:** 16.0.0 Preview 3.0 [28516.179.d16.0stg]
**.NET SDK:** .NET Core 3.0.100-preview-010110

**More info:** This issue cannot repro on Console and Class library .net core applications.

**Steps to Reproduce:**

1.	Install .NET Core 3.0 SDK available from https://github.com/dotnet/core-sdk.
2.	Create a Winforms .Net Core application by command: dotnet new winforms –o “xxx”.
3.	Op

[2019-01-17 09:36] Marie-Shi opened #331 "An error pops up when adding new items(Form, Winforms UserControl…) to Winforms .net core application"
**OS:** RS4 x64
**VS:** 16.0.0 Preview 3.0 [28516.179.d16.0stg]
**.NET SDK:** .NET Core 3.0.100-preview-010110

**More info:** This issue cannot repro on Winforms .net Framework application.

**Steps to Reproduce:**
1.	Install .NET Core 3.0 SDK available from https://github.com/dotnet/core-sdk.
2.	Create a Winforms .Net Core application by command: dotnet new winforms –o “xxx”.
3.	Open the project

[2019-01-17 11:32] Xizario commented on #134
Why not just `Placeholder`

[2019-01-17 15:40] jnm2 commented on #228
The diff tools I most commonly use are Visual Studio, the git CLI, Visual Studio Code and TFS 2018's and GitHub's PR review UI. I think it makes the most sense to cater to the common denominator when it comes to diffing.

Then there's the matter of the git blame when way too much of the file is touched for each tiny change.

[2019-01-17 16:39] sharwell commented on #228
Yeah, this is a massive bug which essentially blocks all non-English-speaking users from contributing to projects. It is imperative that it get fixed. There are three partially acceptable solutions:

1. Generate code in the project directory with an invariant culture
2. Generate code in the intermediate output directory during the build with an invariant culture
3. Generate code in the intermediat

[2019-01-17 17:11] wjk commented on #228
@sharwell I would go for option 2 personally. Once Microsoft/msbuild#2221 is resolved, this will become a lot easier (at least for resx files), although it can still be done today on full-framework MSBuild only. I use the MSBuild targets file for my projects:

[code]

I would then set the Generator of all resx files that need code-behinds to `MSBuild:PrepareResources` (and delete the old `*.Design

[2019-01-18 19:03] SlavaB commented on #270
It seems like this is very incompetent answer. C1FlexGrid uses the standard WinForms classes. In particular System.Drawing.Design.UITypeEditorEditStyle should be already ported to Microsoft.WindowsDesktop.App . But this still has not been done.

[2019-01-18 19:10] AdamYoblick commented on #270
@dreddy-work Did System.Drawing.Design ever get ported to net core 3? I'm looking at the winforms source and it looks like we only have a facade to primitives, which have moved into a package we now consume.

Are there any plans to port System.Drawing.Design.UITypeEditorEditStyle?

[2019-01-19 13:08] IrinaPykhova commented on #270
do you need us to give you links to blog posts or videos where MS declares compatibility and support of scenarios when WinForms and WPF controls can be used as is in .Net Core 3 applications?
The most of our controls just work. System.Drawing.Design.UITypeEditorEditStyle is a very simple enumeration which we use in public API in different assemblies. In classic framework it is defined in System.Dr

[2019-01-19 13:11] IrinaPykhova commented on #270
@Lohnegrim, thank you for posting this. We think that this issue should be fixed on MS side.

[2019-01-19 18:09] lhak commented on #305
@wjk The toolstrip controls (without the upcoming changes) all seem to be  system dpi aware, so they should scale in (many) static scenarios. However, I have seen in the code that some values are not scaled (e.g. the number of dots in the grip will change, but not their sizes). Are these the kind of differences you have mentioned? The changes in the PR will not magically fix this, but they should

[2019-01-19 18:46] wjk commented on #305
@lhak Please see the attached project. At 100% scaling/96 DPI, the custom ToolStripRenderer draws _exactly_ as I desire it to. If you run this code at any higher scaling value, while most of the custom drawing is correct, things like rounded corners and arrow glyphs are incorrectly scaled. My goal with this code is to have the custom drawing _look_ identical at 100% scaling and higher, even if the

[2019-01-20 11:11] KlausLoeffelmann commented on #329
@Olina-Zhang, could you take a look if this is also an issue in 4.8?

[2019-01-20 11:15] KlausLoeffelmann commented on #134
@Xizario: It's PlaceholderText in UWP and WPF, so we'd be consistent to that.

[2019-01-20 11:40] KlausLoeffelmann commented on #270
@IrinaPykhova: A sample would be helpful to avoid misunderstanding - and obviously I have been answered prematurely. Sorry for that. I will reopen, and will discuss this with the team, especially with the aspect of breaking changes we need to make for future improvements, and the consequences this will have in backwards compatibility.

[2019-01-21 02:34] Jessie-Zhang01 opened #339 "The height of the "DropDown" list for the combobox control can't be reset default height after called the " comboBox1.Items.Clear();" method"
**OS** : RS4 X64+.Net 4.8.03316
**VS** : Dev16 d16.0stg 16.0 Preview 3 28505.103

**More info:**
1. This issue can reproduce from VS Dev10 to Dev16.
2. This issue can't reproduce when adding the following code to Form1.Designer.cs.
[code]
**Steps to reproduce:**
1. Create a Winforms application.
2. Drag a Combobox control to form designer.
3. Add the following code to Form1.cs.
[code]
**Actual:**

[2019-01-21 05:33] Olina-Zhang commented on #329
@KlausLoeffelmann, this issue cannot repro in .Net 4.8, and repro in .Net Core 3.0. See following comparison of picture:
![compare](https://user-images.githubusercontent.com/26474449/51454713-f176b080-1cfa-11e9-8a58-7fe9d4b42787.png)

[2019-01-21 05:51] NarryG commented on #329
For reference, the version of the Framework I experienced this on was 4.7.2.  I just retargeted the program to 4.8 for testing and I am still experiencing it, so I'm not entirely sure why Olina was unable to repro it on 4.8
![image](https://user-images.githubusercontent.com/3047793/51455214-8aff8b80-1d16-11e9-930b-1ed4aad7664b.png)

[2019-01-21 06:53] SlavaB commented on #270
@KlausLoeffelmann , please take a look to the attached sample.
[TestApp.zip](https://github.com/dotnet/winforms/files/2777814/TestApp.zip)

[2019-01-22 17:50] zsd4yr commented on #305
@lhak I'd like to followup here and try to better understand your testing strategy for this feature.

[2019-01-22 18:55] zsd4yr commented on #134
:shipit: #238

[2019-01-22 18:55] #134 closed

[2019-01-22 19:43] ericstj opened #340 "WinForms needs to remove System.Drawing.Design.Primitives"
**Problem description:**
https://github.com/dotnet/corefx/pull/33452 removed the System.Drawing.Design.Primitives assembly from CoreFx with the POR that the types would be added to WinForms.  When this happened it was too close to Preview1 so we delayed these moves.   It looks like that work was never resumed after Preview1.

**Actual behavior:**
Old copy of System.Drawing.Design.Primitives.dll in

[2019-01-22 19:43] OliaG commented on #339
Seems this is not an issue, the Actual result is the desired. If we drag-and-drop empty combobox, we'll get the same Actual result.

[2019-01-22 19:49] OliaG commented on #331
This issue was moved to dotnet/project-system#4486

[2019-01-22 19:49] #331 closed

[2019-01-22 20:05] OliaG commented on #330
If this is reproducible only for Microsoft.WindowsDesktop.App, the expected result is to tell the user that this dll is already in the project. It should though allow to add other dependencies without an error.

[2019-01-22 20:05] OliaG commented on #330
This issue was moved to dotnet/project-system#4487

[2019-01-22 20:05] #330 closed

[2019-01-22 20:45] dreddy-work commented on #340
PR against dotnet trusted repro is here: https://devdiv.visualstudio.com/DevDiv/_git/DotNet-Trusted/pullrequest/151285?_a=overview . We need to port thsi PR along with tests ( tests then was excluded).

[2019-01-22 21:36] AdamYoblick commented on #340
@dreddy-work I'll take a shot at porting the PR if you have other things on your plate

[2019-01-22 22:11] dreddy-work commented on #340
@AdamYoblick  , I just started on it as i was not able to remote log-in to my work machine. this is isolated one i can work from home today.

[2019-01-23 02:02] hughbe opened #343 "MenuItemCollection.Add(null) throws NRE, should throw ANE"
Fixing in https://github.com/dotnet/winforms/pull/310

[2019-01-23 02:06] hughbe opened #344 "Menu.CloneMenu(null) throws NRE, should throw ANE"
Fixed in #310

[2019-01-23 02:07] hughbe opened #345 "Menu.MergeMenu(null) throws NRE, should throw ANE"
Fixing in https://github.com/dotnet/winforms/pull/310

[2019-01-23 03:17] Jessie-Zhang01 commented on #339
@OliaG Sorry, I reversed the actual result and expected result when reporting it. The correct result has been updated in above reproduce steps. Could you please review again and triage it to see if it is a real issue? If yes, please reactive the bug, due to I don't have permission to change it.

[2019-01-23 08:54] Zheng-Li01 opened #347 "An error dialog pops up after left-double-click "NETCoreTest" project to check the .csproj file"
**OS:** RS4 x64
**VS:** 16.0.0 Preview 2.0 [28522.59.d16.0]
**.NET SDK:** .NET Core 3.0.100-preview-010143

**More info:**
1.	This issue also can reproduce on Console and Class library .net core applications.
2.	The issue can’t reproduce on 16.0.0 Preview 1.1 [28408.50.d16.0] + latest NET Core 3.0.100-preview-010143.

**Steps to reproduce:**
1.	Install .NET Core 3.0 SDK available from https://gith

[2019-01-23 22:45] OliaG commented on #347
This issue was moved to dotnet/project-system#4491

[2019-01-23 22:45] #347 closed

[2019-01-24 00:32] jnm2 opened #357 "Fully-themed controls"
If you want to obtain a native look and feel in your projects, you currently have to redo minor implementations over and over to obtain these effects:

- Getting the fade effects on some common controls (Buttons, Checkboxes, Radiobuttons, Textboxes, Comboboxes)
- Getting images working on Buttons while preserving fade effects
- Getting the fade effects on Toolbars
- Getting the new theming on Main

[2019-01-24 00:59] zsd4yr commented on #357
Looking over the link.

For example, this would mean adding out-of-the-box options for the color of a progress bar?

[2019-01-24 01:39] wjk commented on #221
Is there any reason why the Windows Forms designer hosting code is intended to remain usable on .NET Framework only? This seems to me like a strange decision. Even though VS is the main consumer of the designer hosting classes, and VS must remain on Framework for compatibility reasons, it is entirely possible for other projects to want to host a Forms designer.

Furthermore, I know of one project

[2019-01-24 02:43] jnm2 opened #358 "Infinite hang when an added TreeNode forms a recursive hierarchy"
* .NET Core Version: 3.0.100-preview-009812
* Have you experienced this same bug with .NET Framework? Yes

**Problem description:** A typo caused the wrong node to be added while constructing a hierarchy, causing a hang that was difficult to spot.

**Actual behavior:** Infinite hang in this loop:

https://github.com/dotnet/winforms/blob/fa4cdb0f50f8a64044a9d2baa192c53f6326f3e9/src/System.Windows.F

[2019-01-24 07:16] karelz commented on #344
@hughbe can you please use the syntax "Fixes #344" in the PR top post? That will [auto-close the issue](https://help.github.com/articles/closing-issues-using-keywords/) upon merge. Thanks!

[2019-01-24 16:55] hughbe opened #361 "new ListViewItem.ListViewSubItemCollection(null) causes NRE whenever using the collection, should throw ANE"

[2019-01-24 16:56] hughbe opened #362 "Using `new ListViewItem.ListViewSubItemCollection(item)` before calling `item.SubItems` throws NRE"

[2019-01-24 18:13] hughbe opened #363 "ListViewSubItemCollection.Insert(null) throws NRE should throw ANE"

[2019-01-24 18:13] hughbe opened #364 "ListViewSubItemCollection.Add(null) throws NRE should throw ANE"

[2019-01-24 23:50] merriemcgaw commented on #228
This is a great idea everyone, thanks for the suggestions! This repo doesn't track designer work so I am creating a workitem in our internal AzDO instance. I think we'll try to get it on the schedule for an upcoming preview of VS Dev16 (tentative of course).  We'll circle back when there's news to update.  Note that if you want to give design time feedback, the best way is through the VS feedback

[2019-01-24 23:50] #228 closed

[2019-01-25 00:52] merriemcgaw commented on #146
Thank you for all the hard work on this! I'm going to have the team pick this up and review the implementation more closely. We'll circle back with questions and chat with you about anything we think needs to be polished up before we get to the formal API review with the review board. I'm excited though, this is a great addition!

[2019-01-25 11:50] hughbe opened #369 "`ListViewGroupCollection[index] = group` doesn't set the `group.ListView` prop"
[code]

This fails -> group.ListView is null.

[2019-01-25 11:51] hughbe opened #370 "ListViewGroupCollection indexer setter should block null values"
This causes null refs across the board whenever doing other operations on the collection, e.g. adding an item

[2019-01-25 11:55] hughbe opened #371 "ListViewSubItemCollection[0] = null throws NRE should throw ANE"

[2019-01-25 12:38] hughbe opened #372 "ListViewGroupCollection.Insert is missing validation present in Add"
Add:
[code]

Insert:
[code]

Notice the missing call in `Insert` to `CheckListViewItems(group);`

This lets us get into an invalid state in `Insert`

[2019-01-25 12:39] hughbe opened #373 "ListViewSubItemCollection.Remove should set the item's owner to `null`"
[code]

The owner remains even though the item has been removed

[2019-01-25 16:32] hughbe opened #374 "ColumnHeaderCollection.Add(null) throws NRE should throw ANE"

[2019-01-25 16:33] hughbe opened #375 "ColumnHeaderCollection.AddRange(new ColumnHeader[] { null }) throws NRE should throw ANE"

[2019-01-25 16:33] hughbe opened #376 "new ColumnHeaderCollection(null) causes NREs whenever used"
Should validate

[2019-01-25 16:33] hughbe opened #377 "Calling ColumnHeaderCollection.RemoveAt for an empty collection throws NRE; should throw AOoRE"

[2019-01-25 17:02] kpreisser commented on #146
Hi @merriemcgaw,

thank you very much, that's really good news!

As an update, in the meanwhile I found that it would actually be possible to also update the text of custom/radio buttons while the dialog is shown. This not possible using a regular Task Dialog message, but by retrieving the window handles (`hWnd`) of the buttons and then calling `SetWindowText()` to update their text, or sending a

[2019-01-25 19:57] merriemcgaw commented on #304
@pveliz did @wjk's response fix your issue?

[2019-01-26 00:05] wjk commented on #147
I've figured out how to workaround the assembly-load failure identified by @maikebing. What you need to do is to multitarget your .NET Core (SDK-style csproj) project to multitarget .NET Framework as well as .NET Core, ensuring that the .NET Framework TFM is _first_ in the list. This will cause VS to attempt to resolve the designer types using .NET Framework _before_ it tries (and fails) to do so

[2019-01-26 02:12] AraHaan commented on #147
@wjk you mean Visual Studio 2019?

[2019-01-26 02:55] wjk commented on #147
@AraHaan Yes, sorry!

[2019-01-26 09:59] GSPP commented on #146
It's a trade-off between enabling more scenarios and introducing API "quirks" that must be documented. What is the value of those additional scenarios? What are they actually? Why would an application typically update the button texts in a live dialog?

[2019-01-26 15:00] hughbe opened #378 "InputLanguage.FromCulture(null) throws NRE"

[2019-01-26 15:00] hughbe opened #379 "new InputLanguageChangedEventArgs((InputLanguage)null, 0) throws NRE"

[2019-01-26 15:20] kpreisser commented on #146
Hi @GSPP,

thanks for your reply!

One scenario that I could imagine where you might want to update the button's text is when displaying an auto-closing dialog (that closes after a specific time), and display the remaining time in the button that is going to be selected after the time elapses. For example:

![taskdialog-autoclose](https://user-images.githubusercontent.com/13289184/51789116-0da8a08

[2019-01-26 15:45] hughbe commented on #345
Fixed

[2019-01-26 15:45] hughbe commented on #344
Fixed

[2019-01-26 15:45] hughbe commented on #343
Fixed

[2019-01-26 15:46] hughbe opened #382 "TableLayoutSettings.GetRowSpan/SetRowSpan/SetRow/SetColumn/SetColumnSpan should validate control for null"
Throws NRE

[2019-01-26 15:46] hughbe opened #383 "TableLayoutControlCollection should throw when constructed with a null container"
Currently the add method throws NRE

[2019-01-26 15:47] hughbe opened #384 "TableLayoutPanelCellPosition.CreateInstance(null, null) throws NRE should throw ANE"

[2019-01-26 15:48] hughbe opened #385 "TableLayoutStyleCollection.Insert/Add/ItemSet(null) throws NRE should throw ANE"

[2019-01-26 15:48] hughbe commented on #385
And Remove(null) should be a nop

[2019-01-26 21:56] AraHaan commented on #147
@wjk do you also know if the visual studio forms designer is now open source too and if I can force a local build of roslyn and the forms designers and use them in the latest Visual Studio to experimemt on some changes:

like making the forms designer use roslyn to somehow display the form and load resources instead of background compile files instead of using reflection.

Useful if you want to ma

[2019-01-26 22:02] wjk commented on #147
@AraHaan Unfortunately, the WinForms designer is not open-source, nor is it compatible with .NET Core. It must remain on .NET Framework, because it is used with Visual Studio, which cannot be ported to Core for backwards-compatibility reasons.

Furthermore, while the designer code can be embedded within a third-party Framework application (see the types in the `System.ComponentModel.Design` and `S

[2019-01-26 22:22] AraHaan commented on #146
I like this but I would like the same icon flexibility where it would use the application's icon and similar window text like the normal MessageBoxes for if the developer wants to have them on the title bar of the TaskDialog. Currently yours does not provide that option that if no icon is explicitly asked for on it to default to the application icon though (exe file itself) like how MessageBox is.

[2019-01-26 23:08] AraHaan commented on #221
Also for the fact that others (like me) would like to hack on some modifications to the forms designer as well for reasons stated in #147 and would like to use those experiments to that and possibly experiments to roslyn inside of Visual Studio as well (like if they wanted the forms designer to stop making background compilations and then use reflection and instead load the things needed for the c

[2019-01-27 12:51] KlausLoeffelmann commented on #270
Hey guys,

thanks for your patients, here. I talked with the team, and you should see the missing method in one of the upcoming releases. When you can confirm, this issue has been resolved, quickly ping me, and I close this. If this is not resolved during next week, also ping me, and I will investigate. Thanks!

[2019-01-27 14:30] KlausLoeffelmann commented on #146
Guys, did you by any chance collect sample screenshots where these style of dialogs are currently (still) used in Windows 7 and Windows 10 and how they compare in their respective styles? If not, could you do this? Thx!

[2019-01-27 14:58] KlausLoeffelmann commented on #364
Doesn't this contradict #363?
Or am I missing something?

[2019-01-27 15:19] hughbe commented on #364
My bad - I incorrectly typed out the description

[2019-01-27 20:06] kpreisser commented on #146
Hi @AraHaan,

sorry, I'm not sure I understand correctly what you mean with MessageBox using the application's icon. Can you give an example?

Hi @KlausLoeffelmann,

do you mean screenshots of existing Windows applications using the Task Dialog from both Windows 7 and Windows 10, like these?

**App not responding (Windows 7)**
![taskdialog-appnotresponding-win7](https://user-images.githubuserconte

[2019-01-27 20:13] KlausLoeffelmann commented on #146
Absolutely, thank you so much! (@merriemcgaw )

[2019-01-28 08:44] Olina-Zhang opened #386 "WinForms Core default project name/solution name should not be “ConsoleAppXXX” in Visual Studio"
**VS**: 16.0.0 Preview 4.0 [28526.15.d16.0stg]
**.NET SDK**: .NET Core 3.0.100-preview-010184

**Steps to Reproduce:**
1. Launch Dev16, click “Create a new project”, then choose “Windows Forms App (.Net Core)” template, then click Next
2. In “configure your new project” dialog, check the project name and solution name

**Actual:**
The Project name and Solution name for Winforms .Net Core app are n

[2019-01-28 11:48] Zheng-Li01 opened #387 "An error pops up when using the method AddResource() of ResXResourceWriter in the .NET Core 3.0 winforms application"
**OS:** RS4 X64
**VS:** Visual Studio 2019 Version 16.0.0.0 Preview 4.0 [28526.15.d16.0stg]
**.NET SDK:** .NET Core 3.0.100-preview-10184

**More Info:**
1. In .Net framework application adding the same code, no exception pops up.
2. Replace Bitmap value = new Bitmap(64, 64) with Bitmap value = new Bitmap("C:\Users\Desktop\xxx.png") , no exception pops up.

**Steps to Reproduce:**
1. Create a Winf

[2019-01-28 13:15] SlavaB commented on #270
@KlausLoeffelmann , thanks, I will track the changes.
Note, the problem is that System.Drawing.Design.UITypeEditorEditStyle enum is now in System.Windows.Forms assembly. But the enum was in System.Drawing assembly earlier, in .Net Framework.

[2019-01-28 13:30] KlausLoeffelmann commented on #270
@dreddy-work?

[2019-01-28 15:32] hughbe opened #388 "ListBindingHelper.GetListItemType(typeof(IListSourceThatReturnsNull)) throws NRE should return null"
Should return null

[code]

[2019-01-28 15:46] hughbe opened #389 "ListBindingHelper.GetListItemType(new IEnumerableWrapper(null)) throws NRE should return typeof(object)"
[code]

[2019-01-28 17:45] hughbe opened #390 "ListBindingHelper.GetListItemProperties(x, new PropertyDescriptor[] { null }) throws NRE should return empty"

[2019-01-28 19:36] dreddy-work commented on #340
sources are already in winforms repo now.  Some tests and cleanup  willmake this task complete. planned to finish this week.

[2019-01-28 20:05] hughbe opened #391 "ListBindingHelper.GetListName(typeof(Array), new PropertyDescriptor[0]) throws NRE should return "Array""

[2019-01-28 20:08] hughbe opened #392 "ListBindingHelper.GetListName(1, new PropertyDescriptor[] { null }) throws NRE should return null"

[2019-01-28 21:55] zsd4yr commented on #392
Hey @hughbe sorry to be a bummer -- but there is some on-going discussion internally about what the ebst way to handle these exceptions is, so you might want to hold your horses on working on these.

[2019-01-28 21:56] zsd4yr commented on #392
My hope is to get back to you soon on a final determination here; sorry about the misunderstanding. Let's see where this goes first

[2019-01-29 00:46] hughbe commented on #392
So this is an example where there's a real actual bug. We should simply return `null` instead of null refing - instead of throwing, we now return a meaningful value. This is breaking, but acceptable. This obviously differs from the other cases where we should throw ANE not NRE

[2019-01-29 00:47] hughbe commented on #391
So this is an example where there's a real actual bug. We should simply return `Array` instead of null refing - instead of throwing, we now return a meaningful value. This is breaking, but acceptable. This obviously differs from the other cases where we should throw ANE not NRE

[2019-01-29 00:48] hughbe commented on #390
So this is an example where there's a real actual bug. We should simply return `new PropertyDescriptor[0]` instead of null refing - instead of throwing, we now return a meaningful value. This is breaking, but acceptable. This obviously differs from the other cases where we should throw ANE not NRE

[2019-01-29 00:48] hughbe commented on #389
So this is an example where there's a real actual bug. We should simply return `typeof(object)` instead of null refing - instead of throwing, we now return a meaningful value. This is breaking, but acceptable. This obviously differs from the other cases where we should throw ANE not NRE

[2019-01-29 00:49] hughbe commented on #388
So this is an example where there's a real actual bug. We should simply return `null` instead of null refing - instead of throwing, we now return a meaningful value. This is breaking, but acceptable. This obviously differs from the other cases where we should throw ANE not NRE

[2019-01-29 00:49] hughbe commented on #385
Remove is an obvious win - now nop whereas used to throw. Other consideration of changing exception may need more discussion

[2019-01-29 00:50] hughbe commented on #377
There's a real actual bug here that should be fixed. We should simply return and `nop`. Obvious win, no argument validation added

[2019-01-29 10:16] hughbe commented on #392
I’ve submitted the PR with test coverage separately as the team previously wanted test prs away from cleanup prs away from bug fixes. IMO this is an improvement and a bug fix whereas one can argue changing NREs to ANEs is a less significant bug and is more about code quality. Clearly the team has internal disagreements so I’ll wait on you guys. I just think bug fixes where nres transform to useful

[2019-01-29 16:17] KlausLoeffelmann commented on #392
OK, I did not know. More to talk about! ;-)

I think the WinForms audience is somewhat different from the typical Core or even WPF audience (and if not now then definitely in the future, when we're getting closer to having a designer, and the migration wave from classic framework can really start). Folks will be having a hard time figuring out why their 20 year old, 1.000.000 loc WinForms app does

[2019-01-29 17:01] wjk commented on #357
Quick note: The fade effect on buttons, checkboxes, and radio buttons is currently supported. The reason why it doesn't show up is because the controls in question default to `FlatStyle.Standard`. If you change them to use `FlatStyle.System`, then the fade effect will trigger. [As the documentation notes](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.flatstyle?view=netframework-

[2019-01-29 18:12] lhak commented on #305
@wjk I looked briefly at the code and at least the rendering code that calculates the arrow (see CreateArrowPath()) does not scale its size at all.

[2019-01-29 18:17] lhak commented on #305
@merriemcgaw  So far I have mostly tested the changes with the controls test app included in this project. The testing has basically been done manually so far by changing the windows dpi settings before/after launch. This includes the dpi value itself but also the "fix blurry apps" setting. Especially changing the dpi before launch and setting "fix blurry apps" to false (therefore looking at the c

[2019-01-29 20:35] KlausLoeffelmann commented on #305
@lhak, the most work is not to be done for SystemAware. WinForms can deal with SystemAware pretty well, espacially when Forms have been designed in 96Dpi - which is the reason we came up with the HighDpi Infobar in VS.

The biggest issue is PerMonitorV2. And that has been introduced only in Windows 10 1703:
https://blogs.windows.com/buildingapps/2017/04/04/high-dpi-scaling-improvements-desktop-app

[2019-01-30 06:38] Jessie-Zhang01 commented on #339
@OliaG @merriemcgaw Could you please help to review this issue again if need to reactivate it?

[2019-01-30 14:05] pveliz commented on #304
@wjk I tried your suggestion and it works, but I noticed that basically the result is a Self-Contained Deployment. Shouldn't be just the minimum files required to run the app in x86? like when we just compile the app in Any CPU platform?

Thanks!

[2019-01-30 16:56] wjk commented on #304
@pveliz I'm afraid I don't know. I've never tried a framework-dependent deployment where the RID doesn't match the RID of my copy of .NET CLI. You might want to try installing the 32-bit SDK from Microsoft's website. Other than that, I don't know what to suggest.

[2019-01-30 18:53] zsd4yr commented on #392
Okay going to update this thread with the decisions made among the team. I'm going to try to be as clear as possible so pardon the verbosity.

These recent pull requests have essentially 3 types of changes:
1.  adding exceptions where there were none (for example: input validation)
1.  removing exceptions where there were some (this PR); and
1.  changing exceptions to be more appropriate

Number 1

[2019-01-30 18:54] zsd4yr commented on #361
https://github.com/dotnet/winforms/issues/392#issuecomment-459063843

[2019-01-30 18:56] zsd4yr commented on #363
https://github.com/dotnet/winforms/issues/392#issuecomment-459063843

[2019-01-30 18:56] zsd4yr commented on #364
https://github.com/dotnet/winforms/issues/392#issuecomment-459063843

[2019-01-30 18:56] zsd4yr commented on #371
https://github.com/dotnet/winforms/issues/392#issuecomment-459063843

[2019-01-30 18:56] zsd4yr commented on #374
https://github.com/dotnet/winforms/issues/392#issuecomment-459063843

[2019-01-30 19:00] zsd4yr commented on #375
https://github.com/dotnet/winforms/issues/392#issuecomment-459063843

[2019-01-30 19:00] zsd4yr commented on #384
https://github.com/dotnet/winforms/issues/392#issuecomment-459063843

[2019-01-30 19:00] zsd4yr commented on #385
https://github.com/dotnet/winforms/issues/392#issuecomment-459063843

[2019-01-30 19:10] zsd4yr commented on #386
@merriemcgaw should this be rerouted to the template folks? 😄

[2019-01-30 19:38] terrajobst commented on #392
We wouldn't make these changes in .NET Framework (due to the insane high compat bar) but we generally don't expect developers to catch `NullReferenceException`. Changing this to `ArgumentNullException` seems reasonable to me.

The other promposed behavior (instead of causing a null reference returning null) is generally acceptable as we don't consider turning an error case into a success case a br

[2019-01-30 19:40] hughbe commented on #392
Okay so the team just closed all the NRE->ANE issues immo is there still not consensus?

[2019-01-30 21:30] rido-min commented on #202
@merriemcgaw I still see this issue with Preview 2, I was expecting that if it was merged it should be fixed in `3.0.100-preview-010184`

[2019-01-30 22:55] zsd4yr commented on #392
@terrajobst I spoke with Karel and the rest of the team and this is where we landed. If you think this is not reasonable, we should sync offline.

[2019-01-30 22:59] terrajobst commented on #392
I don't think it's *unreasoanble*, I just think the fixes seem reasonable too. Any change is a risk, but the luxury of .NET Core is that we don't have to consider crazy scenarios where apps managed to depend on things like this; I'd say any code handling `NullReferenceException` and expect this to work well is unreasonable and we don't have to support this. At the same time, that doesn't mean that

[2019-01-31 00:05] zsd4yr commented on #305
I feel you, brother 😴 This is a long time coming; we're exploring solutions.

[2019-01-31 00:43] OliaG commented on #135
Are we removing "Uninitialized" value from the enum and adding DpiUnawareGdiScaled? If yes, @KlausLoeffelmann  could you update the initial description in the very top?

[2019-01-31 17:39] zsd4yr commented on #392
Thoughts @dreddy-work @Tanya-Solyanik @KlausLoeffelmann @AdamYoblick @JuditRose ?

[2019-01-31 17:45] zsd4yr commented on #146
@terrajobst @karelz We are feeling good about this one -- please review the API and get back to us 😄

[2019-01-31 19:18] hughbe commented on #392
So my perspective is basically meaningless but here’s what I think: I think changing NREs to ANEs and the like does impact compatibility, but it’s in the spirit of .NET Core to fix these bugs. In my opinion what’s the point of open sourcing Winforms and wpf as part of .net core if we don’t start improving the code - the approach of .net core fundamentally differs from netfx.

[2019-01-31 19:43] zsd4yr commented on #392
Certainly your opinion matters! In fact a lot -- as you say we open sourced this, in part, to better reach certain equivalence classes of the community. Definitely, your opinion matters.

There has been a very high compatibility bar in the .Net Framework, even more so for a project with as long and rich in history as Windows Forms. That said, part of the freedom of moving to core, as @terrajobst i

[2019-01-31 21:55] karelz commented on #146
Wow, that's a large API proposal - looks like it would be best for someone from WinForms team to walk us through it at API review meeting - pelase work with @terrajobst (via email) to get it on the schedule.

[2019-01-31 22:53] #135 closed

[2019-02-01 08:56] kpreisser commented on #146
Hi,

I have some minor things in mind that could be done before the API review:
* I renamed `TaskDialogProgressBarState` enum value `MarqueeDisabled` to `MarqueePaused` as I think it makes the behavior more clear (when switching from `Marquee` to `MarqueePaused` while the dialog is shown, the marquee animation will stop).
* Currently the API includes WPF interfaces (`System.Windows.Window`, `Syste

[2019-02-01 10:30] encrypt0r commented on #146
@kpreisser Does TaskDialog support RTL?

Would love this to be added to WPF too :clap:

[2019-02-01 19:48] merriemcgaw commented on #386
@Pilchie does this belong in your repo?

[2019-02-01 20:54] dreddy-work opened #407 "Add appcompat for shared assembly System.Drawing between winforms and corefx and also between winforms and Desktop."
System.Drawing.dll exists in corefx and winforms. Winforms assembly is expected to be a super-set of corefx version and should win at load time in all applicable scenarios.  To make sure of this,  We made file version of this assembly in winforms higher than the corefx version. We also need to add appcompat in the build process to make sure we never go out of sync of these assumptions.

[2019-02-01 22:55] Pilchie commented on #386
@jmarolf - where do these live again?

[2019-02-02 01:31] rido-min commented on #386
This PR https://github.com/dotnet/templates/pull/75 has the fix, tracked internally by [#779597](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/779597).

[2019-02-02 11:08] kpreisser commented on #146
Hi @encrypt0r,
do you mean right-to-left layout? Yes, the Task Dialog supports such a flag:

![taskdialog-rtl-win10](https://user-images.githubusercontent.com/13289184/52163489-15ff5f00-26e3-11e9-96ad-e54bcdb51933.png)

[2019-02-02 16:12] encrypt0r commented on #146
@kpreisser hmmm, that does seem strange, maybe someone on the windows team can provide guidance on that issue, because windows locale should not dictate the direction of the UI of the apps.

[2019-02-04 20:59] #386 closed

[2019-02-04 21:01] zsd4yr commented on #392
Followup here: We've got an _broader_ internal meeting scheduled for later this month. I will update this thread with the outcome of that meeting. For now, stalling these.

[2019-02-04 21:08] weltkante commented on #377
nopping on a RemoveAt sounds contrary to what usually happens, since Count would be zero you'd get an ArgumentOutOfRangeException in other collections.

[2019-02-05 09:04] hughbe commented on #377
Sorry. It should throw AORE and in fact my bug fix makes it do that: https://github.com/dotnet/winforms/pull/365/files#diff-f1682a53fa77d489064b2919146270edR7859

[2019-02-06 19:33] dreddy-work commented on #147
@wjk , the reason behind the type that are  throwing "NotImplemented" exception in core was based on the usage metrics we received,  at the time of porting,   and possible scenarios where they were used.  Our understanding was most of these types used only at the design time and may need only for compile purpose at run-time.
For the types that were completely missing, Metrics we collected showed n

[2019-02-06 19:36] #340 closed

[2019-02-06 23:04] jnm2 commented on #357
@wjk I'd specifically like to achieve feature parity with `FlatStyle.Standard` while gaining the system fade effect. I've coded custom controls directly against BeginBufferedAnimation etc, so that route is an option if there's a roadblock preventing parity any other way.

[2019-02-07 19:27] JoeErickson opened #415 "Clipboard.SetDataObject fails for user defined clipboard formats"
I have a fix and XUnit test which I will issue a pull request for shortly.

* .NET Core Version: 3.0.100-preview-010226
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

While testing SpreadsheetGear for Windows Forms on .NET Core 3 we found that Clipboard.SetDataObject fails for custom clipboard types. This is apparently due to Span<T> work in this checkin w

[2019-02-07 22:56] JuditRose opened #417 "Build failing with error MSB4062 (gets fixed with cache clean)"
* .NET Core Version: 3.0.100-preview-010024
* Have you experienced this same bug with .NET Framework?: No

Repro:
Run build from command line (or terminal in VS code)
(with clean working directory, having successful builds before, same master head version building successfully on other machines)

**Actual behavior:**  Build output:
E:\repos\winforms\.dotnet\sdk\3.0.100-preview-010024\Sdks\Microsof

[2019-02-08 15:46] zacpwhite commented on #321
I just submitted PR #419 which should meet these requirements.

[2019-02-08 19:18] merriemcgaw commented on #417
@JuditRose thank for the investigation and steps to fix this situation should it come up again.

[2019-02-08 19:18] #417 closed

[2019-02-08 19:24] danmosemsft commented on #417
I have no idea about this specific issue, but note that buildtools was never incremental with respect to the build tools, and I assume this did not change in the move to arcade tools. In other words, if your build pulls down updated tools, there is always a chance you need to do `git clean -fdx` and build again. I hope you would never need to clean the global cache though.

[2019-02-09 18:11] 0xd4d opened #423 "WinForms XML files from runtime pack are added to deps.json and prevent WPF/WinForms apps from starting"
* .NET Core Version: Latest daily build as of today: 3.0.100-preview4-010277
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

XML files are included in deps json which prevent the apphost from starting the WPF/WinForms app

I found the following XML files in the nuget dir, and they're all added to the deps.json file:

[code]

**Actual behavior:**

A message

[2019-02-12 04:36] Tanya-Solyanik opened #429 "remove explicit "\r\n" test from the .resx files in this repo because these strings will be escaped by the resx reader and will not be displayed as new lines"
* .NET Core 3.0 Preview1
* Have you experienced this same bug with .NET Framework?: No - resources are in a different format there

Sample repro:
run this code:
`            (new ThreadExceptionDialog(new Exception("Really long exception description string, because we want to see if it properly wraps around or is truncated."))).Show();`

Actual:
![image](https://user-images.githubusercontent.com/1

[2019-02-12 07:14] SlavaB commented on #270
@KlausLoeffelmann, any updates on this?

[2019-02-12 14:35] jaydeept opened #502 "Getting error in .Net Core 3 - preview while creating Form from Visual Studio 2019"
While creating a Form in Visual Studio 2019 with .Net Core 3 preview, I am getting below error:

[code]

[2019-02-13 02:41] CatGirlsAreLife commented on #357
Well I am currently writting my own version of winforms based upon reference source and what resources I can dump from ILSpy and then removing the controls I know that I never use.
However the special buttons I find linked here seem usefull to add to mine. Heck I was planning on getting what all I can from wpf as well in the same binary too (and maybe find a working Save/OpenFileDialog or or Folde

[2019-02-13 02:49] CatGirlsAreLife commented on #266
Hmm interesting it seems when I try to load a resx file with only strings or a blank one that it fails to open up the resx editor when targeting .net core 3.0 and the full frameworks on vs2019.

Also seems that since I updated from preview 1 to preview 2 on net core 3 that vs2015 fails to load my projects too.

[2019-02-13 23:29] #202 closed

[2019-02-13 23:40] rido-min commented on #202
@Tanya-Solyanik  In which build can I see the fix?

[2019-02-14 09:36] simonpbond commented on #147
@wjk Are you able to guide me as to how I do this?

[2019-02-14 23:41] zsd4yr commented on #423
Fixed by #441

[2019-02-14 23:41] #423 closed

[2019-02-14 23:42] zsd4yr commented on #407
@dreddy-work isn't this in?

[2019-02-15 18:01] JuditRose opened #448 "SuppressMessage Which one to keep, which one to remove?"
A search of our repo indicates that we use the SuppressMessage attribute on the following Microsoft.* binaries:

* Performance
* Reliability
* Design
* Usage
* Portability
* Interopability
* Reliability
* Security
* Globalization
* Naming

It would be useful in the future (mostly because we are occasionally porting components from framework) to create a list about the SuppressMessages that we woul

[2019-02-15 18:46] zsd4yr commented on #448
This will be easier once we have FxCop running in the repo

[2019-02-15 18:46] zsd4yr opened #449 "Enable FX Cop"

[2019-02-15 18:49] zsd4yr commented on #429
- [ ] System.Windows.Forms
- [ ] System.Windows.Forms.Editors
- [ ] System.Windows.Forms.Editors.Design

[2019-02-15 18:53] zsd4yr opened #450 "Remove comment header from ResxWriter"

[2019-02-15 18:58] zsd4yr commented on #407
Need to regenerate our facade in the case the Core FX adds types. This test in the build will ensure *this*.

[2019-02-15 19:02] zsd4yr opened #451 "Add Rosyln analyzers to generate ship.api.txt as part of msbuild"
related to #175
see also PR #237

This is to ensure any additional API gets captured for the purposes of API review; this file is not used by code.

[2019-02-15 19:03] zsd4yr commented on #451
@sharwell Do you have any suggestions here? I feel like you might know something ;)

[2019-02-15 19:20] zsd4yr commented on #266
It looks like there are two issues here in the comments:
* resx work
* inclusion of icon files

@rainersigwald What do you think about the dotnet publish issue here related to icon files? Can you direct us to who owns the dotnet publish command?

[2019-02-15 19:37] sharwell commented on #451
We generally use https://www.nuget.org/packages/DotNetAnalyzers.PublicApiAnalyzer/.

[2019-02-15 19:53] sharwell commented on #449
/cc @mavasani

[2019-02-15 21:14] zsd4yr commented on #451
Is there any public timeline for that? If not, feel free to PM me

[2019-02-15 21:19] sharwell commented on #451
@zsd4yr The transition will be seamless. That NuGet package is a direct fork of the original code and the format and behavior are essentially identical. You won't have any disruption if you start using it now (and probably won't even notice that the publishing changed when it does).

[2019-02-17 20:37] wjk opened #457 "Support IDragSourceHelper/IDragTargetHelper?"
These two interfaces are used to support enhanced drag-and-drop support, including (most importantly for me) the ability to specify a custom image to be displayed under the cursor during the drag. While this can be done in C# today by using COM interop, you have to roll your own `IDataObject` implementation to do so, as the default Windows Forms one does not support setting arbitrary COM-based pri

[2019-02-17 22:57] CatGirlsAreLife commented on #266
I think that is in the https://github.com/dotnet/cli repo. Maybe try filing a issue there.

[2019-02-18 08:46] weltkante commented on #457
Its not as simple as just implementing those two interfaces. As noted in the [IDropTargetHelper](https://docs.microsoft.com/en-us/windows/desktop/api/shobjidl_core/nn-shobjidl_core-idroptargethelper) documentation this requires support for `SetData` , which is not implemented in WinForms/WPF implementation of IDataObject (they only implement SetData on the .NET code path, not on the COM interface)

[2019-02-19 14:39] KlausLoeffelmann commented on #270
@dreddy-work, @zsd4yr - shouldn't this be in by now?

[2019-02-19 18:28] merriemcgaw commented on #146
@kpreisser is this the same behavior as the native TaskDialog APIs? Could we set the flag only when the OS is RTL and force LTR when it's an LTR OS?  I think if we can mimic the same behavior as a native app with the TaskDialog then we're good. But I'd prefer to have it similar to how the MessageBox behaves.

[2019-02-19 19:10] zsd4yr opened #459 "Need way to test types as deeply imbedded as the Clipboard"
Related to #416

Ideally we would refactor clipboard code so that all calls to win32 OLE* methods are exposed by a single class (OleClipboard) and published as a public interface and a constructor that takes object that implements that interface as a parameter. Then the test will mock the IOleClipboard interface and use constructor that takes this mock as a parameter.

[2019-02-19 20:40] kpreisser commented on #146
Hi @merriemcgaw,

Yes, this is the behavior of the native [`TaskDialogIndirect`](https://docs.microsoft.com/en-us/windows/desktop/api/commctrl/nf-commctrl-taskdialogindirect) Windows API (the `TaskDialogContents.RightToLeftLayout` property in the proposed API simply translates to setting the `TDF_RTL_LAYOUT` flag in the native structure):
When you are on a RTL OS, then the native Task Dialog seems

[2019-02-20 02:11] #415 closed

[2019-02-20 19:03] zsd4yr commented on #392
@hughbe we have agreed to reconsider these changes. After speaking to higher ups and stakeholders in .NET Core, we believe there is value add here ans that the risk of regression may be allowable. We are going to individually triage these sometime soon, so look out for that in each open issue 😄

[2019-02-20 19:10] zsd4yr commented on #392
Also I have re-opened those issues you created with I had previously closed

[2019-02-21 05:48] Zheng-Li01 opened #465 "ComboBox’s text cannot be partially selected when using mouse slides"
**OS:** RS5 X64
**VS:** Dev16 16.0.0 Preview 4.0 [28612.88.d16.0]
**.NET SDK:** .NET Core 3.0.100-preview-010334 from release branch

**More info:**
The issue reproduce on when setting the "DropDownStyle" property value of the Combobox control is "Sample"/"DropDown".

**Steps to Reproduce:**
1.  Open the attached .NET Core application and run it.([\\mlangfs1\public\Winforms\v-zhgl\ComboboxIssue\Co

[2019-02-21 15:32] alepikhov opened #469 "Required types and 'This method/object is not implemented by design.'"
While trying to put our codebase on core3 rails, we faced unexpected exception that frustrated us.

The following types are strongly necessary for our application:
- System.Drawing.Design.ToolboxItem
- System.ComponentModel.Design.ComponentDesigner

But we catch this exception:
System.NotImplementedException: 'This method/object is not implemented by design.'

Could you confirm that these types ar

[2019-02-21 19:47] zsd4yr opened #471 "Improve startup performance of applications with crossgen"
Work planned for composition repository will now be done in core-setup

[2019-02-22 08:47] Vino-Wang opened #473 "Unable to cast object of type ‘System.IO.MemoryStream’ to type ‘System.Drawing.Color’ in .NET Core app"
* .NET Core Version:  .NET Core 3.0 Preview 3 3.0.100.10342 from Release branch
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Unable to cast object of type ‘System.IO.MemoryStream’ to type ‘System.Drawing.Color’ in .NET Core app.

**Actual behavior:**
An exception pops up, and the type isn't changed successfully.
![netcoreapp](https://user-images.githubuse

[2019-02-22 12:21] weltkante commented on #473
There was a recent bugfix for issue #415 / PR #416 so this might already be fixed in master if it has the same root cause.

[2019-02-22 13:41] MohammadHamdyGhanem opened #475 "ToolStripItem.Bounds is not correct for subitems"
Mouse over a ToolStripMenuItem
I want to know if the mouse is over any ToolStripMenuItem (in main menu, or context menu, at any level).
I couldn't do it by `GetControlAtPos` method.
I can check if the context menu is visible, then check if the mouse pos is inside the rectangle of one of its items. The problem is that `ToolStripItem.Bounds` property returns the correct rectangle only for the contex

[2019-02-22 15:36] zsd4yr commented on #473
@weltkante this issue was found when testing the bits in the release/3.0 branch which was snapped from master yesterday. So it should have the change you’re referencing.

[2019-02-22 15:39] zsd4yr commented on #473
@joeErickson does this look like a regression from your work on the clipboard?

[2019-02-22 18:50] zsd4yr commented on #473
@Vino-Wang What other types were placed on clipboard besides "Color"?

[2019-02-22 18:50] zsd4yr commented on #473
@dreddy-work do you think we are missing converters?

[2019-02-22 18:55] JoeErickson commented on #473
@zsd4yr @weltkante @Vino-Wang I just verified that the following test works with #415 and fails without it:
[code]
I also forked dotnet/winforms master and verified the fix is there.

[2019-02-22 19:11] JoeErickson opened #477 "Error NU1605 trying to build Winforms.sln"
* .NET Core Version:
  3.0.100-preview3-010283 [C:\Program Files\dotnet\sdk]
  3.0.100-preview4-010480 [C:\Program Files\dotnet\sdk]

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

After forking dotnet/winforms master Winforms.sln does not build - there are 64 cases of errors like this:
[code]

This has been an ongoing problem for a while. The workaround h

[2019-02-22 19:16] merriemcgaw commented on #477
@zsd4yr Can you take a look at this?

[2019-02-22 19:19] merriemcgaw commented on #475
Does this reproduce for you in .NET Framework apps?

Our current roadmap focuses us on getting to parity with .NET Framework, so we will be doing those types of issues first, but this does look to be an interesting problem.

[2019-02-22 19:25] JoeErickson commented on #473
@zsd4yr @dreddy-work

It should be possible to put any serializable .NET object on the clipboard with a custom format.

The clipboard does not use converters - at least not for the case I fixed. It uses .NET serialization and writes a GUID ahead of the serialized object so that it can recognize that a clipboard memory handle is a serialized .NET object. Before #415, the stream was positioned at th

[2019-02-22 19:25] merriemcgaw commented on #469
@JuditRose , are these part of the list you're porting now?

[2019-02-22 19:27] merriemcgaw commented on #469
@alepikhov , can I ask what you're doing with these classes in your application? Our assumption is that you are providing some design experience. Our Core 3 designer is a work in progress, so you may need to wait until we've got that completed if you are dependent on VS for your application.  We are in the process of porting most of the System.Design component, but we're curious as to how it's bei

[2019-02-22 19:29] merriemcgaw commented on #465
@Zheng-Li01 is this a regression from an earlier Core build? Does this repro in 4.8 applications?

[2019-02-22 19:32] merriemcgaw commented on #457
This isn't on our current roadmap, which is focusing on parity with .NET Framework. But it's certainly something we should consider in a future release.

[2019-02-22 20:01] JuditRose commented on #469
Hi,
@alepikhov We are already working on porting some missing components to core. There is a pending PR for issue #177. And the other related issue is #221 .
I have just crossreferenced this list with the list in #221 and all the items here are included there as well. We decided to port the System.Design components from the list in #221. I am already working on Toolbox related components, PR is co

[2019-02-22 21:18] MohammadHamdyGhanem commented on #475
Yes. The image show the case I talk about:
![untitled1](https://user-images.githubusercontent.com/29876310/53271789-2611c980-36f8-11e9-8422-13c7b3e6aed6.jpg)

And these are the tracing data:
Subtitle menu:
Bounds = {X = 0 Y = 2 Width = 385 Height = 40}

Select Current Paragraph:
Bounds = {X = 0 Y = 2 Width = 674 Height = 40}

[2019-02-22 21:22] MohammadHamdyGhanem commented on #475
I suggest to add an static method to the ToolStrip class (say "GetMouseOverItem") that returns the ToolStripItem that mouse is directly moving over (that if user  clicks the mouse, this item will receive focus)

[2019-02-22 21:57] zsd4yr commented on #473
@JoeErickson I can confirm also that #415 is in the Release/3.0 branch, which _should_ be the one that was tested. Going to talk to some folks offline, and make sure I am right in that assumption

[2019-02-22 22:04] zsd4yr commented on #477
@JoeErickson where are you seeing that setting? Thank you for pointing this out

[2019-02-22 22:11] zsd4yr commented on #477
@ericstj Do you have any ideas here? Honestly the package version number stuff is a bit beyond me

[2019-02-22 22:22] weltkante commented on #469
@merriemcgaw Not speaking for the original creator of the issue, but the WinForms Designer API is publically available and not reserved to VS for designing forms, it is "commonly" used in end user Designers (i.e. if there is a WinForms end user designer in the product it is most likey based on these APIs). We have multiple of them in our own product (a 3rd party report designer, one full forms des

[2019-02-22 22:24] ericstj commented on #477
Don't suppress nu1605: package downgrades are bad.

Looks to be a side-effect of https://github.com/dotnet/sdk/blob/0690b28e426f5b7e6dfe7ab4200b83ce3c96bc95/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.Sdk.DefaultItems.props#L81-L87. /cc @dsplaisted

The SDK you're building with is adding a reference to *it's* version of MS.NC.Platforms which is lagging behind the version that WinForm

[2019-02-22 23:16] JuditRose opened #478 "Port Toolbox related components from framework to core"
- [x] ToolboxItem
 - [x] IToolboxUser
 - [x] IToolboxService
 - [x] ToolboxItemCollection
 - [x] ToolboxItemCreatorCallback

Related requests: #221 #469

[2019-02-22 23:29] merriemcgaw commented on #321
PR #419 is merged, closing this issue.

[2019-02-22 23:29] #321 closed

[2019-02-22 23:30] merriemcgaw commented on #270
@JuditRose assigning this to you as you're working on porting a bunch of the editors in now.

[2019-02-22 23:39] zsd4yr commented on #473
@safern

[2019-02-22 23:42] JoeErickson commented on #477
@zsd4yr Open Winforms.sln In VS 2019. In Solution Explorer, right click on a project such as src -> System.Windows.Forms and choose Properties, click on the Build tab, under "Treat warnings as errors" you will see "Specific warnings: NU1605".

I'll be happy to try it out if you make the changes suggested by Eric. Just let me know what branch to clone.

[2019-02-22 23:50] zsd4yr commented on #477
Ah @JoeErickson looks like I beat you to it; raceconditions -- please check out the PR tho

[2019-02-23 00:03] #475 closed

[2019-02-23 00:03] zsd4yr commented on #473
After talking to the folks that own System.Drawing in CoreFX, ensuring that I sent the testing team the right bits (yes, we did), I am confident that this is either 1) a long standing issue, or 2) a recent one related to @dreddy-work's work here #397

It is strange to me @JoeErickson that the issue is passing in local tests but fails once we join up with the rest of the SDK. There must be some typ

[2019-02-23 14:02] MohammadHamdyGhanem commented on #475
@merriemcgaw
I wrote the GetMouseOverItem. If there is a direct windows api to do this, it will be better:
[code]

[2019-02-24 04:26] Tanya-Solyanik commented on #429
SR.resx files in System.Windows.Forms.Editors and System.Windows.Forms.Editors.Design don't have any explicit `\r\n` strings

[2019-02-24 04:26] #429 closed

[2019-02-24 04:37] RussKie commented on #39
Is it possible to clarify the requirements and the acceptance criteria?

[2019-02-24 04:55] RussKie commented on #198
I found one more, #482

[2019-02-24 05:02] RussKie commented on #477
I struggled with the same error for the past week, I installed and reinstalled .NET Core 3.0 SDK (SDK 3.0.100-preview-010184) and VS 2019 few times. I was getting to the point of raising the issue myself.

The last thing I installed was CMake (cmake-3.14.0-rc2-win64-x64) and then all of a sudden I was able to build the project in VS.

I somewhat suspect it had nothing to do with CMake, but I strug

[2019-02-24 09:56] RussKie commented on #459
I'm happy to attempt to tackle this, but I'd like to get a better understanding how you envisage the refactor.

The current implementation of the `Clipboard` exposes a number of static methods, that pretty much bar the extensibility. How would the current `Clipboard` implementation make use of `OleClipboard`?
For example, how would the following implementation look:
https://github.com/dotnet/winfo

[2019-02-24 14:56] kpreisser commented on #146
I discovered an additional edge case when playing with the Task Dialog's radio buttons: It seems the task dialog doesn't correctly support/handle the case when you want to select one of the radio buttons ([`TDM_CLICK_RADIO_BUTTON`](https://docs.microsoft.com/en-us/windows/desktop/Controls/tdm-click-radio-button)) from within the [`TDN_RADIO_BUTTON_CLICKED`](https://docs.microsoft.com/en-us/windows

[2019-02-24 21:20] RussKie opened #484 "Clarity on style guide"
What style guide should be followed?

It looks like the original codebase followed [Brad Adam's guide](https://blogs.msdn.microsoft.com/brada/2005/01/26/internal-coding-guidelines/) that is vastly different to the [CoreFx's one](https://github.com/dotnet/corefx/blob/master/Documentation/coding-guidelines/coding-style.md), that is indirectly recommended via the docs ([developer guide](https://githu

[2019-02-25 11:22] alepikhov commented on #469
@merriemcgaw, we are trying to port our end-user report designer component to .Net Core 3.

@JuditRose, it will be great if you prioritize up ComponentDesigner.
Thank you for showing us the current situation and your plans to port System.Design for Core3. We can now hope that we will manage to update our product before Core3 is released.

[2019-02-25 11:43] Zheng-Li01 commented on #465
This is a regression issue, which can’t reproduce on the earlier Core build: 009844,  but the issue can reproduce on the 4.8 application, and there have a .NETFramework bug: 790782 to trace it.

[2019-02-25 14:31] kpreisser commented on #146
A colleague of mine had some interesting suggestions for the public API:
- Maybe rename `TaskDialogContents` to `TaskDialogPage` and have a `Page` property on the `TaskDialog` (the native API also talks about [navigating to a page](https://docs.microsoft.com/en-us/windows/desktop/Controls/tdm-navigate-page) / multi-page-wizard)
- `TaskDialogProgressBarState` -> `TaskDialogProgressBarStyle`

- Icon

[2019-02-25 16:31] richlander opened #485 "Remove .NET Framework isms"
I was just looking through the code-base and did a search on ".NET Framework".  Here are a few hits I found:

* [ResXDataNode.cs](https://github.com/dotnet/winforms/blob/15cda680cff86c1d7654f8dd675249733d002b94/src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs#L803)
* [PropertyDescriptorGridEntry.cs](https://github.com/dotnet/winforms/blob/784d45b66d34ca1f153559b7e6dbd0d20fa95c25/src/S

[2019-02-25 18:18] GSPP commented on #146
In this thread we mentioned a few native task dialog bugs already. Is it realistic to get them fixed in the OS?

If yes, we could leave them unfixed at the .NET layer, document them for .NET and simply say that a future Windows version will fix them. Windows 10 now has a fairly quick update model so most OS installations will receive the fixes rather soon.

That's a cleaner strategy than to lock i

[2019-02-25 18:21] #477 closed

[2019-02-25 18:30] jnm2 commented on #146
@GSPP What will .NET apps do that find themselves running on all versions of Windows currently in use? Demand a Windows update, or work around the quirks manually?

[2019-02-25 18:42] zsd4yr commented on #477
@RussKie and @JoeErickson if you guys wouldn't mind, if a few days (once change #497 has had time to propogate to core-sdk), would you mind updating this thread with any struggles you're having related to this?

[2019-02-25 19:28] zsd4yr commented on #388
approved

[2019-02-25 19:29] zsd4yr commented on #389
approved

[2019-02-25 19:29] zsd4yr commented on #390
approved

[2019-02-25 19:29] zsd4yr commented on #391
approved

[2019-02-25 19:30] zsd4yr commented on #392
approved

[2019-02-25 19:43] zsd4yr commented on #382
approved

[2019-02-25 19:43] zsd4yr commented on #383
approved

[2019-02-25 19:44] zsd4yr commented on #384
approved

[2019-02-25 19:44] zsd4yr commented on #385
approved

[2019-02-25 19:46] #378 closed

[2019-02-25 19:46] #379 closed

[2019-02-25 19:47] zsd4yr commented on #379
approved

[2019-02-25 19:47] zsd4yr commented on #378
approved

[2019-02-25 20:02] zsd4yr commented on #361
approved

[2019-02-25 20:02] zsd4yr commented on #362
approved

[2019-02-25 20:02] zsd4yr commented on #363
approved

[2019-02-25 20:02] zsd4yr commented on #364
approved

[2019-02-25 20:02] zsd4yr commented on #370
approved

[2019-02-25 20:02] zsd4yr commented on #371
approved

[2019-02-25 20:02] zsd4yr commented on #374
approved

[2019-02-25 20:02] zsd4yr commented on #375
approved

[2019-02-25 20:03] zsd4yr commented on #376
approved

[2019-02-25 20:03] zsd4yr commented on #377
approved

[2019-02-25 20:05] zsd4yr commented on #373
So you are able to multi-remove an item? Certainly someone does not intend to do this, but are you suggesting we break for it?

[2019-02-25 20:07] zsd4yr commented on #372
This makes sense because add is a special case of insert where it is added at the end. In fact, it may be better to
1. [ ] make this change
2. [ ] change add to call insert on the end of the list

[2019-02-25 20:08] zsd4yr commented on #369
Are you suggesting we handle the failure by setting group.ListView ?

[2019-02-25 20:09] #345 closed

[2019-02-25 20:11] #344 closed

[2019-02-25 20:29] JoeErickson commented on #477
@zsd4yr Will do

[2019-02-25 20:40] RussKie commented on #477
Sure thing.

On Tue, 26 Feb 2019 at 07:29, JoeErickson <notifications@github.com> wrote:

[2019-02-25 20:50] kpreisser commented on #146
Note that the issue about right-to-left layout being always applied on RTL OSes even though the `TDF_RTL_LAYOUT` flag isn't specified (which I would consider as important bug) actually cannot be worked around in .NET code, and can only fixed in the OS (but I guess only by adding a new flag to not break existing apps).

As for the other issues/quirks, you are right that we could leave them unfixed

[2019-02-25 21:12] #343 closed

[2019-02-25 21:12] #277 closed

[2019-02-25 21:13] #198 closed

[2019-02-25 21:14] #382 closed

[2019-02-25 21:14] #383 closed

[2019-02-25 21:14] #384 closed

[2019-02-25 21:14] #385 closed

[2019-02-25 21:25] #358 closed

[2019-02-25 21:26] zsd4yr opened #488 "Require new translation: TreeNodeCircularReference"
Related to #454

[2019-02-25 21:29] zsd4yr commented on #484
We follow the CoreFX guidelines on new contributions, but to my understanding, we have not attempted any code-wide refactor. This is for new changes

[2019-02-25 21:31] zsd4yr commented on #484
We use _camelCase for internal and private fields and use readonly where possible. Prefix internal and private instance fields with _, static fields with s_ and thread static fields with t_. When used on static fields, readonly should come after static (e.g. static readonly not readonly static). Public fields should be used sparingly and should use PascalCasing with no prefix when used.

Namespace

[2019-02-25 21:45] zsd4yr commented on #146
@OliaG would you mind reaching out to someone on the Windows team / in Windows shiproom to discover an answer to this?

My guess is that requests for more current releases of the OS are more likely to be serviced than older ones, and that it will be even easier to fix any issues if they hit particular tenets: accessibility, security, etc...

In the meantime, we may have to work around them, especi

[2019-02-25 21:58] manuelvalenzuela commented on #488
Hi @zsd4yr, I can translate to Spanish. How is the procedure to do it, considering that this issue should be closed only when all the languages are ready?

[2019-02-25 22:00] RussKie commented on #484
Thanks, it would be good to have these guidelines added to the Wiki, as they do diverge from the CoreFx's guidelines.

Not quite. My questions was about file organisation. E.g. [Brad Adams' guide is quite specific about it](https://blogs.msdn.microsoft.com/brada/2005/01/26/internal-coding-guidelines/#_Toc6325250):

Personally I quite like this, as it makes tremendously easier to review and reason

[2019-02-26 01:26] zsd4yr commented on #488
Hey @manuelvalenzuela we have a team who uses some algorithms for this. I am in talks with them to discuss how we (both contributors like yourself as well as people like me) can 1) ask for their assistance and 2)  suggest edits to existing translations. They generate [these files](https://github.com/dotnet/winforms/tree/master/src/System.Windows.Forms/src/Resources/xlf) for us.

This issue is to a

[2019-02-26 01:39] manuelvalenzuela commented on #488
Hey @zsd4yr, thank you for taking the time to explain me!
I will be keeping an eye on the updates in this thread.
In the meantime, I will be taking small issues to keep contributing in the project :)

[2019-02-26 06:57] RussKie commented on #477
I have checked out the latest master and now I can't compile...

Attempting to compile I get a bunch of errors:
[code]

I also get the following warning:
![image](https://user-images.githubusercontent.com/4403806/53392916-fc55ec80-39ee-11e9-9434-403845a505ae.png)

[2019-02-26 10:18] Zheng-Li01 opened #493 "The return value of method Clipboard.GetImage() is null in the .NET Core 3.0 winforms application"
**OS**: RS3 X64
**VS**: Visual Studio 2019 Version 16.0.0.0 Preview 4.0 [28625.133.d16.0]
**.NET SDK**: .NET Core 3.0 3.0.100-preview4-10523 from master branch

**More Info:**
    In .NET framework application, the return value is correct .

**Steps to Reproduce:**

1. Create a Winforms .Net Core application by command: dotnet new winforms –o “xxx”
2. Write code to Form1.cs
  ` using System.Drawin

[2019-02-26 15:07] drewnoakes commented on #484
@zsd4yr in https://github.com/dotnet/winforms/issues/484#issuecomment-467191583 your underscores were interpreted as requesting italics, making your examples a bit confusing.

[2019-02-26 15:30] sharwell commented on #484
@zsd4yr Expanding on what @drewnoakes said, you can escape your literal underscores in Markdown by using `\_`.

[2019-02-26 19:41] zsd4yr opened #497 "No SR.cs files should not be included in the src; should all be in System.Resources namespace"
They are auto-generated; this is an anti-pattern

[2019-02-26 19:47] zsd4yr commented on #484
That is impossible, as I copied and pasted them from the CoreFx guidelines.

[2019-02-26 20:19] zsd4yr commented on #497
update: after #439 these will no longer be included in source but there is still work to be done so I'll change the name

[2019-02-26 21:07] RussKie commented on #484
Now it all makes sense, thank you all

[2019-02-26 21:21] zsd4yr commented on #484
For any of these, I am more inclined to discuss them if there is a way to set them in the .editorconfig. Does anyone else have any opinions here?

[2019-02-26 21:25] #388 closed

[2019-02-26 21:25] #389 closed

[2019-02-26 21:25] #390 closed

[2019-02-26 21:25] #391 closed

[2019-02-26 21:25] #392 closed

[2019-02-26 21:51] RussKie commented on #484
This can be enforced with StyleCope anaylsers
![image](https://user-images.githubusercontent.com/4403806/53448947-c6efe400-3a6c-11e9-8e01-8aee0c29125a.png)

@sharwell is the man to talk about these

[2019-02-26 21:53] zsd4yr commented on #484
Style cop is an institutionally acceptable option. My personal opinion is that I would rather these things me automagically fixed at edit-time ; there should be a way to keep uniform style and avoid additional work necessary on the part of developers.

[2019-02-26 21:56] RussKie commented on #484
We should then convince VS team to set the above as defaults, as the 95% of developers don't change settings 😉

[2019-02-27 01:38] Vino-Wang commented on #473
This issue is verified now, so close it.

[2019-02-27 01:38] #473 closed

[2019-02-27 01:48] wjk commented on #502
@jaydeept This is a known limitation with the VS Designer as of Preview 3. Unless something in Core or in VS has changed since I last tried this, you'll need to multi-target your project to to both `netcoreapp3.0` and some version of .NET Framework (any will do, but the later the better). When you set the `TargetFrameworks` property in your project file, make sure that the .NET Framework TFM comes

[2019-02-27 14:37] M-Lipin commented on #182
https://github.com/dotnet/winforms/pull/400 includes the following fixes:
* Announcing the ComboBox selected value changes without expanding/collapsing drop-down list.
* Announcing DataGridView cell navigation and DataGridView editing control input's state and expanding/collapsing actions.
* Updated accessible hierarchy tree of PropertyGrid control: all editing controls are the children of corresp

[2019-02-27 14:45] M-Lipin commented on #182
#180 includes the following fixes:
* Keyboard tooltips fixes - user can see the control tooltip when navigating using keyboard.
* Showing keyboard tooltip for the menu items even if there is no ToolTip property for the parent control.
* Setting the ToolTip for the control (via SetToolTip) does not lead to throwing NullReferenceException.
* Navigating the strip controls (ToolStrip, MenuStrip) with

[2019-02-27 18:30] Tanya-Solyanik commented on #146
@kpreisser - Thank your very much for this feature suggestion. I apologize that it's taking a long time to review it. We are very much interested in modernization of WinForms look and feel and this feature fits in perfectly with this goal. The reason we are taking so long to review it is that it seems that there will be demand for this feature both in WinForms and WPF applications and your current

[2019-02-27 18:40] jnm2 commented on #146
I really like this possibility.

[2019-02-27 18:55] ericstj opened #506 "Remove facade targets workaround"
The following can be removed as the linked issue was fixed.
https://github.com/dotnet/winforms/blob/e19dc9c660b0c861e0c6073e0d669b7356b42ec8/eng/FacadeAssemblies.props#L35-L36

[2019-02-28 08:31] kpreisser commented on #146
Hi @Tanya-Solyanik,
thank you very much for the update!

I agree that it would not be ideal to have two separate implementations for WinForms and WPF, and that it would probably be better to ship the Task Dialog in a separate assembly.

I assume this means the task dialog assembly would not depend on WinForms or WPF, but WinForms or WPF might have a dependency on the task dialog assembly?

If I un

[2019-02-28 11:58] RussKie opened #508 "Having troubles running integration tests"
* .NET Core Version: 3.0.100-preview-010024, master @ ea3a2cec28af1e0248460a93c14942078090a2b8
* Have you experienced this same bug with .NET Framework?: N/A

**Problem description:**

Running `.\build -integrationTest` or running integration tests from VS result in errors:

![image](https://user-images.githubusercontent.com/4403806/53564547-4be11780-3bab-11e9-8141-3fcbcd3a6c22.png)

**Actual beha