[2020-08-20 15:59] sharkguto opened #3750 "winforms 2.0 for linux - mono -> dotnet.core"
it would be great if microsoft copy and paste winforms 2.0 from mono to dotnet core.

[2020-08-20 17:21] italocassio commented on #3750
Yes!!! that would be incredible!
Go go Microsoft!

[2020-08-20 17:26] SergeySmirnov-Akvelon commented on #3661
Hi @merriemcgaw. I fixed issue from STEP 5, but I afraid that expected behavior from STEP 4 can confuse users. For example: focus leaves textbox when user moves the caret to the end of the text and again click right arrow. I think that current behavior is correct for TextBox/Combobox. Could you please take a look at this and share your opinion?`

[2020-08-20 18:02] KlausLoeffelmann commented on #3715
Pinging @cston and @KathleenDollard on this.

[2020-08-20 22:56] #3299 closed

[2020-08-21 01:30] RussKie commented on #1726
This is a bug in the underlying ComCtl32 library, https://microsoft.visualstudio.com/OS/_workitems/edit/12191319.
If/when DEP team fixes this bug we don't have a competing fix in our codebase.

[2020-08-21 01:30] #1726 closed

[2020-08-21 03:24] Jessie-Zhang01 commented on #3628
Verified this issue with .Net 6.0.100-alpha.1.20420.20 from Master branch, this issue is fixed. CheckedListBox selected item has a color as before.
![image](https://user-images.githubusercontent.com/45864649/90848744-3152bd80-e3a0-11ea-8b20-8b6193f87eda.png)

[2020-08-21 08:21] Zheng-Li01 commented on #3560
Verified the issue with latest .NET 6.0.100-alpha.1.20420.20 that the issue has been fixed that the customer Accessibility Name/Role/Description can be seen in the inspect tool.
![UpdateCoreIssue](https://user-images.githubusercontent.com/38325459/90868008-cd90ba80-e3c8-11ea-86e5-2554c8c403fd.gif)

[2020-08-21 08:41] Ashley-Li commented on #3580
Verified this issue with .Net 6.0.100-alpha.1.20420.20 from Master branch, this issue is fixed that after setting the SelectedObject property for the PropertyGird control, it can display correct default values.This issue cannot reproduce in design time.
![image](https://user-images.githubusercontent.com/56664234/90871123-6be03a00-e34f-11ea-8ad8-684edfdd3cad.png)

[2020-08-21 09:59] Lydia-Shi opened #3756 "Property only has get method but its CanWrite is true"
* .NET Core Version:
.Net SDK 6.0.100-alpha.1.20420.20

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1. Extract “[WindowsFormsApp1.zip](https://github.com/dotnet/winforms/files/5107956/WindowsFormsApp1.zip)” and open it in VS.
2. Put a breakpoint at the end of the Form1_Load method
3. Build and run the project.

**More info:**
This is a regression issue and it

[2020-08-22 14:16] ismlsmile opened #3759 "a container like QStackedWidget in Qt and StackPane in JavaFx"
a container like QStackedWidget in Qt and StackPane in JavaFx

[2020-08-24 04:58] RussKie commented on #3759
Thank you for stopping by.

I'm closing this for the lack of consideration provided, as you decided to ignore the provided API suggestion template, and failed to provide all necessary information including but no limited to:
- what exactly is that you require (including screenshots, documentation, etc.),
- what benefits the new control provide and what use cases it will address,
- what underlying

[2020-08-24 04:58] #3759 closed

[2020-08-24 06:39] Lydia-Shi commented on #3756
@RussKie When running our .Net core RT cases in latest build, 2 cases failed, After debugging we found the CanWrite value of SortOrder property is changed from false to true. As @Amy-Li02-zz also replied to you in the email.

[2020-08-24 06:51] RussKie commented on #3756
We provide no guarantee of

[2020-08-24 06:51] #3756 closed

[2020-08-24 08:47] ismlsmile opened #3765 "a container like QStackedWidget in Qt and StackPane in JavaFx"
1.what exactly is that you require (including screenshots, documentation, etc.)
https://docs.oracle.com/javase/8/javafx/api/javafx/scene/layout/StackPane.html
https://doc.qt.io/qt-5/qstackedwidget.html

2.what benefits the new control provide and what use cases it will address
several widgets put together, and only one widget is shown at any time.

3.what underlying Windows control/functionality i

[2020-08-24 11:09] weltkante commented on #3765
As mentioned in #3759 there is utility to such a control and I've implemented one in the past, so I'm filling the template based on the experience from my implementation. The question whether to provide it out of the box or leave it to be provided by 3rd party packages is open for the team to decide.

**Is your feature request related to a problem? Please describe.**
Provide a control which allows

[2020-08-24 12:55] ismlsmile commented on #3765
@weltkante thanks again for your great help.

[2020-08-25 03:07] #3661 closed

[2020-08-25 07:40] Amy-Li03 opened #3770 "The BackColor & MouseOverBackColor property of Button doesn't work"
* .NET Core Version:
.Net SDK 6.0.100-alpha.1.20421.6

* Have you experienced this same bug with .NET Framework?:
No

* More info:
This is a regression issue, it cannot reproduce on .Net SDK 5.0.100-preview.8.20417.9

**Problem description:**
The BackColor of Button doesn't work when Button's FlatStyle is Flat or Popup .
The MouseOverBackColor of Button doesn't work when Button's FlatStyle is Flat

[2020-08-25 08:49] OliaG commented on #3750
Simple copy-pasting unfortunately would not work and it will require enormous resources to bring it to a workable and quality satisfactory state. So unfortunately as of now WinForms will remain Windows only. But we are working on a cross-platform desktop solution .NET MAUI.

[2020-08-25 08:49] #3750 closed

[2020-08-25 10:12] rLindorfer commented on #3572
Could you please give me a brief update concerning my issue?

[2020-08-25 12:23] RussKie commented on #3572
It is on the backlog.

[2020-08-25 13:12] RussKie commented on #3634
@vladimir-krestov @JeremyKuhne was this fixed?

[2020-08-25 13:15] RussKie commented on #1036
@nakarnam FYI

[2020-08-25 13:22] RussKie commented on #3770
The regression was introduced in 99be98a67e9a0e80a941f315593316fa97420559

[2020-08-25 13:56] Ryuugamine commented on #3658
@merriemcgaw
Could you please give me an example of how an image cell description should look?

[2020-08-25 14:03] cbrit commented on #3686
Some kind of feedback would be appreciated.

[2020-08-25 22:56] #3770 closed

[2020-08-26 02:26] John-Qiao opened #3778 "Cannot get the expected result when set "\r\n" to RichTextBox.Text property"
* .NET Core Version:
5.0.0-rc.1.20425.1

* Have you experienced this same bug with .NET Framework?:
No

**More info:**

1. This issue does not occur in .NET Framework.
2. This issue does not occur in .NET Core 3.1 and .NET 5.0 Preview 8. It's a regression issue in 5.0.0-rc.1.20425.1.
3. It maybe caused by this PR: [3726](https://github.com/dotnet/winforms/pull/3726)

**Problem description:**

Cann

[2020-08-26 06:16] RussKie commented on #3686
This issue is on the backlog. You’re welcome to send a PR with a fix.

From: Collin <notifications@github.com>
Sent: Wednesday, August 26, 2020 12:04 AM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [dotnet/winforms] TabPageCollection.Insert(int index, TabPage page) does not work properly, bug has been around for 15 years (#3686)

Som

[2020-08-26 07:01] Olina-Zhang commented on #3504
@SergeySmirnov-Akvelon verified this bug in .Net Core September Update build: 3.1.108 by [VS VAL build](https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/269963) as PR [3600](https://github.com/dotnet/winforms/pull/3600) was merged, just AccessibleName of those controls can be customized, and AccessibleRole and AccessibleDescription cannot.  Do you have plan to fix AccessibleRole and Acce

[2020-08-26 07:20] Zheng-Li01 commented on #3584
Verified the issue with .NET Core SDK  3.1.402-servicing-015278, the issue has been fixed that ComboBox's items displayed expected in the inspect tool.
![GitHubIIssue](https://user-images.githubusercontent.com/38325459/91273358-b8909e80-e7af-11ea-86d0-96adaa77cc7b.PNG)

[2020-08-26 08:00] ahdung opened #3780 "LinkLabel cut off"
* .NET Version:
3.1.301

* Have you experienced this same bug with .NET Framework?:
Yes. .NET Framework 2.0-4.8

**Environment:**
- VS2019 16.6.3
- Windows Server 2008 R2 x64 Chinese lang

**Problem description:**

LinkLabel width not enough.
![image](https://user-images.githubusercontent.com/12094247/91275592-f6db8d00-e7b2-11ea-9614-829d32c61a5a.png)

**Expected behavior:**

like last one.

**Min

[2020-08-26 09:15] Zheng-Li01 commented on #3780
**More info**
Try to reproduce the issue using created project. get the below info.
1. The issue can't reproduce on English Lang.
2. Run the project calling the form2, can reproduce the issue; calling the form3, can't reproduce the issue, the difference is that no label controls on the Form3.
3. The issue also can't reproduce when running the Form2 directly.
4. The issue also can't reproduce after

[2020-08-26 09:28] #3584 closed

[2020-08-26 09:48] SergeySmirnov-Akvelon commented on #3504
Hi @Olina-Zhang. We have #3712 and #3713 issues which are related to AccessibleRole. I think we will fix AccessibleRole and AccessibleDescription in scope of these issues.

[2020-08-26 12:47] msneijders opened #3783 "Add unimplemented types for deprecated UI controls"
**Is your feature request related to a problem? Please describe.**

I am migrating a large Winforms .NET Framework 4.7.1 solution to .NET 5.0 (preview 8). My biggest pain are the deprecated UI Controls like ContextMenu and related types like 'MenuMerge'. Not because of my own code, I don't use them anymore. But we use quite some 3rd party libraries who still have references to these deprecated typ

[2020-08-26 19:03] cbrit commented on #3686
Thanks!

[2020-08-26 21:56] sharkguto commented on #3750
https://devblogs.microsoft.com/dotnet/introducing-net-multi-platform-app-ui/

[2020-08-26 22:33] elachlan commented on #3750
I do not want yet another mobile UI framework extended to desktop. There are many productivity applications that do not lend themselves to mobile based design.

Correct me if I am wrong, but if MAUI is inheriting from xamarin.forms then it won't have multiple windows. A pretty big requirement for a lot of applications.

I just want my winforms apps to run on mac so I can natively support it instea

[2020-08-26 22:51] sharkguto commented on #3750
@elachlan its really sad that microsoft does not do any effort to make winforms multiplatform happen. Anyway , MAUI is something to wait a bit more than we expected. Until than I still using gambas3 for desktop apps

http://gambas.sourceforge.net/en/main.html

it is close to winforms for create desktop apps in linux

[2020-08-27 06:15] Amy-Li03 commented on #3399
Verified this issue on .NET 5.0.100-rc.1.20426.13 build, issue was fixed, the hidden text is hidden in RTF view and it can be accessed using the Text property and found using Find() method. But a regression issue [#3778](https://github.com/dotnet/winforms/issues/3778) was found.

[2020-08-27 07:30] Amy-Li03 opened #3789 "The right border and lower border of Button is incorrect when setting button's FlatStyle as Flat or Popup."
* .NET Core Version:
5.0.100-rc.1.20426.12

* Have you experienced this same bug with .NET Framework?:
No

* More info:
 1. This is a regression issue.
 2. It cannot reproduce on .NET core 3.1 & .NET 5.0 Preview8.

**Problem description:**
When set button's FlatStyle as Flat or Popup, the right border line of button is not overlap.(lower border also exist this issue)
![net5](https://user-images.gi

[2020-08-27 08:20] weltkante commented on #3783
I don't think this will work, I'm not 100% certain but I think loading types is lazy, so it _already_ will only load them at the point they are used. However if they are used then it typically will be in the form/control constructor (in the generated designer code part), so throwing an exception will mean you have that exception being thrown in your third party form/control constructor. That proba

[2020-08-27 08:21] Zheng-Li01 opened #3790 "An error appeared after reference the Winformscontrollib project in the winforms core project"
## Version info
Latest .NET SDK 5.0.100-rc.1-20426.12 + Dev16 16.8.0 Preview 2.0

## More info
1. The issue also can reproduce on Windows Forms(Winforms) Class Library project.
2. The UserControl also can reproduce on ToolBox window for UserCOntrol1 designer, have a same issue to track it:[1840](https://github.com/dotnet/winforms-designer/issues/1840)

## Minimal Reproduction Scenario
1. Create a

[2020-08-27 08:34] Zheng-Li01 commented on #3608
@TanayParikh, @RussKie, verified the issue with latest .NET SDK 5.0.100-rc.1-20426.12 . for now the  Winforms Control Library(Core) templated can be found & created using CLI, however, still can't find the template in the Visual Studio.
if it is expected for now?
In addition, find a new issue related  Winforms Control Library(Core) project, have filed a new issue [3790 ](https://github.com/dotnet/

[2020-08-27 09:04] msneijders commented on #3783
In general you are right and this will not work -- but all my 3rd party libraries are using the "new" controls that have replaced the deprecated ones -- it is just that they kept supporting the deprecated ones with code like "if (this.ContextMenuStrip != null) { ..use new control...} else if (this.ContextMenu != null) { ..keep it backwards compatible...}. Now if ContextMenu just worked and returne

[2020-08-27 09:41] weltkante commented on #3783
these controls already were removed in .NET Core 3.1

[2020-08-27 09:45] msneijders commented on #3783
Exactly, that is why I cannot use .NET Core 3.0, not shipping something that is out of support to my customers.

[2020-08-27 09:50] weltkante commented on #3750
The problem with adopting the mono implementation of WinForms is that its only superficial, a lot of low level details won't work or work differently, like window messages, but many complex controls require the low level details to be correct. If Microsoft were to "copy paste" the mono version of WinForms they would be expected to support and contribute to it to make things work. That would not be

[2020-08-27 10:05] weltkante commented on #3780
The version and base language of the operating system are very important in reproducing these issues, as different configurations use different fallback fonts (when the selected font doesn't contain the glyph). Just switching the application or OS language doesn't always result in the same situation, since e.g. chinese installations of Windows may come with different registry settings for font fal

[2020-08-27 15:27] teo-tsirpanis commented on #3783
Have you tried creating dummy classes for these deprecated types in your assembly, and [type-forwarding](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.compilerservices.typeforwardedfromattribute?view=netcore-3.1) them to the Windows Forms assembly?

[2020-08-27 17:31] msneijders commented on #3783
@teo-tsirpanis I did not try this yet, but I will soon, thank you for this suggestion.

[2020-08-27 23:22] Tanya-Solyanik commented on #3780
@Zheng-Li01 - on what OS had you verified this bug?

[2020-08-27 23:55] JeremyKuhne commented on #3699
This is a normal Windows behavior- got this to repro with a basic Windows app that doesn't use WinForms.

[2020-08-27 23:55] #3699 closed

[2020-08-28 01:49] Amy-Li03 commented on #1970
Verified this issue with the latest .NET SDK 5.0.100-rc.1-20426.12 build, now the Windows Forms Control Library(.NET Core) template can be found and created from CLI, but it still cannot be found from VS.

[2020-08-28 05:58] Amy-Li03 opened #3796 "Inspect cannot focus on drop-down editor of Text property"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20426.13

* More Info:
This is a not regression issue, it also reproduce on .NET Core 3.1.

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**  [TestPrj.zip](https://github.com/dotnet/winforms/files/5140311/TestPrj.zip)
1. Launch Inspect tool.
2. Create a WinForms core project with PropertyGrid and Button control.
3. Associ

[2020-08-28 09:22] vladimir-krestov commented on #3634
@RussKie, I can't reproduce this bug anymore.
So we can close this bug as not repro
@JeremyKuhne FYI

[2020-08-28 09:27] msneijders commented on #3783
Type-forwarding does not seem like a workaround -- I think forwarding needs to be done from the System.Windows.Forms assembly.

[2020-08-28 09:33] #3634 closed

[2020-08-28 10:07] weltkante commented on #3634
I think this is because the threaded ScreenDcCache was removed? At least the file I linked above as causing the bug doesn't exist anymore.

[2020-08-28 10:31] teo-tsirpanis commented on #3783
Hmm, doesn't it work the other way around? There's an attribute named `TypeForwardedFrom` which is applied to the declared type, in contrast with the `TypeForwardedToAttribute` which is applied to the receiving assembly.

It is written like this: `[TypeForwardedFrom("System.Windows.Forms")]`.

[2020-08-28 12:29] msneijders opened #3800 "PropertyGrid invisible values"
* .NET Core Version:
5.0 Preview8

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The values of the properties are not visible; only the value of the active row. And if the form loses focus, all values are invisible (font color to white maybe?).

![PropertyGrid_NoValues](https://user-images.githubusercontent.com/27849065/91560710-8eb7b300-e93a-11ea-9fa0-2c

[2020-08-28 12:32] msneijders commented on #3800
P.S. Converting the project to .NET Core 3.1, and it works as it should, all values visible.

[2020-08-28 13:11] kirsan31 commented on #3800
Can confirm this behavior on 5.0 Preview8.

[2020-08-28 15:04] weltkante commented on #3783
you also need to have facade assemblies, the compiler doesn't understand type forwarding, its only a hint for the runtime. If it is to be effectful for the runtime it has to be put into the place the type was originally. Since the type originally wasn't in the OPs assemblies it won't be of any use to put those attributes there, unless he recompiles the libraries in question.

[2020-08-28 15:33] teo-tsirpanis commented on #3783
@msneijders said he doesn't _himself_ use these legacy controls in application code. He uses an old control library wich supports both the legacy and the new controls, but the legacy control code path will never be executed.

We don't care about the compiler recognizing them. All we want is a runtime trick to not crash the loader because of a couple of classes were not found.

[2020-08-28 17:14] weltkante commented on #3783
But if the library isn't compiled against his assembly the runtime won't bother to look at type forwards in his assembly. Just explaining, feel free to try anyways. Type forwards are a very specific solution to a very specific problem, making them unsuitable as workaround unless you can recompile 3rd party libraries (either WinForms or the library needing the workaround).

[2020-08-28 17:33] Tanya-Solyanik commented on #3706
Only the combobox was fixed previously - https://github.com/dotnet/winforms/pull/3550.
@merriemcgaw - this repros in 3.1, should we fix it there? I does not repro in 4.8

[2020-08-28 21:34] JeremyKuhne commented on #3634
@weltkante I moved it to a thread local for this release. I'll deal with the underlying issue in the next version.

[2020-08-28 23:27] RussKie commented on #3800
Please try the latest RC1 build.
________________________________
From: kirsan31 <notifications@github.com>
Sent: Friday, 28 August 2020 11:12 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [dotnet/winforms] PropertyGrid invisible values (#3800)

Can confirm this behavior on 5.0 Preview8.

—
You are receiving this because you are su

[2020-08-29 11:07] msneijders commented on #3800
Using .NET 5.0.0-rc.1.20428.3 it works as expected.

[2020-08-29 11:07] #3800 closed

[2020-08-31 05:48] Zheng-Li01 commented on #3780
@Tanya-Solyanik, verified the issue on Win10 2004(ZH-CN) environment,  the issue can reproduce.

[2020-09-01 08:53] SergeySmirnov-Akvelon commented on #3598
CTI approved

[2020-09-01 11:03] #3597 closed

[2020-09-01 23:12] merriemcgaw commented on #3778
We may need to revert #3726 if we can't find a better solution.

[2020-09-01 23:16] merriemcgaw commented on #3790
@Zheng-Li01 can you check this again with the most recent int Preview build of VS and the very latest most recent SDK and their changes? Let us know warnings too.

[2020-09-01 23:18] merriemcgaw commented on #3706
Nah, I don't think this needs to be serviced. But we do want to try to get it in to 5.0 RC2. Do you see any issues with that?

[2020-09-01 23:19] merriemcgaw commented on #3630
This hasn't come up in a while. Closing and we can reopen if it repros later.

[2020-09-01 23:19] #3630 closed

[2020-09-01 23:21] merriemcgaw commented on #3622
@KlausLoeffelmann is this on track for RC2? If not, we may need to move into a later release as a clean up item.

[2020-09-01 23:27] merriemcgaw commented on #3452
It's looking like it might be close to get it in 5.0 Adding @JeremyKuhne

[2020-09-01 23:31] merriemcgaw commented on #1970
This will be inserted to VS in the next couple of days. @Amy-Li03 can you check it next week?

[2020-09-02 00:02] merriemcgaw commented on #2067
@AdamYoblick do we still need to port the changes you describe in the linked AzDO bug?

[2020-09-02 00:03] merriemcgaw commented on #2625
@dreddy-work is this work done already? It sounds very familiar. If not, let's move the milestone over to 6.0

[2020-09-02 00:06] merriemcgaw commented on #1670
@Olina-Zhang is this still reproing in recent .NET 5 builds?

[2020-09-02 00:26] #3062 closed

[2020-09-02 01:16] #3789 closed

[2020-09-02 03:55] SenthilKumaranRajan commented on #3300
Hi @JeremyKuhne ,

UserControl.DesignMode also return false in design mode. Please check this condition in design mode in net core project.

Replication steps:
1) Close the designer
2) Rebuild the application and open the designer and check the design mode condition.

DesignMode is false.

[2020-09-02 04:58] RussKie commented on #3778
@JeremyKuhne I think this is the expected RichEdit behaviour, the [docs](https://docs.microsoft.com/windows/win32/api/richedit/ns-richedit-gettextex#members) state that the default flag does not translate `\r` -> `\r\n`:
![image](https://user-images.githubusercontent.com/4403806/91932768-7674d900-ed2a-11ea-8e6e-a7a996728c92.png)

The original implementation went like this:
`get_Text -> StreamOut(S

[2020-09-02 06:19] Zheng-Li01 commented on #3790
@merriemcgaw, verified the issue with latest 16.8.0 Preview 3.0 [30431.218.main] from Int Preview branch + .NET 5.0.100.rc.1.20452.10, the issue can't reproduce that the core project build successfully with no error; and the issue also can't reproduce on 16.8.0 Preview 3.0 [30501.256.main] from main branch + .NET 5.0.100.rc.1.20452.10 for now.
![UpdateGitHubIssue](https://user-images.githubusercon

[2020-09-02 06:25] RussKie commented on #3300
If your user control is unsited, it would be false:
https://github.com/dotnet/runtime/blob/master/src/libraries/System.ComponentModel.Primitives/src/System/ComponentModel/Component.cs#L95-L101

[2020-09-02 06:27] #3790 closed

[2020-09-02 08:00] RussKie commented on #3460
I've checked devdiv-design.visualstudio.com/DevDiv%20Design/_workitems/edit/1787, and the attached zip doesn't contain the expected icon.
@dreddy-work could you point me where I can get the right icon.

[2020-09-02 08:49] Zheng-Li01 opened #3822 "The description of 'Document' property of PageSetupDialog control displayed incorrect"
* .NET Core Version:
.NET 5.0.100.rc1.1.20451.10

* More info:
The issue can reproduce on PrintDialog/PrintPreviewControl/PrintPreviewDialog contorls.

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
The description of 'Document' property  of PageSetupDialog control displayed incorrect, can't provide useful info for user.

**Expected behavior:**
The descript

[2020-09-02 08:55] smToDo opened #3823 "TextFormatFlags.NoPadding not working with .Net 5 Windows App (Core)."
* .NET Core Version:
.NET SDK 5.0.100-preview.8.20417.9

* Have you experienced this same bug with .NET Framework?:
No
It is also not reproducible with .Net Core 3.1.

**Problem description:**

The TextRenderer.DrawText method ignores the TextFormatFlags.NoPadding flag and render string with padding. But the MeasureText method works correctly with this flag.
This sample measure text size and rende

[2020-09-02 16:44] IrinaPykhova commented on #3823
Please note that we consider this issue as showstopper. For us it breaks behavior both for pure .Net 5 applications and for .Net 4.5.2 libraries used in .Net 5 apps. Text wraps unexpectedly in wrong places

[2020-09-02 17:40] dreddy-work commented on #3460
@RussKie , It seems we got same Icons for both of them. its in the attached zip folder. We will have to reach out to the Icon design team to get the right one.

[2020-09-02 18:05] dreddy-work commented on #3460
Here is the work item to get the Icon updated: https://devdiv-design.visualstudio.com/D3%20Studio/_workitems/edit/12521,

[2020-09-02 20:18] AdamYoblick commented on #2067
I believe so, I don't think it ever got done. Very low Pri though.

[2020-09-02 20:55] Youssef1313 commented on #3459
@RussKie A regex search in the whole repo with `==\s*null` shows only 3 results. Two of them are comments, and one is an assertion message string.

[2020-09-03 06:59] Amy-Li03 commented on #1970
@merriemcgaw I will check it next week.

[2020-09-03 09:14] Lydia-Shi opened #3829 "The GridColor property of DataGridView doesn't work"
* .NET Core Version:
.Net 5.0.100-rc.1.20452.10

* Have you experienced this same bug with .NET Framework?:
No

* More info:
This is a regression issue, it cannot reproduce on .Net SDK 5.0.100-preview.8.20417.9

**Problem description:**
The GridColor property of DataGridView doesn't work.
![image](https://user-images.githubusercontent.com/54019172/92094946-9e863a00-ee07-11ea-9f04-de81390207b3.png)

[2020-09-03 19:11] IrinaPykhova opened #3832 "Control.DeviceDPI always returns 96 in .Net 5 Preview 8"
Control.DeviceDPI always returns 96 in .Net 5 Preview 8. It's critical regression in HighDPI support

* .NET Core Version:
5.0.0-preview.8.20407.11

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

After migration from .Net 5 Preview 7 to .Net 5 Preview 8 we found that our code which handles DPI scaling is broken. In debugger we see that when Control.Rescale

[2020-09-03 19:30] merriemcgaw commented on #3661
@SergeySmirnov-Akvelon can you post a gif of how it behaves now?

[2020-09-03 19:32] merriemcgaw commented on #3661
@Jenna-Zheng - can you tell me what happens with navigation using the tab button?

[2020-09-03 19:33] merriemcgaw commented on #3658
@Ryuugamine - I'd say something like "picture of clouds" or at least the filename (not full path). Do we have any way currently to do that?

[2020-09-03 19:53] merriemcgaw commented on #3598
@RussKie if this one is ready, let's get it approved for RC2. This is a very isolated fix.

[2020-09-03 22:16] jnm2 commented on #1199
It doesn't appear to be possible to manually create and handle link clicks. This is something we'll need before we can move away from our custom implementation. Is this issue tracking the ability to respond to link clicks, or should I open a new one?

[2020-09-03 23:48] RussKie commented on #3504
We must fix `AccessibleName` across the board for .NET 5.0, and `AccessibleRole` and `AccessibleDescription` can be fixed in .NET 6.0 timeframe.

[2020-09-04 00:00] RussKie commented on #3656
VS's written the localised text into the wrong resx

Form1.resx contains:
[code]

whilst Form1.ko-KR.resx doesn't contain the string.

[2020-09-04 00:02] RussKie commented on #3650
@KlausLoeffelmann does this ring any bells?

[2020-09-04 00:04] RussKie commented on #3650
@Jessie-Zhang01 could you please revalidate in the latest dotnet/runtime + dotnet/winforms builds?

[2020-09-04 01:12] Jenna-Zheng commented on #3661
@merriemcgaw The focus can leave the ComboBox/TextBox with navigation using the tab button, but both **tab** & **shift + Tab** are clockwise. please see following gif.
![TestResult_Menu](https://user-images.githubusercontent.com/64949616/92188249-a3da9780-ee8e-11ea-9628-aa16cc6dd815.gif)

[2020-09-04 01:22] paul1956 opened #3833 "Links in README.md broken"
Several  links in https://github.com/dotnet/winforms/blob/master/README.md go to 404
https://github.com/dotnet/winforms/blob/master/Documentation/winforms-designer.md
https://github.com/dotnet/winforms/blob/master/Documentation/getting-started.md
https://github.com/dotnet/winforms/blob/master/Documentation/contributing.md
https://github.com/dotnet/winforms/blob/master/Documentation/porting-guideli

[2020-09-04 01:39] RussKie commented on #3661
@Jenna-Zheng please raise a new issue.

[2020-09-04 02:06] vsfeedback opened #3834 "TextBox.BackColor = Color.Transpartent"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/482296/textboxbackcolor-colortranspartent.html)._

---
<p>It would even be possible if in the future a text field in VB.WinForm can be assigned a transparent value (Back Color). In contrast, the whole thing would be solved with the variant TextBox.BackColor = Color.FromArgb (0

[2020-09-04 02:21] Olina-Zhang commented on #3834
This issue is from SuggestionTicket, and Merrie suggests file an issue in here, will prioritize it.

Now, the framework and core have the same result when setting TextBox BackColor as Transparent, running app gets an exception:
System.ArgumentException
  HResult=0x80070057
  Message=Control does not support transparent background colors.
  Source=System.Windows.Forms
  StackTrace:
   at System.Win

[2020-09-04 02:36] Jenna-Zheng opened #3835 "[Accessibility] The focus cannot turn clockwise and turn counter clockwise successfully by using Tab & Shift + Tab to navigate in MenuStrip"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20453.7

* Have you experienced this same bug with .NET Framework?:
Yes

* More Info
The BindingNavigator/MenuStrip/ToolStrip also reproduce this issue.

**Problem description:**
Steps2: The focus Stay in the first Item of ToolStrip by using **Tab & Shift + Tab** to navigate.
Steps7: The focus both turn clockwise by using **Tab & Shift + Tab** to navigate

[2020-09-04 02:37] Jenna-Zheng commented on #3661
@RussKie  I have raise a new issue, it's [# 3835](https://github.com/dotnet/winforms/issues/3835)

[2020-09-04 02:53] vsfeedback opened #3836 "Op wants to display ContextMenuStrip's items in multiple columns"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/496005/op-wants-to-display-contextmenustrips-items-in-mul.html)._

---
<p>https://social.msdn.microsoft.com/Forums/vstudio/en-US/de6834c3-5620-483b-8e5a-a9e44d51274d/contextmenustrip-with-multiple-columns?forum=vbgeneral</p><p></p>

---
### Original Comments

#### Alex Li [MSF

[2020-09-04 02:57] Olina-Zhang commented on #3836
This issue is from SuggestionTicket, and Merrie suggests file an issue in here.

Description for this issue from that website:
_with ContextMenu we have MenuItems, which have property called Break. Setting this property to True will display this item in a new column of that ContextMenu.

With ContextMenuStrip we have ToolStripItems, wich do'nt have a property called Break.

My question: How to use

[2020-09-04 03:13] RussKie commented on #3578
I think our documentation is to blame for the confusion - the `RowCount` property doesn't do what you think it does. It does not allocate or create any rows for you, it sets the maximum number of rows the panel will have.

https://github.com/dotnet/winforms/blob/fe6dba96f55d26b56392254e4406d8be2e3a5d52/src/System.Windows.Forms/src/System/Windows/Forms/TableLayoutPanel.cs#L155-L168

https://github.

[2020-09-04 03:19] RussKie commented on #3822
These classes belong to BCL: https://github.com/dotnet/runtime/blob/master/src/libraries/System.Drawing.Common/src/System/Drawing/Printing/PrintDocument.Windows.cs

[2020-09-04 03:40] RussKie commented on #3579
Looks like we're using incorrect attribute decorations:
https://github.com/dotnet/winforms/blob/2ae45c66fdcb8e6aadf43288b7429f17f1fd0f49/src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs#L330-L331
https://github.com/dotnet/winforms/blob/2ae45c66fdcb8e6aadf43288b7429f17f1fd0f49/src/System.Windows.Forms/src/System/Windows/Forms/ToolTip.cs#L357-L358

...instead of
https://github.com/dotnet

[2020-09-04 05:32] RussKie commented on #3573
`AutoUpgradeEnabled` has never had a description, so it is not a regression
https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/FileDialog_Vista.cs,344

[2020-09-04 05:40] Olina-Zhang commented on #3835
This is by design, because setting ToolStrip's TabStop property value to false. Here is reference:  true if the user can give the focus to the control using the TAB key; otherwise, false. from MSDN: https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.tabstop?view=netcore-3.1

[2020-09-04 06:15] #3598 closed

[2020-09-04 07:07] #3579 closed

[2020-09-04 10:39] WindingWinter opened #3840 "RichTextBox.ScrollBars breaks the binding in a way that TextBox.ScrollBars doesn't"
This happens on a Winform project.

I found that if I set the `RichTextBox.ScrollBars` after I assign the binding, then the binding to `Visible` property will be broken.

On the other hand, if I set the `TextBox.ScrollBars` after I assign the binding, then the binding to `Visible` property will still remain intact.

Please run [**the richtextbox.zip**](https://github.com/dotnet/winforms/files/5174

[2020-09-04 11:26] Jessie-Zhang01 commented on #3650
@RussKie we try to build those dlls from dotnet/runtime + dotnet/winforms, but it failed when building the project. So could you provide those dlls for us? And we will also continue to try it again.

[2020-09-04 13:38] osamakawish commented on #3578
There's more to the confusion than that. If the property was renamed `MaxRows` or `MaxRowCount` instead of `RowCount`, it would also be less confusing.

[2020-09-04 13:58] wagenheimer commented on #3300
Is there some workaround for this?

I cannot edit any Form on a WinForms Application that does uses Syncfusion Components because of this bug!

[2020-09-04 17:30] cristianosuzuki77 commented on #3747
I'm the loc pm. The strings for this form seems to be coming from https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/Resources/System/Windows/Forms/xlf/PrintPreviewDialog.zh-Hant.xlf and they are localized in the master branch.

[2020-09-04 17:30] merriemcgaw commented on #3835
@Olina-Zhang can we go ahead and make sure the accessibility sample app is set up to demonstrate that we can set it to respond to TAB key?

[2020-09-04 23:38] RussKie commented on #3300
So is it a bug with Syncfusion components?

[2020-09-05 02:45] paul1956 opened #3845 "Microsoft.VisualBasic.ApplicationServices.User doesn't work the same as Framework"
* .NET Core Version:
5.0.0-preview.8.20411.6

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
User.Name gives BC30469 Reference to a non-shared member requires an object reference

**Expected behavior:**
No error

**Minimal repro:**
[code]
or
[code]

[2020-09-05 15:12] jarenduan commented on #2491
@RussKie I met this same problem, but I don't think the goldbar solution is what the developers really want, because the VS UI will become blurry.

I expect the winform designer always runs in 100% scaling factor, while other part of VS always scales with the OS correctly.

Of course, in the manner, the designing size and run time size of the UI element could differ, which seems like not WYSIWYG,

[2020-09-07 04:58] RussKie commented on #2491
@merriemcgaw @DustinCampbell

[2020-09-07 07:55] Viorel commented on #3840
The problem can be observed in case of _TextBox_ too, if _‘textBox3.ScrollBar = ScrollBars.None’_ is replaced with a statement that changes the value, for example: _‘textBox3.ScrollBar = ScrollBars.Both’_. (In case of _TextBox_, the value was already _None_ and the assignment did not have effect).

Possible workaround: making the controls visible before changing the _ScrollBars_ property.

The bin

[2020-09-07 08:46] Jessie-Zhang01 commented on #3650
@RussKie Verified this issue with latest .Net SDK 6.0.100-alpha.1.20455.1 + build [dlls ](\\mlangfs1\public\Winforms\v-ruizha\Private\3650)from dotnet/winforms, this issue still reproduce. No warning dialog pop up when changing the value of the NotifyFilter property.

In addition, dotnet/runtime still fails to build, following is failed information:
![image](https://user-images.githubusercontent.c

[2020-09-08 02:25] #2704 closed

[2020-09-08 08:04] RussKie commented on #3832
I've looked at the sample, and it appears to lack an app.manifest that opts the app into PerMonitor awareness.
When I added a manifest everything worked as expected:

[code]

<details>
<summary>app1.manifest</summary>

[code]

</details>

Tested against Microsoft.WindowsDesktop.App:
* 5.0.100-preview.8.20417.9
* 5.0.100-rc.1.20425.5

<details>
<summary>DPITest.runtimeconfig.json</summary>

[code]

[2020-09-08 08:39] Olina-Zhang commented on #3835
A little corrections: For step2, when TabStop = true, cannot use Tab & Shift + Tab to navigate toolStripItems in menuStrip/ToolStrip --- it is by design. And for step7, when TabStop = false, can use Tab & Shift + Tab to navigate, but both turn clockwise, Shift + Tab should turn counter clockwise --- It is a issue in here.
@merriemcgaw if setting TabStop = true in menuStrip/ToolStrip, we can just u

[2020-09-08 08:41] IrinaPykhova commented on #3832
ok, adding manifest manually might work as workaround for a while. I'll try it on our bigger applications and see whether it covers all scenarios.
But IMO, it is still a regression. It worked in Preview 7 without manifest. Also .Net 5 WinForms C# application template in VS creates application without manifest. If someone thinks that manifest is obligatory, then VS templates should be updated accor

[2020-09-08 08:44] RussKie commented on #3650
Do you have python installed?

[2020-09-08 13:10] nikeee opened #3851 "Support Progress on Task Bar Entries"
I'm currently migrating some of the stuff that was handled by the WindowsAPICodePack to use WinForms APIs (like the new [TaskDialog](https://github.com/dotnet/winforms/issues/146) and the new [FolderBrowserDialog](https://github.com/dotnet/winforms/issues/1)). As described in #181, individual issues should be opened for feature requests.

The WindowsAPICodePack had this API to set the progress of

[2020-09-08 17:22] dreddy-work commented on #3832
We are looking into it. Manifest is not needed as we made 'SystemAware' a default for .Net core applications.

[2020-09-08 17:24] tewarid commented on #3168
Setting

[code]

seem to produce somewhat better results. SplitContainer is seriously broken when orientation is System.Windows.Forms.Orientation.Horizontal.

[2020-09-08 18:03] JeremyKuhne commented on #3662
I can't get  a repro for this. I added asserts in the debug build to check the handle type, which is the most likely scenario here. Call stacks would be most helpful if this is still happening.

Closing for now, please reactivate if you can still repro.

[2020-09-08 18:03] #3662 closed

[2020-09-08 20:00] dreddy-work commented on #3832
Here is what is happening:  We removed the manifest dependency for Dpi settings for winforms in the netcore and introduced a public API ( Application.SetHighDpiMode(..) ) to set process DpiAwareness. We also updated the winforms template to call this API to set default "SystemAware" mode before the application is launched ( before creating handles for any UI components in the app). Limitation of t

[2020-09-08 21:17] merriemcgaw commented on #2491
This is a designer/VS feature that is on our radar - not runtime. We plan to do a HDPI push in a later release of .NET and VS. This is what our long term goal is for the designer, but it will take us some time to get there.

[2020-09-08 22:12] JeremyKuhne opened #3856 "VScrollBarAccessibleObject_Ctor_Default failing intermittently in CI"
System.Windows.Forms.Tests.VScrollBar_VScrollBarAccessibleObjectTests.VScrollBarAccessibleObject_Ctor_Default(createControl: True, accessibleRole: ScrollBar)

[code]

https://dev.azure.com/dnceng/public/_build/results?buildId=806036&view=ms.vss-test-web.build-test-results-tab&runId=25536694&resultId=102373&paneView=debug

[2020-09-08 22:42] JeremyKuhne commented on #3823
Investigating...

[2020-09-08 22:43] JeremyKuhne commented on #3829
Investigating...

[2020-09-08 23:18] merriemcgaw commented on #3222
#3417 addresses the issue. Closing this.

[2020-09-08 23:20] merriemcgaw commented on #3108
To confirm @ericstj, there's no immediate action needing to be taken in the WinForms repo?

[2020-09-08 23:28] merriemcgaw commented on #3047
@John-Qiao can you check to see if this is already fixed, and if so, close?

[2020-09-08 23:30] merriemcgaw commented on #3033
Closing this runtime issue. Keep an eye on your two designer feedback tickets, they are now being looked at. We'll keep you posted there.

[2020-09-08 23:33] merriemcgaw commented on #3020
This would be a behavioral change that we should evaluate whether this will break too many existing apps being ported.

[2020-09-08 23:34] merriemcgaw commented on #3020
@MikeRoz if you could tell us a bit more about your scenario we can better figure out how to prioritize this.

[2020-09-08 23:38] merriemcgaw commented on #2853
@Shyam-Gupta is investigating the internal Watson ticket

[2020-09-08 23:42] merriemcgaw commented on #2609
@KlausLoeffelmann can you update this issue?

[2020-09-08 23:43] merriemcgaw commented on #2608
Can @KlausLoeffelmann or @KathleenDollard  post an update here?

[2020-09-08 23:44] merriemcgaw commented on #2067
Sync with @RussKie about what else should be added.

[2020-09-08 23:53] merriemcgaw commented on #2411
@RussKie to review which ones we have and don't have as of now.

[2020-09-08 23:54] merriemcgaw commented on #1678
@KlausLoeffelmann do you have thoughts on this one?

[2020-09-08 23:59] merriemcgaw commented on #1593
@KlausLoeffelmann getting this one back on your radar.

[2020-09-09 00:06] JeremyKuhne commented on #1564
#3710 tracks replacing the existing `TextRenderer` API with a safe alternative.

[2020-09-09 00:06] #1564 closed

[2020-09-09 00:06] ericstj commented on #3108
I believe I answered @JeremyKuhne's question.  Not sure what you're asking me to do here?

[2020-09-09 00:06] merriemcgaw commented on #1395
Investigating for 6.0

[2020-09-09 00:08] MikeRoz commented on #3020
I don’t see how fixing this issue could break any existing application. I believe issue only exists because in initial implementation NOACTIVATE was missed by mistake.
In my case I faced issue when implementing per-monitor support – WM_DPICHANGED message leads to  MinimumSize update and forces activation of wrong form.

[2020-09-09 00:08] merriemcgaw commented on #1346
@KlausLoeffelmann and @KathleenDollard to update on VB.

[2020-09-09 00:40] JeremyKuhne commented on #3832
Fix is in for RC2.

[2020-09-09 00:55] RussKie commented on #3504
Closing as all referenced controls have been updated.

[2020-09-09 00:55] #3504 closed

[2020-09-09 01:49] John-Qiao commented on #3047
@merriemcgaw Verified the issue in Dev16 16.8.0 Preview 4.0 [30507.17.main] + .NET 6.0.100-alpha.1.20455.1, this issue still can be reproduced, please check below screenshot:
![DGV-PropertyGrid](https://user-images.githubusercontent.com/45864985/92544922-a455a280-f281-11ea-967d-6e4a393097d7.png)

[2020-09-09 02:13] KlausLoeffelmann commented on #3622
Well, this one is in, so I am closing this. I will add another PR today, with the new template project (not: project template), which will replace the previous one. That new one has already been (peer) reviewed by @JeremyKuhne, @KathleenDollard and @RussKie . I will close this, after I link this to the new PR.

[2020-09-09 02:16] KlausLoeffelmann commented on #3332
@Olina-Zhang : Could you please check if this is a general resources problem and not VB related? Thanks!

[2020-09-09 02:17] KlausLoeffelmann commented on #3312
This is a Designer specific problem, and will be fixed in 16.8 Preview 4. Closing this.

[2020-09-09 02:17] #3312 closed

[2020-09-09 02:22] merriemcgaw commented on #3452
@JeremyKuhne what are your thoughts about 5.0GA

[2020-09-09 03:09] KlausLoeffelmann commented on #2609
We will address this iteratively:

* An Application Framework template we will have most likely for 16.8 Preview 4. Also, the Project System work for this will most likely be done for Preview 4, but it will not include the new HighDpiSetting, which we will see later in the 16.9 time frame.
* This will also not include Settings, though, since they are not ready yet in the Designer, so we will add t

[2020-09-09 03:09] #2609 closed

[2020-09-09 03:10] KlausLoeffelmann commented on #2608
@KathleenDollard: Let's discuss this.

[2020-09-09 03:10] KlausLoeffelmann commented on #1593
Will be done in the upcoming Application Framework templates for VB.

[2020-09-09 03:16] Jessie-Zhang01 commented on #3650
@RussKie building dotnet/runtime repo still failed after installed python, but we found that System.IO.FileSystem.Watcher.dll had been updated in the corresponding path, so we tested with the generated [dll](https://github.com/dotnet/winforms/files/5192392/dll.zip), this issue still repro.

[2020-09-09 03:30] RussKie commented on #3851
`TaskbarManager` isn't part of Windows Forms API. It is certainly something can be considered for an addition, but we'll need a fully fledged [API proposal](https://github.com/dotnet/winforms/blob/master/docs/issue-guide.md#feature-and-api-suggestions).
Here's a list of proposals that have been accepted: https://github.com/dotnet/winforms/issues?q=label%3Aapi-approved

[2020-09-09 03:41] RussKie commented on #1199
We have completely descoped hyperlink-related implementations due to an observed confusion during our user studies with the proposed implementation. Whilst the API followed the Win32 implementation, they felt somewhat foreign to Windows Forms users.

To add these API we need to design a new set of API that feel "more native" to Windows Forms.

[2020-09-09 05:05] vladimir-krestov opened #3860 "[Accessibility] ToolStripTextBox must support Text pattern"
- Original Bug: [1155254](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1155254)
* .NET Core Version: 5.0.0-rc.1.20431.5

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
- ToolStripTextBox doesn't support Text pattern
- A ScreenReader can't announce separate navigated, selected, or added characters in ToolStripTextBox

**Expected behavior:**
- Tool

[2020-09-09 05:13] RussKie opened #3867 "Random "RangeChecks instrumentation code detected an out of range array access" in Debug x86 tests"
### Description

5.0-RC2 Windows Forms x86 Debug test appear to be randomly (yet persistently) crashing. E.g.
* https://dev.azure.com/dnceng/internal/_build/results?buildId=806500&view=results
* https://dev.azure.com/dnceng/internal/_build/results?buildId=806484&view=logs&j=7c8326b9-0a5f-532a-e6de-db8515c72d9a&t=99915513-7350-519e-b509-739b27f0b8ea&s=ff05ad62-bb9a-53b6-ce9f-72f329a63e7c
* https://

[2020-09-09 05:51] KlausLoeffelmann commented on #1346
We'll discuss this later this week. Probably 16.9, but need to catch up with regards to this on a couple of other things.

[2020-09-09 06:04] KlausLoeffelmann commented on #1678
@KathleenDollard, this is also something we need to talk about.

[2020-09-09 06:20] kirsan31 commented on #3033
@merriemcgaw

Sorry, but I am not understand why you closed this? This is separate issue and not designer related.

The problems here (appear only if new form's `Font != DefaultFont`) are:
- If you change font of the form **after** DataGridView Styles set - this will reset Styles fonts.
- If you set font of the form before DataGridView Styles set, but set Styles **before** `this.Controls.Add(this.

[2020-09-09 07:20] RussKie commented on #2411
@merriemcgaw it doesn't look like the list has changed since @weltkante has collated it.

[2020-09-09 08:16] #3222 closed

[2020-09-09 09:12] Jessie-Zhang01 opened #3863 "The text of the selected Button in the VB project is invisible"
* .NET Core Version: .Net SDK 6.0.100-alpha.1.20455.1

* Have you experienced this same bug with .NET Framework?:
No

**More Info**
This is a regression issue, it cannot reproduce on 6.0.100-alpha.1.20431.8.

**Minimal repro:**

1. Open the attached [Test1.zip](https://github.com/dotnet/winforms/files/5193850/Test1.zip) application in VS, then build and run it.
2. Observe the selected button.

**E

[2020-09-09 09:14] weltkante commented on #2411
The question is mainly whether these are supposed to be in WinForms runtime, or if the designer now has its own copy of these designers and doesn't need the attribute hints. If the designer has its own copy then these attributes probably can just be removed? At the moment they contain invalid information.

[2020-09-09 09:24] weltkante commented on #2609
If this is closed, is there a tracking issue for updating the templates? I understand not tracking designer/project system issues here, but as far as I'm aware the templates are part of this repo?

[2020-09-09 09:27] weltkante commented on #3863
The visuals differ more than just text not being present. Is this an artifact of how the screenshots are taken (like running different code for the other screenshot) or are there also regressions how the button border/background is rendered?

[2020-09-09 09:27] Jessie-Zhang01 opened #3864 "The Winforms controls are displayed in V5 mode in the running Core VB application"
* .NET Core Version: .Net SDK 6.0.100-alpha.1.20455.1

* Have you experienced this same bug with .NET Framework?:
No

**More Info**
This is a regression issue, it cannot reproduce on 6.0.100-alpha.1.20431.8.

**Minimal repro:**
1. Open the attached [Test2.zip](https://github.com/dotnet/winforms/files/5193983/Test2.zip) application in VS, then build and run it.
2. Observe the controls on the Form

[2020-09-09 09:43] RussKie commented on #2926
@weltkante do you think we can close this? I think we resolve this issue.

[2020-09-09 09:44] #2926 closed

[2020-09-09 09:51] weltkante commented on #3851
WPF has an [API](https://docs.microsoft.com/en-us/dotnet/api/system.windows.shell.taskbariteminfo.progressvalue?view=netcore-3.1) for this already, I think the references are already included in .NET Core projects and you can just use it?

(Once WPF and WinForms can be deployed separately it may make sense to have a WinForms-only version of the API, but as far as I'm aware in current deployment sc

[2020-09-09 10:01] SergeySmirnov-Akvelon commented on #3597
Fix has been ported to [master branch](https://github.com/dotnet/winforms/commit/54d95fe3a72b587bbc91698c3c0a9d822a5a44ac)

[2020-09-09 10:06] SergeySmirnov-Akvelon commented on #3661
Fix has been ported to [5.0-rc1 branch](https://github.com/dotnet/winforms/commit/e146233609c07daf3b153c7b2ae3a11a3339c641)

[2020-09-09 10:13] jarenduan commented on #2491
@merriemcgaw  Thanks for the information. It would be the best solution. Looking forward to it!

[2020-09-09 11:55] IrinaPykhova commented on #3832
I made some checks with manifest applied and can tell  that I get different results depending on the moment when DPI is changed. Everything is scaling quite good if DPI is changed when applicaiton is already running. But if I run application with high DPI, then Control.DeviceDPI returns correct values, but Form.DeviceDPI property is always 96 and there are no DPI changng events for the form.
Pleas

[2020-09-09 12:59] vladimir-krestov commented on #2786
Original Bug [1159872](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1159872)
Related to #2701

[2020-09-09 13:57] jnm2 commented on #1199
@RussKie Is there enough information on it that the community can help with that, or are we blocked waiting for an internal team?

[2020-09-09 14:10] SergeySmirnov-Akvelon commented on #3682
Hi @Jessie-Zhang01. I have investigated this issue and i see two cases:
- First case - user opens PrintPreviewDialog. In this case user can get access to buttons using "Tab" key.
- Second case - user clicks "Enter" button and focus disappears. This behavior already is fixed in #3598.
![3682](https://user-images.githubusercontent.com/23376742/92609459-43e55600-f2bf-11ea-82e0-c785d01c6c1c.gif)
@Jess

[2020-09-09 14:38] RussKie commented on #1199
This piece of work isn't high on our priority list, so a community contribution is quite welcome. I'm happy to work with the community and help to see it through.

[2020-09-09 15:45] jnm2 commented on #1199
That's great! Are you looking for API ideas, or do already have some concept of the shape it should be? If the former, do you have notes on the pitfalls that were discovered that should be avoided while looking for ideas?

[2020-09-09 19:01] merriemcgaw commented on #2411
@weltkante that's exactly the discussion we want to have. It depends on whether we see partners developing their own designers for their customers to create things like reports and to what degree. Once we've made some business calls on this, we'll remove all the invalid info.

[2020-09-09 19:13] JeremyKuhne commented on #3867
Moving to WinForms to do initial investigation.

@russkie Windows is throwing as the "original" `WNDPROC` handle isn't valid when we pass back `WM_CREATE`.

[code]

My initial guess from looking at this is that because we're loading and unloading `riched20.dll` in multiple places we're running into a race condition with the caching we do with window class names. It fits the symptoms. I presume we

[2020-09-09 19:31] merriemcgaw commented on #3033
Shoot - I'm sorry. I must have gotten my wires crossed. I'll reopen. I don't know if we have time to get it into 5.0 RC2 or not, but we can investigate the runtime portion. I'll also update the title to make it clear. Sorry for the confusion!

[2020-09-09 19:34] KlausLoeffelmann commented on #2609
It depends. We're discussing this at the moment, what the flow for the templates is.

Problem is, that we would like to have a different VB templates for CLI and for AppFramework in VS. The reason for this is actually having the AppFramework template for the CLI doesn't make much sense since there is no way to trigger the source generators for MyApp.settings (Project System does this).

But we may

[2020-09-09 19:49] merriemcgaw commented on #3108
Sorry @ericstj I was confirming that so long as we meet the criteria you laid out we wouldn't have additional action. @JeremyKuhne can you scrub our source to make sure we're doing things right?

[2020-09-09 21:21] cristianosuzuki77 opened #3868 "[LOC] Assistance with query"
String Resource ID | 0; "DataGridViewCheckBoxCellCheckedStateDescription"
-- | --
Source String | {0} check box checked
Filename | System.Windows.Forms\src\Resources\xlf\SR.xlf
Question | What will {0} be? Will it be the nubmer of checkbxes or name? Same with 0; "DataGridViewCheckBoxCellUncheckedStateDescription"

[2020-09-09 23:09] #3829 closed

[2020-09-10 00:08] paul1956 commented on #2609
Does anyone use CLI with VB WinForms apps? Is it possible to just include a default Application.myapp and Application.Designer.VB and any other needed files, for CLI that gets overridden by project system (not sure if that is what @KlausLoeffelmann  is referring to), Visual Studio users have to hand edit Application.Designer.VB and Setting.. today.

[2020-09-10 00:19] nikeee commented on #3851
# Summary
Currently, Winforms does not offer an API to set the progress of a taskbar entry. @weltkante poited out that [WPF already has a API for that](https://docs.microsoft.com/en-us/dotnet/api/system.windows.shell.taskbariteminfo?view=netcore-3.1). We try to add this capability to Winforms with this proposal.

# Rationale
In the past, developers had to use the [WindowsAPICodePack's API](https:/

[2020-09-10 00:47] JeremyKuhne commented on #3823
I know what the problem is, working on the fix.

[2020-09-10 02:47] Jessie-Zhang01 commented on #3598
Verified this issue with .Net SDK 5.0.100-rc.2.20459.18, this issue is fixed. The focus is still visible after pressing 'Enter' or 'Space' keyboard on all toolStripButtons in PrintPreviewDialog.
![steps](https://user-images.githubusercontent.com/45864649/92675840-e995d500-f352-11ea-8064-0c489d8d5d56.gif)

[2020-09-10 02:47] Jessie-Zhang01 commented on #3682
In fact, this issue wants to have some separate shortcut keys to open One page, Two pages, etc. For example, press Ctrl + o to open ‘One page’ that I am thinking of. Here is the comment from @merriemcgaw "I think this is its own issue where we need to add Shortcut keys to the dialog."
In addition, [3598 ](https://github.com/dotnet/winforms/issues/3598)is fixed on the latest 5.0 RC2.

[2020-09-10 03:06] John-Qiao commented on #3778
Verified in .NET 5.0.100-rc.2.20459.18 SDK, this issue is not reproduced in it. Please check below screenshot:
![3778-TestResult](https://user-images.githubusercontent.com/45864985/92677112-9f622300-f355-11ea-929d-551cd152e08e.png)

[2020-09-10 03:08] RussKie commented on #3682
I'd probably go with <kbd>CTRL</kbd>+<kbd>1</kbd> for "one page", <kbd>CTRL</kbd>+<kbd>2</kbd> for "two page", etc. through to <kbd>CTRL</kbd>+<kbd>5</kbd>, if we'd go down this route.

[2020-09-10 03:19] Olina-Zhang commented on #3332
@KlausLoeffelmann Yes, it is not VB related. But it cannot repro in the latest VS build, there is the verification screenshot for the latest VS and 16.6 as above repro steps:
![image](https://user-images.githubusercontent.com/26474449/92677916-73e03800-f357-11ea-9a18-168759a4b476.png)

[2020-09-10 03:27] RussKie commented on #3868
The placeholder will contain the name of a cell.
@SergeySmirnov-Akvelon can you please provide an example?

[2020-09-10 04:13] #3823 closed

[2020-09-10 04:23] JeremyKuhne commented on #3863
The master branch doesn't have this problem, but oddly I get the following when I do `dotnet run` with the 6.0.100-alpha.1.20459.19 installed so I'm not able to repro.

![image](https://user-images.githubusercontent.com/8184940/92681233-f5957e80-f2e1-11ea-97de-4ee73f581aa9.png)

The problem you're seeing appears to be one of the regressions I did fix a while ago: https://github.com/dotnet/winforms

[2020-09-10 04:36] #3706 closed

[2020-09-10 04:41] RussKie commented on #3332
Closing as fixed in VS.

[2020-09-10 04:41] #3332 closed

[2020-09-10 06:23] RussKie commented on #1199
I've looked through the notes, and appears @kpreisser has captured them very well in the OP (all that before Option A and B).

I haven't had a chance to spend any meaningful time pondering on API (busy getting .NET 5.0 ready), but I don't think either of the proposed options will meet the bar in their current shape.
The TD API has undergone a number revisions from the original proposal, and we'll

[2020-09-10 07:21] Amy-Li03 commented on #3789
Verified this issue on .NET 5.0 RC2 latest build 5.0.100-rc.2.20459.24, issue was fixed. The right border and lower border of Button display correctly when setting button's FlatStyle as Flat or Popup.

[2020-09-10 07:45] Zheng-Li01 commented on #3662
Verified the issue with latest .NET 5.0.100-rc2.20459.18 that the issue not repro for now.
![VerifyGitHubIssue](https://user-images.githubusercontent.com/38325459/92696545-9b95c700-f37c-11ea-8f7b-ad43bd3f4ee8.gif)

[2020-09-10 07:46] Zheng-Li01 commented on #3706
Verified the issue with latest .NET 5.0.100-rc2.20459.18, the isssue has been fixed that items' name displayed for now.
![CoreIssue](https://user-images.githubusercontent.com/38325459/92696660-c3852a80-f37c-11ea-952f-469d9c1492f8.PNG)

[2020-09-10 08:12] RussKie commented on #3033
@kirsan31 I've run your repro both from a cli and from VS 16.7.1, and both net472 and netcoreapp3.1 render the same, so this doesn't look like a regression:
![image](https://user-images.githubusercontent.com/4403806/92696209-e4ee1280-f38c-11ea-8827-3cad9d99f1bc.png)

What am I missing?

[2020-09-10 08:15] kirsan31 commented on #3033
@RussKie You are missing nothing ;) Full explanation in [this](https://github.com/dotnet/winforms/issues/3033#issuecomment-689333353) comment.

[2020-09-10 08:30] Jessie-Zhang01 commented on #3770
Verified this issue with .Net SDK 5.0.100-rc.2.20459.18, this issue is fixed. After running the project, the Button's BackColor is YellowGreen; When mouse over on the button, Button's BackColor is Firebrick.
![steps](https://user-images.githubusercontent.com/45864649/92701637-ce42be00-f382-11ea-8a3c-59598ca125b6.gif)

[2020-09-10 08:47] RussKie commented on #3033
Yes, I eventually arrived to the appreciation of the issue.
Our code hasn't changed since .NET Framework: https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/DataGridViewMethods.cs,15585. This implementation is what's causing the problem - upon change of font (e.g. form's font changed) we're replacing the configured styles.

[2020-09-10 08:55] Marie-Shi commented on #2704
Verified the issue with latest .NET 5.0.100-rc2.20459.18 from RC2 branch, it is **fixed**. Now RichEdit control (when shown) appears in the PropertyGrid control's children hierarchy.
![Untitled](https://user-images.githubusercontent.com/45864017/92705615-6ee6ad00-f386-11ea-98c2-ac7b5888a74f.png)

[2020-09-10 08:59] John-Qiao commented on #3832
@JeremyKuhne Verified this issue in .NET 5.0.100-rc.2.20459.18 SDK, please check and confirm the below test result, does it the expected result?

1. When start the DPITest project on 100% scaling, the Control.DeviceDPI is 96, and the New DPI is not triggered.
![100%-4](https://user-images.githubusercontent.com/45864985/92705731-858d0400-f386-11ea-836e-c2afe7df2c7c.png)

2. Then change the scaling

[2020-09-10 09:00] SergeySmirnov-Akvelon commented on #3868
Hi @cristianosuzuki77. This placeholder contains address of cell in DataGridView (for example "Test Column Row 1")

[2020-09-10 09:07] kirsan31 commented on #3033
Yea I see... But this is only 1 part of the problem:

And the second one is:

When `Font == DefaultFont` Styles fonts correctly applying even before   `this.Controls.Add(this.dataGridView1);`

Work:
[code]

**Not** Work:
[code]

Work:
[code]

[2020-09-10 09:34] Amy-Li03 commented on #1970
@merriemcgaw verified with 16.8 P4 latest build [30510.5.main] + .NET SDK 5.0 rc2 latest build 5.0.100-rc.2-20459.24, the Windows Forms Control Library(.NET Core) template still **cannot** be found from VS.

[2020-09-10 17:29] JeremyKuhne commented on #3823
The fix is in for RC2 (#3873).

[2020-09-11 00:06] ryancheung commented on #3687
I just made a IME library myself https://github.com/ryancheung/ImeSharp
Anyone need a IME API for games could try it.

[2020-09-11 01:20] RussKie commented on #3832
We'll have another look at it.

[2020-09-11 01:58] Lydia-Shi commented on #3597
Verified this issue with .Net Core 5.0.100-rc.1.20454.5, this issue is fixed. Narrator&NVDA can read the state of the CheckBox as checked/unchecked after selection in DataGridViewCheckBoxColumn, results as below:
**Narrator:**
![ReadCheckBoxNarrator](https://user-images.githubusercontent.com/54019172/92841425-e8c57780-f414-11ea-9208-870486cb9c52.gif)
**NVDA:**
![ReadCheckBoxNVDA](https://user-imag

[2020-09-11 02:12] Jenna-Zheng commented on #3661
Verified this issue with the lasted .NET 5.0 RC1, the Step 5 is fixed that can use alt+left arrow to leave ComboBox/TextBox anticlockwise now, but the Step 4 still reproduce. please see the following gif.
![TestResult_focus](https://user-images.githubusercontent.com/64949616/92843388-45c22d00-f417-11ea-8d5b-11f530b6b9ce.gif)

[2020-09-11 02:14] JeremyKuhne commented on #3832
Sorry, missed another part of this. Putting the rest of the fix up shortly.

[2020-09-11 02:39] Lydia-Shi commented on #3829
Verified this issue in Net Core 5.0.100-rc.2.20460.27, this issue is fixed. The color of the grid lines separating the cells is red after running the attachment project.
![image](https://user-images.githubusercontent.com/54019172/92843523-6b4f3680-f417-11ea-8303-a09caa71950a.png)

[2020-09-11 05:50] Ashley-Li commented on #3823
Verified this issue with .Net SDK 5.0.100-rc.2.20460.32, this issue is fixed. After run attached app(DrawText_issue.zip),the TextFormatFlags.NoPadding - does not add padding to the bounding rectangle,TextFormatFlags.NoPadding is working with .Net 5 Windows App (Core). Please see below result:
![image](https://user-images.githubusercontent.com/56664234/92869639-a06a8180-f435-11ea-93f5-40cf9bb25ec5.

[2020-09-11 05:50] Jenna-Zheng opened #3883 "[Accessibility] [Color Contrast] The Link is practically invisible when the full dataGridView row is highlighted/selected"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20454.5

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
The website is practically invisible when the full **dataGridView** row is highlighted/selected.
![image](https://user-images.githubusercontent.com/64949616/92851142-d69d0680-f41f-11ea-83d1-2f5d8434114c.png)

**Expected behavior:**
The website should be easy

[2020-09-11 07:10] Ashley-Li opened #3884 "[Accessibility] ToolStripStatusLabel BoundingRectangle property is null"
* .NET Core Version:  .Net SDK 5.0.100-rc.2.20460.32

* Have you experienced this same bug with .NET Framework?
Yes

* More info:
This issue can reproduce on ToolStrip.

**Minimal repro:**
1. Extract “[testApp.zip](https://github.com/dotnet/winforms/files/5207198/testApp.zip)” and open it in VS.
2. Build and run the project.
3. Open Accessibility Insights For Windows tool, select focus on form and

[2020-09-11 08:26] John-Qiao opened #3885 "[Accessibility] ToolTip shows up in UIA tree as focusable and onscreen after dismissing and has no Name UIA property"
* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20460.31

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info:**
When setting the ToolTip to Form itself, the ToolTip can be focusable using Inspect tool, and no error shows in Accessibility Insights For Windows tool testing result.
![Inspect-Form](https://user-images.githubusercontent.com/45864985/92889321-b46bae80-f448-11ea-8c

[2020-09-11 11:11] hyperquantum opened #3886 "DateTimePicker should obey Current(UI)Culture"
* .NET Core Version:  3.1

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

It is not currently possible to change the language used by DateTimePicker. The control ignores CurrentCulture/CurrentUICulture of the current thread and uses the language as configured by the operating system.

This problem is an issue for WinForms applications that are localized i

[2020-09-11 19:46] #3832 closed

[2020-09-11 20:14] JeremyKuhne commented on #3886
This is a limitation in the underlying control. It might be possible to come up with a solution using the [callback fields](https://docs.microsoft.com/en-us/windows/win32/controls/date-and-time-picker-controls#callback-fields) in the format string. If we could come up with a solution using that we'd probably want to add a new API to allow specifying the desired localization behavior. Not a trivial

[2020-09-11 22:10] JeremyKuhne commented on #3832
Should be ok now and the update has been put in RC2.

[2020-09-12 14:51] toolgood opened #3889 "Dotnet core 3.1 windows forms cannot run on win7 virtual machine after being packaged into a single file"
.NET Core Version:  3.1.402

**Problem description:**   Dotnet core 3.1 windows forms cannot run on win7 virtual machine after being packaged into a single file

**Expected behavior:**

![QQ截图20200912224438.png](https://i.loli.net/2020/09/12/L7CIqkvml8DHYNR.png)

[2020-09-12 14:53] toolgood commented on #3889
---------------------------
ToolGood.Decompression_HD_any.exe - 系统错误
---------------------------
无法启动此程序，因为计算机中丢失 api-ms-win-crt-runtime-l1-1-0.dll。尝试重新安装该程序以解决此问题。
---------------------------
确定
---------------------------

[2020-09-12 15:00] weltkante commented on #3889
This is a system component and not deployed by .NET Core, are you sure you have installed all updates  for Windows 7 and installed all documented [dependencies](https://docs.microsoft.com/en-us/dotnet/core/install/windows?tabs=netcore31#dependencies)? In particular the [MSVC 2015](https://www.microsoft.com/en-us/download/details.aspx?id=52685) runtime is required.

Also note that .NET Core 3.1 no

[2020-09-12 16:04] #3889 closed

[2020-09-13 00:54] merriemcgaw commented on #3661
Reopening so @SergeySmirnov-Akvelon can take a look.

[2020-09-13 00:59] merriemcgaw commented on #1970
@marcpopMSFT do you know when we'll start to see this in builds of VS?

[2020-09-13 03:59] Shadowblitz16 opened #3891 "MDI children look different than the main forms"
* .NET Core Version:
I am using .net framework 4.6.1 but it also seem to happen with 4.7.2

* Have you experienced this same bug with .NET Framework?:
Yes I am not using .net core

**Problem description:**
MDI children do not obey the theme of the parent window
![image](https://user-images.githubusercontent.com/2453707/93009849-8c5c7800-f53a-11ea-8872-e4d2b2897ebc.png)

**Expected behavior:**
I wo

[2020-09-13 06:58] why5684784 opened #3892 "CheckListBox has Bugs"
* .NET Core Version:
This is a problem with the. Net framework and does not test the. Net core

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
This is a bug from CheckListBox.
When I derive a new CheckListBox from CheckListBox, using my derived MyCheckListBox, it will be very slow to change the itemcheckstate when the item is not selected. It will be very

[2020-09-13 06:58] kirsan31 commented on #3891
https://github.com/dotnet/winforms/issues/3691

[2020-09-13 15:34] KlausLoeffelmann opened #3893 "Modify Visual Basic CLI templates for the Visual Basic Application Framework"
From Visual Studio 16.8 Preview 4 on, we will have the Application Framework for Visual Basic WinForms App available. The AppDesigner for the Visual Basic Project properties will look about this and will have (almost) parity to NetFx:

![image](https://user-images.githubusercontent.com/9663150/93021840-fa845780-f599-11ea-8e57-b3be8a499191.png)

To make sure that Visual Basic WinForms App will be s

[2020-09-13 15:37] KlausLoeffelmann commented on #3622
Replaced by #3893. Closing.

[2020-09-13 15:37] #3622 closed

[2020-09-13 15:38] KlausLoeffelmann commented on #1593
Will be done by #3893. Closing this.

[2020-09-13 15:38] #1593 closed

[2020-09-13 15:39] KlausLoeffelmann commented on #1346
This is done with recent template work (#3893). Closing this.

[2020-09-13 15:39] #1346 closed

[2020-09-13 19:20] jnm2 commented on #1199
@RussKie How about an API roughly like this?

[code]

It's less winformsy, but maybe to really drive home the point that you're on the hook to handle the click (no automatic link handling), the TaskDialogHyperlink constructor requires both `string displayText` and `Action clickHandler`.

[2020-09-13 19:28] nikeee commented on #1199
I think it's less practical if one has to translate the text of the dialog into multiple languages. The order of the items might change or could even get split up.

[2020-09-13 19:33] jnm2 commented on #1199
@nikeee What would work best for translations, having format strings with required tags?

`Plain text (automatically escaped for you if necessary) followed by {Tag1:a link}, and then {Tag2:another link}.`

[2020-09-13 19:45] jnm2 commented on #1199
New proposal because I agree that breaking into segments makes localization painful.

[code]

[2020-09-13 20:05] jnm2 commented on #1199
However, there will probably people who want to build the text programmatically by segments (I've done this recently), and they shouldn't have to create a format string in order to do so. Perhaps it would be better to blend these two, basically taking the first one and adding a `TextContent.Add(string format, params object[] args)` overload.

[2020-09-13 22:17] weltkante commented on #1593
Why are issues closed before they are done? Makes tracking things hard if the PR is rejected for whatever reason ...

[2020-09-14 02:19] RussKie commented on #3892
Thank you for the submission, but this repo is for .NET Core/.NET versions only. If you're welcome to update the issue if you think it is a bug in one of those. It would be great to have an animation that shows the issue.

All bugs for .NET Frameworks should be raised via VS Feedback. But I will be upfront with you - .NET Framework is done, and only critical issues will meet the servicing bar. And

[2020-09-14 02:21] RussKie commented on #3891
Duplicate of #3691

[2020-09-14 02:21] #3891 closed

[2020-09-14 02:27] RussKie commented on #3889
Thank you @weltkante, I raised this internally.

[2020-09-14 06:15] RussKie commented on #1199
Thank you! Keep the ideas coming. I'll set some time aside this week to think about this too.

@kpreisser would love to hear you thoughts too, as well as feasibility from the API perspective.

[2020-09-14 06:38] RussKie commented on #3864
@Jessie-Zhang01 can you please confirm this doesn't affect 5.0-RC2 branch?

[2020-09-14 06:38] RussKie commented on #3863
@Jessie-Zhang01 can you please confirm this doesn't affect 5.0-RC2 branch?

[2020-09-14 07:34] Jessie-Zhang01 commented on #3864
@RussKie This issue also can reproduce on 5.0.100-rc.2.20463.1.
![image](https://user-images.githubusercontent.com/45864649/93056724-6997a400-f69f-11ea-8c15-3e79e4b92ce4.png)

[2020-09-14 07:35] Jessie-Zhang01 commented on #3863
@RussKie This issue cannot reproduce on 5.0.100-rc.2.20463.1.
![image](https://user-images.githubusercontent.com/45864649/93057021-d7dc6680-f69f-11ea-819c-b8b21ae57372.png)

[2020-09-14 08:30] Zheng-Li01 opened #3895 "An error pops up that 'Focusable sibling elements must not have the same Name and LocalizedControlType' for sub-item 'combobox' of ContextMenuStrip control"
* .NET Core Version:
.NET 6.0.100-alpha.1.20463.4

* More info
1. The issue also can reproduce on .NET SDK 3.1 & .NET 5.0.
2. The issue can't reproduce on sub-items 'combbBox Edit' of MenuStrip & ToolStrip controls & standalone ComboBox control.

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
An error pops up when focus on sub-item combobox's edits part in

[2020-09-14 08:40] SergeySmirnov-Akvelon commented on #3661
Hi @merriemcgaw , @Jenna-Zheng. We had a doubt that expected behavior from step 4 is correct. Therefore, we contacted a Guy Barker. He also considers the expected behavior to be strange, because it is inconsistent with the behavior of other editable controls. Also it can be inconvenient for a user who, by editing / selecting text in textbox, can accidentally switch to next control. As result, we h

[2020-09-14 10:24] pikadun opened #3896 "The TargetFramework value 'net5.0-windows' was not recognized."
* .NET Core Version: 5.0.100-preview.8.20417.9

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
I added a new project `Windows Forms App (.NET Core)`, then rebuild solution, and I got the error :
[code]

**Expected behavior:**
No error

**Minimal repro:**
https://github.com/pikadun/7

[2020-09-14 10:34] #3896 closed

[2020-09-14 13:56] why5684784 commented on #3892
This problem extends from. Net framework to. Net core, and still exists in various versions.

[2020-09-14 14:27] RussKie commented on #3864
@merriemcgaw @KlausLoeffelmann we may need to have it resolved for 5.0

[2020-09-14 14:28] RussKie commented on #3864
@merriemcgaw @KlausLoeffelmann @KathleenDollard  we may need to have it resolved for 5.0

[2020-09-14 18:45] smToDo commented on #3823
Hi guis,
I checked Preview 3, now MeasureText ignored NoPadding too.

[2020-09-14 18:55] marcpopMSFT commented on #1970
@merriemcgaw it's in the CLI dotnet new templates from what I can see so it's in the SDK.  I'm not familiar with how things show up in the new project UI so adding @jjmew @wli3 @KathleenDollard @donJoseLuis for comment.

[2020-09-14 19:27] merriemcgaw commented on #3864
@KlausLoeffelmann you're working on enabling Visual Styles, right?

[2020-09-14 20:45] vladimir-krestov opened #3897 "[Accessibility] Incorrect ScreenReader blue rectangle for a new character in TextCompoments"
Related issues:
- #1588
- #3683
- #2786
- #3860

The issue reproduces only in a context of Text pattern implementation

-----

* .NET Core Version: 5.0.0-rc.1.20431.5

* Have you experienced this same bug with .NET Framework?: No (Text pattern is not implemented)

**Problem description:**
- ScreenReader doesn't show the blue rectangle around an added character when typing a text in `ToolStripTextB

[2020-09-14 20:58] KlausLoeffelmann commented on #3864
Yes, this is purely a template issue.
Once this is in, we're OK.

https://github.com/dotnet/winforms/pull/3894

[2020-09-14 21:44] merriemcgaw commented on #3661
Attach @guybark's response to the internal bug so they know we aren't changing that part please.

[2020-09-14 22:37] JeremyKuhne opened #3898 "Flaky test: `ImageCollection_Item_Get32bppColorDepth_Success`"
System.Windows.Forms.Tests.ImageCollectionTests.ImageCollection_Item_Get32bppColorDepth_Success is failing intermittently in the CI. It has failed several times over the last month with the exact same error:

[code]

[code]

[2020-09-15 00:47] merriemcgaw commented on #3658
@guybark if the developer bound AccessibleDescription of the cell to some descriptive text in their database, would that be sufficient? @SergeySmirnov-Akvelon, would Narrator pick that up, or is there something we'd need to do so that it was read?

[2020-09-15 02:39] merriemcgaw commented on #3682
I like @russkie's idea. Will that work @Jessie-Zhang01 ?

[2020-09-15 03:28] RussKie commented on #3823
@smToDo as @Ashley-Li indicated the issue is fixed in SDK 5.0.100-rc.**2.20460.32**

[2020-09-15 03:42] kirsan31 commented on #3338
Any eta? Will this and all .net controls be ready to 5.0?

[2020-09-15 06:03] vsfeedback opened #3903 ".NET Framework - The Capture property is not taken into account when a control handle is recreated and the cursor is positioned outside the form boundaries"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1149197/net-framework-the-capture-property-is-not-taken-in.html)._

---
<p>Hello,</p><p>My name is Vladislav Yurgens. I'm a software engineer in the WinForms team at DevExpress. </p><p>Recently, one of our customers reported a problem related to our DockPanels. Having inves

[2020-09-15 06:18] Amy-Li03 commented on #1970
After **checked** the preview flag from Tools -> Options -> Preview Features -> **Show all .NET Core templates in the New project dialog**, we can find the Windows Forms(WinForms) Control Library(C#) & Windows Forms(WinForms) Control Library(Visual Basic) templates from VS and they can be created successfully.
![c#](https://user-images.githubusercontent.com/62929087/93172787-18021e80-f75e-11ea-95e

[2020-09-15 06:25] Olina-Zhang opened #3904 "The Icons for .Net Core VB and C# Windows Forms Control Library are not correct in 'Create a New Project' dialog"
* .NET Core Version: 5.0.100-rc.2.20464.10
* Have you experienced this same bug with .NET Framework?: No

**Minimal repro:**
1.	Check the preview feature "Show all .Net Core templates in the New project dialog(required restart)" in VS: Tools->Options->Environment->Preview Features
2.	Launch VS and click 'New Project'
3.	In 'Create a new project' dialog, search 'Winforms control library'
4.	Observe

[2020-09-15 06:29] Olina-Zhang opened #3905 "A syntax error in description of .Net Core VB and C# Windows Forms Control Library templates"
* .NET Core Version: 5.0.100-rc.2.20464.10
* Have you experienced this same bug with .NET Framework?: No

**Minimal repro:**
1.	Check the preview feature "Show all .Net Core templates in the New project dialog(required restart)" in Tools->Options->Environment->Preview Features
2.	Launch VS and click 'New Project'
3.	In 'Create a new project' dialog, search 'Winforms control library'
4.	Look at the

[2020-09-15 06:31] Jessie-Zhang01 commented on #3682
@merriemcgaw there is no any shortcut key that we can used to access the buttons(One Page, Two Page...). So it would be a good idea to use RussKia's method.

[2020-09-15 06:37] RussKie commented on #3868
@cristianosuzuki77 is there anything else pending here?

[2020-09-15 06:55] Lydia-Shi commented on #3903
* .NET Core Version:
5.0.100-rc.2.20464.14

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
1.	It’s not a regression issue.
2.	This issue cannot reproduce after commenting out code in red box:
![image](https://user-images.githubusercontent.com/54019172/93175840-dfb10f00-f762-11ea-95a7-268a715e119b.png)

**Problem description:**
Panel cannot be resized when the cursor

[2020-09-15 09:16] John-Qiao commented on #3832
@JeremyKuhne Verified this issue in .NET SDK 5.0.100-rc.2.20464.22 + Dev16 16.8.0 Preview 4.0 [30514.195.main], the test results are same with my previous test results. Has your update checked in the latest 5.0 rc2 branch? Please confirm that.

[2020-09-15 11:04] SergeySmirnov-Akvelon commented on #3671
Hi @Marie-Shi. I have investigated this issue and found that this is behavior by design. After clicking on ToolStripButton, ToolStrip return focus to previous control that had focus. Fixing this bug is breaking change and will conflict with expected behavior from #3596 issue. As workaround for this user case we suggest to use next code:
[code]
Call of `BeginInvoke(new MethodInvoker(delegate { tool

[2020-09-15 11:52] SergeySmirnov-Akvelon commented on #3658
Hi @merriemcgaw.  I have investigated this issue and found that we use Description of DataGridViewImageCell as value for LegacyIAccessible.Description. Unfortunately Narrator doesn't announce LegacyIAccessible.Description and I see following possible ways for fixing it:
1. Add call of extra message for Narrator that will contain the description of image. For example next image:
![3658](https://use

[2020-09-15 16:34] wjk opened #3908 "High-DPI scaling is now totally broken"
## Version

[code]

Have you experienced this same bug with .NET Framework?: N/A, relevant API does not exist there

## Problem description

Immediately after updating to VS 16.8 beta 3 and .NET 5 RC 1, now suddenly all of my Windows Forms applications do not DPI scale correctly. This did not happen before I updated. Please see the below screenshot, and zipped repro project. The form displays perf

[2020-09-15 16:49] kirsan31 commented on #3908
It is not clear from your screenshot what you wanted and what you got in the end.
And in `Form1.Designer.cs` I see this line:
[code]
With default sys. font and 100% dpi it's  `7F, 17F`. So,  I think you are design this (in VS designer) with 200dpi...

[2020-09-15 16:56] wjk commented on #3908
@kirsan31 Apologies; the issue is that the text in the label, button, and menu bar is apparently sized in raw pixels, and as a result everything is too small to be usable on higher DPI screens.

Also, when I once tried the .NET Core WinForms designer with VS in bitmap scaling mode, everything in the designer was twice as big as it should have been, which made me think that I was supposed to use it

[2020-09-15 16:59] marcpopMSFT commented on #1970
@jjmew Do we have shareable information on when the new New Project dialog will be live and will it include all CLI templates?

[2020-09-15 17:08] jjmew commented on #1970
That is @vijayrkn  and @donJoseLuis

[2020-09-15 17:20] vijayrkn commented on #1970
@marcpopMSFT @jjmew - VS integration for .NET Core project templates is handled by my team. The above preview feature will ship in 16.8 & will list all CLI templates.

@KathleenDollard

[2020-09-15 17:22] kirsan31 commented on #3908
Sorry got it. Can confirm that dpi scaling is broken even  on 5.0 prev. 8 (5.0.100-preview.8.20417.9)
![image](https://user-images.githubusercontent.com/17767561/93243307-b018fb80-f790-11ea-9286-888aae1eace9.png)

[2020-09-15 17:32] merriemcgaw commented on #3338
This is a designer specific feature, and we've got it on the agenda. We likely won't have it for 16.8 but hopefully in the next VS release. Which control(s) do we not have runtime support for? We've still got a couple of controls to get designer support for as we continue to implement features, and there are a handful of designers that are very specific to our controls and we've gotten most of the

[2020-09-15 17:39] kirsan31 commented on #3338
`DataGridView` :yum:

[2020-09-15 17:40] vladimir-krestov opened #3909 "[Accessibility] DataGridViewTextBoxCell in non-edit mode doesn't support Text pattern"
Text pattern area. Related PR: #3866

* .NET Core Version: 5.0.0-rc.1.20431.5

* Have you experienced this same bug with .NET Framework?: Yes (Text pattern is not implemented there)

**Problem description:**
- DataGridViewTextBoxCell in non-edit mode (just focused) has "UIA_EditControlTypeId" as a control type. And Accessibility Insights requires the cell should support Text pattern. But the cell

[2020-09-15 17:47] merriemcgaw commented on #3658
@SergeySmirnov-Akvelon  how does the description show up (or does it) in the UIA tree?

[2020-09-15 17:51] merriemcgaw commented on #3682
@SergeySmirnov-Akvelon, looks like we've got consensus on how to do this one. Please add the new shortcuts and make sure they show up in the ToolTip, and Narrator announces.

[2020-09-15 18:40] terrajobst commented on #3710
* Normally, output buffers go right after the input buffer, but we'll keep it last here to align with existin overloads and (more importantly) the `out` string

[code]

[2020-09-15 19:17] DmitryGaravsky opened #3910 "Regression in .Net 5 RC1 - the PaintEventArgs.Graphics is recreated when requested and this break all the GDI-interop scenarios due to System.ArgumentException"
**Description**
For now, the GDI interop code fails with the ArgumentException:
[code]
Our unit tests detected this issue immediately after upgrade (we maintain unit tests for all the released and preview environments like .net core 5 in our codebase).
Thus it is an important breaking change for us because **most of our UI controls are broken now**.

**Configuration**
OS Version: Microsoft Windows

[2020-09-15 19:23] merriemcgaw commented on #3338
@kirsan31 we've ported the DataGridView control to Core a long time ago. @RussKie is working on #3875 as we speak. I'm hopeful we can get it approved for 5.0. Are you facing other issues?

cc: @dreddy-work

[2020-09-15 19:31] kirsan31 commented on #3338
I am sorry for misleading, by _all .net controls be ready to 5.0_ I mean new designer will be handle them.

[2020-09-15 20:26] dreddy-work commented on #3338
@kirsan31 , we did port large portion of the designers for those controls as well. There are very few designers that were low in our priority list based on their usage and are on our list to port as we progress. If you see a specific control that its designer is not working or not available, please let us know.

[2020-09-15 23:25] JeremyKuhne commented on #3910
Looking...

[2020-09-15 23:49] RussKie commented on #3908
There was a high DPI related regression in Preview8 (see: #3832) which we fixed in RC2.

[2020-09-15 23:54] JeremyKuhne commented on #3910
Ugh, this is embarrassing. I've got the fix PR up- unfortunate that none of our tests hit this yet.

[2020-09-16 00:15] RussKie commented on #3908
The fix is available in the latest RC2 build: https://github.com/dotnet/installer

[2020-09-16 00:30] JeremyKuhne commented on #3910
Not many options to workaround this for RC1- if possible you can create a new `PaintEventArgs` with the `.Graphics` from the other one.

[2020-09-16 04:35] RussKie commented on #3898
https://dev.azure.com/dnceng/internal/_build/results?buildId=816990&view=results Release/x86

[2020-09-16 06:04] RussKie opened #3918 "Flaky test: `Button_Default_WithText_LineDrawing` crashed with System.AccessViolationException"
* .NET Core Version:

release/5.0-RC2

**Problem description:**

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=817037&view=results

[code]

[2020-09-16 06:41] John-Qiao commented on #3832
Verified in .NET SDK 5.0.100-rc.2.20465.34 + Dev16 16.8.0 Preview 4.0 [30514.195.main], this issue has been fixed. Please check below test results:

1. When start the DPITest project on 100% scaling, the Control.DeviceDPI is 96, and the New DPI is not triggered.
![100%](https://user-images.githubusercontent.com/45864985/93301175-a348e600-f82a-11ea-93c4-86e96d99bfb2.png)
2. Then change the scaling

[2020-09-16 07:40] kirsan31 commented on #3908
Work well on rc2.

[2020-09-16 07:47] SergeySmirnov-Akvelon commented on #3658
Hi @merriemcgaw. I have attached screenshot from Inspector:
![3658 - Inspector](https://user-images.githubusercontent.com/23376742/93307749-0413f680-f80a-11ea-9e19-7c83fb3e7f2b.jpg)

[2020-09-16 07:52] ChungNNVN opened #3919 "The PropertyGrid displays properties of selected object incorrectly with Net 5.0 Windows app (Core)"
* .NET Core Version:
.NET SDK 5.0.100-preview.7.20417.9

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The PropertyGrid displays properties of selected object incorrectly in Net 5.0 app. But display correctly with Net 4.5.2 or Net Core 3.1 version. The used VS version is 16.8.0 Preview 2.1.
Sample code:
  `private void Form1_Load(object sender, EventArgs

[2020-09-16 07:59] kirsan31 commented on #3338
@dreddy-work as I mentioned above - `DataGridView`. It's not usable in designer because of not working styles editors (all of them).
Quick look at `ListView` bring that item editor not shoeing color selection dialog. Changing color by double click - immediately apply it to the code regardless if I will press cancel on the edit dialog...

P.s. I think this is a bit off topic here - do we need creat

[2020-09-16 08:11] kirsan31 commented on #3919
Must be [fixed](https://github.com/dotnet/winforms/issues/3800#issuecomment-683275091) in rc1.

[2020-09-16 08:14] RussKie commented on #3919
Please try the latest nightly RC2 build: https://github.com/dotnet/installer

[2020-09-16 08:15] Amy-Li03 opened #3921 "Properties window is blank after installed latest .NET 5.0 SDK"
* .NET Core Version:
.NET 5.0.100-rc.2.20465.34

![dll](https://user-images.githubusercontent.com/62929087/93310626-9da5cd00-f837-11ea-87d1-2b299d308aad.png)

* More info:
This is a regression issue, it cannot reproduce on .NET 5.0.100-rc.2.20464.22 build.
![GoodDll](https://user-images.githubusercontent.com/62929087/93318068-d0a08e80-f840-11ea-9664-8c9368b567aa.png)

* Have you experienced this s

[2020-09-16 08:16] RussKie commented on #3338
Please raise these issues via the VS Feedback tool, as it captures necessary telemetry such as versions of components, etc.

[2020-09-16 08:18] Amy-Li03 commented on #3921
@JeremyKuhne could you please investigate this regression issue?

[2020-09-16 08:18] Ashley-Li opened #3922 "Vs crash and restart when select Form/all controls in the properties windows"
* .NET Core Version:
 .NET 5.0.100-rc.2.20465.23

* Have you experienced this same bug with .NET Framework?:
No

* More info
  1.  **This is a regression issue**, it recurs when installing .NET 5.0.100-rc.2.20465.23 from https://github.com/dotnet/installer and app targets to .NET 5.0.
  2. This issue cannot reproduce on .NET 5.0.100-rc.2.20464.22 build.
  3. This issue cannot reproduce on VS comes

[2020-09-16 08:58] Lydia-Shi opened #3923 "Some properties are grey with black rectangle in Properties window after choosing more controls"
* .NET Core Version:
.NET 5.0.100-rc.2.20465.23

* Have you experienced this same bug with .NET Framework?:
No

**More info:**

1. This is a regression issue, it cannot repro on  .NET 5.0.100-rc.2.20464.22
2. After step3, click "Events" icon in Properties Browser window, vs crash.  Below is CallStack: [CallStack.txt](https://github.com/dotnet/winforms/files/5231274/CallStack.txt)

**Problem descri

[2020-09-16 09:12] StefanKoell commented on #3910
@JeremyKuhne Is there a rough timeframe for RC2? Since .NET and VS Preview is tied together, you can't really continue to work once VS has been updated to 16.8 preview 3 (which includes net 5  rc1). There's no way to roll back to 16.8 preview 2.1 (which includes still working net 5 preview 8) since there's no download path. Would be nice if MS could provide a way to downgrade VS for the time being

[2020-09-16 09:16] Amy-Li03 opened #3924 "VS is restarting when opening the Items Collection Editor"
* .NET Core Version:
.NET 5.0.100-rc.2.20465.34

* More info:
1. This is a regression issue, it cannot reproduce on .NET 5.0.100-rc.2.20464.22 build.
2. ContextMenuStrip, StatusStrip, ToolStrip controls also can repro this issue.

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
VS restarts when opening the Items Collection Editor by click Edit Items on MenuS

[2020-09-16 09:18] Marie-Shi commented on #3671
@SergeySmirnov-Akvelon Yes, I tried this workaround, it works, now Keyboard focus is visible after pressing ‘Enter’ key of ToolStrip with button item. So will you close this GitHub issue?

[2020-09-16 09:23] Jessie-Zhang01 opened #3925 "[Accessibility] In the editing state, Accessibility Insights is not responding when just select DataGridViewTextBoxCell"
* .NET Core Version: .Net SDK 5.0.100-rc.2.20465.23

* Have you experienced this same bug with .NET Framework?:
No

**More Info:**
This issue cannot reproduce on Inspect and Narrator.

**Minimal repro:**

1. Open the attached [WinFormsApp2.zip](https://github.com/dotnet/winforms/files/5231054/WinFormsApp2.zip) application in VS, then build and run it.
2. Enter text into Column1(eg: winforms).
3. O

[2020-09-16 09:27] Amy-Li03 commented on #3924
@JeremyKuhne could you please investigate this regression issue?

[2020-09-16 09:28] Jessie-Zhang01 opened #3926 "VS crash and restart after clicking the smart tag of ImageList/ContextMenuStrip controls in Component Tray"
* .NET Core Version: .NET 5.0.100-rc.2.20465.23

* Have you experienced this same bug with .NET Framework?:
No

**More Info**

1. This is a regression issue, it recurs when installing .NET 5.0.100-rc.2.20465.23 from https://github.com/dotnet/installer and app targets to .NET 5.0.
2. This issue cannot reproduce on .NET 5.0.100-rc.2.20464.22.
3. This issue cannot reproduce on VS comes with .NET 5.0

[2020-09-16 09:28] Jessie-Zhang01 opened #3927 "An error pops up after clicking the smart tag of ToolStrip/MenuStrip/StatusStrip/TreeView/PictureBox controls"
* .NET Core Version: .NET 5.0.100-rc.2.20465.23

* Have you experienced this same bug with .NET Framework?:
No

**More Info**

1. This is a regression issue, it recurs when installing .NET 5.0.100-rc.2.20465.23 from https://github.com/dotnet/installer and app targets to .NET 5.0.
2. This issue cannot reproduce on .NET 5.0.100-rc.2.20464.22.
3. This issue cannot reproduce on VS comes with .NET 5.0

[2020-09-16 09:32] Lydia-Shi opened #3928 "VS is restarting when clicking “Add” button in ListViewItem Collection Editor"
* .NET Core Version:
.NET 5.0.100-rc.2.20465.34

* Have you experienced this same bug with .NET Framework?:
No

**More info:**

1. This is a regression issue, it cannot reproduce on .NET 5.0.100-rc.2.20464.22 build.
2. This issue also occurs when clicking “Add” button in ListViewGroup Collection Editor and ColumnHeader Collection Editor.
3. This issue cannot reproduce on VS comes with .NET 5.0 rc1

[2020-09-16 09:42] kirsan31 commented on #3047
V.S. 16.8 pr. 3.
- With `netcoreapp3.1` target all as [was before](https://github.com/dotnet/winforms/issues/3047#issuecomment-662845398): All style dialogues opening correctly, but produce no code - no changes. Corresponding [issue](https://developercommunity.visualstudio.com/content/problem/1186903/new-net-winforms-designer-datagridview-styles-edit.html).
- With `net5.0-windows` target (`Version

[2020-09-16 09:43] kirsan31 commented on #3338
@RussKie Done: [Issue1](https://developercommunity.visualstudio.com/content/problem/1186689/winforms-designer-not-show-properties-when-target.html), [Issue2](https://developercommunity.visualstudio.com/content/problem/1186903/new-net-winforms-designer-datagridview-styles-edit.html), [Issue3](https://developercommunity.visualstudio.com/content/problem/1186904/new-net-winforms-designer-listview-item

[2020-09-16 09:52] Marie-Shi commented on #3671
@Tanya-Solyanik As @SergeySmirnov-Akvelon said this behavior is by design and also provide a workaround. So close it.

[2020-09-16 09:52] #3671 closed

[2020-09-16 10:01] RussKie commented on #3910
@StefanKoell you should be able to install VS 16.7 and P8.

You can also install daily RC2 builds from dotnet/installer, once the fix is approved and merged, it is usually available within a day.

[2020-09-16 10:08] StefanKoell commented on #3910
@RussKie as far as I know, net 5 preview/rc doesn't work with VS 16.7 and 16.8 preview is required. Am I wrong?

[2020-09-16 10:32] RussKie commented on #3910
You may be correct, P7 should work in 16.7 though.

[2020-09-16 12:56] SergeySmirnov-Akvelon commented on #3596
Hi @Amy-Li03. I have investigated this issue and found that this is behavior by design. After clicking on ToolStripButton, ToolStrip return focus to previous control that had focus. If user uses keyboard navigation then focus will return on ToolStrip control. As workaround i suggest to add handler with `dataGridView.Focus()` code on "Click" event of "Add new" button:
[code]
This code returns focus

[2020-09-16 17:05] merriemcgaw commented on #3560
@RussKie, @SergeySmirnov-Akvelon do we have a PR for this that goes to .NET 5? This would be nice to have by GA.

[2020-09-16 17:21] IrinaPykhova commented on #3832
I installed RC2 and checked it again. System info:
.NET SDK (reflecting any global.json):
 Version:   5.0.100-rc.2.20465.34
 Commit:    7e7de71fc4
Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
Updated test application:
[DPITest.zip](https://github.com/dotnet/winforms/files/5233760/DPITest.zip)
I still see 2 problems:
1. when start application in with 96 DPI and then scale scr

[2020-09-16 17:24] IrinaPykhova commented on #3921
I also see that with RC2

[2020-09-16 17:34] IrinaPykhova commented on #3908
I just checked it with RC2 and still see problems. Please get back to it, my comments are in #3832

[2020-09-16 17:44] merriemcgaw commented on #3047
Thanks @kirsan31 , I'm following up on these two issues personally. The 5.0 SDK one is particularly worrisome as we're in the very end of the 5.0 ballgame. We'll keep you posted. Thank you so much for filing the Developer Community issues, by the way! It makes diagnostics easier by far. We'll reach out if we need any more info from you about the issues. Thanks again!

[2020-09-16 17:55] IrinaPykhova opened #3931 "NumericUpDown drawing issue"
* .NET Core Version: .Net 5 RC1 (also reproducible with RC2)
.NET SDK (reflecting any global.json):
 Version:   5.0.100-rc.1.20452.10
 Commit:    473d1b592e

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

standard NumericUpDown draws some garbage around the text area. Here are 2 examples:

[2020-09-16 18:30] JeremyKuhne commented on #3910
I've committed the fix to RC2: https://github.com/dotnet/winforms/commit/17d3abba5f42bd7c103125174a43248660d03d45

As @RussKie mentioned, this should be in the RC2 dailies shortly. https://github.com/dotnet/installer#installers-and-binaries

I'll update the issue when I see a working drop.

[2020-09-16 20:24] kirsan31 commented on #3832
@IrinaPykhova

1. Sadly, but this is _normal_ .net behavior with dpi changes on the fly :( For now `HighDpiMode.SystemAware` is the only thing that somehow working (see point 2)...
2. For DPI scaling (strictly speaking even if you enable `PerMonitorV2`, after app restart it's become `SystemAware` any way :) ) to work properly You need to enable this setting:
![image](https://user-images.githubuser

[2020-09-16 20:56] JeremyKuhne commented on #3918
I'd be somewhat surprised if this test itself is flaky.

[2020-09-16 21:00] IrinaPykhova commented on #3832
this setting doesn't fix anything for me. My previous experience tells that it somehow works for non-dpi-aware apps.
And anyway it has nothing to do about case when I set scaling to 150%, then run applicaiton and it shows me 96 DPI

[2020-09-16 21:05] kirsan31 commented on #3832
I speak exactly about this case. When this setting is off - it's behave like you described in point 2. And with on - like it must.

And my experience tells that .net dpi aware apps not working at all on Win 10 with this setting is off :)

[2020-09-16 21:09] JeremyKuhne commented on #3931
Reproduced- investigating.

[2020-09-16 21:41] DustinCampbell opened #3932 "Typo in DataGridViewRowConverter causes CodeDom serialization to fail for DataGridView"
The code below has a typo where `DataGridView` is used instead of `DataGridViewRow`.

https://github.com/dotnet/winforms/blob/2ae45c66fdcb8e6aadf43288b7429f17f1fd0f49/src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRowConverter.cs#L33-L40

[2020-09-16 22:27] RussKie commented on #3932
Regression introduced in c1546def192a62371f0746e28f1cf2e11c620c0d

[2020-09-16 23:27] #3910 closed

[2020-09-16 23:34] #3932 closed

[2020-09-16 23:41] JeremyKuhne commented on #3931
I know what is going on and have a fix- I'm scouring for other places where I may have made the same mistake and I'm writing regression tests.

[2020-09-16 23:43] Tanya-Solyanik commented on #3924
@Amy-Li03 , I did the following:
Setup:
created a clean VM
Installed SDK 5.0.100-rc.2.20466.13
Installed Version 16.8.0 Preview 4.0 [30516.15.main]
removed SDK that came with the VS (rc1) - I don't think this is necessary.

To re-target - edited the project file because application properties did not open in this build.
<Project Sdk="Microsoft.NET.Sdk">
    <TargetFramework>net5.0-windows7.0</Targ

[2020-09-17 00:05] merriemcgaw commented on #3832
I have the same results as @kirsan31 with this project. We do recommend that it's turned on for the best WinForms scaling performance.

[2020-09-17 00:13] merriemcgaw commented on #3047
I tested with the public release of 16.8p3 and the latest build of .NET Core (one later than yours I think). The designer is not blocked, we can see properties now for controls that are selected. For the DataGridView dialogs, we're working on getting them updated as part of another effort, and the result of that effort is expected to resolve the issues with not writing code changes to the file. Yo

[2020-09-17 00:15] merriemcgaw commented on #3658
This looks reasonable to me. We've got the data in a reasonable property in the UIA tree. @guybark, what are your thoughts on reading/not reading the LegacyIAccessible.Description property? Does this look like a good UIA tree to you?

[2020-09-17 00:33] RussKie commented on #3832
@IrinaPykhova I thing I learnt many years ago as a Windows Forms user is never use Font-scaling mode because of issues like this, and use DPI scaling instead. In Git Extensions project (which I am a part of) we had a fair share of high dpi and scaling issues, which we had to deal with.

Improving and correcting the layout engine is on our roadmap for .NET 6.0 (and beyond).

[2020-09-17 00:51] RussKie commented on #3924
This is concerning though...

[2020-09-17 01:14] Amy-Li03 commented on #3924
@Tanya-Solyanik have shared a VM for you on teams, you can connect it to repro this issue.
We are only need to install latest .NET 5.0 rc2 latest build from here: https://github.com/dotnet/installer, and it doesn' t need to removed SDK that came with the VS (rc1).
VS is not specific, we can repro this issue on latest 16.8 preview 4 and preview 3 build.
create a winforms core project, then re-targe

[2020-09-17 01:27] Amy-Li03 commented on #3924
I just installed .net 5.0 rc2 from: https://github.com/dotnet/installer, the latest build is .NET 5.0.100-rc.2.20466.16, this issue doesn't repro on this build.

[2020-09-17 02:00] Amy-Li03 commented on #3921
Installed .net 5.0 rc2 from: https://github.com/dotnet/installer, the latest build is .NET 5.0.100-rc.2.20466.16, this issue doesn't repro on this build.

[2020-09-17 02:15] RussKie commented on #3560
@merriemcgaw this is already in RC1
![image](https://user-images.githubusercontent.com/4403806/93411908-7c98b700-f8df-11ea-9e4e-285aa5c70d88.png)

[2020-09-17 02:19] Ashley-Li commented on #3922
Installed .net 5.0 rc2 from: https://github.com/dotnet/installer, the latest build is .NET 5.0.100-rc.2.20466.16, this issue doesn't repro on this build.

[2020-09-17 02:25] #3921 closed

[2020-09-17 02:25] #3922 closed

[2020-09-17 02:26] #3924 closed

[2020-09-17 02:27] Jessie-Zhang01 commented on #3927
Installed .net 5.0 rc2 from: https://github.com/dotnet/installer, the latest build is .NET 5.0.100-rc.2.20466.16, this issue doesn't repro on this build.

[2020-09-17 02:27] Jessie-Zhang01 commented on #3926
Installed .net 5.0 rc2 from: https://github.com/dotnet/installer, the latest build is .NET 5.0.100-rc.2.20466.16, this issue doesn't repro on this build.

[2020-09-17 02:33] Lydia-Shi commented on #3928
Installed .net 5.0 rc2 from: https://github.com/dotnet/installer, the latest build is .NET 5.0.100-rc.2.20466.16, this issue doesn't repro on this build.

[2020-09-17 02:33] Lydia-Shi commented on #3923
Installed .net 5.0 rc2 from: https://github.com/dotnet/installer, the latest build is .NET 5.0.100-rc.2.20466.16, this issue doesn't repro on this build.

[2020-09-17 02:38] #3923 closed

[2020-09-17 02:38] #3928 closed

[2020-09-17 02:38] #3926 closed

[2020-09-17 02:39] #3927 closed

[2020-09-17 02:41] IrinaPykhova commented on #3832
@merriemcgaw
ok, using scaling on DPI and turning on this Windows setting makes the trick. But I got lost here. We are selling components for developers. When we get support issues about the matter, we should know how we can help our customers who indeed want to make per monitor dpi-aware applications working for arbitrary end-user on machine with unknown settings. So, I have 2 questions:
1. Font

[2020-09-17 02:57] IrinaPykhova commented on #3832
@RussKie  I agree with this. I used to use DPI scaling in old WinForms apps. But for .Net 5 which should have better HighDpi support I think it worth trying how default settings work. I can't expect that all the people will dig into all these details and change defaults

[2020-09-17 04:28] RussKie commented on #3832
I agree on "should" part, but we haven't worked on anything specific related to high dpi support. It is slated for .NET 6.0 at this stage.

[2020-09-17 06:28] ChungNNVN commented on #3919
This was fixed in RC2, thanks!

[2020-09-17 06:28] #3919 closed

[2020-09-17 07:02] kirsan31 commented on #3921
Yes it's working. But after first V.S. launch I was waiting far more than 30 seconds for properties to appear. I already started writing here that the fix didn't work for me. Went back to the studio and they showed up. In subsequent launches, properties appear within a couple of seconds ...

[2020-09-17 07:50] RussKie opened #3936 "Review use of `BC41004` warning"
The latest changes from dotnet/runtime (https://github.com/dotnet/winforms/pull/3804) couldn't be merged due to build failures:
[code]

The error was suppressed in https://github.com/dotnet/winforms/pull/3804/commits/590399f903a2bc5a3ac8ef5644e3337b0b0f1179.

The suppression needs to be reviewed, and corrected.

[2020-09-17 08:25] tebeco commented on #3910
https://github.com/dotnet/tye/issues/660#issuecomment-693482774

Does this fixes your issue as well ?

[2020-09-17 08:30] RussKie commented on #3910
@tebeco how is this relevant to this issue?

[2020-09-17 08:31] tebeco commented on #3910
I was pinged on that one from another communication channel
maybe that's the wrong one when I clicked

Shuld have read before :D

[2020-09-17 08:32] tebeco commented on #3910
do you want me to delete the post ?

[2020-09-17 08:39] Amy-Li03 commented on #3596
@SergeySmirnov-Akvelon tried this workaround mentioned above, Narrator can read the status message as row added when clicking on Add New button through **Caps + Enter** key.

[2020-09-17 09:07] SergeySmirnov-Akvelon commented on #3596
This behavior is by design and the suggested workaround works for @Amy-Li03. Thus it closed as solved.

[2020-09-17 09:07] #3596 closed

[2020-09-17 17:10] merriemcgaw commented on #3832
I absolutely agree that we have some work ahead of us to make the HDPI experience better in .NET 6. The windows setting should only impact apps that are not set to PMv2 and _could_ make things a bit blurry. But in talking with the Windows team this setting can help System Aware apps to behave more like PMv2 and they'd done a lot of work on fonts to make Windows based scaling look better. My theory

[2020-09-17 18:41] kirsan31 commented on #3832
@IrinaPykhova
We have a long rout with DPI scaling in our app. I can say only, that we end with FONT scaling )))) : `System.Windows.Forms.AutoScaleMode.Font` and
![image](https://user-images.githubusercontent.com/17767561/93512420-f60ac680-f92c-11ea-81b1-24ec7188a520.png)
The main reason for this was many problems with switching dpi of target machine over rdp. DPI scaling work too with this approa

[2020-09-17 18:43] Tanya-Solyanik commented on #3924
Not sure why this issue was re-opened. closing again

[2020-09-17 19:11] WolfgangHG opened #3937 "Layout issue with Label resizing and "Application.SetHighDpiMode(HighDpiMode.PerMonitorV2)""
Attached is a WinForms sample which runs both with .NET framework 4.6 and .NETCore 3.1 (open solution "LayoutTest.sln" for 4.6 and "LayoutTestCore.sln" for .NET Core 3.1).
[LayoutTest.zip](https://github.com/dotnet/winforms/files/5241353/LayoutTest.zip)

It contains a form with a PictureBox an a Label. When setting an image to the PictureBox, I move and resize the PictureBox and the Label.

With .

[2020-09-17 20:43] merriemcgaw commented on #3680
@Olina-Zhang is the AccessibleName property available for this control? Can you set that in the sample app and see if that resolves the problem?

[2020-09-18 00:00] #1970 closed

[2020-09-18 00:18] RussKie commented on #3108
We have discussed it offline, and we don't think there is a problem.
Happy to re-open, if we have user scenario where it doesn't work as expected at runtime.

[2020-09-18 00:18] #3108 closed

[2020-09-18 00:26] RussKie commented on #3822
@Zheng-Li01 could you please re-test against an RC2 build?

[2020-09-18 00:28] RussKie commented on #3650
@Jessie-Zhang01 can you please check whether 3.1 is affected too?

[2020-09-18 00:34] RussKie commented on #3650
From a high level this looks like this related to changed in System.IO in .NET 2.1, and the current behaviour is now by design.

NB: @JeremyKuhne has more info, because he is the one who did this :D
https://docs.microsoft.com/en-us/archive/blogs/jeremykuhne/system-io-in-net-core-2-1-sneak-peek

[2020-09-18 00:34] #3650 closed

[2020-09-18 00:37] RussKie commented on #3864
@Jessie-Zhang01 could you please re-test on the latest RC2?

[2020-09-18 00:40] RussKie commented on #3452
Is this still an issue in RC2?

[2020-09-18 00:55] merriemcgaw commented on #3903
If you have a fix in mind, we are more than happy to consider taking it in .NET 6.

.NET Framework, however is in servicing only mode. Please work directly with @OliaG to determine viability of a change there. There is a very high bar for servicing .NET Framework due to compatibility requirements.

[2020-09-18 02:25] Zheng-Li01 commented on #3822
@RussKie, verified the issue with latest .NET 5.0.100-rc.2-20467.7, the issue still can reproduce.

[2020-09-18 02:43] Jessie-Zhang01 commented on #3864
@RussKie Verified this issue with .Net 5.0.100-rc.2.20466.4, this issue doesn't repro on this build.
![image](https://user-images.githubusercontent.com/45864649/93548956-ecb84300-f99a-11ea-8806-abd32e42100b.png)

[2020-09-18 03:05] Jessie-Zhang01 commented on #3452
Verified this issue with .Net 5.0.100-rc.2.20466.4, when the "ComboBox" to be expanded contains the different item, Narrator or Inspect's cursor focuses on the ComboBox control and works fine.
But when the "ComboBox" to be expanded contains the same item, Narrator/Inspect eventually hang(have a known issue: [3590](https://github.com/dotnet/winforms/issues/3590)).

[2020-09-18 03:24] Olina-Zhang commented on #3680
@merriemcgaw Yes, it has. We can set it in sample app to resolve it. Updated this info in bug: **https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1159873**
![image](https://user-images.githubusercontent.com/26474449/93550575-4706d300-f99e-11ea-8598-e939603ae35d.png)
![image](https://user-images.githubusercontent.com/26474449/93550514-20e13300-f99e-11ea-85b7-18932fca2e01.png)
Do we keep this bug

[2020-09-18 03:39] JeremyKuhne opened #3944 "ControlPaint.DrawBorder dashed and dotted styles don't render correctly"
In RC1 `DrawBorder` no longer renders `ButtonBorderStyle.Dotted` and `ButtonBorderStyle.Dashed` correctly. Sample code:

[code]

Current is on the left, correct is on the right:

![image](https://user-images.githubusercontent.com/8184940/93552521-79281e80-f925-11ea-8d80-dee9e2a72920.png)

[2020-09-18 04:26] #3864 closed

[2020-09-18 04:29] JeremyKuhne opened #3945 "ControlPaint.DrawBorder doesn't draw correctly"
The ControlPaint.DrawBorder that takes individual side styles and colors doesn't render correctly:

[code]

Normal is on the left, current is on the right:

![image](https://user-images.githubusercontent.com/8184940/93555947-577e6580-f92c-11ea-98d0-f07280969db2.png)

Dotted and dashed are ok, the others are missing the lower right pixel. This is an artifact of GDI not ending on the same pixel as G

[2020-09-18 16:29] cristianosuzuki77 commented on #3868
Thank you!

[2020-09-18 16:29] #3868 closed

[2020-09-18 18:09] merriemcgaw commented on #3680
@Olina-Zhang please do that, it will close out another issue for us. Thanks so much!

[2020-09-18 18:21] merriemcgaw commented on #3452
@Jessie-Zhang01 does it take a while for the hang to happen when we've got the duplicate items in the ComboBox?

[2020-09-18 19:16] yvz5 commented on #3686
I would gladly take this issue. Is it possible that you assign it to me ?

[2020-09-18 22:13] merriemcgaw opened #3951 "change the color and Font of ListViewGroup"
This is a suggestion ticket from the .NET Developer Community and we'd like to consider it for a future release.
https://developercommunity.visualstudio.com/content/idea/567122/change-the-color-and-font-of-listviewgroup.html

[2020-09-18 23:17] JeremyKuhne commented on #3617
Got the same failure again:

[code]

[2020-09-18 23:57] JeremyKuhne opened #3953 "ControlPaint.DrawSizeGrip leaves a gap in rendering"
DrawSizeGrip is one pixel too short on the right.

[code]

Good is on the left, bad is on the right:

![image](https://user-images.githubusercontent.com/8184940/93653904-be088f80-f9cf-11ea-8165-845cde68d874.png)

[2020-09-19 00:19] JeremyKuhne commented on #3953
This also leaves a new gap on Forms that aren't drawn using visual styles.

[2020-09-19 06:20] RussKie commented on #3617
Sergey was looking into this on Fri.

________________________________
From: Jeremy Kuhne <notifications@github.com>
Sent: Saturday, 19 September 2020 9:18 AM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Igor Velikorossov <Igor.Velikorossov@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [dotnet/winforms] MAUI tests fail frequently and aren't easily diagnosable (#3617)

Go

[2020-09-19 06:36] Grammarian opened #3957 "ListViewItem.ListViewItemAccessibleObject.ScrollIntoView uses ListBox messages"
* .NET Core Version:
Microsoft.WindowsDesktop.App 5.0.0-rc.1.20452.2 [C:\Program Files\dotnet\shared\Microsoft.WindowsDesktop.App]

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

In the accessibility object for ListViewItem, the method `ScrollIntoView()` uses messages and techniques for a ListBox, not a ListView.

* Messages sent to the ListView are from t

[2020-09-19 11:01] ab-tools opened #3958 "Windows Forms Designer Copies Global Project Resource Image to Form Resource File"
* .NET Core Version:
.NET 5.0-rc1 using Visual Studio 16.8.0 Preview 3.0.

* Have you experienced this same bug with .NET Framework?:
No.

**Problem description:**
Assigning a project image resource e. g. to the `Image` property of a button using the Windows Forms Designer results in copying the corresponding resource file from the global project resources to the local form resource and adding fol

[2020-09-19 14:56] qmgindi opened #4110 "Winforms IAccessible broken in .NET 5 RC 1"
AccessibleObjectFromPoint always returns error "invalid parameter".
AccessibleChildren returns VARIANTs with invalid vt = VT_UI4 (must be VT_I4).

With .NET 5 preview 7 AccessibleObjectFromPoint works, but AccessibleChildren does not work correctly with many controls.

Tested on latest Windows 10 64-bit.

Probably related: UI Automation cannot get children of some controls.

[2020-09-19 16:14] IanKemp commented on #3710
I don't understand why `TextFormatFlags.ModifyString` was EVER added, let alone implemented... it breaks pretty much every .NET convention. Glad to see this particular piece of cancer is finally being excised, my only question is when do you intend to make using this flag an error? .NET 6?

[2020-09-19 17:28] kirsan31 commented on #3958
We faced this behavior too, but not 100% of the time and we could not understand the conditions under which this occurs.

[2020-09-19 20:28] ab-tools commented on #3958
First thanks a lot for the quick feedback on this @kirsan31!

Is there anything I can do or test to help you to pin-point this issue?

[2020-09-20 10:32] kpreisser commented on #3851
I think this might also be a nice gimmick for a (modal) Task Dialog, e.g. when using progress bars:
![TaskDialog-TaskBar](https://user-images.githubusercontent.com/13289184/93708878-1cea1800-fb3a-11ea-862f-8635b3d1c481.png)

Or when using the colored icon bars:
![TaskDialog-TaskBar2](https://user-images.githubusercontent.com/13289184/93708883-23788f80-fb3a-11ea-8cdf-9da2d8e560b8.png)

[2020-09-20 17:47] ab-tools commented on #3958
I just tried that again with a completely new .NET 5.0 project - here a minimal example project:
[ProjectResourceTest.zip](https://github.com/dotnet/winforms/files/5252259/ProjectResourceTest.zip)

But you say that you don't see this behavior all the time, @kirsan31?
I tried it a few times with new projects now and I get the same behavior all the time.

Perhaps you could try with the example proje

[2020-09-21 01:24] vdanche opened #3985 "With NET 5 RC2 SDK installed, "net5.0-windows" instead of "net5.0" should be displayed for winforms/wpf help description in CLI."
**Repro steps:**
1.Install NET 5 RC2 build(5.0.100-rc.2.20466.4).
2. In CLI, run "dotnet new winforms --help" or "dotnet new wpf --help".
3. Check the help contents displaying.

**Expected Result:**
"net5.0" should be displayed as "net5.0-windows"

**Actual Result:**
Still display as "net5.0"
![image](https://user-images.githubusercontent.com/65637796/93433959-15d4c700-f8fa-11ea-9b46-de6792f0a95e.

[2020-09-21 02:27] Olina-Zhang commented on #3680
@merriemcgaw What about this Github issue?

[2020-09-21 03:01] Jessie-Zhang01 commented on #3452
@merriemcgaw No, The Accessibility tools: Narrator/Inspect/Accessibility Insight and test project all are hung when using them together until clicking the stop button in VS toolbar when expand the ComboBox drop-down list with the duplicate items. Please see following gif:
![steps1](https://user-images.githubusercontent.com/45864649/93730066-9dbc1900-fbf9-11ea-86f6-5952031dea8c.gif)

[2020-09-21 03:59] RussKie commented on #3710
We have marked it as obsolete in 5.0 RC1 https://github.com/dotnet/winforms/pull/3711. As to when this becomes an error - it hasn't been discussed yet.

[2020-09-21 04:07] RussKie commented on #3957
@Grammarian thank you!

[2020-09-21 04:09] RussKie commented on #3957
@vladimir-krestov this appears to be the only place of incorrect use of LB flags:
![image](https://user-images.githubusercontent.com/4403806/93732312-18922d80-fc14-11ea-8e10-063f5885456b.png)

[2020-09-21 08:38] RussKie commented on #3686
All yours :)
Holler if you get stuck

[2020-09-21 11:50] StefanKoell commented on #3910
Just an FYI: I installed a daily build of RC2 and I can confirm it's not crashing anymore. Thanks for the quick fix!

[2020-09-21 13:41] SergeySmirnov-Akvelon opened #3962 "ListView is in virtual mode throws IOE"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20420.14

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**

1. Create application with ListView in virtual mode
3. Run application
4. Select any item in ListView

![ListViewVirtualMode](https://user-images.githubusercontent.com/23376742/93773875-403fc080-fc29-11ea-926b-9d671694d720.gif)

**Expected behavior:**
Exception sh

[2020-09-21 15:19] yvz5 commented on #3686
@RussKie I got stuck before I could start :) I can't seem to compile the source code. I have vs2019 with required workloads (c# desktop, c++) installed. Also installed Cmake. Here is the output of the build.cmd file:

[code]

[2020-09-21 15:25] cbrit commented on #3686
@yvz5 are you behind any kind of firewall that would block https://pkgs.dev.azure.com? Is that an alternate URL to the default nuget location?

[2020-09-21 15:33] yvz5 commented on #3686
I havent changed any settings. Here is my nuget.config file
[code]

[2020-09-21 15:36] cbrit commented on #3686
May be a setting that came with the repo then. I won't be able to help as I'm not super familiar with the repo. @RussKie ?

[2020-09-21 17:36] IanKemp opened #3966 "Improve localisation support by adding a way to bind control string properties to a specific resource type and key"
Currently, WinForms allows you to localise your controls, which is good. However, localisation support is limited to the very simple case of having a resource file of the same name next to the control being localised. This prevents reuse of common strings across a project.

Ideally, any string property on a WinForms control should be able to be bound **at design-time** to any arbitrary resource ke

[2020-09-21 19:17] merriemcgaw commented on #3958
@KlausLoeffelmann , @dreddy-work  - what are your thoughts?

[2020-09-21 19:34] merriemcgaw commented on #3460
I'm moving this to 6.0. I don't think this is important enough to get in here in the end game.

[2020-09-21 19:37] merriemcgaw commented on #3897
@vladimir-krestov is this a regression for TextBoxes as well? Do we have a theory as to what we're not updating for Narrator to recognize the new characters are happening. I'm reluctant to push this in so late in 5.0, but I can chat with @guybark to see what his thoughts are about the urgency of this issue.

[2020-09-21 19:52] merriemcgaw commented on #3680
If you've fixed the issue in the sample app, please do close this one. Thanks!

[2020-09-21 21:19] kirsan31 commented on #3958
@ab-tools sorry, I didn't put it exactly. We not use new core designer, we use old .net designer for core project: `<TargetFrameworks>net472;netcoreapp3.1</TargetFrameworks>`. And in such a configuration some times we see behavior like you described.
But I tested new core designer and pure netcoreapp3.1/net5 project and can confirm this bug with 100% reproducibility. Moreover, t**he new designer d

[2020-09-21 21:36] ab-tools commented on #3958
Thanks, @kirsan31, yes, I also noticed that in the meantime: The new designer simply deletes all global image resources from the designer file.

[2020-09-21 21:52] vladimir-krestov commented on #2786
Resolved by #3866

[2020-09-21 21:52] #2786 closed

[2020-09-21 22:36] vladimir-krestov commented on #3897
@merriemcgaw I prepared the fix (#3969), we need to raise `Text_TextChangedEvent` only to Narrator shows the blue rectangle correctly like in RichTextBox.
I think we can add this to .Net 5.0 as part of adding Text pattern

[2020-09-22 00:44] merriemcgaw commented on #3658
@Jessie-Zhang01 can you test this out with NVDA?

[2020-09-22 00:48] merriemcgaw commented on #3659
.NET 6.0 issue now.

[2020-09-22 01:24] merriemcgaw commented on #3683
@vladimir-krestov do labels show that they support the text pattern? In this case I think they're referring to the group labels, and if that's the case I don't see why test pattern is needed.

[2020-09-22 01:36] vsfeedback opened #3971 "WInForms TGA support"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/823406/winforms-tga-support.html)._

---
Would like for VS2019 WinForms to support TGAs at least as much as it supports other image formats. Simply displaying a TGA in a picturebox would be a good start.

---
### Original Comments

#### Feedback Bot on 11/18/2019, 06:12 PM:

T

[2020-09-22 01:39] Olina-Zhang commented on #3971
This is from external suggestion ticket, and @merriemcgaw wants to add it in here to track.

[2020-09-22 02:48] stevenbrix commented on #1855
WinUI *is* the native OS controls for Windows10. Is there a chance you could work with WinUI to layer WinForms on top of WinUI?

[2020-09-22 05:09] RussKie commented on #1855
Windows Forms is based on Win32, which isn't what WinUI is (directly) based off. Project Reunion is what supposed to bridge these two, but it is yet to be seen how this will play out.
This is not on our immediate roadmap either.

[2020-09-22 06:45] RussKie commented on #3686
I've cloned and restored the solution on my personal laptop (which isn't connected to the corp network in anyway) without issues:
[code]

From your logs this looks like the issue:
[code]

I don't what exactly is causing it, a quick search suggests this may be to do with SSL certs in our auth chain. This may happen in corporate environments, or if you behind a proxy...

[2020-09-22 07:17] RussKie commented on #3962
On further inspection this appears to be a significantly worse problem - listview in a virtual mode is totally unusable.
Investigating.

[2020-09-22 07:45] RussKie commented on #3962
The regression was introduced in #3224, specifically in 716d1af111818cce43194840971e65faa5f89415.

[2020-09-22 09:19] John-Qiao opened #3975 "Cannot change the BackColor of ToolStrip control"
* .NET Core Version:
.NET 5.0.100-rc.2.20471.13

* Have you experienced this same bug with .NET Framework?:
No

**More Info:**

1. This is a regression issue, it does not occur in .NET SDK 5.0.100-Preview.8.20417.9, it start from .NET 5.0 RC1.
2. This issue also can reproduce in the Properties window(design mode).

**Problem description:**

Cannot change the BackColor of ToolStrip control
![core](

[2020-09-22 09:21] Jessie-Zhang01 commented on #3658
@merriemcgaw verified this issue with .Net SDK 5.0.100-rc.2.20471.16, NVDA does not read the image description of the existed image in the DataGridViewImageColumn.
![image](https://user-images.githubusercontent.com/45864649/93861401-076c1e00-fcf3-11ea-9be8-a346236a1d1d.png)

[2020-09-22 09:47] yvz5 commented on #3686
So I checked my network and found nothing blocking the url. I dont have firewall nor proxy. I am able to download public nuget packages. I am also able to call curl with https endpoints.
Then I tried building on a freshly installed pc and it worked. Same network, different machines. Anyway, I will work on this new machine :) @RussKie Thanks for your time.

[2020-09-22 17:09] dreddy-work commented on #3958
Seems something regressed. Need to check the serialization.

[2020-09-22 19:36] JeremyKuhne commented on #3975
Appears to have been introduced here: https://github.com/dotnet/winforms/commit/6200def6834ec7772567b2e814c41d4d11c108ed#diff-1db24b8cc62d33e03991e772250a1aa6

[2020-09-22 21:09] weltkante opened #3979 "Cursor cannot load all supported file formats"
**.NET Core Version:**
all .NET Core and Desktop Framework

**Have you experienced this same bug with .NET Framework?:**
Yes

**Problem description:**

Loading a cursor making use of alpha transparency by filename or stream does not work correctly when done through WinForms and produces a black cursor image (possibly the cursor mask instead of the actual cursor?)

![grafik](https://user-images.git

[2020-09-22 21:46] JeremyKuhne commented on #3975
Or maybe not- narrowing

[2020-09-22 22:04] JeremyKuhne commented on #3975
It appears to be this one: https://github.com/dotnet/winforms/commit/a6a308fa452770caafca55ee4d8ac54d1ee1015d

It does draw the right color for the background then ends up painting over it. Not immediately clear what is causing this.

[2020-09-22 23:47] merriemcgaw commented on #3975
@John-Qiao  How is this behaving in HC mode? Does the ToolStrip turn the appropriate colors?

[2020-09-23 01:44] Olina-Zhang commented on #3680
Yes, we have updated the AccessibleName for toolStripProgressBar in sample app from GH winforms repo, so close this issue.

[2020-09-23 01:44] #3680 closed

[2020-09-23 04:50] JeremyKuhne commented on #3975
I found the cause and fixed it. I will have a PR up tomorrow. The problem affects anything that relies on clipping or transforms to do rendering...

[2020-09-23 06:47] RussKie opened #3982 "Review use of `CA1837` warning - Use 'Environment.ProcessId'"
To update the underlying SDK/toolsets to 5.0-RC1 we had to suppress `CA1837 // Use 'Environment.ProcessId'` in https://github.com/dotnet/winforms/pull/3959/commits/9dfaaa152b889f2040f646697dfb31c77d7058e8.

https://github.com/dotnet/winforms/blob/ec688d7d10409fe3566e8eebaa066b962f38d9cb/src/System.Windows.Forms/src/System/Windows/Forms/ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObject.c

[2020-09-23 06:49] RussKie opened #3983 "Review use of `CA1838` warning - Avoid 'StringBuilder' parameters for P/Invokes"
To update the underlying SDK/toolsets to 5.0-RC1 we had to suppress `A1838 // Avoid 'StringBuilder' parameters for P/Invokes` in https://github.com/dotnet/winforms/pull/3959/commits/9dfaaa152b889f2040f646697dfb31c77d7058e8.

https://github.com/dotnet/winforms/search?q=CA1838

The suppression needs to be reviewed, and corrected.

[2020-09-23 06:50] DmitryGaravsky opened #3984 "The WM_WINDOWPOSCHANGING message is changed dramatically when HighDpiMode.PerMonitorV2 is enabled for the application"
## Description
Processing of the [WM_WINDOWPOSCHANGING ](https://docs.microsoft.com/en-us/windows/win32/winmsg/wm-windowposchanging) message is changed dramatically when the HighDpiMode.PerMonitorV2 option is enabled for the application.
In this mode, the [WINDOWPOS](https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-winuser-windowpos) structure, which contains information about the win

[2020-09-23 09:33] grinrag commented on #3985
the TFM version is here https://github.com/dotnet/winforms/blob/ec688d7d10409fe3566e8eebaa066b962f38d9cb/pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/template.json#L36

[2020-09-23 09:54] John-Qiao commented on #3975
@merriemcgaw @JeremyKuhne we did a full controls testing with the private dlls for PR [3956](https://github.com/dotnet/winforms/pull/3956), yes, the **BackColor** property of ToolStrip control cannot be changed in both Non-HC mode and HC mode, and the **ForColor** property of ToolStripStatusLabel/Label/LinkLabel/TextBox/ToolStrip controls does not display based on it was set in app(with and withou

[2020-09-23 10:32] RussKie commented on #1199
I'm flat out busy with prep'ing the 5.0 release, and I don't have any capacity for this until we ship. Sorry for the delay.

[2020-09-23 14:35] SergeySmirnov-Akvelon opened #3987 "The element added to the group is not displayed in the ListView after adding of group"
* .NET Core Version:
- 5.0.100-rc.1.20420.14

* Have you experienced this same bug with .NET Framework?:
- No

**Repro steps:**
1. Create application with ListView.
2. Create ListViewGroup
3. Add ListViewItem to ListViewGroup
4. Add ListViewGroup to ListView.

**Actual:**
ListViewItem is not displayed in ListView. Probably is reproduced because ListItemView has no ListView.  I think ListView shoul

[2020-09-23 17:45] ViktorHofer opened #3989 "Winforms is still using netcoreapp5.0 instead of net5.0 as the TargetFramework"
We embed the TargetFramework value in the assembly's metadata as part of the `TargetFrameworkAttribute`. I noticed that both winforms and wpf are still using netcoreapp5.0 as the tfm which got replaced by net5.0.

Do we know who reads that attribute and if we need to fix this before we ship?

cc @RussKie @JeremyKuhne @Tanya-Solyanik @ericstj

[2020-09-23 18:07] ericstj commented on #3989
I checked a default project and it also gets the value of
[code]

So perhaps this is a complete non-issue.  Do you see anywhere else a binary might "observe" the difference of the project using `netcoreapp5.0` vs `net5.0` and record it in its final output?

[2020-09-23 18:20] ViktorHofer commented on #3989
I should have double checked as I assumed the short moniker is written into the metadata. I believe that runtimeconfig.json and other places use the net5.0 value instead but need to verify.

[2020-09-23 18:47] ericstj commented on #3989
No worries, I assumed the same.  I diffed a simple class library and didn't see any observable difference between `net5.0` and `netcoreapp5.0` so it might be fine.

[2020-09-23 20:51] RussKie commented on #3989
Thank you for checking.
Is there anything we need to do, or should I close?

[2020-09-23 23:49] JeremyKuhne commented on #3856
Failed again: https://dev.azure.com/dnceng/public/_build/results?buildId=828192&view=ms.vss-test-web.build-test-results-tab&runId=26395620&resultId=105198&paneView=debug

[2020-09-23 23:54] JeremyKuhne opened #3992 "TrackBarAccessibilityObject_Value_Set_GetReturnsExpected failing in CI"
https://dev.azure.com/dnceng/public/_build/results?buildId=828192&view=ms.vss-test-web.build-test-results-tab&runId=26395620&resultId=105201&paneView=debug

[code]

[2020-09-24 00:00] #3953 closed

[2020-09-24 00:00] #3945 closed

[2020-09-24 00:04] #3931 closed

[2020-09-24 00:06] #3944 closed

[2020-09-24 01:27] Zheng-Li01 commented on #3987
The issue [3439](https://github.com/dotnet/winforms/issues/3439)

[2020-09-24 06:06] ViktorHofer commented on #3989
I would clean this up and replace all netcoreapp5.0 instances with net5.0 but only in master.

[2020-09-24 06:21] RussKie commented on #3918
Another similar failure:
[code]

There's a [memdump available](https://dev.azure.com/dnceng/_apis/resources/Containers/5163461/Windows_NT_Windows%20Release?itemPath=Windows_NT_Windows%20Release%2Fdotnet.exe.3788.dmp)

The failing stack trace is as follows:
[code]

[2020-09-24 12:08] yvz5 commented on #3642
@RussKie  may I get this issue as well ?

[2020-09-24 15:07] AdamYoblick opened #3998 "Update intellisense package"
Intellisense package needs to be updated for winforms and wpf. Doing winforms first, then will work with the wpf team.

[2020-09-24 15:14] AdamYoblick commented on #3998
Here's the process I followed:

1. I followed the steps written by Vatsan at https://github.com/dotnet/winforms/blob/master/docs/intellisense.md
   - The Intellisense artifacts link was sent via e-mail (https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=162296&view=artifacts&type=publishedArtifacts)
2. I didn’t have access to the netcorenativeassets blob, so MattGal uploaded for

[2020-09-24 16:03] hughbe commented on #3987
Self contained test:
[code]

Failures:
1. `item.ListView` is `null`
[code]

1. `control.Items` is empty
[code]

[2020-09-24 16:18] hughbe opened #4001 "ListViewGroupCollection.Add can cause corruption adding a group already added to another ListView"
* .NET Core Version:
Master

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

- Add a `ListViewGroup` to `listView1.Groups`
- Add the same `ListViewGroup` to `listView2.Groups`

See below test:

[code]

**Expected behavior:**
Which one? I don't really know!
- We throw an `ArgumentException` or `InvalidOperationException` when adding/inserting/setting?
- Do

[2020-09-24 16:59] RussKie commented on #3642
Sure!
Holler if you get stuck

[2020-09-24 17:54] JeremyKuhne commented on #3918
Bizarre. I'll look closer today to see what I can figure out.

[2020-09-24 18:17] JeremyKuhne commented on #3975
Fixed in RC2 with #3993

[2020-09-24 18:17] #3975 closed

[2020-09-24 19:58] weltkante commented on #4001
Probably want to check what ControlCollection does and keep this one consistent? (I don't know it on top of my head either, but I think it either throws or moves the control)

[2020-09-24 20:50] JeremyKuhne commented on #3456
Failed again:

[code]

[2020-09-24 23:25] JeremyKuhne commented on #3971
GDI+ doesn't support TGA (System.Drawing.Image). WIC doesn't support this either. Without some native Windows support having this support in WinForms isn't very plausible. Demand would have to be very high to take an external image library dependency.

[2020-09-24 23:25] #3971 closed

[2020-09-24 23:36] merriemcgaw commented on #3966
Thank you for your suggestion! At this stage, this doesn't fit with the current roadmap and significant effort will be required to analyze the possibilities. For now we're going to close this, but should we get a lot of customer feedback asking for this flexibility we will absolutely consider bringing it up from the backlog.

[2020-09-24 23:36] #3966 closed

[2020-09-24 23:38] merriemcgaw commented on #3958
Should this be tracked on the designer side @dreddy-work ?

[2020-09-24 23:39] merriemcgaw commented on #3957
This is fixed for 5.0 RC2 and needs to be ported.

[2020-09-24 23:39] swapniljha001 commented on #3982
Hello @RussKie what is the issue here, how may I resolve this issue?

[2020-09-24 23:45] merriemcgaw commented on #3905
#3808 has the fix for this.

[2020-09-24 23:48] merriemcgaw commented on #3904
@Olina-Zhang can you test with the most recent template changes (latest SDK).
@phenning , can you provide guidance for how we get these to have the correct icons?

[2020-09-24 23:51] merriemcgaw commented on #3895
Is AccessibleName available for the child elements of the ToolStrip and StatusStrip? If you can set up the appropriate names in the sample app, that is what I'd recommend.

[2020-09-24 23:52] merriemcgaw commented on #3893
@KlausLoeffelmann can this be closed now?

[2020-09-24 23:55] merriemcgaw commented on #3860
@vladimir-krestov can this be closed now?

[2020-09-24 23:58] merriemcgaw commented on #3856
Not deterministic, and fails every day or two. We should disable in 5.0 and get it fixed for 6.0p1

[2020-09-24 23:59] merriemcgaw commented on #3856
@vladimir-krestov this is pretty important. Can you focus on it next?

[2020-09-25 00:01] merriemcgaw commented on #3851
This is a great feature suggestion, thanks so much! We'll put it on the backlog and do a holistic investigation of what else we might want out of the WindowsAPICodePack.

[2020-09-25 00:02] merriemcgaw commented on #3851
@OliaG getting this on your radar for future discussion.

[2020-09-25 00:04] merriemcgaw commented on #3778
waiting to port into 6.0p1

[2020-09-25 00:05] merriemcgaw commented on #1588
Just need to get this ported to 6.

[2020-09-25 00:06] #3908 closed

[2020-09-25 00:06] merriemcgaw commented on #3908
This has been confirmed fixed.

[2020-09-25 02:02] #3998 closed

[2020-09-25 02:11] RussKie commented on #3982
The code needs to be corrected so we can remove the warning suppression. It should be fairly straight forward, but the change must be validate using accessibility tools, such as Narrator.
To boost the confidence level you could add 2 animations - before and after the change.

@vladimir-krestov @SergeySmirnov-Akvelon can you please describe validation steps?

[2020-09-25 02:16] RussKie commented on #4001
I feel that this issue shares the same root cause with https://github.com/dotnet/winforms/issues/3987.

I think what's missing is whenever a group is added or removed from a listview, it has to update its own `ListView` reference and all its elements' `ListViewItem.ListView` property.

[2020-09-25 02:17] RussKie commented on #3987
@hughbe assigning to you since you've started on it.

[2020-09-25 02:58] Zheng-Li01 commented on #3895
@merriemcgaw, the AccessibleName is available for the child elements of the ToolStrip and StatusStrip for now, see as below screenshot, and have updated the app.
[UpdateApp.zip](https://github.com/dotnet/winforms/files/5280317/UpdateApp.zip)
![UpdateCoreIssue](https://user-images.githubusercontent.com/38325459/94221631-15ea4d80-ff1e-11ea-8080-78d3f37c29d3.PNG)

[2020-09-25 03:16] Olina-Zhang commented on #3904
@merriemcgaw  Verified in the latest .Net 5.0 RC2 build: 20474.11, this issue is fixed. Correct icon is displayed for .Net Core VB and C# Windows Forms Control Library templates in 'create a new project' dialog, see following screenshot, we can close this issue now.
![image](https://user-images.githubusercontent.com/26474449/94222643-872b0000-ff20-11ea-86c7-f33cb7b78f71.png)

[2020-09-25 03:16] #3904 closed

[2020-09-25 03:31] Jessie-Zhang01 commented on #3659
The brightness contrast of controls boundary line is less than 3:1 on "Categorized", "Alphabetical" and " Property Pages" for property page. Please see following details:

**PropertyGrid:**(Blue, Dark, Light VS themes have same results )
![image](https://user-images.githubusercontent.com/45864649/94221779-5cd84300-ff1e-11ea-92bb-25714a904e21.png)

**Properties window:**
Blue theme:
![image](https:

[2020-09-25 05:48] #3682 closed

[2020-09-25 05:58] SenthilKumaranRajan commented on #3300
Hi @RussKie ,

No, the bug is due to the designer mode condition is not working for NetCore projects.

Just suggest us the way to find the designmode condition as like in .NetFramework.

[2020-09-25 06:47] RussKie commented on #3300
Can you please provide more information?

The behaviour hasn't changed since .NET 1.1: https://docs.microsoft.com/dotnet/api/system.componentmodel.component.designmode?view=netframework-1.1#remarks

[2020-09-25 07:13] SenthilKumaranRajan commented on #3300
We have a problem with finding the design time in NetCore project.  I have prepared the simple example for this.

`  public class MyControl : Control
    {
        public MyControl()
        {
            if (LicenseManager.UsageMode == LicenseUsageMode.Designtime)
            {
                MessageBox.Show("Design");
            }
            else
            {
                MessageBox.Show(

[2020-09-25 08:19] kirsan31 commented on #3951
When consider this, may be take in to account ability to set selection fore/back color too?

[2020-09-25 08:27] RussKie commented on #3895
@Zheng-Li01 so is there any action in the runtime expected?

[2020-09-25 08:52] Zheng-Li01 commented on #3895
Just modified the app based on Merrie's suggestion, and It won't stop the original problem from happening that the error still appeared.

[2020-09-25 09:36] eriawan commented on #3985
@merriemcgaw
Could you assign this issue to me? Thanks in advance 🙂

[2020-09-25 10:21] vladimir-krestov commented on #3982
To check the correctness of using `Environment.ProcessId` I made this:

![image](https://user-images.githubusercontent.com/49272759/94255333-bea1a880-ff30-11ea-8eeb-e786f9a1ce78.png)

Then I run Inspect and check these properties:

![image](https://user-images.githubusercontent.com/49272759/94255797-7c2c9b80-ff31-11ea-867c-f4a11cce24f5.png)

So we can use `Environment.ProcessId` instead `Process.G

[2020-09-25 10:27] hughbe commented on #3982
Should we consolidate `Kernel32. GetCurrentProcessId`, `Environment.ProcessId` and `Process.GetCurrentProcess().Id`

[2020-09-25 17:02] merriemcgaw commented on #3322
Removing accessibility tags as conversation with @guybark indicates that our controls don't need to meet that boundary requirement because they are rather easy to figure out on their own.

[2020-09-25 18:02] merriemcgaw commented on #3895
Then it looks like we have at least an investigation. I'll keep it open and get it prioritized in our Accessibility project.

[2020-09-25 21:47] RussKie commented on #3982
I'd go for `Environment.ProcessId`.
What are your preference @JeremyKuhne  @hughbe @weltkante?

[2020-09-25 21:53] JeremyKuhne commented on #3982
`Environment.ProcessId` is a simple cached value so it is probably the best given it is the ".NET" way of doing it.

[2020-09-27 09:19] John-Qiao commented on #3975
Verified the issue in Dev16 16.9.0 Preview 1.0 [30525.185.main] + .NET 5.0.100-rc.2.20476.4 from RC2 branch , this issue has been fixed that the BackColor can be changed for ToolStrip control successfully.
![TestResult](https://user-images.githubusercontent.com/45864985/94361265-9313ef00-00e5-11eb-91a3-e00c57a13a0e.png)

[2020-09-27 17:32] KlausLoeffelmann commented on #3893
Yes. Fixed with #3940.

[2020-09-27 17:32] #3893 closed

[2020-09-28 00:34] paul1956 commented on #2608
@KlausLoeffelmann @KathleenDollard This is fixed in 5.0.0-rc.2.20466.10, the Framework forms are now source compatible with Core and they just work without required changes. (Ignoring the new default font which effects every Form) and a very minor issue below.

In Framework My.Application.Info.Title "Application" is REQUIRED, in .NET "Application" is not needed IDE0002.

I will not close but IMO i

[2020-09-28 02:24] RussKie commented on #3918
[Another failure](https://dev.azure.com/dnceng/public/_build/results?buildId=833147&view=results) (Release/x64) but with a different error:
[code]

[2020-09-28 02:57] Marie-Shi commented on #3944
Verified this issue with 5.0.100-rc.2.20477.2 from 5.0 RC2 branch, it is fixed. Now ControlPaint.DrawBorder dashed and dotted styles can render correctly.
![1](https://user-images.githubusercontent.com/45864017/94386085-627d9500-0179-11eb-8487-84ea4264c762.png)

[2020-09-28 03:00] Marie-Shi commented on #3945
Verified this issue with 5.0.100-rc.2.20477.2 from 5.0 RC2 branch, it is fixed. Now ControlPaint.DrawBorder can draw correctly, the lower right pixel is fine.
![2](https://user-images.githubusercontent.com/45864017/94386207-abcde480-0179-11eb-9d2b-ee50a0e2b9f9.png)

[2020-09-28 07:24] #3860 closed

[2020-09-28 07:40] John-Qiao commented on #3953
Verified the issue in Dev16 16.9.0 Preview 1.0 [30527.11.main] + .NET 5.0.100-rc.2.20477.2 from RC2 branch , this issue has been fixed as below:
![TestResult](https://user-images.githubusercontent.com/45864985/94404080-fb73d680-01a0-11eb-86af-99c02dc8383c.png)

[2020-09-28 07:47] Lydia-Shi commented on #3931
Verified this issue with 5.0.100-rc.2.20477.2 from 5.0 RC2 branch, it issue is fixed that NumbericUpDown control displays correctly.
![NumberUpDown](https://user-images.githubusercontent.com/54019172/94404554-ce73f380-01a1-11eb-8454-830e1713e82a.gif)

[2020-09-28 10:50] John-Qiao opened #4017 "The drew size grip has extra pixels outside the bounds in the upper right corner when setting some specific width & height values for Rectangle object in ControlPaint.DrawSizeGrip method"
* .NET Core Version:
5.0.100-rc.2.20477.2

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info:**

1. It's not a regression issue, this issue occurs in .NET Framework and .NET Core 3.1 too.
2. If set the width & height values to (100, 100) or (120, 120) or (140, 140) or (160, 160) or others, this issue will not occurs.
3. If set the width & height values to (110, 110) or (1

[2020-09-28 12:14] vladimir-krestov commented on #3856
@merriemcgaw I couldn't reproduce this issue locally using VisualStudio and cmd. I didn't catch this bug running the single test or all tests.
Should I add [Skip] attribute to this test for .Net 5.0 and try to fix it in the future in .Net 6.0 scope?

[2020-09-28 12:14] SergeySmirnov-Akvelon opened #4019 "The "ListView" property is not set for a ListViewGroup when a ListViewItem with this ListViewGroup is added to the ListView"
**Is your feature request related to a problem? Please describe.**
If user creates ListViewGroup, creates ListViewItem that linked to this ListViewGroup and adds ListViewItem to ListView then ListViewGroup does not appear in ListView. As a result ListView has ListViewItem linked with a ListViewGroup that is not associated with ListView. After execution of following code:
[code]
ListViewGroup will

[2020-09-28 13:17] preetipadalia opened #4020 "Unable to identify scroll bar "Page down" or other internal scroll bar object using UIAutomation"
* .NET Core Version: 3.0.1.302

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
 scroll bar page down, page up buttons are unidentifiable using .netcore3.1. The same was working with net472.
![image](https://user-images.githubusercontent.com/36397242/94436977-c5dbe700-01ba-11eb-8655-d66adbba995f.png)

**Expected behavior:**
It should identify the objects wit

[2020-09-28 13:23] RussKie commented on #3856
The issue is intermittent, yet persistent. We had a number of builds failed citing this tests as a culprit.
Skip it in release/5.0 branch.

[2020-09-28 15:36] KlausLoeffelmann commented on #2608
That, @paul1956. I will also take a closer look at this again this week.

[2020-09-28 18:18] JeremyKuhne commented on #4017
Nice find! This isn't something that we'd want to touch as there isn't a lot of value and the fix probably isn't simple. It does illustrate a good test case- values that are odd numbers or can't be split in to two even numbers.

[2020-09-28 18:18] #4017 closed

[2020-09-28 20:41] merriemcgaw commented on #3322
I didn't know if we wanted to keep this open to evaluate as we look at the theming work we're considering.

[2020-09-28 22:07] paul1956 opened #4023 "Winforms .Designer file corrupted when it contains User Control"
**Visual Studio Version**:
Version 16.8.0 Preview 3.1
**Summary**:
If you open a Form with a reference to a  UserControl in Design view, make no changes and close the Designer. all the UserControl properties that are set in Designer are deleted (everything except the first and last line below)
The first and last line are changed to add the Namespace from the project file which caused the fill name

[2020-09-29 01:06] davkean commented on #4023
I've moved this over to the Windows Forms repro for now for first look. @KlausLoeffelmann @merriemcgaw

[2020-09-29 01:43] merriemcgaw commented on #4023
@Olina-Zhang can you confirm whether this is a VB.NET only issue, or C# too.

[2020-09-29 01:43] KlausLoeffelmann commented on #4023
Thanks @davkean, will take a look!

[2020-09-29 01:55] merriemcgaw commented on #3856
@RussKie that seems reasonable to me.

[2020-09-29 03:53] paul1956 commented on #4023
Two separate issue, the extra addition of the NameSpace is different in C# and VB and happens then the VB project has a RootNamespace. I did not try it with C# having a RootNameSpace (not sure that is even supported), without a RootNameSpace this issue does not happen in either language.

The C# Form will not allow me to add the user control and after the error below the Form is unchanged
![image]

[2020-09-29 03:55] davkean commented on #4023
File the other one as a separate bug under this repo with a repro project.

[2020-09-29 09:30] Zheng-Li01 commented on #4020
@preetipadalia, failed to reproduce the issue with .NET Core SDK 3.1.402 came with the VS 16.7.4 & 5.0.100.rc.1.20452.10 came with the VS 16.8.0 Preview 3.1, could you please try to update your VS or try to upgrade your SDK version from https://dotnet.microsoft.com/download/dotnet-core to see if the issue still on here.

**Repro Steps:**
1. Create a Core winforms project with a VScrollbar contorl.

[2020-09-29 09:38] preetipadalia commented on #4020
@Zheng-Li01 I am sorry if I confused you.  I can also see those objects using inspect tool. Let me reiterate my issue.
We are automating windows Desktop applications using UIAutomation library. We were using net472 previously and now switched to .net core 3.1.

csproj file entries:

[code]

We are using the following code to identify the objects at runtime using UIAutomation library.
[code]

Most

[2020-09-29 09:49] Zheng-Li01 commented on #4023
@paul1956, failed to reproduce the issue, please check below reproduce steps & GIF to point out if missed anything on there.
**Repro Steps:**
1. Open a exist VB core project, and then open the Form1.VB[Design].
2. The Form1 designer contains a usercontrol.
3. Make no changes and close the Form1 Designer.
4. Check the code in the Form1.Designer.vb & UserControl1.Designer.vb files.

Everything seems

[2020-09-29 10:59] paul1956 commented on #4023
@Zheng-Li01 clone https://github.com/paul1956/CSharpToVB, open Form1 in designer, close Form1 and save and you will see all the issues. My controls inherit from "Control" not UserControl. and all the forms in this project works correctly in Framework.
Form1 before opening in designer
[code]
Errors after opening in designer
![image](https://user-images.githubusercontent.com/12789369/94549683-7243ba

[2020-09-29 12:49] vladimir-krestov commented on #3925
The regression was added in .Net Core 3.1 in 4c0522e03b13e6a1c4412486643c148b1fd4ce41 commit.
If to revert changes for DGVTextBox then AccessiblityInsights works well.
It is risky for 5.0 so moved to 6.0.

[2020-09-29 23:28] filipnavara opened #4026 "Designer doesn't work for 32-bit projects"
* .NET Core Version: 3.1, 5.0 RC1

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

The new WinForms designer seems to always run as 64-bit process. This causes an issue when the application that is being developed is targeted to use 32-bit runtime (eg. `<RuntimeIdentifier>win-x86</RuntimeIdentifier>` specified in .csproj file). The designer process then tri

[2020-09-30 00:12] Tanya-Solyanik opened #8838 "FontConverter never generates parameter for GdiVerticalFont value"
### Description

This is ported from https://github.com/dotnet/winforms-designer/issues/2350

#### Winforms Designer scenario:
Create a Winforms .Net Core application.
Select Form1 in the property window.
Expanf Font property for the Form.
Change the GdiVerticalFont property value from False to True under the Font node.

Result:
The following constructor is generated:
this.Font = new System.Drawin

[2020-09-30 01:56] Olina-Zhang opened #4028 "[Accessibility] AccessibilityInsight for ListView: An element of the given ControlType must not support the Table pattern"
* .NET Core Version:
.Net SDK 5.0.100-rc.2.20477.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Open the attached WinFormsApp9.zip application in VS, then build and run it.
[WinFormsApp9.zip](https://github.com/dotnet/winforms/files/5302743/WinFormsApp9.zip)
2. Open AccessibilityInsight tool to focus on ListView control to get result

**Actual behavior:**

[2020-09-30 02:37] Olina-Zhang opened #4029 "[Accessibility] Narrator cannot announce the check/uncheck state of ListView item when enabling listView checkBox property"
* .NET Core Version:
.Net SDK 5.0.100-rc.2.20477.2
* Have you experienced this same bug with .NET Framework?:
No
* More info
This is a regression issue, cannot repro in .Net Core 3.1

**Minimal repro:**
1.	Open the attached WinFormsApp9.zip application in VS, then build and run it.
[WinFormsApp9.zip](https://github.com/dotnet/winforms/files/5302826/WinFormsApp9.zip)
2.	Launch Narrator to focus on

[2020-09-30 02:52] Olina-Zhang opened #4030 "Accessibility] Narrator cannot focus on a ListView for the second time(1 listView on form) or the second listView control( 2 listViews on form)"
* .NET Core Version:
.Net SDK 5.0.100-rc.2.20477.2

* Have you experienced this same bug with .NET Framework?:
No

* More info
This is a regression issue, cannot repro in .Net Core 3.1

**Minimal repro:**
1.	Open the attached WinFormsApp9.zip application in VS, which contains 2 ListViews on form, then build and run it.
[WinFormsApp9.zip](https://github.com/dotnet/winforms/files/5302869/WinFormsApp

[2020-09-30 02:58] RussKie commented on #4026
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2020-09-30 02:59] Jessie-Zhang01 opened #4031 "[Accessibility] An element of the given ControlType must support the Text pattern when the DataGridViewTextBoxCell is not in the editing state"
* .NET Core Version: .Net SDK 6.0.100-alpha.1.20479.7

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**

1. Open the attached [DataGridViewTextBoxCell.zip](https://github.com/dotnet/winforms/files/5302789/DataGridViewTextBoxCell.zip) application in VS, then build and run it.
2. Open Accessibility Insights and test the Column1 in Form.

**Expected behavior:**
An el

[2020-09-30 03:09] RussKie commented on #4020
@preetipadalia as I have already point at https://github.com/dotnet/core/issues/5194#issuecomment-695955384 you're using WPF libraries in this sample.
We can look at issues pertaining to Windows Forms implementations, however WPF-related issue must be raised in the [WPF repo](https://github.com/dotnet/wpf).

[2020-09-30 03:26] Olina-Zhang opened #4032 "Incorrect ListView subitem ControlType in edit mode"
* .NET Core Version:
.Net SDK 5.0.100-rc.2.20477.2

* Have you experienced this same bug with .NET Framework?:
No

* More Info
This is a regression issue, cannot repro in .Net Core 3.1

**Minimal repro:**
1. Open the attached WinFormsApp9.zip application in VS, then build and run it.
[WinFormsApp9.zip](https://github.com/dotnet/winforms/files/5302987/WinFormsApp9.zip)
2. Launch Inspect to focus on

[2020-09-30 03:28] Jessie-Zhang01 commented on #4031
Take the following Guy Barker‘s suggestion as a reference from VSO bug: [1159872](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1159872)
Hi all, by default I'd say that a TextBox should support the Text pattern when editable and when read-only.  The image below shows the UWP XAML Controls Gallery app, with Narrator positioned at a word in a read-only TextBox. A customer can use Capslock+J/K/

[2020-09-30 05:15] Olina-Zhang opened #4033 "[Accessibility] Keyboard cannot check/uncheck listView items when enabling listView checkBox property in Virtual Mode"
* .NET Core Version:
.Net SDK 5.0.100-rc.2.20477.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Open the attached ListViewInVirtualMode.zip application in VS, then build and run it.
[ListViewInVirtualMode.zip](https://github.com/dotnet/winforms/files/5303187/ListViewInVirtualMode.zip)
2. Focus on ListView item, press Space to check/uncheck it in its checkB

[2020-09-30 05:44] Amy-Li03 commented on #4023
@paul1956 after clone the solution: https://github.com/paul1956/CSharpToVB, we can reproduce this issue. Open the Form1 designer, then close it and save, the codes about LineNumbersForConversionInput and LineNumbersForConversionOutput are missing. Also we found that when drag and drop the LineNumbersForRichTextBox from toolbox to form1 designer, an error dialog will pop up as you mentioned above.

[2020-09-30 07:28] filipnavara commented on #4026
While I can do it through the VS Feedback tool this seemed easier because I could clearly reduce it to the underlying cause and provide a project that reproduces the error.  It was tested on Visual Studio 16.8.0 Preview 3.0 but the issue was present in all the previews so far.

[2020-09-30 07:55] filipnavara opened #4034 "Designer generated RESX files use new type names"
* .NET Core Version: 3.1, 5.0 RC1
* Visual Studio Version: 16.8 Preview 3.0
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

The RESX file generated by the designer uses internal type names from System.Private.CoreLib. Likewise, it uses new type names from System.Drawing.Primitives instead of the old System.Drawing. This prevents sharing the generated code w

[2020-09-30 10:46] weltkante commented on #4034
Some side note: binary serialization (which is used by resx, not here but in other cases) is going to be deprecated in a few versions, so sooner or later, perhaps as soon as .NET 6, there will be another breaking change in the format when WinForms introduces a new system for serialization.

Maybe align the breaking changes so they happen together? Use the Desktop Framework type names for now to re

[2020-09-30 10:56] weltkante commented on #4026
This team is not working on the designer, so while it may be easier for you, it isn't for the team fixing the bugs ;)

[2020-09-30 10:59] filipnavara commented on #4034
Btw, looks like the system types are already decorated with `TypeForwardedFrom` (with `mscorlib`) too. So simply using the information in the attribute would fix both of the mentioned cases.

@weltkante This was already somewhat breaking change in .NET Core 3.x where the resource file format was changed. Instead of serializing/deserializing during the build time the RESX content is converted to th

[2020-09-30 11:01] #3573 closed

[2020-09-30 11:01] #1588 closed

[2020-09-30 11:01] #3683 closed

[2020-09-30 11:01] #3033 closed

[2020-09-30 11:05] filipnavara commented on #4026
@weltkante That's not the messaging that I got for the past 2 years (both on this repository and in conversations elsewhere). Part of the design-time stack and some documentation is hosted in this repository so naturally it's the place where I report it. I am happy to report the issue through the VS Feedback tool but tracking the problems in two separate places is not helpful at all from the custo

[2020-09-30 11:17] weltkante commented on #4034
Ah, ok, wasn't aware since I've not yet ported any controls which need this. So basically any form containing controls relying on binary serialization are already not shareable? Then its fine to ignore my comment above.

[2020-09-30 11:24] paul1956 commented on #4023
@Amy-Li03 does that mean there is an issue or not? All the forms and controls came from a framework project and all work as expected there.

[2020-09-30 11:24] filipnavara commented on #4034
@weltkante It is sharable but through somewhat different mechanism. I am not necessarily saying that there is no binary serialization at all, just that it doesn't happen during the build time and if it happens at all then it's at different point. There's a [NuGet package](https://www.nuget.org/packages/System.Resources.Extensions/) that contains the `System.Resources.Extensions.DeserializingResour

[2020-09-30 12:51] RussKie commented on #4026
A little correction - there's one team that looks after Windows Forms. However the team's focus is currently split into two streams - the runtime (this repo, with me guarding it), and the designer.

As I said above this repo is for the runtime aspects of the Windows Forms, the designer is built in a different repo, and reports for issues need to go through the VS Feedback channel. That channel col

[2020-09-30 13:23] filipnavara commented on #4026
I meant issues like https://github.com/dotnet/winforms/issues/2886 which are caused by broken code in this repository that happens to be used by the designer.

[2020-09-30 13:29] SergeySmirnov-Akvelon commented on #3957
Fix is [ported](https://github.com/dotnet/winforms/commit/6391b524dd64e7530eba986c6607bf129b3ec8ae) to master  branch

[2020-09-30 13:35] SergeySmirnov-Akvelon commented on #3962
Fix is [ported](https://github.com/dotnet/winforms/commit/6391b524dd64e7530eba986c6607bf129b3ec8ae) to master  branch

[2020-09-30 13:38] filipnavara commented on #4026
Cross-posted through VS Feedback as https://developercommunity.visualstudio.com/content/problem/1205607/net-core-winforms-designer-doesnt-work-for-32-bit.html. I am happy to do that for this kind of issues but the VS Feedback tool lacks public attachments. That makes it harder for me to share it with my coworkers.

[2020-09-30 13:45] filipnavara commented on #4034
Cross-posted to https://developercommunity.visualstudio.com/content/problem/1205609/net-core-winforms-designer-generated-resx-files-us.html. It's not exactly clear whether this is something that needs to be addressed in `ResXResourceWriter` (or similar class) or the designer code itself.

[2020-09-30 13:53] #3957 closed

[2020-10-01 00:44] RussKie commented on #4026
Thank you, I'll make sure your report gets in the team's radar.

[2020-10-01 01:19] RussKie commented on #4034
Thank you for the link, I'll make sure the team gets it.

[2020-10-01 01:25] merriemcgaw commented on #4026
@Shyam-Gupta - can you take a look at this? It doesn't seem like the expected behavior.

[2020-10-01 03:30] preetipadalia commented on #4020
Closing as raised the issue in wpf repo.

[2020-10-01 03:30] #4020 closed

[2020-10-01 05:43] #4030 closed

[2020-10-01 05:45] #3867 closed

[2020-10-01 05:46] #3778 closed

[2020-10-01 06:31] Shyam-Gupta commented on #4026
@filipnavara Instead of `RuntimeIdentifier`, could you use `<Platforms>x86</Platforms>` to specify target platform ? You can use Visual Studio Configuration Manager dialog to set target platform for the project or solution.

[2020-10-01 07:22] kirsan31 commented on #4026
Good point from @Shyam-Gupta.
![image](https://user-images.githubusercontent.com/17767561/94776696-d662ac00-03ca-11eb-9c9d-1afd8fbfb60f.png)

And strictly in your case:
![image](https://user-images.githubusercontent.com/17767561/94779601-e8931900-03cf-11eb-8493-bdef4bade8cc.png)

Also I must to notice that visual inheritance [still not working](https://github.com/dotnet/winforms/issues/3338) at ne

[2020-10-01 07:24] SergeySmirnov-Akvelon opened #4042 "ListView is in virtual mode throws IOE when user disables checkboxes"
- .NET Core Version:
.NET SDK 5.0.100-rc.1.20420.14

- Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**

1. Create application with ListView in virtual mode
2. Enable checkboxes
3. Disable checkboxes
4. Or use attached [WindowsFormsApp3.zip](https://github.com/dotnet/winforms/files/5310459/WindowsFormsApp3.zip)

![ListView - checkboxes](https://user-images.githubuse

[2020-10-01 07:50] SergeySmirnov-Akvelon opened #4044 "ListView in virtual mode doesn't throw exception when user tries to add ListViewGroup"
**Is your feature request related to a problem? Please describe.**
ListView in virtual mode does not support ListViewGroup. If user tries to add ListViewGroup then he will see an exception. But if handle for ListView is not created then user has ability to add group to ListView. As result user has workaround for adding of group ListView in virtual mode, although ListViewGroups  are not supported b

[2020-10-01 09:06] SergeySmirnov-Akvelon opened #4045 "Inspect hangs when the user creates a circular dependency for the ListViewGroup and ListViewItem"
.NET Core Version:
.NET SDK 5.0.100-rc.1.20420.14

Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1. Create application with list view.
2. Create ListViewGroup
3. Create ListViewItem linked to ListViewGroup
4. Add ListViewItem to ListViewGroup
5. Add ListViewGroup to ListView
6. Add ListViewItem to ListView
7. Run application.
8. Run Inspector.
9. Try to get data a

[2020-10-01 11:36] SergeySmirnov-Akvelon commented on #3659
Hi @merriemcgaw. Could you please clarify if we should change colors within this task? If so, should we add a dotted box for ToolStripButtons?

[2020-10-01 12:24] filipnavara commented on #4034
I checked that the default `ResXResourceWriter` behavior is not to look for the `TypeForwardedFrom` attribute. However, it provides a callback that could be used to resolve it. Also the designer seems to carry its own copy of the `ResXResourceWriter` class (in the `WinFormsSurface.Utilities.Resources` namespace). It looks like this can be solved on the designer side even retroactively for already

[2020-10-02 00:15] merriemcgaw commented on #4034
Hi @filipnavara can you tell us a bit more about your use case here? Multi-targeting of resources between versions has not previously been a primary goal, but we're interested in hearing about your scenarios. I don't think we can guarantee fidelity here, but it makes sense to potentially write the original locations to unblock the most common scenarios. This wouldn't solve all problems here but it

[2020-10-02 00:30] merriemcgaw commented on #4023
At first glance it seems like you're right, that the RootNameSpace might be playing a role here. @KlausLoeffelmann will take a look and see what the cause might be and whether there's a workaround we can recommend for the time being.

[2020-10-02 01:12] merriemcgaw commented on #3659
It looks like we've got a couple things we need to do here:

1. Update the PropertyGrid here to make sure selection rectangle meets the requirements with default settings.
2. The dark mode selection color is likely a VS specific thing. We need to investigate and get that fixed for our VS customers.
3. Find where we need to update VS or Framework to get VS PropertyBrowser to meet the criteria in al

[2020-10-02 16:37] Shyam-Gupta commented on #4026
@filipnavara I hope using `<Platforms>x86</Platforms>` would have resolved this issue. Since there is no action item left, I am closing this bug.

@kirsan31 Thank you for the validation.
Regarding inherited Forms: They should work after the application is built. If not then let me know and we can discuss it on the other [issue](https://github.com/dotnet/winforms/issues/3338).

[2020-10-02 16:37] #4026 closed

[2020-10-03 00:19] paul1956 commented on #3346
I would like to add additional information, there are two related issues. If a valid settings.Designer.VB files exists you get the error above. If there is no settings.Designer.VB File there is message/link on the Settings screen "The project does not contain a default settings file. Click here to create one". Followed by the error message shown when you click.
[https://files.gitter.im/59b31bd6d73

[2020-10-03 05:39] albahari opened #4053 "OutOfMemoryException in .NET 5, thrown from Graphics.FromHdcInternal"
* .NET Core Version:
5.0.0-rc.1.20451.14 X64

* Have you experienced this same bug with .NET Framework?:
No. Additionally, this bug does NOT occur in .NET Core 3.1.

**Problem description:**

I'm getting an OutOfMemoryException at least 5-6 times per day in an application when running under .NET 5 RC. The same application (same apart from the .runtimeconfig.json) has been running under .NET 3.1 fo

[2020-10-03 06:10] RussKie commented on #4053
Please test the RC2 or better yet the latest daily
________________________________
From: albahari <notifications@github.com>
Sent: Saturday, 3 October 2020 3:39 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [dotnet/winforms] OutOfMemoryException in .NET 5, thrown from Graphics.FromHdcInternal (#4053)

  *   .NET Core Version:
5.0.0-rc

[2020-10-03 08:48] albahari commented on #4053
Thanks for the prompt response - I've just installed the latest daily. I'll keep you posted.

[2020-10-05 05:59] kirsan31 commented on #3316
Any updates / tips for user controls? For example, currently V.S. 16.8 P. 3.2 remove all code related to [`DataVisualization.Charting.Chart`](https://github.com/dotnet/winforms-datavisualization) from `*.Designer.cs` after opening form with Chart in designer...

[2020-10-05 06:29] kirsan31 commented on #3338
@Shyam-Gupta

I've  modified [original repro](https://github.com/dotnet/winforms/issues/4026#issue-711529348) a bit: [DesignerInheritence.zip](https://github.com/dotnet/winforms/files/5325573/DesignerInheritence.zip)
V.S. 16.8 P. 3.2:

![vsi](https://user-images.githubusercontent.com/17767561/95046571-19838e80-06ed-11eb-8e55-6f55b8613d7e.gif)

[2020-10-05 11:22] paul1956 commented on #3316
@kirsan31 This may be a duplicate of #4023 or at least should be combined. It happens without licensing.

[2020-10-05 12:16] kirsan31 commented on #4023
Can confirm for c# - V.S. 16.8 P. 3.2 remove all code related to [`DataVisualization.Charting.Chart`](https://github.com/dotnet/winforms-datavisualization) from `*.Designer.cs` after opening form with Chart in designer...

[2020-10-05 15:12] cbrit commented on #3686
@yvz5 have you given up? :(

[2020-10-05 23:23] paul1956 commented on #3316
Also the comment above talks about control in separate process, for me the controls are all in the same project as the forms then are inserted in. Though at some point I want to move them each to a separate project because they are very reusable and address common WinForms requests.

[2020-10-06 06:24] yvz5 commented on #3686
@cbrit Unfortunately I don't have enough time to invest in learning the code base.
@RussKie I can't work on this anymore, sorry about that.

[2020-10-06 08:11] vladimir-krestov commented on #4029
Merged to master branch

[2020-10-06 08:11] #4029 closed

[2020-10-06 09:53] eduherminio commented on #3833
All links seem fixed now.

[2020-10-06 19:08] AndresLuga opened #4061 "Winforms availability in Visual Studio Tools for Office (VSTO)"
Please make the new Winforms available for Visual Studio Tools for Office. VSTO add-ins using C# and Winforms is a very powerful tool for extending Office, which is currently available only using legacy NET.

For more details and use cases please see:
https://developercommunity.visualstudio.com/idea/757925/please-port-visual-studio-tools-for-office-vsto-to.html?childToView=1201801

[2020-10-06 23:09] RussKie commented on #3833
Thanks for checking. Closing.

[2020-10-06 23:09] #3833 closed

[2020-10-07 06:14] weltkante commented on #4061
Currently there are no plans to interop or integrate with Office, see [here](https://github.com/dotnet/winforms/issues/1763#issuecomment-653125277) for a discussion of fixing Office Addin support which was available on Desktop Framework.

While Office Addin support and VSTO support are not the same I assume there is currently no interest and/or capacity to support either.

[2020-10-07 15:27] merriemcgaw commented on #3043
I think this falls under the same guidelines as #3322 and we don't have a compliance obligation to do this. Removing the MAS tag and leaving open if we want to cover it in some theming work in the future.

[2020-10-07 22:42] RussKie commented on #3905
Fixed by #4056

[2020-10-07 22:42] #3905 closed

[2020-10-08 13:35] SergeySmirnov-Akvelon opened #4070 "Add API for drawing dotted border around the ToolStipButton"
**Is your feature request related to a problem? Please describe.**
As a now, while navigating through Keyboard that focus is not clearly visible on "Categorized", "Alphabetical" and " Property Pages". As a result, it is difficult for people with vision problems to use these buttons. As #3659 suggested, a dotted border for these buttons would make it easier for the user to work with this control
![

[2020-10-08 15:32] rodar21 commented on #2641
What is happening to this issue - it affects Synergex too. So often extensibility is missing. another chose is to just allow Languages like Cobol and Synergy/DBL to give you there GUIDS to hard code into the list, with other open source Microsoft projects we can do this by submitting PR's.

[2020-10-08 22:40] merriemcgaw commented on #2641
We're still looking into this issue, but to be fair our priority is getting the designer functionality to parity with the classic designer, and ensuring that control vendors have the tools they need to create custom controls. We'll be revisiting this once we've got the bulk of the expected functionality in place. All I can say for now is to say "stay tuned".

[2020-10-08 22:55] spgennard commented on #2641
@rodar21 - I can understand your point of view but I expect the customers of other languages wanting to use .NET Core WInForms won't.

[2020-10-09 00:07] Tanya-Solyanik commented on #4070
@SergeySmirnov-Akvelon, could you please experiment with Office, WPF or some win32 applications (mmc.exe for example) and find out what focus indicator they use? On the one hand, we want to be consistent with the existing UI, on the other the dotted border might not be visually prominent enough. Though I can see that chrome uses the dotted line -
![image](https://user-images.githubusercontent.com/

[2020-10-09 02:58] Lydia-Shi opened #4076 "Group List not shown when multiple items are selected and editing ‘Group’ property in ListViewItem Collection Editor"
* .NET Core Version:
.Net 6.0.100-alpha.1.20506.3

* Have you experienced this same bug with .NET Framework?:
Yes

* More info:
It's not a regression issue, it also occurs in .Net core 3.1.

**Problem description:**
Group List not shown when multiple items are selected and editing ‘Group’ property in ListViewItem Collection Editor

![Verified](https://user-images.githubusercontent.com/54019172/955

[2020-10-09 06:06] #3642 closed

[2020-10-09 08:36] SergeySmirnov-Akvelon commented on #4070
@Tanya-Solyanik, the use of the dotted box was suggested by Merrie in [this](https://github.com/dotnet/winforms/issues/3659#issuecomment-666772129) comment. But anyway, this API is intended for drawing a border around ToolStripButton and allows to draw any type of border, depending on the passed parameters

[2020-10-09 09:21] Marie-Shi commented on #1588
Verified this issue with .Net 6.0.100-alpha.1.20506.3 from master branch, it is fixed. Now those controls(TextBox, MaskedTextBox, ComboBox, NumericUpDown, DomainUpDown, RichTextBox) support support the Text pattern.
![Untitled](https://user-images.githubusercontent.com/45864017/95566010-95fed000-0a53-11eb-8336-631482d35920.png)

[2020-10-09 09:43] John-Qiao opened #4079 "[Accessibility] Narrator screen reader blue rectangle is wide for a new character in ComboBox and Narrator will focus on the Combobox(RightToLeft) control rather than the new character when the length of the characters is greater than the width of the control"
* .NET Core Version:
.NET SDK 5.0.100-rtm.20508.17

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info::**

1. This issue occurs in .NET Framework too.
2. This issue occurs in the standard ComboBox control and the ToolStripComboBox/MenuStripComboBox items.

**Problem description:**

1. In step 2: Narrator screen reader blue rectangle is wide for a new character.
![Actual-1

[2020-10-09 10:58] weltkante commented on #2641
I'm worrying a bit that usability of WinForms outside of C# isn't considered "parity with classic designer". The flexibility and extensibility of the WinForms designer was its major strong point, and I'm not seeing much communication with developers how to port the design time experience of their controls or VS extensions (which includes third party languages).

Maybe more open communication would

[2020-10-09 11:25] SergeySmirnov-Akvelon commented on #4070
I have investigated several applications (Paint, Office, mms.exe). We mainly use a background color with a thin border for selection:
![4070-paint](https://user-images.githubusercontent.com/23376742/95577452-d69e1f80-0a3a-11eb-81bf-da47ff0d8e35.jpg)
![4070-office-border](https://user-images.githubusercontent.com/23376742/95577492-ec134980-0a3a-11eb-90ac-3167b7cbcc3f.jpg)
![4070-mms](https://user-i

[2020-10-09 18:26] merriemcgaw commented on #2641
We're working on blog posts to help everyone who wants to create controls so that everyone knows what the current approach needs to be. We'll also be doing blog posts about which features are coming next and giving a much better roadmap for everyone to watch. Most of this should be coming up as we gear up to ship .NET 5. We do thank everyone for their patience with the designer. It turns out that

[2020-10-09 18:33] merriemcgaw commented on #4023
Thanks @kirsan31 and @paul1956 - @Olina-Zhang can you please get a repro and open an issue in our designer repo? We'll try to get this in as soon as possible.

[2020-10-09 18:37] merriemcgaw commented on #3346
@KlausLoeffelmann should be able to update us on the current state of VB support in .NET 5/Visual Studio. We're making a lot of progress there.

[2020-10-09 19:22] KlausLoeffelmann commented on #3346
**For C#:** Settings work just fine for me in WinForms. I can add Settings, if they don't exist, and I can edit Settings. Also the Code Generator producing the Setting.Designer.cs is working just fine.
**For VB:** True, we cannot create a settings file. But you can manually insert a file at the correct location as a work around for now. Also true, you are getting the said error message on opening

[2020-10-10 01:13] paul1956 commented on #3346
Not sure I followed directions correctly, but I creates Settings.settings, filled it out using VS UI, saved and built, I now get
[code]

[2020-10-10 01:32] KlausLoeffelmann commented on #3346
3.1 or 5? C# or VB?

[2020-10-10 01:41] paul1956 commented on #3346
5 VB, I don't even try with 3.1. I only say this today when I moved a new app to Core 5 and noticed "My.Settings" type was missing. For Core 3, I have a shim that I hoped was not necessary with Core 5 so I deleted shim (below) and changed a setting so settings would be regenerated.
[code]

[2020-10-10 01:51] paul1956 commented on #3346
App.Config file that gets created
[code]

[2020-10-10 06:39] Zheng-Li01 commented on #3573
Verified the issue with latest .NET 6.0.1000-alpha.1.20506.3, the issue has been fixed that the description for  ‘UserDescriptionForTitle’ property is correct, and for 'AutoUpGradeEnable' property, the current behavior that missing the description is by design following RussKie's comments.
![IssueVerificationUpdate](https://user-images.githubusercontent.com/38325459/95647963-4e854c00-0b06-11eb-99a

[2020-10-10 07:17] Olina-Zhang commented on #3683
Verified in Net 6.0 SDK build, this issue is fixed:
![image](https://user-images.githubusercontent.com/26474449/95648665-b9855180-0b0b-11eb-9136-72dba7443037.png)

[2020-10-11 02:09] GHosaPhat commented on #146
Is there an implementation of this that contains a textbox control, similar to the exception dialog that contains the stack trace with the JIT debugger (*below*)?

![Stack Trace Dialog](https://user-images.githubusercontent.com/13453101/95668624-41834f80-0b3c-11eb-8847-103ed4100a51.png)

I'm working on rolling my own dialog like this to display details (collapsed unless the user clicks a **Show De

[2020-10-11 02:32] jnm2 commented on #146
@GHosaPhat My understanding is that the underlying Windows API locks it down to only the things shown here: https://docs.microsoft.com/en-us/windows/win32/controls/task-dialogs-overview

There might be ways of getting the window handle and adding controls yourself, but I'm not sure it would interoperate well with Windows' layout logic and it would probably be pretty hacky.

[2020-10-11 03:45] GHosaPhat commented on #146
All right. I guess "roll my own" it is, then. Thank you.

[2020-10-11 13:27] ccornici opened #4084 "ContextMenuStrip not opening when moving window on secondary display"
* .NET Core Version: 3.1

* Have you experienced this same bug with .NET Framework?: Haven't tried. I need to use .NET Core

**Problem description:**
Given
- a `WPF` app
- that uses the `WinForms` `ContextMenuStrip`
- in a `dual monitor` setup
- when moving the MainWindow to the `secondary monitor`
- the context menu does not display at all

**Expected behavior:**
The context menu is displayed

**

[2020-10-12 03:05] #3897 closed

[2020-10-12 06:02] RussKie opened #4089 "Correct `TextBox.PlaceHolderText` implementations"
**Is your feature request related to a problem? Please describe.**

The current implementation of `TextBox.TextPlaceHolderText` API added in #96/#238 suffers from a number of deficiencies and shortcomings as listed below.

1. It is unaware of the native implementation and visually inconsistent with it:
[code]
    ![image](https://user-images.githubusercontent.com/4403806/95421317-f70da180-0988-11e

[2020-10-12 12:16] SergeySmirnov-Akvelon commented on #4070
Currently, we have two ways for highlighting of focused buttons:
The first way is to highlight the button by color and border. For example Paint:
![paint](https://user-images.githubusercontent.com/23376742/95744515-19aafd80-0c9c-11eb-9e31-d457b684146b.png)
In this case the PropertyGrid will look like this:
![4070 - pg](https://user-images.githubusercontent.com/23376742/95745455-ccc82680-0c9d-11eb-

[2020-10-13 00:06] merriemcgaw commented on #3460
Let's keep this in master so we don't inadvertently get odd behavior with one icon out of all of ours that isn't consistent with the rest.

[2020-10-13 06:51] Amy-Li03 commented on #4023
@merriemcgaw have reproduced this issue on a new winforms core VB project and filed a GitHub issue: [2473](https://github.com/dotnet/winforms-designer/issues/2473) in designer repo.

[2020-10-13 06:54] kirsan31 commented on #4023
C# too ( https://github.com/dotnet/winforms/issues/4023#issuecomment-703593493 )?

[2020-10-13 07:09] kirsan31 commented on #4023
@Amy-Li03 I switched our project from 3.1 to 5.0 and from every form that contains chart control - all code related to it was removed after opening in designer.
I will try to create a repro then...

[2020-10-13 07:59] kirsan31 commented on #4023
@Amy-Li03 No need to switch to 5.0. New designer doesn't see chart at all even on 3.1:

![vschart](https://user-images.githubusercontent.com/17767561/95831856-3f8add80-0d42-11eb-8f76-8515b01c5098.gif)

Repro:
[Designer_Chart_test.zip](https://github.com/dotnet/winforms/files/5369787/Designer_Chart_test.zip)

May be we need to adopt some how  [`DataVisualization.Charting.Chart`](https://github.com/

[2020-10-13 10:17] paul1956 commented on #4023
I think there are 2 different issues here in priority order

1. My issue is the corruption of the file. This happens silently especially with controls that have no design time UI. With  DataVisualization.Charting.Chart it is obvious that something happened since it only happens when you open designer, you see it. This happens silently if you leave designer open, change tabs to anything else, close

[2020-10-13 15:38] AdamYoblick opened #4095 "Update intellisense version"
See dotnet/runtime#43235 (comment) and https://github.com/dotnet/winforms/blob/master/docs/intellisense.md

[2020-10-13 18:40] #4095 closed

[2020-10-13 21:23] merriemcgaw commented on #4023
@KlausLoeffelmann is taking a look at this issue. It should be working, so we'll take care of it.

[2020-10-14 03:03] SenthilKumaranRajan commented on #3300
HI Team,

Any updates.?

[2020-10-14 04:08] RussKie commented on #3300
@ericstj @AaronRobinsonMSFT it looks like `LicenseManager` has undergone some makeover, specifically the current implementation of [`LicenseInteropHelper`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/LicenseManager.LicenseInteropHelper.cs) looks different from [.NET Framework version](https://referencesource.microsoft.co

[2020-10-14 06:25] Jenna-Zheng commented on #3957
Verified this issue with .NET Core SDK 5.0.100-rtm.20513.7, it is fixed that this method starts to work correctly and user or program have ability to see required element after calling of "ScrollIntoView" method. please see the following gif.
![TestResult_focus](https://user-images.githubusercontent.com/64949616/95951410-f2ce0200-0e28-11eb-8fa2-b9e20316bd45.gif)

[2020-10-14 06:32] Zheng-Li01 opened #4099 "[Accessibility] An element of the given ControlType must support the ExpandCollapse pattern for DateTimePicker control"
* More info:
This is not regression issue, also can reproduce on .NET Framework & .NET Core 3.1 & NET Core 5.0.

* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20513.14

* Have you experienced this same bug with .NET Framework?:
 Yes

**Problem description:**
An error appeared for DateTimePicker control that 'An element of the given ControlType must support the ExpandCollapse pattern'.

**Minimal r

[2020-10-14 06:32] Lydia-Shi commented on #3962
Verified this issue in NET 5.0.100-rtm.20513.13, this issue is fixed. No exception is thrown when the ListView is in virtual mode and any items are selected.
![ListView](https://user-images.githubusercontent.com/54019172/95951056-4d1a9300-0e28-11eb-8215-74668751a654.gif)

[2020-10-14 06:36] John-Qiao commented on #4029
Verified the issue in Dev16 16.9.0 Preview 1.0 [30613.235.main] + .NET 5.0.100-rtm.20513.7 from 5.0RTM branch , this issue has been fixed, please check the follow screenshots:

1. Narrator: it announce the check/uncheck state of ListView item as on/off when enabling listView checkBox property.
![Narrator](https://user-images.githubusercontent.com/45864985/95952373-8d7b1080-0e2a-11eb-8701-a91967076

[2020-10-14 06:43] Zheng-Li01 commented on #3860
Verified the issue with .NET SDK 5.0.100-rtm.20513.7 that the issue has been fixed that the ToolStripTextBox support Text Patter for now. see below screenshot.
![ToolStripTextBox](https://user-images.githubusercontent.com/38325459/95952938-a7692300-0e2b-11eb-9bcd-12c786672d7c.PNG)

[2020-10-14 06:54] Zheng-Li01 commented on #3910
Verified the issue with .NET SDK 5.0.100-rtm.20513.7 that the issue has been fixed that not crashed anymore.

[2020-10-14 07:02] qmgindi opened #4100 "MSAA (IAccessible) API don't work with winforms controls in .NET 5"
MSAA API don't work in .NET 5 RC1 and RC2. Still worked in .NET 5 Preview 7.

Cannot get object from point because AccessibleObjectFromPoint fails (error "incorrect parameter"). Cannot get objects in controls because AccessibleChildren gets invalid data.

**Minimal repro:**
[code]

[2020-10-14 07:02] Zheng-Li01 commented on #2786
Verified the issue with .NET SDK 5.0.100-rtm.20513.7 that the issue has been fixed in Edit Mode that the DataGridView's edit contorl is support Text Patter for now.

And Have filed a GitHub issue: [4031](https://github.com/dotnet/winforms/issues/4031)

[2020-10-14 07:10] Amy-Li03 opened #4101 "[Accessibility] Some list items of Cursor property are displayed incorrectly in Inspect"
* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20513.14

* Have you experienced this same bug with .NET Framework?:
No

* More Info:
This is a not regression issue, it occurs after issue [2074](https://github.com/dotnet/winforms/issues/2704) fixed.

**Problem description:**
Some list items of Cursor property in Inspect are incorrect.
when focus on Hsplit list item, it should display "[Cursor: Hspli

[2020-10-14 07:11] kirsan31 commented on #3513
From yesterday rc2 [blog post](https://devblogs.microsoft.com/dotnet/announcing-net-5-0-rc-2/#comment-7635):

System.Windows.Forms.OpenFileDialog. Setting a value for the “InitialDirectory” property has no effect when running ShowDialog. **Works fine with .NET Core 3.1.**

[2020-10-14 07:28] weltkante commented on #3513
Might want to reclassify as regression then, my own test above already was against master. Must be some mistake in COM interop.

[2020-10-14 07:31] Amy-Li03 opened #4102 "[Accessibility] The LocalizedControlType of ImageAlign/TextAlign/Anchor/Dock property is inconsistent in Inspect."
* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20513.14

* Have you experienced this same bug with .NET Framework?:
No

* More Info:
This is a not regression issue, it occurs after issue [2074 ](https://github.com/dotnet/winforms/issues/2704)fixed.

**Problem description:**
The LocalizedControlType of following property is inconsistent in Inspect.
For **ImageAlign** & **TextAlign** property, it's *

[2020-10-14 07:36] weltkante commented on #3300
I think the interop licensing is for AxHost, for .NET controls this should not require any interop. Might be more of a problem of the new designer not setting up a design-time license context (considering that licx licensing story is no longer supported). The designer may have to setup a dummy license context just to support design mode detection - or just provide a new API instead.

[2020-10-14 08:16] Zheng-Li01 commented on #3033
Verified the issue with .NET SDK 5.0.100-rtm.20513.7 that the issue has been fixed that in runtime, the font of DataGridView ColumnHeaders, Cell, Rowheaders is changed as design time

[2020-10-14 08:50] kirsan31 commented on #3513
Yes, it's **regression** from 3.1. Repro (3.1 works, 5.0 - not): [OpenFileDialog.zip](https://github.com/dotnet/winforms/files/5376862/OpenFileDialog.zip)
Good to be fixed before 5.0 release. @RussKie ?

[2020-10-14 09:40] SenthilKumaranRajan commented on #3300
Yes, I like to know whey the .NET version could return an incorrect state. Also suggest me is there any other way to find the Design mode in NET core projects.

[2020-10-14 09:55] DmitryGaravsky opened #4103 "The same code that performs matrix operations produces different results in .Net Core and .Net Framework"
## Description

The code that operates on matrices produces different results in .Net Core and .Net Framework.
This issue raises tricky bugs in visual components like charts and maps that use heavy matrix calculations.

## Configuration

OS Version: Microsoft Windows [Version 10.0.18362.535]
.Net Framework Version: Microsoft (R) .NET CLR Version Tool Version 4.8.3928.0
.Net Core Version: 5.0.100-r

[2020-10-14 12:23] weltkante commented on #3300
See my [explanation](https://github.com/dotnet/winforms/issues/3300#issuecomment-630434292) above. You are supposed to wait for your control to placed in the designer and then can check its `DesignMode` mode property (after the `Site` has been assigned to the control). If you are on a UserControl, and the containing UserControl is placed in the designer, you are not supposed to show design-time UI

[2020-10-14 12:45] RussKie commented on #4103
Why do you think it is a Windows Forms issue?

[2020-10-14 12:49] RussKie commented on #3513
Sorry, .NET 5.0 is complete. This _may_ meet a servicing bar for 5.0.x. /cc: @merriemcgaw

[2020-10-14 13:11] kirsan31 commented on #3513
_Complete_ for **regression** fixes on rc?
I am not sure about modern\classic dialogs, but simple using of `OpenFileDialog` produces same dialog look on Win10 for `netcoreapp3.1`, `net5.0-windows` and `net472`. And `InitialDirectory` not working only in net5 :( So this is pure regression from .net framework and .net core...

[2020-10-14 17:30] merriemcgaw commented on #3513
I'm going to have someone take another look at this ASAP. I can't promise we can get it into 5.0 GA simply because we're very close to locked down. Once we know what the root cause is and the risk of a fix we can determine if we can get it through in time for GA. If we can't, we can certainly look to it for servicing.

[2020-10-14 17:35] kirsan31 commented on #3513
Thank you. Let's hope, because only this bug alone is enough (for us) to not switch to 5.0 :(
P.s. Need to correct labels...

[2020-10-14 18:14] CarlosBressan opened #4107 "UI Larger in Framework 5"
* .NET Core Version:
.NET 5.0 SDK (SDK 5.0.100-preview.7 de 21/07/2020) x86

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
The same form has different sizes in net462 and net5.0, even being in the same multi target project.

![image](https://user-images.githubusercontent.com/50844862/96028522-c5388700-0e2f-11eb-8687-f6838ddd4a1e.png)

**Expected behavior:

[2020-10-14 19:21] DmitryGaravsky commented on #4103
That's my bad,  - it is the System.Drawing.Drawing2D area which is not in WinForms, of course.
Digging deeper, I have found that the result depends on the compiler target platform (x86\x64) rather than on the framework version.
You can close this issue. I'm very sorry for the concern I've caused.

[2020-10-14 19:55] JeremyKuhne commented on #3513
Investigating

[2020-10-14 22:59] #3513 closed

[2020-10-14 23:04] RussKie commented on #4110
Duplicate of #4100

[2020-10-14 23:04] #4110 closed

[2020-10-14 23:06] RussKie commented on #4100
From https://github.com/dotnet/winforms/issues/4110#issue-721848342

[2020-10-14 23:21] RussKie commented on #4103
No worries. We'll get this transferred over.

[2020-10-15 00:22] RussKie commented on #4107
This is by design due to the change of the `DefaultFont` (https://github.com/dotnet/winforms/pull/656).
More information is here: https://docs.microsoft.com/en-us/dotnet/core/compatibility/fx-core#default-control-font-changed-to-segoe-ui-9-pt

[2020-10-15 00:22] #4107 closed

[2020-10-15 00:34] RussKie commented on #3513
Tthere is a release process, and we're just one of the outer nodes on the graph. It takes weeks to prepare a public release, so we do have hard deadlines after which no change is accepted, and go into a subsequent servicing release.

[2020-10-15 07:27] RussKie opened #4112 "Replace deprecated `SHILCreateFromPath` with `SHParseDisplayName`"
**Is your feature request related to a problem? Please describe.**

[`SHILCreateFromPath`](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.SHILCreateFromPath.cs) has been marked as [deprecated](https://docs.microsoft.com/windows/win32/shell/deprecated-api), and needs to be replaced with the [`SHParseDisplayName`](https://docs.microsoft

[2020-10-15 07:30] RussKie commented on #3898
Reopening since the instability hasn't been resolved.

[Another build](https://dev.azure.com/dnceng/public/_build/results?buildId=852489&view=results) failed in Debug/x64 with:
[code]

[2020-10-15 14:20] CarlosBressan opened #4115 "Design Font Size Different From Execution"
* .NET Core Version:
.NET 5.0 SDK (SDK 5.0.100-preview.7 de 21/07/2020) x86
Microsoft Visual Studio Community 2019 Version 16.7.6

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
The font size appears different in the execution comparing with the designer.

![image](https://user-images.githubusercontent.com/50844862/96140236-18651500-0ed6-11eb-9385-e0b50287

[2020-10-16 05:55] Zheng-Li01 opened #4120 "[Accessibility] Missing the "linkLabel1 link" level for LinkLabel control in the inspect tool"
* More info
1. The issue also can **reproduce on .NET 5.0 RC2.**
2. The issue can't reproduce on .NET SDK 3.1 and .NET 4.8.

* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20514.15

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Missing the 'linkLabel1' link level for LinkLabel control in the inspect tool with UI Automation mode.

**Minimal repro:**
1.  Crea

[2020-10-16 06:57] Zheng-Li01 opened #4121 "[Accessibility] Missing the items displayed for CheckedListBox control in the inspect tool"
* More info

1. The issue also can **reproduce on .NET 5.0 RC2.**
2. The issue can't reproduce on .NET SDK 3.1 and .NET 4.8.

* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20514.15

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Missing the items displayed for CheckedListBox control in the inspect tool.

**Minimal repro:**

1. Create a .NET Core project wit