[2022-09-14 00:26] #7726 closed

[2022-09-14 00:28] Menelion opened #7770 "[Epic] MenuStrip accessibility for screen readers"
### .NET version

6.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

N/A

### Issue description

## The Story
Before, in .Net Framework, there was a classic [MainMenu](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.mainmenu?view=netframework-4.8) control that provided a classic native menu bar. It was super access

[2022-09-14 00:29] merriemcgaw commented on #6926
@kirsan31 I do not mind one bit 😸

[2022-09-14 04:55] thanhhn253 commented on #4776
So now we need to set Location: (-7, 0) right?
Is it always 7px or it depend on the monitor resolution?
Can you provide C# code to get the transparent space width?

Sorry for the late response!

[2022-09-14 06:56] kirsan31 commented on #6926
@RussKie with a big problem, everything is clear - I will open a new issue...
What we will do with the tests and will we?

[2022-09-14 07:07] RussKie commented on #6926
👍 thank you

Fix? 😉

[2022-09-14 07:09] RussKie commented on #4776
As per the Windows team response posted [above](https://github.com/dotnet/winforms/issues/4776#issuecomment-1227637666):

Windows Forms SDK will not be providing API for this.

[2022-09-14 07:12] kirsan31 commented on #6926
With  invalidation checks:
remove or comment out?
❓

[2022-09-14 10:31] RussKie commented on #6926
If I may ask you to raise a new issue describing the problem, then comment out the checks in the tests with a comment referencing that issue. This way we'll have a track record.
Thank you heaps for doing this.

[2022-09-14 14:42] Chello1801 commented on #7755
while i was trying to build the project a error occurred telling me to restore the nuget packages, so i did that and now it works again.

thanks i guess

[2022-09-14 15:08] Chello1801 commented on #7755
while i was trying to build the project a error occurred telling me to restore the nuget packages, so i did that and now it works again.

thanks i guess

[2022-09-14 15:08] #7755 closed

[2022-09-14 15:37] dmitrii-drobotov commented on #7763
I managed to reproduce the issue with NVDA announcements for ComboBox arrow selection in .NET 7, but it looks like the lack of Value changed event is not the root cause. After implementing it I still see that in some cases NVDA doesn't announce changed items:

https://user-images.githubusercontent.com/102954094/190192911-f928bd53-475d-4949-846f-08a93d12cdb5.mp4

The behavior is that when I tab int

[2022-09-14 17:22] Tanya-Solyanik commented on #7763
Sounds like this part of the fix is not sufficient and we need to fix https://github.com/dotnet/winforms/issues/7764 for completeness. Then we'll wait for the customer request.

[2022-09-14 17:28] Tanya-Solyanik commented on #7763
Since this is not a complete fix, we can't service it.

[2022-09-14 17:50] merriemcgaw commented on #7770
@dmitrii-drobotov please have someone on the team investigate.

@Menelion thank you for the detailed description of what you're seeing in the MenuStrip control! Accessibility is a top priority for the team and we strive to bring full accessibility to every control we provide. We'll investigate and make sure that we report the correct UIA tree for all scenarios. We'll also take a look and see if JA

[2022-09-14 18:19] merriemcgaw commented on #7770
@Tanya-Solyanik FYI

[2022-09-14 20:10] Menelion commented on #7770
@merriemcgaw Thank you for such a prompt and uplifting reply! Can I help you somehow? I'd love to contribute (planning to clone the repo and see the code), so would you encourage investigation from my part? Also, I'm a private beta tester for Vispero (JAWS for Windows) and have contacts there, that can also be of help probably. I know that Vispero has a partnership with Microsoft, but still maybe

[2022-09-14 22:45] Menelion commented on #7770
Just thoughts and some stupid questions, sorry, I'm totally new in contributing to .Net and actually not so much experienced in development for it either 😊

* Looking at the code, it seems that the *Alt* key processing for focusing and unfocusing the MenuStrip is actually there, but for me it doesn't work correctly, or as correctly as it does for the native menu bar (MainMenu in .Net framework ver

[2022-09-15 00:10] merriemcgaw commented on #7770
I'm so excited to have a community member passionate about accessibility contributing! @dmitrii-drobotov and @Tanya-Solyanik are great sources of information and ideas. To get up and running I'd suggest starting with our [Developer Guide](https://github.com/dotnet/winforms/blob/main/docs/developer-guide.md). The whole WinForms community will be happy to help answer any questions you have as you ar

[2022-09-15 01:36] Shkyrockett opened #7780 "System.NullReferenceException when using System.Speech 7.0.0-rc.1.22426.10 from Windows Forms"
### .NET version

.NET 7.0.0

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

.NET 6.0.0

### Issue description

When trying to use the latest version of [System.Speech](https://www.nuget.org/packages/System.Speech) from Windows Forms, it throws a System.NullReferenceException while trying to access the SpeechSynthesizer class.

###

[2022-09-15 01:52] RussKie commented on #7780
I am afraid I can't repro the issue, I can hear a female voice reading the text.
![image](https://user-images.githubusercontent.com/4403806/190294662-0ce42585-45e2-4dbe-9d8f-606d097ac9a9.png)

Please provide the errors and the stack trace you're getting.

[2022-09-15 06:44] Shkyrockett commented on #7780
[code]

[2022-09-15 07:25] Shkyrockett commented on #7780
Capture of the exception from a release build:
[code]

[2022-09-15 08:03] Ashley-Li commented on #7609
Verified this issue on VS 17.4.0 Preview 2.0 [32908.99.d17.4] TP build, this issue was fixed. When using registry key as following screenshot to set VS as DpiUnaware mode, the form designer loads successfully.
![image](https://user-images.githubusercontent.com/56664234/190347124-609c9a85-cf82-49f9-9c3a-8d5cf98792e4.png)
![image](https://user-images.githubusercontent.com/56664234/190347196-59fff4ec

[2022-09-15 08:26] Ashley-Li commented on #7609
Verified this issue on VS 17.4.0 Preview 2.0 build, this issue was fixed. When using registry key as following screenshot to set VS as DpiUnaware mode, the form designer loads successfully.
![image](https://user-images.githubusercontent.com/56664234/190347124-609c9a85-cf82-49f9-9c3a-8d5cf98792e4.png)
![image](https://user-images.githubusercontent.com/56664234/190354209-86afcadb-1726-447f-b95f-1d25

[2022-09-15 08:48] tinodo commented on #7609
Thanks!

[2022-09-15 09:30] RussKie commented on #7780
This looks like the problem with System.Speech and not Windows Forms.

[2022-09-15 17:18] dmitrii-drobotov commented on #7764
From ComboBox [docs](https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-supportcomboboxcontroltype#required-control-patterns):

And the child list box actually [supports](https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.ComboBoxChildListUiaProvider.cs#L214) the selection pattern.
![Screenshot 2022-09-15 191625](https://user-images.g

[2022-09-15 17:27] #7552 closed

[2022-09-15 19:27] #7740 closed

[2022-09-16 02:09] #7700 closed

[2022-09-16 08:25] Amy-Li03 opened #7787 "The form designer of WinForms application failed when targeting .NET Core 3.1, .NET 5.0 and 6.0 after installed .NET 7.0 RTM SDK"
### .NET version

.NET SDK 7.0.100-rtm.22465.28

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

It works on .NET 8.0 latest build: 8.0.100-alpha.1.22465.32

### Issue description

After installed .NET 7.0 RTM from: https://github.com/dotnet/installer, then try to create a WinForms .NET core project, form designer loaded error.
![im

[2022-09-16 22:41] Menelion commented on #7770
One more finding after deeper inspection with JAWS: `MenuStrip` does not generate the "leaving menus" event. Sorry, I don't know yet the exact name of the event in UIA, but it's the one it should generate when focus leaves the menu. So what happens: if we press a standalone **Alt** key, it toggles between the menu bar and the main window, which is correct. But the problem is that JAWS doesn't know

[2022-09-17 02:52] Tanya-Solyanik commented on #7770
@Menelion - I tried out ToolStrip with a drop down button on .NET Framework4.8.1 and JAWS version 2022.2207.25 ILM and I got the "leaving menu" announcement. And AccessibilityInsights reported "changing focus" event for both MainMenu and ToolStrip when menu drop down is open and I press the ALT key.

[2022-09-17 06:22] Tanya-Solyanik commented on #7705
Yes, this is not ours, and is in fact fixed on Win11 22H2 for all themes. The fix is to remove the image -
![image](https://user-images.githubusercontent.com/15823268/190843576-debd5864-2fde-4d52-bfa1-600cb6327d7e.png)

[2022-09-17 06:22] #7705 closed

[2022-09-17 06:49] Tanya-Solyanik commented on #7725
@Olina-Zhang - this does not work on .NET Framework on Win11 22H2 - I don't see checkmarks in any contrast or *regular* themes. Could you please confirm that this is a regression between the windows versions? @merriemcgaw - if this is a regression between the windows versions, we should consider servicing it in the framework.

![no checkmark in contrast theme on .NET Framework](https://user-images

[2022-09-17 07:02] Tanya-Solyanik commented on #7725
@dreddy-work  - we need a new icon to fix this issue, who should we work with, do you remember? - https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/src/Resources/System/Windows/Forms/Checked.ico

[2022-09-17 10:48] Menelion commented on #7770
@Tanya-Solyanik Have you tried a `MenuStrip` set as `MainMenuStrip` for the form? See my sample app.

[2022-09-17 20:27] #7601 closed

[2022-09-17 20:51] Tanya-Solyanik commented on #7770
@Menelion - in my experiments on .NET 7, it does not matter if MenuStrip is the `MainMenuStrip` on the form. However, presence of other controls makes the difference. I assume that screen readers do message throttling (Narrator does).  Is user actions come in faster that announcements can be read, some announcements are dropped. If there are other focusable controls on the form, JAWS reads their n

[2022-09-17 22:43] Menelion commented on #7770
@Tanya-Solyanik Oh no, message throttling is not the reason. The problem is JAWS behaves differently in so-called menu mode, i.e., when a menu is active. the simplest way of checking this is alt-tab out of the app and back. If the menu was stuck, JAWS would say "leaving menus" only *after* alt-tabbing out of the app.

Anyway, how can I retarget to .Net 7? I'll try to build from `main` and add it a

[2022-09-18 04:06] Tanya-Solyanik commented on #7770
I'm pretty sure target framework does not matter.
Official download - https://dotnet.microsoft.com/en-us/download/dotnet
latest builds - https://github.com/dotnet/installer#installers-and-binaries - do not install 8 yet, as you will not be able to target it.
I also run the latest VisualStudio 2022 IntPreview, but this is not a requirement, any version of VS 2022 will work.
To retarget  - set Targe

[2022-09-18 09:29] paul1956 opened #7797 "The color picker does not support Alpha in ARGB"
### Environment

Version 17.4.0 Preview 2.0

### .NET version

N/A

### Did this work in a previous version of Visual Studio and/or previous .NET release?

Don't know but I don't think so.

### Issue description

The color picker only supports Red, Green and Blue but the underlying designer supports the Alpla Channel.

### Steps to reproduce

Select any design item that is of type Color, select cu

[2022-09-18 15:04] kirsan31 opened #7799 "DataGridView Flaky tests due to invalidatedCallCount"
### Test

DataGridView_ColumnHeadersHeightSizeMode_SetNonResizeThenResize_RestoresOldValue
DataGridView_ColumnHeadersHeightSizeMode_SetWithHandle_GetReturnsExpected
DataGridView_ColumnHeadersHeight_SetWithHandle_GetReturnsExpected
DataGridView_ColumnHeadersHeight_SetWithParentWithHandle_GetReturnsExpected
DataGridView_OnColumnHeadersHeightChanged_InvokeWithHandle_CallsColumnHeadersHeightChanged
Da

[2022-09-18 21:41] rashid201143 commented on #4304
I noticed that the EditorAttribute also works inconsistently in the designer for .NET Core vs the .NET Framework. [I created a Feedback Item for this earlier today](https://developercommunity.visualstudio.com/t/net-5-winforms-designer-ignores-systemcomponentmod/1398197).

In the Core/NET5 designer, it ignores the specified Editor and uses the base class variant instead. The property is declared as

[2022-09-19 02:38] RussKie commented on #4304
The .NET designer does not work the same way as the .NET Framework designer - i.e., the .NET designer is run out-of-proc, and thus requires a different control-authoring approach. You can find more information for this in [State of the Windows Forms Designer for .NET Applications](https://devblogs.microsoft.com/dotnet/state-of-the-windows-forms-designer-for-net-applications/) blog post.
Unfortunat

[2022-09-19 03:07] RussKie commented on #7725
Would we engage https://aka.ms/d3triage?

[2022-09-19 03:31] KlausLoeffelmann commented on #4304
Yes, that is correct!

[2022-09-19 07:18] Olina-Zhang commented on #7725
@Tanya-Solyanik cannot repro this issue in .Net framework 4.8.1 app:
**Default theme:**
![image](https://user-images.githubusercontent.com/26474449/190966522-1751a2e1-48c6-4d86-88c1-709ddf29cd57.png)
**Win11 HC themes:**
![image](https://user-images.githubusercontent.com/26474449/190967174-04dfcf3c-54e6-467b-ba7a-8582ad3967b5.png)

[2022-09-19 07:25] Tanya-Solyanik commented on #7725
@Olina-Zhang  - I have an insider preview from ni_release -

[2022-09-19 11:05] NikitaSemenovAkvelon opened #7800 "Narrator announces buttons inside ContentAligmentEditor incorrectly."
- .NET Core Version:
8.0.0-alpha.1.22467.6

**Probled description:**
Narrator announces all options as "selected".
![pPuKbzIH1f (1)](https://user-images.githubusercontent.com/109065597/191004377-6252ceda-fbfa-4522-8667-121cd51a66e3.gif)

**Expected behavior:**
Only for selected option it should announce "selected".

_Originally posted by @Tanya-Solyanik in https://github.com/dotnet/winforms/pull/7

[2022-09-20 00:49] #1953 closed

[2022-09-20 03:39] Tanya-Solyanik commented on #7800
It was @dmitrii-drobotov's finding 😄

[2022-09-20 04:08] Tanya-Solyanik commented on #7800
But this looks "by design" because we can also see the dotted rectangle around the button being announced.

[2022-09-20 04:24] Tanya-Solyanik commented on #7725
Ticket [#17567](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdev.azure.com%2Fdevdiv-design%2FD3%2520Studio%2F_boards%2Fboard%2Ft%2FD3%2520Foundations%2FFeatures%2F%3Fworkitem%3D17567&data=05%7C01%7CTatiana.Solyanik%40microsoft.com%7C9f8f187f33794bd6299c08da9abfc923%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637992445774446660%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQI

[2022-09-20 04:39] NikitaSemenovAkvelon commented on #7800
If it is "by design" then we have a different behavior between `ContentAlignmentEditor` and `DockEditor` despite there being pretty similar.

[2022-09-20 05:12] Tanya-Solyanik commented on #7800
I see. In Office "number format" they have selection indicator and keyboard focus indicator -
![Outlook number format drop down](https://user-images.githubusercontent.com/15823268/191171444-e98b13c9-6750-4015-bd14-7f0f89f0a8b7.png)

Here is narrator text in response to me opening the drop down and moving from the 1,2,3 format to `none`. `1,2,3` format is not announced as selected even though it wo

[2022-09-20 05:41] Cassie-Li01 commented on #7601
Verified on latest .NET 8.0.100-alpha.1.22469.15, issue is fixed. Please cehck below gif and screenshot:
![image](https://user-images.githubusercontent.com/96758262/191161175-72b66088-37d4-4861-bbfd-6f68cdadeb48.png)
![fixed](https://user-images.githubusercontent.com/96758262/191176069-abbcfe5c-2599-486f-aa78-a540a11e5de0.gif)

[2022-09-20 06:15] Olina-Zhang commented on #7714
Verified this issue in the latest .Net 8.0 SDK build: 8.0.100-alpha.1.22469.15, it is fixed:
![7714_Fixed](https://user-images.githubusercontent.com/26474449/191181120-9d16ce3d-2f87-44ac-b390-452c77fa92b3.gif)

[2022-09-20 06:28] Philip-Wang01 commented on #7552
Verified this issue in the latest .Net 8.0 SDK build: 8.0.100-alpha.1.22469.15, it is fixed.
![testrepari](https://user-images.githubusercontent.com/86937911/191182735-d743f9fc-e5fb-4fb7-ac72-22dca448db45.gif)

[2022-09-20 06:39] John-Qiao commented on #7740
Verified with 8.0.100-alpha.1.22469.15 from main branch, this issue has been fixed that the textbox border is visible in MenuStrip now.

![TestResult2](https://user-images.githubusercontent.com/45864985/191185283-1c0c8bb1-1800-4578-bf1d-7bca9a50ca17.png)

[2022-09-20 07:14] MelonWang1 commented on #7723
Verified this issue in the latest .Net 8.0 SDK build: 8.0.100-alpha.1.22469.15, it is fixed.
**Model window:** Narrator's focusing is in column headers.
![222](https://user-images.githubusercontent.com/94418985/191191466-8b3d5503-9b9a-481b-876c-81e2f76b79f9.gif)

**Not model window:** Narrator's focusing is in first DataGridView cell.
![1form](https://user-images.githubusercontent.com/94418985/191

[2022-09-20 07:34] driver1998 commented on #7641
Is the dark common control theme documented now? Last time I checked it is still undocumented. Only the dark title bar attribute is documented and public.

[2022-09-20 07:40] driver1998 commented on #3691
@Amy-Li03

Not what I would say "consistent" but it proves a point. The title bar of MDI child window is not drawn by DWM, so the "Basic" visual style is used instead. But the default "Windows Aero" (aero.msstyles) still contains the old Windows-7 style visual styles borders.

The new theme that we now called "Windows Basic", (which is actually not a Basic theme but __Aero Lite__, aerolite.msstyle

[2022-09-20 07:45] Olina-Zhang commented on #7740
Do you have plan to service the fixing to .Net 7.0? I didn't see the corresponding PR, just for main.

[2022-09-20 07:50] Ashley-Li commented on #7700
Verified this issue in the latest .Net 8.0 SDK build: 8.0.100-alpha.1.22469.15, it was fixed. Please cehck below gif:
![TestResult-700](https://user-images.githubusercontent.com/56664234/191199304-f0ca45ee-c32a-42c6-89e8-5eec61aed77c.gif)

[2022-09-20 12:17] NikitaSemenovAkvelon commented on #7492
I've looked at this issue and can suggest few options to fix it:
1) Delete the `SubItem` on removing a column. In this way, we can save the consistency between columns and sub items. Moreover, it looks like a native control works in the same way because `LVM.SUBITEMHITTEST` returns a shifted index. I mean that if you remove the column with the index = 1 and after that call `HitTest` from the same

[2022-09-20 15:37] dmitrii-drobotov commented on #7800
Unlike Office in WinForms there is a text on a ComboBox with current value, so in a way we already have a representation. But I agree that adding another indication could be useful.

For this issue though I think we can only fix the problem with "selected" state announcements for every option, so that it would announce "selected" only for actually selected value and "non-selected" for other.

[2022-09-20 23:20] Tanya-Solyanik commented on #7800
Agree.

Agree.

[2022-09-21 00:04] Tanya-Solyanik commented on #7740
Thank you, @Olina-Zhang!
We are in M2 approval mode for .NET 7 GA. Branch is release/7.0

[2022-09-21 00:06] Tanya-Solyanik commented on #7740
/backport to release/7.0

[2022-09-21 01:35] MelonWang1 commented on #7723
@NikitaSemenovAkvelon From your gif, I don't see which keyboard being pressed. In model window, you mean you didn't press the Tab keyboard and when open form designer narrator automatically focusing on column headers, then row header, then first DataGridView cell. If so, above test result is different with your gif. Please see it.

[2022-09-21 12:44] NikitaSemenovAkvelon commented on #7723
I've retested it from main branch. Below described my steps and a result. It works as expected.
1) Started the application.
2) Pressed enter.
3) Watched how Narrator announced all controls up to the selected cell.
![Rqi3JpCDYA](https://user-images.githubusercontent.com/109065597/191506628-bda12007-755f-4f51-9853-e9275ba064a5.gif)

[2022-09-21 15:03] dmitrii-drobotov opened #7815 "TextBox should set HelpText accessible property when it contains placeholder text"
### .NET version

8.0.100-alpha.1.22423.9

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

From [Edit docs](https://learn.microsoft.com/en-us/windows/win32/winauto/uiauto-supporteditcontroltype):

There is a `PlaceholderText` property on a `TextBox` which acts as a placeholder. It cannot be edited by the us

[2022-09-21 15:51] dmitrii-drobotov opened #7816 "TextBox should set IsPassword accessible property when it contains password"
### .NET version

8.0.100-alpha.1.22423.9

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Worked in .NET 6 but not in .NET 7, didn't check earlier versions

### Issue description

From [Edit docs](https://learn.microsoft.com/en-us/windows/win32/winauto/uiauto-supporteditcontroltype#relevant-properties) on [UIA_IsPasswordPropertyId]

[2022-09-21 22:07] LaraSQP opened #7818 "MFT_MENUBREAK or MFT_MENUBARBREAK flags for ContextMenuStrip"
### Is your feature request related to a problem? Please describe

Unlike `ContextMenu`, `ContextMenuStrip` seems to be missing the `MFT_MENUBREAK` or `MFT_MENUBARBREAK` flags.

Please implement these.

Perhaps via `ToolStripProfessionalRenderer`?

### Describe the solution you'd like and alternatives you've considered

As shown above.

### Will this feature affect UI controls?

ContextMenuStrip

[2022-09-21 22:09] #7713 closed

[2022-09-22 04:55] GokulThanu opened #7820 "Binding is not working properly when using custom delegate and Generic EventHandler for respective properties"
### .NET version

Net 6.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

The Binding is not working properly when using events with Custom delegate and Generic EventHandler delegate for respective properties.

The Binding is working Properly when using EventHandler delegate

### Steps to reprod

[2022-09-22 08:36] MelonWang1 commented on #7723
@NikitaSemenovAkvelon Verified this issue in the latest .Net 8.0 SDK build: 8.0.100-alpha.1.22470.29,
In Win11 21H2(OS Build 22000.856), this issue fixed and result same with you.
But in Win10 21H2(OS Build 19044.2006), this issue not fixed and result as above mine attached.

[2022-09-22 19:23] #5307 closed

[2022-09-22 19:31] #7816 closed

[2022-09-23 02:49] Amy-Li03 commented on #7667
@merriemcgaw, in WinForms Framework project, with 2 DGV on a Form add some columns to the first, then add the same column names to the second, **it fails with message "The name xxx is already in use by another component", and the column cannot be added to the second DGV.**
![image](https://user-images.githubusercontent.com/62929087/191883166-8441e5d1-1494-4fb4-be43-8a64c1f4187c.png)

[2022-09-23 03:36] paul1956 commented on #7667
@merriemcgaw the different is with the current version the column IS ADDED after getting the error message (don't think program will run).  When you hit OK in Framework you can correct the issue and then hit Add or Cancel and designer file is unchanged.

[2022-09-23 08:49] Olina-Zhang opened #7830 "[Accessibility] AutomationID property should not be empty for dropdown items under ImageAlign/TextAlign/CheckAlign/Dock in PropertyGrid"
### .NET version

.Net 8.0 SDK: 8.0.100-alpha.1.22469.15

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

In .Net 3.1, this issue cannot repro, and .Net 6.0 and 7.0 can repro

### Issue description

AutomationID property should not be empty for dropdown items under ImageAlign/TextAlign/CheckAlign/Anchor/Dock property in PropertyGrid

[2022-09-24 06:50] albahari opened #7837 "TabControl.TabPageCollection.RemoveAt(int) removes wrong item!"
### .NET version

All .NET versions to .NET 6

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Same bug in all previous .NET versions & .NET Framework

### Issue description

This RemoveAt method in System.Windows.Forms.TabControl.TabPageCollection has a horrible bug that can cause it to remove the wrong page from the TabControl.

Th

[2022-09-24 12:41] RussKie commented on #7837
Thank you for raising this. Would you like to send a PR with a fix?
________________________________
From: albahari ***@***.***>
Sent: Saturday, 24 September 2022 4:50 PM
To: dotnet/winforms ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [dotnet/winforms] TabControl.TabPageCollection.RemoveAt(int) removes wrong item! (Issue #7837)

.NET version

All .NET versions to .NET 6

Did it work in .NET

[2022-09-26 14:59] victor-wiki opened #7842 "RichTextBox's font changed if initial Text is Empty"
### .NET version

.net core 3.1

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

if the .net framework < 4.7, no issue.

### Issue description

if the initial value of Text is Empty, set the font to "Microsoft Sans Serif, 10pt". After application runs up, enter some text to the RichTextBox, then copy the text to office word, the wor

[2022-09-27 08:03] Olina-Zhang opened #7850 ""Index was outside the bounds of the array" pops up when setting the BackgroundImage/Icon property in PropertyGrid runtime"
### .NET version

.Net 8.0 SDK build: 8.0.100-alpha.1.22476.24

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, It cannot repro in .Net Core 3.1, .Net 5.0/6.0./7.0, caused by PR: https://github.com/dotnet/winforms/pull/7828

### Issue description

"Index was outside the bounds of the array" pops up when calling openFileDialog w

[2022-09-27 08:52] Olina-Zhang opened #7852 "[Accessibility] Narrator should hide to announce the text in textBox/maskedTextBox when enable UseSystemPasswordChar or PasswordChar properties"
### .NET version

**.Net 8.0 SDK build:** 8.0.100-alpha.1.22476.24

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, not a regression issue

### Issue description

When typing text in TextBox/MaskedTextBox with UseSystemPasswordChar or PasswordChar, Narrator announce text to "Hidden", but when focus on TextBox/MaskedTextBox or spe

[2022-09-27 09:48] MandiMan commented on #7714
Verified on .NET 7.0 test pass build: .NET 7.0.100-rc.2.22476.6, issue was fixed as below:
![issue7739](https://user-images.githubusercontent.com/108860782/192493449-beb867fd-f864-454d-b631-4daf3b3db446.gif)

[2022-09-27 23:57] merriemcgaw commented on #7667
Thanks @paul1956! @Amy-Li03 can you copy this issue into the designer repo so we can try to get it in for the next VS releases? It seems like it would be a pretty simple fix.

~Merrie

[2022-09-28 02:10] Amy-Li03 commented on #7667
@merriemcgaw have copied this issue into designer repo: [4670](https://github.com/microsoft/winforms-designer/issues/4670).

[2022-09-28 06:55] vsfeedback opened #7858 "In a special case of winform, the exception prompt cannot be thrown, and the program will automatically exit in about 4 seconds"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/winform在一个特殊情况下，异常提示无法抛出，并且程序在4秒左右会自动退出/10156622)._

---
\[severity:It’s more difficult to complete my work\]
[20220924\_201014.mp4](https://aka.ms/dc/file?name=B1b12694a77f84006b1f351665f11271f637996184524298897_20220924_201014.mp4&tid=1b12694a77f84006b1f351665f11271f637996184524298897)

[2022-09-28 07:19] Amy-Li03 commented on #7858
### .NET version
.Net 8.0 SDK build: 8.0.100-alpha.1.22476.24

### Did it work in .NET Framework?
No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?
No, it's not a regression issue

### Steps to reproduce
1. Open attached sample app.
[SampleApp.zip](https://github.com/dotnet/winforms/files/9662439/SampleApp.zip)
2. Run the exe file directly

### Actual behavior
The program

[2022-09-28 23:27] RussKie commented on #7858
This is by design. Exceptions thrown on a non-main thread will terminate the app unless marshalled back to the main thread and handled. Please refer to https://learn.microsoft.com/dotnet/api/system.appdomain.unhandledexception for more details.

[2022-09-28 23:27] #7858 closed

[2022-09-29 00:03] #7850 closed

[2022-09-29 02:36] Nora-Zhou01 commented on #7816
Verified this issue in the latest .Net 8.0 SDK build:8.0.100-alpha.1.22478.15,it was fixed.please check below screenshot:
![屏幕截图 2022-09-28 192225](https://user-images.githubusercontent.com/104609169/192925559-0151683c-9c10-4240-b276-d89b070cebe9.png)

[2022-09-29 03:11] John-Qiao commented on #5307
Verified with 8.0.100-alpha.1.22478.15 from main branch, this issue has been fixed that the base type is RadioButton now.
![5307-1](https://user-images.githubusercontent.com/45864985/192930090-e90aaaa4-ced1-43dc-955b-15d8c3b3755e.png)
![5307-2](https://user-images.githubusercontent.com/45864985/192930093-22a02395-4c8b-434c-9341-8cec26a45477.png)
![5307-3](https://user-images.githubusercontent.com/

[2022-09-29 06:52] Ashley-Li commented on #7713
Verified with 8.0.100-alpha.1.22478.26 from main branch, this issue has been fixed. Tested on ToolStrip controls with items in Accessibility Insight, Inspect, and Narrator tools with WinDbg, there's no toolStrip items memory leak about AccessibleObjects.
![image](https://user-images.githubusercontent.com/56664234/192958450-daaaca09-2d23-48a2-a63d-c7b62f45ad2f.png)

[2022-09-29 07:57] MandiMan commented on #4690
Verified this issue in the latest .Net 8.0 SDK build:8.0.100-alpha.1.22478.15, it was fixed. please check below screenshot:
![image](https://user-images.githubusercontent.com/108860782/192973789-30a59069-c6de-4300-b7c1-39022706ee72.png)

[2022-09-29 08:11] Philip-Wang01 commented on #1953
Verified this issue in the latest .Net 8.0 SDK build: 8.0.100-alpha.1.22478.15, it was fixed.please check below screenshot:
Win10:
![image](https://user-images.githubusercontent.com/86937911/192976074-3bb2abf1-40f2-41b1-9405-0ef4287a3bcb.png)
Win11:
![image](https://user-images.githubusercontent.com/86937911/192977072-c79c44b7-eb5e-4a7a-bcdc-87078d289f16.png)

[2022-09-29 10:28] MandiMan commented on #7714
Verified on latest .NET 7 build .NET 7.0.100-rtm.22478.24, issue is fixed, Gif as below:
![issue7739](https://user-images.githubusercontent.com/108860782/193007989-ad745538-501b-40b7-88cd-388e488b8dda.gif)

[2022-09-29 12:13] TheLeftExit opened #7864 "IDataObject.GetData with non-serializable type returns null"
### .NET version

.NET 7 RC1

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, up to and including .NET 6.

### Issue description

Hello,

My name is Norton, and I'm writing on behalf of the WinForms team at DevExpress.

Our customers who were testing our controls with the .NET 7 RC1 runtime reported issues when using our contro

[2022-09-29 12:27] RussKie commented on #7864
@kant2002 could it be related to any of your work?

[2022-09-30 00:14] elachlan commented on #7675
@RussKie I think we can close this issue in favour of #7468. If there are specific problems like this issues should be raised in either CsWin32 or Win32Metadata.

[2022-09-30 00:33] RussKie commented on #7675
Thank you, closing.

[2022-09-30 00:33] #7675 closed

[2022-09-30 03:02] Nora-Zhou01 commented on #7740
Verified on latest .NET 7 build .NET 7.0.100-rtm.22478.24,this issue has been fixed that the textbox border is visible in MenuStrip now,the results are consistent with the above.

[2022-09-30 07:29] kant2002 commented on #7864
This was introduced in the https://github.com/dotnet/winforms/pull/7589
Reason for the issue, is that `Ole32.IDropTarget.DragEnter` should receive original .NET `DataObject` because of unwrapping local CCW. Currently this promise was broken when I fix #7518 where remote COM proxy for Ole IDataObject requires agility(?).

I have option to undo work which touch IDataObject but if possible that I add

[2022-09-30 07:41] RussKie commented on #7864
The main focus is to ensure the compat. If we can't address the issue quickly or within the limited scope we'll have no other option but to revert the orignal changes. The release window is closing very fast.

/cc: @JeremyKuhne @dreddy-work @AaronRobinsonMSFT

[2022-09-30 07:45] tomlevels opened #7868 "TreeView images not scaled on high DPI"
### .NET version

.NET 6.0.9

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

When a monitor is scaled, for example 150%, tree view images are still small while labels are scaled well. See also https://github.com/dotnet/winforms/issues/6380

I know the issue is solved in .NET 7 preview, but will

[2022-09-30 07:55] TheLeftExit commented on #7864
Thanks for the info @kant2002.

We would strongly prefer that the behavior stayed the same as it is in .NET 6. Much of our code relies on the fact that serializability is not a requirement if the dragged object does not cross application boundaries (as per the [`Control.DoDragDrop`](https://learn.microsoft.com/en-us/dotnet/api/system.windows.forms.control.dodragdrop) doc). Implementing a serializa

[2022-09-30 08:00] kant2002 commented on #7864
@TheLeftExit I do not even discuss backward compatibility aspect. If I want move-fast-break everything I would stick with JS community. I just thinking about how to preserve refactoring, at the same time without breaking compat. Just want better NativeAOT story for WinForms and checking if I can somehow preserve that.

[2022-10-02 19:42] Tanya-Solyanik commented on #7763
@rperez030 - .Net 7.0 works better than .NET Framework 481 does, but not after the dropdown was opened and closed (i.e. accessible object for the child list was created). Here are 2 experiments recorded with audio -

[ComboBoxAnouncesEditControlContentChanges](https://user-images.githubusercontent.com/15823268/193471391-f28dbf7f-fb56-436c-b64d-d58b85b52e45.mp4)
When I have keyboard focus on the ed

[2022-10-02 20:15] willibrandon opened #7875 "Consider adding drag and drop UI tests that drop serialized and non-serialized objects"
### .NET version

.NET 7.0 RC1

### Did it work in .NET Framework?

Yes

### Issue description

As a result of #7864, we could use some drag and drop tests which drop serialized and non-serialized data to the application, to catch any regressions that might arise from work being done in this area. I've written 2 tests covering both the serialized and non-serialized scenarios, with the serialized c

[2022-10-03 11:59] NikitaSemenovAkvelon commented on #4690
Is it makes sense to add `ListViewItemImageAccessibleObject` to `ListViewItem` in `List`, `Tile`, `SmallIcon`, `LagreIcon` styles? In these styles, we haven't `SubItems`, and currently, the tree looks neat:

But in my opinion, if we will rework it like `Details` style it looks cumbersome (especially for `ListViewItem` without Image):

In all of these styles, a `ListViewItem` cannot contain more th

[2022-10-03 18:41] Tanya-Solyanik commented on #7725
@dmitrii-drobotov  - please assign this bug to someone on your team. This icon might not work in win10,  or in selected state. It should be tested thoroughly in different states, win10 and win11 Contrast modes.
[Gray Check Mark From the US team](https://github.com/dotnet/winforms/files/9700085/Checked.zip)

[2022-10-03 19:58] rperez030 commented on #7763
Hi @Tanya-Solyanik ! Thanks  for the audio and all the logs. That was very helpful. Based on the log, I believe the first time you tabbed to the Combobox NVDA resorted to use the IAccessible object, not the UIA object. It worked because the valueChange event is fired as expected through  MSAA.

Would you mind repeating your second experiment without involving the mouse? Use Alt +Down arrow to expa

[2022-10-03 20:31] #7864 closed

[2022-10-03 21:32] #7875 closed

[2022-10-03 23:28] RussKie commented on #7868
@tomlevels is this an adoption blocker for you?

[2022-10-04 00:23] elachlan opened #7879 "Enable `CA1852`/`CA1812` Analyzers"
### Is your feature request related to a problem? Please describe

- `CA1852` Analyzer for sealing non-public classes which are not inherited from for performance reasons https://devblogs.microsoft.com/dotnet/performance_improvements_in_net_7/#analyzers
- `CA1812` Avoid uninstantiated internal classes for performance https://learn.microsoft.com/en-au/dotnet/fundamentals/code-analysis/quality-rules

[2022-10-04 12:28] jonaskohl opened #7884 "Hiding a ToolStripMenuItem on DropDownClosed throws exception if closed by hovering over different menu item"
### .NET version

Version:   6.0.300
Commit:    8473146e7d

Also did not work in .NET Framework 4.8

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it did not work in any of the earlier releases of .NET Core or .NET 5+.

### Issue description

<details>
<summary><b>Exception stack trace</b></summary>
<pre><code>System.ArgumentOu

[2022-10-05 00:06] #7800 closed

[2022-10-05 00:16] merriemcgaw commented on #7797
Can you clarify what you mean by the underlying designer supports the alpha channel? There may be some additions to the runtime where we can enhance the runtime control and bring the same into Visual Studio, but it's not 100% clear what you're hoping to see and precisely where. Do note that ColorPicker in general is not on our radar for updates in the next few releases, so we may need to rely on t

[2022-10-05 00:18] merriemcgaw commented on #7799
@dmitrii-drobotov can anyone on your team take a look at this flaky test issue? It might be good to get it on the backlog.

[2022-10-05 00:26] merriemcgaw commented on #7818
Can you show us what you'd like to accomplish here? We may already have some workarounds for you, otherwise this is something we would absolutely consider. But clarification in an image would be very helpful.

[2022-10-05 00:30] merriemcgaw commented on #7820
@Olina-Zhang can your team take a look at the sample and help see if there is a potential workaround or if it is anything we've encountered in feedback previously?

[2022-10-05 00:35] LaraSQP commented on #7818
Using MFC, it is possible to display multi-column context menus by means of the MFT_MENUBREAK and MFT_MENUBARBREAK flags.

Say:

![vISd5xp-3950161544](https://user-images.githubusercontent.com/12540983/193954635-f33860b7-e7cf-4415-9685-b6a4f5614afd.jpg)

![screen_menubreak-1712060134](https://user-images.githubusercontent.com/12540983/193954650-7188c105-c044-4157-9f27-928ddf42b57b.gif)

This featu

[2022-10-05 00:37] merriemcgaw commented on #7868
.NET 6 is not fully compatible with scaling yet, though we did make a ton of progress over the past couple of releases. Unfortunately some of the infrastructure we need to make this a safe change in .NET 6 servicing is not there and we can't bring that code back. My recommendation is to take your dependencies on .NET 8 where most problems should be resolved (including this, as you pointed out was

[2022-10-05 00:37] #7868 closed

[2022-10-05 01:48] paul1956 commented on #7797
The runtime and Visual Studio has no issue with and uses Color.argb as shown in .Font Color and .ShadowColor below from a .Designer file.
[code]
But the Visual Studio Color Picketer shown below will not allow you to set the Alpha color in designer. The .Font color above was set in designer (no Alpha value specified) but the 32 in .ShadowColor  was set by editing the file in Visual Studio. Once set

[2022-10-05 05:47] kirsan31 commented on #7799
@merriemcgaw

We already discussed it [here](https://github.com/dotnet/winforms/issues/6926#issuecomment-1246567369) and had a plan.
But I really don't know when I can get to it 😔

[2022-10-05 06:27] #7879 closed

[2022-10-05 07:08] elachlan opened #7887 "Enable Analyzer disabled as a part of globalconfig merge from runtime"
### Is your feature request related to a problem? Please describe

List of diagnostics that need to be investigated, fixed, and enabled.
[code]

### Describe the solution you'd like and alternatives you've considered

N/A

### Will this feature affect UI controls?

N/A

[2022-10-05 07:16] elachlan commented on #7887
I started investigating `CA1416`(https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/ca1416). Winforms would have to swap out its [OsVersion](https://github.com/dotnet/winforms/blob/536e37c10b6107d74416c0c40449ad823325cbe2/src/System.Windows.Forms.Primitives/src/System/Windows/Forms/Internals/OsVersion.cs) static class with [OperatingSystem.IsWindowsVersionAtLeast()](

[2022-10-05 12:25] dmitrii-drobotov commented on #7799
@kirsan31 - thank you for the context. I will add it to our backlog, maybe someone on the team will be able to take a look as well.

[2022-10-05 22:16] merriemcgaw commented on #7799
@kirsan31 - sorry I missed that, my bad! I will let you and @dmitrii-drobotov figure out which one of you can get to it first and go from there. We _always_ appreciate the community pitching in, especially with some of the things we know the feature team can't quite get to. Thanks for being such a great contributor!

[2022-10-05 22:19] merriemcgaw commented on #4690
It sounds reasonable to me but also want @Tanya-Solyanik's input here too.

[2022-10-05 22:42] elachlan commented on #7837
@albahari are you looking to submit a patch to fix this?

[2022-10-06 02:53] Tanya-Solyanik commented on #4690
@NikitaSemenovAkvelon  - I did not understand your suggestion. you are saying that this:

adds hierarchy where none is needed, right? But what is the alternative? No subitem?

And a different question - is it possible to set accessible name on this image?

[2022-10-06 04:04] NikitaSemenovAkvelon commented on #4690
@Tanya-Solyanik exactly. `ListViewItemAccessibleObject` will have only children like an image or subtitle without subItem. I attached the image above with an example of how it works now with subtitles. Item1 has a subtitle, subsequently, it has a child AO, but Item2 hasn't a subtitle therefore it without any children.

[2022-10-06 06:57] AraHaan opened #7896 "FolderBrowserDialog causes my forms to indefinately hang."
### .NET version

.NET 6 (current servicing release 6.0.9)

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, .NET 5, and .NET Core 3.1.

### Issue description

For some reason now, whenever I click on a button on my program's settings form (which creates an instance of FolderBrowserDialog) it will then indefinitely hang without

[2022-10-06 21:02] AraHaan commented on #7896
That was the case.

[2022-10-06 21:02] #7896 closed

[2022-10-06 22:50] dreddy-work commented on #7842
@victor-wiki , can you confirm in .NET framework 4.7+, using option `https://learn.microsoft.com/en-us/dotnet/core/compatibility/winforms` defined here https://learn.microsoft.com/en-us/dotnet/core/compatibility/winforms in app.config file helps here? This is most likely native richtext box issue. @Olina-Zhang , can you try repro this with an MFC app?

[2022-10-07 00:30] victor-wiki commented on #7842
@dreddy-work , I add the following section to the app.config of .net v4.7.2 framework project, no issue appears.
[code]
It seems that the issue locates in "RichEdit v4.1".

[2022-10-07 00:54] RussKie commented on #7842
@victor-wiki as a workaround you can instantiate the old RichEdit control in your app as follows:
https://github.com/dotnet/winforms/blob/ad2bc946dbd343342e05e48174e0461324a5b097/src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/RichTextBoxTests.cs#L10812-L10856

[2022-10-07 01:54] victor-wiki commented on #7842
@RussKie , I'm not an expert to do that. The easiest way for me is to set the RichTextBox's font to "Calibri".

[2022-10-07 23:23] Tanya-Solyanik commented on #4690
This is a problem. There is no point in announcing "ListVIewItem2, image" because the user would not know what that image is. It's valuable to have image node in the hierarchy only when that image had text associated with it. But let's wait until this issue is raised by external users.

I think hierarchy with no mandatory subitems is reasonable.

[2022-10-09 06:34] vsfeedback opened #7909 "vs2022 17.3.5 .net 4.8 c# mdi child form cannot show at centerparent"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/vs2022-1735--net-48-c-mdi-child-for/10158939)._

---
1. vs2022 enterprise 17.3.5  creat c# windowsformsapp（.net framework），use default setup ，framework4.8

2. add a mdiparent form: MDIParent1 and a  new form :Form1

3. and menu item to call Form1

4. menuitem click code :

Form&nbsp;form

[2022-10-09 06:59] Amy-Li03 commented on #7909
### .NET Core Version:
.NET SDK 8.0.100-alpha.1.22478.5
### Have you experienced this same bug with .NET Framework?:
Yes
### .NET Core Version:
This is not a regression issue, it also repro on .NET Core 3.1 & .NET 5.0, 6.0, 7.0.
## Actual behavior:
Child form cannot be set at the center of the parent screen.
![image](https://user-images.githubusercontent.com/62929087/194742441-3174072d-6457-4d50-8

[2022-10-09 07:10] Cassie-Li01 commented on #7842
@dreddy-work With a MFC app, when copy to Office word, can't repro this issue. If try to copy to Onenote and Excel, font will show "Calibri, 11". Please check below gif.
![repro_onenote_excel](https://user-images.githubusercontent.com/96758262/194742871-269de7d5-5794-491f-bffe-91ab9506ea2d.gif)

Since the MFC app is too big, I have put to server, please check sample MFC project as below path:
\\ml

[2022-10-09 19:07] kirsan31 commented on #7909
There is an error in repro app:
![image](https://user-images.githubusercontent.com/17767561/194774929-224609d8-a323-4680-80fd-4f89b760003b.png)

And as I understand author noticed it: https://developercommunity.visualstudio.com/t/vs2022-1735--net-48-c-mdi-child-for/10158939#T-N10158957

[2022-10-10 04:43] albahari commented on #7837
Here's the PR: https://github.com/dotnet/winforms/pull/7911

[2022-10-10 07:38] Olina-Zhang commented on #7820
@merriemcgaw we looked at this issue using provided sample application, and repro it in both .Net Framework and .Net Core applications. Didn't find any workaround or feedback ticket related it. Could you please assign to anyone looked at the customer's code to investigate again?

[2022-10-10 11:29] PJayakrishnan commented on #715
Hello,  I am a newbie in open source. can I write tests for StatusCommandU? or anyone has any recommendations?

[2022-10-10 20:40] merriemcgaw commented on #7352
Exception approved. Closing this issue

[2022-10-10 20:40] #7352 closed

[2022-10-11 01:49] RussKie commented on #715
@PJayakrishnan absolutely, we love this kind of contributions!

I suggest starting with the [Developer Guide](https://github.com/dotnet/winforms/blob/main/docs/developer-guide.md) and follow our [testing guide](https://github.com/dotnet/winforms/blob/main/docs/testing.md), specifically the section that discusses [how to add new tests](https://github.com/dotnet/winforms/blob/main/docs/testing.md#ad

[2022-10-11 06:55] mcsilver commented on #4776
Fair enough.

From: Devendar Reddy Adulla ***@***.***>
Sent: Monday, August 29, 2022 11:11 AM
To: dotnet/winforms ***@***.***>
Cc: Craig ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/winforms] Location 0, 0 not working on windows 10 (#4776)

Am I missing something, or could these changes be implemented without ill effect?

This is the windows decision based on feedback they received. Win

[2022-10-11 07:53] RussKie commented on #5434
The link points to a private repo.
________________________________
From: Xiaoyu ***@***.***>
Sent: Monday, 23 May 2022 6:32 PM
To: dotnet/winforms ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [dotnet/winforms] SplitContainer defaults its sub-panel's cursor to H/VSplit (#5434)

met the same problem and @Marie-Shi<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com

[2022-10-11 23:31] merriemcgaw commented on #7909
@Amy-Li03 - does @kirsan31's suggestion solve the problem? If so, let's go ahead and close this issue. Otherwise, it is something that has been around for a while and is not aligned with current priorities.

[2022-10-11 23:39] merriemcgaw commented on #7842
Seems reasonable that we might want to allow users to specify which version of RichEdit control to load in their app. Consider a property or a quirk to load the new one. @dreddy-work  can you take a look and give your suggestion?

[2022-10-11 23:54] RussKie commented on #7842
❕  Since .NET Core 3.1 there have been [fixes](https://github.com/dotnet/winforms/search?q=richtextbox+is%3Apr&type=issues) put in place to support v4.1, and re-introduction of support forv 2.x/3.x _may_ require extensive regression tests.

[2022-10-12 02:00] Amy-Li03 commented on #7909
@merriemcgaw yes, @kirsan31's suggestion can solve this problem, I will close this issue.

[2022-10-12 02:00] #7909 closed

[2022-10-12 05:29] kelilive commented on #7017
I am very stable now without this problem, maybe the resource file is missing something, please delete this Issue thanks, not close it.

[2022-10-12 06:02] #7017 closed

[2022-10-12 06:17] RussKie commented on #7909
Thank you @kirsan31

[2022-10-12 06:38] kelilive commented on #7017
Please delete it, thanks!

[2022-10-12 08:02] StefanKoell commented on #7864
To add to my previous comment: the fix seems to be merged into the rc2 release but the issue itself is not fixed. The result of e.Data.GetData(typeof(someobject)) is still always null when the type is not serializable.

Using 7.0.100-rc.2.22477.23 and also tested the attached sample project in this issue.

[2022-10-12 08:16] kelilive commented on #7017
Please delete this issue, thanks! I've deleted all my content, what's the point of keeping it?

[2022-10-12 08:32] kelilive commented on #7017
I hope it is deleted, why can not listen to it? I think I expressed myself very clearly.

[2022-10-12 08:48] noxe commented on #7864
@StefanKoell - see https://github.com/dotnet/winforms/pull/7878 -> "no, RC2 is already locked. This is for RTM/GA ."

[2022-10-12 09:03] StefanKoell commented on #7864
@noxe that's unfortunate but thanks for letting me know. Would have loved to test this beforehand.

[2022-10-12 09:04] noxe commented on #7864
same here :(

[2022-10-12 15:57] KlausLoeffelmann commented on #7017
We don't delete issues. We close them. That's the way it works.

[2022-10-12 16:28] dreddy-work commented on #7842
Not specific versions. we never allowed specific versions. Now that we have runtimeconfig, we could add switch to disable current version and fall back to older to get .NET Framework 4.7 behavior.

[2022-10-13 02:23] Cassie-Li01 commented on #7850
Verified on latest .NET 8.0.100-alpha.1.22512.27, issue is fixed. Screenshot and gif please check below:
![7850](https://user-images.githubusercontent.com/96758262/195484045-15311fed-04ce-4bd0-8671-c954be95a77b.gif)

**Click button1:**
![image](https://user-images.githubusercontent.com/96758262/195483844-a83838b2-7782-4da0-9208-22dea298e8f0.png)

[2022-10-13 07:16] Philip-Wang01 commented on #7800
Verified this issue with latest .NET 8.0.100-alpha.1.22512.27, issue is fixed. Gif as below:

![testrfix](https://user-images.githubusercontent.com/86937911/195524148-6bf96bda-01f5-486b-a1b5-5c76f93ca749.gif)

[2022-10-13 09:23] Olina-Zhang opened #7938 "For MaskedTextBox with Mask setting, the Name property in Inspect should be empty"
### .NET version

8.0.100-alpha.1.22512.32

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, cannot repro in previous .Net versions: 7.0/6.0

### Issue description

For MaskedTextBox with Mask setting, the Name property in Inspect should be empty. This issue is regressed from PR fixing: https://github.com/dotnet/winforms/pull/77

[2022-10-13 09:23] Amy-Li03 commented on #7875
Run the drag and drop UI test cases: DragDrop_NonSerializedObject_ReturnsExpected_Async and
 DragDrop_SerializedObject_ReturnsExpected_Async, all passed with no errors.

[2022-10-13 09:55] Olina-Zhang opened #7939 "Form designer is not loaded successfully when switching application's target framework from 7.0 to 8.0 in project's properties window"
### .NET version

8.0.100-alpha.1.22512.32

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, cannot repro when switching application's target framework from .Net 6.0 to .Net 7.0

### Issue description

Form designer cannot be loaded successfully when switching application's target framework from 7.0 to 8.0 in project's propertie

[2022-10-14 00:08] #7830 closed

[2022-10-14 06:14] Ashley-Li commented on #7864
Verified on latest .NET 8.0.100-alpha.1.22513.16 and .NET 7.0 RTM, run the customer's project and start dragging a picture or txt on the form designer. The [Debugger.Break] method is called to indicate that the GetData method returned null.
In Addition, tested the .NET 6.0 and it behaves the same way. @TheLeftExit Could you please check my my test result(below gif)？If I miss anything, please help

[2022-10-14 06:19] StefanKoell commented on #7864
Hi @Ashley-Li ! Although I'm not the author of the sample project, I guess the test is written in a way to use the TDraggableObject (see using on top) where you can easily swap out a serializable and non-serializable object for testing. The data object is set in the mouse down event/override. So dragging a file from the desktop will always return null when calling the GetData method with the typeo

[2022-10-14 06:21] kant2002 commented on #7864
@Ashley-Li we have issues in both cases. Drag from desktop and drag of the form, so testing of drag from desktop is also important.

[2022-10-14 07:30] Ashley-Li commented on #7864
Verified on latest .NET 8.0.100-alpha.1.22513.16 and .NET 7.0 RTM, run the customer's project and simple click and hold on the form designer and start dragging. It cannot go to the Debugger.Break method.
![8 0_7864_verify](https://user-images.githubusercontent.com/56664234/195787584-9fbde086-a957-403e-a5ef-b026929bc42e.gif)

Verified on.NET SDK 7.0.100-rc2.2.22477.23, run the customer's project an

[2022-10-14 07:35] StefanKoell commented on #7864
Thank you for confirming @Ashley-Li
This looks promising and seems to fix the issue in 7 RTM. Looking forward to the release and hope no other regression brings back the faulty behavior.

[2022-10-14 08:30] Ashley-Li commented on #7864
Hi @TheLeftExit, please download the latest .NET 8.0 or .NET 7.0 RTM to verify this issue again.

[2022-10-14 09:51] Olina-Zhang opened #7945 "SendKeys.SendWait() sends wrong characters"
### .NET version

8.0.100-alpha.1.22512.32

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, can not repro in .Net 7.0 and previous versions

### Issue description

SendKeys.SendWait() sends wrong characters for non-English characters, may be regressed from the PR change: https://github.com/dotnet/winforms/pull/7880

.Net 8.0 re

[2022-10-14 17:16] dreddy-work commented on #7939
related https://github.com/microsoft/winforms-designer/issues/4714

[2022-10-15 15:02] TheLeftExit commented on #7864
Hi @Ashley-Li, tested with the latest .NET 8 build and it's fixed on my side as well. Thanks for checking!

[2022-10-15 23:23] paul1956 commented on #7797
Ping

[2022-10-17 00:52] RussKie commented on #7864
Great to hear.
Thanks again to all involved for getting it fixed.

[2022-10-17 04:43] willibrandon commented on #457
Hi @wjk - I [added support for drag images and drop descriptions](https://github.com/dotnet/winforms/pull/6576), available since .NET 7 RC1. A sample program [can be found here](https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/DragDrop.cs).

The drag image and drop description will be displayed if [`DragEventArgs.DragImageType`](http

[2022-10-17 16:59] wjk commented on #457
@willibrandon Cool beans! Thanks for letting me know!

[2022-10-17 16:59] #457 closed

[2022-10-17 17:59] merriemcgaw commented on #7797
Thanks for the clarification @paul1956. Do you know if this has ever worked for either .NET Framework or .NET Core?

[2022-10-17 20:55] elachlan commented on #7945
@Olina-Zhang did you bisect the changes to see if the issue was caused by #7880?

[2022-10-17 20:57] jonaskohl commented on #7884
Opened #7957

[2022-10-18 01:31] Olina-Zhang commented on #7945
we have automation case failed recently, and I investigated it and found these repro steps, the SendKeys.cs file was changed in PR https://github.com/dotnet/winforms/pull/7880 recently by history display, so I think it caused this issue.
![image](https://user-images.githubusercontent.com/26474449/196313993-adcf481b-e0ca-494f-92cd-1823e1e1868a.png)

[2022-10-18 02:42] elachlan commented on #7945
I think its because CsWin32 isn't specifying the CharSet?

Here are the PInvokes:
Before:
[code]

After:
[code]

CC: @AArnott

[2022-10-18 02:52] elachlan commented on #7945
From the docs:

From the headers in Win32MetaData.
[code]

We will need to manually tag each function which is unicode maybe?

[2022-10-18 03:02] elachlan commented on #7945
I have created an issue in Win32Metadata, I believe it will be an issue with all PInvokes which should have `CharSet = CharSet.Unicode`
https://github.com/microsoft/win32metadata/issues/1318

[2022-10-18 08:15] paul1956 commented on #7797
@merriemcgaw  sorry I don't. I only started using Alpha Channel since .NET Core. There is a lot of discussion on internet/stack overflow.. around incorrect usage of color picker scrollbar some apps use it for Alpha Channel, but VS uses it for nothing useful that I can figure. If there were 2 scroll bars you could hit all RGB colors but with 1 its odd and why white to black when moving it changes c

[2022-10-18 18:54] merriemcgaw commented on #7797
We can put this on our backlog, but I do have to warn that it's not going to be at the top of our priority list. @Olina-Zhang can you copy this issue over to the designer and we will see what can be done. We'll also search for other indicators around customer feedback to see where we need to prioritize this issue.

[2022-10-18 21:51] elachlan commented on #7945
The latest update didn't fix it. It should be available in the next nightly build of CsWin32.

[2022-10-18 22:53] paul1956 commented on #7797
I don't think it is high priority but I do believe current behavior of slider is wrong and not sure why Alpha is not displayed when it's supported in the designer file.

[2022-10-19 00:00] merriemcgaw commented on #7945
Assigning to @lonitra to track the fix.

[2022-10-19 00:01] merriemcgaw commented on #7939
Closing as External. We'll track internally to make sure that once .NET 8 SDK is inserted into VS everything works as expected.

[2022-10-19 00:01] #7939 closed

[2022-10-19 00:04] merriemcgaw commented on #7938
The AccessibleName should be empty to ensure we flag developers to create an appropriate name when they test their accessibility.

[2022-10-19 00:16] merriemcgaw commented on #7842
The workaround is similar to what we did in our test resources. To subclass the RichTextBox and load the legacy one instead for your application. We've made enough changes that it would require significant retesting to enable the legacy RichTextBox version in our codebase. We're happy to help you get the [workaround ](https://github.com/dotnet/winforms/issues/7842#issuecomment-1270940355)in place,

[2022-10-19 00:16] #7842 closed

[2022-10-19 04:55] elachlan commented on #7797
I mean, adding an "alpha" text box at least would be an improvement. Maybe to the left of Hue?

[2022-10-19 07:04] elachlan commented on #7308
Ran into this issue when looking at enabling `IL3000` analyzer.https://github.com/dotnet/winforms/blob/466d7b9dcd22225249e03f1e1e65df8aebc1f3ae/eng/CodeAnalysis.src.globalconfig#L850-L851

[2022-10-19 07:43] willibrandon commented on #6269
I'm thinking of an event that gets raised when the contents of the clipboard have changed. Similar to what is described in [creating a clipboard format listener](https://learn.microsoft.com/en-us/windows/win32/dataxchg/using-the-clipboard#creating-a-clipboard-format-listener). Controls could subscribe to that event and act accordingly.

[2022-10-19 07:57] Perpete opened #7968 "Wrong display of selected folder in FolderBrowserDialog in vb."
### .NET version

Version .NET 6

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

I dont know.

### Issue description

Hello,

With version 17.6.3 of visual studio with .Net 6 with a WinForm project in VB language, I use the FolderBrowserDialog dialog.
I initialize the SelectedPath property with the value: "P:\Gestion_REDWOOD".
When

[2022-10-19 08:12] elachlan commented on #7887
@RussKie CA2007 has single violation:
https://github.com/dotnet/winforms/blob/e9a1042a6fd3718324237e843174e2cc5cc3c825/src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/ApplicationServices/WindowsFormsApplicationBase.vb#L883-L886

I am unsure if `ConfigureAwait(false)` is correct. I am pretty sure it is, since it should be resolved inside the `Task.Run()`.

[2022-10-19 08:28] Perpete commented on #7968
Hello,

The problem is also present with the "OpenFileDialog" dialog box.
The file name is also truncated.

Here is a piece of code for testing:

`
'Sélection du nom du fichier Access à sauvegarder sur le cloud

		Dim openFileDialog As New OpenFileDialog()

		'Sélectionne le dossier et fichier par défaut
		If File.Exists(txtFileSave.Text) = True Then
			openFileDialog.InitialDirectory = txtFileSav

[2022-10-19 13:24] deinok opened #7970 "Form.TopMost - Not Working when moving to .NET 6"
### .NET version

Checked with VB.NET 6 and VB.NET 7

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Working on VB.NET Framework 4.8

### Issue description

Moving an application from the TargetFramework `net48` to `net6.0`. (Written in VB.NET)

We have a small WinForms application that has the main Form with `TopMost` at `True`.
A

[2022-10-19 22:04] Tanya-Solyanik commented on #7763
@dmitrii-drobotov  - could you please experiment as Roberto requested?

[2022-10-19 22:44] #7815 closed

[2022-10-19 22:46] RussKie commented on #7970
To confirm, do I understand it correctly that the issue is not observed if you don't use the 3rd part library?

[2022-10-20 06:11] deinok commented on #7970
Hi @RussKie, the SCADA is not a library, it works like an application as Full Screen and a button on it executes my application my application that I'm trying to transition to .NET 6.

[2022-10-20 07:05] RussKie commented on #7970
Is the issue reproducible if SCADA not involved? If so - we need a repro, so that we can investigate. If not - then you need to contact the SCADA developers.

[2022-10-20 08:35] dmitrii-drobotov opened #7974 "Use covariant returns for `Owner` property in accessible objects"
Since C# 9 we can use [covariant returns](https://learn.microsoft.com/dotnet/csharp/language-reference/proposals/csharp-9.0/covariant-returns), though we never got around enhancing the code. Updating the code will allow us to remove the duplicate fields and use `Owner` property throughout.

_Originally posted by @RussKie in https://github.com/dotnet/winforms/pull/7954#discussion_r998992435_

[2022-10-20 09:15] John-Qiao opened #7975 "SaveFileDialog cannot be opened"
### .NET version

8.0.100-alpha.1.22514.14 + PR: [7933](https://github.com/dotnet/winforms/pull/7933) private dlls

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, this is a regression issue, it occurs in latest main branch 8.0 sdk + PR: [7933](https://github.com/dotnet/winforms/pull/7933) private dlls.

### Issue description

T

[2022-10-20 09:54] Amy-Li03 commented on #7864
Verified this issue on .NET 7.0.100 GA build, issue was fixed, the IDataObject.GetData method doesn't return null when clicking and holding on the form designer and start dragging.

[2022-10-20 10:39] RussKie commented on #7975
@lonitra @JeremyKuhne please investigate.

[2022-10-20 19:27] deinok commented on #7970
Hi @RussKie the problem is that with .NET 4.8 that was working. Did you know something that could be changed from .NET 4.8?
Any way to force it to be as the priority TopMost? Even if it requires DllImporting some WinAPI

[2022-10-20 22:35] elachlan commented on #7975
@John-Qiao is this on windows-x64?

[2022-10-20 23:00] elachlan commented on #7975
@lonitra @JeremyKuhne I think the struct is missing `[StructLayout(LayoutKind.Sequential, CharSet = CharSet.Auto)]` from the old pinvoke definition.
https://github.com/dotnet/winforms/blob/62edc1ab7b601bee58199fdea2580a54cf5cd25b/src/System.Windows.Forms.Primitives/src/Windows/Win32/UI/Controls/Dialogs/OPENFILENAME.cs#L7-L8

[2022-10-20 23:07] JeremyKuhne commented on #7975
That shouldn't matter as those are the defaults. I'm about to take a look.

[2022-10-20 23:07] JeremyKuhne commented on #7975
Uh, never mind. ANSI is the default.

[2022-10-21 00:13] #7975 closed

[2022-10-21 01:15] John-Qiao commented on #7975
@elachlan yes, it is on windows-x64.

[2022-10-21 02:04] #7945 closed

[2022-10-21 02:19] Olina-Zhang opened #7980 "[Accessibility]On Windows high contrast themes, disabled toolStripMenuItem should have disabled checkmark when enabled 'Checked' property"
### .NET version

8.0.100-alpha.1.22514.14

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro in previous .Net versions

### Issue description

On Windows high contrast themes, disabled toolStripMenuItem doesn't have disabled checkmark when enabled 'Checked' property

**Windows default theme**, it is correct:
![image]

[2022-10-21 02:37] Olina-Zhang commented on #7797
Opened GH designer issue: https://github.com/microsoft/winforms-designer/issues/4731, which has been closed as not planned, will take a look at it in the future if we have any additional customer asks.

[2022-10-21 03:55] Olina-Zhang opened #7981 "The original FolderBrowserDialog cannot be opened"
### .NET version

8.0.100-alpha.1.22514.14

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

yes, cannot repro in .Net 7.0

### Issue description

The FolderBrowserDialog cannot be opened when setting AutoUpgradeEnabled as false. This issue cannot be resolved after the PR fixing: https://github.com/dotnet/winforms/pull/7978
**.Net 8.

[2022-10-21 04:54] RussKie commented on #6041
@dreddy-work was this fixed, or are there more fixes expected to resolve this issue?

[2022-10-21 05:16] dreddy-work commented on #6041
I will have to go over the history one more time here.  I did link the fix that regressed here which was with anchor calculations.  Will have to check.

[2022-10-21 07:39] Cassie-Li01 commented on #7740
Verified this issue on .NET 7.0.100 GA build, issue was fixed. The screenshot as same as above.

[2022-10-21 18:28] dmitrii-drobotov commented on #7763
@rperez030 I repeated the experiment using only keyboard shortcuts, the issue is still present:

https://user-images.githubusercontent.com/102954094/197261785-96ae23bd-fca2-4ec2-8298-985a51746351.mp4

However, I noticed that there was no announcement of ComboBox collapse and it seems like the ComboBox didn't regain focus by NVDA after being collapsed. Instead, it looked like the focus was still on

[2022-10-21 19:27] JeremyKuhne opened #7988 "Remove BinaryFormatter for property bag serialization"
Our `IPropertyBag` implementations rely on `BinaryFormatter` to serialize to and from a `Hashtable`/`IStream`. `AxHost.PropertyBagStream` and `Control.ActiveXImpl.PropertyBagStream` are the implementations.

In most of the places we've removed `BinaryFormatter` we've relied on `TypeConverter` to convert to/from either `string` or `byte[]`. The idea here is to serialize to/from JSON (using System.T

[2022-10-21 22:34] dreddy-work commented on #7970
Does SCADA stand for "Supervisory Control And Data Aquisition" :).
I don't think we changed any intentionally in this space but given that you are moving form .NET 48 to .NET6.0, bunch of code now runs default that may earlier conditioned under app.config flags. If you could share your application or a simple repro application, we can investigate further.

[2022-10-21 22:38] dreddy-work commented on #7968
@Perpete, this seems an issue with native control here. Did you try a c++ (MFC) app? If it repro there, we may need to redirect this to Windows Operating System team.

[2022-10-22 04:44] Perpete commented on #7968
Hello,
@dreddy-work, I don't know C++ code.
I have never used it.

[2022-10-22 12:14] fiddyschmitt opened #7997 "Form Designer not showing for .NET 6 project"
### Environment

Visual Studio Enterprise 17.3.6

### .NET version

.NET 6

### Did this work in a previous version of Visual Studio and/or previous .NET release?

_No response_

### Issue description

When I open the Form Designer, it is blank. This happens even for a new project. It happens for .NET 6 projects, but the form designer works fine if I create a .NET 4.7.2 project.

I've tried all th

[2022-10-22 16:55] dreddy-work commented on #7968
@Olina-Zhang , can you guys try this and see if it repro for native apps as well?

[2022-10-22 23:00] dreddy-work commented on #7997
@fiddyschmitt , can you share the verbose log here? you should find instructions to set log level to verbose in troubleshooting guidelines you linked.

[2022-10-22 23:23] elachlan commented on #7981
Related: #79

[2022-10-22 23:31] elachlan commented on #2067
Currently I am undertaking this in #7887 to be on par with runtime.

[2022-10-22 23:48] elachlan commented on #2069
Should we close this since winforms is now moving to CsWin32?

[2022-10-23 00:53] fiddyschmitt commented on #7997
Thanks @dreddy-work! The verbose output revealed that it was DPI awareness causing the problem. (Something I had configured a long time ago).

The fix was to open this registry key:
`HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows NT\CurrentVersion\AppCompatFlags\Layers`
And delete the `devenv.exe` value.

For the record, here is the Verbose output I was seeing.

This setting:

[code]

Resulted in th

[2022-10-23 02:44] dreddy-work commented on #7997
@fiddyschmitt , thank you for sharing verbose. DesignToolsServer is a separate process from devenv, though it is launched/triggered by devenv process. This happen only when the designToolsserver process's DpiAwareness is already set and we are trying to set it again. Assuming you are unblocked for now. I will check this scenario and will keep this bug open until i find root cause and see how it ne

[2022-10-23 03:05] dreddy-work commented on #7997
@fiddyschmitt , can you share which Operating System version you are using this on?

[2022-10-23 03:23] fiddyschmitt commented on #7997
I see, thanks! Yes unblocked now.
Microsoft Windows 10 Pro Version	10.0.19043 Build 19043

[2022-10-23 08:47] Perpete commented on #7968
Hello,

Seems to be an old problem that has never been fixed.

https://stackoverflow.com/questions/60182612/default-filename-appears-truncated-in-windows-ifiledialog
https://stackoverflow.com/questions/24525606/openfiledialog-cuts-off-pre-populated-file-name
https://stackoverflow.com/questions/58171140/initialfilename-of-filedialog-doesnt-display-whole-file-name
https://social.msdn.microsoft.com/F

[2022-10-23 23:24] RussKie commented on #7968
As https://stackoverflow.com/q/60182612/2338036 indicates this is a Windows-level bug.

There are other tickets raised for this issue. E.g.:
* https://developercommunity.visualstudio.com/t/problem-in-display-of-initial-filename-i/1594820?q=OpenFileDialog
* https://developercommunity.visualstudio.com/t/Wrong-display-of-selected-folder-in-Fold/10176303?q=OpenFileDialog&page=1

/cc: @singhashish-wpf

[2022-10-23 23:29] RussKie commented on #2069
Yes, thank you.

[2022-10-23 23:29] #2069 closed

[2022-10-23 23:29] #2067 closed

[2022-10-23 23:47] elachlan commented on #3459
@Youssef1313 do you know of an analyzer that handles this?

[2022-10-23 23:57] #3168 closed

[2022-10-24 01:37] Youssef1313 commented on #3459
@elachlan On Roslyn side, there is an open request for it in https://github.com/dotnet/roslyn/issues/56859. There is https://github.com/AArnott/CSharpIsNull though.

[2022-10-24 01:53] RussKie commented on #7981
It would be great to add automated tests since this is not the first regression.

[2022-10-24 02:54] elachlan commented on #3459
@RussKie is the winforms team comfortable using the analyzer written by @AArnott at https://github.com/AArnott/CSharpIsNull?

[2022-10-24 04:58] Perpete commented on #7968
Hello
Does the problem go back to windows?

[2022-10-24 07:00] RussKie commented on #3459
Yes, we know where to find him :)
As a matter of fact we already using another package of his:
https://github.com/dotnet/winforms/blob/9538742d94b721c7af4b1b88e343eab7934d9d16/eng/Versions.props#L70

[2022-10-24 12:36] vlada-shubina opened #8015 "Update the documentation about the templates on learn.microsoft.com for .NET 7"
learn.microsoft.com features 2 articles where the templates are mentioned:
- https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-new#arguments - list of the available templates
- https://learn.microsoft.com/en-us/dotnet/core/tools/dotnet-new-sdk-templates - the documentation on the templates available with .NET SDK, including specific options.

Consider updating the articles for .NET 7:
- i

[2022-10-24 16:27] rperez030 commented on #7763
Hi @dmitrii-drobotov ! Thanks a lot for including the audio and making it so clear. @Tanya-Solyanik  I repeated the experiment with .net 7, and this is my understanding of the situation.

Scenario 1: Tab to the comboBox and navigate using the arrow keys without expanding:
It works, but the reason why it works is because NVDA is recognizing the control as an iAccessible object, not an UIA object "N

[2022-10-24 17:24] #7981 closed

[2022-10-25 01:02] merriemcgaw commented on #7997
@dreddy-work perhaps we should get this issue added to the troubleshooting guide?

[2022-10-25 02:25] fiddyschmitt commented on #7997
Thanks, yes adding it to the troubleshooting guide would be nice, given that the DPI suggestion came from MS:

https://learn.microsoft.com/en-us/visualstudio/designers/disable-dpi-awareness?view=vs-2022

Thanks again,
Fidel

[2022-10-25 12:31] NikitaSemenovAkvelon opened #8025 "[Accessibility] ArgumentOutOfRange exception is raised on selecting the last SubItem of ListViewItem in Details view if it has an image."
### .NET version

8.0.100-alpha.1.22512.5

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, reproduces only in .NET 8.

### Issue description

If select or just move cursor over the last `SubItem` of `ListViewItem` which has an image in `Details` view an `ArgumentOutOfRange` exception will be raised.
![Screenshot 2022-10-25 1607

[2022-10-25 19:37] Tanya-Solyanik commented on #7974
https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/breaking-change-rules.md#source-and-binary-compatibility-changes:

[code]

[2022-10-25 21:48] merriemcgaw commented on #7968
As @RussKie indicated this definitely is a Windows issue, and there's not really anything we can do on our end. It works the same way for any of the UI stacks that ultimately call into this Win32 dialog, and there's not much we can do on our end to work around the issue. My recommendation is for you as a customer to file feedback directly in Windows. You as a customer are likely to get more tracti

[2022-10-25 23:46] merriemcgaw commented on #8015
@KlausLoeffelmann let's work together to decide when and what we want to do.

[2022-10-25 23:52] merriemcgaw commented on #7980
@Olina-Zhang what does it look like on Win11? Is it good enough there?

[2022-10-26 00:03] merriemcgaw commented on #7974
We need to start with a new internal property on `ControlAccessibleObject` and then as we work on others we pick them up.

[2022-10-26 00:20] merriemcgaw commented on #7997
@Olina-Zhang can you take a moment to file an issue in the Designer repo to update the DesignToolsServer process to detect this situation and respond with an erorr message?

[2022-10-26 00:40] hyperquantum commented on #3263
If I understand it correctly, this issue is not really about scaling, but about being able to modify parts of the Font property in a more convenient way.

What about something like this:

[code]

Now we can do:

[code]

But it would be even more convenient to adjust the FontOverrides property with the designer.

[2022-10-26 00:41] dreddy-work commented on #7968
Notified windows team. @Perpete, filing feedback directly via Feedback Hub help you track progress on it. Closing this as external issue.

[2022-10-26 00:41] #7968 closed

[2022-10-26 02:46] Olina-Zhang commented on #7980
No, it also has this issue on Win11 high contrast themes, the screenshot is in https://github.com/dotnet/winforms/pull/7971#issuecomment-1285723449.

[2022-10-26 03:05] Olina-Zhang commented on #7997
@dreddy-work is this a dup of issue: https://github.com/dotnet/winforms/issues/7609? And you fixed it in designer PR: https://github.com/microsoft/winforms-designer/pull/4578

[2022-10-26 03:09] RussKie commented on #3263
[`Font` API](https://github.com/dotnet/runtime/blob/main/src/libraries/System.Drawing.Common/src/System/Drawing/Font.cs) is currently owned by dotnet/runtime, and I'm somewhat sceptical we could change the API. However, the ownership model _may_ change in the future (no promises or ETAs of any kind), and _if_ the Windows Forms team becomes the owner we could entertain the idea of extending the `Fo

[2022-10-26 06:29] kirsan31 commented on #3263
@hyperquantum

No the original issue is about scaling, but I went the wrong way in thots of fixing it :( I mentioned it [here](https://github.com/dotnet/winforms/issues/3263#issuecomment-973807360) (and in next post too).

Although I like your offer, apart from scaling, it looks logical. And to solve the scaling problem, we need to do a lot more, [like this](https://github.com/dotnet/winforms/pull

[2022-10-26 09:42] Olina-Zhang opened #8033 "[Accessibility] The menuItem with Alignment: right setting is not displayed in UIA tree when setting MenuStrip's GripStyle as Visible"
### .NET version

8.0.100-alpha.1.22514.14

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No，repro in previous .Net versions: 7.0/6.0 and .Net Core 3.1

### Issue description

The menuItem with Alignment: right setting is not displayed in UIA tree when setting MenuStrip's GripStyle as Visible

.Net 8.0:
![image](https://user-image

[2022-10-26 10:18] RussKie commented on #3263
No, I just pointed that changes to the `Font` API may not be _easily_ achievable.

[2022-10-26 10:24] kirsan31 commented on #3263
I think that in this suggestion this is not critical - we can achieve such functionality
[code]

through extension for example?

[2022-10-26 11:03] RussKie commented on #3263
I _think_ so, through one of the [overloads](https://learn.microsoft.com/dotnet/api/system.drawing.font.-ctor#overloads).

[2022-10-26 14:42] hyperquantum commented on #3263
I suspected something like this would be the case. But what do you think of the rest of the proposal, the changes to the Control class?

The new constructor overload in the Font class is not really required, it just seemed to make FontOverrides much more useful. The FontOverrides class could be part of WinForms or the runtime. Making it part of the runtime seems better to me, because it would allo

[2022-10-26 14:46] hyperquantum commented on #3263
I see. Well, if you can avoid explicitly setting the Font property by using the FontOverrides property instead, then that would avoid the scaling problem, wouldn't it?

[2022-10-26 15:08] kirsan31 commented on #3263
Unfortunately not. If the control's font is not explicitly set, then it will be scaled relative to the parent font. In terms of scaling your suggestion +- the same that mine [here](https://github.com/dotnet/winforms/pull/6580). Which was suspended due to the need to rework the designer, аnd in your case, the designer will have to be rework even more :(

[2022-10-26 16:56] dreddy-work commented on #7997
It is similar but for the supported modes of designer. If you set the unsupported mode for designer ( in this case, HIGHDPIAWARE, equivalent to PermonV2) we cannot proceed with that mode.

[2022-10-27 00:52] #7724 closed

[2022-10-27 01:00] JeremyKuhne opened #8046 "System.Windows.Forms.Tests.ListControlTests.ListControl_FormatInfo_Set_CallsRefreshItems fails intermittently"
### Test

System.Windows.Forms.Tests.ListControlTests.ListControl_FormatInfo_Set_CallsRefreshItems

### Issue description

System.Windows.Forms.Tests.ListControlTests.ListControl_FormatInfo_Set_CallsRefreshItems has been failing periodically, in the instance I investigated this was the error:

[code]

`Same` doesn't seem right, even if we think it doesn't change it, from a consumption standpoint i

[2022-10-27 01:49] RussKie commented on #8046
👍  `Same()` has been causing us pain in the past. And it's incorrect to compare `CultureInfo` instances like that, we should use `Assert.Equal`.

[2022-10-27 03:53] RussKie commented on #3263
The `Font` property is fundamental to the `Control`, and, as you may appreciate, and changes in this area would be breaking, carry very high risk and, thus, would have to meet a very high bar.

The first thing I would suggest is to try and create a POC implementing the proposal outside of the Windows Forms runtime. That is, inherit from `Control` type, and either override [`OnFontChanged` method](

[2022-10-27 06:20] John-Qiao commented on #7975
Verified with .NET SDK 8.0.100-alpha.1.22526.1 build from main branch, this issue is fixed that the save file dialog can be opened successfully now.

[2022-10-27 06:35] Perpete commented on #7968
Hello,
I reported the problem in Windows Feedback Hub.
It is titled "Folder or file name display problem when using dialogs from WIN32 APIs.".

[2022-10-27 08:19] Ashley-Li commented on #7997
@merriemcgaw @dreddy-work @Olina-Zhang Have filed a designer issue : https://github.com/microsoft/winforms-designer/issues/4743 to track.

[2022-10-27 12:52] Perpete opened #8048 "Using the FileSystemWatcher control on 2 different PCs using a common folder."
### .NET version

.NET 6 project in VB with WPF or Winform and visual studio 17.3.6.

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

I don't know.

### Issue description

Hello,

An identical program is used on 2 computers.
Each computer can create and delete the same file on the cloud.
This program uses the FileSystemWatcher contro

[2022-10-27 16:09] Perpete commented on #8048
Hello,

Running the program twice and at the same time on a single computer does not cause this problem.

On the screenshot, we see the detection of the deletion of the file by the FileSystemWatcher controls of the 2 programs.

![PCseul](https://user-images.githubusercontent.com/66659162/198342041-911036e5-c4f1-433e-af1a-faca06975c2c.png)

[2022-10-28 04:13] #7938 closed

[2022-10-28 07:09] Ashley-Li commented on #7725
Verified with .NET SDK 8.0.100-alpha.1.22527.5 build from main branch, this issue is fixed. Now
the colour contrast of checkmarks in MenuStrip is higher than 3:1 on Windows 11 high contrast themes：
![image](https://user-images.githubusercontent.com/56664234/198523708-c9f3d48d-ce0f-4b65-8490-f4204eca3db0.png)
![image](https://user-images.githubusercontent.com/56664234/198523171-c7987dc8-75a2-4152-b

[2022-10-28 09:27] icom85 opened #8062 "The WH_GETMESSAGE hook type is not working in .NET 7"
### Description

Hello!

The P/Invoked `SetWindowsHookEx` method using the [WH_GETMESSAGE](https://learn.microsoft.com/en-us/windows/win32/winmsg/about-hooks#wh_getmessage) hook type is not working in .NET 7. The messages that are constructed seem odd, for example in .NET 7 the WM_LBUTTONDOWN message is never created. The issue seems to be e regression as the same code and setup is working in .NET

[2022-10-28 18:20] JeremyKuhne commented on #8062
Yes, this is because we changed the order of the fields in `Message`. As it originally doesn't match `MSG` it didn't seem like internal modifications would impact anyone (as it isn't technically blittable as only the first 4 fields line up, the rest will be garbage).

We can change the order back, but that would have to come in servicing at this point. Tagging @merriemcgaw.

If you want to work ar

[2022-10-28 18:31] JeremyKuhne commented on #8062
I'd note there is also substantial risk here if we ever needed to add another field to the struct. In the future we could end up with a struct that is bigger, which could result in an Access Violation exception doing what you're doing.

[2022-10-28 19:28] dreddy-work commented on #4991
@Tanya-Solyanik / @RussKie / @merriemcgaw , what is the decision here. 7.0 milestone need to be closed.

[2022-10-28 20:01] JeremyKuhne commented on #8062
#8063 fixes this for .NET 8.

We've made a number of internal changes to the `Message` struct to harden our code against casting mistakes. The internal layout changed in the process of doing this.

[2022-10-28 20:37] merriemcgaw commented on #4991
Closing. We did do an update blog and @KlausLoeffelmann is getting samples and docs together.

[2022-10-28 20:37] #4991 closed

[2022-10-30 09:24] icom85 commented on #8062
Hi, Jeremy! Thanks for fixing this so quickly. Big thanks also for the for the workaround, I think we could use it.

[2022-10-31 00:08] RussKie commented on #8062
@JeremyKuhne @dreddy-work please file a "known issue" for .NET 7 https://github.com/dotnet/core/blob/main/release-notes/7.0/known-issues.md.
I believe @rbhanda can guide you.

[2022-10-31 01:16] RussKie commented on #8062
The regression was introduced in #5849.

[2022-10-31 02:17] RussKie commented on #4239
To provide an update: the work to support custom root designers in the out-of-proc designer is under way. There is still no definitive ETA, however, we're aiming for 17.5 timeframe.

[2022-10-31 12:17] NikitaSemenovAkvelon commented on #4690
Tested the remaining cases which are still unchecked.

- Details.Case 1. OK
![Screenshot 2022-10-31 160430](https://user-images.githubusercontent.com/109065597/199005367-f9a30655-3d8e-45c7-bfa2-9b65e00be9ef.png)

- Details.Case 3. OK
![Screenshot 2022-10-31 161012](https://user-images.githubusercontent.com/109065597/199005467-4f453f93-10b8-4e1d-abda-3b47a2c1f9ad.png)

- Tile.Case 2. OK
![Screensho

[2022-10-31 16:43] zydjohnHotmail opened #8077 "How to fix the issue: "The following controls were successfully added to the toolbox but are not enabled in the active designer""
### Environment

Visual Studio 2022 (Version 17.3.6).
OS: Windows 10 PRO (Version 21H2)

### .NET version

.NET 6.0

### Did this work in a previous version of Visual Studio and/or previous .NET release?

Yes. I can download and run its source in Visual Studio 2022 (the latest version).
The .csproj showed its target:
    <TargetFrameworks>net5.0-windows;net40</TargetFrameworks>
    <OutputType>Lib

[2022-10-31 17:47] JeremyKuhne commented on #8062
@dreddy-work, @RussKie  Please do not put this in "known issues". This is an unsafe use of undocumented internals. Nobody should be doing this as we could break people worse in the future by adding additional functionality in `Message` (if we added additional fields this sort of hard blit could AV). While we were able to make an accommodation in this case, I don't want to give any inclination that

[2022-11-01 07:21] RussKie commented on #8062
I completely disagree here. This was working, and now it doesn't. It doesn't matter how we feel about it - it is broken now. This is the definition of a "breaking change".

If the change was deliberate it **must be documented** https://learn.microsoft.com/dotnet/core/compatibility/7.0 - an appropriate "breaking change" issue must be created in https://github.com/dotnet/docs/ repo.
If this was an a

[2022-11-01 11:21] bpradeep771 opened #8082 "Winforms Designer - Failed to launch the designer server process"
### Environment

Visual Studio Professional 2019  - 16.11

### .NET version

.NetCore - 3.1

### Did this work in a previous version of Visual Studio and/or previous .NET release?

_No response_

### Issue description

In the Winforms project after using “Microsoft.Toolkit.Forms.UI.XamlHost” and setting Platforms is “X64; X86” in the Winforms Netcore project, unable to open the form designer.

ple

[2022-11-01 17:12] dreddy-work opened #8087 "Tacking issue: Anchors in PermonV2 mode become invalid"
### .NET version

.NET 8.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

N0. This new way of calculation is introduced in 8.0

### Issue description

In PermonitorV2 mode applications, when moving the Form from one monitor to the other, Form gets an invalid display rectangle for a brief period during the scaling of its child contr

[2022-11-01 18:00] dreddy-work opened #8088 "UserCOntrol with anchored controls does not work on high dpi machines."
### .NET version

.NET 8.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

NO

### Issue description

Adding a user control, that has anchored controls, to the Form and launching on high dpi scaled  (300%) monitor, doesn't display/scale anchored controls form the user control properly.

Actual:
![image](https://user-images.githubuse

[2022-11-01 18:27] dreddy-work opened #8089 "Controls on the Form are truncated on high dpi machines."
### .NET version

.NET 8.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

NO

### Issue description

In PermonitorV2 mode application, child controls placed on the Form, close to border are cut when moved from one monitor to the other with different DPI scaling. It is more evident in anchored controls.

### Steps to reproduce

- Cr

[2022-11-01 18:35] dreddy-work opened #8090 "Anchored controls layout is broken if Container has visible scrollbars"
### .NET version

.NET 8.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No.

### Issue description

Applications running in PermonitorV2 mode and has scroll bars visible, anchoring child controls results in incorrect layout when moved to different monitor. Following image shows the issue in detail:

scenario:  Application moved f

[2022-11-01 18:40] #8089 closed

[2022-11-01 18:41] #8090 closed

[2022-11-01 18:41] #8088 closed

[2022-11-01 23:38] #8025 closed

[2022-11-01 23:58] Tanya-Solyanik commented on #8046
@dmitrii-drobotov - please search the codebase for similar cases where we compare cultures.

[2022-11-02 01:24] merriemcgaw commented on #8082
@bpradeep771 - I suggest that we try having you run this using VS2022, where we have much better diagnostic information. It may also be the case that XAML Islands controls aren't working properly at all, which would be tracked in the [CommunityToolkit repo ](https://github.com/CommunityToolkit/Microsoft.Toolkit.Win32/issues?q=is%3Aissue+label%3A%22XamlIslands+%3Adesert_island%3A%22+)you've already

[2022-11-02 01:28] vsfeedback opened #8095 "winforms databound usercontrol causes rowchanged event"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/winforms-databound-usercontrol-causes-ro/10185137)._

---
[severity:It's more difficult to complete my work]
When a win forms usercontrol is data bound to a datatable. It causes the datarow to be modified EVEN when no data has been changed.
This is causing a big performance issue in my a

[2022-11-02 01:36] MelonWang1 commented on #8095
**.NET Core Version:**
.NET SDK 8.0.100-alpha.1.22531.8

**Have you experienced this same bug with .NET Framework?:**
Yes

**More Info:**
This is not a regression issue, it also repro on .NET Core 3.1 & .NET 5.0, 6.0, 7.0.

**Actual behavior:**
This test causes each row to be modified, as show by the display of the change count values.
<img width="704" alt="Screenshot 2022-10-31 224530" src="https

[2022-11-02 04:22] dreddy-work commented on #7313
Should be addressed by #7956. No repro with latest bits.

[2022-11-02 04:22] #7313 closed

[2022-11-02 04:22] dreddy-work commented on #6717
Should be addressed by https://github.com/dotnet/winforms/pull/7956. No repro with latest bits.

[2022-11-02 04:22] #6717 closed

[2022-11-02 04:22] dreddy-work commented on #3438
Should be addressed by https://github.com/dotnet/winforms/pull/7956. No repro with latest bits.

[2022-11-02 04:22] #3438 closed

[2022-11-02 08:34] Olina-Zhang commented on #7715
Re-tested this issue on Win10 and Win11 as following steps, found it just repro on Win10.

Repro steps:
1. Launch test project in .Net 8.0
2. Launch Windbg and attach this test app
3. Open Narrator, and click Go button in Windbg
4. Focus on test app, click OpenMonthCalendar button to open another form with MonthCalendar
5. Focus on MonthCalendar, click some specific dates,  then click Previous, Ne

[2022-11-02 08:47] NikitaSemenovAkvelon commented on #7715
@Tanya-Solyanik should we try to fix that on our side if it depends on OS?

[2022-11-02 09:59] Olina-Zhang opened #8098 "[Accessibility] Form cannot be focused and announced by Narrator automatically when launching app's exe from file explorer"
### .NET version

8.0.100-alpha.1.22551.5

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, repro in previous all versions

### Issue description

Form cannot be focused and announced by Narrator automatically when launching app's exe from debug folder

.Net 8.0:
![Form_8 0](https://user-images.githubusercontent.com/26474449/1994

[2022-11-02 12:58] dmitrii-drobotov commented on #8098
This is a follow-up on #6896

[2022-11-02 19:52] Tanya-Solyanik commented on #7715
no, I'll close this bug.
@Olina-Zhang  - thank you for the verification!

[2022-11-02 19:52] #7715 closed

[2022-11-02 22:47] memoarfaa opened #8107 "designer form doesn't take care about window state Activation"
### Environment

Microsoft Visual Studio Enterprise 2019
Version 16.11.20

### .NET version

.NET Core 3.1 and.NET 5

### Did this work in a previous version of Visual Studio and/or previous .NET release?

No

### Issue description

designer doesn't take care about window state Activation state of form

### Steps to reproduce

open new form in design mode click Properties

![2022-11-02_23-31-26](h

[2022-11-02 23:27] RussKie commented on #8107
@memoarfaa just to confirm I understand the issue correctly - is the issue related to to the fact the form remains in focus? If yes - why is it important, and how is it affecting your developer experience?

[2022-11-03 01:25] memoarfaa commented on #8107
is the issue related to to the fact the form remains in focus? yes
Save time while designing

https://user-images.githubusercontent.com/12494184/199631863-68c21bdc-80c7-4e04-bb56-c236f8058710.mp4

https://user-images.githubusercontent.com/12494184/199631872-739918bc-f686-4ba3-bc36-a24ac7119f83.mp4

[2022-11-03 06:54] Nora-Zhou01 commented on #7945
Verified with .NET SDK .NET 8.0.100-alpha.1.22552.10 build from main branch, this issue is fixed that the SendKeys.SendWait() sends the correct character.
![8 0](https://user-images.githubusercontent.com/104609169/199662251-2b68ece3-ce93-41a1-b9f2-9ab02fd51184.png)

[2022-11-03 07:19] Nora-Zhou01 commented on #7815
Verified with .NET SDK .NET 8.0.100-alpha.1.22552.10 build from main branch, this issue is fixed that When a TextBox contains placeholder text, can set the HelpText accessible property.
![AI](https://user-images.githubusercontent.com/104609169/199665761-7a0cda6d-9fc7-403e-b3b0-7e441b9bbb3d.png)

[2022-11-03 08:22] Amy-Li03 commented on #7724
Verified this on .NET 8.0 latest build: 8.0.100-alpha.1.22552.11, issue was fixed on Win10 and Win11 OSes.
![image](https://user-images.githubusercontent.com/62929087/199674394-152e7dfb-47b8-4106-af4c-089ba125f5f9.png)
![image](https://user-images.githubusercontent.com/62929087/199674792-f603475a-1544-44d7-a5cb-8343a00f9eba.png)

[2022-11-03 08:47] MelonWang1 commented on #7981
Verified this on .NET 8.0 latest build: 8.0.100-alpha.1.22552.10, issue was fixed. When click button the folder browser dialog pops up.
![7981](https://user-images.githubusercontent.com/94418985/199679108-92ee056e-e240-466e-a892-8ccffeb8532c.png)

[2022-11-03 08:51] MelonWang1 commented on #7938
Verified this on .NET 8.0 latest build: 8.0.100-alpha.1.22552.10, issue was fixed. For MaskedTextBox with Mask setting the Name property in Inspect is empty.
![7938](https://user-images.githubusercontent.com/94418985/199679801-516fc886-c46b-4491-8fbc-bd30852e8ae4.png)

[2022-11-03 08:52] Olina-Zhang opened #8108 "An exception thrown when opening FileDialog with non-existing InitialDirectory"
### .NET version

8.0.100-alpha.1.22552.11

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, cannot repro previous released .Net versions

### Issue description

An exception thrown when opening FileDialog with filters

**.Net 8.0:**
![image](https://user-images.githubusercontent.com/26474449/199679299-0b3aba10-507a-4587-8aad-84

[2022-11-03 09:04] NikitaSemenovAkvelon commented on #7974
Tried to use covariant return for new property `OwnerInternal`, but got a `TypeLoadException` in `Marshal.GetIUnknownForObject` method:

  HResult=0x80131522
  Message=Signature of the body and declaration in a method implementation do not match.  Type: 'ButtonBaseAccessibleObject'.  Assembly: 'System.Windows.Forms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.
  Source=Syste

[2022-11-03 09:11] MandiMan commented on #7830
Verified with .NET SDK .NET 8.0.100-alpha.1.22552.10 build from main branch, this issue is fixed that AutomationID property is not empty for dropdown items under ImageAlign/TextAlign/CheckAlign/Anchor/Dock property in PropertyGrid.
![issue 7830](https://user-images.githubusercontent.com/108860782/199683444-50c13676-011b-4ce4-91c7-0a726c156b15.png)

[2022-11-03 11:02] MandiMan commented on #8025
Verified with .NET SDK .NET 8.0.100-alpha.1.22552.10 build from main branch, this issue is fixed that if you select or just move the cursor to the last SubItem of a ListViewItem with an image in the detail view, no ArgumentOutOfRange exception is raised.
![issue8025](https://user-images.githubusercontent.com/108860782/199703882-bb0e7145-e0d0-419f-8f10-4eedda6c7270.png)

[2022-11-03 14:56] AaronRobinsonMSFT commented on #7974
@NikitaSemenovAkvelon I don't know for sure, but this is likely some validation done in the COM interop subsystem. The gist being, does the marshallable object adhere to some interface contract. The notion of covariant returns isn't something that COM interop is likely aware of. You should be able to create a very small repro case for this and if it continues to fail, please file an issue in dotne

[2022-11-03 23:00] RussKie commented on #7974
@AaronRobinsonMSFT the puzzling thing is that we're trying to _add_ a new internal covariant property:

[code]

[2022-11-03 23:19] RussKie commented on #8108
@lonitra putting this on your radar

[2022-11-03 23:20] RussKie commented on #8108
https://github.com/dotnet/winforms/pull/8021 will be useful to increase our test coverage for dialogs and reduce further risks of such regressions.

[2022-11-03 23:30] #8046 closed

[2022-11-04 01:12] Olina-Zhang commented on #4982
Verify this issue in Accessibility Insight tool, the UIA tree is updated every time, doesn't repro this issue, so close it.

[2022-11-04 02:19] Olina-Zhang commented on #4847
Tested this issue, cannot repro in Accessibility Insight tool and Inspect with updating, so close it.

[2022-11-04 02:19] #4847 closed

[2022-11-04 03:57] NikitaSemenovAkvelon commented on #7974
Oh, sorry I've forgotten to attach the branch with a commit.
https://github.com/NikitaSemenovAkvelon/winforms/tree/Issue_7974-Refactoring_ControlAccessibleObject_OwnerCovariantReturn

[2022-11-04 06:53] #79 closed

[2022-11-04 06:57] RussKie commented on #8107
Looking at your animation, it looks like you're running a custom form with custom properties and behaviours (doing NC-painting?)....

[2022-11-04 07:38] Ashley-Li commented on #8089
Verified this on .NET 8.0 latest build: 8.0.100-alpha.1.22552.11, issue was fixed. Now the margin values are work in these buttons.
![image](https://user-images.githubusercontent.com/56664234/199917897-a7fd3b62-5652-4ef2-b708-908b66fe4595.png)

[2022-11-04 11:25] dmitrii-drobotov commented on #7608
The icon was changed in Core and now has sufficient contrast ratio in different HC themes due to an added border:
![image](https://user-images.githubusercontent.com/102954094/199940558-a1e4503e-6e0f-4976-8025-71b0b2bac3e2.png)
![image](https://user-images.githubusercontent.com/102954094/199943657-8dd7e576-9682-4b78-87e5-cf8377bfce0a.png)
![image](https://user-images.githubusercontent.com/102954094

[2022-11-04 11:45] memoarfaa commented on #8107
yes true

[2022-11-04 11:56] conorgee commented on #329
After testing the TrackBar tickFrequency to limit the max number of Ticks to the pixels of bar's width in horizontal mode or bar's height in vertical mode. I found the memory consumption stays the same the tickStyle set to none was the only fix I could find to avoid the issue.

[2022-11-04 14:06] dmitrii-drobotov commented on #6187
I believe it was fixed by https://github.com/dotnet/winforms/pull/6522 and this issue can be closed. @Olina-Zhang could you please retest it on current versions?

[2022-11-04 22:39] alchemistis opened #8116 "FolderBrowserDialog throws AccessViolationException and crashes when creating a new folder in a USB drive with no space available"
### .NET version

6.0.10

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

The issue happens when trying to create a new folder in a USB flash drive with no space available through FolderBrowserDialog or SaveFileDialog.

USB Device:
![image](https://user-images.githubusercontent.com/14222884/20008

[2022-11-06 20:45] memoarfaa commented on #8107
I fixed the Nc painting by add SetWindowPos to every property but I still can't get Inactive title bar color because .net Core designer doesn't take care about WM_NCACTIVATE message .
any idea.

`                SetWindowPos(Handle, IntPtr.Zero, 0, 0, 0, 0,
                    (int)(SWPFlags.SWP_NOACTIVATE | SWPFlags.SWP_NOMOVE | SWPFlags.SWP_NOSIZE |
                    SWPFlags.SWP_NOZORDER | SW

[2022-11-06 21:23] elachlan commented on #8116
This is 100% a windows issue if its happening without any usage of winforms. Winforms is just a wrapper of the WinAPI, it doesn't manage the WinAPI code.

Could you please provide your Windows version details?

[2022-11-06 22:21] alchemistis commented on #8116
Hey @elachlan, thank you for the fast reply.

Yeah, it's likely a Windows problem unfortunately.

 Sure, my main workstation is running Windows 11 (22H2, build 22621.674) and one of the other computers I tested the issue on is running Windows 10 (21H2, build 19044.2130).

![Main](https://user-images.githubusercontent.com/14222884/200197894-401de516-a292-48f9-9702-12b0b4665408.png)

![Aux](https://

[2022-11-07 01:06] elachlan commented on #4136
@RussKie Should we close this issue because of #7445?

[2022-11-07 01:06] elachlan commented on #4135
@RussKie Should we close this issue because of #7445 or does this compliment it?

[2022-11-07 02:22] RussKie commented on #8116
@Olina-Zhang could you please see if you can repro this with an MFC app? Thank you

[2022-11-07 02:26] RussKie commented on #4135
Thank you for going through the backlog. If we're importing callbacks from CsWin32 then, I think, we can close it. If we still have manually created callbacks - then I think this may still be relevant.

I let @JeremyKuhne to make a call on this, since he's opened the issue.

[2022-11-07 02:27] RussKie commented on #4136
Yes, thank you for finding this.

[2022-11-07 02:27] #4136 closed

[2022-11-07 02:33] RussKie commented on #8107
This looks pretty cool. What license have you put your code under?

[2022-11-07 06:32] Olina-Zhang commented on #8116
Sorry, due to office security regulations, we cannot use any USB flash drive. And I cannot repro this issue with a virtual disk:
![image](https://user-images.githubusercontent.com/26474449/200240852-41b9be5d-27f0-4586-a92b-112eaf0be94f.png)

[2022-11-07 07:45] #7980 closed

[2022-11-07 13:02] memoarfaa commented on #8107
MIT License

[2022-11-07 16:33] rainersigwald commented on #1239
No, and it's part of .NET Framework SDK, which is unlikely to see major changes in the future. MSBuild owns a fork of the `resgen.exe` code, though, in our `GenerateResource` task. If this repros there, without `resgen.exe`, that bug would belong to MSBuild. But that doesn't appear to be the case; `GenerateResource` worked over a 40k-resource-string resx in 308 ms on my machine.

If you can alter

[2022-11-07 17:03] KlausLoeffelmann commented on #8095
Quick question:
Although you stated already, it's not a regression from .NET Framework, I'd rather ask twice than miss it, and make sure: Are you seeing the same behavior in .NET _Framework_ 4.7.2 or 4.8?

[2022-11-07 17:07] KlausLoeffelmann commented on #8116
Out of interest:
Does this "only" happen when you create a new folder, or also with other IO-related functions you try to perform on that device? Like can you query remaining memory or list directory or files without problems?

[2022-11-07 18:15] s0fire opened #8133 ".win should be form .winforum ?"
### Test

electricity

### Issue description

Wii

[2022-11-07 18:16] s0fire commented on #8133
working along a solid #path

[2022-11-08 00:56] elachlan commented on #7375
I was digging through the backlog and found #4808, is that related to the AccessibleObjects? Should that issue be closed in favour of this one?

[2022-11-08 01:24] #7375 closed

[2022-11-08 01:27] Tanya-Solyanik commented on #4808
@Olina-Zhang - could you please retest this issue?

[2022-11-08 02:16] MelonWang1 commented on #8095
This issue also reproduces on .NET Framework 4.7.2 and 4.8.
![472](https://user-images.githubusercontent.com/94418985/200458447-132834e2-8300-42bc-911e-1416c723df5f.gif)

[2022-11-08 02:32] Olina-Zhang commented on #4808
Verified this issue in the latest .Net 8.0 build as above sample application and video in VS, have same testing result, so still repro.
![image](https://user-images.githubusercontent.com/26474449/200460759-f423bc91-9c0a-4f76-bbe2-17a29b6a7d52.png)

[2022-11-08 07:55] RussKie commented on #8107
If you're up for a challenge, we have some long-standing issues with MDI child window rendering - https://github.com/dotnet/winforms/issues/3691. The root issue is within the realms of Windows code, but there's no hope it'll ever be fixed. So an alternative would be to come up with a Windows Forms opt-in functionality (e.g., a renderer of some kind) that would allow rendering NC-area of the MDI ch

[2022-11-08 10:30] memoarfaa commented on #8107
In short answer issues https://github.com/dotnet/winforms/issues/3691. solved in [memoarfaa/SkinFormCore](https://github.com/memoarfaa/SkinFormCore)
1- download
 [SkinFormCore v1](https://github.com/memoarfaa/SkinFormCore/releases/tag/V1)
2- Add refence to SkinFramWorkCore.dll
 in your project
3- Create new MDI Window
4- Create methods to Show child window
` new SkinForm() { MdiParent = this }.Sho

[2022-11-08 12:55] memoarfaa commented on #3691
@driver1998
@dreddy-work
@Amy-Li03
@kirsan31
@merriemcgaw
@KlausLoeffelmann

I create theme Form library that fixed this issue

[memoarfaa/SkinFormCore](https://github.com/memoarfaa/SkinFormCore)

Any suggestion is Welcome

[2022-11-08 13:14] kirsan31 commented on #3691
@memoarfaa

Thank you for this work! And I want to notice that we already have [one attempt](https://github.com/dotnet/winforms/issues/3691#issuecomment-940101397).

My personal opinion is that I will not use a third-party mechanism until it is tested and added to WinForms.

[2022-11-08 15:24] memoarfaa commented on #3691
this them load default operating system setting if the developer doesn't change it not completely difference Theme

I tested it for a few months on most operating systems and on different devices
But testing and adding to WinForms here is welcome if the team agrees

[2022-11-08 15:30] kirsan31 commented on #3691
@memoarfaa

In my experience, if you wish to get some valuable team feedback / help on any **new** feature, then you need to create a PR...

[2022-11-08 23:10] #8108 closed

[2022-11-08 23:14] elachlan commented on #2644
@RussKie Would the team be against PRs changing non-public `arraylist` usage to `List<T>` where appropriate?

[2022-11-08 23:18] RussKie commented on #2644
I believe, such change is quite welcome :)

[2022-11-08 23:25] KlausLoeffelmann commented on #3691
Thanks for the effort, we definitely appreciate!

I'll take a look - can't promise when exactly, but I wanted to give some feedback already that I have it on my radar. I am a bit reluctant though to see it's done by NC-rendering, to be honest - but then again I don't want to jump to conclusions before having taken a look at the demo, anyway.

[2022-11-09 00:06] elachlan opened #8140 "Convert `ArrayList` usage to `List<T>` where possible"
### Is your feature request related to a problem? Please describe

Winforms uses `Arraylist` extensively.

### Describe the solution you'd like and alternatives you've considered

Convert `Arraylist` usage to `List<T>` to reduce boxing and improve memory utilization.

### Will this feature affect UI controls?

N/A

Related: #2644

Remaining occurrences in `System.Windows.Forms.Design`
|File|Line C

[2022-11-09 01:06] merriemcgaw commented on #8140
This is a great idea, and a wonderful place for the community to engage and find the right areas to make changes like this. Of course, we'd need to avoid making this happen on the public surface area 😄

[2022-11-09 01:10] merriemcgaw commented on #8116
@alchemistis can you please provide us with the callstack? That will help us to diagnose the issue a little bit faster. Thanks!

[2022-11-09 01:14] Tanya-Solyanik commented on #8116
@alchemistis - is possible, a mixed mode call stack would be great, just enable native debugging for your sample.

[2022-11-09 01:18] elachlan commented on #8140
One issue I have run into is that there are a few collections which expose `IList.IsFixedSize`, `List<T>` doesn't have that property. I don't think `FixedSize()` gets called either. So it might be an idea to change `IsFixedSize` to just return false?

[2022-11-09 01:19] merriemcgaw commented on #8107
@lonitra would be super interested in what you're doing with the skinning, thank you for sharing! This is something we will have to investigate in our out of process designer. It might be that the window needs to be invalidated to force it to repaint.

[2022-11-09 01:21] merriemcgaw commented on #8098
@NikitaSemenovAkvelon if you can confirm that if there is something focusable on the form that Narrator does pick it up, then I think we can hold off on a deeper investigation for now.

[2022-11-09 01:25] merriemcgaw commented on #8095
Thank you for bringing this up! There may well be a customer that depends on this behavior, and changing it after all these years would be breaking for those customers migrating to .NET Core. At the moment, something this doesn't meet the bar for the team and there is a significant compatibility risk. @MelonWang1, can you close the underlying issue as low-pri.

[2022-11-09 01:25] #8095 closed

[2022-11-09 01:33] MelonWang1 commented on #8095
@merriemcgaw ok, thank you, I will close this ticket as low-pri.

[2022-11-09 01:44] KlausLoeffelmann commented on #3691
@memoarfaa: Could you update the demo so it includes the necessary runtime components?

[2022-11-09 01:50] Olina-Zhang commented on #6187
Verified this issue in the .Net 7.0 and .Net 8.0 SDK build, all are fixed as following screenshot. Close this issue now.
![image](https://user-images.githubusercontent.com/26474449/200716939-5b84ac93-fd26-493b-85c1-3cf7eaf1f4fc.png)

[2022-11-09 01:50] #6187 closed

[2022-11-09 06:20] NikitaSemenovAkvelon commented on #7974
Created an Issue about this bug https://github.com/dotnet/runtime/issues/78090

[2022-11-09 06:45] NikitaSemenovAkvelon commented on #8098
If a form has any focusable element, all works fine.
But the issue is more complex in fact. Narrator (also as NVDA) doesn't announce any events of forms until it is refocused. For a test, I added a custom notification in the OnClick method and it wasn't announced.

[2022-11-09 06:49] NikitaSemenovAkvelon commented on #4690
@merriemcgaw I think, we can close the issue, doesn't it?

[2022-11-09 07:24] elachlan opened #8143 "Convert `Hashtable` usage to `Dictionary<TKey, TValue`"
### Is your feature request related to a problem? Please describe

Hashtable has been used all over the winforms code base.

### Describe the solution you'd like and alternatives you've considered

Refactoring to `Dictionary<TKey, TValue` is explicit in its typing and avoids boxing.

### Will this feature affect UI controls?

N/A

[2022-11-09 08:11] glynn-stuber commented on #8095
This problem causes a severe performance impact on any application using a usercontrol bound to a database table column.

I have found a work-a-round.
The BUG is that dotnet ignores a binding failure and as a result flags each row as being modified - even though no data is actually changed.

The binding class constructor provides a hint. It states:
"When you create a binding to a control's propert

[2022-11-09 09:09] Olina-Zhang opened #8144 "Form designer failed to load after setting ApplicationHighDpiMode as PerMonitorV2"
### .NET version

8.0.100-alpha.1.22556.1

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro in .Net 7.0 and .Net 6.0 SDK builds

### Issue description

On 100%DPI or High DPI environment, after setting ApplicationHighDpiMode to PerMonitorV2, form designer failed to load:

Here is the logs in Output window:
_[00:53:4

[2022-11-09 11:56] NikitaSemenovAkvelon commented on #6103
Closed as not planned.

[2022-11-09 11:56] #6103 closed

[2022-11-09 11:57] NikitaSemenovAkvelon commented on #6702
Won't fix.

[2022-11-09 11:58] NikitaSemenovAkvelon commented on #6702
Won't fix.

[2022-11-09 11:58] #6702 closed

[2022-11-09 12:48] alchemistis commented on #8116
Hey @KlausLoeffelmann,

Yeah, apparently the issue only happens when creating new items (Folders, text files, bitmaps or any other item available through the dialog's context menu will also cause the issue). The other operations you mentioned seem to work just fine.

[2022-11-09 12:59] alchemistis commented on #8116
Hey @merriemcgaw, @Tanya-Solyanik, Sorry for not getting back to you sooner.

And of course, here's the call stack (I believe most relevant symbols were loaded, but if you need extra information let me know):
[code]

Thank you!

[2022-11-09 13:20] AngeloCresta commented on #4671
The issue is still present on .Net 7.0 using Application.SetHighDpiMode(HighDpiMode.PerMonitorV2) ...
The fix is planned for .Net 8.0 then?

[2022-11-09 17:42] dmitrii-drobotov commented on #7608
Closing as it's resolved in runtime.

[2022-11-09 17:42] #7608 closed

[2022-11-09 18:24] Tanya-Solyanik commented on #8098
Please clarify your experiment. To invoke OnClick, you have to click on the form and thus put focus on it.... You need notifications on timer to avoid focus. No announcement unless application is focused looks like a "by design" feature for certain types of notifications. For example, when I'm working in VisualStudio I might want or might not want to receive notifications from teams if teams does

[2022-11-09 19:10] #4762 closed

[2022-11-09 19:13] dreddy-work commented on #4671
We are looking into these in .NET 8.0 more actively and prioritizing them. Will update this thread with progress on this issue.

[2022-11-09 19:23] Jericho commented on #8140
I would be happy to contribute. I will start with combing through the code base to identify the various classes that would be affected.

[2022-11-09 20:34] Tanya-Solyanik commented on #8116
Unfortunatly I don't see any callbacks into winforms that would allow us change anything...

[2022-11-09 20:35] #4690 closed

[2022-11-09 21:20] elachlan commented on #8140
@Jericho awesome! Just respond here and I will add it to the issue description.

I think the easiest way to get this done is to fix them one by one instead of batches. I suspect it will be nicer for reviewers and isolates any regressions. It also speeds up the time is takes to merge.

[2022-11-09 21:35] elachlan commented on #329
Just to clarify, there was no improvement in memory usage by changing the `tickFrequency`? Do we use `TBS_AUTOTICKS`?

From `TBM_SETTICFREQ` docs:

https://learn.microsoft.com/en-us/windows/win32/controls/tbm-setticfreq

[2022-11-09 22:54] #7587 closed

[2022-11-09 23:46] OJacot-Descombes opened #8154 ""(DataBindings)" for ToolsStripItems appears under Misc section instead of Data section"
### Environment

Visual Studio 2022 Community Version 17.4.0

### .NET version

net7.0-windows

### Did this work in a previous version of Visual Studio and/or previous .NET release?

New preview feature in .NET 7.0: DataBinding for ToolStripItems

### Issue description

Now `ToolStripItem` derives from `BindableComponent` instead of `Component` to allow data binding.

As for `Control` the DataBin

[2022-11-10 01:25] merriemcgaw commented on #8154
Thank you so much for this feedback. @KlausLoeffelmann will take a look and we will absolutely consider it for .NET 8.

[2022-11-10 02:01] RussKie commented on #8140
Yes, that's the best way. The smaller and the more targeted a PR - the easier it is to review and faster to merge. That said, it's easier to look at a PR that makes the same changes in 50 files than to look at 50 PRs making the same change in one file. So it's a matter of balance and good judgement.

[2022-11-10 02:14] RussKie commented on #8116
This looks like a bug in Windows (windows.storage.dll), please raise a ticket via Windows Hub.

[2022-11-10 02:14] #8116 closed

[2022-11-10 02:19] RussKie commented on #7608
Was it fixed in dotnet/runtime? If so, do you have a link to that work item?

[2022-11-10 02:57] JeremyKuhne opened #8156 "ListView_OnSelectedIndexChanged_Invoke is failing intermittently"
### Test

System.Windows.Forms.Tests.ListViewTests.ListView_OnSelectedIndexChanged_Invoke(view: LargeIcon, showGroups: True, focused: True, selected: True, expectedCallCount: 2)

### Issue description

Failing multiple times over the past few weeks on the CI

[code]

[2022-11-10 09:16] dmitrii-drobotov commented on #7608
No, I mean the winforms runtime, as opposed to the winforms designer, where this issue was observed.

[2022-11-10 09:36] Philip-Wang01 opened #8157 "[Multi-Monitor] Controls (with Anchor=Right) scaling incorrectly inside splitContainer"
### .NET version

8.0.100-alpha.1.22559.18

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No. The fix scaling in SplitContainer controls for HDPI has only been introduced since .Net 8.0. The original issue: https://github.com/dotnet/winforms/issues/3168

### Issue description

**Current Behavior: Controls (with Anchor=Right) scalin

[2022-11-10 09:58] Philip-Wang01 commented on #3168
Verified this issue on latest .NET 8.0.100-alpha.1.225559.18 build, most scaling issues have been fixed, found a new issue and tracked it with [8157](https://github.com/dotnet/winforms/issues/8157).

[2022-11-10 14:54] ericcdub opened #8159 "Cannot write or load binary serialized resources to/from satellite assemblies using .NET7"
### .NET version

7.0

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

6.0 and previous

### Issue description

I'm migrating a class library from .NET 6 to 7. The library extracts localisable resources from our customers' .NET assemblies including but not limited to strings, the sizes/positions of forms and controls, and images. Th

[2022-11-10 15:39] Jericho commented on #8140
@elachlan Thanks for the guidance. I'll also keep @RussKie 's suggestion in mind and combine my PRs into a single, larger PR if there are too many.

[2022-11-10 17:38] Jericho commented on #8140
Here's the list of classes that will benefit from replacing `ArrayList` with `List<T>` (I'll continuously maintain this list as I discover more classes):

- [ ] WeakRefCollection: use `List<WeakRefObject?>` instead of `ArrayList`
- [ ] AutoCompleteStringCollection: @elachlan already took care of this in #8142
- [ ] ArrangedElementCollection: use `List<IArrangedElement>` instead of `ArrayList`
- [

[2022-11-10 18:50] KlausLoeffelmann commented on #8116
So, a potential workaround for the time being is to check if there is enough space before creating a new folder?

[2022-11-10 19:00] dmitrii-drobotov commented on #7587
Created issue https://github.com/dotnet/docs/issues/32507 to update the documentation

[2022-11-10 20:42] RussKie commented on #8159
Please provide a complete sample, thank you.
________________________________
From: Eric Chubb ***@***.***>
Sent: Friday, 11 November 2022 1:54 AM
To: dotnet/winforms ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [dotnet/winforms] Cannot load binary serialized resources written using .NET7 (Issue #8159)

.NET version

7.0

Did it work in .NET Framework?

Yes

Did it work in any of the earlier

[2022-11-10 21:48] elachlan commented on #1239
@dreddy-work after re-reading the issue description. I think the issue is more to do with:
https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/src/System/Resources/ResXResourceReader.cs

It makes use of `ListDictionary` for its collections. This seems fine when the resources don't have many items. But when they have thousands of items it would be quite slow.

I think `Dictionary<

[2022-11-10 22:15] dreddy-work commented on #1239
@elachlan, did you experiment with that? I was under assumption that something from resgen.exe tool is causing the perf when loading resx. I might be wrong if it was using enumerators given by ResourceReader to read/load content.

[2022-11-10 22:24] elachlan commented on #1239
@smorrell, if you can remember. Was the issue in the direct call to resgen.exe to generate the resource?

[2022-11-10 22:30] smorrell commented on #1239
I think one way the problem manifest itself was if you accidentally opened one of the ResX-Files in Visual Studio it would completely bogged down for several minutes On Nov 10, 2022, at 5:24 PM, Lachlan Ennis ***@***.***> wrote:﻿
@smorrell, if you can remember. Was the issue in the direct call to resgen.exe to generate the resource?

—Reply to this email directly, view it on GitHub, or unsubscribe

[2022-11-10 22:32] merriemcgaw commented on #5111
@John-Qiao can you try this with the recent .NET 8 builds? I'm wondering if the form size fix Devendar did would address this.

[2022-11-10 22:45] conorgee commented on #329
Yes , TBS_AUTOTICKS is being used

![autoticks](https://user-images.githubusercontent.com/57994682/201217140-d4f09441-dd2b-4d3b-b9a2-4541527da8be.PNG)

I first of all have distinctly found two separate issues while experimenting. The tick frequency solves the issue of the laggy trackbar. The tickstyle set to none fixes the memory consumption issue. I created the method setTickFrequency as a fix fo

[2022-11-10 23:15] RussKie commented on #8156
We shouldn't be creating these issues manually, instead please use [Runfo app](https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+definition%3A76) because it would track failures across all builds.

[2022-11-10 23:18] conorgee opened #8162 "Slow Trackbar when large number for maximum"
### .NET version

.NET 7

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

Setting the MaxValue on the Trackbar control to a very high number results in slow loading speed and a laggy trackbar.

This appears to be because on initialization of the underlying windows control, when the maximum is set to a large

[2022-11-10 23:46] elachlan commented on #7988
Should we convert from `Hashtable` to `Dictionary<TKey,TValue>` as apart of this change? Does it affect the serialization?

[2022-11-11 00:13] Tanya-Solyanik commented on #7763
This is a great lead! We had hit several issues where our objects were held by the accessibility tools and even accessed after controls(HWNDs) were destroyed and our AccessibleObject was disposed.
Do you mean [AutomationFocusChangedEvent](https://learn.microsoft.com/en-us/dotnet/api/system.windows.automation.automationelement.automationfocuschangedevent?view=windowsdesktop-7.0) when you say "loseF

[2022-11-11 01:47] elachlan commented on #8143
`HelpProvider` has a few `Hashtables`. `_boundControls` a bit weird since the key and value are the same and of type `Control`.
https://github.com/dotnet/winforms/blob/ba551ea8cb9a804e43b0031b964a45be7298d09b/src/System.Windows.Forms/src/System/Windows/Forms/HelpProvider.cs#L26

I thought this might be a good use of `Hashset<T>`, but this suggests the performance isn't as good as List<T> for objec

[2022-11-11 02:03] merriemcgaw commented on #8095
I'm so happy you found a workaround!

[2022-11-11 03:09] Philip-Wang01 opened #8165 "A DirectX control is drawn in an incorrect position when the form is resized and the RightToLeft mode is used"
### .NET version

8.0.100-alpha.1.22559.22

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it's not a regression issue. This issue also repro's on .NET 3.1 and .NET 5.0.

### Issue description

**Actual Result:**
A DirectX control is drawn in an incorrect position when the form is resized and the RightToLeft mode is used.
![Repr

[2022-11-11 06:02] John-Qiao commented on #5111
@merriemcgaw I tried it, the issue still repro with the latest .NET 8.0 build + Devendar HPDI PR private dlls.

[2022-11-11 11:23] ericcdub commented on #8159
Sure.

Unzip SerializationRepro and WinFormsApp1. Compile both.

Usage: SerializationRepro.exe <full path to assembly> <language code>
Example: SerializationRepro.exe C:\WinFormsApp1\bin\Debug\net7.0-windows\WinFormsApp1.dll de

[SerializationRepro.zip](https://github.com/dotnet/winforms/files/9989786/SerializationRepro.zip)
[WinFormsApp1.zip](https://github.com/dotnet/winforms/files/9989787/WinFo

[2022-11-11 17:49] lonitra opened #8170 "[Tracking] UI Test Dialogs Reliably"
When UI testing for dialogs such as `FolderBrowserDialog`,`OpenFileDialog`,`SaveFileDialog`, etc. we should test more reliably/quickly by:

1. Avoiding hunting for HWNDs
2. Interacting with the dialog programmatically rather than via mouse or keyboard input if possible

An example of this would be the following:
[code]

[2022-11-11 20:02] #5111 closed

[2022-11-11 21:43] rperez030 commented on #7763
loseFocus is the specific internal NVDA event that is generated when the screen reader believes that an object no longer has focus.

An UIA focus changed event contains information about the object that originates the event and the ID of the one receiving focus. If a focus change does not occur when the combobox closes, that may explain the issue we are observing here.

[2022-11-11 22:37] #2742 closed

[2022-11-11 22:46] #3983 closed

[2022-11-11 22:58] JhonnyPala commented on #3026
Hello to everyone, I have a question.
I need to copy one or more files from RDP using clipboard. Pressing Ctrl+C on remote PC affects the local clipboard and vice-versa: `FileGroupDescriptorW` is populated correctly but `FileContents `contains only the content of the first file.

Analyzing the memory with HxD, after having called `GetDataObject()`, I see that there was no trace of the other file's

[2022-11-13 20:17] #8159 closed

[2022-11-13 20:43] ericcdub opened #8180 "Calling GetType on resource from loaded assembly returns type from currently executing runtime version, not the assembly target runtime version"
### .NET version

.NET6, .NET7

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

tl;dr Is there a way to accomplish creation of .NET6 satellite assemblies, using .NET7?

I'm trying to extract localisable resources from a .NET 6 assembly, using a .NET 7 class library, so I can create satellite assemblies for

[2022-11-14 00:01] elachlan commented on #1239
I think the usage of `ListDictionary` seems strange here. `HybridDictionary` might have made more sense, since is designed to handle different extremes in collection sizes.

Ultimately it would probably be a good idea to replace the `ListDictionary` with `List<string, object> so at least the key is typed correctly and we avoid the performance issues of `ListDictionary`. The way it's currently cons

[2022-11-14 00:07] elachlan commented on #8180
Could you use NetStandard2.1 for your satellite assemblies?

[2022-11-14 01:50] elachlan commented on #329
@JeremyKuhne putting the Frequency before the maximum call doesn't fix the problem. The call to set the maximum value is what ends up triggering the change in memory usage.

It looks like for each integer in the range min to max its taking ~4bytes of memory.

@conorgee has a PR that was trying to fix the issue at: #8060

[2022-11-14 02:18] merriemcgaw commented on #5111
Awesome!!

[2022-11-14 03:00] elachlan commented on #329
@conorgee An alternative is to maybe manually specify the tick marks using `tbm-settic`:
https://learn.microsoft.com/en-us/windows/win32/controls/tbm-settic

My testing showed that the memory usage didn't go above 35mb for any maximum value. Although it was slow when drawing a tick mark per int in really large ranges.

Another smart optimisation would be to only draw tick marks when there is a gap

[2022-11-14 03:32] elachlan commented on #3983
There is still the usage at:
https://github.com/dotnet/winforms/blob/15ab89b1017e0da7e7448118b3d0a80632c9f146/src/Microsoft.VisualBasic.Forms/src/Microsoft/VisualBasic/Helpers/NativeMethods.vb#L30-L33

@RussKie metioned that `Microsoft.VisualBasic.Forms` doesn't reference to the `System.Windows.Forms.Primitives` project directly and that the team would rather not add it as a dependency.

[2022-11-14 03:51] RussKie commented on #3983
@lonitra  and @JeremyKuhne will provide guidance.

[2022-11-14 03:53] AraHaan commented on #3983
I feel like at this point it would actually be more beneficial if it did reference it though.

Why? Because Visual Basic is dead in the aspects that it does not get new language features currently, but also the fact that c# makes it more easier to do things that vb lacks. As such I feel that at this point it really does not matter as much of the primitives is probably also internal.

[2022-11-14 04:01] RussKie commented on #329
Thank you @elachlan for the suggestion. I think it is pretty safe to assume that the Windows team won't be fixing any non-security related issues in Common Controls library and it's up to us to try to fix or find suitable workarounds for underlying issues. The bar is obviously high, we can't break any existing customers. The good news is that we can put the changes under a [feature flag](https://g

[2022-11-14 04:08] RussKie commented on #329
The suggestion is pretty interesting. Just to confirm I understand it correctly - if a number of items (i.e., `_maximum - _minimum`) is greater than `trackBar1.Width` (or `trackBar1.Height for the vertical orientation) then disable `TBS_AUTOTICKS` and render ticks manually for every second pixel. Is this correct?
The only problem I see here is that we could send ~2K messages on a 4K screen...

@Je

[2022-11-14 04:22] elachlan commented on #329
I'd suggest disabling `TBS_AUTOTICKS` all together. It shouldn't create more ticks than the width/height of the control depending on orientation.

The issue I found was that you just get a grey bar if the number of ticks > width. Which makes it functionally redundant. Because the user won't be able to see the tick marks individually.

The other thing to note is that width/height are `typically mea

[2022-11-14 08:37] elachlan opened #8184 "Use `ObjectDisposedException.ThrowIf` in more places"
### Is your feature request related to a problem? Please describe

`ObjectDisposedException.ThrowIf` was introduced in .NET7, we should make use of it in more places.

https://learn.microsoft.com/en-us/dotnet/api/system.objectdisposedexception.throwif?view=net-7.0

### Describe the solution you'd like and alternatives you've considered

n/a

### Will this feature affect UI controls?

n/a

[2022-11-14 15:54] conorgee commented on #329
@elachlan The Trackbar doesnt seem to repaint the correct amount of ticks after I used your solution. If I set the the tickstyle to none then back to tickstyle.BottomRight they appear. Maybe we need to tell the trackbar to repaint after setting the ticks.

![image](https://user-images.githubusercontent.com/57994682/201704725-007440bb-b464-4f4f-957f-59d5e74f7205.png)
![image](https://user-images.gi

[2022-11-14 20:48] elachlan commented on #329
@JeremyKuhne there is [TrackbarRenderer](https://github.com/dotnet/winforms/blob/83651704a258b6be318659f785d31d42b1b16fef/src/System.Windows.Forms/src/System/Windows/Forms/TrackBarRenderer.cs). That is where I got my idea to draw each tick, which then lead to me finding `TBM_SETTIC`

[2022-11-14 20:52] elachlan commented on #329
@conorgee, could you update your PR to use the manual method? I'll review it and let you know where the issue is. I had a similar issue and I just had to make sure `SetTickFrequency` was called after setting the min/max values. Because the min/max values are used to validate the `TBM_SETTIC` message.

[2022-11-14 20:55] elachlan commented on #8143
@Jericho, you might want to jump in on this issue as well.

[2022-11-14 22:59] RussKie commented on #329
If required, this can be done with `Invalidate()` call.

[2022-11-14 23:08] RussKie commented on #329
I suppose a hybrid solution could be an option. That is, if the range (max - min) is less or equal to the number of pixels the trackbar is drawn in - then use `TBS_AUTOTICKS`. Else, fallback to manual ticks calculation/rendering.
This is worth experimenting with, as @JeremyKuhne said, and depending on complexity of the result we could consider taking a fix in.

The docs are located at https://lear

[2022-11-14 23:10] elachlan commented on #2863
@NikolaosWakem if this is fixed, can the issue be closed?

[2022-11-15 02:10] elachlan commented on #8170
Related: #3290

[2022-11-15 07:14] RussKie commented on #329
Nice! `TrackBarRenderer` isn't used directly, but it can be used to render a custom trackbar control, we have a [sample](https://learn.microsoft.com/dotnet/api/system.windows.forms.trackbarrenderer)https://learn.microsoft.com/en-us/dotnet/api/system.windows.forms.trackbarrenderer?view=windowsdesktop-7.0 in the docs.
Which gives yet another idea to explore - if number of ticks would exceed number o

[2022-11-15 14:56] filipnavara opened #11944 "Deadlock with SystemEvents when application is shutdown"
This is very similar to dotnet/runtime#62042.

The process is being shut down. There's a window message processing thread for the system events (thread 6). Main thread (thread 0) is blocked on `SystemEvents` code hooked on the `ProcessExit` event. The `SystemEvents.Shutdown` code runs in the finalizer thread (thread 9) and waits for the message processing thread to die. The message processing thre

[2022-11-15 17:41] vsfeedback opened #9139 "Please add a function to Color such as Color.FromHDR(Long) for Visual Basic and Visual C# 2022."

[2022-11-15 17:46] Jericho commented on #8143
@elachlan sure. As soon as I'm done working on #8140, I'll inventory the remaining HashTable and create a list to track progress (like I did for the ArrayList).

[2022-11-15 19:33] conorgee commented on #329
I made a commit to the pull request that implements this boolean for autoticks if range is greater then the number of pixels the trackbar is drawn in.

[2022-11-15 21:43] dreddy-work commented on #6125
@RussKie , I was going over this issue as part of the push we are making. I tried this particular scenario on a 150/200 DPIs but i see no issue.  I do see Form being hidden completely when showTaskbar is set to `false` though. Can you try one last time and update me ?

[2022-11-16 00:07] elachlan commented on #8143
I attempted [WeakHashtable](https://github.com/dotnet/winforms/blob/bc73fc2790fdce8ac7399eddf76824161bdd35cc/src/System.Windows.Forms/src/misc/WeakHashtable.cs). It is a complicated one. I am unsure how to proceed.

Maybe add a type parameter and implement `IDictionary<object, TValue>`? That would allow using a private `Dictionary<EqualityWeakReference, TValue>`, thus hiding the implementation and

[2022-11-16 00:08] conorgee commented on #329
https://github.com/conorgee/winforms/blob/8425ccde09b0e1ce0a6191777769abd39b16794d/src/System.Windows.Forms/src/System/Windows/Forms/TrackBar.cs#L834-L859

@RussKie I cant figure out a way of telling tickstyle to refresh tickstyle after sutoticks boolean is set to null ,
tried using recreatehandle but that was causing issues as tickfrequency is called when recreating handle so this wasnt effective

[2022-11-16 01:14] merriemcgaw commented on #8165
We will wait for a customer report to report this issue to reopen and deal with it.

[2022-11-16 01:14] #8165 closed

[2022-11-16 01:21] dreddy-work commented on #8144
I can open it fine with latest WinForms binaries in .NET 8.0. By any chance do you have registry key set for Devenv process to start in a different DPiAwareness? Otherwise, simple Winforms app setting PermonV2 is working fine for me.

[2022-11-16 01:21] dreddy-work commented on #8144
@Olina-Zhang , can you check this on a different machine and see if you can repro it?

[2022-11-16 01:22] merriemcgaw commented on #8098
Let's won't fix this issue for now, because there are essentially no customers impacting scenarios where this will be a problem. We will reactivate if needed.

[2022-11-16 01:30] merriemcgaw commented on #1239
We appreciate that this is a performance issue, but it isn't bubbling up to the top of our team's priority list. At this point we're not sure where the problem is that @smorrell is describing. We should revaluate after the work @elachlan is doing around replacing Collections is in to see if that resolves some of the problem.

[2022-11-16 01:32] #1239 closed

[2022-11-16 01:38] JeremyKuhne opened #8203 "Use interpolated strings in WinForms"
WinForms formatted string usages should be converted to interpolated strings where possible to get the various performance benefits.

https://learn.microsoft.com/dotnet/csharp/language-reference/tokens/interpolated

This is a good community contribution issue. Details:

- Keep PRs to a manageable size
- This includes usages of `+` to concat strings
- `string.Format` is still needed for anything th

[2022-11-16 01:53] elachlan commented on #3459
[CSharpIsNull](https://github.com/AArnott/CSharpIsNull) has landed in winforms. So anyone wanting to refactor, it should now be a lot easier.

[2022-11-16 02:03] #8098 closed

[2022-11-16 02:06] elachlan commented on #925
@merriemcgaw, `CA1805: Do not initialize unnecessarily` is enabled on the code base. So I think that should close this issue? Unless there are other code analyzers that I am missing.

[2022-11-16 02:07] Olina-Zhang commented on #8144
Yes, we have laptop and Azure VMs verified it, all can repro.

[2022-11-16 02:08] Olina-Zhang commented on #8144
Did you use the app I provided in issue?

[2022-11-16 02:10] RussKie commented on #925
Thank you for taking on the task of reviewing the backlog.
Yes, this is done.

[2022-11-16 02:10] #925 closed

[2022-11-16 02:15] RussKie opened #8204 "[Announcement] Signing off"
After three and a half years of being the repository owner and maintainer I'm moving to another .NET team and, thus, signing off here. It was an awesome ride, and together we've built an amazing community. Windows Forms has a special place in my heart, and I expect to stick around, though, more in a role of a contributor.

Feel free to tag me in issues and pull-requests, though I can't guarantee t

[2022-11-16 02:25] elachlan commented on #8203
@Youssef1313 Do you know of an analyzer for converting string.format to interpolation and for string concatenation?

[2022-11-16 02:31] elachlan commented on #8204
Congratulations and all the best with your new role!

[2022-11-16 02:34] dreddy-work commented on #8144
Yes. I used the app provided here too.  Can you try create a simple winforms app with target to 8.0 and see if everything is okay?

[2022-11-16 02:57] Olina-Zhang commented on #8144
That works fine.

[2022-11-16 03:30] dreddy-work commented on #8144
So, what is not working here. What is so specific about this test app? Do you have any other winforms apps that are failing to load when set PermOnitorV2 mode?

[2022-11-16 05:50] Olina-Zhang commented on #8144
@dreddy-work, the form designer just has some our common controls. Could you please use that app I provided again? By default, it has SystemAware setting, you need to change it to PerMonitorV2, then re-build app to open form designer.

[2022-11-16 06:04] Youssef1313 commented on #8203
Not that I know of.

[2022-11-16 07:04] kirsan31 commented on #8204
This is very bad news for the winforms community  😥 But I hope that this news is at least good for you 😉
Winforms has been repeatedly voted the best .net repository in terms of community friendly, and your have very good role here  - **thank you**!!!
Bye bye and good luck 😥🙏👍

P.s. Who will be a new maintainer here?

[2022-11-16 07:45] NikitaSemenovAkvelon commented on #8098
The result of an investigation that might be useful in the future:

1. The bug is reproduced via a standalone application or via VS (no matter with or without debugging).
2. The bug is reproduced only for the main form (if you open another empty form in an application, it works fine).
3. The bug is reproduced only with the UIA provider (`SupportsUIAProvider => true`). MSAA works as expected.
4. Th

[2022-11-16 08:27] awaescher opened #8205 "Windows Forms Out-of-process designer can't make use of transitive references"
### Environment

Visual Studio Professional 2022 (64-bit) Version 17.4.0

### .NET version

.NET 6.0

### Did this work in a previous version of Visual Studio and/or previous .NET release?

Works as soon as .NET Framework is used in the same projects. Does also work with multitargeting.

### Issue description

The new out-of-process Windows Forms designer shows the following error when the base fo

[2022-11-16 09:45] Olina-Zhang commented on #8205
A same issue: https://github.com/microsoft/winforms-designer/issues/4776  in winfoms designer repo.

[2022-11-16 13:56] awaescher commented on #8205
I was looking for this repository earlier on but it seems I cannot see it:
![image](https://user-images.githubusercontent.com/3630638/202199432-f2c82dbe-74ad-4729-87f2-8c25fbc461ff.png)

[2022-11-16 14:50] tbolon commented on #8204
Thank you @RussKie 🙏. For curiosity, where are you going?

[2022-11-16 15:02] #7970 closed

[2022-11-16 16:59] #7347 closed

[2022-11-16 18:30] JeremyKuhne commented on #8203
There is an auto-fix for converting to interpolated strings that will get you some of the way there.

[2022-11-16 21:10] pedautreppe opened #8208 "BindingNavigator no longer appears in the Toolbox (and does not have a designer)"
### Environment

Problem identified on Visual Studio
* Version 17.4.1
* Version 16.11.19

### .NET version

.NET 5
.NET 6
.NET 7

### Did this work in a previous version of Visual Studio and/or previous .NET release?

Was working on .NET 4.x

### Issue description

When creating a new form, you cannot choose to add a BindingNavigator : he is not available in the Toolbox.
If you add it manually in

[2022-11-16 21:25] merriemcgaw commented on #925
Yes, thank you VERY much @elachlan it is very much appreciated. 💯

[2022-11-16 21:27] pedautreppe opened #8209 "Form designer does not display"
### Environment

Version 17.4.1

### .NET version

Has been reproed in
- .NET 5
- .NET 6
- .NET 7

### Did this work in a previous version of Visual Studio and/or previous .NET release?

_No response_

### Issue description

When creating a new winform project (whatever the .net version - .NET5+), Visual Studio cannot open the Form Designer.
The log (see diags below for full log) displays an error

[2022-11-16 21:56] elachlan commented on #8184
I think PR #8186 fixed as many as was possible. I'll review again today.

[2022-11-16 23:09] merriemcgaw commented on #8209
I am not able to reproduce this on my local, just updated, install of VS 17.4. Would you be so kind as to provide a detailed path that you're trying to use? Are there any other steps you're following?

I assume you followed the instructions to run the [troubleshooting ](https://aka.ms/winforms/designer/troubleshooting) instructions?

[2022-11-16 23:19] elachlan commented on #8184
@merriemcgaw These are the only ones left. Can they just be converted to `ObjectDisposedException.ThrowIf(condition,object);`?

https://github.com/dotnet/winforms/blob/727e0adf3b3c21deb3a9e3f56c8a1c6cf59e8a91/src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignSurface.cs#L139-L142

https://github.com/dotnet/winforms/blob/62edc1ab7b601bee58199fdea2580a54cf5cd25b/src/System.Window

[2022-11-16 23:21] RussKie commented on #8209
Looks like for some reason VS can't access `C:\Users\pierr\AppData\Local\Microsoft\VisualStudio\17.0_c8ea3289\WinFormsDesigner` path.
May worth double checking in Process Monitor (or a similar tool) whether there's something else in play.

[2022-11-16 23:22] RussKie commented on #8184
Let's flip it - is there reason they can't? :)

[2022-11-16 23:23] elachlan commented on #8184
Also this one:
https://github.com/dotnet/winforms/blob/3d7a6fd294c1625050c62986a9c14c70990eb97b/src/System.Windows.Forms/src/System/Windows/Forms/Cursor.cs#L135-L137

The ones that use resource strings, are they required to use that? Is the message allowed to change for thrown exceptions?

[2022-11-16 23:29] RussKie commented on #8184
I believe it is fully acceptable to under the error message.
I don't believe we have ever promised to retain the same exception message. Nor it is listed in the [breaking change definitions doc](https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/breaking-change-definitions.md), nor it's forbidden in the [breaking change rule doc](https://github.com/dotnet/runtime/blob/main/docs/cod

[2022-11-16 23:41] RussKie commented on #8204
Thank you for the kind words 🙇.

@dreddy-work  is the current repo owner and the primary contact for any day-to-day stuff.
Incoming issues triage lifecycle is described in [this doc](https://aka.ms/winforms/issue-lifecycle). Incoming pull-requests will be reviewed at the regular cadence. If you feel that an issue or a PR is overlooked or forgotten - feel free to ping the team (@dotnet/dotnet-winfo

[2022-11-17 00:05] elachlan commented on #7308
@RussKie AFAIK, you can't get `Assembly` from `AssemblyName` directly. Is this correct?

For `AssemblyName.Codebase` replacement, we would have to do:
[code]

[2022-11-17 00:24] dreddy-work commented on #7308
Yes. Other way is fine though.

Unfortunately, primary scenario where we use `codebase` is a fall back from assembly load failure. `System.Reflection.Assembly.Load(AssemblyName)` failed and WinForms is trying to load assembly from codebase.

[2022-11-17 00:25] dreddy-work commented on #7308
[commit](https://github.com/dotnet/winforms/commit/564f1c14c355352c598fbec2c63d1fbf25c457f4) has those instances.

[2022-11-17 00:27] KlausLoeffelmann commented on #8204
Hey man, thanks for all your support here!

Those will be some shoes to fill, and we'll be doing our best!

My Dad was never able to explain "Abseits" to me in "deutschem Fussball" - but you, as _the_ go-to Git Expert, did a fabulous job with explaining even more difficult things, namely the difference between "Rebase" and "Merge"! 😉

But joking aside - I really appreciate all the effort you put i

[2022-11-17 02:00] RussKie commented on #8205
@awaescher this is a private repo.

[2022-11-17 02:36] merriemcgaw commented on #8208
Hi @pedautreppe. We have not yet implemented the BindingNavigator for .NET projects. .NET projects run in a separate process from Visual Studio. We'll take this comment as feedback that we should consider bringing the designer back. As far as creating the designer on your own, I would recommend waiting until @KlausLoeffelmann finishes his blog post (which I am currently editing) about creating con

[2022-11-17 02:39] merriemcgaw commented on #8205
@Shyam-Gupta will be taking a look at this in a few days. I'll make sure it's on his radar.
@Olina-Zhang thanks for the confirmation link!

[2022-11-17 03:55] anirugu commented on #8204
Best of luck @RussKie

[2022-11-17 05:56] NikitaSemenovAkvelon opened #8217 "Unifying an argument in the `ReleaseUiaProvider` method to `HWND`."
Replace the type of the `handle` parameter from `IntPtr` to `IHandle<HWND>` in the Control.ReleaseUiaProvider method and its overrides.

        Suggestion - consider unifying argument in this method to `nint` in the next PR.

_Originally posted by @Tanya-Solyanik in https://github.com/dotnet/winforms/pull/7349#discussion_r1023472589_
 📓 - modified bug title and body per @elachlan suggestion

[2022-11-17 06:07] NikitaSemenovAkvelon commented on #7974
Looks like the exception won't be fixed (https://github.com/dotnet/runtime/issues/78090#issuecomment-1309457613). Thereby we can't resolve this issue.

[2022-11-17 06:07] #7974 closed

[2022-11-17 07:08] gpetrou commented on #8204
Thank you very much for your thorough reviews and your help in general. Best wishes for your new role.

[2022-11-17 08:01] elachlan commented on #8217
I feel for handles it should be obvious that its a handle. `nint` doesn't provide that. Maybe we can use `IHandle`?

[2022-11-17 10:47] pedautreppe commented on #8208
Thanks @merriemcgaw for the feedback !
Yes indeed, bringing back the designer would be great. It helps a lot when dealing with BindingNavigator.
_By the way, it would also help to expose the different designers as public classes and not internal ones. Much easier when we need to extend one behavior ! ;-)_

When the blog post is ready, can you also publish a link here ?

[2022-11-17 12:23] NikitaSemenovAkvelon commented on #8217
@Tanya-Solyanik what do you think about @elachlan suggestion?

[2022-11-17 15:03] Jericho commented on #8143
I'm done with #8140 for the time being so I'll start contributing here. First priority: create a list of the classes that need to be refactored (similar to what I did [here](https://github.com/dotnet/winforms/issues/8140#issuecomment-1310654366)). This will enable us to track our progress.

[2022-11-17 15:09] Jericho commented on #8143
Here's the list of classes that contains at least one private property of type `HashTable`:

- [ ] ComponentDesigner
- [ ] ComponentDesigner.ShadowPropertyCollection
- [ ] DesignerHost
- [ ] InheritanceService
- [ ] CodeDomLocalizationProvider
- [ ] DesignerSerializationManager
- [ ] ExpressionTable
- [ ] ResourceCodeDomSerializer
- [ ] DocumentDesigner
- [ ] SelectionUIService
- [ ] TabOrder
- [

[2022-11-17 15:31] dmitrii-drobotov opened #8218 "NVDA doesn't switch focus back to ComboBox after its dropdown is closed"
### .NET version

.NET 7

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

After expanding the ComboBox and selecting value in dropdown, NVDA still keeps focus on the dropdown and doesn't switch back to the ComboBox edit field. As a result, when changing ComboBox value by arrows, NVDA doesn't anno

[2022-11-17 16:21] dmitrii-drobotov commented on #7763
Created issue #8218 to address the focus issue.

[2022-11-17 16:47] paul1956 opened #8219 "Need for complete (OOP) custom control template (VB)"
### Environment

.Net 7

### .NET version

Everything Core

### Did this work in a previous version of Visual Studio and/or previous .NET release?

Framework

### Issue description

When I create a new custom control (in VB and I assume C#) the code created is identical to Framework and nothing is created for the OOP parts. The template should include everything necessary to the OOP designer.

###

[2022-11-17 19:42] Tanya-Solyanik commented on #8217
Good point, UiaReturnRawElementProvider already moved to `IHandle<HWND>`. https://github.com/dotnet/winforms/blob/f4f931118878cbbf2a90deef3440767b8f0109e3/src/System.Windows.Forms.Primitives/src/Interop/UiaCore/Interop.UiaReturnRawElementProvider.cs#L14

[2022-11-17 20:08] runfoapp[bot] opened #8223 "Flaky test: cursorconvertertests.cursorconverter_getstandardvalues_invoke_returnsexpected"
Runfo Tracking Issue: [Flaky test: cursorconvertertests.cursorconverter_getstandardvalues_invoke_returnsexpected](https://runfo.azurewebsites.net/tracking/issue/441)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[207837](https://dev.azure.com/dnceng-public/public/_build/results?buildId=207837)|[dotnet-winforms CI](https://dnceng-public.visualstudio.com/public/_build?definitionId=76)|[PR 8865

[2022-11-17 20:08] runfoapp[bot] opened #8224 "Flaky test: cursorconvertertests.cursorconverter_getstandardvalues_invoke_returnsexpected"
Runfo Tracking Issue: [Flaky test: cursorconvertertests.cursorconverter_getstandardvalues_invoke_returnsexpected](https://runfo.azurewebsites.net/tracking/issue/442)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[85587](https://dev.azure.com/dnceng-public/public/_build/results?buildId=85587)|[dotnet-winforms CI](https://dnceng-public.visualstudio.com/public/_build?definitionId=76)|[PR 8206](

[2022-11-17 20:10] #8224 closed

[2022-11-17 20:27] #8218 closed

[2022-11-17 20:52] Tanya-Solyanik commented on #7764
Makes sense, thank you for the investigation.

[2022-11-17 20:52] #7764 closed

[2022-11-17 21:20] spindisc commented on #8157
Also having big issues with SplitContainer. Working on a 200% DPI main screen, Form contains one big vertical SplitContainer, then left side panel contains one horizontal. It was even worse from the beginning, then by adding extra Panel container to each split panel it become a little better, but still worthless.... Images or from design time and runtime.
Visual Studio 2022 (17.4.1) - Project Winf

[2022-11-17 21:53] dreddy-work commented on #8157
@spindisc, Is it possible to create a simple repro application mimic your project?

[2022-11-17 23:40] merriemcgaw commented on #8204
We are going to miss you so much here @RussKie. I give the credit for being such a welcoming and active repo to what you taught all of us. I hope we can live up to the high standards that you set. Congrats on the new role, but I do hope to see you in here now and then.

And Community - if we're not living up to the standards @RussKie  feel free to ping me directly. I am always looking for feedback

[2022-11-17 23:58] merriemcgaw commented on #8219
@paul1956 thanks for bringing this up. @KlausLoeffelmann and I are editing a blog post and new "beta" templates for exactly this purpose. Both for VB and C#. This blog post will run through some of the most common scenarios with varying degrees of complexity. We'll have samples and a detailed readme.md in a repo that will serve as our first round of detailed documentation for the new process.

I r

[2022-11-17 23:59] merriemcgaw commented on #8208
I absolutely will. In fact, I think I will put up a pinned issue so that everyone can see it. We expect it in the month of December, but responses will be delayed after that for the holidays.

[2022-11-18 00:09] KlausLoeffelmann commented on #8219
Yeah, the templates are ready for the first go, both for VB and C#, and we have planned to open up the new Repo hosting the templates and samples in the 2nd week of December (first week is only a couple of days I think). Send me PM if you want to start testing earlier.

[2022-11-18 00:12] KlausLoeffelmann commented on #8208
Not sure if I know what you mean with that. Can you elaborate on that with an example?

[2022-11-18 00:24] paul1956 commented on #8219
I am out of the country until January 5th with very little internet access so I can wait.

Not sure if the is separate or related. I have a custom ToolStrip control and the designer does not list it as an option but does list custom DataGridViewColumn types.

[2022-11-18 00:33] KlausLoeffelmann commented on #8219
Happy to take a look when you've returned in the new year!

[2022-11-18 01:17] merriemcgaw commented on #8184
I'm with @RussKie on this one 😄. There's nothing that promises the same message to the exception. If this only changes the ultimate message and not the exception type (which I don't believe we are) I think we can change the messages to our hearts content.

[2022-11-18 01:51] JeremyKuhne commented on #8217
Be careful about boxing with `IHandle<HWND>`. In general we don't want to take `IHandle<HWND>` as a parameter to avoid boxing `HWND` to `IHandle<HWND>`. Using `T` with a constraint of `IHandle<HWND>` gets around the boxing problem, which is why we do it that way for the various `PInvoke` overloads.

[2022-11-18 02:03] elachlan commented on #8217
Ahhhh, ok. Well maybe in this case we just pass HWND. At least its a handle type. The main suggestion I was making was to avoid nint when dealing with handles so its obvious its a handle and not just an integer.

[2022-11-18 02:09] paul1956 commented on #8219
@KlausLoeffelmann
OK both controls are on NuGet and open source on GitHub.

https://github.com/paul1956/ToolStripComboBoxEx
Doesn't show up in ToolBox  (I think as expected) or Designer where it should be a ToolStrip option

https://github.com/paul1956/DataGridViewDisableButtonColumnEx
Works as mostly expected (doesn't show up in ToolBox)  but does show up as a Column I can add to a DataGridView e

[2022-11-18 02:18] elachlan commented on #7308
@buyaa-n you were involved in the `AssemblyName.Codebase` obsoleting in https://github.com/dotnet/runtime/issues/42857. Do you have any suggestions on how to get a filepath from `AssemblyName`? We usually do this as a fallback from  `Assembly.Load(assemblyName)` in Winforms.

[2022-11-18 02:45] John-Qiao opened #8228 "[HDPI] Anchors of user control don't work in form designer when scaling on high DPI"
### .NET version

17.5.0 Preview 2.0 [33115.401.main]

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

**Actual result:**
Anchors of user control don't work in form designer on 300% HDPI monitor.
![Actual](https://user-images.githubusercontent.com/45864985/202604771-e644619c-6974-46a9-8924-54c5a0f27cdc.png

[2022-11-18 03:22] dreddy-work commented on #8228
fixed by https://github.com/microsoft/winforms-designer/pull/4783

[2022-11-18 05:31] RussKie commented on #329
I found a bug :)

![image](https://user-images.githubusercontent.com/4403806/202627884-73c89bdd-0ba9-4713-adb4-6dfb73b30b87.png)

[2022-11-18 08:20] pedautreppe commented on #8208
Sure !

Let's imagine I want to create my own BusinessTextBox that does include
some business related stuff (I don't have a precise idea right now).
My BusinessTextBox would inherit either from TextBox or maybe TextBoxBase.
As a consequence, it would use in the designer either the TextBoxDesigner
or the TextBoxBaseDesigner.

Now let's imagine that I need to add some behavior at design time (for
in

[2022-11-18 08:29] pedautreppe commented on #8209
Indeed !
I have activated the verbose logging, increasing timeout, adding defender
exceptions and checked system path override.

Yesterday, I have used Process Monitor, but I have not seen anything
special, and by the way, I was not seeing anything related to the path
"C:\Users\pierr\AppData\Local\Microsoft\VisualStudio\17.0_c8ea3289\WinFormsDesigner".
I have also tried to do a full repair of Visu

[2022-11-18 17:34] lonitra commented on #6012
Taking a look at issues revolving around dark mode. I don't see any obvious resolutions/action items for this. @merriemcgaw was this issue discussed? This also does not look like it is ours so maybe it can be closed or transfered, but I could be wrong.

[2022-11-18 17:58] Jericho opened #8231 "Cache is never populated in ComponentDesigner.ShadowPropertyCollection.cs"
### .NET version

8.0.0-alpha.1.22559.2

However, the situation I am reporting is not tied to a specific .NET version.

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

no

### Issue description

The ShadowPropertyCollection class contains a private field called `_descriptors` which, if I understand the original intent correctly, is s

[2022-11-18 21:57] buyaa-n commented on #7308
Could try produce location from codeBase (like try create a Uri from codeBase and get the LocalPath) and use the API that supports location for getting Assembly as mentioned here https://github.com/dotnet/runtime/pull/70534#discussion_r894197182

[2022-11-18 22:02] dreddy-work commented on #7308
@buyaa-n, `CodeBase` itself is Obsolete,  what do you mean by extracting location form `CodeBase`?

[2022-11-18 22:14] buyaa-n commented on #7308
As you already know the suggested alternative is same as `Assembly.Codbase`, i.e use `Assembly.Location` instead. Form the above conversation it looks like assembly is not available in your case. There is no direct replacement for  `Assembly.Location` in `AssemblyName` so to get the correct path, so could try produce it from `CodeBase` and use `Assembly.LoadFrom(path);` to load the assembly

[2022-11-19 00:52] #8184 closed

[2022-11-19 12:25] spindisc commented on #8157
Here is a zip with the application stripped down to minimal code. I also removed the extra panels I used to try get things to work. So now the bare standard controls are in the splitpanels. It is looking really bizarre when I run it.
https://www.dropbox.com/s/et8xq5gw9r65fbm/SoundSchemeBuilder.zip?dl=0

![image](https://user-images.githubusercontent.com/491520/202850704-090ec8e8-f3c3-4170-b6f2-1a6

[2022-11-20 23:50] elachlan commented on #8231
Relevant code where `_descriptors` is initialized and checked, but never added to.
https://github.com/dotnet/winforms/blob/bc73fc2790fdce8ac7399eddf76824161bdd35cc/src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.ShadowPropertyCollection.cs#L59-L67

Proposed fix by @Jericho:
[code]

[2022-11-21 06:14] Olina-Zhang commented on #5102
Verified this issue in the .Net 8.0 + dlls built from Winforms main repo, it is fixed now. Closing this issue.

300% main screen:
![image](https://user-images.githubusercontent.com/26474449/202978031-7ff8e8bb-adb8-4784-b5be-2d631a2a9ffc.png)
Move to 100% secondary screen without scrollbar for form
![image](https://user-images.githubusercontent.com/26474449/202978222-16520e0a-31db-42ab-b675-06d7eeb

[2022-11-21 06:14] #5102 closed

[2022-11-21 08:43] Amy-Li03 commented on #6125
@dreddy-work, verified this on .NET 8.0 latest build: 8.0.100-alpha.1.22565.7, issue only **repro** on a high 150/200 DPIs **secondary monitor**, it **doesn't repro** on a high DPIs **Primary monitor**.

[2022-11-21 08:53] Amy-Li03 commented on #5190
Verified this on .NET 8.0 latest build: 8.0.100-alpha.1.22565.7, performance issue is still repro, but rendering issue doesn't repro, the fonts for the GroupBoxes and ListViews scale well on the secondary monitor.

100% DPI primary monitor:
![100%](https://user-images.githubusercontent.com/62929087/203006687-46a59597-1fdc-4d86-8a26-0d8466b39f13.png)

200% DPI secondary monitor:
![200%](https://use

[2022-11-21 12:56] alizorlu opened #8241 "While defining the class in the form class, the form object becomes a class object"
### Environment

VS Version v17.2.5

### .NET version

.Net 6.0

### Did this work in a previous version of Visual Studio and/or previous .NET release?

No

### Issue description

Hi Everyone
When a new class object is created within the form object that can be used as needed, the form designer completely transforms into a simple class object.

![1](https://user-images.githubusercontent.com/247240

[2022-11-22 00:06] elachlan commented on #3459
@AArnott is this a false negative? `_priorWindowProcHandle` is a `void*`.
https://github.com/dotnet/winforms/blob/be03f45ccd99fded5a317daf825dc8bb6bbabb5c/src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs#L513

Also `ppRetValOut` is an `IntPtr*` and has an `== null`
https://github.com/dotnet/winforms/blob/be03f45ccd99fded5a317daf825dc8bb6bbabb5c/src/System.Windows.Forms/src/System/

[2022-11-22 00:57] dreddy-work opened #8245 "Expect delayed/slow response during the holiday season (Nov and Dec)"
Some of the WinForms team members taking time off during the holiday season. Expect delayed/slow response on Issues and PRs during Thanksgiving and Christman holiday season.

[2022-11-22 01:00] AArnott commented on #3459
@elachlan regarding `_priorWindowProcHandle`, it looks to me like `void*` [*can* use `is null`](https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA+ABATARgLABQGAzAATakDCpA3oaQ6QK4B2AzgIYBmM5KpAWQAUASlr1GkjCgBUpAG6kAvKRZMANuoDcEyQwCWXUkMX62qjerE09t0rr0BfB84KOgA==), so the analyzer suggesting using `is null` syntax doesn't appear to be a mistake. Or are you saying that the analyzer *didn't* pick up on it

[2022-11-22 01:01] elachlan commented on #3459
No warning is produced. I'll file a bug. Thanks :)

[2022-11-22 01:03] elachlan commented on #3459
The issue I filed: https://github.com/AArnott/CSharpIsNull/issues/30

[2022-11-22 09:27] Amy-Li03 opened #8247 "[PermonitorV2] [SystemAware] The default ImageIcon in ToolStrip is not scaled well on 300% primary screen with app created on 100% DPI"
### .NET version

.NET 8.0.100-alpha.1.22565.7

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

The default ImageIcon in ToolStrip is smaller than Text on 300% primary screen with app created on 100% DPI under PermonitorV2/SystemAware modes.
![image](https://user-images.gi

[2022-11-23 00:15] dreddy-work opened #8252 "[Tracking] Optimize code around parking windows in the WinForms runtime"
While enabling nullability in [this](https://github.com/dotnet/winforms/pull/6386), we noticed opportunity to optimize `ParkingWindow' and try avoiding inserting/caching null values.
This tracking issue created to capture that work and prioritize.

[2022-11-23 02:17] Olina-Zhang opened #8254 "[HDPI] The default Image Icon of DataGridView Image column is not scaled well on 300% primary screen"
### .NET version

.NET 8.0.100-alpha.1.22565.7

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

The default Image Icon of DataGridView Image columns is not scaled well on High Dpi system setting when application is in SystemAware or PerMonitorV2 mode

On 300% primary screen

[2022-11-23 03:00] MelonWang1 opened #8257 "[Multi-Monitor][SystemAware] Resizing form1 appears shadow"
### .NET version

8.0.100-alpha.1.22567.28

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

In SystemAware mode, Form1 appears shadow When move VS from 300 primary screen to 100 secondary screen and resize form1.
![11111111](https://user-images.githubusercontent.com/944189

[2022-11-23 03:23] Olina-Zhang opened #8259 "[HDPI] From the second row, DataGridView rows are not scaled well on 300% primary screen"
### .NET version

.NET 8.0.100-alpha.1.22565.7

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

From the second row, DataGridView rows are not scaled well on High Dpi system setting when application is in SystemAware or PerMonitorV2 mode

On 300% primary screen:
![image](h

[2022-11-23 03:29] Olina-Zhang commented on #8259
This is a SystemAware issue on HDPI setting, there has another issue about multi-monitors for PerMonitorV2: https://github.com/dotnet/winforms/issues/5096

[2022-11-23 04:40] elachlan commented on #8217
This is really strange. Since its a `Control` which implements `IHandle<HWND>`, shouldn't `ReleaseUiaProvider` not have the `handle` parameter and pass itself to `UiaReturnRawElementProvider`?

[2022-11-23 05:57] Cassie-Li01 opened #8262 "[PerMonitorV2] [Multi-Monitor]]Status strip progress item, DropDownButton icon, SplitButton icon are not scaled well when drop from 100% to 300%"
### .NET version

.NET 8.0.100-alpha.1.22565.7

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

[PerMonitorV2] [Multi-Monitor] Status strip progress item, DropDownButton icon, SplitButton icon are not scaled well when drop from 100% to 300%

### Steps to reproduce

Repro s

[2022-11-23 06:16] Philip-Wang01 opened #8263 "[Multi-Monitor][PermonitorV2] ColorDialog is not scaled well on secondary screen"
### .NET version

.NET 8.0.100-alpha.1.225727.7

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

**ColorDialog is not scaled well when move from 300% primary to 100% secondary monitor**
![image](https://user-images.githubusercontent.com/86937911/203455603-5595c3e8-8d81-4ddd

[2022-11-23 06:28] MelonWang1 opened #8264 "[Multi-Monitor][PerMonitorV2] ErrorProvider control is not scaled well on secondary screen"
### .NET version

8.0.100-alpha.1.22567.28

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

ErrorProvider control is not scaled well in secondary screen under PermonitorV2 mode.

### Steps to reproduce

1. Launch VS instance on 300% primary monitor.
2. Create a winforms .n

[2022-11-23 06:37] MelonWang1 opened #8265 "[Multi-Monitor][PerMonitorV2] Font Dialog control is not scaled well on secondary screen"
### .NET version

8.0.100-alpha.1.22567.28

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

Font dialog control is not scaled well in secondary screen under PermonitorV2 mode.

### Steps to reproduce

1. Launch VS instance on 300% primary monitor.
2. Create a winforms .net

[2022-11-23 07:11] Philip-Wang01 opened #8266 "[Multi-Monitor][PermonitorV2] Buttons are not not scaled well (with Anchor=Top,Bottom) when move from 300% primary screen to 100% secondary monitor"
### .NET version

.NET 8.0.100-alpha.1.225727.7 + private dlls build from Winforms repo, regression from PR: https://github.com/dotnet/winforms/pull/7956

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it'a regression issue, not repro on .NET 6.0 & 7.0, only repro on .NET 8.0.100-alpha.1.225727.7 + private dlls build from Winf

[2022-11-23 08:17] Philip-Wang01 opened #8267 "[Multi-Monitor][PermonitorV2] CheckedListBox is not display scrollbar on secondary screen"
### .NET version

.NET 8.0.100-alpha.1.225727.7

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

CheckedListBox is not display scrollbar when move from 100% primary to 300% secondary monitor.
![image](https://user-images.githubusercontent.com/86937911/203498208-71d91ccd-55

[2022-11-23 08:53] Ashley-Li opened #8268 "[Multi-Monitor][PerMonitorV2] The icons of PropertyGrid control are not scaled well on 100% secondary monitor"
### .NET version

.NET 8.0.100-alpha.1.22572.7

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

[PerMonitorV2] [Multi-Monitor] The icons of PropertyGrid control are not scaled well when moving from 300% primary monitor to 100% secondary monitor.
![image](https://user-image

[2022-11-23 09:02] MandiMan opened #8269 "[Multi-Monitor][PerMonitorV2] ListBox with multiple items are not scaled well on 300% secondary monitor"
### .NET version

8.0.100-alpha.1.22567.28

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

 ListBox with multiple items are not scaled well when move from 100% primary to 300% secondary monitor (AutoScaleMode = Dpi) under PermonitorV2 mode .

### Steps to reproduce

1. La

[2022-11-23 10:34] MandiMan opened #8270 "[Multi-Monitor][PerMonitorV2]HScrollBar is not scaled well on secondary screen"
### .NET version

8.0.100-alpha.1.22567.28

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

HScrollBar control is not scaled well in secondary screen under PermonitorV2 mode.

### Steps to reproduce

1. Launch VS instance on 300% primary monitor.
2. Create a winforms .net

[2022-11-23 15:02] #8082 closed

[2022-11-23 21:26] elachlan commented on #8231
@dreddy-work how does the team feel about this change?

[2022-11-23 21:44] #3459 closed

[2022-11-23 21:46] dreddy-work commented on #8231
This is scheduled for a quick check within the team. You won't hear until Next week. Will update this thread after.

[2022-11-23 23:09] merriemcgaw commented on #6012
@lonitra this I believe some of the icons are only in VS, in which case we will want to check them and update them there. The mainline icons (grouping/alphabetizing) will need to be updated in this repo. Keep an eye on this one as you start doing your research. I think there will be action in both repos for it.

[2022-11-24 07:50] Nora-Zhou01 opened #8277 "ToolStripTextBox and ToolStripComBoBox in the toolbar do not scale well when bringing items down from 100% to 300%"
### .NET version

8.0.100-alpha.1.22567.28

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it also repro on .NET 6.0 & 7.0.

### Issue description

The ToolStripTextBox and ToolStripComBoBox in Toolstrip  are not scaled well when moving from 100% primary monitor to 300% secondary monitor.
![1111](https://user-images.githubuserc

[2022-11-24 17:37] rickbrew opened #8280 "Major regression in Form.ShowDialog(IWin32Window) in .NET 7 -- ship blocker for Paint.NET 5.0"
### .NET version

7.0.0

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it worked fine in .NET 5 and .NET 6

### Issue description

When `Form.ShowDialog(IWin32Window)` is called with a `Control` instead of a `Form`, the dialog's parenting/ownership is not set correctly, causing the dialog to not "track" with the parent form c

[2022-11-24 17:39] rickbrew commented on #8280
A public alpha of Paint.NET 5.0 is available here: https://forums.getpaint.net/topic/121340-paintnet-50-alpha-build-8361-welcome-to-paintnet-50/

You can use the portable version of the app to reproduce this bug. Simply launch the app, and then click on Help -> About. The dialog will not track correctly with the main window if you do something like switch between virtual desktops.

"Native" window

[2022-11-24 18:58] rickbrew commented on #8280
Here's a minimal repro. While it doesn't exhibit the issue I described when switching between virtual desktops, it _does_ exhibit the symptom whereby a modal dialog's `Owner` property is non-null in .NET 6, and `null` in .NET 7. You can set a breakpoint in the `Click` handler, where I've left a comment about it:

[ShowDialogBug.zip](https://github.com/dotnet/winforms/files/10086878/ShowDialogBug.z

[2022-11-24 22:00] elachlan commented on #8280
@Olina-Zhang Will your team need to test this?

[2022-11-25 02:07] Olina-Zhang commented on #8280
Tested this issue in .Net 6.0, 7.0 and the latest 8.0 builds using above sample application: can reproduce it in .Net 7.0 and 8.0.
[ShowDialogBug.zip](https://github.com/dotnet/winforms/files/10088087/ShowDialogBug.zip)

.Net 6.0:
![image](https://user-images.githubusercontent.com/26474449/203885878-1a88f67c-50f4-4462-a18a-362c112ef3ce.png)

.Net 7.0 and 8.0:
![image](https://user-images.githubuse

[2022-11-25 11:21] NadezhdaBobrovaDX commented on #8165
Hello,

My name is Nadezhda. I’m a software engineer on the WinForms team at DevExpress.

Although we understand that there is a low number of requests regarding this bug, we do not agree with your decision not to fix it.

We do not believe that the low number of such customers justifies not resolving this issue, as the same argument could be made for many accessibility issues.
We want to give acc

[2022-11-25 17:13] rickbrew commented on #8280
What is the earliest that a fix could go out? I may need to roll back to .NET 6, as this is a massive break.

(This isn't meant as a nag -- I'm just trying to understand the possible timeline so I can plan accordingly)

[2022-11-25 18:01] dmitrii-drobotov commented on #8280
Looks like the regression was introduced in https://github.com/dotnet/winforms/pull/5791:

![image](https://user-images.githubusercontent.com/102954094/204035618-412cdb53-bdf1-4ce9-aed7-89fed0c624a7.png)

Previously it meant that owner **does not** have a `TOPMOST` style, but now it checks if it **does** have it. So fix should be following
[code]
at:
https://github.com/dotnet/winforms/blob/5a28fa9

[2022-11-25 18:10] rickbrew commented on #8280
That's great news! Is there any chance of getting this fixed for 7.0.1?

[2022-11-25 18:27] dmitrii-drobotov commented on #8280
I'm personally not sure, but I think someone from @dotnet/dotnet-winforms could clarify.

[2022-11-25 19:03] dmitrii-drobotov commented on #8280
Submitted fix for .NET 8: https://github.com/dotnet/winforms/pull/8283

[2022-11-25 19:24] rickbrew commented on #8280
Okay. This being a ship-blocker for me, I may have to rollback to .NET 6 if I can't get a fix of some kind soon enough.

[2022-11-25 21:19] merriemcgaw commented on #8280
@dmitrii-drobotov great work getting a fix out so quickly, especially while the Redmond team is on vacation! @Olina-Zhang can you please test this as soon as possible? I'll want to be able to take this to shiproom on Monday/Tuesday.

@rickbrew - I can't make promises with 100% certainty, but what I can say is that we're well past our deadline for the December servicing release, but we can (just) g

[2022-11-26 07:52] elachlan opened #8284 "Enable CA1815 Override equals and operator equals on value types"
### Is your feature request related to a problem? Please describe

https://learn.microsoft.com/en-au/dotnet/fundamentals/code-analysis/quality-rules/ca1815

`ImeModeConversion`
https://github.com/dotnet/winforms/blob/5a28fa9c294581314d5675188316fbf09882c114/src/System.Windows.Forms/src/System/Windows/Forms/Control.Ime.cs#L1316

`ThemedScrollbarWindow`
https://github.com/dotnet/winforms/blob/5a28fa

[2022-11-26 17:18] rickbrew commented on #8280
I built my own version of System.Windows.Forms.dll with the fix, and I can thankfully confirm that it does fix the issues I was seeing in Paint.NET

Looks like I'll have to ship my own S.W.F.dll for the time being, but this is preferable to rolling back to .NET 6. phew!

[2022-11-27 03:12] memoarfaa opened #8287 "Inherited forms don't work in the designer with Reference dll"
### Environment

Microsoft Visual Studio Enterprise 2022 (64-bit) - Current
Version 17.4.0

### .NET version

net7.0 ,net6.0 , net3.1

### Did this work in a previous version of Visual Studio and/or previous .NET release?

_No response_

### Issue description

Inherited forms don't work in the designer with Reference dll

[WinFormsApp1.zip](https://github.com/dotnet/winforms/files/10097441/WinForm

[2022-11-28 09:27] Amy-Li03 commented on #8280
Hi @merriemcgaw , tested [private binaries](file://mlangfs1/public/Winforms/v-jiaol/bug/8280) built by us for PR: [#8283](https://github.com/dotnet/winforms/pull/8283) based on the latest .NET 8.0 SDK build, this issue [8280](https://github.com/dotnet/winforms/issues/8280) is fixed, we also did some exploratory testing around Form.ShowDialog, no new issue found. In addition, ran migrated automatio

[2022-11-28 20:01] merriemcgaw commented on #8287
@memoarfaa thanks for reporting this issue. It is fixed and will be in the next available VS update. You can check when it ships by following the [feedback ticket](https://developercommunity.visualstudio.com/t/1740-NET6-WinForms-designer-regress/10198799) that was created for it in Developer Community.

[2022-11-28 20:02] merriemcgaw commented on #8287
@Olina-Zhang can your team close this when the associated feedback ticket is closed? Thanks!

[2022-11-28 21:53] memoarfaa commented on #8287
OK I will waiting until it's fixed  the only solution now is Pack the dll  as Nuget Package and install it by Nuget locally

[2022-11-28 22:21] JeremyKuhne opened #8290 "Consider aggressive AppContext switch for enabling safer `BinaryFormatedObject` usage"
~All `BinaryFormatter` blocks should be behind an AppContext switch. For now this will be an opt-out, when and if the `BinaryFormatter` gets disabled by the runtime this can be driven by whatever is driving the behavior in the runtime.~

Now that we have `BinaryFormattedObject`, thinking of this in terms of aggressive opt-in of it where we don't support full fidelity. For example, we don't support

[2022-11-28 23:11] JeremyKuhne opened #8291 "ComWrapper needs to return vtable based on types, not interfaces"
[code]

The implementation here needs to go off of specific class types, not interfaces. Not all classes that implement an interface will only implement a single interface (many won't).

The best place to start is by hard tying specific class types to entries. We can iterate with additional flexibility as warranted.

I plan to tackle this imminently.

[2022-11-28 23:17] JeremyKuhne opened #8292 "Clean up and document existing behavior in COM classes"
Our ActiveX control hosting (`AxHost` and related classes) and COM type descriptor code (`Com2*`) needs cleaned up and documented to allow us to update for `BinaryFormatter` changes.

As we're actively working on this, this issue isn't a good one for community contribution at the moment.

[2022-11-28 23:23] JeremyKuhne opened #8293 "Add test coverage for COM type converter classes"
The code under the `COM2Interop` folder provides COM type descriptor functionality for .NET. We've started adding unit tests, but more needs to be done.

This is a great place for external contributors to get some deeper understanding of .NET's Component Model and help fill in the gaps here.

[2022-11-28 23:37] JeremyKuhne opened #8294 "Add test coverage for AxHost related classes"
We have some tests, but there are significant gaps. Any additional coverage here will help keep this code in good shape for the next few decades. :)

Help here is appreciated. Live on the bleeding edge of the mid-nineties. :)

Supporting this scenario is important for Windows Forms customers with legacy dependencies. This code is how Visual Basic 6 (VB6) controls are supported, and we plan to add

[2022-11-28 23:41] JeremyKuhne opened #8295 "Add test coverage for ResX classes"
We recently ported `StronglyTypedResourceBuilder` and that has some end-to-end tests, but we don't have good coverage for `ResxResourceReader` and `ResxResourceWriter` on their own.

`BinaryFormatter` depreciation makes filling in test coverage here much more important.

[2022-11-28 23:48] JeremyKuhne commented on #8290
As part of this we should bring back https://github.com/dotnet/winforms/pull/7986 under this switch.

[2022-11-28 23:58] JeremyKuhne opened #8296 "Document how to add a custom TypeConverter for AxHost.State serialization"
In order to avoid `BinaryFormatter` you need a custom `TypeConverter` for `AxHost.State` to serialize without it. We have an existing converter `AxHost.StateConverter` that does this, but it isn't actually registered for `AxHost.State`. We may decide to register it eventually, but even if we do, to support cross compilation with .NET Framework it's necessary to know how to inject a `TypeConverter`

[2022-11-29 00:03] JeremyKuhne commented on #8296
This technique will likely also apply to `ResxResourceReader/Writer` in general as well as other places where `BinaryFormatter` is currently in play.

[2022-11-29 00:11] JeremyKuhne opened #8297 "Investigate adding additional TypeConverter metadata to Resx"
Resx uses `TypeConverters` when available to convert data to/from `string` and `byte[]`. The specific type converter used isn't recorded, it's only the active one for `typeof(T)` that is considered. For unwrapping it would be good to know the specific type converter used and attempt to use the exact one if possible and give diagnostic information of some sort.

In order for this sort of change to

[2022-11-29 05:55] ghost opened #8298 "API Proposal: Support Multiselect property in FolderBrowserDialog class"
### Summary
If the user needs to select multiple files, this function can be easily realized by using OpenFileDialog.Multiselect.
https://learn.microsoft.com/en-us/dotnet/api/system.windows.forms.openfiledialog.multiselect

Currently there is no Multiselect property in the FolderBrowserDialog class, so when the user needs to select multiple folders at the same time, he has to perform multiple repe

[2022-11-29 17:34] lonitra commented on #8294
One form of test coverage that we are lacking is test coverage against existing ActiveX controls such as Microsoft Web Browser, System Monitor Control, etc. Any additional coverage here would be immensely helpful and greatly appreciated. We have a core project that targets Framework called `AxHosts` so that dlls for these controls can be grabbed more easily to start writing tests. The process to d

[2022-11-29 17:46] lonitra opened #8301 "Add Test Coverage for Clipboard"
We have some unit tests for `Clipboard`, but could incorporate more tests illustrating different usage scenarios.

Any help filling in the gaps here is greatly appreciated and especially helpful with BinaryFormatter deprecation.

[2022-11-29 18:24] lonitra opened #8302 "Add Test Coverage For MFC ActiveX Controls"
Related: #8294

This is another area we are lacking as we do not have any [MFC ActiveX](https://learn.microsoft.com/en-us/cpp/mfc/mfc-activex-controls?view=msvc-170) test coverage. Any help here is appreciated!

As a first step an MFC ActiveX control will need to be created, registered, and follow a pattern similar to #8253 to get it into the winforms solution. The gaps for test coverage can then

[2022-11-29 18:37] dreddy-work commented on #8280
@dmitrii-drobotov , given PR is merged for servicing as well, can you close this issue ?

[2022-11-29 20:45] dreddy-work commented on #8266
In PermonV2 mode applications, when moved from one monitor to the other, scale factor computed with respect to new DPI on the monitor is not aligning with the Window's `SuggestedRectangle` for top-level window on the monitor. This is causing issue in scaling anchors with `AutoScaleFactor`. Anchors are tightly coupled with parent's `DisplayRectangle` and computing scale factor based on the change i

[2022-11-29 21:28] dreddy-work commented on #8280
@rickbrew, would it be possible to get a private version of paint.NET targeting .NET 8.0? and possibly running in PermonV2 mode? I am working on few changes for permonV2 mode in .NET 8.0 and like to include Paint.Net in my verifications.

[2022-11-29 21:54] elachlan commented on #8223
@dreddy-work would it be possible to have a "Flaky Test" label which applies to issues of this type to help find/group them?

[2022-11-29 21:59] dreddy-work commented on #8223
It was considered redundant given tittle has "Flaky Test". Having label make it easier to group but anything else you see that label would help? We can certainly have a label.

[2022-11-29 22:05] elachlan commented on #8223
It looks like "test-bug" might be used instead. Which makes more sense.

[2022-11-30 00:57] dreddy-work commented on #8270
We are double scaling in .NET for Scrollbars. Working on fix.

[2022-11-30 03:10] elachlan commented on #8291
@kant2002 things are happening!

[2022-11-30 04:45] kant2002 commented on #8291
Honestly I did not get the idea. Any example from existing COM patterns?

[2022-11-30 13:59] dmitrii-drobotov commented on #8280
It's not merged into main yet, so I would close the issue once that's done too.

[2022-11-30 14:01] helviett commented on #4898
More than a year has passed. Will this issue recieve more attention?
We use `ContextMenuStrip` for context menus and drop downs. Our application is in PerMonitorV2 dpi awareness mode (set by Application.SetHighDpiMode call), so we recieve a correct DPI value from from and scale our application appropriately. However when DPI is changed `ContextMenuStrip.DeviceDpi` is still the value of DPI when ap

[2022-11-30 15:13] dmitrii-drobotov opened #8307 "Screen readers cannot announce checked state of checkable ToolStrip/MenuStrip menu items"
### .NET version

.NET 8

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, but it was working in [MainMenu](https://learn.microsoft.com/dotnet/api/system.windows.forms.mainmenu) control

### Issue description

Initially reported in https://github.com/dotnet/winforms/issues/7770. Screen readers cannot announce checked state of chec

[2022-11-30 17:56] dreddy-work commented on #4898
Work on high DPI was delayed until now. We are making progress in .NET 8.0 and prioritizing the issues. @helviett Can you clarify couple of things here?

What do you mean by "Scale our application " here? Do you have custom code to scale it in your application? or letting it to be scaled by WinForms?

If application is running in `PermonitorV2` mode, we do update this to point to new value. Would

[2022-11-30 18:06] #8280 closed

[2022-11-30 18:19] rickbrew commented on #8280
Looks like you already have access to dotnet/paint.net ... let me know via e-mail if you have any questions or problems getting it to build. Should be able to build it as-is for 7 and then modify the runtimeconfig.json/deps.json to target 8, IIUC

[2022-11-30 18:38] helviett commented on #4898
Our game engine uses WinForms on Windows as a Window System backend. We create form and a control inside it, take window handle and do I own rendering. We use a `Form.DeviceDpi` to properly scale our UI in the scene editor.

Our forms invoked `DpiChanged` event when you move `Form` to a monitor with a different scale set or when you set different scale for current window in Windows settings. But `

[2022-11-30 18:49] dreddy-work commented on #4898
two things here:

- A sample application will definitely help understand how `ContextMenuStrip `is structured.
- IsHandleCreated for `ContextMenuStrip ` when DPI changed? if not, it won't receive any DPI change messages.
- Top level windows get `WM_DPICHANGE `message while child controls get `WM.DPICHANGED_AFTERPARENT ` and `WM.DPICHANGED_BEFOREPARENT`. How `ContextMenustrip `is created would help

[2022-11-30 18:55] #8033 closed