[2019-11-20 00:54] #2389 closed

[2019-11-20 01:05] #2336 closed

[2019-11-20 05:57] TempeBrennan commented on #2389
Thanks a lot. I will wait 3.1RTM release.

[2019-11-20 10:44] riv1 opened #2393 "Visual Studio becomes unresponsive when debugging DateTimePicker ValueChanged event"
* .NET Core Version: 3.0.100
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Setting a breakpoint on the **first** line of code inside the ValueChanged event handler causes Visual Studio to become unresponsive, when the breakpoint is hit.

**Actual behavior:**

**Expected behavior:**

**Minimal repro:**
1. Create WinForms .Net Core app and add a DateTimePick

[2019-11-20 11:43] RussKie commented on #2393
@Vino-Wang could you please triage it.

[2019-11-20 11:51] RussKie opened #2395 "Unable to pack Microsoft.VisualBasic.Forms"
* .NET Core Version: master
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

The dev version is not flowing through to core-sdk, isn't getting bundled, and as a result isn't available to our early adopters.
After a discussion with @AdamYoblick and @dagood it was concluded that the flow is broken because we are unable to pack, due to a missing intellisense fi

[2019-11-20 13:54] #2393 closed

[2019-11-20 16:35] hughbe opened #2400 "OleDragDropHandler class is not implemented"
Means that calling things like
`if (OleDragDropHandler.FreezePainting)` throws `NotImplementedException`

See https://github.com/dotnet/winforms/pull/2398
[code]

This test is expected to pass but throws `NotImplementedException` in .NET Core

[2019-11-20 16:58] weltkante commented on #2400
I can't quite follow, looking at .NET Framework assemblies with ILSpy it looks like `OleDragDropHandler.FreezePainting` is implemented and doesn't throw.

[2019-11-20 18:35] hughbe commented on #2400
sorry!! I meant > This test is expected to pass but throws NotImplementedException in .NET Core

[2019-11-21 03:14] Vino-Wang opened #2406 "Narrator does not announce Up/Down buttons when targeting .NET Core 5.0"
* .NET Core Version: (.NET Core SDK 5.0.100 – alpha1 – 5.0.100.15753)
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
In .Net Core 5.0 apps Narrator doesn't announce Up/Down buttons if a user uses CapsLock + kreyboard arrows combination. It works well in .Net 4.8 & .Net Core 3.1.

**More Info:**
This is a regression issue, it cannot reproduce in .Net Core 3.

[2019-11-21 05:01] RussKie commented on #2406
@Vino-Wang please note that the latest .NET 5.0 does not contain the latest version of WinForms.
Please check what version of WinForms you have installed in C:\Program Files\dotnet\shared\Microsoft.WindowsDesktop.App\5.0.0-alpha1.???\System.Windows.Forms.dll
![image](https://user-images.githubusercontent.com/4403806/69305431-09e78c80-0c78-11ea-8af2-39871feaaf3a.png)

If the assembly is generated p

[2019-11-21 05:11] vladimir-krestov commented on #2406
This is my request to create the new Issue.
I checked this on the latest version of **master** branch.

[2019-11-21 05:17] RussKie commented on #2400
Looks like we haven't ported `OleDragDropHandler`
https://github.com/dotnet/winforms/blob/7aeb736b075b102efb4d3fc4df6add660177d032/src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/OleDragDropHandler.cs

@merriemcgaw what are our priorities around this?

[2019-11-21 05:27] RussKie commented on #2406
Right, all good then.
Just making sure we're not filing unnecessary tickets.

Thank you

[2019-11-21 22:23] weltkante opened #2411 "DesignerAttributes referencing nonexisting classes"
* .NET Core Version: 5.0 master
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Regression in many (but not all) `DesignerAttribute` annotations, all attributes have been ported from .NET Framework but a lot of Designer classes they are referencing have not been ported. Discovered during implementation of PR #2230 which is testing the consistency of attribut

[2019-11-21 22:31] weltkante opened #2412 "ControlBindingsConverter missing"
* .NET Core Version: 5.0 master
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
WinForms [is referencing](https://github.com/dotnet/winforms/search?q=ControlBindingsConverter&unscoped_q=ControlBindingsConverter) `ControlBindingsConverter` but not providing an implementation for it.

**Actual behavior:**
The implementation of `ControlBindingsConverter` is not

[2019-11-21 23:06] weltkante opened #2413 "UITypeEditor does not type-forward from System.Drawing"
* .NET Core Version: 5.0 master
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
For some reason UITypeEditor does not automatically type-forward from System.Drawing.Design to System.Windows.Forms.Design even though it is a public type. I was under the impression that public types get their type forwards automatically generated and manual entries only are req

[2019-11-22 11:02] weltkante commented on #2413
I think UITypeEditor comes from System.Drawing, not from System.Drawing.Design, that would explain why the type forward is not generated.

I think this needs to be coordinated with CoreFX, as they own System.Drawing now? Or does WinForms have a facade for System.Drawing.dll which takes priority over CoreFX? I remember the situation to be a bit complex.

Otherwise we can just remove the attribute f

[2019-11-22 13:56] edespong opened #8821 "Font.Clone() not creating an exact copy?"
According to the documentation, `Font.Clone()`

But running the following code:
[code]

Gives the result:

This is likely due to MS Outlook not being installed on my machine, but does this still not contradict the documentation? An **exact** copy should equal its original, otherwise it is not an exact copy.

[2019-11-22 15:42] weltkante opened #2417 "Update UITypeEditors to use modern FolderBrowserDialog instead of XP version"
During review of PR #2305 it was [noted](https://github.com/dotnet/winforms/pull/2305#issuecomment-551158274)

The default folder dialog is from pre-Vista era, you have to opt-in to the modern version, which the code does not do (and there is no way for the user to override it either). Since the modern dialog will always be available under the supported operating systems it makes sense to always u

[2019-11-23 14:19] xiangzhai commented on #2076
:linux-interest

[2019-11-24 12:32] kpreisser opened #2424 "Issues in User32.GetWindowText() (out-of-bounds write; text length change detection not working)"
* .NET Core Version: `master` (e0a1361874fce56f7a4fac2ec527e155e7c76128)

**Problem description:**
While working on the task dialog PR, I had a look at the implementation of `User32.GetWindowText()` and noticed it seems to have some issues:

https://github.com/dotnet/winforms/blob/e0a1361874fce56f7a4fac2ec527e155e7c76128/src/Common/src/Interop/User32/Interop.GetWindowText.cs#L26-L53

* When callin

[2019-11-25 11:01] filipnavara opened #2426 "Self-contained deployment always include WPF assemblies"
* .NET Core Version: 3.0; 3.1
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

- Create a simple WinForms application (either through `dotnet new` or VS)
- Add Publish profile, change it from "framework dependent" to "self-contained"

**Actual behavior:**

Published output contains large part of WPF stack (eg. PresentationCore.dll, PresentationUI.dll, Presen

[2019-11-25 12:48] weltkante commented on #2426
As far as I know the compiler looks at project file properties `UseWindowsForms` and `UseWPF` and if those are not present he won't add the references.

As such I'd expect that the publish process should respect the same properties when deciding which assemblies to publish.

[2019-11-25 12:50] filipnavara commented on #2426
I'd expect that as well but it does not.

[2019-11-25 13:50] weltkante commented on #2426
Yes I was just trying to point out where the problem is. There already exists a way to differentiate between WPF/WinForms projects but apparently its not used consistently.

[2019-11-25 19:25] OliaG opened #2427 "Performance issue with localizable controls and forms"
* .NET Core Version: .NT Core 3.0 GA
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Right now switching the Localizable property on control causes a large amount of properties moved to a .resx file. At runtime this is loaded with heavy use of reflection and deserialization which shows up in our performance profiles as the biggest reason for slow startup tim

[2019-11-26 03:54] RussKie commented on #2426
@danmosemsft @ericstj can you please help directing the issue to the right team? I'm guessing this issue belongs to dotnet/runtime.

[2019-11-26 08:05] kpreisser commented on #2424
/cc: @hughbe

[2019-11-26 09:38] M-Lipin opened #2432 "ComboBox initialization/reinitialization fails with NullReferenceException"
* .NET Core Version: 3.0
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
The issue is that the multi-form desktop application or application with complex control appearance behavior may fail with the error caused by NullReference which has ComboBox's origin. ComboBox initializes successfully and the issue does not reproduce in case this is shown initially o

[2019-11-26 20:54] filipnavara commented on #2426
This also affects WPF apps that end up bundling parts of WinForms. /cc @vatsan-madhavan

[2019-11-27 00:47] #2395 closed

[2019-11-27 23:56] KirillOsenkov commented on #2107
FYI folks there's a workaround that I recommend you try:
https://github.com/microsoft/msbuild/issues/4923#issuecomment-554265394

Basically desugar Microsoft.VisualBasic.Forms.csproj and then add this at the very end, after importing Sdk.targets:

[code]

[2019-11-28 00:00] RussKie commented on #2107
I'll give it a go. Thank you!

[2019-11-28 01:00] #2107 closed

[2019-11-28 06:09] RussKie commented on #2424
Are you able to create a repro?

Looking at the code, one of callsites is wrapped with `MultithreadSafeCallScope`, which as I understand it prevent information alteration whilst we're in call. E.g.
https://github.com/dotnet/winforms/blob/7aeb736b075b102efb4d3fc4df6add660177d032/System.Windows.Forms/src/System/Windows/Forms/Control.cs#L4036-L4039

However few other callsites aren't wrapped, and per

[2019-11-28 09:37] weltkante commented on #2424
I don't think requesting a repro is the right approach to this kind of bug, this is an out-of-bounds write, you shouldn't require a reproducable crash to fix those as it can be a potential security issue.

The problem is the code is lying about the buffer size you are passing, the buffer is one char smaller than its claiming to be, so GetWindowTextLengthW will do an out-of-bounds write without hes

[2019-11-28 12:00] weltkante commented on #2424
[edit] Never mind, I misunderstood some of the bugreport. The off-by-one error in the win32 API (`GetWindowTextW` asking for a larger size than it has buffer for) should be fixed in any case regardless of what is done with the rest of the reported issue.

[2019-11-29 03:33] tcostin opened #2451 "FormClosed event is raised twice for owned modal window when owner window is closed programatically"
See attached sources. I can reproduce this issue with .Net Core 3.0 and .Net Framework 4.7.2

The second call to OnFormClosed() seems to be a side effect of shutting down the modal message loop that was created to run the child window.

[BugFormClosedRaisedTwice.zip](https://github.com/dotnet/winforms/files/3903629/BugFormClosedRaisedTwice.zip)

[2019-11-29 15:13] kpreisser commented on #2424
As @weltkante noted earlier, it's probably not possible to create a repro for the first issue (out-of-bounds write) that causes a crash or throws an exception, as it's only one char that is written outside the bounds of the buffer which causes no visible effects in most cases. So I think the issue and fix will need to be verified manually.

Additionally, all of mentioned issues will only be obvers

[2019-11-30 14:24] hughbe opened #2453 "Question: Application.RenderWithVisualStyles is always false - how can we set it to true?"
Basically I want to test some code that is conditional on `Application.RenderWithVisualStyles`

The issue is that `Application.RenderWithVisualStyles` is always false

The docs (https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.application.renderwithvisualstyles?view=netframework-4.8 say
![image](https://user-images.githubusercontent.com/1275900/69901708-ed84d780-137c-11ea-9a89-c7f8

[2019-12-01 22:49] #2370 closed

[2019-12-01 22:49] #2406 closed

[2019-12-02 16:55] vladimir-krestov commented on #1522
Hi @Vino-Wang, could you please check this point? I guess CheckListBox works well now.

Result:
![yUpL1B5L5k](https://user-images.githubusercontent.com/49272759/69978373-65016500-153d-11ea-9a98-f79bacb43386.gif)

Environment:
- .NET Core SDK [5.0.100-alpha1-015748]
- Microsoft Windows [Version 10.0.18363.476]

[2019-12-03 01:08] RussKie commented on #1522
⚠️ We are currently blocked from flowing through to .NET5 setup (https://github.com/dotnet/wpf/pull/2118), so there only way to test this would be via private binaries.

[2019-12-03 03:57] RussKie commented on #2424
Awesome analysis, thank you!
Since you did all the hard work, would you like to send a PR with a fix? I promise it won't take as long as #1133 :)

[2019-12-03 18:29] kpreisser commented on #2424
Thanks! I opened #2460.

[2019-12-03 23:01] merriemcgaw commented on #2400
@OliaG FYI. Let me chat with PM. There has to be a reason it wasn't ported in the first place.

[2019-12-04 00:48] merriemcgaw commented on #1123
Yeah, I think we can close this for now.

[2019-12-04 00:48] #1123 closed

[2019-12-04 00:49] merriemcgaw commented on #2400
@Tanya-Solyanik popping this on your radar to so we can chat about it.

[2019-12-04 00:52] merriemcgaw commented on #1763
Assigning to @OliaG so we can talk through it and make some support decisions.

[2019-12-04 05:14] #2163 closed

[2019-12-04 06:56] RussKie opened #2462 "`TabControl` is broken"
* .NET Core Version: master
* Have you experienced this same bug with .NET Core?: Yes

**Problem description:**

A form that has a `TabControl` with more than one tabpage hangs.

It appears an instance of a `TabControl` gets stuck in the infinite loop because the messages do not get removed:
https://github.com/dotnet/winforms/blob/716397fe0a1a60c77b2e68fa8cab5b1b4b6d6eba/src/System.Windows.Forms/s

[2019-12-04 06:57] RussKie commented on #2462
@hughbe  this is pretty bad. I had a look `TabControl` **isn't the only place** where `PeekMessageW` is invoked with incorrect messages.

[2019-12-04 08:03] kirsan31 commented on #2462
Do you know when fix of this will go live? Because 3.1 was released already...

[2019-12-04 09:22] kpreisser commented on #2424
Actually, when the window/control belongs to the current process, `GetWindowTextLength` and `GetWindowTextW` cause a [`WM_GETTEXTLENGTH`](https://docs.microsoft.com/en-us/windows/win32/winmsg/wm-gettextlength) and a [`WM_GETTEXT`](https://docs.microsoft.com/en-us/windows/win32/winmsg/wm-gettext) message to be sent to the control, so a test case could change the text between those calls by overridi

[2019-12-04 10:41] Lohnegrim opened #2464 "Microsoft.VisualBasic.PowerPacks doesn't work with .Net Core 3.1"
* .NET Core Version: 3.1
* Have you experienced this same bug with .NET Framework?: YeNo

.Net Core 3.1 removed ContextMenu, but the Microsoft.VisualBasic.PowerPacks (https://docs.microsoft.com/en-us/dotnet/visual-basic/developing-apps/windows-forms/power-packs-controls)
Making it possible to create but not dispose them.

**Actual behavior:**
[code]

**Expected behavior:**
Dispose should work

**M

[2019-12-04 12:04] chylex commented on #2091
Have the controls intended to replace these ever reached the look & feel of native Windows controls? I specifically use `MainMenu` and `ContextMenu` in apps targeting .NET Core 3.0 because the -Strip controls have always looked completely out of place. If there's no easy alternative to get native-like controls in 3.1, then the update is a dealbreaker for me.

[2019-12-04 13:30] hughbe commented on #2462
Not good at all, fix looks good though. Must be said this is a slight reason not to use default parameters

[2019-12-04 13:34] hughbe commented on #2365
Can't repro, closing

[2019-12-04 13:34] #2365 closed

[2019-12-04 13:47] Logerfo commented on #417
This is happening to me. I'm using .NET Core 3.1. `git clean -fdx` doesn't solve it.

[2019-12-04 17:09] hughbe commented on #2462
This *doesn't* look like a problem in 3.1 (thankfully!!) @kirsan31

https://github.com/dotnet/winforms/blob/release/3.1/src/System.Windows.Forms/src/System/Windows/Forms/TabControl.cs#L2137

[code]

[2019-12-04 17:13] SirIntellegence opened #2466 "NullReferenceException in ToolStripControlHost"
* .NET Core Version: 3.0.100
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
NullReferenceException while calling various methods on ToolStripControlHost after disposal.

**Actual behavior:**
`NullReferenceException` thrown

**Expected behavior:**
`ObjectDisposedException` thrown

**Minimal repro:**
The following code was used in Roslin to reproduce the iss

[2019-12-04 17:15] kirsan31 commented on #2462
Oh, sorry - didn't notice that it was not merged to 3.1 branch. It's a very good news :)

[2019-12-05 01:43] RussKie commented on #2091
You're welcome to raise a new issue about making controls look Windows native. An associated PR will also be appreciated.

[2019-12-05 04:41] #2462 closed

[2019-12-05 04:44] RussKie commented on #2462
There was a reason why we did/do all refactors/optimisations on the master branch 😉

I can agree to that 😃

[2019-12-05 04:55] RussKie commented on #2464
If I understand it correctly Visual Basic Power Packs was made available during VS 2013 time. And it was offered as-is with no support:
    ![image](https://user-images.githubusercontent.com/4403806/70196719-c3a52980-175d-11ea-9fef-2fc8fc2f59d9.png)

So I don't think it is totally unreasonable that the library may not be 100% compatible with .NET Core.

@merriemcgaw @OliaG @KathleenDollard do you

[2019-12-05 04:55] #2464 closed

[2019-12-05 05:59] RussKie commented on #2466
Looking at the code, a NRE is expected, since the `control` is set to `null`.
https://github.com/dotnet/winforms/blob/971343425f4e76dfc4b8fccfb87cbca278245fdc/src/System.Windows.Forms/src/System/Windows/Forms/ToolStripControlHost.cs#L605-L607

I venture to say `ToolStripControlHost` was designed as primarily used by the designer. Few subclasses create their own controls, so their disposal is expec

[2019-12-05 06:44] TempeBrennan commented on #2389
I can see this issue is already fixed in dot net core 3.1. Thanks a lot!

[2019-12-05 06:51] RussKie commented on #2389
Great! Thank you for the follow up!

[2019-12-05 07:42] #2432 closed

[2019-12-05 07:59] valoni opened #2467 "winform designer do not work after update into vs2019 v16.4.0"
* .NET Core Version: (e.g. 3.0 rtm and 3.1 rtm)

**Problem description:**
i did update of VS2019 to v16.4.0 from 16.3x (after update Windows form designer do not work)

after this i did unistalled vsix to reinstall again but now it show me message :

The extension  is already installed to all applicable products.????

[2019-12-05 08:42] weltkante commented on #2466
Not speaking for OP but considering his suggested solution is

I would guess he wants things to be easier to diagnose. You sometimes have event handlers triggering after disposal and when you just get a NRE you have to manually debug the problem since you don't see in the stack trace of the event handler that the control was disposed, if you were getting an ODE you would know right away what the p

[2019-12-05 14:50] weltkante commented on #2234
Not sure what your concerns on base classes are, but an alternative is using [fixtures](https://github.com/xunit/samples.xunit/tree/master/ClassFixtureExample) instead of a base class. It is not required passing the fixture to the constructor and you are more composable than base classes because you can have any number of fixtures on a test.

<details><summary>example code</summary>

[code]

</det

[2019-12-05 15:00] hughbe commented on #2234
Oh that is actually awesome! I shall do a little digging into it and see if we can update once #2457 is in

[2019-12-05 16:00] hughbe opened #2471 "Code coverage appears to be broken"
Looks like reports are missing a “base” and we don’t have anything popping up on PRs

[2019-12-05 16:11] coderesx opened #2475 "Windows.Forms.MonthCalendar control throws NullReferenceException"
Windows.Forms.MonthCalendar controls throws NullReferenceException when the user clicks to change the date

# General

This is a new issue in  .NET Core 3.1. It worked fine in .NET Core 3.0
Operating System is Windows 10 Pro.
This happens if the MinDate and MaxDate are set.

I attached a sample to reproduce the issue.

[WindowsFormsCoreApp1.zip](https://github.com/dotnet/core/files/3927891/Windows

[2019-12-05 16:17] SirIntellegence commented on #2466
What @weltkante said is correct. I was notified of this via a crash report and the stack trace doesn't give me much beyond that it was called from BackgroundWorker.OnRunWorkerCompleted. Maybe the cause is related to the program exiting while it is starting? I am not sure, but there isn't much I can do about that. It would just be nice if a more specific exception was thrown instead of the common a

[2019-12-05 20:09] Westernstandard commented on #2467
Getting the same error on two different machines in different environments.

[2019-12-05 20:09] RussKie commented on #2466
I'd like to understand the use case for `ToolStripControlHost` why and how it is used.

[2019-12-05 20:12] RussKie commented on #417
@Logerfo we need more information in order to triage it.

[2019-12-05 22:48] merriemcgaw commented on #2091
@chylex I'm interested to know what the differences are in the newer OSes that make the -Strip controls look completely out of place? What OS are your apps targeting? There may be some improvement possibilities there. File and issue with screen grabs and I'm happy to have the team take a look.

[2019-12-06 00:19] RussKie commented on #2467
Can you try VS 16.5 P1? https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#16.5.0-pre.1.0
As per @OliaG's blog post https://devblogs.microsoft.com/dotnet/updates-to-net-core-windows-forms-designer-in-visual-studio-16-5-preview-1/ VS 16.5 P1 is required for the designer to work with 3.1.

[2019-12-06 01:38] #2016 closed

[2019-12-06 01:39] RussKie commented on #2471
Indeed!

Looking at [Codecov](https://codecov.io/gh/dotnet/winforms), all is good:
![image](https://user-images.githubusercontent.com/4403806/70287906-ba32c480-1824-11ea-85ff-43b36f5a6fcf.png)

So I would speculate reports are not sent back to us. Perhaps something is broken at the org level.

@terrajobst any ideas?

[2019-12-06 01:42] RussKie commented on #2475
@M-Lipin @vladimir-krestov could you have a look, it may be related to some work done recently

[2019-12-06 03:24] terrajobst commented on #2471
@hughbe @RussKie I don't follow. Where is the base missing?

@sharwell knows more about CodeCov than I do.

[2019-12-06 05:35] sharwell commented on #2471
Yep I can look in the morning

[2019-12-06 07:40] chylex commented on #2091
Alright, is there no way .NET Core can be backwards compatible? While testing this, I installed 3.1.0 by accident, which crashed because of the missing controls, which I suppose is expected, but then it wouldn't even let me install 3.0.0 without uninstalling 3.1.0 first.

If I have to tell people they must uninstall 3.1.0 and install 3.0.0 to use my app, and then reinstall 3.1.0 again if they want

[2019-12-06 08:43] valoni commented on #2467
@RussKie  we want existing (at least .NET Core 3.0 Windows Forms Desinger  to work on v16.4.0 no to install preview of visual studio completely since we are not allowed to use preview version of Visual Studio only extensions - because of ability to unistall them)

[2019-12-06 09:21] chylex opened #2476 "Make MenuStrip and ContextMenuStrip look more Windows-native"
* .NET Core Version: 3.0
* Have you experienced this same bug with .NET Framework?: Yes

With the removal of MainMenu and ContextMenu native wrappers in .NET Core 3.1, and no alternative for native controls, it'd be a good idea to make the replacement strip controls look and feel more native.

Including screenshots from Windows 10 and 7, and `RenderMode` set to `ManagedRenderMode` and `System` to

[2019-12-06 09:50] chylex commented on #2091
Filed #2476 @merriemcgaw, thanks for looking into it.

[2019-12-06 22:17] SirIntellegence commented on #2466
I honestly don't know. It just showed up in a crash report. I don't see any references to it in our code either. If I take a look at the objects in a Snapshot, it looks like almost everything has weak references of that type (530 instances), but no instances... I suspect that some internal .net code decided to use it for something. Maybe if we added a stock control to a toolstrip?

[2019-12-07 11:17] weltkante commented on #2466
According to doc this class seems to be used for custom controls in toolbars. There are quite a few builtin subclasses as well, e.g. ToolStripComboBox, ToolStripTextBox, etc. - basically anything that isn't a simple toolstrip button/dropdown will subclass this to host a "normal" control in the toolbar.

[2019-12-07 21:12] SirIntellegence commented on #2466
That makes sense. We do use ToolStripComboBox and some others. That is likely how it is happening.

[2019-12-09 02:57] Marie-Shi opened #2490 "The value of SplitterWidth cannot be set successfully after changing the SplitterConatiner .SplitterWidth"
.NET Core Version: .NET Core 3.1.101-servicing-014750 from Release branch + the VSIX Inserted into Dev16 16.5.0 Preview 2.0 [29605.132.master]
Have you experienced this same bug with .NET Framework?: Yes

**More Info:**
1.	This issue can reproduce with .Net Framework project from .Net4.0 to latest .Net4.8.
2.	This issue cannot reproduce if SplitterConatiner isn’t within panel container.

**Steps t

[2019-12-09 05:53] RussKie commented on #2091
It is possible to create self-contained apps, so your users will be able to run your apps without needing to install anything other than your app. You can find more info: https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#compiledeploy

[2019-12-09 08:05] int2e opened #2491 "How winform designer runs at 100% scale?"
* .NET Core Version: 3.1.100
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
I want to use 100% scale to design UI in the winform designer, my screen resolution is 5120 * 1080 (200% scale);
Now a `Size` property 1000 * 800 is actually 500 * 400;
![size](https://user-images.githubusercontent.com/18641363/70417368-0a678c00-1a9c-11ea-8643-9aa5775c7f34.jpg)

If

[2019-12-09 23:21] RussKie commented on #2491
Please provide a repro

[2019-12-10 02:33] int2e commented on #2491
I provided two videos, winform designer behavior in the range of 100% and 200% respectively
[video.zip](https://github.com/dotnet/winforms/files/3942705/video.zip)

repro
[repro-TestHiDPI.zip](https://github.com/dotnet/winforms/files/3942715/repro-TestHiDPI.zip)

@RussKie

[2019-12-10 04:35] sharwell commented on #2471
I submitted #2480 to fix this.

[2019-12-10 05:22] #2471 closed

[2019-12-10 06:33] RussKie commented on #2491
**TL;DR** it is strongly recommended to design your UI at 100% scaling factor (96dpi) and use DPI scaling.

Visual Studio shows a gold bar suggesting to restart with 100% SF
![image](https://user-images.githubusercontent.com/4403806/70501526-63095880-1b72-11ea-8096-3a7f926aeaa4.png)

----

These two lines in your designer are causing your issue:
[code]

If you run your app at 100% SF the true size

[2019-12-10 06:33] #2491 closed

[2019-12-10 10:41] weltkante commented on #2491
Considering that the new designer runs in a separate process I wouldn't expect having to restart VS itself (just the designer process), that may be the reason why the gold bar doesn't come up.

[2019-12-11 00:46] RussKie commented on #2491
Related #1948

[2019-12-11 01:38] merriemcgaw commented on #2491
I've added a work item for the Core Designer to ensure the GoldBar shows up.

[2019-12-11 13:15] SFC-Sarge commented on #2467
Same issue for me and in VS 16.5 P1 I create a new Windows Forms Net Core 3.1 solution and when you right click on the form and select view designer, VS displays message that it is opening the file and never stops and VS Memory increases continuously. After 5 minutes It finally opens with blank Windows Forms (Empty as expected since it is a new solution.) My issue is why does it take so long to op

[2019-12-11 15:12] SFC-Sarge commented on #2467
Update:  Once the first time the opening file took 5 minutes. Same and other solutions no-longer have this issue.

[2019-12-12 00:47] #2424 closed

[2019-12-13 00:45] paul1956 opened #2501 "Read me for Visual Studio and Core releases do not highlight breaking changes"
There are (breaking) changes between Framework and Core that are hard to discover. Until today I did not know there was a GitHub documentation: breaking tag with some of that information. While this is great for details this is terrible for discovery. So far I have found out Core has new default font, there are significant and great changes in FolderDialogBrowser, DataGridView Heading have differe

[2019-12-13 01:43] RussKie commented on #2501
Thank you @paul1956, appreciate your feedback.

We have official docs living at https://docs.microsoft.com/, including those detailing breaking and other notable changes, e.g.:
* https://docs.microsoft.com/en-us/dotnet/core/porting/winforms-breaking-changes
* https://docs.microsoft.com/en-us/dotnet/core/compatibility/winforms

Would you find it helpful if these links for in our readmes?

The Desig

[2019-12-13 09:43] paul1956 commented on #2501
This is the first time I have seen either detailed link above (the top level link is better suited to a searh engine then a human) and I follow dotnet closely. I don't care if the details are in a blog or in the excellent documentation you show above, my issue is how do people find it. If there are breaking changes I would expect to see them in the readme of .Net and VS, along with what's new and

[2019-12-14 02:37] DualBrain commented on #2501
The related links do cover some of these; however, the difference in behavior with the DataGridView; for example, the DataGridView1.EnableHeadersVisualStyles seems to be defaulted to False in .NET Core and True in .NET Framework.  Adding = False to the shared WinForms (between the two projects) in the Load event gives me a consistent result; remarking out this single line I get different behaviors

[2019-12-14 08:19] paul1956 commented on #2501
@DualBrain Changing a default from True to False to me is a breaking change and should be highlighted somewhere. I am not saying it is bad, it should just not be a surprise.

[2019-12-14 11:18] 199621616 opened #2503 "迁移到.NetCore3.1后窗口变形严重"
将基于.Net Framework 4.6.1的WinForm迁移到.Net Core 3.1后窗口变形严重。是我错过了什么，还是.Net Core 3.1本是如此？需要我们根据.Net Core 3.1再调整，还是需要你们修复？
下图左右两个窗口差距很大，代码没有任何变动。
![image](https://user-images.githubusercontent.com/25498672/70848165-61a89a80-1ea8-11ea-9037-ccf53c4c399a.png)

[2019-12-14 11:24] 199621616 commented on #2503
![image](https://user-images.githubusercontent.com/25498672/70848077-5a34c180-1ea7-11ea-8f9d-bbfead0b9425.png)

[2019-12-15 13:35] RussKie commented on #2503
@199621616 please write in English if you require assistance.

@Olina-Zhang is this something you can read?

[2019-12-15 13:37] maikebing commented on #2503
@199621616    add   `  Application.SetHighDpiMode(HighDpiMode.SystemAware); ` to
 static void Main(string[] args)

[2019-12-15 15:55] 199621616 commented on #2503
After migrating WinForm based on. Net framework 4.6.1 to. Net core 3.1, the window is seriously deformed. What did I miss, or did. Net core 3.1 originally? Do we need to readjust according to. Net core 3.1, or do you need to fix it?

The left and right windows in the figure below are quite different, and the code has no change.

[2019-12-15 15:59] 199621616 commented on #2503
add Application.SetHighDpiMode(HighDpiMode.SystemAware); to
static void Main(string[] args)
No change.

[2019-12-15 18:28] kpreisser opened #2506 "FileDialog/FolderBrowserDialog should fall back to legacy dialog on COMException"
* .NET Core Version: `master` (7dee30995829711ac3a486f672cede1171ab4eb1)
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

When [`FileDialog.AutoUpgradeEnabled`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.filedialog.autoupgradeenabled?view=netcore-3.1)/[`FolderBrowserDialog.AutoUpgradeEnabled`](https://docs.microsoft.com/en-us/dotnet/ap

[2019-12-15 23:30] RussKie commented on #2501
We haven't made any changes in this area.
`DataGridView1.EnableHeadersVisualStyles` is `true` by default.
![image](https://user-images.githubusercontent.com/4403806/70871038-ffa67d00-1fee-11ea-976e-def563edf75e.png)

[2019-12-16 00:27] paul1956 commented on #2501
@RussKie @DualBrain I don't want to debate the DatatgridView issue here. Cory can you open a separate issue. Lets get back to adding the links above to ReadMe for both VS and Core so developers can find the changes.

[2019-12-16 02:13] Vino-Wang commented on #2503
@199621616 @RussKie, maybe this is caused by issue https://github.com/dotnet/winforms/issues/1122. And this is a by design issue, the default Font size is changed in Core project,

[2019-12-16 03:55] RussKie commented on #2503
@199621616, yes this is the most likely reason, depending on values of `AutoScaleDimensions`and `AutoScaleMode` properties of the form.

Please have a look at the docs that detail breaking and other notable changes:
* docs.microsoft.com/en-us/dotnet/core/porting/winforms-breaking-changes
* docs.microsoft.com/en-us/dotnet/core/compatibility/winforms

[2019-12-16 05:47] RussKie commented on #1009
I can't find where we're saying the project can be built in 2017.

[2019-12-16 05:47] #1009 closed

[2019-12-16 07:36] 199621616 commented on #2503
@Thank you very much to vino Wang and @ russkie. After setting the default font to font = new font (New fontfamily ("Microsoft sans serif"), 8F), the problem has been resolved. This issue is closed.

[2019-12-16 07:36] #2503 closed

[2019-12-17 00:21] RussKie commented on #2506
Thank you for the very detailed report!
I think it is a sensible proposal. @merriemcgaw @JeremyKuhne any objections?

@Vino-Wang we'll need to test this scenario. Could you please set up a test environment, I'll provide you with private binaries with a fix,

[2019-12-17 02:13] merriemcgaw commented on #2506
I think this is a very logical proposal and would support a PR that implements it.

[2019-12-17 10:33] Vino-Wang commented on #2506
@RussKie, I have send the result about setting up the repro environment in email, please check it.

[2019-12-18 09:47] hughbe commented on #1962
Can't seem to repro anymore - should i close?

[2019-12-18 10:37] Vino-Wang opened #2522 "An exception pops up when executing these methods: ImageList.Images.Clear() and ListViewItem.ImageList.Image.Clear()"
* .NET Core Version: (.NET Core 5.0 5.0.100.15949 5.0.0-alpha.1.19617.3 )
* Have you experienced this same bug with .NET Framework?: No

**More Info**
1. This issue cannot reproduce with Framework app.
2. This issue cannot reproduce when targeting .NET Core 3.1.

**Problem description:**
An exception pops up when the cases implement the following affected methods: ImageList.Images.Clear() and List

[2019-12-18 11:28] filipnavara commented on #2426
It's been three weeks and there is still no answer where this issue belongs. Any help would be really appreciated. /cc @terrajobst @danmosemsft

[2019-12-18 11:47] Jessie-Zhang01 opened #2523 "The text of the selected drop-down list item is invisible in PropertyGrid"
**.NET Core Version:** .NET Core 5.0.100-alpha1-15949 from Release branch + the VSIX Inserted into Dev16 16.5.0 Preview 2.0 [29617.90.master]
**Have you experienced this same bug with .NET Framework?:** No

**More info:**
1.	This issue cannot reproduce when the application target to 3.0 or 3.1.
2.	This issue cannot reproduce in design time.

**Repro Steps:**
1.	Open the attached ‘WindowsFormsApp17

[2019-12-18 11:50] Thea-Zhao opened #2524 "The back color of the text cannot be set successfully"
* .NET Core Version: (.NET Core 5.0.100-alpha1-015949)
* Have you experienced this same bug with .NET Framework?:No

**Problem description:**
The back color of the text cannot be set successfully.

**More Info:**
1. This is a regression issue, it's not reproducing when targeting .NET Core 3.1.
2. This issue also cannot reproduce with Framework project.

**Actual behavior:**
No expected back color

[2019-12-18 11:59] Thea-Zhao opened #2525 "The text and image of the ToolStripMenutems cannot be shown completely"
* .NET Core Version: (.NET Core 5.0.100-alpha1-015949)
* Have you experienced this same bug with .NET Framework?:No

**Problem description:**
The text and image of the ToolStripMenuItems cannot be shown completely.

**More Info:**
1. This is a regression issue, it's not reproducing when targeting .NET Core 3.1.
2. This issue also cannot reproduce with Framework project.
3. This issue affected Cont

[2019-12-18 12:39] hughbe commented on #2522
I have a fix

[2019-12-18 14:01] vladimir-krestov commented on #2390
It seems it is an OS regression bug, so I closed this Issue. I will reopen it if necessary.

[2019-12-18 16:47] ericstj commented on #2426
This is by design as the SDK deploys shared frameworks as a whole and WPF and WinForms are in the same shared framework.  You can enable trimming in order to drop the WPF assemblies if your app doesn't use them.

@filipnavara WPF actually depends on WinForms for some of its UI so even when enabling trimming a WPF app will still bring in WinForms.

Winforms could techincally be deployed without WPF

[2019-12-18 22:25] #2426 closed

[2019-12-18 22:51] filipnavara commented on #2426
@ericstj I enabled trimming. It didn't help.

[2019-12-18 23:24] #2234 closed

[2019-12-18 23:25] RussKie commented on #2234
I will reopen the ticket, if it becomes necessary.

[2019-12-18 23:48] #2219 closed

[2019-12-18 23:50] #2275 closed

[2019-12-19 00:45] ericstj commented on #2426
If you enabled trimming on a self-contained WinForms app that doesn't use WPF and WPF wasn't removed by the linker that sounds like it could be a linker bug.  You can open an issue with repro here: https://github.com/dotnet/sdk/issues.

[2019-12-19 01:02] filipnavara commented on #2426
Thanks. The repro is the same as presented here. It already has `PublishTrimmed` enabled. I will open new issue on the SDK project.

[2019-12-19 01:26] merriemcgaw commented on #2476
I think we should break this up into a couple of sub-issues:
- Change the colors of the `RenderMode = System` to truly match system
- Fix the tab ordering of the menu to include the window menu (icon in top right of form)
- Ensure our positioning of ContextMenuStrip invoked by the keyboard button matches how Notepad does it
- Investigate the space taken by the MenuStrip in `Form.ClientHeight`

I'd

[2019-12-19 01:32] merriemcgaw commented on #2453
@sharwell - do you happen to have any thoughts on this one?

[2019-12-19 01:50] merriemcgaw commented on #2467
@SFC-Sarge if you continue to experience problems, please do file a VS Feedback item. That will help give us the telemetry that might help us figure out what the issue is.

[2019-12-19 01:57] SFC-Sarge commented on #2467
After repairing VS 2019 preview it now works loads slow the first time but then is find after the initial load. Just waiting for full functionality to be added. I only use it because WinPE does not support WPF applications, so limited to Windows Forms for workstation provisioning solutions.

[2019-12-19 03:35] chylex commented on #2476
Would you like me to break up the current issue into sub-issues, or will you do that and I should only file new ones if I find further differences?

It's different from how this style of main menus work on Windows. Any app I've tried immediately opens the clicked main menu item even if the window is initially unfocused:

- Native WinAPI apps such as notepad or pre-UWP calculator
- WPF apps such as

[2019-12-19 06:53] RussKie commented on #2501
I have passed your feedback internally to the relevant people. Hopefully we will be able to provide better comms in the future.
I am also adding links to the breaking changes in https://github.com/dotnet/winforms/pull/2529

Could you please point me to these questions? I'm monitoring few tags on SO, but I guess I may be missing on some tags.

VS readme's only contains VS-related information. VS is

[2019-12-19 07:36] RussKie commented on #2476
If you don't mind, please raise a separate issue for each. The more details you provide - the better.

Please raise this issue as well. In it please explain how to repro, I can't seem to get an unfocused app with an open menu/contextmenu.

Thank you

[2019-12-19 07:38] #2467 closed

[2019-12-19 08:21] paul1956 commented on #2501
https://gitter.im/VB-NET/community
https://gitter.im/dotnet/corefx
https://stackoverflow.com/

VS is the way many people get .NET Core and upgrades from one release to another. I am not looking for a long list just the two links in https://github.com/dotnet/winforms/issues/2501#issuecomment-565264554 especially for breaking change.

[2019-12-19 08:45] chylex commented on #2476
Not sure I follow.

The issue is that with MenuStrip in an unfocused window, opening a menu requires 2 clicks - one to focus the window and one to actually open the menu - while MainMenu and basically every app that has a main menu only requires 1 click over the unfocused window to open the menu.

Context menu works as expected with both ContextMenu and ContextMenuStrip, no issue there.

[2019-12-19 11:15] Ashley-Li commented on #2036
Verified this bug with .NET Core 3.1.101-servicing-014846 build validation, the issue has been fixed.

[2019-12-19 23:47] Tanya-Solyanik commented on #2400
We don't need this class for the core designer because user input is handled in the VS. I would wait for a customer request before porting this class.

[2019-12-20 02:56] RussKie commented on #2400
In this case, I'm closing it for now. We can re-open it in the future, if that becomes necessary.

[2019-12-20 02:56] #2400 closed

[2019-12-20 04:03] #2522 closed

[2019-12-20 04:14] #2501 closed

[2019-12-20 09:20] vladimir-krestov opened #2538 "Tooltip text announced by ScreenReader in different OS versions incorrectly"
* .NET Core Version: 5.0.100-alpha1-015918
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
- Some users in different OS versions have a problem with a tooltip text announcing.

**Actual behavior:**
- **RS5** OS version (2018): Narrator announces a tooltip text **once**. But after #2074 Narrator announces a text **twice**.
![image](https://user-images.github

[2019-12-20 21:07] #2506 closed

[2019-12-20 21:26] RussKie commented on #2501
The front page of the docs is being updated too to include a link to breaking changes.
![image](https://user-images.githubusercontent.com/4403806/71294081-8b435380-23cb-11ea-88a3-c37af93b4944.png)

[2019-12-21 04:01] chylex opened #2543 "Make appearance of MenuStrip & ContextMenuStrip look native when RenderMode = System"
(split off from #2476)

### Windows 7

See #2476 for screenshots if needed.

### Windows 10

| Native | Strip (RenderMode = System) |
| --- | --- |
| ![NativeMenu10](https://user-images.githubusercontent.com/3685160/70310185-5a7dee80-180f-11ea-9ae7-f970c6b69bbe.png) | ![StripSystemMenu10](https://user-images.githubusercontent.com/3685160/70310193-5eaa0c00-180f-11ea-9f91-48f14507a707.png) |
| ![Nat

[2019-12-21 04:02] HugKitten opened #8840 "Issue with Image.Save"
public void Save (System.IO.Stream stream, System.Drawing.Imaging.ImageFormat format); on Image class will throw an exception when the stream lacks seek permission even when the stream has write permission despite the method only needing write permission to work.

HttpWebRequest.GetRequestStream() will return a stream without seek permission on dot net core while returning one with read permission

[2019-12-21 04:27] chylex opened #2544 "Fix MenuStrip hover & click behavior in unfocused windows"
(split off from #2476)

This issue addresses two differences between native MainMenu and MenuStrip controls when the window is unfocused.

### Issue 1 : Hovering menu items highlights them in an unfocused window
Native control on the right side only highlights hovered items when the window is focused. This also causes confusion with issue 2.

![unfocused](https://user-images.githubusercontent.com/

[2019-12-22 18:37] hughbe opened #2554 "Setting ListViewGroup.HorizontalAlignment does not work once handle is created"
E.g. with the following form
![image](https://user-images.githubusercontent.com/1275900/71325761-7b219600-24e9-11ea-8b95-879f17c64404.png)

Setting `listView1.Groups[0].HeaderAlignment = HorizontalAlignment.Left;` causes no update to the alignment of the group.

However, calling 'RecreateHandle` on the `ListView` does fix this.

The fix would be make the setter of `ListViewGroup.HeaderAlignment` r

[2019-12-22 18:42] hughbe commented on #2554
This also repros in .NET Framework

[2019-12-22 19:45] hughbe commented on #2453
See https://github.com/dotnet/winforms/pull/2555#issuecomment-568297567. It seems like (at least our test projects) don't support ComCtl version 6.0

[2019-12-23 04:45] #2525 closed

[2019-12-23 14:29] hughbe commented on #2453
Further investigation: #2564

Looks like theres a caching problem with `ComCtlSupportsVisualStyles` and `Application.UseVisualStyles`. See the PR for more details

[2019-12-23 14:48] chylex commented on #2476
I haven't opeend an issue on ClientHeight yet. I suspected that `StatusBar` vs `StatusStrip` would have the same issue, but `StatusBar` still exists in 3.1 and wasn't mentioned in the removal PR. Any idea what's up with that?

[2019-12-26 09:20] ezolotko opened #2573 "DocumentDesigner class is not implemented. What support to expect for custom hosting of Windows Forms designer?"
In .NET Core 3.1, DocumentDesigner class from System.Windows.Forms.Design.dll has all of its methods implemented as
`new NotImplementedException(SR.NotImplementedByDesign);`

The DocumentDesigner class is vital for custom hosting of Windows Forms designer in user applications. Judging from the class' .NET Framework implementation, it contains a lot of "glue" root designer logic, common for all doc

[2019-12-26 15:26] hughbe opened #2576 "ToolStripSeparator.GetPreferredSize has a suspicious always-true if check"
The implementation of `ToolStripSeparator.GetPreferredSize` is as follows:

[code]

Notice this case: `if (parent.LayoutStyle != ToolStripLayoutStyle.HorizontalStackWithOverflow || parent.LayoutStyle != ToolStripLayoutStyle.VerticalStackWithOverflow)`

This appears to always be true, as `parent.LayoutStyle` can't be both `HorizontalStackWithOverflow` and `VerticalStackWithOverflow`.

Should this a

[2019-12-26 20:01] paul1956 opened #2580 "Can test WinForms under Visual Studio"
* .NET Core Version: (Microsoft.WindowsDesktop.App 5.0.0-alpha.1.19625.3)
* Have you experienced this same bug with .NET Framework?: Yes/No
N/A
**Problem description:**
Following instructions on testing https://github.com/dotnet/winforms/blob/master/Documentation/testing-in-vs.md
very bottom Solution 2 does not work and you get the error below
**Actual behavior:**
[code]
**Expected behavior:**
Exp

[2019-12-27 02:16] paul1956 commented on #2580
This issue can't be reproduced under current daily build of .NET Core SDK version
![image](https://user-images.githubusercontent.com/12789369/71497148-c4d0f000-280b-11ea-8ac3-ff4ee53897c7.png)

[2019-12-27 02:16] #2580 closed

[2019-12-27 06:14] Varorbc commented on #117
@merriemcgaw is there any plan to replace IE7 with chromium?

[2019-12-28 03:50] RussKie commented on #2580
Daily .NET 5 builds can be incoherent, and sometimes may not work.

[2019-12-28 04:09] #2523 closed

[2019-12-28 04:09] #2524 closed

[2019-12-28 06:12] paul1956 commented on #2580
@RussKie yes I notices, they depend on a daily build of Core and changes to WinForm Master and unless they match things break, the Command Line build always seems to work. Testing and Building under Visual Studio is where I see issues.  That is why I close this issue.

[2019-12-29 08:54] RussKie commented on #2576
Yes, it looks like a logic bug. Nicely spotted!

There are two other similar looking conditions that use `&&`
![image](https://user-images.githubusercontent.com/4403806/71554568-f0a2de80-2a74-11ea-9ff7-22d4676c7849.png)

[2019-12-29 10:39] RussKie commented on #2580
We have a `build-local.ps1` script that creates a sym-link from the repo's .dotnet folder to the global one, tricking VS to use the dev version. However it may fail if the bundle's internal versions don't match. It can typically can be worked around by renaming folders to match...
I have also updated the global.json bumping the sdk version.

[2019-12-29 10:55] RussKie commented on #117
Yes, it is something we are definitely considering. However we do not currently have any set timelines for this feature.

[2019-12-29 13:20] Varorbc commented on #117
can you reopen the issue

[2019-12-29 21:27] paul1956 commented on #2580
@RussKie Yes,  I run that script and it does sometimes require that I rename (or copy) the new Core folder to the name the script wants (easy workaround).  That is not the issue, after the script runs **successfully** sometimes when you try to run a test VS complains it can't find a framework on the Web as shown in the error above. Upgrading Core Daily build and/or WinForms build makes it go away

[2019-12-30 10:51] hughbe commented on #2576
Not sure whether this would affect various use cases. Will have to investigate further looking at layouts etc

[2020-01-01 09:19] paul1956 opened #2608 "VB Core projects allow adding About.vb and SplashScreen.vb which are not core compatible"
I was asked to file this as a place holder for what is needed in new About and SplashScreen Templates for .Net Core and maybe to prevent the current forms from being added to a Core project
* .NET Core Version:
[code]
* Have you experienced this same bug with .NET Framework?: No
**Problem description:**
In a VB project ported to core with a SplashScreen or About form or where one is add by Visual

[2020-01-01 09:38] paul1956 opened #2609 "VB core project template missing Settings, Resourses, Application.myapp and ApplicationInfo"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
 Microsoft.WindowsDesktop.App 5.0.0-alpha.1.19625.2
* Have you experienced this same bug with .NET Framework?: No
**Problem description:**
A default VB project template should also include Resources, Settings, AssemblyInfo and allow for the setting of the same values that a Framework project allows (SingleInstance

[2020-01-01 12:56] #1962 closed

[2020-01-01 13:05] Jehoel commented on #2091
@merriemcgaw The old `Menu` class wrapped Win32/User32’s native window menubar, whereas `MenuStrip` (and the other `FooStrip` controls) were self-windowed WinForms controls that performed their own rendering and layout in managed code and didn’t integrate with the system. They looked great on Windows XP back in 2005 only because the WinForms assembly came with its own manually-defined colour-schem

[2020-01-02 01:59] Amy-Li02 opened #2613 "The winforms .NET Core app build error after installed .NET Core 5.0 SDK"
* .NET Core Version: .NET Core SDK 5.0.100 - alpha1 5.0.100.16134
* Have you experienced this same bug with .NET Framework?: No

**More info:**
1. The winforms .NET Core app build error after installed .NET Core 5.0 SDK, no matter targeting .NET Core 3.1 or .NET Core 5.0.
2. The WPF .NET Core app also reproduce this issue.
3. The Console .NET Core app cannot reproduce this issue.

**Actual behavio

[2020-01-02 03:17] speed2048 opened #2614 "What happened to ContextMenu/MenuItem UI classes?"
.Net core 3.1.1000

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

When I updated to .net core 3.1 and ran my windows application I get the following exception.

System.TypeLoadException: Could not load type 'System.WIndows.Forms.ContextMenu' fro assembly 'System.Windows.Forms', Version 4.0.0 ....

There are no compile / link errors.

Had to switch to Cont

[2020-01-02 03:18] RussKie commented on #2613
This isn't WinForms specific, and should be filed in https://github.com/dotnet/windowsdesktop

@dagood any thoughts on this?

[2020-01-02 03:35] RussKie commented on #2614
`ContextMenu` and `ToolStrip` controls as well as few others have been deprecated in .NET Core 3.1 (see https://github.com/dotnet/winforms/pull/2157).

Their removal has been [documented](https://docs.microsoft.com/en-us/dotnet/core/porting/winforms-breaking-changes#net-core-31) and [announced in a .NET Core 3.1 blog post](https://devblogs.microsoft.com/dotnet/announcing-net-core-3-1/).

[2020-01-02 03:35] #2614 closed

[2020-01-02 04:12] #1435 closed

[2020-01-02 06:34] speed2048 commented on #2614
Thank you, however the following link still has references to net core 3.1.

https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.menu?view=netframework-4.8

Also I found out that although I had 3.1 installed the Target Framework in VS was set to 3.0 hence no errors at compile / link time.

[2020-01-02 06:51] RussKie commented on #2614
Thank you for bringing this to our attention, I've raised it to the docs team.

[2020-01-02 07:00] RussKie commented on #2476
Thank you for pointing, it was obviously missed in the clean up (we had a tight deadline). It will be removing in .NET 5.0 timeframe, we will need to consider whether we'll patch 3.1.

[2020-01-02 10:10] eriawan commented on #2613
@Amy-Li02

As far as I know, current .NET Core 5.0 SDK aren't integrating WinForms /WPF component yet and until now there's no VS 2019 for .NET Core 5.0 SDK. (NOTE: Feel free to correct me if I'm wrong about this, @RussKie )

For now you should use `global.json` to enforce compilation with SDK that are released, such as 3.0.x or 3.1.x.
On your folder of the solution file, add global.json file, cre

[2020-01-02 10:45] eriawan commented on #594
@zsd4yr
Since we are now going to use .NET Core 5.0 or later on master branch, can I submit a PR to set the C# LangVersion to `8.0`?

[2020-01-02 11:05] weltkante commented on #2609
Just for the record, a lot of AssemblyInfo content is now in the project file instead - you should only bring back AssemblyInfo for settings which are __not__ in the project file, like WPF did. If all settings are covered by the project file then you don't bring back AssemblyInfo (instead just update documentation where those settings can be found)

[2020-01-02 11:37] weltkante commented on #2573
I didn't get around to port our own design surfaces yet but 3rd party designer hosting scenarios previously had github issues reported and resolved so I'd assume they are working. I'd expect custom design surfaces like report designers to work (which aren't directly related to designing Forms/UserControls, just using the same infrastucture).

I don't know of official statements, but they previousl

[2020-01-02 11:50] weltkante commented on #2554
I didn't inspect this scenario but recreating handles has risk of flickering (maybe not noticeable on normal machines, but low end machines and remote connections may observe it) and causing issues with focus/accessibility/etc. so this suggestion by default sounds wrong to me and should only be chosen as a last resort (with explicitely testing for above issues) if there is no Win32 API to update w

[2020-01-02 13:25] hughbe commented on #2554
I did notice flickering on my Remote Desktop actually when testing the fix.

The problem according to my investigation appears to be that calling LVM_SETGROUPINFO and changing the uAlign field (https://docs.microsoft.com/en-us/windows/win32/controls/lvm-setgroupinfo) doesn’t update the group alignment.

This problem is the same for ListViewGroup.Header, which explicitly calls `RecreateHandle` whic

[2020-01-02 15:22] weltkante commented on #2554
I debugged this and something fishy is going on

[UpdateGroupNative](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs#L5570) is not checking the return value of `LVM_SETGROUPINFO`, when I'm stepping through in the debugger I'm getting `-1` for the update, according to the [doc](https://docs.microsoft.com/en-us/windows/win32/controls/lvm-s

[2020-01-02 15:26] hughbe commented on #2554
Noting current implementation:
[code]

I shall experiment :)

[2020-01-02 15:29] hughbe commented on #2554
http://users.skynet.be/oleole/Listview_grouping_feature.htm

Maybe we could avoid recreating the handle in HeaderText setting too!

[2020-01-02 15:47] weltkante commented on #2554
Thanks for the link, I've thought some more about what I observe and I think I understand why this happens. Setting `LVGROUP.mask` to `LVGF_GROUPID` when calling `LVM_SETGROUPINFO` probably asks to rename the group. I think if the group ID to which you want to rename it already exists this fails, removing the `LVGF_GROUPID` flag when doing updates should do the trick:

[code]

[2020-01-02 22:10] paul1956 commented on #2609
@weltkante yes I noticed that, and it is a breaking change that should have been documented as a breaking change but it also means About.vb and SplashScreen.vb need new Core templates and there needs to be a UI and storage for missing items like Save My.Settings on Shutdown, Authentication mode, Shutdown Mode, Splash Screen and someday Make single instance application. Most of these are stored in

[2020-01-02 23:47] RussKie commented on #2554
You're both awesome! 💯

[2020-01-03 00:44] RussKie commented on #594
We should be using `Directory.Build.props` for shared properties.

You're welcome to submit a PR.

[2020-01-03 00:48] RussKie commented on #594
Sorry, responded too soon without checking.

We already use the "preview" version of the language:
https://github.com/dotnet/winforms/blob/0fcea83dfe/Directory.Build.props#L15

[2020-01-03 00:48] #594 closed

[2020-01-03 01:32] RussKie commented on #2613
Windows Forms and WPF are bundled into the nightly SDK setup, and are available for download from https://github.com/dotnet/core-sdk.
	![image](https://user-images.githubusercontent.com/4403806/71702649-d37b6080-2e24-11ea-9b3d-57d99c88a47b.png)
	![image](https://user-images.githubusercontent.com/4403806/71702700-12111b00-2e25-11ea-9e48-4372237d6883.png)

However because of fluent nature of develop

[2020-01-03 03:24] RussKie commented on #2543
Thank you for the detailed report

[2020-01-03 11:12] ezolotko commented on #2573
@weltkante
To illustrate my point, I created a minimal form designer hosting example project.
You can download it from here: [DocumentDesignerNotImpl.zip](https://github.com/dotnet/winforms/files/4018861/DocumentDesignerNotImpl.zip)
It simply creates a design surface and loads a default form.

The project has two targets: netcoreapp3.1 and net452.
When you run it with net452 target, it displays a

[2020-01-03 11:31] weltkante commented on #2573
Well, this is just hosting the stock Form/Control Designer. Microsoft is moving this out of WinForms into VS, so I have no idea if they are going to still support this (I'd certainly not be surprised if they don't).

It is a very different use case than hosting a report designer or other custom designer though, in those scenarios you are providing various implementations of your own and I'd expect

[2020-01-03 20:11] hughbe opened #2623 "Discussion/Proposal: more ListViewGroup functionality"
# State of Play
- Currently, `ListViewGroup` only supports `Header` and `HeaderAlignment` (although this is buggy, see #2555)
- Our definition of `LVGROUPW` is actually too small: LVGROUP actually exposes a lot more functionality (https://docs.microsoft.com/en-us/windows/win32/api/commctrl/ns-commctrl-lvgroup)
![image](https://user-images.githubusercontent.com/1275900/71745291-9d100680-2e61-11ea-8

[2020-01-03 20:11] hughbe commented on #2623
There are a lot more, I'm just putting this out here to see if there's interest! If so, I can work on fleshing out more and more features

[2020-01-03 21:01] dagood commented on #2613
The package is built in dotnet/wpf, not dotnet/windowsdesktop, so I'd argue it belongs there: https://github.com/dotnet/wpf/tree/master/packaging/Microsoft.NET.Sdk.WindowsDesktop. However, there might be some other problem causing the zip to end up wrong in dotnet/core-sdk or dotnet/toolset.

[2020-01-03 21:13] weltkante commented on #2623
Some of these certainly look interesting and would find use in our product if they were available. This probably needs a process similar to the TaskDialog to design and review the API (probably a bit simpler).

If you don't have any immediate interest in driving this yourself I think its certainly worth keeping this up for grabs for someone who wants to get into contributing to the project.

[2020-01-03 21:16] hughbe commented on #2623
I'd be interested in driving this

[2020-01-04 13:13] panost opened #2625 "PropertyTab Bitmap icon"
* .NET Core Version: 3.1
* Have you experienced this same bug with .NET Framework?: No

**Problem description:** Overriding a PropertyTab, you should provide an icon embedded resource without an ".ico" extension or else an exception of ArgumentException is thrown

**Actual behavior:** if you provide an embedded resource, with the same name as the class and extension ".ico" an exception of Argument

[2020-01-04 19:29] hughbe commented on #2623
OK. Here's the list of missing features `LVGROUP` that will be covered in this:
- [ ] Adding title images
- [ ] Adding footers
- [ ] Adding subtitles
- [ ] Adding collapsible indicators
- [ ] Manually setting collapsed state
- [ ] Setting header visibility state
- [ ] Adding task link
- [ ] Adding top/bottom description

What I haven't included (so far)
- Anything surrounding `iExtendedImage`: I c

[2020-01-04 21:18] hughbe opened #2627 "Discussion/proposal: add more LVCOLUMN ComCtl 6.0 features"
In Windows Vista, more `LVCOLUMN` features were added: see https://docs.microsoft.com/en-us/windows/win32/api/commctrl/ns-commctrl-lvcolumnw

# Missing Features
## Minimum Width
- Can set the `LVCF_MINWIDTH` flag on `mask` and set the `cxMin` value

Would add the following API on `ColumnHeader`
[code]

E.g.
Notice that when resizing the column its minimum width is 100 pixels
![Screen Recording 202

[2020-01-04 22:32] hughbe opened #2629 "ListViewHitTestLocations need to be updated for new ComCtl values"
# Problem
- We're missing the following definitions from `ListViewHitTestLocations`. These should be added to the public enum because currently we may have unknown values in `ListView.HitTest`

Name | Description
----- | -----
LVHT_EX_GROUP_HEADER | Windows Vista. The point is within the group header.
LVHT_EX_GROUP_FOOTER | Windows Vista. The point is within the group footer.
LVHT_EX_GROUP_COLLAPS

[2020-01-05 14:34] weltkante commented on #2623
I assume you already tried setting an image list via [`LVM_SETIMAGELIST`](https://docs.microsoft.com/en-us/windows/win32/controls/lvm-setimagelist) for `LVSIL_GROUPHEADER`?

I'd not add anything to the WinForms API which isn't covered by the docs, exposing undocumented functionality is always risky as it may not work on every OS version (needs extensive testing) or might break with updates.

I gue

[2020-01-05 22:04] areller opened #2636 "Build for System.Windows.Forms fails in Ubuntu"
* .NET Core Version: 3.1.100
* Have you experienced this same bug with .NET Framework?: No (Didn't try, running on Ubuntu)

**Problem description:**
I run Ubuntu18.04.3 with .NET Core 3.1.100.
I use the `release/3.1` branch
When I try to run `dotnet build` from the `src/System.Windows.Forms/src` directory, it fails with this message,

[code]

![image](https://user-images.githubusercontent.com/1598

[2020-01-05 22:29] RussKie commented on #2636
I think it breaks because of the casing, the file is in the lower case:
https://github.com/dotnet/winforms/tree/release/3.1/src/System.Windows.Forms/src/Resources/System/Windows/Forms/PropertyGrid

I'm not sure why it is working on the MacOS though...

[2020-01-05 22:51] areller commented on #2636
@RussKie Right! I missed it
I see that there are a lot of other inconsistencies in the casing of resources. I'll fix them and update if the problem still occurs. Thank you.

As for why it works on macOS, I think that APFS is by default case-insensitive - https://support.apple.com/guide/disk-utility/file-system-formats-available-in-disk-utility-dsku19ed921c/18.0/mac/10.14

[2020-01-05 23:22] RussKie commented on #2629
We have a number of definitions that are missing members. And now we are able to bridge the gap that .NET Framework could not.

[2020-01-05 23:26] RussKie commented on #2625
@dreddy-work could you please have a look?

[2020-01-06 00:32] RussKie commented on #2636
👍
We accept PRs as well 😉

[2020-01-06 03:20] RussKie commented on #2623
Thank you for initiating the discussion. I have noticed the gap too while uplifting the ListView.

.NET Framework was really constrained by compat and, thus, it was near impossible to catch up with OS API updates. We have a significantly greater freedom for updates in .NET.
We are having internal discussions and I am pushing hard for a greater feature parity and alignment with OS features. And whi

[2020-01-06 03:42] paul1956 opened #2637 "VB AssemblyInfo.Info.Title is not the same in Framework and Core"
* .NET Core Version: Master
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
In Framework the Title is a human readable string set in Visual Studio/Project/Application/Assembly Information Title property. In Core it is AssemblyTitleAttribute which comes from the Assembly name and not something the user can change (without effecting the application)
**Actual b

[2020-01-06 04:19] Amy-Li02 commented on #2613
Filed a new issue here: https://github.com/dotnet/wpf/issues/2400

[2020-01-06 16:38] sae42 opened #2641 "Support third-party languages with .NET Core WinForms Designer"
* .NET Core Version: 3.1
* Visual Studio 2019 16.5 Preview 1
* Have you experienced this same bug with .NET Framework?: No

**Problem description:** Unable to use .NET Core Win Forms Designer with third-party languages

I'm not sure if this is the correct place to raise issues related to the Visual Studio .NET Core Win Forms designer, but I wanted to get some visibility into enabling support for t

[2020-01-06 16:41] hughbe opened #2642 "Proposal: add SelectionStart and SelectionEnd to TrackBar"
You can set the `TBS_ENABLESELRANGE` on `TrackBar` and send the `TBM_SETSELSTART` and `TBM_SETSELSTART` to set the selection range
See docs
- https://docs.microsoft.com/en-us/windows/win32/controls/tbm-setselstart
- https://docs.microsoft.com/en-us/windows/win32/controls/tbm-setselend

Example:
![Screenshot 2020-01-06 at 16 31 38](https://user-images.githubusercontent.com/1275900/71832306-958b7000

[2020-01-06 17:48] Logerfo opened #2643 "Null reference types for the Windows Forms API surface"
I think this isn't tracked yet. Any projections or concerns?

[2020-01-06 21:04] weltkante opened #2644 "Proposal: implement generic IList<T> on collection types"
Historically WinForms existed before generic collections, and when generics were introduced the collection types in WinForms never were updated to implement the generic `IList<T>` interface. I think its time to revisit all collection types and implement `IList<T>` for an appropriate type `T`.

For maximum compatibility the `T` in `IList<T>` should match the already existing indexer on the collecti

[2020-01-06 22:26] hughbe commented on #2643
https://github.com/dotnet/winforms/issues/1107

[2020-01-07 02:41] areller commented on #2636
@RussKie The build works now, after I've fixed the resources files casing.
I'll publish a PR tomorrow.
Thank you for your help.

[2020-01-07 03:31] RussKie commented on #2643
It is worth noting that enabling nullable decorations does not prevent NREs, they are only hints for the compiler.

The team doesn't have any immediate or medium term plans to retrofit existing APIs with decorations. However we will accept PRs from anyone who's keen on working on it.

Please continue further discussions in #1107.

[2020-01-07 03:31] #2643 closed

[2020-01-07 03:37] RussKie commented on #2644
This is a great suggestion!

@terrajobst @danmosemsft @ericstj are there any pitfalls to be mindful of?
Any suggestion to verify back-compat?

[2020-01-07 05:12] #2554 closed

[2020-01-07 05:15] #2613 closed

[2020-01-07 05:20] RussKie commented on #2613
The issue is reported as fixed in https://github.com/dotnet/wpf/issues/2363

[2020-01-07 10:38] weltkante commented on #2644
In PR #2646 it was noticed that WinForms exposes non-generic dictionaries via `ICollection` where the content is a `DictionaryEntry`. Making those collections generic would have to expose `ICollection<DictionaryEntry>` if you want 100% compatibility to old code. It's worth to discuss if we want to take a breaking change, modernizing dictionary-like collections to `IDictionary<K,V>` which implies `

[2020-01-07 10:50] hughbe opened #2653 "Add support for footers to ListViewGroup"
- You can set the `LVGF_FOOTER` flag on `mask` and set `pszFooter` to a valid string and `cchFooter` to the length of the string
- You can set the `LVGF_ALIGN` flag on `mask` and set the `uAlign` to a valid `LVGA_FOOTER_CENTER` value

## Proposed API
This would add the following APIs to `ListViewGroup`:
[code]

## Example

[code]

![image](https://user-images.githubusercontent.com/1275900/71745879

[2020-01-07 11:58] hughbe opened #2655 "Add support for subtitles in ListViewGroup"
- You can set the `LVGF_SUBTITLE` flag on `mask` and set `pszSubtitle` to a valid string and `cchSubtitle` to the length of the string

## Proposed API
This would add the following API to `ListViewGroup`:
[code]

# Example
[code]

E.g.
![image](https://user-images.githubusercontent.com/1275900/71746055-d6497600-2e63-11ea-95ab-77cbcdc742cf.png)

[2020-01-07 12:03] hughbe opened #2656 "Add support for tasks to ListViewGroup"
- You can set the `LVGF_TASK` flag on `mask` and set `pszTask` to a valid string and `cchTask` to the length of the string

# Proposed API

This would add the following APIs to `ListView` and `ListViewGroup`. I modelled these after the `ColumnClick` event args/handler/method
[code]

# Example
[code]
E.g.
![Screen Recording 2020-01-04 at 07 01 pm](https://user-images.githubusercontent.com/1275900/7

[2020-01-07 12:32] Logerfo commented on #1107
Implementing NRT to the whole code base would be a massive work, but enabling it only for the API surface would be much easier and yet very helpful for customers who uses both winforms and NRT.

[2020-01-07 15:46] weltkante commented on #2642
Chosing -1 as sentinel value is bad because I think you can have a negative Minimum. Chosing a value centered around zero (e.g. between -100 and +100) is probably a common usecase.

Having a separate boolean property is how this is usually done in WinForms so that would be my first choice here as well.

One question I'm not clear on is whether this is an input property (can the user edit the selec

[2020-01-07 15:52] hughbe commented on #2642
From what I can see it is informative only. Open to any other suggestions

[2020-01-07 16:07] weltkante commented on #2642
I'm not too picky about naming, its just that `Selection` tends to be connected with user input. If there's desire to keep the name its ok as well, but I want it be discussed. At this point its probably best to throw a bunch of suggestions in, I'd be ok with `SelectionIndicatorStart`. Some alternatives could be dropping the Selection prefix (just `IndicatorStart`) or `MarkerStart`. "Indicator" and

[2020-01-07 16:34] scalablecory opened #2660 "SendKeys.SendWait() sends wrong characters for some particular characters"
_From @Naimad1CZ on Wednesday, December 18, 2019 10:55:26 PM_

Using:
Windows 10
.NET Core 3.1
Library System.Windows.Forms
Function SendKeys.SendWait()

Reproduce steps:
1. create a new project with those 2 lines in Main:
[code]
2. Switch to Czech QWERTZ keyboard on Windows (on standard English keyboard you get the expected result)
3. Run the project and (during the first 5 second since the start

[2020-01-07 18:16] merriemcgaw commented on #2637
fyi @KathleenDollard

[2020-01-08 01:17] RussKie commented on #2642
@hughbe could you please share your test app (e.g. publish it to GitHub under your account)? It would be great to have some hands on experience to make better informed decisions.

I'm leaning towards defining a new class similar to `SelectionRange`. This way we can provide a better the Designer support. And it would be consistent with the existing API.
It is unfortunate `SelectionRange` name is al

[2020-01-08 02:39] drewnoakes commented on #1107
Something we did on project system, CPS and other projects is to add `<Nullable>enable</Nullable>` to project files, then use a regular expression to add `#nullable disable` to each and every source file.

This encourages new code to be written using NRT, and provides an annotation to-do list by searching for `#nullable disable`.

For commonly used types where annotations would be useful, but it's

[2020-01-08 04:24] RussKie commented on #1107
Thank you @drewnoakes, this may be a way forward.

[2020-01-08 06:20] RussKie opened #2662 "`MonthCalendar` incomplete hightlight of today date"
* .NET Core Version: master
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

The "Today" date at the bottom of the calendar is a link, which highlights when hovered.
However the highlight is only partial:
![image](https://user-images.githubusercontent.com/4403806/71954823-a242cc00-323a-11ea-8762-0f1bd2c11ed4.png)

**Expected behavior:**

The whole today dat

[2020-01-08 07:30] RussKie commented on #2662
@M-Lipin if you have time, may be worth looking at this one.

[2020-01-08 10:58] LordBenjamin commented on #2091
This breaks the Telerik UI for WinForms library, which is still using `ContextMenu` at least. I've logged a ticket with them.

Although .NET Core 3.0 is (accidentally!) compatible, it is not an LTS release and will be out of support in the next 3 months. This would also be a concern for a self-contained deployment.

[2020-01-08 17:23] ayoung-cforp commented on #2091
@RussKie

I'm not sure what "technically deprecated" means, but the documentation for [.NET Framework 4.8's ContextMenu](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.contextmenu?view=netframework-4.8) clearly states:

_Although ContextMenuStrip replaces and adds functionality to the ContextMenu control of previous versions, ContextMenu is retained for both backward compatibilit

[2020-01-08 17:40] LordBenjamin commented on #2091
I note that the linked MSDN article also states:

[code]

Since the information on this page no longer applies to .NET Core 3.1, should a documentation issue be raised? I was confused earlier today, as I found the MSDN article before finding this issue.

[2020-01-09 01:17] #214 closed

[2020-01-09 01:19] merriemcgaw commented on #449
Roslyn Analyzers have replaced these and we're covered there

[2020-01-09 01:19] #449 closed

[2020-01-09 15:20] Logerfo commented on #1107
[code]
@drewnoakes where is this documented? VS syntax highlight it, but the compiler is bothered:

[2020-01-09 15:46] sharwell commented on #1107
I've done this for a few projects to date, and may be able to help here.

[2020-01-09 17:53] weltkante opened #2677 "Improve Padding TypeConverter CreateInstance implementation"
As [noticed](https://github.com/dotnet/winforms/pull/2676#discussion_r364859043) in PR #2676 when changing method signatures to include nullable annotations the current implementation of the Padding TypeConverter `CreateInstance` override is very specifically coded for being called in context of a PropertyGrid.

The TypeConverter however is registered globally and available to anyone via the TypeD

[2020-01-09 21:29] TendyTree opened #2680 "HashTable Refrences to control Unable to be Cleared in HelpProvider.CS/ Documentation error"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
**Framework 4.5**
* Have you experienced this same bug with .NET Framework?: Yes/No
Yes

**Problem description:**
I have a form with a single instance of a help provider. On this form I dynamical create and destroy buttons, which on creation I assign a it a SetHelpString and add it to a flow layout panel. On a del

[2020-01-10 03:44] RussKie commented on #2680
This repo is for Windows Forms on .NET Core/.NET. Please report all .NET Framework related issues via VS Feedback (there's an icon at the top right hand side of VS).

If you provide a small repro project targeting .NET Core/.NET that exhibits the observed behavior we can have a look at it.
You can also pull the source down and send a fix in 😉

[2020-01-10 03:52] RussKie commented on #2091
The docs have been updated.
The suggested replacements for the controls removed in .NET Core 3.1 can be found at https://docs.microsoft.com/dotnet/core/porting/winforms-breaking-changes#recommended-action.

[2020-01-10 05:51] ayoung-cforp commented on #2091
@RussKie I can't understand how this removal benefits your customers at all.

WinForms is already a legacy API to begin with.  Wasn't the whole point of porting it to .NET Core so that customers could quickly port legacy apps away from .NET Framework?  How exactly does removing the lesser-used components accomplish this?

[2020-01-10 07:00] RussKie commented on #2091
What makes you think that?

No, not quite.
One of the points was to _allow_ our customers to migrate any workloads they may have built on top of Windows Forms stack to .NET Core, if they desired.
However there is no requirement to migrate, .NET Framework isn't going anywhere in the observable future.
It is also incorrect to think that a developer can just replace "net4xx" with "netcoreapp3.1", hit

[2020-01-10 13:38] TendyTree commented on #2680
Alright, thank you for pointing me in the right direction. Hopefully I'll get to it in the next couple of hours

[2020-01-10 16:21] ayoung-cforp commented on #2091
Because it's been in "maintenance mode" since at least 2014 (Microsoft's words, not mine) and Microsoft has stated that there are no plans to add new features.

Are there plans to remove these controls from .NET Framework as well because they do not meet your legal requirements?

I don't think using these components prevented us from providing good service to our customers.  There is neither a leg

[2020-01-11 04:43] theuserbl opened #2685 "[minor bug] Label too big or on wrong position"
The Label is too big or on an other position, then on .net Framework.
It overlaps partly the TextBox in the following program.

Here a screenshot:

![WinForms](https://user-images.githubusercontent.com/8337032/72198787-cb2db180-3432-11ea-9565-5670d86abced.png)

The program for PowerShell ( taken from https://www.script-example.com/Powershell-GUI )

[code]

and in C#

[code]

I have tested the prog

[2020-01-11 09:51] weltkante commented on #2685
You have the label on autosize. The default font is different in .NET Core and WinForms so you must make sure you are giving enough space for the larger font of both systems when you work with absolute coordinates. See https://docs.microsoft.com/en-us/dotnet/core/compatibility/framework-core#controldefaultfont-changed-to-segoe-ui-9pt for the font change.

[2020-01-11 10:20] hughbe opened #2686 "ImageCollection_IListItem_SetWithHandle_GetReturnsExpected appears to be flakey"
https://dev.azure.com/dnceng/public/_test/analytics?definitionId=267&contextType=build

https://dev.azure.com/dnceng/public/_build/results?buildId=479537&view=ms.vss-test-web.build-test-results-tab

   at System.Windows.Forms.ImageList.AddToHandle(Bitmap bitmap) in /_/src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs:line 548
   at System.Windows.Forms.ImageList.CreateHandle() in /_/s

[2020-01-11 13:21] weltkante commented on #2686
First link says `Control_OnPaintBackground_InvokeWithParent_CallsPaint` failed
Second link says `ImageCollection_IListItem_SetWithHandle_GetReturnsExpected` failed
Line 1645 in ImageCollectionTests.cs is the latter, so stack trace probably belongs to that
None say something about `ImageCollection_Add_InvokeIconWithHandle_Success` so if you did some investigation you may want to add some more detai

[2020-01-11 13:26] hughbe commented on #2686
Sorry, updated the title: this issue relates to `ImageCollection_IListItem_SetWithHandle_GetReturnsExpected`

`Control_OnPaintBackground_InvokeWithParent_CallsPaint` and associated failures have been fixed because we had timing bug in `Application.EnableVisualStyles` calls in the tests

[2020-01-11 16:35] theuserbl opened #2689 "[minor bug] wrong default selection color in RichTextBox"
![WinFormsz](https://user-images.githubusercontent.com/8337032/72207205-06fa6280-3497-11ea-8651-5fd5f28de234.png)

On the left side is with .net Framework v4.0.30319 on Win8.1 and on the right side is .net Core 3.1.

And so, on the .net Framework selected text is in a ListBox and the RichTextBox white with blue background. But on .net Core 3.1 the selected RichTextBox text ist black.

The program

[2020-01-11 16:35] #2685 closed

[2020-01-13 02:59] Zheng-Li01 commented on #2689
@theuserbl, the .NET Core 3.1 behavior maybe keep up with the latest .NET Framework version. The default section color in RichTextBox is white with blue background when the .NET Framework version <= 4.6.2; and the default section text's color in RichTextBox is black when the  .NET Framework version >= 4.7. See below screenshot.
![Update](https://user-images.githubusercontent.com/38325459/72230964-

[2020-01-13 05:11] RussKie commented on #2689
@M-Lipin @vladimir-krestov does it have anything to do with a11y requirements?

[2020-01-13 05:14] RussKie commented on #2686
All tests appear green now... ¯\_(ツ)_/¯

[2020-01-13 07:30] RussKie opened #2698 "Incorrect menu checkbox bounds"
* .NET Core Version:
latest master @ 6566ad15762fb14bd4fa4f8253205a01af5e9986

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

![image](https://user-images.githubusercontent.com/4403806/72238602-5032e980-3632-11ea-9a92-d7a5e7e57c13.png)

**Expected behavior:**

The checkbox bounds scaled correctly

**Minimal repro:**

1. `build`
2. Run \winforms\artifacts\b

[2020-01-13 09:29] hughbe commented on #2698
Investigating the code, there's only one place where we draw the check box:
[code]

Under the debugger, `menuItemInternalLayout.CheckRectangle` is `{5,4,16,16}`. `menuItemInternalLayout.ShowCheckMargin` is `false`, so we then set `checkRectangle` to `menuItemInternalLayout.ImageRectangle`

Now: `checkRectangle` is `{-5,-5,32,32}`. Seems like there's a size discrepancy here that may be causing the

[2020-01-13 15:31] M-Lipin opened #2704 "Accessibility [Inspect]: Cannot find the RichEdit control of the "Text" property in UIA structure of a PropertyGrid control"
* .NET Core Version:

.NET Core 5.0.0-alpha.1.19564.1 (also reproduces in earlier versions of .NET Core WinForms.

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

The issue is that RichEdit control is not shown in the UIA hierarchy of PropertyGrid control children.

![image](https://user-images.githubusercontent.com/23213980/72268000-0e09a800-3632-11ea-857

[2020-01-13 15:42] weltkante commented on #2704
Does this work for other popup/dropdown editors in the property grid? (Control editors, including custom editors, have the option to opt-in into either a dropdown or a popup.) If the problem isn't just isolated to RichTextBox it might be worth looking for a general solution so user defined editors can also profit from the solution.

If the solution to this accessibility issue requires certain code

[2020-01-14 00:19] RussKie commented on #2698
Thank you for the investigation.

[2020-01-14 00:32] RussKie opened #2705 "Use Microsoft.CodeAnalysis.PublicApiAnalyzers"
**Is your feature request related to a problem? Please describe.**

As suggested in https://github.com/dotnet/winforms/pull/2678#issuecomment-573486921, it will be beneficial to use [Microsoft.CodeAnalysis.PublicApiAnalyzers](https://github.com/dotnet/roslyn-analyzers#microsoftcodeanalysispublicapianalyzers).
The analyser will produce a list of public APIs ([example](https://github.com/dotnet/proj

[2020-01-14 01:44] Thraka commented on #2637
I cannot reproduce this. I added `<Assembly: AssemblyTitle("This is the title")>` to the `AssemblyInfo.vb` file and it worked file. I then deleted the `AssemblyInfo.vb` and added `<AssemblyTitle>This is a title for fun!</AssemblyTitle>` to the project file and that also worked.

[2020-01-14 02:39] RussKie opened #2706 "Unstable local tests"
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?:

**Problem description:**

Running tests locally from cli I get the same failures:

![image](https://user-images.githubusercontent.com/4403806/72309240-8a53c800-36d2-11ea-9fc3-ff7f77f7b868.png)

[code]

Then I also get several of these failures:
[code]

[System.Windows.Forms.Tests_netcoreapp5.0_x64.log](https://github

[2020-01-14 06:30] RussKie commented on #2706
Our internal builds fairly consistently fail with `Hashtable insert failed. Load factor too high. The most common cause is multiple threads writing to the Hashtable simultaneously.` error in `System.Windows.Forms.Tests.ListViewItemTests` tests.
I also suspect these tests cause builds to hang and get killed by timeout due to JIT debugging popups.

[System.Windows.Forms.Tests_netcoreapp5.0_x64.log](

[2020-01-14 06:59] RussKie commented on #2706
I suspect we hammer the life out of the poor `Application.ThreadContext` when we spin thousands of tests simultaneously thanks to `IClassFixture<ThreadExceptionFixture>`

I think we should be using `ICollectionFixture<ThreadExceptionFixture>` instead, that would render `ThreadExceptionFixture` singleton across all tests in the project. More info: https://xunit.net/docs/shared-context

[2020-01-14 08:55] paul1956 commented on #2637
I have never manually created an <AssemblyTitle> and there is no Core AssemblyInfo.vb file (yet) and if you copy it from an Framework project and go through all the workarounds it a static file without title. The information for everything except Title comes from Visual Studio in a new location. I now learned that I can edit a core project file and add a title manually, this should be documented.

[2020-01-14 12:48] weltkante commented on #2637
I think the point is that when you edit the title in the VS project UI it doesn't arrive in the compiled output? As far as I understand the OP issue description the VS project UI has a field where you can enter the assembly title and in classic projects it gets stored (by VS) in AssemblyInfo, but in .NET Core it doesn't work.

Or maybe I also misunderstood and this is only a documentation problem?

[2020-01-14 16:00] paul1956 commented on #2637
@weltkante Very close, there is no place (I can find) to enter a title in a Core project in the VS UI. So most code including Core 5.0 defaults to something that is not something that can be changed from the UI and is generally not what the developer wants.

[2020-01-14 16:07] Thraka commented on #2637
When I created a new project for .NET Framework, assembly title is in the `AssemblyInfo.vb` file (which is hidden from you in visual studio unless you toggle the **Show all files** button in **Solution Explorer**. When you port the project (using **try-convert**) the assembly info file remains.

Correct though, Visual Studio doesn't have UI to edit these fields. You can see the fields and the asso

[2020-01-14 16:22] paul1956 commented on #2637
@Thraka Yes that is the issue, not where I started since I was describing the issue from a user prospective. So it looks like this is a VS Issue not a WinForms issue. I will close this and send feedback there.

[2020-01-14 16:22] #2637 closed

[2020-01-14 17:19] paul1956 commented on #2637
For Completeness VS has a UI for all properties EXCEPT Title, they are just entered in a different place.

[2020-01-14 18:18] paul1956 opened #2712 "VB rules missing from .editorConfig"
**Is your feature request related to a problem? Please describe.**
VB code does not have .editorConfig entries causing warnings/suggestions and poor code consistency when opened in VS.

**Describe the solution you'd like**
Add below above first dotnet_ entry
[code]
Move any csharp_style entries to [*.cs] section
Add below
[code]

**Describe alternatives you've considered**
Use Dotnet/Samples .edit

[2020-01-14 22:52] ericstj commented on #2644
It'll probably cause noticeable change in places that probe for type-specific interfaces before falling back non-generic.  At the least this will result in different behavior, it could cause problems if it executes brand new code-paths that aren't vetted.  It seems reasonable to do in a new release like net 5, but I'd be cautious about doing it in an inplace update.

I don't think we have a preced

[2020-01-15 00:20] RussKie commented on #2712
@paul1956 are you referring to [our .editorconfig](https://github.com/dotnet/winforms/blob/master/.editorconfig)?
You seem to have a good idea of what's required, why not send a PR in?

[2020-01-15 03:10] ismlsmile opened #2714 "Will this project support AOT in .Net 5?"
In .Net 5, CoreFX will be extended to support AOT. So I wonder if WinForms could support AOT in .Net 5? Thanks.

[2020-01-15 05:19] RussKie commented on #2706
Upon further investigation I think we have a bug in `ThreadContext`, specifically how it adds new instances of TC to the hashtable (line:110):
https://github.com/dotnet/winforms/blob/0f6796745088c68bb77bdc5abfb32d6eeece7969/src/System.Windows.Forms/src/System/Windows/Forms/Application.ThreadContext.cs#L95-L111

Note, there is no synchronisation when executing `s_contextHash[_id] = this`. [Hashtabl

[2020-01-15 05:59] #2706 closed

[2020-01-15 06:34] paul1956 commented on #2712
@RussKie I just did a PR, there are some issues in the old and new file that I have commented on, in the document, but an not qualified to fix. I expect one more commit to fix and remove the comment.

[2020-01-15 07:12] Jessie-Zhang01 commented on #2523
Verified this issue with .Net Core 5.0.100-alpha.1.200642 from Master branch + VISX inserted in the Dev16 16.5.0 Preview 2 [29714.79.d16.5], this issue is fixed.
![image](https://user-images.githubusercontent.com/45864649/72412876-6b743500-37a9-11ea-9428-4ffde01c2b6b.png)

[2020-01-15 07:50] John-Qiao commented on #1911
Verified with latest .NET Core 5.0 5.0.100-alpha.1.20064.2 build, it works as Mikhail's description.
![TestResult-1911](https://user-images.githubusercontent.com/45864985/72415114-bf354d00-37ae-11ea-99eb-348b83e412c4.png)

[2020-01-15 07:52] Thea-Zhao commented on #2524
Verified this issue with .Net Core 5.0.100-alpha.1.200642 from Master branch + VISX inserted in the Dev16 16.5.0 16.5.0 Preview 3.0 [29714.98.master], this issue is fixed.The text can be set back color successfully.
![issue2524](https://user-images.githubusercontent.com/53589182/72415217-f3107280-37ae-11ea-90f5-2ecd00faf87c.png)

[2020-01-15 07:54] Thea-Zhao commented on #2525
Verified this issue with .Net Core 5.0.100-alpha.1.200642 from Master branch + VISX inserted in the Dev16 16.5.0 16.5.0 Preview 3.0 [29714.98.master], this issue is fixed. The text and image can be displayed correctly and completely.
![issue2525](https://user-images.githubusercontent.com/53589182/72415351-3f5bb280-37af-11ea-9372-0e3d962c8086.png)

[2020-01-15 09:03] Amy-Li02 commented on #2522
Verified this issue with .Net Core 5.0.100-alpha.1.20064.2 from Master branch + Dev16 16.5.0 Preview 3 [29713.105.master], this issue is fixed. There is no exception thrown when executing methods: ImageList.Images.Clear() and ListViewItem.ImageList.Image.Clear().

[2020-01-15 11:19] paul1956 commented on #2712
Closed via PR #2715

[2020-01-15 11:19] #2712 closed

[2020-01-15 11:22] vladimir-krestov opened #2717 "[Accessibility] TabPage has no keyboard tooltip"
* .NET Core Version: 5.0

* Have you experienced this same bug with .NET Framework?: Yes

**Original bug:**
* [Bug 604799:](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/604799) [Accessibility] TabPage has no keyboard tooltip

**Problem description:**
- TabPage has no keyboard tooltip when pressing the right/left arrow or Tab button to navigate to a TabPage which got the keyboard focus

*

[2020-01-15 23:07] hsmoccio opened #2722 "Erroneous border or spacing margin on TabControls"
* .NET Core Version: **3.1.1 (current)**

* Have you experienced this same bug with .NET Framework?: **Yes**

**Problem description:**

Since inception, there has always been a thin border or spacing margin present on `TabControl` objects when its appearance property is set to `Normal` (the default). This border usually measures 1 pixel high on the bottom and 2 pixels wide on the right. It cannot

[2020-01-16 00:29] RussKie commented on #2644
@ericstj do I take it we have a blessing from you? 😀
And yes, we are only talking .NET 5+ here, no intention to update .NET Framework.

[2020-01-16 01:44] vsfeedback opened #2723 "6.4.2 .net Core with WinForms doesn't allow MainMenu"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/883311/642-net-core-with-winforms-doesnt-allow-mainmenu.html)._

---
[regression] [worked-in:6.4.0]
I have tried porting old WinForms code to .net Core and it was working before I upgraded to 6.4.2 (I think I was using 6.4.1 before) but it might have been 6.4.0).

Now when

[2020-01-16 01:50] merriemcgaw commented on #2723
Note that this is by design. In .NET Core 3.1 we removed a series of controls, which included the MainMenu control. Please take a look at our documentation which describes the appropriate replacements you can make in your code: https://docs.microsoft.com/en-us/dotnet/core/compatibility/winforms#removed-controls​

~Merrie

[2020-01-16 01:50] #2723 closed

[2020-01-16 06:33] PDostalek opened #2724 "[loc][Query][winforms] Localizability of 0; "FriendlyConfigurationStoreEventGridFiltersDeleteOperationDescription""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
Deletes a configuration store event grid filter.

ID & File Name:
 0; "FriendlyConfigurationStoreEventGridFiltersDeleteOperationDescription"
build___test___sign\outputs\build\loc\en\src\Microsoft.Azure.AppCon

[2020-01-16 06:40] PDostalek opened #2725 "[loc][Query][winforms] Localizability of 0; "ErrorResourcePerStoreLimitReached""
Hello developers,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
The store has reached its limit of '{0}' resources.

ID & File Name:
 0; "ErrorResourcePerStoreLimitReached"
build___test___sign\outputs\build\loc\en\src\Microsoft.Azure.AppConfiguration.Rp\Resources\Localiza

[2020-01-16 06:52] RussKie commented on #2725
This path `build___test___sign\outputs\build\loc\en\src\Microsoft.Azure.AppConfiguration.Rp\Resources\Localization.Strings` does not suggest it belong to us, rather to Azure folks. So I'd think you may have mis-directed the question.

[2020-01-16 08:59] weltkante commented on #2644
Any comment on how to treat dictionaries (see my previous comment above for more detail)? The risk here is greater because moving to generic dictionaries changes the content type of the list vom `DictionaryEntry` to `KeyValuePair` and callers will need to be rewritten to switch the struct they are using if they e.g. iterate over the dictionary.

On the other hand the 5.0 release is probably the bi

[2020-01-16 09:34] weltkante commented on #2722
Just calling out that this may not be a genuine bug (investigation required). You may have to consider the case that the spacing is intentionally "built into" the common controls visual style to enforce a certain look when the control "fills" its container. I've also seen artificial margins on the visual style of buttons (they go away when visual styles are disabled) and always thought it was inte

[2020-01-16 11:19] M-Lipin opened #2726 "WinForms Tooltips should become visible when hover over"
* .NET Core Version:
5.0

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

WinForms ToolTip should meet WCAG 2.1 requirements and satisfy the rule 1.4.13 "Content on Hover or Focus". For more details please see [WCAG 2.1 Criterion 1.4.13](https://www.w3.org/WAI/WCAG21/Understanding/content-on-hover-or-focus.html)

**Expected behavior:**
ToolTip should becom

[2020-01-16 16:43] hsmoccio commented on #2722
I figured this at first, but the other two appearance styles do not display this padding and neither do the various MFC, WPF or UWP tab controls. I do believe it's just an oversight with the control being drawn.

[2020-01-16 16:45] ericstj commented on #2644
No, you have an opinion from me.  I'm not aware of any hard rule about adding interfaces to existing classes.  There may be concerns specific to your usage that could complicate things and you'll only discover that through careful design and testing.

[2020-01-16 20:56] JeremyKuhne opened #2728 "WindowsFormsSynchronizationContext fails to construct"
It appears that there is a thread safety issue with `ThreadContext`. This came up in #2603.

Here is the debug runtime stack:

[code]

In release you get:

[code]

[2020-01-16 20:59] RussKie commented on #2728
This is a duplicate of https://github.com/dotnet/winforms/issues/2706, and is fixed in https://github.com/dotnet/winforms/pull/2713
Are you running the latest master?

[2020-01-16 21:02] JeremyKuhne commented on #2728
Thanks @RussKie, missed that. Yes, that is the fix for it. :)

Duplicate of #2706

[2020-01-16 21:02] #2728 closed

[2020-01-17 00:26] AdamYoblick opened #2729 "Unable to build without VS installed"
* .NET Core Version:

Irrelevant (we don't need dotnet installed to build)

* Have you experienced this same bug with .NET Framework?:

No

**Problem description:**

Unable to build on a clean VM without VS installed. Errors look like this:
[code]

**Expected behavior:**

Should be able to build

**Minimal repro:**

Get a clean Win10 VM without VS installed.
Clone the repo.
build.

[2020-01-17 03:26] #2729 closed

[2020-01-17 03:40] RussKie commented on #2722
More investigation is definitively required given the behaviour is not new and exists in .NET Framework.

[2020-01-17 13:30] weltkante opened #2734 "CurrentCulture in unit tests?"
While updating the PaddingConverter tests in PR #2679 I noticed that it contains tests which only succeed on english (or similar) environments which use comma as separator. Some languages use semicolon due to comma being used as decimal separator. This leads to false-positive failing tests on developer machines.

Failing tests are [PaddingConverter_ConvertFrom_String_ReturnsExpected](https://githu

[2020-01-17 23:45] #2677 closed

[2020-01-18 10:21] mikedn commented on #2722
WPF and UWP do not have anything to do with this, they're not using the Win32 tab control. I don't have MFC installed to check but I'm pretty sure that it too has those borders because a non-MFC Win32 app has it too and I'm not aware of MFC having its own tab control rendering (unless you're perhaps referring to the newer MFC controls that do not rely on existing Win32 controls).

As already state

[2020-01-18 14:10] hughbe commented on #2004
In our uses we only do `HDC`/`HPALETTE`/``HBITMAP`/`HENHMETAFILE`/`HMETAFILE`/`HFONT` which are all sign extended

[2020-01-19 02:22] Symbai commented on #2714
@ismlsmile Do you have any source about this? I am curios to read what exactly is planned because as far as I know AOT is only "something that the .NET Core team takes a look at it" and one of them replied in a blog comment a month ago they already have a working winforms prototype. But I couldn't find any information that it is definitely planned for .NET 5.

[2020-01-19 18:30] hughbe opened #2742 "Possible porting bug: ScrollBar.ScaleScrollBarForDpiChange is unused in .NET Core"
In .NET Framework, if `ScaleScrollBarForDpiChange` then the scroll bar's size does not change if DPI is rescaled.

E.g. https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/ScrollBar.cs,218

We're missing this check in .NET Core

[2020-01-19 22:20] #2002 closed

[2020-01-19 22:20] #2003 closed

[2020-01-19 22:20] #2004 closed

[2020-01-19 22:20] #2005 closed

[2020-01-19 22:20] #2007 closed

[2020-01-19 22:23] RussKie commented on #2004
Thank you

[2020-01-21 06:10] RussKie commented on #2705
Fixed in ad8ff382e89266a88f5a7ef3b0f92c495d9a5ac9

[2020-01-21 06:10] #2705 closed

[2020-01-21 08:58] bairog opened #2746 "WindowsForms support to .vcxproj"
I'm trying to port my C++/CLI project from .NET Framework 4.8 to .Net Core 3.1.
But compiler (latest Visual Studio 2019 16.4.3) doesn't see `System::Windows::Forms` namespace.
Adding the following line changes nothing:
`<UseWindowsForms>true</UseWindowsForms>`
I also couldn't find any reference or tutorial explaing how to add WindowsForms support to .vcxproj.

[2020-01-21 09:06] bairog commented on #2746
Could be related to [https://github.com/dotnet/wpf/issues/2117](https://github.com/dotnet/wpf/issues/2117)

[2020-01-21 16:50] poutine70 opened #2748 "PropertyGrid: Enum Property with DefaultValueAttribute for Vb.Net Classes are readonly"
* .NET Core Version:
3.1.101

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

"Enum Type Read/Write Properties" of a class defined in Vb.Net with a DefaultValueAttribute are render "Readonly" (ghosted/can't be modified) in a property grid. Without the DefaultValueAttribute, the property grid behaves normally. The property grid works correctly if the class i

[2020-01-21 18:37] weltkante commented on #2644
I went ahead and tried implementing `IList<T>` on some collection classes which currently have `IList`. Some things which immediately come up:
- `Remove` needs to return a boolean now. Normally I'd just change the return type but for virtual methods which could have been overidden by external subclasses this needs discussion how much breaking change you want. Not breaking subclasses requires worka

[2020-01-21 18:49] weltkante opened #2750 "Collection `Remove` methods are sometimes missing ownership checks."
* .NET Core Version: master
* Have you experienced this same bug with .NET Framework?: didn't check but probably has the same bugs

**Problem description:**
Some custom `IList` implementations don't check in their `Remove` implementations whether the removed object is actually part of the list. They just go ahead and start disconnecting the object passed as argument, even if it belongs to a differ

[2020-01-21 20:46] ericstj commented on #2644
You cannot change the return type.  That's a binary breaking change.  Consider implementing interface [explicitly](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/interfaces/explicit-interface-implementation) to avoid breaking change.

[2020-01-21 21:42] JeremyKuhne commented on #2069
Another valuable thing we could get out of "structifying" type definitions is that we could guard against sign extension problems with handles.  See https://github.com/dotnet/winforms/issues/2004#issuecomment-538536982 and the bug fix with #2736.

An `OLE_HANDLE` and `HBITMAP` struct could handle conversions properly and with context.

[2020-01-21 21:47] weltkante commented on #2644
Thats exactly the thing I want discussed and decided upon by the responsible owners, writing the code for the PR there are too many options with non-obvious choises and trade-offs. At this point I only see it as a way to explore the options and consequences, so the strategy for the PR so far is to do a minimum-diff implementation.

Third party frameworks often take breaking changes between major v

[2020-01-21 21:58] #2724 closed

[2020-01-21 21:58] #2725 closed

[2020-01-21 22:37] vatsan-madhavan commented on #2746
Add this in your project and try again:

[code]

[2020-01-21 22:55] RussKie commented on #2644
Having talked to @coolcsh, I believe we _can_ do breaking changes in major versions, if we deem those beneficial (i.e. gains outweigh pains). This doesn't necessarily mean we _should_ break things left, right and center though.
We will need to have proposal clearly discussing pros and cons, have POCs and have API reviews. (Basically what @weltkante is doing now 👍).

[2020-01-22 00:12] RussKie commented on #2176
Is there anything outstanding, or can we close this?

[2020-01-22 00:14] wtgodbe commented on #2176
SDL is still disabled in 3.1 - I can look into fixing up the Area Path tomorrow morning, but we'll have to wait on merging the fix until the branches open again for 3.1.3.

[2020-01-22 00:28] RussKie commented on #654
Checked in .NET Core 3.0/3.1 - no exception, but the control is not rendered at all; and the containing form becomes unresponsive (can't resize/maximize/minimize/close) but it can be moved around.
![image](https://user-images.githubusercontent.com/4403806/72854950-0b7e1100-3d0a-11ea-8213-504eb815c14c.png)

[2020-01-22 01:51] RussKie commented on #2176
Thank you. No rush, it's been this long without any fires...
Do we need to do anything for the master?

[2020-01-22 02:39] RussKie commented on #1734
@AdamYoblick is this still a thing?

[2020-01-22 04:53] bairog commented on #2746
It's working now, thank you.

BTW: Is there any documentation or tutorial explaining this technique?
It woldbe better to automate this (I mean enabling WinForms/WFP support for C++/CLI project) instead of editing vcxproj file manually. Maybe checkboxes in Visual Studio. Thank you in advance.

[2020-01-22 04:53] #2746 closed

[2020-01-22 05:32] vatsan-madhavan commented on #2746
@diverdan92 ?

[2020-01-22 09:35] M-Lipin commented on #856
Issue in DevDiv: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1046781

[2020-01-22 09:55] RussKie commented on #2642
The team had some preliminary discussions about enhancing the control.
Could you spare few minutes and provide answers to the following questions so we can take it to the next level:

- Will VS Designer need to support the feature? If yes, describe _how_ you expect it to funсtion.
- What impact will it have on accessibility?
- Will this feature need to be localized or be localizable?

With the reg

[2020-01-22 09:55] RussKie commented on #2655
The team had some preliminary discussions about enhancing the control.
Could you spare few minutes and provide answers to the following questions so we can take it to the next level:

- Will VS Designer need to support the feature? If yes, describe _how_ you expect it to funсtion.
- What impact will it have on accessibility?
- Will this feature need to be localized or be localizable?

With the reg

[2020-01-22 09:56] RussKie commented on #2656
The team had some preliminary discussions about enhancing the control.
Could you spare few minutes and provide answers to the following questions so we can take it to the next level:

- Will VS Designer need to support the feature? If yes, describe _how_ you expect it to funсtion.
- What impact will it have on accessibility?
- Will this feature need to be localized or be localizable?

[2020-01-22 09:56] RussKie commented on #2653
The team had some preliminary discussions about enhancing the control.
Could you spare few minutes and provide answers to the following questions so we can take it to the next level:

- Will VS Designer need to support the feature? If yes, describe _how_ you expect it to funсtion.
- What impact will it have on accessibility?
- Will this feature need to be localized or be localizable?

[2020-01-22 09:58] RussKie commented on #2627
The team had some preliminary discussions about enhancing the control.
Could you spare few minutes and provide answers to the following questions so we can take it to the next level:

- Will VS Designer need to support the feature? If yes, describe _how_ you expect it to funсtion.
- What impact will it have on accessibility?
- Will this feature need to be localized or be localizable?

[2020-01-22 10:07] RussKie commented on #2644
@weltkante could you provide some examples of how user code would benefit from these changes?

[2020-01-22 11:25] M-Lipin commented on #1864
DevDiv issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/776323

[2020-01-22 22:43] weltkante commented on #2644
I've updated the OP with a breakdown of breaking changes vs. benefits. I've restricted myself to listing breaking changes with substantial benefits which cannot be achieved without workarounds, otherwise the list would probably be at least twice as long.

Thanks for making me think about the trade-offs, having written this I currently think the conservative sweet spot is just changing the signatur

[2020-01-23 01:19] merriemcgaw commented on #2714
@OliaG can you follow up on whether there are any plans in this space, and if we'll be able to leverage what the rest of .NET Core is doing?

[2020-01-23 01:22] merriemcgaw commented on #2698
@Vino-Wang can you try to repro this in 3.0/3.1 to see if it was introduced back in those builds?

[2020-01-23 01:24] merriemcgaw commented on #2704
That's a great point @weltkante .I _think_ this works as expected for the other editors. @M-Lipin can you confirm? If there's something specific we did to get those to work that we missed with this one we can certainly add that note to the docs. I've got an accessibility samples and documentation project simmering on a back burner that may be coming up one of these days :)

[2020-01-23 01:30] merriemcgaw commented on #2748
This could potentially be something in the underlying VB language. We should investigate. @dreddy-work / @KlausLoeffelmann can you guys comment on whether this is us or VB?

[2020-01-23 01:32] merriemcgaw commented on #2742
@dreddy-work can you take a peek?

[2020-01-23 01:37] merriemcgaw commented on #2660
Just to be clear, your code is working as expected if you've got the ENU keyboard, but when set to Czech it's failing?

Can you tell us more about your use case and whether this is blocking you?

[2020-01-23 01:38] RussKie commented on #2660
/cc: @Naimad1CZ

[2020-01-23 01:45] merriemcgaw commented on #2641
@KlausLoeffelmann do you foresee any issues doing this in the Core Designer? Let's copy this issue over there if we can do it on our end. @sae42 we can keep you posted in this issue. We haven't yet implemented everything in our Core Designer so it may just be a case that this isn't implemented yet.

FYI - Future Designer specific issues you can totally raise on Developer Community, or better yet u

[2020-01-23 01:57] merriemcgaw commented on #2573
@weltkante is right on with his assessment. Can you tell us a bit about what you're trying to accomplish and I can get back to you with whether or not this is planned to be supported. If we're missing something that devs need we're certainly open to bringing them up to Core.

[2020-01-23 02:24] wjk commented on #2573
@merriemcgaw I was thinking on using the WinForms designer as a base for creating a GUI designer for MSI dialogs for use with WiX. I was planning on writing this designer as part of a standalone app (i.e., not a VS extension), so I could put it on the Windows Store. Being able to use the WinForms designer as a base would make my work on the MSI designer much easier, as the only real difference bet

[2020-01-23 04:16] stephentoub opened #8841 "GetHeight_DisposedGraphics_ThrowsArgumentException causes AV?"

[2020-01-23 05:31] Vino-Wang commented on #2698
@merriemcgaw, verified with .NET Core 3.1, this issue can reproduce and verified with .NET Framework 4.8. it's also can reproduce. Here is the screenshot of .NET Framework app.
![image](https://user-images.githubusercontent.com/18568603/72958854-6afc1f80-3de3-11ea-8175-e312c1bd4bc2.png)

[2020-01-23 06:37] moolwalk commented on #2053
I'm developing an application for Windows PE(Preinstallation Environment) for ARM64 PCs. The application code-base is WinForms on .net framework. Non-UI parts are easy to port to .net core 3.0 but UI codes can't be ported because there's no WinForm libraries in the SDK. I'm hoping that manually adopt the WinForm library for ARM64 but there's no prebuilt one.
Could I get a WinForm lib for ARM64 or

[2020-01-23 08:06] sae42 commented on #2641
@merriemcgaw Thanks, please keep me posted on this issue! Right now, because of the hard block I don't really have much indication of any future issues - it's a pity the VS designer extension is not open source as I'd be able to fix it myself and be able to progress.

[2020-01-23 10:12] weltkante commented on #654
The doc doesn't spell it out explicitly that names are not case sensitive but [RegisterClass](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-registerclassw#return-value) says:

Being an atom means that names are not case sensitive, as explained in the [doc about string atoms](https://docs.microsoft.com/en-us/windows/win32/dataxchg/about-atom-tables#string-atoms):

[2020-01-23 18:35] hughbe opened #2759 "MessageDecoder.MsgToString is missing several values defined in `WM_`"
Should be a 1-1 mapping.

[2020-01-23 18:42] KlausLoeffelmann commented on #2427
Hey @OliaG, please let's talk about this so I can get a better understanding of where this performance problem surfaces and how this is a regression from the classic framework!

[2020-01-23 18:44] KlausLoeffelmann commented on #2759
@hughbe: Can you provide more context for this issue?

[2020-01-23 18:45] hughbe commented on #2705
Is there a way of forcing the file to regenerate? Want to add new APIs in https://github.com/dotnet/winforms/pull/2654

[2020-01-23 18:46] hughbe commented on #2759
https://github.com/dotnet/winforms/pull/2747#issuecomment-577444066

Basically some values defined in the `User32.WM` enum are not handled in MessageDecoder. MsgToString

[2020-01-23 18:47] KlausLoeffelmann commented on #2466
@RussKie: Can this be closed or is this a bug?

[2020-01-23 19:04] Logerfo commented on #2705
@hughbe the analyzer is supposed to throw a diagnostic warning you that the new API surface is unknown to the respective files. The diagnostic should contain a code-fix to add the missing member to the "unshipped" file. If you're shipping it, you can edit the files and move the member from one to another.

[2020-01-23 19:15] KlausLoeffelmann commented on #2153
Well, I can use `BindingManagerBase` to write generic code for its derived classes, can I not (`CurrencyManager`, `PropertyManager`)? (Or am I missing the point?)
The docu shows this as well. I am closing this issue for now.

https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.bindingmanagerbase?view=netframework-4.8

[2020-01-23 19:15] #2153 closed

[2020-01-23 19:17] weltkante commented on #2466
Its an improvement request to throw a better exception.

It is a user mistake triggering a bug in WinForms, calling into a disposed control throws NRE instead of ObjectDisposedException (or similar). This makes it impossible to identify the cause from stack traces, you have to reconstruct the error scenario and debug it to figure out you were doing something wrong.

If WinForms would check control

[2020-01-23 19:23] weltkante commented on #2153
Yes you are missing the point, why do you need to subclass BindingManagerBase to write code handling derived classes?

That said I don't think there's much to do in response to this issue, except maybe using the new `private protected` modifier to more clearly describe the intent instead of making things `internal abstract`

[2020-01-24 00:45] paul1956 opened #2760 "Discussion/proposal: Add support to ProgressBar to display Text AND Bars"
**Is your feature request related to a problem? Please describe.**

In Framework there any may questions about adding Text over the progress bar some can be found here https://www.bing.com/search?q=vb.net+progressbar+with+text&form=ANNNB1&refig=5a465b1ab56d4a68c2a248e29778a674&sp=2&qs=RI&pq=vb.net+progressbar+text&sk=PRES1SC1&sc=2-23&cvid=5a465b1ab56d4a68c2a248e29778a674 and they involve adding a

[2020-01-24 08:48] ezolotko commented on #2573
@merriemcgaw We develop commercial products in a form of component libraries that allow using C#/VisualBasic/TypeScript scripts in .NET application, so it can be extended with custom logic. Sometimes users want to define UI for these scripts, such as option dialogs, etc, and we've implemented our Form Designer using interfaces from System.Windows.Forms.Design such as IDesignerHost, IDesignerEventS

[2020-01-25 20:11] EatonZ opened #2769 "Application.Restart throws InvalidOperationException"
* .NET Core Version:
3.1.1

* Have you experienced this same bug with .NET Framework?:
**No - this has always worked fine on .NET Framework!**

**Problem description:**
Calling `Application.Restart` in a .NET Core WinForms application does not work as it does on .NET Framework. An exception is thrown:

[code]

I also tried launching the exe without the debugger, but that doesn't make a difference.

[2020-01-26 21:16] weltkante commented on #2644
Turns out one central collection, the `ControlCollection` has issues with updating to a generic `GetEnumerator` because it wants to override the non-generic `GetEnumerator` from its base class. I've tried finding a workaround but what I've got so far doesn't feel great.

[2020-01-27 08:55] kpreisser commented on #2698
It seems the issue even reproduces on .NET Framework 2.0:

![XP-Net20](https://user-images.githubusercontent.com/13289184/73161148-23c7a480-40eb-11ea-8df8-ad2fa569d6ce.png)

[2020-01-27 23:28] Tanya-Solyanik commented on #2543
FYI: setting supported OS in the manifest file does not fix this issue, most likely we are not getting there glyphs or colors from the theme data.

[2020-01-28 02:28] #1344 closed

[2020-01-28 04:42] RussKie commented on #2769
@danmosemsft  @stephentoub  @davkean  this is a regression introduced in https://github.com/dotnet/corefx/pull/1167

Could you please provide guidance on how to restart the app?

[2020-01-28 04:49] davkean commented on #2769
Application.Restart and .NET Core 1.0 didn't exist at the time that change was checked in, so its not a regression. Probably need a bug against CoreFx to let you look at the StartInfo of a process if its the "current process".

[2020-01-28 04:52] RussKie commented on #2769
For us it is a regression because it worked in .NET Framework and it doesn't work in .NET Core.

[2020-01-28 06:24] RussKie commented on #2760
Thank you.

Do you think you could elaborate further and provide your thoughts on the new API to accommodate the request?
For example here's a list of questions from a top of my head:
* Do you expect users to use `Text` property?
* Do we need to allow customisation of "X of Y" text?
* Do we need to support displaying percent complete mode (e.g. "X%" text)?
* How will it work with marquee mode?
* W

[2020-01-28 09:54] RussKie commented on #2698
Wow! It has been working for us for years, no wonder I have never noticed it (net461):
![image](https://user-images.githubusercontent.com/4403806/73253259-4a333000-4210-11ea-8ed1-f7eabbc49eae.png)

[2020-01-28 10:03] paul1956 commented on #2760
I see a few options
1. Users uses Text property and set the whole string. The control just displays whatever is there user on top of the color bar. User handles internationalization (the same way they do with normal text boxes)
2. It is always in the form "X of Y"? The control handles internationalization and the string is fixed
3. X of Y is specified as a format, not sure how internationalization

[2020-01-28 10:30] stephentoub commented on #2769
The only valid piece of Process.GetCurrentProcess().StartInfo was the environment variables, which you can access from Environment. Just create a new PSI and populate it.

[2020-01-28 12:11] Logerfo commented on #1107
Now that #2702 and #2756 are merged, I encourage everyone interested to send PRs covering small parts of the API for NRT in SWF.

[2020-01-28 17:14] AdamYoblick commented on #1734
Nope, closing it out.

[2020-01-28 17:14] #1734 closed

[2020-01-28 20:30] merriemcgaw commented on #1996
@AdamYoblick and @RussKie need to work together to make sure this is working, and that we're able to create/update this in the designer.

[2020-01-28 21:59] zsd4yr opened #2780 "Redirect all links pointing at CoreFX to point at Runtime"
For example, the link to the contribution guidelines is broken :)

[2020-01-28 23:47] RussKie commented on #2780
Hi Zach, thank you! You know the drill - a PR is welcome 😄

[2020-01-29 18:37] Naimad1CZ commented on #2660
@merriemcgaw Yes, the code is working as expected if user of my program has English keyboard, but not when the user has Czech keyboard.

My case: I made (and will contuinue on developing probably during summer holidays) an auto-complete program for PC which offers relevant words to user even before typing the first letter of the word (the offer is based on previous word in this case). And uses `Se

[2020-01-30 00:37] RussKie commented on #2660
There's at least one more option - you can send us a PR with a fix.

[2020-01-30 00:45] merriemcgaw opened #2786 "DataGridView's edit controls don't support UIA Text pattern as required by UIA rules"
* .NET Core Version:
All

* Have you experienced this same bug with .NET Framework?:
yes

**Problem description:**
DataGridView needs to support the TextPattern. Accessibility Insights reports failures for this issue

**Expected behavior:**
Accessibility Insights should not report failures.

**Minimal repro:**
Create a DataGridView with multiple data cells

[2020-01-30 11:13] jmairboeck opened #2788 "Add Bold Property to TreeNode"
The native Win32 TreeView control supports the item state flag TVIS_BOLD for making TreeNodes bold. This is not exposed in the Windows Forms TreeNode API.

I would suggest adding a new Property `bool Bold { get; set; }` to TreeNode, which when set to `true`, sets the item state flag on the TreeView item.

**Describe alternatives you've considered**
The canonical way to do this now by setting the N

[2020-01-30 16:56] Thraka commented on #2637
Where are those? I can't find them. AFAIK there is no place to enter this info in Visual Studio for .NET Core. You must edit the project file directly.

[2020-01-30 17:39] weltkante commented on #2660
Big warning in the [doc](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.sendkeys?view=netcore-3.1):

While it just says `Send` it probably is meant to also include `SendWait` and similar overloads.

What this is basically saying is that the input needs to be specific to a keyboard. You cannot use the same input and expect it to work on every keyboard.

The WinForms SendKeys API i

[2020-01-31 00:56] merriemcgaw commented on #2660
I agree with everything that @weltkante has said. The current implementation doesn't appear in my mind to be intended to do what the @Naimad1CZ is requesting. Making a new implementation of SendKeys() and SendWait() is not on our current roadmap.

[2020-01-31 00:56] #2660 closed

[2020-01-31 01:59] RussKie commented on #2788
A definition for `TVIS_BOLD` was added in #1742, so we have it in our codebase now.

`Bold` name does not fit in to the Windows Forms naming convention both at the type level, and at the level of the Windows Forms SDK. Typically a user would think of `Bold` as being a property of a `Font`, however an individual node does not control `Font`, instead it is controlled at the `TreeView` level.

In thi

[2020-01-31 04:42] paul1956 commented on #2637
They are under Project Properties/Package and they end up in the Project File.

[2020-01-31 05:33] RussKie commented on #2413
I think the underlying issue that you have already discovered is that the `ControlBindingsCollection` decoration is incorrect:
https://github.com/dotnet/winforms/blob/b666dc7a94d8ac87a7d300cfb4fa86332fb79bae/src/System.Windows.Forms/src/System/Windows/Forms/ControlBindingsCollection.cs#L16-L19

It should be:
[code]

[2020-01-31 05:45] RussKie commented on #2413
I think the underlying issue that you have already discovered is that the `ControlBindingsCollection` decoration is incorrect:
https://github.com/dotnet/winforms/blob/b666dc7a94d8ac87a7d300cfb4fa86332fb79bae/src/System.Windows.Forms/src/System/Windows/Forms/ControlBindingsCollection.cs#L16-L19

In .NET Framework `UITypeEditor` was declared in System.Drawing.dll. However in .NET Core it was moved t

[2020-01-31 10:10] paul1956 commented on #2637
@Thraka
![image](https://user-images.githubusercontent.com/12789369/73531113-9c21b480-43ce-11ea-9ae1-c53d7a9f7393.png)
![image](https://user-images.githubusercontent.com/12789369/73531180-c2dfeb00-43ce-11ea-9503-57a9151a6f0f.png)

[2020-01-31 14:45] vladimir-krestov opened #2794 "Narrator doesn't announce a text mouse selection in DataGridVIewTextBoxCell and ToolStripTextBox"
* .NET Core Version: 5.0.100-alpha.1.20073.10

* Have you experienced this same bug with .NET Framework?: TextPattern hasn't implemented in .Net 4.8 yet.

**Problem description:**
- Narrator doesn't read symbols and a selected text range in `DataGridViewTextBoxCell` and `ToolStripTextBox` edit controls when using a keyboard or mouse selecting
This seems to be due to incorrect handling of keyboard

[2020-01-31 14:45] vladimir-krestov commented on #2794
Related PR #2701

[2020-02-02 15:27] swythan opened #2797 "Setting ComboBox.SelectedItem changes order of controls in TableLayoutPanel"
* .NET Core Version:
3.1.1

* Have you experienced this same bug with .NET Framework?:
Yes
It looks like a regression from 4.7.2 to 4.8. I'm filing a bug there too.

**Problem description:**
Short version:
In a specific situation, setting SelectedIndex/SelectedItem on a ComboBox can cause the controls in a TableLayoutPanel to change order (in the Controls collection and also visually).

Long versi

[2020-02-02 21:38] swythan commented on #2797
The problem is caused by the code around here:
https://github.com/dotnet/winforms/blob/c992a627324412365bf8f59ec606c35df404288b/src/System.Windows.Forms/src/System/Windows/Forms/ComboBox.cs#L2784

It was part of PR #400, which ported some accessibility fixes from .Net Framework 4.8.

AFAICT it's the creation of the accessibility shim for the ComboBox that triggers the issue. That ends up creating

[2020-02-02 21:51] swythan commented on #2797
Reported for .Net Framework 4.8 here:
https://developercommunity.visualstudio.com/content/problem/903310/setting-comboboxselecteditem-changes-order-of-cont.html

[2020-02-02 22:13] RussKie commented on #2797
@M-Lipin please investigate

[2020-02-03 08:06] Vino-Wang opened #2799 "MDI child form with ContainerControl/SplitContainer control activation bug: the control that gets focus is not the one that was previously focused"
* .NET Core Version: 3.1.200-preview-014883

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
If the form is opened as MDI child and its focused control is located within ContainerControl(e.g. ActiveControl chain is: mdiChildForm > ContainerControl > TextBox). Then when other MDI child is activated, the form's ActiveControl property is resetting to null. And

[2020-02-03 19:55] tgani-msft commented on #2746
@wli3 @nguerrera

[2020-02-04 02:45] RussKie commented on #1143
I don't get an impression this is an issue for the Core Runtime to fix it, and it is up to us to deal with it.

[2020-02-04 03:52] RussKie commented on #1996
I think we need #1143 fixed first, then look at whether this is still an issue.

[2020-02-04 05:35] RussKie commented on #2543
While debugging another issues I was stepping through `TooStrip` implementations and observed that that it defaults to `ProfessionalRendererType`:
https://github.com/dotnet/winforms/blob/62c17fe35b2f00f8156828148a5fbbb910cc52a1/src/System.Windows.Forms/src/System/Windows/Forms/ToolStripManager.cs#L46-L51
https://github.com/dotnet/winforms/blob/62c17fe35b2f00f8156828148a5fbbb910cc52a1/src/System.Wi

[2020-02-04 06:05] RussKie commented on #2698
The bug appears to be related to the calculation of `ImageRectangle`:
https://github.com/dotnet/winforms/blob/b666dc7a94d8ac87a7d300cfb4fa86332fb79bae/src/System.Windows.Forms/src/System/Windows/Forms/ToolStripMenuItem.cs#L1614-L1641
...and specifically this line:
https://github.com/dotnet/winforms/blob/b666dc7a94d8ac87a7d300cfb4fa86332fb79bae/src/System.Windows.Forms/src/System/Windows/Forms/Tool

[2020-02-04 07:00] RussKie commented on #2543
I've looked at this, we do all the painting with standard predefined colours, e.g.:
https://github.com/dotnet/winforms/blob/b666dc7a94d8ac87a7d300cfb4fa86332fb79bae/src/System.Windows.Forms/src/System/Windows/Forms/ToolStripSystemRenderer.cs#L233-L237

[code]

This is how the colours are read by the runtime:
https://github.com/dotnet/runtime/blob/4f9ae42d861fcb4be2fcd5d3d55d5f227d30e723/src/librar

[2020-02-04 09:07] Vino-Wang opened #2802 "The UIA Name property is missing on the list element in selected PropertyGrid item"
* .NET Core Version: 3.1.200-preview-014883

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
The Name property of the focusable element(list) is null.
![Actual](https://user-images.githubusercontent.com/18568603/73729765-9e8a6280-4770-11ea-8375-18b99c20d5a5.jpg)

**Expected behavior:**
The list element should have a meaningful name instead of null.

**Minim

[2020-02-04 10:00] zhenlinyang opened #2803 "Setting 'RichTextBox.Location' has no effect when the screen resolution is too low"
* .NET Core Version:
3.1

* Have you experienced this same bug with .NET Framework?:
No, This bug doesn't exist with .NET Framework.

**Problem description:**

Setting 'System.Windows.Forms.Form.RichTextBox.Location'>'screen resolution' has no effect, when the screen resolution is lower than 'System.Windows.Forms.Form.MinimumSize'. 'RichTextBox' is drawn at (0, 0).

**Expected behavior:**

Draw in

[2020-02-04 10:02] weltkante commented on #2543
I'm not entirely sure if SystemColors (and SystemRenderer) will properly reflect theming. Some colors may be reused by theming, but the general model I have in mind is that theming uses a lot of hardcoded colors and rendering code which you only can get by going through the theming API. From a quick look you have no renderer using the theming API for menus/toolbars/statusbars (but I may have misse

[2020-02-04 15:55] weltkante commented on #2788
Not entirely correct, there is [`TreeNode.NodeFont`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.treenode.nodefont?view=netcore-3.1) in case it affects your reasoning, though I consider `IsBold` being reasonable.

Though note the hint at the bottom of the docs, mentioning that `NodeFont` is bugged and will get clipped if the text drawn with NodeFont is larger than what the Tre

[2020-02-04 15:59] jmairboeck commented on #2788
This is exactly one of the reasons why the TVIS_BOLD flag exists in the first place, to avoid the text clipping problem. See https://devblogs.microsoft.com/oldnewthing/20090406-00/?p=18623

[2020-02-04 23:09] RussKie commented on #2543
I think we're in real troubles now... 😄

Windows Forms have only rudimentary theming support, and that is something we're planning to look at going forward.
My OS is configured to use "dark" mode, and Notepad and Git Extensions are the only retina burning apps, so following the logic I guess I'd expect menus to be rendered in dark colours as well
![image](https://user-images.githubusercontent.com/

[2020-02-04 23:17] RussKie commented on #2803
Please create a small project showing the problem and we can take further.

[2020-02-05 01:40] RussKie commented on #2788
🤦‍♂ I'm not sure how I missed it... I guess I was looking for `Font`.
Thank you

[2020-02-05 06:44] RussKie commented on #2543
We need to step back and agree on what we consider to be a "native Windows look and feel".
I don't believe it is correct just to look at how .NET Framework `MainMenu` et al. used to look. It had been designed in a completely different world with completely different useability and accessibility requirements than what we have today.

Let's look at "native" Windows 10 1903 apps.

| | Windows default

[2020-02-05 09:27] weltkante commented on #2543
Not sure if you understood me correctly, so TLDR for my previous post: there are two APIs, SystemColors and theming API, using SystemColors may give you the colors from the non-themed UI in cases where the OS theming overrides colors, which is probably what is happening here.

What I'm suggesting is using the official theming API instead of starting to replicate code/colors. There are [parts](http

[2020-02-05 13:42] weltkante commented on #1763
Any update on this?

[2020-02-06 00:02] vatsan-madhavan commented on #2543
I'm not an expert in this, /cc @rladuca to comment in case I make substantive mistakes here.

--

Here is where the `Style`'s for [`Menu`](https://github.com/dotnet/wpf/blob/release/3.1/src/Microsoft.DotNet.Wpf/src/Themes/XAML/Menu.xaml) are defined for various pre-defined themes:

For [`Aero`](https://github.com/dotnet/wpf/blob/b30a16a465c9a0ed7e641a9d55df2f6e5c878a81/src/Microsoft.DotNet.Wpf/src

[2020-02-06 02:02] RussKie commented on #2543
Thank you @vatsan-madhavan, so is it fair to say WPF has colours hard-coded and relies on colours defined by the Runtime instead of loading the OS theme defined colours?

[2020-02-06 02:08] vatsan-madhavan commented on #2543
No, that's not a good generalization. It's more nuanced than that 😁

**Normal operation (i.e., the OS is running a non-High Contrast theme)**: WPF uses a mix of self-defined and OS defined colors.

**OS is running a High contrast theme**: WPF uses OS defined colors by and large; there have been several accessibility related bug-fixes that have likely introduced WPF defined colors as well.

[2020-02-06 02:43] RussKie commented on #2543
👍 thank you for the clarification.

[2020-02-06 04:23] rladuca commented on #2543
@vatsan-madhavan that's pretty much on the money as far as I know.  Recent high contrast fixes have generally been done with an effort to only use SystemColors wherever possible.  I actually do not remember any fix that we made in the last few years that used anything else, aside from when accessibility standard demanded a specific color that was not provided by the SystemColors.

[2020-02-06 08:10] weltkante commented on #2543
In summary: For theme off and high Contrast WPF uses System Colors as does WinForms, themed colors are hardcoded like `<SolidColorBrush x:Key="Menu.Static.Background" Color="#FFF0F0F0" />` Note that WPF has different styles for different OS releases - if themes differ the hardcoded colors can differ between OS versions, thats something WinForms would need to do as well if it choses to replicate co

[2020-02-06 09:29] chylex commented on #2543
I don't want to interfere too much, but here's my perspective as a developer using WinForms, and someone who cares about consistency:

Notepad and MMC seem to just use the native control, which looks the most consistent today. If you're leaning towards Explorer to also support dark theme, it'd be good to know how those colors were chosen, whether the design is stable now, and how consistent it is

[2020-02-06 10:08] 15092368540 opened #2812 "DataGridView Tip is not normal"
Only .NET Core Version,  .NET Framework Version is right.

DataGridView cell content is not truncated, but still show with content tips

[2020-02-06 10:17] 15092368540 commented on #2812
Screenshots and examples

![D1](https://user-images.githubusercontent.com/49462433/73927653-b991d980-490c-11ea-8096-4fe5571ccee5.png)

[DGV.zip](https://github.com/dotnet/winforms/files/4164488/DGV.zip)

[2020-02-07 00:20] merriemcgaw commented on #2812
@merriemcgaw to review with the accessibility team.

[2020-02-07 00:49] merriemcgaw commented on #2760
I don't believe this fits into our roadmap of features we're looking to add to the runtime. We're trying to make sure features we implement having the look/feel of Native Windows apps. It also presents a large number of challenges around usability and accessibility. I'm going to close this as today - but if we have more requests for controls like this we'd be happy to reconsider.

[2020-02-07 00:49] #2760 closed

[2020-02-07 08:10] Thea-Zhao opened #2814 "Invoke PrintDialog.ShowDialog() does not show Print dialog successfully"
* .NET Core Version: .NET Core SDK 5.0.100-preview.1.20106.1 + the VSIX Inserted into Dev16 16.5.0 [29803.141.master]

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
 Invoke PrintDialog.ShowDialog() does not show Print dialog successfully.

**More Info:**
1. This is a regression issue, it's not reproducing when targeting .NET Core 3.1.
2. This issue also ca

[2020-02-07 13:58] hughbe commented on #2653
Yes. I would expect "Footer" and "FooterAlignment" to appear in the following editor (same as "Header" and "HeaderAlignment"
![image](https://user-images.githubusercontent.com/1275900/74034706-bb14dd80-49b0-11ea-9ab2-d63bf9c2307e.png)

I don't think `ListViewGroup`s header is currently accessible at all? So I'm not really sure what we actually expect from accessibility here
![image](https://user-i

[2020-02-07 14:19] hughbe opened #2818 "TrackBar accessible object missing Name property. Should we define a custom one?"
The following accessibility issue needs investigation.

**App:** WindowsFormsApp1

**Element path:** slider ''

**Issue Details:** The Name property of a focusable element must not be null. [Section 508 502.3.1](https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-ict-refresh/final-rule/single-file-version#502-interoperability-assistive-technology)

**How To Fix:**

[2020-02-07 14:20] hughbe commented on #2818
![image](https://user-images.githubusercontent.com/1275900/74036780-dbdf3200-49b4-11ea-9a53-7d31e474507e.png)

I'm opening this as more of a way for me to learn about this too... do we need to define a custom name for `TrackBar`, like for `ToolStripGripAccessibleObject`

[code]

[2020-02-07 14:51] weltkante commented on #2818
This doesn't look right, TrackBar inherits from Control, you should not have custom logic in the Name property. I don't know much about accessibility but I suspect that the name of an AccessibleObject is something different from the name of a Control. The name of a control is a unique key into the control collection, provided by the owner of the control, not something you can provide a default for

[2020-02-07 15:03] hughbe commented on #2818
![image](https://user-images.githubusercontent.com/1275900/74040021-ce2cab00-49ba-11ea-94a0-006a1bcd82a3.png)

More informative screenshot

We seem to do this around the place, e.g. `NumericUpDown`:
[code]

As I said, I'm learning about accessibility (have basically no idea what I'm doing)!

[2020-02-07 15:05] weltkante commented on #2818
Which Name is that? The name of the NumericUpDown Control or the name of the NumericUpDownAccessibleObject? For the AccessibleObject its probably ok. Maybe I'm just getting confused about what you are talking since you don't provide much context and both Control as well as AccessibleObject have a Name property.

[2020-02-07 15:05] hughbe commented on #2818
Sorry! I meant the name of `NumericUpDownAccessibleObject`: in the context of accessibility, `Control.Name` isn't actually used anywhere

[2020-02-07 15:21] weltkante commented on #2653
Probably both will just work by itself if the new properties are annotated correctly with metadata attributes. Since there is precedence with existing `Header` and `HeaderAlignment` the new properties would basically want the same treatment as the existing properties.

If VS feels the need to do anything special about the existing properties it would have to do the same for the new properties (ide

[2020-02-07 16:41] hughbe commented on #1726
Related #2654

[2020-02-07 16:42] hughbe commented on #2653
In terms of accessibility, see #1726

[2020-02-07 21:27] JeremyKuhne commented on #1996
This only happens when you republish. Running a self-contained executable multiple times does keep the same user settings file.

User settings files are, by design, using the location of the entry assembly to generate their hash (see [`ClientConfigPaths`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Configuration.ConfigurationManager/src/System/Configuration/ClientConfigPaths

[2020-02-07 21:51] swaroop-sridhar commented on #1996
@JeremyKuhne  By design, the single-file apps are published with a new ID each time they are published.  This ensures that files different builds/configurations/versions of the same app do not get their extracted files mixed up.

The SDK's support for incremental compilation on publish is limited, so we may end up generating the single-file with a new ID even on a publish with no actual changes.

[2020-02-08 00:00] JeremyKuhne commented on #1996
The app itself has the settings, which is the problem. It would be nice if there was a way to see that we're running under this scenario and be able to take the location of the launching wrapped exe in some way.

[2020-02-08 00:28] paul1956 commented on #1996
Why would an end user ever want to lose their settings when a app is upgraded? Is this ever the correct behavior and if it is there is a very easy solution (don't have/use an Upgrade Setting)? @swaroop-sridhar this is not something a developer or end-user should have to deal with. I don't know of a single app I have worked with that does not have any settings. The biggest complaint people have wit

[2020-02-08 00:39] swaroop-sridhar commented on #1996
@JeremyKuhne @paul1956

I understand the problem better now -- I suggested that the settings file be excluded because I thought that it was a build time artifact. But I get that the app generates it as part of its execution.

When an app is published as a single-file, there's no guaranteed "location" of the app.dll. The fact that the application.dll is extracted to a temporary directory on disk is

[2020-02-08 01:12] RussKie commented on #1996
Are you talking about this - https://github.com/dotnet/winforms/pull/2801?

@livarcocc can you move the issue to the Runtime?

[2020-02-08 01:27] paul1956 commented on #1996
@swaroop-sridhar This is not something a developer has any control over. Settings are part of the infrastructure at least for VB in Core as of what is publicly available (3.1 and WinForms). I think they are stored in ...App.dll.config. If "the app will be loaded directly from the app, and not extracted at all" how are assets found, does everything have to be a resource and loaded with resource man

[2020-02-08 01:39] merriemcgaw commented on #1996
Per request from @JeremyKuhne I'll move to the runtime repo.

[2020-02-08 01:58] merriemcgaw commented on #2543
That is my assessment as well. And for now there is no support for dark theme, but they both support High Contrast. I think for this issue and the related ContextStrip/MenuStrip discussions I'm happy to consider them as our baseline, and move to Explorer for when we support Dark Theme. I'll work with @OliaG to see if we can find design guidance for the colors once it's time to implement a dark the

[2020-02-08 02:00] merriemcgaw commented on #1763
Funny you should ask @weltkante 😃. @OliaG and I were just reaching out to the folks on the Office Team last night to start kicking off the conversations. We're going to have some management level discussions around what we want to do here as well. I'll keep you updated as we hear from folks.

[2020-02-08 02:02] merriemcgaw commented on #2698
@dreddy-work - making sure this gets on your radar.

[2020-02-08 02:13] merriemcgaw commented on #2573
@OliaG and @RussKie we should talk about this in our next sync. I don't have an update at this time, and we need to consult some internal folks to make a determination

[2020-02-08 02:15] merriemcgaw commented on #2641
I will open an issue in our designer repo and see what the thoughts of the team are, and how difficult this request might be.

[2020-02-08 06:48] kaecy opened #2825 "ListView drag select"
If I scroll down a bit and then try to click and drag the mouse jumps to the top-left corner.

![a](https://user-images.githubusercontent.com/4354982/74080701-cf072080-4a3e-11ea-9e54-45375a7249b9.gif)

.NET Core Version:
3.1.100

[2020-02-08 23:18] EatonZ commented on #2769
Hi @merriemcgaw, is the fix really only going to make it for 5.0?
If that is the case, does anyone have any temporary workarounds I can use here?

[2020-02-09 01:39] RussKie commented on #2769
I'm confident once it is fixed, it will be considered for a servicing in 3.1.

As an interim workaround you could copy the implementation of `Application.Restart` into your app.
https://github.com/dotnet/winforms/blob/62c17fe35b2f00f8156828148a5fbbb910cc52a1/src/System.Windows.Forms/src/System/Windows/Forms/Application.cs#L1173-L1195

[2020-02-09 06:08] EatonZ commented on #2769
@RussKie I couldn't get it working when I tried before, but I tried again and this time I realized why. Turns out, there is a _second bug_ in there, but [that one is already being fixed, by you!](https://github.com/dotnet/winforms/pull/2801)😁

I modified the method a bit and it works fine now.
[code]

[2020-02-09 15:20] kaecy commented on #2825
Cant produce minimal repo.

[2020-02-09 15:20] #2825 closed

[2020-02-10 05:17] #1143 closed

[2020-02-10 05:28] RussKie commented on #2769
Btw you're welcome to send a PR with the fix 😉

[2020-02-10 07:24] RussKie commented on #1726
ListView footers will need to be made accessible as well (see #2653)

[2020-02-10 08:09] Vino-Wang commented on #2812
@merriemcgaw Yes, this is a real difference between .NET Core and Framework when the cell context is not truncated. Before we did a private testing for issue #1680 (original VS bug 528682, fixed in core instead of framework), it fixed the keyboard tooltip of the DataGridView cells in core. – Every type empty cell has the default tooltip no matter the cell context truncated or not truncated. For th

[2020-02-10 08:56] weltkante commented on #2411
/cc @RussKie I think this one may have been overlooked since the issue is still unlabeled, might want to check if those missing classes have any relevance for the designer

[2020-02-10 14:21] hughbe opened #2841 "ScrollableControl.ScaleDockPadding seems to be broken?"
Problem:

Looking at the implementation of `ScrollableControl.Scale{Core}:

[code]

Where DockPadding.Scale is implemented as

[code]

I would expect the scrollable control's padding to scale by `dx` and `dy`. However, the following tests demonstrate that no scaling is happening.

I think something may be weird in that calling `Padding.Scale` does not seem to affect the underlying `Padding` instan

[2020-02-10 15:05] weltkante commented on #2841
Its because its a struct, `_owner.Padding.Scale(dx, dy);` will return a copy of the owners Padding from the `_owner.Padding` property, so `Scale(dx, dy)` will operate on a copy of the original struct which will be immediately discarded.

[2020-02-11 01:23] dreddy-work commented on #2413
@RussKie , We were generating facads for all public classes/methods that were moved around.  In this case, I see system.windows.forms is added as reference for System.Drawing assembly. Was it not generating facad there?

[2020-02-11 01:41] Tanya-Solyanik commented on #2413
Designer relies on this hard-coded text so far.

[2020-02-11 05:53] RussKie commented on #2818
@M-Lipin @vladimir-krestov please help and work with @hughbe to have it fixed.

[2020-02-11 08:00] weltkante commented on #2413
@dreddy-work I think this redirect was either missing or broken, as tests showed this type didn't resolve correctly. Fix could be either adding a redirect, correcting the attribute, or removing it alltogether

@Tanya-Solyanik it does? the editor which is specified here is a no-op because it doesn't implement a subclass (none of the methods on the base class do anything), so unless the designer mak

[2020-02-11 10:32] r-aghaei commented on #134
It's really good to see this feature in the framework. I used to use the same approach for my TextBox controls and had shared the approach in [stackoverflow](https://stackoverflow.com/a/36534068/3110834).

[2020-02-11 10:34] r-aghaei commented on #134
It would be great if we can have the same for `ComboBox`. I've already shared an example [here](https://stackoverflow.com/a/50972125/3110834).

[2020-02-11 11:25] weltkante commented on #134
@r-aghaei assuming you have specific interest in getting it done and this wasn't just a passing comment you probably want to create a new issue for that, its unlikely to be retrofitted into an already completed issue

[2020-02-11 11:46] AlexNek opened #2842 "TableLayoutPanel missing on toolbox and not rendered on designer."
* .NET Core Version:

.NET Core SDK (reflecting any global.json)
Version:	3.1.200-preview-014883
Commit:	4e2a0ee959

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
It is not possible to create TableLayoutPanel as it is not visible on toolbox but present on "Choose Toolbox Items" dialog.
I tried to move my old Winforms project to Core. I have created new Win

[2020-02-11 21:58] merriemcgaw commented on #2812
@M-Lipin @vladimir-krestov  - do you guys think we can use a keyboard command to enable tooltip on tab, and then just have tooltips behave as they used to before #1680 where tooltips only show for truncated content?

[2020-02-11 23:56] dreddy-work commented on #2413
@weltkante , I see type forward in "System.Drawing.dll" .  Were the tests failing on the latest runtime?  I know we removed editors binary completely and merged it with winforms and design assemblies sometime back.  But i see type forwards are working as expected here.  Can you poin to the exact test that is failing ? so that we can root cause the issue before making final action?

![image](https:

[2020-02-12 02:17] EatonZ commented on #2769
@RussKie I wasn't sure if the proper fix was that simple... but I guess it is, so I just submitted a PR.😁

[2020-02-12 08:09] weltkante commented on #2413
Last line in issue description refers to [this skip entry](https://github.com/dotnet/winforms/blob/fde3805ea206227ad01266c7d25ce0ed2df4996f/src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/Design/DesignerAttributeTests.cs#L23) - if you remove it and the test no longer fails then it was solved by some other PR since the tests had been checked in

[2020-02-12 08:18] weltkante commented on #2413
Your redirects are from System.Drawing 5.0 but the string references look for [4.0](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/AssemblyRef.cs#L9) so I'm pretty sure all these references will be failing.

@RussKie why was System.Drawing.dll leveled to 5.0 when the Desktop references it should be redirecting are looking for 4.0 ?

[2020-02-12 11:25] Marie-Shi opened #2848 "[Inspect]There is no "Font" edit item below "Font" tree item node when Font property is Expanded"
-  .NET Core Version: .Net Core 3.1.200-preview-014978 from 3.1 Release branch + VS2019 with latest core designer
- Have you experienced this same bug with .NET Framework?: Yes

**More Info:**
1.	This issue can reproduce on Font, Location, Margin, Size… properties.
2.	This issue can also reproduce on Framework project with latest .Net 4.8.
3.	Using Inspect to focus Font property, there is "Font" e

[2020-02-12 13:27] vladimir-krestov commented on #2812
I think, yes, we can. We can use some hotkey to enable/disable keyboard tooltips. Just as a hotkey of activating/deactivating a cell tooltip was implemented (Control+Shift+F10, please see #1681)
@merriemcgaw, _what combination should we use to enable/disable keyboard tooltips?_

Also, we can show tooltips only for truncated TextBox content if a custom tooltip text wasn't set.
But what do we need t

[2020-02-12 14:03] vladimir-krestov commented on #2818
I guess we found out that it's about changing `TrackBarAccessibleObject.Name` property, not about `Control.Name` property, and there are no issues.
#2820 looks good for me.

[2020-02-12 14:42] weltkante commented on #2818
Yeah sorry should have marked that conversation as resolved, it was just a misunderstanding.

[2020-02-12 22:25] merriemcgaw commented on #2842
We are currently working on the designer for TableLayoutPanel (Core), so it's not unexpected that you don't see it at this point. Our designer updates are coming out with each VS Preview now, and I expect to have TableLayoutPanel available by 16.6P2. Thanks for testing the Preview Designer! If you want to provide feedback or ask questions of the VS WinForms Core Designer, the best way to do that i

[2020-02-12 22:25] #2842 closed

[2020-02-13 06:30] RussKie commented on #2814
I haven't bisected, but looking at the history we probably disturbed it in https://github.com/dotnet/winforms/pull/2594.
Guessing these classes, having one of the fields modified, caused some misalignment, and caused the call to `UnsafeNativeMethods.PrintDlg(data)` fail.

/cc: @gpetrou

[2020-02-13 07:00] John-Qiao opened #2852 "'StatusBar' class could not be found in System.Windows.Forms"
* .NET Core Version: 5.0.100-preview.1.20112.13

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Cannot create the System.Windows.Forms.StatusBar class object in .NET Core 5.0 project.
![StatusBar-5 0](https://user-images.githubusercontent.com/45864985/74408964-b0ef5500-4e70-11ea-8ee0-1f30406fd6ab.png)

**More info:**
1. This issue cannot repro in the latest

[2020-02-13 08:03] John-Qiao commented on #2852
That's by design and described in there: https://github.com/dotnet/docs/issues/17008

[2020-02-13 08:03] #2852 closed

[2020-02-13 08:58] M-Lipin opened #2853 "Prevent throwing error on reset DataGridView current cell address while binding with DataSource"
* .NET Core Version:
.NET Core SDK (reflecting any global.json):
 Version:   5.0.100-alpha.1.20073.10
 Commit:    29f4d693a9

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

The issue is that in some circumstances there is an error when showing the DataGridView control that is already has a DataSource bound. On control show binding is reset which may lead

[2020-02-13 09:00] M-Lipin commented on #2853
Possible solution is to change
`if (dataGridViewOper[DATAGRIDVIEWOPER_inCurrentCellChange] &&                      // Allow the code to be re-entrant only as a result of
    (dataConnection == null || !dataConnection.ProcessingListChangedEvent))   // underlying data changing.
{
    throw new InvalidOperationException(SR.DataGridView_SetCurrentCellAddressCoreNotReentrant);
}`

to

`if (dataGridView

[2020-02-13 09:03] M-Lipin commented on #2853
DevDiv issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/733640

[2020-02-13 11:25] weltkante commented on #2814
@RussKie the PR you linked moved the `int m_Flags;` field which broke the binary layout. I'm adding comments to the PR to highlight the mistakes.

[2020-02-13 20:07] merriemcgaw commented on #2769
This particular bug, since it's not blocking you at the moment, doesn't meet the servicing bar for 3.1, but I am very glad you got it in for 5.0. If we find out that this is blocking someone and impacting customers then I believe it would meet the bar and we'd take it. But at this point the workaround is a viable one I'm afraid.

[2020-02-13 21:06] EatonZ commented on #2769
Hi @merriemcgaw, I think it's a long time to wait until November for a 1-line fix. If that is what you want to do, then I suggest documenting this breakage somewhere so people will be able to find the workaround when searching.

[2020-02-13 23:37] RussKie commented on #2852
Relates to #2798

[2020-02-13 23:46] RussKie commented on #2853
I think it is sensible, but we need to have a repro

[2020-02-13 23:47] RussKie commented on #2814
Thank you @weltkante 👍  somehow I failed to see it myself

[2020-02-13 23:56] terrajobst commented on #146
@RussKie is this ready for another pass or do you want to incorporate the feedback from the UX study first? If the latter, we should mark this issue as api-needs-work.

[2020-02-14 01:25] RussKie opened #2856 "Flaky tests: `GroupBoxTests.GroupBox_FlatStyle_SetWithCustomOldValueWithHandleWithVisualStyles_GetReturnsExpected`"
**Problem description:**

`GroupBoxTests.GroupBox_FlatStyle_SetWithCustomOldValueWithHandleWithVisualStyles_GetReturnsExpected` sporadically yet regularly fail in the internal CI
E.g.:
* https://dev.azure.com/dnceng/internal/_build/results?buildId=520646&view=results
* https://dev.azure.com/dnceng/internal/_build/results?buildId=515654&view=results

Upon re-run the test typically pass.

[code]

**

[2020-02-14 02:16] RussKie commented on #146
Update the label, thanks for the heads up.
We're currently working with @kpreisser through the study feedback.

[2020-02-14 03:05] Tanya-Solyanik commented on #2818
This looks like an application, not a framework issue to me. App developer has several options:
* set AccessibleName property on the TrackBar control
* place a label (or a control with Text property) in front of the TrackBar in the tab-order, and TrackBar will pick up label text as an accessible name.

Either one of these options would provide a more meaningful name than what we could set as a def

[2020-02-14 07:55] vladimir-krestov commented on #2818
An app developer can forget to set AccessibleName or place a Label in front of a Control. Moreover, as @RussKie said, a developer may not aware that he has to do that. But we should ensure compliance the MAS requirement:
![image](https://user-images.githubusercontent.com/49272759/74511353-dd5dac80-4f16-11ea-99b3-45dc201224f9.png)

The "TrackBar" name is really synonymous. But for users it will be

[2020-02-14 19:59] Tanya-Solyanik commented on #2818
Sure, in this case it is the job of tooling to flag it as an error

Sure, owners of AI are working on a repository of fixes to common accessibility problems. They are working towards AI showing potential solutions for detected errors. In this case, here is the [link](https://docs.microsoft.com/en-us/accessibility-tools-docs/items/winforms/control_name?branch=master)
![image](https://user-images.gi

[2020-02-15 17:01] jnm2 opened #2858 "Proposal to expose FileDialog.ClientGuid"
### What it is

From docs: [`IFileDialog::SetClientGuid`](
https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nf-shobjidl_core-ifiledialog-setclientguid) enables a calling application to associate a GUID with a dialog's persisted state. A dialog's state can include factors such as the last visited folder and the position and size of the dialog. Typically, this state is persisted base

[2020-02-15 19:45] alex-oswald opened #2861 "Add a generic host lifetime for Windows Forms"
Enterprise customers want to keep using Windows Forms, and we want to use the generic host.

Can we add a feature to use the generic host with Windows Forms and use the lifetime of the start up form such as this library I created?

https://github.com/oswald-technologies/WindowsFormsLifetime

https://github.com/dotnet/extensions/issues/2949

**Benefits this functionality will provide to Windows For

[2020-02-16 14:43] NikolaosWakem opened #2863 "Application crash when using .ocx with events that have ref objects, works in Framework - System.Windows.Forms.AxHost"
* .NET Core Version:
3.0 & 3.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

Using ActiveX .ocx  user control that has specifically not null, ref objects passed on events crashes entire application due to corrupt memory - Same code works in Framework

**Expected behavior:**

ref object is not corrupt on return to OCX after calling event inside core appli

[2020-02-16 15:13] NikolaosWakem commented on #2863
Here is a repro in a zip

https://axolotl.blob.core.windows.net/issue2863/Issue2863.zip

you have to first register the .ocx "regsvr32 Issue2863\VB6OCX\Axolotl.TestControl.ocx"

then run ConsoleApp1 (core) in debug with exceptions turned on.. (ConsoleApp2 is framework and works)

you should see "Object variable or With block variable not set" which is coming from line

Issue2863\VB6OCX\Axolotl.Tes

[2020-02-16 16:31] hughbe commented on #2818
My personal opinion is that WinForms should provide the best possible minimum accessibility by default, and this includes including non-empty names where possible. For example, it will help infinitely more to read "Track Bar" rather than nothing (which is the current situation).

As a further example, there may be a layout of a label followed by a track bar where the label describes the function o

[2020-02-17 08:45] vsfeedback opened #2866 "Problema com ListView"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/887266/problema-com-listview.html)._

---
Bom dia á todos, o que ocorre é o seguinte, quando inserimos um controle **ListView em um Form VB**, acontece que eu declaro em **Design as colunas deste ListView e sempre coloco na propriedade (Name) das colunas** um nome realtivo

[2020-02-17 08:45] vsfeedback opened #2867 "`ListView.IndexOfKey()` returns incorrect value"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/887266/problema-com-listview.html)._

---
Bom dia á todos, o que ocorre é o seguinte, quando inserimos um controle **ListView em um Form VB**, acontece que eu declaro em **Design as colunas deste ListView e sempre coloco na propriedade (Name) das colunas** um nome realtivo

[2020-02-17 08:57] Zheng-Li01 commented on #2867
**More info:**
The issue also can reproduce on .NET Framework.
**Core Solution:**
[CoreReproduce.zip](https://github.com/dotnet/winforms/files/4212650/CoreReproduce.zip)

**Reproduce steps:**
1. Opened the attached application, build and run it.
2. Click the button.

**Expected results**:
Can get the correct index value of columns of ListView control by calling the IndexOfKey() method.
![CoreExpec

[2020-02-18 01:47] RussKie commented on #2861
Thank you, it looks very interesting.

However to take it further we'd appreciate it if you filled the provided template and explained the following:
- benefits this functionality will provide to Windows Forms customers,
- what use cases it will enable, and where it may not be appropriate,
- performance implications,
- how it would coincide with the VS Designer, etc.

As you may understand we can'

[2020-02-18 03:19] RussKie commented on #2858
I think it totally makes sense to expose a property 👍

Just worth noting that this functionality will **only** be available for a Vista-style dialog that is based on `IFileDialog`. Otherwise an old-style dialog is invoked via [`GetOpenFileNameW`](https://docs.microsoft.com/en-us/windows/win32/api/commdlg/nf-commdlg-getopenfilenamew) and [`GetSaveFileNameW`](https://docs.microsoft.com/en-us/windows

[2020-02-18 03:48] Tanya-Solyanik commented on #2866
duplicate of #2867

[2020-02-18 03:48] #2866 closed

[2020-02-18 08:46] Tanya-Solyanik commented on #2818
The current situation is not nothing, We show control type, which is `Slider` which is synonym of TrackBar. It's is not an improvement to read control name twice, neither is to read control name followed by its synonym.

According to [docs](https://docs.microsoft.com/en-us/accessibility-tools-docs/items/winforms/control_name?branch=master), if the developer does not specify accessible name on cont

[2020-02-18 09:51] M-Lipin opened #2870 "AccessibleName default values for WinForms Controls"
**.NET Core Version:**

.NET Core SDK (reflecting any global.json):
 Version:   5.0.100-alpha.1.20073.10
 Commit:    29f4d693a9

**Runtime Environment:**
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536\

**Have you experienced this same bug with .NET Framework?:**
Yes

**Problem description:

[2020-02-18 10:01] M-Lipin commented on #2870
Related issues and PRs: #2818, #2821, #2843, #2382, #2370, #2818, #2820, #1864, #1866, #1691,  #1692

[2020-02-18 11:11] Marie-Shi opened #2872 "An error dialog pops up after right click selected text"
* .NET Core Version:
.Net Core 3.1.200-preview-014986 from 3.1 Release branch + VISX inserted in the Dev16 16.6.0[29817.27.master]

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info:**
1.	This issue can also reproduce with Framework project and WPF project.
2.	This is a regression issue, it can reproduce from Dev16 16.0[29816.11.master] to latest master branch build, it c

[2020-02-18 11:22] RussKie commented on #2872
If you suspect this is a VS issue it shouldn't be raised here, but via VS Feedback tool.
________________________________
From: v-zheshi <notifications@github.com>
Sent: Tuesday, 18 February 2020 10:11 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [dotnet/winforms] An error dialog pops up after right click selected text (#2872)

  *

[2020-02-18 11:39] hughbe commented on #2870
Are we reverting these changes then

[2020-02-18 20:39] Tanya-Solyanik commented on #2870
We can add a test that verifies that public `AccessibleName` is null in new'd up runtime controls.

[2020-02-18 20:42] Tanya-Solyanik commented on #2870
we are reverting changes that set default accessible names that are public properties.

[2020-02-18 23:39] merriemcgaw commented on #2812
Yeah, I think that's a good plan, just show truncated text tooltips for text based controls.
I want to keep things simple If the user does Ctrl+Shift+F10 to enable we do keyboard tooltips for all tooltips (across the app, no matter what the control and regardless of truncation maybe?).
If the user does not enable accessible tooltips (as I'm starting to call them now with all the WCAG2.1 requiremen

[2020-02-18 23:43] merriemcgaw commented on #2689
@Zheng-Li01 can you ensure the contrast of selected text is OK with the black text, light blue selection? If so then we're good to close this issue. But I didn't want to lose it and have this be inaccessible.

[2020-02-18 23:44] merriemcgaw commented on #117
This work is in progress right now

[2020-02-18 23:53] merriemcgaw commented on #2411
This was missed, thank you for bubbling it back up! @KlausLoeffelmann  - do you think we're probably good here, in that we have Core copies in the Designer itself, and can prioritize these attributes later?

[2020-02-18 23:56] merriemcgaw commented on #2412
@KlausLoeffelmann can you see if there's anything urgent we need for data stuff in the designer?

[2020-02-18 23:58] #2292 closed

[2020-02-19 00:01] merriemcgaw commented on #2142
This does not appear to be happening any more now that we've moved the designer directly into VS. You can get the latest updates by installing the preview version of VS and enabling the WinForms Core Designer in Tools->Options ->Preview Features.
In the future, probably the best way to interact when it comes to the designer is to use Developer Community or the VS Feedback Tool. That will help us w

[2020-02-19 00:01] #2142 closed

[2020-02-19 00:02] merriemcgaw commented on #2178
@Vino-Wang is this still happening? Is Narrator reading the right stuff?

[2020-02-19 00:03] merriemcgaw commented on #2636
@RussKie / @areller is this issue ready to be closed then?

[2020-02-19 02:45] Marie-Shi commented on #2872
Verified this bug with Dev16 16.0[29818.127.master], this bug is fixed now. There is no error dialog pops up after right click selected text. So closed it.
![无标题](https://user-images.githubusercontent.com/45864017/74796921-e7abec00-5304-11ea-8f63-de859418b67d.png)

[2020-02-19 02:45] #2872 closed

[2020-02-19 02:53] ghost opened #2877 "Combobox list nodes do not show expanded when Inspect focus on the dropdown list value"
* .NET Core Version: .NET Core SDK 5.0.100-preview.1.20116.7 + the VSIX Inserted into Dev16 16.6.0 [29816.22.master]

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

Combobox list nodes do not show expanded when Inspect focus on the dropdown list value

**More Info:**
1. This is not a regression issue, it's can reproduce in the .NET Framework project and C

[2020-02-19 04:45] RussKie commented on #2636
Yes, thank you for the heads up.

[2020-02-19 04:45] #2636 closed

[2020-02-19 05:04] RussKie commented on #2689
@merriemcgaw I suspect this may be somewhat related to the overall theming discussions, see https://github.com/dotnet/winforms/issues/2543

[2020-02-19 05:12] RussKie opened #2879 "Run CI tests in x86 and x64"
Right now all our tests are run in "Any CPU" mode. However we have a number of interop API that are platform specific, and we are unable to test those.

CI tests must run under x86 and x64. When time comes they will also must be run under arm64 as well.

[2020-02-19 07:07] #2879 closed

[2020-02-19 11:54] M-Lipin commented on #2870
We also need to focus on the documentation updates:
* https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.accessiblename?view=netframework-4.8
* https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.accessibledescription?view=netframework-4.8
* https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.accessibledefaultactiondescription?view=ne

[2020-02-19 12:11] M-Lipin opened #2884 "Update documentation and guides related to WinForms Accessibility"
** .NET Core Version:**

.NET Core SDK (reflecting any global.json):
 Version:   5.0.100-alpha.1.20073.10
 Commit:    29f4d693a9

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100-alpha1-05536\

**Have you experienced this same bug with .NET Framework?:**
Yes

**Problem description:**

[2020-02-19 12:21] M-Lipin commented on #2884
It would be good to update the documentation with more descriptive text:

**Proposition for 'AccessibleName' property doc update:**
'AccessibleName' property is used as a control name that can be easily accessed by users with disabilities who are assisted by accessibility technologies (UI Automation)/applications to translate the form content as an accessible content (for instance audio announceme

[2020-02-19 12:23] M-Lipin commented on #2870
Related issue about accessibility docs update: #2884

[2020-02-19 12:37] weltkante commented on #2884
I don't like this. Control names are not suitable to exposing via accessibility.

The designer defaults control names to variable names and often you have syntax like underscore or hungarian notation `txtUserName` where you prefix controls with an abbreviation of their type. You cannot have spaces in control names either (because variable names cannot have spaces) and you cannot localize control n

[2020-02-19 17:41] Tanya-Solyanik commented on #2884
Based on the following example:

I think Mikhail meant `display name` , not the `Control.Name` property.

[2020-02-19 18:37] Tanya-Solyanik commented on #2689
@Zheng-Li01 , if contrast ratio is too low, could you please also test the 4.7 Framework app with
"Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl" set to true? This will opt out from the using RichEdit version 5. In Core, we removed all quirks and now Core always loads the latest rich edit control version. I suspect that selection color comes from the native control, rather than winfor

[2020-02-19 19:14] filipnavara opened #2886 "Runtime crash due to localization and the way designer serializes keyboard shortcuts"
* .NET Core Version: 3.1.2

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Steps to reproduce:
- Create a blank .NET Framework WinForms application with a Form.
- Set the Form to `Localizable = true` in the designer.
- Add context menu with single item.
- Set the `ShortcutKeys` on the item to `Control+C`.
- Observe that the application works just fine on .

[2020-02-19 19:30] weltkante commented on #2884
Possibly, but for documentation this needs to be not ambigous, "control name" is a term most developers connect to the `Control.Name` property.

[2020-02-20 03:56] Zheng-Li01 commented on #2689
@merriemcgaw, the color contrast for the black text, light blue selection is ok, see below screenshot.
![GithubIssue](https://user-images.githubusercontent.com/38325459/74899048-bac80980-53d6-11ea-8c7a-a6bcdf380f09.PNG)
@Tanya-Solyanik, testing the winforms app targeting .NET >= 4.7, after setting the"Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl" set to true, the app using the RichEd

[2020-02-20 04:21] Zheng-Li01 commented on #2178
@merriemcgaw verified the issue with latest .NET Core SDK 3.1[3.1.200.14989] build, the issue still can preproduce.

[2020-02-20 13:02] ygc369 commented on #146
Can this task dialog have textBox in it? Can it be used as an inputBox?

[2020-02-20 13:10] ygc369 opened #2891 "[Proposal] Add a new kind of dialog box ---- InputDialog"
InputDialog can be used to get user's input text. VB already has this kind of dialog box. I hope that C# winform can have a more powerful one. (Although C# can use VB's InputBox, but it is ugly.)

[2020-02-20 13:47] M-Lipin commented on #2689
So in the context of Accessibility requirements (contrast ratio) there is no violation. But in the context of consistency it should be fixed. @merriemcgaw, is it correct?

[2020-02-20 14:24] M-Lipin commented on #2884
Yes, thanks, I meant display name or the name which usually provided in the label just before the control.

[2020-02-20 22:27] Tanya-Solyanik commented on #2689
I don't see highlight color exposed in RichEdit [APIs](https://docs.microsoft.com/en-us/windows/win32/controls/about-rich-edit-controls)

[2020-02-20 23:25] RussKie commented on #2891
Please provide more details, including (but no limited to) references to Win32 API, screenshots, a proposal for the new API proposals, and what usecases it would be addressing.

[2020-02-20 23:30] RussKie commented on #146
No, this is an implementation of https://docs.microsoft.com/en-us/windows/desktop/Controls/task-dialogs-overview

[2020-02-20 23:33] RussKie commented on #2689
This is how the Notepad has it:
![image](https://user-images.githubusercontent.com/4403806/74989817-98e18c00-5495-11ea-8b1f-6d105387c3cc.png)

So I guess we may want it fixed

[2020-02-21 00:30] AdamYoblick commented on #2053
Hi everyone!

I've completed a proof of concept for building winforms for arm64. This isn't "officially supported" yet, but it seems to work building on both my x64 machine (with the x64 .net core sdk), as well as building on the arm64 machine (with the x86 .net core sdk).

For more information, please see https://github.com/dotnet/winforms/wiki/Building-for-ARM64. If you run into any issues, plea

[2020-02-21 01:55] #1832 closed

[2020-02-21 02:09] RussKie commented on #2884
This issue should really moved to the docs repo.

I wouldn't mention "disabilities" at all.
[code]

[2020-02-21 10:04] vladimir-krestov opened #2897 "[Accessibility] A control can have many tooltips"
* .NET Core Version: 5.0.100-alpha1-016143

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
- A form can show several tooltips at the same time
![image](https://user-images.githubusercontent.com/49272759/75023185-6db46800-54a8-11ea-9913-6713c97d2392.png)
![image](https://user-images.githubusercontent.com/49272759/75022884-ecf56c00-54a7-11ea-9d99-a47016b48d2

[2020-02-21 11:32] weltkante commented on #2897
I don't agree on the expected/unexpected part, this is how the implementation is designed to work, I'd rather resolve this on the documentation side.

In particular this is not a bug, it is an inherent part of how the component model is expected to work. Tooltip is a component which is supposed to be added to the component collection of a container (usually through the designer). How it works is t

[2020-02-21 12:58] ygc369 commented on #2891
@RussKie
I don't know much about Win32 APIs, I just want an InputDialog as a new control.
Roughly it should be a new kind of MessageBox with a TextBox. It would be used when the program need user's input.
It can be like this:
+-----------------------------------------------------------------------+
|  Title Text

[2020-02-21 13:39] weltkante commented on #2891
I can confirm the need for a generalized input mechanism for simple text requests. Usually everyone builds his own dummy form for such a purpose but of course that means in practice it doesn't have uniform user experience across applications. Message boxes, save file dialogs etc. all get a uniform user experience so IMHO the same should be applied to simple input requests.

There already exists a

[2020-02-22 01:24] ygc369 commented on #2891
@weltkante
I used VB's InputBox before, but I dislike it, for it is ugly and looks inconsistent with other part of my application.

[2020-02-22 18:32] JarLob opened #2902 "Unintended checkbox (state icon) state change in multi selection case with SHIFT+LeftMouseClick when clicked not on the first column"
* .NET Core Version:

The issue was found in .NET Framework, but I believe .NET Core inherited it as the identified source code cause is the same.

* Have you experienced this same bug with .NET Framework?:

 Yes

**Problem description:**

System.Windows.Forms.ListView.WmNmClick implementation contains:
https://github.com/dotnet/winforms/blob/8af8e84c51a0740c339a292263c94d25b46f5324/src/System.Win

[2020-02-24 02:28] merriemcgaw commented on #2897
Perhaps we can consider this issue as a part of the redesign of tooltips as part of supporting WCAG2.1. We know there will be changes there to support hoverable, dismissible and persistent requirements that are being added by WCAG2.1. So this seems like a good time to evaluate the entire model. Definitely something we can consider.

[2020-02-24 02:31] merriemcgaw commented on #2891
@ygc369 what would your ideal InputDialog look like? Is there a reason you would be blocked creating a simple InputDialog for your application which is consistent and aligns with the visuals in your app?

[2020-02-24 02:35] merriemcgaw commented on #2877
@M-Lipin does this show up in Accessibility Insights for Windows passes? If not, we may not have an issue here that must be solved in 5.0

[2020-02-24 02:39] merriemcgaw commented on #2870
I’d prefer a world where WinForms is accessible by default. If we remove AccessibleName default values we are further from being accessible by default than if we have an AccessibleName property that contains the localized control type. From an app compliance perspective, I imagine that apps would be able to get exclusions if there is little chance for confusion with an AccessibleName that includes

[2020-02-24 03:16] Tanya-Solyanik commented on #2870
I don't think we are improving framework by providing default accessible names on public controls. First, we are not in a position to provide useful accessible names because we don't know business logic behind these controls. And second, by providing a default name we disable accessibility insights warnings that would otherwise explain developer how to provide a good  accessible name.

[2020-02-24 11:45] ygc369 commented on #2891
@merriemcgaw
It should look like a MessageBox with a TextBox in the center.
Everybody can create his own InputDialog, but as it is commonly used, many people have to do the same and repeated work, so they waste a lot of time. If the InputDialog can become an official control, it would save people's time.

[2020-02-24 12:54] janbaltus commented on #2886
From comments it seems CTRL being localized as STRG is causing crash.
Both Ctrl are localized.
If string is not ment to be localized it need to be locked by instruction.

Microsoft.DotNet.Wpf\src\UIAutomation\UIAutomationClientSideProviders\Resources\xlf\Strings.xlf
0; "KeyCtrl"
System.Windows.Forms\src\Resources\xlf\SR.xlf
0; "toStringControl"

Can you please confirm which one of above is the fun

[2020-02-24 13:12] filipnavara commented on #2886
`toStringControl` is the problematic one.

[2020-02-24 13:24] janbaltus commented on #2886
When we compare resource from .Net Framework same string ID was used and localized in the past

LocComment=(SLE)It's used by the KeyConverter to localize display of menu shortcuts,  it can be translated into whatever is printed on the keyboard for this key (eg. ALT) in the corresponding language.

So from our point of view this might be localizability issue in .NetCore.
@RussKie can you please che

[2020-02-24 13:30] janbaltus commented on #2886
please find xls with all tostring occurrences:
[.net.xlsx](https://github.com/dotnet/winforms/files/4244762/default.net.xlsx)

[2020-02-24 13:46] weltkante commented on #2886
Desktop Framework also stores ShortcutKeys localized in the resx file yet doesn't run into this issue. I don't think this is a localization problem as having localized ShortcutKey resx strings works in in Desktop Framework, its more likely that it is a tooling issue.

[code]

Note the `type="System.Windows.Forms.Keys, System.Windows.Forms"` which means the resx-compiler is supposed to translate th

[2020-02-24 13:54] filipnavara commented on #2886
@weltkante That is most likely correct assumption. .NET Core doesn't deserialize/reserialize resources during build.

[2020-02-24 14:11] weltkante commented on #2886
Yeah can confirm the tooling is badly designed here, .NET Core uses a new resx format which prefers string serialization over binary serialization.

On the reader side they do [ConvertFromInvariantString](https://github.com/dotnet/runtime/blob/master/src/libraries/System.Resources.Extensions/src/System/Resources/Extensions/DeserializingResourceReader.cs#L185)

But I guess on the writer side they d

[2020-02-24 14:21] filipnavara commented on #2886
The whole point of the CoreFX tooling was to avoid deserialization and reserialization of the resources and loading all the assemblies with the necessary converters (https://github.com/dotnet/corefx/pull/36906). /cc @ericstj

[2020-02-24 14:25] weltkante commented on #2886
Never mind, WinForms KeysConverter is also totally broken, in that it doesn't implement ConvertFromInvariantString correctly. It just ignores the culture being asked for and [initializes itself](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/KeysConverter.cs#L49) with the CurrentCulture.

Sorry for the multiple posts, seems like I was digging down

[2020-02-24 14:31] weltkante commented on #2886
@filipnavara @ericstj you can't avoid running the TypeConverter on build time if you want a culture-invariant serialization format. Serializer and deserializer must be symmetric in what culture they emit and expect.

[2020-02-24 14:31] filipnavara commented on #2886
Yeah, there is problem at multiple levels here and it's not obvious which level[s] need to be fixed.

[2020-02-24 15:30] filipnavara commented on #2886
How would the resource compiler know which culture to convert it from? The .resx file doesn't contain any hint about what culture it was created on. I would totally expect it to be already in the invariant form there. In this case English - my system culture - has the same strings as the invariant culture so it's hard to verify.

That looks like an obvious bug to me. For this particular case fixin

[2020-02-24 15:48] weltkante commented on #2886
Your expectations are wrong, resx files are localized (I'm on a german system and get 'Strg' instead of 'Ctrl' in my resx). Note that this behavior is the whole point of this issue, if resx files were invariant to begin with nobody would ever have run into this problem.

You can't just redefine resx files to be invariant unless you both
* update the VS designer to generate resx files invariant for

[2020-02-24 15:57] filipnavara commented on #2886
This is exactly the reason why I have real trouble believing that .resx can contain non-invariant strings. Note that the `KeysConverter` implementation in NetFX is broken in exactly the same way as the NetCore one (https://referencesource.microsoft.com/#system.windows.forms/winforms/managed/system/winforms/KeysConverter.cs), so even if the designer asked for conversion to invariant culture it woul

[2020-02-24 15:59] weltkante commented on #2886
Yes I realized a mistake in my reasoning and edited my last post. This may all be due to the broken KeysConverter. I'll run some tests with custom TypeConverters to figure out the exact behavior of the VS designer + resx build tools.

[2020-02-24 17:18] guybark opened #2907 "A form resulting from a call to Form.ShowDialog() should be exposed programmatically as a dialog."
**Is your feature request related to a problem? Please describe.**
According to https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-automation-element-propids, UIA providers can set UIA_IsDialogPropertyId true on UI that's semantically a dialog. Based on that property, an assistive technology such as a screen reader can decide how best to convey the dialog's information to the customer.

[2020-02-24 18:42] weltkante commented on #2886
Desktop Framework:
* VS designer interacts with the Property Grid in the Current Culture (OS language) but CurrentUICulture is the VS installation language - in other words the developer usually sees and edits the localized version in the designer (but for KeysConverter he will see keys localized according to his VS language because SR string resources in its implementation use CurrentUICulture no

[2020-02-24 19:22] filipnavara commented on #2886
Thanks for the detailed analysis!

We have already worked around the problem by manually updating the resources in our application to use locale-independent versions of key resources. However, it gets broken with any edit in designer so the solution is quite error prone. We will add a unit test to verify the problem at compile time but obviously we expect the issue to be tackled upstream at some p

[2020-02-24 23:44] #2818 closed

[2020-02-25 01:02] merriemcgaw commented on #2891
In answer to your question @weltkante, it's not really high on the radar or on the road map at this point. The case is interesting, but we don't have a lot of data points that would tell us we need to prioritize this above say the ARM64 work. That said, if the community wants this feature and is able to propose specific changes to the VB.NET one or it's own API, I'm totally happy to consider it an

[2020-02-25 01:11] merriemcgaw commented on #2689
I'm going to remove the accessibility label since @M-Lipin has shown there's no issue there. As far as whether we fix it - if it's not in the APIs as @Tanya-Solyanik showed then _can_ we fix it?

[2020-02-25 01:13] merriemcgaw commented on #2178
@Zheng-Li01 does Narrator read it properly and it just doesn't have the blue indicator, or are you saying you can't get Narrator to recognize it has focus at all?

[2020-02-25 03:35] Tanya-Solyanik commented on #2689
Maybe office quirked this color? I would think this is breaking for native applications that host rich edit and win32 contorls as well. But I would say, this is a low pri issue.

notepad is a win32 EDIT control:
![image](https://user-images.githubusercontent.com/15823268/75212424-c0f21900-573b-11ea-8fb5-bbfc471e2c8e.png)
WinWord is the richedit -
![image](https://user-images.githubusercontent.com/

[2020-02-25 04:04] hmartinez82 commented on #2053
@AdamYoblick  I'm trying to convince the manager/pm that we should use .Net Core  instead of .Net Framework for a project we're about to start from scratch. We don't have to support ARM64 right now but it will appear in the roadmap pretty soon.

Is it safe to say that WPF for .Net Core on ARM64 will be release in .NET 5 ?

Thank you.

[2020-02-25 07:57] Zheng-Li01 commented on #2178
@merriemcgaw, the empty DGV can't get Narrator to recognize it has focus at all. Please see below reproduce gif.
![core](https://user-images.githubusercontent.com/38325459/75226530-762ddb00-57e7-11ea-917c-02adf6ca3285.gif)

[2020-02-25 09:04] weltkante commented on #2053
You are asking in the WinForms repository ;-)

[2020-02-25 10:28] RussKie commented on #2053
There is a current expectation that .NET5 will be fully working on ARM64.
/cc: @richlander

[2020-02-25 12:37] vladimir-krestov commented on #2877
@merriemcgaw I couldn't find Accessibility Insights tests for this issue. This tool doesn't swear on this.
This issue affects on Narrator once (Quick focus reset on UseWaitCursor entry in the first time: gif). After it works correctly.
![mfLUVxcs20](https://user-images.githubusercontent.com/49272759/75248029-55b05180-57e4-11ea-8359-7585092ec6fa.gif)

I think we can fix it in the future

[2020-02-25 15:09] hmartinez82 commented on #2053
@weltkante  you're right 😅. I'll ask in the wpf repo

[2020-02-25 20:38] merriemcgaw commented on #2877
I think we'll wait until there is a product impact or we have some free cycles to dig too deeply into this one. I'll mark it for future, and accessibility. But if it's not blocking anyone I think we should be OK. It's an odd behavior but I think it shouldn't be a violation.

[2020-02-25 20:40] merriemcgaw commented on #2178
Thanks @Zheng-Li01 I think we will leave this marked as future. There isn't any real user impact as this is the empty datagrid view, and that's not a common scenario for customers.

[2020-02-25 20:41] merriemcgaw commented on #2689
I'll leave this marked as future and if we find some time we can investigate. But you're right, I highly doubt this is a blocking issue.

[2020-02-26 09:07] Marie-Shi opened #2910 "Double-clicking the text in the custom webbrowser component that put into SplitContainer cannot be selected"
* .NET Core Version:
.Net Core 3.1.200-preview-015002 from 3.1 Release branch + VISX inserted in the Dev16 16.6.0 [29825.171.master]

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info:**
1.	This issue cannot reproduce without SplitContainer.
2.	This issue cannot reproduce on WebBrowser from Winforms control that put into SplitContainer.
3.	This issue cannot reproduce on c

[2020-02-26 10:03] Jessie-Zhang01 opened #2912 "An exception occurred when MonthCalendar switched dates"
* .NET Core Version: 5.0.100-preview.1.20125.9

* Have you experienced this same bug with .NET Framework?:
No

**More Info**

1. This issue cannot reproduce on DateTimePicker.
2. This issue cannot reproduce on .Net 3.1.

**Minimal repro:**

1. Create a Winforms Core application.
2. Drag and drop a MonthCalendar to the form designer.
3. Build and run this application, then double click other date.

[2020-02-26 11:24] Thea-Zhao opened #2913 "An error dialog pops up when clicking the smart tag in the ListView control"
**.NET Core Version:**
.Net Core 5.0.100-preview.1.20125.9 from 5.0 Release branch + VISX inserted in the Dev16 16.6.0 [29825.171.master]

**Have you experienced this same bug with .NET Framework?:**
  No

**More info:**

1. This issue cannot reproduce when targeting .NET Core 3.1.
2. This issue also can reproduce with the TreeView/PictureBox controls.

**Minimal repro:**

1. Create a Winforms cor

[2020-02-26 11:27] Thea-Zhao opened #2914 "VS crashed when clicking the smart tag in the ImageList control"
**.NET Core Version:**
.Net Core 5.0.100-preview.1.20125.9 from 5.0 Release branch + VISX inserted in the Dev16 16.6.0 [29825.171.master]

**Have you experienced this same bug with .NET Framework?:**
No

**More info:**
This issue can reproduce when targeting .NET Core 3.1.

**Minimal repro:**

1. Create a Winforms core app.
2. Drag and drop a ImageList to the form.
3. Click the smart tag in the to

[2020-02-26 11:50] Thea-Zhao commented on #2913
This is a designer issue, so close this issue.

[2020-02-26 11:50] #2913 closed

[2020-02-26 11:50] Thea-Zhao commented on #2914
This is a designer issue, so close this issue.

[2020-02-26 11:50] #2914 closed

[2020-02-26 12:38] Jessie-Zhang01 opened #2915 "The value of ScrollBar has be changed automatically when release the mouse"
* .NET Core Version: 5.0.100-preview.2.20120.11

* Have you experienced this same bug with .NET Framework?:
Yes

**More info**

1. This issue can reproduce in the framework application, and it's not a regression issue, it can reproduce on .Net framework 4.0.
2. This issue cannot reproduce on TrackBar.
3. The value of the scrollbar increases by one depending on the right/down drag.
4. The value of

[2020-02-26 15:33] hughbe commented on #2915
Looking at the code
[code]

Could the problem be that `LargeChange` below should be `SmallChange`?
[code]

[2020-02-26 15:42] weltkante commented on #2915
No, definitely not SmallChange, that is for individual increments, while the formula you see there is to limit scrolling when the last item appears on screen.

`Maximum` is the total number of items, `LargeChange` is the maximum number of items visible at a time, `Value` is the index of the first item visible. This means that when the last item is visible the first item will be `Maximum-(LargeChan

[2020-02-27 16:56] DustinCampbell opened #2921 ".NET Core 3.1 WindowsDesktop application can fail when rolled forward to .NET 5 preview"
* .NET Core Version:
.NET Core 3.x -> .NET 5

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The `System.Windows.Forms.Design.Editors.dll` assembly has been removed in .NET 5, which can cause applications built with .NET Core 3.x to fail if they used a type from that assembly and are permitted to roll forward on major versions.

**Expected behavior:**

The

[2020-02-28 09:15] weltkante commented on #2921
@RussKie @merriemcgaw just FYI if you intend to preserve binary compatibility between 3.0 and 5.0 you cannot add proper generic collection support (#2644). Return types of GetEnumerator have to change in order for `foreach` to pick it up; this will break applications which roll forward from 3.0 (just tested). Since loops over collections are probably going to be pretty common you can't treat it as

[2020-02-28 09:22] weltkante commented on #2644
#2921 takes effort to preserve binary compatibility to 3.x in order to allow roll-forward. Note that this conflicts with adding foreach/nullability support to collections in WinForms. (See comment over there for details.)

[2020-02-28 13:49] DotNetAppCompatFeiWang opened #2925 "System.MissingMethodException at System.Windows.Forms.Application.SetHighDpiMode(System.Windows.Forms.HighDpiMode) in GreenShot unit tests"
* .NET Core Version:

.NET Core SDK (reflecting any global.json):
 Version:   5.0.100-preview.1.20125.9
 Commit:    12e88ed2e5

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.17763
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100-preview.1.20125.9\

Host (useful for support):
  Version: 5.0.0-preview.1.20120.5
  Commit:  3c523a6a7a

.NE

[2020-02-28 14:05] weltkante commented on #2925
related: #2921

[2020-02-28 14:07] weltkante commented on #2921
#2925 has more binary incompatibility

[2020-02-28 20:29] weltkante opened #2926 "Tests always run x64 in VS (even when selecting x86)"
### Problem ###

PR #2851 will introduce tests specific to x86/x64 environments but winforms build infrastructure is broken and always runs tests in x64 when running within Visual Studio, even when explicitly selecting x86 in the VS test explorer toolbar.

### Workaround ###
run tests from console via `.\build.cmd -platform x86 -test`

### Root Cause / Fix ###
* this was a bug in VS which has been

[2020-02-28 21:08] AdamYoblick commented on #2921
Trying this repro and testing Igor's fix shortly.

[2020-03-02 05:02] RussKie commented on #2921
@weltkante thank you, but you may be misinterpreting the intent of this work.

Whilst this bug is may affect our users, and it may not be totally unreasonable to ask to recompile, it is not the main driving factor here. The bug is currently blocking the VS Designer from rendering previews for different versions of .NET Core/.NET (due to a number of API moved from one assembly to another), and we d

[2020-03-02 05:39] dehghani-mehdi opened #2931 "Typo in winforms designer doc"
At [winforms-designer](https://github.com/dotnet/winforms/blob/master/Documentation/winforms-designer.md#option-1)

Doc says:

[code]

But in picture below it, the value of `TargetFrameworks` is `net472;netcoreapp3.0`.

[2020-03-02 06:26] Marie-Shi opened #2933 "[Accessibility]Narrator cannot announce localized control type of TextBox/MaskedTextBox"
* .NET Core Version:
.Net Core 5.0.100-preview.2.20151.5 from 5.0 master branch + VS2019 with latest core designer

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info:**
1.	This issue can reproduce on TextBox/MaskedTextBox/TextBox with MultiLine=true.
2.	This issue can also reproduce on .Net Core 3.1 release branch.

**Steps to reproduce:**
1.	Open the attached app “Narrat

[2020-03-02 08:25] weltkante commented on #2921
@RussKie I'm just saying that if #2644 is implemented the work done here doesn't matter because roll-forward will fail anyways as soon as anyone has an `foreach` loop (which is pretty likely). Giving people the false impression that roll-forward will be supported may be counterproductive. Personally I'd prefer a clear error message that you need to recompile (or dropping #2644 if the impact is con

[2020-03-03 04:14] #2925 closed

[2020-03-03 11:21] Jessie-Zhang01 opened #2935 "An exception occurred when using Class library project in Winforms Core project"
* .NET Core Version: .Net Core 3.1.200-preview-015008 from 3.1 release branch

* Have you experienced this same bug with .NET Framework?:
No

**More info:**
This issue cannot reproduce when reopen the solution.

**Minimal repro:**

1. Create a Winforms Core application.
2. Drag and drop a label to the form designer.
3. Create a new Class Library(.Net Core) project under the solution.
4. Open Class