[2020-10-16 08:07] kirsan31 opened #4122 "What's new documentation is missing"
There are [no single word](https://docs.microsoft.com/en-us/dotnet/core/dotnet-five) (except VB templates) about what's new for WinForms in .net 5.0 :( [1785](https://github.com/dotnet/winforms/compare/v3.1.9...v5.0.0-rc.2.20475.11) commits and absolutely nothing new? The only thing that can be found it's [breaking changes](https://docs.microsoft.com/en-us/dotnet/core/compatibility/winforms), but

[2020-10-16 09:00] kirsan31 commented on #3338
V.S. 16.8 P. **4** - [same behavior](https://github.com/dotnet/winforms/issues/3338#issuecomment-703426718).

[2020-10-16 09:55] John-Qiao opened #4123 "[Accessibility] The values of IsKeyboardFocusable and HasKeyboardFocus fields are incorrect for DomainUpDown/NumericUpdown control in Inspect UIA structure"
* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20514.15

* Have you experienced this same bug with .NET Framework?:
No

**More Info:**

1. This issue does not occur in .NET Core 3.1 and .NET Framework.
2. This issue occurs in NumericUpDown control too.

**Problem description:**

The IsKeyboardFocusable field is **false** and the HasKeyboardFocus field is **true** in UIA structure.
![Actual](https:/

[2020-10-16 10:05] albahari commented on #4053
This seems to be fixed - I'm closing the issue for now

[2020-10-16 10:05] #4053 closed

[2020-10-16 10:14] RussKie commented on #4053
Great to hear. Thanks for the follow-up.
________________________________
From: albahari <notifications@github.com>
Sent: Friday, 16 October 2020 9:06 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Igor Velikorossov <Igor.Velikorossov@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet/winforms] OutOfMemoryException in .NET 5, thrown from Graphics.FromHdcInternal (#

[2020-10-16 10:47] vladimir-krestov commented on #3680
@merriemcgaw, should we move this to "Done" in our project?

[2020-10-16 10:48] SergeySmirnov-Akvelon commented on #3658
@merriemcgaw, what should we do in scope of this task?

[2020-10-16 16:59] dreddy-work commented on #4115
Thanks @CarlosBressan  for reporting this. Few questions.

- Did you try this with latest .NET core ([SDK 5.0.100-rc.2](https://dotnet.microsoft.com/download/dotnet/5.0))available?

- I used same test application you provided and i see following. But, I have latest runtime.

![image](https://user-images.githubusercontent.com/36968667/96287044-2f6b3c00-0f96-11eb-8f04-a4e88a8f2459.png)

[2020-10-16 17:24] CarlosBressan commented on #4115
Hi @dreddy-work , I'm using the preview version ando gonna try the RC.2.

[2020-10-16 19:39] Tanya-Solyanik commented on #4123
@John-Qiao - good bug! Do you happen to know when this regressed in 5.0?

[2020-10-16 19:52] Tanya-Solyanik commented on #4121
@merriemcgaw - this regression makes checked list box unusable under UIA - we should consider servicing.
@Zheng-Li01 - great bug! Do you happen to know when this regressed?

[2020-10-16 19:55] merriemcgaw commented on #4121
Yes, this is something we need to service.

[2020-10-16 19:59] Tanya-Solyanik commented on #4120
@Zheng-Li01 - great bug! Do you happen to know when it regressed?
@merriemcgaw  - we are not showing LINK element of the link label... so the user can't click it, we should service it....

[2020-10-16 22:26] merriemcgaw commented on #4084
@Olina-Zhang can you check out this scenario without WPF involved - just the NotifyIcon scenario on multi-monitor setups?

[2020-10-16 22:40] merriemcgaw commented on #4122
Hi @kirsan31 ,

Thanks for pointing out the lack of documentation around WinForms .NET 5 and the designer. We're working with the docs team to get our runtime changes incorporated into the docs as soon as possible. I'd expect to see something merged next week sometime, depending on reviewers. We have made substantial investments in the WinForms runtime, including early in .NET 5 the TaskDialog con

[2020-10-16 23:58] paul1956 commented on #4122
For starters something on TaskDialog which is not in Toolbox so very hard to discover. I found it this week and am in love (my wife of 45 years is jealous). But seriously searching for it takes you to Windows Control, I did finally find some samples but they only helped to a point then it was trial and error. For Designer support, it would be nice to know what is fixed, as far as public documents

[2020-10-17 01:45] merriemcgaw commented on #3658
assigning this to myself for now to make sure I have it on my list to discuss with @guybark.

[2020-10-17 01:46] merriemcgaw commented on #3680
@Olina-Zhang has the underlying AzDO bug been closed?

[2020-10-17 07:47] kirsan31 commented on #4122
@merriemcgaw thanks for the answer! About runtime, my main point was that ppl **outside of this repo** know nothing about work on WinForms, and this is not good for the project and overall :(
As for designer, paul1956 weltkante and me already pointed that it would be nice if its development was more transparent.

For us, the designer is now the most inhibiting link for a complete transition to the

[2020-10-18 08:31] RioInf opened #4129 "DataGridView Memory Leaks"
* .NET Core Version: 5.0 rc1, 5.0 rc2 and Final 5.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
When the app run, per cell click in DataGridView even at VerticalScrollBar, when i looked at Task Manager, the app drains memory 10 to 30 MB per click before automatic reclaim at 590 MB

**Expected behavior:**
Memory should not leaks

**Minimal repro:**
Downl

[2020-10-18 21:17] kirsan31 commented on #4129
@RioInf  can you use bug report template pls?

<details><summary>bug report template</summary>

[code]

</details>

[2020-10-19 02:01] Marie-Shi opened #4130 "[Accessibility]Inspect: The MSAA structure of NumericUpdown/DomainUpDown in Core is missing some children nodes"
* .NET Core Version:
.Net 6.0.100-alpha.1.20516.5

* Have you experienced this same bug with .NET Framework?:
No

**More info:**
This issue cannot repro on .Net Core 3.1.

**Minimal repro:**

1. Create a .NET Core project with a Label control and change the text to ‘numericUpDown’.
2. Add a NumericUpDown control to form.
3. Build and run the core project.
4. Open the Inspect tool and observe the N

[2020-10-19 02:11] Lydia-Shi opened #4131 "A warning dialog pops up when setting SelectedImageIndex property to '(none)' in TreeNode Editor"
* .NET Core Version:
NET SDK 5.0.100-rtm.20515.8

* Have you experienced this same bug with .NET Framework?:
No

**More info:**

1. This issue also occurs when setting ImageIndex property in TreeNode Editor.
2. This issue cannot repro when targeting 3.0&3.1.
3. This is a regression issue, it cannot repro in .NET 5.0.100-rc.1.20452.10.

**Problem description:**
A warning dialog pops up when setting

[2020-10-19 03:16] Olina-Zhang commented on #3680
Yes, it is closed.

[2020-10-19 04:05] paul1956 commented on #4122
@merriemcgaw I am trying to port some user controls to Core 5 and I would love to get the new documentation (Breaking changes...). For example when I have a local Enum (Right, Left, None) which displays  the default value "Left" correctly in designer until I try to change it then I get a popup dialog, "Object reference not set to an instance of an object" or if I try to resize the control I get th

[2020-10-19 09:12] Zheng-Li01 commented on #4121
@Tanya-Solyanik, verified the issue from 5.0.rc2 to  5.0.100-preview.1.20155.7(https://dotnet.microsoft.com/download/dotnet/5.0), the issue reproduce all the time.

[2020-10-19 09:12] Zheng-Li01 commented on #4120
@Tanya-Solyanik, verified the issue from 5.0.rc2 to 5.0.100-preview.1.20155.7(https://dotnet.microsoft.com/download/dotnet/5.0), the issue reproduce all the time.

[2020-10-19 10:10] John-Qiao commented on #4123
@Tanya-Solyanik in my test result, this issue still can be reproduced with .NET 5.0.100-preview.2.20175.2 SDK, please check below screenshot:
![NET5 0-P2](https://user-images.githubusercontent.com/45864985/96430275-8aba5a00-1234-11eb-9709-637d47514e5b.png)

And I tried to reproduce this issue with .NET 5.0.100-preview.1.20155.7 SDK too, but the project can only be built in 'dotnet build' command l

[2020-10-19 13:23] CarlosBressan commented on #4115
Hi @dreddy-work , I did the upgrade, but it not work.

![image](https://user-images.githubusercontent.com/50844862/96456589-0dbbc000-11f5-11eb-9253-381db61a1133.png)

What more can I try?

[2020-10-19 17:29] dreddy-work commented on #4122
While I let @merriemcgaw  respond on documentation part, I am curious on the "Object reference exception" in the designer. @paul1956 , is it possible to share a sample app with a 'gif' of operation you are performing that cause this excfeption? By any chance is this happening on a secondary monitor with different DPI setting than primary monitor?

[2020-10-19 18:02] dreddy-work commented on #4115
I see the repro.  In core, we added a new template that brings in some of the High DPi nature and somehow that is interacting with the Font. @KlausLoeffelmann , can you take a look at this porting scenario and see how we can support it?

[2020-10-19 18:02] JeremyKuhne opened #4135 "Utilize function pointers for interop"
Function pointers provide better performance. Creating this issue to discuss utilizing them in Windows Forms interop.

Things we should consider / look at:

- Win32 callbacks
- High usage COM interfaces
- ?

[2020-10-19 18:13] JeremyKuhne commented on #4135
Some Runtime changes:

https://github.com/dotnet/runtime/pull/43514
https://github.com/dotnet/runtime/pull/39752
https://github.com/dotnet/runtime/pull/39082

[2020-10-19 18:19] KlausLoeffelmann commented on #4115
Well, yes. Can you try to use 16.8 Preview 4 and create a project from the templates provided with that version?
I think, you're app is running in `Unaware`, while the Designer is running in `SystemAware` HighDpiMode.

When you create a net5 VB WinForms app (you need the latest [.NET 5 SDK](https://aka.ms/dotnet/net5/5.0.1xx/daily/Sdk/dotnet-sdk-win-x64.exe) for this to work!), you will be enable

[2020-10-19 18:22] JeremyKuhne opened #4136 "Using source generators for interop"
This issue is for tracking usage of source generators for interop.

The Runtime is considering implementing P/Invoke support through source generators: https://github.com/dotnet/runtime/blob/master/docs/design/features/source-generator-pinvokes.md

We should also be exploring is implementing common patterns via source generators. Things like:

- Handling common buffer usage patterns (buffer growth

[2020-10-19 20:06] DustinCampbell opened #4137 "ComponentActionsType is defined in the incorrect namespace"
It appears that this was completely accidental, but the `ComponentActionsType` is declared in the incorrect namespace in .NET Core. On .NET Framework, it was declared in `System.ComponentModel.Design` but is declared in `System.Windows.Forms.Design` in .NET Core. This type is intended to be used the `DesignerActionService.GetComponents(...)` method, which is correctly declared in `System.Component

[2020-10-19 20:17] DustinCampbell commented on #4137
FWIW, I think usage of this type is probably _extremely_ low, so it's probably not worth fixing. I would assume this was mis-ported in .NET Core 3.x.

[2020-10-19 20:21] dreddy-work commented on #3047
@John-Qiao , can you try this, one more time with final version of Preview4?

[2020-10-19 20:58] JeremyKuhne commented on #4136
Related issues/pulls:

https://github.com/dotnet/runtime/pull/32091

[2020-10-19 21:05] kirsan31 commented on #3047
@dreddy-work I've checked.
- Changing styles works and produce code with both `netcoreapp3.1` and `net5.0-windows`. That's cool.
- All [this old bugs](https://developercommunity.visualstudio.com/content/problem/1143911/winforms-datagridview-styles-designer-bugs.html), are still present.
- **undo** not working or working bad:
![vsd1](https://user-images.githubusercontent.com/17767561/96511470-ccb0c

[2020-10-19 22:32] paul1956 commented on #4122
Unfortunately for me my HDMI port stopped working after update, so it's on 1 monitor, would be happy to do gif but have no idea how to capture a screen capture GIF. https://github.com/paul1956/AdvanceRichTextBox is a very small repo that shows both issues. Open Form1 and just try to change properties on AdvancedRichTextBox1, some work some give the error and it doesn't matter if you use property w

[2020-10-19 22:45] dreddy-work commented on #3047
Undo/Redo is something that is still in works for core designer. Can you create a new bug for that to track and close this issue to avoid confusion/ambiguity? We have a bug in the designer repo to track undo/redo but this repo is not public. So, new bug will be tracking purpose only.

[2020-10-19 22:48] dreddy-work commented on #3338
Inheritance in general was working fine when you build and open the designer. In this sample app, issue was because of a bug in the DataGridView designer code. This issue fixed today in the designer repo and will be available in the VS 16.9 preview2.

[2020-10-19 22:49] paul1956 commented on #4122
When you change DockSide or Size
![image](https://user-images.githubusercontent.com/12789369/96519756-8e44e580-1222-11eb-8b20-6aa0a938bafc.png)

[2020-10-19 22:50] dreddy-work commented on #3338
Also, original issue was about the inheritance, I think we can close this issue. Let me know if you disagree @kirsan31.

[2020-10-19 23:59] RioInf commented on #4089
Great if PlaceHolderText works like HTML Input control, PlaceHolderText only 'hide' when user type one or more character

[2020-10-20 03:00] Olina-Zhang commented on #4084
I can repro this issue in our both Winforms .Net Core and .Net framework app on multi-monitor setups: when form moves to secondary screen, the binding menuContextStrip for notifyIcon cannot be shown.
.Net Core app:
[WindowsFormsCore.zip](https://github.com/dotnet/winforms/files/5405984/WindowsFormsCore.zip)
.Net framework app:
[WindowsFormsApp6.zip](https://github.com/dotnet/winforms/files/5405988

[2020-10-20 04:07] RussKie commented on #4089
This can be done with `EM_SETCUEBANNER` with `wParam=BOOL.TRUE`. But in Widnows Forms we'll have to provide an new API to allow toggle of this flag.
And it won't be compatible with the current custom implementation.

[2020-10-20 04:51] RussKie commented on #4122
@paul1956 this has clearly has nothing to do with documentation, please submit a VS Feedback ticket for this issue.

[2020-10-20 04:54] RussKie commented on #4137
Would a type forward fix it?

[2020-10-20 05:02] RussKie commented on #4129
Please provide a sample project.

[2020-10-20 06:40] John-Qiao commented on #3047
@dreddy-work I have retested this issue with latest main VS 2019 + latest .NET 5.0.100-rtm.20518.2 SDK, all the cell style property dialogs can be opened correctly in **Properties** window whether targeting project to .NET Core 3.1 or .NET 5.0. But the cell style property dialog still cannot be opened from PropertyGrid when running project. Please check the below gif files:

1. When targeting proj

[2020-10-20 07:10] kirsan31 commented on #3047
OmG. I think it's my personal failure - I confused everyone in this thread :( I just once again read original issue and understand that all of this was about **runtime** - not designer! Sorry :worried:
Can confirm all @John-Qiao said above, this is **runtime** regression:
- `net5.0-windows` - error.
- `netcoreapp3.1` - gray out.
- `net472` - works as expected.

[2020-10-20 07:18] kirsan31 opened #4139 "[Designer] Undo / Redo not working correctly."
* .NET Core Version: All.

* Have you experienced this same bug with .NET Framework?: No.

**Problem description:**
As @dreddy-work [asked](https://github.com/dotnet/winforms/issues/3047#issuecomment-712482616) this is tracking only issue.
Undo / Redo not working correctly in new designer (V.S. 16.8 p4):
![vsd1](https://user-images.githubusercontent.com/17767561/96553066-4c1cb200-12bd-11eb-9b7d-f4

[2020-10-20 07:49] kirsan31 commented on #3338
@dreddy-work I've checked our big project and with visual inheritance seems all is ok...
But there were other problems about the new designer. Where to report them? V.S. report tool?

[2020-10-20 09:36] paul1956 commented on #4122
Sorry I was responding to comment by @dreddy-work, forgot what repo I was in.

[2020-10-20 10:21] SergeySmirnov-Akvelon commented on #4100
Hi @JeremyKuhne. I see that fixes for it have been merged into [5.0](https://github.com/dotnet/winforms/pull/4119) and [master](https://github.com/dotnet/winforms/pull/4117) branches. Are there any additional actions required from us or can we close this bug?

[2020-10-20 11:45] SergeySmirnov-Akvelon commented on #3885
If I understand correctly, the bug is that when you try to move cursor to the button tooltip, the tooltip disappears, though for the form it continues to be displayed. I think this happens because the tooltip is displayed while the cursor is on the element that the tooltip belongs to. If the button is small, then when you try to focus on the tooltip, the cursor goes beyond the boundaries of the bu

[2020-10-20 15:05] bairog opened #4141 "Steema.TeeChart.NETCore.WinForm control is not fully supported by current version of Windows Forms Designer for .NET Core"
* .NET Core Version:
3.1.9

* Have you experienced this same bug with .NET Framework?:
 No

**Problem description:**
I've created .NET Core WinForms application and added **Steema.TeeChart.NETCore.WinForm** nuget-package.
As I can see Steema.TeeChart.NETCore.WinForm control is not fully supported by current version of Windows Forms Designer for .NET Core even in latest Visual Studio 2019 16.8.0 Pr

[2020-10-20 15:54] kirsan31 commented on #4141
@bairog I think most recent info about this is [here](https://github.com/dotnet/winforms/issues/4122#issuecomment-710683742).

[2020-10-20 17:02] Shyam-Gupta commented on #2853
The watson bug has been resolved as there were no new hits after 16.2. It seems it has got fixed after DataGridView was replaced with TextBox in String Collection Editor in 16.2. So this bug is not actionable as well.

[2020-10-20 17:44] KlausLoeffelmann commented on #4023
Hey @paul1956 - I will take a look as soon as I get a couple of other pressuring things of my plate. Hang in there!

[2020-10-20 17:44] #4100 closed

[2020-10-20 17:50] dreddy-work commented on #4141
Thanks @bairog for reporting this. We are gradually adding support for third party controls and we expect the primary scenarios to work by now. We will look into this soon and update here.

[2020-10-20 18:00] dreddy-work commented on #3338
You can always report them via VS feedback tool. And that is preferred way for now for designer related issues. But if you end up reporting here, we might transfer the issue t designer repo ( which is not public) and it would be hard to track the status for you.

[2020-10-20 18:13] dreddy-work commented on #3338
As you opened #4139 , closing this issue.

[2020-10-20 18:13] #3338 closed

[2020-10-20 22:03] dreddy-work commented on #2853
@M-Lipin, referenced watson bug was resolved with no hits in the recent builds.  Unless we have a repro for this scenario, we should close this issue.

[2020-10-20 22:25] paul1956 commented on #4023
@KlausLoeffelmann, thinks for the update, I posted additional details on the Documentation Repo by mistake. I posted a complete very small repo at
https://github.com/paul1956/AdvanceRichTextBox that shows designer issues. Open AdvancedRichTextBox and just try to change properties on LineNumbersForRichTextBox, some work, some gives dialog https://user-images.githubusercontent.com/12789369/96519756-

[2020-10-20 23:21] #2853 closed

[2020-10-21 01:34] John-Qiao commented on #3885
@SergeySmirnov-Akvelon yes, when the tooltip text is completely 'included' in the button control, the tooltip text can be focused and no error shows in Accessibility Insights tool testing result. If the tooltip text is partially 'included' in the button control, it can be focused using Accessibility Insights tool too, but the initial error still shows in Accessibility Insights tool testing result.

[2020-10-21 01:58] Zheng-Li01 commented on #4139
@dreddy-work, @kirsan31, actually, for this issue, the first part, have the issue [2395 ](https://github.com/dotnet/winforms-designer/issues/2395)in the dotnet/winforms-designer repo to track it; for the second part, have the issue  [2396](https://github.com/dotnet/winforms-designer/issues/2396) in the dotnet/winforms-designer repo to track it. please have a look.

[2020-10-21 06:03] bairog commented on #4122
@paul1956 you can use any screen recorder program, gif screen recorder for example.

@dreddy-work Yesterday you replied in my issue topic ([Steema.TeeChart.NETCore.WinForm control is not fully supported by current version of Windows Forms Designer for .NET Core](https://github.com/dotnet/winforms/issues/4141))

and today that topic disappeared:
![image](https://user-images.githubusercontent.com/44

[2020-10-21 08:25] SergeySmirnov-Akvelon commented on #3885
We think that current behavior is expected for tooltip. The moment the tooltip disappears, it stops returning its name. Unfortunately it is behavior of native control by default.
![3885-NativeControl](https://user-images.githubusercontent.com/23376742/96693286-b9007c80-138f-11eb-8b9f-7e459d53ff6b.gif)
If we look in the Inspector, and get the form components again after disappearing of tooltip then

[2020-10-21 11:14] RussKie commented on #4122
https://github.com/NickeManarin/ScreenToGif

The issue has been transferred to the designer repo, which is non-public.

[2020-10-21 15:12] merriemcgaw commented on #3658
Try using a table in Word or Outlook and seeing if an image in the table cell is announced and what property they are using to make it announce. If no one else does this I'd say we're done. We've reached out to Guy for more guidance.

[2020-10-21 15:14] merriemcgaw commented on #3658
It might be good to paste in the UIA Tree as it shows up in AI4Win and checking NVDA to see what they're doing as well.

[2020-10-21 15:54] merriemcgaw commented on #3885
Closing this issue as by design. This is how the native tooltip and at this point we don't have a way to manage this behavior. We should list this in what our requirements are for the Common Controls team when they enable WCAG2.1 support in the tooltip control.

[2020-10-21 15:56] #3885 closed

[2020-10-21 16:58] dreddy-work commented on #4122
That was my bad. I moved the issue to designer. Will bring it back here. and update status.

[2020-10-21 17:01] dreddy-work commented on #4122
Thanks @paul1956 . I will go over it soon and see how we can address them if they are related to run-time. At present, we are expecting the designer issues to be reported via Visual Studio feedback tool to track the status in public access.

[2020-10-21 17:59] madelson opened #4144 "VS should not bloat SDK project files with resx designer entries"
(Copied from https://developercommunity2.visualstudio.com/myfeedback?port=1025&fsid=9bbd6d1d-30dd-4380-b94e-af5035a8459d&entry=myfeedback where I was told to report this here instead)

With the new SDK file format, my team was excited to say goodbye to bloated csproj files using the new globbing feature. For example, to include resx files we use the following glob:

[code]

Unfortunately, when we

[2020-10-21 18:30] marknn3 opened #4145 "Visual Styles not enabled when app published as 'Self-contained' + 'Produce Single File'"
* .NET Core Version:
5.0.100-rc.2.20479.15

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

Application.EnableVisualStyles() does not enable Visual Styles when the application is published as 'Self-contained' + 'Produce Single File'.

The probable root cause is that ```typeof(Application).Assembly.Location``` returns an empty string for this scenario on .NE

[2020-10-21 19:56] KlausLoeffelmann opened #4146 "Add IsAncestorSiteInDesignMode for Control"
# Rationale

WinForms Developers need a more reliable way to check, if a custom control is currently in `DesignMode`. The Problem is that the `DesignMode` property of Control does only return true, if that control is a) actually sited, and b) then returns the `DesignMode` property of the Site.

In many cases, `DesignMode` that does not help: Whenever a control is part of a constituent control (lik

[2020-10-21 20:17] JeremyKuhne commented on #4145
Here is the relevant docs entry:

https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file#api-incompatibility

Some of the related issues.

https://github.com/dotnet/runtime/issues/40087
https://github.com/dotnet/runtime/issues/38405

Need to look for any of these problematic APIs in the code base.

[2020-10-21 20:20] JeremyKuhne commented on #4145
Presumably using the manifest to enable styles (comctl6) should work in single file, should validate that this is the case.

[2020-10-21 20:22] JeremyKuhne commented on #4145
Code in question: https://github.com/dotnet/winforms/blob/02089e92406b3f508c05060ee0ee7857a8ba3c11/src/System.Windows.Forms/src/System/Windows/Forms/Application.cs#L823

[2020-10-21 20:37] dreddy-work opened #4147 "Steema.TeeChart.NETCore.WinForm control is not fully supported by current version of Windows Forms Designer for .NET Core"
- .NET Core Version:
   3.1.9

- Have you experienced this same bug with .NET Framework?:
   No

**Problem description**:
I've created .NET Core WinForms application and added **Steema.TeeChart.NETCore.WinForm** nuget-package.
As I can see Steema.TeeChart.NETCore.WinForm control is not fully supported by current version of Windows Forms Designer for .NET Core even in latest Visual Studio 2019 16.8

[2020-10-21 20:45] dreddy-work commented on #4147
Bringing this issue back to the runtime repo so the bug owner can see the status and reply from the team.

Winforms Core designer SDK is not publicly available yet for third party controls. If third party control doesn't have a designer derived from the Core designer, its not going to work as expected.

[2020-10-21 21:25] paul1956 commented on #4122
@dreddy-work as I have said Feedback tool immediately closes designer issue as NOT SUPPORTED so I stopped opening them. But this is not the right place either so feel free to mark Off-Topic.

[2020-10-21 21:43] dreddy-work commented on #4144
Thanks @madelson for reporting this. While the work for resource Serialization/Deserialization is still in progress for Core, this particular issue might be handled by the https://github.com/dotnet/project-system. Will get a confirmation from the team before transferring the issue there.

[2020-10-21 22:06] kirsan31 commented on #3958
Just checked on 16.8.0 P**5** - same behavior (not working).

[2020-10-21 22:18] marknn3 commented on #4145
The only way to create the required ActivationContext to enable Visual Styles is via  System.Windows.Forms.ThemingScope.CreateActivationContext which is on an internal class.
And since reflection is not possible on single file, I see no workaround.

[2020-10-22 00:07] JeremyKuhne commented on #4145
@marknn3 The only practical workaround is to add a manifest file to your project and enable the 6.0 common controls section. Uncomment this section after adding a manifest item to your project:

[code]

I'm investigating a possible fix.

[2020-10-22 00:30] RussKie commented on #4146
I think this closely relates to https://github.com/dotnet/winforms/issues/3300. In my opinion the key problem with "design-time" check  is that everyone has different understanding of "design time". @weltkante has laid it out nicely in https://github.com/dotnet/winforms/issues/3300#issuecomment-708365820.

With this I think we need to break down different user scenarios, and walk from there:
1. A

[2020-10-22 00:47] paul1956 commented on #4145
When I publish 'Self-contained' + 'Produce Single File' the manifest is included and the code above is already there and not commented out. The publish still fails with
[code]
I am publishing a 64 bit app

[2020-10-22 01:10] KlausLoeffelmann commented on #4146
I struggled a bit with the name as well, but in the end I thought it also not a typical Joe developer scenario to begin with. Those who need it know what they are missing, and the name is honest. On top of that, I think the new API would get around comparatively quickly.

[2020-10-22 01:40] JeremyKuhne commented on #4145
@paul1956 I don't see that error. I created a new 5.0 WinForms application, added a button to the form to see the styles, and added an "app.manifest" and uncommented as above. Publishing as follows:

![image](https://user-images.githubusercontent.com/8184940/96808028-d869ca80-13cc-11eb-954f-d7e35f7cd69c.png)

[2020-10-22 01:45] JeremyKuhne commented on #4145
@agocke I've run into a bit of a wall here. I can't seem to get the `HMODULE` for the embedded .NET assemblies. Listing everything in the current process using `EnumProcessModules` doesn't show any .NET assemblies. Any ideas?

Note that `CreateActCtxW` does work with an `HMODULE` ref instead of a path outside of the single file scenario.

[2020-10-22 02:02] paul1956 commented on #4145
@JeremyKuhne not sure what the difference is, except mine is a real project. I get the error above and my project already had a manifest from framework and the XML above was already uncommented.
![image](https://user-images.githubusercontent.com/12789369/96809325-7e1e3900-13cf-11eb-8f57-df36eb5d72c6.png)

[2020-10-22 04:20] marknn3 commented on #4145
This does indeed re-enable Visual Styles! And for me this workaround is completely acceptable.

But since this is a regression it must indeed be fixed. Might not be trivial.

Thanks for the quick response!

[2020-10-22 05:51] RussKie commented on #4146
I disagree here, in my experience developers quite often want to do something funky at the runtime but not in the designer. GitHub shows 70K+ hits: https://github.com/search?l=C%23&q=DesignMode&type=code

[2020-10-22 05:55] RussKie commented on #4146
Browsing the GitHub I stumbled upon an implementation which is doing the same what you are proposing here - https://github.com/k3ralas/Zoo.Serialization/blob/0734d54f005f2d677d350bef2269ff4818085938/ZooRunner/ZooRunner.GUI/ControlExtensions.cs#L3

[2020-10-22 06:48] weltkante commented on #4146
While the API you suggest is easy to implement it won't quite cover the use cases from #3300, namely checking DesignMode in the constructor. Many people already want to know in the constructor if the control is going to be created for the designer or for the runtime and currently were using the licensing API for that as a workaround, but apparently this workaround broke in .NET 5.

As I mentioned

[2020-10-22 10:49] SergeySmirnov-Akvelon commented on #3895
Hi, @Zheng-Li01. Thank you for providing information about this issue. During investigation of it we found that issue is reproduced because ContextMenuStrip disappears when Accessibility Insights start to test it. Disappearance during a loss of focus is default behavior for the ContextMenuStrip. If to change behavior of ContextMenuStrip  and keep it displayed after losing focus then tests will pas

[2020-10-22 14:07] KlausLoeffelmann commented on #4146
What people think they want is one thing, what they need another. There could be a high chance that the wrong didactic in the documentation and discoverability is the real issue here.

So, let’s discuss the actual scenarios where people need this in the constructor, so the „and I need this because...“ cases:

[2020-10-22 15:21] IrinaPykhova commented on #4146
I need it to determine that arbitrary control regardless of whether it is used by its own or inside other control is used in IDE designer, not in running application. Now I had to check executing assembly name and compare it with DesignerServices.. Maybe I want to initialize some control properies differently in designer and runtime. Or maybe I don't want to run timers or background workers which

[2020-10-22 17:08] cadilhac opened #4148 "Fresh winforms project in VS can't load the winforms designer"
Using VS 2019 preview 16.8.0 preview 5.0

I created a new winforms project (.net core 3.1). Trying to open the form in the designer, I get a VS error letting me know that details are in the activity log xml file:

![forms1](https://user-images.githubusercontent.com/50608/96906283-95106a00-1467-11eb-8941-8dfe4c60600b.png)

In the xml file:

CreateInstance failed for package [Windows Forms Remote De

[2020-10-22 17:48] agocke commented on #4145
@JeremyKuhne Have you already loaded the assembly? Either by `Assembly.Load` or running code inside that assembly?

cc @vitek-karas. Context is trying to get an `HMODULE` handle from an embedded assembly and pass that to a helper, to avoid dependency on `Assembly.Location`

[2020-10-22 17:51] JeremyKuhne commented on #4145
@paul1956 Your issue should be tracked separately. Can you open a new issue with detailed repro steps? Note that I am currently:

1. Using VS 16.8.0 Preview 5.0
1. Using 5.0.100-rc.2.20479.15 for .NET (use `dotnet --list-sdks` to see what you have installed)
1. Publishing to a folder, *not* Click Once

As much detail as you can put in the new issue would be great. Please try to minimize the repro

[2020-10-22 17:59] JeremyKuhne commented on #4145
@agocke Yes, the assembly is loaded already. It shows in the assemblies debugger window and the code that is trying to get the `HMODULE` is actually running from the assembly I'm trying to get.

[CreateActCtx](https://docs.microsoft.com/en-us/windows/win32/api/winbase/ns-winbase-actctxw) is the API we have to use to "inject" the manifest. It requires a manifest file or a native resource from a PE

[2020-10-22 18:05] vitek-karas commented on #4145
I've looking into this couple of weeks ago and this will need a different solution. My understanding of the problem:
* We want WinForms apps to enable the common controls themes even if the app's manifest doesn't have this in it
* The Windows API can only do this from a Win32 resource accessible via HMODULE (and Win32 resource management APIs) - it can't do this from a piece of memory

The core is

[2020-10-22 18:09] agocke commented on #4145
Ah, I didn't know that there was only one `HMODULE` for embedded assemblies. We should consider documenting this at https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file

[2020-10-22 18:10] JeremyKuhne commented on #4145
@vitek-karas Your solution seems plausible and likely would end up useful in other scenarios too. What is the the prescribed way to detect that we're in single file mode?

[2020-10-22 18:14] vitek-karas commented on #4145
It's a windows limitation (as far as I know) - HMODULE == something loaded via LoadLibrary (or similar).

Detect single-file - for this case checking `typeof(Application).Assembly.Location == string.Empty` should do - the definition is that Location is empty string if the assembly was loaded from memory (which is more or less what single-file does), but would also happen for things like loading as

[2020-10-22 18:16] vitek-karas commented on #4145
We could/should take this a step further and probably have a more general solution for Win32 resources - SDK could pretty easily go over all assemblies which will be bundled and extract native resources and add them to the .exe. The problem will be collisions - but maybe something along those lines. Or have an item metadata which would tell SDK to do this. Just like we have one to exclude it from

[2020-10-22 18:18] JeremyKuhne commented on #4145
I think that may be the better choice, we would need to know what the identifier would be in code and I don't know how we would do that if there was auto collision renaming.

[2020-10-22 18:20] vitek-karas commented on #4145
I wasn't thinking about auto-rename - that's just asking for trouble. Either it would work, or fail. But I agree it's better to have this opt-in. The managed code will have to react to this anyway, since the way to get the HMODULE/FileName is different for single-file. So the code owner must be aware of this and thus it's better to make it opt-in.

[2020-10-22 18:28] JeremyKuhne commented on #4145
@vitek-karas I'm going to try the temp folder solution to see if that works so we can know what our options are. This is something we're going to want to service as default WinForms projects don't work properly with single file.

[2020-10-22 18:47] KlausLoeffelmann commented on #4146
Because we have the concept of a `DesignerHost`, which means we don't have _the_ WinForms Designer per se, which is in VS, but we could have many different designers. Also, we cannot or shouldn't break existing scenarios, so detecting if the Control is sited and if that Site is in `DesignMode` should still be _the_ way to go in principle.

Sure. Let's find and discuss the important ones in particu

[2020-10-22 18:48] agocke commented on #4145
Reminder that we have a back-compat flag for extraction `IncludeAllContentForSelfExtract=true` that may be a good alternative if this is too risky as a servicing fix.

[2020-10-22 19:03] KlausLoeffelmann commented on #4146
@RussKie: Yes, and I think that _is_ the reason we should have this on board. This solution also provides the Best Practice Guide, and I think having that _and _ the correct accompanying documentation, we'd be covering 90% of all use cases. The documentation pointing out the different use cases is as important, though.

[2020-10-22 20:07] jcddcjjcd opened #4169 "net5.0 System.Windows.Forms.ListView no longer displays LargeIcon"
Sample code below works with a ListView in dotnet 4.8 and netcore3.1 but not in netcore5.0

The form for code below is simply a button and a ListView displaying in LargeIcon mode:

The checkboxes and text labels do work, just the image missing.

ownerDraw does work using the same bitmap from LargeImageList.

[TestListView Core.zip](https://github.com/dotnet/core/files/5425503/TestListView.Core.zip

[2020-10-22 22:17] JeremyKuhne commented on #4145
Creating a temporary manifest in the Temp directory works, I've created a PR #4149 for master (6.0) that does this. For servicing 5.0 this may be what we want to do as I presume adding infra for native resources is out of scope for a servicing fix.

I'll get our testers to specifically look at the single file publish scenario and scour the code for usage of other impacted APIs. https://docs.micros

[2020-10-22 22:36] vitek-karas commented on #4145
I think it's worth considering what @agocke mentions above. Using the `IncludeAllContentForSelfExtract=true` the single-file will do basically that - it writes the app into a temp and runs it from there. Having just the manifest written out is obviously much faster, but in terms of risk, we already have a workaround, so a necessity of a fix in servicing might be somewhat lower.

[2020-10-22 23:23] merriemcgaw commented on #4148
I'm not having any trouble with this scenario at all on a clean machine. Could you try ensuring you have the preview features selected for both "Use WinForms .NET Core Designer" and "Load Projects Faster" are selected. You might also try on a clean VM, or repairing your VS install. If you still have trouble please file a VS Feedback/Developer Community ticket and give us the link here. The direct

[2020-10-22 23:48] weltkante commented on #4145
Note that for native resource manifests the WinForms manifest is _not the same_ as the manifest the main application may carry by itself. You may very well have a scenario where the main application has a manifest not declaring v6 support and relying on using the WinForms API call to enable v6 support. Propagating the manifest from the WinForms assembly into the single file application will confli

[2020-10-22 23:48] KlausLoeffelmann commented on #4146
We're (WinForms Team) discussing naming.

* IsRootSiteInDesignMode (too "long" probably, but differentiate and explains difference from `DesignMode`)
* RootDesignMode (we like that one!)
* IsInDesignMode (too close to `DesignMode`)
* IsInDesigner - probably not honest, too close to `DesignMode`.

[2020-10-23 00:00] weltkante commented on #4146
I like that one as well, but note that your implementation stops at the first site, so naming it `Root` is lying a bit. Sites are sometimes used in other scenarios than designers, and in that case you may stop early and not determine the DesignMode of the root control.

You could change your lookup code to actually compute the "root site", or leave as-is and live with the fact that it will behave

[2020-10-23 00:03] merriemcgaw commented on #4147
We are working on our external docs to give control vendors the information and architecture they need in order to build 3rd party controls. Stay tuned, and we'll make sure to announce when those docs are available. In the meantime I'm closing this as external and recommend contacting the vendor to begin their work to port controls to .NET Core.

[2020-10-23 00:03] #4147 closed

[2020-10-23 00:11] merriemcgaw commented on #4139
Don't forget to file VS Feedback when you have VS related issues and post the link in here. That way it is quickly bumped onto my radar and we've got the ability to collect that diagnostic information. This is a tracked problem area though so I will close this issue and let you know when we've closed the underlying bugs.

[2020-10-23 00:11] #4139 closed

[2020-10-23 00:29] merriemcgaw commented on #4131
We might want to consider fixing this in servicing - it means that we can't set the value to (none). There is nothing that can be done on the designer side to work around this problem, it has to be done in the runtime. This is important enough to the designer we should do this sooner rather than later.
cc/ @RussKie - consider for servicing.

[2020-10-23 00:36] merriemcgaw commented on #4122
@paul1956 thanks for letting me know this! While that was the best course of action for the folks taking incoming feedback tickets months ago, we are far past that point. Yeah, there will be specific features that don't work, but we want to hear about them to help prioritize and sequence our work. One way to make sure it gets on my radar is to post a link to the ticket in here. That will put it on

[2020-10-23 01:00] merriemcgaw commented on #4099
The bug is in the underlying common control. We will need to see if they can fix it (and then do anything needed to expose it) or eventually do that on our own. Marking for accessibility backlog and future so we don't lose it but it's not high on the priority list.

[2020-10-23 01:01] #4032 closed

[2020-10-23 01:02] merriemcgaw commented on #4102
So, for the three different custom drop downs, we wound up using 3 different control types 😵. This is not likely to block compliance for any application, so would not block WinForms compliance. I'll mark for accessibility backlog and future with that in mind.

[2020-10-23 01:06] merriemcgaw commented on #4130
MSAA representation is not the focus of current accessibility efforts. If this breaks narrator or something we'll revisit, but for now it's on the backlog and we'll evaluate it in the future

[2020-10-23 01:09] merriemcgaw commented on #4121
Drat! We will get this in for 6.0 with priority and back port if needed. @vladimir-krestov - this will be on the priority list.

[2020-10-23 01:15] merriemcgaw commented on #4123
@vladimir-krestov - getting this in the accessibility project and to the in progress link.

[2020-10-23 01:18] merriemcgaw commented on #4101
Great find! I don't think this will meet the bar to do anything about unless it starts to block a customer or partner. We'll take another look if that happens. For now, closing.

[2020-10-23 01:18] #4101 closed

[2020-10-23 01:18] cadilhac commented on #4148
I decided to completely uninstall VS and reinstall. Guess what? IT now works. So something was broken at some point and we will never know what actually happened.

[2020-10-23 01:18] #4148 closed

[2020-10-23 01:53] paul1956 commented on #4145
@JeremyKuhne the difference I am using ClickOnce

[2020-10-23 02:30] Olina-Zhang opened #4150 "Accessibility: Inspect should be focus on the entire listView item row, not the first item when ListView's FullRowSelect = true"
* .NET Core Version:
.Net SDK 6.0.100-alpha.1.20522.5

* Have you experienced this same bug with .NET Framework?:
No

* More Info:
This is a regression issue, cannot repro in .Net Core 3.1

**Minimal repro:**
1. Open the attached WinFormsApp12.zip application in VS, then build and run it.
[WinFormsApp12.zip](https://github.com/dotnet/winforms/files/5426925/WinFormsApp12.zip)
2. Launch Inspect to f

[2020-10-23 03:06] ahdung commented on #3780
any news?

[2020-10-23 05:39] RussKie commented on #3780
No, no news.
Given this is an existing long standing issue observed in .NET Framework and an existing work around this issue isn't high on the team's priority list. A pull request with a fix is welcome.

[2020-10-23 05:56] RussKie commented on #4101
We've looked at this issue with @SergeySmirnov-Akvelon, and unfortunately it is due to how we instantiate these cursors from stream, and there was no obvious or easy fix.

[2020-10-23 09:33] vitek-karas commented on #4145
WinForms code can use any resource ID, so the idea is to put the WinForms manifest into the .exe under some unique name/ID definitely not under "1". The original app's manifest should still be the "1".

I do agree that code wanting to consume native resource will have to be aware of single-file and as noted in such case it would be ideal if it changed to not use native resource. But given this exa

[2020-10-23 09:34] SergeySmirnov-Akvelon commented on #3658
@merriemcgaw, I investigated it and found that images in Office and Outlook have no description. I have not found a way to add a description for a picture in these applications. Also I not found how set Description in WPF. The only thing that I was able to find out is that in the IE for the picture, it announces the following text: `Test, image, Test Description, selected`. Unfortunately, "Test De

[2020-10-23 10:15] RussKie commented on #4131
Copying @DustinCampbell's response from another thread:

`TreeNode.SelectedImageIndex` is supposed to be allowed to be set to `-2`. There are two special values for `TreeNode.SelectedImageIndex`:

1. `-1` means to use the TreeView's selected image index.
2. `-2` means there is no selected image index.

This is a regression that was introduced in .NET 5 with https://github.com/dotnet/winforms/commi

[2020-10-23 10:46] RussKie commented on #4131
@DustinCampbell I've scanned through the runtime and the designer code and I can't see `-2` magic number anywhere. Could you help me find where it is coming from? I'd like to understand how we could have prevented this bug.

[2020-10-23 11:03] #3895 closed

[2020-10-23 11:36] IrinaPykhova commented on #4146
@KlausLoeffelmann I'm absolutely  sure that my solution is bad, that's why I want to see more solid way to determine design-time environment. Suggestion about testing in OnPaint is awful. OnPaint should only paint. And what if it is UI-less component?
Personally, when I implement some control, I usually want to do heavy initialization before painting or creating handle, so that end-user doesn't se

[2020-10-23 11:43] weltkante commented on #4146
The reworked license model is independent from the API proposed here (and in fact I don't know what the reworked license API actually *is*)

[2020-10-23 11:49] IrinaPykhova commented on #4146
I tried to show you the real use case where I need to check design-time before control is sited. I beleive someone above wanted to discuss real cases.

[2020-10-23 13:36] cadilhac commented on #3316
I tried this again with the latest VS preview and I'm happy to see that I can now drag my control from the toolbox to a design surface and set its properties from the PropertyGrid.

I would like to ask @Tanya-Solyanik or someone else knowledgeable: what about licensing now? You told me that LICX is not supported. I am using CryptoLicensing as a 3rd party tool for licensing and I can see they now h

[2020-10-23 13:41] SergeySmirnov-Akvelon commented on #3654
Hi @Amy-Li03. I cannot reproduce it on my local environment. ComboBoxes with "DropDown" or "DropDownList" styles are displayed correctly in Inspector.
![Issue-3654-dropdown](https://user-images.githubusercontent.com/23376742/97010658-60c3a900-154e-11eb-9523-3546f0c36018.png)
![Issue-3654-dropdownlist](https://user-images.githubusercontent.com/23376742/97010681-6a4d1100-154e-11eb-8b90-07d703839be3.

[2020-10-23 15:12] cadilhac commented on #3316
Note also that when I try to add my component into the toolbox, I get this error:

![formsbug](https://user-images.githubusercontent.com/50608/97020822-07448580-1520-11eb-9b9f-e7dfd1dd61ea.png)

The difference with my previous comment is that I'm trying here in a fresh winforms app that does not reference the assembly of my component yet. In the previous comment, I was in my component sample exe p

[2020-10-23 15:47] DustinCampbell commented on #4131
Looking at `TreeNode`, `TreeView`, and `TreeNodeImageIndex` probably won't provide any hints. Reading that code, I couldn't find any places where indices are treated specially, except where `-1` is used to specify that the value from the owning `TreeView` should be used:

https://github.com/dotnet/winforms/blob/9c01d45832a0f7dcdb70bad1098e1ff6f0632b21/src/System.Windows.Forms/src/System/Windows/Fo

[2020-10-23 16:41] KlausLoeffelmann commented on #4146
Explain this, why is it bad? If OnPaint only paints (but yet depended of it's in DesignMode or not), why is that a bad thing?

Then obviously the OnPaint approach does not apply. What's your point?

Testing for UI-Mode doesn't slow things down noticeably, here. Also, you could (should?) use double buffering to begin with to avoid flickering. But one way or the other, performance here is really not

[2020-10-23 16:45] dreddy-work commented on #3316
This specific work is not yet done for the Net core Winforms projects. you can always get them by referencing the project for now. this work is planned for Visual studio 16.9.

[2020-10-23 16:47] dreddy-work commented on #3958
I am looking into it currently. Will update this thread soon.

[2020-10-23 17:07] IrinaPykhova commented on #4146
Because I want to understand where I am regardless of painting. I don't want 2 different checks for controls with UI and UI-less components. Imagine I have 300 controls with different behavior, I dont' want spending time on making different checks in every one of them. Most of these controls don't override OnPaint, why they should do that just for design-time check?

I'm afraid I'm loosing the thr

[2020-10-23 18:23] paul1956 commented on #3346
@KlausLoeffelmann if settings are not going to be fixed for release (since its priority 2), can someone provide documentation on what is expected in empty App.Config so designer works and what workaround is needed to expose Settings to application. Will https://github.com/dotnet/winforms/issues/3346#issuecomment-706465148 still work and if not what is needed?

There are 2 different scenarios that

[2020-10-23 20:37] alanhoman commented on #3491
Has any progress been made to fix these issues?

[2020-10-23 20:58] kirsan31 commented on #3491
[**merriemcgaw**](https://github.com/dotnet/winforms/issues/3202#issuecomment-626072014):

So, I think there will be no progress until 5.0 is released and we see some things from 6.0.

[2020-10-24 05:37] ccornici commented on #4084
Is there any plan to fix this?...

[2020-10-24 10:35] kirsan31 commented on #3316
@cadilhac

How do you achieve this?

I have [this problem](https://github.com/dotnet/winforms/issues/3316#issuecomment-703414777)? more details [here](https://github.com/dotnet/winforms/issues/4023#issuecomment-707564714).

May be it's offtopic here and I need to create a new issue, but once again, we  have big lack of info / feedback about new designer :(

[2020-10-24 12:36] RussKie commented on #3491
Correct, layout engine and high DPI related work are currently slated for .NET 6.0 timeframe.

[2020-10-24 12:42] RussKie commented on #4146
No, the control needed this check to render the control differently in the designer, hence `OnPaint` scenario is mentioned here.

[2020-10-24 13:08] RussKie commented on #4146
@KlausLoeffelmann here's an example where the check must work in a .ctor:

I'm porting Git Extensions to .NET 5.0, and trying to open a form in the designer:
![image](https://user-images.githubusercontent.com/4403806/97082397-15e08900-1655-11eb-8388-3576d44fb990.png)

The code fails here (line:18):
https://github.com/gitextensions/gitextensions/blob/master/ResourceManager/GitExtensionsControlIniti

[2020-10-24 14:22] cadilhac commented on #3316
I guess a separate topic would be better yes, because for me, when my component's project is in the solution, I can drag it from the toolbox (where it's automatically put) to a form and get/keep its code in the designer generated code.

[2020-10-26 00:22] KlausLoeffelmann commented on #4146
Well, sure, that fails. First of all, the LicenceManager doesn't work in the Core Designer. Basically, what's used to happen in the Framework designer is, that if a component got added (`IDesignerHost.CreateComponent`), between instantiating and adding the component, the old Designer would put the LicenceManager into Design mode, but only for that one operation. The new Designer doesn't do that.

[2020-10-26 10:06] SergeySmirnov-Akvelon opened #4156 "Double click allows to check item in the ListView that is in virtual mode"
.NET Core Version:
- .Net SDK 5.0.100-rc.2.20479.15
- .Net SDK 3.1.7

Have you experienced this same bug with .NET Framework?:
- Yes

**Minimal repro**
1. Create application with textbox and ListView that is in virtual mode
2. Enable Checkboxes and add items to ListView.
3. Or use attached project ([ListViewVirtualMode.zip](https://github.com/dotnet/winforms/files/5438099/ListViewVirtualMode.zip))

[2020-10-26 11:17] SergeySmirnov-Akvelon opened #4157 "StackOverflowException is possible when getting the AccessibleName for Combobox."
.NET Core Version:
- .Net SDK 5.0.100-rc.2.20479.15

**Problem description:**
The "ComboBox.ComboBoxChildDropDownButtonUiaProvider" class uses "get_accNameInternal" method for getting of "Name" property.
[code]

This method in several branches uses the "Name" property that leads to a new attempt to get "ComboBox.ComboBoxChildDropDownButtonUiaProvider.Name" property and a new call of "get_accNameIn

[2020-10-26 11:55] SergeySmirnov-Akvelon opened #4158 "Redrawing doesn't work immediately when user clicks on checkboxes of items of ListView that is in virtual mode."
.NET Core Version:
* .Net SDK 5.0.100-rc.2.20479.15
* .Net SDK 3.1.7

Have you experienced this same bug with .NET Framework?:
* Yes

**Minimal repro:**

1. Create application with ListView that is in virtual mode.
2. Enable checkboxes and add several items.
3. Or use attached project ([ListViewVirtualMode.zip](https://github.com/dotnet/winforms/files/5438564/ListViewVirtualMode.zip))
4. Run appli

[2020-10-26 12:09] RussKie commented on #4157
Can this be the root cause of https://github.com/dotnet/winforms/issues/3452?

[2020-10-26 13:13] SergeySmirnov-Akvelon commented on #4157
No, I don't think that these two bugs are related.

[2020-10-26 18:54] #4145 closed

[2020-10-26 21:41] KlausLoeffelmann commented on #4146
@RussKie: For discoverability and self explaining guideline, would it make sense to introduce an InitializeComponentCompleted event?

[2020-10-26 22:18] weltkante commented on #4146
Wouldn't this be too early, assuming it does what its named after and runs when `InitializeComponent` completes? Also how would it compose with Form/UserControl inheritance where you have multiple logically distinct `InitializeComponent` methods?

We already have `Load` events and `OnLoad` virtuals for Forms/UserControls, why do you think we need another one?

IMHO the WPF/WinUI approach makes the

[2020-10-26 22:49] merriemcgaw commented on #3658
I've talked with our internal SME and he doesn't feel like we have anything more we need to do here. As long as we can set the UIA Value property for the cell we are in good shape. Please make sure that we are doing that in the sample app and we can close it! @SergeySmirnov-Akvelon

[2020-10-26 22:57] merriemcgaw commented on #3659
Since we have the information from our SME that color contrast on button outline is not required, it means that buttons in a ToolStrip are also not required to follow this rule. Visual Studio is able to use our APIs to create an accessible color scheme so we can be confident that it is possible to create the desired contrast experience with a bit of property setting. I think we can close this issu

[2020-10-26 23:00] merriemcgaw commented on #4070
After talking with the internal SMEs we've determined that this new isn't required at this point in time. Color contrast of button borders is a nice to have, rather than a must have and we should consider offering it in the ToolStrip level once new requirements come out. But we don't have to at this point in time so I'm going to close this issue. When we do this work, we will coordinate with the u

[2020-10-26 23:00] #4070 closed

[2020-10-26 23:28] merriemcgaw commented on #3659
I may have spoken too soon. We do need to do something by default in the PropertyGrid so that a user knows when there is focus on either of the two ToolStrip buttons. It doesn't necessarily need to be a border, but some visual indicator that one is in focus but not selected, or one is in focus and selected. Because today the user can't distinguish between the focused button and the control that is

[2020-10-27 02:00] Amy-Li03 commented on #3654
Hi @SergeySmirnov-Akvelon, we still can repro this issue on latest VS 16.9 P2 + .NET SDK 6.0, have uploaded the demo app and repro steps video files. Any other question please let me know.
[DemoApp.zip](https://github.com/dotnet/winforms/files/5442438/DemoApp.zip)
![reproSteps](https://user-images.githubusercontent.com/62929087/97247674-19356980-183b-11eb-9533-2870bfb28e2e.gif)

[2020-10-27 05:22] #4123 closed

[2020-10-27 07:55] SergeySmirnov-Akvelon commented on #3654
Hi @Amy-Li03. It works correctly on my environment:
- Microsoft Windows Version 10.0.19041.388
- NET Core Version: .Net SDK 5.0.100-rc.2.20479.15, last master
- Vistual Studio Version 16.8.0 Preview 5.0
- Inspector Version 7.2.0.0 OLEACC Version 7.2.194.041.1 (WinBuild. 160101.0800)

![issue-3654](https://user-images.githubusercontent.com/23376742/97272303-bfd13880-1842-11eb-8843-9c5da8da2447.gif)

[2020-10-27 08:37] SergeySmirnov-Akvelon commented on #3658
User can use next code for setting of description for image:
[code]

[2020-10-27 08:48] SergeySmirnov-Akvelon commented on #3658
User can use next code for setting of description for image:
[code]
![Issue-3658](https://user-images.githubusercontent.com/23376742/97277793-fbbbcc00-1849-11eb-9bbb-a444d15e6553.png)

I attached [test project](https://github.com/dotnet/winforms/files/5444004/DataGridViewImage.zip) with example of this code.

[2020-10-27 08:56] IrinaPykhova commented on #4146
couple of words about our licensing. As far as MS removed support for licenses.licx model, apparently every control vendor will have something different now. We decided to use runtime-only licensing, license is installed when people install NuGet package into application. License information is embedded into assembly manifest. Then, at runtime, if there is no valid license, we are showing some mes

[2020-10-27 10:23] Amy-Li03 commented on #3654
Hi @SergeySmirnov-Akvelon, my environment as following:

Microsoft Windows Version: 1909 (OS Build 18363.1139)
NET Core Version: .Net SDK 6.0.100-alpha.1.20516.5
Vistual Studio Version: 16.9.0 Preview 2.0 main branch latest build
Inspector Version:  7.2.0.0 OLEACC Version 7.2.18362.1 (WinBuild. 160101.0800)

In addition, have added you as administrator on my machine, IP have sent to you in teams.

[2020-10-27 11:18] SergeySmirnov-Akvelon commented on #3654
@Amy-Li03, thank you so much. I reproduced it using Inspect with your version

[2020-10-27 17:10] KlausLoeffelmann commented on #4146
First of all, thanks @IrinaPykhova for the insight of how you license model work!

@weltkante:

I was thinking out loud, so please see this as a discussable thought rather than a concrete suggestion. If it was kicked of (by invoking), you still could have other `InitializeComponent` instances kicked of by the constructor, and it would still not run in the constructor's context. Secondly, I was try

[2020-10-27 23:09] claudewill1 commented on #3342
I have this issue in the current version for VS2019e as of October 27th.

[2020-10-28 00:35] carlossanlop opened #4163 "API documentation debt - WinForms"
As part of the 6.0 goals, we want to finish documenting APIs that were shipped without triple slash documentation in previous .NET Core versions.

This work item is part of:
- https://github.com/dotnet/core/issues/5410 Epic: Make sure .NET libraries are continuously improved.
- https://github.com/dotnet/runtime/issues/43849 API documentation debt

We would like the WinForms team to help with this

[2020-10-28 01:02] RussKie commented on #4163
@carlossanlop a number of API that are listed in your report are annotated, and have been since their addition to the codebase. E.g. almost all of the `ListView` and `TaskDialog` related are false positives - those API have been extensively annotated at the time we accepted respective PRs (#3155 and #1133).

I would think that our xml-docs weren't correctly ingested into the docs repo, which led t

[2020-10-28 19:40] carlossanlop commented on #4163
Thank you for the information, @Russkie . The PRs #3155, #1133 and #3711 merged triple slash comments but haven't yet been ported to dotnet-api-docs. You can use [DocsPortingTool ](https://github.com/carlossanlop/DocsPortingTools) to do so, then submit a PR. After that is merged, I will be able to get an updated report with the remaining undoc APIs in WinForms.

If you get a chance to do the porti

[2020-10-28 20:47] Tanya-Solyanik commented on #2867
Need to revert this change because it caused regression in the designer  https://github.com/dotnet/winforms-designer/issues/2441

[2020-10-29 06:57] #4131 closed

[2020-10-29 07:50] AndreasBreuninger opened #4171 "UCEERR_RENDERTHREADFAILURE when hosting ElementHost within WindowsFormsHost"
* .NET Core Version:
Did not find a quick way doing this in .net core

* Have you experienced this same bug with .NET Framework?:
Yes
.net 4.8

**Problem description:**

I have a hybrid WinForms/WPF (so I'm not sure if its a WinForms or WPF issue) application with an ElementHost. The child element is a WPF UserControl with a TabControl. Via the ItemsSource different types of tabs are displayed.
1.

[2020-10-29 07:51] Olina-Zhang opened #4172 "Accessibility: In Inspect: MSAA, the child items of some controls cannot be displayed, and Children property gets error"
* .NET Core Version:
.Net 6.0.100-alpha.1.20516.5

* Have you experienced this same bug with .NET Framework?:
No

* More Info
1. This issue cannot repro on .Net Core 3.1.
2. Affected controls: CheckedListBox, ListBox, ToolStrip, StatusStrip, ContextMenuStrip, BindingNavigator, DataGridView, ListView

**Minimal repro:**
1. Create a Winforms .Net Core app with controls: CheckedListBox/ListBox/ToolSt

[2020-10-29 22:39] RussKie commented on #4171
The stack trace is all WPF, so transferring there until it can be established the issue is in our code.

[2020-10-29 23:30] RussKie commented on #4157
Can you provide a repro, and describe how easy is to hit the issue?

[2020-10-29 23:36] RussKie commented on #4084
Given the issue has always been there since .NET framework, this issue has a lower priority for the team. Adding to the .NET 6.0 milestone but no hard commitment.
We will gladly accept pull-requests with a fix.

The issue will not be fixed in .NET Framework as it won't meet the servicing bar.

[2020-10-29 23:39] RussKie commented on #4137
Accepting the issue. If we get more feedback we'll re-open.

[2020-10-29 23:39] #4137 closed

[2020-10-29 23:44] RussKie commented on #4076
The fix would likely involve changes to `ListViewGroupConverter` to handle the scenario where multiple `ListViewItem`s are selected.

[2020-10-30 23:28] merriemcgaw commented on #3658
@SergeySmirnov-Akvelon can you get this added to the Accessibility test app to show best practices and then we can close this issue again?

[2020-10-30 23:35] dreddy-work commented on #4144
There are multiple scenarios that end up adding resources to project file. Some of which are Winforms owned and other are from Project System. We are looking into it. Will update this thread as we progress on those.

[2020-10-31 03:14] paul1956 opened #4178 "OnInitialize fails to compile if VB Compile Options changes in project"
* .NET Core Version:
 5.0.100-rc.2.20479.15

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Create New VB WInforms Solution, Change Options in
[code]
3 error trying to compile
![image](https://user-images.githubusercontent.com/12789369/97769933-1ca34c00-1aec-11eb-9be0-f25f1782d617.png)

**Expected behavior:**
No Errors

**Minimal repro:**
New VB WinForms Pr

[2020-10-31 08:17] paul1956 commented on #4178
If Below
[code]
Was changed to
[code]
The code would not break no matter the Option Settings

[2020-10-31 09:09] paul1956 opened #4179 "MyApplication_Startup is not on UI Thread"
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Runtime error
System.InvalidOperationException: 'Cross-thread operation not valid: Control 'UserName' accessed from a thread other than the thread it was created on.'

**Expected behavior:**
MyApplication_Startup is on UI Thread as it is on Framework

**Minimal repro:**
[code]

[2020-10-31 23:12] jcddcjjcd commented on #4169
Thanks for looking at it RussKie, Regards, John.

[2020-11-01 17:01] willibrandon commented on #3686
You are correct @cbrit there is an issue with the `TabControl` handle during Insert. In this case there is a check for `if (IsHandleCreated)` before performing the insert and the handle does not appear to be created, so the insert does not occur.

I can see 2 other methods in `TabControl` where a handle is created by calling `CreateHandle()`, which in my testing, appears to alleviate the issue des

[2020-11-01 17:24] willibrandon commented on #3686
Can someone with more knowledge comment on whether or not creating the handle in this situation would be an acceptable solution?

[2020-11-01 22:57] weltkante commented on #3686
No, implicit handle creation is dangerous, and more often wrong than not. The WinForms codebase had to fix plenty of bugs of this type in their unit tests by _preventing_ implicit handling creation. Introducing additional places with implicit handle creation very likely will introduce new bugs, not only in the unit tests but also in external code.

The original issue description correctly states t

[2020-11-02 05:08] RussKie commented on #4169
I've tested the repro against the official releases: https://dotnet.microsoft.com/download/dotnet/5.0. The issue doesn't repro against 5.0.100-preview.8.20417.9, but repros against 5.0.100-rc.1.20452.10.

[2020-11-02 05:22] RussKie commented on #4169
It appears the regressions is caused by 03db3fbfcc6884356f70141f882433638b23bb49 (#3601).

Reverting the change restores the functionality:
[code]

@weltkante what do you think?

[2020-11-02 07:20] vsfeedback opened #4183 "MyApplication_Startup and MyApplication_Shutdown are not executed in Windows Forms project"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/MyApplication_Startup-and-MyApplication_/1235910?preview=true)._

---
[severity:It's more difficult to complete my work]
The following events:
- MyApplication_Startup
- MyApplication_Shutdown
are not executed in Windows Forms project (.Net 5), even if windows application framework is ac

[2020-11-02 07:31] RussKie commented on #4169
@weltkante what I think is now happening - we have a total disconnect between a managed imagelist, to which a user assigns images, and an unmanaged imagelist that we assign via `User32.SendMessageW(this, LVM.SETIMAGELIST, LVSIL.NORMAL, value.CreateUniqueHandle());`, and which doesn't know about images set on the managed side.

[2020-11-02 07:32] Amy-Li03 commented on #4183
### .NET Core Version:
.NET SDK 5.0.100-rtm.20515.8
### Have you experienced this same bug with .NET Framework?:
No

## Problem description:
Startup and Shutdown Events are not executed when Startup object is Form1, they are executed if Startup Object is Sub Main.

## Expected behavior:
Startup and Shutdown Events should be executed when Startup object is Form1.

## Minimal repro:
[DemoApp.zip](ht

[2020-11-02 09:20] RussKie commented on #4179
Please provide a simple repro project.

[2020-11-02 10:42] SergeySmirnov-Akvelon commented on #3658
@merriemcgaw, test project already is added. Could you please add this link to this issue description?

[2020-11-02 12:07] weltkante commented on #4169
That was the point of the PR, because the sharing of image lists was totally broken. Copying the ImageList seemed the sane way since it avoids you having to figure out the ownership rules of the native controls (which are not entirely documented, and WinForms was getting them wrong all the time).

I guess to support adding images there are two options:
- Create a subscriber model where the managed

[2020-11-02 16:32] willibrandon commented on #3686
Thank you for the thorough reply.

I haven't proposed that we commit to anything yet, just thinking out loud.

TabControl Insert is currently checking for if the handle is created before performing the insert. If I remove the check for if the handle is created, the insert appears to work but then I'm seeing additional tests that fail that are perhaps expecting the current behavior. I'll take a clo

[2020-11-02 18:18] weltkante commented on #3686
From what I can tell its simply missing an else-branch for the "IsHandleCreated" check which updates the `_tabPages` array. It probably can just call `Insert` like in the if-branch.

[2020-11-02 21:04] paul1956 commented on #4179
@RussKie https://github.com/paul1956/CSharpToVB/tree/CrossThreadException.

[2020-11-02 22:48] AdamYoblick commented on #4163
Thanks @carlossanlop , I'll take a look at this and let you know if I get stuck 😄

[2020-11-03 00:32] AdamYoblick commented on #4163
@carlossanlop I've run the following command line:

[code]

I'm running into an issue that I'm not sure how to fix through the tool. The error is this:

[code]

I checked the code and it looks like a param called `enabled` is in the constructor. I would have expected the tool to add this param to the docs, but that doesn't seem to be a choice here. It only lets me choose an existing param from the

[2020-11-03 01:39] dreddy-work commented on #4144
We are moving this to Project system repo. Please follow up on there on progress.

[2020-11-03 01:40] dreddy-work commented on #4144
@madelson as FYI. This work item will disappear from here :)

[2020-11-03 01:43] #4144 closed

[2020-11-03 01:52] merriemcgaw commented on #4169
Unfortunately, we're in a situation right now where migration could well be blocked. If users of the ListView need to use the LargeIcon feature they have no way to do so - with no viable workaround and no real alternative. We also don't know if there are other ImageList scenarios that may also be broken. Our hunch is that there may well be. It's too bad we can't get it into the GA release, but we'

[2020-11-03 02:12] RussKie commented on #4163
@AdamYoblick I think this indicates an omission in our code - we missing docs for `enabled`:
https://github.com/dotnet/winforms/blob/1d8dba7ff63e19b5784913ea773635f0ded0c5a8/src/System.Windows.Forms/src/System/Windows/Forms/TaskDialogButton.cs#L67-L77

[2020-11-03 03:12] AdamYoblick commented on #4163
Ah ok, makes sense. Igor, should I ignore all of these just to get the docs updated, or should I fix them up at the same time?

________________________________
From: Igor Velikorossov <notifications@github.com>
Sent: Monday, November 2, 2020 8:12:26 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Adam Yoblick <Adam.Yoblick@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re:

[2020-11-03 03:35] RussKie commented on #4163
Would be good to fix it - it will both unblock you in this exercise, and we'll get us to the "0" in the docs register :) Holler, if you need a hand.

[2020-11-03 04:59] RussKie commented on #3358
For general reference, stumbled across this post that alleges an imagelist may be double destroyed if it is still bound to a control
https://social.msdn.microsoft.com/Forums/vstudio/en-US/e6b685d3-e407-4d5a-a7b7-faa0f7840375/cimagelistrelease-mfc-vs2005-winxp

[2020-11-03 08:34] weltkante commented on #3358
I wouldn't put too much weight on that, he just saw the same thing I did. In particular its no indication of where the bug is, without repro to follow along you can't tell who is _responsible_ for the off-by-one refcount. The incorrect release could have happened anywhere, it will just manifest in a bug when the _last_ reference is released, so it will almost always blame the wrong location in the

[2020-11-03 10:31] weltkante commented on #3531
If #3601 ends up being reverted as part of #4169 this needs to be reprioritized since it now again is an active bug that can be triggered by wrong call order.

[2020-11-03 10:32] weltkante commented on #4169
I stated a workaround above, the image list property can be cleared and reassigned. I aknowledge your choice over keeping the old bugs over trading them for new bugs.

It has been causing significant pain in your own test infrastructure though, so I imagine the cost of reverting is higher than you expect, but its your decision to make. You may also need to revert more than just that single PR, sin

[2020-11-03 17:10] KlausLoeffelmann commented on #4115
Hey @CarlosBressan,

I will close this for now. If you think this still needs to be further investigated, you can reopen this anytime!

[2020-11-03 17:10] #4115 closed

[2020-11-03 19:14] AdamYoblick commented on #4163
Will do Igor. I'll run the docs tool to find all the missing triple slash comments, fix them, and get them into a PR into this repo. Once everyone is happy with that text, then I'll re-generate the docs and create a PR into the docs repo.

[2020-11-03 19:36] AdamYoblick commented on #4163
@RussKie @JeremyKuhne There are lots of triple slash docs missing from methods in TextRenderer.cs. Most of them are on overloads. I will fix up methods that are missing specific params, but I think we need a separate task to go back and fix large blocks of comments.

[2020-11-03 19:47] carlossanlop commented on #4163
@AdamYoblick sorry for the late reply. I believe @Russkie gave you the answer. The tool is able to help you figure out what the right parameter is, based on the information it finds on both the intellisense xml and the dotnet-api-docs xml.
Feel free to reach out to me directly on Teams if you need a more immediate answer.

[2020-11-03 19:48] merriemcgaw commented on #3515
@Zheng-Li01 please confirm that this is working now - it should have made it into 16.8 release. You can close this issue when you confirm it.

[2020-11-03 19:53] merriemcgaw commented on #3475
@Olina-Zhang can your team confirm this is now working in 16.8? I think we've had this ability for a while now. Please close this issue when you confirm it's working.

[2020-11-03 19:55] merriemcgaw commented on #3428
@Olina-Zhang, can your team validate this scenario is working and close the issue if so? If it's not working please get a designer repo issue filed and link to the repo @PasaOpasen provides.

[2020-11-03 22:14] paul1956 commented on #4179
@RussKie this is not as simple as I though I have several Core .Net (5.0) Projects and some have no issue with this and some do. The repo I posted is one of that one that fails and is extracted from my first port of anything to Core 5.0. I don't see anything it does different but one thing that varies by project and I am not sure what is correct is how to set Start Up Form. I have always used Form

[2020-11-03 22:15] paul1956 commented on #4178
@RussKie I would submit PR for fix if I know what project this is in, and its not internal.

[2020-11-03 22:31] RussKie commented on #4169
If we'd discovered the issue while working on https://github.com/dotnet/winforms/pull/3601, we wouldn't have taken it in the current shape. Unfortunately we're out of time to make additional explorations for .NET 5.0.
I'm liaising with the comctl team, and hopefully we may be able to better understand what's going on.

I suppose we can explore reassigning the native imagelist every time the manage

[2020-11-03 22:38] JeremyKuhne commented on #4163
@AdamYoblick I added the XML comments for the _new_ overloads- the existing ones all have documentation so I didn't bother adding new XML comments there. For the new overloads (Span) I just copied stuff from docs and tweaked where needed.

[2020-11-04 01:42] RussKie commented on #4169
@jcddcjjcd as a workaround until we implement a fix you need unbind and rebind the imagelist after it changed, e.g. the following makes your sample work again:

[code]

[2020-11-04 02:15] Zheng-Li01 commented on #3515
Verified the issue with Dev16 16.8.0 Preview 6.0 installed from https://visualstudio.microsoft.com/vs/preview/, the issue has been fixed. so closed it.
![UpdateCoreIssue](https://user-images.githubusercontent.com/38325459/98061333-976ebd00-1e86-11eb-89a7-05b0236da5e9.gif)

[2020-11-04 02:15] #3515 closed

[2020-11-04 02:54] RussKie commented on #4178
@paul1956 I wouldn't know where to start myself :) I'll do some leg work to find out.

[2020-11-04 02:58] RussKie commented on #4179
If you could distill the problem down it would greatly simplify our quest for the fix.

[2020-11-04 03:06] RussKie commented on #3985
We had an internal discussion yesterday about the change, and resolved that the change to the templates isn't desirable as it would look inconsistent with other templates, and at the same time "net5.0-windows" also lacks clarity what Windows API are targeted.
There will be a follow up work internally (and possible externally as well) going forward, but for now this stays as is.

[2020-11-04 03:06] #3985 closed

[2020-11-04 03:58] jcddcjjcd commented on #4169
RussKie.
I applied your suggestion to my full app and it work nicely. Easier than OwnerDraw.
Thanks.

[2020-11-04 05:08] paul1956 commented on #4179
@RussKie Sometimes in Core 5 MyApplication_Startup is called on UI thread and sometimes its not. In the example which is really just an empty Form and a startup Form from Frameworks that display User.Name on a Label. One thing I noticed is in this application MyApplication_Startup is called AFTER the startup form is displayed. I would have expected it to be called BEFORE the startup form is displa

[2020-11-04 06:19] willibrandon commented on #3686
If I have it call `Insert` like in the if-branch without the handle or SendMessage call, I get 13 test failures in `System.Windows.Forms.Tests.TabControlTabPageCollectionTests`. Looking into those failing tests now to see what they are expecting.

[2020-11-04 07:29] paul1956 commented on #4178
@RussKie many of the templates still could use some cleanup, this file is the only place I have run into that causes a compile error vs just a suggestion.

[2020-11-04 08:07] paul1956 commented on #4179
@RussKie Here is the documentation that does not work in the Repo I posted.
https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2008/t4zch4d2(v=vs.90)

[2020-11-04 08:18] weltkante commented on #3898
See [note](https://github.com/dotnet/winforms/pull/4092#discussion_r504457630) in one of the PRs, this test is not testing v6 common controls, so its value is questionable. Don't know why it is flaky though, couldn't reproduce the failures yet.

[2020-11-04 13:04] RussKie commented on #3686
If you open a draft PR it would be easier to discuss the approach, and reason about the test failures 😉

[2020-11-04 18:50] vsfeedback opened #8839 "System.Drawing.Printing.PrinterSettings slow"

[2020-11-04 22:17] AdamYoblick opened #4194 "Fix XML triple slash docs per docs team suggestions"
See feedback in https://github.com/dotnet/dotnet-api-docs/pull/5078 for suggestions.

1. Make the fixes in winforms source
2. Get those changes merged into main
3. Regenerate the XML docs and PR them into the dotnet-api-docs repo
   * See https://github.com/dotnet/winforms/issues/4163#issuecomment-718165661 for instructions on how to do that

[2020-11-04 22:19] #4163 closed

[2020-11-04 22:58] AdamYoblick commented on #4163
I merged in the PR to fix most of the debt. We still have some debt in the form of suggestions from the docs team, which is tracked with #4194

[2020-11-04 23:57] KlausLoeffelmann commented on #4178
Hey Paul - good catch!
However, I don't think this meets the bar for servicing, since this whole thing goes away once we have the .NET 6 changes take over, and also it's a niche case, which can be fixed quite easily. But I would like @KathleenDollard's opinion about this. Thanks.

[2020-11-05 00:00] RussKie commented on #4179
@KlausLoeffelmann could you have a look when you have a chance?

[2020-11-05 01:26] KlausLoeffelmann commented on #4183
This is a known issue.
Project System (namely the WinForms Project Properties Designer) isn't currently able to change the Start Form interactively in the UI. This needs to be done manually. Also, the start object in vbproj must always stay "Sub Main" - which is not the case in the sample.

* So, to change this, put "Sub Main" back as the start object in the .vbproj file.
* in _Application.Myapp_

[2020-11-05 01:26] #4183 closed

[2020-11-05 04:36] paul1956 commented on #4179
@KlausLoeffelmann I simplified it down to 2 forms the smallest possible project, that shows the issue. I didn't realize that removing a project still left lots of files around.

[2020-11-05 08:50] Lydia-Shi commented on #4131
Verified this issue with .NET 6.0.100-alpha.1.20554.7, this issue is fixed that no warning dialog pops up and SelectedImageIndex can be successfully set to '(none)' in TreeNode Editor, results as below:
![FixedTreeNode](https://user-images.githubusercontent.com/54019172/98218654-f87dba00-1f86-11eb-9388-617e8fd61a43.gif)

[2020-11-05 10:39] SergeySmirnov-Akvelon commented on #2933
Hi @merriemcgaw. I have investigated behavior of WPF for this case. Narrator announce following messages for TextBox and RichTextBox:

- TextBox with AccessibleName:
`{FormTitle} window, {ControlAccessibleName}, edit {value},` (for example: `Test Application window, Test name, edit, Test text,`)
- TextBox withoit AccessibleName
`{FormTitle} window, edit {value},` (for example: `Test Application wi

[2020-11-05 10:57] #3452 closed

[2020-11-05 10:58] RussKie commented on #3452
@merriemcgaw do we want to service this?

[2020-11-06 01:17] merriemcgaw commented on #4172
@Olina-Zhang what happens with the UIA option selected? How about Accessibility Insights for Windows? Those should be our priority now, rather than MSAA (which we used to use quite a bit).

[2020-11-06 01:18] merriemcgaw commented on #4130
What is the behavior with UIA selected, or in the Accessibility Insights tool?

[2020-11-06 01:23] merriemcgaw commented on #2231
We have made many improvements in the WinForms designer over the past year and you should be able to complete the tasks you describe. Please try again with the 16.8 GA release when it is available soon. We are still in Preview with lots of pieces still to rearchitect for the new .NET, but it's much more usable now. Please file VS Feedback tickets with any specific issues you run into and feel free

[2020-11-06 01:23] #2231 closed

[2020-11-06 05:42] RussKie commented on #3898
Seems to have resurfaced again in Release/x86
* https://dev.azure.com/dnceng/public/_build/results?buildId=876543&view=results
* https://dev.azure.com/dnceng/public/_build/results?buildId=875377&view=results

[2020-11-06 09:21] Marie-Shi commented on #4130
@merriemcgaw The behavior with UIA mode in inspect and Accessibility Insights tool are all **correct**, please see the below Screenshot.
**UIA mode in inspect:**
![inspect](https://user-images.githubusercontent.com/45864017/98348990-68a64180-2054-11eb-8c3d-7341358e6e96.jpg)
**Accessibility Insights:**
![insight](https://user-images.githubusercontent.com/45864017/98348997-6c39c880-2054-11eb-91f9-91

[2020-11-06 10:16] Olina-Zhang opened #4198 "AccessibilityInsight: The edit listview item must support the Text pattern when ListView's LabelEdit is true"
* .NET Core Version:
.Net SDK 6.0.100-alpha.1.20555.6

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Open the attached WindowsFormsApp7.zip application in VS, then build and run it.
[WindowsFormsApp7.zip](https://github.com/dotnet/winforms/files/5500560/WindowsFormsApp7.zip)
2. Launch AccessibilityInsight  tool to focus on ListView control

**Actual behavior

[2020-11-09 01:54] Olina-Zhang commented on #3475
Verified in 16.8, dragging controls with mouse in TabControl is working well.
@KoB-Kirito the issue in Document Outline Window is known, will fix it later.
So, close this issue now.

[2020-11-09 01:54] #3475 closed

[2020-11-09 02:03] Olina-Zhang commented on #3428
Verified NumericUpDown's Value property worked well in the latest VS, it is a known issue in Winforms designer repo: [1652](https://github.com/dotnet/winforms-designer/issues/1652), which was fixed.

So close this issue now.

[2020-11-09 02:03] #3428 closed

[2020-11-09 02:15] Olina-Zhang commented on #4172
@merriemcgaw  I see. Inspect:UIA, Accessibility Insights are worked well for controls hierarchy. They are our top priority. And Inspect:MSAA testing was from another issue: [4100](https://github.com/dotnet/winforms/issues/4100), and @Tanya-Solyanik @dreddy-work suggest us check all controls to ensure no issue in MSAA. so filed several issues related MSAA.

[2020-11-09 03:21] John-Qiao commented on #4123
Verified the issue in .NET 6.0.100-alpha.1.20557.2 SDK from Master branch, this issue has been fixed that the IsKeyboardFocusable field is true in DomainUpDown and NumericUpdown controls now.
![TR2](https://user-images.githubusercontent.com/45864985/98496897-a20dc580-227d-11eb-9183-2086c88b8005.png)
![TR1](https://user-images.githubusercontent.com/45864985/98496898-a3d78900-227d-11eb-86a1-0d304591

[2020-11-09 03:58] RussKie opened #4200 "Enable visual styles in test"
**Problem description:**

Currently our tests are run with visual styles off, and a number of selected tests (that require visual styles) are run via `RemoteExecutor`, or run as integration tests via MAUI test project.

This configuration has the following issues:
- The majority of our users run their apps with visual styles on, so we are not testing the main scenario.
- By not running tests with

[2020-11-09 05:03] vladimir-krestov commented on #4172
It can be fixed by #4168

[2020-11-09 05:05] vladimir-krestov commented on #4130
It can be fixed by #4168

[2020-11-09 06:29] RioInf commented on #4129
a sample is provide @RussKie
sorry it's late because I'm so busy

[2020-11-09 06:40] RioInf commented on #4129
@RussKie
a sample is provided
sorry it's late because I'm so busy

[2020-11-09 07:46] Zheng-Li01 opened #4201 "VS not responding when focus on the button1 & button2 controls in the From designer with Inspect MASS mode"
* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20557.2

* More info
1. This is not a regression issue, also can repro in .NET core 3.1 & 5.0.
2. This issue cannot repro for core app using Inspect: UIA

* Have you experienced this same bug with .NET Framework?:
 No

**Minimal repro:**
1. Create a .NET Core winforms project with two Button controls.
2. Open the Inspect tool, and focus on the button1

[2020-11-09 08:17] Zheng-Li01 commented on #3642
Verified the issue with latest NET SDK 6.0.100-alpha.1.20557.2, the issue has been fixed that TextBox.PlaceholderText display normal when TextBox.Enabled = false. see below screenshot.
![Update](https://user-images.githubusercontent.com/38325459/98516121-0abd6800-22a7-11eb-8b78-6f890351464b.PNG)

[2020-11-09 08:39] Jessie-Zhang01 commented on #3682
Verified the issue with latest NET SDK 6.0.100-alpha.1.20557.2, this issue is fixed. The user will be able to switch between viewing modes using the shortcut keys (Ctrl+1, Ctrl+2, etc) on PrintPreviewDialog.
![step1](https://user-images.githubusercontent.com/45864649/98518307-2d04b500-22aa-11eb-9e79-a130c66eff3a.gif)

[2020-11-09 09:13] Zheng-Li01 commented on #4100
Verified the issue with latest NET SDK 6.0.100-alpha.1.20557.2, the issue has been fixed that API working with winforms controls. see below screenshot.
![UpdateCoreIsue](https://user-images.githubusercontent.com/38325459/98521743-cdf56f00-22ae-11eb-9270-6a7bab0a4cd8.PNG)

[2020-11-09 09:33] Jessie-Zhang01 commented on #3925
Verified the issue with latest NET SDK 6.0.100-alpha.1.20557.2, this issue is fixed. Accessibility Insights is working when just select DataGridViewTextBoxCell.
![step3](https://user-images.githubusercontent.com/45864649/98524075-b1a70180-22b1-11eb-95e7-6490142888c4.gif)

[2020-11-09 09:34] RussKie commented on #4129
@RioInf thank you, will have a look.

[2020-11-09 09:39] Zheng-Li01 commented on #4032
Verified the issue with latest NET SDK 6.0.100-alpha.1.20557.2, the issue has been fixed that have correct ListView subitem ControlType in edit mode. see below screenshot.
![UpdateCoreIssue](https://user-images.githubusercontent.com/38325459/98524648-6e995e00-22b2-11eb-993f-1cc74f053c8f.PNG)

[2020-11-09 10:26] Jenna-Zheng commented on #4030
Verified this issue with Dev16 16.9.0 Preview 2.0 [30708.24.main] + .NET 6.0.100-alpha.1.20557.2, this issue has been fixed, please check the follow screenshots:
![image](https://user-images.githubusercontent.com/64949616/98529633-d05cc680-22b8-11eb-8f27-a4310963fdd7.png)
![TestResult_focus](https://user-images.githubusercontent.com/64949616/98529739-f5e9d000-22b8-11eb-9578-d3a20a455447.gif)

[2020-11-09 23:11] Tanya-Solyanik commented on #1987
I'm not sure if this is a real accessibility issue.
1. the original iteration of the fix was signed off by the accessibility testers.
2. the current behavior is a "feature" of narrator. When narrator receives too many events, it discards some of them in order to catch up with the user actions. It does not mean that we should reduce the number of events, or force announcements that are trailing beh

[2020-11-10 03:15] Ashley-Li commented on #3214
Verified the issue with latest NET SDK 6.0.100-alpha.1.20557.2, the issue has been fixed that there's UIA accessibility provider from WinForm.Please see below result:
![image](https://user-images.githubusercontent.com/56664234/98623034-b4105800-22bf-11eb-81cf-0fc0aeef90b5.png)

[2020-11-10 03:23] Ashley-Li commented on #2965
Verified the issue with latest NET SDK 6.0.100-alpha.1.20557.2, the issue has been fixed that get correct information("Vertical" scroll bar) about the DataGridView using inspect app.
![image](https://user-images.githubusercontent.com/56664234/98623356-5af4f400-22c0-11eb-9422-8810aba9cf41.png)

[2020-11-10 07:57] Amy-Li03 opened #4204 "Form designer gets smaller after setting the Localizable of Form as True and setting a Language for it"
* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20559.3

* Have you experienced this same bug with .NET Framework?:
No

* More info:
1. This issue only reproduced on .NET 6.0.
2. When targeting to .NET 5.0 & .NET Core 3.1, this issue cannot repro.
3. This issue also can repro just re-open the form designer and no build operation.

**Problem description:**
When setting the Localizable of Form as True

[2020-11-10 08:00] SergeySmirnov-Akvelon opened #4205 "ListView groups displayed in Inspect when visual styles are disabled"
* .NET Core Version:
5.0.100-rc.2.20479.15

* Have you experienced this same bug with .NET Framework?:
No

**Additional data**
Issue is not reproduced on .NET Core 3.1

**Minimal repro**
1. Create application with ListView.
2. Add Group to ListView.
3. Add two items with group and two items without group.
4. Disable visual styles (remove "Application.EnableVisualStyles();" string from Program.cs)

[2020-11-10 10:21] Jessie-Zhang01 opened #4206 "[Accessibility] Increase the "group" list level of the ListView control in the inspection tool"
* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20559.3

* Have you experienced this same bug with .NET Framework?:
No

**More info**

1. The issue also can reproduce on .NET 5.0 RC2.
2. The issue can't reproduce on .NET SDK 3.1 and .NET 4.8.

**Problem description:**
Increase the "group" list level of the ListView control in the inspection tool with UI Automation mode.

**Minimal repro:**

1. Open

[2020-11-10 10:21] Jessie-Zhang01 opened #4207 "[Accessibility] Missing the "Items" list level for DomainUpDown control in the inspect tool"
* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20559.3

* Have you experienced this same bug with .NET Framework?:
No

**More info**

1. The issue also can reproduce on .NET 5.0 RC2.
2. The issue can't reproduce on .NET SDK 3.1 and .NET 4.8.

**Problem description:**
Missing the "Items" list level for DomainUpDown control in the inspect tool with UI Automation mode.

**Minimal repro:**

1. Create a

[2020-11-10 10:26] #4120 closed

[2020-11-10 10:26] #4121 closed

[2020-11-10 10:26] #4130 closed

[2020-11-10 10:26] #4172 closed

[2020-11-10 10:28] RussKie commented on #4121
@merriemcgaw do we want to service this in 5.0.1?

[2020-11-10 17:40] merriemcgaw commented on #4121
Yes, I agree with @Tanya-Solyanik here. We have to service or CheckedListBoxes are entirely unusable under UIA. @Pilchie for FYI.

[2020-11-11 01:18] RussKie commented on #4121
Raised https://github.com/dotnet/winforms/pull/4209 for servicing.

[2020-11-11 02:54] merriemcgaw commented on #1987
I'd like ComboBoxes hosted in a PropertyGrid to announce Expand/collapse - but that I mean as the ComboBox level, and not the individual button level within that.  Unless is a compliance related bug I haven't seen yet, I don't think we have anything we have to do here. Good to know we're like Office and we can use that as a data point in the future should a related bug come up.

I'm going to go ah

[2020-11-11 02:54] #1987 closed

[2020-11-11 03:45] RussKie opened #4211 "`NumericUpDownTests` tests need to split into granular test"
`NumericUpDown_BasicRendering` test currently asserts multiple states of the `NumericUpDown` controls such as rendering when the control is enabled and when it is disabled.
https://github.com/dotnet/winforms/blob/57b305f1548d8338170971fe1f5184b7145c8adb/src/System.Windows.Forms/tests/UnitTests/NumericUpDownTests.cs#L24-L82

The test must be split into smaller tests that assert a single case, e.g.

[2020-11-11 04:01] RussKie opened #4212 "Add control rendering tests with enabled visual styles"
We have a number of rendering tests, however all of them have been developed for disabled visual styles.
New tests need to be added to:
* [ ] NumericUpDownTests (https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/tests/UnitTests/NumericUpDownTests.cs)
* [ ] ButtonRenderingTests (https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/tests/UnitTests/System/Wind

[2020-11-11 05:31] RussKie opened #4213 "Flaky test: `GroupBox_FlatStyle_VisualStyles_on_SetWithCustomOldValue_GetReturnsExpected` with visual styles on"
The test executed from VS returns all green, run from a cli however the test fails:
[code]

Relates to https://github.com/dotnet/winforms/pull/4197

[2020-11-11 08:07] kirsan31 commented on #4122
.net 5.0 and VS 16.8 released. But how the new designer should work with user controls did not become clearer :( So, can some one take a clarification on [this problem](https://github.com/dotnet/winforms/issues/4023#issuecomment-707564714). Is this is a documentation lack (what's need to be done to the control to work with new designer), or it's a bug and I need to report it separately?

[2020-11-11 10:00] paul1956 commented on #4122
@kirsan31 It should just work otherwise there will be a huge amount of changes in applications. Currently if you don't open the Form in designer then Framework Forms just work in 16.8 (so its not a control issue). If you open the Form lots of stuff related to user controls gets deleted or modified in the designer file and in Preview 1 the event handlers in the form are corrupted as well. This shou

[2020-11-11 10:32] DmitryGaravsky opened #4214 "The ControlPaint.DrawCheckBox results in an incorrect image at 150% scaling when ButtonState.Flat is used"
As you can see in the attached screenshot the check-glyph is positioned incorrectly at 150% scaling:
![image](https://user-images.githubusercontent.com/8652582/98800143-0ddc6380-2421-11eb-9997-ea8f1e02f726.png)

* .NET Core Version:
SDK Version: 5.0.100

* Have you experienced this same bug with .NET Framework?:
Yes, it reproducible both in .Net Framework and .Net 5/.Net Core 3.1

**Minimal repro:

[2020-11-11 11:38] RussKie commented on #3898
In x86 the tests are failing with visual styles enabled:
https://dev.azure.com/dnceng/public/_build/results?buildId=882474&view=artifacts&type=publishedArtifacts

[code]

[2020-11-11 12:45] vladimir-krestov commented on #2390
@John-Qiao, there are 2 ways how to announce an `ErrorProvider` ToolTip text:
- **Using a mouse**: mouse over an `ErrorProvider` red cross icon, you will see a ToolTip with a text. If some user can't read the text he/she has to use `"Narrator+0"` keyboard combination (`"Narrator"` key is settable key, it is `CapsLock` by default, `"0"` is the keyboard number button on the top of your keyboard). Th

[2020-11-11 13:08] coderb opened #4216 "DataGridView filter caused IndexOutOfRangeException"
* .NET Core Version:  .NET 5.0.100

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
I have a `DataGridView` with a `DataView` data source that I use the set a `RowFilter`.  It mostly works, but I just got the following stack (with a Dialog popup).  I've never seen this prior to .net 5.0.

[code]

[code]

[2020-11-11 13:11] RussKie commented on #4216
Please provide a simple repro.

[2020-11-11 13:14] RussKie commented on #4216
@coderb are you using accessibility tools, like Inspect or Narrator?

[code]

@vladimir-krestov @SergeySmirnov-Akvelon please check this call stack.

[2020-11-11 13:15] coderb commented on #4216
I can't repro it currently but if I can I will post.  Perhaps there is some kind of race with the Paint event.

[2020-11-11 13:16] coderb commented on #4216
no

[2020-11-11 16:53] harborsiem commented on #4169
The bug occours also the SmallImageList.
@RussKie
Your suggestion helps also for the SmallImageList.

[2020-11-11 20:53] RussKie commented on #4169
The issue is with the `ImageList`, so all imagelists are affected.

[2020-11-11 22:54] tarekgh opened #4218 "ResXFileCodeGenerator for NetCore.App generates ResourceManager.GetObject() which doesn't compile."
This issue is reported on VS community portal and parked there for awhile. moving it here to decide what to do with it.

https://developercommunity2.visualstudio.com/t/ResXFileCodeGenerator-for-NetCoreApp-ge/20529

[code]

[EDIT]

Sample app: [Solution.zip](https://github.com/dotnet/winforms/files/5527772/Solution.zip)

[2020-11-11 23:00] RussKie commented on #4218
@tarekgh any reason why you think it is a Windows Forms issue? `ResourceManager` belong to dotnet/runtime, and the original topic talks about a console app.

[2020-11-11 23:15] tarekgh commented on #4218
@RussKie ResXFileCodeGenerator is owned by winforms.

[2020-11-12 00:02] weltkante commented on #3898
Yes, like I said before in the PR comment, there is more going on than just v5 vs. v6 common controls. I've been writing some tests against ImageList using GDI HBITMAP APIs and it seemed to roundtrip colors and transparency properly. Since WinForms puts the HBITMAP through GDI+ instead of accessing the image directly I can only guess something is going wrong in the GDI+ side. I didn't have the tim

[2020-11-12 00:50] Wildcatii opened #4219 "Two Bug of NET5 WinForm Designer"
* .NET Core Version: 5.0

* Have you experienced this same bug with .NET Framework?:

.NET Framework is normal.
**Problem description:**
1.Set image of button or label with designer cause NullException.
2.Can't access MenuStrip's (or ContextMenuStrip's)  item from designer directly.

**Expected behavior:**

**Minimal repro:**

[2020-11-12 00:54] RussKie commented on #4219
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2020-11-12 00:54] #4219 closed

[2020-11-12 01:10] dreddy-work commented on #4218
Yes. this is owned by winforms and span across winforms designer and runtime repos.

[2020-11-12 01:55] RussKie commented on #4218
@dreddy-work assigning to you since you're working in this area.

[2020-11-12 01:59] tarekgh commented on #4218
You may try the scenario to see if still repro as the issue is old and maybe already fixed. I recall some work has been done in winforms and msbuild to fix some of such scenarios.

[2020-11-12 02:48] paul1956 commented on #4219
@RussKie There are many Feedback items going back over a year on these two items, most are closed as duplicate/not enough information/under investigation. I tried adding "Can't access MenuStrip's (or ContextMenuStrip's) item from designer directly" and there were over 4,000 feedback items that matched that string and the first several I checked did describe the issue fairly well, so if Feedback wo

[2020-11-12 03:03] merriemcgaw commented on #4122
Can you provide me with links to any reports you have of the designer being completely broken in 16.8GA or 16.9 p1? That's not been our experience, so I really want to follow up.

We're working on follow up documentation on the issue with losing content in your InitializeComponent() if the control doesn't fit the new patterns. Since we're still in progress of refining the new patterns, we can't re

[2020-11-12 03:23] 9ParsonsB commented on #3958
This is still happening on 16.8.0.

Also, the net5 designer does not show images for buttons created in netfx, however when running the program the images show as expected

[2020-11-12 03:31] merriemcgaw commented on #3452
Yes, I think we do.

[2020-11-12 03:35] paul1956 commented on #4122
I created an new C# Winforms Project with nothing else, 16.8 behaves as expected for both VB and C#, click on Form and the designer opens reasonably quickly. In Preview 1 it does below. If I kill VS and open in 16.8 it works fine, go back to Preview and for C# you get below.
![image](https://user-images.githubusercontent.com/12789369/98891474-21a0bd80-2453-11eb-9d72-f03a37f716b5.png)
If I wait a r

[2020-11-12 04:00] paul1956 commented on #4122
@merriemcgaw as for a User/Custom Controls the provided Templates have worked since VB.Net first shipped and they worked in Framework. I don't understand what "fit the new patterns" means with respect to controls that could be 18 years old. Also I have tried to create a separate project with the User controls where I can design the controls with UI support, and I can see them in the toolbox. It's

[2020-11-12 04:22] RussKie commented on #4219
Can you please link to your Feedback items here to ensure they get to our team?

[2020-11-12 04:24] #4169 closed

[2020-11-12 07:44] Amy-Li03 commented on #4204
Add some controls to form designer and set a Language for Form, then build solution. Not only the Form becomes smaller, the Text property of the control is also missing and all controls stacked on top of each other.
![Update](https://user-images.githubusercontent.com/62929087/98910227-dd1e2c00-24fd-11eb-8bf7-1f679bc13391.gif)

[2020-11-12 07:45] John-Qiao commented on #2390
@vladimir-krestov I have tested this scenario on 3 OS, please check the below test results:

In Windows version 1809 OS, the _ErrorProvider_ text can be announced by Narrator automatically when move mouse on the error icon.
![OS-1809-TestResult](https://user-images.githubusercontent.com/45864985/98910248-e3140d00-24fd-11eb-89e8-89e2de35c32f.gif)

In Windows version 2004 OS and 20H2 OS, the _ErrorP

[2020-11-12 07:57] vladimir-krestov commented on #2390
@John-Qiao, thank you so much for testing!
Yes, auto Narrator announcing of a ToolTip text worked in 1809 OS version and before. For the next versions a user have to use "Narrator+0" combination to announce a ToolTip text. It is expected for later versions of Narrator by design. In the rest, yes, we have 2 ways how to announce an ErrorProvider text.
@merriemcgaw, is it enough from our side? Should

[2020-11-12 08:05] kirsan31 commented on #4122
@merriemcgaw thanks for the answer.

IWe're working to figure out what option is best in this situation (none are great). We could render the whole form un-designable (with a White Screen of Drat) and provide instructions for the workaround like I just gave you. Alternatively, we could try to resolve the control with some default serializers - but that's not a good option either since it won't ser

[2020-11-12 08:18] Tanya-Solyanik commented on #4218
Yeah, this is fixed. the repro project is targeting 1.0.

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp1.0</TargetFramework>
  </PropertyGroup>

[2020-11-12 08:19] #4218 closed

[2020-11-12 17:13] vladimir-krestov opened #4224 "Incorrect MonthCalendar Accessibility tree at an increased size"
* .NET Core Version: 6.0

* Have you experienced this same bug with .NET Framework?: Yes (works even worse)

**Problem description:**
- If a MonthCalendar has a big size, it has several months (years, centuries, depending on a mode) but Inspect see only a first part of the MonthCalendar (e.g. a first month). The tool doesn't see other parts of the MonthCalendar. Narrator can't navigate and announc

[2020-11-12 17:15] vladimir-krestov commented on #3019
Reopened as #4224

[2020-11-12 17:15] #3019 closed

[2020-11-13 02:23] Marie-Shi commented on #4130
Verified this issue with .Net 6.0.100-alpha.1.20562.2 from master branch, it is fixed, now the MSAA structure of NumericUpdown/DomainUpDown in Core is correct.
![Untitled](https://user-images.githubusercontent.com/45864017/99020712-2a4fdb80-259a-11eb-8ecd-2e2a0c31b92e.png)

[2020-11-13 02:26] RussKie commented on #3898
Will re-open if the issue re-surfaces

[2020-11-13 02:26] #3898 closed

[2020-11-13 02:33] Marie-Shi commented on #4172
Verified this issue with .Net 6.0.100-alpha.1.20562.2 from master branch, it is **fixed**, now controls' items can be displayed in Inspect: MSAA hierarchy.
![list](https://user-images.githubusercontent.com/45864017/99021301-5c157200-259b-11eb-8f37-13a7daaab4d4.png)

[2020-11-13 02:40] Jenna-Zheng commented on #4120
Verified this issue with .NET SDK 6.0.100-alpha.1.20562.2, it is fixed that have the correct levels displayed for linkLabel1 control in the Inspect tool.
![image](https://user-images.githubusercontent.com/64949616/99021828-7a2fa200-259c-11eb-9eab-7dd0eadf220f.png)

[2020-11-13 03:07] Jenna-Zheng commented on #4121
Verified this issue with .NET SDK 6.0.100-alpha.1.20562.2, it is fixed that the items displayed correctly for checkedListBox1 control in the Inspect tool.
![image](https://user-images.githubusercontent.com/64949616/99023799-4ce4f300-25a0-11eb-89a2-455675d11d55.png)

[2020-11-13 08:07] ShreyasZare opened #4226 ""Value cannot be null. Parameter name: instance" in VS2019 .NET WinForms App"
I am seeing the following error when opening forms editor in any new Windows Forms App (.NET) project is latest updated VS2019 (Version 16.8.1) community build.

![image](https://user-images.githubusercontent.com/10008172/99044033-21203800-25b5-11eb-8e65-1ef0334b4de0.png)

* .NET Core Version:
.NET 5 updated with VS2019 (Version 16.8.1) community build.

* Have you experienced this same bug with .

[2020-11-13 10:04] Zinoh opened #4227 "Scrollwheel in .NET 5 Designer causes Visual Studio to freeze"
* .NET Core Version:  5.0.100
* Visual Studio 16.9.0 Preview 1.0

* Have you experienced this same bug with .NET Framework?:  No

Using the mouse scroll-wheel in the WinForms designer for .NET 5 causes Visual Studio to freeze

.NET 5 New Project
![net5-designer-scrollcrash](https://user-images.githubusercontent.com/18477601/99059871-29ed1b80-256d-11eb-960e-4a436569ff8f.gif)

.NET Framework New Pro

[2020-11-13 10:18] SergeySmirnov-Akvelon commented on #4216
I found similar issue when user does following steps:
1. Create application with DataGridView.
2. Add BindingSource and BindingNavigator to grid.
3. Or just open attached project ([4216.zip](https://github.com/dotnet/winforms/files/5536135/4216.zip))
4. Run application
5. Start to edit last row (row for adding of the new row)
6. Close application during editing of row

![Issue-4216-1](https://user

[2020-11-13 10:39] SergeySmirnov-Akvelon opened #4228 "Exception appears when Narrator is active and user tries to add row after removing of another row."
* .NET Core Version:
5.0.100-rc.2.20479.15

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**

1. Create the application with a DataGridView
2. Add a several rows to the DataGridView.
3. Or just use the attached project ([4228.zip](https://github.com/dotnet/winforms/files/5536419/4228.zip))
4. Run the application.
5. Start editing the last row (row to add a new row)

[2020-11-13 10:53] SergeySmirnov-Akvelon commented on #4228
Hi @merriemcgaw. I can reproduce this issue in the NVDA:
![Issue-3334-NVDA](https://user-images.githubusercontent.com/23376742/99064736-6a718700-25b7-11eb-9fa1-27394bf0f129.gif)

But the Narrator works correctly for same case:
![Issue-3334-Narrator](https://user-images.githubusercontent.com/23376742/99064718-60e81f00-25b7-11eb-9d7e-97a5ecf1f15a.gif)

Probably, it is external issue of the NVDA. Sho

[2020-11-13 13:55] SergeySmirnov-Akvelon commented on #4157
@RussKie, I found that issue can be reproduced using next unit test:
[code]
If the Handle is not created, then we fall into an endless loop when trying to get a name of DropDownButtonUiaProvider.

[2020-11-14 11:11] Zinoh commented on #4227
Submitted issue through VS Feedback tool instead

[2020-11-14 11:11] #4227 closed

[2020-11-14 19:26] jcddcjjcd commented on #4169
RussKie.
I have discovered another issue with ListView that is probably related and may well be solved by your current PR.
In the code I sent you in DisplayThumnails() the line:

 lvwImages.Items.AddRange(listOfItems.ToArray());

is intermittently crashing with large selections of 1500 and larger mainly and I think it is related to current bug in ListView.

Regards, John.

[2020-11-15 00:44] RussKie commented on #4227
Thank you.
If you post the link to the feedback here we can make sure it gets to our team.

[2020-11-15 05:47] weltkante commented on #4169
I don't think this is related or will be fixed by the PR, the bug was caused by not updating the image list after initial creation, "not updating" something shouldn't be crashing.

You may just be exhausting some memory limits by adding a huge amount of images? For fixing the ImageList ownership issues the current implementation copies ImageLists which does increase the memory usage in .NET Core (

[2020-11-15 13:04] Zinoh commented on #4227
@RussKie Thank you

https://developercommunity2.visualstudio.com/t/Rolling-scrollwheel-over-NET-5-Winforms/1256156

I did use the screen recorder tool, but have no idea if it processed correctly due to the crash.

[2020-11-16 06:37] SergeySmirnov-Akvelon commented on #3334
Hi @merriemcgaw. I can reproduce this issue in the NVDA:
![Issue-3334-NVDA](https://user-images.githubusercontent.com/23376742/99064736-6a718700-25b7-11eb-9fa1-27394bf0f129.gif)

But the Narrator works correctly for same case:
![Issue-3334-Narrator](https://user-images.githubusercontent.com/23376742/99064718-60e81f00-25b7-11eb-9d7e-97a5ecf1f15a.gif)

Probably, it is external issue of the NVDA. Sho

[2020-11-16 07:05] manuelvalenzuela commented on #3437
Hello, I think there is a case that we could address separately:

Verify that the TreeNode does not previously exist in the TreeView, to be consistent with the methods: `Insert(int index, TreeNode node)` and `Add(TreeNode node)`.
I cannot assume that breaking changes will not be introduced, however allowing that case implies a state of inconsistency.

[2020-11-16 14:21] ds1709 opened #4238 "Resize grip is missing in PropertyGrid DropDown editor after update to net5.0-windows"
* .NET Core Version:
.Net 5 (net5.0-windows)

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
I have simple drop-down editor `IsDropDownResizable => true` and `GetEditStyle => UITypeEditorEditStyle.DropDown`. For `net472` or `netcoreapp3.1` there's resize grip under drop-down editor. After update to `net5.0-windows` resize grip is missing.

**Expected behavi

[2020-11-16 15:33] oudi opened #4239 "Value cannot be null. (Parameter 'rootComponent') when use IRootDesigner"
* .NET Core Version:
.NET 5 updated with VS2019 (Version 16.8.1) community build.
net5.0-windows

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

When I create the IRootDesigner myself component, open the deisnger of the component in VS 2019, it shows the error below.

[code]

Then I create a sample from https://docs.microsoft.com/en-us/dotnet/api/system.co

[2020-11-17 08:47] smourier opened #4246 ".NET Core 3.1 console apps with UseWindowsForms set to true in .csproj always fails since .NET 5.0"
### Description

If I create this simple .NET Core 3.1 Console project (on Windows, Visual Studio or not), it works fine:

Project.csproj:

	<Project Sdk="Microsoft.NET.Sdk">

	  <PropertyGroup>
		<OutputType>Exe</OutputType>
		<TargetFramework>netcoreapp3.1</TargetFramework>
	  </PropertyGroup>

	</Project>

Program.cs:

	static void Main(string[] args)
	{
	    Console.WriteLine("Hello World!");

[2020-11-17 09:00] Marie-Shi opened #4242 "[Inspect]Inspect is crashing when moving cursor inside the DataGridView that setting AllowUserToAddRows as false"
* .NET Core Version:
.Net 6.0.100-alpha.1.20563.2 from master branch

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
1.	This is a regression issue, it can also **repro** on .Net Framework 4.8, cannot repro on .Net Framework 4.7.2.

2.	This issue cannot repro when setting AllowUserToAddRows property of DataGridView as true.

**Minimal repro:**
1.	Extract the ‘DataGri

[2020-11-17 09:19] SergeySmirnov-Akvelon opened #4243 "Narrator does not announce that the row has been added to the DataGridView"
* .NET Core Version:
5.0.100-rc.2.20479.15

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**

1. Create the application with a DataGridView
2. Run the application.
3. Start editing the last row (row to add a new row)

![Issue-4243](https://user-images.githubusercontent.com/23376742/99370940-5c7d7800-28cf-11eb-95e2-d0bc7b927607.gif)

**Actual behavior:**
Narrator d

[2020-11-17 09:35] Zheng-Li01 opened #4244 "An error pops up and Form1.cs[Design] page load failed after retarget the Target framework from 6.0 to 3.1"
* More info
1. The issue can't reproduce without installing the latest .NET SDK 6.0. such as retarget the Target framework from 5.0 to 3.1.

* .NET Core Version:
.NET SDK 6.0.100-alpha1.20566.10 +16.9.0 Preview 2.0 [30716.228.main]

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1. Install the latest .NET SDK 6.0 from: https://github.com/dotnet/core-sdk.
2. Launc

[2020-11-17 15:17] smourier commented on #4246
Actually I posted this in dotnet/winforms initially ... not sure I understand all the wiring below :-)

[2020-11-17 20:03] #3884 closed

[2020-11-17 20:07] #4243 closed

[2020-11-17 22:07] CBrauer opened #4261 "Windows Forms App (.NET) .NET5.0 SkiaSharp throws Attempted to read or write protected memory"
# Issue
I have built a Windows Forms App (.NET) using .NET 5.0 rc2 and SkiaSharp. It is throwing the error: “Message=Attempted to read or write protected memory. This is often an indication that other memory is corrupt.”

# General

I have put my reproducible solution on GitHub at: https://github.com/CBrauer/TestSkia
I hope you guys can use this complete solution to fix the error.

# Environment
M

[2020-11-18 03:29] docfresh commented on #4169
Similar (same?) issue reported on Feedback hub [here](https://developercommunity2.visualstudio.com/t/ListViewItem-images-no-longer-display-af/1256111)

[2020-11-18 17:01] merriemcgaw commented on #2933
I don't see any violations here that we have to address. If we start to implement UIA ourselves for RichTextBox we lose everything that the control natively provides and have to do all that work ourselves. Unless there's a violation here that must be addressed I'm not inclined to do that work. In fact, I would try to get any violation fixed by the RichEdit control itself first.  Closing this issue

[2020-11-18 17:01] #2933 closed

[2020-11-18 17:25] ehasis opened #4253 "VB.NET - Incorrect error BC30506 when compiling with .NET 5.0"
Migrating a solution from .NET Core 3.1 to .NET 5.0 fail to compile. I was able to reproduce the problem with a minimal project as described on the steps bellow.

**Version Used**: 16.8.0

**Steps to Reproduce**:
1. Create a VB .NET Core Console Application (ConsoleApp1)
2. Add a new VB .NET Library project (Core) (ClassLibrary1)
3. Change TFM to .NET 5.0 on both projects
4. Make the ConsoleApp1 p

[2020-11-18 17:41] ehasis commented on #4253
Sorry if I misunderstood you said, but it's not about WinForms. I mean, in the steps to reproduce don't use WinForms, the "Button" class is just a random name.

[2020-11-18 22:38] KlausLoeffelmann commented on #4244
Does it work, when the Designer was closed before, and only opened after the TFM change?

[2020-11-18 22:55] samsp-msft opened #4255 "Survey: Repo contribution experience, Fall 2020"
We normally focus on how to improve the product, but we’re also turning our focus to improving the open source project. Periodically we are running a survey to collect feedback on your experience working with our repos. We did one back in May, and as its been about 6 months, its about time for another. We’ve created a survey to better understand your individual experience of participating and cont

[2020-11-18 23:09] merriemcgaw commented on #4244
@Zheng-Li01 does everything work OK when you edit the project file directly as well? And in that case do you need to open/close the designer?

[2020-11-19 02:05] Zheng-Li01 commented on #4244
@KlausLoeffelmann  @merriemcgaw,  no errors pops up when editing the project file directly or closed the Form1.cs[Design] before changing the TFM, however the 'icon' of the Form1.cs will lose and can't open the Form1.cs[Design] anymore.
![UpdateCoreIssue](https://user-images.githubusercontent.com/38325459/99611416-9c1e9e00-2a4e-11eb-8631-cb77a644e521.PNG)

[2020-11-19 23:09] merriemcgaw commented on #4244
@KlausLoeffelmann would this be one of the follow up changes the Project System needs to take care of?

[2020-11-20 01:17] KlausLoeffelmann commented on #4244
I am not sure. This is C#, I'd need to test.
I only know VB for sure.

[2020-11-20 07:39] kirsan31 commented on #3691
Any news?

[2020-11-20 08:16] Jessie-Zhang01 opened #4260 "RichTextBox Monospace Font Rendering is Broken"
* .NET Core Version:
.Net 6.0.100-alpha.1.20568.7 from master branch

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info:**

1. This issue also can reproduce on .Net Core 3.1.
2. This is a regression issue, it can reproduce from .Net framework 4.7 to 4.8, but cannot reproduce on .Net Framework 4.6.2. In addition, from .Net framework 4.7 to 4.8, there is a workaround: add t

[2020-11-20 09:43] Zheng-Li01 commented on #4244
@KlausLoeffelmann, the issue also can reproduce on .NET Core VB project, see below screenshot.
![VB](https://user-images.githubusercontent.com/38325459/99785046-9c569080-2b57-11eb-8911-1c3073be892f.PNG)

[2020-11-20 09:46] GraPhiX-Guru commented on #3691
Any News 2

[2020-11-20 16:51] gwickman-dev commented on #3691
Any news 3?

[2020-11-20 16:59] MishaTY commented on #3691
Any news 4?

[2020-11-20 17:22] kirsan31 commented on #3691
Guys, instead of this bumping, pls vote 👍  to the first post.

[2020-11-20 19:37] smourier commented on #4246
I found the fix. Just add this

    <DisableWinExeOutputInference>true</DisableWinExeOutputInference>

To the .csproj. It's documented here: https://docs.microsoft.com/en-us/dotnet/core/compatibility/winforms#outputtype-set-to-winexe-for-wpf-and-winforms-apps (not easy to find...)

[2020-11-20 19:37] #4246 closed

[2020-11-21 00:02] #3659 closed

[2020-11-21 04:59] vladimir-krestov commented on #2390
Described 2 ways are recognized uncomfortable for users. This issue should be reworked.

[2020-11-21 08:45] Zinoh commented on #4227
Call stack when Visual Studio freezes. Seems VS hangs waiting for a response from the DesignToolsServer after processing a WM_MOUSEWHEEL message. This only occurs if you roll the mousewheel over the designer when scrollbars are not present.

A correct dump file was also added to my feedback post.

![devenv_2020-11-20_06-01-49](https://user-images.githubusercontent.com/18477601/99871849-a6a27a00-2b

[2020-11-22 02:01] dhrdlicka opened #4263 "ListView does not display icons for items added after the form has been loaded"
* .NET Core Version: 5.0.100

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

ListView renders items added after the form has been loaded without their icons. This happens regardless of the configured view.

The provided repro adds 50 items in the constructor, Form.Load handler and Form.Shown handler respectively. As you can see, only the first 50 items are

[2020-11-22 02:25] dhrdlicka opened #4264 "ListView.Items.Add throws ExecutionEngineException with custom ListViewItemSorter"
* .NET Core Version: 5.0.100

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

ListView.Items.Add throws ExecutionEngineException upon reaching a certain number of items in the ListView when ListView.ListViewItemSorter is used to sort the items.

The exact number might vary on the specific use case and machine setup. The repro linked below crashes on my mach

[2020-11-22 08:09] kirsan31 commented on #4263
https://github.com/dotnet/winforms/issues/4169 the same?

[2020-11-22 09:47] kirsan31 commented on #1830
It's strange but I can't repro this issue any more with .net core 3.1 and .net5.0 :astonished: It's even not repro with old 3.0 Preview9 binary and 3.1.9 runtime. And it's stably reproducible on net472.
Besides runtime change, old test was on Windows7 and now  I am testing on Win10 (2004)... Any thoughts?:thinking:

[2020-11-23 00:58] RussKie commented on #4263
Duplicate of #4169

[2020-11-23 00:59] RussKie commented on #4263
You can you a workaround described here: https://github.com/dotnet/winforms/issues/4169#issuecomment-721465144
The fix is coming in 5.0.1.

[2020-11-23 00:59] #4263 closed

[2020-11-23 01:07] RussKie commented on #1830
If we can't repro this on .NET 5.0 then I think we can close it. If this comes back we can reopen and investigate then.

[2020-11-23 01:09] RussKie commented on #4227
@DustinCampbell  @JeremyKuhne FYI

[2020-11-23 01:43] RussKie commented on #4264
Thank you for the repro project, but I can't seem to repro the issue having a clean install of .NET 5.0 (i.e. deleted C:\Program Files\dotnet folder and installed [.NET 5.0 afresh](https://dotnet.microsoft.com/download/dotnet/5.0)). I have also increased all `for` loops to 500 iterations.

Can you please tell more about your setup and hardware you're observing the issue on?

[2020-11-23 01:46] RussKie commented on #4264
@JeremyKuhne @weltkante do you think we're failing to keep the `callback` alive, i.e. `GC.KeepAlive(callback)` on line:5532?
https://github.com/dotnet/winforms/blob/00b77530a64b0e0e1bfcc57e523f46c58e7c6843/src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs#L5527-L5532

[2020-11-23 04:05] RussKie opened #4265 "Sited `ImageList` attached to `ListView` detached twice"
* .NET Core Version:
.NET 5.0 RTM, .NET 6.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

A sited `ImageList` (i.e. added to an `IContainer`)
[code]

that is shared across several properties (e.g. `LargeImageList` and `SmallImageList`) upon the container disposal will be detached trice tripping on an assert (on the 2nd and 3rd re-entries):
https://github

[2020-11-23 06:35] RussKie commented on #4264
@Olina-Zhang can you see if you can repro this on .NET 5.0 RTM and the latest 6.0?

[2020-11-23 07:16] RussKie commented on #4260
If this worked in .NET Framework <4.7, and then changed in 4.7+ then it is a result of .NET Framework 4.7 moving to the newer RichEdit4.1 control. `Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl=true` allowed using older RichEdit2.0/3.0 instead of RichEdit4.1.

[2020-11-23 10:32] kirsan31 commented on #1830
Just tested this on Windows7 and .Net5.0 runtime - no exception 👍

[2020-11-23 10:32] #1830 closed

[2020-11-23 11:38] Zinoh commented on #4227
Setting the form's **Autoscroll** to **True** and adding a control that extends outside the client's current Size (causing a vertical scrollbar to appear) causes Visual Studio to longer crash when using the mouse wheel while hovering over the designer.

Current thought is that some sort of logic needs to be added to only send WM_MOUSEWHEEL to the DesignToolsServer when actual scrollbars are presen

[2020-11-23 15:43] kpreisser commented on #4264
I think failing to keep the delegate instance alive until after the `SendMessageW` call is probably the issue. You should be able to reproduce it more easily by setting `ListView.ListViewItemSorter`to a comparer that contains e.g.  `GC.Collect()` and `Thread.Sleep(10)`, in order to induce garbage collection and delay execution a bit, for example:
[code]

[2020-11-23 15:55] weltkante commented on #4264
Yes in the snippet you show, the `callback` managed delegate looks eligible for garbage collection, so if the comparer does complex work this may cause it to be collected prematurely while native code still has access to the delegate pointer. You are responsible for keeping the managed delegate alive as long as the native pointer is in use.

[2020-11-23 17:10] dhrdlicka commented on #4264
Intel Core i3-4160 @ 3.60 GHz, 16 GB of RAM, Windows 10 x64 build 20262.

[2020-11-23 20:11] Possibility454 opened #4298 "error BC30456: 'Form1' is not a member of 'WinFormsApp'"
# Issue Title

When changing the projects startup object to a form that isnt Form1, you get this error:
error BC30456: 'Form1' is not a member of 'WinFormsApp'

# General

Create a project, such as VB WinForms Application with .Net 5. Rename the default Form1 to something else such as FormMain. Change the startup object to FormMain. Try running the application, you get the error. The auto-generate

[2020-11-24 01:56] RussKie commented on #4238
Do you mind sharing screenshots from .NET Framework/.NET Core and .NET 5.0 to better visualise the issue? Thanks

[2020-11-24 01:59] #4178 closed

[2020-11-24 02:04] RussKie commented on #3691
We had a preliminary investigation and it looks like it _may (?) be a bug_ in the Windows codebase. A deeper investigation is required and that requires time.
Will update once we have more information to share.

[2020-11-24 02:14] RussKie commented on #4227
@Olina-Zhang can you please raise an issue in the Designer repo?

[2020-11-24 02:18] RussKie commented on #4239
@safern this wouldn't be related to https://github.com/dotnet/runtime/issues/31428 by any chance, would it?

[2020-11-24 02:34] Olina-Zhang commented on #4264
@RussKie, I cannot repro this exception issue using that sample app in .Net 5.0 RTM and the latest 6.0 build: added listview items can be sorted. And the results for both have a little difference: In 5.0, repro the intermittent missing icons, and in the latest 6.0, cannot.

[2020-11-24 02:51] safern commented on #4239
I think so. When I tested the repro I was getting null as the designer value. Let me try this repro with my fix.

[2020-11-24 02:52] Olina-Zhang commented on #4227
I will raise it.

[2020-11-24 03:08] Zheng-Li01 commented on #4243
Verified the issue with .NET SDK 6.0.100-alpha.1.20573.16, the issue has been fixed that  new added row can be announce currently. see below screenshot.
![GH4243](https://user-images.githubusercontent.com/38325459/100041933-53e3ef00-2e45-11eb-9b74-832ef6575bef.PNG)

[2020-11-24 03:38] RussKie commented on #4264
Thank you @kpreisser, but even with your suggestion I'm unable to repro the crash on two different machines I have at my disposal (.NET 5.0 and 6.0, debug and release). It is a good way to lock a machine up for 5+ minutes though, haha.
Were you able to repro the crash yourself?

@dhrdlicka have you observed the issue on any other workstation other than yours?
Is there anything else happening on th

[2020-11-24 05:44] RussKie commented on #4261
@CBrauer I can't see any code which directly belongs to Windows Forms, the issue appears to be in the SkiSharp code:
![image](https://user-images.githubusercontent.com/4403806/100053434-2b271e00-2e74-11eb-9da0-4ec5660e9445.png)

You need to raise to the SkiSharp maintainers. If it can be demonstrated the issue is caused by the Windows Forms runtime we'll investigate.

[2020-11-24 05:44] #4261 closed

[2020-11-24 05:46] #4260 closed

[2020-11-24 07:21] kpreisser commented on #4264
Hi @RussKie,
yes, I'm able to reliably (100% of the time) reproduce the crash with the comparer code sample, running on .NET SDK 5.0.100 (x64) on Windows 10 Version 2004, when running the application compiled for Debug or Release in Visual Studio with and without a debugger. I haven't tried yet with a nightly build.

<details>
<summary><code>dotnet --info</code></summary>
<br>
.NET SDK (gemäß "glo

[2020-11-24 07:22] ds1709 commented on #4238
net472
![image](https://user-images.githubusercontent.com/5591663/100061219-cb625000-2e3e-11eb-9f3b-689d49e379d7.png)
net5.0-windows
![image](https://user-images.githubusercontent.com/5591663/100061296-e634c480-2e3e-11eb-958a-41e231eee031.png)

[2020-11-24 08:14] RussKie commented on #4264
Thank you! I'll give it a go tomorrow, hopefully I'll get it to fail.

[2020-11-24 08:39] Zheng-Li01 commented on #4169
Verified the issue with .NET 6.0.100-alpha.1.20573.25 and .NET 5.0.200-preview.20573.23, the image can be load successfully for now. see below GIF.
![UpdateCore4169](https://user-images.githubusercontent.com/38325459/100069264-81e02800-2e73-11eb-91cb-21295b67a366.gif)
[TestListView.Core.zip](https://github.com/dotnet/winforms/files/5588446/TestListView.Core.zip)

[2020-11-24 08:52] kirsan31 commented on #4238
@ds1709

https://docs.microsoft.com/en-us/dotnet/core/compatibility/winforms#net-core-30

[2020-11-24 09:03] Olina-Zhang opened #4268 "[Accessibility]HighContrast: ToolStripButtons in PropertyGrid should have obvious distinct between focused and checked status"
* .NET Core Version:
6.0.100-aipha.1.20573.16

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Extract following attached app and open it in VS
[WinFormsApp30.zip](https://github.com/dotnet/winforms/files/5588567/WinFormsApp30.zip)
2. Set Windows as HighContrast modes: HC Black/White/#1/#2
3. Build and run the project.
4. Press "Right/Left" arrow to focus on "

[2020-11-24 10:00] MojoDK opened #4269 "The 'Windows Forms Remote Designer Hosting Package' package did not load correctly."
* .NET Core Version:
Net5.0

* Have you experienced this same bug with .NET Framework?:
No

Creating a new project gives me this error:

![image](https://user-images.githubusercontent.com/1185948/100077821-18e0bc00-2e43-11eb-9e79-fc0aa17943b5.png)

Activity log:

[code]
Restarting VS does not help.

When trying to open Form1 designer, I get this error:
"The designer could not  be shown for this fi

[2020-11-24 12:06] RussKie commented on #4269
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2020-11-24 12:06] #4269 closed

[2020-11-24 17:47] rlktradewright opened #4272 "ActiveX support in .Net 5 Windows Forms designer?"
* .NET Core Version:
.Net 5

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The Windows Forms designer for .Net 5 appears to be brain-dead with regard to ActiveX controls.

I have not succeeded in getting any ActiveX controls working in the Toolbox. The 'Choose items' dialog says:

_'The following controls were successfully added to the toolbox but are not

[2020-11-24 20:21] safern commented on #4239
I might be doing something wrong but I can't get a repro of this even without my fix. @oudi would you mind sharing a minimal repro zip?

[2020-11-24 22:35] augustoproiete opened #4274 "Calls to comctl32.dll succeed in .NET 4.8, but fail in .NET 5 with System.EntryPointNotFoundException"
* .NET Core Version: **5.0.100** and **3.1.404**
* Windows version: **Windows 10** (18363.1139)
* Does the bug reproduce also in WPF for .NET Framework 4.8?: **No**
* Is this bug related specifically to tooling in Visual Studio (e.g. XAML Designer, Code editing, etc...)? **No**

 **Problem description:**

Calls to `comctl32.dll` succeed in .NET Framework 4.8, but fail in .NET 5 and also in .NET Co

[2020-11-24 23:20] AustinWise opened #4275 "ListView redraws when images are added to its ImageList"
* .NET Core Version: release/5.0 branch (af41134ff98cf2793a2fcf40f21f95dc94f3ee79), includes #4222

* Have you experienced this same bug with .NET Framework?: No. The problem is also not in .NET Core 3.1.

**Problem description:**

When adding a image to the ImageList, the entire contents of a ListView that is using that ImageList is redrawn. This causes it flicker and if there are enough item, it

[2020-11-24 23:55] vatsan-madhavan commented on #4274
That seems to have solved WinForms' own internal needs, but didn't account for the fact that this manifest may have been used by apps (like this example). That said, these are hard to foresee use-cases, I think.

The ref-pack might be a good place to put this. It may even be reasonable to say that this is not supported in .NET 5/6 and developers would have to supply their own manifest, as long as

[2020-11-25 01:43] RussKie commented on #4274
Sorry I don't quite understand why the issue is transferred to us. Perhaps I'm missing something, is there something which makes Windows Forms to break WPF? Unless it is the case I don't see anything that we need to fix here - Windows Forms apps work, it is WPF that is broken.

If this issue needs to be fixed at WindowsDesktop level the issue should be transferred there. Other than that I think th

[2020-11-25 01:51] RussKie commented on #4238
@dreddy-work do you think you could have a look at it?

[2020-11-25 03:12] Zheng-Li01 opened #4278 "Failed to create .NET Core VB project by using CML"
* More info:
This is a regression issue, can't reproduce on .NET SDK 6.0.100-alpha.1.20573.16

* .NET Core Version:
.NET 6.0.100-alpha.1.20574.5 build

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1. Installed the latest .NET SDK 6.0 from https://github.com/dotnet/installer.
2. Create a .NET Core winforms VB project by using CML: **dotnet new winforms -lang VB*

[2020-11-25 05:24] paul1956 opened #4279 "SplashScreen form not shown unless Startup Form set to Sub Main"
* .NET Core Version:
Microsoft.WindowsDesktop.App 5.0.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

In Framework SplashScreen is shown if one is defined in project file and Project Startup object is set to Form1. In Core the splash screen is only shown if Startup object is set to Sub Main

**Expected behavior:**
SplashScreen is shown if Startup object

[2020-11-25 06:04] Zheng-Li01 commented on #4278
More details, there also have the different result with the command **dotnet new winforms -lang C#**, it seems that the issue caused by "-lang xx", see below screenshot.
![UpdateCoreIssue](https://user-images.githubusercontent.com/38325459/100189285-f32ce300-2f26-11eb-95db-61919256b156.PNG)

[2020-11-25 08:06] kirsan31 commented on #4274
@RussKie I think that guys here want `XPThemes.manifest` to be delivered separately. For now, wpf completely  haven't it and in winforms it's embedded in winforms.dll.

[2020-11-25 09:52] #4264 closed

[2020-11-25 10:48] RussKie commented on #4278
This is not Windows Forms issue, moving to the SDK.

[2020-11-25 12:50] kirsan31 opened #4283 "MonthCalendar: UpdateBoldedDates flickers and resets DisplayRange"
* .NET Core Version: **all**

* Have you experienced this same bug with .NET Framework?: **yes**

**Problem description:**
After you changed BoldedDates in MonthCalendar you need to call `UpdateBoldedDates` method to see visual changes. The problem is that [UpdateBoldedDates](https://github.com/dotnet/winforms/blob/6391b524dd64e7530eba986c6607bf129b3ec8ae/src/System.Windows.Forms/src/System/Window

[2020-11-25 14:06] SergeySmirnov-Akvelon commented on #3334
Hi @merriemcgaw. After opening the context menu, it and its options are available in the inspector and Accessibility Insights
![Issue-3334-contextmenu](https://user-images.githubusercontent.com/23376742/100237876-90e0dc00-2f40-11eb-937a-d2e5e871a6b1.gif)

[2020-11-26 01:36] merriemcgaw commented on #3334
Can you follow up with Guy in the Teams site? It would be best to have a snapshot of the UIA tree either from Accessibility insights or this. I think we should be allowed to close this.

[2020-11-26 02:25] vsfeedback opened #4284 "VS crashes by resizing DataGridview scrollbars in inheritance when making them permanently visible"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/VS-crashes-by-resizing-DataGridview-scro/1263854?preview=true)._

---
[severity:It's more difficult to complete my work]
Hello,
as described and confirmed by an other community member (Timon Yang) VS 2019 crashes when you try to make the vertical and horizontal scrollbar permanently vis

[2020-11-26 02:36] Zheng-Li01 commented on #4284
The issue also can reproduce between .NET Framework and .NET Core projects, and have a workaround provided by @KlausLoeffelmann that is working well. please see below details.

 **Repro Steps:**
1. Opened the attached project.
[FeedBack1249245.zip](https://github.com/dotnet/winforms/files/5600117/FeedBack1249245.zip)
2. Drag & drop the MyDataGridview control to Form1.cs[Design].
3. Try to cut or d

[2020-11-26 04:53] #3654 closed

[2020-11-26 06:50] RussKie commented on #3437
👍

[2020-11-26 06:51] RussKie commented on #4283
@vladimir-krestov can you please investigate? Thanks

[2020-11-26 07:47] #4268 closed

[2020-11-27 04:19] vladimir-krestov commented on #2538
The related bug [987891](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/987891)
As was discussed:

It is applicable for Narrator in OS versions later than v.1809 (RS5). This is a new rule for using Narrator.
In v.1809 and earlier Narrator just reads a tooltip text when a mouse hovers a control without using any combinations (`"Narrator key + 0"`).

I added the additional tooltip text annou

[2020-11-27 12:59] vladimir-krestov commented on #3909
Closed because duplicates #4031

[2020-11-27 12:59] #3909 closed

[2020-11-27 13:01] vladimir-krestov commented on #4031
Closed #3909 as a duplicate. Take a look for more info

[2020-11-28 00:09] ancientmagicwizard opened #4291 "question: new windows forms task dialogs"
hi

I have read windows forms in .net 5.0 has a new task dialog window. It was contributed by an open source developer.
However I can't find this anywhere and also no docs.

Can somebody explain me how to create this in a windows forms .net 5.0 program?

Jessica

[2020-11-28 00:29] ghost opened #9631 "windows forms: listview column click sort"
hi

In .net 4 I implemented listview column click sorting by implementing a listviewitemsorter class and use this for the listview.
The same code throws an exception in .net 5.0 and also makes the program crash completely while this same code works in .net 4 without any problems or crash.

Is this a bug or how to implement column click sorting in a listview correctlly for .net 5.0?

I don't find a

[2020-11-28 00:35] paul1956 commented on #4291
https://docs.microsoft.com/en-us/samples/dotnet/samples/winforms-taskdialog-vb/ or https://docs.microsoft.com/en-us/samples/dotnet/samples/winforms-taskdialog-cs/ you can then browse the many samples.

[2020-11-28 02:07] #4291 closed

[2020-11-28 11:22] kirsan31 commented on #4283
After boldeddates modification we need to use `MCM_SETDAYSTATE` to change appearance of current DisplayRange.
I tried implementing this (hastily) from the user side in the above example.
[code]
In ideal we no need to do anything if added / removed boldeddates is out of DisplayRange.
Left is code from 1 post (with problem **2** workaround), right is the new implementation (automatically solves prob

[2020-11-28 13:50] ghost opened #4292 "bug: exception when using ListViewItemSorter"
Hi

Following code throws an exception, while it works fine in .NET 4.8
I use .NET 5.0 latest SDK and latest VS 2019 community. I'm using a WinForms application .NET 5.0

WHEN:
The exception is thrown when you click the same column header the THIRD time (first and second time it works and no exception thrown).

WHAT:
Exception thrown: 'System.NullReferenceException' in System.Windows.Forms.dll
Obj

[2020-11-29 00:40] manuelvalenzuela opened #4293 "Setter of method this[int index] of class TreeNodeCollection should not allow adding a TreeNode that already exists in the TreeView"
* .NET Core Version:
.Net 5 (net5.0-windows)

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Setter of method `public virtual TreeNode this[int index]` of class `TreeNodeCollection` should not allow adding a `TreeNode` that already exists in the `TreeView`, in order to be consistent with the methods: `Insert(int index, TreeNode node)` and `Add(TreeNode nod

[2020-11-29 00:42] manuelvalenzuela commented on #3437
Thank you, I just added a new Issue to address this
https://github.com/dotnet/winforms/issues/4293

[2020-11-29 16:01] ghost opened #4294 "ToolStripStatusLabel not displaying '&' chars"
* .NET Core Version:
.NET SDK (reflecting any global.json):
 Version:   5.0.100
 Commit:    5044b93829

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100\

Host (useful for support):
  Version: 5.0.0
  Commit:  cf258a14b7

.NET SDKs installed:
  2.1.202 [C:\Program Files\dotnet\sdk]

[2020-11-29 16:50] ghost opened #4295 "SplitContainer bar can't be moved in win forms designer"
* .NET Core Version:
.NET SDK (reflecting any global.json):
 Version:   5.0.100
 Commit:    5044b93829

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100\

Host (useful for support):
  Version: 5.0.0
  Commit:  cf258a14b7

.NET SDKs installed:
  2.1.202 [C:\Program Files\dotnet\sdk]

[2020-11-29 19:55] ghost opened #4296 "bug: windows form designer ContextMenuStrip can't be edited"
* .NET Core Version:

    .NET SDK (reflecting any global.json):
    Version: 5.0.100
    Commit: 5044b93829

Runtime Environment:
OS Name: Windows
OS Version: 10.0.19041
OS Platform: Windows
RID: win10-x64
Base Path: C:\Program Files\dotnet\sdk\5.0.100\

Host (useful for support):
Version: 5.0.0
Commit: cf258a14b7

.NET SDKs installed:
2.1.202 [C:\Program Files\dotnet\sdk]
2.1.505 [C:\Program Fil

[2020-11-29 23:30] RussKie commented on #4292
Can you please provide a complete sample app? Thanks

[2020-11-30 00:15] ancientmagicwizard commented on #4292
Make an empty win forms app for .Net 5.0 sdk, add a ListView with name as in the code.
Assign the column_click method to it.

Don't they learn you this at Microsoft?

I now understand where all those bugs come from...

[2020-11-30 00:18] ancientmagicwizard commented on #4292
You want me to hold your hand too?!?

[2020-11-30 00:49] ancientmagicwizard commented on #4292
FUCKFACE

[2020-11-30 01:32] Zheng-Li01 commented on #4296
There have  a [designer issue ](https://github.com/dotnet/winforms-designer/issues/1492)to track it.

[2020-11-30 01:33] Zheng-Li01 commented on #4295
There have a [designer issue](https://github.com/dotnet/winforms-designer/issues/1307) to track it.

[2020-11-30 02:31] John-Qiao commented on #4294
To display the "test&" in toolStripStatusLabel item, we can use the following code line:

To display the "test&" in a standard Label control, we can using the following two ways:

or

Above solutions work in both .NET Framework and .NET Core.

[2020-11-30 03:07] Amy-Li03 commented on #4292
We cannot reproduce this issue using .NET 5.0 latest SDK and latest VS 2019, When running the below demo project, then click the same column header three or more times, no exception was throwing.
Demo project:
[WinFormsApp9.zip](https://github.com/dotnet/winforms/files/5613572/WinFormsApp9.zip)

![reproSteps](https://user-images.githubusercontent.com/62929087/100564241-71a8cc80-32fb-11eb-897c-4558

[2020-11-30 04:59] willibrandon commented on #4211
May I tackle this one?

[2020-11-30 05:29] #3618 closed

[2020-11-30 05:34] #2390 closed

[2020-11-30 07:37] Zheng-Li01 opened #4299 "An error pops up when the CheckedListBox control contains duplicate items in Accessibility Insights tool"
* More info:
1. This is not a regression issue, which can reproduce on .NET 6.0, 5.0, 3.1 and Framework project.
2. The issue can' t reproduce on ListBox control.

* .NET Core Version:
.NET SDK 6.0.100-alpha.1.20574.5

* Have you experienced this same bug with .NET Framework?:
 Yes

**Minimal repro:**
1. Opened the attached core project.[CoreProjectTesting1.zip](https://github.com/dotnet/winforms/

[2020-11-30 09:22] oudi commented on #4239
@safern Thanks for your reply, I commit the source code at https://github.com/oudi/RootComponentIssue , You can view the `RootViewSampleComponent` in the project `NetCoreDesignerTest`.

[2020-11-30 17:19] athieman opened #4301 "ListView Sort Throws NullReferenceException or EngineExecutionException Intermittently"
* .NET Core Version:
    <details>
        <summary>5.0.100</summary>

         OS Name:     Windows
         OS Version:  10.0.17763
         OS Platform: Windows
         RID:         win10-x64
         Base Path:   C:\Program Files\dotnet\sdk\5.0.100\

         Host (useful for support):
         Version: 5.0.0
         Commit:  cf258a14b7

         .NET SDKs installed:
         5.0.100 [C:\Pro

[2020-11-30 21:08] merriemcgaw commented on #2538
We should choose the new way! The only negative impact is announcing twice and that is better than not announcing at all. Our goal is to make WinForms as accessible as possible _on the latest Windows Version_

[2020-11-30 21:51] RussKie commented on #4211
Sure, thank you

[2020-11-30 21:53] #4292 closed

[2020-11-30 21:54] RussKie commented on #4292
Thank you @Amy-Li03

[2020-11-30 22:02] RussKie commented on #3856
The test has been re-enabled, several test run have passed.
If the issue resurfaces, will re-open.

[2020-11-30 22:02] #3856 closed

[2020-11-30 22:43] RussKie commented on #2734
I think this issue has resolved. I'm no longer getting any locale specific failures.
Holler if you still do, and we can reopen it.

[2020-11-30 22:45] RussKie commented on #3121
I think this issue has resolved. I'm no longer getting any locale specific failures.
Holler if you still do, and we can reopen it.

[2020-11-30 22:45] #3121 closed

[2020-12-01 04:47] xiaoyuvax opened #4302 "[NET5] Winform application cannot be published to single file!"
#NET5 Winform application cannot be published to single file!

Simply can't publish to single file, while removing the Single File option is OK.

# General

Error message:

13>“GenerateBundle”任务意外失败。
13>System.ArgumentException: Invalid input specification: Found multiple entries with the same BundleRelativePath
13>   在 Microsoft.NET.HostModel.Bundle.Bundler.GenerateBundle(IReadOnlyList`1 fileSpec

[2020-12-01 07:22] Pilzinsel64 opened #4304 "Windows Forms Designer doesn't use an assigned Designer Type in DesignerAttribute"
* .NET Core Version:
5.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The Windows Forms Designer seems to not be able to load the designer type that's given in a DesignerAttribute of any custom Control.

This does load the default designer:
![image](https://user-images.githubusercontent.com/23138465/100709153-e2a8bc80-33ad-11eb-8ef5-e9340bb5f38a.png)

T

[2020-12-01 08:13] kpreisser commented on #4301
I think the `NullReferenceException` in this case (and in #4292) has probably the same root cause as the `ExecutionEngineException` in #4264, which was caused by the callback delegate being GCed too early (which seems to have been introduced in #2800 so it didn't happen in .NET Core 3.1).

(When I tried to reproduce the issue in #4264, I also sometimes got `NullReferenceExceptions`, which is not s

[2020-12-01 08:24] weltkante commented on #2734
I still do get plenty, maybe your locale uses the same decimal and list separator as english? .NET uses the OS settings yet the tests hardcode english encodings.

[2020-12-01 08:46] RussKie commented on #2734
That'd be great!

[2020-12-01 14:05] SergeySmirnov-Akvelon opened #4305 "Some controls do not support ToolTips when the user uses the keyboard to navigate"
**Controls that don't support tooltips when the user uses the mouse to navigate:**
- [x]  ListViewItem (#4320)
- [x]  TabPage (#2717)
- [x]  TreeNode (#4439)

**Controls that have a property for a tooltip, but it is not displayed when the user uses the mouse or keyboard to navigate:**
- [ ] ContextMenu
- [ ]  DataGridView (it is only displayed when the user hovers over a cell (for example: DataGri

[2020-12-01 15:56] the-namelessone commented on #4294
In .NET Framework toolStripStatusLabel1.Text = "test&"; displays "test&" but in .NET 5.0 it displays "test" .

Why is the & gone in .NET 5.0 using the same code?

[2020-12-01 16:09] the-namelessone opened #4306 "bug: listview column click exception"
* .NET Core Version:
.NET SDK (reflecting any global.json):
 Version:   5.0.100
 Commit:    5044b93829

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\5.0.100\

Host (useful for support):
  Version: 5.0.0
  Commit:  cf258a14b7

.NET SDKs installed:
  2.1.202 [C:\Program Files\dotnet\sdk]

[2020-12-01 16:15] the-namelessone commented on #4296
You post a dead link

[2020-12-01 16:15] the-namelessone commented on #4295
You post a dead link

[2020-12-01 17:07] manfromarce opened #4307 "Edit Assembly Info button is missing"
* .NET Core Version: 3.1 / 5.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
In .NET Framework Windows Forms projects there is a button to edit application assembly information in project Properties page. This button is missing in C# .NET Core projects, while in Vb.Net .NET Core Projects is visible but disabled. I'm using Visual Studio 16.8.2 and this hap

[2020-12-01 17:29] manfromarce opened #4308 "Error when trying to create Settings file (VB.Net)"
* .NET Core Version: 3.1 or 5.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
When I create a new .NET Core Windows Forms project in VB.NET and go to Project > Properties > Settings, Visual Studio says that the project doesn't have a default Settings file. However when I click the message to create a new Settings file I get HRESULT_EXCEPTION 0x80070002 (U

[2020-12-01 20:33] weltkante opened #4309 "Cursor static accessors not threadsafe / test flaky"
**.NET Core Version:**
master branch

**Have you experienced this same bug with .NET Framework?:**
did not check

**Problem description:**
The static accessors of the `Cursor` class are not threadsafe, if two threads attempt to access the same cursor at roughly the same time then two distinct instances of the cursor will be created.

This causes `CursorConverter_GetStandardValues_Invoke_ReturnsExp

[2020-12-01 21:10] weltkante commented on #2734
I've pushed a rebased branch of the code I'm using as workaround for running tests locally:

https://github.com/dotnet/winforms/compare/master...weltkante:culture

There are some other tests failing which don't seem related to culture, not including them in this branch.

[2020-12-02 01:08] RussKie opened #4310 "The value of ListViewGroup’s TitleImageIndex cannot be saved successfully"
Duplicate of https://github.com/dotnet/winforms-designer/issues/2057

## Minimal Reproduction Scenario
1.	Create a winforms .NET 5.0 project.
2.	Drag and drop a ListView & a ImageList to Form.
3.	Choose one image to ImageList, then add this code line into Form1.designer.cs file: this.listView1.GroupImageList = this.imageList1;
4.	Open form designer, add a ListViewGroup(Header = Group1) and a ListV

[2020-12-02 01:12] RussKie commented on #4310
From @DustinCampbell

From @RussKie

From @DustinCampbell

From @RussKie

From @DustinCampbell

[2020-12-02 01:39] John-Qiao commented on #4294
@the-namelessone

In my testing result, it also displays the "test" in .NET Framework when set toolStripStatusLabel1.Text = "test&", please check below screenshot:
![TestResult-Framework](https://user-images.githubusercontent.com/45864985/100816968-34bb1200-3482-11eb-96d7-7c706d30fe79.png)

If you can show the "test&" in .NET Framework when set toolStripStatusLabel1.Text = "test&", please share yo

[2020-12-02 01:42] RussKie commented on #4309
We need to fix the test.

[2020-12-02 02:29] RussKie commented on #4296
This is a known designer issue, which is tracked in the designer repo. This is expected to be fixed in VS 16.9 timeframe.

[2020-12-02 02:29] #4296 closed

[2020-12-02 02:46] Zheng-Li01 commented on #4308
There have a similar issue [3346](https://github.com/dotnet/winforms/issues/3346) to track it. and have the comments from klaus:https://github.com/dotnet/winforms/issues/3346#issuecomment-706361699

[2020-12-02 02:50] Zheng-Li01 commented on #4307
This is should be a common issue, which also can reproduce on console & WPF core project(C# & VB).

[2020-12-02 03:14] Zheng-Li01 commented on #4306
Repro the issue with the project provided by customer.([listviewbug.zip](https://github.com/dotnet/winforms/files/5626746/listviewbug.zip))
![UpdateCoreIssue](https://user-images.githubusercontent.com/38325459/100823584-6d151d00-348f-11eb-93aa-b57d6a4cdf56.gif)

[2020-12-02 05:56] Olina-Zhang commented on #4264
Verified this issue in .Net SDK 5.0.101 build, this issue is fixed, app with listViewItemSorter can be ran successfully.
![image](https://user-images.githubusercontent.com/26474449/100834017-1961fe00-34a6-11eb-8bc9-498827075600.png)

[2020-12-02 06:04] RussKie commented on #4264
@Olina-Zhang can you please test https://github.com/dotnet/winforms/issues/4306 and https://github.com/dotnet/winforms/issues/4301 as well? They look related.
Thank you

[2020-12-02 06:27] Zheng-Li01 commented on #4120
Verified this issue in .Net SDK 5.0.101 build, this issue is fixed.

[2020-12-02 06:27] Zheng-Li01 commented on #4121
Verified this issue in .Net SDK 5.0.101 build, this issue is fixed.

[2020-12-02 06:28] Zheng-Li01 commented on #4130
Verified this issue in .Net SDK 5.0.101 build, this issue is fixed.

[2020-12-02 06:28] Zheng-Li01 commented on #4172
Verified this issue in .Net SDK 5.0.101 build, this issue is fixed.

[2020-12-02 06:28] Zheng-Li01 commented on #4169
Verified this issue in .Net SDK 5.0.101 build, this issue is fixed.

[2020-12-02 06:28] Olina-Zhang commented on #4306
Verified this issue in .Net SDK 5.0.101-servicing.20601.5 build, this issue cannot repro. Click ListView columns, no exception now.
![ListViewSort](https://user-images.githubusercontent.com/26474449/100836671-a7d87e80-34aa-11eb-985e-07acae7da555.gif)

[2020-12-02 06:33] Olina-Zhang commented on #4301
Verified this issue in .Net SDK 5.0.101-servicing.20601.5 build, this issue cannot repro now using above provided sample app:
[ListView-Sorting-Bug-main.zip](https://github.com/dotnet/winforms/files/5627384/ListView-Sorting-Bug-main.zip).
![ListViewSort_Fixed](https://user-images.githubusercontent.com/26474449/100836980-4238c200-34ab-11eb-975a-317abecfc69e.gif)

[2020-12-02 06:36] Olina-Zhang commented on #4264
@RussKie  these related 2 issues: #4306, #4301 cannot repro in .Net SDK 5.0.101-servicing.20601.5 build. Have updated test results in those issues.

[2020-12-02 07:11] kirsan31 commented on #4294
@RussKie I think @John-Qiao mean opposite thing - he can't repro this.
Sadly, I can't test it by myself for now.

[2020-12-02 07:18] RussKie commented on #4301
Thank you @Olina-Zhang.

Presume the issue duplicate of https://github.com/dotnet/winforms/issues/4264, and fixed.

[2020-12-02 07:19] RussKie commented on #4301
Duplicate of #4264

[2020-12-02 07:19] #4301 closed

[2020-12-02 07:19] RussKie commented on #4306
Thank you @Olina-Zhang.

Presume the issue duplicate of #4264, and fixed.

[2020-12-02 07:19] RussKie commented on #4306
Duplicate of #4264

[2020-12-02 07:19] #4306 closed

[2020-12-02 08:05] weltkante commented on #4309
One possible solution is to run the CursorConverter twice, the first run being a dry run to ensure variables are initialized, the second call being used to capture the values. I'll prepare a PR.

[2020-12-02 09:30] fitdev opened #4311 "WinForms Designer cannot design From inheriting from another Form"
* .NET Core Version:
[code]
* VS: 2019 16.9 Preview 1 Community

* Have you experienced this same bug with .NET Framework?:
No. On .Net Framework in the same VS version it works quickly and flawlessly.

**Problem description:**

Not sure if it is related to VB or is also applicable to C#, but I have the case:

FormIWantToDesign.vb
[code]
FormIWantToDesign.Designer.vb
[code]
ContainerForm.vb
[code]

[2020-12-02 16:32] merriemcgaw commented on #3334
@jscholes This appears to be a problem with how NVDA is interpreting our ContextMenu information. We've validated that we're doing everything on our end that we can. Please file an issue with NVDA about this problem.

[2020-12-02 16:32] #3334 closed

[2020-12-02 16:35] merriemcgaw commented on #4242
@Marie-Shi is there a crash or problem when you use Accessibility Insights for Windows or use Narrator in the same scenario? Just curious :) you've found a high pri bug.

[2020-12-02 16:37] merriemcgaw commented on #4205
We should investigate whether CommonControls 5 ListView control even had groups. That seems like it might have been added in v6. In that case this should be by design as long as we don't crash or do something weird.

[2020-12-02 16:43] merriemcgaw commented on #2794
In general Narrator users won't be using a mouse to navigate the DGV. Let's close this one until/unless we get specific feedback from a customer or compliance tester that we need to do something here. This is a high risk, high cost issue so we will do it if/when it is raised by customer.

[2020-12-02 16:43] #2794 closed

[2020-12-02 16:48] merriemcgaw commented on #4079
@vladimir-krestov Let's recheck this and discuss at our next triage. We'll decide what the best way is to manage the ComboBox Text Pattern in general.

[2020-12-02 16:51] merriemcgaw commented on #3658
I think we're good to close this issue. I'll confirm if the compliance testers have verified the issue.

[2020-12-02 16:51] #3658 closed

[2020-12-02 17:15] jscholes commented on #3334
@merriemcgaw

Will do!  Thanks for looking into it.

[2020-12-02 19:17] kirsan31 commented on #4311
https://github.com/dotnet/winforms/issues/3338 Again?

[2020-12-02 19:31] fitdev commented on #4311
@kirsan31 I was not aware of that issue. But, yes, mine seems to be exactly the same, and is happening with Net 5 RTM build and latest VS Preview - 2019 16.9 P1.

[2020-12-02 20:14] JeremyKuhne commented on #4294
I've validated that the behavior is consistent with .NET Framework (tested 3.5 through 4.8). There is no easy way, afaik, to get the ampersand to show up outside of using `&&`.

You can fully customize the strip's `Renderer`, but that is not a trivial task. Creating a derived renderer also would require some work as you can't simply add the `TextFormatFlags.NoPrefix` before rendering (`OnRenderIte

[2020-12-02 22:57] #4309 closed

[2020-12-02 23:14] #4275 closed

[2020-12-03 00:07] danmosemsft commented on #2734
In dotnet/runtime one of our CI legs run on an es-ES machine as some protection against tests that only work on en-US. It's not perfect and we have still had some community members hit breaks, eg one using Windows set to the Korean culture.

Although I would have expected to see `es-ES` in one of our .yml files - perhaps I'm looking in the wrong place @safern?

[2020-12-03 02:20] #4211 closed

[2020-12-03 03:22] Marie-Shi opened #4315 "NotifyIcon balloon is hided when FormBorderStyle property is set to None and form is maximized"
* .NET Core Version:
.Net 6.0.100-alpha.1.20602.2 from master branch

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
This is not a regression issue and it can also repro on Framework project.

**Minimal repro:**
1.	Extract “**NotifyIcon_hide_issue.zip**” and open it in VS.
[NotifyIcon_hide_issue.zip](https://github.com/dotnet/winforms/files/5633442/NotifyIcon_hide_i

[2020-12-03 05:31] RussKie opened #4316 "`NativeImageList` not disposed by `ResourceManager`"
* .NET Version:
Debug builds of .NET 5.0 and 6.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

We have added the code to track lifetime and incorrect disposal of unmanaged resources, specifically in `NativeImageList` we have the following code:
https://github.com/dotnet/winforms/blob/b30bdd1922a23f85250729f59a3124c3c565e5e2/src/System.Windows.Forms/src/S

[2020-12-03 05:38] vladimir-krestov commented on #4283
@kirsan31 Thanks for the great amount of information and comments. I spent the time to question your words and your implementation. But it seems that your implementation is the only thing we can do on our side. I haven't found any other way to improve `MonthCalendar` control to make it work as expected. Thank you so much! Your code example helped a lot in implementing the Calendar improvement. You

[2020-12-03 07:14] franzstrelemedel opened #4319 "resx files cause bloat in project file"
**Is your feature request related to a problem? Please describe.**
We always have all our localizable resources in "Localized.resx" files. Now when I add a new Localized.resx file to a project in Visual Studio 2019, the following lines are added to the project:

[code]
I have tried to avoid this bloat by importing a .props file in the project with the following content:
[code]
This almost works, e

[2020-12-03 08:05] Marie-Shi commented on #4242
@merriemcgaw Tested this bug with Narrator and Accessibility Insights for Windows, Narrator cannot crash, but for Accessibility Insights for Windows, this tool is **not responding** when moving cursor inside the DataGridView. Please see the below Gif:
![accessibility](https://user-images.githubusercontent.com/45864017/100980519-4d115680-3580-11eb-8ac5-7fcd084db1f6.gif)

It is found by a customer.

[2020-12-03 09:21] weltkante commented on #4316
We have discussed this before in #3567, `ResourceManager` is not responsible for disposing it, its a factory and its lifetime is detached from the objects it produces.

[2020-12-03 10:18] kirsan31 commented on #4283
@vladimir-krestov Thank you for PR (I commented there).
Is there a chance to reach out to the native team about this flickering?

[2020-12-03 11:28] RussKie commented on #4316
Man you're good! I've completely forgotten about this one.
Thank you for pointing it out.

[2020-12-03 11:28] #4316 closed

[2020-12-03 13:19] SergeySmirnov-Akvelon opened #4320 "[Accessibility] ListViewItem has no keyboard tooltip"
- .NET Core Version: 5.0
- Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
* ListViewItem has no keyboard tooltip when pressing the right/left arrow or Tab button to navigate to a ListViewItem which got the keyboard focus

**Expected behavior:**
* ListViewItem has a keyboard tooltip

**Minimal repro:**
1. Create .Net Core 5.0 app
2. Add a ListView to the app

[2020-12-03 14:52] gitskotjuko commented on #3958
May I ask if there any progress with this issue? It's the showstopper in our migration.

[2020-12-03 20:09] wjk opened #4321 "Radio button "arrow order" cannot be configured"
## Problem description
When I add multiple RadioButton controls to a form, they are navigated between as a group using the arrow keys instead of the Tab key. (Only the focused radio button in a group has `TabStop=true`.) However, the order in which the controls are added to this "arrow order" array appears to depend on the order with which they were added to the form in the `InitializeComponent()`

[2020-12-03 22:16] dreddy-work commented on #3958
This is a design time issue and work is currently in progress. Basic scenarios implemented and working on some build/rebuild scenarios. Expect it to be available in VS 16.9 preview 3.

[2020-12-03 22:19] ab-tools commented on #3958
Good to hear that this is currently in progress - thanks for the update on this @dreddy-work!

[2020-12-04 00:30] RussKie commented on #4298
@KlausLoeffelmann would this be us or CPS?

[2020-12-04 00:35] merriemcgaw commented on #4321
@Tanya-Solyanik this sounds awfully familiar. Did we have any thoughts on the issue? If I recall correctly it has to do with the order in which the controls are added to the Controls collection, but I could be wrong.

@vladimir-krestov / @SergeySmirnov-Akvelon this may impact our accessibility users too.

[2020-12-04 00:39] RussKie commented on #4319
@drewnoakes this looks like a CPS issue, but I can't transfer there for some reason...

[2020-12-04 00:44] merriemcgaw commented on #4315
This makes sense as the expected behavior. Think of a point of sale app/kiosk app with no border - you wouldn't want any notifications popping up when their main app is running.

Resolving by design.

[2020-12-04 00:44] #4315 closed

[2020-12-04 00:45] merriemcgaw commented on #4311
Duplicate of #3338

[2020-12-04 00:45] merriemcgaw commented on #4311
Thanks guys!

[2020-12-04 00:48] KlausLoeffelmann commented on #4298
Project System. It's in the .NET VB Blog under Known Issues.

[2020-12-04 00:55] merriemcgaw commented on #4304
This is something we're currently working on and will be sharing how-to docs in the coming VS Preview versions.

[2020-12-04 00:58] merriemcgaw commented on #4299
@SergeySmirnov-Akvelon can you add this to the PRs you're already doing with the ComboBox #4193 ?

[2020-12-04 01:00] merriemcgaw commented on #4295
I think @Zheng-Li01  just posted a link to our designer repo which at this point is private. We'll update this issue as we make progress on the SplitContainer control's designer

[2020-12-04 01:03] merriemcgaw commented on #4274
@vatsan-madhavan, @SamBent is there a reason why WPF can't or shouldn't embed this themselves? Or could WPF do this in the WindowsDesktop repo rather than WinForms changing how we're delivering the manifest?

[2020-12-04 01:07] RussKie commented on #4226
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2020-12-04 01:07] #4226 closed

[2020-12-04 01:09] vatsan-madhavan commented on #4274
This is not about embedded manifests, it's about loose manifests.

A future fix could be done by any party in the WindowsDesktop repo ecosystem - you are absolutely correct.

I was simply pointing out that this (comctl32 compat manifest) has been something historically provided by WinForms (or maybe it was provided by BCL).

WPF normally isn't focused on loading Win32 controls or ComCtl32 (modulo

[2020-12-04 01:09] wjk commented on #4321
@merriemcgaw This is very much affected by the order in which controls are added to the collection. I deleted the offending component from the Designer and recreated it manually in my constructor, adding each radio button in the correct order, and it works great.

[2020-12-04 01:13] merriemcgaw commented on #4198
Generally when a user needs to edit the value of any cell, our recommendation would be to use the DataGridView rather than a ListView for accessibility purposes so the right patterns are returned at the right time. The underlying OS control is not behaving according to today's standards.

[2020-12-04 02:00] RussKie commented on #4307
By default a .NET Core/.NET apps don't have AssemblyInfo.cs files, as the responsibility previously carried by this file has been shifted. Version and projects properties can either be expressed directly in a project file, or via `props` files (such as [Directory.Build.props](https://docs.microsoft.com/visualstudio/msbuild/customize-your-build)).

Instead now you have "Package" tab that shows your

[2020-12-04 02:00] #4307 closed

[2020-12-04 02:14] RussKie commented on #3512
The similar work has been done in https://github.com/dotnet/winforms/issues/2858 for `FileDialog` type.
Marking as "ready for review".

[2020-12-04 02:25] #4310 closed

[2020-12-04 05:13] Olina-Zhang opened #4323 "AccessibilityInsights: Misplaced bounding rectangle for ComboBox items when drop down shows a scrollbar"
* .NET Core Version:
6.0.100-alpha.1.20603.2

* Have you experienced this same bug with .NET Framework?:
Yes,
This is a regression issue, can repro in .Net 4.8, and cannot repro in .Net 4.7.2.

**Minimal repro:**
1. Create a Winforms .Net Core app with 3 ComboBox controls,  set their's DropDownHeight property to show scrollbar for comboBox list
Or open attached sample project and run Core app dire

[2020-12-04 05:16] RussKie commented on #2780
This has been addressed in https://github.com/dotnet/winforms/pull/4062

[2020-12-04 05:16] #2780 closed

[2020-12-04 05:41] RussKie commented on #1118
This looks like a regression in dotnet/runtime.

This is the original implementation:
https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/FontConverter.cs,435

And this is the current implementation - note the missing sort:
https://github.com/dotnet/runtime/blob/46f57b000f9fe2deef9224d88c15ae4407e93322/src/libraries/System.Drawing.Common/src/System/Drawing/FontConverter.c

[2020-12-04 05:49] Pilzinsel64 commented on #4304
Thannk you very much for your response. Nice to hear, that's in progress/paned.  So, I will wait until the next VS Preview and try again with the given instructions.

[2020-12-04 06:22] SergeySmirnov-Akvelon commented on #4299
Okay, I'll fix it in scope of #4193

[2020-12-04 06:51] kirsan31 commented on #4311
@merriemcgaw the problem here is that #3338 is closed too ...

[2020-12-04 07:54] fitdev commented on #4311
@merriemcgaw But that issue _is closed_, and apparently without a resolution (linked to a different issue which was closed as well). Besides, this issue is specifically about .Net 5, not .Net 3.1 as the referred issue was.

[2020-12-04 09:56] vladimir-krestov commented on #4198
After #3224 we have the ability to manage a ListView accessible object and its items. We have a chance to implement TextPattern for editable ListView items.
@merriemcgaw, which priority it has?

[2020-12-04 17:27] CarlosBressan commented on #4115
Following the new template of the Windows Forms for Visual Basic .Net, it works.

[2020-12-04 18:37] DustinCampbell commented on #1118
IMO, we should just fix `FontConverter` in the .NET runtime to bring it in line with the behavior of .NET Framework.

[2020-12-05 04:52] RussKie commented on #4274
Thank you @vatsan-madhavan   for sharing your thoughts, though I am still unconvinced the resolution lies with us. By making changes we may regress our experiences, and we will become responsible for owning WPF experiences (including single file bundling, etc.). This feels as a misplaced responsibility, as we lack necessary expertise and capacity to do this.

Moving the issue to the WindowsDesktop

[2020-12-05 06:32] #4293 closed

[2020-12-05 07:05] The-MAZZTer commented on #3300
The Site workaround works for design-only code. (Keep in mind it gets set twice... once when you close the design surface, too!)

However this doesn't help for running runtime-only code since Site is never assigned. A use case is if you want to do further initialization in the constructor but don't want these changes serialized in the designer (or the code throws an exception in design mode for an

[2020-12-05 11:31] weltkante commented on #3300
Your approach looks equivalent to checking the existing `DesignMode` property, including the fact that it will not detect if the parent control is placed in the designer (OnLoad will be called in this case without a site being set, since the child control is not being designed)

[2020-12-05 11:45] weltkante commented on #4321
You should be able to change the control order by "bring to front" / "bring to back" menus in the designer, or through the document outline view. If these no longer work that a defect in the new designer.

[2020-12-06 00:50] weltkante commented on #4315
Just for the record, if you cover a whole monitor (including the taskbar) then the shell will assume you are a full screen application and move itself out of the way. Depending on your Windows settings this will mean notifications are suspended, but you can configure Windows to deliver notifications while a full screen application runs.

For example I have 3 monitors so I configured Windows this w

[2020-12-06 09:28] vladimir-krestov commented on #4321
@merriemcgaw, this sounds familiar maybe because of #2164 but it doesn't relate to this issue.
- Objects are in the order of adding in `Controls` property of a form in the accessibility tree.
![image](https://user-images.githubusercontent.com/49272759/101276205-335c5300-37bc-11eb-9431-5ebfbdf276a4.png)
- `TabStop` doesn't affect the order of the arrow keys
- @wjk, did you tried to use `TabIndex` p

[2020-12-06 17:47] wjk commented on #4321
@vladimir-krestov I have not worked on this project since December 3rd. However, when I tried the Edit > Tab Order command, every radio button showed up with a TabIndex of zero, and clicking them did not change that. Thanks!

[2020-12-06 18:02] vladimir-krestov commented on #4321
The arrow key moving order will be like as the order of adding these `RadioButtons` to a form (to `Controls` property) if all of these `RadioButtons` have `TabIndex` == 0.
But we can set a custom order if to set some `TabIndexes`.
@wjk, can we close this issue?

[2020-12-06 18:21] wjk commented on #4321
Done. 😄

[2020-12-06 18:21] #4321 closed

[2020-12-06 20:07] Shadowblitz16 opened #4326 "Add MainMenu, ToolBar, and ContextMenu back and update them"
**Is your feature request related to a problem? Please describe.**

MainMenu, ToolBar, ContextMenu and StatusBar should be readded to WinForms and updated to include features that weren't added to winforms so we can maintain backward compatibility to win32 controls.

here are some features that would need to be updated..
- Allow mdi children to contain separate mainmenus
- Update style to fit win

[2020-12-06 21:10] LethiferousMoose opened #4327 "Documentation for ListControl.SelectedValue is misleading."
The documentation for `ListControl.SelectedValue` is misleading, it does not explicitly call out that a data manager is required for it to return a value:
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.listcontrol.selectedvalue?view=net-5.0

This makes it sound like all you need to do is have a `ValueMember` provided to the control, but if look at the code for `ListControl` you c

[2020-12-07 04:36] vladimir-krestov commented on #4321
Thank you! 😊

[2020-12-07 04:49] willibrandon commented on #4238
This issue appears to partially have something to do with the order in which the `ResizeGripSize`, `ResizeBarSize`, and `ResizeBorderSize `are being initialized in `PropertyGridView.DropDownHolder`.

If I change the order from this:

[code]

To this:

[code]

Then the drop down resize bar is now displayed and can resize the drop down, but the resize bar is missing the grip glyph.

![PropertyGridVi

[2020-12-07 05:07] RussKie commented on #4326
These controls technically have been deprecated since .NET 2.0 (circa 2005) and have been removed from the VS Designer Toolbox. They are not coming back.
https://docs.microsoft.com/en-us/dotnet/core/compatibility/fx-core#removed-controls

[2020-12-07 05:07] #4326 closed

[2020-12-07 09:07] vsfeedback opened #4330 "Can't set size of the form"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity2.visualstudio.com/t/Cant-set-size-of-the-form/1278773)._

---
[severity:It's more difficult to complete my work]
Can't set size of the form.
Windows forms app.

Before form2. Show() command - it's OK - Size setted.

But just after step through form2. Show() - Width is setting up to 132.

( Maximize box = f

[2020-12-07 09:15] RussKie commented on #4330
It is unclear how the form is designed, and what the expectations are. We need a sample app to triage.

[2020-12-07 09:26] Jenna-Zheng commented on #4330
**.NET Core Version:**
Core SDK 5.0.100

**Have you experienced this same bug with .NET Framework?:**
Yes

**Problem description:**
The Width does not work when the Width of the form is set to less than 132, the form is rectangle now.

**Expected behavior:**
The form should be square.

**Minimal repro:**
Create a core winforms project.
Add a form for project named Form2.
Add the below code for For

[2020-12-07 15:47] Mikhail-Semenenko commented on #4330
Hello,

This code - doesn't work as expect.

frm2 object not resized to Size(50,50);

But if we set the Size just after frm2.Show(), - we will have expected size 50x50.

Why is it ?  Is this right solution?

And, by the way - BringToFront method  doesn't make sense because frm2 - it is Top level control.

[code]

[2020-12-07 16:34] FyiurAmron commented on #4311
@merriemcgaw the problem still appears in the wild in .NET 5.0; why was this closed?

[2020-12-07 22:16] Shadowblitz16 commented on #4326
@RussKie They were removed prematurely.
We don't have backwards compatible and native controls to replace these.

Not everyone wants custom drawing

please reopen this

[2020-12-07 23:48] RussKie commented on #4326
All these types weren't meant to be ported into .NET Core in the first place. It was a blunder on our side.
This types aren't coming back, sorry.

[2020-12-08 00:06] merriemcgaw commented on #4311
Sorry for the confusion all. I saw that #3338 was closed because we tested C# and things seemed to be good. My bad for not checking VB .NET 😊

In my testing on 16.8.2 I'm not having any difficulty designing an inherited for in C# for either .NET Core 3.1 or .NET 5. So VB Specific? @KlausLoeffelmann can you check this out? I'll try VB.NET again too later this evening.  @Olina-Zhang  can you try thi

[2020-12-08 01:26] RussKie commented on #4333
The component designer is currently being worked on, and it is currently expected to become available in 16.9 GA.
With that only .NET Core 3.1 and .NET 5.0 scenario will work. Windows Forms does not support anything earlier than that.

[2020-12-08 01:38] merriemcgaw commented on #4330
I'm interested to know the use case here? We'd be happy to evaluate a pull request about the issue if you would care to submit. Otherwise, I don't see this as a top priority bug. It's likely a requirement in the system that when you first create a top level form there is a minimum size. Once the form has been shown, then the restriction lifts.

[2020-12-08 02:12] Olina-Zhang opened #4335 "AccessibilityInsights: ComboBox items should support ScrollItem Pattern when list shows scrollbar"
* .NET Core Version:
6.0.100-alpha.1.20603.2

* Have you experienced this same bug with .NET Framework?:
Yes,
This is a regression issue, can repro in .Net 4.8 for comboBox with all dropdownstyle values, and in .Net 4.7.2, just comboBox items with comboBox's dropdownstyle: simple can repro this issue.

**Minimal repro:**
1. Create a Winforms .Net Core app with 3 comboBox controls, set their's Drop

[2020-12-08 03:33] Olina-Zhang commented on #4311
@merriemcgaw Verified in both 16.8.2, 16.9.0 Preview1 and the latest 16.9 Preview build, this issue cannot repro for WinForms VB .Net Core app.
Test app:
[WinFormsApp1.zip](https://github.com/dotnet/winforms/files/5656669/WinFormsApp1.zip)
![NotRepro](https://user-images.githubusercontent.com/26474449/101436417-1012de80-3949-11eb-8d59-c2bfe3d57410.gif)

[2020-12-08 04:30] The-MAZZTer opened #4336 "In Designer, Nesting a TreeView in a UserControl in a second TabPage on a Form hangs DesignServerTools.exe"
Apologies if this is not the right repo to post this in.

[Edit: I found instruction to send feedback using the VS Feedback tool in Visual Studio and I have done so, please close this issue here if it is not appropriate for this repo.]

* .NET Core Version:
Microsoft.NETCore.App 5.0.0
Microsoft.WindowsDesktop.App 5.0.0
SDK 5.0.100
Visual Studio Community Version 16.8.2

* Have you experienced this

[2020-12-08 04:55] Shadowblitz16 commented on #4326
No what's a blunder on your side is that fact we are forced to use custom rendered controls implemented in C# instead of native windows controls that are compatible with older versions of windows.

Not everyone wants custom rendered controls if that were the case we would use wpf.

[2020-12-08 08:04] Zheng-Li01 commented on #4336
There have a similar known [2632 ](https://github.com/dotnet/winforms-designer/issues/2632)issue in Design repo to track it.

[2020-12-08 08:21] weltkante commented on #4238
This regressed when moving initialization from static constructor into the property definitions

The size grip for this usage is [mirrored horizontally](https://github.com/dotnet/winforms/blob/6391b524dd64e7530eba986c6607bf129b3ec8ae/src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/PropertyGridView.DropDownHolder.cs#L244) to display bottom left instead of the default bottom r

[2020-12-08 09:31] fitdev commented on #4311
@Olina-Zhang Thank you very much for looking into this. I was very surprised myself that I could not repro the issue on my VS 16.9 Preview 1 either. Your demo worked.

After fiddling for a few hours trying to see what's substantially different between your demo and my project I cam across publish settings.

[code]

These settings, AFAIK are only used / valid during publish or executable generation

[2020-12-08 09:33] fitdev commented on #4311
Oh And forgot to add: once these settings are included in the project, even after removing them, or commenting them out, the designer would no longer work. Even after clean-rebuilding the project. It would only start working once the settings are removed, _and VS is restarted_.

[2020-12-08 09:35] weltkante commented on #4330
The use case is custom popups, tooltips etc. which people like to implement by using `FormBorderStyle.None` since it almost gets you there. Unfortunately little quirks like this require more low level overrides (and knowledge) to fully mimick Win32 behavior of popups/tooltips.

The technical reason for the observed behavior is that in order to create a popup window you need to set the `WS_POPUP` [

[2020-12-08 09:56] weltkante commented on #4327
The `_dataManager` is a private variable and an implementation detail of the list control, which should not appear in the documentation. I don't know what that `DataManager` is you are talking about, I cannot see any such property.

I don't follow your argument, data sources are a basic concept in WinForms and the `DataSource` property used for it is even the exact same term as the concept. Sure,

[2020-12-08 10:07] weltkante commented on #4311
Forcing the runtime identifier to x86 may impact the designer if it only supports designing 64 bit components? Just a random guess, but the RuntimeIdentifier is probably used beyond just publishing and may have a larger impact than you assume.

[2020-12-08 10:45] kirsan31 commented on #4311
Yes, there was an [issue](https://github.com/dotnet/winforms/issues/4026#issuecomment-701918588) about that.
@fitdev
I am worry if you will have both `RuntimeIdentifier` and `Platforms` - will it work?
Also we have https://github.com/dotnet/sdk/issues/1553 :)

[2020-12-08 19:05] Mikhail-Semenenko commented on #4330
The use case is quick access side-panel of tools.

Form Location is changing from -40 to 0 due pointing by mouse over 50x1050 side area.
I takes 4 step by 10 px on timer event.

_In my case - yes, it's not top priority bug._

_But just wanted to know it's a bug or a feature..._

I 've spent a lot of time trying to solve this issue, so I want to know:

"Changing a Size of Control is always must be

[2020-12-08 19:18] weltkante commented on #4330
Its a quirk, some strange behavior for very specific settings. Like I said above, depending on how you argue, you can argue it being a bug, or you can argue it being outside of the design space WinForms provides.

No, this only happens to forms, and only for `FormBorderStyle.None`. Other forms are _by design_ not allowed to become smaller (the system ensures there is enough space for the nonclient

[2020-12-08 20:10] The-MAZZTer commented on #4336
On my Developer Community thread a similar known issue was posted. I reproduced and debugged it and it appears very similar to what I am seeing in my issue, so it is likely the same problem.

https://developercommunity2.visualstudio.com/t/Nesting-a-TreeView-in-a-UserControl-in-a/1280521

[2020-12-08 20:14] LethiferousMoose commented on #4327
`ListControl` does not require the `DataSource` to be set. And if do you set it, according to the documentation for `DataSource`:

So if you wanted to be able to add/delete from a `ListBox` or a `Combobox` on the fly, in memory, you cannot use `DataSource` and thus also `SelectedValue` always returns `null`. When I read this from `SelectedValue` in VS:

That to me sounds like, if my `ListControl`

[2020-12-08 20:23] weltkante commented on #4327
Actually you can, you modify the `DataSource`. What the documentation is saying is, if you specify a DataSource then _this_ is the collection that controls the items, and the Items collection of the control becomes readonly reflection of the DataSource. So no, you cannot edit the items collection, you have to edit the data source, since not all data sources are editable there is no general-purpose

[2020-12-08 20:30] #4327 closed

[2020-12-08 21:30] JeremyKuhne opened #4338 "API Proposal: Add IDeviceContext overloads to ControlPaint"
### Summary

Painting using `System.Drawing` (GDI+) has significant performance overhead over utilizing GDI. Internally WinForms has moved much of it's rendering to GDI (starting in .NET 2.0) and has provided some entry points with GDI via `IDeviceContext`. Adding overloads to `ControlPaint` methods will allow more performant rendering of custom controls. It allows direct use of paint event argume

[2020-12-08 21:34] JeremyKuhne commented on #4238
I'm going to move this API back for now as there is no performant way to check if there is a transform that applies. In this particular case, there is not a huge win if you already have a graphics object as drawing will already translate to direct GDI calls.

I've created a new API proposal related to this: https://github.com/dotnet/winforms/issues/4338

[2020-12-08 21:47] vsfeedback opened #4339 "ADD an Inputbox control in C#.net without having to reference the VB.net library"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/740240/add-an-inputbox-control-in-cnet-without-having-to.html)._

---

---
### Original Comments

#### Jane Wu [MSFT] on 9/20/2019, 01:16 AM:

<p>Thank you for taking the time to provide your suggestion. We will do some preliminary checks to make sure we can proceed further.

[2020-12-08 22:30] RussKie commented on #4336
Thank you. The issue is being tracked in the designer repo, and it is expected to be fixed in 16.9.

[2020-12-08 23:42] Mikhail-Semenenko commented on #4330
It seems that this issue need to be closed, for now.

@weltkante  thank you for detailed explanations.

And thanks you all  guys for participation.

[2020-12-09 01:09] JeremyKuhne opened #4341 "Need to add helpers for validating Graphics rendering"
There are two components to this. The first is relatively easy- we need helpers and some examples to view GDI calls generated when rendering to a `Graphics` object. The second is more complicated- we need to be able to look at GDI+ records.

Recording and playing back GDI records from a Graphics object can be done in a few ways:

1. We can create a Graphics object around a Metafile HDC we create a

[2020-12-09 01:10] JeremyKuhne commented on #4341
https://github.com/dotnet/winforms/issues/4238 can get a regression test when this is feature is moved forward.

[2020-12-09 05:49] #4238 closed

[2020-12-09 05:57] RussKie commented on #4330
Thank you @weltkante!

I suggest avoiding the event and use an override:
[code]

[2020-12-09 05:58] #4330 closed

[2020-12-09 06:11] RussKie commented on #4339
Adding custom controls that aren't commonly available in native Windows experience isn't on our roadmap. There are multiple issues with VB's `InputBox` control including but not limited to overall useability and accessibility, making it unfit for purpose.

There's a related issue: https://github.com/dotnet/winforms/issues/3117

[2020-12-09 06:11] #4339 closed

[2020-12-09 07:17] RussKie commented on #4311
@clairernovotny @dsplaisted shooting from the hip here, is it something you could provide guidance with?

[2020-12-09 10:05] weltkante commented on #4213
[code]
I don't see these cases in the source, and the parameters logged in this issue seem wrong, you shouldn't expect both invalidation and handle recreation, thats not what the implementation does. The fact that the implementation does a `RecreateHandle` and the control gets invalidated anyways is a strong indicator that you have no control over invalidation and shouldn't be testing it.

The fla

[2020-12-09 13:41] weltkante commented on #4129
Does the memory remain stable after that, even if you repeat the process? If so then its technically not a memory leak, which would be characterized by unbounded growth until the process crashes.

If the memory is bounded then it can still be desireable to optimize this, especially if Desktop Framework had a much smaller footprint, but making optimizations requires a very different approach than i

[2020-12-09 15:49] weltkante commented on #4260
I've looked a bit deeper into this to verify its indeed not a regression. If you call `SaveFile` on the Desktop Framework 4.6 Rich Text Box (which appears to render monospaced) and open the resulting rtf in WordPad you get same result as .NET Core and modern Desktop Framework.

Looking at the text in WordPad reveals that most of the displayed characters are not part of the Font `Lucida Console` bu

[2020-12-09 19:50] weltkante commented on #4179
The issue title and description is misleading, the event is raised on the correct thread (the main UI thread). The problem you are facing is that the splash screen is intentionally not running on the main UI thread.

This worked on Desktop Framework because the `Startup` event is called before the splash screen is initialized, so it doesn't know its going to run on a separate thread. Once the `Spl

[2020-12-09 20:04] KlausLoeffelmann commented on #4179
They way I understood this, _is_ definitive a regression. If Startup has always been running on the UIThread, no matter if there was a splash screen present or not, it should still do so. We need to fix this.
Thanks for pointing this out!

[2020-12-09 20:11] weltkante commented on #4179
It always has been running on the main UI thread, and it _still is running_ on the main UI thread.

The SplashScreen always has been running on a separate UI thread, and is still running on a separate UI thread.

The only change is the order:
- **Desktop Framework:** Startup is triggered, allowing to configure SplashScreen before its loaded onto its thread (so its still thread agnostic)
- **.NET C

[2020-12-09 20:14] AlexVallat opened #4345 "InputLanguage.LayoutName can return the wrong value when multiple layouts for a single language exist"
* .NET Core Version: 5
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
When there are multiple keyboard layouts of the same language for a single language installed, InputLanguage.LayoutName returns the same value for all of them.

**Expected behavior:**
The correct name of each keyboard layout should be returned

**Minimal repro:**
In Windows 10, add the B

[2020-12-09 20:18] KlausLoeffelmann commented on #4179
Ah, OK, got it. Well, that makes it lower prio to be honest, since it is an edge case.

[2020-12-09 23:57] paul1956 commented on #4179
Isn't is a problem that the splash screen is shown before the application Startup Event. So if ApplicationStartup wants to do a login for example (as shown in 2008 article by @KathleenDollard ) or validate a network license before the splash screen its too late. The code above comes from what is included when you click on ViewApplicationEvents from Framework project properties.

[2020-12-10 00:10] paul1956 commented on #4179
@weltkante Your code above does work with accessing splash screen controls so thanks. Since the default ApplicatiotsEvent.VB no longer has any sample code it is probably OK to just add the sample above to documentation to replace the existing not working sample and close this issue.

 @KlausLoeffelmann The fact that the order changed is a separate issue and maybe not worth fixing but should be lis

[2020-12-10 00:25] RussKie commented on #4345
Do you have a fix in mind?

[2020-12-10 02:09] RussKie commented on #4129
I tried to restore the provided database but it looks like the backup consists of two files, but only one was provided:
![image](https://user-images.githubusercontent.com/4403806/101712037-ceb93500-3ae8-11eb-8543-03d445cc57b4.png)

[2020-12-10 02:11] RussKie commented on #4179
Given this appears to be more of an edge case, marking as up for grabs.

[2020-12-10 02:21] RussKie opened #4347 "Flaky test: `RichTextBox_Text_GetWithHandle_ReturnsExpected`"
**Problem description:**

Few variations, but generally the failing point is this:
[code]

The test started failing repeatedly recently, in x86 and only on the public CI.

Observed:
- Reported https://github.com/dotnet/winforms/pull/4342#issuecomment-741741593
- https://dev.azure.com/dnceng/public/_build/results?buildId=913908&view=results

[2020-12-10 02:25] RussKie commented on #4213
Thank you for the assessment!

👍

[2020-12-10 03:41] #4213 closed

[2020-12-10 05:44] paul1956 commented on #4179
@RussKie IMO the solution is to document the breaking change (the order the 2 functions are called) and the trivial solution for the one issue above and close.

[2020-12-10 06:31] Zheng-Li01 opened #4348 "Missing the description for some properties & events of DataSet control"
* .NET Core Version:
NET SDK 6.0.100-alpha.1.20609.2

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1. Create a .NET Framework winforms project with a DataSet contorl.(or open the attached application
[NewIssueDataSet.zip](https://github.com/dotnet/winforms/files/5670675/NewIssueDataSet.zip)).
2. Migrater the dataSet1 contorl to core project,
3. Observe the diff

[2020-12-10 06:55] RussKie commented on #1199
Apologies for taking more time than I promised. Thank you to everyone who took their time to share their thoughts.
Here are my thoughts.

I don't think the **Option A** would work well because it puts a lot of responsibility on a developer, which in turn makes it rather error-prone. Nonetheless,  @GSPP thank you for your proposal.

The **Option B** has more potential, though we need to iterate on

[2020-12-10 07:09] LethiferousMoose opened #4349 "DataBinding object property to static list in ComboBox is calling EndEdit on model containing said property."
* .NET Core Version: .NET 5

* Have you experienced this same bug with .NET Framework?: Haven't tested yet, will try tomorrow.

**Problem description:**
So I've been Googling this for several hours and I haven't found much, so I'm not sure if I am doing it wrong or if this is a bug.

I have a class with a string property, this property can be one of two values, for sake of example we will say A or

[2020-12-10 07:31] RussKie commented on #4348
This is a regression in .NET Core, in which description attributes have been removed from the `DataSet` API.

E.g. `MergeFailed` event is decorated in [.NET Framework](https://referencesource.microsoft.com/#System.Data/fx/src/data/System/Data/DataSet.cs,1013), but the same decoration is missing in the .NET Core/.NET versions:
https://github.com/dotnet/runtime/blob/34cae7461f96a9c1a7574c72c436e309b

[2020-12-10 08:28] AlexVallat commented on #4345
I am not 100% sure on how the Keyboard Layout\Substitutes registry key is intended to function, so this could benefit from the attention of someone with inside knowledge of this area Windows.

Otherwise, my best guess at a fix just by inspecting the code would be that instead of finding just a single substitution that matches it finds all matching substitutions and puts them in a list. Then remove