[2022-01-17 10:49] thomasmiko commented on #6492
I'm receiving the same error for all .net 5 / .net 6 winforms projects within vs2022 (tried 17.0.4 / 17.0.5 and 17.1.0 Preview).
No relevant errors in the event log.

If i activate the winforms designer logging, i will see the following exception within the output window:

[11:43:30.4038611] Added 'System.Windows.Forms'
[11:43:30.4038611] Loaded System in 00:00:00.0000155 [thread 57]
[11:43:30.405

[2022-01-17 12:18] thomasmiko commented on #6492
I've solved it for my kind of error via an workaround.

Looked via referencesource at the source of EmulateFileIOPermissionChecks and saw that the checks are only performed when the UseLegacyPathHandling switch is active. I have disabled the switch via devenv.exe.config and now the designer for .net 5 / .net 6 is working.

[2022-01-17 13:18] jbhensley commented on #6362
I agree with @RussKie. Here was my line of thinking just for the record:

This is a change to functionality as opposed to a fix. The most reasonable way to do so would be to add a new property to `ToolStrip` and/or `ToolStripLabel` so users can indicate how this type of scenario should be handled. The default behavior would match existing so as to not break compat. The options would need to be wor

[2022-01-17 21:09] KlausLoeffelmann commented on #6459
I took a look at that this weekend. In fact, I liked it so much, I think we should really go for it. I for once will certainly push for it,
So. While there is a GDI implementation for Maui.Graphics for WinForms, I think, we shouldn't do GDI. We should do Direct2D/DirectWrite. I started implementing a prototype, and could make a few basic shapes work.

It is by FAR the most stable and fastest way t

[2022-01-18 00:39] antonfirsov commented on #6459
In an ideal world that improved Direct2D should go to the Maui.Graphics repo. Being you, I would open an issue against them so this topic gets more attention :)

[2022-01-18 01:03] KlausLoeffelmann commented on #6459
Give it some time to cook. I'd also like to discuss this with the team. But yes, on first glance that sounds most reasonable.
Here by the way is what it looks like: (I've been too lazy to make a Camtasia this time.)

https://twitter.com/loeffelmann/status/1483242987991699458?s=20

[2022-01-18 01:19] AraHaan commented on #6459
Will it be made with themability of everything in the ideas (like for example the default scrollbars on a panel for example being themeable, or other controls when controls inside of it span paste the default size of it?

Because of the lack of this in Windows Forms, I been considering myself to make a "somewhat fork" of Windows Forms that uses TerraFX to call directly into Windows APIs that then

[2022-01-18 02:00] sterenas commented on #6459
Sorry about my confusion here but when you say “Winforms” does that include VB.NET also? That’s be awesome! Thanks!

[2022-01-18 02:36] KlausLoeffelmann commented on #6459
No. That's not the scope of this feature idea. Also, at this point it is a discussion, not more.

The whole topic is "just" around an alternative to the rather slow GDI+ rendering.

That said, theming is something which is rather on top of our modernization list. Not in this context, though.

And yes, this would be supported in VB. I don't see any reason why not.

[2022-01-18 03:15] RussKie commented on #6421
I have run the provided sample on Win11 (10.0.22000 Build 22000), and confirmed the behaviour is consistent as far as .NET Framework 4.7.2 and all the way up to .NET 7 Preview1.

@Olina-Zhang would you be able to test [6421.zip](https://github.com/dotnet/winforms/files/7885930/6421.zip) on different versions of Windows 10 and see if there are any differences in behaviours? Thank you.

[2022-01-18 05:46] 2mik commented on #6459
If it decided to get rid of GDI+, may be it's possible to make WinForms cross-platform as Mono did?

[2022-01-18 06:12] RussKie commented on #4790
This is an existing behaviour in .NET Framework designer as well.
![image](https://user-images.githubusercontent.com/4403806/149880348-05708ed7-8f6a-47cd-bcdf-9315ec8e8878.png)

If you search through the code you'll see that these attributes are often come together.

[2022-01-18 07:22] #6494 closed

[2022-01-18 09:02] Atma9 commented on #4790
Indeed you are correct. I was just surprised (probably again).  Even in your example, what is the purpose to initialize the property with 0, even though we know it is already zero?

[2022-01-18 17:11] weltkante commented on #4790
You don't know its zero though. There's no `DefaultValue` attribute which would signal the default value to the designer. The zero could be a "dynamic default value" which depends on context.

To store dependant data which is indirectly edited through the property grid.

In summary, there are all necessary attributes available to control exact behavior in Desktop Framework. I don't know if or how

[2022-01-18 17:23] KlausLoeffelmann commented on #6459
We're not getting rid of GDI+. It'll be always in WinForms.
And no, the decision for this has nothing to with that.
WinForms is a wrapper around W32 controls. They are rendered by Windows.

[2022-01-19 01:40] merriemcgaw commented on #6475
@Olina-Zhang  when you run the app skipping the MetroFramework what do you get? Does the matching game correctly load and execute? This Framework was last touched in 2013. Though I don't know what changed in 7.0 that would have impacted this at all.

[2022-01-19 09:03] John-Qiao commented on #6421
@RussKie we have tested the sample project on 9 different Win10 OSs(20H2, 20H1, 19H1, 19H2, RS5, RS4, RS3, RS2, RS1), they are all the same result when target to .NET 7.0 or .NET 6.0 or .NET Framework 4.7.2 or .NET Framework 4.8.

[2022-01-19 09:42] Olina-Zhang commented on #6475
@merriemcgaw  If skip to install MetroFramework nuget package, this issue cannot repro, our form is launched successfully after executed sample app exe.

[2022-01-19 11:35] AraHaan commented on #6421
What is the result with running it in 8, 8.1 and 7?

[2022-01-20 05:12] John-Qiao commented on #6421
@AraHaan It's the same result in 8.1 and 7 with .NET 7.0.

[2022-01-20 06:03] roland5572 commented on #6421
@John-Qiao Do you mean the test result is OK, or it's Failed? I just re-tested on my computer. It does not work with .net 6.0. If you need, I can provide the version number of the operating system and the video to you.

[2022-01-20 06:07] John-Qiao commented on #6421
@roland5572 I mean the issue is still reproduced in that environments: click the button in new form will close the new form automatically.

[2022-01-21 02:44] John-Qiao commented on #6173
Verified this issue in .NET 6.0.102-servicing.22069.14 build, it is fixed with the same above result on .NET 7.0.

[2022-01-21 06:43] Lydia-Shi commented on #6191
Verified this issue in .NET 6.0.102-servicing.22069.14 build, it is fixed with the same above result on .NET 7.0.

[2022-01-21 07:32] VinoWang01 commented on #4750
Verified with .NET SDK 7.0.100-alpha.1.22069.1 build, this issue was fixed now:
![Fixed](https://user-images.githubusercontent.com/90816462/150485225-64deb859-0872-47d6-9b8f-6c5c2290ac9e.gif)

[2022-01-21 08:08] Ashley-Li commented on #5835
Verified with .NET SDK 7.0.100-alpha.1.22069.1 build, this issue was fixed.
![issue_verify5835 gif](https://user-images.githubusercontent.com/56664234/150490007-d0af5619-ab90-4d87-be31-cd6707aef4d6.gif)

[2022-01-21 11:03] vsfeedback opened #6529 "Bug in code produced by Visual Studio 2022."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Bug-in-code-produced-by-Visual-Studio-20/1639489)._

---
Hello Microsoft,

I’m trying to convert my Windows Desktop Apps to Windows Forms and .NET Core 6.
I have discovered a bug in the code produced by Visual Studio 2022.
I have put my reproducible solution on GitHub at https://github.c

[2022-01-21 11:38] VinoWang01 commented on #6529
.NET Core Version:

- .NET 7.0.100-alpha.1.22069.1 build

Have you experienced this same bug with .NET Framework?:

- Don't know

**Problem description:**
When running the project, you will see a table with two quadrants. In the second cell, have dragged a “dayChart’ from the Toolbox into each cell. Then generate the dayChart_Load event to each dayChart control. Build and run the project, only can

[2022-01-21 14:17] roland5572 opened #6531 "Support the AutoEllipsis property for ToolStripLabel Control and ToolStripStatusLabel Control"
The **Label** Control already supports the **AutoEllipsis** property, but the following similar controls do not yet support the AutoEllipsis property.

**Supported:**
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.label

**Unsupported:**

ToolStripLabel Control:
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.toolstriplabel

ToolStripStatusLabel Control:
https://

[2022-01-21 17:39] kant2002 opened #6532 "Reenable integration tests partially"
As part of #6091 not only MAUI tests was disabled, but and some end-to-end tests for folder browser dialog box for example. Because I add that tests I did not expect that.

My question is following, can we re-enable non-MAUI test in `System.Windows.Forms.IntegrationTests.csproj`? If they should be rewriten, then how? In order for me to safely migrate code to ComWrappers I would like to have this k

[2022-01-21 19:49] merriemcgaw commented on #6475
At some point I'd love to see what is in that MetroFramework package and debug to see what has changed with .NET 7. @dreddy-work is this something we could get on your backlog (pretty low down of course 😉 )?

[2022-01-22 04:19] violarulan commented on #6420
Happened in Current(stable) sersion visual studio 2022 with a C# project and I believe it is the same issue.
In current: open solution, open designer, looks fine but some attributes drag down menu shows nothing (![imgur](https://imgur.com/reEJtIl)), then VS crashes.

After switching to Preview, it shows `Timed out while connecting to named pipe ...` exact the same message.

[2022-01-22 07:27] kirsan31 commented on #6459
I'm worried... Maui.Graphics is an experiment now.

I can'nt find any plans/roadmap on it. 🤔

[2022-01-22 08:45] kirsan31 opened #6535 "[Regression] NullReferenceException on maximized MDI child icon changes with 150% DPI"
* .NET Core Version: 6.0.1

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

`NullReferenceException` in `System.Windows.Forms.ToolStripItem.InvalidateItemLayout` when you try to change Icon on maximized child form (**only with 150% DPI**):

https://user-images.githubusercontent.com/17767561/150631131-044884bc-7fcf-41c0-9ebb-6f76820ccbc6.mp4

<details>
  <su

[2022-01-22 18:34] AraHaan commented on #6421
Hmm I wonder if it's due to the implementation of the property itself, if only I could add the Windows Forms code as a local project reference just so I can set breakpoints on it in my code to know for sure if that property is what causes my program to randomly terminate.

[2022-01-24 00:03] RussKie commented on #6535
Win7 or Win7SP1?

[2022-01-24 00:07] RussKie commented on #6535
@Olina-Zhang are you able to repro the issue?

[2022-01-24 00:40] RussKie commented on #6532
The tests in src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs are generally quite meaningless, they generally don't assert anything beyond "_looks like we were able to open a dialog with controls_", the E2E tests need to be  migrated into the UIIntegrationTests project, where we can assert specific aspects of functionality for each contr

[2022-01-24 01:38] RussKie commented on #6421
Try this https://github.com/dotnet/winforms/blob/main/docs/debugging.md.

[2022-01-24 05:44] kirsan31 commented on #6535
Win7SP1 of course, sorry.
It's 100% reproducible on our machine.

[2022-01-24 12:41] qwertybba opened #6541 ".NET 6 Cannot read resources that depend on serialization"
* .NET Core Version:  6.0.101

* Have you experienced this same bug with .NET Framework?:  No

**Problem description:**
When I run the WinForm application from VS2022 and try to open one of the forms I get this error:

  HResult=0x80131515
  Message=Cannot read resources that depend on serialization.
  Source=System.Resources.Extensions
  StackTrace:
   at System.Resources.Extensions.Deserializing

[2022-01-24 13:25] kirsan31 commented on #6541
May be https://github.com/dotnet/winforms/issues/2886 ?

[2022-01-24 15:45] TobiasKnauss commented on #3300
Is the "new designer SDK" part of VS 2022? If so, then it would have been released?

[2022-01-24 15:49] TobiasKnauss commented on #3300
I can also provide a full solution with nested and inherited controls, that works well in .Net Framework 4.8, but fails to work in .Net 5:
[WinformsDesignerActive.zip](https://github.com/dotnet/winforms/files/7926819/WinformsDesignerActive.zip)

[2022-01-24 16:42] jbhensley commented on #6306
I think the immediate problem can be fixed by replacing:

https://github.com/dotnet/winforms/blob/9eb2879946d89cd4eb201fab3ade9f192e2911e2/src/System.Windows.Forms/src/System/Windows/Forms/ListViewGroup.ListViewGroupAccessibleObject.cs#L169-L180

with

[code]

But I'm seeing other places where positional index is being used in place of `ListViewGroup.ID` like this:

https://github.com/dotnet/winfo

[2022-01-24 22:09] KlausLoeffelmann commented on #4304
Please take a look [at this blog](https://devblogs.microsoft.com/dotnet/state-of-the-windows-forms-designer-for-net-applications/), to read about the background of the new designer architecture.

For designers to work in .NET (and because of the reasons stated in that blog), a redesign for control designers is necessary. Depending on the scenarios, it might be as easy as recompiling against the SD

[2022-01-24 22:24] RussKie commented on #3300
[Winforms Designer Extensibility SDK](https://www.nuget.org/packages/Microsoft.WinForms.Designer.SDK) has been published. Please note it is a prerelease version. We expect a blog post about this finalized around start of February. Around then, we will also publish the first final 1.0 release of this SDK.

[2022-01-24 22:27] KlausLoeffelmann commented on #3300
```start >= 2/9```. Sorry, not earlier.

[2022-01-24 22:32] merriemcgaw commented on #6541
@qwertybba have you been able to run this from earlier versions of VS? It would be great to have a targeted sample that demonstrates the issue so we can better troubleshoot it and rule out issues with 3rd party controls for example.
@kirsan31 #2886 was the first think I thought of too.

[2022-01-25 00:35] RussKie commented on #4200
test

[2022-01-25 02:15] #6333 closed

[2022-01-25 03:02] Lydia-Shi commented on #6535
@RussKie Verified this issue with new latest .NET 7.0.100-alpha.1.22071.3, we cannot reproduce it on Win7SP1, and it also cannot reproduce in NET 6.0, please see below GIF:
![NotReproInWin7](https://user-images.githubusercontent.com/54019172/150899294-f028ae23-59ab-4a95-96d0-6241e870f023.gif)

[2022-01-25 04:07] RussKie commented on #6535
Thank you @Lydia-Shi.
@kirsan31 are you able to debug this?

[2022-01-25 07:32] kirsan31 commented on #6535
I've created a fresh VM with Win7SP1 and can not repro it too :( I will try to do remote debug or may be to create a full dump...

[2022-01-25 08:32] darkguy2008 commented on #3723
Is this a possible thing we can look forward for .NET 7.0? :) most WinForms libraries don't seem to be trimmable, although there seem to be some progress in the NativeAOT department with the ComWrappers repo going mainline someday soon.

[2022-01-25 14:00] kirsan31 commented on #6535
It's something not trivial happens here after `LayoutTransaction.DoLayout` call:

![image](https://user-images.githubusercontent.com/17767561/150988914-f1e16239-c930-4c86-b103-25fbfd3350df.png)

😕

[2022-01-26 03:06] Olina-Zhang opened #6550 "Need to be able to remove empty events in Windows Form"
**Is your feature request related to a problem? Please describe.**
Events can be left empty in the code during visual design. A visual design session may cause many empty unwanted event handler code to be created while experimenting with controls, etc. The code will end-up containing empty event handlers. A programmer can’t just delete such code from the code without getting horrible error message

[2022-01-26 10:04] qwertybba commented on #6541
Here's what I did:
01- I create a simple WINFORM project and run the project.
02- Set the **Localizable** property to True then the **Language** to French and run the project.
03- Add **DevExpress form ** then add some controls and run the project.
04- Set the **Localizable** property to True then the **Language** to French in DevExpress form and run the project.
05- Change Text property in **Loca

[2022-01-26 12:39] danelec-hpm commented on #6420
I solved this by removing this section from the csproj file:
`  <ItemGroup>
    <FrameworkReference Include="Microsoft.AspNetCore.App" />
  </ItemGroup>`

[2022-01-26 12:51] nathan130200 commented on #6420
In my situation, i just type `dotnet new winforms` and used default csproj created, nothing different packages, and still same problem.

An workaround is close and reopen entire solution to make designer works, but isn't correct specially for big projects.

[2022-01-26 15:03] cadilhac opened #6553 "Impossible to make the Visual Studio PropertyGrid use my custom FileNameEditor derived class"
* .NET Core Version:
.Net 6

* Have you experienced this same bug with .NET Framework?:
No, it works perfectly with the .Net Framework

**Problem description:**
I want to use a custom FileNameEditor for a custom control property. I derived from FileNameEditor like so:

public class MyFileNameEditor : System.Windows.Forms.Design.FileNameEditor
{
    protected override void InitializeDialog(OpenFile

[2022-01-27 01:20] merriemcgaw commented on #6420
@nathan130200 I wasn't able to repro on my machine - `dotnet new winforms` works perfectly and the project loads just how I'd expect. That said, we are increasing the timeout before DesignToolsServer gives up. Hopefully that will help your situation, and it will be out in the next Preview or 2. We're also spinning up some investments around diagnostics and helping both our users and us collect the

[2022-01-27 01:26] dreddy-work commented on #6535
@kirsan31 , is this consistent repro? I remember some other user pointed to same code in a different issue.

[2022-01-27 01:58] rickbrew opened #6555 "Make Application.[Begin,End]ModalMessageLoop() public instead of internal"
I must admit that I've been using these two methods, via reflection, for ... a very, very, very long time (15 years?). Paint.NET relies on them in order to create something called a _modal frame_, which is where the UI is doing some kind of processing, e.g. loading (an) image(s) and showing a progress bar in the status bar, and needs the UI to stay not-un-responsive (not ghosted, i.o.w.), but also

[2022-01-27 02:06] Lydia-Shi commented on #6535
Verified this issue on 150%, 200%, 300%, there is no exception thrown and we can change Form icon successfully on maximized MDI Form.

[2022-01-27 07:43] kirsan31 commented on #6535
@dreddy-work

Yes it's 100% repro on 4 tested machines (see my comments below).

@Lydia-Shi

The problem is in DPI awareness of original repro. It was originally set through `App.config` and works not on all systems. The video in 1 post (Win7) was made with original repro and as you can see the app is DPI aware. If we add this to `Program.cs`:
[code]

then bug will be repro everywhere. I've update

[2022-01-27 08:25] Lydia-Shi commented on #6535
@kirsan31 Yeah, you are right, we can reproduce this issue on 150%, 175% when setting HighDpiMode to SystemAware, and cannot repro on 200%, 225%, 250%. [CallStack.txt](https://github.com/dotnet/winforms/files/7948810/CallStack.txt)

[2022-01-27 09:25] SergeySmirnov-Akvelon opened #6556 "Popup button border has two colors when user moves focus to another app"
.NET Core Version:
- 7.0.0-alpha.1.22069.9

Have you experienced this same bug with .NET Framework?:
- No (regression from #6021)

**Repro steps:**
1. Create a `Form` with a `Button`
2. Set the following button setting (`FlatStyle = FlatStyle.Popup`)
3. Run the app
4. Move focus to another app

**Actual behavior:**
Button border has 2 colors:
![image](https://user-images.githubusercontent.com/2337

[2022-01-27 10:40] nathan130200 commented on #6420
The problem, is VS don't launch design tools server for the first time, idk what cause this. But at second time (after unload/reload entire solution), vs was able to copy design tools server and start.

[2022-01-27 10:54] DmitryGorokhov opened #6558 "Inspect has incorrect focus when selecting specific tree node of a TreeView control"
* .NET Core Version:
7.0.0-alpha.1.21528.1

* Have you experienced this same bug with .NET Framework?:
Yes

* More info:
This is regression after #6432
It doesn't reproduce if "Watch cursor" Inspect option is turned off.

**Problem description:**

When select specific tree node or leaf tree node, the yellow focus rectangle moves and stays on entire TreeView, not TreeNode.
It doesn't reproduce if "

[2022-01-27 11:15] lisoenot opened #6559 "TreeView control has no highlighting of selected node first time if the control has first TabIndex on the form"
* .NET Core Version:
7.0.0-alpha.1.21528.1

* Have you experienced this same bug with .NET Framework?:
Yes

* More info:
This problem was found in #6432
You can find more details there.

**Problem description:**
If a TreeView control has first TabIndex on the form, selected node has no highlighting first time.

![BrokenFocusOnTreeView](https://user-images.githubusercontent.com/58004471/147512386-b

[2022-01-27 12:32] SergeySmirnov-Akvelon opened #6560 "The border color of the pressed popup CheckBox/RadioButton has low contrast"
Porting from Framework.

.NET Core Version:
- 7.0.0-preview.2.22075.9

Have you experienced this same bug with .NET Framework?:
- Yes

**Repro steps:**
1. Create a `Form` with a `Checkbox` or `RadioButton`
2. Set the following setting (`Appearance = Appearance.Button`)
3. Run the app
4. Pressed button

**Actual behavior:**
The color contrast of the button border is less than 3:1:
![image](https://

[2022-01-27 21:53] merriemcgaw commented on #6420
Thanks for the update. Given that this isn't happening to everyone I'm very curious about why it is happening on your installs. We will be adding more logging coverage and other diagnostic services so that we can better figure out what is impacting our customers. We'll let you know when that work is in a Preview so we can test it out together.

[2022-01-27 21:55] TobiasKnauss opened #6565 "C# Winforms .Net 5: Load() of base UC is called before Ctor of derived UC is finished"
.NET 5.0.13
VS 2019: v.16.11.9
both x86 and x64

Have you experienced this same bug with .NET Framework?:
NO

I first seeked for advice on my problem on stackoverflow (https://stackoverflow.com/questions/70882286/, contains some kind of history and other details), but I think it also belongs here, because this is where the relevant developers are active.

We have migrated our projects from .Net Fr

[2022-01-27 22:49] rallets opened #6566 "[Question] WebBrowser and Excel integration in Windows Forms"
* .NET Core Version:

.NET 6.0 - Visual Studio 2022

* Have you experienced this same bug with .NET Framework?:

No

**Problem description:**

Hi, I hope I'm not too much Off Topic.
In a .net 4.7.2 Windows Forms project a `WebBrowser` control was available. It's not available anymore in a .Net 6.0 project (but I saw some issues here in github mentioning it, so I'm a bit confused, too).
My goal is

[2022-01-28 01:43] RussKie commented on #6565
Please provide a standalone repro for us to investigate.
________________________________
From: TobiasKnauss ***@***.***>
Sent: Friday, 28 January 2022 8:55 AM
To: dotnet/winforms ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [dotnet/winforms] C# Winforms .Net 5: Load() of base UC is called before Ctor of derived UC is executed (Issue #6565)

.NET 5.0.13
VS 2019: v.16.11.9
both x86 and x64

Ha

[2022-01-28 02:56] John-Qiao commented on #6494
Verified with 7.0.100-preview.2.22077.9 from main branch, this issue has been fixed that the dropdown button is visible in ComboBox control when set FlatStyle property to Flat or Popup now.

![TR](https://user-images.githubusercontent.com/45864985/151479416-bed23891-cf00-4506-97cb-d941149c7884.png)

[2022-01-28 06:27] TobiasKnauss commented on #6565
@RussKie I will try to create one. Hopefully it won't become too big.
If already possible please answer my 2nd question: are virtual/overridden methods in Load() wrong?
From your request for a repro solution I think no, so it seems to be a bug?

[2022-01-28 13:22] SergeySmirnov-Akvelon opened #6570 "The Inspect draws a border around a DataGridViewRow when the user hovers over a DataGridViewRowHeaderCell"
.NET Core Version:
- 7.0.0-preview.2.22076.16

Have you experienced this same bug with .NET Framework?:
- Yes for `.NET Framework 4.8` (not reproduced in `.NET Framework 4.7.2`)

**Repro steps:**

1. Add a `Form` with a `DataGridView`
2. Add multiple `Columns` and `Rows`
3. Run the application
4. Hover over the `Header` of any `Row`

**Actual behavior:**
The Inspect draws a border around a `DataGr

[2022-01-28 15:47] DmitryGorokhov commented on #6558
This issue was fixed in pr #6432, so I close it.

[2022-01-28 15:47] #6558 closed

[2022-01-28 18:51] dreddy-work commented on #6565
We did few changes around how the handles created to improve performance. Earlier, accessing control handle would create Handle if not created by then, this behavior changed in core to improve perf and predict the order of handle creation more precisely.  @TobiasKnauss , did you compare call stack between 4.8 and 5.0 here?

[2022-01-28 19:21] TobiasKnauss commented on #6565
I am almost ready to provide a repro solution. I was able to strip about 99.9% of the unnecessary code away.

@dreddy-work: No, I did not, because the problem does not appear in .Net 4.8, so I never got to the point where I have a similar call stack.
And all tries to step through the .net 4.8 soruce code of Winforms classes failed: I could step into "normal" classes like string or StringBuilder, b

[2022-01-28 19:22] dreddy-work commented on #6529
@VinoWang01 , can you look into if this was a regression either form Framework or from earlier versions of .Net core?

[2022-01-28 19:56] merriemcgaw commented on #6541
@Olina-Zhang can you validate the scenario @qwertybba describes above without using DevExpress. This should be working and I'd like to confirm that nothing has broken recently.

[2022-01-29 01:24] TobiasKnauss commented on #6565
I have now removed 99.999% of the original code: [di-software.zip](https://github.com/dotnet/winforms/files/7962713/di-software.zip)

- Run "dotnet restore", then execute. It will work as expected.

- Add one space in `UCTolerance.Designer.cs` in line 42 at the end of the string:
`this.lblLowerTolerance_long.Text = "Lower Tolerance ";`
The execution will fail in `UCImgObjStd_Circle.cs` in line 36,

[2022-01-29 03:08] willibrandon commented on #5884
Just a quick update that I had to focus on some pressing matters the last couple of weeks but I'm ready to pick this back up.

I had another thought regarding the drag-image and to me it seems that whoever authors the API proposal should have good knowledge regarding bitmaps and how to properly work with them in GDI. For those that are interested, the [documentation](https://docs.microsoft.com/en-

[2022-01-29 10:34] kirsan31 commented on #6535
@dreddy-work
I've spend some time on this problem and found some interesting things.
NullReference of course just getting fixed with this : `Owner.Invalidate();` -> `Owner?.Invalidate();`. After this all seems working as expected, but it's not true (at least on 175% DPI) - see below.
The root of the problem lies in changing the height of the `MenuStrip` during icon change.

Icon containers in this

[2022-01-29 14:35] jbhensley commented on #6535
I found this issue curious and started to look into it yesterday. I discovered exactly what you have found. Namely that DPI isn't really the problem. It will repro on 100% DPI if you use an overly large image. Unfortunately, I haven't had time to do any further research.

Here is where my debugger is sitting this morning. I'm on a breakpoint where `Owner` is about to be set to `null`. Now, somewhe

[2022-01-29 20:02] RussKie commented on #6535
@kirsan31 @jbhensley thanks for looking further into this, assigning to you for now. Please holler back if you get stuck.

If this issue does not repro on .NET Framework 4.6, 4.7 and 4.8, it is probably a good idea to bisect and try to establish which commit has introduced the regression.

[2022-01-29 20:21] kirsan31 commented on #6535
@RussKie this issue physically can't repro on .NET Framework because [this](https://github.com/dotnet/winforms/issues/4621) was [fixed](https://github.com/dotnet/winforms/pull/4650) only in .Net6. And as I said in [1 post](https://github.com/dotnet/winforms/issues/6535#:~:text=It%27s%20obvious%20that%20the%20regression%20was%20somehow%20introduced%20here.):

But as far as i can tell #4650 not intr

[2022-01-30 02:29] John-Qiao commented on #6541
@merriemcgaw I have tested above scenario which @qwertybba describes without using DevExpress in these 3 projects: VS 17.0.5 WinForms project(targeting to .NET 6.0.1), VS 17.1.0 Preview 4.0 WinForms project(targeting to .NET 6.0.2) and latest VS 17.2.0 P1 WinForms project(targeting to latest .NET 7.0), the all work fine without error.

[2022-01-30 10:14] qwertybba commented on #6541
The same problem here
[https://developercommunity.visualstudio.com/t/Resx-files-of-multi-language-localizabl/1637863](url)

[2022-01-30 10:18] kirsan31 commented on #6541
@qwertybba the link and text are not consistent.
text: `https://developercommunity.visualstudio.com/t/Resx-files-of-multi-language-localizabl/1637863` - correct
link: `https://github.com/dotnet/winforms/issues/url` - wrong

[2022-01-30 12:45] qwertybba commented on #6541
@kirsan31 I corrected it, thanks

[2022-01-31 08:10] DmitryGorokhov commented on #6038
We shouldn't adapt contrast rate if user change styles. It's user responsibility in this case.

This is by design instead of 3D-effect. Looks like the light sticks (horizontal and right side) and the background are the same colors.

cc @merriemcgaw

[2022-01-31 12:21] ArtemTatarinov opened #6582 "Move more properties from the `GetPropertyValue` method to the base class"
Refactor properties `IsPasswordPropertyId`, `FrameworkIdPropertyId`, `HelpTextPropertyId` and `AccessKeyPropertyId` the same way as in PRs: #5745, #6429.

Original issue:
- #5494

Related issues:
- #6103
- #6236
- #6324

[2022-01-31 17:05] merriemcgaw commented on #6038
That seems correct to me. I don't recall why there would be a difference in the sorting arrow - perhaps if you widen the column it's better looking. However, as long as our defaults are satisfactory I think we can close this issue and look at it again if we get a customer complaint.

[2022-01-31 17:05] #6038 closed

[2022-01-31 18:09] WPMGPRoSToTeMa opened #6586 "WinformsControlsTest cannot be run under debugger in Visual Studio"
* .NET Core Version:
7.0.0-beta.22078.2

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
WinformsControlsTest cannot be run under debugger using F5 in Visual Studio, the following error is shown:
![Fatal error when WinformsControlsTest runs under debugger in VS](https://user-images.githubusercontent.com/5282741/151824760-df1cf5f4-8966-44b2-a1a1-b70e99102d6b.

[2022-01-31 18:15] dreddy-work commented on #6586
Can you add call stack for this and see if this is something that need to be addressed by runtime?

[2022-01-31 18:27] WPMGPRoSToTeMa commented on #6586
That's the only thing I see in the Output window:
[code]

[2022-01-31 20:01] jbhensley commented on #6535
I've submitted a fix for the NRE. It's a doozy.

As for slight variations in icon size of two originally same-sized icons at different DPI, I did not investigate that further but suspect we're dealing with rounding differentials in the scaling logic. I'm not sure if that rises to the level of being an actual concern.

I think that covers everything, but let me know if I'm overlooking something.

[2022-01-31 21:37] RussKie commented on #6586
#6573 is the one to blame. I tried the following steps:
1. checkout 18f55098710a3bb0c06cc50756fde323f4af8b00
2. .\restore.cmd
3. .\start-vs.cmd
3. F5 in VS <-- works
4. checkout 059d14c3b74720a83b1e3fe1b02dcd26b9cb09bf
2. .\restore.cmd
3. F5 in VS <-- crash

[2022-02-01 05:00] RussKie commented on #6535
Great discussions. I'm not sure what else we can do except ignoring the size discrepancy and rendering the given icon.

[2022-02-01 07:48] ArtemTatarinov opened #6590 "Code of the DateTimePicker.Text doesn't match its description in documentation"
* .NET Core Version: From 3.0 to 7.0
* Have you experienced this same bug with .NET Framework?: Yes, from 2.0 to 4.8

**Problem description:**
`Text` property of the `DateTimePicker` class returns the value of the `Text` property of the base class (i.e. `Control`):
![image](https://user-images.githubusercontent.com/87859299/151927126-aa0f5ddf-a996-47f0-b2e2-1a56836ab998.png)

Yet the documentation

[2022-02-01 07:49] ArtemTatarinov commented on #6590
Hi, @merriemcgaw, @Tanya-Solyanik, @dreddy-work, could you please look at it?

[2022-02-01 23:37] RussKie commented on #6230
@SergeySmirnov-Akvelon it would be great to finalise the fixes ASAP, 6.0.3 branches are open now.

[2022-02-02 00:12] #6535 closed

[2022-02-02 00:42] danmoseley commented on #6266
@merriemcgaw I'm guessing this is redundant now?

[2022-02-02 00:42] #6266 closed

[2022-02-02 01:00] RussKie opened #6596 "❓ Survey: Repo contribution experience 2022"
A couple years ago we surveyed you the members of the community in this repo to learn how we were doing as maintainers.

It's time to repeat the same survey. Whether you've been involved for years or you're relatively new please tell us about your experience participating and contributing to the project. It should only take a few minutes, and you can answer for up to 3 repos:
https://www.surveymon

[2022-02-02 01:50] AvaSharkawy commented on #6193
Any solution?

[2022-02-02 02:05] RussKie commented on #6193
Unfortunately in .NET this is no longer possible - the designer is run as .NET process, and editors are run in the context of VS (net472 process). You can find more information in our latest blog post ["State of the Windows Forms Designer for .NET Applications"](https://devblogs.microsoft.com/dotnet/state-of-the-windows-forms-designer-for-net-applications/).
You'll need to modify your code and use

[2022-02-02 02:06] RussKie commented on #6193
Duplicate of https://github.com/dotnet/winforms/discussions/6581

[2022-02-02 02:06] #6193 closed

[2022-02-02 06:22] vladimir-krestov opened #6597 "Several DataGridView tests are flaky in arm64 CI build"
* .NET Core Version: 7.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
These unit tests fail sometime in arm64 CI build for successful PRs, that blocking deployment of fixes into sdk.
**Stack trace** ([System.Windows.Forms.Tests_net7.0_arm64.log](https://dev.azure.com/dnceng/public/_build/results?buildId=1584807&view=artifacts&pathAsName=false&type=publis

[2022-02-02 08:22] tbolon commented on #4895
Regarding your proposition to make ToolStripItem bindable, see also this [discussion](https://github.com/dotnet/winforms/discussions/6517) about using binding with toolstripcontrolhost.

Also, we wanted to use binding in StatusStrip, on ToolStripStatusLabel, and found that we had to wire to the BindingContext of the Form for the binding to work. Maybe this scenario could be supported as well (whic

[2022-02-02 09:34] ArtemTatarinov opened #6603 "Refactoring `AutomationId` at the `GetPropertyValue` method"
We should consider refactoring the `AutomationId` property at `AccessibleObject` class and its descendants. Now 7 descendants of the `ControlAccessibleObject` class return the `Owner.Name` value for the `AutomationId` property at the `GetPropertyValue` method, and 4 descendants of the `AccessibleObject` class return `AutomationId` (which is not virtual now as each class implements it on its own).

[2022-02-02 10:26] AraHaan commented on #6550
But then there is another issue: All events would be marked as empty unless you have it flag only events with empty code bodies as well too.

[2022-02-02 14:50] tbolon commented on #5918
Is this popup intended to be a "layer" (with a mask) on top of the owner form / control ? Or an independent "window" ?

The popup used on windows is a real window, which seems to capture the focus and is dismissed automatically when clicking anywhere outside. It can expand outside the app boundaries.

![image](https://user-images.githubusercontent.com/127185/152153768-21a4f8f9-6631-40e9-8331-183fa

[2022-02-02 17:20] dreddy-work commented on #6597
Also, few tests in debug mode are flaky: https://dev.azure.com/dnceng/public/_build/results?buildId=1586808&view=ms.vss-test-web.build-test-results-tab

[2022-02-02 18:19] merriemcgaw commented on #6266
Yeah, I probably ought to have taken this down a couple weeks ago. Though we're just now back up to full capacity 😆

[2022-02-02 22:13] Tanya-Solyanik commented on #6590
Suggestion:
Change the getter to `return Value;` in .NET 7 and fix documentation for other versions.

[2022-02-03 00:09] KlausLoeffelmann commented on #4895
Yes, this is what I had in mind. Since ToolStripItem is the base for so many things, making that bindable in principle should have the requested result.

[2022-02-03 02:16] RussKie commented on #6420
As an update.
As a tactical fix we have increase the connection timeout from 10 seconds to 2 minutes. This fix is expected to land in 17.1p5. The team is also working on a more strategic solution, that includes better error reporting and diagnostics, and perf improvements.

[2022-02-03 02:16] #6420 closed

[2022-02-03 04:34] Tanya-Solyanik commented on #5516
OS major version is 10 on 21H2, no changes are needed

[2022-02-03 04:34] #5516 closed

[2022-02-03 08:26] tbolon commented on #4895
For our case, we had to make 2 things for ToolStripStatusLabel:

1) Create a "BindableStatusStrip" with this kind of code:
[code]

Create a custom IBindableToolStripItem:
[code]

3) Create custom controls inheriting from ToolStripStatusLabel or other controls, for example this one:
[code]

[2022-02-03 13:00] vladimir-krestov opened #6609 "Some RichTextBox tests are flaky in x86 and x64 Debug CI build"
* .NET Core Version: 7.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Tests fails sometime in x86 and x64 CI build for successful PRs, that blocking deployment of fixes into sdk:
- (x86) `RichTextBox_Text_GetWithHandle_ReturnsExpected`:
 Stack trace ([System.Windows.Forms.Tests_net7.0_x86.log](https://dev.azure.com/dnceng/public/_build/results?buildId=15

[2022-02-03 13:06] vladimir-krestov opened #6610 "ToolStrip tests is flaky in arm64 and x86 CI build"
* .NET Core Version: 7.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- `ToolStrip_WndProc_InvokeMouseActivateWithHandle_Success` unit test fails sometime in arm64 CI build for successful PRs, that blocking deployment of fixes into sdk. *Stack trace* ([System.Windows.Forms.Tests_net7.0_arm64.log](https://dev.azure.com/dnceng/public/_build/results?buildId

[2022-02-03 13:20] SergeySmirnov-Akvelon opened #6612 "ListViewItem does not reset its "Selected" flag after removing from ListView"
.NET Core Version:
- 7.0.0-preview.2.22102.1

Have you experienced this same bug with .NET Framework?:
- Yes

**Problem description:**

1. Create a `Form` with a `ListView`
2. Add several `ListViewItems`
3. Add an event to remove an `ListViewItem` when the key is pressed
4. Add a `MessageBox` with the status of the `ListViewItem` after deletion to the event above
5. Run the application
6. Set focu

[2022-02-03 15:26] daniel-lerch opened #6613 "ScaleControl is not called anymore at 100% scaling"
* .NET Core Version:
6.0.101

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

Some Windows Forms controls require manual scaling by overriding the `Control.ScaleControl(SizeF, BoundsSpecified)` method.

In .NET Framework applications (tested with dpi awareness enabled in manifest, high dpi auto resizing and PerMonitorV2 support enabled in app.config the `Sc

[2022-02-03 15:47] daniel-lerch opened #6614 "ApplicationConfiguration source generator does not support decimal font size"
* .NET Core Version:
6.0.101

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
The source generator for `ApplicationConfiguration.Initialize()` does not handle decimal font sizes correctly. When I tried to use the old default font settings from .NET Framework in .NET 6.0 via project file, I got a build error.

The source generator uses a decimal comma instead

[2022-02-03 17:04] #6230 closed

[2022-02-03 20:34] tbolon commented on #6614
It seems it is a duplicate of #6144, which has been fixed by #6164 and will be released in 6.0.2

[2022-02-03 20:38] #6614 closed

[2022-02-03 22:51] dreddy-work commented on #6613
Thanks @daniel-lerch for reporting this. Yes, it was intentional change for performance gain. We will look into updating doc with possible alternatives here.

[2022-02-03 23:20] RussKie commented on #6613
@dreddy-work please raise a [breaking docs issue](https://github.com/dotnet/docs/issues/new/choose).

[2022-02-03 23:27] dreddy-work commented on #6541
This seems an issue with DevExpress control libraries given that our stand-alone WinForms application is working as expected in similar scenario here. @qwertybba , did you reach out to DevExpress?

[2022-02-03 23:29] RussKie commented on #6541
@mikeroz FYI

[2022-02-03 23:43] RussKie commented on #6603
If you could open a draft PR with the change you propose it would help us visualise the change and make it easier to reason about it.

[2022-02-03 23:50] dreddy-work commented on #6570
Is the hierarchy in Accessible tools shows as expected here?

[2022-02-03 23:53] dreddy-work commented on #6565
@Olina-Zhang , can you try this repro on latest bits (both 7.0and also on 6.0) and see if we can repro it locally?

[2022-02-04 00:03] RussKie commented on #6415
Closing as the issue is observed on the unsupported OS.

[2022-02-04 00:03] #6415 closed

[2022-02-04 07:41] qwertybba commented on #6541
Yes, DevExpress engineers are aware of this problem.
The  [link](https://developercommunity.visualstudio.com/t/Resx-files-of-multi-language-localizabl/1637863) I mentioned above is created by one of the DevExpress engineers

[2022-02-04 09:18] LexEPoX commented on #6541
Hello,
I'm a DevExpress engineer who created the bug report mentioned by @qwertybba ([Resx files of multi-language (localizable) forms get corrupted if their child controls have properties without default values (.NET 6)](https://developercommunity.visualstudio.com/t/Resx-files-of-multi-language-localizabl/1637863)).

Although I shared a project that does not have DevExpress components and illustr

[2022-02-04 11:06] SergeySmirnov-Akvelon opened #6621 "Combobox text field is not cleared when last item is removed"
.NET Core Version:
- 7.0.0-preview.2.22102.17

Have you experienced this same bug with .NET Framework?:
- Yes

**Problem description:**

1. Create a `Form` with a `ComboBox` and a `Button`.
2. Add two `Items` to the `ComboBox`.
3. Add an event to remove the selected `Item` when the `Button` is clicked.
4. Run the application.
5. Choose any `Item`.
6. Click on the `Button` (`Combobox` text field wi

[2022-02-04 15:17] LuciferSam86 commented on #3329
Amazing : 2022 and

- The problem is still present
- The ticket is still open
- The ticket #3142 gives 404
Is WinForms deprecated?

[2022-02-04 18:16] dreddy-work commented on #6541
Reopening the issue for further investigation here.

[2022-02-04 18:40] Tanya-Solyanik commented on #3678
Additional details:

On a form with a textbox and a print preview control, TAB will attempt to move focus to print preview control. This control does not display a focus frame, so focus is not visible, and it should not be focusable because there is nothing to edit. The problem is that designer had generated code like this:
[code]

With specific `TabIndex `assigned to the print preview control. If

[2022-02-05 08:12] Janiel13 opened #6625 "Janiel13"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like and alternatives you've considered**

**Will this feature affect UI controls?**

[2022-02-05 11:49] #6625 closed

[2022-02-06 23:44] RussKie commented on #5774
@merriemcgaw @dreddy-work this is a real .NET migration blocker for Git Extensions project (>160K users).

[2022-02-07 21:07] vladimir-krestov opened #6635 "Re-enable skipped test: ImageList_FinalizerReleasesNativeHandle_ReturnsExpected"
* .NET Core Version: 7.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- `ImageList_FinalizerReleasesNativeHandle_ReturnsExpected` unit test fails sometime in x86 Debug CI build for successful PRs, that blocking deployment of fixes into sdk.

**Stack trace** ([System.Windows.Forms.UI.IntegrationTests_net7.0_x86.log](https://dev.azure.com/dnceng/public/_bu

[2022-02-08 02:21] dreddy-work commented on #6613
We tracking to update documentation here: https://github.com/dotnet/docs/issues/28115.  @daniel-lerch, can you elaborate on what you are trying to achieve by overriding this scaling method? That will help us find the right alternative here.

[2022-02-08 05:22] RussKie commented on #5774
@dreddy-work I have update the repro to multi target .NET Fx 4.8, .NET 5, .NET 6 and .NET 7

https://user-images.githubusercontent.com/4403806/152923361-16d37a56-a431-484e-b168-56a80066f62f.mp4

[2022-02-08 06:53] Lydia-Shi commented on #6535
Verified this issue with latest .NET 7.0.100-preview.2.22103.2 from main branch, this issue is fixed. There is no exception when changing Form icon on 150%&175%.

[2022-02-08 06:59] daniel-lerch commented on #6613
I created a custom list view control with an image list and custom sizing logic for the rows. In `ScaleControl` I create a new image list with the right scaling from the original and large images. For my custom sizing logic to work, I also save the new row widths which is used later in my resizing logic: [View source code](https://github.com/daniel-lerch/vocup/blob/eb9f432b69ec966447f29c4383d4fc90

[2022-02-08 07:54] Philip-Wang01 commented on #6565
@dreddy-work We verified this issue in .NET 5.0, 6.0 and 7.0, this issue only repro on 5.0, not repro on 6.0 and 7.0, please see following video：

.NET 5.0:
![5 0](https://user-images.githubusercontent.com/86937911/152942015-9fd50e88-eff6-4c9f-8b20-44e4cc3c62ea.gif)

.NET7.0:
![70](https://user-images.githubusercontent.com/86937911/152942047-4881e4fb-e03f-4336-b38b-cfeaf3ba9544.gif)

[2022-02-08 08:44] geoffhop commented on #5444
Hi there
Does anybody have an update on this as this is still an issue in both VS 2019 and VS 2022

Regards
Geoff

[2022-02-08 09:57] MelonWang1 opened #6636 "The color contrast of the button border is less than 3:1 when setting FlatStyle to Standard"
**.NET Core Version:**
* Main: 7.0.100-preview.2.22107.13
* Release: 7.0.100-preview.2.22107.10

**Have you experienced this same bug with .NET Framework?**
Yes (based on [#1101503](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1101503))

**Repro steps:**

1. Create a Winforms .net core application with a button
2. Set Button.FlatStyle= FlatStyle.Standard
3. Build and run the application

[2022-02-08 11:40] SergeySmirnov-Akvelon commented on #6359
Hi @merriemcgaw, @Tanya-Solyanik, @dreddy-work. I have checked the behavior of `NVDA` and `JAWS` and they also announce the `edit` name:
![image](https://user-images.githubusercontent.com/23376742/152979925-f032f00d-ba44-46e7-839d-36257030b75b.png)

Unfortunately, `JAWS` does not display the name of the control when logging.

The `Narrator`, when using the scan mod, can focus on the `NumericUpDown

[2022-02-08 12:26] TobiasKnauss commented on #6565
@Philip-Wang01 thanks for your effort!
Can you say whether it is a bug in .NET 5? If so, will there be a fix for it?

[2022-02-08 13:11] MHDeveloper30 commented on #5444
I’ve just tried your sample in vs 2022 and get no problems. I’m now working in VS2022 and .net 6 and have only one problem with the designer, when it causes a catastrophic error seemingly at random. Closing any open designer windows usually fixes it.

From: geoffhop ***@***.***>
Sent: 08 February 2022 08:45
To: dotnet/winforms ***@***.***>
Cc: Richard Fenton ***@***.***>; Manual ***@***.***>
Subje

[2022-02-08 14:01] Tanya-Solyanik commented on #6359
Looks "by design" to me. WInforms distinguishes between the edit box and the full control.

[2022-02-08 18:00] dreddy-work commented on #6636
@vladimir-krestov / @SergeySmirnov-Akvelon can you guys prioritize this regression? @MelonWang1 do you know which release of core or check-in caused this regression?

[2022-02-08 18:19] dreddy-work commented on #6565
.NET 5.0 does not have long term support and our servicing bar there doesn't allow bug fixes without considerable business justification. .NET 6.0 has long term support. Can you update your app to .NET 6.0 and see if you still face this issue?  Please feel free to reopen this issue if you still see the issue with .NET6.0.

[2022-02-08 18:19] #6565 closed

[2022-02-08 18:22] dreddy-work commented on #6541
@Olina-Zhang , can you take look and try a repro with latest .NET 7.0 bits here?

[2022-02-08 19:51] Tanya-Solyanik opened #6646 "Add ETW events that would measure application start up time."
This is a request from the runtime team, aligned with their Arm64 effort. Related to https://github.com/dotnet/runtime/issues/64993

As an example, here’s a pointer to how the perf lab does this.  All of the start-up tests emit an event when they have completed start-up: [https://github.com/dotnet/performance/blob/23b05253055e3c5253bf4a1c8d4d767f33c2b77b/src/tools/ScenarioMeasurement/Startup/Gener

[2022-02-09 01:19] RussKie commented on #6144
The fix went out in 6.0.2.

[2022-02-09 01:19] #6144 closed

[2022-02-09 02:30] MelonWang1 commented on #6636
This issue cannot repro from 7.0.100-alpha.1.21566.20 to 7.0.100-alpha.1.22069.1, and can repro from 7.0.100-preview.2.22076.3 to latest 7.0.100-preview.2.22108.9 from main branch.

[2022-02-09 03:21] geoffhop commented on #5444
Hi MHDeveloper30
Thanks for the reply.
I just tried it again and both CustomControl1 and LabelControl fail to load in the designer using VS Pro 2022 (64 bit) v17.0.6 with both displaying the same error which I have attached.
Maybe it is an issue based on environment\configuration.
Do you have any particular additional SDK's installed?
[2022-02-09.pdf](https://github.com/dotnet/winforms/files/80291

[2022-02-09 03:21] Olina-Zhang opened #6650 "The ToolStripScrollDownButton should be disabled when displaying and focused on the last dropdown item in order to avoid an exception popping up"
* .NET Core Version:
7.0.100-preview.2.22103.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Repro steps:**
1. Create a Winforms .Net Core application
2. Add a toolStrip on the form designer
3. Add a toolStripDropDownButton on the toolStrip
4. Add several drop down items under toolStripDropDownButton
5. In the Form.Designer.cs file, edit height of the this.toolStripDropDownBut

[2022-02-09 05:36] John-Qiao commented on #6541
@dreddy-work I tested LexEPoX's scenario using his sample project with latest .NET 7.0 Preview2 SDK, it still repro, please check below gif result:
![TestResult](https://user-images.githubusercontent.com/45864985/153128372-024f309f-2ef6-4de8-a859-b8ebfef382b1.gif)

[2022-02-09 06:44] Olina-Zhang opened #6652 "[Accessibility] Inspect: Cannot find toolStripScrollButtons in hierarchy of toolStripDropDown menu"
* .NET Core Version:
7.0.100-preview.2.22103.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Repro steps:**
1. Create a Winforms .Net Core application
2. Add a toolStrip on the form designer
3. Add a toolStripDropDownButton on the toolStrip
4. Add several drop down items under toolStripDropDownButton
5. In form1.cs code file, add 1 line code to define the height of the this.to

[2022-02-09 06:58] TobiasKnauss commented on #6565
@Philip-Wang01 okay, I understand. Thank you all for your support. Unfortunately, .NET 6 requires updating VS from 2019 to 2022, which we need to buy. Using .NET 6 is on our plan, but not short-term.
Our workaround is setting `AutoScaleMode=None` because we don't use it anyway. We will use .NET 6 in the future for different reasons, and the bugfix for this issue is one of it, to avoid that this pr

[2022-02-09 07:03] vladimir-krestov opened #6653 "Needs to add tests attributes with conditional skipping for UI tests"
* .NET Core Version: 7.0

**Problem description:**
- Needs to add the ability to skip some tests in a specific architecture for UI tests and MAUI tests like we did it for unit tests (see [#6599](https://github.com/dotnet/winforms/pull/6599)). We can't use the attributes from unit tests utilities, because UI tests doesn't have a reference to them.
Based on this [comment](https://github.com/dotnet/w

[2022-02-09 07:58] vladimir-krestov opened #6654 "Re-enable skipped test: TabPage_IsHoveredWithMouse_IsFalse_WhenMouseIs_OutsideMainScreen"
* .NET Core Version: 7.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- `TabPage_IsHoveredWithMouse_IsFalse_WhenMouseIs_OutsideMainScreen` unit test fails sometime in x86 release CI build for successful PRs, that blocking deployment of fixes into sdk. [System.Windows.Forms.Maui.IntegrationTests_net6.0_x86.log](https://dev.azure.com/dnceng/public/_build/r

[2022-02-09 08:33] geoffhop commented on #5444
Hi yet again
Further to this I have just tested this on a brand new Windows Server 2019 VM box with no other installs of Visual Studio other than VS 2022 Community 64 bit v17.0.6 with only the .NET desktop developement workload installed and I still get the same errors when opening both the CustomControl1 and LabelControl  controls in the designer.

Regards
geoffhop

[2022-02-09 09:19] MelonWang1 opened #6656 "[Accessibility] Narrator cannot announce Expand/Collapse state for properties with multiline textbox typeeditor drop-down"
**.NET Core Version:**

* Main: 7.0.100-preview.2.22108.9
* Release: 7.0.100-preview.1.22108.11

**Have you experienced this same bug with .NET Framework?**

Yes

**Problem description:**

Narrator doesn't announce the expanded state when pressing F4 or 'Alt + down' for such properties which drop-down control is RichEdit control after expanded them. In this case, now Narrator focus in the drop-dow

[2022-02-09 09:42] IDEExperienceTestSolution opened #6657 "[Accessibility][Win11] The color contrast of the dataGridViewCheckBox cell is less than 3:1"
.NET Core Version:
* .NET SDK 7.0.100-preview.2.22108.9

Have you experienced this same bug with .NET Framework?:

- Yes

**More Info:**
1.	This issue can’t reproduce on Windows 10 OS.
2.	This issue can reproduce on Windows 11 OS both for Winforms NetFX and Core projects(can reproduce with 3.1, 5.0, 6.0, 7.0).

**Problem description:**
The color contrast less than 3:1 between background color of c

[2022-02-09 10:08] Ashley-Li commented on #4629
Verified this issue with .NET 7.0.100-preview.1.22108.1(arm64) form Release/7.0.1xx-preview1 branch and .NET 6.0.300-preview.22108.7 form Release/6.0.3XX branch , it is not repro that build this project, then run it on win arm64 machine, there is no exception was throwing when switching dates of MonthCalendar. So close it.
![4629_verify](https://user-images.githubusercontent.com/56664234/153176046

[2022-02-09 10:08] #4629 closed

[2022-02-09 14:01] vladimir-krestov opened #6661 "[TextPattern] Getting incorrect rectangles for multiline TextBox"
* .NET Core Version: 7.0

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
- TextPattern doesn't show empty lines (RTL and LTR modes):
![image](https://user-images.githubusercontent.com/49272759/153213987-35181cfd-0e9b-4f67-9a1f-28979c8ec30a.png)
It's important, when the caret is in the empty line, Narrator announces it incorrectly:
![qzQ3n0qO2M](https://use

[2022-02-09 14:28] NXTwoThou opened #6662 "When upgrading .NET versions(6.x), apps get "stuck""
Previously, with .NET Desktop Runtime updates(v3.x, v5.x), when you run the installer the apps would shut down and when the installer completed, you would then need to start back up anything you had running.  This is compared to the .NET Framework updates where apps did not close at all and continued to run.

Starting with .NET v6.x, when you run the Desktop Runtime installer, the apps disappear f

[2022-02-09 16:55] EatonZ opened #6663 "6.0.2 SDK update has broken WinForms apps"
ℹ️  **UPDATE:** [Workaround here for those who need it.](https://github.com/dotnet/core/issues/7176)

. . .

There appears to be a critical problem with the new 6.0.2 update which makes apps compiled with it fail to start on machines running 6.0.1.

To reproduce, do the following:
1. Visit Windows Update to update the runtime on your **dev machine**, and also update Visual Studio 2022 using Visual

[2022-02-09 19:40] jbhensley commented on #6612
This is an interesting one. `ListViewItem.Selected` is a settable property that can be set to `true` *before* it is associated with a `ListView`. In that scenario, adding it to a `ListView` makes it selected natively (either exclusively if `ListView.MultiSelect == false` or in conjunction with any other items that may currently be selected if `ListView.MultiSelect == true`). That behavior is diffe

[2022-02-09 20:20] dreddy-work commented on #6663
@RussKie , is this because we are shipping SDKs with each servicing release now?

[2022-02-09 20:23] dreddy-work commented on #6662
@NXTwoThou , is this specific to WinForms applications? Did you try others like WPF or console apps?

[2022-02-09 20:29] NXTwoThou commented on #6662
We have two winform apps we wrote that live in the system tray.  6 that are regular windowed.   I'm reporting what happened to our apps during an upgrade from .NET 6.0.1 to 6.0.2.  There are no WPF nor console apps that stay running on any of these machines.

[2022-02-09 22:19] RussKie commented on #6662
This is repo contains Windows Forms runtime, i.e. the code that makes your apps run. Moving to the SDK, maybe they can help.

[2022-02-09 22:25] RussKie commented on #6663
@dreddy-work  we do not ship the SDKs in servicing releases, we ship the ref packs.

@EatonZ you're building an app on a higher version of .NET and trying to execute on a lower version. How do you configure SDKs in [global.json](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json)?

[2022-02-10 00:40] RussKie commented on #6663
@EatonZ it is indeed a major issue with the 6.0.2 servicing release. The assembly versions have been revved from 6.0.0 to 6.0.2, which is causing the issue you're facing. The team is currently discussing different ways this issue may be addressed and ways we can minimise the drama for developers like yourself. Unfortunately there's no easy way out here.
In mean time please build your applications

[2022-02-10 00:58] RussKie commented on #6663
I believe you can install 6.0.1 from https://dotnet.microsoft.com/en-us/download/dotnet/6.0. In the global.json you can pin the SDK to 6.0.1
[code]

[2022-02-10 01:06] ak98 opened #6666 "SendKeys Grouping fails"
* .NET Core Version:
6.0

* Have you experienced this same bug with .NET Framework?:
NO

**Problem description:**

SendKeys.Send("^(a)^(c)") triggers exception.

ArgumentException
Exception:SendKeys string '^(a)^(c)' is not valid.

**Expected behavior:**
 Sends Ctrl-A then Ctrl-C

**Minimal repro:**
SendKeys.Send("^(a)^(c)")

[2022-02-10 01:35] ak98 commented on #6666
PS. the handling of CancelMods is in error
needs to be byref

[2022-02-10 02:30] Lydia-Shi commented on #5960
Verified this issue with .NET 7.0.100-preview.1.22101.1, this issue is fixed, results as above.

[2022-02-10 02:58] VinoWang01 commented on #6191
Verified this issue with .NET SDK 7.0.100-preview.1.22109.10, it is fixed. The form and the textbox are correctly scaled up when useApplicationConfiguration is set to true or false,
![image](https://user-images.githubusercontent.com/90816462/153328620-ddc0ac0d-a4d3-47ee-bc7a-3be9664a8180.png)

[2022-02-10 03:17] EatonZ commented on #6663
@RussKie Thank you, everything is back in a working state for me now.
It seems like the best way to fix would be to put out a new update that doesn't bump the versions. Hopefully you can do that soon to avoid a lot of people compiling incompatible software on this version.

**Full workaround steps for others who may need help:**
1. Make sure Windows and Visual Studio have installed the latest Patc

[2022-02-10 05:33] absid89 commented on #6663
i have same problem after visual studio update. on clients installed 6.0.1 runtime, and all got a crash after run app
thx, i will try your solution

[2022-02-10 06:03] VinoWang01 commented on #6464
Verified with .NET SDK 7.0.100-preview.1.22109.10 build, the results is same as following description by @rickbrew. Is this expected?
![NotFixed](https://user-images.githubusercontent.com/90816462/153347565-d6fc74cc-8da9-4b60-88ff-84c4e322459a.gif)

[2022-02-10 06:09] VinoWang01 commented on #4750
Verified with .NET SDK 7.0.100-preview.1.22109.10 build, this issue is fixed, the result is same as above GIF shown.

[2022-02-10 06:11] VinoWang01 commented on #5835
Verified with .NET SDK 7.0.100-preview.1.22109.10 build, this issue is fixed, the result is same as above GIF shown.

[2022-02-10 06:14] VinoWang01 commented on #6494
Verified with .NET SDK 7.0.100-preview.1.22109.10 build, this issue is fixed, the result is same as above screenshot shown.

[2022-02-10 06:17] dreddy-work commented on #6464
@VinoWang01 , issue was when you click on "ClickMe" does it open model dialog in the center of parent dialog or to the top-left of the screen. Earlier it was opening model dialog on the top left and now we expect it to open in the center. This was serviced to 6.0 so behavior would be now same in 7.0 and 6.0. Original issue gif if you observe, it was opening model dialog after clicking "ClickMe" to

[2022-02-10 06:25] VinoWang01 commented on #6464
Thanks for the clarification, before this I thought the result would be consistent no matter if `DontCallIsHandleCreatedInCriticalPlaces` was set to `true` or `false`. Thank you!

[2022-02-10 07:13] kirsan31 commented on #6663
@EatonZ WoW - thanks foк discovering this first - it will save us a certain amount of nerve cells :)))

[2022-02-10 07:36] VinoWang01 commented on #6529
Verified it on .NET Framework project, it's still reproducing with .NET Framework application:
![image](https://user-images.githubusercontent.com/90816462/153359442-2e996414-b993-4507-a43c-be9d77cd2b6c.png)

[2022-02-10 08:41] absid89 commented on #6663
thx for explain, otherwise no matter what I did, the version of the environment did not change to 6.0.1

[2022-02-10 12:48] MHDeveloper30 commented on #5444
Apologies, I’ve just reread your post and followed your steps to recreate more carefully ie right click and select ViewDesigner and I do get an error – object not found. I was just double-clicking and  getting the code behind file.
I’m wondering why you want to design the inherited control? Is it a possible workaround to inherit from UserControl (which does display the designer) and then add the c

[2022-02-10 13:02] hassaanmasood opened #6670 "Winforms Controls total Redesign"
**Is your feature request related to a problem? Please describe.**

Winforms controls look and feel does not align with Windows 11 and they look really really bad than ever before.

**Describe the solution you'd like and alternatives you've considered**

Since the introduction of WPF then UWP and now WinUI, we understand that WinForms is not on the priority list and thus is not updated regularly.

[2022-02-10 22:27] RussKie commented on #6663
For an available workaround please refer to https://github.com/dotnet/core/issues/7176.

[2022-02-10 23:06] dreddy-work commented on #6653
Not sure where you are tracking flaky tests. here is another to add to that list:
![image](https://user-images.githubusercontent.com/36968667/153511761-e6c66050-ea80-4382-8520-0d5c6cde1b06.png)

[2022-02-11 00:45] geoffhop commented on #5444
Hi MHDeveloper30
Thanks for confirming, plenty of other developers out there are also seeing this issue and it's a know bug that has not been fixed.
I have dozens of inherited controls that I need to design that inherit from Control rather than UserControl, Microsoft themselves do it with System.Windows.Forms.Label. Infragistics are another 3rd party control designer who do the same.
It's not real

[2022-02-11 08:44] giduac opened #6680 "DataGridView: FirstDisplayedScrollingRowIndex property does not bring the last row into view with larger font sizes"
* .NET Core Version:
N/A

* Have you experienced this same bug with .NET Framework?:
 Yes: Reproduced on 4.8 & 5.0
Platform: Win: 7SP1 / 8.1 / 10 / 11

**Problem description:**
`DataGridView.FirstDisplayedScrollingRowIndex = DataGridView.Rows.Count - 1`
When the grid font size is made larger (usually starts around 13 points) the above call will not advance the grid fully to the end.

**Expected be

[2022-02-11 12:57] AmalRajUmapathySelvam opened #6681 "Size of the control placed in toolstripcontainer is wrong in extended monitor when changing padding of toolstrip"
* .NET Core Version:
Not tested.

* Have you experienced this same bug with .NET Framework?:
Yes. 4.6.1

**Problem description:**

We have created an application with add-in express and extends the application to the external monitor with below mentioned screen resolution specifications.

Primary Monitor:
DPI - 150
Screen resolution - 1920*1080

Secondary Monitor: (4K)
DPI - 100
Screen resolution

[2022-02-13 19:27] jbhensley opened #6689 "ComboBox internal state not consistent when inserting at SelectedIndex and IsHandleCreated == false"
* .NET Core Version: 6.0.101

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

Add items to the `ComboBox` and select one:

[code]

Now insert at the selected index: `comboBox1.Items.Insert(1, "Test");`

If the handle has been created:

- Item will be inserted into collection
- `SelectedIndex` will increment
- `SelectedItem` and `Text` remain consistent

If

[2022-02-14 10:53] vladimir-krestov opened #6690 "List of tests with [Skip] attribute"
This is a global issue for tracking flaky tests for different controls, that need to be skipped.

* .NET Core Version: 7.0

**Problem description:**
Some tests fail sometimes and block successful fixes deployment:
- [x] #6597
- [ ] #6609
- [ ] #6610
- [ ] #6635
- [ ] #6654
- [ ] #6714
- [ ] #6729
- [ ] #7297
- [ ] #7407

**Expected behavior:**
- All successful PRs pass CI build correctly

[2022-02-14 11:00] vladimir-krestov commented on #6690
FYI: @dreddy-work, @RussKie

[2022-02-14 20:15] dreddy-work commented on #6653
buildId=1611672

[2022-02-14 23:49] RussKie commented on #6596
Hi folks, if you haven't had a chance to take the survey it'd be really appreciated if you could spare few minutes for it. Thank you.

@weltkante @gpetrou  @kirsan31 @kant2002  @jbhensley @willibrandon @roland5572 @rickbrew @noseratio @paul1956 @alanhoman @Balkoth @filipnavara @tbambuch @2mik @AraHaan @eriawan

[2022-02-15 00:54] alanhoman commented on #6259
Hi @dreddy-work, has any progress been made on this issue?

[2022-02-15 01:20] dreddy-work commented on #6259
@alanhoman, unfortunately not. I have not got a chance to look deeper here.

[2022-02-15 05:43] AraHaan commented on #6596
I submitted. Overall I find that it's ok, however it is somewhat a pain to package locally built changes into installers without any manual changes to the files from dotnet/windowsdesktop as well.

If only there was a better way to include them (even if it means having the wpf and winforms repos as submodules of that repo so we can more easily package our local changes in the installers without to

[2022-02-15 05:50] RussKie commented on #6596
Thank you.

If you start a [new discussion](https://github.com/dotnet/winforms/discussions/new) outlining what you're trying to do I'll try to help you.

[2022-02-15 06:01] willibrandon commented on #6596
I really like this repo. It is by far the most interesting thing on the internet. It’s like I’ve died and gone to programming heaven. Thank you very much.

[2022-02-15 06:04] SimonCropp opened #6693 "Did the System.Windows.Forms assembly version intentionally change in 6.0.2?"
i updated my CI server to sdk 6.0.102 not when i try to run the output i get

[code]

[2022-02-15 06:18] SimonCropp commented on #6693
when i moved back to sdk 6.0.101 i get as a ref

[code]

[2022-02-15 06:25] RussKie commented on #6693
Duplicate of #6663.

[2022-02-15 06:26] RussKie commented on #6693
Please refer to https://github.com/dotnet/core/issues/7176 for the workaround.

[2022-02-15 06:26] #6693 closed

[2022-02-15 06:32] SimonCropp commented on #6693
@RussKie thanks. so when this is fixed, my app build against the latest 6.0.* sdk will be able to run on a machine with only 6.0.0 installed?

[2022-02-15 06:33] SimonCropp commented on #6663
so when this is fixed, my app build against the latest 6.0.* sdk will be able to run on a machine with only 6.0.0 installed?

[2022-02-15 06:38] RussKie commented on #6663
Any apps built on 6.0.n will work on the latest 6.0.m. However apps built on 6.0.2+ won't work on 6.0.0 or 6.0.1.

[2022-02-15 06:51] RussKie commented on #6663
https://github.com/dotnet/wpf/pull/6101#issuecomment-1039089267 contains some useful info.

[2022-02-15 06:55] Balkoth commented on #6596
The real problem that i have with this repo is how complex it is to set it up. If you don't want to f... up your production development system, you have to use a VM for it. And then there are the docs, which are sometimes outdated. If it weren't for @RussKie i would have had no chance.

[2022-02-15 06:56] SimonCropp commented on #6663
so if i interpret that correctly, if anyone wanst to leverage some new features/fixes of an sdk, it has to be considered a breaking change for the deployed app?

[2022-02-15 06:59] kirsan31 commented on #6596
Really? Imho comparing to some linux based build repos this one is very easy to setup :man_shrugging:

[2022-02-15 07:18] RussKie commented on #6596
We're miles ahead from where we were two year ago in terms of repo setup. Yes, it's still impossible to just clone and double click the sln file, but it should be pretty seamless. Please open a new discussion with your pain points and we'll see how we help you.

[2022-02-15 07:40] kant2002 commented on #6596
I miss that survey, because my primary repo was `dotnet\runtime` and after finishing survey for first repo, family capture me. This is so far, best repo for dogdooging across dotnet family.
Positive things:
- Easy to setup (5 points)
- Easy to use after build (5 points)
- Friendly team and community (5 points)
- NativeAOT and innovation firends (5 points). That's my personal lovely points.

Smalli

[2022-02-15 10:45] eriawan commented on #6596
Done. Thanks for this survey! 👍

[2022-02-15 13:03] jbhensley commented on #6596
I have been working issues in the repo as a means of personal development. Overall, I have found the code easy to build and debug. The maintainers are friendly, responsive, and seem to have the best interest of the WinForms community at large in mind.

[2022-02-15 17:41] danmoseley commented on #6596
If anyone completed the survey for another repo, then now want to do it for Winforms, you'll see it won't let you in. This link would allow you to jump to another instance - it won't wipe your answers to the link above.
https://www.surveymonkey.com/r/8TWNFZL?Source=winforms
We'll just aggregate all.

[2022-02-15 18:17] #6590 closed

[2022-02-15 18:31] kant2002 commented on #6596
and obviously `dotnet/wpf`.

[2022-02-15 19:24] merriemcgaw commented on #6359
I'm going to agree. The UIA Hierarchy should show the control as a whole, and beneath that it should show each sub-control. If so, we can close this issue as by design.

[2022-02-15 22:54] RussKie commented on #6663
Yes, in some scenarios it will be a breaking change.

[2022-02-15 23:04] RussKie commented on #6596
Could you please elaborate?

I'm not exactly sure what you mean. We run all our tests (unit/rendering/integration/accessibility) in CI. More tests are always welcome :)

[2022-02-16 01:15] SimonCropp commented on #6663
in some scenarios? in what scenarios would it not be considered a breaking change?

[2022-02-16 01:18] RussKie commented on #6663
When an app built against 6.0.2+ not run on 6.0.0 or 6.0.1.

[2022-02-16 01:21] SimonCropp commented on #6663
i am talking from the perspective of the app producer. it would seem any time they update their sdk, they also need to force all consumers to update their runtime, hence always breaking

[2022-02-16 01:38] RussKie commented on #6663
The end users need to be on at least 6.0.2, after that it should BAU. That is, if an app producer builds against 6.0.2 or 6.0.6 should, the app would run on any runtime starting from 6.0.2.

[2022-02-16 01:57] RussKie commented on #6680
Since this is a long standing issue this won't have a high priority for the team. I'm setting this is as up for grabs, and you're welcome to propose a fix.

[2022-02-16 02:18] SimonCropp commented on #6663
ok cool. that was my hope.

[2022-02-16 07:40] DavidWiseman commented on #6663
If I run my .NET 6 app on a machine without .NET 6 installed, I'm prompted to install it which is great.  If I later compile with 6.0.2 which happens automatically just by upgrading VS.  Then the app fails silently.  I have to check the event viewer for an error message - do some googling and try to figure out what the problem is.

If a newer runtime is required I don't think it would be as big pr

[2022-02-16 08:31] VinoWang01 opened #6699 "The ListView's GroupCollapsedStateChanged events no longer fire even if the CollapsedState is actually changed"
.NET Core Version:

- .NET Core SDK: 7.0.100-PREVIEW.2.22115.2

Have you experienced this same bug with .NET Framework?:

- No. `ListViewGroup.CollapsedState` was implemented in .NET Core 5.0 (https://github.com/dotnet/winforms/pull/3155) and from (https://github.com/dotnet/winforms/issues/5960)

**Problem description:**
The `expand/collapse` state is changed correctly, but the `GroupCollapsedStat

[2022-02-16 09:34] Junjun-zhao opened #6700 "[dotnet-sdk-7.0.100-preview.2.22114.1] DbTool get exception after launch and app crashs"
**Application Name**: DbTool
**OS**: Windows 10 RS5
**CPU**: X64
**.NET Build Number**: dotnet-sdk-7.0.100-preview.2.22114.1

**Verify Scenarios:**
1). Windows10 RS5 x64+dotnet-sdk-7.0.100-preview.2.22114.1: Fail
2). Windows10 RS5 x64+dotnet-sdk-7.0.100-preview.1.22110.4: Pass
3). Windows10 RS5 x64+dotnet-sdk-5.0.405-win-x64 (Default SDK): Pass

**Github link for source code:**
https://github.com/

[2022-02-16 13:25] RussKie commented on #6700
@kant2002 I think this relates to your changes.

[2022-02-16 14:36] kant2002 commented on #6700
My preliminary assumption that this was before https://github.com/dotnet/winforms/pull/6608 lands the main. Double checking that.

[2022-02-16 15:05] kant2002 commented on #6700
That was it. @Junjun-zhao you can wait until that was fixed in later releases, or you can install Preview 1 from [dotnet/installer](https://github.com/dotnet/installer) repo, which does not have this issue.

[2022-02-16 17:45] dreddy-work commented on #6259
I assume your .NETFRAMEWORK version app was running either in SystemAware mode or Unaware mode and you do not see this issue there. Migrating with same Dpiawareness mode should not block migration.  Am I missing something here?

Thank you for offering help @alanhoman .  There are some less severity and limited scope but HDPI related bugs that I can share with you to try out HDPI space in winforms.

[2022-02-16 19:07] alanhoman commented on #6259
We are using PerMonitor V1 (via app.manifest, <dpiAware xmlns="http://schemas.microsoft.com/SMI/2005/WindowsSettings">True/PM</dpiAware>).  We then have a base form that detects DPI changes and applies the new font size to every form effectively scaling everything properly.  This has worked well but does not work with PerMonitor V2.  For V2 (on .NET 6), we have to rely on Winforms to handle all of

[2022-02-16 21:26] dreddy-work commented on #6259
@alanhoman ,  I spent sometime and this issue is in combination with `Docking `and `AutoscaleMode` set at `Font`. Is it bad enough if you change `AutoscaleMode` to `DPI`? There might be still rounding issues, but I expect it to be 1-2 pixel. Can you try that on your sample app and let me know?

[2022-02-17 02:40] VinoWang01 opened #6702 "[Win11][.NETCore3.1]The project stops working when running Narrator and clicking the dropdown button several times on the propertyGrid control in runtime"
**.NET Core Version:**

- .NET Core 3.1.22

**Have you experienced this same bug with .NET Framework?:**

- No

**Problem description:**
The application has stopped working when running Narrator and clicking the dropdown button several times on the propertyGrid control in runtime.
![3 1_Win11_PropertyGrid_Crash](https://user-images.githubusercontent.com/90816462/154393478-2894e47f-9b8f-4924-92aa-9

[2022-02-17 03:39] RussKie commented on #6702
@VinoWang01 is this a customer reported issue, or just found during exploration testing? Did it work in any of the previous 3.1 releases?

[2022-02-17 03:52] RussKie commented on #6700
I can see that #6608 has flown through to the SDK repo, but it's blocked at the installer - https://github.com/dotnet/installer/pull/13192.
/cc: @dotnet/dnceng

There's nothing we can do here, so closing.

[2022-02-17 03:52] #6700 closed

[2022-02-17 04:10] kant2002 commented on #6700
@RussKie how can I follow the same path? Maybe is there a set of magic commands which make process easier then manually inspect repo?

[2022-02-17 05:53] VinoWang01 commented on #6702
@RussKie, this issue is found duing exploration testing against private testing that request from Tanya in Teams Test Requests channel. And Tanya let us to open this issue and maybe will servicing it.

[2022-02-17 06:32] greengumby opened #6703 "winforms .net 6.0.2 SetHighDpiMode"
.net 6.0.2 desktop sdk

I am trying to understand how the following line impacts the scaling of controls.

Application.SetHighDpiMode(HighDpiMode.SystemAware);

Specifically a statusStrip with an embedded progress bar. (Splash Screen)

If I run the application without the SetHighDpiMode the progress bar is the correct height however with the SetHighDpiMode enabled the height seems to be around 300

[2022-02-17 06:54] Amy-Li03 opened #6704 "Exception when clicking on the value of PropertyGrid's property under JAWS tool"
* .NET Core Version:
.NET SDK 7.0.100-preview.2.22103

* Have you experienced this same bug with .NET Framework?:
No

* More info:
1. This issue reproduces on .NET 5.0 & .NET 6.0 & .NET 7.0
2. This issue doesn't repro on .NET Core 3.1
3. VS with other tool(e.g. Narrator) doesn't repro this issue

**Steps to reproduce:**
[TestApp.zip](https://github.com/dotnet/winforms/files/8086107/TestApp.zip)

1

[2022-02-17 07:01] #6492 closed

[2022-02-17 09:52] smohanty05 commented on #6420
I have a solution file with 100+ projects. It is taking 1-5 to 2 minutes load a designer for a project. Other WinForm of the same project then loads quickly. But if we restart VS or reload project or make any changes to the project, then next WinForm load again taking 1-5 to 2 minutes.
Also I saw one case where it is not loading at all. Open one WinForm of Project1. While waiting, load another Win

[2022-02-17 09:58] smohanty05 opened #6705 "WinForms Designer not loading"
* .NET Core Version:

6.0
* Have you experienced this same bug with .NET Framework?:

No
**Problem description:**

I have a solution file with 100+ projects. It is taking 1-5 to 2 minutes load a designer for a project. Other WinForm of the same project then loads quickly. But if we restart VS or reload project or make any changes to the project, then next WinForm load again taking 1-5 to 2 minutes

[2022-02-17 11:08] lpatalas commented on #6700
@jakubstilec / @mmitche Is there anything we can do about it?

[2022-02-17 14:04] ThomasLee-Factbook opened #6707 "NullReferenceException in CheckListBox"
* .NET Core Version: 6.0.102
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
A NullReferenceException occurs in the CheckedListBox RefreshItems method when using a data source, see project [Example.zip](https://github.com/dotnet/winforms/files/8089130/Example.zip) .

**Expected behavior:**
No exception is thrown.

[2022-02-17 14:23] pmeems commented on #4272
I'm on VS2022 v17.1.0 using .NET6 and I have still the same issue.
I can't use my own ActiveX control in the designer. Adding it by code, compiling and running works fine.
We are planning to upgrade our existing .NET Framework application to .NET6 but without the Form Designer this is not doable.

@rlktradewright you mentioned you created feedback. Can you provide the link so I can vote for it?
It

[2022-02-17 15:51] jbhensley opened #6708 "ListView.GroupCollapsedStateChanged fires with incorrect GroupIndex/doesn't fire at all"
.NET Core Version:

* .NET Core SDK: 7.0.0-preview.2.22116.9

Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

When a key is pressed, `ListView` determines which group is affected by grabbing the `Group` property of the first selected item:

https://github.com/dotnet/winforms/blob/150aabc4cf47c303f980fbc6313c329e6da8583c/src/System.Windows.Forms/src/System/Win

[2022-02-17 18:01] rlktradewright commented on #4272
@pmeems  try this: https://developercommunity.visualstudio.com/t/support-for-activex-controls-in-windows-forms-desi/1435698?from=email

I've pretty much given up hoping for this...

[2022-02-17 18:05] dreddy-work commented on #457
We have similar proposal for drag events showing underlying image here: https://github.com/dotnet/winforms/pull/6576.

[2022-02-17 23:22] dreddy-work commented on #6703
`Application.SetHighDpiMode(HighDpiMode.SystemAware);` is making application to scale to the Dpi setting of the Monitor where it is rendered. We would need a standalone app demonstrating the issue here to understand better.

[2022-02-17 23:22] merriemcgaw commented on #6702
@vladimir-krestov can you take a look at what the cause of the issue is? The big question I have is why you could repro it on .NET 5+ and @VinoWang01 could not. Also check out .NET Framework 4.8.1 and make sure we don't have this issue there.

[2022-02-17 23:34] merriemcgaw commented on #6699
@jbhensley , I see you've been playing in this space lately. Do you mind taking a look at this issue as well?

[2022-02-17 23:44] merriemcgaw commented on #6689
It would be a breaking change if we adjusted this behavior. The question we have is exactly how breaking this change is going to be. This seems to be another one of those cases where we probably ought to document this issue and a workaround would be to create the handle before trying to add something in the list.

[2022-02-17 23:45] RussKie commented on #6689
I suggest updating the docs https://github.com/dotnet/dotnet-api-docs/blob/main/xml/System.Windows.Forms/ComboBox.xml

[2022-02-17 23:50] #6670 closed, assigned to nobody

[2022-02-17 23:54] merriemcgaw commented on #6666
@ak98 can you talk about the use case here? There might be alternatives that we can point you to.

[2022-02-17 23:57] merriemcgaw commented on #6657
How about adjusting the fill color to meet the contrast ratio?

[2022-02-18 00:01] merriemcgaw commented on #6652
@Olina-Zhang  what do you see in AI4Win? I think we should switch to that tool because that's what we have to be correct in.

[2022-02-18 01:24] Olina-Zhang commented on #6652
@merriemcgaw  The result in Accessibility Insight is same as in Inspect:
![image](https://user-images.githubusercontent.com/26474449/154599665-e348827e-90bf-434c-8957-4da6cd6a2fce.png)

[2022-02-18 01:35] RussKie commented on #6705
The log shows that it's taking nearly 3 minutes to launch the designer server process (from 02:**56:26**.4448613 to 02:**59:20**.7668637), most of which appears related to the copying of the necessary artifacts. Some users reported that adding exclusions for the DesignToolsServer to their AV services has resulted in measurable increase of the designer launch, e.g., https://github.com/dotnet/winfor

[2022-02-18 02:58] RussKie commented on #3307
Closing due to age.
The designer in VS 2022 is significantly more robust and stable. If you still experiences issues with the designer in VS 2022 please raise those via a VS Feedback.

[2022-02-18 02:58] #3307 closed

[2022-02-18 02:59] RussKie commented on #3142
@Vino-Wang is this sill an issue?

[2022-02-18 03:04] RussKie commented on #3652
Thank you for the suggestion. We create a tracking issue in the designer repo, and it has sparked several team conversations, and we generally recognise the importance of this proposal.
Unfortunately the proposal is not immediately actionable, and there are no ETA of when this feature may land.

[2022-02-18 03:04] #3652 closed

[2022-02-18 05:50] vladimir-krestov opened #6713 "List of tests to add a [Skip] attribute to"
This Issue is a storage of all new flaky tests that should be skipped.

* .NET Core Version: 7.0

**Problem description:**
- Some tests fail sometimes and block successful fixes deployment. We have to skip them now, to fix them later, but unblock CI build errors for successful PRs. The global Issue for fixing these tests: #6690.

**Proposed changes:**
- Skip some test cases.
- Put skipped tests to

[2022-02-18 05:51] vladimir-krestov commented on #6713
@dreddy-work, @Tanya-Solyanik - please put new flaky tests here to skip them later.

[2022-02-18 06:05] vladimir-krestov opened #6714 "Re-enable skipped test: Button_AchorNone_NoResizeOnWindowSizeTallerAsync"
* Global Issue: #6690

* .NET Core Version: 7.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- Button_AchorNone_NoResizeOnWindowSizeTallerAsync unit test fails sometime in x86 Release CI build for successful PRs, that blocking deployment of fixes into sdk.

**Stack trace** ([System.Windows.Forms.UI.IntegrationTests_net7.0_x86.log](https://dev.azure.com/d

[2022-02-18 08:36] vsfeedback opened #6715 "initialize of the Settings, does not work"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/initialize-of-the-Settings-does-not-wor/1587266)._

---
[severity:I'm unable to use this version] [regression] [worked-in:16.10]
System.Configuration.ConfigurationErrorsException
  HResult=0x80131902
  Message=Configuration system failed to initialize
  Source=System.Configuration.Config

[2022-02-18 08:58] WolfgangHG commented on #3937
Works fine with .NET 6, so I consider this "fixed".

[2022-02-18 10:43] WolfgangHG opened #6717 "[PerMonitorV2] Anchoring controls to Bottom/Right does not work property"
See attached .NET 6 sample: when moving the form from a screen at 100% to a screen at 125%, the controls anchored right/bottom are not rendered correct.
[DpiSample.zip](https://github.com/dotnet/winforms/files/8096436/DpiSample.zip)

This is at 100%:
![100](https://user-images.githubusercontent.com/138049/154667297-cd33fac0-7444-429a-b4a6-4a0dd740b595.png)

This is the result when moving the form

[2022-02-18 15:27] dax-leo commented on #6459
WinForms is still used a lot across many large companies. I work for one such company (Ericsson) and we use WinForms for all small-medium size tools (next to C++/QT).
It's the most productive framework that came out of .NET. I've been using .NET since 2002 and God knows how many times I had to create quick application in WinForms (nothing against WPF), but WinForms always felt more friendly to me.

[2022-02-18 16:49] AraHaan commented on #6459
I been considering making an DirectX experimental GUI framework, and if it's a success may consider porting it to the winforms codebase.

[2022-02-18 17:02] kirsan31 commented on #6717
Yea there are [problems](https://github.com/dotnet/winforms/issues?q=is%3Aissue+is%3Aopen+Anchor) with Bottom/Right anchoring + HDPI in WinForms :(

[2022-02-18 18:36] #6666 closed

[2022-02-18 21:35] alanhoman commented on #6259
I tried setting the AutoscaleMode to DPI, but this has more issues than Font.

[2022-02-18 21:38] dreddy-work commented on #6259
I am actively investigating it. Hopefully get the fix out soon. I was playing with sample app and it was not changing the tab control size drastically so wanted to check on your application. Will update you.

[2022-02-18 23:11] dreddy-work commented on #6713
Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1621721&view=ms.vss-test-web.build-test-results-tab&runId=45079044&resultId=115978&paneView=debug

![image](https://user-images.githubusercontent.com/36968667/154773137-b02611e1-e270-4267-a8fd-f5b4f09634bf.png)

[2022-02-19 19:28] nathan130200 commented on #6420
Ok, so i got new error (updated to latest preview version from VS2022)

[code]

[2022-02-19 19:30] nathan130200 opened #6722 "Designer load encountered an error. Please ensure that the project can be built successfully."
Again another problem with designtoolsserver (from #6420)

Ok, so i got new error (updated to latest preview version from VS2022)

[code]

Updated to latest visual studio 2022 preview. Using .net6.0

And in designer display this:

![image](https://user-images.githubusercontent.com/14365254/154816146-356d4f12-6653-47d1-a655-e97d2ca6de79.png)

And again i just created empty winforms project, and pro

[2022-02-19 20:18] KlausLoeffelmann commented on #6715
This doesn't have to do with reading the settings, but rather that we have a problem in VB to deal with `system.diagnostics` while reading the _app.config_ at runtime.

The workaround here would be - if it's not needed - to exclude the section system.diagnostics from the app.config.
The exception should then go away at runtime.

BTW: This repos also in .NET 6 on my machine, it is not a regression.

[2022-02-19 21:18] RussKie commented on #6715
https://github.com/dotnet/project-system/issues/6784#issuecomment-903071164

[2022-02-19 21:21] RussKie commented on #6722
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2022-02-19 21:21] #6722 closed

[2022-02-19 22:14] nathan130200 commented on #6722
Oh thanks!

[2022-02-20 08:50] roland5572 opened #6724 "ToolStripComboBox causes MenuStrip to not display properly"
C# Code: .Net 6.0 with Visual studio 2022

[code]

Test Result:

Video 1:
1. Open the menu.
2. Click the combobox menu item.
3. move your mouse to other menu items.
4. Then you will find that the **Menu Hover** effect disappears completely, and when the mouse moves over other items, the menu items will no longer display the blue background and it cannot automatically expand its submenus unless you

[2022-02-20 11:33] WolfgangHG commented on #6717
I do not see my exact issue in this list - most issues deal with sub controls, while in my sample all controls are placed directly on the form. Other issues I found use other high dpi modes than `Application.SetHighDpiMode(HighDpiMode.PerMonitorV2);`
So I am not sure whether there is a duplicate.

[2022-02-20 12:12] RussKie commented on #6724
Did it work in .NET Framework?
________________________________
From: roland5572 ***@***.***>
Sent: Sunday, 20 February 2022 7:50 PM
To: dotnet/winforms ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [dotnet/winforms] ToolStripComboBox causes MenuStrip to not display properly (Issue #6724)

C# Code: .Net 6.0 with Visual studio 2022

using System;
using System.Drawing;
using System.Windows.Forms

[2022-02-20 12:26] roland5572 commented on #6724
Yes, the same problem in .net framework 4.8.

[2022-02-20 19:12] willibrandon commented on #5884
I've started a draft PR in #6576 to show how I would propose adding support for drop targets to display drag images and set drop descriptions. So far I've only added support for `DropTarget` and further work needs to be done in order to add in the support for `RichTextBox` and `ToolStripDropTargetManager`.

Note that my implementation omits the ability for the application to set the drag image fro

[2022-02-20 19:20] vladimir-krestov opened #6729 "`Clipboard_SetDataObject_InvokeObjectBoolNotIComDataObject_GetReturnsExpected` is flaky in CI build"
* .NET Core Version: 7.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- Test fails sometimes in CI build for successful PRs, that blocking deployment of fixes into sdk:
`Clipboard_SetDataObject_InvokeObjectBoolNotIComDataObject_GetReturnsExpected`:
Stack trace ([comment](https://github.com/dotnet/winforms/pull/6600#issuecomment-1042437384)):
[code]

**Ex

[2022-02-20 19:31] vladimir-krestov opened #6730 "`Control_SelectNextControl_ToolStrips_CycleForwardExpected` is flaky in CI build"
* .NET Core Version: 7.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- Test fails sometimes in CI build for successful PRs, that blocking deployment of fixes into sdk:
Control_SelectNextControl_ToolStrips_CycleForwardExpected:
Stack trace ([CI build 1620740](https://dev.azure.com/dnceng/public/_build/results?buildId=1620740&view=ms.vss-test-web.build-te

[2022-02-20 19:54] vladimir-krestov commented on #6713
@dreddy-work,
1) I have fixed DateTimePicker in #6731.
2) I couldn't fix the Control-ToolStrip test, because the bug doesn't reproduce to me, and investigation of code didn't show anything helpful.

[2022-02-21 00:04] RussKie commented on #5884
I had a look at https://github.com/dotnet/winforms/pull/6576, and to proceed

👍

That, and we'll need a formal API proposal, which we'll take to the API Review Board. A draft PR (and any relevant screenshots/animations) makes it significantly easier to pass the ARB review.
Here's [our guide](https://github.com/dotnet/winforms/blob/main/docs/issue-guide.md#feature-and-api-suggestions) for submittin

[2022-02-21 00:10] RussKie commented on #6717
Is this PMv2 specific, or this is happening in SystemAware too?

[2022-02-21 01:45] RussKie commented on #6700
@kant2002 not easily, many dashboards, feeds and tools are internal only.
In general the flow is, dotnet/winforms > dotnet/wpf > dotnet/windowsdesktop > dotnet/sdk > dotnet/installer. So to see that a particular commit has flown, one needs to walk down the stream and check each repo's "_[main] Update dependencies from dotnet/XYZ_" PRs.

[2022-02-21 02:45] #6705 closed

[2022-02-21 02:46] RussKie commented on #4239
The OOP designer still lacks the support for components design, the issue is tracked under https://github.com/dotnet/winforms-designer/issues/4126 (Microsoft internal).
For a possible workaround please refer to https://github.com/dotnet/winforms/blob/main/docs/designer/net-inproc-designer.md.

[2022-02-21 02:46] #4239 closed

[2022-02-21 02:48] RussKie commented on #5444
The OOP designer still lacks the support for components design, the issue is tracked under https://github.com/dotnet/winforms-designer/issues/4126 (Microsoft internal).
For a possible workaround please refer to https://github.com/dotnet/winforms/blob/main/docs/designer/net-inproc-designer.md.

If you have any questions please use https://github.com/dotnet/winforms/discussions.

Thank you.

[2022-02-21 02:48] #5444 closed

[2022-02-21 02:51] RussKie commented on #4451
Closing as there is nothing actionable here.

[2022-02-21 02:51] #4451 closed

[2022-02-21 02:58] RussKie commented on #3316
@cadilhac it's been a while since you're reported the issue. I'd like to check if it still repos in the latest VS 2022? I.e., `"Unable to find method 'SendRequestAsync/2' on {no object} for the following reasons: An argument was not supplied for a required parameter`.

If it still repos - can we get a repro sample? If the issue is gone - can we close this?

[2022-02-21 03:02] RussKie commented on #4333
This doesn't appear to be an issue in VS 2022.

[2022-02-21 03:02] #4333 closed

[2022-02-21 03:04] RussKie commented on #4295
Fixed in 16.10

[2022-02-21 03:04] #4295 closed

[2022-02-21 03:05] RussKie commented on #3402
@Olina-Zhang can you please check if this still repros? If not - please close.

[2022-02-21 03:06] RussKie commented on #3342
@Vino-Wang can you please if this still repros? If not - please close.

[2022-02-21 03:08] RussKie commented on #3345
Closing due to the age and the lack of interest from other members of the community.

[2022-02-21 03:08] #3345 closed

[2022-02-21 03:10] RussKie commented on #4336
@Zheng-Li01 can you please if this still repros? If not - please close.

[2022-02-21 03:13] RussKie commented on #4362
Please refer to our latest blog discussing the databinding in the OOP designer: https://devblogs.microsoft.com/dotnet/databinding-with-the-oop-windows-forms-designer/.

If you still have specific issues, please open a new issue with a clear description of what is not working and provide screenshots/animations to help triaging the issue.

[2022-02-21 03:13] #4362 closed

[2022-02-21 03:14] RussKie commented on #4433
@PavelAgurov is this still an issue in the latest VS 2022?

[2022-02-21 03:15] RussKie commented on #3303
@therawk is this still an issue in the latest VS 2022?

[2022-02-21 03:20] RussKie commented on #4463
Closing due to age. We can reopen it if/when we receive customer feedback.

[2022-02-21 03:48] RussKie commented on #4461
Similar to https://github.com/dotnet/winforms/issues/4463#issuecomment-768831519.

Closing due to age. We can reopen it if/when we receive customer feedback.

[2022-02-21 03:49] RussKie commented on #4462
Similar to https://github.com/dotnet/winforms/issues/4463#issuecomment-768831519.

Closing due to age. We can reopen it if/when we receive customer feedback.

[2022-02-21 03:49] #4462 closed

[2022-02-21 04:00] RussKie commented on #4803
I acknowledge that the issue is known to the team, and it is on our backlog. I am afraid there is nothing else I can add to this.
Closing due to age.

[2022-02-21 04:00] #4803 closed

[2022-02-21 05:47] Olina-Zhang commented on #3402
Verified in Visual Studio 2022, all related issues are fixed. Closing this issue now.

[2022-02-21 05:47] #3402 closed

[2022-02-21 06:01] RussKie commented on #3329
I acknowledge that the issue is known to the team, and it is on our backlog (https://github.com/dotnet/winforms-designer/issues/3142). I am afraid there is nothing else I can add to this at this point.

As a _possible_ workaround you can add pragmas, to make the base form concrete during the development:
[code]

Closing due to age.

[2022-02-21 06:01] #3329 closed

[2022-02-21 06:10] RussKie commented on #6715
Duplicate of https://github.com/dotnet/project-system/issues/6784

[2022-02-21 06:10] #6715 closed

[2022-02-21 06:12] nawfalhasan commented on #3329
https://github.com/dotnet/winforms-designer/issues/3142 can't be opened. I get a 404.

![image](https://user-images.githubusercontent.com/2478860/154899015-a80a5afc-58e9-4a61-904f-ca93e672a0c0.png)

[2022-02-21 06:12] #4508 closed

[2022-02-21 07:16] WolfgangHG commented on #6717
With "SystemAware", it works.
With "PerMonitor", there are the same problems as with "PerMonitorV2".

But I don't know how reliable my tests are. Last friday, when creating the issue, I was in the office. But today, I am at home and can test it only in a remote desktop session.

[2022-02-21 07:35] weltkante commented on #3329
The winforms designer is not a public repo, the team probably linked it for internal usage.

[2022-02-21 08:06] kirsan31 commented on #4461
@RussKie

You [have it](https://developercommunity.visualstudio.com/t/WinForms-DataGridView-styles-designer/1143911) for a long time already.

I was hoping that when you deal with this issue, I will be able to raise [that](https://developercommunity.visualstudio.com/t/WinForms-DataGridView-styles-designer/1143911) too. Instead, you closed this one :)

Current issue is more fatal then my previous.

[2022-02-21 08:10] Olina-Zhang opened #6732 "[Accessibility] Narrator cannot announce the expand/collapse state for treeView with checkbox enabled when expand/collapse any treeNode"
* .NET Core Version:
7.0.100-preview.2.22116.19

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Create a Winforms .Net Core application with treeView control added
2. In treeView, add several root treeNodes and child treeNodes

Or use following attached application:
[WinFormsApp4.zip](https://github.com/dotnet/winforms/files/8107369/WinFormsApp4.zip)

3. Buil

[2022-02-21 08:54] Junjun-zhao commented on #6700
Verified with 7.0.100-preview.3.22118.7, this issue has been fixed. Thanks

[2022-02-21 10:29] IrinaPykhova opened #6733 "Native support for UIA patterns"
a lot of people are trying to automate UI testing. So, we often get requests about automation support from our customers. Currently, in WinForms it is very tricky to support and we haven't found any good documentation about that.

As a third-party vendor, we'd like WinForms to have some level of native support for UI Automation, similar to WPF implementation: https://docs.microsoft.com/en-us/dotne

[2022-02-21 12:56] SergeySmirnov-Akvelon commented on #6570
In both cases, the UIA tree is displayed in the same way:
**.NET Framework 4.7.2:**
![image](https://user-images.githubusercontent.com/23376742/154959386-8adf741a-de82-423c-a84d-afce158c5885.png)

**.NET Core 6.0:**
![image](https://user-images.githubusercontent.com/23376742/154959470-7ecb14dd-b082-4a5a-ab00-9a372682c821.png)

[2022-02-21 15:03] T-rvw commented on #329
But still not fixed? It spent me 5 hours addressing the same issue.

[2022-02-21 16:31] cadilhac commented on #3316
The original issue is definitely fixed.

[2022-02-21 16:31] #3316 closed

[2022-02-21 22:01] RussKie commented on #329
You're welcome to send a PR fix.

[2022-02-21 22:27] RussKie commented on #4790
Custom CodeDOM serializers no longer work the same way in the .NET designer, which is run out-of-proc, as they used to in the .NET Framework designer (which is in-proc). You can get more context about inproc/out-of-proc in this blog post: https://devblogs.microsoft.com/dotnet/state-of-the-windows-forms-designer-for-net-applications/.

Custom CodeDOM serializers will need to specially authored and

[2022-02-21 22:27] #4790 closed

[2022-02-22 00:18] RussKie commented on #4461
Thank you for linking the bug.

[2022-02-22 00:19] RussKie commented on #4461
@merriemcgaw can you please help prioritising this?

[2022-02-22 02:47] mxashlynn commented on #4239
Are you able to share why this issue is now being tracked such that end users are unable to see it's status?

[2022-02-22 11:25] r-aghaei commented on #4941
Meanwhile, for those who are looking for a workaround: [Databinding (property binding) to ApplicationSettings - Workaround](https://stackoverflow.com/a/70553881/3110834)

[2022-02-22 16:29] IrinaPykhova commented on #1834
@dreddy-work  do you have any information for us, is that a real plan for .Net 7 or still tentative?
We'd like to see some improvements in that direction: https://github.com/dotnet/winforms/discussions/6736

[2022-02-22 18:48] merriemcgaw commented on #1834
Thanks for popping this back on my radar @IrinaPykhova I will be sure to chat with @Tanya-Solyanik and the rest of the accessibility folks and do a deeper assessment. I really would like to get this in for .NET 7, but I can't offer a set in stone promise. I'll do my best though 😄

[2022-02-22 19:41] #6556 closed

[2022-02-22 19:41] #6560 closed

[2022-02-22 19:45] PavelAgurov commented on #4433
I didn't use 2022 yet

[2022-02-22 20:22] Tanya-Solyanik commented on #6656
@MelonWang1  - does the same issue reproduce in JAWS and NVDA?

[2022-02-22 21:59] merriemcgaw commented on #4433
I am not seeing this behavior in the latest updates to VS 2019. @PavelAgurov could you try updating your 2019 install to the latest update? Also, most improvements for the .NET Out of Process Designer, will be done in VS 2022, so upgrading will get you the best performance and feature support.

[2022-02-22 22:09] #6359 closed

[2022-02-22 22:28] #6317 closed

[2022-02-22 23:17] runfoapp[bot] opened #6739 "Flaky test DataGridView_RowHeadersWidth_SetWithHandle_GetReturnsExpected"
Runfo Tracking Issue: [setwithhandle_getreturnsexpected flaky failure in rolling](https://runfo.azurewebsites.net/tracking/issue/295)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[134217](https://dev.azure.com/dnceng-public/public/_build/results?buildId=134217)|[dotnet-winforms CI](https://dnceng-public.visualstudio.com/public/_build?definitionId=76)|[PR 8492](https://github.com/dotnet/winf

[2022-02-22 23:50] RussKie commented on #2879
Test

[2022-02-23 02:23] MelonWang1 commented on #6656
@Tanya-Solyanik For JAWS, it is locked out, hitting known issue [6704](https://github.com/dotnet/winforms/issues/6704).
For NVDA, it reproduces the issue, see screenshot:
![nvda1](https://user-images.githubusercontent.com/94418985/155251787-6d7ac502-4126-4099-8391-8b2c0d35d74b.png)

[2022-02-23 06:24] Amy-Li03 opened #6742 "PictureBox Background Transparency over any control"
* .NET Core Version:
.NET SDK 7.0.100-preview.2.22103

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
It is from a suggestion ticket: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1469120
I have a PictureBox filled with a .png image (image with Transparent background) and I place this PictureBox over a ListBox and the result is not what I expected

[2022-02-23 07:05] willibrandon commented on #5884
@RussKie - Thank you for the feedback. I'll start working on it along with the next step and I'll also start preparing the proposal.

Is there something that I should do or test specifically in terms of accessibility? A search on accessibility with drag and drop has me wondering about screen reader users.

[2022-02-23 07:24] RussKie commented on #5884
🚀

Our go-to tool is [Accessibility Insights](https://accessibilityinsights.io/). Generally running a Fast Pass is sufficient.       More info: (https://accessibilityinsights.io/docs/en/web/getstarted/fastpass).
You're right, DnD gestures doesn't feel like something a keyboard user would perform... @merriemcgaw @Tanya-Solyanik @vladimir-krestov  what do you think?

[2022-02-23 08:04] Junjun-zhao opened #6748 "[dotnet-sdk-7.0.100-preview.3.22118.7] Greenshot and NugetPackageExplorerget apps get exception When do saving the file operation"
### Description

When running Greenshot with .NET 7.0 Preview 3 runtime, it will get exception when do saving the file operation.

### Reproduction Steps

**Repro steps for the affected app:**

**This is .Net 5.0 app, but we are running it on 7.0, machine only have 7.0 installed, and DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX=2, so it runs on 7.0.**

1.Copy App from App Path and launch Greenshot.exe.

[2022-02-23 08:26] kant2002 opened #6744 "What's purpose of SAFEARRAYTests"
Maybe I miss something obvious, but SafeArrayTests are not testing anything.
I get that maybe SafeArray handling should be in VARIANTTests but they not there too. Do I miss something?

https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms.Primitives/tests/UnitTests/Interop/Oleaut32/SAFEARRAYTests.cs

[2022-02-23 09:14] Lydia-Shi commented on #6535
Verified this issue with .NET 6.0.3 TP, this issue is fixed.

[2022-02-23 09:25] MelonWang1 commented on #6230
Verified this issue with .NET SDK 6.0.201, this issue is fixed.
![pull65](https://user-images.githubusercontent.com/94418985/155291265-773758c2-5f64-492b-af7b-3ab97a76fa01.gif)

[2022-02-23 09:30] kant2002 opened #6745 "More trimming friendly DragDrop"
Currently DragDrop process starts with `DragDropEffects DoDragDrop(object data, DragDropEffects allowedEffects)` which inside perform dispatcherization of the supported interfaces and objects. Sometimes this may means that we rely on Built-in COM support for cast of the interfaces.

Built-in COM support maybe disabled in modern .NET and do not supported in NativeAOT flavor of CoreCLR. I propose pr

[2022-02-23 12:52] jkotas commented on #6748
Regression introduced by #6685 or related change.

cc @kant2002

[2022-02-23 13:06] kant2002 commented on #6748
I will check with latest version. But flagged a question. How I can find out commit for at least dotnet/installer repo. I can go manually from there, but want make sure that I properly diagnose source of the issue.

[2022-02-23 13:29] jkotas commented on #6748
I am sure that it will repro with the latest daily build.

In case you need to download specific build of the SDK, the easiest way is to use [dotnet-install](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script) script. For example, `.\dotnet-install.ps1 -v 7.0.100-preview.3.22118.7`. You can then find commit SHA for each .dll by looking at the .dll version resource.

[2022-02-23 20:43] dreddy-work commented on #6259
@alanhoman , can you try attached PR and see if it resolved https://github.com/dotnet/winforms/issues/6265 for you?

[2022-02-23 22:00] dreddy-work commented on #6713
![image](https://user-images.githubusercontent.com/36968667/155416057-f9076fc3-b65f-49c6-8a12-e128e5026bfb.png)

https://dev.azure.com/dnceng/public/_build/results?buildId=1627981&view=ms.vss-test-web.build-test-results-tab&runId=45199142&resultId=103869&paneView=debug

[2022-02-23 22:31] alanhoman commented on #6259
Will this be part of the nightly build tonight?  I find this the easiest way to test.

[2022-02-23 22:32] RussKie commented on #6259
Not until it's merged.

[2022-02-23 22:33] dreddy-work commented on #6259
No. it will take couple of days to reach nightly build after this PR is merged. It is still in review process and i wanted to see if one of your issues is fixed by this. Especially when MDI is not maximized. I am still looking into MDI maximized scenario.

[2022-02-23 22:35] dreddy-work commented on #6259
WinForms has limited control on MDI with respect to its size and positioning when DPI changed. We are trying if there is a simple work around until we get some fix from windows. There is an internal issue raised against windows here.

[2022-02-23 22:36] RussKie commented on #6713
This looks like a red herring, in the last week it failed twice https://runfo.azurewebsites.net/search/tests/?q=started%3A~7%20definition%3A267%20name%3A%22system.windows.forms.tests.datagridviewtests.datagridview_oncolumnheadersheightchanged_invokewithhandle_callscolumnheadersheightchanged%22

[2022-02-23 22:36] alanhoman commented on #6259
I would like to test it now, but I have found setting up my environment to test a specific PR is complicated.

[2022-02-23 22:38] RussKie commented on #6259
@alanhoman have you tried this https://github.com/dotnet/winforms/blob/main/docs/debugging.md#1-copy-your-changes-into-the-sdk?

[2022-02-23 22:45] RussKie commented on #6713
@jaredpar has built a monitoring bot [Runfo](https://runfo.azurewebsites.net/). This bot tracks builds and failures, we should monitor recurring failures, e.g.: failed tests in the last 7 days https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+definition%3A267.
For tests that fail repeatedly we should create tracking issues:
![image](https://user-images.githubusercontent.com/4403806/15

[2022-02-23 22:51] #6704 closed

[2022-02-23 22:52] dreddy-work commented on #6713
Does it ignore fail after creating issue?

[2022-02-23 22:52] RussKie commented on #6704
@merriemcgaw do we need to service this?

[2022-02-23 23:01] RussKie commented on #6713
No, the bot’s purpose is to track failures, not to modify the code.
In general, I don’t think we should blindly skip every failing test, otherwise we may end up with all tests disabled.

[2022-02-23 23:04] dreddy-work commented on #6713
Definitely not all. Only the tests that we think are failing because of possible interruptions to the events on lab machine or because of round errors while comparing the numeric values etc. In either case, intention is to confirm that is the case before disabling it.

[2022-02-23 23:06] dreddy-work commented on #6253
@AmalRajUmapathySelvam , attached sample seems not a standalone and it is referencing some control library as well. can you help update test application so that we can try on our end?

[2022-02-23 23:18] dreddy-work commented on #6381
@2mik , issue is not clear to me. Looking at the source, size of the text box is serialized so in the user control. Can you create a gif with repro scenario to understand little better here?

[2022-02-24 04:31] 2mik commented on #6381
Could you suggest a free gif recording tool?

[2022-02-24 04:40] RussKie commented on #6381
https://www.screentogif.com/

[2022-02-24 06:31] 2mik commented on #6381
![Control Anchors](https://user-images.githubusercontent.com/9930867/155470477-e860d8d1-5db8-4af9-86a0-b098c0f5e00a.png)
![Control Bad](https://user-images.githubusercontent.com/9930867/155470493-736192fe-f9e9-4b27-b643-43ec846e2ba8.gif)
You can see that there are anchors on the control. But the anchors does not work on 4K with 150% scaling.

[2022-02-24 06:41] RussKie commented on #6381
This looks somewhat similar to the outstanding issue described in https://github.com/dotnet/winforms/issues/5774.

[2022-02-24 08:21] VinoWang01 commented on #6471
Verified with .NET SDK 7.0.100-preview.3.22123.5 build, this issue is fixed, Narrator read the counts of visibility columns.
![image](https://user-images.githubusercontent.com/90816462/155485643-78eeac3c-1094-43a1-a037-83705a7cbe35.png)

[2022-02-24 09:39] Ashley-Li commented on #6590
Verified with .NET SDK 7.0.100-preview.3.22123.5 build, this issue is fixed.
![image](https://user-images.githubusercontent.com/56664234/155498391-fcecd2d2-19da-4dc7-a970-59000978e720.png)

[2022-02-24 10:31] 2mik commented on #6381
The mentioned #5774 "Parent PerformLayout() sets negative child Location" is too specific and understandable only for WinForms developers/support team. May be this is the same, may be not.

[2022-02-24 22:20] merriemcgaw commented on #6704
@SergeySmirnov-Akvelon @Tanya-Solyanik did this bug get in 6.0? If so let's fix it in just 6.0, nothing lower.

[2022-02-24 23:00] RussKie commented on #6745
Can you please elaborate on how you envision this API to used? And how it will affect consumers of the existing API?

[2022-02-24 23:44] merriemcgaw commented on #6555
We'll pick up this proposal at an upcoming review meeting in the team.

[2022-02-24 23:46] merriemcgaw commented on #6541
@KlausLoeffelmann was taking a look at this today. This is definitely a problem we need to root cause and address sooner rather than later.

[2022-02-24 23:53] merriemcgaw commented on #6252
@Olina-Zhang can you guys help figure out when this regressed? Was it in 5 or 6? And if we can narrow it down further, that would be awesome but not required.

[2022-02-24 23:55] merriemcgaw commented on #6190
@hyperquantum that looks like a reasonable workaround.
@Olina-Zhang can you help us figure out where this one regressed? Was it working in 3.1?

[2022-02-25 00:00] merriemcgaw commented on #5915
@KlausLoeffelmann getting this back on your radar.

[2022-02-25 00:04] merriemcgaw commented on #4941
Thanks for the workaround @r-aghaei. We definitely have this feature on our radar for sometime in VS2022 (no firm release plans yet), so it is great to have this workaround in the interim!

[2022-02-25 00:24] merriemcgaw commented on #6724
Is there a specific use case you are trying to accomplish with this? On the surface it doesn't seem like a very common thing to need to do, so I'm curious what your use-case is.

[2022-02-25 00:27] KlausLoeffelmann commented on #5915
Follow up question:
From your demo, I can't really see for component the generated code is swallowed.
Can you provide the sample without any references to third party controls, so I can debug into the repo?

Are you using a .NET Framework control by any chance in the context of a .NET (Core) application?

[2022-02-25 00:27] merriemcgaw commented on #6646
Definitely something we want to try to measure.

[2022-02-25 00:32] merriemcgaw commented on #6364
We're unlikely to have any control over this particular scenario. These were changes directly to the Win32 API set. I'd be interested to know if this happens in an MFC app, and if so we should certainly file a feedback issue on the Windows team

[2022-02-25 00:33] merriemcgaw commented on #6364
@Olina-Zhang if your team can test the MFC scenario that would be super helpful!

[2022-02-25 00:40] rickbrew commented on #6555
Thanks @merriemcgaw ! Some of the details of this are lost to time, but happy to dive in for more analysis. The solution is also available for MSFT employees if you need to take a peek. AFAIK there could even be a way for me to accomplish what I need without these methods. (And, it's not that I need _these methods_, but I need what they provide me -- alternate API is fine of course)

[2022-02-25 01:42] kant2002 commented on #6745
This API should be used instead of similar method `DragDropEffects DoDragDrop(object data, DragDropEffects allowedEffects)` which are already exists. Currently this method can accept

1. Random .NET object
2. Inheritor of `S.W.F.IDataObject`
3. Inheritor of `S.R.I.ComTypes.IDataObject`
4. Inheritor of type which has same shape as `S.R.I.ComTypes.IDataObject` (built-in com translate that type to `S

[2022-02-25 02:21] roland5572 commented on #6724
@merriemcgaw  Consistent with the interface of Viusual Studio, you can control some parameters of the interface through these controls. Just hide them in the menu bar instead of showing them directly in the interface. **Therefore, space can be saved**. Then it looks neater. I haven't tested the **ToolStripTextBox** control, not sure if it has the same problem.

https://docs.microsoft.com/en-us/dot

[2022-02-25 03:05] RussKie commented on #6724
I don't think this is a good analogy. It is common to use TSComboBoxes in toolstrips, but it is not common to have them in the dropdown menus. If the aim is to "save space", then you should consider using sub menus, because Windows users would be significantly more familiar with UX, e.g.:
![image](https://user-images.githubusercontent.com/4403806/155645974-8452df1b-dd2f-415e-9202-3b4b465d2ebc.png)

[2022-02-25 04:24] roland5572 commented on #6724
Yes. That's also a good approach. But ComboBox provides a more **compact way**, the user doesn't need to move the mouse more times to select what it wants. If there are dozens of pieces of data, it may save time even more.

In the way of programming, it is also easier. The programmer only needs to call ToolStripComboBox.Items.AddRange to create the list, without creating all the sub menu Items.

[2022-02-25 05:42] ArtemTatarinov opened #6760 "Empty AccessKey values appeared after refactoring"
* .NET Core Version: 7.0
* Have you experienced this same bug with .NET Framework?: No

After PR #6640 was merged some accessible objects have received the empty `AccessKey` values at the accessibility tools (like `Inspect`). We discussed it with the team and considered it as a regression. Their behavior should be restored as it were before this PR.

[2022-02-25 07:01] #6532 closed

[2022-02-25 09:16] Olina-Zhang commented on #6252
I ran the provided sample app with .Net 6.0 and 7.0, cannot repro, have same testing result:
![image](https://user-images.githubusercontent.com/26474449/155688679-9132e8e3-9373-4037-aa16-2715678cc979.png)

[2022-02-25 10:35] SergeySmirnov-Akvelon opened #6763 "The ToolStripDropDownMenu is displayed incorrectly in the UIA tree"
.NET Core Version:
- 7.0.0-preview.3.22123.2

Have you experienced this same bug with .NET Framework?:
- Yes

**Repro steps:**
1. Create a `Form` with a `ToolStrip`.
2. Add `ToolStripDropDownButton` to `ToolStrip`.
3. Add multiple `ToolStripItems` to `ToolStripDropDownMenu`.
4. Run the application.
5. Run Inspect.
6. Open the `ToolStripDropDownMenu` and hover over the `ToolStripItem`

**Actual beh

[2022-02-25 22:01] heng-liu opened #6766 "dotnet new --langVersion option is not respected"
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?:

**Problem description:**

When running `dotnet new winforms -n Winforms --langVersion 7.3`, both the `<Nullable>enable</Nullable>` and `<LangVersion>7.3</LangVersion>` are added into the project file. Then the project will fail the build as the two conflict.

**Expected behavior:**

Build is successful after running

[2022-02-26 01:08] RussKie commented on #6766
@heng-liu could you please clarify the reason you're trying to create a .NET 6 app with unsupported language?

@vlada-shubina any thoughts on this?

[2022-02-27 04:26] MisinformedDNA commented on #5915
You guys keep asking about a sample without third party controls, but the linked code in OP does not use any third party controls.

[2022-02-27 20:07] oyundev opened #6771 "VS 2022 Windows Forms Designer gives 'Access is denied' error when using .Net 6.0 template"
* .NET Core Version:  **.NET SDKs installed: 6.0.200**

* Have you experienced this same bug with .NET Framework?:  **No**

**Problem description:**
[code]

**Expected behavior:**

[code]
**Minimal repro:**

![vserr](https://user-images.githubusercontent.com/44315345/155897994-c757bd4c-ea79-4ed4-a683-e3923c8cdc4b.png)
![vstmplt](https://user-images.githubusercontent.com/44315345/155897995-e58c98a5

[2022-02-27 22:39] RussKie commented on #6771
Please enable logging and see if you can find more info.

[2022-02-27 22:40] RussKie commented on #6771
Please enable logging and see if you can find more info. https://github.com/dotnet/winforms/blob/main/docs/designer/troubleshooting.md

[2022-02-28 04:49] bairog commented on #4895
@KlausLoeffelmann In you Devblogs article **[Databinding with the OOP Windows Forms Designer](https://devblogs.microsoft.com/dotnet/databinding-with-the-oop-windows-forms-designer/)** you promised to introduce some sample code in context of this issue. Almost a month has passed since February 2 - where we can find some basic tutorial for modern WinForms databing? I've only found outdated docs for

[2022-02-28 16:09] oyundev commented on #6771
Today, I tested to create a project with windows forms .Net 6 template on another machine, Windows 10 + recenty installed VS 2022 and it just worked without any problems at all.

Thinking this might be a issue related to target directory permissions so this time I chose another location under %userprofile%\source\repos but I got the same error.

Changed to Verbose logging at Options->Windows Forms

[2022-02-28 18:45] dreddy-work commented on #6259
@alanhoman , did you get any chance?

[2022-02-28 19:37] merriemcgaw commented on #4895
We're still working on the blogs. It's taking a bit longer than anticipated but it's actively in progress.

[2022-02-28 21:31] KlausLoeffelmann commented on #6541
I have a fix in the Designer repo.
This is not a runtime issue.

[2022-02-28 22:10] dreddy-work commented on #873
WebBrowser control is outdated and being replaced with [WebView2](https://github.com/MicrosoftEdge/WebView2Feedback).  Any improvements in this control needs to be redirected to WebView2. Closing this suggestion.

[2022-02-28 22:10] #873 closed

[2022-02-28 22:23] dreddy-work commented on #1570
Thanks @AlexYurkin for this proposal. Given documentation is updated to include this event and have not seen any business case here, we will be closing this proposal as low pri.

[2022-02-28 22:23] #1570 closed

[2022-02-28 22:39] dreddy-work commented on #2722
Thank you @hsmoccio for raising this.  Unfortunately, this requires support from Windows/Common controls and given the Winforms priorities, we will not be able to work/investigate on this further at this time.

[2022-02-28 22:39] #2722 closed

[2022-02-28 22:43] dreddy-work commented on #2623
Winforms team agree to add this support and would welcome community contribution on this.

[2022-02-28 22:47] dreddy-work commented on #2300
Thanks @hughbe for pointing this out. This is ongoing cleanup work and would welcome community contributions here.

[2022-02-28 22:54] dreddy-work commented on #2290
Thanks @hughbe for suggesting this. This is a valuable suggestion but unfortunately does not align with current priorities.

[2022-02-28 22:54] #2290 closed

[2022-02-28 23:02] dreddy-work commented on #1763
Team went over it with initial review and keep it for future milestone with respect to current priorities.

[2022-03-01 04:54] bairog commented on #4895
@merriemcgaw @KlausLoeffelmann Looking forward for some documentation to come soon. Without clear explanation it's not easy to understand new Command approach in WinForms.
**BTW** Is that also appliable to .NET5 (we are stuck on VS 2019 for a near future - so we cannot use .NET 6/7)? Is that mostly a VS designer capabilities, right? If I write all code manually - it should just work also on .NET5?

[2022-03-01 09:22] Shyam-Gupta commented on #6771
@oyundev WinForms .NET (Core) Designer launches a child process, `DesignToolsServer.exe` for its operation. From the logs it appears that error occurs during process launch. When this issue occurs, could you please check if any error gets logged in `Windows EventVwr`. Steps:

- Press `Windows + R` to launch `Run` dialog
- Type `EventVwr` and press enter
- Select `Custom Views` -> `Administrative E

[2022-03-01 09:24] Olina-Zhang commented on #6190
@merriemcgaw  verified this issue in .Net Core 3.1, it works well, and it repro in .Net 5.0/6.0/7.0.

Here is a gif in .Net Core 3.1 behavior:
![3_1](https://user-images.githubusercontent.com/26474449/156141693-fa6076dd-9277-41c8-8b8f-852d559161e8.gif)

[2022-03-01 09:25] John-Qiao commented on #6364
@memoarfaa could you please provide your sample project here?

[2022-03-01 16:48] oyundev commented on #6771
Already mentioned in description when I open this issue that this problem doesn't occur with WPF .Net template. I'm familiar with eventvwr.msc from NT4.0 days. Ahh, good old times. Anyway, looking there was my first instinct but unfortunately there was nothing related to DesignToolsServer.exe or devenv.exe in there.

I used sysinternals procmon and find out that file permissions on file at temp lo

[2022-03-01 16:48] #6771 closed

[2022-03-01 19:30] danmoseley commented on #6596
This survey is now closed -- thanks to everyone that responded, we'll now dig through results.

[2022-03-01 19:30] #6596 closed

[2022-03-02 06:51] T-rvw commented on #329
Yesterday, I got some time to browse the implementation and found that drawing so many TickLines caused the large memory usage. We have two ways to avoid this issue:
1. Don't draw TickLine : `this.TickStyle = TickStyle.None;`
2. Set `TickFrequency` to draw a reasonable number of TickLine.

Back to the "bug“ itself, I think it just doesn't defend wrong user input. We usually don't care about TickLi

[2022-03-02 12:49] KalleOlaviNiemitalo opened #6779 "System.Windows.Forms.Timer got stuck after being disabled and enabled reentrantly"
* .NET Core Version:
Not yet reproduced on .NET Core, but the implementation is similar.

* Have you experienced this same bug with .NET Framework?:
Yes, on .NET Framework 4.7.2.

**Problem description:**
System.Windows.Forms.Timer.TimerNativeWindow got into an invalid state in which NativeWindow.Handle == IntPtr.Zero but TimerNativeWindow._timerID != 0. After this, no more Timer.Tick events were

[2022-03-02 16:58] KalleOlaviNiemitalo commented on #6550
If there is no handler for the [DataGridView.DataError](https://docs.microsoft.com/dotnet/api/system.windows.forms.datagridview.dataerror?view=windowsdesktop-6.0) event, then DataGridView displays a message box by default. If there are event handlers, then DataGridView just calls them. For this event, an empty event handler is not equivalent to having no event handler, and should not be automatica

[2022-03-02 18:09] heng-liu commented on #6766
Hi @RussKie , thanks for your reply!
We use it in our dotnet integrated tests.
We need to create different projects for testing. To save time, we only run  `dotnet new` command to create a template project, and then other projects(might targeting different TFMs) will copy from the template project instead of running `dotnet new` command on every testing project.
Since some testing project(e.g. TFM

[2022-03-02 21:21] Tanya-Solyanik commented on #6713
 System.Windows.Forms.Tests.DataGridViewTests.DataGridView_GridColor_Rendering
  Source data is delayed, try again later
   Duration: 139 ms

  Message: 
System.Windows.Forms.Metafiles.EmfValidator+WrappedXunitException :
Validator index 6: Polygon16Validator failed

[2022-03-03 05:40] RussKie commented on #329
Sounds good 👍

[2022-03-03 10:13] Ashley-Li opened #6783 "The button/Label control in the tabControl's tabPage2 move up after the app built"
* VS Version:
The latest main VS build

* .NET Core Version:
VS comes with .NET SDK 6.0.22.10605

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1. Create a .NET Core winforms app.
2. Add a TabControl to the form designer.
3. Add a button into the tabPage2 of the tabControl1.
4. Change the Anchor' property value of the button to 'None' or 'Buttom&Right'.
5. Set t

[2022-03-03 18:36] GrabYourPitchforks opened #6786 "SDL signoff requirements - please enable additional C/C++ compiler warnings"
Recent SDL changes require that we enable additional compiler warnings across our C/C++ projects. The requirements are:

* Compile with warning level 3 or higher. These warnings do not have to be fixed, but they must at least be triaged.
* Enable the following additional warnings, which __must__ be fixed if they occur:
  * __C4018__ - 'expression' : signed/unsigned mismatch
  * __C4055__ - 'conver

[2022-03-03 22:44] dreddy-work commented on #6259
THanks @alanhoman for trying this out.

This issue was recently introduced by runtime and is fixed now (if you install todays daily build of SDK).

This should not happen. You do not need to uninstall latest SDK here.   Did you try build from command line too?

WinForms has limited control on MDI windows and enabling PermonV2 mode for MDI is challenging. MDI maximized scenario is still under inves

[2022-03-04 01:35] merriemcgaw commented on #6786
@GrabYourPitchforks - do these requirements apply to test only code? The only C/C++ code we've got is in test, not in the product (to the best of my knowledge, but we'll double check)?

[2022-03-04 01:56] alanhoman commented on #6259
I am able to get the main branch to run now, but there are 2 issues.  When I run the project in debug mode and try to open a Simple Layout, or an MDI Parent, neither form ever appears.  When not in debug mode, the windows open.  Then, when I move the MDI Parent to a 150% monitor is still has the same issue as the last image I sent.  The tab control with tab1, tab2, and tab3 disappear when moved to

[2022-03-04 02:44] dreddy-work commented on #6259
@alanhoman, is your project available to share with us?

[2022-03-04 05:28] #6748 closed

[2022-03-04 05:32] RussKie commented on #6259
This was caused by incoherent version of .NETCoreApp workload. This was fixed in https://github.com/dotnet/sdk/pull/24009, we should expect a coherent nightly SDK soon.

For some reason you have \bin and \obj folders created under each project not under \artifacts folder. VS sometimes does this when you switch to a different branch.
In this situation I suggest the following steps:
- close VS
- run

[2022-03-04 05:54] John-Qiao commented on #6556
Verified with .NET SDK 7.0.100-preview.3.22153.11 build, this issue is fixed, Button border has a single color.
![TestResult](https://user-images.githubusercontent.com/45864985/156707694-f08be3dc-562a-4fec-927a-ab9c0f2e36eb.png)

[2022-03-04 06:09] Lydia-Shi opened #6789 "[PerMonitorV2] Height of ListView in tabPage gets smaller and smaller when setting HighDpiMode to PermonitorV2 and moving multiple times through 100&300"
* .NET Core Version:
.NET Core 7.0.100-preview.3.22152.16

**Problem description:**
Height of ListView in tabPage gets smaller and smaller.
![Issue2](https://user-images.githubusercontent.com/54019172/156707762-9a4ecc6b-9eee-44b1-9c2b-63c99c1c19e4.gif)

**Expected behavior:**
The height should not change.

**Minimal repro:**
1.	Extract attachment [PerMonitorHDPICore.-.NET.7.0.zip](https://github.c

[2022-03-04 06:27] alanhoman commented on #6259
Yes, on my initial entry of this issue just below the animated gif, there is a link to the zippped project.  Here is another link to it:
[PerMonitorHDPICore - NET 7.0.zip](https://github.com/dotnet/winforms/files/7646074/PerMonitorHDPICore.-.NET.7.0.zip)

[2022-03-04 06:59] alanhoman commented on #6259
Thanks @RussKie!
The git clean -xdf cleared up all of the build errors and I was able to proceed with testing fix6259_1 from @dreddy-work.

The only minor issue is the NativeTests project does not build.  This is not a show stopper since the important projects build properly  now.

![image](https://user-images.githubusercontent.com/2184698/156714855-67b9ea38-fd10-4de7-8805-18fe5d21912f.png)

[2022-03-04 07:12] alanhoman commented on #6259
Now that I can build fix6259_1 from @dreddy-work, I confirmed that this issue is fixed.  When the MDIParent (not maximized) is moved from 100% to 150% and then back and forth multiple times, the tabControl width and height are always exactly the same and the form it always formatted properly.  The slight changes in size and layout no longer occur. This is great news!

When the MDIParent is maximiz

[2022-03-04 07:41] MelonWang1 commented on #6317
Verified with .NET SDK 7.0.100-preview.3.22153.11 build, this issue is fixed.
DateTimePicker expanded:
![expand](https://user-images.githubusercontent.com/94418985/156720382-ae0fa505-5e07-45c5-838e-ad4942027311.png)
DateTimePicker collapsed:
![collapsed](https://user-images.githubusercontent.com/94418985/156720422-6d31163d-1d9a-49c2-8342-1c0ea1fd67ba.png)

[2022-03-04 08:46] Lydia-Shi opened #6794 "Form is not responding after clicking on Button then close Form"
* .NET Core Version:
.NET 7.0.100-preview.3.22153.22

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Form is not responding after clicking on button then close Form.
![Button_NotRespond](https://user-images.githubusercontent.com/54019172/156727801-926a838f-772b-4845-96c4-089936e84618.gif)

**Expected behavior:**
Form and VS all work well.

**Minimal repro:*

[2022-03-04 09:12] Ashley-Li commented on #6560
Verified with .NET SDK 7.0.100-preview.3.22153.11 build, after step4, pressed button, the color of the button border is blue instead of gray, but I see that your fix in this PR:[6562 ](https://github.com/dotnet/winforms/pull/6562)does not match my result, am I doing something wrong?
![image](https://user-images.githubusercontent.com/56664234/156732792-5c0c9b3c-eafc-4c40-9287-075618134ce7.png)

[2022-03-04 09:13] Amy-Li03 commented on #6359
Verified this issue on .NET 7.0.100-preview.3.22153.11 build, this issue is fixed.
![image](https://user-images.githubusercontent.com/62929087/156734257-8779dd8c-0a31-4d34-94e2-e4bddcf83197.png)

[2022-03-04 09:26] RussKie commented on #6259
Awesome.
These errors look related to CMake. Please check you have CMake installed and on the PATH. It's listed in the docs.
________________________________
From: alanhoman ***@***.***>
Sent: Friday, 4 March 2022 6:12 PM
To: dotnet/winforms ***@***.***>
Cc: Igor Velikorossov ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/winforms] ChildMdi Container control rendering issues when not Maxi

[2022-03-04 12:53] AngeloCresta opened #6795 "Split Container - Object name: 'Disposed 'Cursor' can no longer be used.'."
* .NET Core Version:
C:\Users\Angelo>dotnet --info
.NET SDK (reflecting any global.json):
 Version:   6.0.200
 Commit:    4c30de7899

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.22567
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.200\

Host (useful for support):
  Version: 6.0.2
  Commit:  839cdfb0ec

.NET SDKs installed:
  3.1.101 [C

[2022-03-04 13:20] bodrick opened #6797 "Setting InvariantGlobalization to true causes exception"
* .NET Core Version:
Host (useful for support):
  Version: 6.0.2
  Commit:  839cdfb0ec

**Problem description:**
Setting InvariantGlobalization to true causes exception.

[07:58:38.1898548] Processed 'System.Windows.Forms' in 00:00:00.0003725
[07:58:38.2018540] Added 'System.Windows.Forms'
[07:58:38.2028554] Loaded System in 00:00:00.0000114 [thread 53]
[07:58:38.2028554] Processed 'System' in 00:

[2022-03-04 17:18] rickbrew opened #6798 "Cursor(Stream) constructor has "short read", doesn't check return value from Stream.Read()"
This is in .NET 6.0.2 but I don't believe it's new, it may be a very old issue.

Paint.NET 4.3.8 (latest public release) started crashing on the new Windows 11 Insider "Dev" build, 10.0.22567.0. It seems to be because of some `Cursor`s that aren't initializing correctly. My cursor files haven't changed in quite some time, nor has the code for handling them. Now, I do believe this is a new bug in W

[2022-03-04 17:40] rickbrew commented on #6795
I think this is the same issue as here: https://github.com/dotnet/winforms/issues/6798

[2022-03-04 17:42] rickbrew commented on #6798
Looks like this bug was reported two years ago and hasn't been fixed yet :-\ https://github.com/dotnet/winforms/issues/3492

[2022-03-04 17:44] rickbrew commented on #3492
Looks like this bug is being triggered by the latest Win11 Insider "Dev" build 10.0.22567.0 and is causing a lot of crashes now https://github.com/dotnet/winforms/issues/6798

[2022-03-04 17:45] dreddy-work commented on #6259
Thanks @alanhoman for confirming the fix. Yes, i am aware of issues in the maximized state and also in the top-level form and i will be looking into it as well.

For debugging issue, internal team made aware of it and they are currently investigating if it has anything to do with debugger.

[2022-03-04 17:51] AngeloCresta commented on #6795
we're both on the same windows dev build 22567...

[2022-03-04 17:56] rickbrew commented on #6795
Yeah it seems to be a new bug in Win11 that is causing a WinForms bug to happen more often.

You should be able to workaround this in the meantime by first copying your `Stream` into a `MemoryStream` and then passing the `MemoryStream` to the `Cursor(Stream)` constructor. `MemoryStream` never returns a partial result from `Read()`.

[2022-03-04 18:11] GrabYourPitchforks commented on #6786
@merriemcgaw Good question! The rule of thumb I've been using to define "production" code is:

* Is it part of the download made available via https://dotnet.microsoft.com/en-us/download/dotnet/6.0?
* Does it contribute to the process of _building_ the binaries available for download there? (This covers build infrastructure code, for instance.)

Since test-only code doesn't fit either of the above

[2022-03-04 18:17] alanhoman commented on #6259
Thanks for the update @dreddy-work. Once the fix is merged, I think this issue can be closed.  Also, @RussKie, installing the latest version of CMake solved the build issue, so I can now build everything properly!

[2022-03-04 18:19] rickbrew commented on #6798
To repro a crash:

1. Install Win11 Insider Dev build 10.0.22567.0 (currently the latest one)
2. Install Paint.NET 4.3.8 (or use portable build from here: https://github.com/paintdotnet/release/releases )
3. Launch Paint.NET
4. Click on Eraser tool (can press 'E')
5. Click in the image area

[2022-03-04 18:20] rickbrew commented on #6798
I'm currently testing a workaround (copy to `MemoryStream` first, then hand off to `Cursor(Stream)`), and I should be able to release an app update (v4.3.9) once .NET 6.0.3 is published (presumably on Tuesday?)

[2022-03-04 19:11] AngeloCresta commented on #6795
I've fixed on my side, sublassing all child controls of my custom form, instantiating on activation a mouse filter (tranparent click near the border) that inherits a nativewindow. There, overriding WndProc, I set an ugly try-catch... Waiting for the fix...

[2022-03-04 20:36] merriemcgaw commented on #6786
That is good news indeed! I'll let @RussKie make a final confirmation that all we have is test only code and we'll close this as appropriate. Thanks!

[2022-03-05 01:21] roland5572 commented on #6798
@rickbrew This is a known issue, you can check this link for more useful information. This problem has existed since 2016 year and is still unsolved.

https://github.com/dotnet/runtime/issues/16598

[2022-03-05 05:24] willibrandon commented on #6794
When your application becomes unresponsive, what happens if you click Stop Debugging (Shift + F5) in VS?

I might be seeing the same or a similar issue in my environment.

[2022-03-05 21:29] trontronicent commented on #6798
I think this just have gotten worse, with the latest insider build. Even a standard property grid with a simple 'SelectedObject' set - after moving the mouse around, the exact same Cursor disposed / ObjectDisposedException is risen , leading to a ThreadException - as this is happening within the OnMouseMove event of PropertyGridInternal.

And to make it even worse: Click the Cursors property of a

[2022-03-06 15:36] marianodrzazga commented on #6798
Today Win11 updated and I started having this issue. Is there any workaround for this situation? In my case, I get the exception every time I hover the split container splitter bar (either un runtime, or with the VS designer, which forces VS to crash)

[code]

[2022-03-06 16:34] bitcrazed commented on #6798
Hi all. I can confirm that this is a bug in Win11 Insiders Dev release 10.0.22567.0, not in Paint.NET.

We have a fix and are working to get it released into a future Win11 Insiders Dev build ASAP.

Apologies for the inconvenience this issue has caused.

[2022-03-07 02:48] Lydia-Shi commented on #6794
@willibrandon  After stopping debugging in VS, the following window is displayed.
![image](https://user-images.githubusercontent.com/54019172/156959154-da7371bd-de53-4482-8086-fc81a8a28f47.png)

[2022-03-07 02:52] RussKie commented on #6786
We only ship managed code. I updated our test projects nonetheless.

[2022-03-07 03:02] Cassie-Li01 commented on #6590
Verified on .NET SDK 7.0.100-preview.3.22152.5 build, this issue is fixed.
![image](https://user-images.githubusercontent.com/96758262/156960415-f16fb7e9-2331-4d1f-80f4-991a2064de78.png)

[2022-03-07 03:09] RussKie commented on #6795
This is a Windows-level bug, see https://github.com/dotnet/winforms/issues/6798#issuecomment-1059994865.

[2022-03-07 03:09] RussKie commented on #6795
Duplicate of #6798

[2022-03-07 03:09] #6795 closed

[2022-03-07 03:47] willibrandon commented on #6794
Then I'm fairly certain I'm running into the same issue as you.

![StopDebuggingInProgress](https://user-images.githubusercontent.com/5017479/156964332-2121e506-5e66-4370-9849-998ceb7509d0.png)

If I can be of any assistance troubleshooting this, please let me know.

[2022-03-07 04:03] RussKie commented on #6766
I've checked other templates, and I'm inclined to say "classlib" and "console" are the odd ones.

E.g., "web", "mvc", "webapi", "razorclasslib", etc. result in the following error:
[code]

I'm curious how much time you're actually saving here. Also the templates do vary between stacks and TFMs, and creating a template in on TFM and then trying to reuse it for a different TFM _may_ lead to unexpect

[2022-03-07 19:18] merriemcgaw commented on #6786
Then I think we can close this as done. Thanks @RussKie and  @GrabYourPitchforks!

[2022-03-07 19:18] #6786 closed

[2022-03-08 01:37] dreddy-work commented on #6794
@tommcdon is investigating this issue. Will update the thread as soon as we have a solution.

[2022-03-08 01:59] Lydia-Shi commented on #6471
Verified with .NET SDK 7.0.100-preview.2.22152.5 build, this issue is fixed as same as above test result.

[2022-03-08 02:01] VinoWang01 commented on #6324
Verified with .NET SDK 7.0.100-preview.3.22152.5 build, this issue is fixed.

[2022-03-08 02:34] MelonWang1 commented on #6230
Verified with .NET SDK 7.0.100-preview.2.22152.5 build, this issue is fixed.

[2022-03-08 03:19] ghost opened #6807 "TabPage.Text causes control to flicker when called frequently"
TabPage.Text causes control to flicker when called frequently
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.tabpage.text

Test Code: C# / .net 6.0 / Visual Studio 2022
The problem also occurs in .net framework 4.8.

[code]

Test Result:

![001](https://user-images.githubusercontent.com/88176616/157159506-d9d5433f-db6a-4ac2-bf58-e02b7dce92d4.png)

[2022-03-08 03:22] Olina-Zhang commented on #6535
Verified with .NET SDK 7.0.100-preview.2.22152.5 test pass build, this issue is fixed.

[2022-03-08 05:27] kant2002 opened #6808 "The team have a extremely limited test capabilities in which COM is used"
We (the team) have a extremely limited test capabilities and limited understanding of real scenarios in which COM is used in conjunction with Windows Forms apps. This makes it very difficult to accept changes in this area without good and verifiable test coverage.

_Originally posted by @RussKie in https://github.com/dotnet/winforms/issues/6743#issuecomment-1061349988_

[2022-03-08 05:45] kant2002 commented on #6808
I thinking about other areas where I would like to have COM related tests. Based on my experience in dotnet/runtime repo where they have more interesting infrastructure for testing managed/unmanaged interactions.

I would like to discuss idea how that part of test infra can be improved. My preference would be to have separate projects for set of test cases (or control) where similar COM object imp

[2022-03-08 07:21] RussKie commented on #6808
We're using CMake in src\System.Windows.Forms\tests\InteropTests\System.Windows.Forms.Interop.Tests.csproj (added by @hughbe in https://github.com/dotnet/winforms/pull/3732). If you able to convert https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/tests/IntegrationTests/NativeHost to CMake - please do. I don't remember why it wasn't done as one.
In general, we will gladly accep

[2022-03-08 10:15] thomasmiko opened #6810 ".NET 6 Winforms Designer / Argument Exception: Illegal characters in path"
.NET 6
VS2022 17.2 Preview 1 (Same Problem with 17.1)

**Problem description:**
When I edit a .NET 6 WinForms project and want to open the Designer for a UserControl / Form there, the following exception appears

![2022_03_08_11_11_40_Window](https://user-images.githubusercontent.com/55090340/157215631-11cb1027-79de-48aa-a99d-e7e37fd9bf34.png)

Output from Winforms Designer logging (Verbose)

[11:

[2022-03-08 11:33] codebolt opened #6811 "Language 'Norwegian' missing from drop-down in designer properties"
* .NET Core Version: 6.0.200

* Have you experienced this same bug with .NET Framework?:  No

**Problem description:**

Working in with the WinForms Designer in .NET Framework, I created several localizable Forms/User Controls where I used two languages: English (default) and Norwegian (language code 'no'). When I open these forms in VS 2022/.NET 6 (after using the migration tool), I can no longer

[2022-03-08 12:42] WPMGPRoSToTeMa commented on #6794
Note that I already reported this bug in dotnet/runtime#65664.

[2022-03-08 18:14] EatonZ commented on #6663
6.0.3 is out now. Is this considered fixed?

[2022-03-08 18:17] dreddy-work commented on #6663
It should. We will cross verify and close it.

[2022-03-08 18:41] tommcdon commented on #6794
@v-qiashi would you mind trying to disable Intellitrace in Visual Studio to see if it works around the issue?  I believe that this issue is actually a Visual Studio problem and is tracked on Devdiv internal bug #'s [1495188](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1495188) and [1495179](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1495179).

[2022-03-08 22:52] RussKie commented on #6794
Closing as duplicate of https://github.com/dotnet/runtime/issues/65664.

[2022-03-09 02:44] Lydia-Shi commented on #6794
@tommcdon  Yes, it's a workaround, after disabling Intellitrace, this issue will not occur.

[2022-03-09 07:27] RussKie commented on #6811
.NET does not have a culture with code "no". The issue can be easily reproduced by the following code:
[code]

.NET 6 |  .NET Framework 4.7.2
--|--
naq <br/>naq-NA <br/>nb <br/>nb-NO <br/>nb-SJ <br/>nd <br/>nd-ZW <br/>nds <br/>nds-DE <br/>nds-NL <br/>ne <br/>ne-IN <br/>ne-NP <br/>nl <br/>nl-AW <br/>nl-BE <br/>nl-BQ <br/>nl-CW <br/>nl-NL <br/>nl-SR <br/>nl-SX <br/>nmg <br/>nmg-CM <br/>nn <br/>nn-NO

[2022-03-09 14:33] vlada-shubina commented on #6766
@RussKie

`classlib` only enables nullable when lang version is 8.0 or later, see:
https://github.com/dotnet/templating/blob/c30b2dca81bec3f510cc2fd7c77d9c5384bb2204/template_feed/Microsoft.DotNet.Common.ProjectTemplates.7.0/content/ClassLibrary-CSharp/.template.config/template.json#L114-L117

Similar constraint should be added for winforms templates.

Web templates don't have option for defining

[2022-03-09 18:45] #6306 closed

[2022-03-09 21:52] dreddy-work commented on #6797
@Shyam-Gupta , can you take a look at this and see if this is something that is already being tracked?

[2022-03-09 22:30] Shyam-Gupta commented on #6797
Seems related to VS locale Id changes. Requesting @RussKie to take a look.

[2022-03-09 22:51] dreddy-work commented on #6779
@KalleOlaviNiemitalo , can you provide a sample app to debug this issue on our end?

[2022-03-09 23:05] RussKie commented on #6797
I confirm the issue is caused by `<InvariantGlobalization>true</InvariantGlobalization>` in the csproj. As an immediate workaround, please unset this flag, remove \bin and \obj folders, and rebuild the project.

[2022-03-09 23:09] KalleOlaviNiemitalo commented on #6779
I cannot provide a sample app. Although the issue repeatedly occurred for one user, I was never able to reproduce it when I used the app. We took a memory dump from the user's process after the timer had got stuck, and I found the invalid state in the dump. I then changed the app to hook the window messages of the TimerNativeWindow (by locating the window handle by reflection and creating another

[2022-03-10 00:55] RussKie commented on #6797
Thank you for the sample. I have a fix that will go out in 17.2 (hopefully in Preview 3).

[2022-03-10 02:30] Tanya-Solyanik commented on #6760
[code]

Since AccessKeys were present in the .NET Framework, and this is not a MAS violation, let's keep that behavior.

[2022-03-10 02:30] #6760 closed

[2022-03-10 07:08] kirsan31 commented on #4461
/cc @merriemcgaw

[2022-03-10 08:19] Lydia-Shi opened #6829 "Form designer keep loading when targeting to .NET 7.0"
### Description

When creating a Winforms .Net core application and targeting to .NET 7.0, Form designer keep loading and an error dialog pops out, WSOD page is shown after few minutes.

### Reproduction Steps

1.	Create a Winforms .NET Core application
2.	Observe Form designer that opens automatically

### Expected behavior

Forms designer can displayed successfully.

### Actual behavior

Form de

[2022-03-10 08:37] AngeloCresta commented on #6798
In version 10.0.22572.1 the bug is still present

[2022-03-10 15:25] ooples opened #6828 "Renaming objects inside user control broke windows forms project completely"
Using Visual studio 2022 Version 17.2.0 Preview 1.0 and I have 3 user controls with each one having datagrid. I renamed each datagrid in those user controls and suddenly the user controls disappeared from the design view and only appear when you run the application. If I try to add any new user controls to anywhere on my project I now get the error I have pasted below and I'm also getting these bu

[2022-03-10 18:36] dreddy-work commented on #4461
@RussKie / @merriemcgaw this needs broader fix for every Control/Property impacted by the default Font change. So far i see two bugs in this context but there could be more.

[2022-03-10 18:58] #5676 closed

[2022-03-10 19:08] #1756 closed

[2022-03-10 22:57] dreddy-work commented on #6364
@John-Qiao , it seems Windows fixed this issue in the latest builds. Can you try this issue again with latest windows 11 build?

[2022-03-10 23:13] dreddy-work commented on #6828
@ooples, can you get us a stand alone WinForms application that we could debug ?

[2022-03-10 23:20] RussKie commented on #6829
@Lydia-Shi can you please provide a link to the SDK installer that causes the issue?

[2022-03-10 23:21] ooples commented on #6828
@dreddy-work I can share my private repo with this project if that is ok for you to check it out

[2022-03-10 23:24] dreddy-work commented on #6798
@bitcrazed can you please share expected windows version with fix here?

[2022-03-10 23:29] dreddy-work commented on #6779
@KalleOlaviNiemitalo , thank you for adding details here. Next t time when this happen, would you mind sharing it via Visual Studio feedback portal so that we get the dumps and other info?

[2022-03-10 23:36] KalleOlaviNiemitalo commented on #6779
I already changed the app to detect if Timer.Enabled is about to be assigned reentrantly, and to postpone those assignments until the outer assignment finishes. This works around the problem. So I don't think there will be an opportunity for more memory dumps.

[2022-03-10 23:40] dreddy-work commented on #6828
That should work.

[2022-03-10 23:42] dreddy-work commented on #6779
@KalleOlaviNiemitalo thank you for updating us on the workaround. In this case, we will be closing this until we hear again and get some consistent repro steps.

[2022-03-10 23:42] #6779 closed

[2022-03-10 23:51] ooples commented on #6828
@dreddy-work I sent you an invite to view the project and so you know my commit from today was many different attempts to try to fix the issue like trying to create new user controls to add to the project with many variations and imho this designer function is fucked in VS 2022 preview because I have been noticing other issues like designer code mysteriously deleting and causing build errors when

[2022-03-11 00:23] dreddy-work commented on #6828
Can you please add @KlausLoeffelmann  and @RussKie  too?

[2022-03-11 00:27] ooples commented on #6828
I added both of them as well. Also to replicate this issue simply add any of the 3 user controls I mentioned to the main form dashboard and you will see one of the many errors. Let me know if you need me to do anything else

[2022-03-11 01:01] #6703 closed

[2022-03-11 01:02] bitcrazed commented on #6798
Will do as soon as I can confirm which build the fix will arrive in. Stay tuned!

[2022-03-11 01:30] merriemcgaw commented on #4461
We'll try to get to this in .NET 7, based on the feedback. We decided to do a deep dive into the default values and figure out what the best path foreword is.

[2022-03-11 02:13] Lydia-Shi commented on #6829
@dreddy-work I just create a simple project, not a running one. Please see below GIF:
![NotOpen](https://user-images.githubusercontent.com/54019172/157788804-0502ca1f-c064-44ff-8fa4-01e79006a71a.gif)

**Event log:**

[code]

![image](https://user-images.githubusercontent.com/54019172/157788390-7b317fcb-cac3-436b-b86c-4ab91d8cad63.png)
![image](https://user-images.githubusercontent.com/54019172/157

[2022-03-11 02:43] John-Qiao commented on #6364
@dreddy-work I tested it in my Win11 21H2 OS, and the issue1 is not reproduced in my result, please check below gif:
![TestResult-6364](https://user-images.githubusercontent.com/45864985/157792070-07db9993-a512-4301-abb8-fc2eb5b6c831.gif)

[2022-03-11 04:01] #3142 closed

[2022-03-11 04:43] dreddy-work commented on #6829
@Lydia-Shi , creating .Net 6.0 apps work fine?

[2022-03-11 04:44] dreddy-work commented on #6364
Thanks @John-Qiao  for confirming.  Closing as this is fixed in latest windows version.

[2022-03-11 04:44] #6364 closed

[2022-03-11 05:40] Lydia-Shi commented on #6829
@dreddy-work Yes, Form designer works fine when targeting to .NET 6.0.

[2022-03-11 14:39] tomaszmalik commented on #6663
The issue is **critical** and it is **not fixed in 6.0.3**.
It's hard to believe that we have to wait another month for that easy fix.

[2022-03-11 14:43] kirsan31 commented on #6663
Really? Our app build with 6.0.3 work fine on machines with 6.0.2... 🤷‍♂️

[2022-03-11 15:06] tomaszmalik commented on #6663
That's because .NET 6.0.2 and .NET 6.0.3 has System.Windows.Forms with version 6.0.2.
.NET 6.0.0 and .NET 6.0.1 has System.Windows.Forms with version 6.0.0.
So error occur for user with .NET version 6.0.0 or 6.0.1, who uses apps compiled with 6.0.2 or 6.0.3.

[2022-03-11 15:14] kirsan31 commented on #6663
And this is by design I think...
https://github.com/dotnet/winforms/issues/6663#issuecomment-1039910644 https://github.com/dotnet/winforms/issues/6663#issuecomment-1040990481 https://github.com/dotnet/winforms/issues/6663#issuecomment-1041002991

[2022-03-11 15:53] tomaszmalik commented on #6663
No, it's not, it's a bug. :) It seems that it would not be fixed, as it was explained here:
https://github.com/dotnet/wpf/pull/6101#issuecomment-1039089267
I understand the problem, but there should be official warning and some explanation in release notes.
The issue is still open ...

[2022-03-11 16:11] dreddy-work commented on #6663
@RussKie to confirm the fix propagated to 6.0.3 installer.

[2022-03-11 17:08] EatonZ commented on #6663
I checked and the 6.0.3 System.Windows.Forms dll is versioned 6.0.2.0. That is what they said would happen, so it appears the issues is fixed.

My advice would be to wait a while for users' computers to update with this new version before building again with 6.0.2+. Building on 6.0.1 is the safest option for now.

[2022-03-11 19:04] ooples commented on #6828
@dreddy-work Any updates yet or any issues with viewing the project? Also I wanted to specify that the other half of the problem is user controls completely disappearing from the windows form. You can verify that the user controls are added and after some changes like with renaming them they completely disappear from the visual mode

[2022-03-11 20:49] dreddy-work commented on #6828
I am not in office today. @KlausLoeffelmann  will be taking a look at it as soon as he can.

[2022-03-11 22:17] KlausLoeffelmann commented on #6828
What are the repo steps exactly?
(I would need a minimal repo sample.).

[2022-03-11 22:22] ooples commented on #6828
@KlausLoeffelmann First error as I discussed above is error when trying to add the user controls that had renamed items. Simply add one of the user controls (WatchList.cs or AlpacaOverview.cs) to the FormDashboard.cs design view.

Second error can be viewed by simply looking at the FormDashboard.cs design view and you will see the user controls that have renamed items don't show up at all on the d

[2022-03-11 22:27] KlausLoeffelmann commented on #6828
No, what I mean is:
Can you provide a simple repro project (as a zip here into the discussion), I can just open in VS, and along with it a step-by-step list, how to hit this bug? (If you provided it already, sorry, then I missed it. Please point me to it.)

[2022-03-11 22:29] ooples commented on #6828
@KlausLoeffelmann I sent you an invite on here to my private repo that is simply one windows form and I specified the steps to replicate the issue. As far as the steps go I listed them right above. Or if you really need me to I can create a screen recording showing me perform both steps for you if that is what you prefer

[2022-03-12 03:47] roland5572 opened #6834 "Improve DesignerCategoryAttribute class"
If you have written a Control class, but you don't want to use **Visual Studio Form Designer** to design the control, you can use the following class.

**DesignerCategoryAttribute** class:
https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.designercategoryattribute

Sample Code:
[code]

Scene:

Suppose you are extending some Controls, Sometimes you don't need to change the UI for it

[2022-03-13 20:15] weltkante commented on #3492
@rickbrew I'd call this a an external regression, this bug is really about custom streams, file streams were always "implicitly guaranteed" to read as much as possible on Windows, too much code relied on that behavior historically to change it, I'd be surprised if .NET team came to a different conclusion now and decided to break people.

I think the other issue acknowledged it being an external re

[2022-03-13 20:19] weltkante commented on #6798
just for the record and people referencing #3492, which was a bug about custom streams and never affected cursor loads from files

File streams were always "implicitly guaranteed" to read as much as possible on Windows, too much code relied on that behavior historically to change it, I'd be surprised if .NET team came to a different conclusion now and decided to break people.

Reading the last few

[2022-03-13 20:59] rickbrew commented on #6798
Yes but .NET 6 introduced a breaking change to `GZipStream` (and others) such that they do not guarantee full reads. This bug here is a landmine and should be pretty easy to fix.

Yes, the particular crash that's being reported (here and elsewhere) is on current Win11 Insider Dev builds. I think the fix is still making its way into the proper branch.

[2022-03-13 22:51] RussKie commented on #6798
Would you mind sending a PR with a fix?

[2022-03-14 04:11] RussKie commented on #6663
This _**is**_ the fix. Between the bad and the worse, it was the best option available. Please refer to https://github.com/dotnet/winforms/pull/6667 and https://github.com/dotnet/wpf/pull/6101#issuecomment-1039089267 for more details as to why this is considered a fix. Sadly, if you're shipping Windows Desktop apps targeting 6.0.0 or 6.0.1 you'll need to recompile for 6.0.2 or later. Likewise, if

[2022-03-14 06:30] RussKie commented on #1441
@kant2002, _if_ we were to entertain this proposal, would you see any issues in AOT scenarios?

[2022-03-14 07:01] #3303 closed

[2022-03-14 08:41] kant2002 commented on #1441
For all practical purposes this lead that developers will pollute RD.xml with all control types and would encourage bloated AOT executables.
This obviously would work in regular NativeAOT (reflection is enabled by default), but reflection-free NativeAOT woudl not.
**Disclamer**: Reflection-free mode is juicy target for extreme AOT lovers (like me). This technology does not endorsed by Runtime team

[2022-03-14 12:56] ooples commented on #6828
@KlausLoeffelmann Any updates or progress? Did you run the code yet?

[2022-03-14 14:47] hanjunjun opened #6843 "When dotnet5 creates a windowless program, it starts with an error"
* .NET Core Version:
5.0.421.11614

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
When dotnet5 creates a windowless program, it starts with an error
There is no error when debugging, everything is normal, and the publishing program is running with an error
![image](https://user-images.githubusercontent.com/16394348/158196305-9e5c70c3-7511-4cd9-b765-1f1fdc8

[2022-03-14 15:48] hanjunjun commented on #6843
I found the reason: it is a single file packaging problem
I used the AForge.dll component

[2022-03-14 15:49] KlausLoeffelmann commented on #6828
Kudos to the UI Design, btw!

[2022-03-14 16:00] KlausLoeffelmann commented on #6828
Here are the exception I see, when I try to add the UserControl you described:

![image](https://user-images.githubusercontent.com/9663150/158211513-aafa960e-8786-494c-b440-f1bf2a62c94b.png)

![image](https://user-images.githubusercontent.com/9663150/158211585-2ad224d6-3eac-4222-9d1f-dc07e288632e.png)

![image](https://user-images.githubusercontent.com/9663150/158211633-41de23fe-4577-404f-a077-3cc

[2022-03-14 16:01] #6828 closed

[2022-03-14 17:59] ooples commented on #6828
@KlausLoeffelmann Here is a screen recording showing me with the errors adding two user controls that renaming messed up and a third user control that wasn't done with renaming that is able to be added with no issues

![devenv_lg0GIR1oJ9](https://user-images.githubusercontent.com/3075685/158232923-1645cc7d-e514-4e5a-a36a-b16444baa9c4.gif)
.

[2022-03-14 18:01] ooples commented on #6828
@KlausLoeffelmann All the errors you are showing in your screenshots are from running the program itself which won't work since you don't have valid api keys assigned

[2022-03-14 18:03] KlausLoeffelmann commented on #6828
Don't bother.
I ask for a specific step-by-step, and here is what you wrote:

This is what I did, and then I recorded screenshot the issues I saw while running the Designer with an attached Debugger. The error dialog that you see is the Designer's reaction to the Exceptions, that _your_ code throw.

Please isolate your issue in a simple repro.
The one you provided is to complex, and clearly not st

[2022-03-14 18:05] KlausLoeffelmann commented on #6828
False.

I never ran your program. I ran the WinForms Designer and debugged into it. The exceptions you see are caused by your controls _at designtime._

[2022-03-14 18:17] ooples commented on #6828
@KlausLoeffelmann Yeah I get that but my confusion is the fact that I haven't changed any of the underlying code other than the rename. Case in point I did a test and created a new user control using the exact same code as the watchlist user control that I showed you throw the error and this new user control with the same code can be added to the design view with no issues.

[2022-03-14 18:22] KlausLoeffelmann commented on #6828
That may be as it is. But you see those exceptions and should address them. We can't.
Maybe some Databinding definitions weren't updated corrected, since they are defined by strings, and got overlooked in the process?

But you need to understand that we cannot debug your components for so many different reasons.
Once you figured out what causes the exceptions, please derive your findings into a mi

[2022-03-14 18:27] ooples commented on #6828
@KlausLoeffelmann Yeah I totally understand and will move on for now unless I can easily replicate the bugs I'm experiencing

[2022-03-14 20:32] dreddy-work commented on #6843
@hanjunjun , while i did not fully understand the issue here. Is this solved for you? can we close this or are you expecting a resolution from Winforms here?

[2022-03-14 22:41] dreddy-work commented on #6829
Runtime config json is missing framework versions in it.

{
  "runtimeOptions": {
    "tfm": "net7.0",

    "additionalProbingPaths": [
      "C:\\Users\\dreddy\\.dotnet\\store\\|arch|\\|tfm|",
      "C:\\Users\\dreddy\\.nuget\\packages"
    ],
    "configProperties": {
      "Microsoft.NETCore.DotNetHostPolicy.SetAppPaths": true
    }
  }
}

[2022-03-14 23:45] dreddy-work commented on #3087
Thanks @hughbe for this proposal. Given this has been the behavior for long and could break migrating applications, we like to wait until there is a real customer scenario here.

[2022-03-14 23:45] #3087 closed

[2022-03-14 23:53] RussKie commented on #6829
Is this an SDK issue?

[2022-03-15 00:16] dreddy-work commented on #3263
Keeping it on hold. Related draft PR has more context about this decision.

[2022-03-15 00:34] dreddy-work commented on #3493
thanks @weltkante for proposing this. We should divide this into smaller, area scoped API suggestions. Would you help listing impacted areas for this change and send an initial API proposal for cursor?

[2022-03-15 00:56] dreddy-work commented on #6829
Seems so. ProjectName>.designer.runtimeconfig.json is generated without targetframework info in it.  @dsplaisted , who would be right person to look into this? @Shyam-Gupta as FYI.

We use
[code]

[2022-03-15 03:03] RussKie commented on #6828
Since the designer is running the user code which is present in either the constructor chain (i.e., the constructor of the immediate form or a control, and all base constructors) _AND_ in several overloads (e.g., `OnLoad()` method gets called as well), it is worth considering isolating the code that is required only at runtime from the designer. There are several ways of achieving this, e.g.,
* wi

[2022-03-15 03:27] RussKie commented on #1441
As a disclaimer, this issue come up in our recent backlog triage, but this work is not high on our todo list, and we don't expect any immediate actions here (at least form our side).

Thank you for your thoughts.
I don't think source generators would really work in this case - they are a "compile-time thing", and at runtime descendant types may be dynamically loaded or generated (e.g., plugins). T

[2022-03-15 05:12] kant2002 commented on #1441
We can come up with something which works like ComWrappers. Each library can be responsible for their own drawing. But so far, this is theoretical exercise. Again, seems to be overkill, given that source generators has a price.

[2022-03-15 05:44] hanjunjun commented on #6843
sorry, i'm using google translate

[2022-03-15 05:45] hanjunjun commented on #6843
I use AForge.dll components, the released program will crash when running, but it is normal to run in debug or release mode

[2022-03-15 05:45] hanjunjun commented on #6843
I use AForge.dll components, the released program will crash when running, but it is normal to run in debug or release mode

[2022-03-15 06:03] RussKie commented on #6843
@hanjunjun you need to debug your program and find the root cause. If you can demonstrate the issue is caused by Windows Forms runtime we can investigate it further. If the issue is caused because you use AForge.dll you'll need to seek support from the author of that library.

0xc0000005 error in your screenshot is a Windows level issue, which may be caused my multitude of different reasons (such

[2022-03-15 09:06] weltkante commented on #6729
probably related to/duplicate of #3456

Clipboard is a machine-global resource and access needs to be serialized across multiple test classes. While we have a central test class for clipboard tests, there are the occasional API methods which indirectly modify the clipboard, and it will be nontrivial to find all tests that need to be executed sequentially.

[2022-03-15 09:44] weltkante commented on #3493
I looked through the main assembly for methods taking `byte[]` or `Stream` but there are very few

- Cursor constructor, as noted in the original post
- the audio API of the Clipboard and DataObject
- the ResX Writer has methods for serializing binary data

Any suggestions for anything else to look for? I'll update the post with an API proposal so you can discuss which of these you actually want

[2022-03-15 09:51] kirsan31 commented on #3263
That PR not fix this issue _directly_, it's fix original problem (font scaling). After that, this issue is becoming almost irrelevant.
I also replied in PR with more details.

[2022-03-15 09:59] RussKie commented on #6729
I probably ought to move all clipboard related tests to https://github.com/dotnet/winforms/tree/main/src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests, as those are run serially.

[2022-03-15 14:18] ArtemTatarinov opened #6846 "Same names for TreeView and ListView items"
Rename items at the TreeView and ListView instances at the internal test app `WinformsControlsTest` to make them differ as discussed here: https://github.com/dotnet/winforms/pull/6435#discussion_r812324608

[2022-03-15 14:43] dehghani-mehdi opened #6847 "`Windows Forms Designer` Documentation link is dead, README needs to be updated"
The mentioned link in [Windows Forms Designer](https://github.com/dotnet/winforms#windows-forms-designer) section of README is dead and needs to be updated.

[2022-03-15 15:52] callanac opened #6849 "Windows forms: Designer error "Value cannot be null. (Parameter 'propertyName') ""
.NET Version: 5.0
VS2019 and VS2022
TargetFramework for all projects I tested is net5.0-windows.

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

My team are currently unable to load any of the Windows forms in our Visual Studio project due to this error: Value cannot be null. (Parameter ‘propertyName’)

This error occurs when we double click on the [Dialog

[2022-03-15 17:02] dreddy-work commented on #6849
@callanac , Can you help providing a sample app that repro this?

[2022-03-15 19:35] dsplaisted commented on #6829
What does the (non-designer) runtimeconfig.json look like?

Can you [share a binlog](https://aka.ms/binlog) including the `_GenerateDesignerRuntimeConfigFile` target?

[2022-03-15 19:48] dreddy-work commented on #6829
Copied binlog here: "\\clickonceqa\ClickOnce\temp\dreddy\msbuild.binlog"

Content of the runtimeconfig.json are

[code]
and content of deps.json are

[code]

[2022-03-15 20:04] dreddy-work commented on #6829
Here is the copy from repro machine where build is failing  and (non-designer) runtimeconfig.json is not yet generated. need to change extension to zip to upload here.
[msbuild.zip](https://github.com/dotnet/winforms/files/8256726/msbuild.zip)
.

[2022-03-15 21:31] juandfranco commented on #6849
Hi, This error can be replicated when you change a form to localizable, in an already existing form, when I did this same error appeared

[2022-03-15 21:59] dreddy-work commented on #6849
@juandfranco , i tried that scenario but couldn't. Can you share your app and an animation for the operation you are performing?

[2022-03-15 22:15] tbolon commented on #4895
I have played just a few minutes with your code.

Did you already think about having a transient DataContext? Where the parent datacontext is by default visible to all contained controls? It's a concept well-known in WPF and it has its advantages but also drawbacks. I am not sure it will fit winforms, basically because the BindingSource is still the way to go and already requires a to add a compon

[2022-03-15 22:28] tbolon commented on #4895
Also I did not understand what is the goal of the BindableCommandComponent. The ToUpper menu did nothing on your example and the bindableCommandComponent was bind to this command.

PS: Feel free to ignore my messages if your are focused on other things. I suppose everything will be more clear when you will post in the blog about this topic.

[2022-03-15 22:31] juandfranco commented on #6849
@dreddy-work I attach a gif and a branch so you can see the error, thanks

![ERROR VS REPORT](https://user-images.githubusercontent.com/22731770/158482931-5557215b-df78-4d90-a18d-0d0768b27545.gif)

https://github.com/juandfranco/PDFMassivePrinter/tree/ErrorIDE

[2022-03-15 23:43] dreddy-work commented on #6849
Thanks @juandfranco, now i can repro it. We will get the fix out soon.

[2022-03-16 01:01] #4433 closed

[2022-03-16 05:19] RussKie commented on #6849
AB#1495181 likely has the same root cause.

[2022-03-16 13:30] ArtemTatarinov opened #6852 "MonthCalendar accessible objects are leaking in memory"
* .NET Core Version: 7.0
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
MonthCalendar accessible objects are left in memory after the MonthCalendar control instance was inspected with accessibility tool (like Accessibility Insights or Inspect) and the form with MonthCalendar is closed, garbage is collected, but accessibility tool is still opened.

Report f

[2022-03-16 13:59] JosefPapug commented on #6798
Same problem with e.g. Axure application. Still bad in 22572.

[2022-03-16 14:58] lukos opened #6854 "Cannot run dotnet core WinForms app on .Net 6.0"
* .NET Core Version:
6.0.3

* Have you experienced this same bug with .NET Framework?:
No but not directly comparable.

**Problem description:**
Created a new .Net 6.0 winforms app. Built the published content with:

`dotnet publish EmailTracker.sln --configuration Release --runtime win10-x64 --no-build --self-contained false`

Deployed via CD server onto server and attempted to run the exe. Error

[2022-03-16 17:16] dreddy-work commented on #6849
Yes. @juandfranco , i observed localized resx file for the Form are under the root node instead of under the 'Form' node, like in the following pics.  I am assuming you migrated these applications to .NET core here.
Expected hierarchy:
![image](https://user-images.githubusercontent.com/36968667/158646076-9681ad7e-e1d8-4e34-acd7-4e56fc7da3e3.png)

Current hierarchy in the sample project:
![image](h

[2022-03-16 19:52] dreddy-work commented on #6854
Unfortunately, this is by design. Any application built against .NET 6.0.3+ will be able to run only on machines with .NET 6.0.3+.  Please see https://github.com/dotnet/winforms/issues/6663 for more details.

[2022-03-16 19:54] #6854 closed

[2022-03-16 19:58] dreddy-work commented on #6847
Thanks @dehghani-mehdi for reporting this. updated the link.

[2022-03-16 19:58] #6847 closed

[2022-03-16 20:09] dreddy-work commented on #6854
Apologize, I misread you were trying to run it on 6.0 but not on 6.0.3. Let us try repro this.

[2022-03-16 20:15] lukos commented on #6663
This is all very depressing. .Net is 20 years old and it seems like MS still can't get the versioning of assemblies correct. I honestly think I spent 50% of my time coding an app and the rest trying to get builds and deployments working. It is not acceptable for a company with as much experience and expertise as MS to just say, "yeah this was wrong but we'll sort it out later". Not everyone has th

[2022-03-16 20:16] lukos commented on #6854
The 6.0 is just what is available in the project target properties i.e. you can choose core 2.2, 2.2, 3.1 5 or 6

[2022-03-16 23:01] TcNobo commented on #6663
Adding .NET 6.0.3 as a requirement fixed the issues I was experiencing. The TcNo Account Switcher I'm working on includes a C++ fallback to verify system requirements are met, and will auto-download new runtimes. While it's not a huge issue to me, it was incredibly confusing that it just broke after updating VS/Windows...

[2022-03-16 23:24] #6797 closed

[2022-03-16 23:25] RussKie commented on #6797
The fix will go out in 17.2 Preview3.

[2022-03-17 01:03] #6253 closed

[2022-03-17 01:30] RussKie commented on #6849
I spent some time tinkering with MSBuild, and I think the following workaround should assign correct dependencies to all loc'ed resources with non-standard locale names:
[code]

![image](https://user-images.githubusercontent.com/4403806/158718569-ee9b721b-e731-41dd-99be-89673f8d24cf.png)

[2022-03-17 06:57] #6849 closed

[2022-03-17 07:32] RussKie commented on #6849
The fix will go out in 17.2 Preview3

[2022-03-17 10:47] EgorRudakov2 opened #6855 "System.Resources.Extensions.DeserializingResourceReader cannot load an assembly if .NET WinForms controls are used inside a C++ app"
* .NET Core Version: 6.0.201

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

I have a native C++ app that shows WinForms form via proxy managed c++ dll (built with .NET Core Runtime Support (/clr:netcore) switch). Deserialization of the form fails if the form resx file contains a value of a type defined in a 3rd party assembly, since assembly loading fails

[2022-03-17 14:11] kirsan31 opened #6858 "Empty finalizers"
* .NET Core Version: _7.0 now_

* Have you experienced this same bug with .NET Framework?: _probably yes_

**Problem description:**

List of empty finalizers through `Dispose(false)` that doing nothing:
~[ResXResourceReader](https://github.com/dotnet/winforms/blob/55e1755b579395e7e22fecf340905c79ccfa9b1a/src/System.Windows.Forms/src/System/Resources/ResXResourceReader.cs#L194)~ and ~[ResXResourceW

[2022-03-17 16:40] kirsan31 opened #6859 "DataGridView not dispose old elements"
* .NET Core Version: all up to 7.0 p2

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
As I mentioned in https://github.com/dotnet/winforms/issues/6858 `DataGridView` not dispose old data on `DataSource` change. This is lead to 2 problems:
1. All this stuff are going to finalization query because we have unnecessary finalizer here #6858.
2. If we have a `Co

[2022-03-17 22:31] dreddy-work commented on #6858
THanks @kirsan31 for bringing this up. Do you mind pushing a PR for this?

[2022-03-17 22:40] dreddy-work commented on #6859
Thanks @kirsan31. ownership and lifespan of the DataSource need to be investigated here. Given that this has been the case since .NET framework, this will be on low priority for the team but should be able to help you if you get chance to investigate this further.

[2022-03-17 22:50] Tragen opened #6860 "User and GDI objects memory leak"
* .NET Core Version:
5.0.406 and 6.0.201

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
User and GDI objects are leaked in certain scenarios.

**Expected behavior:**
The memory should be cleaned up correctly even without Dispose, latest when the GC was running once.

**Minimal repro:**
Create a new project with Windows Forms.
Create a second form and add

[2022-03-17 22:57] dreddy-work commented on #6834
Thank you @roland5572 for bringing this up. Unfortunately, this would require coordination between multiple teams like Runtime, CPS, Winforms and Visual Studio. This is a nice to have but without business justification would fall on a low priority list. We would be happy to look if there is significant change that require this.

[2022-03-17 22:57] #6834 closed

[2022-03-17 23:00] dreddy-work commented on #6860
Please refer to the remarks from this documentation. https://docs.microsoft.com/dotnet/api/system.windows.forms.form.showdialog?view=windowsdesktop-6.0

[2022-03-17 23:00] #6860 closed

[2022-03-18 01:51] Olina-Zhang commented on #6854
We cannot repro this issue, after published app with the command "dotnet publish EmailTracker.sln --configuration Release --no-build --self-contained false", on a clean machine, without 6.0.3 installed, a dialog about following downloading pops up. And once we installed it, app can be ran successfully.
![image](https://user-images.githubusercontent.com/26474449/158922113-727264fc-0f6b-4abf-8b79-31

[2022-03-18 02:06] RussKie commented on #3493
Thank you for the follow up, @weltkante.
If there's no a strong business justification, do you still see a value in taking this proposal further? Or would it be ok with you to close this proposal until there is a need for any of these overloads?

[2022-03-18 02:51] RussKie commented on #6854
I am afraid I can't repo the issue either.

1. created a brand new Windows Forms app
[code]
3. Publish
[code]
3. Copy to a brand new VM that has no .NET runtime or SDK installed
4. Run the app, follow the prompt to download the **desktop** runtime
5. Install the desktop runtime
6. Run the app

@lukos were you following the same steps? If this issue specific to a specific workstation or occurs on d

[2022-03-18 03:09] roland5572 commented on #6834
@dreddy-work Thank you. If it is difficult to achieve this effect. I guess there is an easier way. Maybe it might be useful in the future.

It just needs a blank Attribute. When Visual Studio find this Attribute, doesn't open the Form Designer.

[code]

There is no need to modify the existing system class, it just needs to be recognized by Visual Studio.

[code]

[2022-03-18 03:15] hanjunjun commented on #6843
I found the reason:
It is because AForge cannot find the dynamic library due to single-file packaging, so it crashes
thanks

[2022-03-18 03:15] #6843 closed

[2022-03-18 06:50] kirsan31 commented on #6858
Will do...

[2022-03-18 06:58] RussKie commented on #6834
This will still require a coordination from multiple teams across several codebases. The attribute will need to be added into .NET runtime (for example, let's imagine .NET 7), then dotnet/project-system will need to be made aware of the attribute. The it'll somehow needs to flow into VS, which runs on .NET Framework 4.7.2... It's a very significant effort which likely won't have a significant impa

[2022-03-18 07:37] kirsan31 commented on #6859
No it's not about DataSource, it's about that all elements (`DataGridViewCell`, `DataGridViewRow`, `DataGridViewColumn`) are replaced on `dataGridVie.DataSource = dataSource;` (and may some other scenarios too).

https://social.msdn.microsoft.com/Forums/silverlight/en-US/fdba08b0-5c62-47a4-be73-48d11372fa02/colossal-memory-leak-contextmenu-on-datagridrow
https://stackoverflow.com/questions/2027036

[2022-03-18 08:15] weltkante commented on #3493
works for me 👍

[2022-03-18 09:48] lukos commented on #6854
It fails the same way on a number of deployment targets with the same problem. Did you try on Windows Server 2016? Not sure why it should matter but it might.

The servers also have other dotnet runtimes installed but didn't have desktop 6.0 until I ran the app, used the link and installed the new runtime.

This is a real shame because I have fallen at the first hurdle, and this makes winforms v6.

[2022-03-18 09:58] lukos commented on #6854
![image](https://user-images.githubusercontent.com/581018/158981871-64204e9a-e6ab-4a1b-addb-81798a68f764.png)

[2022-03-18 13:06] Tragen commented on #6860
Thank you very much. I must have missed this that it only hides the form.
I still thought that when the variable is out of scoped, it gets disposed automatically.

[2022-03-18 17:40] Tanya-Solyanik commented on #6636
@MelonWang1 , @SergeySmirnov-Akvelon  - this is a low priority bug per accessibility export -

Scott O'Hara
[commented Feb 14](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1101503#3005289)

[code]

[2022-03-18 17:40] #6636 closed

[2022-03-18 19:05] janseris opened #6869 "Cannot search in properties"
### Environment

VS 2022 (17.1.1)

### .NET version

.NET 6

### Did this work in a previous version of Visual Studio and/or previous .NET release?

.NET Framework 4.8

### Issue description

search bar in control properties is not present

### Steps to reproduce

open Windows Forms designer, click F4 to show properties, select any designable control, search bar will be visible which allows to qui

[2022-03-19 03:22] kant2002 commented on #3992
My guess that this issue appears because of following situation.

1. Accessibility object ask TrackBar set Value to 100
2. TrackBar send message using `User32.SendMessageW(this, (User32.WM)TBM.SETPOS, (nint)BOOL.TRUE, reflectedValue);`
3. Somehow event does not send. My guess that it is message blocked by UIPI. See https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-sendmessage#r

[2022-03-21 08:50] AngeloCresta commented on #6798
The external issue has been fixed in Version 10.0.22579.1 (Dev Channel), and, from release notes:
_Fixed an issue which was causing the mouse to be invisible in fields of certain apps, as well as some unexpected cursor related app crashes in recent flights._
[https://blogs.windows.com/windows-insider/2022/03/18/announcing-windows-11-insider-preview-build-22579/](url)

[2022-03-21 17:39] StuAG opened #6881 "Closing an old WinForm affects ToolStrip ImageLists in a new Winform"
### .NET version

.Net Core 6.0.200

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

For our WinForms Application, we have a number of global classes which are used between various forms. One of which is for ToolStrips where we store a global ImageList class, which is then loaded to each ToolStr

[2022-03-21 18:32] janseris opened #6882 "Allow using ApplicationConfiguration when the project is not runnable"
### Is your feature request related to a problem? Please describe

Hello,

today I came across the new feature of WinForms in .NET 6 - ApplicationConfiguration  which is great. It allows configuring the UI of the application directly in project settings.

I have a Windows Forms Application which uses backend with EF Core 6 etc.
There are multiple layers.
Due to this, the application should consume

[2022-03-22 01:15] janseris commented on #6869
After 4 days of work, the search bar has appeared (once).
![image](https://user-images.githubusercontent.com/64279914/159388063-338d73e3-2ca1-4335-a353-0fefa643e256.png)

[2022-03-22 03:52] #6621 closed

[2022-03-22 06:46] RussKie commented on #6882
Thank you for the suggestion, but this behaviour is by [design](https://github.com/dotnet/designs/blob/main/accepted/2021/winforms/streamline-application-bootstrap.md#implementation-details):

`ApplicationConfiguration.Initialize()` can only be called at the very start of an app, which is generally the `Main()` method. If the bootstrap code were to be located in a library project, there's no guara

[2022-03-22 06:46] #6882 closed

[2022-03-22 12:28] ArtemTatarinov opened #6885 "TextBox accessible objects are leaking in memory"
### .NET version

7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

`TextBox` accessible objects are left in memory after the `TextBox` control instance was inspected with accessibility tool (like `Accessibility Insights` or `Inspect`) and the form with `TextBox` is closed, garbage is collected, but acce

[2022-03-22 17:17] dreddy-work commented on #6259
Fix here has introduced a regression. Looking at it wholistically in the next PR and reverting earlier fix here.

[2022-03-23 02:12] RussKie commented on #6798
Closing as the underlying issues is fixed.

[2022-03-23 02:12] #6798 closed

[2022-03-23 02:46] RussKie commented on #6854
@lukos: yes, these workloads look good. On my VM I only installed windowsdesktop-runtime-6.0.3-win-x64.exe, which installed the following:
![image](https://user-images.githubusercontent.com/4403806/159613066-809120b9-e561-4fae-befd-8d92a0cd1433.png)
![image](https://user-images.githubusercontent.com/4403806/159613213-d959a99c-2b9d-4d63-89b1-bfdc2d794396.png)
![image](https://user-images.githubuser

[2022-03-23 06:06] RussKie commented on #6881
Looks like the behaviour was changed in .NET 5.0 RC1 timeframe in https://github.com/dotnet/winforms/pull/3676 addressing a possible memory leak.

There's another (possibly better) workaround:
[code]

I'm a little skeptical we'd meet the servicing bar to have this fixed in .NET 6, but I'll check.

[2022-03-23 08:36] Olina-Zhang commented on #6854
Tested it on Windows server 2016, after installed .Net 6.0.3, the published app can be launched successfully:
![image](https://user-images.githubusercontent.com/26474449/159657206-9db4fa2e-3be7-4b08-91bd-22c4676b8927.png)

[2022-03-23 09:00] lukos commented on #6854
@Olina-Zhang Did you test this with the same build parameters for dotnet publish? I am trying to work out what other difference there could be and why this is not working on our servers.

[2022-03-23 09:20] Olina-Zhang commented on #6854
@lukos I just removed `--runtime win10-x64` from command `dotnet publish EmailTracker.sln --configuration Release --runtime win10-x64 --no-build --self-contained false` because I can't use it publish app successfully.

[2022-03-23 09:33] lukos commented on #6854
Thanks @Olina-Zhang I've just found out what wasn't working.

I was passing `--no-build` to `dotnet publish` because we have already run dotnet build and run automated tests so it seemed pointless to build it again as part of publish. I removed that flag and now it works.

I'm not sure if that is strictly a bug but is definitely a gotcha (I have 20 years .Net programming so I'm not a noob) but not

[2022-03-23 12:26] SavagingSky opened #6896 "Screenreaders don't announce window title when application opens."
### .NET version

6.0

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

I haven't checked .net core, but it did the same in .net 5.0.

### Issue description

When an application loads, the form is in focus, but the active screen reader doesn't announce it's title when it should.
I have tried several workarounds, non of them make sens

[2022-03-23 14:04] Rand-Random opened #8842 "SystemIcons outdated?"

[2022-03-24 05:48] kant2002 commented on #5163
# Problematic API which rely on the built-in COM

During my ComWrappers work, I start noticing API which make my life miserable. I would like to document them, so some solution eventually would be proposed for each of them, on case-by case basis.

[code]
Will update this message when I found more of these classes.

[2022-03-24 05:59] willibrandon commented on #5884
## Background and motivation

As mentioned by @roland5572 at the start of this issue, Winforms currently supports drag and drop but it displays the old school style drag cursor with no support for drag images or drop descriptions. Since Windows Vista, drag and drop has the ability for an application to set and display drag images and drop descriptions to provide the user with additional details re

[2022-03-24 07:22] willibrandon commented on #5884
Thank you everyone for being so patient, this isn't something that is documented very well and I went in not knowing any of this stuff. I never would have guessed what path this would lead me down. I now know the data object intimately and am familiar with the various formats and storage mediums, and how to read and write to and from the global memory handles. It feels like somewhat uncharted terr

[2022-03-24 07:43] SergeySmirnov-Akvelon commented on #6652
Hi @merriemcgaw, @Tanya-Solyanik, @dreddy-work.

I have a question about the properties that a `ToolStripScrollButton's` accessibility object should have.
![image](https://user-images.githubusercontent.com/23376742/159866659-9d8cb09a-3352-4556-876b-40e00657c45f.png)

We call it a `ToolStripScrollButton`, although in fact the `StickyLabel` is responsible for its operation. In addition, the user, al

[2022-03-24 11:24] StuAG commented on #6881
Thanks for looking at this.

That other workaround isn't ideal for our application as it would require setting every ToolStrip on each form to null on form close. For us, it's easier to have the ImageList reloaded when the ToolStrip is initialised (all our ToolStrips inherit a common class so it only needs to be set in one place) rather than setting to null on each form. But it could work better f

[2022-03-24 12:41] vladimir-krestov commented on #5487
@Olina-Zhang, could you please test this issue? It seems, that #6620 fixed this issue and we can close it.
Please use F4 button or mouse to expand the calendar.
As I understand, it's expected behavior:

![image](https://user-images.githubusercontent.com/49272759/159918145-b1f6209d-45ac-432e-9234-efe4e3bcb9ef.png)

Please compare with previous versions.

[2022-03-24 23:53] merriemcgaw commented on #6652
I like `ToolStripScrollButton` for the name just fine. The default action is to scroll down to make more stuff visible and that doesn't seem to really have a default action at least in the sense of executing some code that the developer sets like the `Click` Event of a `Button`. @Tanya-Solyanik and I are heads down this week on a high priority project. We should take a look at this next week.

[2022-03-24 23:58] merriemcgaw commented on #5884
This is absolutely fantastic! No worries about taking time - it's your feature 😄. The next step is our internal team review of the API proposal, and then we'll take it to the .NET API proposal meeting for the official review. We're in the middle of some very high priority work at the moment, but we'll get to the WinForms review sometime in the next couple of weeks.

This is amazing work and we're

[2022-03-25 12:53] Cassie-Li01 commented on #6666
Verified on Version 17.0.8 Preview 1.0 [32324.263.d17.0], it is fixed

[2022-03-27 01:30] 15092368540 opened #6908 "String.Compare() Can not work in .Net 6"
### .NET version

.Net 6.0

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

.NET Core 3.1

### Issue description

Source code example:
[StrCompare.zip](https://github.com/dotnet/winforms/files/8356647/StrCompare.zip)

### Steps to reproduce

Source code example

[2022-03-28 03:40] vsfeedback opened #6915 "NET 6, Windows.Forms ColorEditor, missing resources"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NET-6-WindowsForms-ColorEditor-missin/1700906)._

---
Hi, the screenshot should explain everything.
A missing resource in Windows.Forms.Design.dll.
The problem is easy to reproduce, for example:
In a PropertyGrid Control, Color Property, DropDown, right click on a Custom Color Field what

[2022-03-28 03:53] Olina-Zhang commented on #6915
**Repro steps:**
1. Create a Winforms .Net 6.0/7.0 applciation
2. Add a propertyGrid and a button to form designer
3. Bind this button to propertyGrid's selectedObject property
[WinFormsApp13.zip](https://github.com/dotnet/winforms/files/8359487/WinFormsApp13.zip)
4. Build and run application
5. Focus on BackColor property in PropertyGrid, and expand its dropdownlist, goes to Custom tab, and right

[2022-03-28 06:15] Olina-Zhang commented on #5487
Verified this issue in the latest .Net 7.0 build, it is fixed: when expand datetimepicker calendar by F4, Alt+Down or mouse, Narrator can announce the expand state now.
![image](https://user-images.githubusercontent.com/26474449/160337284-c101a43e-fc31-40b2-a1f8-f718e1e1b707.png)

[2022-03-28 06:15] #5487 closed

[2022-03-28 06:21] generatorXu opened #6919 "ToolboxSnapDragDropEventArgs is not implemented."
### .NET version

6.0

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

no

### Issue description

While draging a toolbox item from an IToolboxService (implemented by myself) onto a custom control at design time, the corresponding designer's OnDragDrop() won't be hit. and an exception: NotImplementedException was thrown by the  cons

[2022-03-28 09:45] Junjun-zhao commented on #6748
Verified it on dotnet-sdk-7.0.100-preview.4.22175.5, it has been fixed.

[2022-03-28 13:33] Ashley-Li commented on #6704
Verified this issue in .Net 6.0.202 service build, it is fixed that no exception was throwing when clicking using mouse or press "Tab" keyboard on the value of propertyGrid's property. Please see below test result:
![result](https://user-images.githubusercontent.com/56664234/160409170-ff7c3494-bba9-469b-969d-819d08158efe.gif)