[2020-06-15 17:19] tarekgh commented on #3121
We have a bug in .NEt 5.0 which currently @safern working on fixing it. https://github.com/dotnet/runtime/issues/37121

[2020-06-15 17:24] merriemcgaw commented on #3446
@KlausLoeffelmann  - remind me to get it on the agenda, absolutely!

[2020-06-15 21:58] weltkante opened #3450 "Leaking DeviceContext instances in unit tests"
**.NET Core Version:**
github master

**Have you experienced this same bug with .NET Framework?:**
unknown (cannot debug Desktop Framework source to determine if ErrorProvider leaks there as well)

**Problem description:**
While investigating control handle leaks in the unit tests I also noticed significant `DeviceContext` leaks. They are not permanent leaks, the GC does clean them up, but they ar

[2020-06-15 22:02] weltkante commented on #3450
/cc @JeremyKuhne these are probably interesting to look at whenever you get around to turning `DeviceContext` into a struct. They either need to be fixed or need a replacement finalizer, otherwise the leaks currently cleaned up by GC would become permanent leaks when switching to structs.

[2020-06-15 23:24] JeremyKuhne commented on #3450
@weltkante The hope is that we can keep almost everything on the stack. In any cases where we're forced to maintain a longer lifetime I'll look for a separate and more targeted tracking mechanism.

[2020-06-16 06:24] RussKie commented on #3029
I've started going through history again, and ran tests against 3.1.2, and it appears to be a regression all the way back to 3.1... So we'll need to service it.

[2020-06-16 08:20] #3419 closed

[2020-06-16 08:39] Ryuugamine commented on #3299
I have investigated this issue and as I found out we can't control what NVDA will read after selecting an item on the screen. So, we trigger events and NVDA reads the information as defined in the NVDA configuration, Therefore, I think this is an NVDA issue.

[2020-06-16 09:04] hughbe commented on #3391
Another case in https://github.com/dotnet/winforms/pull/1932
https://dev.azure.com/dnceng/public/_build/results?buildId=689209&view=artifacts&type=publishedArtifacts

[2020-06-16 09:06] hughbe commented on #3450
We should fix this right?

[2020-06-16 09:24] weltkante commented on #3450
If we are going to replace DeviceContext by a struct anyways its not worth the effort to correct this, in particular since changing the dispose pattern may accidently introduce new edge cases.

Right now it happens to work out correctly even if things go wrong, several mistakes end up aligning just right so that the indeterministic finalizer order doesn't make a difference in this scenario, the on

[2020-06-16 09:59] Jessie-Zhang01 opened #3452 "[Accessibility] ComboBox control causes Narrator and Inspect to stop responding"
* .NET Core Version:
.Net 5.0.100-preview.7.20314.1 from 5.0 master branch

* Have you experienced this same bug with .NET Framework?:
No

**More Info:**

1. This issue can also reproduce on without Private.
2. This issue can reproduce in RTL and LTR environment.

**Minimal repro:**

1. Open the attached ‘WindowsFormsApp3’ application in VS, then build and run it.
2. Open Narrator or Inspect, then

[2020-06-16 10:24] Jessie-Zhang01 opened #3453 "[Accessibility] The narrator announcement of content is confusing when using a mouse to increase NumericUpDown value"
* .NET Core Version:
.Net 5.0.100-preview.7.20314.1 from 5.0 master branch

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**

1. Extract “Private_1588_LTR_without_ComboBox.zip” and open in VS, then build and run this application.
2. Start Narrator and focus on NumericUpDown, using mouse to increase NumericUpDown value and observe Narrator behavior.
[Private_1588_L

[2020-06-16 10:26] Marie-Shi opened #3454 "[Accessibility]The narrator announces twice and announces additional "1" when value more than "10" using Keyboard "UP/Down" arrows to change NumericUpDown value"
* .NET Core Version:
.Net 5.0.100-preview.7.20314.1 from master branch + VS2019 with latest core designer

**Steps to reproduce:**
**Scenario a:**
1.	Extract “Release dlls.zip” and replace them to .Net 5.0.
[Release dlls.zip](https://github.com/dotnet/winforms/files/4786001/Release.dlls.zip)

2.	Extract “Private_1588_LTR_without_ComboBox.zip” and open in in VS, then build and run this application.

[2020-06-16 10:29] Jessie-Zhang01 opened #3455 "[Accessibility] Narrator cannot announce the content in RichTextBox."
* .NET Core Version:
.Net 5.0.100-preview.7.20314.1 from 5.0 master branch

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**

1. Extract “Private_1588_LTR_without_ComboBox.zip” and open in VS, then build and run this application.
2. Enter "rich" content into RichTextBox, then start Narrator and focus on RichTextBox and observe Narrator behavior.
[Private_1588_LTR_

[2020-06-16 11:49] weltkante opened #3456 "Flaky Clipboard Unit Tests"
**.NET Core Version:**
master

**Have you experienced this same bug with .NET Framework?:**
no

**Problem description:**
[Noticed](https://github.com/dotnet/winforms/pull/1932#issuecomment-644700150) as a flaky test:

      Assert.Equal() Failure
                  (pos 1)
      Expected: abc
      Actual:   a
                  (pos 1)
      Stack Trace:
        F:\workspace\_work\1\s\src\System.

[2020-06-16 19:01] terrajobst commented on #3301
Discussed over email. Looks good as proposed!

[2020-06-17 00:42] merriemcgaw commented on #3299
There is a rule that states if one of the main screen readers (Narrator in this case) presents the content appropriately then we are compliant. In this case we are presenting the right content but it appears that Narrator is expecting older behavior or just reading excess information.

@guybark to confirm my conclusion. If @guybark says we're good here we can close the issue.

[2020-06-17 01:06] RussKie opened #3459 "Replace `== null` and `!= null` with `is null` and `is not null`"
**Expected behavior:**

Scrub the codebase to replace all instances:
1. ~`== null` with `is null`, and~ done
1. `!= null` with `is not null` (**when C# 9.0 is generally available**)

**Expectations:**

1. Scrubs are done on per-project basis, one PR per project
2. PRs must not contain any other changes

[2020-06-17 02:43] Vino-Wang opened #3460 "The icon is the same for both ListBox & CheckedListBox controls in Toolbox window"
* .NET Core Version:
5.0 Preview 7 5.0.100-preview.7.20316.3

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
The icon is the same for ListBox & CheckedListBox controls.
![Same](https://user-images.githubusercontent.com/18568603/84849160-4b61de00-b087-11ea-98a8-75df217ad0c7.png)

**Expected behavior:**
The icon should not be the same.
![NotSame](https://user

[2020-06-17 03:25] RussKie commented on #3456
I wonder if we could employ `Trait` decorations, e.g. something like:

[code]

...and then update our CI configs to run tests separately:
https://github.com/dotnet/winforms/blob/0f90af477f1aa7da73828413b5d335adb45950ed/eng/ci.yml#L98-L107

[code]

Got some inspiration from http://www.brendanconnolly.net/organizing-tests-with-xunit-traits/

[2020-06-17 04:11] #1878 closed

[2020-06-17 06:22] RussKie commented on #3029
I've compared net472 vs netcore3.1

<details>
<summary>Click for lots of pretty pictures...</summary>

| Parent | Child | Screenshot | Screenshot |
|--- | --- |--- | --- |
| - | - | ![image](https://user-images.githubusercontent.com/4403806/84857307-13b95d00-b0ac-11ea-9c79-fa921f61ce2e.png)<br/>![image](https://user-images.githubusercontent.com/4403806/84860225-0a32f380-b0b2-11ea-9013-e49f78784567

[2020-06-17 07:01] kirsan31 commented on #3029
@RussKie

Yea, the reason of not detecting it so long is that  99% of people using the MDI with MainMenuStrip, and with MainMenuStrip everything is fine :)

[2020-06-17 07:13] RussKie commented on #3029
Yep, figured as much :)

[2020-06-17 17:00] harborsiem opened #3464 "Vista part of the FolderBrowserDialog should be more compatible"
* .NET Core Version:
.NET Core SDK (gemäß "global.json"):
 Version:   3.1.301
 Commit:    7feb845744

Laufzeitumgebung:
 OS Name:     Windows
 OS Version:  10.0.18363
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.301\

Host (useful for support):
  Version: 3.1.5
  Commit:  65cd789777

* Have you experienced this same bug with .NET Framework?:
No

**Pro

[2020-06-17 19:07] sashatankov commented on #3459
Hey, I'd like to work on this one

[2020-06-17 21:41] hughbe commented on #3399
Okay can repro in #3466
I'll work on a fix

[2020-06-17 23:25] RussKie commented on #3459
Awesome! Let's do it gradually, per project, to reduce churn and conflicts.

[2020-06-18 06:47] sashatankov commented on #3459
Do you want me to do any particular project? if not, then I randomly choose one

[2020-06-18 07:00] #3175 closed

[2020-06-18 10:29] hughbe commented on #3399
Having a slight issue here. Basically, it seems like `EM_STREAMOUT` and `EM_FINDTEXT` don't have any support for including hidden values. So I don't think we can actually get `StreamOut` or `FindText` to respect hidden strings at themoment.

I created a subclass and called `EM_GETTEXTEX` as an experiment:
[code]
However, this doesn't seem to respect hidden text either...
[code]
I ran the above tes

[2020-06-18 10:30] hughbe commented on #3358
Can still reproduce this in https://dev.azure.com/dnceng/public/_build/results?buildId=693597&view=ms.vss-test-web.build-test-results-tab&runId=21511456&resultId=101437&paneView=debug which is rebased

[2020-06-18 10:33] hughbe commented on #3399
Bit of an awkward one too - currently `TextLength` in .NET Core does include hidden text but `Text` does not (see the PR), so we end up in odd situation where `Text.Length != TextLength`

[2020-06-18 10:41] #3294 closed

[2020-06-18 11:22] RussKie commented on #3358
I'll check crash dumps tomorrow

[2020-06-18 11:24] weltkante commented on #3358
I've done a few runs but can't reproduce locally. I've only been given access to one dump after the 2nd fix was merged, and that dump was slightly corrupted so mixed mode debugger couldn't attach. Feel free to send me other dumps or links if I should be looking into them.

[2020-06-18 12:06] weltkante commented on #3358
@marklio ping for the available TTD trace [above](https://github.com/dotnet/winforms/issues/3358#issuecomment-643175448) in case you missed it.

[2020-06-18 12:13] weltkante commented on #3399
That can be bad, I don't know if WinForms itself assumes these match, but I certainly have written code that does, and I'm sure other people have as well. Considering .NET Core doesn't allow downgrading the RTF control anymore at least this mismatch needs to be fixed. @RussKie does that need a separate issue?

[2020-06-18 12:15] hughbe commented on #3399
Potential fix would be to accept the new behaviour of not including hidden text and updating TextLength to have NOHIDDENTEXT flag

[2020-06-18 15:58] weltkante commented on #3459
You might want to fill out your template in the PR #3469

Also it would be good to get confirmation that potential precedence changes between `==` and `is` operators do not have edge cases that require adding braces.

[2020-06-18 17:07] marklio commented on #3358
@weltkante Thanks for the ping. I DID miss it. I'll try to look at that today.

[2020-06-18 19:06] Tanya-Solyanik commented on #3294
@vladimir-krestov - could you please create a new "servicing-consider" bug for 3.1 when the list of affected controls is finalized?

[2020-06-18 19:55] weltkante commented on #3464
Note that `D:` sometimes means "current directory on drive D" - does `D:\` work?

I do not agree, if no selected path is specified it should be left to Windows to select the "common choice". "Dieser PC" is a choice many technical users may want, but non-technical users often want their "Documents" folder or similar. This is also the default for other applications, so WinForms should not require sp

[2020-06-18 20:00] vladimir-krestov commented on #3294
Okay, I will.

[2020-06-19 01:29] JeremyKuhne commented on #3399
We should clearly fix this for 5.0. We can review what to do for the other versions once we have a fix.

@amy-li Just to be clear- on the same machine setting the different TFM's causes the behavior you describe (4.6.2 no problem, 4.7.x problem, etc.). If the state changes on the same machine this means the problem is behind an AppContext switch.

[2020-06-19 02:58] RussKie commented on #3358
No crash dumps for this one.
There's a test failure, which looks like a general instability:
[code]

[2020-06-19 03:05] RussKie commented on #3399
We had a further chat with Jeremy, we want to preserve the original behavior, if at all possible.

[2020-06-19 03:07] RussKie commented on #3399
Let's keep it a part of this work, unless there is no way we can preserve the original behaviour.

[2020-06-19 07:04] RussKie commented on #3298
Closing as we can get crash dumps.

[2020-06-19 07:04] weltkante commented on #3358
I think its still the same memory corruption, it makes no sense that a bitmap that always has the same content "sometimes" is processed differently and adds no images to the strip. Memory corruption doesn't always have to lead to a crash.

[2020-06-19 07:08] weltkante commented on #3298
@Russkie do we actually get dumps from hangs? The OS will only create them for crashes. I guess its no priority anymore since there are no known hangs remaining and we hopefully won't add new ones ;-)

[2020-06-19 07:13] RussKie commented on #3358
Let's get https://github.com/dotnet/winforms/pull/3470 first, and see if we get any observable changes. One thing @JeremyKuhne mentioned that he observed some object attempting to access external while being GC'ed, which could also lead to memory corruptions.

[2020-06-19 07:50] RussKie commented on #3298
We can revisit it, if necessary. Keeping my 🤞 that we won't need this.

[2020-06-19 08:10] RussKie commented on #3459
No preference on a project, but `== null` -> `is null` for now until C# 9.0 is generally available.

[2020-06-19 08:59] Olina-Zhang opened #3471 "[Accessibility] Narrator cannot announce order information of the sub menu items in MenuStrip"
* .NET Core Version:
.Net 5.0.100-preview.7.20314.1 from Net 5.0 master branch

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Extract WinformsFormsApp6.zip with MenuStrip and open it in VS, then build and run this application.
[WindowsFormsApp6.zip](https://github.com/dotnet/winforms/files/4803525/WindowsFormsApp6.zip)
2. Start Narrator, and focus on File me

[2020-06-19 22:47] weltkante commented on #3358
found something, but still not the breakthrough we are looking for:
- dumps seem generally no longer debuggable, even dumps taken locally from task manager, opened dotnet/runtime#38174
- PR #3366 regressed WebBrowser tests, adding a new test without `[Collection(Sequential)]` (crashes are locally reproducable)
- Fixing above regression I still cannot reproduce the ImageList related crashes/failure

[2020-06-19 23:27] weltkante commented on #3456
Failed test `Clipboard_SetText_InvokeStringTextDataFormat_GetReturnsExpected` in [CI run](https://dev.azure.com/dnceng/public/_build/results?buildId=696722&view=ms.vss-test-web.build-test-results-tab&runId=21597232&resultId=102039&paneView=debug):

[2020-06-20 16:41] KoB-Kirito opened #3475 "Controls can't be dragged with mouse while in TabControl"
* .NET Core Version:
3.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Controls can't be dragged around while they are in a TabControl.
TabControl is in general quite buggy. I can also not drag anything into a tab, but the first, because it always switches back to the first tab.

**Expected behavior:**
To be able to drag controls around like outside of Ta

[2020-06-22 08:25] RussKie commented on #3358
What's really interesting our internal CI are not suffering the same instability as our public CI:
![image](https://user-images.githubusercontent.com/4403806/85263958-4ea80000-b4b3-11ea-8734-e733e2064cd0.png)

The only difference I can think of is that in the internal CI we only run Release configuration.
@AdamYoblick @MattGal is there anything else that is vastly different?
Totally shooting from

[2020-06-22 08:56] weltkante commented on #3358
Thats odd, WebBrowser corruption was not specific to CI.

However, chances for crashes have reduced significantly with each of the three PRs I made, because it reduced the number of WebBrowser tests running in parallel. If internal tests never failed, even before the first of the three PRs, I'd question if internal tests are recognizing crashes as failures correctly? Before the first PR failures w

[2020-06-22 09:50] RussKie commented on #3358
I suppose if the current hypothesis is the WebBrowser tests causing failures, we should be able to test it relatively easy by just commenting out all WebBrowser related tests...

[2020-06-22 10:14] selviktoria6 commented on #3475
I just reproduced that.

[2020-06-22 11:19] weltkante commented on #3358
WebBrowser tests causing failures is no hypothesis, I've been able to identify and reproduce that (see link to repro project above in the discussion). It only happens when executing those tests in parallel. Skipping them of course works as well _if you can catch all_. The problem is some tests invoke WebBrowser by GUID so its not obvious they instantiate a WebBrowser COM object.

The question is w

[2020-06-22 17:40] weltkante opened #3485 "PropertyGrid allocates ImageList handles while disposing"
**.NET Core Version:**
master

**Have you experienced this same bug with .NET Framework?:**
unknown

**Problem description:**
`PropertyGrid` creates native `ImageList` handles when disposing. Those handles are _not_ disposed and left for the GC to collect.

<details><summary>Stack Trace A</summary>

### call site
`System.Windows.Forms.Tests.PropertyGridTests.PropertyGrid_LargeButtons_SetWithHandle

[2020-06-22 17:43] weltkante commented on #3485
/cc @RussKie @JeremyKuhne

Could this be responsible for memory corruption in #3358? `ImageList` is implemented in common controls, can someone check whether its safe to release them in the finalizer, or whether they are UI thread bound (like HWND) and must be released on the thread that created them?

There are a bunch of other ImageLists that weren't disposed properly, fixing them in a separate

[2020-06-22 17:56] weltkante opened #3487 "Reduce sharing of disposable objects across MemberData sets"
**.NET Core Version:**
master

**Have you experienced this same bug with .NET Framework?:**
no

**Problem description:**
During investigation of flaky unit tests it was noticed that sharing disposable objects between multiple yields of MemberData sets is not advisable. It works but relies on the undocumented fact that xunit disposes member data after all tests have run. If it were to dispose betwe

[2020-06-22 18:37] weltkante commented on #3358
I can repro another corruption locally with a reduced set of unit tests, will continue to investigate and try to slice off more tests.

One thing I already noticed is that not all ImageLists are disposed, opened #3485 and #3486 for this. I don't think this is the source for the corruption since I cannot repro any crashes when I randomly allocate ImageLists in a standalone app, but it can't hurt to

[2020-06-23 00:19] #3371 closed

[2020-06-23 00:19] #3372 closed

[2020-06-23 00:26] RussKie commented on #3372
I'm inclined to say "yes". @dreddy-work @KlausLoeffelmann thoughts?

[2020-06-23 00:46] merriemcgaw commented on #3475
Thank you for reporting this issue. Can you tell me what version of VS you're encountering this is? We've fixed it in a recent 16.7 Preview, so you should be seeing it shortly in the Preview channel.

[2020-06-23 01:22] alanhoman opened #3491 "ChildMdi has multiple rendering issues when using PerMonitorV2 or PerMonitor"
* .NET Core Version:
3.1.400 and v5.0.0-preview.5

* Have you experienced this same bug with .NET Framework?:
PerMonitor  using app.manifest works on .NET Framework 4.8.  PerMonitorV2 and PerMonitor do not work in .NET Core 3.1/5.0

**Problem description:**
The following issues are occurring with .NET Core 3.1/5.0 HighDpiMode.PerMonitorV2.  The sample project was based on https://github.com/micros

[2020-06-23 03:45] RussKie commented on #3491
Thank you for the detailed report, it's really appreciated.

There has been some work in this area https://github.com/dotnet/winforms/pull/3394, which will be available in Preview7.

This is tracked under https://github.com/dotnet/winforms/pull/3461

[2020-06-23 06:10] weltkante opened #3492 "Cursor(Stream) bugs"
**.NET Core Version:**
master

**Have you experienced this same bug with .NET Framework?:**
probably

**Problem description:**
As noted [here in a PR](https://github.com/dotnet/winforms/pull/3476#discussion_r443216116) the constrcutor of `Cursor` taking a `Stream` is broken

[code]

- if the stream position isn't at zero the buffer would be allocated too large (suboptimal)
- if the stream doesn't

[2020-06-23 06:17] weltkante opened #3493 "Support Span where appropriate"
**.NET Core Version:**
master

**Have you experienced this same bug with .NET Framework?:**
yes

**Problem description:**
.NET Core supports `Span` as a new feature that was not present when WinForms was designed. Need to identify appropriate places where e.g. `Span<byte>` can be used as argument instead of byte arrays or streams. Workarounds are converting the span to an array or wrapping it in a

[2020-06-23 08:15] KoB-Kirito commented on #3475
I'm on 16.6.2.
Thank you!

[2020-06-23 09:41] weltkante opened #3494 "ListView attaches lifetime to ImageList"
**.NET Core Version:**
3.1 and master

**Have you experienced this same bug with .NET Framework?:**
yes

**Problem description:**

When a ListView is assigned an ImageList it subscribes on events. This attaches the lifetime of the ListView to the ImageList, i.e. the ListView cannot be collected before the ImageList. If the ImageList outlives the ListView then the ListView (and everything attached

[2020-06-23 09:41] weltkante commented on #3494
/cc @RussKie - as discussed I don't think this is related to ImageList test failures, with the latest change we are disposing all ImageLists and it has no effect on the crashes.

[2020-06-23 09:58] Ashley-Li commented on #3390
Verified this issue with .NET 5.0.100-preview.7.20319.6 build, this issue has been fixed. Scaling of the parent and child forms are consistent and according to the monitor DPI that they are rendered.

[2020-06-23 14:55] weltkante commented on #3358
good news, one more corruption isolated, this time in the Common Controls library. The [repository](https://github.com/weltkante/WebBrowserCorruptionTest) is updated. Note that I just picked some [arbitrary test case](https://github.com/weltkante/WebBrowserCorruptionTest/blob/master/CoreCorruptionTest2/Program.cs#L56-L67) which reproed nicely, this corruption may be triggered by other tests as wel

[2020-06-23 15:17] PasaOpasen commented on #3428
@KlausLoeffelmann I did: https://github.com/PasaOpasen/__bagNumericUpDown_NETCore

[2020-06-23 16:45] merriemcgaw commented on #3475
In that case you should see the fix in the next 16.7 Preview. It works perfectly for me there.

[2020-06-23 19:14] jlchavez opened #3500 "Printing from ASP.NET Core Razor Pages through Windows Forms Library"
**Is your feature request related to a problem? Please describe.**
I'm using Syncfusion.PdfViewer.Windows for printing a Pdf through the .NET Core 3.1 App with the WindowsForms SDK without starting the Form, the test worked fine. Syncfusion's library works perfect for printing the Pdf.

Yes I can make it a .NET Framework 4.8 Windows Service, but I would have to create a complete set of tools to ma

[2020-06-24 01:15] RussKie commented on #3500
Apologies I'm having troubles parsing what you're asking for.

Windows Forms is an SDK for building Windows desktop apps. Other tech you mention are web stacks, that have nothing to do with Windows desktop.
Printing is typically a user interactive action, where a user is presented with a print dialog, etc. Printing from a web should be handled by a browser app.

If you need to generate PDFs from y

[2020-06-24 03:54] #2969 closed

[2020-06-24 10:19] DalekBaldwin commented on #3248
Are you able to suggest a workaround as well?

It sounds like this might be the underlying reason we've had trouble porting a WinForms app from Framework to Core, with this stack trace occurring in several places when attempting to close tabs:

************** Exception Text **************
System.NullReferenceException: Object reference not set to an instance of an object.
   at System.Windows.Form

[2020-06-24 12:30] DalekBaldwin commented on #3248
Actually, this seems to be an order-of-disposal issue on our end that should have caused the same problem on the old .Net Framework builds, but for some reason it never did.

[2020-06-24 14:11] vladimir-krestov opened #3504 "[Servicing] Accessibility: no way to set `AccessibleName` for selected controls"
* .NET Core Version: 3.1

* Have you experienced this same bug with .NET Framework?: Yes
Original [Bug 1108206](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1108206)

**Problem description:**
If AccessibleName, AccessibleRole, AccessibleDescription is set to a custom value for the Label/GroupBox control, this does not affect the AccessibleName, AccessibleRole, AccessibleDescription in Ac

[2020-06-24 14:15] vladimir-krestov commented on #3294
#3504

[2020-06-24 16:48] mmitche opened #3505 "Move validation steps to post-build"
Winforms should opt-in to post-build validation for SDL, NuGet validation, etc.,

To enable the nightly validation runs, you add repo entries here: https://dev.azure.com/dnceng/internal/_git/dotnet-release?path=%2Feng%2Fpipeline%2Ftools%2Frepos-to-validate.txt and this file a version of https://github.com/dotnet/aspnetcore/blob/master/eng/sdl-tsa-vars.config into your repo under the eng folder. Th

[2020-06-24 18:08] raffaeler opened #3506 "Make the designer experience of the ToolStrip controls identical to the classic controls"
This is  a suggestion to consider making the designer experience identical regardless the control being used on the form.

The latest generation controls (Toolstrip related) have a different designer-experience in comparison to all the others.
While using the designer you often have to use dialogs to configure the properties of the toolstrip buttons, combos, etc.

Of course this suggestion is not

[2020-06-24 20:52] KoB-Kirito commented on #3475
Yes, I tried it with the preview and it works!

But another thing I forgot, and I don't know if I should open a new issue, but the document outline does not work. Neither in 16.6.2, nor in 16.7 Preview.

You can't move items there. Not with mouse, and not with the four arrow-buttons (they are grayed out).

Workaround: Select an item, right click, put in foreground -> Moves the item to the top. But

[2020-06-25 00:51] #183 closed

[2020-06-25 04:39] #3494 closed

[2020-06-25 12:42] Dave-Lowndes opened #3509 "Tab Order dialog/overlay missing in Core Designer"
**Is your feature request related to a problem? Please describe.**
    The method of setting control keyboard (tab) ordering for WinForms is poor in comparison to the Windows resource dialog editor. The dialog editor allows you to Ctrl+click a control to start tab re-ordering at that point. I'm not aware of a similar facility for WinForms, consequently it's always an irritation when you need to re

[2020-06-25 13:54] weltkante commented on #3509
on the "layout" toolbar you can open the dropdown add/remove buttons and show the "Tab Order" command. This lets you enter a mode where you can sequentially click controls to determine their TabOrder property.

This only works in Desktop Framework Designer currently, .NET Core Designer seems to ignore it. Also its not really discoverable if you don't know about it.

[2020-06-25 14:53] Dave-Lowndes commented on #3509
@weltkante Hi Tobias, as far as I can see, that button is the same as the View, Tab Order menu item. It doesn't provide any additional functionality. The Windows dialog editor let's you Ctrl+click to start ordering at the current index of the control you click - it's a really useful facility when you don't need to re-do from 0 a form that has many controls on it.

[2020-06-25 22:40] merriemcgaw commented on #3509
We're working on this for an upcoming release. I totally agree that it's quite inconvenient without it.

[2020-06-25 22:43] merriemcgaw commented on #3506
The VS Designer experience for each control is created separately, so do you have any specific suggestions that you can describe? Screenshots are also super helpful.

[2020-06-25 23:32] merriemcgaw commented on #3506
Hah! I misunderstood. We are working on the feature to allow what we call in-situ editing (in designer surface) of the ToolStrips. It should be coming in the not too distant future. 😊

[2020-06-25 23:36] merriemcgaw commented on #3493
We would make these as additive APIs, so that Visual Basic is supported. `Span` is not supported in VB

[2020-06-25 23:41] merriemcgaw commented on #3471
@Olina-Zhang are you referring to the position of the menu item in the list (7 of 7)?

[2020-06-25 23:47] merriemcgaw commented on #3464
This is by design, as @weltkante describes.

[2020-06-25 23:47] #3464 closed

[2020-06-25 23:52] merriemcgaw commented on #3455
@Jessie-Zhang01 can you all try out an MFC application with the msedit control on it? @dreddy-work - do you think this could be at all related to which version of the rich text box we're using?

[2020-06-25 23:58] merriemcgaw commented on #3453
@Jessie-Zhang01 can you show us what Inspect is doing with this?

[2020-06-26 00:00] merriemcgaw commented on #3452
@Jessie-Zhang01 is this a regression? Can you double check if this is a regression from a previous Preview?

[2020-06-26 00:06] merriemcgaw commented on #3439
@Vino-Wang does this repro in the VS environment?

[2020-06-26 00:09] merriemcgaw commented on #3438
Given this is not a regression, we will move it to future.  @John-Qiao did you provide the workaround to the customer in VS Feedback as well.

[2020-06-26 01:04] davkean opened #3510 "Windows Forms templates should carry proj.user with SubType already set"
**Problem description:**

To detect that a Forms is openable by the designer (and gets the icon), Roslyn asynchronously reads the attributes of a type's base types and pushes a "SubType" if the right attribute is present to the project system. Which in turn, causes the designer paths to light up.

This is a slow and asynchronous process and cannot be blocked on, and causes additional evaluations a

[2020-06-26 04:00] #3333 closed

[2020-06-26 06:12] weltkante commented on #3464
while this is by design there are several "missing features" of the native API which aren't exposed on the current FolderBrowserDialog

- The ability to set a start folder is _not exposed_. You can indirectly set it by specifying the _selected folder_ but that doesn't work for all cases as the OP describes.
- The `ClientGuid` is only exposed for Open and Save dialogs, it should also be exposed for

[2020-06-26 08:38] RussKie commented on #3464
Yes, please!
Thank you

From: Tobias Käs <notifications@github.com>
Sent: Friday, June 26, 2020 4:13 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [dotnet/winforms] Vista part of the FolderBrowserDialog should be more compatible (#3464)

while this is by design there are several "missing features" of the native API which aren't exp

[2020-06-26 10:39] #3301 closed

[2020-06-26 10:54] weltkante opened #3512 "Support InitialDirectory and ClientGuid on FolderBrowserDialog"
**Is your feature request related to a problem? Please describe.**

The modernized `FolderBrowserDialog` does not expose relevant native API, it just got retrofitted into the API for the old dialog. This leads to problems like described in #3464

- It does not support setting the initially displayed folder. This was not relevant for the old dialog because it only had a single tree view with a sing

[2020-06-26 10:59] weltkante opened #3513 "FileDialog.InitialDirectory does not work"
**.NET Core Version:**
master

**Have you experienced this same bug with .NET Framework?:**
yes

**Problem description:**
`FileDialog.InitialDirectory` doesn't seem to work? It works for the classic dialog, but modern dialogs seem to ignore it, even though there is source code handling it. Debugging the source seems to throw `FileNotFoundException` when calling `GetShellItemForPath`. Might be an i

[2020-06-26 11:02] weltkante commented on #3513
When fixing this, there is also desire to support special shell paths like "my computer". Might want to make sure that the fixed code understands these special paths when passing the string to shell API for translation, otherwise new API would be required to support them.

Also see #3512 for adding `InitialDirectory` to `FolderBrowserDialog`, in case the API suggestion gets accepted before this is

[2020-06-26 11:04] weltkante commented on #3512
When implementing this there is desire to make [special shell paths like "my computer" work](https://devblogs.microsoft.com/oldnewthing/20170619-00/?p=96425), otherwise a secondary API would be required. Since `FileDialog.InitialDirectory` doesn't seem to currently work anyways maybe this can be supported without adding new API.

[2020-06-26 11:06] weltkante commented on #3464
Created #3512 for API suggestion and #3513 for fixing `FileDialog.InitialDirectory` - doesn't seem to work even though there is code for handling it. Separate issues because a PR for fixing this may be doable faster than passing an API review.

[2020-06-26 12:26] weltkante commented on #3510
Does this really make any difference? VS ignores `*.csproj.user` files by default when checking in to source control (at least for GIT and TFS) - so this only marginally improves performance when creating a brand new project, checking out from source control would not benefit. Can't this be stored somewhere that is persisted properly? Its not really a user setting ...

[2020-06-26 13:45] PasaOpasen opened #3515 "CopyPaste of button copies events too (designer)"
1. create botton

2. double click to create event

3. copy and paste this button

4. double click -- u will see old event

[2020-06-26 14:00] PasaOpasen opened #3516 "Cannot change color of button if button flatstyle is standard"
Cannot change color of button by desiner if button flatstyle is standard

[2020-06-26 15:29] weltkante commented on #3515
I think thats working as intended, that also happened in Desktop Framework and for what its worth very useful behavior, otherwise you couldn't move controls form one panel into another using the clipboard. We even use this feature to copy controls from one form into another (just have to make sure we copy code-behind first, if the events aren't already there they are dropped.)

[2020-06-26 20:29] NikolaosWakem commented on #2863
3.1 LTS broken but fixed in 5.0 so all Good :-D

[2020-06-26 21:41] davkean commented on #3510
Yes it makes a difference in this scenario, hence why I filed this.

[2020-06-27 08:45] weltkante commented on #3510
I'd argue a solution that works more than once would be better. This suggestion just works at project creation and never again for anyone else who starts working on the project. So it makes a difference for _one person one time_, not really a difference in the long term.

[2020-06-27 10:10] davkean commented on #3510
Legacy does the same thing with its templates (carries subtype), so regardless of whether there is a better solution to putting subtype in the user file, we are still going to be carrying it in the template.

[2020-06-28 02:12] John-Qiao commented on #3438
@merriemcgaw yes, I have provided the workarounds to customer in feedback.

[2020-06-28 02:35] Olina-Zhang commented on #3471
@merriemcgaw, Yes, narrator cannot read it, like this: 'which one' of 'total count'.

[2020-06-28 08:29] Jessie-Zhang01 commented on #3452
@merriemcgaw yes, this is a regression issue. It's can reproduce on .Net 5.0.100-preview.5.20270.37, but cannot reproduce on .Net 5.0.100-preview.4.20258.7.

[2020-06-28 08:40] Ashley-Li commented on #3425
Verified this issue with .NET 5.0.100-preview.7.20327.2 build,this issue has been fixed. Run the attached project and click the button1,the ImageIndex value is automatically set to -1 after set the ImageKey property to an empty string.

[2020-06-28 08:42] Ashley-Li commented on #3424
Verified this issue with .NET 5.0.100-preview.7.20327.2 build,this issue has been fixed. After run the attached project,there's an exception occurring: System.ComponentModel.InvalidEnumArgumentException: ‘The value of argument ‘value’ (-1) is invalid for Enum type ‘ListViewGroupCollapsedState’. (Parameter ‘value’)’

[2020-06-28 08:44] Jessie-Zhang01 commented on #3455
@merriemcgaw in MFC application, Narrator will read its content when the control contains text and switch to that text.
![image](https://user-images.githubusercontent.com/45864649/85939895-a5965500-b94b-11ea-9ec8-4d0a5e69d86a.png)

[2020-06-28 09:12] PasaOpasen commented on #3515
@weltkante The main problem is that I cannot create event of new button by double click (by desiner). I think it's inconvenient

[2020-06-28 09:22] Jessie-Zhang01 commented on #3453
@merriemcgaw about Inspect testing, Inspect behavior is fine, no issue was found.
The following image is from using the mouse to increase the NumericUpDown value.
![image](https://user-images.githubusercontent.com/45864649/85943606-b6eb5b80-b963-11ea-9e3c-d1a4b0c0a42c.png)
The following image is from increasing the NumericUpDown value using the keyboard.
![image](https://user-images.githubusercont

[2020-06-28 14:00] harborsiem opened #3520 "Application.SetHighDpiMode(HighDpiMode.SystemAware) or DpiAware and TableLayoutPanel"
* .NET Core Version:
.NET Core SDK (gemäß "global.json"):
 Version:   3.1.301
 Commit:    7feb845744

Laufzeitumgebung:
 OS Name:     Windows
 OS Version:  10.0.19041
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\3.1.301\

Host (useful for support):
  Version: 3.1.5
  Commit:  65cd789777

* Have you experienced this same bug with .NET Framework?:
Yes, but

[2020-06-28 22:14] RussKie commented on #3455
@Jessie-Zhang01 to confirm, is that a RTB control in the MFC app?

[2020-06-29 01:39] Zheng-Li01 commented on #3515
@PasaOpasen, thanks for raising the issue, and  have a [Designer Issue](https://github.com/dotnet/winforms-designer/issues/1769) to track it.

[2020-06-29 02:36] Jessie-Zhang01 commented on #3455
@RussKie we didn't find RTB in the MFC application, we just found Edit Control/Combo Box/Rich Edit 2.0 control and tested them, the Narrator would read their contents.
![image](https://user-images.githubusercontent.com/45864649/85967138-4f312100-b9f4-11ea-8de8-fbf70eccad10.png)

[2020-06-29 05:29] #3245 closed

[2020-06-29 05:59] weltkante commented on #2164
@RussKie might have mistaken the PR comment?

should not close this yet I think, nothing adressed this issue

[2020-06-29 06:07] RussKie commented on #2164
Aye, thank you. Looks like this is an epic issue :)

[2020-06-29 06:17] #3232 closed

[2020-06-29 06:41] RussKie commented on #3516
When you raise issues please use the provided templates. Raising issues like this won't get you far, we can't guess what you're having troubles with, in what context or under which circumstances.

Please amend the issue, and holler to have it reopened.

[2020-06-29 06:41] #3516 closed

[2020-06-29 06:44] weltkante commented on #1763
I don't know the roadmap of WinForms, but with the runtime going to branch off master in August I'm going to ask again, whats the plan forward with this? Right now this crashes (#247), I'd prefer if .NET Core 5.0 decides to either have Office give direction of how to support (implement/test) the undocumented IComponentManager interface - or confirming WinForms can remove the Office-specific implem

[2020-06-29 08:36] Vino-Wang commented on #3439
@merriemcgaw, verified with ListView control in Core designer, this issue cannot be reproduced. The Group property of ListViewItem can be set successfully in designer time.
![GroupProperty](https://user-images.githubusercontent.com/18568603/85991782-802a4980-ba26-11ea-9c6e-785ff9d8a4b0.gif)

[2020-06-29 18:14] merriemcgaw commented on #3439
Thanks @Vino-Wang!

[2020-06-29 18:33] qwertybba opened #3523 "Expected a proxy type, Microsoft.VisualStudio.WinForms.RemoteClient.Proxies.ComponentProxy"
* .NET Core Version:
3.1,5.0
* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

I recently port my application from net472 to core3.1(5.0) after get every thing done ,so I build the application and test it everything's works well.
but when I try to open DevExpress XtraReport in designer I get the error:
[code]

**Expected behavior:**
open the report in designe

[2020-06-29 18:50] merriemcgaw commented on #3455
RichEdit2.0 is what we wrap. @dreddy-work  - can you think of anything that we do or don't do with our AccessibleObject here that might be causing the problem? @Jessie-Zhang01 - is this a regression, and if so, when did it show up? Very interested in if we have this issue in 3.1.

Note - this is going to be very high priority for fixing in 5.0.

[2020-06-29 18:55] merriemcgaw commented on #3453
Since we are providing the right data to UIA and mouse interaction with the controls is not the primary scenario of Narrator, I think we're going to go ahead and close this issue.

[2020-06-29 18:55] #3453 closed

[2020-06-29 18:58] merriemcgaw commented on #3471
I'll circle back with the CAIAcc experts and find out if these announcements are nice to have or required.

[2020-06-29 23:45] RussKie commented on #3523
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2020-06-29 23:45] #3523 closed

[2020-06-30 02:37] Jessie-Zhang01 commented on #3455
@merriemcgaw this is not a regression issue, it can reproduce on .Net Core 3.0/.Net Core 3.1/.Net Framework.

In addition, this issue is only reproduced in RichTextBox, DomainUpDown/ListBox/TextBox/MaskedTextBox/NumericUpDown/ComboBox does not reproduce this issue.
![image](https://user-images.githubusercontent.com/45864649/86075633-0c864c00-babb-11ea-9c3c-17eac893a0bc.png)

[2020-06-30 02:43] Amy-Li03 commented on #3494
Verified this issue with latest .NET 5.0.100-preview.8.20329.10 build, issue was fixed. ListViews can be collected when you don’t reset the imageList yourself.

[2020-06-30 05:45] Jenna-Zheng commented on #3425
Verified this issue with .NET 5.0.100-preview.8.20329.10 build,this issue has been fixed. Run the attached project and click the button1,the ImageIndex value is automatically set to -1 after set the ImageKey property to an empty string.

[2020-06-30 05:53] Jenna-Zheng commented on #3424
Verified this issue with .NET 5.0.100-preview.8.20329.10 build,this issue has been fixed. After run the attached project,there's an exception occurring: System.ComponentModel.InvalidEnumArgumentException: ‘The value of argument ‘value’ (-1) is invalid for Enum type ‘ListViewGroupCollapsedState’. (Parameter ‘value’)’.Please check below result:
![image](https://user-images.githubusercontent.com/6494

[2020-06-30 10:33] SergeySmirnov-Akvelon commented on #3454
Issue is not reproduced in master branch. This is an issue only  for #2701

[2020-06-30 10:50] #3214 closed

[2020-06-30 11:33] RussKie commented on #3358
I had spent past several days trying to identify the cause, sadly the culprit is still eluding me. There is some reportable progress though.

The current implementation fails on this line (that we knew):
https://github.com/dotnet/winforms/blob/fdb4350682224a6a8989b9559165d24dbf0d4f28/src/System.Windows.Forms/src/System/Windows/Forms/ImageList.cs#L458
However it was unclear why. Having restructured

[2020-06-30 11:37] RussKie commented on #3454
As discussed the issue will need to be resolved as part of or after #2701 is complete.

[2020-06-30 11:39] #3243 closed

[2020-06-30 12:05] #3227 closed

[2020-06-30 20:20] weltkante commented on #3358
@RussKie @JeremyKuhne the TTD trace indicates that native `CImageList` is used by multiple threads at the same time, messing up the refcount. Try checking the return value of `ComCtl32.ImageList.Destroy(_himl)` in `NativeImageList.Dispose` - I suspect you are destroying an ImageList which no longer exists. If handles are reused you happen to destroy a random other ImageList which currently is in u

[2020-06-30 20:49] JeremyKuhne commented on #3358
@russkie had added locking to `NativeImageList`, I'll look through it with him later.

[2020-07-01 02:06] RussKie commented on #3485
Looking at the stack trace I _think_ it's quite possible that it is related.

[2020-07-01 02:13] RussKie commented on #3485
BUT having said the above, a fix would be to stop new allocations during the dispose sequence.

[2020-07-01 05:33] RussKie commented on #3358
I've rebased #3526 on top of the latest master (branch: https://github.com/RussKie/winforms/tree/Solve_ImageList_woes-repro-2), and now I'm observing AVE but in a completely different place 🤯

[code]

![image](https://user-images.githubusercontent.com/4403806/86206528-f4442900-bbaf-11ea-811b-6e655db6754e.png)

[2020-07-01 18:41] weltkante commented on #3358
Most likely irrelevant. What I was trying to explain above is that an ImageList gets destroyed prematurely, so you can randomly fail _anywhere_ in ImageList code depending on how the memory is reused.

We did some external discussion and testing, currently it looks like enabling CheckBox mode (sometimes?) takes ownership of the ImageList and deletes it while WinForms still keeps the handle around.

[2020-07-01 21:22] RussKie commented on #3358
I have created a [simple repro](https://github.com/RussKie/ListViewCheckboxesStateImageList) that toggles `CheckBoxes` and `StateImageList` properties on a `ListView` control. And if a `CheckBoxes` is toggled _whilst_ a user-supplied imagelist is bound to `StateImageList` property - the native listview control will tarnish the user-supplied one.
The issue is reproducible in net4x and netcore3.1.

[2020-07-01 21:48] RussKie opened #3531 "Setting `ListView.CheckBoxes` after `ListView.StateImageList` destroys imagelist"
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

An outcome of investigations in https://github.com/dotnet/winforms/issues/3358, in the following scenarios `CheckBoxes` is toggled _whilst_ a user-supplied imagelist is bound to `StateImageList` property - the native listview control will tarnish the user-supplied one.

The issue is reproducible in net4x and

[2020-07-02 04:06] #3485 closed

[2020-07-02 08:38] tbolon opened #3533 "Disabled DateTimePicker at Design-Time does not have the correct border color when enabled when running"
* .NET Core Version: 3.1.400-preview-015178
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

When using a DateTimePicker which is initialized as `Enabled = false` in the designer, enabling the control later when the app is running does not change the border color, which stays with a "disabled gray" color.

![bug](https://user-images.githubusercontent.com/12

[2020-07-02 17:10] merriemcgaw commented on #1763
Thanks for the ping @weltkante! We talked about this in a meeting today in fact. I'll have @JeremyKuhne take another look at #247 to see what needs to be done there. But for now, I don't think we're looking to remove any existing code in 5.0, though there's no official direction from Office one way or the other. The consensus is to leave everything as is until we get a specific scenario from a cus

[2020-07-02 17:40] govert commented on #1763
Thank you for the follow-up @merriemcgaw and @JeremyKuhne
Despite the 'official' guidance around making cross-platform Office add-ins with JavaScript, there are many of us making existing and future Office add-ins on Windows with the .NET Framework, as we have for nearly 20 years now. I think the lack of 'appetite' you see for .NET in Office is a Microsoft internal matter. A big and exciting push

[2020-07-02 17:48] govert commented on #1763
As one case study about internal .NET use for Office, I would point to an article where @odhanson describes how the Excel team [added Mac support for Power Query using .NET Core](https://devblogs.microsoft.com/dotnet/using-net-core-to-provide-power-query-for-excel-on-mac/).

[2020-07-02 18:44] weltkante commented on #1763
The point was that we _don't want_ to do anything there until Office can either give guidance or the interop can be removed. Right now you crash which clearly signifies that WinForms in Office is not supported.

That sounds like a terrible plan, basically exactly what I've been wanting to prevent since the refactoring started. You might want to look into the discussion of the other issue again.

I

[2020-07-03 10:14] weltkante opened #3536 "Proposal for ComponentManager interop fix"
**Is your feature request related to a problem? Please describe.**

When WinForms is used in 3rd party hosting applications it may invoke ComponentManager interop to communicate form modality and share the message loop infrastructure with the host application. This is an undocumented COM API which to my knowledge is used by Office, VS and legacy VB6 application hosts. Activation and loading of .NE

[2020-07-03 10:59] weltkante commented on #1763
Having reflected about the situation a bit more, I've opened #3536 to highlight alternatives. It would be appreciated if you'd reconsider the consensus if any of the options I'm presenting have not been considered yet.

Since Office isn't interested it doesn't feel right to continue discussion in an issue which focuses on scenarios when the feedback is to not actively support those scenarios, so t

[2020-07-03 11:01] weltkante commented on #3536
Quoting from [here](https://github.com/dotnet/winforms/issues/1763#issuecomment-653125277):

I'd prefer option (2) if you want to keep this code around, so the code is not active by default

I disagree, removing ComponentManager integration until you get a scenario from a customer that requires it is the sane default for a reliable framework.

[2020-07-03 11:38] weltkante commented on #247
Since Office is not interested into coordinating usage of ComponentManager API (see #1763) I opened #3536 for discussion of alternatives. I prefer removal or disabling of ComponentManager integration since WPF seems to do fine without it. Not starting the discussion here because this issue can be fixed independently before discussion in #3536 yields results, but if consensus is achieved first then

[2020-07-06 01:18] #3510 closed

[2020-07-06 09:28] #3206 closed

[2020-07-06 14:19] rLindorfer opened #3572 "Where is the Select event for the ToolStripMenuItem?"
# The MenuItem.Select event of the MenuItem is missing in the ToolStripMenuItem

This event should be typically raised when the user places the mouse pointer over the menu item. The event can also be raised when the user highlights a menu item using the keyboard by scrolling to the menu item with the arrow keys.
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.menuitem.select?view=

[2020-07-06 14:50] kirsan31 commented on #3032
Just a reminder. I think [this](https://github.com/dotnet/winforms/issues/3032#issuecomment-607862172):

was forgotten? May be create separate issue for tracking?

[2020-07-06 16:20] tbolon commented on #3533
I would gladly help, but based on my understanding of the code, this behavior is not coded in the .net control, but is certainly the default behavior of the native control.

Maybe we could force some style message to the native control to force border color check when enabled... But I will need some hints about what to change and how.

[2020-07-07 02:11] Jenna-Zheng commented on #3485
Verified this issue with Dev16 16.8.0 Preview 1.0 [30304.2.master] + .NET Core SDK 5.0.100-preview.8.20351.5, PropertyGrid have not create native ImageList handles when disposing.
1. Put a breakpoint in NativeImageList finalizer
![image](https://user-images.githubusercontent.com/64949616/86689320-75c90a80-c039-11ea-912a-788efc55b2af.png)
2. run these two tests:
System.Windows.Forms.Tests.PropertyG

[2020-07-07 02:40] #3095 closed

[2020-07-07 06:03] RussKie commented on #3533
I inspected the "correct" and "incorrect" versions via spy++ hoping to see something obvious, alas there wasn't anything.
You can certainly see a difference in borders for a control disabled in design time and runtime:
![image](https://user-images.githubusercontent.com/4403806/86722737-86de3f80-c06a-11ea-8de2-2c1d27c478ac.png)

@JeremyKuhne @weltkante any thoughts?

[2020-07-07 07:45] RussKie commented on #3032
Yes, please.

[2020-07-07 13:18] weltkante opened #3539 "Fix Encoding.Default regressions"
**.NET Core Version:**
any .NET Core version

**Have you experienced this same bug with .NET Framework?:**
no, regression against Desktop Framework

**Problem description:**

.NET Core changed the behavior of `Encoding.Default` to return UTF8 encoding, while Desktop (from which WinForms is derived) returned the Windows ANSI encoding (which is also used for interop). Any usage of `Encoding.Default`

[2020-07-07 13:26] weltkante opened #3540 "Control printing test coverage"
**Is your feature request related to a problem? Please describe.**

During PR review it [was noted](https://github.com/dotnet/winforms/pull/3532#discussion_r449221086) that there is likely little test coverage of printing support of Controls. Printers typically use higher DPI and it was unclear how this represents itself during control rendering. The behavior should be checked and if possible test

[2020-07-07 14:06] weltkante commented on #3533
Desktop Framework designer treated the enabled property specially, basically ignores it in design time, I assume to not interfere with user interactions. Not sure what is happening in the new .NET Core designer.

As far as the actual bug is concerned, I wasn't aware of this one, I can confirm there is nothing obvious to see in WinForms source or spy++. Could be a bug in the native control not upda

[2020-07-07 21:04] hughbe commented on #3539
Some of this is dead: e.g. https://github.com/dotnet/winforms/blob/6e1ad8c25c486a4fe02108dcc46ac71464612a6c/src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/BehaviorService.cs#L1641

`Marshal.SystemDefaultCharSize` is always `2`, I believe

[2020-07-08 00:37] #2965 closed

[2020-07-08 12:39] hughbe commented on #3399
I don't know about the fix for this. Closed https://github.com/dotnet/winforms/pull/3466

[2020-07-08 14:12] weltkante commented on #3456
Failed test `TextBoxBase_Paste_InvokeNotEmpty_Success` in [CI run](https://dev.azure.com/dnceng/public/_build/results?buildId=711853&view=ms.vss-test-web.build-test-results-tab) of PR #3511

[2020-07-08 15:05] tbolon commented on #3533
Could it be a bug in the native control? Does the native control still receive updates?

The OnEnabledChanged() protected method is called even when the enabled state changes indirectly. I have tested adding a custom MyDateTimePicker in a groupbox and modified the Enabled property on the groupbox: the OnEnabledChanged() method was called and I was able to fix the border color by calling RecreateHa

[2020-07-08 15:19] tbolon commented on #3533
It seems that the problem is not only in the design-time/run-time state.

I have created a custom DateTimePicker with the following properties:

[code]

And created a form which allows me to toggle the Enabled state and Recreate (or not) the handle.

In the following capture, I can show that it's the border color behavior which is buggy: it is never updated by the change of state. If the control w

[2020-07-08 21:16] JeremyKuhne opened #3546 "Need to clean up references to VS code names"
We should replace the references to VS and VS code names to be .NET Framework release versions:

VS | Code name | .NET Release (should use this)
-|-|-
VS .NET 2002 | Rainier | .NET Framework 1.0
VS .NET 2003 | Everett | .NET Framework 1.1
VS 2005 | Whidbey | .NET Framework 2.0
VS 2008 | Orcas | .NET Framework 3.5
VS 2010 | Dev10 | .NET Framework 4.0

For the record, the 2.0 (Whidbey) release was t

[2020-07-09 00:45] RussKie commented on #3533
There is a very little chance of this, unfortunately.
Can you try sending [`WM_ENABLE`](https://docs.microsoft.com/en-us/windows/win32/winmsg/wm-enable) message to the control, and see if it makes any difference?

[2020-07-09 07:13] tbolon commented on #3533
No change observed:

[code]

![bug3](https://user-images.githubusercontent.com/127185/87008658-60ccb280-c1c4-11ea-9a09-94cabe06b7c0.gif)

[2020-07-09 07:19] weltkante commented on #3533
You might want to do that outside `OnEnabledChanged` (i.e. send `WM_ENABLE` instead of setting `Control.Enabled`) - just to test behavior I assume. Doing it inside means the state already has been changed so you are setting it to the value it already has, which probably ends up returning early in native code and not doing anything.

[2020-07-09 07:29] tbolon commented on #3533
Thanks weltkante, I will change my code.

I also found something fishy: I tried calling `UpdateStyles()` which should be a noop with this code:

[code]

I added a textbox and tried calling this code on both controls. Here are my results:

![bug4](https://user-images.githubusercontent.com/127185/87010259-98d4f500-c1c6-11ea-9b9a-a85c01ab4bc1.gif)

There seems to be something wrong in the way the bor

[2020-07-09 07:33] TempeBrennan opened #3547 "In windows 2004, IME in DataGridView has some problem"
* .NET Core Version:

 Version: 5.0.0-preview.2.20160.6

* Have you experienced this same bug with .NET Framework?:

Yes

**Problem description:**

use this code to create a DataGridView
[code]

1. double click one cell, use jp hiragaga and press k and then press i
candidate show like this:
![image](https://user-images.githubusercontent.com/51563666/87009646-0baa9400-c1f8-11ea-8c14-56443ce640ad.pn

[2020-07-09 07:35] tbolon commented on #3533
@weltkante the behavior is the same as using the `Enabled` property (the border color stays the same)

[code]

![bug5](https://user-images.githubusercontent.com/127185/87010838-72fc2000-c1c7-11ea-8326-0c0b3dd44682.gif)

[2020-07-09 08:02] weltkante commented on #3533
Thanks for doing the tests

Its comparable to opening the form (which also needs to create all handles, obviously even more than just the DateTimePickers). If opening the form is an issue for you and you have a lot of DateTimePickers on the form then switching the Enabled state may have similar performance. If opening the form is fine with you then switching Enabled state with this workaround won'

[2020-07-09 09:09] boilface commented on #3390
It looks like the fixed code only applies to ShowDialog, when the problem also affects Forms shown normally, with Show.

[2020-07-09 10:37] tbolon commented on #3533
Why not perhaps just try to call the UpdateStyles() method ?

I am trying to understand why the border change (see my previous comment) when calling the method for the DateTimePicker.

Perhaps there is something missing in the initialization of the control in the library to set the BorderStyle of the native control which prevent the control from working correctly (and may be the cause of the borde

[2020-07-09 11:05] tbolon commented on #3533
I was able to remove the UpdateStyles which change the border style to SunkenEdge by overriding CreateParams and removing the Extended Flag WS_EX.CLIENTEDGE : `cp.ExStyle &= ~(int)0x00000200; // WS_EX.CLIENTEDGE;`

It's explicitly set by the CreateParams of the DateTimePicker control: [line 457](https://github.com/dotnet/winforms/blob/d8a362e4983a49aa04aa28096aca537840e2ca72/src/System.Windows.For

[2020-07-09 11:23] RussKie commented on #3456
FYI I started looking into adding traits

[2020-07-09 11:24] RussKie commented on #3298
FYI I'm working on this, I have a prototype that works locally, trying to sort out the CI leg
https://github.com/dotnet/winforms/commit/4310c3cbedc9f75ae5fea658c7fec478aec75b49

[2020-07-09 11:37] tbolon commented on #3533
I am now clueless about how to fix this bug without relying on a `RecreateHandle` call...

If you want me to submit a PR for that, feel free to ask.

[2020-07-09 11:40] RussKie commented on #3533
I pinged the control area owner, will update if I get any response. At this stage I think we should work under an assumption that the native control won't get fixed.

@JeremyKuhne what do you think about calling `RecreateHandle` upon changing the enable state?

[2020-07-09 12:49] tbolon commented on #3533
I updated the first post with a summary of what we have found for now.

[2020-07-09 16:20] JeremyKuhne commented on #3533
I'm not opposed to it, given we're doing the same thing elsewhere. Before we do it would be good to get the response from the comctl folks. I don't suspect that it would be too outrageous of a perf impact- but it would be nice to know what the cost is. Additionally it would be good to test with visual styles enabled and disabled.

[2020-07-09 17:28] Tanya-Solyanik opened #3549 "ComboBox.DisplayMember property should be used as an accessible name for combobox items"
* .NET Core Version:
.NET 5.0

* Have you experienced this same bug with .NET Framework?:
works correctly in 4.7.2, does not work in 4.8

**Problem description:**
AT user does not know what items are available for selection

**Expected behavior:**
DisplayMember property is used to access name

**Minimal repro:**
	1. Create a new winforms application targeting Core
	2. Add a class with at least one

[2020-07-09 23:34] Tanya-Solyanik commented on #3452
@vladimir-krestov - could you please take a look at the ComboBox page from our test application, when expanding ComboBox drop downs and selecting items under inspect, inspect eventually hangs. The associated PR - https://github.com/dotnet/winforms/pull/3524 definitely stabilized this scenario, however it might be incomplete.

[2020-07-10 00:44] RussKie commented on #3533
@tbolon we had an internal discussion about this and agreed that `RecreateHandle` is an acceptable solution for .NET 5.0, given there are other controls doing the same or similar things already. Unfortunately this bug won't meet a servicing bar for 3.1.
You're welcome to send a PR with a fix.

[2020-07-10 08:08] MagicAndre1981 opened #3558 "InvokeRequired sometimes not working correctly"
* .NET Core Version:  3.1.5

[code]

* Have you experienced this same bug with .NET Framework?:

No, the code works for years without any issues

**Problem description:**

I have the issue that [InvokeRequired](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.invokerequired?view=netcore-3.1) returns false where it should return true. This causes that directly updating of te

[2020-07-10 10:27] weltkante commented on #3558
You may have a race condition in your code, since you didn't include a repro or source to inspect, try following experiment:
* remove the branch on `InvokeRequired` and always call `Invoke`
* if this sometimes or always throws an exception you likely have a threading bug in your code
* if this never throws then this may be a bug in WinForms

The `Invoke` infrastructure requires some handle to oper

[2020-07-10 10:32] kirsan31 commented on #3558
`System.InvalidOperationException: The calling thread cannot access this object because a different thread owns it.`

It's seems like non WinForms exception, but WPF... Do your splash uses WPF? If yes, may be WinForms GUI thread != WPF (Dispatcher) UI thread?

[2020-07-10 11:23] paul1956 commented on #3558
I was this error yesterday in code below on Preview 6, it seems like a race because it does not always happen. I should not have to call Invoke. I disable "splash.Status =" for now.
[code]

[2020-07-10 11:40] weltkante commented on #3558
@paul1956 its unclear of whether the OP is using the VB splash screen or something else, so you may want to create a separate issue for the VB splash screen API improvement to not require `Invoke`.

[2020-07-10 11:54] vladimir-krestov commented on #3421
@merriemcgaw, if I got it correctly, we need to implement UIA for all controls to have correct navigation in the Accessibility hierarchy. We need it to fix #3037.

[2020-07-10 11:59] paul1956 commented on #3558
@weltkante Invoke should not be required (it is not in Framework), my only point is I started seeing the same issue with Preview 6. SplashScreen is where I saw it my guess is it would happen with any form accessed from MyApplication_Startup. The code in the example is exactly what you get in Framework when you ask VS to add ApplicationEvents to your application. This may be a complete coincidence,

[2020-07-10 12:14] tbolon commented on #3533
I won't be able to work on this issue until end of next week. I will submit a PR then.

[2020-07-10 12:36] MagicAndre1981 commented on #3558
No, I don't use VB Splashscreen nor .net 5 preview nor WPF. I use .net core 3.1.5 and WinForms only.

I got the splashscreen showing up without any issues. Before I read texts from Resources and here I got the issue. Now I assign the strings in code without using resources. I'll try this next week several times if this works all time.

[2020-07-10 19:22] vladimir-krestov opened #3560 "[Accessibility] There is no ability to set custom Accessible Name, Role, Description to some AccessibleObjects"
* Original [Bug 1108206](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1108206)

* .NET Core Version: **5.0**

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
- A customer can't set a custom Name, Role and Description for the following AccessibleObjects:

1. ToolStrip (Name)
2. ToolStripItems (Role and Description of some)
3. StatusStrip (Name)
4.

[2020-07-10 23:43] paul1956 commented on #3558
I didn't mean it has anything to do with SplashsSreen or even VB, it is just the first time I access a Form where I should be (and was on Framework) on UI thread and am sometimes not. I did notice that WinForms on Core changed to always Invoke with a new pattern (used twice) the reference source handles this differently. This is just an observation, and again could be unrelated.
[code]

[2020-07-12 13:45] #3298 closed

[2020-07-13 01:10] JeremyKuhne opened #3567 "Leak of NativeImageList"
The finalizer asserted when I was fiddling around in WinFormsControlTest. Here is the dumped originating stack:

[code]

[2020-07-13 08:59] weltkante commented on #3567
Yes, the `ImageListStreamer` you get from deserialization needs to be disposed, I had to fix this in several unit tests as well. However from the call stack this instance looks like a WinForms framework bug and not a user code bug.

The problem seems to be that `ComponentResourceManager.FillResources` deserializes a disposable `ImageListStreamer` and assigns it to an `ImageList` control, but neith

[2020-07-13 09:35] Jessie-Zhang01 commented on #3452
Verified this issue with .Net 5.0.100-preview.8.20362.3 from Master branch, this issue is fixed. Narrator or Inspect's cursor focuses on the ComboBox control and works fine. Please see following gif.
![Fixed](https://user-images.githubusercontent.com/45864649/87287725-079ab100-c52d-11ea-9886-4e8e48332214.gif)

[2020-07-13 11:40] RussKie commented on #3567
Hmm... This is nasty. We don't own [`ComponentResourceManager`](https://github.com/dotnet/runtime/blob/master/src/libraries/System.ComponentModel.TypeConverter/src/System/ComponentModel/ComponentResourceManager.cs), so it's a pretty much a black box to us. At some point it creates an instance of `ImageListStreamer` that creates an instance of `NativeImageList`.
I suspect `ImageListStreamer` isn't

[2020-07-13 11:53] weltkante commented on #3567
I don't think so, then it would also dispose deserialized `Bitmap` images, wouldn't it? That would mean everyone has to clone resources assigned through `ComponentResourceManager` if they are immediately disposed. Feels like unnecessary overhead.

In my opinion the ownership of the `ImageListStreamer` should be passed on to the `ImageList` control.

[2020-07-13 12:19] RussKie commented on #3297
Observed in https://dev.azure.com/dnceng/public/_build/results?buildId=726290&view=results for https://github.com/dotnet/winforms/pull/3563 🤔  Likely a red herring...

<details>
<summary>Stack trace</summary>

[code]

</details>

[2020-07-13 16:09] zwergenaufstand opened #3568 "Setting SplitContainer.Panel2MinSize incorrectly changes SplitterDistance"
* .NET Core Version:
3.1.301

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Changing Panel2MinSize in a horizontally oriented SplitContainer (Panel2 below Panel1) changes the SplitterDistance if Panel2MinSize > Panel2.Width.

**Expected behavior:**
SplitContainer should respect its Orientation when changing Panel2MinSize. Changing Panel2MinSize in a horiz

[2020-07-13 19:00] JeremyKuhne opened #3570 "API Proposal: Add `IDeviceContext` to events that hold `Graphics`"
## Proposal

Add `IDeviceContext` to all Windows Forms `EventArgs` that wrap a `System.Drawing.Graphics`.

- `PaintEventArgs`
- `DrawItemEventArgs`
- `DataGridViewRowPostPaintEventArgs`
- `DrawListViewItemEventArgs`
- `DrawToolTipEventArgs`
- `DrawTreeNodeEventArgs`
- `ToolStripArrowRenderEventArgs`
- `ToolStripContentPanelRenderEventArgs`
- `ToolStripItemRenderEventArgs`
- `ToolStripPanelRenderEv

[2020-07-13 20:14] Tanya-Solyanik commented on #3452
@Jessie-Zhang01 - could you please try the WinformsControlsTest application that is included into our integration tests.

[2020-07-14 02:32] Zheng-Li01 opened #3573 "Missing `AutoUpgradeEnabled` property description"
## Version info:
Dev16 16.8.0 Preview 1.0 [30307.178.master] + .NET 5.0 Preview8.20363.2

## Have you experienced this same bug with .NET Framework?
No

## More info:
1.This is not a regression issue that can repro in Dev16 16.6.3.
2.The '‘UserDescriptionForTitle’ & ‘AutoUpgradeEnabled’ properties are new added for core project, not appear in the property browser window in the Framework project.

[2020-07-14 02:41] RussKie commented on #3358
Observed yet another heap corruption linked to `ImageList` use in https://dev.azure.com/dnceng/public/_build/results?buildId=727355&view=logs&jobId=1f132584-ab08-5fbf-e5d0-5685de454342 for https://github.com/dotnet/winforms/pull/3569

![image](https://user-images.githubusercontent.com/4403806/87377013-38cbbd80-c5cf-11ea-899f-bed9112edc5b.png)

[Memory dump](https://helixri107v0xdeko0k025g8.blob.co

[2020-07-14 04:56] KingFisher7 commented on #3339
I have encountered the same problem and followed the helpful instructions provided here. The designer now works (VS 2019 16.7 Preview 3.1), but VS seems unable to compile a .dll file from it, nor does it show in my toolbox after creating the control. I have already checked, that AutoPopulate for Toolbox is activated.
Anyone stuck at the same point?

[2020-07-14 05:20] paul1956 commented on #3339
@KingFisher7 User controls in forms are not support yet, and if you manually install them in a form the designer will delete them and there is an issue with NameSpaces deleted as well so MyControl.Name becomes Name. The only workaround is to close the Form in designer mode, manually add the user control in the form and build. If you open the Form Designer with your form again it will undo some or

[2020-07-14 06:48] weltkante commented on #3358
I actually can't see PR #3526 addressing ListView ImageList ownership when switching on checked mode, so I'd guess its still the same corruption. Initially I had assumed it was just moved over to #3531 but considering that is 'Future' now I guess there has been some confusion.

[2020-07-14 07:20] Jessie-Zhang01 commented on #3452
@Tanya-Solyanik I tested the WinformsControlsTest application and found a issue: when the "combo box" to be expanded contains the same item(set DropDownStyle property of ComboBox as 'DropDown/DropDownList'), Narrator/Inspect eventually hang. Please see following gif:
![Issue-1](https://user-images.githubusercontent.com/45864649/87396191-09c04680-c5e5-11ea-8b55-94dd4c3171a1.gif)

In addition, this

[2020-07-14 08:41] weltkante commented on #2644
@merriemcgaw I don't think anyone is working on this, so tagging as 5.0 is probably wrong.

The two prototypes I made turned out to be dead ends as far as compatibility is concerned, and I'm not comfortable with managing the complexity of two distinct collection implementations. (I've yet to share the experiments I made for the latter, I don't have it high on my priorities, but if someone else nee

[2020-07-14 08:54] weltkante commented on #1268
I kinda forgot about writing a response for why there is no PR. It turned out that `ContainsImage` cannot easily differentiate what kind of image is on the clipboard (metafiles claim they are `System.Drawing.Bitmap` !), so if its a metafile `ContainsImage` has to say `true` because it might just as well be a real bitmap - just can't tell the difference before attempting deserializing it (and `Cont

[2020-07-14 11:04] RussKie commented on #3406
Closing as we no longer have access to the build results.
Will reopen if the error reappears.

[2020-07-14 11:04] #3406 closed

[2020-07-14 11:13] RussKie commented on #3358
Yes, we had hopes that #3526 would help, but obviously we're wrong. We'll have to continue digging...

[2020-07-14 12:16] hughbe commented on #3358
Did that PR help? It seems like there are like 5 different problems here - web browser, disposal, sharing of image lists, etc

[2020-07-14 12:25] weltkante commented on #3358
To me it looks pretty clear. While there were a lot of secondary issues found while investigating there is only two sources of crashes identified:
- WebBrowser when running on more than one UI thread at a time (has been "sequentialized" so should no longer trigger)
- ListView when having a custom ImageList and turning Checked on (as far as I can tell this has a follow-up issue #3531 but has not be

[2020-07-14 18:17] kirsan31 commented on #3032
Finally it here in 3.1.**6**! [Release notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.6/3.1.6.md) have nothing about WinForms, and I was afraid that fixes did not come out again...
I hope, that [remaining not fixed cases of `Encoding.Default`](https://github.com/dotnet/winforms/issues/3539) is not so harmful and we will try to migrate to core once again :)

[2020-07-14 21:24] osamakawish opened #3578 "TableLayoutPanel.RowCount doesn't seem to add new rows (similarly for TableLayoutPanel.ColumnCount"
* .NET Core Version:
3.1.301

* Have you experienced this same bug with .NET Framework?:
Yes, this was made in .Net Framework 4.7.2 (according to project information).

**Problem description:**
The following is my class. It's straightforward and just contains a table. The table is 6x6 in the Designer (for testing).

`Table` here is a `TableLayoutPanel`.

[code]

Error:

Parameter name: index'

It

[2020-07-14 23:57] JeremyKuhne commented on #3570
How the smuggling works:

[code]

[2020-07-15 01:50] merriemcgaw commented on #2644
I'll remove the milestone and move it to future. Bummer that you ran into dead ends. If we get specific queries about it I'll be sure to reach out so that you can write up what you found, but there's no pressing reason at the moment. Thanks so much for evaluating this!

[2020-07-15 01:54] merriemcgaw commented on #3452
@Jessie-Zhang01 Does this impact 3.1?

[2020-07-15 02:05] Jessie-Zhang01 commented on #3452
@merriemcgaw yes, this issue also can reproduce on .Net Core 3.1.

[2020-07-15 02:10] Zheng-Li01 commented on #3510
Verified the issue with latest .NET 5.0 SDK, the Form1.cs[Design] page is opened directly and have the below code section generated in the .csproj.user file. see below GIF. however noticed that the spending time to open Form1.cs[Design] is still longer than Framework project.
**Core section:**
`<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="Current" xmlns="http://schemas.microsoft.c

[2020-07-15 02:24] merriemcgaw commented on #3452
@RussKie @vladimir-krestov  - we need to consider this for servicing in 3.1

[2020-07-15 02:29] Amy-Li03 commented on #3399
@JeremyKuhne sorry for my delay.
On the same machine setting the different TFM will cause the behavior: 4.6.2 no problem, 4.7.x & 4.8 problem.

[2020-07-15 03:24] Lydia-Shi opened #3579 "There is no detailed description for some properties of ToolTip control"
* .NET Core Version:
5.0.100-preview.8.20363.2

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
There is no detailed description for some properties of ToolTip control.
![image](https://user-images.githubusercontent.com/54019172/87495262-830e7680-c683-11ea-8810-7687689bec65.png)

**Expected behavior:**
The description of the property should describe the func

[2020-07-15 04:00] #3500 closed

[2020-07-15 04:17] davkean commented on #3510
It takes longer because it performs a NuGet restore, which legacy does not.

[2020-07-15 04:54] JeremyKuhne commented on #3399
@Amy-Li03 thanks for the details- that clearly shows that this problem is behind an AppContext switch. We can narrow down by looking at the switches that were introduced in 4.7.

[2020-07-15 06:44] weltkante commented on #3399
@JeremyKuhne wasn't it [already confirmed](https://github.com/dotnet/winforms/issues/3399#issuecomment-641243977) that the RichEdit versioning switch is what triggers this? Older versions [probably not supporting](https://github.com/dotnet/winforms/issues/3399#issuecomment-641360948) hidden text?

Given that you need a pretty old version of RichEdit for this to not be broken I don't think you can

[2020-07-15 07:39] Lydia-Shi opened #3580 "Default values are not shown after setting SelectedObject property for PropertyGird control"
* .NET SDK Version:
5.0.100-preview.8.20363.2

* Have you experienced this same bug with .NET Framework?
No

**Problem description:**
Default values are not shown after setting SelectedObject property for PropertyGird control.
![image](https://user-images.githubusercontent.com/54019172/87515885-190bc680-c6af-11ea-9c7f-f8a784a11429.png)

**Expected behavior:**
After setting the SelectedObject prope

[2020-07-15 08:12] Olina-Zhang opened #3581 "'File name' ComboBox in SaveFileDialog is truncated by default after clicking 'Hide Folders'"
* .NET Core Version:
5.0.100-preview.8.20363.2 from master branch

* Have you experienced this same bug with .NET Framework?:
Yes

* More info:
This is not a regression issue, can repro in .Net Core previous version and .Net framework

**Problem description:**
'File name' ComboBox in SaveFileDialog is truncated by default after clicking 'Hide Folders'. After resizing this dialog, truncation will b

[2020-07-15 09:11] weltkante commented on #3108
ping. needs to be resolved before 5.0 is released, preferably before it enters the final preview phase

[2020-07-15 12:00] kirsan31 opened #3583 "System, Font scaling not working on the fly"
* .NET Core Version:  **3.0+**

* Have you experienced this same bug with .NET Framework?: **Yes**, but strictly not applicable because .NET Framework dose'nt respect system font.

**Problem description:**
With `AutoScaleMode.Font` WinForms app must respect system font changes on the fly. But this doesn't happens - some controls will increase there fonts, some will not, but all of them not will in

[2020-07-15 14:04] SergeySmirnov-Akvelon commented on #3059
Hi, @merriemcgaw. Do we really need to change the color of the focus rectangle? In a normal situation, this rectangle is so small that even a person without vision problems is hard to consider its color by default. If the color should be changed, then what color should we use? I think this color should be at a ratio of 3:1 or greater than 3:1. for blue and white colors at once

[2020-07-15 15:01] Tanya-Solyanik commented on #3581
This is a native dialog, this overlap repros in notepad as well:
![image](https://user-images.githubusercontent.com/15823268/87561306-56e9fa00-c671-11ea-8bf8-ef4ab7c4fa9d.png)

[2020-07-15 15:08] Tanya-Solyanik opened #3584 "[Port to 3.1 servicing] AccessibleName for data bound ComboBox Items is shown as the type name instead of the item text"
* .NET Core Version:
3.1

* Have you experienced this same bug with .NET Framework?:
no
works correctly in 4.7.2, does not work in 4.8, but will be serviced in 9C

**Problem description:**

Accessibility technology user does not know what items are available in the ComboBox drop down, because all of them have the same type and we display the type name.

**Expected behavior:**

Accessible Name matc

[2020-07-15 15:09] Tanya-Solyanik commented on #3584
Core 5 issue - https://github.com/dotnet/winforms/issues/3549

[2020-07-15 16:39] PranavSah opened #3585 "At times System.Windows.Forms.ToolStripDropDown.Show Method gives StackOverFlowException"
.NET Framework : 4.6.2

**Problem description:**
When switching from one window to another using context menus it has come to my notice that most of the times the application crashes due to StackOverFlowException. On debugging the stack is filled with calls of "System.Windows.Forms.ToolStripDropDown.get_RightToLeft()". My ToolStripMenuItem is added to the ContextStrip of the form.

**Minimal repro

[2020-07-16 01:59] Tanya-Solyanik commented on #3452
@Jessie-Zhang01 - Wow, nice job finding a min repro!  I think a new more specific issue should be opened. Could you please create a new one with your repro app and close this one.

It's still not clear why the fix for this issue is working though.

[2020-07-16 02:18] JeremyKuhne opened #8833 "API Proposal: Expose `System.Drawing.Graphics.NativeGraphics`."

[2020-07-16 06:14] RussKie commented on #3585
Thank you for the report.
Can you please provide a simple repro?

[2020-07-16 06:22] RussKie commented on #3581
@Olina-Zhang this is a Windows dialog, we don't own it. I suppose you can raise an AzDO ticket to the Windows team.

[2020-07-16 06:22] #3581 closed

[2020-07-16 06:43] Jessie-Zhang01 opened #3590 "[Accessibility] Narrator/Inspect hang eventually when the "ComboBox" to be expanded contains duplicate items"
* .NET Core Version:
.Net 5.0.100-rc.1.20365.11 from 5.0 master branch

* Have you experienced this same bug with .NET Framework?:
Yes, it has a VSO bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1157357

**More Info:**

1. This issue cannot reproduce when set DropDownStyle property of ComboBox as 'Simple'.
2. This issue can reproduce when set DropDownStyle property of ComboBox as 'Dr

[2020-07-16 07:17] Jessie-Zhang01 commented on #3452
@Tanya-Solyanik I filed a new GitHub issue [3590 ](https://github.com/dotnet/winforms/issues/3590)for it, so close the current issue. And this issue can reproduce on .Net 4.8, so create a new VSO bug: [1157357](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1157357).

[2020-07-16 07:59] RussKie commented on #3358
I don't believe WebBrowser has anything to do with these failures. I haven't observed it in any of the dumps I have.

Here's one of the latests AV crashes:
[code]

This crash also results in a popup that hangs builds:
![image](https://user-images.githubusercontent.com/4403806/87642771-4dee4b00-c78d-11ea-868e-aac82f9f3c6e.png)

As far as our research went this is the most likely cause, but so far w

[2020-07-16 08:41] weltkante commented on #3358
They are reproducible though, even without any ImageList in play, see my other repro scenario. Its not always easy to separate dumps caused from memory corruption, in hindsight you may be right and the CI dumps are probably mostly ImageList handle collisions. The WebBrowser and ImageList tests always happened to run at roughly the same time and corruption from WebBrowser was much more frequent, at

[2020-07-16 09:07] SergeySmirnov-Akvelon commented on #3033
Hi @RussKie . I have reproduced this issue on .NET Framework (4.7.1 and 4.8) and .NET Core (3.1 and 5.0). Issue is reproduced when Form's file contains next code:
`this.Font = new System.Drawing.Font(...)`
CTI team also reproduced it on .NET Framework project (https://github.com/dotnet/winforms/issues/3033#issuecomment-610882306).
I asked CTI team verify it and confirm. If this is confirmed, then

[2020-07-16 09:15] weltkante commented on #3033
I'd still consider fixing this a priority (and arguably a regression), since porting requires setting the font and thus triggering the bug, while on Desktop you could get away with not setting it.

Alternatively implement #3001 then fixing this issue is (probably?) not so important anymore.

[2020-07-16 10:42] RussKie commented on #3391
Another one: https://dev.azure.com/dnceng/public/_build/results?buildId=732876&view=artifacts&type=publishedArtifacts

@JeremyKuhne do you think it can be solved in conjunction with you work?

[2020-07-16 11:20] kirsan31 commented on #3033
@SergeySmirnov-Akvelon

This is not exactly the truth. Strictly speaking the problem appear when the `form Font != DefaultFont`.
So this line
[code]
will not break .net Framework version. And this:
[code]
will not break .net core version.

@weltkante

I am afraid that this will not help :( ...

<details>
  <summary>Also, during testing, I found that changing the form's Font - will delete ColumnHea

[2020-07-16 12:05] #3160 closed

[2020-07-16 12:05] RussKie commented on #3160
Presume fixed

[2020-07-16 12:07] RussKie commented on #3121
Some more locale-specific tests
[code]

[2020-07-16 13:30] RussKie commented on #3033
Please raise in the designer repo. /cc: @merriemcgaw

[2020-07-16 13:58] kirsan31 commented on #3033
@RussKie
I have one more original designer bug for dataGridView 😏 Can I do something or wait for new dataGridView designer?

[2020-07-16 14:15] RussKie commented on #3033
@kirsan31 sorry, that comment was meant for @SergeySmirnov-Akvelon, I thought he posted that.
I totally understand the frustration, I too as a user of Windows Forms frustrated by deficiencies in the code base and the lack of 100% functioning designer. The team is working hard to deliver the best possible experience, but it is a fundamentally very laborious and complex task, and it takes time. Unfo

[2020-07-16 15:09] SergeySmirnov-Akvelon commented on #3033
@RussKie, @kirsan31 ,  the https://github.com/dotnet/winforms-designer/issues/2153 is filed to address the this issue. /cc: @merriemcgaw

[2020-07-16 17:21] terrajobst commented on #3570
Looks good as proposed.

[2020-07-16 17:39] weltkante commented on #3570
Even if you make it public instead of explicit it still should not dispose the contained `Graphics` instance as the `EventArgs` instance doesn't own the Graphics.

[2020-07-16 17:58] merriemcgaw commented on #3059
Great questions @SergeySmirnov-Akvelon , I'm going to take a look at the requirements and talk with @guybark about the requirements around contrast of the CheckedListBox.

[2020-07-16 23:16] JeremyKuhne commented on #3391
https://github.com/dotnet/winforms/pull/3553 should take care of this

[2020-07-16 23:17] JeremyKuhne commented on #3450
https://github.com/dotnet/winforms/pull/3553 should take care of this

[2020-07-17 00:22] RussKie commented on #3421
In the 5.0 definitely:

* [ ] TextBoxBase

In the 5.0 maybe:

* [ ]  ListControl - abstract
* [ ]  MenuStrip

In the 6.0+:

* [ ]  ScrollBar
* [ ]  HScrollBar
* [ ]  VScrollBar
* [ ]  MaskedTextBox
* [ ]  DateTimePicker
* [ ]  UpDownBase - abstract
* [ ]  NumericUpDown
* [ ]  MenuStrip
* [ ]  FlowLayoutPanel

[2020-07-17 05:58] Marie-Shi opened #3595 "Windows forms ComboBox.DropDownStyle change causes System.AccessViolationException randomly"
* .NET Core Version:
.Net 5.0.100-rc.1.20366.7 from 5.0 master branch + VS2019 with latest core designer

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info**
This issue can reproduce from .NET 3.5 to .NET 4.8 on Dev14/Dev15/Dev16. And this is a randomly issue, not happened each time.

**Minimal repro:**
1.	Extract “Core.zip” and open it in VS.
[Core.zip](https://github.co

[2020-07-17 07:08] Jenna-Zheng commented on #3299
Verified this issue with .Net Core SDK 5.0.100-rc.1.20366, this issue also reproduce and NVDA or Narrator reads  incorrect row value as row 0 for the first row.It should announce row1.
NVDA:
![image](https://user-images.githubusercontent.com/64949616/87757612-83eb0800-c83d-11ea-80ca-6ccfc41d5d7e.png)

Narrator:
![image](https://user-images.githubusercontent.com/64949616/87758505-26f05180-c83f-11ea

[2020-07-17 07:13] Jenna-Zheng commented on #3299
[A11y_.NETCoreWinForms_DataControls_Lower section_Screenreader: Screenreader reads incorrect row value as row 0 for the first row present in the table #1155467 ](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1155467)

[2020-07-17 07:13] Amy-Li03 opened #3596 "[Accessibility] Narrator does not read the status message as row added after click on Add New button of BindingNavigator"
* .NET Core Version:
.NET SDK 5.0.100-preview.8.20363.2

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
NVDA tool also can reproduce this issue.

**Minimal repro:**
1. Extract the test app, then build and run it.
[CoreApp.zip](https://github.com/dotnet/winforms/files/4936229/CoreApp.zip)
2. Open Narrator tool, navigate to the **Add New** button of BindingNavigator.

[2020-07-17 07:50] kirsan31 commented on #2769
OMG, I just realized that we are using `Application.Restart` too :scream: Another one obstruction on migrating process :rage:
@EatonZ thank you very match for workaround!!!

[2020-07-17 08:37] Lydia-Shi opened #3597 "[Accessibility] Narrator does not read the state of the CheckBox as checked/unchecked after selection in DataGridViewCheckBoxColumn"
* .NET Core Version:
5.0.100-rc.1.20366.7

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
NVDA tool also can reproduce this issue.

**Problem description:**
Narrator does not read the state of the CheckBox as checked/unchecked after selection.
![Read](https://user-images.githubusercontent.com/54019172/87765014-daf6da00-c849-11ea-9859-177d1fc1813c.gif)
![ReadPic](htt

[2020-07-17 08:57] Jessie-Zhang01 opened #3598 "[Accessibility] Keyboard tab focus is invisible and Keyboard shortcut key is unavailable to access any items in the Print preview dialog after pressing 'Enter' on any button (One page, Two Page...)"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20366.7

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info:**

1. This issue can also repro on Framework project.
2. There are 2 similar bugs: [1156779](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1156779), [1156785 ](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1156785)in VSO.

**Minimal repro:**
1. Extract

[2020-07-17 12:32] MagicAndre1981 commented on #3558
ok, here is a [repro](https://github.com/dotnet/winforms/files/4937735/DotNetWinFormsIssue3558.zip)

When I use Resources I get the random exceptions, if I replace it with texts directly in code it works. For full .net it makes no difference what I use.

[2020-07-17 13:55] weltkante commented on #3558
@MagicAndre1981 my [initial guess](https://github.com/dotnet/winforms/issues/3558#issuecomment-656604791) was correct, you start the background worker too early, before the handle is created, so InvokeRequired will be false for code that executes while the splash screen is still being constructed (at that point its not assigned any thread, calling `InvokeRequired` returns false because any thread

[2020-07-17 16:01] weltkante commented on #3391
Yes the PR removes the problematic `WeakRefCollection` instance so there is nothing to be made threadsafe anymore, should fix the race condition.

Looking at other usages of `WeakRefCollection` it looks like they have the same bug though, disposing items before removing them from the collection, without any locking. So callers from other UI threads would observe disposed elements in the collection

[2020-07-17 16:54] weltkante commented on #3595
You can reproduce by a ComboBox which changes its style inside its DropDown callback. No need to open a separate form.

[code]

The crash is probably caused because changing style will call `RecreateHandle`. Destroying the control while you are in the middle of its callback I suspect will corrupt memory, because once you return from the callback the native part of the ComboBox will continue execut

[2020-07-17 16:59] merriemcgaw commented on #3390
@dreddy-work can you comment?

[2020-07-17 17:34] weltkante commented on #3595
I wonder if WinForms should introduce a nesting counter per control so it can know if it currently is within a WndProc. Could then either throw an exception or employ smarter control handle recycling (e.g. making the old one invisible + deferred delete instead of deleting it immediately if you are in the WndProc).

[2020-07-17 20:25] AaronRobinsonMSFT commented on #3590
@Jessie-Zhang01 and @TanayParikh I think this is the same issue as https://github.com/dotnet/winforms/pull/3524. I will continue to add notes there.

[2020-07-17 20:29] JeremyKuhne commented on #3108
@ericstj do you know the right thing to do here or can you tag the right person to help make sure we're doing the right thing?

[2020-07-17 20:34] AaronRobinsonMSFT commented on #3452
@RussKie @JeremyKuhne @vladimir-krestov I do not believe that https://github.com/dotnet/winforms/pull/3524 was an appropriate fix here. Based on my investigation the removal of `ComImport` has simply disabled support for `IRawElementProviderHwndOverride`. This then "works" because the interface is not used. It appears that the specific scenario used for validation works, but it is hiding some unde

[2020-07-17 20:35] merriemcgaw commented on #3596
You may be able to do this directly in the sample app, though if we can get it into the DGV it would be pretty cool.

[2020-07-17 21:02] weltkante commented on #3358
Made a PR which disables ImageList ownership sharing and instead manages ownership explicitly by creating unique ImageList handles when assigning to the native control. Your choice of whether you want to take it or live with the broken tests for now (until you can fix it), I've no strong opinion, I don't think it happens much in practice outside the unit tests

[2020-07-17 21:09] hughbe commented on #3358
It would be really interesting to see if there’s some report of this snuck away in stack overflow or forums somewhere

[2020-07-18 00:29] Tanya-Solyanik commented on #3504
@vladimir-krestov, @SergeySmirnov-Akvelon  - could you please share how you generated the list of affected controls?
Did you test all controls winforms controls that are available the toolbox in the classic designer in a 3.1 applicaiton?

[2020-07-18 00:57] #3391 closed

[2020-07-18 00:57] #3450 closed

[2020-07-18 04:49] JeremyKuhne commented on #3570
Yes, and I comment on that in the original description. We never dispose passed in `Graphics` objects.

[2020-07-18 09:19] LiorBanai commented on #1462
was lc.exe support added to Core 3.1?
I'm still missing ability to build via Github workflow that target core 3.1:
https://github.com/Analogy-LogViewer/Analogy.LogViewer/actions

[2020-07-20 05:53] JeremyKuhne commented on #3595
That seems reasonable. Perhaps on `NativeWindow`?

[2020-07-20 08:57] Jessie-Zhang01 opened #3605 "Events and properties do not display description text in property browser"
* .NET Core Version:
.Net SDK 5.0.100-rc.1.20367.2

* Have you experienced this same bug with .NET Framework?:
No

**More Info**

1. All events of BackgroundWorker and FileSystemWatcher has no functional description.
2. BackgroundWorker's "Misc" item name is different from framework.
![image](https://user-images.githubusercontent.com/45864649/87918993-bef17380-caa9-11ea-9cc9-7203579a3156.png)

**M

[2020-07-20 09:04] kirsan31 opened #3606 "Application.Exit raises FormClosing and FormClosed events in wrong order for MDI application"
* .NET Core Version: **Any**

* Have you experienced this same bug with .NET Framework?: **Yes**

**Problem description:**

In [docs](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.form.formclosing?view=netcore-3.1):

But in `Application.Exit `those events raised in unpredictable order: https://github.com/dotnet/winforms/blob/a6a308fa452770caafca55ee4d8ac54d1ee1015d/src/System.Wi

[2020-07-20 13:00] mavnorthwind commented on #3399
From what I saw, previous versions used the RichEdit 2.0/3.0 control from RichEd20.dll and from .NET 4.7 onward RichEdit 4.1 from Msftedit.dll was used and this version reacts differently to EM_STREAMOUT.
I've implemented my own workaround by overwriting the getter of Text and SelectedText to use EM_GETTEXTEX instead.
The only additional fix I had to implement was to replace all \r line breaks wit

[2020-07-20 16:45] ericstj commented on #3108
So we consider `System.Drawing` a .NETFramework compatibility facade.  As with all of these we build in dotnet/runtime we freeze their version at the version of .NETFramework.

It contains only typeforwards, so technically you can never observe that it has a specific version, so I don't think it's problematic that you're building a higher version.  That version will never get recorded in any other

[2020-07-20 17:25] Tanya-Solyanik opened #3608 "Add template for WinForms Control Library"
* .NET Core Version:
.NET 5.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

In .NET Framework we had a VS template for WinForms Control Library, but in Core we have to modify the class library project file to create a control library.

WinForms Control Library is simply a Class Library with a reference to Winforms added by default. So to create it you ca

[2020-07-20 19:53] vladimir-krestov commented on #3504
I created a test app, put all common controls from the Designer. Also, I added `ToolStrip/Menu/StatusStrip` items. I added custom values for accessible `Name`, `Role` and `Description` properties of all Controls and items. Then I checked every control on my form using Inspect. I checked `Name`, `LegacyIAccessible.Name`, `LegacyIAccessible.Role`, `LegacyIAccessible.Description` properties.
Yes, we

[2020-07-20 20:21] #3549 closed

[2020-07-20 20:30] madewokherd opened #3610 "NativeWindow depends on WndProc delegates functioning during finalization"
This is an issue I found in Wine Mono while running regression tests, which might theoretically affect .NET Core as well. I don't know for sure if it does, but I wanted to let you know so you can review it.

Wine Mono uses a fork of .NET Core winforms running under Mono. When I most recently merged upstream Mono, I found that it introduced crashes running MonoTests.System.Windows.Forms.TimerTest f

[2020-07-20 20:47] hughbe commented on #3610
Can you share how you are running .NET Core winforms on wine? I've been trying and trying but haven't managed to figure it out!

Major stump is that I can't seem to build dotnet/winforms as can't get powershell working on wine

[2020-07-20 21:17] madewokherd commented on #3610
As far as I know, .NET Core runs just fine on Wine, it just doesn't build there. I am not building or running .NET Core on Wine.

I'm running a modified version of dotnet/winforms with its own build system, and a modified version of the Mono runtime, as part of https://github.com/madewokherd/wine-mono.

[2020-07-20 23:09] merriemcgaw commented on #1462
@LiorBanai I do not believe so.
@OliaG or @terrajobst, do we have more info about the licensing story to share?

[2020-07-21 00:37] GrabYourPitchforks opened #3612 "Tracking issue: remove calls to obsoleted CAS and CER APIs"
In https://github.com/dotnet/winforms/pull/3611, a bunch of calls to CAS and CER APIs were surrounded by pragmas to suppress newly-introduced warnings in 5.0.

The CAS and CER infrastructure does not exist in .NET 5.0. Hence the obsoletions. :)
Since WinForms targets 5.0 exclusively, these call sites should be removed rather than suppressed.

[2020-07-21 03:18] Jenna-Zheng opened #3613 "[Accessibility]DateTimePicker control should support Tab stop for its drop-down button"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20367.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
There is no tab stop for DateTimePicker drop-down button, so user don't know how to expand this control's calendar pane, but actually we can use Alt+Down arrow or press F4 keyboard to expand.
![image](https://user-images.githubusercontent.com/64949616/8800726

[2020-07-21 06:32] John-Qiao opened #3614 "DTS: USER32!SetScrollInfo is not called as expected when you drag the scrollbar over the window"
* .NET Core Version:

   5.0.100-rc.1.20367.2

* Have you experienced this same bug with .NET Framework?:
   Yes

**More info:**

1. This is **not** a regression issue in both .NET Framework and .NET Core.
2. If add the below code in **hScrollBar1_Scroll** event handler, this issue will not be reproduced.
            `panel1.PerformLayout();`

**Problem description:**

The label15 appears on the l

[2020-07-21 17:43] JeremyKuhne opened #3617 "MAUI tests fail frequently and aren't easily diagnosable"
These are an attempt to shim in the old internal tests (note that MAUI here is an old internal test framework). The old tests worked quite differently and don't fit in well with the current test infrastructure. We're getting [frequent intermittent failures](https://dev.azure.com/dnceng/public/_build/results?buildId=737706&view=ms.vss-test-web.build-test-results-tab&runId=22844842&resultId=100000&p

[2020-07-21 19:48] vladimir-krestov opened #3618 "Controls do not change `ControlType` accessible property value when `AccessibleRole` changes"
* Original [Bug: 1129920](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1129920)
* .NET Core Version: 5.0
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
- ControlType property for Label, GroupBox and other controls doesn't depend on the Role property.
ControlType and Localized control type properties stay unchanged if to change AccessibleRole prop

[2020-07-21 20:47] merriemcgaw commented on #3059
After discussion with our Accessibility SME we need to do something here to indicate that the item is selected. @SergeySmirnov-Akvelon - is this something that we pick up from CommonControls or is it something that we would be able to reasonably adjust on our end. If we can't make the adjustment, then we can file a bug against Windows to help us out here.

[2020-07-21 21:54] merriemcgaw commented on #3617
We ought to rethink our approach to those old tests. I think now, thanks to our amazing contributors, we've got a lot more coverage and don't necessarily need the old school style tests. I'll work with @dreddy-work , @Olina-Zhang and a few others to make sure we have the scenarios covered in our new infrastructure, or rewritten from scratch. It just seems like the right approach here. Go ahead and

[2020-07-21 22:20] jnm2 opened #3619 "SubType is determined slowly or not at all"
This is Visual Studio 16.6.5/.NET Core SDK 3.1.302, and it's been a problem for a few versions. It happens with both netcoreapp3.1 and net472 projects using Microsoft.NET.Sdk.WindowsDesktop. Both had been working for a long time with WindowsDesktop.

On one project, you have to wait several minutes for the designer to become available (that is, for form icons to show up in Solution Explorer). On a

[2020-07-21 22:21] merriemcgaw commented on #3613
This is nice-to-have, but since Alt+down arrow is the most common way to expand drop downs, and it works for this control (which reports to AT that it's a drop-down) the general Narrator user won't be too confused, hence not a MAS violation.

[2020-07-21 22:32] jnm2 opened #3620 "Designer loading should not fail due to NuGet Package Manager dropdown being set to an internal feed"
If the NuGet Package Manager UI happens to have the 'Package source' dropdown set to anything other than nuget.org or All, and you try to open a designer that depends on types defined in packages.

![image](https://user-images.githubusercontent.com/8040367/88113523-ec105580-cb7f-11ea-9f17-a3549ee360a0.png)

This is in spite of the fact that building the solution succeeds. Given that building succe

[2020-07-21 23:14] jnm2 commented on #3619
This approximation works in every csproj. Not sure yet how to adapt it for Directory.Build.props in a parent folder, or how to possibly simplify it:

[code]

[2020-07-21 23:25] jnm2 commented on #3619
This approximation works for Directory.Build.**targets**:

[code]

[2020-07-21 23:28] reflectronic opened #8834 "Add MeasureDriverString/DrawDriverString functionality to System.Drawing"

[2020-07-21 23:29] AdamYoblick commented on #3617
I agree, these tests are pretty fragile. Merrie asked me a while back to see if I could add the manual MAUI runs to our test automation, so that's what all the shims are. 😄

[2020-07-22 01:03] merriemcgaw opened #3622 "Clean up VB Template feedback"
We need to do a cleanup of our VB Template to address the open feedback in #3352

[2020-07-22 01:39] Vino-Wang opened #3623 "The up button is truncated when set the DateTimePicker’s ShowUpDown property to True"
* .NET Core Version:
5.0.100-rc.1.20367.2

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
After set the ShowUpDown property of dateTimePicker to True, then observe the up/down buttons, you'll find the up button is truncated.
![UpDownButton](https://user-images.githubusercontent.com/18568603/88124206-28cf6180-cbff-11ea-8a7d-3fc0001f35d8.png)

**Expected beh

[2020-07-22 02:23] Olina-Zhang commented on #3617
@merriemcgaw, So far we run all migrated Maui cases in our every regular .net 5.0 SDK testing, once a week, these cases can ensure no big regression issue entering.

[2020-07-22 03:18] Lydia-Shi opened #3625 "Extra '(Name)' property appears in Property Browser window for 'splitContainer.panel'"
* .NET Core Version:
5.1.100.rc.1.20371.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Extra '(Name)' property appears in Property Browser window for 'splitContainer.panel'
![image](https://user-images.githubusercontent.com/54019172/88128699-165a2580-cc09-11ea-8042-f0763a8d277c.png)

**Expected behavior:**
No (Name) property appears in Property Browser w

[2020-07-22 05:41] #3358 closed

[2020-07-22 06:21] Vino-Wang opened #3626 "[Color Contrast] The Link is practically invisible when the full dataGridView row is highlighted/selected"
* .NET Core Version:
5.0.100-rc.1.20367.2

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
This issue also can reproduce when targeting .NET Core 3.1

**Problem description:**
In runtime, when the user selected the full dataGridView row is, the link/website is practically invisible.
![Core](https://user-images.githubusercontent.com/18568603/88141562-6eebeb80-cc26-11e

[2020-07-22 07:01] weltkante commented on #3531
#3601 disabled image list sharing [here](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/ListView.cs#L677-L679) as a workaround so the issue cannot be reproduced in current master, but that doesn't mean it shouldn't be fixed. The workaround to avoid random crashes comes at cost of making agressive duplicates of image lists so its worth keeping this

[2020-07-22 10:58] MagicAndre1981 commented on #3558
Strange that the old code worked from VS2005/2008 (.net 2.0/3.5) until VS2019 (.net 4.8) starting with XP Single/Dual Core systems until Windows 10 with 4/6/8 Cores.

Thanks for this trick [with Handle](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.handle?view=netcore-3.1#System_Windows_Forms_Control_Handle):

I added this [discard](https://docs.microsoft.com/en-us/dotne

[2020-07-22 12:35] vladimir-krestov opened #3628 "[Regression] CheckedListBox selected item has an incorrect color"
* Regression from a6a308fa452770caafca55ee4d8ac54d1ee1015d
* .NET Core Version: 5.0
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- If to select some CheckedListBox item it will have an incorrect background color.
![image](https://user-images.githubusercontent.com/49272759/88175999-5207e600-cc2f-11ea-92de-6ec9e61e3c35.png)

**Expected behavior:**
- Checked

[2020-07-22 12:39] vladimir-krestov commented on #3628
@JeremyKuhne, could you please take a look at this regression bug? It was added in a6a308fa452770caafca55ee4d8ac54d1ee1015d (PR #3350
I think you know how to fix it. Could you please assign it to you and fix it?

@Vino-Wang, could you please test it using the latest master branch dlls if it possible and approve this bug?

FYI: @SergeySmirnov-Akvelon, @RussKie

[2020-07-22 17:05] JeremyKuhne commented on #3628
I'll fix it shortly

[2020-07-22 17:48] #3628 closed

[2020-07-22 17:54] vladimir-krestov commented on #3628
Thank you so much for the hotfix. It works well now. 👍

[2020-07-22 18:50] weltkante commented on #3617
I don't think the xunit tests are covering anything regarding input infrastructure at all? The problem is tests doing input coverage can't be multithreaded (input/focus is a global resource) so xunit is not really a good fit. We've actively been moving away some of the flaky tests from xunit too.

[2020-07-22 19:17] weltkante commented on #3610
How would a finalizable object prevent finalization of delegates? Sounds like a bug in the mono runtime, otherwise those callback-delegates would be inherently unsafe and always would have to be put into static collections, which feels like a design flaw.

I don't have in depth knowledge of the runtime specs and winforms repo is probably the wrong place to clarify this, but to me it sounds like ca

[2020-07-22 20:05] weltkante commented on #3613
Not sure if I like this suggestion, it would require non-accessibility users double the number of tab presses to go through some of our forms which have a lot of date fields. If this is implemented it would be nice to be able to opt-out or tie it this feature to accessibility.

[2020-07-22 20:43] #3560 closed

[2020-07-22 20:46] madewokherd commented on #3610
I don't know the details, but I was told by mono devs that yes, they would have to be put in static collections.

[2020-07-22 21:02] RussKie opened #3630 "`DeviceContextExtensions.CreateGraphics` results in `System.OutOfMemoryException`"
Observed in https://dev.azure.com/dnceng/public/_build/results?buildId=741547&view=results

**Problem description:**

[code]

[2020-07-22 21:07] RussKie commented on #3630
Also observed in https://dev.azure.com/dnceng/public/_build/results?buildId=740879&view=results

[code]

[2020-07-22 22:38] JeremyKuhne commented on #3630
I'll look into it

[2020-07-23 01:02] reflectronic opened #8835 "Add Effects to System.Drawing"
### Background

A major addition in GDI+1.1 was the addition of effects. GDI+ comes with eleven effect types which perform various adjustments and transformations on images, like blurs, color balancing, brightness/contrast adjustments, etc. This proposal is one of many to add missing GDI+ 1.1 functionality to `System.Drawing`.

### API Proposal

Updated proposal: https://github.com/dotnet/winforms

[2020-07-23 02:35] reflectronic opened #8836 "Add custom image metadata to System.Drawing"

[2020-07-23 03:08] reflectronic opened #8837 "Add histogram support to System.Drawing"

[2020-07-23 06:46] kirsan31 commented on #3047
In 16.7 Preview 5 with .NET Core 3.1 target. All style dialogs opening correctly, but produce no code - no changes.

[2020-07-23 06:54] RussKie commented on #3580
This is a regression introduced in https://github.com/dotnet/winforms/pull/3532 (e45b38a61c4adac3975c8d1b8b961843d70798b8).

[2020-07-23 07:47] weltkante commented on #3610
Its the normal rule of finalizable objects. Managed objects cannot depend on order of finalization, the GC collects all collectible objects as one group and if they are finalizable executes their finalizer in arbitrary order. It sounds like mono revokes callback delegates under these finalizer rules, so depending on finalization order it may crash.

That said, it probably is worth inspecting your

[2020-07-23 09:40] RussKie commented on #3399
@mavnorthwind if you have a working fix, do you mind raising a PR? :)

[2020-07-23 12:02] RussKie opened #3632 "RichTextBox no longer renders links"
* .NET Core Version:
   - .NET Core 3.1 - doesn't
   - .NET 5.0 RC1 - doesn't

* Have you experienced this same bug with .NET Framework?:
    - .NET 4.6.1 - **works**
    - .NET 4.7.2+ - doesn't

This is blocking a [migration of Git Extensions to .NET Core / .NET 5.0](https://github.com/gitextensions/gitextensions/pull/7162).

**Problem description:**

`RichTextBox` control doesn't respond to `EM_

[2020-07-23 12:26] RussKie commented on #3399
I wouldn't be surprised if this issue is also causing #3632.

[2020-07-23 13:04] RussKie commented on #3558
Thank you @weltkante!

@MagicAndre1981 I'm closing the issue as I believe @weltkante has provided the explanation.
Please ping back if you think there's more to discuss.

[2020-07-23 13:04] #3558 closed

[2020-07-23 13:30] madewokherd commented on #3610
Just looking at the code you linked, they would need to be rooted for as long as the hwnd exists, not just when enabled. In the cross-thread case, the hwnd is destroyed via PostMessage, so StopTimer may return and destroy the root while the hwnd still exists.

[2020-07-23 15:56] weltkante commented on #3612
Just to be clear, the linked PR also suppressed warnings on BinaryFormatter. Those probably need to remain suppressed and cannot be removed until a replacement strategy has been presented and implemented (see https://github.com/dotnet/designs/pull/141/files)

[2020-07-23 18:01] JeremyKuhne commented on #3580
Investigating

[2020-07-23 18:53] vladimir-krestov opened #3634 "Periodic NRE in GdiCache.GetHFONT method"
* .NET Core Version: 5.0
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- We can get `NullReferenceException` sometimes (about 10-15% chance) in `GdiCache.GetHFONT` method. (**`s_fontCache`** is null)
![image](https://user-images.githubusercontent.com/49272759/88325491-de003780-cd2d-11ea-876f-a9937edd0539.png)

- It seems this method is called before **`s_f

[2020-07-23 19:09] JeremyKuhne commented on #3634
Looking into this. Might be some weirdness about hitting this from separate threads.

[2020-07-23 22:24] merriemcgaw commented on #3625
As described by @DustinCampbell

Hence migrating this to the dotnet core runtime repo

[2020-07-23 23:17] merriemcgaw commented on #3632
Adoption Blocker for GitExtensions, because they depend on links in RichEdit. Can we provide an option to go back to the old one? Or we may need to update how we interact.

[2020-07-23 23:18] merriemcgaw commented on #3632
@dreddy-work - can you reach out to your contact from back when we switched?

[2020-07-23 23:30] merriemcgaw commented on #3626
Let's go with a selection text closer to the selected row/column header. While we're in here we should consider setting all defaults for border colors.

[2020-07-23 23:34] merriemcgaw commented on #3623
@Vino-Wang could you test this with the old default font (MS Sans Serif 9)? https://docs.microsoft.com/en-us/dotnet/core/compatibility/winforms#recommended-action

[2020-07-23 23:41] merriemcgaw commented on #3620
@Vino-Wang can you see if you can repro this without the designer. @RussKie has seen it in general. We can then file an issue for VS Nuget Package Manger team.

[2020-07-23 23:43] merriemcgaw commented on #3620
@jnm2 - if you could file a VS feedback ticket we will be able to investigate and route to the correct team more quickly. We are able to get your diagnostic information and can find out much more about the problem that way.

[2020-07-23 23:43] merriemcgaw commented on #3620
/cc: @Shyam-Gupta

[2020-07-23 23:46] merriemcgaw commented on #3619
@Shyam-Gupta is this related to the work you did with the user file?
@jnm2 are you using a new project or an existing one.

[2020-07-23 23:53] merriemcgaw commented on #3617
Given these scenarios are part of the manual suite of tests, I think we can disable the most flaky ones. We should have a separate effort to refactor and improve the integration test bed.

[2020-07-24 00:02] merriemcgaw commented on #3613
That's a great point @weltkante. The other issue we may run into is that we may not have direct access to this button making it a Common Controls issue. @guybark, what are your thoughts on @weltkante's concern about the extra number of tabs?

[2020-07-24 00:08] merriemcgaw commented on #3606
Since this behavior is consistent with .NET Framework (and hence have customers depending on this unexpected behavior) we're going to mark it for future so we can take the time this needs for a significant investigation.

[2020-07-24 00:11] merriemcgaw commented on #3605
Description Attribute is missing on this class.
Moving this to the runtime repo for System.IO

[2020-07-24 00:26] merriemcgaw commented on #3452
@Tanya-Solyanik, can you chat with @AaronRobinsonMSFT for a high level overview of AccessibleObject?

[2020-07-24 02:12] jnm2 commented on #3619
@merriemcgaw Existing, if I understand correctly. These are net472 projects that I converted to SDK-style and later to Microsoft.NET.Sdk.WindowsDesktop. The problem is the same when I change one of them to netcoreapp3.1. There were no issues for a long time this way.

[2020-07-24 02:13] Vino-Wang commented on #3623
@merriemcgaw The old font has actually been tested, because the problem is reproduced in the framework project, and the default font in the framework project is MS。
![MSFont](https://user-images.githubusercontent.com/18568603/88354875-f9eaf400-cd94-11ea-9f7a-ee35d0f42e0f.PNG)

[2020-07-24 06:00] Vino-Wang commented on #3620
@merriemcgaw Unable to reproduce it using this NuGet Packages: [139719-samplenugetandproject (1).zip](https://github.com/dotnet/winforms/files/4970350/139719-samplenugetandproject.1.zip), the form designer loaded successfully by following steps:
1.	Go to Tools | Options | NuGet Package Manager | Package Source to add this NuGet package source.
2.	Then install the controls under Browse tab.
3.	Buil

[2020-07-24 06:29] Olina-Zhang opened #3636 "Properties window is blank"
* .NET Core Version:
5.0.100-rc.1.20373.1

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Properties window is blank, we cannot see any properties for form or added controls, and no properties and events toolbar in Properties window.
**This is a regression issue**. It cannot repro .Net 5.0 SDK build: 5.0.100-rc.1.20371.1
![image](https://user-images.githubu

[2020-07-24 06:44] RussKie commented on #3620
I vaguely remember having similar woes with VS and Package Manager, but not related to the Designer. Few years ago when I worked on ASP.NET and ASP.NET Core projects restoring packages at the solution level (i.e. right click->Restore on a solution in the Solution Explorer) could fail if the Package Manager would have other than "all" feed selected despite the solution having its nuget.config prese

[2020-07-24 07:06] Vino-Wang opened #3637 "An error pops up after clicking the smart tag of ToolStrip/MenuStrip/StatusStrip/TreeView/PictureBox controls"
* .NET Core Version:
5.0.100-rc1.20373.1

* Have you experienced this same bug with .NET Framework?:
No

**More info:**
This is a regression issue of .NET5.0 5.0.100-rc1.20373.1, it cannot reproducing with 5.0.100-rc.1.20371.1 build and .NET Core 3.1 version.

**Problem description:**
User try to show the Tasks dialog to modify some properties using smart tag, but an error pops up after clicking t

[2020-07-24 07:34] Vino-Wang opened #3638 "VS crash and restart after clicking the smart tag of ImageList/ContextMenuStrip controls in Component Tray"
* .NET Core Version:
5.0.100-rc1.20373.1

* Have you experienced this same bug with .NET Framework?:
No

**More info:**
1.	This is a regression issue of .NET5.0 5.0.100-rc1.20373.1, it cannot reproducing with 5.0.100-rc.1.20371.1 build and .NET Core 3.1 version.
2.	This issue cannot reproduce with NotifyIcon control.

**Problem description:**
User try to show the Tasks dialog to modify some proper

[2020-07-24 08:16] weltkante commented on #3634
You probably figured this out already yourself, but `ScreenDcCache` does a reentrant wait, allowing other random window messages to arrive and processed while still being in the static constructor.

Maybe you can do something simliar to vs-threading which temporarily switches the SC for wait operations to [an implementation](https://github.com/microsoft/vs-threading/blob/master/src/Microsoft.Visua

[2020-07-24 08:25] Olina-Zhang opened #3639 "Some properties are grey with black rectangle in Properties window after choosing more controls"
* .NET Core Version:
5.0.100-rc.1.20373.1

* Have you experienced this same bug with .NET Framework?:
 No

**Problem description:**
Some properties are grey with black rectangle in Properties window after choosing more controls. Please see following screenshot:
**This is a regression issue.** It cannot repro .Net 5.0 SDK build: 5.0.100-rc.1.20371.1
![image](https://user-images.githubusercontent.co

[2020-07-24 08:35] RussKie commented on #3639
@Olina-Zhang can you please share the version of System.Windows.Forms.dll as well, so we can bisect and find the offending commit?

[2020-07-24 08:37] Marie-Shi opened #3640 "[Accessibility]Narrator's blue cursor cannot move when entering characters into the RichTextBox/ComboBox in RTL environment"
* .NET Core Version:
.Net 5.0.100-rc.1.20373.1 from master branch + latest master VS2019 with latest core designer

* Have you experienced this same bug with .NET Framework?:
No

**More info:**
1.	This issue cannot repro in LTR environment.
2.	When using left/right arrows, it also cannot focus on every letter.

**Steps to reproduce:**
1.	Extract “Private_1588_RTL.zip” and open in in VS, then build

[2020-07-24 08:40] RussKie commented on #3636
This looks like a duplicate of https://github.com/dotnet/winforms/issues/3580

[2020-07-24 08:41] Olina-Zhang commented on #3639
@RussKie  See following screenshot:
![image](https://user-images.githubusercontent.com/26474449/88374551-7baa4400-cdcc-11ea-947d-724bfa3c4aa9.png)

[2020-07-24 08:44] Olina-Zhang commented on #3636
This issue just repro today 5.0 build, not repro those builds yesterday and last week.

[2020-07-24 09:02] jwfx commented on #3619
I am encountering the same issues.

The detection described in #3510 is completely unreliable. Usually .csproj.user files are not supposed to be checked into repositories. Yet with the new SDK-style csproj format they are required for VS to show Forms properly.

I think this system of caching the SubType in some file should be overthought. Now the .csproj is clean because all references of every s

[2020-07-24 10:36] kirsan31 commented on #3619
I think that the Idea overall about background process and `*.csproj.user` is ok, but implementation....
I have done many experiments with:
SDK-style WinForm project (`<TargetFrameworks>net472;netcoreapp3.1</TargetFrameworks>`) with 33 Forms in sub folder.
csproj.user
VS 16.6.5 and 16.7 preview 5 - no differences.
Deleting and modifying in varius ways `*.csproj.user`. Restarting VS, open solution

[2020-07-24 13:17] DustinCampbell commented on #3637
Is this the case of another type getting moved without a type forwarder?

[2020-07-24 15:01] jnm2 commented on #3620
I'm sorry. It was happening the evening I filed this, but now I can't repro the designer error. Instead, I get an "Intellisense is loading... you can continue working" message for a bit, than an "opening file" popup window, then the designer opens properly.

I wonder if it could be a timing issue. Sometimes our internal feeds are slow. If it comes back, I will fill a VS feedback item as soon as I

[2020-07-24 15:06] jnm2 commented on #3620
It's also worth pointing out that I'm not reproing https://github.com/dotnet/winforms/issues/3619 in any of our projects now either, even though I'm on the same commit that reproduced it a few days ago. It was in search of a fix for https://github.com/dotnet/winforms/issues/3619 that I encountered this issue. (Think I had pasted `<Compile Update="**\*View.cs" SubType="Form" />` as a quick workarou

[2020-07-24 15:12] jnm2 commented on #3620
Never mind, just reproduced it. Guess it just takes a bit more patience. Filing feedback item.

![image](https://user-images.githubusercontent.com/8040367/88406355-9239a680-cd9e-11ea-9be0-7d15155e83a6.png)

[2020-07-24 15:17] jnm2 commented on #3620
Not actually sure if the last screenshot was the same issue. I built the solution and now get this:
![image](https://user-images.githubusercontent.com/8040367/88406850-3de2f680-cd9f-11ea-8a2d-60ba4c582519.png)

At least #3619 is reproing at this point, so the only forms with icons in Solution Explorer are the ones I'm manually setting SubType on.

[2020-07-24 15:25] #3620 closed

[2020-07-24 15:28] jnm2 commented on #3619
I'm having this issue and no .csproj.user file exists on disk.

[2020-07-24 17:34] kirsan31 commented on #3619
@jnm2

And this is exactly why you having this issue ;) Due to bugs, VS can't properly detect Forms and therefor can't generate this file.
The process overall well described in #3510.
So, if you have `*.csproj.user` file and in it:
[code]
when you load a project you be able to design `form1` _immediately_. All other forms that are absent in this file, are subject to analyze process (#3510) and the

[2020-07-24 18:04] JeremyKuhne commented on #3639
I did change a lot of private fields, but I don't think that would impact this? Should move to the designer repo to investigate further.

[2020-07-24 18:06] JeremyKuhne commented on #3636
Should investigate with #3639 in the designer repo.

[2020-07-24 18:11] Tanya-Solyanik commented on #3639
The look of the property browser window suggests this is a bug in the designer, but the fact that it repros only when we change the Core SDK version suggests s.w.f.dll as the cause. Cool bug!

[2020-07-24 18:40] kirsan31 commented on #3606
@merriemcgaw

There are 2 problems here:
1. The **bug**, that `Application.Exit` currently cannot be used in most of MDI apps. And I think no customers can depend on it. This bug can be easily fixed (see below).
2. _Behavior_ that users can't  use `Application.Exit` when they are have some forms closing/opening code in `FormClosing`. And this is other story. I'm not even sure if it's worth taking

[2020-07-24 19:09] weltkante commented on #3637
Could be related to #2411 where attributes link to non-ported classes. Not sure if these are now private to the designer or still need to be ported, but as it stands the annotations within WinForms are still broken (thus the issue is still open).

I don't think there are any "unknown" missing type forwarders, I had created structural tests which checked the attributes and documented all that were

[2020-07-25 00:51] DragoonAethis opened #3642 "TextBox.PlaceholderText uses BackColor even when TextBox.Enabled = false"
* .NET Core Version: 3.1.6
* Have you experienced this same bug with .NET Framework?: No (PlaceholderText not available)
* Visual Studio version: 2019 16.7 Preview 5

**Problem description:**

When PlaceholderText is set and displayed, it's always drawn with the BackColor as the background, regardless of the Enabled value. This causes minor graphical issues as presented below.

![image](https://us

[2020-07-25 01:32] #3580 closed

[2020-07-25 01:50] RussKie commented on #3619
In a nutshell this problem largely lies outside Windows Forms, and mostly with Roslyn/IDE. `*.csproj.user` file is a temporary bandaid until a proper fix is provided.

[2020-07-25 02:18] jnm2 commented on #3619
Is there something I can do to get this in the right place, or is that already happening?

[2020-07-25 05:53] RussKie commented on #3619
This issue is already on their radar.

________________________________
From: Joseph Musser <notifications@github.com>
Sent: Saturday, 25 July 2020 12:18 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Igor Velikorossov <Igor.Velikorossov@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [dotnet/winforms] SubType is determined slowly or not at all (#3619)

Is there somethi

[2020-07-25 07:02] kirsan31 commented on #3619
I found only [this](https://github.com/dotnet/roslyn/issues/45471) and there only small part of big problem...

[2020-07-25 09:02] Tanya-Solyanik commented on #3639
@Olina-Zhang , I'm not getting PropertyBrowser loaded for any control on the combination of the latest SDK and latest designer from our master + Int preview Version 16.8.0 Preview 1.0 [30324.13.master
![image](https://user-images.githubusercontent.com/15823268/88453299-8390d500-ce1a-11ea-828d-a7336e12200a.png)

What version of VS did you run?

[2020-07-25 09:04] Tanya-Solyanik commented on #3636
Looks like TypeEditor caches don't initialize in the designer.
![image](https://user-images.githubusercontent.com/15823268/88453381-33fed900-ce1b-11ea-9e19-69443bfb31a7.png)

[2020-07-25 14:32] Olina-Zhang commented on #3639
Latest 16.8 preview 1 master build or 16.7 preview 6 test pass build

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tanya Solyanik <notifications@github.com>
Sent: Saturday, July 25, 2020 5:02:19 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: v-olzhan <zhangqiaowei28@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/winforms]

[2020-07-26 19:32] kirsan31 commented on #3583
@merriemcgaw will this issue be considered during DPI scaling system overhaul, or may be earlier? For us **Font** scaling is more important than DPI scaling, because font change can be easily apply during RDP connection, unlike DPI change...
Thanks.

[2020-07-27 01:08] RussKie commented on #3619
There are also internal discussions.

[2020-07-27 03:19] Vino-Wang opened #3646 "[Accessibility] Screenreader does not read the GroupBox text with the radio button, label and edit fields(Orientation and Margins)"
* Original [Bug 1159122](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1159122?src=WorkItemMention&src-action=artifact_link)

* .NET Core Version:
5.0.100-preview.8.20373.19

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
This issue cannot reproduce with the standalone GroupBox with radio button, label and textbox controls added into it.
[Standalone_NotRepr

[2020-07-27 07:17] RussKie commented on #3617
@SergeySmirnov-Akvelon as discussed please disable the integration tests for #3600
[code]

[2020-07-27 07:29] RussKie opened #3647 "Flaky tests: `TextRenderer`-related tests randomly fail"
* .NET Core Version:
The current master @ 5.0RC1

**Problem description:**

Multiple observed intermittent (yet persistent) failures that appear to be related to `TextRenderer` and device context (?):

[code]
[code]
[code]
[code]

The current hypothesis is that DC may somehow be dirtied that causes tests to fail.
For example, builds for https://github.com/dotnet/winforms/pull/3417 have [failed mul

[2020-07-27 07:33] mavnorthwind commented on #3399
@RussKie I'll try, but since it's my first contribution to such a project it could take a few cycles to get it right... :)

[2020-07-27 07:44] RussKie commented on #3399
We all start somewhere :) Feel free to reach out, if you get stuck.

[2020-07-27 07:53] RussKie commented on #3583
Font scaling is not going away. We plan to review, refactor and modernise the layout engine, and this involves both Font and DPI scaling. Unfortunately .NET 5.0 is almost at the end of its runway, so this will be done in NET 6.0 timeframe.

[2020-07-27 09:29] Jessie-Zhang01 opened #3649 "The information in the warning dialog is different from the .Net Framework when the EnableRaisingEvents property of FileSystemWatcher is changed to true"
* .NET Core Version:
.Net 5.0.100-rc.1.20376.1 from 5.0 master branch

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**

1. Open the attached ‘[WindowsFormsApp5.zip](https://github.com/dotnet/winforms/files/4980950/WindowsFormsApp5.zip)’ application in VS, then build and run it.
2. Change the EnableRaisingEvents property to true.
3. A warning dialog will pop-up, th

[2020-07-27 09:29] Jessie-Zhang01 opened #3650 "No warning dialog pops up when changing the value of the NotifyFilter property of FileSystemWatcher"
* .NET Core Version:
.Net 5.0.100-rc.1.20376.1 from 5.0 master branch

* Have you experienced this same bug with .NET Framework?:
No

**More Info:**
In the framework project, change the value of the NotifyFilter property from the Property browser, no warning box pops up.
Framework project: [WindowsFormsApp6.zip](https://github.com/dotnet/winforms/files/4981019/WindowsFormsApp6.zip)

**Minimal repr

[2020-07-27 17:31] JeremyKuhne opened #3651 "API Proposal: Add span overloads to `TextRenderer`"
## Proposal

We should add span overloads to `TextRenderer` to allow for efficient text rendering. Fortunately the Win32 APIs in play here take a length so we can use span data directly- we've already refactored internally to use `ReadOnlySpan<char>`.

[code]

## Justification

Drawing and measuring text is a pretty common activity. This will allow significantly more efficient text rendering when

[2020-07-27 18:47] weltkante commented on #3651
Make sure you don't repeat the same mistake the existing interop does, namely allowing _writing_ into immutable strings (this is actually still broken, see #1564). You should prevent calling native code writing into readonly spans by passing through the `ModifyString` flag unchecked.

Do we want to include fixing #1564 in this API design discussion or should this just be about readonly APIs?

[2020-07-27 21:26] Tanya-Solyanik commented on #3639
On machine with the new Core 5 SDK, I don't have the S.W.F.Editors.dll façade installed. I have it on the machine with an older SDK  that works.

[2020-07-27 23:18] elachlan opened #3652 "Lexicographical order designer code"
**Is your feature request related to a problem? Please describe.**
Historically winforms designer code has been a bit of a pain when merging code changes. The ordering often seems random, although there is basic ordering to make sure dependencies work.

The current fix to avoid merge conflicts is to make sure developers don't make changes to designer files unnecessarily, and to make sure no body i

[2020-07-27 23:36] elachlan commented on #3652
It would be nice to have similar ordering on licx files as well. I wasn't sure if this is the right place to raise it.

[2020-07-28 00:26] JeremyKuhne commented on #3651
Thanks for the reminder! I'll make sure the original issue is fixed- we can always add a new API for those that want the truncated behavior. Corrupting strings could go horribly, horribly wrong.

[2020-07-28 00:27] JeremyKuhne commented on #1564
Need to validate we don't allow corrupting the immutability of strings.

[2020-07-28 03:05] Amy-Li03 opened #3654 "Accessibility: The list item of comboBox incorrectly displayed in inspect tree when setting its DropDownStyle as DropDown or DropDownList."
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20377.3

* More Info:
This is not a regression issue, it also reproduce on .NET Core 3.1.

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
When setting ComboBox's DropDownStyle as DropDown or DropDownList, the list item of comboBox doesn't display below Form1 window node, it incorrectly displayed below Desktop1 pane

[2020-07-28 03:35] Amy-Li03 opened #3655 "Accessibility: The BoundingRectangle is incorrect when clicking the list & list item in inspect tree"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20377.3

* More Info:
This is not a regression issue, it also reproduce on .NET Core 3.1.

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
The BoundingRectangle is incorrect, the yellow rectangle has gone out the boundary of form when clicking the "Standard" list below "FlatStyle" tree item in inspect tree.
![Core]

[2020-07-28 04:41] #3608 closed

[2020-07-28 05:49] TempeBrennan commented on #3547
Is there any pbody else meet this issue?
Using DataGridView

[2020-07-28 06:05] Olina-Zhang commented on #3636
Verified in the latest .Net 5.0 SDK build: 5.0.100-rc.1.20377.7 today, this issue can't repro.
![image](https://user-images.githubusercontent.com/26474449/88625217-e57f6200-d0da-11ea-9b9b-cbc4aa367bde.png)
Here is the version of System.Windows.Forms.dll:
![image](https://user-images.githubusercontent.com/26474449/88625330-211a2c00-d0db-11ea-86d3-bbe0fd3496ff.png)

[2020-07-28 06:05] Vino-Wang commented on #3638
Verified with latest .NET 5.0 5.0.100-rc.1.20377.7 build, this issue is not reproducing, the controls' Tasks dialog can be opened normally.

[2020-07-28 06:05] Olina-Zhang commented on #3639
Verified in the latest .Net 5.0 SDK build: 5.0.100-rc.1.20377.7 , this issue can't repro.
![image](https://user-images.githubusercontent.com/26474449/88625391-3ee79100-d0db-11ea-9319-dafcfcc8cb54.png)

Here is the version of System.Windows.Forms.dll:
![image](https://user-images.githubusercontent.com/26474449/88625344-25dee000-d0db-11ea-821e-e3a6e153a122.png)

[2020-07-28 06:05] Vino-Wang commented on #3637
Verified with latest .NET 5.0 5.0.100-rc.1.20377.7 build, this issue is not reproducing, the controls' Tasks dialog can be opened normally, no error pops up.

[2020-07-28 07:00] weltkante commented on #1564
Like said above TextRenderer should probably filter out or throw on passing the `ModifyString` flag and have a separate API for mutable strings (i.e. StringBuilder, ref string or mutable span)

[2020-07-28 07:09] weltkante commented on #3652
licx is no longer supported (in fact it was never ported to .NET Core). Last we were told they were working on a different way to implement licensed controls (#1462)

[2020-07-28 07:48] RussKie commented on #3570
Resolved in #3553

[2020-07-28 07:48] #3570 closed

[2020-07-28 07:53] RussKie commented on #3649
`System.IO.FileSystemWatcher` is part of the BCL, we don't own it. The error message is also supplied by the BCL.

@JeremyKuhne may provide additional information.

[2020-07-28 07:53] #3649 closed

[2020-07-28 07:55] RussKie commented on #3547
@Olina-Zhang could you please verify?

[2020-07-28 08:20] #3124 closed

[2020-07-28 08:58] Olina-Zhang commented on #3547
@RussKie we can repro this issue on 2004 OS, and cannot repro it on 1909 OS. Please see following gif:
2004 gif:
![2004](https://user-images.githubusercontent.com/26474449/88642770-7b26eb80-d0f3-11ea-8f83-5d0ad0860240.gif)
1909 gif:
![1909](https://user-images.githubusercontent.com/26474449/88642683-60ed0d80-d0f3-11ea-8863-7113c5487ef7.gif)

[2020-07-28 10:05] John-Qiao opened #3656 "Control text does not depend on the UI Language of the OS when changed form's Language property to the local language"
* .NET Core Version:
5.0.100-rc.1.20377.13

* Have you experienced this same bug with .NET Framework?:
No

**More info:**
It's not a regression issue in .NET Core.

**Problem description:**

Button control shows the **Korean** text in the English language of the OS.
![Actual](https://user-images.githubusercontent.com/45864985/88645578-d73f3f00-d0f6-11ea-8ac5-32339be80ef4.png)

**Expected behavior:

[2020-07-28 11:09] RussKie commented on #3656
Has it worked in 3.1?
________________________________
From: v-peqiao <notifications@github.com>
Sent: Tuesday, 28 July 2020 8:05 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [dotnet/winforms] Control text does not depend on the UI Language of the OS when changed form's Language property to the local language (#3656)

  *   .NET Core

[2020-07-28 16:59] JeremyKuhne commented on #3651
The Win32 API in play here is [`DrawTextExW`](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-drawtextexw).  When drawing with ellipses it has the option to modify the input string to reflect what actually would be displayed. We didn't block this historically, but won't allow it going forward. In order to safely allow it we would have to have at least four new methods to matc

[2020-07-28 17:36] terrajobst commented on #3651
* Looks good as proposed

[code]

[2020-07-28 19:29] Shadowblitz16 commented on #2543
the strip items should use the same renderer as the deprecated versions when using rendermode system
- tool strip => tool bar
- menu strip => main menu
- context strip => context menu

then the native render should be updated for windows 10

[2020-07-28 22:47] merriemcgaw commented on #3583
Thanks for the heads up on the scenario @kirsan31 - we will certainly keep this in mind as we work through the design of the layout engine work we want to do in .NET 6. DPI is very high on our list of priorities.

[2020-07-28 22:52] merriemcgaw commented on #3619
Adding @Shyam-Gupta to this thread so he can keep us posted on developments as they occur. We're moving forward and asking for a change in how we can determine the SubType to be more efficient.

[2020-07-28 22:56] merriemcgaw commented on #3606
Given that we're at the very end of .NET 5, and this is the behavior (bad as it is) in .NET Framework, I think we'll leave this in the future bucket. We can pick it back up in 6 and do some deeper analysis of any side effects. Thanks!

[2020-07-29 01:27] John-Qiao commented on #3656
@RussKie this issue still occurs in 3.1.

[2020-07-29 05:53] Zheng-Li01 commented on #3549
Verified the issue with latest .Net 5.0.100-rc.1.20378.13, the issue has been fixed that the "Name" of list items for ComboBox control displayed correctly.
![UpdateCoreIssue](https://user-images.githubusercontent.com/38325459/88762029-eb407a80-d1a2-11ea-839c-184915fb4d9c.PNG)

[2020-07-29 06:52] Jessie-Zhang01 opened #3658 "[Accessibility] Narrator does not read the image description of the existed image in the DataGridViewImageColumn"
* .NET Core Version:
.Net SDK 5.0.100-rc.1.20378.13

* Have you experienced this same bug with .NET Framework?:
Yes

More Info:
There is a similar bugs: [1159791 ](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1159791/?triage=true)in VSO.

**Minimal repro:**

1. Extract “[DataGridViewImage.zip](https://github.com/dotnet/winforms/files/4993008/DataGridViewImage.zip)” and open it in VS.
2. Bui

[2020-07-29 07:18] Zheng-Li01 opened #3659 "[Accessibility] Keyboard focus is not clearly visible on "Categorized", "Alphabetical" and " Property Pages" for PropertyGrid control"
* .NET Core Version:
.Net SDK 5.0.100-rc.1.20378.13

* Have you experienced this same bug with .NET Framework?:
Yes

 **More info**
1. The issue also can reduce when focus with mouse.

**Minimal repro:**
1. Extract “[PropertyGrid.zip](https://github.com/dotnet/winforms/files/4993278/PropertyGrid.zip)” and open it in VS.
2. Build and run the project.
3. Press "Right/Left" arrow to focus on  "Catego

[2020-07-29 07:41] Zheng-Li01 opened #3660 "The PrintPreviewControl control have no dotted rectangle when using Keyboard focus on it"
* .NET Core Version:
.Net SDK 5.0.100-rc.1.20378.13

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Extract “[Keyboard_PreviewControl.zip](https://github.com/dotnet/winforms/files/4993308/Keyboard_PreviewControl.zip)” and open it in VS.
2. Build and run the project.
3. Navigating the controls on PrintingTesting Form through tab key.

**Expected behavior:**
Ke

[2020-07-29 08:26] Jenna-Zheng opened #3661 "[Accessibility] Keyboard focus is getting trapped while pressing right/left arrow to leave the ComboBox/TextBox items"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20378.13

* Have you experienced this same bug with .NET Framework?:
Yes

More Info
The BindingNavigator/MenuStrip/ToolStrip also reproduce this issue.

**Problem description:**
Step 4: Keyboard focus cannot use right/left arrow to leave **ComboBox**/**TextBox** items.
Step 5: Keyboard focus cannot use alt+right arrow to leave **ComboBox**/**TextBox** clo

[2020-07-29 08:41] Zheng-Li01 opened #3662 "An exception dialog pops up after resized the PropertyGrid Control more one times"
* .NET Core Version:
.Net SDK 5.0.100-rc.1.20378.13

* Have you experienced this same bug with .NET Framework?:
No

**More info:**
1. The issue is a **regression** issue, can't repro on 5.0.100-rc.1.20377.3 build.

**Minimal repro:**
1. Create a .NET Core winforms application with a PropertyGrid control.
2. Resize the propertyGrid1 control more one times.

**Expected behavior:**
The propertyGrid1

[2020-07-29 10:14] Ashley-Li opened #3663 "[Accessibility] ToolStripComboBox/ToolStripTextBox items' name property cannot be null"
* .NET Core Version: .Net SDK 5.0.100-rc.1.20378.13

* Have you experienced this same bug with .NET Framework?:
Yes

* More info
This issue can reproduce on contextMenuStrip/MenuStrip.
**Minimal repro::**
1. Extract “[testApp.zip](https://github.com/dotnet/winforms/files/4994154/testApp.zip)” and open it in VS.
2. Build and run the project.
3. Open Accessibility Insights For Windows tool, select f

[2020-07-29 15:29] merriemcgaw commented on #3646
Those labels are owned by Windows and we can resolve as External.

[2020-07-29 17:23] Tanya-Solyanik commented on #3639
@Olina-Zhang - I'm curious, why did not you close this issue?

[2020-07-29 18:15] weltkante commented on #3290
related: #3512 and #3513

[2020-07-29 22:26] Olina-Zhang commented on #3639
I am not sure if anyone had pull request or did some change for it. Didn't see any update in this issue. And we want to check several builds to verify, then close it.

获取 Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Tanya Solyanik <notifications@github.com>
Sent: Thursday, July 30, 2020 1:24:12 AM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: v-olzhan

[2020-07-29 23:31] RussKie commented on #3639
@JeremyKuhne has been iterating over the responsible/affected code, so likely he has fixed it without targeting this issue specifically.

[2020-07-29 23:49] #3646 closed

[2020-07-30 00:12] JeremyKuhne commented on #3662
Hmm. I don't think this is actually out of memory- but clearly an error.  Looking.

[2020-07-30 00:18] JeremyKuhne commented on #3662
Yeah, if you call `Graphics.FromHdcInternal(IntPtr.Zero)`, this is what you get.

[2020-07-30 00:32] JeremyKuhne commented on #3662
It appears that WinFormsSurface.Designers.ControlDesigner.WmPaint is either passing an invalid HDC or one that GDI+ can't get the type for (via `GetDCType(hdc)`);

[2020-07-30 01:13] #2058 closed

[2020-07-30 01:49] merriemcgaw commented on #3299
Well darn. Thanks for the repro @Jenna-Zheng. @guybark can ignore my tag 🙂

[2020-07-30 02:18] Olina-Zhang commented on #3639
Checked in today's new build, it cannot repro. Closing this issue now.

[2020-07-30 02:18] #3639 closed

[2020-07-30 02:19] Olina-Zhang commented on #3636
Checked in today's new build, it cannot repro. Closing this issue now.

[2020-07-30 02:19] #3636 closed

[2020-07-30 02:45] #3638 closed

[2020-07-30 02:45] #3637 closed

[2020-07-30 06:23] Marie-Shi opened #3671 "[Accessibility]Keyboard focus is invisible after pressing ‘Enter’ key of ToolStrip/StatusStrip with button item"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20379.18

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info:**
This issue can also repro on Framework project.

**Minimal repro:**
1.	Extract “ToolStrip_StatusStrip_keyboard_focus.zip” and open it in VS.
[ToolStrip_StatusStrip_keyboard_focus.zip](https://github.com/dotnet/winforms/files/4999180/ToolStrip_StatusStrip_keyboard_focu

[2020-07-30 07:44] Amy-Li03 opened #3672 "[Accessibility] There is no ExpandCollapse pattern support for such properties which drop-down control is RichEdit control"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20378.11

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Narrator doesn't announce the collapsed and expanded state when pressing F4 to open and close the RichEdit control of Text property.
![Core](https://user-images.githubusercontent.com/62929087/88895436-5d848e00-d27b-11ea-931c-e6f142ad6f1c.png)

**Expected beh

[2020-07-30 10:23] SergeySmirnov-Akvelon opened #3673 "Accessibility: no way to set Form control accessible name"
* .NET Core Version: 5.0

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
If AccessibleName is set to a custom value for the Form control, this does not affect the AccessibleName  in Accessibility tools. And default values are shown.

**Expected behavior:**
There should be an ability to set/change AccessibleName for Form control

**Minimal repro:**
Create th

[2020-07-30 12:49] mavnorthwind commented on #3399
I think I've fixed the problem and created a PR.
In case I did something wrong please let me know.

[2020-07-30 14:07] BlueEnni commented on #259
In desktop shortcuts the box still appears after pressing ctrl + backspace

[2020-07-30 23:28] merriemcgaw commented on #3659
If we add dotted box to ToolStrip base class we should pick the change up.

[2020-07-30 23:58] merriemcgaw commented on #3661
@Jenna-Zheng What happens with ComboBoxes in the ToolStrip?

[2020-07-31 00:52] Tanya-Solyanik commented on #3660
@merriemcgaw We can quickly fix the test application to not focus on controls that can't be edited. However we should get guidance if a more comprehensive fix is needed -
1. set default value for TabStop property to false
2. if the developer sets TabStop to true, we should draw the focus rectangle

[2020-07-31 01:18] Jenna-Zheng commented on #3661
@merriemcgaw Same as TextBox, Keyboard focus cannot use right/left arrow to leave ComboBox item. the keyboard focus is getting trapped while pressing right/left arrow to leave the ComboBox item.
![TestResult_combox](https://user-images.githubusercontent.com/64949616/88989687-c406bc00-d30e-11ea-9b73-2b6567b51383.gif)

[2020-07-31 01:29] Tanya-Solyanik opened #3678 "The PrintPreviewControl control have no dotted rectangle when using Keyboard focus on it"
Repro:
1. create a core winforms application
2. add a text box and a print preview control to a form
3. run the application and TAB through the form
result: TAB key moves focus from the text box to the print preview control even though this control is not editable.

Let's consider a comprehensive fix in Core 6.0 -
1. set default value for TabStop property to false:
[code]
2. if the developer sets

[2020-07-31 02:10] #3663 closed

[2020-07-31 02:19] Olina-Zhang opened #3680 "[Accessibility] The Name property must not include the element's control type for toolStripProgressBar"
* .NET Core Version:
5.0.100-rc.1.20379.16

* Have you experienced this same bug with .NET Framework?:
 Yes
* Problem description:
Name property must not include the element's control type for toolStripProgressBar in ToolStrip and StatusStrip controls

**Minimal repro:**
1. Extract following attached app and open it in VS.
[WindowsFormsApp48.zip](https://github.com/dotnet/winforms/files/5004631/Wi

[2020-07-31 04:15] Jessie-Zhang01 opened #3682 "[Accessibility] Keyboard shortcut key is unavailable to access the buttons(One Page, Two Page...)"
* .NET Core Version:
.NET SDK 5.0.100-rc.1.20377.7

* Have you experienced this same bug with .NET Framework?:
Yes

**More Info:**

1. This issue can also repro on Framework project.
2. There is a similar bugs: [1156785 ](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1156785?src=WorkItemMention&src-action=artifact_link)in VSO.
3. We can just use ‘Enter’ key enter to buttons(One Page, Two Pag

[2020-07-31 05:20] #3660 closed

[2020-07-31 05:51] Olina-Zhang opened #3683 "[Accessibility] An element of the given ControlType must support the Text pattern for PropertyGrid: Text tree items"
* .NET Core Version:
5.0.100-rc.1.20379.16

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
An element of the given ControlType must support the Text pattern for PropertyGrid: Text tree items

**Minimal repro:**
1. Extract following attached app and open it in VS.
[WindowsFormsApp50.zip](https://github.com/dotnet/winforms/files/5005553/WindowsFormsApp50.zip

[2020-07-31 09:37] John-Qiao opened #3684 "Cannot build project successfully"
* .NET Core Version:
5.0.100-rc.1.20380.12

* Have you experienced this same bug with .NET Framework?:
No

**More info:**
This issue does not occur in 5.0.100-rc.1.20378.11, it's a regression issue.

**Problem description:**
Cannot build project successfully, and received the below error:
![Actual](https://user-images.githubusercontent.com/45864985/89022271-52e9f780-d354-11ea-979c-1054017c2ca0.png

[2020-07-31 15:26] jnm2 commented on #3619
The Roslyn team believes this is fixed in VS 16.8 by tweaking delays and no longer persisting winforms data to disk:
https://github.com/dotnet/roslyn/issues/45471#issuecomment-666769047

Should we close this issue now?

[2020-07-31 15:26] jnm2 commented on #3619
The Roslyn team believes this is fixed in VS 16.8 by tweaking delays and no longer persisting winforms data to disk:
https://github.com/dotnet/roslyn/issues/45471#issuecomment-666769047

Should we close this issue now?

[2020-07-31 16:22] Tanya-Solyanik commented on #3682
Perhaps we can use (ShortcutKeys)[https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.toolstripmenuitem.shortcutkeys?view=netcore-3.1] property with these buttons.

[2020-07-31 20:19] cbrit opened #3686 "TabPageCollection.Insert(int index, TabPage page) does not work properly and has been bugged for at least 17 years"
* .NET Core Version:
.NET 5 Preview 7 and all past .NET versions since 2.0

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

In WinForms, `TabPageCollection.Insert()` is supposed to insert a `TabPage` at the provided index in a `TabControl`. However, for a _very_ long time, there has been a bug that prevents it from working at all unless you force the creat

[2020-08-01 09:58] ryancheung opened #3687 "No TSF support?"
**Is your feature request related to a problem? Please describe.**

I want to make a game with SharpDX(DirectX 11), which depends on WinForms. The game is going to target CJK users, which users must use a IME software to do text inputs, e.g. type Chinese characters with Microsoft PinYin.

Then as for IME, Windows has two frameworks, IMM32 for WinXP and before, and then TSF for Window versions afte

[2020-08-01 10:18] elachlan commented on #3652
Could someone point me to where I can find the code that generates the output designer code? I am happy to begin investigating. But there isn't much information on the role of each of the projects.

[2020-08-01 10:24] weltkante commented on #3652
Only the runtime is open sourced, designer and VS integration is closed source as far as I know.

[2020-08-03 11:57] #3619 closed

[2020-08-03 12:12] RussKie commented on #3684
It is not something we control.

Having said that, I think the error is self explanatory:
[code]

![image](https://user-images.githubusercontent.com/4403806/89180976-2218f500-d5d6-11ea-8206-bdfb1fe505cf.png)

To fix remove ".WindowsDesktop":
[code]

[2020-08-03 12:12] #3684 closed

[2020-08-03 12:15] RussKie commented on #259
This change is only available on .NET Core/.NET. .NET Framework is feature complete, and won't be enhanced further.

[2020-08-03 13:18] SergeySmirnov-Akvelon commented on #3504
Accessible Name for Form control also was fixed in scope of this issue.

[2020-08-03 20:17] merriemcgaw commented on #3652
@weltkante is correct, we haven't open sourced our designer code. That said, we take the issues filed here and get them copied into our internal repo so that we can track the issue there. I wouldn't expect a change like this right away though, we're still working on some other high priority work getting the designer to support .NET Core projects.

[2020-08-03 22:46] elachlan commented on #3652
Thanks for the explanation. Exciting times, I am looking forward to .NET 6 with Winforms.

[2020-08-03 22:53] merriemcgaw commented on #3661
Focus traps are a must fix for 5.0.

[2020-08-03 23:18] dreddy-work commented on #3033
My understanding align with what @kirsan31 said above (appear when the form Font != DefaultFont). Default winforms applications do not write the 'Font' statement in to the code file. This is going to be a visible issue in core for the applications that set the default(classic framework) font explicitly in the code. Overriding DGV font ( i think this is not limited to DGV only) with Forms font was

[2020-08-04 02:47] vsfeedback opened #3691 "MDI child windows use hard-coded Visual Style Rendering"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1130834/mdi-child-windows-use-hard-coded-visual-style-rend.html)._

---
1) Create an MDI container as the main application window (typical).  (Set IsMDIContainer to true)
2) Via code, add MDI child window using the standard way (create, set MDIParent to "this", then Show).

[2020-08-04 02:50] Amy-Li03 commented on #3691
**_Comments from customer:_**

The issue occurs on Windows 10, Windows Server 2016, AND Windows 8.1 (Your Win 8.1 screen shot appears to be from an installation that has had all UI styling turned off). In my tests, only Windows Server 2012 painted it according to the OS themes correctly. See attached screens.
Windows 8.1 Enterprise with Update (child windows incorrectly use Win7 styling)
![149138-

[2020-08-04 03:22] RussKie commented on #3684
From @jmarolf elsewhere:

[2020-08-04 07:07] kirsan31 commented on #3691
@Amy-Li02-zz

Hm, I think this is not the same issue... But the problem with different styles must be defiantly solved. Our users have already complained about this :(

[2020-08-04 07:25] kirsan31 commented on #3033
@dreddy-work

Yes, your understanding is right. BUT, due to the change of the default font in core, to achieve form look like it was designed, we need to set forms' font any way :( And even if you will do it in runtime (when form already visible), it will break all dataGridView fonts.

But for us, the problem magically solved (for now) because all our users switched to hi dpi monitor's :) And .net

[2020-08-04 07:31] RussKie commented on #3691
I corrected @Amy-Li03's post to say "the same behaviour was observed".

[2020-08-04 07:36] RussKie commented on #3033
Sorry, I missed it.
The best way to report the designer bugs via the VS Feedback - it collects necessary telemetry for the team to triage. We look at all reports, and some bugs may have workarounds, while others have to be prioritised for a fix.

[2020-08-04 07:58] kirsan31 commented on #3033
@RussKie

Thank your, I will wait for dataGridView designer in core and check it there...

<details>
  <summary>developercommunity.visualstudio.com</summary>

No way sorry, it's disaster to post and track there. It's not only my opinion, but all of the developers I know. It is almost impossible for a issue open there to reach its destination :(
</details>

[2020-08-04 09:44] RussKie commented on #3033
Use this:
![image](https://user-images.githubusercontent.com/4403806/89279174-6960bd80-d68a-11ea-88b1-c70d958be074.png)

Whilst it may not be perfect it helps routing issues to responsible teams. There are dozens of teams and hundreds of engineers working on VS and .NET world-wide.

I don't believe it is (entirely) true. Issues with Windows Forms and the Designer are routed to our team.

[2020-08-04 09:49] kirsan31 commented on #3033
You have convinced me - I will try (just out of love for WinForms) :)))

[2020-08-04 10:12] RussKie commented on #3033
Once you'll have raised it feel free to email or twitter DM a link to me.

[2020-08-05 05:40] Olina-Zhang commented on #3299
@merriemcgaw
Let's summarize screen reader issues for DGV cell:
1. NVDA itself issue: unnecessary content when NVDA focus on DGV cells. This issue cannot repro in Narrator. It needs to confirm if we can control it.
![image](https://user-images.githubusercontent.com/26474449/89367001-948af180-d70a-11ea-837d-38c48dd2daf0.png)
2. From 'Guy Barker' suggestion "I still would recommend considering **rem

[2020-08-05 14:50] weltkante commented on #3691
This is not a WinForms issue, if you create a C++ project from the "MFC App" template in VS and chose MDI settings ("Multiple documents", "Tabbed documents" disabled, project style "MFC Standard") you get the same behavior. WinForms just matches what the OS provides, any native MDI application (even if not using MFC) should look this way.

As far as I understand MDI is an obsolete technology and n

[2020-08-05 15:51] gwickman-dev commented on #3691
@weltkante Yes, it does look like it's a bug in the Windows API in general- not specific to .NET or WinForms.

While it certainly looks like MDI support is not being maintained properly by Microsoft, I'm not seeing any evidence that it's an obsolete technology:

- There are still plenty of apps that rely on this structure as the optimal way to present their UI (Photoshop for example).
- I'm not se

[2020-08-05 18:26] merriemcgaw commented on #3660
@Zheng-Li01 please rebuild the accessibility sample app and retry this issue then. It should be fixed, though I see email that it still repros.

[2020-08-06 01:27] merriemcgaw commented on #3691
While I can't make promises for another team, I'm going to reach out to Windows to find out if there is something we can do to make this better for our customers. I'm hopeful we can find some sort of work around that perhaps WinForms could add to our implementation of MDI Child Windows. I don't like the inconsistency myself one bit, and I'll push Windows towards a platform fix, or at least some wa

[2020-08-06 01:35] merriemcgaw commented on #3691
Tagging @OliaG for discussion as well.

[2020-08-06 01:55] merriemcgaw commented on #3033
Sometimes there are routing mistakes, but if you are able to give us the link to the issue created, we can jump on it and make sure it ends up on our radar right away.

[2020-08-06 01:58] Vino-Wang opened #3699 "There are 4 extra (null) pane in Inspect after right clicking on the form icon"
* .NET Core Version:
5.0.100-rc.1.1.20405.11

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
This is not a regression issue.

**Problem description:**
There are 4 extra (null) pane in Inspect after right clicking on the form icon.
![ExtraPane](https://user-images.githubusercontent.com/18568603/89481805-1e9a8f00-d7cb-11ea-8eff-06eac760a00f.png)
![ExtraItem](https://u

[2020-08-06 02:20] Zheng-Li01 commented on #3660
@merriemcgaw, yes. the issue has been fixed after rebuild the accessibility sample app. see below GIF.
![CoreIssue](https://user-images.githubusercontent.com/38325459/89483319-5a832380-d7ce-11ea-8684-0f95abfd524b.gif)

[2020-08-06 02:35] RussKie commented on #3630
Another occurrence in https://dev.azure.com/dnceng/internal/_build/results?buildId=759127&view=artifacts&type=publishedArtifacts

[2020-08-06 07:39] RussKie commented on #3630
...and another https://dev.azure.com/dnceng/public/_build/results?buildId=759324&view=artifacts&type=publishedArtifacts

[2020-08-06 10:00] #3585 closed

[2020-08-06 18:36] kirsan31 opened #3704 "Asserts not working in WinForms apps"
* .NET Core Version: **3.1.6.**

* Have you experienced this same bug with .NET Framework?:  **No**.

**Problem description:**

`System.Diagnostics.Trace.Assert` and `System.Diagnostics.Debug.Assert` are not working in WInForms .net core apps. Programs are silently crash.

**Expected behavior:**
No crash, and assertion dialog must appear after assert.

**Minimal repro:**
Create emty WinForm core p

[2020-08-06 23:51] Tanya-Solyanik commented on #3547
@TempeBrennan, since this regression is associated with the new windows release, please report it on the windows support site - https://answers.microsoft.com/en-us/windows/

[2020-08-07 04:31] #3547 closed

[2020-08-07 04:37] RussKie commented on #3704
@danmosemsft @ericstj do you know of any changes in .NET Runtime that could affect this?

[2020-08-07 04:45] danmosemsft commented on #3704
Can you get a call stack?

[2020-08-07 04:48] RussKie commented on #3704
net472 - gives the assert message box:
[code]

net5.0 - doesn't:
[code]

[2020-08-07 08:55] Zheng-Li01 opened #3706 "ListBox.DisplayMember property should be used as an accessible name for combobox items"
* .NET Core Version:
.NET SDK 5.0.100.rc1.20405.13

* Have you experienced this same bug with .NET Framework?:
No

* More info:
1. The issue also can reproduce .NET SDK 3.1.
2. Tested ListBox with items from non-data binding and data binding, the Name of list items are displayed correctly.

**Problem description:**
AT user does not know what items are available for selection

Minimal repro:
1. Ope

[2020-08-07 09:02] kirsan31 commented on #3175
I know that this is not the right place, but...
After upgrading to VS 16.7 original designer stop working with visual inheritance :(((
I have reported an issue (spent about 1.5 ours fighting with developercommunity errors):
https://developercommunity.visualstudio.com/content/problem/1141229/winforms-designer-not-load-forms-with-visual-inher.html
@RussKie  can you assist somthing?

[2020-08-07 14:26] merriemcgaw commented on #3175
@kirsan31, somehow your ticket got routed incorrectly and didn't hit my radar until now. @Shyam-Gupta and the team will take a look at what is happening. Now that we have the direct ticket link it's on my radar and we'll prioritize looking at it. Thanks so much for your patience!

[2020-08-10 02:36] JeremyKuhne opened #3710 "API Proposal: Add safe overloads to TextRenderer to get output strings."
## Proposal

We need to add new overloads that allow getting out the actual rendered string when using ellipses options (`TextFormatFlags.PathEllipsis` and `TextFormatFlags.WordEllipsis`). This is currently done with `TextFormatFlags.ModifyString`, which mutates the input `string`. We block this option in the newer span overloads and have obsoleted it.

This is a follow-up to #3651.

[code]

## Ju

[2020-08-10 07:20] SergeySmirnov-Akvelon opened #3712 "[Accessibility] DefaultAction is empty for Combobox when "LegacyIAccessible" pattern is supported and Accessible Role is changed."
.NET Core Version: 5.0
Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The DefaultAction is empty for Combobox when role is default and "LegacyIAccessible" pattern is supported.
The DefaultAction stays empty if change the Role property value and "LegacyIAccessible" pattern is supported.

**Expected behavior:**
The DefaultAction should be "Expand" for Combobox

[2020-08-10 07:31] SergeySmirnov-Akvelon opened #3713 "[Servicing 3.1] [Accessibility] DefaultAction is empty for Combobox when "LegacyIAccessible" pattern is supported and Accessible Role is changed."
.NET Core Version: 3.1
Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The DefaultAction is empty for Combobox when role is default and "LegacyIAccessible" pattern is supported.
The DefaultAction stays empty if change the Role property value and "LegacyIAccessible" pattern is supported.

**Expected behavior:**
The DefaultAction should be "Expand" for Combobox

[2020-08-10 08:10] weltkante commented on #3710
Interesting proposal, I like it better than the usual mapping of mutable argument via `ref string text` and `Span<char> text`

Having separate input/output parameters
* caller can still pass the same variable for both input and output if he doesn't need two variables
* caller can still use `out var` syntax even in situations where he couldn't use ref-syntax (e.g. on a foreach loop variable)
* allo

[2020-08-10 10:48] tomrus88 opened #3714 "Adding Windows Form to Class Library project doesn't work"
* .NET Core Version: 5.0 Preview 7

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
I'm unable to add Windows Form to Class Library project (.NET 5.0), it is missing in Add -> New Item VS dialog.

And even if I do workaround, for example add Windows Form to Windows Form project and then drag&drop it to ClassLibrary project, in this case i'm unable to use Win

[2020-08-10 14:06] zanchey opened #3715 "WindowsFormsApplicationBase.IsSingleInstance applications are global on a machine, not per user"
* .NET Core Version:
v5.0.0-preview.7

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
The implementation of `WindowsFormsApplicationBase.IsSingleInstance` from #3200 uses a named pipe as its synchronization and communication tool, but named pipes are in a global namespace (at least on Windows) and thus any assembly can only be running once on any given mach

[2020-08-10 14:49] kirsan31 commented on #3033
@RussKie @merriemcgaw
Done: https://developercommunity.visualstudio.com/content/problem/1143911/winforms-datagridview-styles-designer-bugs.html
Sorry for delay, had many troubles recently due to [16.7 breaking designer](https://developercommunity.visualstudio.com/content/problem/1141229/winforms-designer-not-load-forms-with-visual-inher.html)...

[2020-08-10 20:33] vladimir-krestov opened #3716 "[Tests] There are unobvious fail reasons for several tests for a specific commit"
* .NET Core Version: 5.0
* Related to PR #2701

**Problem description:**
- The following tests have an unexpected result and unobvious fail reasons for 9d7af3d91733bf95eca155a79f8d34abd23160be commit:
1. TabPageCollection_Remove_InvokeValueWithoutHandleOwnerWithHandle_Success
2. TextBoxBase_WndProc_InvokeSetFontWithoutHandle_ReturnsExpected
3. MonthCalendar_SingleMonthSize_GetWithHandle_ReturnsExp

[2020-08-10 21:48] merriemcgaw commented on #3033
@kirsan31 - I'm checking on the 16.7 issue now. We will update the ticket as soon as we know anything.

[2020-08-10 23:51] RussKie commented on #451
Implemented

[2020-08-10 23:51] #451 closed

[2020-08-10 23:58] JeremyKuhne commented on #329
We should be able to just flip the messages here which should be an easy fix.

[2020-08-11 00:01] JeremyKuhne commented on #407
This shouldn't be a problem anymore.

[2020-08-11 00:01] #407 closed

[2020-08-11 00:03] JeremyKuhne commented on #459
@RussKie I believe the designer has some abstractions with the clipboard that might be worth looking at.

[2020-08-11 00:15] RussKie commented on #698
This is ongoing cleaning effort. With that it is almost complete.

[2020-08-11 00:15] #698 closed

[2020-08-11 00:16] JeremyKuhne commented on #641
This looks like WinForms is doing the right thing here. If you're disposing the Control you should be getting `ObjectDisposed` exceptions when you try to access the form without first removing the child control that you disposed.

[2020-08-11 00:16] #641 closed

[2020-08-11 00:20] JeremyKuhne commented on #654
As @weltkante pointed out https://github.com/dotnet/winforms/issues/654#issuecomment-577614294, I don't think there is anything we can do here.

[2020-08-11 00:20] #654 closed

[2020-08-11 00:21] JeremyKuhne commented on #730
Closing until we see documentation of where we differ from .NET Framework.

[2020-08-11 00:21] #730 closed

[2020-08-11 00:30] #1163 closed

[2020-08-11 00:33] JeremyKuhne commented on #1238
Duplicate of #3300

[2020-08-11 00:33] #1238 closed

[2020-08-11 00:41] JeremyKuhne commented on #1347
Looks like we're asking for overloads:

[code]

The question here is how we deal with the underlying object handling. Is it possible here to do Action<T>, Func<T>, etc?

[2020-08-11 00:43] JeremyKuhne commented on #1441
The idea here is that we look at ways we can understand whether or not we're overridden by user code. Knowing this we can take optimized paths internally. There are other ways to do this- they have various positives and negatives to the approaches.

[2020-08-11 00:45] JeremyKuhne commented on #1489
We've settled on the above as the current working set.

[2020-08-11 00:45] #1489 closed

[2020-08-11 00:46] #2039 closed

[2020-08-11 00:46] RussKie commented on #2039
Use `start-vs.cmd` and `start-code.cmd`.

[2020-08-11 00:52] JeremyKuhne commented on #1536
We should start throwing for null arguments in version 6.0 (next major release).  Right now we're plagued by inconsistent behavior with these depending on what current state is in seemingly random places.

[2020-08-11 01:03] #2053 closed

[2020-08-11 01:12] VBAndCs commented on #1238
@JeremyKuhne
 #3300 is newer!

[2020-08-11 01:12] JeremyKuhne commented on #3630
Please copy in call stacks when this happens- the HDC isn't correct.

[2020-08-11 01:19] RussKie commented on #1238
Yes, and there is a discussion about the issue in it.

[2020-08-11 01:56] RussKie commented on #3714
Class libraries are cross-platform projects and can't have Windows-only artifacts like `Form`. You need to create a Windows Forms class library:
https://github.com/dotnet/winforms/blob/7bb9a8b2d633d508bbc1cbb09dd7cb8a4b9e4a31/pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsLibrary-CSharp/Company.ClassLibrary1.csproj#L8

![image](https://user-images.githubusercontent.com/4403806/8984

[2020-08-11 01:56] #3714 closed

[2020-08-11 07:28] weltkante commented on #3714
You also need to change `<Project Sdk="Microsoft.NET.Sdk">` to `<Project Sdk="Microsoft.NET.Sdk.WindowsDesktop">` I think. This will add the proper references while `<UseWindowsForms>true</UseWindowsForms>` opts-in to WinForms (theres a different flag for WPF, both sharing the same SDK)

[2020-08-11 07:37] RussKie commented on #3714
Yes, thank you. It is necessary for 3.x and early 5.0, but no longer necessary with the .NET 5.0 RC1.

We have added Windows Forms class library recently, so it should be available in VS soon(ish?).

[2020-08-11 08:56] weltkante commented on #1347
Most people I've worked with just add an `internal static void Invoke(this Control control, Action action);` extension method, so this is mostly just "nice to have" but not blocking anything.

I don't think there is any "etc", only `Action` and `Func<T>` should be required. The overloads are needed for when you want to call the method with a closure, the compiler needs a hint from the method signa

[2020-08-11 09:18] weltkante commented on #459
Also keep in mind that soonish the Clipboard/DataObject implementation needs to be replaced entirely due to phasing out BinaryFormatter as serialization system. If this means that API changes are required then it might be worth to already consider them here.

[2020-08-11 09:23] weltkante commented on #3716
Can you add more info about the failures or details how to reproduce?

[2020-08-11 12:00] weltkante commented on #3715
Can the named pipe be put into session namespace?

This [doc](https://docs.microsoft.com/en-us/windows/win32/termserv/kernel-object-namespaces) says

And [this doc](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-createnamedpipea) seems to suggest that `\\.\pipe\LOCAL` prefix is valid for named pipes, at least since Win10/1709.

Might be worth investigating if named pipes can

[2020-08-11 12:20] tomrus88 commented on #3714
Good to see proper template being added to address his issue. But that template should have been added at same time as Windows Forms support for .NET Core.

[2020-08-11 13:32] zanchey commented on #3715
No, the local namespace doesn't apply to named pipes - you just get a pipe called "Local\whatever" in the global namespace. I think the `\\.\pipe\LOCAL` name is restricted to UWP only, and is just used to enforce a UWP boundary.

[2020-08-11 21:38] vsfeedback opened #3721 "Ability to set the background colour of a TabControl."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/idea/355169/ability-to-set-the-background-colour-of-a-tabcontr.html)._

---
<p>I am currently developing a Windows Application with a white background colour scheme and want to use a TabControl. While I can set the background colour of each individual TabPage, there does not appear

[2020-08-11 21:40] OliaG commented on #3721
This is how it looks now if I want to make everything black
![image](https://user-images.githubusercontent.com/31997351/89951643-a3791480-dbe0-11ea-9819-b25f6c39169e.png)

[2020-08-11 22:51] #3651 closed

[2020-08-12 03:52] RussKie commented on #162
We can't modify `MessageBox` API. However you can achieve auto-closing (manual or automated) functionality using [`TaskDialog` API](https://github.com/dotnet/samples/tree/master/windowsforms/TaskDialogDemo/cs).

[2020-08-12 03:52] #162 closed

[2020-08-12 04:42] RussKie commented on #269
To allow multi-selection a new property must be added to `FolderBrowserDialog` similar to [`OpenFileDialog.Multiselect` property](https://docs.microsoft.com/dotnet/api/system.windows.forms.openfiledialog.multiselect), and necessary plumbing to handle the new property.
However, just adding `FOS.ALLOWMULTISELECT` to the dialog options won't work, as it doesn't appear to be supported scenario:
https:

[2020-08-12 06:38] EamonHetherton commented on #1462
For anyone is the same boat I am currently in with migrating older code containing components that use the license.licx runtime licensing model towards dotnet core and wanting to use "dotnet build" here is the workaround that I am using.

Caveat; it works for me, YMMV.

1) Ensure your licenses.licx file is included in your project with BuildAction "EmbeddedResource"
2) Build project using visual s

[2020-08-12 07:18] RussKie commented on #1462
@EamonHetherton thank you for sharing.

[2020-08-12 07:25] RussKie commented on #583
I'm not seeing a significant value-add apart from spending 0.5-1 day messing with MSBuild props and targets.
We can revisit this when/if it becomes necessary.

[2020-08-12 07:25] #583 closed

[2020-08-12 07:25] weltkante commented on #1462
did you verify that the license resource is actually embedded? as far as I'm aware your instructions just disable usage of licx. For some third party controls that may be enough because they also check registry and other locations besides the embedded license.

[2020-08-12 08:29] EamonHetherton commented on #1462
step 3) is the magic....

[2020-08-12 08:57] weltkante commented on #1462
Right, sorry, wasn't paying enough attention. Yeah building licx in Desktop and embedding the result works, thanks.

[2020-08-12 11:12] #2164 closed

[2020-08-12 11:12] #3223 closed

[2020-08-12 11:34] RussKie commented on #1036
I've debugged our code, and it appears we get "Misc" string from .NET Runtime
![image](https://user-images.githubusercontent.com/4403806/90009333-313c2900-dce1-11ea-8a5d-f31a0f2e2b72.png)

I run out test app with "ru-RU" locale, and here's what I got as a return from this call for a `TextBox` control:

| Property | Category |
| --- | --- |
| AcceptsReturn | Поведение |
| AutoCompleteMode | Misc |

[2020-08-12 11:55] noseratio opened #3723 "A blank .NET Core 3.1 WinForms app, published as self-contained and trimmed, still bundles all WPF DLLs"
* .NET Core Version:

[code]

* Have you experienced this same bug with .NET Framework?:
N/A

**Problem description:**
A blank 3.1 WinForms app, published as self-contained and trimmed, still bundles all WPF assemblies, which adds at least extra 12MB.

**Expected behavior:**
WPF assemblies (`Presentation*.dll` etc) should not be included if the are not used.

**Minimal repro:**

[code]

Note all `

[2020-08-12 12:16] RussKie commented on #3723
@danmosemsft can you help route this one?

[2020-08-12 12:30] danmosemsft commented on #3723
@joperezr  thoughts about where this should go?

[2020-08-12 12:51] DmitryGaravsky commented on #162
@RussKie
Hi Igor! Thanks for participating.

I have never talked about modifying the MessageBox API. Please read [my proposal](https://github.com/dotnet/winforms/issues/162#issue-387928034) and [arguments](https://github.com/dotnet/winforms/issues/162#issuecomment-444838920) carefully)

Sure, I have already achieved the required functionality years ago with using [quite simple code](https://github

[2020-08-12 17:41] joperezr commented on #3723
A couple of thoughts here:

- First is that at least with the latest linker, we by default only trim System.*.dll and Microsoft.*.dll so all other assemblies will by default be copied as-is. A TL;DR explanation of why, is that the linker is very smart but there are still ways of writing code where the linker won't be able to detect that some code needs to be kept, so if not annotated correctly it

[2020-08-12 17:47] Naimad1CZ commented on #2660
My friend advised me a pretty good workaround: just normalize the string using `Normalize(NormalizationForm.FormD)` and then put it as an argument to `SendKeys.SendWait(string keys)`.

I also discovered that `SendKeys.SendWait(string keys)` sometimes produces completely wrong letters when switching the keyboard layout during runtime, but that's a minor issue and I don't much need it to be fixed.

[2020-08-12 20:17] weltkante commented on #1036
Not really, the .NET Runtime code will look at attributes defined on your classes/properties via reflection or a registered dynamic TypeDescriptorProvider. If the type you are looking at is in your assembly you are still responsible for properly annotating it, even if the data is retrieved through .NET Runtime infrastructure.

[2020-08-13 02:48] RussKie commented on #1036
Yes, however it may be a stretch to expect _all_ properties on a given object annotated - one can bind an arbitrary object to a property grid.
Without spending too much time and debugging `TypeDescriptor` it is hard to tell where "Misc" string comes from, but it doesn't appear come from us in any shape of form.

Further .NET Runtime is not being localised at all (no plans for that either), which i

[2020-08-13 03:04] RussKie commented on #162
I appreciate it.
However Windows Forms is a wrapper for Win32 controls to allow faster and simpler development of native Windows apps. Adding a completely custom functionality is not really on our roadmap, 3rd party libraries are better suited for that.

And by providing the Task Dialog API we have provided a way to achieve the desired functionality, this is why I closed your proposal.

[2020-08-13 03:55] noseratio commented on #3723
@joperezr, thanks for your thoughts. I've just tried it with the .NET SDK 5.0.100-preview.7 and it **still bundles** the WPF assemblies. It was very easy to do under Windows Sandbox, using the same two commands from the "Minimal repro" section in my report.

Also, for the sake of trying, I deleted `Presentation*.dll` and edited them out of `MyFormsAppCore.deps.json`. The app wouldn't start then. I

[2020-08-13 06:50] weltkante commented on #1036
They are localizing exceptions, unless they reverted that decision. It already has been aknowledged that some exceptions are exposed to end users (not just developers) via WinForms and WPF binding validation.

I'd expect this TypeDescriptor situation fall under the same rules, it can end up with the end user if someone places a PropertyGrid in his application, so it should be localized like except

[2020-08-13 07:40] vladimir-krestov commented on #3716
Sure.
The latest commit with the reproduced issue: eedf3c01715bd17c8a97cdc534ab06c86b319b46
For example: `TextBoxBaseUiaTextProvider_GetLineIndex_ReturnsCorrectValue` unit test in #2701:
![image](https://user-images.githubusercontent.com/49272759/90105293-53b85b80-dd4e-11ea-8c32-ffd52f9bea01.png)
If to run this test in VS test explorer you will have successful result for all test cases. But if to

[2020-08-13 07:56] weltkante opened #3727 "Cannot build master after updating VS preview"
**.NET Core Version:**
master

**Have you experienced this same bug with .NET Framework?:**
no, not relevant

**Problem description:**

Building master fails because it does not find `C:/Program Files (x86)/Microsoft Visual Studio/2019/Preview/VC/Tools/MSVC/14.27.29109/bin/Hostx64/x86/cl.exe`

In particular the MSVC version `14.27.29109` is wrong, I updated the current preview and it now has a hig

[2020-08-13 08:12] weltkante commented on #3727
Never mind, fresh checkout fixes it, seems the build script does not properly reset some previously cached data.

[2020-08-13 08:12] #3727 closed

[2020-08-13 09:40] weltkante commented on #3716
There may be multiple issues here, so I'll starting with the one that is easiest since it previously was working.

If I disable your tests then the MonthCalendar test succeeds again. Something in your tests is either modifying a global setting or simply breaking the whole process. I'll try to figure out which of your tests breaks MonthCalendar.

[2020-08-13 11:43] weltkante commented on #3716
Following repro fails both in VS and also in console. Seems to be something in TextBox API breaks MonthCalendar. Can't tell if its related to other failures, but basically adding more TextBox tests that run before MonthCalendar tests will break MonthCalendar.

For the repro code I mixed one of the PR tests triggering the bug with the MonthCalendar test. Before the TextBox code runs the MonthCalend

[2020-08-13 12:34] weltkante commented on #3716
[Identified the cause](https://github.com/dotnet/winforms/pull/2701#discussion_r469915943). Might also fix some of the other failures, didn't test.

[2020-08-13 14:20] zanchey commented on #3715
Some additional considerations in https://devblogs.microsoft.com/oldnewthing/20070629-00/?p=26213

[2020-08-14 07:53] tbolon commented on #3715
Why not adding the session id in the pipe name to make it unique per session ?

[2020-08-14 13:56] zanchey commented on #3715
A named pipe with a predictable name creates a scenario where another user can register the same pipe name and therefore prevent your application from starting. This is a potential security consideration on multi-user servers.

[2020-08-14 14:14] tbolon commented on #3715
But it must be a predictable name (based on the current assembly name it seems) to be guessed by another instance. So adding a session id does not reduce the security. Or I miss something ?

[2020-08-14 14:53] weltkante commented on #3715
Could you [retrieve the session ID](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-getnamedpipeclientsessionid) and reject pipe connections from different sessions? Outright rejecting undesired connections might be better than a random pipe name. Not sure if the pipe handle is available for this though.

[2020-08-14 17:55] danmosemsft commented on #2952
Happened to notice this. The proposal would not work since as written, both Winforms' UserInteractive impl and the core libraries will return "true" (ie interactive) if GetUserObjectInformationW fails. It will fail on Windows Nano, and thus indicate interactive is true, and Nano certainly doesn't support UI.

https://source.dot.net/#System.Windows.Forms/System/Windows/Forms/SystemInformation.cs,64

[2020-08-14 18:18] vatsan-madhavan commented on #2952
Then WPF may need updates to run on Nano correctly (assuming it's supposed to run on Nano at all.) IIRC WPF relies on E.UserInteractive being reliably correct today.

[2020-08-14 18:22] danmosemsft commented on #2952
Nano is headless - it isn't intended for UI - I'd be surprised if WPF is intended to work there, but I know nothing about that of course.

[2020-08-14 22:06] eerhardt commented on #3723
To follow up on what @joperezr said above -

The reason all the `Presentation*.dll` files still exist is because the SDK is explicitly marking them as `copy`, which means they won't be trimmed. The reason the SDK is marking them as `copy` is because by default the only assemblies that can be trimmed come from the `Microsoft.NETCore.App` runtimepack.

You can see that by the `IsTrimmable="true"` pr

[2020-08-14 22:24] #3673 closed

[2020-08-15 06:18] vladimir-krestov commented on #3716
Thank you so much, @weltkante, for the investigation!
The issue was resolved in another way. There were found incorrect code lines wich crash the tests in #2701

[2020-08-15 06:18] #3716 closed

[2020-08-15 13:54] zanchey commented on #3715
It does need to be a consistent name, but it needs to be consistent in a local namespace - the global namespace is the problem. If your program runs with a pipe named `\\.\pipe\somestring-sessionid`, I can create some pipes at `\\.\pipe\somestring-{0,1,2,3}...` in my session, and then you won't be able to start it in your session because you can't have two pipes with the same name on the same syst

[2020-08-16 18:18] weltkante commented on #3209
Can this be closed? #3122 is merged and the tests disabled in #3211 seem to be active again in master. Anything else to look at?

[2020-08-17 04:43] RussKie commented on #186
I got a guidance from @eerhardt, putting it here for the future reference.

. . .

The way the linker is run in the dotnet/runtime repo is different than how an application developer runs the linker.

See how the linker is run to generate the report referred above to here: https://github.com/dotnet/runtime/blob/8a2820e35c5ad841d4c3aae3af8b1ace37d22660/eng/illink.targets#L292-L336

It can either be

[2020-08-17 11:13] RussKie commented on #3632
Tested it locally, and unfortunately #3726 doesn't fix the issue.

[2020-08-17 12:46] RussKie commented on #3209
Yes, thank you for keeping track of this 👍

[2020-08-17 12:46] #3209 closed

[2020-08-17 14:06] SergeySmirnov-Akvelon commented on #2870
This is fixed in scope #3676 issue.

[2020-08-17 14:06] #2870 closed

[2020-08-17 21:04] kirsan31 opened #3738 "[bug / question] wrong input with BindingSource lead to crash in coreclr.dll"
* .NET Core Version: 3.1.7

* Have you experienced this same bug with .NET Framework?: **NO**

**Problem description:**

Hi guys, need some help here. I just figure out very strange behavior of our app.
Pre requirements:

- MDI WInForms app.
- Child form controls binds to `BindingSource` with data source is some class. e.g. `bindingSource1.DataSource = typeof(app.Params);`
- **.net core only** (on

[2020-08-18 02:59] #3399 closed

[2020-08-18 04:15] RussKie opened #3739 "`Debug.Assert` no longer shows a dialog prompt"
* .NET Core Version: **.NET Core 3.1 onwards**

* Have you experienced this same bug with .NET Framework?: **No**

**Problem description:**

`System.Diagnostics.Trace.Assert` and `System.Diagnostics.Debug.Assert` no longer trigger a dialog prompts in desktop apps. Instead apps silently silently crash unless have a debugger attached.

As discussed in https://github.com/dotnet/runtime/issues/40512,

[2020-08-18 04:58] RussKie commented on #3739
I had a quick look and I think the original code lived in NDP\fx\src\CompMod\System\Diagnostics\assertwrapper.cs

[2020-08-18 08:02] weltkante commented on #3739
Just for the record, the Desktop assert handler is terribly broken because showing modal UI on the faulting thread is performing message pumping, thus introducing reentrancy at a point where code doesn't expect it.

This has been causing endless pain during debugging sessions because the application keeps running while waiting in the dialog, allowing other code to run before you have a chance to b

[2020-08-18 08:21] kirsan31 commented on #3739
@weltkante
I totally agree that old assert dialog is terrible. But with this is mind many ppl used it in only those places where it's ok to have such a dialog on assert.

You mean if it attached? I mean that if debugger not attached that I prefer old horrible dialog than app crash with record in event log as for now...

Totally agree, and if debugger not attached suggest to use opened one or new i

[2020-08-18 09:54] kirsan31 commented on #3738
I've added a new empty form to our app  with only 1 texbox, BindingSource and simple DataSource class with one double filed.
The error still reproduce - I am out of Ideas :(

[2020-08-18 11:26] weltkante commented on #3739
yes, only if I'm already debugging, not if I'm just having a debugger installed

There is no such thing as a place "where it is ok" that is consciously chosen by developers. I doubt anyone who is writing assertions is doing this under the assumption that his (or maybe someone elses) UI timer/paint code will recurse in the failure case, that is always a painful surpise the first time it happens to

[2020-08-18 11:41] weltkante commented on #3739
I'm proposing the following changes over Desktop:
- [must have] if a debugger is attached break into the debugger so the developer can examine his program in the state of failure
- [should have] I'd suggest not showing the dialog if the developer resumes the debugger, because if he wanted to terminate he could already have done this from the debugger. Open for discussion.
- [should have] If reentr

[2020-08-18 11:54] kirsan31 commented on #3739
@weltkante I agree with you in most cases.

As a developer I prefer this too. But current  .NET Core default experience didn't provide this when debugger is not attached.
I perfectly satisfied with current behavior with attached debugger. But totally dissatisfied when debugger is not attached. I am not understand why you expect that developer == attached debugger and end user == detached.  My thou

[2020-08-18 12:14] weltkante commented on #3739
`Debug.Assert` and `Trace.Assert` are both using the same handler, I don't think it can differentiate. Since different assemblies may be differently compiled it may not be possible to figure out if the assert was triggered by an assembly compiled as debug. If its possible to figure out I agree with your suggestion and launching the debugger is nice to have for debug builds. Maybe a compromise woul

[2020-08-18 19:51] weltkante commented on #3738
I assume the debugger just adds instrumentation which reports the issue, but it probably also exists without debugger, just nobody notices it.

Is it possible to reproduce with WinDbg instead of VS? Then it might be possible to record a [TTD trace](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/time-travel-debugging-overview) which was immensely helpful when looking at memory c

[2020-08-18 23:31] AdamYoblick commented on #3505
Closing this out as Matt already did the work for us :)

[2020-08-18 23:31] #3505 closed

[2020-08-19 11:15] kirsan31 commented on #3738
@weltkante Thanks for the advice, but not repro with WinDbg. App not crash, and no exception in the log other than three `FormatException` (similar in both cases with simple wrong input and close form after wrong input).
![Snipaste_2020-08-19_14-08-52](https://user-images.githubusercontent.com/17767561/90628365-2bd16800-e226-11ea-9df3-b284a88ae095.png)

[2020-08-19 11:30] SergeySmirnov-Akvelon opened #3745 "Narrator does not announce or focus on ListView headers."
* .NET Core Version:  5.0

* Have you experienced this same bug with .NET Framework?:
- Yes
- .NET Framework 4.7.2

**Problem description:**
The ListView control contains column headers. If user hovers mouse cursor on column header then Narrator should announce Text of highlighted column header.

**Expected behavior:**
Narrator should announce text from column header when user hovers mouse cursor

[2020-08-19 12:59] weltkante commented on #3738
That makes it hard to diagnose if it only happens in the VS debugger and at the point it happens you see a seemingly random stack trace. You still can look for similarities in the dumps, like were the random call sites always calling into the same infrastructure? is there another thread which is consistently in the same infrastructure? etc.

If you want to self-diagnose more you could also try dis

[2020-08-19 13:42] RussKie commented on #3738
Without a repro it is hard to pinpoint the culprit, and direct the issue to the relevant team. It can be something broken in Windows Forms, or it can be something broken in CoreCLR, or .NET Runtime, or VS...

[2020-08-19 13:57] kirsan31 commented on #3738
Thanks guys, I will continue in this direction:

...

[2020-08-19 15:32] kirsan31 commented on #3738
No, absolutely everywhere.  Now I cut almost everything from app and crash happens in different places but outside of our code (for example in `System.Private.CoreLib/shared/System/String.cs ` :smile:) I think I will provide a repro soon...

[2020-08-19 19:18] kirsan31 commented on #3738
Must have:

- Nlog loaded: `private static Logger _logger = LogManager.GetCurrentClassLogger();`
- `private static Font _BoldDefFont;` and in constructor: `_BoldDefFont = new Font(DefaultFont, FontStyle.Bold);`
- `<TieredCompilation>false</TieredCompilation>` in csproj.
- .net core + x86 + VS debugger attached.
- Wrong input in BindingSource + attempt to close form.
- Some action after that - real

[2020-08-20 00:56] weltkante commented on #3738
Great work getting a repro, I've reduced it further. Any caught exception in `FormClosing` handler together with a nontrivial workload will trigger this on x86 with TieredCompilation disabled and VS debugger attached. Sounds like a runtime issue to me.

[code]

[2020-08-20 01:17] RussKie commented on #3738
Even with all modules loaded I can't trap the exception
![image](https://user-images.githubusercontent.com/4403806/90705059-65ad7780-e2d5-11ea-8671-a2f8ed2c2ccc.png)

It is interesting to note, the first time I try to close the child form I get this:
[code]

The second time I try to close the form I get this:
[code]

After which point the app crashes (with some delay as mentioned above):
[code]

@

[2020-08-20 07:57] Jessie-Zhang01 opened #3747 "[Loc] The PrintPreview dialog is not translated"
* .NET Core Version: .Net SDK 5.0.100-rc.1.20419.9
* Affected Languages: CHS, CHT

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**

1. Create a Winforms .Net Core application
2. Drag and drop button and PrintPreviewDialog to Form designer.
3. Double-click the button to generate the click event, then enter code "printPreviewDialog1.ShowDialog();" in this event.
4.

[2020-08-20 08:06] kirsan31 commented on #3738
Not only in `FormClosing` but in `FormClosed` too :( Today got it in `OnFormClosed` caused by this:
`_CancellationTokenSource?.Cancel();` (throws inside).
I am somehow scared ...

[2020-08-20 09:50] Ryuugamine commented on #3299
In [original work item](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/956617) from DevDiv we can found the thread with investigation of this issue. You can see that in discussion Guy Barker (CELA) described the essence of the issue in great detail and as a result we can say that this is really an NVDA bug.