[2019-02-28 18:30] zsd4yr opened #510 "Port ArrayEditor and other editors necessary to support the Chart control"
•	ArrayEditor
•	DesignerActionItem
•	DesignerActionList
•	DesignerActionListCollection
•	DesignerActionMethodItem
•	DesignerActionPropertyItem

Possibly others

[2019-02-28 18:54] KlausLoeffelmann commented on #510
Thanks, Zach!

[2019-02-28 19:17] zsd4yr commented on #508
Perhals @livarcocc or someone from SDK can talk about the host directory

[2019-02-28 19:20] zsd4yr commented on #508
are you experiencing this issue on master?

[code]

[2019-02-28 19:40] AraHaan commented on #146
why not just implement it in a common class and then in the component controls for each type of contron constuct this class. That way it uses common code and avoids preprocessors. As for the assembly name I would name it ``System.Windows.TaskDialog``.

[2019-02-28 19:52] AraHaan commented on #146
I also wish the actual ThreadException event was actually in the System.Environment namespace and in the System.Runtime or System.Runtime.Extensions so console applications can catch unhandled thread exceptions. Which would make:

[code]

Said change would then allow me to make my MiniDump package on nuget to drop Windows Forms just to subscribe to that event even if it is a console application.

[2019-02-28 20:32] AaronRobinsonMSFT commented on #248
This issue can be closed as it is a bug in coreclr and fixed by https://github.com/dotnet/coreclr/pull/22930.

[2019-02-28 21:11] RussKie commented on #508
Yes, master @ ea3a2cec28af1e0248460a93c14942078090a2b8

[code]

![wf-integration-tests2](https://user-images.githubusercontent.com/4403806/53598648-67730f00-3bf9-11e9-88a3-0b0206e519ca.gif)

[2019-02-28 21:34] #177 closed

[2019-02-28 21:54] zsd4yr commented on #508
Can you clear everything out with `git clean -xdf` and ensure that the following lines all run at the top of your build?

[code]

[2019-02-28 21:57] zsd4yr commented on #177
@AmalRajUmapathySelvam ported on new master; please allow a few days for this to propagate to the SDK at https://github.com/dotnet/core-sdk/#installers-and-binaries

[2019-02-28 22:10] zsd4yr commented on #497
#439 is in

[2019-02-28 22:10] #497 closed

[2019-02-28 22:11] zsd4yr commented on #506
#507 is in

[2019-02-28 22:11] #506 closed

[2019-02-28 22:26] zsd4yr commented on #471
Updating with info from email thread:

Downside:
* crossgen increases the size of our assembly by about a factor of 2
  * Without crossgen 5.37 MB (5,633,104 bytes)
  * With  12.1 MB (12,783,616 bytes)

Upsides:
* crossgen decreases our JIT time by ~85% (that’s about a 7 fold decrease!)
* crossgen decreases our number of JIT compilations by over 90% (10 fold decreases)
* our native size has also d

[2019-02-28 23:26] AaronRobinsonMSFT commented on #248
@albahari This has been fixed in coreclr. Feel free to check this out in the next nightly - https://github.com/dotnet/core-sdk#installers-and-binaries. Thanks for finding this!

[2019-03-01 00:52] jnm2 commented on #146
@AraHaan ThreadException is not a general thread exception handler. Specifically, it is raised by the windows message loop in order to keep the message loop running without swallowing the exception. It has UI-specific and semantics.

[2019-03-01 01:08] devedse commented on #250
So how are you supposed to work with Nuget packages using this internally?

[2019-03-01 07:07] weltkante commented on #250
@devedse you may want to ask that over at corefx repo, as said above `Control.BeginInvoke` from WinForms works just fine, the issue was with `Delegate.BeginInvoke` which is not part of this repository so you are probably asking the wrong people here.

As far as your question is concerned though, according to the linked discussion, the nuget packes have to be fixed to not use this method if they wa

[2019-03-01 18:59] merriemcgaw commented on #502
Closing this issue. We're tracking the designer support issue in #147

[2019-03-01 18:59] #502 closed

[2019-03-01 19:08] merriemcgaw commented on #488
@vivmishra, @leecow  is there an automated process (yet) so the loc team can pick up new resources? The xlf format should make it easy to create automated tooling.

[2019-03-01 19:14] merriemcgaw commented on #485
Thanks @richlander. We will attempt to get this scrub in for Preview 5.  @dreddy-work will drive.

[2019-03-01 19:16] merriemcgaw commented on #484
The issue appears to be resolved. Thanks guys!

[2019-03-01 19:16] #484 closed

[2019-03-02 00:23] RussKie commented on #508
When I run `git clean -xfd`, I'm not getting `dotnet-install` commands issued...

![image](https://user-images.githubusercontent.com/4403806/53673739-821eb400-3cdd-11e9-9d28-d3d7753261c5.png)

And the tests are failing all the same.

[2019-03-02 05:11] RussKie opened #519 "Repository organisation"
It is a question/discussion more than anything.

I find the physical organisation (left) of the repo somewhat confusing as it has quite different layout to the logical organisation (right):

![image](https://user-images.githubusercontent.com/4403806/53677251-f7e84700-3d00-11e9-990d-78a5653e2f7e.png)

The downside of this differences is a higher cognitive load and reduced discoverability of element

[2019-03-02 08:05] albahari opened #520 "[WebBrowser] HtmlElement.AttachEventHandler does nothing"
* .NET Core Version: v3.0.0-preview2
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

HtmlElement's AttachEventHandler method is a no-operation in .NET Core 3. Here's a simple repro:

[code]

Note that @AaronRobinsonMSFT is aware of the issue and has done some investigation on the coreclr side.

[2019-03-02 08:12] AaronRobinsonMSFT commented on #520
Based on my cursory look through the WinForms implementation, I think there is a potential blocker for this at https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.cs#L1285-L1295.

Use of the `AttachEvent` method appears to be a nop on IE11+. See https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platfor

[2019-03-02 13:14] CristianVladescu opened #522 "Anchored WinForms controls inside FlowLayoutPanel are not actually anchored"
The example at [this](https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/how-to-anchor-and-dock-child-controls-in-a-flowlayoutpanel-control) article demonstrates the problem.
Basically, when the form is resized, FlowLayoutPanel does resize, but the controls inside it don't stay anchored as they should.

To better understand, compare these pictures:

![capture](https://user-images.

[2019-03-02 16:42] leecow commented on #488
Not that I'm aware of but @vivmishra may have something up his sleeve.

[2019-03-02 18:07] jnm2 opened #524 "No more Microsoft Sans Serif, return actual system font from SystemFonts.DefaultFont?"
Is this a good time to fix a long-standing issue, the default use of Microsoft Sans Serif 8pt instead of Segoe UI 9pt? This is in violation of Microsoft's [design guidelines](https://docs.microsoft.com/windows/desktop/uxguide/vis-fonts#guidelines):

The only member of `SystemFonts` that reflects the actual system theme is the unintuitively-named `SystemFonts.MessageBoxFont`. Anything in `SystemFon

[2019-03-02 20:06] wjk commented on #524
I applaud this. However, there are a few issues you should be aware of.

1. The reason why the `MessageBoxFont` property is named such is because the Windows Visual Style (uxtheme) system supports multiple fonts for a single theme, each with a different semantic use. It just so happens to be that on Windows Vista and later, most if not all of the uxtheme fonts always return Segoe UI. Renaming this

[2019-03-02 20:08] wjk commented on #524
OTOH, I do support updating the `DefaultFont` property (only). After reading its documentation, I agree that its description is misleading. It should instead return the same value as `MessageBoxFont`, as the latter font is what is _really_ recommended for dialog boxes and controls.

[2019-03-03 06:17] Zonciu commented on #147
I found a easy way to make VS2019 preview support net core 3 winform:
[netcore3-winform-designer](https://gist.github.com/Zonciu/53135fd928e4fd4ced970b6e00740652)
[code]

[2019-03-03 08:15] dotMorten commented on #147
Technically you're not getting design time support for .NET Core, but for .NET Framework, but still a convenient and clever trick! Thanks for sharing.

I wonder if we could just do this trick for design time builds, rather than having to multi-target and compile twice? I was hacking around a bit by flipping on the `$(DesignTime)` flag, but it seems to be tripping VS up even more. I sort of got it

[2019-03-03 08:42] albahari commented on #520
It's odd that this call to IHTMLElement2.AttachEvent works in .NET Framework (with IE11).

[2019-03-03 09:18] Zonciu commented on #147
It is a temporary solution before official .NET Core Designer releasing, thanks for the new project system's compatibility!

[2019-03-03 13:30] jnm2 commented on #147
Blender is not the same product as Blend.

[2019-03-03 15:23] dscharnagl commented on #146
Hey guys,

@kpreisser asked me to review his private project regarding different framework design guidelines which I adopt to the different projects at Traeger. As one of the fellows of @kpreisser I'm eagerly interested in his project and in the plannings of the .NET Core team to adopt this great project.

Just to be clear, I just want to suggest some design considerations, after @kpreisser asked

[2019-03-04 06:35] ghost opened #8817 "Test failure: System.Drawing tests fail on ARM64/32"
Opened on behalf of @AriNuer

The test `System.Drawing.Drawing2D.Tests.GraphicsPathTests/AddArc_Rectangle_Success` has failed.

Failure Message:
[code]

Stack Trace:
[code]

Build : 3.0 - 20190303.8 (Core Tests)
Failing configurations:
- Windows.10.Arm64-arm64
  - Release

Details:
https://mc.dot.net/#/product/netcore/30/source/official~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/type/test~2Ffunctio

[2019-03-04 18:12] zsd4yr commented on #508
Does this issue persist if you remove / rename your `C:\Program Files\dotnet` directory?

[2019-03-04 20:23] creativbox opened #526 "Invalid PInvoke definition for SafeNativeMethods.GetThemeMargins()"
`VisualStyleRenderer.GetMargins(...)` throws an AccessViolation because of an invalid PInvoke definition for `SafeNativeMethods.GetThemeMargins(...)`
According to https://docs.microsoft.com/en-us/windows/desktop/api/uxtheme/nf-uxtheme-getthememargins the LPCRECT parameter is missing.
The method is currently not used as far as I can see, but its wrong behavior is mentioned in some code comments.

[2019-03-04 20:42] kpreisser commented on #146
Hey @dscharnagl, thanks a lot for your helpful suggestions!

We (@dscharnagl and me) have discussed the suggestions offline, and I want to comment on some of these.

---

This is an interesting idea, but I think it can be implemented by an external component that doesn't need access to the internals of the Task Dialog implementation, so I think it doesn't need to be added to this proposal. Such a

[2019-03-05 09:35] RussKie commented on #508
After I nuked `C:\Program Files\dotnet`, `C:\Program Files (x86)\dotnet` and ran `git clean -xfd` I finally got the `dotnet-install` commands, however the end result is the same...
![image](https://user-images.githubusercontent.com/4403806/53795438-1a3ec680-3f86-11e9-9139-d677bfde75a4.png)

[2019-03-05 19:40] merriemcgaw commented on #519
Hi @RussKie , we discussed many of your questions when we created this repo and decided that it would make more sense. The top level folder structure is aligned with what other .NET Core repos are doing. When we did the initial port from .NET Framework we had to match that subfolder structure to optimize for ongoing porting work that may (did/does) still occur. But the tests were generally new and

[2019-03-05 19:43] merriemcgaw commented on #526
Moving this to the Future milestone because it's not a regression from .NET Framework. This can totally be up for grabs by the community.

[2019-03-05 19:48] merriemcgaw commented on #524
I like this idea! We could change the default font yet still ensure that when the developer sets it we don't override that. We have a lot of UI ourselves in System.Design.Editors that would need to be validated if we change the default font. But this could go a ways towards modernizing WinForms to current standards in general.

[2019-03-05 19:49] merriemcgaw commented on #524
The UI validation for System.Design.Editors would also need to include localized versions of these screens.

[2019-03-05 19:53] merriemcgaw commented on #522
This is worth investigating. However, I'm marking it as future because it's the same way in .NET Framework.

[2019-03-05 19:55] zsd4yr commented on #519
The current *actual* folder structure is a combination of:
1. typical .NET Core top-level structure
1. our personal design to accommodate reference and tests projects new to our .NET Core skew; and
1. hold-over structure from .NET FX in order to make duel check-ins between .NET Core 3.0 and .NET FX 4.8 more one-to-one; easier

To clarify Merrie's comment a little with images

# This style comes fr

[2019-03-05 20:36] wjk commented on #524
I was thinking on working on this issue (given it has the up-for-grabs label), but I ran into two issues:

1. The `SystemFonts` class is in the System.Drawing.Common project, which is part of corefx. Should I send a PR there and link this issue, or is it sufficient to change `Control.DefaultFont` to use the MessageBoxFont instead?
2. How should I test the UI in System.Design.Editors, given that mo

[2019-03-05 21:12] tobster-de opened #530 "Form.Show/PropDialogOwner causing memory leaks"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
Form.Show(IWin32Window) causes memory leaks because of references to the Owner form held within the PropertyStore of the form.

problematic line:
https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/Syst

[2019-03-05 21:20] RussKie commented on #519
Thank you for the clarifications.
Please let me know, if you wish me to help with the restructure.

[2019-03-05 21:20] #519 closed

[2019-03-05 21:49] zsd4yr commented on #508
It seems odd to me that you're using the netcoreapp2.0 version of the xunit.console.dll C:\Users\russkie\.nuget\packages\xunit.runner.console/2.4.1-pre.build.4059/tools/netcoreapp2.0/xunit.console.dl *but i do not think this is the primary issue*

[2019-03-05 21:50] zsd4yr commented on #508
Is there anything in C:\Development\winforms\artifacts\log\TestResults ?

Also does this issue persist when you run build.cmd -test -integrationTest ?

[2019-03-05 22:33] ericstj opened #531 "WinForms is testing against a very old shared framework"
Observe https://github.com/dotnet/winforms/blob/7276127fafb6283beaa188a411ad2a43371641d3/global.json#L3

This hasn't been changed in 2 months.  This is determining what version of .NETCore APP that you build against and run your tests against, since you aren't setting RuntimeFrameworkVersion.

You should either set this to update regularly (eg: ingest the CLI as a tool dependency) or use RuntimeFr

[2019-03-06 01:21] zsd4yr commented on #508
Also to read the binlog you should use [MSBuild Structured Log Viewer](http://msbuildlog.com). It’s a little daunting but you can search them. I would recommend you search for ‘$error’ and see what you can find

[2019-03-06 01:30] RussKie commented on #508
I'll spin up a new vm and try in it...

On Wed, Mar 6, 2019, 12:21 PM Zachary Danz <notifications@github.com wrote:

[2019-03-06 12:45] RussKie commented on #508
I spun up a brand new VM with W10.1703, installed VS2019 preview 4.1, cloned the repo.
I can run `.\build.cmd` and `.\build -test` successfully, however `.\build.cmd -integrationTest` shows all too familiar errors...

I have `C:\Program Files\dotnet` folder, and do not have `C:\Program Files (x86)\dotnet` folder
[code]

I'm seriously running out of ideas... 🤔

I don't think it should make any diff

[2019-03-06 17:34] zsd4yr commented on #508
@Tanya-Solyanik @Shyam-Gupta does our stuff work in Parallels? Don't you need native Windows?

[2019-03-06 17:43] zsd4yr commented on #531
Probably due for an update. The latest coherent release 3.0 preview 3 is probably a good candidate

[2019-03-06 18:27] zsd4yr commented on #146
@kpreisser @GSPP After a quick discussion with Olia, we are reasonably certain that it will be up to us to work around any bugs on our end.

[2019-03-06 18:32] zsd4yr commented on #531
@ericstj when I updated https://github.com/dotnet/winforms/blob/7276127fafb6283beaa188a411ad2a43371641d3/global.json#L3 and https://github.com/dotnet/winforms/blob/7276127fafb6283beaa188a411ad2a43371641d3/global.json#L9 to `3.0.100-preview3-010436`, I started getting the following error on build for each of the csproj's

[code]

[2019-03-06 19:29] zsd4yr commented on #530
Do you prefer either of these solutions? If so, why / why not?

[2019-03-06 19:30] zsd4yr commented on #530
@tobster-de Can you post the output of profiling memory to confirm this?

[2019-03-06 19:52] zsd4yr commented on #531
I am pretty sure this is defined in out Versions.props https://github.com/dotnet/winforms/blob/c228cecdbfff920d3917f43b1571a68d74455d1b/eng/Versions.props#L20

[2019-03-06 19:57] zsd4yr commented on #531
I cannot just include it because it is already implicitly referenced

[2019-03-06 20:48] ericstj commented on #531
Looks like you had a bug here: https://github.com/dotnet/winforms/commit/aac2a79861ee60051a08a8fe0b456ed1f347c2f8#diff-56f8482aeb786dd105fbf93dedf2615fR8

MicrosoftNETCorePlatformsPackageVersion vs MicrosoftNETCorePlatformsVersion

[2019-03-06 20:51] tobster-de commented on #530
For me it looks like the use of PropDialogOwner is an error. If I have to guess PropDialogOwner is the right one for ShowDialog and PropOwner is the one for Show. But I might not have the full insight in this.

I posted an image of the profiler (retention path) at the DeveloperCommunity. You can have a look at the image [there](https://developercommunity.visualstudio.com/content/problem/479123/for

[2019-03-07 00:17] zsd4yr opened #534 "Debug Assert Failing Tests in Windows 8.1"
There may be more but here is an example on [TryGetSystemMetricsForDpi in UnsafeNativeMethods](https://github.com/dotnet/winforms/blob/c228cecdbfff920d3917f43b1571a68d74455d1b/src/System.Windows.Forms/src/System/Windows/Forms/UnsafeNativeMethods.cs#L1060)

This is a Windows 8.1 Testing blocker as we wish to test debug skews to discover paths which differ between Release and Debug configurations.

[2019-03-07 19:19] #450 closed

[2019-03-07 23:32] zsd4yr commented on #510
@JuditRose I want to make sure that we ping the loc team and @vivmishra when we add additional .resx files (Like we did for [CollectionEditor.resx](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.Design.Editors/src/Resources/CollectionEditor.resx))

For example, when files are added here: https://github.com/dotnet/winforms/tree/master/src/System.Windows.Forms.Design.Editors

[2019-03-08 08:26] danielabbatt commented on #112
I work on a project which generates charts server side into images and it would be great to get that onto Core as it's the only part of the app which still relies on .NET Framework.

[2019-03-08 09:27] davidnmbond commented on #112
Would love to see this - there is no reasonable way to achieve charting in .NET Core without it!

[2019-03-08 11:49] hughbe opened #540 "TreeView/ListView integration tests are broken and disabled"
https://github.com/dotnet/winforms/blob/5a539e99927b05bea2fa88536ad3b55205f15776/src/System.Windows.Forms/tests/IntegrationTests/System.Windows.Forms.IntegrationTests/WinformsControlsTest.cs#L72

[2019-03-08 14:38] hughbe opened #543 "new PropertyManager().Bindings.Remove(null) throws NRE"
Should throw ANE

[2019-03-08 14:59] hughbe opened #544 "ControlBindingsCollection.Add with null property name throws NRE"
Should "just work"

[2019-03-08 18:47] danmosemsft opened #549 "Windows Forms - Core fail w/VS19 RC1 and Core 3 preview 3"
_From @jchang6 on March 8, 2019 14:27_

After installing VS2019 RC1 and .NET Core 3.0 preview 3, my previous Windows Forms apps no longer open. In creating a new project, Windows Forms App (.NET Core) is one of the options, but fails to create. Message: No template could be found with the group identity 'Microsoft.Common.Winforms'
Also, in project properties: Target framework, .NET Core 3.0 is not

[2019-03-08 19:19] robertborr opened #551 "Network build failures in 'official/$(reponame)/refs/heads/master' - '20190308.2'"
@dotnet-mc-bot commented on [Fri Mar 08 2019](https://github.com/dotnet/core-eng/issues/5439)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=118626
  - **Agent:** a000013
  - **Error log:** C:\Users\vsagent\.nuget\packages\microsoft.dotnet.helix.sdk\2.0.0-beta.19156.20\tools\Microsoft.DotNet.Helix.Sdk.M

[2019-03-09 03:20] hughbe opened #553 "new Control().DataBindings.Remove(null) throws NRE"
Should throw ANE

[2019-03-09 11:32] kpreisser commented on #146
Hi @zsd4yr,

thanks for the update!

Most bugs/quirks for which I already implemented work-arounds are minor ones and shouldn't affect the normal usage of the dialog (and it's probably too risky to fix them in the OS).

However, there is still the right-to-left bug (RTL layout is applied on RTL OSes even if the flag isn't specified), which actually cannot be worked-around in .NET/user code, and wh

[2019-03-11 17:16] zsd4yr commented on #146
@merriemcgaw @OliaG let's talk about this offline in the runtime tactical sync this week.

@kpreisser I'll do my best to come back with next-steps soon. I agree this is worth looking into. Which OSes (RS1, RS2, ..., 8.1, 7, etc...) does this affect? Is it a regression from earlier OSes which handled this as expected?

[2019-03-11 18:15] zsd4yr commented on #146
@dreddy-work and @Tanya-Solyanik FYI

[2019-03-11 19:48] kpreisser commented on #146
Hi @zsd4yr,

I verified that this issue occurs on Windows Vista SP2 (6.0.6002), Windows 7 SP1 (6.1.7601), Windows 8.1 (6.3.9600), Windows 10 Version 1607 (Build 14393), as well as the newest Windows 10 Insider Preview (Build 18850), using "ar-SA" (Arabic, Saudi Arabia) as display language, so it seems the behavior has always been this way and it is not a regression.
(Maybe fixing this will require

[2019-03-11 20:02] zsd4yr commented on #146
@kpreisser ah interesting. Sorry I should have thought of this already. Supported languages for .NET Core include:
* Czech
* German
* Spanish
* French
* Italian
* Japanese
* Korean
* Polish
* Portuguese
* Russian
* Turkish
* Simplified Chinese; and
* Traditional Chinese

example: https://github.com/dotnet/winforms/search?p=1&q=PrintPreviewDialog+extension%3A.xlf&unscoped_q=PrintPreviewDialog+exten

[2019-03-11 20:21] dsherret opened #567 "Where are the .uex files?"
Probably my bad for opening a question, but it relates to development on this repo.

Where are the .uex files? For example the `Control.uex` file.

[code]

I'm curious if the xml doc summary for `ResetBindings` on `Control` is still the same as that method on `BindingSource` (the summary for that method on `Control` seems wrong to me).

Thanks!

[2019-03-11 20:53] kpreisser commented on #146
Hi @zsd4yr,

Sorry, I'm not sure if I follow. I don't think the issue is related to the languages supported by .NET Core, as it relates to the text the developer wants to display in his app using a task dialog.

For example, if an (WinForms/WPF) App only supports english (but not arabic) as UI language, and the app displays a Task Dialog with english text, then the Task Dialog would (incorrectly)

[2019-03-11 21:14] zsd4yr commented on #146
This makes sense. Thank you for the clarification

[2019-03-11 21:33] kpreisser commented on #146
Here is an additional example for better illustration:
Suppose I'm creating two WinForms apps, both showing a Form, a MessageBox and a Task Dialog.
App **A** uses an english UI, so I don't set any special flags.
App **B** uses an arabic UI, so I set `RightToLeft` and `RightToLeftLayout` on the `Form`, `MessageBoxOptions.RightAlign | MessageBoxOptions.RtlReading` flags on the MessageBox, and the `T

[2019-03-11 21:42] #543 closed

[2019-03-11 21:42] #544 closed

[2019-03-11 21:42] #553 closed

[2019-03-11 22:00] zsd4yr commented on #146
The bug is that " When running in an OS language which is read right-to-left (such as Arabic), left-to-right read languages (like English) are being erroneously right-aligned" Correct?

![image](https://user-images.githubusercontent.com/10677481/54161103-636f9a00-440e-11e9-97c8-9cd2033f9803.png)

[code]

[2019-03-11 22:07] kpreisser commented on #146
Yes, that's correct. :+1:

[2019-03-11 22:12] JuditRose commented on #469
Component designer is coming in this PR #552

[2019-03-11 23:05] wjk commented on #567
AFAIK these were never released. Furthermore, cleanup and code-style PRs are actively removing them ([example](https://github.com/dotnet/winforms/pull/564/files#diff-6d09dbd56b04f34d80d5efffba3bf9fd)). I would say if there are problems with the documentation, raise it in [dotnet/docs](https://github.com/dotnet/docs) or by using the feedback mechanism on docs.microsoft.com. Hope this helps!

[2019-03-11 23:30] #175 closed

[2019-03-12 00:55] dsherret commented on #567
@wjk Thanks! It does.

[2019-03-12 00:55] #567 closed

[2019-03-12 04:17] MohanramAnbukkarasu opened #570 "Position of minimized MDI child changes when maximized and minimized twice"
**Problem description:**
In an MDI environment, when we maximize and minimize an MDI child repeatedly for a couple of times, the child form hidden below

**Actual behavior:**
When we continuously maximize and minimize an MDI child, the vertical position of the child form changed as shown in the following image.

![image](https://user-images.githubusercontent.com/44049406/54174195-4937c980-44ab-11e

[2019-03-12 05:57] prabhakarGC commented on #270
Do we know when this fix will be available?

[2019-03-12 18:15] jchang6 commented on #549
in https://developercommunity.visualstudio.com/content/problem/471810/no-net-core-30-preview-in-visual-studio-2019-rc.html
on VS 2019 RC, we need to go to Tools->Options …
then check: Use previews of the .NET Core SDK

[2019-03-12 19:34] hughbe opened #576 "BindingContext.UpdateBinding(new BindingContext(), null) throws NRE"
Should be ANE

[2019-03-12 20:20] zsd4yr commented on #270
@JuditRose can update on status

[2019-03-12 21:17] Shyam-Gupta opened #580 "Use ApiCompat to eusure public API compatibility with previous releases"
Eric's feedback in PR: https://github.com/dotnet/winforms/pull/237

[2019-03-12 23:07] zsd4yr commented on #510
#575

[2019-03-12 23:07] zsd4yr commented on #510
@KlausLoeffelmann if you have everything you need; please close this issue out with a comment about the lack of need for / solution for the others

[2019-03-12 23:36] #531 closed

[2019-03-12 23:40] zsd4yr commented on #551
@robertborr can you clarify the issue here?

[2019-03-13 14:48] robertborr commented on #551
@zsd4yr - a change was committed that built an invalid repository name, and a later change reverted that. an invalid repository name didn't have permissions to submit jobs to helix.

[2019-03-13 16:55] zsd4yr commented on #551
@robertborr gotcha; resolving as closed

[2019-03-13 16:55] #551 closed

[2019-03-13 17:32] Shyam-Gupta opened #583 "Move refout project settings to a targets file"
As part of PR https://github.com/dotnet/winforms/pull/237, we have added following two properties in each implementation assembly:

    <Deterministic>true</Deterministic>
    <ProduceReferenceAssembly>true</ProduceReferenceAssembly>

As per Eric's feedback, we should move them to Directory.Build.props under a conditional section like:

<PropertyGroup Condition="''$(IsShipping)' == 'true' And '$(I

[2019-03-13 20:43] JuditRose opened #585 "Port System.Windows.Forms.Design.* components from framework to core"
- [x] System.Windows.Forms.Design.WindowsFormsDesignerOptionService
 - [x] System.Windows.Forms.Design.MenuCommands
 - [x] System.Windows.Forms.Design.ComponentTray
 - [ ] ~~System.Windows.Forms.Design.ControlDesigner~~ moving to a separate issue #653
 - [x] System.Windows.Forms.Design.SelectionRules
 - [x] System.Windows.Forms.Design.DesignerOptions

Related requests: #221

Follow progress on PR

[2019-03-13 22:47] livarcocc opened #586 "AL.exe should be converted to .Net Core"
_From @joperezr on November 16, 2015 19:50_

In order to build corefx repo using .Net Core version of msbuild, we require al.exe to run in .NetCore since we need to generate satellite assemblies. Today, if you try to build a project that needs this task will fail when trying to load it. There should be a workaround for the time being to disable the task from running, and once Al.exe is converted t

[2019-03-13 22:47] livarcocc commented on #586
_From @joperezr on November 16, 2015 19:51_

cc @dsplaisted

[2019-03-13 22:47] livarcocc commented on #586
_From @dsplaisted on November 17, 2015 6:41_

It looks like this was needed for localization.  @weshaggard, what are your plans around enabling localization?  Will you need an equivalent to AL.exe on NET Core?

[2019-03-13 22:47] livarcocc commented on #586
_From @weshaggard on November 17, 2015 21:17_

At this point we don't plan to ship satellite assemblies for RTM but we will eventually need support for producing them.

[2019-03-13 22:47] livarcocc commented on #586
_From @dsplaisted on November 17, 2015 21:41_

@weshaggard Who needs to deliver xplat and .NET Core version of AL.exe's functionality?

[2019-03-13 22:47] livarcocc commented on #586
_From @weshaggard on November 17, 2015 21:44_

That is a good question which I don't actually know an answer to at this point. I don't even know anything about AL.exe right now.

[2019-03-13 22:47] livarcocc commented on #586
_From @nguerrera on October 12, 2017 22:11_

@jaredpar

[2019-03-13 22:47] livarcocc commented on #586
_From @nguerrera on October 26, 2018 20:25_

IMHO, we should move the Csc-based satellite assembly generation down into common targets. AL.exe is effectively abandoned, bugs like #1490 will never get fixed.

[2019-03-13 22:47] livarcocc commented on #586
_From @rainersigwald on October 26, 2018 20:29_

That seems reasonable to me, and 16.0/3.0 like a pretty good time for it, if we can fit it in.

[2019-03-13 22:47] livarcocc commented on #586
I don't believe this issue belongs in the msbuild repo given that AL.exe is not really owned by us. Now that we have dotnet/winforms, moving the issue there, I think that's the right repo.

[2019-03-13 22:50] nguerrera commented on #586
Not a winforms issue.

[2019-03-13 22:50] #586 closed

[2019-03-14 20:48] JuditRose opened #592 "System.ComponentModel.Design.* components from framework to core"
- [x] System.ComponentModel.Design.UndoEngine
 - [x] System.ComponentModel.Design.DesignSurface
 - [x] System.ComponentModel.Design.InheritanceService
 - [x] System.ComponentModel.Design.DesignerActionMethodItem
 - [x] System.ComponentModel.Design.DesignerActionPropertyItem

Related requests: #221 #469

Track PR progress: #606

[2019-03-14 22:31] zsd4yr opened #594 "Unify common elements in csproj files and import them to prevent human error"
example:

_Originally posted by @JuditRose in https://github.com/dotnet/winforms/diffs_

[2019-03-14 22:32] zsd4yr commented on #594
LangVersion is defined in some / all our csprojects https://github.com/dotnet/winforms/search?q=extension%3A.csproj+langversion&unscoped_q=extension%3A.csproj+langversion

[2019-03-14 22:37] JuditRose opened #595 "Unify namespace macros"
We need to unify these namespaces macros
WINFORMS_NAMESPACE
WINFORMS_DESIGN_NAMESPACE
into DRAWING_DESIGN_NAMESPACE

Current name: https://github.com/dotnet/winforms/search?q=DRAWINGDESIGN_NAMESPACE&unscoped_q=DRAWINGDESIGN_NAMESPACE

`DRAWINGDESIGN_NAMESPACE` should be changed to `DRAWING_DESIGN_NAMESPACE`

[2019-03-14 22:37] #478 closed

[2019-03-14 23:45] RussKie commented on #508
Finally got to my Windows box that I use for dev (VS2017, .NET classic)
[code]

I have installed VS2019 preview 4.2 with the following workloads:
* .NET desktop development
* Desktop development with C++
* .NET Core cross-platform development

I have cloned the repo and ran `build.cmd` successfully:
![image](https://user-images.githubusercontent.com/4403806/54398547-8e0f6a80-470e-11e9-8d60-d85b84e

[2019-03-15 00:39] JuditRose commented on #270
This component exists in System.Windows.Forms: https://github.com/dotnet/winforms/blob/82634b7a59c5d1253fc3ee2107092868546c6f79/src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditorEditStyle.cs
@Lohnegrim @IrinaPykhova @prabhakarGC Can you please double check if you reference it the right way?

[2019-03-15 00:47] OliaG commented on #270
Do we know why it was moved to the new place? @merriemcgaw @dreddy-work?

[2019-03-15 16:59] #549 closed

[2019-03-15 17:54] IrinaPykhova commented on #270
@JuditRose, the problem is that we don't want to rebuild all our assemblies under .Net Core 3. We are trying to use .Net 4.0 version as is in .Net Core 3 application. Almost everything else just works. But in such scenario we got runtime exception that this enum does not exist. I think the problem is that in full Framework and in .Net Core 3 it is placed in different assemblies. Don't you have som

[2019-03-15 18:11] dreddy-work commented on #595
These are macros. Defined in proj file and used at compile time.

[2019-03-15 18:17] dreddy-work commented on #251
This issue need to be fixed before we can work on #540

[2019-03-15 18:31] zsd4yr commented on #508
@livarcocc do you have thoughts here?

My machine appears to be installing the x64 bit version
`dotnet-install: Extracting zip from https://dotnetcli.azureedge.net/dotnet/Sdk/3.0.100-preview3-010436/dotnet-sdk-3.0.100-preview3-010436-win-x64.zip`

@RussKie are you on a 32-bit machine?

[2019-03-15 18:50] RussKie commented on #508
No, I'm on W10 x64 version, both on a Mac and native

[2019-03-15 20:11] #361 closed

[2019-03-15 20:11] #362 closed

[2019-03-15 20:11] #363 closed

[2019-03-15 20:11] #364 closed

[2019-03-15 20:11] #370 closed

[2019-03-15 20:11] #371 closed

[2019-03-15 20:11] #374 closed

[2019-03-15 20:11] #375 closed

[2019-03-15 20:11] #376 closed

[2019-03-15 20:11] #377 closed

[2019-03-16 01:42] d2phap opened #601 "Hardware acceleration for Winforms"
The Winforms in .NET Framework is using GDI+ to render graphics which is not hardware-accelerated.

Please support a way to use GPU acceleration for Winforms.

[2019-03-17 10:22] weltkante commented on #601
WinForms is mostly wrappers around native controls. Native controls are based on GDI in their WM_PAINT events. Sounds like it would turn WinForms into something it isn't supposed to be, because if you move away from GDI *and* native controls then there's nothing left of WinForms ...

[2019-03-18 22:06] JuditRose opened #607 "Port System.Drawing.* components from framework to core"
- [x] System.Drawing.FontConverter
 - [x] System.Drawing.Design.ColorEditor
 - [x] System.Drawing.ImageConverter
 - [x] System.Drawing.ImageFormatConverter
 - [x] System.Drawing.Printing.MarginsConverter

Related requests: #221

These components are already ported:
https://github.com/dotnet/corefx/blob/78cf4e450180c62ebbdb8b306b757103bea0cfc5/src/System.Windows.Extensions/src/System/Drawing/FontCo

[2019-03-18 22:13] JuditRose opened #608 "Port System.ComponentModel.Design.Serialization.* components from framework to core"
- [x] System.ComponentModel.Design.Serialization.CodeDomSerializer
 - [x] System.ComponentModel.Design.Serialization.ExpressionContext
 - [x] System.ComponentModel.Design.Serialization.CodeDomSerializerBase
 - [x] System.ComponentModel.Design.Serialization.CodeDomComponentSerializationService
 - [x] System.ComponentModel.Design.Serialization.CollectionCodeDomSerializer
 - [x] System.ComponentModel

[2019-03-18 22:19] JuditRose opened #609 "Port various components from framework to core"
- [x] System.ComponentModel.Design.DesignerActionItemCollection
 - [x] System.ComponentModel.Design.DesignerActionListCollection
 - [ ] ~~System.ServiceModel.Activation.AspNetCompatibilityRequirementsAttribute~~ This component doesn't belong to our team

Related requests: #221

[2019-03-20 07:42] SlavaB opened #616 "System.Runtime.Serialization.SerializationException occurs on deserialize Calendar"
* .NET Core 3.0 Preview 4
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

System.Runtime.Serialization.SerializationException with Message=Type 'System.Globalization.GregorianCalendar' in Assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e' is not marked as serializable.
ocurrs. Please find the attached sample

[2019-03-20 22:49] Shyam-Gupta opened #621 "Remove CLSCompliant from all binaries in WinForms repo"
As per feedback received from @sharwell in the refout PR, we should remove usage of CLSCompliant attribute from all binaries in WinForms repo. This concept is now obsolete and is not required anymore. Its drawback is that it slows the build.

However in order to remove it from WinForms repo, it needs to be removed from WindowsFormsIntegration first in DotNet-Trusted.

[2019-03-21 06:50] RussKie commented on #508
I finally got the integration tests running 🎉

To be brutally honest I can't explain how it got fixed, I have few suspicions and hypothesises that I tested but none of them seems to be completely valid. 😞
I suspect some of the cli tooling I was using are to blame (sneakily running in x86 space instead of x64).

[2019-03-21 06:50] #508 closed

[2019-03-21 14:21] georgiuk commented on #522
Hi,
here is a subclass of FlowLayoutPanel that I have written that tries to respect anchor settings. It is experimental and works only topdown I think but it does what it is supposed to.
https://gist.github.com/georgiuk/606d6b807d58113ba40bcd7d3354b6ba

[2019-03-21 15:38] sharwell commented on #621
Depending on how strong the back compat policy is, this might not be an option. Downstream applications using Windows Forms might be similar to WindowsFormsIntegration in expecting types in this library to be CLS Compliant.

[2019-03-21 23:53] merriemcgaw commented on #357
Circling back on this issue. I can tell you that certainly we would be interested in some of these apis to be added in the box to WinForms. I really like several of the ideas you mention. The best way to go about them is to create an issue for the item you'd really like to implement and make the api suggestion. We would evaluate each one independently, and would totally take community contribution

[2019-03-21 23:53] #357 closed

[2019-03-22 03:22] #469 closed

[2019-03-22 03:22] #592 closed

[2019-03-22 17:53] merriemcgaw commented on #621
Per discussion with the team, for compat reasons we're not going to remove this at this time. We anticipate compat needs with apps that are expecting this attribute.

[2019-03-22 17:53] #621 closed

[2019-03-22 18:09] merriemcgaw commented on #601
Thank you for the suggestion, but this is not on our current roadmap. For .NET Core 3.0 we're looking to achieve parity with the .NET Framework version of WinForms and start working on Accessibility and HDPI improvements. Closing this issue for now.

[2019-03-22 18:09] #601 closed

[2019-03-22 18:14] merriemcgaw commented on #146
Checking in to let you know that we've filed the Windows bug. We're also trying to determine the best ship vehicle for this code. We're evaluating the possibility of an optional 'pack' of components that are usable in both WinForms and WPF so that both technologies could use them. Stay tuned for updates, we haven't forgotten this proposal!

[2019-03-22 18:29] merriemcgaw commented on #616
@dreddy-work can you take a look at this one? This relates to the resource serialization stuff you're working on. It may be that we need to consider WinForms controls like this one in our design.

[2019-03-22 22:35] AlanParr opened #625 "Control DataBindings do not update when using INotifyPropertyChanged."
* .NET Core Version: 3.0.100-preview3-010431
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Control bound to a property does not update when INotifyPropertyChanged is triggered. The same code works in Windows Forms on .Net Framework.
Repro example below is for a label, but also tried with a button and saw the same issue.

**Actual behavior:**
Bound control

[2019-03-23 09:23] lucdaodainhan opened #655 "[fail]: OmniSharp.MSBuild.ProjectManager Attemped to update project that is not loaded"
# Issue Title

[fail]: OmniSharp.MSBuild.ProjectManager
        Attemped to update project that is not loaded

# General
im try using .net core 3 to work with winform , after following instruction from githup page, im enter some comand such as : dotnet new winforms -o 'my-name-app', dot net run, and finally , i got this output from output tab in VS code

[code]

[2019-03-24 15:52] ArrowCase opened #628 "Build fails due to missing RoslynTools.MSBuild 16.0.0-alpha"
I wasn't sure whether this issue belongs here or in [dotnet/arcade](https://github.com/dotnet/arcade). Please feel free to move it.

Steps to reproduce: Clone repository, run build.cmd.

Results:

[code]

Version 16.0.0-alpha of the package indeed [does not appear to exist](https://dotnet.myget.org/F/roslyn-tools/api/v2/package/RoslynTools.MSBuild/16.0.0-alpha), but [16.0.0-rc1-alpha does](https:/

[2019-03-25 17:49] #526 closed

[2019-03-25 23:00] #608 closed

[2019-03-26 19:00] JuditRose commented on #607
@JuditRose Check if these converters are ported in corefx, if not, then we need to ask them to port it.

[2019-03-26 21:23] #607 closed

[2019-03-26 21:42] merriemcgaw opened #635 "Intellisense Support"
* [ ] Add Intellisense to transport package
* [ ] Ensure EN Intellisense is checked in
* [ ] Create process to update EN Intellisense

[2019-03-26 22:30] #609 closed

[2019-03-26 22:53] vivmishra commented on #635
Can we re-purpose this same issue for reference assemblies too or you want to have a different issue for that?

[2019-03-27 07:05] mikhailovalex opened #638 "System.Resources.MissingManifestResourceException occurs on restore resources from .resx"
* .NET Core Version: 3.0.100-preview4-010391
* Have you experienced this same bug with .NET Framework?: No

**It is impossible to read an object from resources when the form or user control has a non default namespace**

Actual behavior:
System.Resources.MissingManifestResourceException: 'Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "Differe

[2019-03-27 09:16] Lohnegrim commented on #638
Hi,
I encountered the same problem with my .Core 3 tests, this doesn't only happen, when there is a Namespace, it also happens, when the Classname of the Form is different from the Filename.
In Order to workaround this issue, you currently have to add the following to your NetCore_Resources.NetCore.csproj file:
`    <EmbeddedResource Update="Form1.resx">
      <DependentUpon>Form1.cs</DependentUpo

[2019-03-27 21:29] zsd4yr commented on #635
reference assemblies should already be in the package:

![image](https://user-images.githubusercontent.com/10677481/55113506-aed7a880-509c-11e9-8df3-feaa90cb3a4d.png)

[2019-03-27 21:32] zsd4yr commented on #628
@OliaG @merriemcgaw would one of you kindly move this to dotnet/arcade ?

[2019-03-28 01:01] OliaG commented on #616
@dreddy-work , any updates on this one?

[2019-03-28 07:12] mikhailovalex commented on #625
Hello, I think this is similar to https://github.com/dotnet/corefx/issues/34465

[2019-03-28 12:03] pavelovcharov opened #641 "ObjectDisposedException is thrown in certain cases"
* .NET Core Version: 3.0.100-preview4-010776
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The following test throws ObjectDisposedException:
[code]

**Actual behavior:**
Exception details:
System.ObjectDisposedException
  HResult=0x80131622
  Message=Cannot access a disposed object.
Object name: 'TextBox'.
  Source=System.Windows.Forms
  StackTrace:
 	Sys

[2019-03-28 22:59] robertborr opened #650 "Misc build failures in 'official/$(reponame)/refs/heads/master' - '20190328.1'"
@dotnet-mc-bot commented on [Thu Mar 28 2019](https://github.com/dotnet/core-eng/issues/5718)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=136611
  - **Agent:** a000010
  - **Error log:** F:\vsagent\3\s\.packages\xlifftasks\0.2.0-beta-63004-01\build\XliffTasks.targets(0,0): error : 'Resources\xlf\SR.c

[2019-03-29 05:00] dreddy-work commented on #616
We hae a known issue on some ofthese controls not supporting binary serialization. We are working on it. Will update the status as soon as we get to it.

[2019-03-29 05:18] dreddy-work commented on #616
@OliaG Can you please help move this issue to coreclr repo?

[2019-03-29 06:47] SlavaB commented on #270
It seems the issue with  UITypeEditorEditStyle had been fixed. I checked it with SDK 3.0.100-preview4-010999.

[2019-03-29 17:53] merriemcgaw commented on #650
Already addressed.

[2019-03-29 17:53] #650 closed

[2019-03-29 17:59] merriemcgaw commented on #641
You need to remove the TextBox from the Controls Collection before setting focus to the form again. Let me know if that doesn't address the issue.

Have you explicitly run this test in .NET Framework? Is it failing there or no?

[2019-03-29 18:02] merriemcgaw commented on #638
@dreddy-work can you take a look at this as part of the larger RESX work?

[2019-03-29 18:12] merriemcgaw commented on #625
@karelz this is a pretty important WinForms scenario. Have you had a chance yet to investigate? We would totally want to have support for this by 3.0 GA.  This issue is probably a duplicate of dotnet/corefx#34465 but we'll keep this open on our side as well to help investigate the end-to-end functionality.

[2019-03-29 18:16] #616 closed

[2019-03-29 18:16] merriemcgaw commented on #616
Issue moved to [dotnet/coreclr #23567](https://github.com/dotnet/coreclr/issues/23567) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-29 18:22] zsd4yr commented on #628
thanks @ArrowCase I am actively working on a workaround for us here but this is an underlying Arcade issue

[2019-03-29 18:26] merriemcgaw commented on #101
It looks like the following code needs to be removed and the property changed to "HeaderText".
[code]

[2019-03-29 18:32] zsd4yr commented on #628
In case this ever happens again, the issue is that we're looking for 16.0.0 but there is no entry for it anymore https://dotnet.myget.org/feed/roslyn-tools/package/nuget/RoslynTools.MSBuild --see Package history

[2019-03-29 18:33] zsd4yr commented on #628
Needs to be switched to a valid version; example: `16.0.0-rc1-alpha`

[2019-03-29 18:35] merriemcgaw commented on #192
@Olina-Zhang can your team take a look and see if this still repros?

[2019-03-29 18:37] #216 closed

[2019-03-29 18:40] karelz commented on #625
@merriemcgaw I didn't plan to investigate it personally - I let area owners chime in. Let's ping them on the GH issue. BTW: Here's area owners list in CoreFX: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas

[2019-03-29 18:47] merriemcgaw commented on #247
Issue moved to [dotnet/corefx #36488](https://github.com/dotnet/corefx/issues/36488) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-29 18:50] pavelovcharov commented on #641
No, the test is not failing in .NET Framework.
I can change this certain test as you suggested. However, I'm not sure that I can change this code in my actual application.

[2019-03-29 18:51] merriemcgaw commented on #254
@OliaG we need to decide what ProductName to display, and make it consistent with WPF on .NET Core. Can you please tell us what name we want to use?

[2019-03-29 18:54] merriemcgaw commented on #266
@Olina-Zhang can you confirm that setting the icon file actually works to show that icon? Then we can open an issue in CLI for the publishing concern

[2019-03-29 18:57] merriemcgaw commented on #304
It looks like the WinForms portion of this issue was addressed with @wjk's suggestion. If you need a framework dependent app and it's not working for you, please file an issue in dotnet/cli

[2019-03-29 18:57] #304 closed

[2019-03-29 18:58] merriemcgaw commented on #270
Great! I will close this issue then.

[2019-03-29 18:58] #270 closed

[2019-03-29 19:01] merriemcgaw commented on #305
We will be tackling dpi scaling as a major feature area in the next release, but we're not ready to take something like this for .NET Core 3.0, where our focus is ensuring that we have parity with .NET Framework and have some better test coverage.  Right now, we should close this issue and have a community wide discussion when we're ready to tackle the issue.

[2019-03-29 19:01] #305 closed

[2019-03-29 19:22] rainersigwald commented on #266
I think @wjk's diagnosis here is correct: if the `.ico` is a file reference in the `.resx`, `dotnet build` will mangle it into being a string. This will be fixed before .NET Core 3.0 RTM https://github.com/Microsoft/msbuild/issues/2221.

[2019-03-29 21:03] JuditRose opened #653 "Port System.Windows.Forms.Design.ControlDesigner"
Related issues: #585, #221

Follow progress in PR : #681

[2019-03-29 21:34] zsd4yr commented on #628
This should be solved by a workaround on our end as part of #647

[2019-03-29 21:34] #628 closed

[2019-03-30 07:54] Tanya-Solyanik opened #654 "Can't use windows class names with different capitalization in the same application"
* .NET Core Version: 3.0 Preview1
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
Potentially the problem is in case sensitive comparison before registering window class, however I did not find confirmation in documentation that window class name is case sensitive or not.
https://github.com/dotnet/winforms/blob/a83e00a9ae61efa4dd9f529a4a7155de026db88e/src/S

[2019-04-01 10:16] Jessie-Zhang01 commented on #192
Verified this bug in .Net Core 3.0 preview 4 3.0.100.11022 build from master branch + Dev16.0 Preview 5.0 [28729.10.d16.0], UAC shield icon can be shown in .Net Core 3.0 using the provided code at the top, same as .Net framework. Please see following screenshot:
![image](https://user-images.githubusercontent.com/45864649/55320626-2137f680-54aa-11e9-81d1-70688abbc54f.png)

[2019-04-01 10:35] Jessie-Zhang01 commented on #266
Verified this bug in .Net Core 3.0 preview 4 3.0.100.11022 build from master branch + Dev16.0 Preview 5.0 [28729.10.d16.0], according to the description of this issue, we try to reproduce as following steps, @merriemcgaw we may need to confirm with @zangxx66 again.

Repro Steps we tired:
1. Create winforms app in .net Core or framework.
2. Copy and Paste two .ico files to project directory.
3. Add

[2019-04-01 12:26] miloszkukla opened #660 "UIAutomation keeps Form instance alive"
* Tested on .NET Framework 4.5.2 only.

**Problem description:**

Obtaining a Form's AutomationElement causes Form to be not eligible for garbage collection - Form instances remain in memory - this is illustrated in the attached repro. This causes trouble for creating stress tests.

This is also reproducible with UIAv3 using wrapper from https://www.nuget.org/packages/TestStack.White.Uia3/ package

[2019-04-01 18:21] dreddy-work commented on #387
Moving it to CoreFx repro as there was bug in porting Windows.Image.cs source.

[2019-04-01 18:29] #387 closed

[2019-04-01 18:30] dreddy-work commented on #387
Issue moved to [dotnet/corefx #36525](https://github.com/dotnet/corefx/issues/36525) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-01 18:45] merriemcgaw commented on #448
Depends on #449 and we should remove most non-security related Suppress Messages

[2019-04-01 18:48] merriemcgaw commented on #459
@dreddy-work can you take a look

[2019-04-01 18:50] merriemcgaw commented on #465
@Zheng-Li01 can you see if this is still an issue with the latest builds? @dreddy-work  as fyi.

[2019-04-01 18:53] merriemcgaw commented on #465
@M-Lipin could you see if this might be a regression from an accessibility change

[2019-04-01 19:07] merriemcgaw commented on #524
@dreddy-work is going to take a look through our codebase and make sure that this approach is what we want to take. We do like the idea of moving over to a more modern font.

[2019-04-01 23:46] miloszkukla commented on #660
After more experimentation it seems that Form actually is garbage collected but only after execution goes out of the method - (counter-intuitively as Form's AutomationElement  goes out of scope after each iteration) - I guess it happens due AutomationElement.Root is caching found descendant AutomationElements. After moving AutomationElement.Root declaration to separate method which is invoked in t

[2019-04-02 02:06] lextm commented on #192
Thanks for the hard work, guys. I just tested and it was also resolved in preview 3, so I am closing this issue now.

[2019-04-02 02:06] #192 closed

[2019-04-02 05:47] MohanramAnbukkarasu commented on #570
@merriemcgaw I don't know exactly. I think the issue is in the form.

[2019-04-02 08:57] stephenjannin opened #667 "System.Drawing.ColorConverter throws exception for ConvertFrom"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**
Migrating from 4.5.2 to .net core preview  3 we found

var tc = new System.Drawing.ColorConverter()
var color = tc.ConvertFrom("Control");

**Actual behavior:**
[code]

**Expected behavior:**

  returns "{Name=Control, ARGB

[2019-04-02 08:58] rido-min commented on #667
@merriemcgaw  can you take a look?

[2019-04-02 09:28] MohanramAnbukkarasu commented on #570
Is there any update in this? Please provide the solution at the earliest.

[2019-04-02 13:15] weltkante commented on #112
@davidnmbond apparently this is already mostly done, @merriemcgaw commented something along those lines in #510

[2019-04-02 17:43] #660 closed

[2019-04-02 18:25] merriemcgaw commented on #667
ColorConverter was converted in the corefx repo a while back, but perhaps there was an override that they didn't take. @stephenjannin can you tell us the scenario that you're trying to achieve? Perhaps there is another way to go about it if corefx decides that they don't want to add this particular overload.

[2019-04-02 18:36] merriemcgaw commented on #655
@lucdaodainhan this looks like https://github.com/OmniSharp/omnisharp-roslyn/issues/1186. Please work with the Roslyn team to address your issue.

[2019-04-02 18:36] #655 closed

[2019-04-02 18:46] merriemcgaw opened #670 "Code Cleanup and Enhancements"
This epic will track the work we want to do towards code cleanup.

[2019-04-02 18:53] merriemcgaw opened #671 "Integrate Framework end-to-end tests into Helix/Arcade"

[2019-04-02 18:54] merriemcgaw opened #672 "Test Infrastructure Parity with Framework"
This epic tracks getting our test infrastructure that we used for .NET Framework ported to the Arcade infrastructure.

[2019-04-02 19:05] merriemcgaw opened #673 "WinForms in .NET Core 3.0 should be at functional parity with .NET Framework 4.8"
Wherever possible .NET Core 3.0 WinForms should have the same functionality that .NET Framework does. There will be changes in some places, but these should be intentional rather than spontaneous. We need to port .NET 4.8 fixes in HDPI, Accessibility, and other feature areas to achieve this.

[2019-04-02 19:14] weltkante commented on #667
There seem to be two different System.Drawing.ColorConverter implementations in corefx - one in [System.ComponentModel.TypeConverter](https://github.com/dotnet/corefx/blob/master/src/System.ComponentModel.TypeConverter/src/System/Drawing/ColorConverter.cs) and one in [System.Drawing.Common](https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/ColorConverter.cs)

[2019-04-03 01:43] Zheng-Li01 commented on #465
@merriemcgaw, Verified the issue with latest .NET Core 3.0  build [3.0.100..10485] form release branch, the issue still can reproduce.

[2019-04-03 09:11] MohanramAnbukkarasu opened #675 "PrintDialog in multithreaded window throws System.InvalidOperationException"
**Problem description:**
I am using a secondary UI thread for opening the MainWindow of my WPF application as shown in thefollowing code snippet.

[code]

In a button click I try to open show a PrintDialog using the following code snippet.

`PrintDialog printDialog = new PrintDialog();
printDialog.ShowDialog();`

**Actual behavior:**

When this button is clicked, the app crashes with the following

[2019-04-03 11:29] zangxx66 commented on #266
Debug is normal but miss ico file after run dotnet publish command with .Net Core 3.0 preview 3.
![捕获32](https://user-images.githubusercontent.com/14540861/55475484-a5bf7c00-5646-11e9-8bd3-b64a1fee2e0d.PNG)
![捕获33](https://user-images.githubusercontent.com/14540861/55475502-b112a780-5646-11e9-92ca-c8a6c52b6f32.PNG)
![捕获34](https://user-images.githubusercontent.com/14540861/55475510-b53ec500-5646-1

[2019-04-03 20:48] #675 closed

[2019-04-03 20:48] merriemcgaw commented on #675
Issue moved to [dotnet/wpf #491](https://github.com/dotnet/wpf/issues/491) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-03 20:54] merriemcgaw commented on #570
Please confirm whether this issue also exists in .NET Framework 4.7.2 to determine if this is a regression from .NET Framework. We're prioritizing issues that will bring .NET Core to parity with .NET Framework. General improvements and new features will be considered for .NET Core 3.0.

[2019-04-04 01:56] tcostin opened #730 "WinForms ComboBox SelectedIndexChanged event behaves inconsistently"
If the SelectedIndex property is set programatically, the event does not fire unless {new value <> old value}. However, if the user accesses the drop-down and selects an item (via the GUI), the event always fires (even in the case where the new value is the same as the old value).

Looking at the reference source, this can be traced to the fact that WmReflectCommand always calls OnSelectedIndexCha

[2019-04-04 17:58] Shyam-Gupta opened #679 "WinForms .NetCore templates should be identical to .NET Framework templates"
As per feedback from @chabiss, Windows Form App (.NET Core) templates should be identical to Windows Form App (.NET Framework) templates.

![template](https://user-images.githubusercontent.com/24871676/55577567-b1ec1d80-56c8-11e9-9ce7-ad6a2ce9e541.jpg)

[2019-04-05 00:43] #595 closed

[2019-04-05 10:52] hughbe opened #682 "Can we remove things like RunningOnWin2K"
E.g. in ListBox.cs

[code]

[2019-04-05 15:05] alepikhov commented on #469
Thank you for prioritizing our request. Our customers are looking forward to start using our product in the NetCore 3 environment.
Today we have tried to build and run our app with the latest NetCore 3 build (https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-sdk-latest-win-x64.exe) and found the following classes, which raise the NotImplemented exception:
- System.Windows.Forms.Desi

[2019-04-05 16:58] #585 closed

[2019-04-05 17:43] Shyam-Gupta opened #687 "Remove #defines from common files and create a new dll for them"

[2019-04-05 17:58] merriemcgaw commented on #671
This is the .NET Framework Suite @Olina-Zhang has ported it to .NET Core and we need to check it in and hook it up into Arcade.

[2019-04-05 18:06] merriemcgaw commented on #682
That's a great suggestion for cleaning up our code! It's something we certainly should consider. We could also look at getting rid of tests for Win9x and WinXP  where it is looking for less than or equal to XP.

[2019-04-05 22:31] zsd4yr opened #689 "Add Visual Basic dotnet new project template"
Should match VB project template from Framework

* WinFormsApplication-VBasic
  * Company.WinFormsApplication1.vbproj
  * Form1.Desiger.vb
  * Form1.vb
  * App.config (?)
  * My Project directory
    * Application.Designer.vb
    * Application.myapp (?)
    * AssemblyInfo.vb (? pretty sure no)
    * Resources.Designer.vb (?)
    * Resources.resx (?)
    * Settings.Designer.vb (?)
    * Settings.se

[2019-04-05 22:35] zsd4yr commented on #689
Form1.designer.vb
[code]

Form1.vb
[code]

Company.WinFormsApplication1.vbproj except obviously change stuff like TargetFrameworkVersion and ItemGroups for References
[code]

[2019-04-05 22:37] zsd4yr commented on #689
Application.Designer.vb
[code]

Application.myapp
[code]

AssemblyInfo.vb
[code]

Resources.Designer.vb
[code]

Settings.Designer.vb
[code]

Settings.settings
[code]

[2019-04-05 22:38] zsd4yr commented on #689
@KlausLoeffelmann perhaps you can advice on which of these files is **necessary** for a .NET Core 3.0 Application in VB?

[2019-04-06 08:03] hughbe opened #690 "ListControl.FilterItemOnProperty(new object(), null) throws NRE should be a nop"
To match string.Empty

[2019-04-06 20:53] davidnmbond commented on #510
@merriemcgaw Please could you let me know which repo?  This one is important to our project.

[2019-04-06 21:52] hughbe opened #696 "Buffer size passed to GetClipboardFormatName is too small for newer platforms"
Affects the following example:
[code]

It prints out a 127 long string rather than the original 255 length

[2019-04-06 21:57] hughbe opened #698 "There are now 3 copies of NativeMethods in winforms"
These should be able to be consolidated. I'll give this a punt when my outstanding PRs are merged

[2019-04-08 12:32] Berrysoft commented on #689
I successfully build a Visual Basic dotnet core winforms project `WinformsCoreTest` with only four files: `WinformsCoreTest.vbproj`, `Form1.vb`, `Form1.designer.vb`, `Program.vb`.
`WinformsCoreTest.vbproj`:
[code]
`Form1.vb` and `Form1.designer.vb` are as same as above.
`Program.vb`:
[code]

[2019-04-08 15:38] hughbe opened #701 "new ToolboxComponentsCreatedEventArgs(null).Components throws NRE should return null"

[2019-04-08 16:47] hughbe opened #704 "new ToolboxItem().DependentAssemblies = null throws NRE should set to null"

[2019-04-08 16:59] hughbe opened #705 "ToolboxItem.Properties for "DependentAssemblies" does not validate the value type like for the other properties"
Allows values, e.g. new object(), causing `InvalidCastException`s when used. Should just return throw `ArgumentException` when set like everything else

[2019-04-08 17:17] zsd4yr commented on #682
I think we should clarify / enumerate which OSes we do not care to distinguish from any longer.

[2019-04-08 17:19] hughbe commented on #682
From https://github.com/dotnet/core/blob/master/os-lifecycle-policy.md

[2019-04-08 17:28] hughbe opened #706 "ToolboxItem.Version throws NRE for AssemblyName without a version"
Should return `string.Empty`

[2019-04-08 17:58] #701 closed

[2019-04-09 07:56] Jessie-Zhang01 commented on #266
@zangxx66 You can try to set the "Copy to Output Directory" property for icon you used as 'Copy always' to see if your issue can be resolved.
Here is I tried, after published, we can see ico file is contained in publish folder. Please see following screenshot:
![image](https://user-images.githubusercontent.com/45864649/55782720-7d6ccd00-5adf-11e9-94c4-88477fbb85ee.png)

[2019-04-09 08:07] zangxx66 commented on #266
@Jessie-Zhang01 My vs2019 cant distinguish .Net core 3.0 so much so that I use vs code build.I think this may be a problem with vs code.Can you help me?
If I build with vs I think it can be resolved.

[2019-04-09 08:58] Jessie-Zhang01 commented on #266
@merriemcgaw We didn't use VS Code to test .Net Core 3.0, but this issue can't be reproduce with VS 2019 + .Net Core 3.0 preview 4 using the above way that we mentioned. Can we close this github issue now? In addition, do you have any suggestion to zangxx66?

[2019-04-09 10:10] M-Lipin opened #710 "Accessibility: Invalid BoundingRectangle value for DataGridView cells and headers"
Bounding rectangle of the header and data cells are not being contained within the parent element (row) and the top element (DataGridView). If a magnifier is trying to magnify this element, it will magnify parts of the element that aren’t visible.
This only happens when cells don't fully fit on the screen and scroll bar appears.

**Expected result:**
Bounding rectangle for all cells should be with

[2019-04-09 10:13] M-Lipin commented on #182
Need to port the fixes related to accessibility changes in the Chart controls.

[2019-04-09 18:09] JuditRose opened #714 "Add unit tests to ToolboxItem and ComponentDesigner"
Add unit tests (if not exists) for

1) Methods:

System.Drawing.Design.ToolboxItem
- [x] M:System.Drawing.Design.ToolboxItem.#ctor(System.Type)
- [x] M:System.Drawing.Design.ToolboxItem.CreateComponents(System.ComponentModel.Design.IDesignerHost)
- [x] M:System.Drawing.Design.ToolboxItem.get_AssemblyName
- [x] M:System.Drawing.Design.ToolboxItem.get_Bitmap
- [x] M:System.Drawing.Design.ToolboxItem

[2019-04-09 18:25] zsd4yr commented on #682
@merriemcgaw @Tanya-Solyanik can we provide some clarity here?

[2019-04-09 18:27] JuditRose opened #715 "Add unit tests to System.ComponentModel.Design.* components"
Add unit tests (if not exists) for

Methods:
System.ComponentModel.Design.UndoEngine
- [ ] M:System.ComponentModel.Design.UndoEngine.#ctor(System.IServiceProvider)
- [ ] M:System.ComponentModel.Design.UndoEngine.DiscardUndoUnit(System.ComponentModel.Design.UndoEngine.UndoUnit)
- [ ] M:System.ComponentModel.Design.UndoEngine.Dispose(System.Boolean)
- [ ] M:System.ComponentModel.Design.UndoEngine.ge

[2019-04-09 18:29] JuditRose opened #716 "Create tests for ported components for DevExpress"
We have ported several components from framework to core. These components were lack of unit tests and during the porting process we agreed to create only minimal unit tests to keep the process faster and unblock the customers porting process as soon as possible.

These components need more through unit tests to be added.

Related issue: #221

Portability report available: https://microsoft-my.sha

[2019-04-09 18:43] JuditRose opened #717 "Add unit tests to System.ComponentModel.Design.DesignerAction*Collection Components"
Add unit tests (if not exists) for

Methods:
System.ComponentModel.Design.DesignerActionItemCollection
- [ ] M:System.ComponentModel.Design.DesignerActionItemCollection.#ctor
- [ ] M:System.ComponentModel.Design.DesignerActionItemCollection.Add(System.ComponentModel.Design.DesignerActionItem)
- [ ] M:System.ComponentModel.Design.DesignerActionItemCollection.get_Item(System.Int32)
- [ ] M:System.Co

[2019-04-09 18:54] JuditRose opened #718 "Add unit tests to Toolbox related components"
Add unit tests (if not exists) for

Methods:
~~ToolboxItem~~ - #714
~~IToolboxUser~~ interface
~~IToolboxService~~ interface

ToolboxItemCollection
- [ ] M:System.Drawing.Design.ToolboxItemCollection.#ctor(System.Drawing.Design.ToolboxItem[])
- [ ] M:System.Drawing.Design.ToolboxItemCollection.Contains(System.Drawing.Design.ToolboxItem)

ToolboxItemCreatorCallback
- [ ] T:System.Drawing.Design.Too

[2019-04-09 19:09] JuditRose opened #719 "Add unit tests to System.ComponentModel.Design.Serialization.* components"
Add unit tests (if not exists) for

1) Methods:

System.ComponentModel.Design.Serialization.CodeDomSerializer
- [ ] M:System.ComponentModel.Design.Serialization.CodeDomSerializer.#ctor
- [ ] M:System.ComponentModel.Design.Serialization.CodeDomSerializer.Deserialize(System.ComponentModel.Design.Serialization.IDesignerSerializationManager,System.Object)
- [ ] M:System.ComponentModel.Design.Serializa

[2019-04-09 19:23] JuditRose opened #720 "Add unit tests to System.Windows.Forms.Design.* components"
Add unit tests (if not exists) for

1) Methods:

System.Windows.Forms.Design.WindowsFormsDesignerOptionService
- [ ] M:System.Windows.Forms.Design.WindowsFormsDesignerOptionService.#ctor
- [ ] M:System.Windows.Forms.Design.WindowsFormsDesignerOptionService.get_CompatibilityOptions

System.Windows.Forms.Design.MenuCommands
- [ ] F:System.Windows.Forms.Design.MenuCommands.KeyCancel
- [ ] F:System.Wi

[2019-04-09 19:36] JuditRose opened #721 "Add unit tests to System.Windows.Forms.Design.ControlDesigner"
Add unit tests (if not exists) for

1) Methods:
- [x] M:System.Windows.Forms.Design.ControlDesigner.#ctor
- [x] M:System.Windows.Forms.Design.ControlDesigner.get_SelectionRules

2) Classes:
- [x] System/ComponentModel/Design/DesignerActionListsChangedEventArgs.cs
- [ ] System/ComponentModel/Design/DesignerActionPanel.cs
- [ ] System/ComponentModel/Design/DesignerActionUIService.cs
- [ ] System/Win

[2019-04-09 21:58] hughbe opened #723 "ToolboxItem.GetHashCode throws NRE if DisplayName is null"
Should use `0`

[2019-04-09 21:58] hughbe opened #724 "ToolboxItem.FilterPropertyValue("AssemblyName", new object()) throws InvalidCastException"
Should return the value

[2019-04-09 22:55] hughbe opened #725 "ToolboxItem.ToString returns `null` if DisplayName is null"
Should return `string.Empty` to match coding guidelines

[2019-04-09 22:59] hughbe opened #727 "CreateComponentsCore(IDesignerHost host, IDictionary defaultValues) throws NRE if CreateComponentsCore(IDesignerHost host) returns null"

[2019-04-10 05:13] weltkante commented on #727
Personally I don't like this kind of change. The semantic was probably intended that CreateComponentsCore(IDesignerHost) never returns null. Thats a pretty common expectation and starting to check that overridable methods do not return null when they aren't supposed to, checking that in every caller, in my opinion is making the code worse. If you start checking overrides you technically also have

[2019-04-10 08:20] hughbe commented on #727
Couple of things.

Probably, but there is evidence against this in the implementation of `Toolbox.CreateComponents`
[code]

Note that we explicitly check for `null`.

Sadly, this has been considered in the case of whether or not to mark `object.ToString` as nullable or not: https://github.com/dotnet/corefx/blob/663af00ced6ba81a3a7715e6347270306c1bad52/Documentation/api-guidelines/nullability.md#vi

[2019-04-10 08:21] hughbe commented on #727
For reference, here's the current implementation of `CreateComponentsCore`:
[code]

[2019-04-10 11:17] weltkante commented on #727
Since the old CreateComponentsCore was triggering NRE I would expect this to fall under the following clause under your linked page:

In other words, since returning null wouldn't have worked before it would be safe to annotate it as non-nullable. It's "documented" by not having worked for 10+ years, by making your suggested change you would remove the current exception, implicitly allowing null r

[2019-04-10 11:28] hughbe opened #733 "[Discussion] Should we remove some documentation-style summary docs"
E.g. In ExpressionContext.cs

![image](https://user-images.githubusercontent.com/1275900/55875112-1d803000-5b8c-11e9-8d6b-0e4382c6cf4a.png)

I don't think this adds anything to the code as it just duplicates the online docs. Should we remove things like this where it doesn't add any value in explaining what the code does?

[2019-04-10 11:38] hughbe opened #734 "CodeDomSerializerException throws NRE for null exceptions"
Should work!

[2019-04-10 12:05] hughbe opened #736 "new DesignerActionMethodItem(null, ...).Invoke throws NRE but should return "can't find method""

[2019-04-10 21:55] weltkante commented on #733
Usually I'd expect such design documentation in `<remarks>` (or some other) tags not in the intellisense `<summary>` tags.

How will the docs keep up with the development of .NET Core WinForms? Right now I only see Desktop WinForms docs online, I suppose sooner or later there need to be new design decisions and inner workings documented.

Removing documentation from inline source comments basicall

[2019-04-10 22:15] hughbe commented on #733
I think that the documentation seen by the user when they call Winforms apis doesn’t come from the source code but from xml docs that are then used to generate the docs website. Accordingly I think that (and i know we did this in .net core in CoreFx) we don’t need these comments that simply duplicate the documentation

[2019-04-11 09:59] okman523 opened #746 "The return value of browser.Document.InvokeScript cannot be converted to IHtmlElement"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**
I encountered a problem with the webbrowser control in the .net core 3 project. The local code is as follows: var result=browser.Document.InvokeScript("myjsfunc", new object[] { myjsfuncParam});, I get the result is a " The

[2019-04-11 10:19] okman523 opened #747 "How to reference mshtml.dll in the .net core winform project？"
* .NET Core Version: (e.g. 3.0 Preview 3, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**
How to reference mshtml.dll in the .net core winform project？
**Actual behavior:**

**Expected behavior:**

**Minimal repro:**

[2019-04-11 19:16] weltkante commented on #730
It is important that changing SelectedIndex to the same value does not re-trigger SelectedIndexChanged if I'm setting SelectedIndex from within SelectedIndexChanged, otherwise you could start getting infinite loops in code that previously worked just fine.

Our codebase certainly has places where it relies on this implicit behavior, not only for SelectedIndex but a lot of other properties with cha

[2019-04-11 20:46] #689 closed

[2019-04-11 21:30] AlanParr commented on #625
I submitted a PR to dotnet/corefx#34465 to fix this which was merged yesterday

I've tested my original repro against Winforms and WPF for both .Net Core and .Net Framework and behaviour now appears to be identical.

Unless anyone else wants to verify, I think this issue can be closed.

[2019-04-12 15:38] #679 closed

[2019-04-12 17:25] #653 closed

[2019-04-12 17:54] merriemcgaw commented on #698
When we work on NativeMethods we should also look at some of the other common files between WinForms Binaries. UnsafeNativeMethods and SafeNativeMethods fall into this scenario. DPIHelper is another one, but not quite as closely related.

[2019-04-12 18:04] Tanya-Solyanik commented on #733
XML intellisense docs are initially populated from the <summary> comments in code, so these comments are required for the new publics. As to the old comments, I don't have a strong opinion.

[2019-04-12 18:12] merriemcgaw commented on #733
This is not something that we can change currently. The Intellisense team is going to use these comments to generate the first .NET Core WinForms IntelliSense. There's not a lot of value in removing these things even later. We can reactivate this issue later for some simple methods where it doesn't add value, but it will need to be later after we have the first set in place.

[2019-04-12 18:12] #733 closed

[2019-04-12 18:25] merriemcgaw commented on #746
Can you please create a minimal repro for this issue, and give us what your actual and expected behaviors are?

[2019-04-12 18:27] merriemcgaw commented on #747
We need to do some work around the WebBrowser control.

[2019-04-13 09:43] hughbe opened #761 "FontEditor.EditValue for an invalid provider can throw InvalidCastException"
E.g.
[code]

If the service is not `IWindowsFormsEditorService` then an `InvalidCastException` is thrown.

Proposed fix is to use an `as` cast

[2019-04-13 09:44] hughbe opened #762 "ImageEditor.EditValue for an invalid provider can throw InvalidCastException"
E.g.
[code]

If the service is not `IWindowsFormsEditorService` then an `InvalidCastException` is thrown.

Proposed fix is to use an `as` cast

[2019-04-13 09:54] hughbe opened #763 "FileNameEditor.EditValue for an invalid provider can throw InvalidCastException"
E.g.
[code]

If the service is not `IWindowsFormsEditorService` then an `InvalidCastException` is thrown.

Proposed fix is to use an `as` cast

[2019-04-13 09:54] hughbe opened #764 "FileNameEditor.InitializeInitializeDialog(null) throws NRE"
Should be ANE

[2019-04-13 10:09] hughbe opened #766 "Suspicious definition of `BROWSEINFO` in Interop code"
In the C# code:

[code]

In the native code:
[code]

Note that the order differs

[2019-04-13 10:34] hughbe opened #767 "Should FolderNameEditor use long paths like FolderBrowserDialog does?"
In `FolderNameEditor`:

[code]

In `FolderBrowserDialog` we use
[code]

There's a mismatch here - do we need to update `FolderNameEditor`?

[2019-04-13 10:48] hughbe opened #768 "FolderNameEditor leaks buffer on cancel"
Here https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design/FolderNameEditor.cs#L140-L176 we allocate a buffer but only free it if `SHGetPathFromIDList` succeeds

[code]

[2019-04-13 10:53] hughbe opened #770 "FolderNameEditor buffer only fits 260 ascii chars, not unicode"
We allocate `MAX_PATH` bytes, but should allocate `MAX_PATH * 2`

[2019-04-13 14:56] weltkante commented on #766
Windows 98 was the last version where CharSet Auto was using the ANSI API, so you'll probably want to compare against `BROWSEINFOW`, but the order is probably the same anyways. Just mentioning it to avoid mistakes when reviewing the struct layout.

[2019-04-15 01:36] Jessie-Zhang01 opened #775 "[.Net Core][LOC]The item '(Collection)' in PropertyGrid is not translated in .Net core"
**OS**: RS3 X64 JPN
**VS**:  Dev16 16.1 d16.1 branch 28811.12 build JPN
**.NET Core**: 3.0.100-preview4-011198 from Release branch

**More info:**
This issue also can reproduce with all 13 local languages: CHS, CHT, CSY, DEU, ESN, ITA, JPN, KOR, PLK, PTB, RUS, TRK, FRA

**Steps to reproduce:**

1. Install the .NET Core 3.0 SDK from https://github.com/dotnet/core-sdk for Release branch
2. Open the

[2019-04-15 01:41] Jessie-Zhang01 opened #776 "[.Net Core][LOC]The item '(none)' in PropertyGrid is not translated in .Net core."
**OS:** RS3 X64 JPN
**VS:**  Dev16 16.1 d16.1 branch 28811.12 build JPN
**.NET Core:** 3.0.100-preview4-011198 from Release branch

**More info:**
This issue also can reproduce with all 13 local languages: CHS, CHT, CSY, DEU, ESN, FRA, ITA, JPN, KOR, PLK, PTB, RUS, TRK

**Steps to reproduce:**

1. Install the .NET Core 3.0 SDK from https://github.com/dotnet/core-sdk for Release branch.
2. Open the

[2019-04-15 02:15] Zheng-Li01 opened #777 "[.NET Core][LOC] The .NET Core Winforms app Template Name ‘Windows Forms App’ is not translated in Create a new project page"
**VS:** Version 16.1.0 Preview 2 [28811.12.d16.1]
**OS:** RS3 X64 CHS
**.NET Core**: 3.0.100-preview4-011198 from Release branch
**Affected Languages:** CHS, CHT, CSY, DEU, ESN, FRA, ITA, JPN, KOR, PLK, PTB, RUS, TRK

**More info:**
This issue also can reproduce with all 13 local languages: CHS, CHT, CSY, DEU, ESN, FRA, ITA, JPN, KOR, PLK, PTB, RUS, TRK

**Steps to reproduce:**
1. Install the .NET

[2019-04-15 10:34] #248 closed

[2019-04-15 14:27] hughbe opened #778 "[Cleanup] Remove Contract.Requires - they aren't used in .NET Core projects"
We removed these in corefx/coreclr, and probably should do so in winforms.

However: do we want to replace these with an exception that validates the contract - e..g
[code]

Note that we have `Contract.Requires(hevent != null);` but this is ignored, and leads us to possibly throw NREs elsewhere

[2019-04-15 14:37] weltkante commented on #778
Looking into the Desktop WinForms assembly it looks like it didn't make use of Contract.Requires (it is not present and no replacement was compiled in via tooling), so if you start to verify contracts now it might become a breaking change if it could run through as a no-op in Desktop Framework.

If you want to start verifying the contracts it probably requires looking at every single case to avoid

[2019-04-15 14:42] hughbe commented on #778
The changes would be breaking - IMO in the cases of the `protected virtual OnXYZ...` methods (such as that above) we can just remove the contract instead of verifying things. If we're adding argument validation that should be done on a case-by-case basis

[2019-04-15 15:53] hughbe opened #780 "FeatureSupport.GetVersionPresent for a non-IFeatureSupport class throws InvalidCastException, should return null"
In the same way that the other static method `IsPresent` checks for:

[code]

[2019-04-15 17:33] engineersvision commented on #267
Is it still an active issue?
I tried to run winforms in <b>mac OS</b> with .net core 3.0, I am having this error:

If it is, is there anyway we can run winforms in Mac OS or Linux?

[2019-04-15 18:09] hughbe opened #784 "[Api Addition] Implement LinkLabel.Link.Equals"
Currently doing `new LinkLabel.Link(1, 2).Equals(new LinkLabel.Link(1, 2))` returns `false` which doesn't make sense!

[2019-04-15 21:18] #576 closed

[2019-04-15 21:21] #734 closed

[2019-04-15 21:21] #736 closed

[2019-04-15 21:22] #704 closed

[2019-04-15 21:22] #705 closed

[2019-04-15 21:22] #706 closed

[2019-04-15 21:22] #723 closed

[2019-04-15 21:22] #724 closed

[2019-04-15 21:22] #725 closed

[2019-04-15 21:22] #727 closed

[2019-04-15 21:25] #763 closed

[2019-04-15 21:25] #764 closed

[2019-04-15 21:33] #780 closed

[2019-04-15 22:54] dreddy-work commented on #524
Changing DefaultFont in corefx would be a ideal solution. We reached out to Windows on what would be the recommended way to request windows default Font. MSDN [documentation ](https://docs.microsoft.com/en-us/windows/desktop/api/wingdi/nf-wingdi-getstockobject)discourages current 'DefaultFont' logic.

[2019-04-15 23:32] dreddy-work commented on #485
Couple of PRs pending that are cleaning up some of these instances. I will revisit once they get in.

[2019-04-15 23:34] dreddy-work commented on #407
This is not in. this is same as issue #580

[2019-04-15 23:35] dreddy-work commented on #580
Dupe of issue #407

[2019-04-15 23:35] #580 closed

[2019-04-15 23:43] dreddy-work commented on #48
I do not have a complete knowledge why it was made obsolete in core. However, Safe/unsafeNative methods along with couple of other common classes are expected to be moved to a new dll that will be referenced instead. I would keep this issue on hold until that is done.

[2019-04-15 23:50] #690 closed

[2019-04-16 00:06] hughbe opened #792 "[API Addition] Message.GetLParam<T>()"
We currently have
[code]

However, this is implemented using `Marshal.PtrToStructure` which has been obsoleted. I propose adding a new API that uses the un-obsoleted marshal API:

[code]

This would avoid the need for all the casting, e.g
[code]

[2019-04-16 01:43] danmosemsft commented on #766
[code]

[2019-04-16 14:29] hughbe opened #796 "new CollectionEditor.CollectionForm(null) throws NRE should be ANE"

[2019-04-16 14:30] hughbe opened #797 "CollectionEditor.CollectionForm.EditValue = new object[0] throws NRE if there is no context"
Should be a nop

[2019-04-16 14:30] hughbe opened #798 "CollectionEditor.CollectionForm.ShowEditorDialog(null) throws NRE should be ANE"

[2019-04-16 15:56] M-Lipin opened #802 "Consider keyboard shortcut to opt in/opt out of tooltips on keyboard navigation"
At this moment keyboard tooltips are enabled by default, but it maybe more comfortable for users to be able to opt in/opt out of tooltips on keyboard navigation.

[2019-04-16 16:54] hughbe opened #805 "WindowsFormsDesignerOptionService.PopulateOptionCollection(null) throws NRE should be a nop"

[2019-04-16 16:54] hughbe opened #806 "WindowsFormsDesignerOptionService.PopulateOptionCollection(null) throws NRE should be a nop"

[2019-04-16 18:34] #767 closed

[2019-04-16 18:34] #768 closed

[2019-04-16 18:34] #770 closed

[2019-04-16 19:07] hughbe commented on #714
ToolboxItem/ToolboxItemCollection tests added

[2019-04-16 19:07] hughbe commented on #718
ToolboxItem/ToolboxItemCollection tests added

[2019-04-16 20:36] zsd4yr commented on #784
So equals is currently checking the references, and since these are two different objects, the result is false?

What is the desired behavior?

What is the business case? Why would you want to compare these? There is already a private link comparer for the purposes of sorting links.

Are you proposing that Linklabel.Link's be considered equivalent by satisfying *only* start and length? What about

[2019-04-16 20:39] zsd4yr commented on #792
How many instances would be affected by this change?

Are you proposing we add this API to message in additional to the obsolete one or instead of the obsolete one? If you are proposing the latter, how would other people porting their apps detect this breaking change?

[2019-04-16 20:58] sharwell commented on #792
If possible (i.e. if `T` is blittable), it would be more efficient to implement this as returning `ref readonly T`.

[2019-04-16 21:07] hughbe commented on #792
So this API addition would be strictly non-breaking to existing users - although we may choose to obsolete the old api that’s a decision to be make by others.

@sharwell How do we marshal an IntPtr to a blittable struct? Do we just call `ToPointer` then do some unsafe sorcery?

[2019-04-16 21:35] sharwell commented on #792
[code]

[2019-04-16 21:44] hughbe commented on #792
Nice - will bear that in mind!

However, I'm not sure if we can have the following APIs?
[code]

Sadly APIs can't differ by return type or constraints

[2019-04-16 21:59] hughbe opened #811 "ImageEditor enumerates `GetExtensions` multiple times"
Should only read the array once, for perf as well as to make sure we enumerate the same array

- CreateFilterEntry
- EditValue
- GetExtensions

[2019-04-16 22:01] hughbe opened #812 "ImageEditor.CreateExtensionsString should skip empty/null strings"
Otherwise, we can get strings like `"*.x,,*.y` which is not valid

[2019-04-16 22:01] hughbe opened #813 "ImageEditor.CreateFilterEntry(null) throws NRE should be ANE"

[2019-04-16 22:02] hughbe opened #814 "ImageEditor.LoadFromStream(null) throws NRE should be ANE"

[2019-04-16 22:02] hughbe opened #815 "ImageEditor.PaintValue(null) throws NRE should be a nop"

[2019-04-16 22:03] hughbe opened #816 "ImageEditor encounters problems if `GetExtenders` returns invalid items"
- E.g. `null`
- E.g. `new Type[] { null }`
- E.g. `new Type[] { typeof(object) }`

[2019-04-16 22:10] hughbe opened #817 "[Design Discussion] Standardise on `(X)GetService(typeof(X))` or `GetService(typeof(X)) as X`"
There's currently a 50-50 split between the following pattern:

[code]

and
[code]

The former throws `InvalidCastException` if the service is invalid (e.g. returns `new object()`) while the latter lets this pass through.

From #760
I have a couple of comments as I think the use of `as`/`is` has numerous benefits

- Clears up confusion as to what happens when the service is null - will this throw

[2019-04-17 05:54] weltkante commented on #817
Providing an interface is optional. Providing a wrong interface is a bug. The type you request represents a contract and you ask the service providier if he implements that contract. You go through the interface and don't cast the service provider itself to allow him to implement the contract on another object.

Unfortunately this interface was defined before generics existed, otherwise this would

[2019-04-17 07:12] weltkante commented on #784
I agree with @zsd4yr , since LinkLabel.Link carries additional mutable state its best to keep reference equality and use explicit comparer objects when you have a particular requirement for comparison. Otherwise you risk that someone mixes up links in some collection and loses mutable state.

[2019-04-17 07:16] weltkante commented on #792
You probably want to return `T` and not `object` in the first case, to avoid boxing the struct? `Marshal.PtrToStructure<T>` doesn't return object either.

[2019-04-17 11:40] sharwell commented on #792
For my local experiments, I used three methods:

[code]

[2019-04-17 11:44] hughbe commented on #792
@sharwell do you reckon that something like this could be a useful addition to the `Marshal` class itself?

[code]

[2019-04-17 11:46] hughbe commented on #817
I suppose that throwing `InvalidCastException` would better tell the user that something went wrong and not make them surprised if things go wrong down the line?

[2019-04-17 21:10] danmosemsft commented on #766
@JeremyKuhne

[2019-04-17 21:59] JeremyKuhne commented on #766
This was fixed with #769. One nit- we should really replace `CharSet.Auto` with `CharSet.Unicode` for clarity when we get a chance. As @weltkante points out this was a 9x thing that is always `Unicode` on our supported Windows OSes for over a decade now. :)

[2019-04-17 22:25] merriemcgaw opened #825 "Web Browser Control Support"
All related issues to the current Web Browser control

[2019-04-17 22:31] merriemcgaw commented on #667
@Olina-Zhang can you check with the latest builds please?

[2019-04-17 22:35] merriemcgaw commented on #635
This is likely to need to be added to a transport package to core-setup.

[2019-04-17 22:38] merriemcgaw commented on #625
Great! Closing the issue in that case :)

[2019-04-17 22:38] #625 closed

[2019-04-17 22:40] merriemcgaw opened #826 "WinForms on .NET Core should support RESX file serialization and deserialization"
@merriemcgaw commented on [Wed Apr 17 2019](https://github.com/dotnet/corefx/issues/36977)

[2019-04-17 22:44] merriemcgaw commented on #493
@dreddy-work feel this may be related to a corefx issue. Looking for the right issue

[2019-04-17 22:47] merriemcgaw commented on #471
There is no work on WinForms for this issue. @zsd4yr to follow up with @dagood to make sure we're in good shape for Preview 5

[2019-04-18 00:42] dreddy-work commented on #638
@mikhailovalex do you see a different behavior on .NET 4.8 for this scenario?

[2019-04-18 01:57] Olina-Zhang commented on #667
@merriemcgaw verified in .Net core 3.0 Preview4 latest release build, this issue **cannot repro** now: the results of .net Core and .net framework are same, all return "{Name=Control, ARGB=(255, 240, 240, 240)}"

[2019-04-18 01:58] Olina-Zhang commented on #667
@merriemcgaw verified in .Net core 3.0 Preview4 latest release build, this issue **cannot repro** now: the results of .net Core and .net framework are same, all return "{Name=Control, ARGB=(255, 240, 240, 240)}"

[2019-04-18 06:41] mikhailovalex commented on #638
@dreddy-work
Sure. You can open a project in an attached example NetCore_Resources.sln. It's built and starts without any exception. Otherwise "NetCore_Resources.NetCore.sln" solution shows me this exception :
![image](https://user-images.githubusercontent.com/45847465/56341472-e0d0bc00-61bd-11e9-9858-ca368c19fc04.png)

[2019-04-18 14:11] M-Lipin commented on #182
Ported the changes related to Chart control accessibility: please see the issue in DataVisualization repo.

[2019-04-18 16:54] DustinCampbell opened #827 "`CodeDomSerializationProvider.GetSerializer(...)` is not implemented"
* .NET Core Version: 3.0.100-preview5-011362
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Currently, `System.ComponmentModel.Design.Serialization.CodeDomSerializationProvider.GetSerializer(...)` throws a `NotImplementedException`, blocking usage of the CodeDom serialization APIs:

https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.De

[2019-04-18 17:09] DustinCampbell commented on #827
It looks like there are several CodeDomSerializers that need to be ported in order to implement this method:

* ComponentCodeDomSerializer
* ComponentTypeCodeDomSerializer
* ContainerCodeDomSerializer
* EnumCodeDomSerializer
* EventMemberCodeDomSerializer
* PrimitiveCodeDomSerializer
* PropertyMemberCodeDomSerializer

Without these (and any other APIs from the Serialization folder that I missed :s

[2019-04-18 20:31] dreddy-work commented on #493
@Zheng-Li01 can you share .emf file as well?

[2019-04-18 23:35] #488 closed

[2019-04-19 07:55] kirsan31 commented on #112
We have [DataVisualization](https://github.com/dotnet/winforms-datavisualization) in preview 4 now. And most of sad thing it's considered deprecated :((
I posted a [question](https://github.com/dotnet/winforms-datavisualization/issues/9) about it...

[2019-04-19 11:09] kevingosse opened #832 "Enable cross-thread checks by default"
Cross-thread checks are disabled by default in Winforms, unless a debugger is attached or `Control.CheckForIllegalCrossThreadCalls` is explicitly set to true. I understand that back in the days it had been designed this way because it was a huge breaking change for .net 1.1 applications.

Now the landscape has changed quite a bit, and developers coming from WPF take those checks for granted and wr

[2019-04-19 16:43] #806 closed

[2019-04-19 17:00] #112 closed

[2019-04-19 17:56] zsd4yr commented on #112
I have added guidance on using the new ported types to our porting guidelines https://github.com/dotnet/winforms/blob/master/Documentation/porting-guidelines.md#include-the-systemwindowsformsdatavisualization-pack

[2019-04-19 18:16] dreddy-work commented on #827
Porting is high pri than tests on the ported code. assignig to @zsd4yr

[2019-04-19 18:52] dreddy-work commented on #816
@hughbe , can you please create seperate PR for each issue ? It would help us review them easily.

[2019-04-19 18:54] dreddy-work commented on #815
@hughbe , can you please create seperate PR for each issue ? It would help us review them easily.

[2019-04-19 18:55] dreddy-work commented on #814
@hughbe , can you please create seperate PR for each issue ? It would help us review them easily.

[2019-04-19 18:56] dreddy-work commented on #813
@hughbe , can you please create seperate PR for each issue ? It would help us review them easily.

[2019-04-19 18:56] dreddy-work commented on #812
@hughbe , can you please create seperate PR for each issue ? It would help us review them easily.

[2019-04-19 18:57] dreddy-work commented on #811
@hughbe , can you please create seperate PR for each issue ? It would help us review them easily.

[2019-04-19 19:02] Tanya-Solyanik commented on #817
@hughbe thank you for raising this issue. We had discussed it within the team, and here are the main takeaways:
1. We do want to get rid of exceptions thrown at call sites to GetService methods, we don't consider this change to be a breaking one.
2. All call sites should test for null returned from GetService
3. We will not throw InvalidCastException in GetService, we prefer using `as` instead of

[2019-04-19 19:04] dreddy-work commented on #777
@zsd4yr  can you please follow up with @jmarolf  on this?

[2019-04-19 19:05] dreddy-work commented on #776
@zsd4yr , can you follow up on this?

[2019-04-19 19:10] dreddy-work commented on #766
@hughbe do you want to go ahead with Jeremy's suggetion and close the issue with PR?

[2019-04-19 19:13] dreddy-work commented on #762
@hughbe , can you please create seperate PR for each issue ? It would help us review them easily.

[2019-04-19 19:14] Tanya-Solyanik commented on #667
@Olina, thank you for the verification. Closing this issue

[2019-04-19 19:14] #667 closed

[2019-04-19 19:15] dreddy-work commented on #775
@zsd4yr , can you please follow up on this?

[2019-04-19 19:17] dreddy-work commented on #784
Closing this issue as won't fix for above mentioned reasons.

[2019-04-19 19:17] #784 closed

[2019-04-19 19:40] JohnyL commented on #147
I have Visual Studio 2019 16.0.2 - and STILL no support for both WinForms and XAML designers!

[2019-04-19 19:42] KN4CK3R commented on #147
This feature isn't even released. So there is STILL no support.

[2019-04-19 19:56] jmarolf commented on #777
@dreddy-work can you move this issue to dotnet/templates?

[2019-04-20 00:48] #777 closed

[2019-04-20 00:48] merriemcgaw commented on #777
Issue moved to [dotnet/templates #98](https://github.com/dotnet/templates/issues/98) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-20 00:59] merriemcgaw commented on #266
See @rainersigwald 's comment up on Mar 29. This is being fixed in the msbuild side of things in Microsoft/msbuild#2221. I'd suggest following that issue @zangxx66 , I'm going to close this one here as the work is in msbuild.

[2019-04-20 00:59] #266 closed

[2019-04-20 01:05] merriemcgaw commented on #251
This is a duplicate of Microsoft/msbuild#2221 so I will close it.

[2019-04-20 01:05] #251 closed

[2019-04-20 01:07] jkotas commented on #242
@merriemcgaw The runtime behavior is by design, but there should be a fix made in WinForms to compensate for it.

https://devblogs.microsoft.com/dotnet/migrating-delegate-begininvoke-calls-for-net-core/ has detailed guidance on what to change BeginInvoke to.

[2019-04-20 01:10] merriemcgaw commented on #182
@M-Lipin are there any other Accessibility fixes that need porting? If not, please feel free to close this issue and thanks for all the ports!!

[2019-04-20 01:13] merriemcgaw commented on #215
Where are we on this port?

[2019-04-20 15:01] jnm2 commented on #147
@JohnyL The roadmap clearly states that designer support will come much later than the release of VS2019.

[2019-04-20 15:22] jnm2 commented on #242
@kevingosse

This has been fixed and the release will be coming soon. https://github.com/dotnet/platform-compat/pull/130#issuecomment-483460213

[2019-04-20 15:56] jnm2 commented on #267
@engineersvision

No, see the comment that is just above your comment.

Not without a huge effort which the Windows Forms team is consistently saying is not in their plans. Windows Forms is tightly coupled to native Windows APIs.

See this issue for more: https://github.com/dotnet/winforms/issues/159

[2019-04-21 04:47] danmosemsft commented on #39
These are the remaining defines, after #838.
Those that are defined anywhere (either in code or csproj) are marked `[DEFINED]`
If we can determine which of these are defunct - I'm assuming most of them - it is trivial to delete them, either retaining or discarding the included code as appropriate. (Mostly discarding, considering they mostly aren't defined)

- [ ] `__APPLE__`
- [ ] `ACTIVEX_SOURCIN

[2019-04-21 05:34] danmosemsft opened #839 "Remove dead Remoting and AppDomain goo"
.NET Core does not support Remoting, nor does it support secondary AppDomains. Therefore we should remove all code related to those things.

[2019-04-21 05:55] danmosemsft commented on #485
[code]

[2019-04-21 06:58] weltkante commented on #247
@merriemcgaw probably should reopen as corefx doesn't support multiple AppDomains and the unsupported API is used to determine the default AppDomain. You can assume you always are in the default AppDomain and refactor the code accordingly.

Since coreclr can now host COM objects nothing prevents users from attempting to implement an Office Addin in .NET Core and showing WinForms UI from it - they'

[2019-04-21 07:05] weltkante commented on #839
Related to ComponentManager issue #247 which was (wrongly) closed and moved to corefx.

You probably cannot remove the ComponentManager completely since Office relies on it to communicate modal forms. Refactoring it is also dangerous without having proper tests in place. Therefore I'd suggest to reopen that issue and ideally bring in someone from the Office team to confirm it either can be removed

[2019-04-21 16:13] hughbe commented on #805
Fixed in https://github.com/dotnet/winforms/commit/b3e1c2749baf97b259c153275311cd2ae8e0f4df

[2019-04-21 16:13] #805 closed

[2019-04-22 10:11] vladimir-krestov commented on #710
The fix for this issue has been verified.

[2019-04-22 10:13] #710 closed

[2019-04-22 13:23] RussKie commented on #698
Somewhat relevant, @AArnott has a  library containing all P/Invoke code so you don't have to import it every time https://github.com/AArnott/pinvoke/
Perhaps instead of hand crafting all imports worth considering using the above library?

[2019-04-22 14:00] AArnott commented on #817
I have a blog post on when to use `as` vs. `()` casting: https://aka.ms/ascast that may be applicable here.

In short: if you fully expect the cast should always succeed, use `()` since if you're assumption is wrong you'll get a more informative exception. But if you're not sure, use `as` for `GetService` results since `null` is already an acceptable result so a null check should exist after each

[2019-04-22 15:30] #40 closed

[2019-04-22 15:43] zsd4yr commented on #792
#835 is adding these as internal to get the benefits. We should consider this API change.

[2019-04-22 15:54] zsd4yr commented on #776
There appears to be an entry for this in SR.resx for System.Windows.Forms

here is (none) showing up
![image](https://user-images.githubusercontent.com/10677481/56509524-10443900-64dc-11e9-8542-bb14ceaf2cd5.png)

[2019-04-22 15:55] zsd4yr commented on #776
there also appears to be an entry in SR.ja.xlf for this attribute:

      <trans-unit id="toStringNone">
        <source>(none)</source>
        <target state="translated">(なし)</target>
        <note />
      </trans-unit>
[code]

[2019-04-22 15:59] zsd4yr commented on #776
repros on all languages.

@Tanya-Solyanik @dreddy-work what type on these objects (example: ImageList) populates the property browser in this way?

[2019-04-22 16:00] zsd4yr commented on #775
There does not appear to be an entry for (Collection) in any resx file.

![image](https://user-images.githubusercontent.com/10677481/56509902-0cfd7d00-64dd-11e9-8a01-7de6feccb1d1.png)

@JuditRose did you miss this while porting the collection editor?

[2019-04-22 16:08] zsd4yr commented on #39
Thanks @danmosemsft ! This should help out @Shyam-Gupta enormously

[2019-04-22 16:08] AraHaan opened #846 "Add another option that works to make the classic designer work."
This is a issue for the pull request I just made #845.

The change in this Pull request documents another option that also makes the classic designer work. However it is a lazy way and works for all of the frameworks that the devpack can be installed for.

[2019-04-22 18:42] dagood commented on #471
Completed by https://github.com/dotnet/core-setup/pull/5942. Those changes are being picked by by `master` => `release/3.0` merges for Preview 5. 🎉

[2019-04-22 18:44] #471 closed

[2019-04-22 18:44] zsd4yr commented on #471
Amazing @dagood 😄 😃

[2019-04-22 20:51] OliaG commented on #146
We've made the decision to take it in the S.W.F. @merriemcgaw, @zsd4yr what are our next steps?

[2019-04-23 02:23] Zheng-Li01 commented on #493
@dreddy-work you can get the.MS.emf file from here. \\trinlab2\BAQAFiles\v-vinwa\Picture\Icon\emf\MS.emf

[2019-04-23 11:36] vladimir-krestov opened #856 "Accessibility: Invalid BoundingRectangle value for PropertyGridView entries"
In case the PropertyGrid's viewport is smaller than the space required to show all bound object properties, a vertical scroll bar appears. So some of the property entries are out of the viewport (and fully hidden) and some are shown partially (for instance, the half of a row height is visible for the row in the bottom). These entries' BoundingRectangle property is not correct as has the height and

[2019-04-23 18:26] merriemcgaw commented on #247
Fair point.. We will reopen for now. I'll find an office contact to help us test this scenario.

[2019-04-23 18:35] merriemcgaw commented on #493
@Tanya-Solyanik can you take a peek?

[2019-04-23 18:39] merriemcgaw commented on #465
@M-Lipin , putting this on your plate to port the fix you did in Framework.

[2019-04-23 18:42] merriemcgaw commented on #485
#839 and #247 are related.

[2019-04-23 18:46] merriemcgaw commented on #825
The priority for GA is to ensure that the WebBrowser control mostly works the way it did in .NET Framework. As a second improvement we want to try to update to use IE11.

The third improvement we want to do is work with the WebView2 control.

[2019-04-23 18:47] merriemcgaw commented on #747
Are you having problems referencing mshtml.dll? What issues are you running into?

[2019-04-23 18:52] merriemcgaw commented on #221
We've ported all the types we are aware of people needing, please file new issues if you run into something that isn't there and you expect it. We will add tests as time permits.

[2019-04-23 18:52] #221 closed

[2019-04-23 18:57] merriemcgaw commented on #254
@oliag to confirm ".NET Core" or ".NET Core Desktop Shared Framework" or something

[2019-04-23 19:05] 199621616 commented on #638
我遇到了同样的问题。
将.Net4.6.1完全正常运行的项目包含文件复制到.NetCore的WinForm项目中，编译正常通过，但是运行有异常：
Void HandleResourceStreamMissing(System.String)^Message:Could not find any resources appropriate for the specified culture or the neutral culture.  Make sure "医保接口工作站_新疆.Form医保接口工作站_新疆.resources" was correctly embedded or linked into assembly "医保接口工作站_新疆" at compile time, or that all the satellite assemblies required are load

[2019-04-23 21:48] #696 closed

[2019-04-24 09:02] 87Alex commented on #592
Hello,
What about the System.ComponentModel.Design.MultilineStringEditor class?
We use it in our designers.
[Editor("System.ComponentModel.Design.MultilineStringEditor, System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a", typeof(System.Drawing.Design.UITypeEditor))]
string ToolTip { get; set; }

[2019-04-24 09:56] gsmental opened #860 "Namespaces like System.Web.Services are pending for port in .net Core"
every time when we try to port our existing application,  we faces only these namesspaces which can not port into .net Core. technically these all are WebService (asmx) based libraries. i hope these will be also port into .net core

System.Web.Services.Protocols.HttpWebClientProtocol
System.Web.Services.WebServiceBindingAttribute
System.Web.Services.Protocols.WebClientProtocol
System.Web.Services.

[2019-04-24 09:56] hughbe opened #861 "Binding.OnParse(null) throws NRE should work"

[2019-04-24 09:56] hughbe opened #862 "Binding.OnFormat(null) throws NRE should work"

[2019-04-24 09:57] hughbe opened #863 "Binding.OnBindingComplete(null) throws NRE should succeed"

[2019-04-24 09:59] hughbe opened #864 "Binding.ReadValue without a control throws NRE should be a nop"

[2019-04-24 10:01] Judy-Gao opened #865 "[.Net Core]The ElementHost icon still shows the gear icon"
**OS**: RS4 X64
**VS**: Dev16 16.1 d16.1 branch 28823.117 build
**.NET Core**: 3.0.100-preview5-11552 from Release branch

**More Info:**
1. This issue also reproduce .NET Framework project.
2. Affect control and it's dependence dll.

Controls | DLL | Repositories
-- | -- | --
ElementHost | WindowsFormsIntegration.dll | dotnet/wpf

**Steps to reproduce:**
 1. Install the .NET Core 3.0 SDK from htt

[2019-04-24 10:01] Judy-Gao opened #866 "[.Net Core]The icons still show the gear icon"
**OS**: RS4 X64
**VS**: Dev16 16.1 d16.1 branch 28823.117 build
**.NET Core**: 3.0.100-preview5-11552 from Release branch

**More Info:**
1. This issue not reproduce .NET Framework project.
2. Affect controls and these's dependence dll.

Controls | DLL | Repositories
-- | -- | --
FileSystemWatcher | System.IO.FileSystem.Watcher.dll | dotnet/Corefx
PerformanceCounter | System.Diagnostics.Performanc

[2019-04-24 13:19] RussKie commented on #860
Web stuff is really outside the realms of WinForms.
Besides I don't believe WS are supported in .NET Core. IIRC there are few 3rd packages available, google is your friend.

[2019-04-24 14:51] M-Lipin opened #869 "ComboBox cannot accept items with not implemented GetHashCode method"
**Steps to reproduce:**
1. Create WinForms app with ComboBox control.
2. Implement Class1 class and override its GetHashCode() method to throw Exception in the method body.
3. Add an instance of Class1 to the list of ComboBox control items.
4. Run the app.

**Actual:** there is an Exception thrown when working with the form with ComboBox.
**Expected:** there should be no exception.

[2019-04-24 17:06] csturm83 opened #873 "WebBrowser Control Printing API Suggestions"
I have used the WebBrowser control in WinForms applications to display/print simple(ish) HTML reports generated dynamically using XSLT. In my experience, this has proven to be a lighter-weight/more accessible solution than using the ReportViewerControl (last I checked the ReportViewerControl was not that accessible to screen readers like JAWS).

One of my requirements is to print reports (HTML) se

[2019-04-24 17:18] #761 closed

[2019-04-24 21:14] #827 closed

[2019-04-24 22:11] zsd4yr commented on #827
@DustinCampbell, I have expedited this change in master through DN-T and Core-Setup so it should be in the SDK build by tomorrow morning 😄

[2019-04-24 22:48] hughbe opened #877 "Can't compare coverlet coverage"
E.g. https://codecov.io/gh/dotnet/winforms/pull/867

![image](https://user-images.githubusercontent.com/1275900/56698916-823e9d00-66eb-11e9-941f-27ea212ccd02.png)

[2019-04-24 22:50] hughbe commented on #877
Also, the diff (https://codecov.io/gh/dotnet/winforms/pull/867/diff) seems to include the tests...

[2019-04-25 02:00] gsmental commented on #860
@RussKie you are right bro, google is our friend, after spending 15 years in MS, now i am thinking to move with NodeJs,Mongo,react...

[2019-04-25 10:14] Amy-Li02 opened #879 "An error pops up when using the property DefaultCellStyle of DataGridView in the .NET Core 3.0 winforms application"
**OS:** RS5 X64
**VS:** Visual Studio 2019 Version 16.1.0 Preview 3.0 [28824.157.d16.0]
**.NET SDK:** .NET Core 3.0.100-preview5-011555 from release branch
**Have you experienced this same bug with .NET Framework?:** No
**More Info:**
1. The repro video: \\\mlangfs1\public\Winforms\v-jiaol\bug\DataGridVew\Call with DataGridViewDefaultCellStyleIssueRepro.mp4

**Steps to Reproduce:**
1. Create a Win

[2019-04-25 19:47] AlanParr commented on #682
I'd like to take a look at this.
Removing from controls looks fairly straightforward.
There is also the [OSFeature.cs](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/OSFeature.cs) class which seems to only exist to allow checking for XP and 2K.

2 questions:
Are you happy with this entire class being removed as it now seems defunct?
If so, do as pa

[2019-04-25 20:48] hughbe commented on #682
That would be super breaking. What we’ve done is remove the platform specific checks and essentially return true for these cases

[2019-04-25 21:32] #879 closed

[2019-04-25 21:37] merriemcgaw commented on #866
@dreddy-work can you take a look and determine why this is happening or where we need to make adjustments so it can work properly?

[2019-04-25 21:40] AlanParr commented on #682
So just

`internal bool OnXp => true;`

to keep the change isolated?

I've removed the checks from the controls, just need to tackle this class and fix some unrelated local build problems!

[2019-04-25 21:42] hughbe commented on #682
Unfortunately I’ve already started on this and submitted a PR several weeks ago!! Sorry :(
https://github.com/dotnet/winforms/pull/693

[2019-04-25 21:46] AlanParr commented on #682
Didn't see that. No worries, I didn't spend a lot of time on it.

Will look at your PR for some tips :)

[2019-04-25 22:02] 199621616 commented on #860
这也是我们在迁移桌面程序时，遇到的主要问题之一。希望早日解决。

[2019-04-25 22:30] 199621616 commented on #638
这是我们迁移桌面程序中遇到的最大障碍。
似乎它与Core3以前版本中资源文件只支持字符、不支持二进制资源有关。希望尽快解决，它阻断了我们向Core3迁移桌面程序。

[2019-04-25 23:02] dreddy-work opened #888 "System.Design name space is missing resources in core."
Source of System.Design.dll is ported but not all resources are ported.  Also, we may need to port only .ico formats if they were not already and update System.Design source code to use .ico formats from winforms assembly wherever it was earlier referencing .bmp formats

[2019-04-26 00:15] ericstj opened #889 "System.Windows.Forms should reduce the number of types that use SerializableAttribute"
Not all types that were Serializable in desktop need to be serializable in .NETCore.  Maintaining SerializableAttribute on types means those types need to be tested for Version to Version serialization and potentially framework-to-framework serialization.  This makes it harder to evolve those types and can be costly to maintain.

We've started looking at types that require Serializable for resourc

[2019-04-26 00:23] ericstj opened #890 "WinForms should test for binary serialization"
Once you decide which types need to remain serializable #889 you need to test the remaining types for binary serialization.

These types should be tested to ensure they are serializable today, remain serializable in the future, and that they can round-trip to desktop.

Tests will likely involve consuming in binary payloads in test data and consuming this in tests.  You'll also likely want to annot

[2019-04-26 06:56] weltkante commented on #889
Another use case to keep in mind besides designer resources is DataObject (e.g. via clipboard or drag'n'drop). Binary serialization is used here to serialize types which don't have fixed semantic, making types not serializable means this will break clipboard/drag'n'drop between .NET Core and Desktop Framework.

[2019-04-26 19:20] cadilhac opened #892 "System.Drawing.Design.FontNameEditor and System.ComponentModel.Design.MultilineStringEditor are missing"
I can't see System.Drawing.Design.FontNameEditor and System.ComponentModel.Design.MultilineStringEditor.

[2019-04-27 15:22] hughbe opened #894 "Setting new DataGridColumnStyle().NullText to null unnecessarily invalidates"
Also calls `OnNullTextChanged` even if nothing

E.g.
[code]

[2019-04-27 19:57] danmosemsft commented on #889
You'll want to do this before shipping 3.0, to minimize the amount of new code written that expects the types to be serializable.

[2019-04-27 21:43] #762 closed

[2019-04-27 21:43] #811 closed

[2019-04-27 21:43] #812 closed

[2019-04-27 21:43] #813 closed

[2019-04-27 21:43] #814 closed

[2019-04-27 21:43] #815 closed

[2019-04-27 21:43] #816 closed

[2019-04-27 21:47] #101 closed

[2019-04-28 08:16] hughbe opened #895 "DataGridColumnStyle.FontHeight for column with table without grid throws NRE"
Should return the default font height

[2019-04-28 14:42] weltkante opened #896 "Fix ELEMDESC native interop definition"
This is a follow-up issue to PR #818 where it was noted ([link to comment](https://github.com/dotnet/winforms/pull/818#discussion_r276114126)) that the definition of `ELEMDESC` that WinForms uses seems to be wrong.

Currently the definition is embedding the `TYPEDESC` by reference (it was a class before, so the interop rules should already have been embedding it as a pointer before PR #818)
[code]

[2019-04-28 15:38] by8 commented on #147
@Zonciu
In that way,  the project is not pure .net core project any more. When you open the property in VS2019, the target framework is blank. It does not make sense.

[2019-04-28 16:03] Zonciu commented on #147
@by8 Usually I modify the target framework by editing the csproj file. When you add multiple target frameworks, The `Target Framework` selector will be blank and uneditable, the reason is in order to add multiple target frameworks it requires to change `<TargetFramework>` to `<TargetFrameworks>`, however VS only shows the `<TargetFramework>` config.

I only use this trick to experience .NET Core W

[2019-04-29 10:31] hughbe commented on #682
This is fixed now :)

[2019-04-29 10:31] #682 closed

[2019-04-29 10:32] hughbe commented on #766
This is fixed now

[2019-04-29 10:32] #766 closed

[2019-04-29 10:38] hughbe opened #899 "Calling properties on new EventsTab(null) throws NRE"
- Should we throw ANE in constructor?
- Or should we check for null in the props!

[2019-04-29 19:36] merriemcgaw commented on #889
@dreddy-work can you take a look at this?

[2019-04-29 19:37] merriemcgaw commented on #890
@dreddy-work getting this on your radar for 3.0

[2019-04-30 09:29] hughbe opened #904 "DataGridColumnStyle.ColumnStartedEditing(null) throws NRE"
[code]

[2019-04-30 09:31] hughbe opened #905 "DataGridColumnStyle.ColumnStartedEditing for a DataGrid without rows throws IndexOutOfRangeException"
[code]

[2019-04-30 19:13] merriemcgaw commented on #865
This is how it is in the Framework. This is not a priority to address any time soon.

[2019-04-30 19:13] #865 closed

[2019-04-30 19:20] #866 closed

[2019-04-30 19:21] merriemcgaw commented on #866
Issue moved to [dotnet/corefx #37305](https://github.com/dotnet/corefx/issues/37305) via [**ZenHub**](https://www.zenhub.com/)

[2019-04-30 19:31] merriemcgaw commented on #864
This seems like a reasonable result. If we change this it will make porting of existing applications which have the issue have to change how they're responding to the scenario.

[2019-04-30 19:58] weltkante commented on #864
@merriemcgaw is that even a reasonable scenario to expect to happen in existing applications? I mean a WinForms Binding connects a control property to some binding source property, right? So if the control is null it's disconnected, and why would you try to refresh a disconnected binding? Unless I'm understanding something wrong this is more of an edge case I think.

[2019-05-01 14:38] MichaelEvanchik opened #908 "Cannot get .netcore 3.0 winforms project to work on macOS, no issue with console"
I have installed both the runtime, and SDK

If i use Visual Studio, it says ".net core 3.0(not installed)" in the created project

Also the following statement is in Visual Studio for mac

Error: The version of the .NET Core SDK currently installed (/usr/local/share/dotnet/sdk/3.0.100-preview4-011223/Sdks) is not supported and continuing to use it may result in a broken tooling experience. https:/

[2019-05-01 17:59] MichaelEvanchik commented on #908
Sorry thought we were going into the ballpark like java/python/qt/gdk.  too much work i guess.  I have to use core asp.net and have use a browser.

[2019-05-01 17:59] #908 closed

[2019-05-02 02:02] OliaG commented on #860
@gsmental  thanks for your issue. We don't support SOAP in .NET Core.  You can try using WebAPI (for hosting) and HttpClient (for consumption).

cc @terrajobst

[2019-05-02 02:08] OliaG commented on #860
For better web experience you can use ASP.NET Core. WinForms does not cover web functionality. I am going to close this issue here, but feel free to reach out to @terrajobst for more details regarding APIs in .NET Core.

[2019-05-02 02:08] #860 closed

[2019-05-02 02:18] gsmental commented on #860
madam, every time, when Microsoft released new technology, they forgot about existing applications and investment of time and money.

first our projects were in VB6, then we spent time and money to convert into c#. now in the name of new technology, again a big task is standing against us. we are fed up with Microsoft based technology.

approx spending 15  years in Microsoft, now we feels, we shou

[2019-05-02 21:30] danmoseley opened #917 "Increase code coverage"
I didn't see an issue for this already (feel free to close if there is one). Looks like coverage is less than 30%.
[code]

@hughbe you've spent more time looking at the code/tests than many of us, how feasible do you think it is to get this number up? That would help increase confidence in the upcoming release, for sure - and make refactors less risky.

I wonder if the debt could be categorized so

[2019-05-02 23:07] JuditRose commented on #892
I checked these:
- System.Drawing.Design.FontNameEditor: it is not ported either in winforms, nor in corefx, based on the namespace I'd assume it belongs to corefx, I am not sure if it was not ported intentionally or unintentionally.
- System.ComponentModel.Design.MultilineStringEditor: it's not ported to winforms dotnet core yet, but we can relatively easily take it from dotnet framework, depende

[2019-05-03 18:32] zsd4yr commented on #917
We have a user epic issue tracking functional testing parity with Core. #672

We have about 100-200 apps which are used in testing automation using Maddog in the .NET FX, and we've had an enormous backlog item to get them driven by xunit and incorporated into our CI.

As far as I know, this will not change the number above representing our Code Coverage but it will increase the surface area over w

[2019-05-03 18:41] zsd4yr commented on #917
For tracking down the areas for our code coverage, if you click any of the buttons for code coverage on the top-level README here: https://github.com/dotnet/winforms#code-coverage

You will be directed to an interactive dashboard showing what parts of our code have coverage in xunit tests. https://codecov.io/gh/dotnet/winforms

In particular, the outermost rings of the sunburst chart may be what y

[2019-05-05 10:06] hughbe opened #925 "Remove redundant initialization"
From @danmosemsft

https://github.com/dotnet/winforms/pull/914#discussion_r280598315

[2019-05-05 19:52] cup commented on #210
https://github.com/dotnet/core/issues/2208
https://github.com/dotnet/coreclr/issues/24397

https://github.com/dotnet/winforms/issues/210
https://github.com/mono/linker/issues/428

[2019-05-06 16:34] #797 closed

[2019-05-06 16:34] #798 closed

[2019-05-06 16:34] #796 closed

[2019-05-06 20:42] robertborr opened #931 "environment name or value is too long build failures in 'official/dotnet/winforms/refs/heads/master' - '20190506.2'"
@dotnet-mc-bot commented on [Mon May 06 2019](https://github.com/dotnet/core-eng/issues/6246)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=180847
  - **Agent:**
  - **Error log:** ContinueOnError: False...

@robertborr

---

@robertborr commented on [Mon May 06 2019](https://github.com/dotnet/core-eng

[2019-05-06 20:51] robertborr commented on #931
variable is:##[warning]Environment variable 'BUILD_SOURCEVERSIONMESSAGE' exceeds the maximum supported length. Environment variable length: 42506 , Maximum supported length: 32766

[2019-05-07 08:08] vladimir-krestov opened #932 "Accessibility: ListBox items don't support the ScrollItem pattern"
ListBox supports the Scroll pattern but ListBox items don't support ScrollItem pattern and don't have ScrollIntoView action.

**Expected result:**
ListBox items should support the ScrollItem pattern.

[2019-05-07 08:19] 87Alex commented on #892
Hello,
We also use the System.ComponentModel.Design.MultilineStringEditor class in our designers.
[Editor("System.ComponentModel.Design.MultilineStringEditor, System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a", typeof(System.Drawing.Design.UITypeEditor))]
string ToolTip { get; set; }
Do you plan to port it in dotnet core?

[2019-05-07 10:09] Olina-Zhang opened #934 "HeaderText cannot be gotten in DataGridColumnStyle class"
* .NET Core Version: 3.0.100-Preview6-011777
* Have you experienced this same bug with .NET Framework?: No

**MoreInfo:** This is a regression issue, cannot repro in .Net Core 3.0 SDK Preview5 build
**Problem description:**
1. Open attached Winforms .Net Core app
[WindowsFormsApp6.zip](https://github.com/dotnet/winforms/files/3151978/WindowsFormsApp6.zip)
2. Open Form1.cs file, and set breakpoint

[2019-05-07 17:35] hughbe commented on #934
Hmm, I don’t see any reference to `headerName` in DataGridColumnStyle: https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/DataGridColumnStyle.cs#L19

[2019-05-07 17:44] hughbe opened #937 "Suggestion: run `dotnet format` Over the whole codebase"
`dotnet format` is a global tool that takes an editor config file and cleans up all the code to match the style.

Talking to some of y’all at build, i know that it’s been quite hard for the team to review cleanup prs as it’s hard to differentiate automated cleanup and manual cleanup. The former comes at little risk but the latter may be breaking if something goes wrong (and even if there’s one bug

[2019-05-07 17:56] dreddy-work commented on #934
@hughbe, Did you get a chance to debug this further?

[2019-05-07 18:45] hughbe commented on #167
Internal only now gone. Include file gone in https://github.com/dotnet/winforms/pull/938

[2019-05-07 21:23] hughbe commented on #934
Not yet, will soon. I don't quite understand why it shows a compiler error (CS0103) in this pane!

[2019-05-07 22:49] JuditRose commented on #892
Hi,
Multiline string editor is in a PR now. @87Alex Feel free to take a look at it.
@merriemcgaw or @OliaG do any of you know who can I talk to in the coreFX team to figure out what is the plan with the font name editor?

[2019-05-08 00:55] hughbe commented on #937
Url: https://github.com/dotnet/format

[2019-05-08 01:52] RussKie commented on #937
I had the same idea 👍

On Wed, May 8, 2019, 10:55 AM Hugh Bellamy <notifications@github.com> wrote:

[2019-05-08 17:26] JuditRose commented on #775
It looks like the translation is coming from the CollectionConverterText translation key from corefx: https://github.com/dotnet/corefx/blob/c390ce7df50252e11f5d322276e9d19e046d1332/src/System.ComponentModel.TypeConverter/src/Resources/Strings.resx#L238
@Tanya-Solyanik said that earlier there was a discussion about what to translate and what not to translate, and this was one of the areas that was

[2019-05-08 17:27] #775 closed

[2019-05-08 17:27] JuditRose commented on #775
Issue moved to [dotnet/corefx #37517](https://github.com/dotnet/corefx/issues/37517) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-08 18:51] hughbe opened #946 "DesignerHost throws NRE when calling `Activate` when disposed"
[code]

Failed   System.ComponentModel.Design.Tests.DesignSurfaceTests.ComponentContainer_ActivateDisposed_Nop
Error Message:
 System.NullReferenceException : Object reference not set to an instance of an object.
Stack Trace:
   at System.ComponentModel.Design.DesignerHost.System.ComponentModel.Design.IDesignerHost.Activate() in /Users/hugh/Documents/GitHub/winforms/src/System.Windows.Forms.Design

[2019-05-08 19:50] speed2048 opened #947 "Winforms template for non Windows platforms."
I installed .dotnet 3 preview 5 on Linux and Mac OS and did a dotnet new. To my surprise Windows Forms was listed as a template.  From the reading I have done is that WinForms is not supported on these platforms.

I was able to do a dotnet new winforms without issues, but could not run it.

Expected behavior is not to have winforms show as a template or be available on non Windows platforms.

[2019-05-08 20:20] #167 closed

[2019-05-09 09:59] weltkante commented on #946
As far as I can tell this also throws on Desktop now, so whats the reason for `Assert.Equal(1, viewActivatedCallCount);` instead of just throwing an `ObjectDisposedException` instead of `NRE`?

I mean, acivation of a disposed object is not a reasonable operation, is it? And if you dispose the surface it also has to dispose the host, otherwise it wouldn't have cleaned up all of its used resources.

[2019-05-09 14:25] hughbe commented on #946
Essentially what happens is that we call `_surface.ViewActivated()` in `IDesignerHost` without checking for null because surface is nulled out on dispose. Proposed fix is non breaking by turning this into a nop
`_surface?.ViewActivated()`

The reason I suggest this is because other areas where we call methods on surface check for null before calling and don’t do anything if null, so this seems lik

[2019-05-09 16:26] weltkante commented on #946
ok that sounds reasonable

[2019-05-09 18:36] tomrus88 commented on #947
Why not? You can develop/publish it on linux or mac and then copy to windows machine where it will be running. I don't see anything wrong with windows only template being available on all OS.

[2019-05-09 23:12] JuditRose opened #955 "Unify line endings"
Currently we have both CRLF and LF line endings "randomly" in our files.
The team agreed to use the windows style line endings.

This task contains:
- [ ] clean up the line endings in the files
- [ ] set up .git/config (https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration) to keep the settings clean in the project
- [ ] check if there is a config for the project, if yes, set it there a

[2019-05-09 23:30] RussKie commented on #955
* [ ] Update .editorconfig as well with `end_of_line=crlf`
https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#end_of_line

[2019-05-09 23:52] zsd4yr commented on #896
Who is taking point on this?

[2019-05-09 23:55] #862 closed

[2019-05-09 23:55] #863 closed

[2019-05-09 23:55] #864 closed

[2019-05-09 23:55] #861 closed

[2019-05-10 07:41] hughbe opened #957 "DesignerActionCollection.GetComponentDesignerActions with null verb in verbs list throws NRE"
Should skip and not throw

[code]

[2019-05-10 07:42] hughbe opened #958 "DesignerActionService.Add(null) throws NRE in `GetComponentActions`"
Throws NRE but should add but skip in `GetComponentActions`
[code]

[2019-05-10 07:44] hughbe opened #959 "DesignerActionService.OnVerbStatusChanged with null ISelectionService throws NRE"
Should return-early/nop

[2019-05-10 07:50] hughbe opened #960 "EventsTab.OnActiveDesignerChanged with null event args throws NRE"
Should set `_currentHost` to null

[2019-05-10 10:09] weltkante commented on #955
Discussion in PR #954 indicates that forcing line endings to `crlf` is the wrong solution. Just mentioning it on the issue as well for future readers.

[2019-05-10 16:58] hughbe opened #962 "Calling Dispose in DesignSurface.Loading throws NRE"
Should not throw NRE and check for null

[code]

   at System.ComponentModel.Design.DesignerHost.BeginLoad(DesignerLoader loader) in /Users/hugh/Documents/GitHub/winforms/src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs:line 330

Should

[2019-05-10 16:58] hughbe opened #963 "Calling DesignerHost.OnActiveDesignerChanged with null event args throws NRE"
Should be a nop

[code]

[2019-05-10 16:59] hughbe opened #964 "DesignerHost.Unload throws NullReferenceException if disposed"
Should be a nop

[code]

Failed   System.ComponentModel.Design.Tests.DesignSurfaceTests.BeginLoad_DisposeInBeginLoadThrowsException_DoesCallFlush
Error Message:
 System.NullReferenceException : Object reference not set to an instance of an object.
Stack Trace:
   at System.ComponentModel.Design.DesignerHost.Unload() in /Users/hugh/Documents/GitHub/winforms/src/System.Windows.Forms.Design/src/Syste

[2019-05-10 17:11] speed2048 commented on #947
Is this a valid use case? . If is valid then at least present the developer friendly error message that running winforms on (Linux, MacOS ) is not supported... Maybe project mono could provide this functionality in the future.

[2019-05-10 19:06] zsd4yr opened #966 "Add Tests related to Code Dom Serializers"
We have a testing gap for types in System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization

We would like to add tests in this area.

/cc @DustinCampbell

[2019-05-10 19:07] zsd4yr opened #967 "Add Tests related to Design types in System.Windows.Forms.Design.Editors"
We have a gap in our testing in System.Windows.Forms.Design.Editors/src/System/Windows/Forms/Design
and System.Windows.Forms.Design.Editors/src/System/Drawing/Design

[2019-05-10 21:05] #894 closed

[2019-05-10 21:05] #895 closed

[2019-05-10 21:08] #899 closed

[2019-05-10 21:08] #960 closed

[2019-05-10 21:10] #957 closed

[2019-05-10 21:10] #958 closed

[2019-05-10 21:10] #959 closed

[2019-05-10 22:54] sharwell commented on #896
I was not able to construct a case where any of this code gets used. Is any of this COM stuff supported in .NET Core?

[2019-05-11 02:53] RussKie commented on #860
https://devblogs.microsoft.com/dotnet/net-core-is-the-future-of-net/

[2019-05-11 06:50] weltkante commented on #896
Look through the `Com2Interop` namespace it looks like it could be related to hosting ActiveX controls inside WinForms. Maybe its about the design time experience of ActiveX controls? I could find a [reference to VS](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/ComponentModel/COM2Interop/COM2IVsPerPropertyBrowsingHandler.cs)

Hosting 3rd party no

[2019-05-12 16:30] kpreisser commented on #146
Hi,
any update on this one (also regarding the ship vehicle)?
Are there some changes that need to be done to the proposed API before the API Review (e.g. removal of WinForms types)?

After watching *The future of C#* from Build, I think the proposed **Extension Everything/Extension Interfaces** (https://github.com/dotnet/csharplang/issues/1711) would be handy for the case where the TaskDialog asse

[2019-05-12 17:25] damageboy commented on #947
Techinically I see no reason why BUILDING on Linux/OSX should be a no-go..

I do however get a weird compilation error when trying to compile and otherwise valid .NET Core 3.0p5 project on linux:
[code]

[2019-05-12 17:31] damageboy opened #971 "WinForms build fails on non-windows platforms"
* .NET Core Version: (e.g. 3.0 Preview5, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

**Build** of WinForms project fails on non-Windows platforms with missing msbuild files

I did see that #947 speaks about a similar case, but from THAT issue it is not clear the submitter wants to build to work so much as

[2019-05-13 14:59] hughbe opened #972 "DesignerSerializationManager.GetType throws NRE if TypeDescriptionProviderService returns null"
[code]

Stack Trace:
   at System.ComponentModel.Design.Serialization.DesignerSerializationManager.GetType(String typeName) in /Users/hugh/Documents/GitHub/winforms/src/System.Windows.Forms.Design/src/System/ComponentModel/Design/Serialization/DesignerSerializationManager.cs:line 531
   at System.ComponentModel.Design.Serialization.Tests.DesignerSerializationManagerTests.SubDesignerSerializationMa

[2019-05-13 20:28] weltkante commented on #971
If building WinForms projects on Linux/Mac is going to be a supported scenario please make sure that failed assembly and type loading get a reasonable diagnostic in the build output. In particular C++/CLI assemblies will only work on Windows I think.

Note that failed assembly loads can cascade to failed type loads in other assemblies when the type used something from a C++/CLI assembly. I don't k

[2019-05-13 20:31] weltkante commented on #947
I don't know about resx building, but I think compiling licensed controls (licx files) requires loading and executing code. When using licensed 3rd party native controls thats pretty guaranteed to not work on non-Windows systems. I'm not entirely against cross-compiling, but if thats going to supported this really needs better diagnostics than it currently has.

[2019-05-13 21:43] camleng opened #974 "When will WinForms fully support VB.NET in .NET Core 3.0?"
I'm currently trying to convert a .NET Framework WinForms app over to .NET Core 3.0. I'm in the process of converting my class libraries to .NET Standard 2.0. After installing the `Microsoft.Windows.Compatibility` NuGet package to try to get Windows-specific functionality back, I'm getting type errors for WinForms controls like Buttons, Labels, GroupBoxes. i.e. `Type 'System.Windows.Forms.Button'

[2019-05-13 22:30] zsd4yr opened #975 "Establish Robust Inter-process Communication (IPC)"

[2019-05-13 22:31] zsd4yr opened #976 "Enable 3rd Party Control Vendors"

[2019-05-13 22:33] zsd4yr opened #977 "Enable Toolbox Population for Punch-Through Controls"

[2019-05-13 22:34] zsd4yr opened #978 "Enable Code Gen of Punch-Through Controls"

[2019-05-13 22:35] zsd4yr opened #979 "Prepare Designer to be included in VS Release"

[2019-05-13 22:44] zsd4yr opened #980 "Enable CodeDom Serialization for Punch-Through"

[2019-05-13 22:45] zsd4yr opened #981 "Prepare Designer Repo for Open Source -ability (OSS)?"

[2019-05-13 22:57] zsd4yr opened #983 "Establish Robust Type Resolution Service for Punch-Through"

[2019-05-13 22:59] zsd4yr opened #984 "Enable Property Browser Functionality for Punch-Through"

[2019-05-13 23:33] #955 closed

[2019-05-14 03:23] Vino-Wang opened #985 "System.Drawing.ImageConverter cannot convert from System.Drawing.Icon"
* OS: RS4 X64
* VS: Dev16 16.2.0 Preview 1.0 [28913.52.d16.2]
* .NET Core Version: 3.0 Preview 6 3.0.100.11867 from Master branch
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
System.Drawing.ImageConverter cannot convert from System.Drawing.Icon

**Actual behavior:**
System.Drawing.ImageConverter cannot convert from System.Drawing.Icon, and the value of th

[2019-05-14 08:57] hughbe commented on #904
This has been fixed

[2019-05-14 08:57] #904 closed

[2019-05-14 08:57] hughbe commented on #905
This has been fixed

[2019-05-14 08:57] #905 closed

[2019-05-14 10:11] MrB0nd opened #988 "[.Net Core] EventHandlerService is not ported"
* .NET Core Version: 3.0.0-preview6-27712-03
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
I'm facing a problem that EventHandlerService is not implemented in .net Core.
https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/EventHandlerService.cs

It's called from the ComponentTray ctor which we use

[2019-05-14 10:11] MrB0nd opened #989 "[.Net Core] ComponentDesigner is not fully ported"
* .NET Core Version: 3.0.0-preview6-27712-03
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
ComponentDesigner currently has not implemented methods PreFilterAttributes and PreFilterEvents.
https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.Design/src/System/ComponentModel/Design/ComponentDesigner.cs#L225

And I have a question about IDe

[2019-05-14 17:51] hughbe opened #991 "DesignerSerializationManager.GetType("NoSuchType") loops forever..."
Never returns!!

[code]

[2019-05-14 19:48] merriemcgaw commented on #146
@kpreisser For now we're going to take this into the System.Windows.Forms.dll binary. If a WPF app wants to use the TaskDialog they binary will be present as it's part of the Desktop shared framework which both WPF and WinForms use. It was decided not to use this in things like Console apps, though we could see some scenarios where that might be useful - we wanted to keep it in the Desktop shared

[2019-05-14 19:56] merriemcgaw commented on #146
@kpreisser before I forget, you will want to run [Accessibility Insights](https://accessibilityinsights.io/docs/en/windows/overview) over the default configurations. We need to pass all tests raised by this tool in order to be a compliant Microsoft product. This shouldn't be an issue (run it on the latest Win10) given you're wrapping system APIs, but we need to have that test passing.

[2019-05-15 07:07] John-Qiao opened #994 "TextBox and MaskedTextBox.GetPositionFromCharIndex() and MaskedTextBox.GetCharIndexFromPosition() methods return the incorrect values"
* Have you experienced this same bug with .NET Framework?: No

**OS:** RS4 X64
**VS:** Dev16 16.2.0 Preview 1.0 [28913.52.d16.2]
**.NET Core:** 3.0.100-preview6-011867 from Master branch

**More Info:**
This issue can repro in TextBox control too, but RichTextBox control works well.

**Steps to reproduce:**
1.	Install the .NET Core 3.0 SDK from https://github.com/dotnet/core-sdk for Master branch.

[2019-05-15 17:21] kpreisser commented on #146
Hi @merriemcgaw and @OliaG,
thanks a lot for the update and the explanations! (Sorry, I didn't realize that S.W.F. was the acronym for System.Windows.Forms... :innocent:)

I will look into preparing the code for submission.

Regarding the API Review, there are some points that I added to the Possible API TODOs list (but did not yet apply to the API proposal), for which I feel like they should prob

[2019-05-15 19:51] #946 closed

[2019-05-15 19:51] #962 closed

[2019-05-15 19:51] #963 closed

[2019-05-15 19:51] #964 closed

[2019-05-15 19:51] #972 closed

[2019-05-16 20:46] corbob commented on #465
FWIW: I just downloaded the latest devpack for Framework 4.8, and this issue exists there as well.

[2019-05-17 02:14] Zheng-Li01 commented on #465
@corbob, Installed the latest devpack for Framework 4.8 from https://dotnet.microsoft.com/download/thank-you/net48-developer-pack, noticed that the build number is 4.8.3761.0 for now. The build is not contains the fix for the issue yet. So you need to wait next builds in the future to verify if the issue was fixed.

[2019-05-17 03:11] Amy-Li02 opened #1002 "[Loc]The description under "Details" after clicking it is not localized in warning dialog"
**.NET Core Version:** .NET Core: 3.0.100-preview6-011904 from Master branch
**Have you experienced this same bug with .NET Framework?:** No
**More info:** This issue also can reproduce with all 13 local languages: CHS, CHT, CSY, DEU, ESN, ITA, JPN, KOR, PLK, PTB, RUS, TRK, FRA

**Steps to reproduce:**
1. Install the .NET Core 3.0 SDK from https://github.com/dotnet/core-sdk for Master branch.
2. O

[2019-05-17 18:18] zsd4yr opened #1004 "[Loc]The text for OK and Cancel buttons is not completely localized or is localized differently compared to Desktop Framework in warning dialog"
![image](https://user-images.githubusercontent.com/10677481/57948083-8f3b5000-7895-11e9-9267-857dafad0edc.png)

[2019-05-17 18:23] zsd4yr commented on #1004
`PropertyGridView.ShowFormatExceptionMessage(string propName, object value, Exception ex)` makes use of `PropertyGridView.get_ErrorDialog()` which creates a new `GridErrorDlg` if there is not one yet.

The [constructor for `GridErrorDlg`](https://github.com/dotnet/winforms/blob/9411ed26437905ed3d8148b73ea0dbed47704a5b/src/System.Windows.Forms/src/System/Windows/Forms/PropertyGridInternal/GridError

[2019-05-17 18:25] zsd4yr commented on #1004
I have confirmed that ExDlgOk is **not** translated for _any_ language

[2019-05-17 18:27] zsd4yr commented on #1004
I have confirmed that ExDlgCancel **is** translated for _all_ languages, but if these translations are different than the Framework translations, than someone with native understanding of the languages should decide which is better. I don't think parity trumps understanding here. If the new translation is better, then we should keep it.

[2019-05-17 18:30] zsd4yr commented on #1004
@vivmishra @janbaltus @v-zbsail Who is in charge of these two issues?
* Should I mark in source the OK entries as `state="untranslated"` or something?
* What about the difference in translation of Cancel?

[2019-05-17 18:33] dreddy-work commented on #1004
"OK" string earlier was translated but not now. I won't see any reason why we can;t do it now. @zsd4yr , can you check of "OK" string is translated for any other dialog?

[2019-05-17 18:35] zsd4yr commented on #1002
@merriemcgaw can you transfer this issue to CoreFX? @karelz this is related to a conversation I had with you about whether or not CoreFX is localizing their error messages. Framework does this, and so I believe this will also need to be done in .NET Core

Our code simply elevates the existing error message https://github.com/dotnet/winforms/blob/9411ed26437905ed3d8148b73ea0dbed47704a5b/src/System.

[2019-05-17 20:48] karelz commented on #1002
We do not plan to localize exceptions on .NET Core. We should close it as By Design / Won't Fix.
Applications should not expose exception text to users.

cc @danmosemsft @terrajobst

[2019-05-17 20:49] karelz commented on #1002
Duplicate of https://github.com/dotnet/corefx/issues/17464

[2019-05-17 20:49] #1002 closed

[2019-05-17 21:06] zsd4yr opened #1007 "Remove all Instances of System.Configuration"
From email thread:

[2019-05-17 21:15] zsd4yr commented on #1004
I am saying that the string is not translated in the xlfs

[2019-05-17 21:19] zsd4yr commented on #971
I think this is unsupported? @livarcocc @nguerrera @richlander any thing you guys know / think / feel?

[2019-05-18 01:57] AraHaan commented on #146
``Microsoft.Win32`` or one from within it?

[2019-05-18 07:16] Berrysoft commented on #974
.NET Standard 2.0 doesn't support WinForms. Maybe you should target the project to multi-frameworks, e.g., `<TargetFrameworks>net48;netcoreapp3.0</TargetFrameworks>`

`Microsoft.Windows.Compatibility` doesn't contains WinForms. Instead, you should change the `Sdk` property in the proj file to `Microsoft.NET.Sdk.WindowsDesktop` and set `<UseWindowsForms>true</UseWindowsForms>`

I don't know when to

[2019-05-18 13:52] whitequill opened #1009 "Visual Studio doesn't support ILProtector project files"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
.NET Core SDK (reflecting any global.json):
 Version:   2.2.105
 Commit:    7cecb35b92

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.18362
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.2.105\

Host (useful for support):
  Version: 2.2.3
  Commit:  6b8ad5

[2019-05-19 20:08] damageboy commented on #971
I think I should probably try and explain why I think so basic support for this is in order:

Right now, in the current state of .NET Core 3.0 p5, the mere operation of opening a solution with a winforms project fails due to the missing `Microsoft.WinFX.targets` file on non-Windows build platforms.

This is really unfortunate, as IDEs on those platforms (VSCode, VS4Mac, Rider) will fail to load re

[2019-05-20 08:49] lukaschal commented on #1004
Localized in a NetFX in a year 2005.

File: 0; "TextParseFailedFormat"
ID: Localized\ENU\System.Drawing.dll
SRC: Text "{0}" cannot be parsed. The expected text format is "{1}".
TGT: {0} metni ayrıştırılamıyor. Beklenen metin biçimi: "{1}".

[2019-05-20 09:03] lukaschal commented on #1004
TRK button "OK" localized now in a xlf file.

File: System.Windows.Forms\src\Resources\xlf\SR.xlf
ID: 0; "ExDlgOk"
SRC: OK
TGT: Tamam

[2019-05-20 17:33] #991 closed

[2019-05-20 17:33] zsd4yr commented on #1004
@vivmishra what do we want to do about places where translations differ between desktop fx and core?

[2019-05-20 17:36] vivmishra commented on #1004
We should get it reviewed by loc team at a minimum so that we are not introducing bugs.

[2019-05-20 17:58] #372 closed

[2019-05-20 18:10] merriemcgaw commented on #826
@dreddy-work please link the issues in MSBuild and corefx repos representing the work here. This issue is tracking the whole user store start to finish.

[2019-05-20 18:22] merriemcgaw commented on #698
@hughbe are you working on this? You can work with @zsd4yr to see what we've done with our internal designer code.  We will work with our compliance team to find out if/how we can incorporate the PInvoke stuff. Let's make this a separate issue.

[2019-05-20 18:24] merriemcgaw commented on #687
@hughbe ,  this is the second stage of the clean up referenced in #698 if you're interested 😁.

[2019-05-20 18:35] kpreisser commented on #146
Hi,

note that the `Microsoft.Win32` namespace is also used by WPF (PresentationFramework) for the `FileDialog`, whose `ShowDialog()` method takes a `System.Windows.Window` as owner, whereas the Task Dialog as part of WinForms would use e.g. `System.Windows.Forms.IWin32Window`.

---

I have run Accessibility Insights using the **FastPass** test over a Task Dialog using all of the available control

[2019-05-20 21:15] jmarkyston opened #1015 "MenuStrip constructor throwing exception"
I don't know if this actually has anything to do with this repo itself. The error actually gets thrown from System.Drawing.Common. Let me know if I should post this over there instead.

When my Designer.cs file news-up a MenuStrip (`this.nav = new System.Windows.Forms.MenuStrip()`), the following exception is thrown:

`System.TypeInitializationException: 'The type initializer for 'Gdip' threw an e

[2019-05-21 02:52] dreddy-work commented on #698
We did unified the various native methods into a single one and while doing so, we also changed many instances of HandlePtr to HandleRefs.  We could start this work by copying the unified copy into this repo and making signature changes in the corresponding function calls. @zsd4yr , do you know a best way to share that file on github ( as those changes were made on private repo) and a sample file

[2019-05-21 08:34] lukaschal commented on #1004
String mentioned below is localized in a NetFX_Dev1 and NetFXRel1, but for now not occurs in a dotnet_winforms localization resources.

File: Localized\ENU\System.Drawing.dll
ID: 0; "TextParseFailedFormat"
SRC: Text "{0}" cannot be parsed. The expected text format is "{1}".
TGT: {0} metni ayrıştırılamıyor. Beklenen metin biçimi: "{1}".

[2019-05-21 09:02] weltkante commented on #1004
@lukaschal I think System.Drawing is not part of WinForms, its part of corefx and lives in a separate repository.

[2019-05-21 10:09] janbaltus commented on #1004
@vivmishra we are able to fix the OK and Cancel issue, but not the untranslated issue for source (SRC: Text "{0}" cannot be parsed. The expected text format is "{1}".) as this is located in corefx which is now with no loc support.

[2019-05-21 11:40] hughbe opened #1017 "Flaky Test: BindingContext_Contains_DataSource_ReturnsExpected"
Assert.Equal() Failure\r\nExpected: True\r\nActual:   False
   at System.Windows.Forms.Tests.BindingContextTests.BindingContext_Contains_DataSource_ReturnsExpected(BindingContext context, Object dataSource, Boolean expected) in /_/src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/BindingContextTests.cs:line 372

[2019-05-21 18:23] dreddy-work commented on #826
Only pending work in the scenario is https://github.com/microsoft/msbuild/issues/2221. could link the isue directly ( may be because repo are in different org?).

[2019-05-21 18:23] #826 closed

[2019-05-21 18:27] dreddy-work commented on #776
@zsd4yr , i think it was an empty image list.  check if the code is coming from winforms for this and test is set to SR.*

[2019-05-22 01:45] albahari opened #1021 "Keyboard accelerators on MenuStrip are ignored"
* .NET Core Version: Preview6 27720-09
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Keyboard accelerators on MenuStrip are ignored. For instance, when the File menu is open and you press 'S' to save, nothing happens, despite the menu item text being "&Save". Also, the keyboard arrows don't work fully - when you press up-arrow on the first menu item, it d

[2019-05-22 12:25] janbaltus commented on #1004
OK translation issue fixed with PR https://github.com/dotnet/winforms/pull/1022/files

[2019-05-22 22:33] merriemcgaw commented on #1021
@M-Lipin can you see if something with ToolStrip accessibility work impacted this?

[2019-05-22 22:42] merriemcgaw commented on #1009
@whitequill Is this a .NET Core WinForms project? You may need to contact the software vendor for ILProtector to find out what is happening here. It seems to be outside the scope of WinForms for .NET Core.

[2019-05-22 22:45] merriemcgaw commented on #989
@JuditRose if you can get this in before the end of the month, great. If not just let me know. I betcha @RussKie  will grab it 😊

[2019-05-22 22:49] merriemcgaw commented on #974
@camleng is there something specific missing? What currently is not working?

[2019-05-22 22:52] #971 closed

[2019-05-22 22:52] merriemcgaw commented on #971
Issue moved to [dotnet/core-sdk #2088](https://github.com/dotnet/core-sdk/issues/2088) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-22 22:57] merriemcgaw commented on #947
@OliaG @richlander

[2019-05-22 23:00] merriemcgaw commented on #934
@Olina-Zhang is this blocking any runtime customer scenarios?

[2019-05-22 23:03] merriemcgaw commented on #934
@Olina-Zhang you might compile from the command line to see if there are any warnings or errors.

[2019-05-22 23:05] merriemcgaw commented on #931
This doesn't appear to have reproed recently.

[2019-05-22 23:05] #931 closed

[2019-05-22 23:06] merriemcgaw commented on #925
@AdamYoblick is there any tool you know of we can run to clean this up everywhere?

[2019-05-22 23:10] merriemcgaw commented on #932
@vladimir-krestov will this make it in by the end of the month (including testing)? If not, I will move it out to a later Preview release.

[2019-05-22 23:27] merriemcgaw commented on #776
@vivmishra this is likely another example of where corefx not being localized having weird results in WinForms. Moving this to future.

[2019-05-22 23:35] merriemcgaw commented on #937
Considering doing this right before we snap for Preview 7. @zsd4yr

[2019-05-22 23:51] merriemcgaw commented on #635
@mairaw let me know when the Intellisense zip file is ready to go.

[2019-05-23 00:00] merriemcgaw commented on #465
@vladimir-krestov or @M-Lipin could you port this .NET Framework fix by the end of this milestone?

[2019-05-23 00:52] vivmishra commented on #776
Yes, we expected such issues to crop up due to underlying layers not being localized. Moving to future is fine here. Hopefully, we can get CoreFX loc'ed in future release.

[2019-05-23 01:04] merriemcgaw commented on #182
@M-Lipin Can I close this issue?

[2019-05-23 01:06] merriemcgaw commented on #892
@JuditRose I'd start with @ericstj to see if he's thought about this.

[2019-05-23 01:14] merriemcgaw commented on #747
@okman523. Feel free to reopen with more information.

[2019-05-23 01:14] #747 closed

[2019-05-23 01:16] merriemcgaw commented on #746
@okman523 we need you to provide us with a minimal repro to make it easier for us to debug the situation. Are you still having issues?

[2019-05-23 09:24] vladimir-krestov opened #1026 "Accessibility: While Narrator on, caps lock right arrow jumps out of list box prematurely"
**Repro steps:**
- Using the Narrator with caps lock mode set focus to list box item.
- Press caps lock + right arrow to set focus to next list box item.

**Actual:**
The Narrator jumps out of the list box without traversing the complete list.

**Expected result:**
Using Narrator with caps lock mode set to an item, caps lock right arrow passes in order of the elements of the list up and down witho

[2019-05-23 09:32] weltkante commented on #1009
Yes [Accessibility.ilproj](https://github.com/dotnet/winforms/blob/master/src/Accessibility/src/Accessibility.ilproj) is a .NET Core WinForms project.

The OP may have misassociated the ilproj file extension to ILProtector when its more likely a VS extension like https://github.com/DzonnyDZ/ILProj

I think the original problem is that he's trying to open the .NET Core WinForms solution in VS 2015

[2019-05-23 09:38] weltkante commented on #1009
Found dotnet/coreclr#20816 which says ilproj is now an "official" project type but has no VS project system yet. I assume they never intended it to be opened in older VS versions.

If .NET Core WinForms claims somewhere to build in pre-VS 2017 that may need to be corrected.

[2019-05-23 16:01] AdamYoblick commented on #925
Stylecop is the one to use usually. Sam mentioned it in that PR, but I'm not sure that we enforce stylecop rules in the winforms build because most other repos don't do it as far as I know.

[2019-05-23 16:32] ericstj commented on #892
@merriemcgaw these are all in System.Design on desktop which isn't something we'd bring back in CoreFx.  I believe in our past discussions the plan was that a lot of this stuff only lives in VS and for the things that need to be part of winforms they'd be added to assemblies in the WinForms repo, EG: https://github.com/dotnet/winforms/tree/master/src/System.Windows.Forms.Design or https://github.c

[2019-05-23 16:54] zsd4yr commented on #1007
@dreddy-work has a PR almost ready for this

[2019-05-23 16:54] #1004 closed

[2019-05-23 16:55] #869 closed

[2019-05-23 17:14] AdamYoblick opened #1030 "Unit test fails after arcade update"
https://dev.azure.com/dnceng/public/_build/results?buildId=198756&view=ms.vss-test-web.build-test-results-tab&runId=4820080&resultId=101525&paneView=debug

This is passing in master.

No idea why an arcade update would cause this to fail, but I'm disabling this test for now to allow code to flow.

[2019-05-23 17:16] AdamYoblick opened #1031 "Unit test fails sporadically"
https://dev.azure.com/dnceng/internal/_build/results?buildId=198754&view=ms.vss-test-web.build-test-results-tab&runId=4820832&resultId=107675&paneView=debug

Going to disable this temporarily to allow code to flow.

[2019-05-23 18:16] OliaG opened #1033 "Update doc winforms-designer.md"
Update Option 1, remove "Visual Studio does not allow it currently to create a new WinForms Core App from within Visual Studio" paragraph, etc.

[2019-05-23 20:34] #259 closed

[2019-05-23 23:13] zsd4yr commented on #892
* [ ] Font Name Editor
* [ ] Multiline String Editor

[2019-05-23 23:14] zsd4yr commented on #892
@JuditRose we will need to port Font Name Editor. Perhaps this is something @RussKie can take on since it is due by Preview 8

[2019-05-23 23:16] #888 closed

[2019-05-23 23:20] zsd4yr commented on #520
@albahari can you provide any more details on this working in IE11? We default to IE7. Does it work in that scenario?

What is your specific scenario?

[2019-05-23 23:22] zsd4yr commented on #254
@OliaG 🙏

[2019-05-23 23:22] zsd4yr commented on #254
related to #485

[2019-05-23 23:26] zsd4yr commented on #229
@Liminiens it's been awhile here; I am wondering exactly what your scenario is in order to determine a viable solution / replacement? Could you provide a little more information about your needs here?

[2019-05-23 23:27] zsd4yr commented on #229
@ericstj do you happen to know what the replacement for Assembly.GlobalAssemblyCache is?

[2019-05-23 23:33] zsd4yr commented on #182
dotnet/winforms-datavisualization#6

[2019-05-23 23:33] #182 closed

[2019-05-24 00:14] albahari commented on #520
I'm sorry, I don't have a setup old enough to run IE7. If I remove "content='IE=edge'", which tells IE to switch rendering engines, I see the same bug. I'm running Windows 10 with automatic updates enabled.

My specific scenario is porting LINQPad to .NET Core. It renders all output using a WebBrowser control. LINQPad exposes wrappers for HTML controls, so you can dump them to create interactive q

[2019-05-24 03:03] ericstj commented on #892
You may want to review all types that derive from UITypeEditor to determine if any others are missing.  https://docs.microsoft.com/en-us/dotnet/api/system.drawing.design.uitypeeditor?view=netframework-4.8

[2019-05-24 05:33] ericstj commented on #229
/cc @jeffschwMSFT
It looks like @hughbe
 fixed the GAC checking here: https://github.com/dotnet/winforms/commit/5e0710c9b943adf4b0b1ab1aa4d266791f81850b#diff-a2cbb3dd218c63ebe4e00266618b9ef5R828, but this still checks IsNetFrameworkPath: https://github.com/dotnet/winforms/blob/f3ae8f699f703645904e384e9ce16316f2ee23c6/src/System.Windows.Forms/src/System/Resources/ResXDataNode.cs#L791.

Since .NETCo

[2019-05-24 07:33] Vino-Wang opened #1036 "[Net Core][LOC]The ‘Misc’ component is not translated in local languages OS"
* .NET Core Version: 3.0.100-preview6-012067
* VS: Dev16 16.2 Preview 1 d16.2 28921.214
* OS: CHS RS3 X64
* Affected OS: CHS, CHT, CSY, DEU, ESN, FRA, ITA, JPN, KOR, PTB, RUS, TRK, PLK 13 languages

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The ‘Misc’ component text is not translated in local languages OS.

**Actual behavior:**
The ‘Msic’ component is

[2019-05-24 09:15] weltkante commented on #229
@ericstj

Might be related to VS usage of ITypeResolutionService, after a build the WinForms Designer will load the newly built version so maybe its referring to that, to avoid having cached the old version of the assembly.

[2019-05-24 09:25] vladimir-krestov commented on #932
@merriemcgaw
Initially the issue was fixed in PR #935 and can be checked in. But when working on the issue #1026 it was found that accessibility provider should be switched to UIA to completely address both issues. So at this moment the integrated fix for #932 and #1026 is implemented in #1027. At this moment this is under code review and test. Plan to check-in the fix at the beginning of next wee

[2019-05-24 11:05] Olina-Zhang commented on #934
@merriemcgaw, I don't know if this issue blocks the customer specific runtime scenario. It was found in our migrated RT core automation cases. If compile and run app from the command line, there is no warning and error. And just occur when debugging app in VS.

[2019-05-24 12:13] Lohnegrim commented on #974
@merriemcgaw it may not directly releated to winforms, but the whole support for the My-Namepsace is missing, and this includes the autogenerated My.MyProject.Forms Class that is often used to access a DefaultInstance of all the Forms in the Assembly.

[2019-05-24 13:56] hughbe opened #1038 "Setting Site to null in DesignerHost.ComponentRemoving throws NRE"
[code]

Should be a nop

[2019-05-24 14:53] hughbe opened #1040 "new ComponentDesigner().ParentComponent throws NRE"

[2019-05-24 14:58] hughbe opened #1041 "new ComponentDesigner().Initialize throws NRE"
Should be a nop

[2019-05-24 22:50] #937 closed

[2019-05-24 23:04] #373 closed

[2019-05-24 23:19] merriemcgaw commented on #117
We're going to hold off on doing anything with the current WebBrowser control for Core 3.0, and instead focus on getting the new Edge control supported in Core. That is the way forward and will be tracked as a new issue when the times comes. We will have something exciting to share in the coming months, so stay tuned.

[2019-05-24 23:27] merriemcgaw commented on #520
Have you tried [this page ](https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/general-info/ee330730(v=vs.85)) or [this page](https://stackoverflow.com/questions/38514184/how-can-i-get-the-webbrowser-control-to-show-modern-contents) to change the browser emulation mode of the WebBrowser control? The default emulation mode in WinForms for the control is IE7, w

[2019-05-24 23:30] merriemcgaw commented on #746
@okman523 it would also be helpful if you can provide us with the scenario you're trying to enable. We're going to need more information soon or we'll have to close the issue.

[2019-05-25 00:42] albahari commented on #520
merriemcgaw - yes, that's exactly what <meta http-equiv="X-UA-Compatible" content="IE=Edge" /> does. It's little use to me in IE7 mode.

[2019-05-26 16:20] hughbe opened #1045 "ComponentDesigner.PreFilterProperties throws NRE if props is null"
[code]

[2019-05-26 16:20] hughbe opened #1046 "ComponentDesigner.PreFilterProperties throws ICE if props["SettingsKey"] is not a PropertyDescriptor"
[code]

[2019-05-26 16:55] hughbe opened #1047 "ComponentDesigner.InvokeGetInheritanceAttribute(null) throws NRE should return null"
[code]

[2019-05-26 17:01] hughbe opened #1048 "CDDesignerCommandSet.GetGetCommands(null) throws NRE should work"
[code]

[2019-05-26 17:39] hughbe opened #1049 "ComponentDesigner.InheritanceAttribute throws NREs across the board if GetInheritanceAttribute returns null"
[code]

[2019-05-26 17:41] hughbe commented on #1049
Can also be overriden in a base class to return null

[2019-05-26 22:12] hughbe opened #1050 "ComponentDesigner.PostFilterAttributes(null) throws NRE"
[code]

[2019-05-26 22:42] hughbe opened #1051 "ComponentDesigner.PostFilterEvents(null) throws NRE"
[code]

[2019-05-26 22:43] hughbe opened #1052 "ComponentDesigner.PostFilterEvents(new Dictionary<object, object> { { "key", null } } ) throws NRE"
Should skip:
[code]

[2019-05-27 00:03] #369 closed

[2019-05-27 00:47] danmosemsft commented on #985
I think this is an issue in ImageConverter, which is in the dotnet/corefx repo. @Vino-Wang could you please close this and open an issue there?

@safern is this intentional? This line is missing from .NET Core, which is present in .NET Framework:
https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/ImageConverter.cs,40

[2019-05-27 00:49] RussKie commented on #985
I think the issue can be moved via Zendesk, I think I saw @merriemcgaw doing this.

[2019-05-27 12:47] vladimir-krestov opened #1054 "Accessibility: Programmatically sorted DataGridView does not expose the current sort order and column in ItemStatus property"
Ported bug 792776.
Steps to reproduce in simple WinForms test app:

1. Create a WinForms app with the DataGridView control with column that is configured to use programmatic sort.​
2. Sort the DataGridView by the column with programmatic sort method.​
3. Use the Inspect SDK tool to find the current sort order through UIA.​

**Result:** Sort column and order isn't exposed in ItemStatus property of

[2019-05-27 15:11] #215 closed

[2019-05-27 18:50] #1038 closed

[2019-05-28 21:42] hughbe opened #1059 "Fix ApiCompatBaseline.netcoreapp.txt"
Minimise the number of APIs missing. Some sort of tooling allowing false-negatives (i.e. APIs that actually do exist but are written in as not existing) to be notified would help!

[2019-05-28 22:47] miguep opened #1060 "Winforms apps crash when using clipboard APIs"
.NET Core Version: 3.0.100-preview6-012099

Windows version: Win10

Does the bug reproduce also in Winforms for .NET Framework 4.8?: No

Problem description:
Using some of the Clipboard APIs, throw exceptions and cause application crashes.
E.g.
Clipboard.SetData(DataFormats.UnicodeText, "abc");

Actual behavior:
Throws an ExecutionEngineException.

Expected behavior:
sets the data to the clipboard

[2019-05-29 06:20] Amy-Li02 opened #1061 "An exception pops up when using the method System.Diagnostics.Process.Start() in the .NET Core 3.0 winforms application"
* .NET Core Version: .NET Core 3.0.100-preview6-012101 from master branch
* Have you experienced this same bug with .NET Framework?: No

**Steps to Reproduce:**

1. Create a Winforms .Net Core application.
2. Write code to Form1.cs.
   System.Diagnostics.Process.Start("http://www.bing.com");
3. Build and run the application.

**Actual behavior:**
When debugging to _System.Diagnostics.Process.Start

[2019-05-29 06:34] RussKie commented on #1061
I'm guessing this is a CoreFx issue

[2019-05-29 06:42] Amy-Li02 commented on #1061
CoreFx exists the same issue: [Process Start fails with URL on .NET Core 3](https://github.com/dotnet/corefx/issues/33714), so close it.

[2019-05-29 06:42] #1061 closed

[2019-05-29 06:44] RussKie commented on #1061
Duplicate of dotnet/corefx#33714

[2019-05-29 08:33] lukaschal commented on #1036
Localized in a xlf file.

   <trans-unit id="PropertyCategoryMisc">
        <source>Misc</source>
        <target state="translated">杂项</target>
        <note />

https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/Resources/xlf/SR.zh-Hans.xlf

[2019-05-29 08:36] Jessie-Zhang01 commented on #1004
Verified in .Net Core SDK 3.0.100 Preview6 latest build 3.0.100.12103 from Master branch. This bug is fixed.
![image](https://user-images.githubusercontent.com/45864649/58542299-ea732800-822f-11e9-8bdf-90d8c8560deb.png)

[2019-05-29 09:04] Zheng-Li01 opened #1062 "An exception dialog appeared after calling the Clipbpard.SetImage() method"
**OS:** RS4 X64
**VS:** Visual Studio 2019 Version 16.2.0 Preview 1.0 [28921.214.d16.2]
**.NET SDK:** .NET Core 3.0 3.0.100-preview6-012102 from master branch
* Have you experienced this same bug with .NET Framework?: No

**More info:**
The issue also can reproduce when setting the image's format is "emf, gif, ico".

**Steps to Reproduce:**
1. Create a Winforms .Net Core application by command:
2.

[2019-05-29 09:27] Olina-Zhang opened #1063 "Sort glyph icon should be shown in DataGridView column header cell when programmatically sorted DataGridView"
* .NET Core Version: .NET Core 3.0 3.0.100-preview6-012102 from master branch
* Have you experienced this same bug with .NET Framework?: Yes

**Steps to Reproduce:**
1. Open this attached Core app, build and run it
[WindowsFormsApp6.zip](https://github.com/dotnet/winforms/files/3231665/WindowsFormsApp6.zip)
2. Click "SortColumn1" or "SortColumn2" button to sort left DataGridView, which Columns' So

[2019-05-29 09:30] #856 closed

[2019-05-29 10:16] Amy-Li02 opened #1064 "An exception pops up when using the method GetData(Type format) of IDataObject"
* .NET Core Version: .NET Core 3.0.100-preview6-012101 from master branch
* Have you experienced this same bug with .NET Framework?: No

**Minimal repro:**
1. Create a Winforms .Net Core application.
2. Write code to Form1.cs.
 IDataObject o = Clipboard.GetDataObject();
 string got = (String)o.GetData(typeof(String));
3. Build and run the application.

**Actual behavior:**
When debugging to _strin

[2019-05-29 10:32] Olina-Zhang commented on #934
@merriemcgaw @dreddy-work This issue cannot repro in .Net Core 3.0 3.0-100-preview6-012101 build from Master branch. We will track several builds for verification.

[2019-05-29 15:40] miguep commented on #1060
Looks like this has been fixed in dotnet/coreclr#24818.

[2019-05-29 17:14] Tanya-Solyanik commented on #1062
@Zheng-Li01  - could you please add a couple more details:
1. do you know if this had regressed recently?
2. could you please add a call stack for this exception(in "view details" link)

[2019-05-29 17:24] Tanya-Solyanik commented on #1064
@Amy-Li02  - Could you please add a couple details?
1. This used to work a while back, is this a regression in preview5?
2. Could you please provide the exception stack from the "view details" link?
3. does it matter if the clipboard is "clear'd" or actually has a string data?
4. do any clipboard formats work?

[2019-05-29 20:16] weltkante commented on #1062
@Tanya-Solyanik is probably a duplicate of #1060 which is fixed by dotnet/coreclr#24818

[2019-05-29 20:17] weltkante commented on #1064
@Tanya-Solyanik is probably a duplicate of #1060 which is fixed by dotnet/coreclr#24818

[2019-05-29 20:35] #776 closed

[2019-05-29 20:38] zsd4yr commented on #698
@hughbe @dreddy-work here is a _gist_ containing a copy of the NativeMethods from the private repo https://gist.github.com/zsd4yr/cbee82529a8bde0a6cbb11be80f84d7f

[2019-05-29 20:42] zsd4yr commented on #146
@kpreisser looks like a possible bug in the tool. According to the second screenshot, the Name property on ProgressBar should not be _focusable_, so the test should not fail. I would not worry about it for now.

Our other option is to provide a small wrapper around ProgressBar which supplies only the Name property to satisfy accessability requirements, and then use that new wrapped Progress Bar in

[2019-05-29 20:54] zsd4yr commented on #146
@kpreisser answers inline

**I like this.**

**I would stick with RTL actually, as this is what Windows Forms devs. probably expect to see, and I would personally rather elevate the windows issue so that they can get feedback than obfuscate it.**

**That seems like a righteous change to me.**

[2019-05-29 21:17] zsd4yr commented on #1007
Adding content from email thread:

[2019-05-29 23:41] merriemcgaw commented on #1064
@Amy-Li02 can you confirm this is good now and we can close this issue as a duplicate.

[2019-05-29 23:44] merriemcgaw commented on #1063
@Olina-Zhang Is this a regression from an earlier .NET Framework version, or have we always had an issue when users try to problematically set the sort?

[2019-05-29 23:51] RussKie commented on #459
@AdamYoblick @Tanya-Solyanik would love to hear your thoughts on the proposal

[2019-05-29 23:51] merriemcgaw commented on #1060
@Olina-Zhang can you confirm and close all the related issues?

[2019-05-30 01:47] Zheng-Li01 commented on #1064
Verified the issue with the latest .NET Core SDK 3.0.100.12121 -preview6 from master branch, the issue has been fixed. So closed it.

[2019-05-30 01:47] #1064 closed

[2019-05-30 01:48] Zheng-Li01 commented on #1062
Verified the issue with the latest .NET Core SDK 3.0.100.12121 -preview6 from master branch, the issue has been fixed. So closed it.

[2019-05-30 01:48] #1062 closed

[2019-05-30 02:21] DaZiYuan opened #1071 "Screen.AllScreens return different size"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

 Screen.AllScreens return different size between framework and netcore ,system DPI 125%

**Actual behavior:**

 net core
![image](https://user-images.githubusercontent.com/80653/58603529-b1849300-82c3-11e9-8afc-7dee8439d1f

[2019-05-30 05:03] DaZiYuan commented on #1071
https://github.com/dotnet/wpf/issues/334

[2019-05-30 05:03] #1071 closed

[2019-05-30 09:54] kpreisser commented on #146
Hi @zsd4yr,
thanks a lot for your reply!

I was able to avoid the error this by enumerating the child windows of the Task Dialog (after showing it) with `EnumChildWindows()`, finding the control with class name `msctls_progress32`, and then calling [`IAccPropServices::SetHwndPropStr()`](https://docs.microsoft.com/en-us/windows/desktop/api/oleacc/nf-oleacc-iaccpropservices-sethwndpropstr) as shown

[2019-05-30 12:36] kpreisser commented on #146
In the meantime, I did some improvements to the navigation handling in the code, to better represent the actual behavior of the native task dialog: When you start navigation by sending a `TDM_NAVIGATE_PAGE` message, the task dialog creates the new controls and posts a message to the message queue to finish navigation when the message loop continues.
However, the the old controls are still there wh

[2019-05-30 23:40] safern commented on #985
https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/ImageConverter.cs,40

No I don't think it is intentional, we just messed up when porting from framework into Drawing. Moving the issue into corefx and marking it as 3.0

[2019-05-30 23:44] safern commented on #985
Opened: https://github.com/dotnet/winforms/issues/985

[2019-05-31 02:29] Amy-Li02 opened #1076 "[Loc]The description text is not showing correctly in MultilineStringEditor drop down."
* .NET Core Version: 3.0.100-preview6-012122 from Master branch
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The description text is not showing correctly in MultilineStringEditor drop down.

Issues | Description | Affected language
-- | -- | --
Issue#1 | Description text is not showing in MultilineStringEditor drop down. | TRK, CSY, JPN,   FRA, KOR, PTB,

[2019-05-31 02:39] Olina-Zhang commented on #1076
According to the commit: https://github.com/dotnet/winforms/commit/023fd3dd300f9aacf7e481f42cdb04138ca18aac for testing, and found this issue.

[2019-05-31 03:08] Olina-Zhang commented on #1063
@merriemcgaw This is not a regression issue. Earlier .Net framework versions all have this issue when setting SortMode as Programmatic.

[2019-05-31 06:51] RussKie opened #1077 "The name 'fontFamily' and 'fontSize' do not exist in the current context"
* .NET Core Version:
[code]
* Have you experienced this same bug with .NET Framework?: **No**

**Problem description:**

I speculate, but it looks like a debugger visualiser for `Font` may be broken - it expect `familyFont` and `fontSize` which are absent.
I don't believe it is a WinForms issue per se, but I was unable to trace the source of the issue.

**Actual behavior:**

While testing #656 I o

[2019-05-31 07:28] weltkante commented on #1077
Font is in [corefx](https://github.com/dotnet/corefx/blob/master/src/System.Drawing.Common/src/System/Drawing/Font.cs) and got its variable names changed (they have a leading underscore now). Don't know where the visualizers for the Font class are defined though.

[2019-05-31 07:38] RussKie commented on #1077
I suspect as much

I have checked the code for [`Font`](https://github.com/dotnet/corefx/blob/6f92fcdf5c995df3f603801dab216bd2a36fae8b/src/System.Drawing.Common/src/System/Drawing/Font.cs) and couldn't see anything suspicious, hence my hunch for a problem in a visualiser.

[2019-05-31 14:08] weltkante opened #1079 "CommandSet warning suppression (Code Quality)"
`CommandSet` from System.Windows.Forms.Design has a [suspicious code fragment](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/CommandSet.cs#L224) which apparently does nothing and suppresses warnings so it doesn't show up during code review in VS.

[code]
The way this is written it does nothing (`parent` is always null regardless of w

[2019-05-31 14:12] sharwell commented on #1079
I'm not understanding how this is different from:

[code]

[2019-05-31 14:14] weltkante commented on #1079
While that might have been the original intention the self-assignment `parent = (IWin32Window)parent` instead of `parent = (IWin32Window)obj` means it doesn't do that. The warning suppression hides the bug.

[2019-05-31 17:02] #1040 closed

[2019-05-31 17:02] #1041 closed

[2019-05-31 17:02] #1045 closed

[2019-05-31 17:02] #1046 closed

[2019-05-31 17:02] #1047 closed

[2019-05-31 17:02] #1048 closed

[2019-05-31 17:02] #1049 closed

[2019-05-31 17:02] #1050 closed

[2019-05-31 17:02] #1051 closed

[2019-05-31 17:02] #1052 closed

[2019-05-31 18:42] #1054 closed

[2019-06-01 02:13] RussKie commented on #1079
In its current form the whole things can be replaced with `success = winEditor.EditComponent(obj, null);`, which probably isn't what the intention was...
🤔

/cc: @Tanya-Solyanik @dreddy-work

[2019-06-03 09:25] Zheng-Li01 opened #1084 "PropertyGrid: dropdown list is empty after expanding properties for the first time"
•	.NET Core Version: .NET Core 3.0.100-preview6-012162 from master branch
•	Have you experienced this same bug with .NET Framework?: No

**More info:**

1.	The issue also can reproduce on the latest .NET Core 3.0.100-preview6-12226 from release branch.
2.	The issue can’t reproduce on the .NET Core 3.0.100-preview6-12101 build from master branch.
3.	The issue also can reproduce on the all controls

[2019-06-03 11:19] SaravananAyyanar opened #1085 "Winforms-When added the option(button) in panel not shown the option with DPIAwaresness in 4.7.2 .NET framework"
**Describe the bug**
Control size and alignment is not proper in the panel with DPI awareness in 4.7.2 framework, but working fine in all other .NET frameworks.

[code]
**Sample**
[FrameWorkPanel.zip](https://github.com/dotnet/winforms/files/3250834/FrameWorkPanel.zip)

**Steps to reproduce the bug**
1.Run the Sample.
2.Click the button in the form.

**Observed**
Button is not properly added and a

[2019-06-03 22:30] #524 closed

[2019-06-03 22:42] jnm2 commented on #524
@dreddy-work

Should an issue be opened at https://github.com/dotnet/corefx/issues for this?

[2019-06-04 13:12] sharwell commented on #1079
Facepalm. I spent a good five minutes looking at that before and missed it. This time it was immediately obvious. Weird.

[2019-06-04 13:16] SaravananAyyanar commented on #1085
Any update on this?

[2019-06-04 14:47] leecow opened #1092 "Review and update THIRD-PARTY-NOTICES.TXT for 3.0"
Review and update repo THIRD-PARTY-NOTICES.TXT as appropriate. Work should be completed for Preview 7.

[2019-06-04 16:14] AdamYoblick opened #1093 "VisualStyle unit tests failing locally, passing in CI builds"
Tried looking into the issue, but it's failing in interop code and I'm not familiar enough with this to debug. Tagging @hughbe since he worked on this last. Hughbe did these work for you when you ran .\build -test locally? (note that these only fail in debug mode, not when specifying -configuration Release)

I'm going to comment out these tests since they are blocking local development and we can

[2019-06-04 19:25] AdamYoblick commented on #1093
@hughbe here's some more info from @JeremyKuhne , our interop expert:

Yes, there is a pretty bad bug in the code. When passing a StringBuilder to a P/Invoke the length is set before the first null. Converting a span to a string converts the entire char array. So every string coming back in this change is 512 characters long.

https://github.com/dotnet/winforms/pull/1012/files#diff-1fabe581057676e

[2019-06-04 19:34] AdamYoblick commented on #1093
Tagging @RussKie for visibility :)

[2019-06-05 04:14] RussKie commented on #1085
This repo is a port of WinForms to .NET Core.
[Issues with .NET Framework, including WinForms, should be filed on VS developer community, or Product Support.](https://github.com/dotnet/winforms#net-framework-issues)

[2019-06-05 04:14] #1085 closed

[2019-06-05 07:58] Judy-Gao commented on #985
Verified in .Net Core SDK 3.0.100 Preview7 latest build 3.0.100.12261 from Master branch. This bug is fixed. So closed the bug.
![985-fixed](https://user-images.githubusercontent.com/49627041/58939859-ad1c1680-87aa-11e9-8c18-c784455fd5a5.PNG)

[2019-06-05 07:58] #985 closed

[2019-06-05 09:30] Olina-Zhang commented on #934
Verified several builds, all cannot repro. Closing this issue.

[2019-06-05 09:30] #934 closed

[2019-06-05 11:42] Zheng-Li01 opened #1098 "The CellParsing event of the datagridview can't be invoked when changing the value of the cell firstly"
* .NET Core Version: (3.0.100-preview6-12253 from release branch)
* Have you experienced this same bug with .NET Framework?: No

**More info:**
The issue also can reproduce on the 3.0.100-preview7-12261 from master branch.

**Repro Steps:**

1.	Build and run the attached application.
[test1.zip](https://github.com/dotnet/winforms/files/3256911/test1.zip)
2.	Try to change the first cell value from

[2019-06-05 16:31] zsd4yr commented on #1084
@Zheng-Li01 is this happening with ForeColor as well or only BackColor? Is this happening for the BackColor of many contols or just a few?

@M-Lipin and @vladimir-krestov do you think any of your recent accessibility work could have impacted this?

@hughbe I don't think you've touched any of this, but can you take a look at this as well to see if I'm mistaken?

[2019-06-05 16:33] zsd4yr commented on #1098
@Zheng-Li01 is this a regression of .NET Core from the Framework or a regression within .NET Core only?

[2019-06-05 23:59] merriemcgaw commented on #1084
@dreddy-work can you see if all of the color editor has been fully ported and if something else obvious needs to be done here? We're missing a lot of functionality.
Or, could this be a side effect of HPDI work that wasn't ported?

[2019-06-06 00:01] zsd4yr opened #1101 "Support Inherited Form item or Inherited User Control items"
OS: RS4 + .Net 4.8 03239.00

Steps to reproduce:

1. Install .NET Core 3.0 SDK alpha available in the dotnet/code-sdk repo.
2. Create a new WinForms .NET Core 3.0 app using the CML:
[code]
3. Open the .csproj file from the app folder using Visual Studio.
4. Build the app, then add the Inherited Form/Inherited User Control items to the project.

Actual:
An error pops up, click OK then the warning d

[2019-06-06 00:01] merriemcgaw commented on #1060
@Olina-Zhang can you test this scenario out?

[2019-06-06 00:02] zsd4yr commented on #1101
Are new templates necessary for this? @jmarolf

[2019-06-06 00:03] merriemcgaw commented on #1007
@dreddy-work please submit this PR when you can

[2019-06-06 01:19] RussKie opened #1102 "Review: correctness of VS visualizers"
As it was discovered in https://github.com/dotnet/corefx/issues/38130 a number of type visualizers are defined in VS repo instead of near types.

We need to review correctness of definitions for WinForms types:
[code]

https://devdiv.visualstudio.com/DevDiv/_git/VS?path=%2Fsrc%2Fcsharp%2Fautoexp%2Fautoexp.cs&version=GBmaster&line=58&lineStyle=plain&lineEnd=91&lineStartColumn=1&lineEndColumn=122

F

[2019-06-06 01:24] Zheng-Li01 commented on #1084
@zsd4yr , the is not only happening with ForeColor, but also happening with BackColor, Dock etc. including  all controls which have the related “dropdown” property.

[2019-06-06 02:02] Zheng-Li01 commented on #1098
@zsd4yr, the issue is not a regression from the Framework, which is a regression within .NET Core only,
The issue also can reproduce on the .NET Core SDK 3.0.100-preview6-01226 from release branch and 3.0.100-preview6-012162 from master branch, but the issue can't reproduce on the .NET Core SDK 3.0.100-preview6-012101 build from master branch.

[2019-06-06 07:43] Olina-Zhang commented on #1060
Verified in  .Net Core SDK 3.0.100 Preview6 3.0.100.12258 build, this issue has been fixed. Closing it.

[2019-06-06 07:43] #1060 closed

[2019-06-06 07:49] weltkante commented on #1102
Any reason why .NET Core doesn't bring their own visualizers in the assembly the type is defined in? Would help with future refactorings running out of sync again.

[2019-06-06 10:24] chucklu commented on #147
@Zonciu  Thanks for your temporary solution.

[2019-06-06 11:31] RussKie commented on #1102
It certainly would help and solve the issue.
I believe it is under investigation by the relevant team to determine whether this would in fact work.

[2019-06-06 17:37] AdamYoblick opened #1104 "Flaky Test: BindingContext_KeyEquals_Invoke_ReturnsExpected"
BindingContextTests.cs

[2019-06-06 18:02] corranrogue9 opened #8820 "Image.FromStream can throw undocumented exceptions"
The [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.image.fromstream?view=netcore-2.2) for ```Image.FromStream``` indicates that an ArgumentException can be thrown if the provided image is not of a supported format. However, on Windows, it can also throw InvalidOperationException, ExternalException, FileNotFoundException, etc. as per the [StatusException](https://github.

[2019-06-07 06:09] RussKie opened #1106 "FontNameEditor rendering artifact - *just* the blue box"
**Problem description:**

`FontNameEditor` font preview is showing less characters.
For example on the below screenshots:

| Font | .NET 4.7.2 | .NET Core 3.0 |
|---|---|---|
| Arial Black | ab | a |
| Forte | abc | ab |
| Lucida Handwriting | ab | a |

**Actual behavior:**

| .NET 4.7.2 | .NET Core 3.0 |
|---|---|
| ![image](https://user-images.githubusercontent.com/4403806/59082950-a6bba500-8938

[2019-06-07 06:09] RussKie commented on #1106
@KlausLoeffelmann / @dreddy-work  - what do you think?

[2019-06-07 07:51] weltkante commented on #1106
Seeing the screenshots I also notice the property grid row heights differ between the two versions. Does the new default font have a different size? If so thats a really unfortunate breaking change because many Form layouts will suddenly be different. Since WinForms often uses hand placed pixel based control layout this has the potential of breaking a lot of migrated forms.

[2019-06-07 08:01] KlausLoeffelmann commented on #1106
A wild guess: The font spacing in the classic framework dialog in general is different and reminds me of the old GDI+ rendering. Are we using GDI in core, and GDI+ in classic framework, so are the `UseCompatibleTextRendering` settings different at one point? I, btw, would prefer Core rendering, since it seems crisper, even if it changes layouts bounderies slightly. There will be many changes neces

[2019-06-07 08:04] RussKie commented on #1106
Do we want to reduce the `fontSize` value to display more characters in the bluish box?

[2019-06-07 08:05] RussKie commented on #1106
I'm assigning to get people's attention. Once questions answered, we can reassign.

[2019-06-07 08:07] KlausLoeffelmann commented on #1106
Calling them out in posts will probably suffice. :smile:

[2019-06-07 08:11] KlausLoeffelmann commented on #1106
Oh, I just saw you meant _just_ the box. Well, that would work for me!

[2019-06-07 08:12] RussKie commented on #1106
😄 Yes, **just** the blue box.

[2019-06-07 11:52] hughbe opened #1107 "Enable nullability across winforms"
Once CoreFx and CoreCLR fully support nullability it would be great to do this in winforms

Probably a large project...

[2019-06-07 20:52] madewokherd opened #1109 "TextBox.Text accessed when handle is not being created"
* .NET Core Version: N/A

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Due to the addition of the PlaceholderText attribute, the virtual TextBox.Text property is read when handling WM_PAINT.  VMWare infrastructure client, which was designed for .NET 4.x, expects that TextBox.Text is read only when creating the handle for the control. When running with cu

[2019-06-07 23:43] zsd4yr commented on #1098
@danmosemsft could this be a regression lower in the stack? I feel like we just send these kinds of things downlevel to validate, but I could be wrong. @merriemcgaw, ideas?

[2019-06-08 07:49] weltkante commented on #1109
I don't think you can generalize this expectation, client code could easily want to read/write the Text property in the Form constructor before any handles are created.

Being able to read/write the Text before creation is part of the base class features (we definitely use that in our application), as such this particular implementation is not a general purpose TextBox and only works in the first

[2019-06-08 08:07] weltkante opened #1110 "PlaceholderText not virtual"
While commenting #1109 I noticed that `TextBox.PlaceholderText` [is not virtual](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/TextBox.cs#L909). Is this intentional or an oversight? Other properties like `Text` are virtual, presumably to allow subclasses customization control. Making `PlaceholderText` not virtual means subclasses can't "turn off"

[2019-06-10 04:24] RussKie opened #1113 "Possible layout issues after Control.Defaultfont changes"
**Problem description:**

As a result of the `Control.Defaultfont` changes introduced in #656 we *may* have a possible breaking experience for customer who had pixel-perfect layouts.

**Actual behavior:**

| .NET 4.7.2 | .NET Core 3.0 |
|---|---|
| ![image](https://user-images.githubusercontent.com/4403806/59082950-a6bba500-8938-11e9-8d07-cdae09a5e24b.png) |  ![image](https://user-images.githubuse

[2019-06-10 04:31] albahari commented on #520
Please let me know what extra information you need. I have provided a full repro, which I believe stands.

[2019-06-10 04:54] Tanya-Solyanik commented on #1106
Could you please find out if this regression is caused by the default font change? Is the blue box the same size on both FXs? Did the sample font  size change between the FXs?
If other sizes might be broken as well, we have to triage if the root cause PR should be reverted. You could compare blue box and gridentry box sizes using winspy

[2019-06-10 20:46] MarkBQE commented on #1085
This is an issue with high dpi for  .Net Core 3.0 Winforms as well.

[2019-06-11 05:19] #1079 closed

[2019-06-11 05:40] RussKie commented on #892
Both missing editors have been ported:
* https://github.com/dotnet/winforms/blob/8ab5acfadacb7962dfba401b7f1422fe4cd22712/src/System.Windows.Forms.Design.Editors/src/System/Drawing/Design/FontNameEditor.cs
* https://github.com/dotnet/winforms/blob/f38a7a167d8f83924d43f8d2d8f2b03034351eb7/src/System.Windows.Forms.Design.Editors/src/System/ComponentModel/Design/MultilineStringEditor.cs

We'll review

[2019-06-11 05:40] #892 closed

[2019-06-11 05:44] RussKie opened #1115 "Review: all editors derived from UITypeEditor ported"
As suggested in https://github.com/dotnet/winforms/issues/892#issuecomment-495455585 review whether [all editors derived from `UITypeEditor`](https://docs.microsoft.com/en-us/dotnet/api/system.drawing.design.uitypeeditor?view=netframework-4.8) have been ported:

### Remaining: If there is a customer demand we can port these, but if not we can postpone or skip them.
* [x] ~**ColumnHeaderCollectionE

[2019-06-11 05:52] RussKie commented on #1102
FWIW, the VS priority isn't changing anytime soon.

[2019-06-11 07:15] RussKie commented on #1102
@r-ramesh / @ericstj I've gone through our definitions and it looks like a few got outdated and need changing as follows:

[code]

What's the best way to proceed with this?

[2019-06-11 17:49] ericstj commented on #1102
Looks like this one is still using private `type`, looks like that could be `Type`.

Open a PR in VS.  Here's @danmosemsft's PR as a template to follow: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/185456?_a=overview

[2019-06-11 17:50] ericstj commented on #1102
/cc @r-ramesh

[2019-06-11 23:20] RussKie commented on #1102
Thank you 👍

[2019-06-12 00:05] RussKie commented on #1102
PR raised: https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/186044?_a=overview

[2019-06-12 04:26] RussKie commented on #1115
@merriemcgaw need your help with prioritisation.

I think we only need to port these:
* **BinaryEditor** System.ComponentModel.Design, System.Design.dll
*  **ContentAlignmentEditor** System.Drawing.Design, System.Drawing.Design.dll
*  **DateTimeEditor** System.ComponentModel.Design, System.Design.dll
*  **IconEditor** System.Drawing.Design, System.Drawing.Design.dll

The web and messaging are outs

[2019-06-12 06:59] RussKie opened #1118 "PropertyGrid: different order for Font properties"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

![image](https://user-images.githubusercontent.com/4403806/59329728-f207f600-8d32-11e9-81f3-80cd6c2ae893.png)

**Expected behavior:**

The order should be the same as in .NET Fx

**Minimal repro:**

* build and launch WinF

[2019-06-12 07:58] RussKie opened #1119 "PropertyGrid: images are not rendered / ImageEditor not working?"
**Problem description:**

![image](https://user-images.githubusercontent.com/4403806/59333395-92621880-8d3b-11e9-9d2f-228d5f6be70d.png)

**Expected behavior:**

The rendering should be the same as in .NET Fx

**Minimal repro:**

* build and launch WinFormsControlsClassicTests and WinformsControlsTest
* click `FontNameEditor` button in both and align opened windows side-by-side
* expand any of Font

[2019-06-12 08:03] RussKie opened #1120 "PropertyGrid: colors are not rendered / ColorEditor not working?"
**Problem description:**

![image](https://user-images.githubusercontent.com/4403806/59333203-2da6be00-8d3b-11e9-9a39-368bf67df39c.png)
![image](https://user-images.githubusercontent.com/4403806/59333754-5bd8cd80-8d3c-11e9-875d-99fbe68a523f.png)

**Expected behavior:**

The rendering should be the same as in .NET Fx

**Minimal repro:**

* build and launch WinFormsControlsClassicTests and WinformsC

[2019-06-12 08:09] RussKie opened #1121 "PropertyGrid: FontEditor not working?"
**Problem description:**

![image](https://user-images.githubusercontent.com/4403806/59334140-254f8280-8d3d-11e9-8f6d-535cd614e636.png)

**Expected behavior:**

The rendering should be the same as in .NET Fx

**Minimal repro:**

* build and launch WinFormsControlsClassicTests and WinformsControlsTest
* click `FontNameEditor` button in both and align opened windows side-by-side
* expand any of Font

[2019-06-12 09:45] Olina-Zhang opened #1122 "Font size of Form and controls are changed a little bigger by default"
* .NET Core Version: .Net Core 3.0 Preview7 3.0.100.12367 build from master branch
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
1.	Create 2 apps, one is  a .Net Core Winforms app and another is a .Net framework Winforms app, which have same designer code with some controls added.
[FrameworkApp.zip](https://github.com/dotnet/winforms/files/3280698/Framewor

[2019-06-12 10:05] Zheng-Li01 opened #1123 "Winforms controls diaplay as V5 mode for Visual Basic project in runtime"
* .NET Core Version: .Net Core 3.0 Preview7 3.0.100.12367 build from master branch
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

1. Create a Winforms .Net Core VB application with some controls
2.  Build and run it

**Actual behavior:
Winforms controls in Core VB app display as V5 mode in runtime
![Actual](https://user-images.githubusercontent.com/3832545

[2019-06-12 19:15] merriemcgaw commented on #1122
I believe these should now be different because of the new default font work in #656 that was recently merged. We had to do this before we shipped our Go-Live so that customers would adjust their apps if needed based on this new more modern default.

[2019-06-12 23:25] merriemcgaw commented on #1123
@Zheng-Li01 is this a regression from a previous build? I don't think we've done anything new.

[2019-06-12 23:28] merriemcgaw commented on #1122
We're going to close this as by design due to #656

[2019-06-12 23:28] #1122 closed

[2019-06-12 23:36] merriemcgaw commented on #1113
Yep, we felt that this was the only chance we would have to modernize the default font. So this is by design, and a customer can set their Form's default font to whatever they want. We use the default font only when they haven't set anything at all.

[2019-06-12 23:36] #1113 closed

[2019-06-12 23:43] merriemcgaw commented on #1115
As much as I'd like this, I think we'll prioritize this a little lower and add these if/when we get customer requests for these editors. So I won't close this, but I'll punt it to future. I expect we will want them but I won't block 3.0 on it.

[2019-06-12 23:47] merriemcgaw commented on #1110
@stefanov-stefan was this an oversight in your work on #96? Would be nice if we can make it consistent.

[2019-06-12 23:52] merriemcgaw commented on #1109
@stefanov-stefan do you want to take a look into this issue, or hand off to one of us?

[2019-06-12 23:53] merriemcgaw commented on #1107
Got a few things on the priority list, but we can consider adding this to the roadmap. @OliaG for Roadmap thoughts.

[2019-06-12 23:55] merriemcgaw commented on #1106
We're going to take a fix here. It looks like it happens both in Framework and in Core and per @RussKie the implementation looks like just a line being added, with no particular purpose.

[2019-06-12 23:57] merriemcgaw commented on #1104
This is flaky in CI builds. @hughbe do you want to take a look?

[2019-06-13 00:13] merriemcgaw commented on #1102
@Olina-Zhang could you verify that this doesn't change behavior in the Framework scenarios. @RussKie will provide you the PR build and scenario

[2019-06-13 00:17] merriemcgaw commented on #1076
@zsd4yr Do you know what the loc status is for WinForms resources

[2019-06-13 01:37] dreddy-work commented on #1123
Please also check if Application.EnableVisualStyles is set or what was its default vaalue between classic framework and core.

[2019-06-13 06:15] Zheng-Li01 commented on #1123
@merriemcgaw, This is not a regression issue, verified with .Net Core SDK 3.0 preview 5 & preview 6 from release branch, the issue still can reproduce. As for the Preview 3 & Preview 4,  the Windows Forms (WinForms) Application [VB] is not listed in the cmd window after running the command “dotnet new  -l”, However the Windows Forms App [VB] (.NET Core) template is appearing in Visual Studio but w

[2019-06-13 13:13] ericstj commented on #1102
You can actually test by copy pasting that code into a an app, then making that app initialize locals for every type in the list.  The app is preferred over autoexp.  You can make your app cross-target for net472 and netcoreapp3.0 and examine local window in debugger.

This is how I tested @danmosemsft’s fix.

[2019-06-13 20:17] kpreisser commented on #146
I have implemented these changes now and updated the API proposal (unifying properties `Icon`+`IconHandle` into a single `Icon` property by using subclasses of `TaskDialogIcon` to differentiate between icon types (see https://github.com/dotnet/winforms/issues/146#issuecomment-467032370), and moving `DoNotSetForeground` from `TaskDialogPage` to `TaskDialog`). Additionally, I renamed `TaskDialogComm