[2019-08-22 12:42] RussKie commented on #1582
Thank you @Jessie-Zhang01

[2019-08-22 14:32] davkean opened #1678 "Windows Forms VB project template should have implicit imports instead of explict"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

Unlike the VB Console App and WPF App, the Windows Forms template has some (but not all) "explicit" imports. These should be moved to the Windows Desktop SDK similar to the rest of the imports to keep the project file smal

[2019-08-22 19:26] RussKie commented on #1631
@JeremyKuhne @Tanya-Solyanik  can you think of any implications if we remove the following check?
https://github.com/dotnet/winforms/blob/d98947638f53765c79a2436cce2d9445e865a331/src/System.Windows.Forms/src/System/Windows/Forms/RichTextBox.cs#L3498-L3501

I have run few tests with few different rtfs and everything seemed to work.

This check was presumably added in response to "VSWhidbey 504502"

[2019-08-23 08:05] vladimir-krestov opened #1680 "[Keyboard][Accessibility]: WinForm DataGridView's CellErrorTextNeeded tooltip data isn't accessible to customers only using the keyboard"
* .NET Core Version: 3.0.100-preview9-013722
* Have you experienced this same bug with .NET Framework?: Yes

**Original bug:**
- [Bug 528682:](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/528682) Accessibility: WinForm DataGridView's CellErrorTextNeeded tooltip data isn't accessible to customers only using the keyboard

**Problem description:**
- A user can't get a tooltip text or toolti

[2019-08-24 10:52] RussKie commented on #1548
Here's where it is failing
![image](https://user-images.githubusercontent.com/4403806/63635236-25d39600-c669-11e9-8d3c-fcb9e5c0ffcf.png)

It looks like `PlatformNotSupportedException` exception is thrown down in the stack (by CoreFx or CoreClr), but there is insufficient information to dig deeper... 😕
@ericstj @danmosemsft  @JeremyKuhne any pointers?

I haven't setup either CoreFx or CoreClr... ye

[2019-08-24 11:15] weltkante commented on #1548
Erm, above I have linked issue #242 which has the analysis.

WinForms needs to stop calling `Delegate.BeginInvoke` because thats not supported on .NET Core. #242 has a [link](https://devblogs.microsoft.com/dotnet/migrating-delegate-begininvoke-calls-for-net-core/) how to replace Delegate.BeginInvoke in .NET Core applications.

[2019-08-26 10:29] Wraith2 commented on #48
I think you need @AaronRobinsonMSFT or @jkoritzinsky who are the area owners on that. There's at least one place in corefx that the obsolete on Sarearray has been removed so this one may also be possible to remove.

[2019-08-26 10:50] vladimir-krestov opened #1691 "[Accessibility]: The AccessibleName property of a ToolStripComboBox edit element is null."
* .NET Core Version: 3.0.100-rc1-014015
* Have you experienced this same bug with .NET Framework?: Yes

**Original bug:**
- [Bug 956710:](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/956710) ToolbarStripContainer: (CoreTesting/edit '') The Name property of a focusable element must not be null.

**Problem description:**
- ToolStripComboBox edit element has an incorrect AccessibleName prop

[2019-08-26 13:16] RussKie commented on #48
For the general interest, these type are (no longer) marked as obsolete in .NET Core v3-P9.
https://github.com/dotnet/corefx/blob/master/src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs#L958-L964

[2019-08-26 15:03] RussKie commented on #1548
Thank you @weltkante 👍

[2019-08-26 15:55] FabianMaurerRedheads opened #1695 "DateTimePicker not updating Value sometimes"
Example Code:

[code]

Try changing the date, there is no messagebox.

However, when exchanging the two lines
[code]
it suddenly works.

[2019-08-26 16:15] weltkante commented on #1695
There are a bunch of similar bugs where events aren't fired when initialization happens in a certain order, this was fixed in PR #1661 (preview 9), I'd guess this is probably related.

Unfortunately I don't know where to obtain preview 9, [nightly builds](https://github.com/dotnet/core/blob/master/daily-builds.md) seem to be already built against the 5.0 master branch even though the page and down

[2019-08-26 16:43] RussKie commented on #1695
A Preview9 build has been just published on our internal feeds, so won't be too long before the build is available to the general public.

You can also pull and try release/3.0-preview9 branch to see if the issue is still repros.

[2019-08-26 22:22] KathleenDollard opened #1698 "Remove VB WinForms templates from .NET Core 3.0"
Remove VB WinForms templates because .NET Core 3.0 has limited support for Visual Basic.NET WinForms and it is not currently possible to build apps in the Visual Basic.NET WinForms style (ApplicationBase classes are not available at this time).

[2019-08-27 07:41] Vino-Wang commented on #1084
Verified with latest .NET Core 3.0 Preview 9 3.0.100.14004 build, it’s not reproduced for now.

[2019-08-27 08:07] John-Qiao commented on #1542
Verified in .NET Core 3.0.100-preview9-014004, issue has been fixed.

![image](https://user-images.githubusercontent.com/45864985/63752976-c681ba00-c8e4-11e9-91c2-334d69ecf7a5.png)

[2019-08-27 08:13] John-Qiao commented on #1470
Verified in .NET Core 3.0.100-preview9-014004, issue has been fixed.

![TR1](https://user-images.githubusercontent.com/45864985/63753415-9edf2180-c8e5-11e9-877d-f8286f28b5a7.png)

[2019-08-27 08:35] John-Qiao commented on #1414
Verified in .NET Core 3.0.100-preview9-014004, issue has been fixed.

![TR2](https://user-images.githubusercontent.com/45864985/63755158-a653fa00-c8e8-11e9-8091-95547d3fd07c.png)

[2019-08-27 10:01] Zheng-Li01 commented on #1311
Verified with latest .NET Core 3.0 Preview 9 3.0.100.14004 build, it’s not reproduced for now.

[2019-08-27 10:01] Zheng-Li01 commented on #1607
Verified with latest .NET Core 3.0 Preview 9 3.0.100.14004 build, it’s not reproduced for now.

[2019-08-27 10:12] Marie-Shi commented on #1644
Verified this bug with .Net Core 3.0.100-preview9-014004 from release branch, this bug is fixed, please see the below screenshot:
![LinkEvent](https://user-images.githubusercontent.com/45864017/63762844-1fa61980-c8f6-11e9-850b-5e35bc537e15.PNG)
![LinkEvent1](https://user-images.githubusercontent.com/45864017/63762848-22087380-c8f6-11e9-8c01-97deed2399ab.PNG)

[2019-08-27 10:15] RussKie commented on #1644
Thank you!

[2019-08-27 10:16] RussKie commented on #1607
Thank you!

[2019-08-27 10:17] RussKie commented on #1311
Thank you!

[2019-08-27 10:31] RussKie commented on #1414
Thank you!

[2019-08-27 10:34] RussKie commented on #1470
Thank you!

[2019-08-27 10:35] RussKie commented on #1542
Thank you!

[2019-08-27 12:57] M-Lipin opened #1703 "Accessibility: DataGridView cell of type ComboBox must support the ExpandCollapse pattern"
DataGridView ComboBoxCell has ComboBox control type. UI elements which have ComboBox control type in corresponding accessibility property should provide ExpandCollapse pattern and all related functionality.

DevDiv issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/956708

[2019-08-27 14:24] RussKie commented on #1084
Awesome! Thank you

[2019-08-27 14:24] #1084 closed

[2019-08-27 14:48] RussKie commented on #1698
/cc: @cston

I suppose https://github.com/dotnet/winforms/pull/1675 will now be targeting 5.0

[2019-08-27 17:03] M-Lipin opened #1705 "Accessibility: PropertyGridView should support Table and Grid accessibility patterns"
PropertyGridView element of the PropertyGrid control has Table control type (control type accessibility property) but does not provide Table and Grid accessibility patterns and related properties (information about rows, columns and so on).

[2019-08-28 14:43] Joelius300 opened #1712 "Enable lazy loading for tree view"
Will there ever be support for lazy loading in `TreeView`?

I have tried to implement it myself by extending `TreeNode` but I wasn't successful because `Nodes` isn't marked as `virtual`. I'm no expert so I don't want to say anything wrong but wouldn't this be a rather small change?
The backing field would be null if the nodes aren't loaded yet and on the first access you could execute the passed i

[2019-08-28 15:05] mikedn commented on #1712
Traditionally this is done by adding a dummy child node to folder nodes and then replacing it with actual nodes in the `BeforeExpand` event. It may not be the most elegant way to do this but it works pretty well in practice and AFAIR the underlying Win32 TreeView control doesn't have any kind of lazy loading functionality, apart perhaps from retrieving the node text/image on the fly.

[2019-08-28 15:22] weltkante commented on #1712
@Joelius300: WinForms is only a wrapper around native win32 controls, in most cases WinForms does not implement the control itself. As such improvements are very limited, short of rewriting the entire control.

Setting @mikedn s answer a bit in relation, having an event which fires when the node is expanded but before its children are evaluated is pretty much all that is to virtualization or lazy

[2019-08-28 15:26] mikedn commented on #1712
Of course, after the explorer itself uses the same Win32 TreeView control :smile:

[2019-08-28 16:13] Joelius300 commented on #1712
Thank you, I think that's enough information. I knew about doing it manually and I didn't think about the underlying implementation so that's solved :)

I'll close the issue and implement it with the event.

[2019-08-28 16:13] #1712 closed

[2019-08-29 09:48] hughbe commented on #448
I think this can be closed now? We don't have any SuppressMessages anymore

[2019-08-29 09:49] hughbe commented on #714
ComponentDesigner tests also. I think this can be closed now

[2019-08-29 23:56] ChrisSires opened #1726 "ListView headers are not keyboard-accessible"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No
.Net Framework 4.7.2

**Problem description:**
The ListView control contains column headers that can be clicked in order to perform sort actions on its contents.  There is currently no way to navigate through those column headers using a keyboard, n

[2019-08-30 17:31] AdamYoblick opened #1734 "Sourcelink validation step is failing"
Please see https://dnceng.visualstudio.com/internal/_build/results?buildId=332276

Related to https://github.com/dotnet/core-eng/issues/7568

[2019-08-30 17:31] AdamYoblick commented on #1734
/cc @RussKie

[2019-09-03 01:21] wjk opened #1744 "WinForms designer throws InvalidCastException on save"
* .NET Core Version: 3.0.100-preview9-013709
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

When I put a control on a form in the VS Windows Forms designer and try to save the file, I get a dialog saying "The specified cast is not valid". I cannot successfully save any form with a control on it, ever. Due to #147, this only applies to the .NET Framework v

[2019-09-03 06:32] kirsan31 commented on #1744
Yea, was reported [here](https://github.com/dotnet/winforms/issues/147#issuecomment-520120591), but no answer...

[2019-09-03 07:58] RussKie commented on #1744
How do you retarget?

[2019-09-03 08:01] kirsan31 commented on #1744
@RussKie
As was mentioned [here](https://github.com/dotnet/winforms/issues/147#issuecomment-520164079), I did it exactly as in [Option 1](https://github.com/dotnet/winforms/blob/master/Documentation/winforms-designer.md).

[2019-09-03 08:06] RussKie commented on #1744
Do you have a resx file?

[2019-09-03 08:11] RussKie commented on #1744
I just followed the Option 1, and our docs were outdated - we have removed a default resx from the template in Preview9. A resx is generated by the designer after a first design change.

To fix your issue you only need to add the following to the csproj file:
[code]

I have updated the docs.

[2019-09-03 08:13] #1744 closed

[2019-09-03 08:13] kirsan31 commented on #1744
Yes, and I have done 3. this step (_Add for any and every form file you have in this ItemGroup_).
Same error with or without step 3.

------Upd------
Will try without _resx_...

[2019-09-03 08:18] kirsan31 commented on #1744
@RussKie

Dose it mean that this workaround will work only in Preview9?

[2019-09-03 08:21] RussKie commented on #1744
It should work for earliers too, but I don't have them available to test.

[2019-09-03 08:25] kirsan31 commented on #1744
Not working (with or without _resx_) with Preview7 and VS 16.2.3.
![image](https://user-images.githubusercontent.com/17767561/64156369-4d7ee700-ce3d-11e9-9fa0-fa0cb5228a10.png)

[2019-09-03 08:55] RussKie commented on #1744
I followed the steps in the guide:
![designe-resx](https://user-images.githubusercontent.com/4403806/64157356-435de800-ce3f-11e9-993c-133622e6c088.gif)

I further discovered that adding each form isn't necessary (at least not in Preview9):
![designe-resx2](https://user-images.githubusercontent.com/4403806/64158514-4b1e8c00-ce41-11e9-80b4-71b66bc811ec.gif)

NB: you will have to restart the IDE if m

[2019-09-03 09:10] kirsan31 commented on #1744
@RussKie
It's good news.  What VS version you using? it's 100% not working (new project from scratch as in your post) on 16.2.3 and Preview7.
Overall, I think we need to wait until Preview9 released...

[2019-09-03 09:13] weltkante commented on #1744
@kirsan31 you can install a [nightly build](https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries) if you don't want to wait

[2019-09-03 09:32] RussKie commented on #1744
Thank you Tobias, I was looking for that link 👍

[2019-09-03 14:05] RussKie commented on #889
docs - https://github.com/dotnet/docs/issues/14175

[2019-09-03 16:09] M-Lipin opened #1746 "Accessibility: Screen reader is not announcing change in expanded/collapsed state of PropertyGrid Category item"
*Repro steps:*
1. Create and launch .NET Core WinForms application project with PropertyGrid control with properties bound to some object/control.
2. Start Screenreader.
3. Navigate till any Category and hit enter to change its expanded/collapsed state.

*Actual:*
When navigated to any Category inside table for example, Accessibility & it is in expanded state then Narrator will announce it as expa

[2019-09-04 14:13] RussKie opened #1756 "`PictureBox` to use `HttpClient` instead of using `WebRequest`"
* .NET Core Version: 3.0

**Problem description:**

`PictureBox` uses an instance of `WebRequest` to load images.
It needs to be replaces with a cached instance of `HttpClient` as suggest in https://github.com/dotnet/winforms/pull/1696#discussion_r320565246

**Expected behavior:**

**Minimal repro:**

https://github.com/dotnet/winforms/blob/release/3.0/src/System.Windows.Forms/src/System/Windows/F

[2019-09-04 15:06] hughbe commented on #1093
Why would this throw `InvalidProgramException`? I'd expect an AV or no crash!

[2019-09-04 18:06] MatthewBeardmore commented on #1597
Thanks for investigating this further!

[2019-09-04 20:27] #1631 closed

[2019-09-04 20:28] #1548 closed

[2019-09-04 20:29] #1421 closed

[2019-09-04 20:31] #839 closed

[2019-09-04 23:45] JeremyKuhne opened #1763 "Need to flesh out Office/VS integration scenarios"
#1565 cleans up the `IMsoComponent` OLE related code, but we don't have a clear understanding of the expected interop scenarios with Office and VS with WinForms on .NET Core.

We need to clearly answer:

1. How hosting is expected (or not expected) to work
2. What basic scenarios we want to validate/enable, if any
3. Level of Office support for OLE plugins (understood to be depreciated?)

[2019-09-05 00:16] dreddy-work commented on #1093
@AdamYoblick , can this issue be closed now?

[2019-09-05 02:09] AdamYoblick commented on #1093
I believe this was just an issue to track the failing unit test. If it’s passing locally now, feel free to close it out :)

________________________________
From: Devendar Reddy Adulla <notifications@github.com>
Sent: Wednesday, September 4, 2019 7:16:34 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Adam Yoblick <Adam.Yoblick@microsoft.com>; Mention <mention@noreply.github.com>
Subject:

[2019-09-05 10:45] hughbe commented on #1679
cref https://github.com/dotnet/winforms/issues/625

[2019-09-05 13:42] kirsan31 commented on #1744
Not working with Preview9 on VS 16.2.3. So I think VS version is the case...

[2019-09-05 16:58] weltkante commented on #1763
**1.** We have two scenarios we are implementing in our products in Desktop Framework and which we expect to be supported in .NET Core (or be offered an equivalent replacement)

   a) Implement `IDTExtensibility2` and register as a COM Office addin. On startup Office loads the addin through COM interop, this will implicitely load and activate the .NET Core runtime.

   b) Make a COM visible class

[2019-09-05 17:01] RussKie commented on #1679
The referenced issue in CoreFx was presumably addressed back in April '19 in  dotnet/corefx#34465.
However the bug still repros in WinForms 3.0 P9

[2019-09-05 17:37] dreddy-work commented on #1093
Closing this issue as linked PR was merged and should take care of this. @RussKie , @hughbe as FYI.

[2019-09-05 17:37] #1093 closed

[2019-09-05 18:10] dreddy-work commented on #1597
Closing and PR merged.

[2019-09-05 18:10] #1597 closed

[2019-09-05 18:14] DustinCampbell commented on #1553
This is about the .NET Core property grid and not the framework version, which gets used in VS. So, I don't really have anything to add.

[2019-09-05 18:24] RussKie commented on #1553
Thank you @hughbe 🚀

[2019-09-05 19:17] danmosemsft commented on #1553
reopening since apparently this is desired for 3.0 GA which means it would need a port PR.

cc @safern.

[2019-09-05 19:17] danmosemsft commented on #1553
(if not, please re-close )

[2019-09-05 20:47] zsd4yr commented on #1553
@danmosemsft 	will someone cherry pick the change in corefx master into the 3.0 GA branch or should @hughbe 	make that PR?

[2019-09-07 06:06] prayaas-a commented on #1698
So is VB support planned only for 5.0 or could we be seeing it in 3.1?

[2019-09-08 18:44] hughbe opened #1817 "We need tests for calling COM interface methods from c++"
We need tests for various interfaces implemented by managed classes (e.g. IOleControlSite etc)

The best way to test this would be to implement tests in c++ and PInvoke them passing the managed class as an interface as an a IntPtr to unmanaged code. We’d then call functions from c++ and test things like HRESULTS etc

I have a prototype but not sure how to integrate a test c++ dll  into the product

[2019-09-09 07:29] Amy-Li02 opened #1822 "Two nodes ‘WPF’ and ‘.NET Core’ are missing on C# winforms core application"
* .NET Core Version: .NET Core 3.0.100-rc1-014181
* VS: 16.4.0 Preview1.0 [29304.142.master]
* Have you experienced this same bug with .NET Framework?: No

**More info:**
This is a regression issue from d16.3 P3.

**Minimal repro:**
1. Create a C# winforms core application.
2. Right-click the project in solution Explorer window, then click 'Add' to open the "Add New item" page.

**Actual behavior:

[2019-09-09 08:15] Amy-Li02 opened #1823 "Remove VB WinForms templates from CLI"
.NET Core Version: .NET Core 3.0.100-rc1-014181
VS: 16.4.0 Preview1.0 [29304.142.master]
Have you experienced this same bug with .NET Framework?: No

**Problem description:**
There is a previous GitHub issue [1698](https://github.com/dotnet/winforms/issues/1698) about remove VB WinForms templates from .NET Core 3.0, after this change, now we cannot create VB winforms core application from VS, but

[2019-09-09 10:13] RussKie commented on #1822
@Amy-Li02 our template "Windows Forms" is present in your screenshot. We do not maintian "WPF" and ".NET Core" templates.

[2019-09-09 10:13] #1822 closed

[2019-09-09 11:12] kirsan31 opened #1825 "Form icon glitch"
* .NET Core Version: Preview9
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Issue with drawing main form Icon on windows 7, 10 x64.

**Actual behavior and Expected behavior:**
![Snipaste_2019-09-09_13-58-20](https://user-images.githubusercontent.com/17767561/64526138-35123f00-d30b-11e9-8e23-13af8d233668.png)

**Minimal repro:**
[WinFormsCoreTest.zip](http

[2019-09-09 12:32] CodedBeard opened #1827 "UI Layout broken in later previews."
* .NET Core Version: 3.0 preview 9
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
We are porting a .Net framework winforms app to core. Up until preview 6, all of the ui was working exactly the same to .net framework, but since preview 6 we've started encountering various things that no longer behave as before. The first example is on the start form for the

[2019-09-09 13:09] kirsan31 opened #1830 "DataGridView InvalidOperationException: This operation cannot be performed while an auto-filled column is being resized."
* .NET Core Version: 3.0 Preview9
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
[stackoverflow](https://stackoverflow.com/questions/34344499/invalidoperationexception-this-operation-cannot-be-performed-while-an-auto-fill)
DataGridView with AutoSizeMode == Fill and ColumnHeadersHeightSizeMode == AutoSize. The problem is that if the mouse cursor accidentall

[2019-09-09 14:11] RussKie commented on #1825
@Olina-Zhang could you please confirm the issue.
Thank you

[2019-09-09 14:28] MrB0nd opened #1831 "CodeDomSerializationStore in not marked as Serializable"
* .NET Core Version: 3.0.100-preview9-014004
* Have you experienced this same bug with .NET Framework?: No

We faced a problem when porting our application to .NET Core 3.  We have a copy/paste functionality which is implemented similar to the standard copy/paste (via [IDesignerSerializationService](https://github.com/dotnet/winforms/blob/abd5a3d167ef57ee478912e97f194ff3a21d14b2/src/System.Windows

[2019-09-09 14:39] M-Lipin opened #1832 "Implement unit tests to cover PropertyGridView control accessibility"

[2019-09-09 14:40] M-Lipin opened #1833 "Implement unit tests to cover DataGridView control accessibility"

[2019-09-09 14:41] RussKie commented on #1831
The serialisation was removed in #1425.

@Tanya-Solyanik the list of types that should still be serialisable includes `System.ComponentModel.Design.Serialization.CodeDomComponentSerializationService.CodeDomSerializationStore` (https://github.com/dotnet/winforms/issues/889#issuecomment-513040581) however it appears to have been marked as non serialisable:
https://github.com/dotnet/winforms/commit/4

[2019-09-09 14:47] M-Lipin opened #1834 "Consider updating AccessibleObject to allow enabling UIA and IAccessibleEx from custom controls"
At this moment there is no way to add/implement modern accessibility patterns for custom controls that inherit from Control other than implementing these from scratch.

Adding IAccessibleEx implementation requires to disable already existing internal IAccessibleEx implementation.

Implementing UIA also requires to override WndProc method which may be not trivial for C# developers.

So there are fe

[2019-09-09 15:41] alepikhov opened #1835 "Type 'System.Drawing.Printing.Margins' is not marked as serializable"
* .NET Core Version: 3.0.100-rc1-014183
* Have you experienced this same bug with .NET Framework?: No

While execute follow piece of code we faced with SerializationException.

System.Runtime.Serialization.SerializationException: 'Type 'System.Drawing.Printing.Margins' in Assembly 'System.Drawing.Common, Version=4.0.1.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51' is not marked as serializab

[2019-09-09 16:02] RussKie commented on #1835
This is a regression in CoreFx.
In https://github.com/dotnet/corefx/commit/844415759d3f1525bf1f5d1bd79453c6aa8493f8 `System.Drawing.Printing.Margins` no longer marked as serialisable.

@stephentoub @ericstj please advise.

[2019-09-09 16:14] RussKie commented on #1827
This is by design due to the change of the `DefaultFont` (https://github.com/dotnet/winforms/pull/656).
More information is here https://github.com/dotnet/docs/issues/14143

[2019-09-09 16:25] RussKie commented on #1338
@IanMarteens  I am unable to repro the issue in Preview9.
It is working as expected:
![image](https://user-images.githubusercontent.com/4403806/64548563-8a644580-d337-11e9-85e9-0ff40b5f994b.png)

Can you please confirm that you still have the issue?

[2019-09-09 16:34] IanMarteens commented on #1338
Still happens in my PC. Don't know if I have to update my desktop preview. I include installed runtimes below the image:

![image](https://user-images.githubusercontent.com/44820201/64549045-2ab66c00-d330-11e9-9c3c-15dcc2a9634b.png)

C:\Users\Marteens>dotnet --list-runtimes
Microsoft.AspNetCore.All 2.1.2 [C:\Program Files\dotnet\shared\Microsoft.AspNetCore.All]
Microsoft.AspNetCore.All 2.1.12 [C:\

[2019-09-09 16:36] IanMarteens commented on #1338
BTW, I'm running this on a FullHD monitor (1920 x 1080) with no text scaling.

[2019-09-09 16:37] RussKie commented on #1338
What your screenshot is showing is expected and by design due to the change of the DefaultFont (#656).
More information is here dotnet/docs#14143

[2019-09-09 16:37] #1338 closed

[2019-09-09 16:38] IanMarteens commented on #1338
Ok, thanks.

[2019-09-09 17:03] weltkante commented on #1835
@alepikhov do you have a usecase besides plain BinaryFormatter serialization? This kind of serialization is phased out and it is probably not a reason to bring back serialization of this type just for the sake of it. Serialization has been removed from plenty of types in .NET Core and without a concrete usecase of why its needed on this type its unlikely that it will be made serializable again.

[2019-09-09 17:51] danmosemsft commented on #1835
`[Serializable]` is only applied to ~200 types in .NET Core. This serialization mechanism has had serious maintenance and security concerns in the past. Please see https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization for the full list.

I'll open a docs bug to make this clearer in individual topics.

[2019-09-09 17:54] #1835 closed

[2019-09-09 18:04] RussKie commented on #1831
This serialization mechanism has had serious maintenance and security concerns in the past.
The Core designer will not put binary content on the clipboard, and hence the attribute was removed.

[2019-09-09 18:04] #1831 closed

[2019-09-09 18:06] RussKie commented on #1831
Here's the list of types that are no longer serialisable in Windows Forms going forward https://github.com/dotnet/docs/issues/14175
You may also find this post useful https://docs.microsoft.com/en-us/dotnet/standard/serialization/binary-serialization

[2019-09-09 18:22] RussKie commented on #1827
As pointed the issue disappears if `this.AutoScaleBaseSize = new System.Drawing.Size(5, 13);` line is commented out in the form's designer.

@dreddy-work any thoughts?

[2019-09-09 18:33] RussKie commented on #1827
If you look at the code there are few things to note:

https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/Form.cs#L521-L547

1. we STRONG recommend to upgrade `AutoScaleDimensions` property
2. if `AutoScaleDimensions` isn't explicitly set, it gets calculated based on the form's font: https://github.com/dotnet/winforms/blob/master/src/System.Windows.For

[2019-09-09 18:42] DustinCampbell commented on #1827
The new designer would do the same thing, though it could be changed to something else if there's a need.

[2019-09-09 18:51] RussKie commented on #1827
Given that the codepath appears to be using obsolete API, should the new designer remove `AutoScaleBaseSize` property and replace it with `AutoScaleDimensions`?
Users will still need to remove `AutoScaleBaseSize` but at least if they opened a form in the designer and then save it, the designer would fix it for them.

[2019-09-10 00:21] danmosemsft commented on #1553
@RussKie perhaps this can be closed - maybe after our code flows and you've validated ?

[2019-09-10 07:36] Marie-Shi commented on #1421
Verified this bug with .Net core 3.0.100-rc1-014190 from release branch, the text can be shown when focus "Close" button of 'Print Preview' dialog on the Black and White theme. Please see the following screenshots:
![HC-Black](https://user-images.githubusercontent.com/45864017/64593440-ad96ff80-d3e0-11e9-99c9-8a7516fe698f.png)
![HC-White](https://user-images.githubusercontent.com/45864017/64593463

[2019-09-10 07:44] Zheng-Li01 commented on #1615
Verified this bug with .Net core 3.0.100-rc1-014190 from release branch, the issue has been fixed.
![bug](https://user-images.githubusercontent.com/38325459/64594019-c522b800-d3e1-11e9-814f-3203ff81c862.PNG)

[2019-09-10 07:58] Zheng-Li01 commented on #1597
Verified this bug with .Net core 3.0.100-rc1-014190 from release branch, the issue has been fixed.

![bug](https://user-images.githubusercontent.com/38325459/64595045-bf2dd680-d3e3-11e9-9fde-5607f0a5bfd6.PNG)

[2019-09-10 08:10] Olina-Zhang commented on #1825
@Russkie, this issue can repro in simple core app, the display of form icon using the icon from kirsan31's app is different from .Net framework app. Although size of Icons are same, but their bitDepth are different. Please see following screenshot:
![image](https://user-images.githubusercontent.com/26474449/64595700-154f4980-d3e5-11e9-8534-a2deb74a48ea.png)
.net Core and .net Framework apps:
[Core

[2019-09-10 08:12] Zheng-Li01 commented on #242
Verified this bug with .Net core 3.0.100-rc1-014190 from release branch, the issue has been fixed.

[2019-09-10 08:12] Zheng-Li01 commented on #1548
Verified this bug with .Net core 3.0.100-rc1-014190 from release branch, the issue has been fixed.

[2019-09-10 08:13] Marie-Shi commented on #1631
Verified this bug with .Net core 3.0.100-rc1-014190 from release branch, RichTextBox `LinkClicked` event can work for "friendly named" hyperlinks. Please see the following Gif:
![RichTextBox_LinkClicked](https://user-images.githubusercontent.com/45864017/64596012-b50cd780-d3e5-11e9-9f48-7306391db4cd.gif)

[2019-09-10 08:19] Marie-Shi commented on #1520
Verified this bug with .Net core 3.0.100-rc1-014190 from release branch, WinForm RichTextBox LinkClicked event can be fired when control loaded with RTF containing a friendly name hyperlink after clicking the “Click here”.

[2019-09-10 08:30] CodedBeard commented on #1827
Thanks for pointing out where this issue was occurring, I spent many hours trying to figure out which bit was causing it before logging this. Replacing all the calls with `AutoScaleDimensions` does seem to have resolved most of the UI issues. You mention these API's are obsolete, however that doesn't appear to be surfaced in the VS warnings list like i would have expected. Should it be?

There is

[2019-09-10 08:48] c0by1 commented on #1679
We have a similar problem with overriden PropertyDescription containing additional internal subscribtion. The internal handler still has a subscribtion after removal the binding from the DataBindings collection. It seems like the this condition https://github.com/dotnet/winforms/blob/dc6f4d50aefeb4a45ef605c5c57bc2f403a3999f/src/System.Windows.Forms/src/System/Windows/Forms/Binding.cs#L1161 does no

[2019-09-10 08:48] Vino-Wang commented on #1691
Verified with .NET Core 3.0 RC1 build 3.0.100-rc1-014190, this issue is fixed now. So close it.

Fixed:
![Fixed](https://user-images.githubusercontent.com/18568603/64598689-b8ef2880-d3ea-11e9-9086-9f55f61e45d5.png)

[2019-09-10 08:48] #1691 closed

[2019-09-10 08:54] Amy-Li02 commented on #1823
Verified with .NET Core 3.0 RC1 build 3.0.100-rc1-014190, this issue cannot reproduce now. So close it.
**Fixed:**
![Fix2](https://user-images.githubusercontent.com/49627022/64599163-7ed25680-d3eb-11e9-87f2-666b7467ffe9.png)
![Fix1](https://user-images.githubusercontent.com/49627022/64599139-7548ee80-d3eb-11e9-8ee1-4b8464902778.png)

[2019-09-10 08:54] #1823 closed

[2019-09-10 09:10] e1em3ntoDX commented on #1835
Hi @weltkante , @danmosemsft.

@alepikhov and I are from DevExpress and we're still working on adopting our Reporting Tools to .NET Core 3. DevExpress Reporting uses the System.Drawing.Printing.Margins class to store page settings and puts these settings into localized resource files (Satellite Resource Assemblies). Many of our customers rely on this functionality and can be faced with an unexpect

[2019-09-10 11:16] RussKie commented on #1835
/cc: @ericstj

@danmosemsft do you think we should move the issue to the CoreFx repo?

[2019-09-10 13:00] #1705 closed

[2019-09-10 14:04] RussKie commented on #1827
Please raise a new issue providing as much information as possible and a repro app, and we'll have a look at it.

[2019-09-10 14:30] RussKie commented on #1827
I don't think there is a document avialable that lists all changes.
You can browse issues fixed/changes accepted in each milestone:

- [Preview 4](https://github.com/dotnet/winforms/milestone/3?closed=1)
- [Preview 5](https://github.com/dotnet/winforms/milestone/4?closed=1)
- [Preview 6](https://github.com/dotnet/winforms/milestone/5?closed=1)
- [Preview 7](https://github.com/dotnet/winforms/miles

[2019-09-10 14:33] RussKie commented on #1825
Thank you Olina.
Just to confirm, does the issue only appear on W7? I tried it locally on W10 and I couldn't repro it.

[2019-09-10 14:48] kirsan31 commented on #1825
@RussKie

As I mentioned in first post, I can repro it on win7 and win10 (pro for Workstation 1903).

[2019-09-10 14:52] RussKie commented on #1825
My apoligies, I misread the original report

[2019-09-10 17:04] RussKie commented on #1825
I can reproduce it with the supplied icon:
![image](https://user-images.githubusercontent.com/4403806/64634104-332ca680-d405-11e9-9d37-b7b9bf77e5cd.png)

However using other icons (from https://github.com/dotnet/winforms/tree/master/src/System.Windows.Forms.Design/src/Resources/System/WinForms/Design) everything is working as expected on  W10E 1903:

* the current release/3.0 (b88058ce22a6773455e5

[2019-09-10 17:38] kirsan31 commented on #1825
@RussKie I think that it's very strange, that I didn't notice this in previous previews (I was using 5 and 7 before 9)...
I uninstalled preview**9** and installed preview**7**. And yes on preview7 this icon displayed correctly!
Then I tried preview8 - same as preview9. So regression was introduce in preview**8**.

[2019-09-10 17:40] RussKie commented on #1825
Thank you for testing it

[2019-09-10 17:43] merriemcgaw commented on #1822
@livarcocc , @vatsan-madhavan , @rladuca  - this is a regression in the "Add New Item" dialog 16.4 P1 - which repo should take this issue (WinForms is there but nothing else)
/cc @zsd4yr

[2019-09-10 18:00] vatsan-madhavan commented on #1822
@chabiss, @diverdan92, @OliaG  - can you help? I don't think IDE experience issues are tracked in any repo.

Should this issue be re-opened?

[2019-09-10 18:06] CodedBeard commented on #1827
Thanks @RussKie.

I'll open another issue if I can't find what’s causing the grid problem, but its a lot harder to make a clean repro for, so will have a bit more of a dig first. Just thought I’d check it wasn't anything obviously wrong in that code along the same lines.

Yep completely understand. I've been really impressed with just how little has gone wrong considering this app hasn't been upda

[2019-09-10 18:20] mdtauk opened #1855 "Question: Are there plans to separate Visual Styles from the OS?"
As WinForms becomes more and more open, is there scope or plans to lift the Visual Style system (UXTheme) out of the OS, so the visual look of controls can be updated without an OS update, and be kept in sync with future UI changes in other Windows frameworks like WPF and WinUI?

[2019-09-10 18:58] leecow commented on #1092
I've heard rumor of tooling that is supposed to handle this. Closing this issue.

[2019-09-10 18:58] #1092 closed

[2019-09-10 19:45] weltkante commented on #1092
closing issues on rumors before verification that it actually will happen? 😄

[2019-09-10 22:20] diverdan92 commented on #1822
@jjmew @jmarolf  did something change in the project system?

[2019-09-11 09:28] RussKie commented on #1855
It is certainly something we could entertain going forward.
It is unlikely however to be implemented by us in the near-to-medium term future, but we would certainly support development proposals and contributions from the community.

/cc: @OliaG @merriemcgaw

[2019-09-11 11:26] mdtauk commented on #1855
I am not qualified enough to detail precisely how to achieve it at a technical level.

From my understanding of it, the Visual Style assets are split between a couple of files in the Windows folders, **Aero.msstyle** **shellstyle.dll**

But many apps bundle icons within their own resources, such as explorer.exe.  These are outside of the scope of course.

If it were possible to fork these from the

[2019-09-11 11:52] weltkante commented on #1855
OS theming is not implemented in .NET so transition from OS to WinForms includes rewriting it (or adding a native package to a managed project)

As far as I know the OS theming engine is a hardcoded mix between assets, configuration files and native rendering code and not extensible (but I may be mistaken, its closed source)

The very core design of WinForms is to be a wrapper around native OS con

[2019-09-11 11:56] RussKie commented on #1825
It looks like a regression in CoreFx in the way `Icon` loads the information from a stream of bytes.

I have used the repro app provided (thank you) and extended it to show-case the problem.
I have serialiesd two icons - the one provided with the repro (icon.ico) and another [one from WinForms repo](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.Design/src/Resources/System

[2019-09-11 12:05] RussKie commented on #1825
Looking at the changes I wonder if https://github.com/dotnet/corefx/commit/b75421a0035bf3a44e1f68447255470d57074dbb/src/System.Drawing.Common/src/System/Drawing/Icon.Windows.cs has introduced the regression, as it fits with the timeline

/cc: @JeremyKuhne

[2019-09-11 12:06] mdtauk commented on #1855
This is kind of what I am thinking.  If we are moving to a future where WPF, WinForms, and WinUI are open source, and the suggested ways to develop apps for Windows.  There could be a time where these become the ONLY _supported_ ways to make apps.

The other two frameworks provide their own control templates, so if the Windows team were to rework UX Theme for 20H1 onwards, it would allow for this

[2019-09-11 13:29] M-Lipin opened #1864 "Accessibility: PropertyGrid child tables have identical names"
**Repro steps:**
1. Create .NET Core WinForms app with two PropertyGrid controls and launch it.
3. Start Accessibility insights / Inspect app.
4. Check the names of both tables present on screen.

**Actual:**
Issue 1: Both tables have same name "Properties Window".

**Expected:**
Issue 1: Both tables should have different names so as to differentiate between them.

**User Impact:**
As both tables

[2019-09-11 14:56] RussKie commented on #1679
This looks like a regression introduced in #854. I rolled to the previous version of the `Binding` class and it worked as expected.
/cc: @hughbe

[2019-09-11 18:39] JeremyKuhne commented on #1825
Might have. I'll look into it.

[2019-09-11 19:16] jjmew commented on #1822
They are not supposed to show. See https://github.com/dotnet/project-system/issues/573

[2019-09-11 19:25] weltkante commented on #1822
I can see at least two mistakes here:
* WinForms projects are also .NET Core projects, sou you should show WinForms and .NET Core items
* WPF can be removed unless UseWPF is actually true, but if it is true then you need to show WPF items, projects hosting both WPF and WinForms are a thing!

[2019-09-11 23:16] merriemcgaw commented on #1763
@OliaG let's sync and discuss what our options are and what we want for the longer term.

[2019-09-11 23:17] merriemcgaw commented on #1698
@KathleenDollard what can you share about our VB plans?

[2019-09-12 00:42] elachlan commented on #1346
Will this solve issues with "My.Settings"? Or have User Settings been deprecated in .NetCore for something else? If so, what is its suggested replacement?

[2019-09-12 01:36] paul1956 commented on #1346
@elachlan My.Settings basically works for creating, using and saving Settings what is broken is AutoSaving on exit which requires _MyType = "WindowsForms". Any you referring to something else?

[2019-09-12 01:47] JeremyKuhne commented on #1763
@merriemcgaw Please pull me in and I can give you some technical context on the runtime code.

[2019-09-12 02:31] JeremyKuhne commented on #1825
Yep, I messed it up. :/ It's picking the first one that comes closest to the desired size, which in the case of this icon is the black and white 32x32 icon (which matches `SM_CXICON` x `SM_CYICON`). I'm fixing it, but I'm not entirely sure when it will make it to official builds.

You can hack around it by stripping the other colors out or making sure the 32bit one is first in the icon.

[2019-09-12 03:03] elachlan commented on #1346
@paul1956 Thanks for the response. I can see its now showing up. Do I have to add anything to the vbproj file to enable the settings designer in visual studio?

[2019-09-12 03:29] JeremyKuhne commented on #1825
https://github.com/dotnet/corefx/pull/41048

[2019-09-12 05:43] paul1956 commented on #1346
@elachlan the designer is not part of 3.0. There are multiple options but IMHO all are ugly. I have a branch in Git for Core 3.0 and Master is Framework, others have 2 projects in same solution a Framework and Core 3.0. Even with that I have a bunch of #IF statements. You also will not have the My.Forms collection which causes many issues preventing code from just working, also there is no Main. t

[2019-09-12 07:29] weltkante opened #1878 "Review COM interface declarations for conflicting ComImport/ComVisible attributes"
During review of PR #1868 I noticed `IOleInPlaceActiveObject` was declared with both `[ComImport]` and `[ComVisible(true)]`. This is wrong, ComVisible(true) is for interfaces owned by the assembly, ComImport is for external interfaces.

In desktop framework this probably has little consequence since the assemblies come preinstalled, but now that its possible to deploy WinForms with an application

[2019-09-12 07:34] weltkante commented on #1878
a quick search yields 238 matches in 182 files, not all of them technically wrong,

However considering that the codebase comes from Desktop Framework I wonder if there should be any ComVisible(true) attributes left in place at all, even for classes and interfaces actually owned by WinForms.

Once people start attempting to register them they'll start overwriting the "real" owner (Desktop Framewor

[2019-09-12 07:36] kirsan31 commented on #1825
Thanks for workaround, it's working.

[2019-09-12 10:15] #1698 closed, assigned to nobody

[2019-09-12 20:14] zsd4yr opened #1890 "Should we try to shrink the size of our assemblies?"
Some important driving questions:
1. what kinds of customers want us to shrink our assemblies?
2. why do they want smaller assemblies?
3. do customers care about small reductions in size or do they want larger reductions?

Some top-level options:
1. run a tool which removes "dead" code. This may be difficult considering
    * some code may only be exercised by the designer and thus may appear dead

[2019-09-13 07:27] elachlan commented on #1346
@paul1956 thanks for all the information. It has been super helpful.

[2019-09-13 07:48] riov commented on #1890
That's an old dream of mine - to be able in one way or another to include only the relevant parts of assemblies. I absolutely hate when I have to include large >10MB assemblies when only a small fraction of it is actually used (like a few methods or so).

I like the ♯3 suggestion. Maybe it would be possible to combine those small assemblies into one while building.

[2019-09-13 07:49] paul1956 commented on #1346
@elachlan If you download the WinForms Repo, there is a document winforms-designer.md that goes into some detail on how to use the Windows Framework designer in a shared Code 3.0 project, then you just need to make the changes above.

[2019-09-13 07:51] RussKie commented on #1890
@ericstj @danmosemsft @stephentoub  @JeremyKuhne @sharwell thoughts?

[2019-09-13 08:08] weltkante commented on #1822
@davkean WPF does work in WinForms, always has been

[2019-09-13 08:24] weltkante commented on #1462
They are working on it (dotnet/project-system#4938 and dotnet/sdk#3631). licx is supposed to work again already, but the LC.exe part is probably still missing. I don't think this will be in 3.0 release considering that this is only a week from now and they still need to port LC.exe to .NET Core.

[2019-09-13 08:53] weltkante commented on #1346
@paul1956 you can just [link](https://github.com/dotnet/winforms/blob/master/Documentation/winforms-designer.md) to this file directly, no need to download anything

[2019-09-13 10:29] kirsan31 commented on #1890
My thoughts on this:
Ideally it will be №2 without drawbacks. But I am afraid it's impossible :(
№3 looks promising, but wouldn't it lead to mess with many references?

For now, I think we will continue to install runtimes and stick to not use self contained apps...

[2019-09-13 11:13] davkean commented on #1822
@weltkante I'm aware of how this works, I work on the project-system. I'm not against having the templates show up, its just that the underlying VS pieces haven't landed to make it work. You will see that if both WPF and WinForms properties are turned on, all the templates show up.

[2019-09-13 14:37] sharwell commented on #1890
At the highest level, my thoughts on this come down to the following two points:

1. We do not today have the means to meaningfully shrink the assemblies without introducing non-trivial risks to maintainability and/or reliability
2. In the time required to implement a reversal of the previous statement, the answers to the original questions are likely to change (i.e. something that is "too big" to

[2019-09-13 14:44] stephentoub commented on #1890
We already do both (1) and (2) in coreclr and corefx, using ILLink as part of the build.  Then PublishTrimmed can also be used when creating a self-contained executable to aggressively trim unused functionality (even from framework binaries) when creating the self-contained app.
cc: @jeffschwMSFT

[2019-09-13 14:50] weltkante commented on #1890
The problem I see is that it is easy to take it with a bias. The motivation of this issue comes from implementing interop for Windows API which usually is very stable, so one would probably tend to include more than less.

The problem is
* it mostly has no measurable impact on individual items but does add up at large scale
* we are mostly talking about internal APIs here - if you apply the "what

[2019-09-13 15:30] RussKie commented on #1890
If we speculate for a moment that Mono WinForms was to make a return and bring the x-plat aspect back to reality, how do you think our interop layer would change?
Would we ship a single assembly with sets of API targeting multiple OS, or would we ship per-OS assemblies?

[2019-09-13 15:53] weltkante commented on #1890
Sorry, I have no idea about how to do x-plat interop.

What I'm talking about is Windows only: all major (WinForms) UI suites tend to have significant integration with Windows APIs, add the platform frameworks themselves, and the app building on it. We are using .NET (now CoreFX), System.Drawing, WinForms, WPF, ComponentOne, DevExpress, add a few minor 3rd party controls and all the interop in our

[2019-09-13 16:04] RussKie commented on #1679
I managed to narrow down the regression to this change (trimmed for brewety but retained the gist):
[code]

It appears we made an incorrect assumption that because `_bindingManager` and `_owner.BindingManagerBase` of the same type they are the same. They are not.
An instance of `BindToObject` keeps track of its own binding manager that maintains the bindings for the object in question.

[2019-09-13 19:14] JeremyKuhne commented on #1890
The biggest trick with a shared interop library/libraries is the sheer number of APIs involved and the vast number of ways to interact with them. In my WInterop library I've got 52,000 lines of code and I've only wrapped a relatively small subset of Win32 APIs completely. Most of our libraries only use a small set of APIs and they use them in very specific ways. The superset of APIs needed for Cor

[2019-09-16 12:13] RussKie commented on #1544
@Amy-Li02 could you please check if the issue still repros on the latest 3.0?
I have tried it locally against release/3.0 branch and I could not repro it.

[2019-09-16 12:15] RussKie commented on #1298
The font changes have been documented at https://github.com/dotnet/docs/issues/14143

[2019-09-16 12:15] #1298 closed

[2019-09-16 12:18] #1237 closed

[2019-09-16 12:29] RussKie commented on #1237
Serialisation requirements were reviewed in https://github.com/dotnet/winforms/pull/1425

[2019-09-16 13:52] M-Lipin opened #1908 "MonthCalendar control - Narrator focus is not moving in proper logical order when user is navigating using caps + arrow keys"
**Repro Steps:​**
1. Launch .NETCore WinForms app with MonthCalendar control.
2. Start Narrator.
3. Verify that narrator focus is moving in proper logical order or not when user is navigating using caps + arrow keys within the MonthCalendarl control child elements.

**Actual:**
Narrator focus is not moving in proper logical order when user is navigating using caps + arrow keys.
When users press ca

[2019-09-16 14:00] M-Lipin opened #1909 "MonthCalendar control should support Grid and Table patterns accordingly to table control type"
**Issue Details**
1. Make sure the MonthCalendar control element has the appropriate ControlType property - table.
Element path: table 'MonthCalendar'
2. Start AccessibilityInsights tool and inspect the element.
3. Observe that the MonthCalendar control does not support Table and Grid patterns.

This accessibility issue was found using Accessibility Insights for Windows, a tool that helps debug an

[2019-09-16 14:15] M-Lipin opened #1910 "MonthCalendar control - Narrator is not announcing the date when user is navigating on it by using right and left arrow keys"
**Repro Steps:​**
1. Launch .NET Core WinForms app with MonthCalendar control.
2. Start Narrator.
4. Verify that narrator is announcing the date or not when users is navigating in the month calendar control using right and left arrow key

**Actual:**
Narrator is not announcing the date when user is navigating on it using right and left arrow key. Narrator is announcing only 'Month Calendar'.

**Ex

[2019-09-16 14:20] M-Lipin opened #1911 "MonthCalendar control - Narrator is not announcing more information about control"
**Repro Steps:​**
1. Launch .NET Core WinForms app with MonthCalendar control.
2. Start Narrator.
3. Verify that narrator is announcing the detailed information about calendar control or not.

**Actual:**
Narrator is not announcing the more information about Month Calendar.

**Expected:**
When narrator focus shifts on Month Calendar narrator should announce the selected date in proper format like

[2019-09-16 14:21] M-Lipin commented on #1911
DevDiv issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/956404

[2019-09-16 14:22] M-Lipin commented on #1910
DevDiv issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/956425

[2019-09-16 15:33] kirsan31 commented on #1120
Sadly to note, but this and other issues are talking:
WinForms .core will not be ready for production usage for those who use PropertyGrid intensively, at least till 3.1 :(

P.s. I think it's better to wait 3.1 anyway...

[2019-09-16 18:05] merriemcgaw commented on #1298
Nice!

[2019-09-16 18:41] merriemcgaw commented on #1834
I absolutely love this idea @M-Lipin. As soon as we've addressed the known issues we should extend our abilities to our customers that are implementing their own accessibility enhancements.

[2019-09-17 07:43] Vino-Wang commented on #1703
Verified with .NET Core 3.0 GA build, this issue is fixed now.

After:
![Fixed](https://user-images.githubusercontent.com/18568603/65021498-cfa0fc80-d961-11e9-9a27-9969c4121b76.png)

[2019-09-17 08:43] #1703 closed

[2019-09-17 09:10] Lydia-Shi commented on #1705
Verified this bug with .NET Core Version: (3.0.100-rc2-14256) from Release/3.0.1XX branch. This bug is fixed. As below screenshot:
![image](https://user-images.githubusercontent.com/54019172/65028100-13016800-d96e-11e9-88a1-9c64b95de9ed.png)

[2019-09-17 10:02] Jessie-Zhang01 commented on #1746
Verified this bug with .Net Core 3.0.100-014265 from Release branch + Winforms designer VSIX(https://dev.azure.com/dnceng/internal/_build/results?buildId=356547), this bug is fixed.

- In Narrator, because of Inspect accessibility property change, items that support collapse/expand behavior can be announced correct "collapse/expand" state in Narrator when collapse or expand Property entries/ items

[2019-09-17 10:48] #1746 closed

[2019-09-18 02:20] Zheng-Li01 opened #1929 "The ""cell error" icon can't be seen after selected the "CheckBox" cell of the DataGridView control"
.NET Core Version: .NET Core 3.0.100-rc2-014265 from Release branch
Have you experienced this same bug with .NET Framework?: Yes

**Steps to reproduce:**
1. Open the attached application, build and run it.
[DGVTest.zip](https://github.com/dotnet/winforms/files/3624106/DGVTest.zip)
2. Select the "CheckBox" cell by using the Keyboard or mouse.

**Actual Results:**
The "Cell Error" icon can't be seen

[2019-09-18 15:03] #1230 closed

[2019-09-18 15:09] hughbe opened #1933 "Problems building on my Windows machine"
My heart breaks :(

[code]

Output:
[code]

I can share the remote desktop VM file with anyone by email if you'd like - its a VM in Azure that I use for winforms development

My Visual Studio installation has
- .NET Desktop Development
- Desktop Development with C++
- .NET Core Cross Platform Development

[2019-09-18 15:11] hughbe commented on #1933
Binlogs here:

[Archive.zip](https://github.com/dotnet/winforms/files/3627152/Archive.zip)

[2019-09-18 22:02] zsd4yr commented on #1933
If you go to `https://dotnetcli.azureedge.net/dotnet/Sdk/5.0.100-alpha1-013788/dotnet-sdk-5.0.100-alpha1-013788-win-x64.exe` (the download location of the SDK run in your output above but with the zip swapped to an exe) and download the SDK to your machine, does that solve the issue?

[2019-09-18 22:04] zsd4yr commented on #1933
@livarcocc this is similar to the issue I was seeing when trying to rev to the 3.0 GA SDK

[2019-09-18 22:06] livarcocc commented on #1933
I wonder if this is some incompatibility between arcade and .net 5 SDK for now. Why are you using the 5.0 SDK? Could you stick to 3.0 GA.

5.0 is super early at this point.

[2019-09-18 22:14] zsd4yr commented on #1933
I think we made this change when switching to the 5.0 TFM https://github.com/dotnet/winforms/commit/f71a59f1ca0381179ac3faeaceee0649072dda88 @RussKie may know more

/cc @MattGal @Chrisboh in case there is some incompatibility

[2019-09-18 22:23] livarcocc commented on #1933
Ah, ok. This is master. Is this reproducible? Could I repro this if I tried? Not sure why this would happen inconsistently though.

[2019-09-18 22:25] MattGal commented on #1933
I can't repro it locally, but when I run it I end up with `C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\\MSBuild\Current\Bin\MSBuild.exe`, not `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\msbuild.exe`

[2019-09-18 22:28] MattGal commented on #1933
... and I CAN reproduce this with my current VS 2019 16.2.5 - updating to the latest public preview or the version of community that comes out soon should fix it.

[2019-09-18 22:30] livarcocc commented on #1933
This makes a bunch of sense. Much like 3.0 requires 16.3, so does 3.1 and 5.0. If you have only 16.2, then msbuild 16.2 won't find the 3.0 SDK (or 5.0 for that matter).

[2019-09-18 22:32] zsd4yr commented on #1933
@livarcocc I am not sure why this repo is not using the version of msbuild supplied by the SDK, but the above certainly explains the aftermath.

[2019-09-18 22:33] livarcocc commented on #1933
Does your build use full framework msbuild? That's what looks like here. It would use the SDK's msbuild if you were building with dotnet.exe and not msbuild.exe.

[2019-09-18 22:35] MattGal commented on #1933
Yes that's the thing that made me catch the issue in the log, but it should go away by updating community edition.

[2019-09-18 22:41] zsd4yr commented on #1933
It looks like because we require a minimum version of vs in our global.json and do not give an msbuildEngine to Arcade, that we end up using the msbuild from VS https://github.com/dotnet/winforms/blob/4e9e4bca3353a5aa604eebaff3b4192fd73d883d/eng/common/tools.ps1#L399

[2019-09-18 23:15] merriemcgaw commented on #1827
@CodedBeard if you've got what you need with this issue, I'm going to go ahead and close it.

[2019-09-19 06:18] AriNuer opened #8813 "Test failure:System.Drawing.Tests.FontTests.FromLogFont_ValidLogFont_ReturnsExpected(fontStyle: Bold, weight: -2147483648, charSet: 0)"
Test `System.Drawing.Tests.FontTests.FromLogFont_ValidLogFont_ReturnsExpected(fontStyle: Bold, weight: -2147483648, charSet: 0)` has failed:

[code]

Build: -[20190918.39](https://dnceng.visualstudio.com/public/_build/results?buildId=359768
)(Master)

Details:
https://helix.dot.net/api/2019-06-17/jobs/d2810871-f05f-4b10-8aac-475b8fc1a1d9/workitems/System.Drawing.Common.Tests/console

[2019-09-19 07:32] hughbe commented on #1933
I would expect to use the msbuild found in `<repo root>/.dotnet`. I believe this is what corefx does?

[2019-09-19 09:11] hughbe commented on #1222
I can repro this occasionally especially in VS. https://github.com/dotnet/winforms/pull/1925 contains a fix

[2019-09-19 09:46] hughbe commented on #1679
Has this been merged into master?

[2019-09-19 11:05] RussKie commented on #1679
No, 3.1 only so far.
I'll port it over

[2019-09-19 12:08] #1222 closed

[2019-09-19 12:08] RussKie commented on #1222
Thank you

[2019-09-19 16:33] RussKie commented on #1825
@JeremyKuhne do you know if the fix has been ported to 3.0?

[2019-09-19 16:40] ericstj commented on #1825
https://github.com/dotnet/corefx/issues/41068 is tracking getting this fix in post GA.  It will be one of the first servicing fixes we take.

[2019-09-19 16:41] RussKie commented on #1825
Thank you Eric.

[2019-09-19 16:41] #1825 closed

[2019-09-20 10:13] bairog opened #1948 "Size of Form and controls is bigger in WinForms .NET Core app compared to WinForms .NET Framework app"
* .NET Core Version: **v3.0.0-rc1**
* Have you experienced this same bug with .NET Framework?: **No**

**Problem description:**

1. Using **Visual Studio 2019 16.3 Preview 4** create a WinForms .NET Core app and a WinForms
 .NET Framework app, which have same designer code with some controls added.
[WinFormsFrameworkApp.zip](https://github.com/dotnet/winforms/files/3635383/WinFormsFrameworkApp.zip

[2019-09-20 16:09] 0xd4d commented on #1948
Duplicate of https://github.com/dotnet/winforms/issues/1122

[2019-09-20 16:34] bairog commented on #1948
In all my form controls I don't use `Segoe UI 9pt`, I use `Calibri 12pt`.
Why my forms are not pixel by pixel identical  in that case?

[2019-09-20 18:37] hughbe opened #1951 "Regression: Clipboard.SetText("text", TextDataFormat.Html) adds garbage terminator"
Test code from https://github.com/dotnet/winforms/pull/1950

[code]

Results:
[code]

In .NET Framework the string correctly roundtrips and does not add '\0' at the end

/cc @JeremyKuhne

[2019-09-20 18:41] JeremyKuhne commented on #1951
Looks like an interop mistake. Guessing it is GetText not SetText. Setting the wrong size of the string.

[2019-09-20 18:42] hughbe commented on #1951
Possibly related:
The .NET Framework code has extra checks (https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/DataObject.cs,fd8117b6b59dbe77)

[code]

[2019-09-20 18:52] JeremyKuhne commented on #1951
Just a quick look- this could be wrong:

https://github.com/dotnet/winforms/blob/ab6730e76538c28f598bbac2bb009725e9ab69bc/src/System.Windows.Forms/src/System/Windows/Forms/DataObject.cs#L1689

It used to not pass the length, which would automatically null terminate. Worth testing in any case.

[2019-09-20 18:53] JeremyKuhne commented on #1951
Fyi, it is a common mistake to switch from a string building API that wasn't sized to a sized one and end up with garbage at the end. I've seen this with moving from `T*` to `Span<T>` a few times.

[2019-09-20 19:28] JeremyKuhne commented on #1951
Definitely want to get this fix in the next possible bug-fix train.

[2019-09-22 08:46] vladimir-krestov opened #1953 "[Accessibility][HC]: Incorrect DataGridView ComboBox and TextBox cells HC1/2 color"
* .NET Core Version: 3.1.0-preview1.19458.7
* Have you experienced this same bug with .NET Framework?: Yes

**Original bug:**
- [Bug 820338:](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/820338) Accessibility: [MAS42A] [HC 1/2]: The text color is incorrect in DGV on HC 1/2 theme

**Problem description:**
- A user gets incorrect text color of DataGridView ComboBox and TextBox cells which

[2019-09-22 18:19] dbeavon commented on #147
Any word on the new core designer preview?  I didn't see any winforms speakers in the lineup at .net conf and I'm wondering if that means there won't be a preview yet...

[2019-09-22 18:25] filipnavara commented on #147
@dbeavon "Modernizing .NET Desktop Applications with .NET Core - Olia Gavrysh
11:30 (PDT) | 18:30 (UTC)"

[2019-09-23 09:33] bairog commented on #1948
Let me clarify - for example in both projects:
1.  Form size in designer is set to **1028x706** (font is **Calibri 12pt**)
2.  Button size in designer is set to **70x28** (font is **Calibri 12pt**)
.NET Framework 4.8 app respects that sizes, while .NET Core 3 app is bigger than that values..

[2019-09-23 11:34] hughbe opened #1955 "Conditional order of precedence bug in ScrollableControl.SetDisplayRectLocation"
From the code in https://github.com/dotnet/winforms/blob/3f564803ff268bab776fea7df9970d37760ed4da/src/System.Windows.Forms/src/System/Windows/Forms/ScrollableControl.cs#L786-L798

The conditional check `if (xDelta != 0 || yDelta != 0 && IsHandleCreated)` has incorrect bracketing and order of precedence.

It should be `if ((xDelta != 0 || yDelta != 0) && IsHandleCreated)`.

This has observable diff

[2019-09-23 17:57] merriemcgaw commented on #147
We have our first Designer Preview available today! This is an early sneak peak of the work we've been doing. Check out [designer documentation](designer-releases/readme.md) for links to the release link, known issues and Release Notes.

Please try this out! It requires 16.3 Preview 4 or later and the 3.0 Core SDK. You can provide your feedback via the VS Feedback tool. We're planning on an ongoin

[2019-09-23 19:01] jnm2 commented on #147
Should the link be {https://github.com/dotnet/winforms/blob/master/Documentation/designer-releases/readme.md](https://github.com/dotnet/winforms/blob/master/Documentation/designer-releases/readme.md)?

[2019-09-23 20:07] fatihyildizhan commented on #147
<TargetFrameworks>net48;netcoreapp3.0</TargetFrameworks> didn't work for me but <TargetFrameworks>net472;netcoreapp3.0</TargetFrameworks> works fine for both WinForms and WPF with Visual Studio 16.3.0.

[2019-09-23 23:52] RussKie commented on #147
Do you have .NET 4.8 installed?

[2019-09-24 00:23] RussKie commented on #1955
@sharwell any thoughts?

[2019-09-24 01:42] RussKie commented on #1948
I believe the result is due to this line:
[code]
If you comment it out, it renders the form in the same size.

Here's the relevant info: https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.containercontrol.autoscaledimensions?redirectedfrom=MSDN&view=netframework-4.8#remarks

@oliag this may trip a few people, perhaps we need to highlight this somehow.
/cc: @merriemcgaw

[2019-09-24 01:42] #1948 closed

[2019-09-24 01:54] #1951 closed

[2019-09-24 06:12] baehny opened #1959 "Reference (not using) windows forms in cross platform class library or application."
Hi,
I am working on a cross platform application that uses windows forms on windows.
So my csproj contains the following lines:
[code]

The problem with this is that I am now unable to build the application with Visual Studio Mac because of the missing Microsoft.NET.Sdk.WindowsDesktop.
I'm completely aware of the fact that windows forms will not work on other platforms but does this mean I'm force

[2019-09-24 08:54] hughbe opened #1962 "[CI] Windows Debug Build Occasionally Hangs"
I've observed that the Windows Debug Build sometimes times out at 60 minutes in CI and fails to report any results

No diagnosis

[2019-09-24 09:28] #1827 closed

[2019-09-24 09:33] RussKie commented on #1679
The port to the master - https://github.com/dotnet/winforms/pull/1963

[2019-09-24 09:50] RussKie commented on #1827
It is worth noting that `AutoScaleDimensions` can yield unexpected results as well - https://github.com/dotnet/winforms/issues/1948#issuecomment-534351180.

[2019-09-24 09:57] #1679 closed

[2019-09-24 11:06] epikgit opened #1964 "Error in opening the winform designer for a certain form"
* .NET Core Version: 3.0.100
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
I've got a small application with 6 forms migrated from .NET Framework 4.7.
Now I'm on .NET Core 3.0 and the application builds regularly an works well.
When I try to design my forms, the designer opens regularly for all of them except one that throw a strange error:
_Unable to find

[2019-09-24 12:39] ryancheung opened #1965 ".Net Core 3.0 app crashes if got `IMM.ImnChangeCandidate` event"
* .NET Core Version: 3.0
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

I reported this bug in MSDN dev forum before, but got no response. I don't why there's no any Microsoft dev caring about this issue. So again I put it here:

Given I'm making a game based on Winforms and SharpDX. The game will run with exclusive fullscreen mode. Then I have to render

[2019-09-24 12:41] ryancheung commented on #1965
**PLEASE** do not ignore me in this bug, unless someone told me it's bugged intentionly in c# side.
There should be no problem in c++ side.

[2019-09-24 13:04] RussKie commented on #1965
Please provide steps to reproduce the issue.

[2019-09-24 13:10] weltkante commented on #1959
You cannot build WinForms projects on non-Windows because it needs to execute WinForms code during the build (at least once they finish porting licx resources for licensing, which currently is not completed). There may also be code execution going on with resx resources though I'm not entirely sure of that, might be just in the designer.

[2019-09-24 13:10] ryancheung commented on #1965
A simple step to reproduce the issue:
1. Get a Chinese IME installed in OS
2. then git clone the test project
3. open it with VS
4. press F5
5. Do some text composition with Chinese IME

[2019-09-24 13:17] weltkante commented on #947
dotnet/core-sdk#2088 resolved this as "not supported" for the 3.x timeframe

[2019-09-24 13:21] weltkante commented on #1462
dotnet/sdk#3631 wants this in 3.1, so this issue being on Future is conflicting. If licensing is going to be supported in 3.1 it probably needs to be picked up soonish.

[2019-09-24 14:57] Berrysoft commented on #1678
There are also imports in the [WPF template](https://github.com/dotnet/wpf/blob/master/packaging/Microsoft.Dotnet.Wpf.ProjectTemplates/content/WpfApplication-VisualBasic/Company.WpfApplication1.vbproj).

And the implicit imports for Visual Basic Console App is in the [Microsoft.NET.Sdk.VisualBasic.targets](https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/targets/Micros

[2019-09-24 15:16] sharwell commented on #1955
@RussKie SA1408 should report this, yes. Is the rule disabled?

[2019-09-24 15:19] sharwell commented on #1955
https://github.com/dotnet/winforms/blob/8ecc2b49acfd44f607d4ad9b7add1e80dcb3d88d/eng/Shipping.ruleset#L99

I believe you can also get this behavior from a built-in rule:

[code]

[2019-09-24 17:26] merriemcgaw commented on #147
And do you have the targeting pack installed for .NET 4.8?

[2019-09-24 17:58] JeremyKuhne commented on #1951
Changed the title to reflect that it is GetText that has the issue.

[2019-09-24 22:02] RussKie commented on #1955
Thank you Sam.
Any other rules we should enable?

[2019-09-25 00:12] RussKie commented on #1253
As discussed in https://github.com/dotnet/winforms/pull/1961/files#r327620006 a number of types in System.Runtime.InteropServices.ComTypes have a number of drawbacks, such as not being blittable or use different base types, and thus do not meet the bar.

[2019-09-25 00:12] #1253 closed

[2019-09-25 02:32] KaneLeung commented on #147
[netcore 3.0 designer preview](https://aka.ms/winforms-designer)
you can use this vsix

[2019-09-25 07:14] Amy-Li02-zz opened #1970 "The template C# Windows Forms Controls Library(.NET Core) is missing"
* .NET Core Version: .NET Core 3.1.100-preview1-014066
* Have you experienced this same bug with .NET Framework?: No

**More info**
In CLI dialog, there also doesn't exist C# Windows Forms Controls Library(.NET Core) template.
![image](https://user-images.githubusercontent.com/49627022/65577269-11efbc80-dfa6-11e9-9403-48f79ca1c8f1.png)

**Minimal Reproduction Steps**
1. Launch VS and click the "Ne

[2019-09-25 07:27] RussKie commented on #147
I'm going to close this since we have released a Windows Forms Designer for .NET Core; more information here - https://github.com/dotnet/winforms/tree/master/Documentation/designer-releases.
The current Designer is still in a preview state and supports the basic set of control. The team is working around the clock to bridge the remaining gap.

[2019-09-25 07:27] #147 closed

[2019-09-25 08:15] Thea-Zhao commented on #1825
Verified this bug in .Net Core SDK 3.1.100-preview1-014066 build from release branch. This bug is fixed. Please see following screenshot:
![09 25](https://user-images.githubusercontent.com/53589182/65582241-9c88e980-dfaf-11e9-8a74-711cfc1d34a2.png)

[2019-09-25 13:30] hughbe commented on #1962
See https://github.com/dotnet/winforms/pull/1971
(https://dev.azure.com/dnceng/public/_build/results?buildId=365473&view=logs&jobId=1f132584-ab08-5fbf-e5d0-5685de454342)

Here are the logs
[logs_365473.zip](https://github.com/dotnet/winforms/files/3652708/logs_365473.zip)

[code]

[2019-09-25 20:03] sharwell commented on #1955
@RussKie That's entirely up to the individual project. If you have any questions about the applicability of specific rules I'm happy to help 👍

[2019-09-26 00:13] Tanya-Solyanik commented on #1965
@ryancheung - what version of Windows are you running on? The most recent versions had multiple bug fixes in IME area.

[2019-09-26 00:23] RussKie commented on #1970
We will tackle it for .NET 5.0

[2019-09-26 00:31] RussKie commented on #1959
Please follow the issues referenced above.
It is for the most part outside our control.

[2019-09-26 00:31] #1959 closed

[2019-09-26 00:39] RussKie commented on #1964
Please submit the designer issues via the VS Feedback channel as it will go to the Designer team, and as well would provide the team with additional logs and traces.
Thank you

[2019-09-26 00:39] #1964 closed

[2019-09-26 00:43] Tanya-Solyanik commented on #1964
@epikgit  - What custom controls had you added to this form? Preview 1 version of the WinForms Core designer does not support UserControls, only controls that are present in the toolbox have designer support so far. Please provide this information in VS Feedback when you open that issue.

[2019-09-26 01:16] ryancheung commented on #1965
I'm in Windows 10.

[2019-09-26 01:41] ryancheung commented on #1965
It's not just a bug of crushing when got candidate event, it's also a bug that no candidate event emitting when it should emit, which means text composition is completely broken in . Net Framework and . Net Core 3.0.

[2019-09-26 01:41] merriemcgaw commented on #1695
@FabianMaurerRedheads is this behavior different in .NET Framework 4.5+? Or is this similar in both cases?

[2019-09-26 01:44] ryancheung commented on #1965
I will upgrade my Window 10 to latest version and check if the bug still exists when I get back to my computer.

[2019-09-26 04:46] Tanya-Solyanik commented on #1965
It seems that on the .Net Framework you are experiencing problems with https://docs.microsoft.com/en-us/windows/win32/intl/imn-changecandidate notification because your sample is PInvoking windows APIs. Winforms Framework does not own IMM APIs, please open a new issue against WIndows in https://answers.microsoft.com and describe exact input and results thatt you are getting and what the expected r

[2019-09-26 05:03] Tanya-Solyanik commented on #1965
Crash stack on Core:
An unhandled exception of type 'System.OverflowException' occurred in System.Private.CoreLib.dll
Arithmetic operation resulted in an overflow.
on line: **return checked((int)l);**

 	WindowsForms.IMEHelper.Core.dll!WindowsForms.IMEHelper.IMENativeWindow.IMEChangeCandidate() Line 356	C#
 	WindowsForms.IMEHelper.Core.dll!WindowsForms.IMEHelper.IMENativeWindow.IMENotify(int WPara

[2019-09-26 05:10] ryancheung commented on #1965
After tested in Windows 7, I found the bug only exists in Windows 10, and my windows version is
![3082dec58a1db7dc486033291b26d4a](https://user-images.githubusercontent.com/240899/65659616-d36a0880-e05e-11e9-9d6f-160fa412056a.png)

Version 1803  maybe is too old. I shall upgrade my windows to latest and then check if bug exists.

[2019-09-26 05:15] Tanya-Solyanik commented on #1965
Please review your code where you are working with pointers, for ecample - https://github.com/ryancheung/WindowsForms.IMEHelper.Core/blob/761e170d3020800a3c9482b247d0451b6612b8c9/WindowsForms.IMEHelper.Core/IMENativeWindow.cs#L337-L356

Candidates[i] = Marshal.PtrToStringUni((IntPtr)(pointer.**ToInt32**() + sOffset));

This works on 32 bit applications, however on 64 bit applications IntPtr size i

[2019-09-26 05:15] #1965 closed

[2019-09-26 05:18] ryancheung commented on #1965
@Tanya-Solyanik But why the pointer part works in .Net Framework.

[2019-09-26 05:24] ryancheung commented on #1965
`pointer.ToInt64()` fixes the crash actually.

[2019-09-26 06:01] vladimir-krestov opened #1976 "[Accessibility][HC]: The no row-data area’s background is black in DGV on HC 1/Black theme"
* .NET Core Version: 3.1.0-preview1.19458.7
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
- DataGridView no row-data area color is not contrast

**Actual behavior:**
The DGV no row-data area’s background is black in HC 1/Black themes.
HC 1:
![image](https://user-images.githubusercontent.com/49272759/65661769-2f229a80-e03b-11e9-9668-e897a4093cda.png)

HC B

[2019-09-26 07:26] FabianMaurerRedheads commented on #1695
@merriemcgaw It always worked with .NET Framework, just Core was affected. However, starting with preview9 it works in Core as well. Thanks at all!

[2019-09-26 07:31] weltkante commented on #1695
Like I said above this was probably fixed by PR #1661 , since you confirmed it works I think it can be closed.

[2019-09-26 07:33] #1695 closed

[2019-09-26 10:13] RussKie commented on #1955
It is easy to break `SetDisplayRectLocation_InvokeWithoutHandle_Success` test by adding an `Debug.Assert(IsHandleCreated, "Handle is not created")` in the condition.
So it is a 🐛

[2019-09-26 10:14] hughbe commented on #1955
Aye.. I can fix this once https://github.com/dotnet/winforms/pull/1920 is merged

[2019-09-26 10:15] RussKie commented on #1955
I'm looking at all violations of SA1408, so leave this with me.

[2019-09-26 12:33] RussKie commented on #1955
Looking further at the code I'm wondering - would a child control have its handle created if its parent control doesn't have a handle? Is it a valid scenario?
If not, we can optimise `SetDisplayRectLocation` method to fast exit if `IsHandleCreated` isn't created:
https://github.com/dotnet/winforms/blob/3f564803ff268bab776fea7df9970d37760ed4da/src/System.Windows.Forms/src/System/Windows/Forms/Scrol

[2019-09-26 13:05] weltkante commented on #1955
In Desktop Framework this apparently was possible and there is [code to deal with that](https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/Control.cs,1879), so I'd assume this is still possible in Core.

Basically, if some user code forces the child window handle to be created it will be created hidden and parented to a "parking window". Later when the rea

[2019-09-26 13:46] RussKie commented on #1962
I've raised the issue to the infra team

[2019-09-26 16:51] Tanya-Solyanik commented on #1965
You can try out the latest preview builds of Windows where multiple changes in IMM area were made. Here are the instructions on how to obtain these: https://insider.windows.com/en-us/how-to-pc/

[2019-09-26 17:00] Tanya-Solyanik commented on #1965
`pointer` variable is declared as an IntPtr, you don't have to convert it in this case. And if you are converting, consider converting to unsigned types, as IntPtr is unsigned

[2019-09-26 17:29] weltkante commented on #1965
thats not correct, UIntPtr would be unsigned

[2019-09-27 01:11] ryancheung commented on #1965
@Tanya-Solyanik I just upgraded my win10 to latest version 1903. The bug still exists: most of text compositions do not emit Candidate change event, then no candidate list.

[2019-09-27 01:17] ryancheung commented on #1965
@weltkante @Tanya-Solyanik Thanks. I know I don’t have to convert to int for IntPtr now.

[2019-09-27 01:31] ryancheung commented on #1965
So, in conclusion, The bug may be fixed in latest win10 build, and then this approach to handle IME in exclusive full screen game is not applicable. We shall use windowed-fullsceen mode for game, letting the OS to render the Candidate Window.

But I still have a last question: manually rendering candidate list in game is actually working in C++ game in win10, like WoW classic, but not in C#, why?

[2019-09-27 06:33] RussKie commented on #1955
Thank you Tobias.

[2019-09-27 06:42] #48 closed

[2019-09-27 07:19] kpreisser opened #1981 "Interop.User32.PostMessageW has wrong return type"
* .NET Core Version: `master` (7019e1414309d820bc377e987cd1efcf9c17a12d)
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Hi, while adjusting the task dialog code in #1133 for recent interop changes and changing the usage of `UnsafeNativeMethods.PostMessage()` to `Interop.User32.PostMessageW()` (introduced with #1764), I noticed it has a return type of `IntPt

[2019-09-27 07:53] RussKie commented on #1981
The method you need is still available:
https://github.com/dotnet/winforms/blob/7019e1414309d820bc377e987cd1efcf9c17a12d/src/Common/src/UnsafeNativeMethods.cs#L488-L492

It hasn't been ported/cleaned up yet.

[2019-09-27 08:22] weltkante opened #1982 "Reference Source for repository"
[Roslyn](http://source.roslyn.io) and [CoreFX](https://source.dot.net/) have online browsable source for their repositories, we should have that for WPF and WinForms as well. I'm still using [Desktop Reference Source](https://referencesource.microsoft.com/) but WinForms is already moving apart due to the refactoring. Having online browsable source would be very useful for quick research during cod

[2019-09-27 08:24] RussKie commented on #1982
@ericstj @danmosemsft any hints how we could set the same?
/cc: @vatsan-madhavan

[2019-09-27 08:56] weltkante commented on #1981
The already ported version still needs to be fixed though, considering it is incompatible with the native API (its probably a copy/paste error because the other similarly named methods do return IntPtr)

/cc @JeremyKuhne

[2019-09-27 09:11] #1864 closed

[2019-09-27 09:12] M-Lipin commented on #1864
Fixed by https://github.com/dotnet/winforms/pull/1866.

[2019-09-27 10:27] RussKie commented on #1981
/cc: @hughbe

[2019-09-27 13:16] M-Lipin opened #1986 "Error when entering new value to PropertyGridView row"
In case the PropertyGrid is being recreated (or other conditions when selected grid entry is set to null) the application execution can fail with NullReferenceException.

Corresponding DevDiv issue: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/960781

[2019-09-27 14:42] brucremo commented on #721
Hello @JuditRose! I would like to help build those unit tests, could I work on them?? Thanks in advance!

[2019-09-27 15:36] M-Lipin opened #1987 "Screen reader does not announce expanding and collapsing action for Open button in PropertyGrid ComboBox"
**Repro steps:**
1. Create WinForms app with PropertyGrid control and target it to any object where one of the properties is the list that can be represented as ComboBox.
2. Run the app and Switch ON screen reader.
3. Try to expand and collapse the "Open" button and check whether the screen reader announces the Expanding or Collapsing action.

**Actual Result:**
Narrator/ NVDA is not reading Expan

[2019-09-27 17:16] JeremyKuhne commented on #1981
Yes, this should be `Interop.BOOL`.

[2019-09-27 22:23] ericstj commented on #1982
@KirillOsenkov do you know who manages the set of repos that contribute to source.dot.net?  It'd be nice to add WinForms and WPF.

[2019-09-27 22:57] KirillOsenkov commented on #1982
@alexperovich is the man!

[2019-09-27 22:58] KirillOsenkov commented on #1982
Hmm I think WinForms is already being indexed:
https://source.dot.net/#System.Windows.Forms/System/Windows/Forms/Button.cs,cb5c00483936b8f7

https://github.com/dotnet/source-indexer/blob/9bff716508ba262c9583ad86c30ada7b1a07e8c8/src/index/repositories.props#L17-L28

[2019-09-28 07:34] weltkante commented on #1982
Thats great, thanks, wasn't aware that multiple repositories can go into the same site. Looks like WPF is there too.

[2019-09-28 07:34] #1982 closed

[2019-09-29 09:31] Lydia-Shi commented on #1679
Verified this bug with .Net core 3.1.100-preview1-14076 from release branch, the issue has been fixed.

[2019-09-29 09:41] Lydia-Shi commented on #1680
Verified this bug with .Net core 3.0.100-rc1-014190 from release branch, the issue has been fixed.  Get a tooltip text or tooltip error text of DataGridView cell successfully when navigates with only using a keyboard, like below gif:
![toolTip](https://user-images.githubusercontent.com/54019172/65830249-61a0f180-e2e0-11e9-898f-7813bd3c1bc0.gif)

[2019-09-29 09:51] Zheng-Li01 commented on #1951
Verified with the .Net Core SDK 3.0.100-rc1-014190 from release branch, the issue has been fixed.

[2019-09-29 09:57] Jessie-Zhang01 commented on #1864
Verified in .Net core 3.1 latest build 3.1.100.14076 from release/3.1 branch, this bug is fixed. Please see following screenshot:
![image](https://user-images.githubusercontent.com/45864649/65830488-8b5b1800-e2e2-11e9-80f6-70f811e8bf93.png)

[2019-09-30 00:53] RussKie opened #1989 "Conditional order of precedence (possible) bug in `AxHost.CanAccessProperties`"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

Discovered as part of a review of https://github.com/dotnet/winforms/issues/1955.
Having enabled [SA1408](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1408.md) the analyser flagged the f

[2019-09-30 00:54] RussKie commented on #1989
@JeremyKuhne are you able to help here?
There are no docs or comments of any kind that can help in understanding what is happening here.

[2019-09-30 02:35] RussKie commented on #721
@brucremo that's awesome! Please go ahead.

/cc: @hughbe

[2019-09-30 08:31] weltkante commented on #1989
From the fragment alone you can't tell, either intent can make sense. I'd tend to preserving the current behavior if there is no evidence that its wrong. The current behavior does make some sense from the naming of the variables: inplace controls don't have their own window handle so I can imagine fOwnWindow flag being false for this case (but note that this is just speculation based on the naming

[2019-09-30 10:18] RussKie commented on #1989
Yes, unfortunately this is the case.

There are a number of other instances with confusing conditional expressions that are likely interpreted differently to the original intent - part of #1985 https://github.com/dotnet/winforms/commit/0a93d726ee55cb801a720a5b831f5f5d8406556c
Each one of those will have be dealt separately 😒

[2019-09-30 10:44] RussKie opened #1991 "[Clean up] Remove SA1408 suppressions"
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

After enabling [SA1408](https://github.com/DotNetAnalyzers/StyleCopAnalyzers/blob/master/documentation/SA1408.md) rule a number of suspicious conditional expressions have been identified. A number of these expressions are far from obvious and require investigation/repro/testing in order to resolve each one.
T

[2019-09-30 17:26] scalablecory opened #1995 "Text is longer than 43679 and its contents cannot be displayed in DataGridView"
_From @15092368540 on Friday, August 23, 2019 10:38:07 PM_

with NET Core 3.0.0-preview8, the point is that can't show, not long enough.
![88759-abug](https://user-images.githubusercontent.com/49462433/63627269-7d5a0d80-c639-11e9-82b6-9997a8c186f0.png)

_Copied from original issue: dotnet/core#3242_

[2019-09-30 17:26] scalablecory commented on #1995
_From @15092368540 on Monday, August 26, 2019 11:59:01 AM_

Temporarily found a way to fix from developercommunity.visualstudio.com
Codes:
private void DataGridView1_CellFormatting(object sender, DataGridViewCellFormattingEventArgs e)
{
	string str = e.Value.ToString();
	if (str.Length >= 43679)
	{
		e.Value = str.Substring(0, 43679);
		e.FormattingApplied = true;
	}
}

[2019-09-30 17:26] scalablecory commented on #1995
_From @15092368540 on Tuesday, August 27, 2019 7:06:30 PM_

by Tested, the above method does not achieve the desired purpose when there are two columns or more

[2019-09-30 17:51] JeremyKuhne commented on #1825
This has been merged into .NET Core 3.0 and will show up in the next servicing release.

[2019-09-30 17:55] JeremyKuhne commented on #1989
We do have the luxury of digging around in other internal source to look for clues for proper behavior. While I wouldn't jump on changing things, adding clarifying details never hurts ("this is normally done like this, but we did it this way historically, and we'll consider changing if, etc...").

Some of this logic is literally 30 years old. :)

[2019-09-30 18:07] livarcocc opened #1996 "Settings for a self-contained WinForms goes into new folders for every publish"
_From @felizk on Saturday, September 28, 2019 9:41:57 PM_

## Steps to reproduce
 * Publish a self contained WinForms app.
 * Run it.
 * Change and save some Settings (using the WinForms style .settings)
 * Notice settings are saved in LocalAppData ultimately in a folder with this kind of postfix: "_Url_2z3wslwxp2unr2f2llkyxtrbrq3rb5cd"
 * Repeat, notice the postfix has changed and settings are no

[2019-09-30 19:18] merriemcgaw commented on #1995
Have you encountered this issue before on .NET Framework?

[2019-09-30 20:32] merriemcgaw commented on #1834
I'm moving this to 5.0 since we're full up for 3.1 on accessibility, but I REALLY want to do this feature.

[2019-09-30 22:36] M-Lipin opened #1997 "Application crash on submitting new value to PropertyGrid item"
**Note:** Issue can be reproduced in case PropertyGrid is recreated on the moment of submitting new cell value.

**Repro steps:**
1. Create .NET Core Winforms app with PropertyGrid control.
2. Bind data value changing with PropertyGrid recreating.
3. Run the app and try access some properties.

**Actual:** application crash with null-reference exception.
**Expected:** no crash.

DevDiv bug: https:

[2019-10-01 02:41] RussKie commented on #1995
@15092368540 could you please provide more information in order for use to better triage your request.

* Have you encountered this issue before on .NET Framework?
* Have you tried the final release of .NET Core 3.0?

We will also need a simple sample app that reproduces the error.

Thanks

[2019-10-01 05:46] RussKie opened #1999 "Tests deadlock"
* .NET Core Version: 5.0

**Problem description:**

Running tests from the master branch locally I got tests hung. I have attached a debugger and there was a dozen of hung threads.

9 threads were stuck unable to acquire the lock in `NativeWindow.CreateHandle()` method (originating stacks were slightly different, but they all ended in the same critical section):
![image](https://user-images.github

[2019-10-01 06:00] RussKie commented on #1999
Few questions here:
- do we need to lock in `NoAssertContext`? Can we make `s_defaultListener` volatile or use `Interlocked` object?
- should all out tests dealing with UI (e.g. instantiating controls) be decorated with `StaFactAttribute` or [`WinFormsFactAttribute`](https://github.com/AArnott/Xunit.StaFact/blob/master/src/Xunit.StaFact/WinFormsFactAttribute.cs)

/cc: @hughbe

[2019-10-01 08:30] weltkante commented on #1999
Creating a control handle on a non-STA thread is a bad idea, it turns the thread pool thread into a UI thread by allocating a message queue etc. but without telling COM that the thread is STA, so controls using COM internally (e.g. RichTextBox) will be pretty confused, if working at all.

[2019-10-01 22:42] JeremyKuhne commented on #1999
I think `WinFormsFactAttribute` is the right response here

[2019-10-02 01:54] RussKie opened #2002 "Flaky test: `AxHost_GetIFontDispFromFont_InvokeSimpleStyle_Roundtrips`"
* .NET Core Version: master @ 3750c43d5d9b5161be967e39fd848c89d6479ff5

**Problem description:**

`AxHost_GetIFontDispFromFont_InvokeSimpleStyle_Roundtrips` test fails locally from cli and VS:

[code]

![image](https://user-images.githubusercontent.com/4403806/66012598-26ced180-e50b-11e9-81aa-e73d6b082e70.png)

`disp` doesn't appear to be cast-able to `Ole32.IFontDisp`.

**Expected behavior:**

Th

[2019-10-02 02:21] RussKie opened #2003 "Flaky test: `AxHost_GetIFontFromFont_InvokeSimpleStyle_Roundtrips`"
* .NET Core Version: master @ 3750c43d5d9b5161be967e39fd848c89d6479ff5

**Problem description:**

`AxHost_GetIFontDispFromFont_InvokeSimpleStyle_Roundtrips` test fails locally from cli and VS:

[code]

**Expected behavior:**

The test pass

/cc: @hughbe

[2019-10-02 03:06] weltkante commented on #2003
One thing I notice is that the port of `IFont` is missing two interface methods (added annotations in the original PR) - but I don't think those can be responsible here because they come after the method reading the charset property

[2019-10-02 03:08] RussKie opened #2004 "Flaky test: `AxHost_GetIPictureFromPicture_InvokeEnhancedMetafile_Roundtrips`"
* .NET Core Version: master @ 3750c43d5d9b5161be967e39fd848c89d6479ff5

**Problem description:**

`AxHost_GetIPictureFromPicture_InvokeEnhancedMetafile_Roundtrips` test fails on CI but is passing locally.
E.g.
- https://dev.azure.com/dnceng/public/_build/results?buildId=371654&view=ms.vss-test-web.build-test-results-tab&runId=11320176&resultId=113686&paneView=debug

[code]

**Expected behavior:**

[2019-10-02 03:10] RussKie opened #2005 "Flaky test: `AxHost_GetIPictureDispFromPicture_InvokeEnhancedMetafile_Roundtrips`"
* .NET Core Version: master @ 3750c43d5d9b5161be967e39fd848c89d6479ff5

**Problem description:**

`AxHost_GetIPictureDispFromPicture_InvokeEnhancedMetafile_Roundtrips` test fails on CI but is passing locally.
E.g.
- https://dev.azure.com/dnceng/public/_build/results?buildId=371654&view=ms.vss-test-web.build-test-results-tab&runId=11320176&resultId=113727&paneView=debug
- https://dev.azure.com/dnce

[2019-10-02 03:22] weltkante commented on #2002
As noted on #2003, is this test done on STA, being only annotated with a [Fact] attribute? I don't know if OLE ActiveX functions are working correctly outside STA ... considering that the OleInitialize native API initializes the thread to STA I'd expect all OLE functions to require STA ... in this case it might be solved together with #1999 by using the proper test annotations

[2019-10-02 03:27] weltkante opened #2007 "IFont port is missing methods"
* .NET Core Version: master branch
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The [port](https://github.com/dotnet/winforms/commit/18a20a2a1c85f3881995bafe03993c7454259beb#diff-9365ef061cf5ed914236af3a98d800c1) of [`IFont`](https://github.com/dotnet/winforms/blob/master/src/Common/src/Interop/Ole32/Interop.IFont.cs) seems to be missing two interface met

[2019-10-02 03:39] weltkante commented on #2005
As noted on the other similar issues this test also seems to be not running on STA, being only annotated with a `[Fact]` attribute. Considering that `OleInitialize` native API initializes the thread to STA I'd expect all OLE functions to require STA ...

[2019-10-02 03:40] weltkante commented on #2004
As noted on the other similar issues this test also seems to be not running on STA, being only annotated with a `[Fact]` attribute. Considering that `OleInitialize` native API initializes the thread to STA I'd expect all OLE functions to require STA ...

[2019-10-02 04:15] weltkante commented on #1999
@JeremyKuhne do you know if `WinFormsFactAttribute` will lead to `OleInitialize` being called? I suspect some of the test failures are due to calling OLE functions on non-STA threads, but STA alone may not be enough for OLE, you probably need to call `OleInitialize` on the thread as well.

[2019-10-02 04:16] RussKie commented on #1999
/cc: @AArnott any thoughts on the subject?

[2019-10-02 06:14] RussKie commented on #1553
@danmosemsft this looks like fixed in 5.0 but 3.1 is still broken. Is there anything we can do to get it fixed in 3.1 as well?

* 3.1 Preview1
![image](https://user-images.githubusercontent.com/4403806/66021910-95258b00-e52f-11e9-8f0d-e3f7ae489430.png)

* 5.0
![image](https://user-images.githubusercontent.com/4403806/66021180-0fa0db80-e52d-11e9-90ed-4053d9cff522.png)

[2019-10-02 06:17] RussKie commented on #1121
This is still broken in 3.1-Preview1 and 5.0

[2019-10-02 06:18] RussKie commented on #1120
This is still broken in 3.1-Preview1 and 5.0

[2019-10-02 06:18] RussKie commented on #1119
This is still broken in 3.1-Preview1 and 5.0

[2019-10-02 06:19] RussKie commented on #1118
This is still broken in 3.1-Preview1 and 5.0

[2019-10-02 07:11] weltkante commented on #1121
`Font` is missing the `[Editor(...)]` attribute, Desktop had `[Editor("System.Drawing.Design.FontEditor, System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a", typeof(UITypeEditor))]` but CoreFX doesn't want the dependency on WinForms anymore. I think you have some TypeDescriptor logic which extends the types in System.Drawing with their WinForms specific design

[2019-10-02 07:24] weltkante commented on #1119
Probably some `[Editor(...)]` attribute missing which was present in Desktop Framework and `TypeDescriptor.GetEditor` returning null.

[2019-10-02 07:27] weltkante commented on #1120
`TypeDescriptor.GetEditor(typeof(Color), typeof(UITypeEditor))` returns null, Desktop Framework used to link the Color type with an `[Editor("System.Drawing.Design.ColorEditor, System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a", typeof(UITypeEditor))]` attribute. In .NET Core you'll probably want to extend the TypeDescriptor dynamically to avoid having CoreFX

[2019-10-02 07:31] weltkante commented on #1118
The order of properties is coming from sorting within the `GetProperties` override in `FontConverter` subclass of `TypeConverter` in Desktop Framework. Either its not ported one-to-one or its not registered properly as the `TypeDescriptor` of the `Font` class.

[2019-10-02 07:49] weltkante commented on #1553
Seems to work for me in 3.0 GA, can't test 3.1

<details><summary>example</summary>

[code]

![image](https://user-images.githubusercontent.com/5845814/66026817-e6b32300-e4f9-11e9-890b-f8a5032ae1cb.png)

</details>

[2019-10-02 14:41] Zermond opened #8809 "ArgumentException: "Parameter is not valid" in Bitmap when file is not found or null"
# Issue Title

A Wrong exception of class Bitmap

# General

I have a code:

[code]

If a file on path the fileName null or file not found I have an exception:
`Unhandled Exception: System.ArgumentException: Parameter is not valid.`

I had this bug with 3 other ways:
[code]
[code]

And with docker which I get from based images of Microsoft
`FROM mcr.microsoft.com/dotnet/core/runtime:2.1`

[Console

[2019-10-02 18:17] safern commented on #1553
@RussKie the fix seems to be in the 3.1 branch... have you guys consumed the latest Microsoft.NETCore.App from 3.1? Would you mind checking what version you tested agains?

Here's the source code for 3.1: https://github.com/dotnet/corefx/blob/release/3.1/src/System.ComponentModel.TypeConverter/src/System/ComponentModel/ReflectTypeDescriptionProvider.cs#L139

[2019-10-02 19:40] theam1977 opened #2011 "testing"
hi how are you...

[2019-10-02 19:40] #2011 closed

[2019-10-02 20:22] qwertyuiopA1234 opened #2012 "بيتا"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

**Actual behavior:**

**Expected behavior:**

**Minimal repro:**

[2019-10-03 00:57] 15092368540 commented on #1995
[datagridviewtest.zip](https://github.com/dotnet/winforms/files/3684042/datagridviewtest.zip)
![test](https://user-images.githubusercontent.com/49462433/66091805-cea3d800-e5bb-11e9-9f46-760fe792023b.png)

[2019-10-03 00:58] RussKie commented on #1995
Thank you.

Have you encountered this issue before on .NET Framework?

[2019-10-03 01:00] 15092368540 commented on #1995
datagridviewtest.zip is a file of test project

[2019-10-03 01:10] RussKie commented on #1995
I see that your example is targeting .NET 4.7.2. This repo is only for .NET Core version of Windows Forms.
If you provide a repro for .NET Core app exhibiting the issue - it will be certainly looked at.

You welcome to submit your issue with .NET Frameworj via VS Feedback:
![image](https://user-images.githubusercontent.com/4403806/66092102-f00dbf80-e5cd-11e9-9989-9472c22f3426.png)
However you have

[2019-10-03 01:10] #1995 closed

[2019-10-03 03:10] RussKie commented on #1553
Thank you for the confirmation.
I have created brand new apps targeting 3.0 and 3.1 outside the repo, and it both cases worked.

[2019-10-03 03:10] #1553 closed

[2019-10-03 07:20] weltkante commented on #1995
@RussKie seriously? I find VS Feedback mostly redirects issues against UI frameworks to the Core repositories. I think an issue will only be fixed in Desktop if its a security issue. Even then they want it also fixed in the Core repository so they'll still recreate the issue here.

Also it is trivial to verify that the bug still exists in Core and has not been fixed, I just dragged the Form1 into

[2019-10-03 11:38] AraHaan commented on #357
Idk if this would or could go here but; I am now working on themeing my controls and this includes some test hacking on NCPAINT as well on the form’s nc area.

However I have a question; can I have a class that provices a custom ScrollBar renderer be applied to the scrollbars of any ScrollableControls with autosize set to true?

[2019-10-03 13:12] weltkante commented on #357
@AraHaan no, this issue was about fully enabling the native themes (unfortunately the issue name is ambigous). Your request is better served as a separate feature request issue.

[2019-10-03 13:14] AraHaan commented on #357
Alright thanks.

[2019-10-04 00:04] merriemcgaw commented on #1680
Closing as fixed. Thanks all!

[2019-10-04 00:04] #1680 closed

[2019-10-04 00:08] merriemcgaw commented on #1130
@davkean is this something that would land on your team's plate?

[2019-10-04 00:12] merriemcgaw commented on #1504
@koszeggy if you'd like to submit a PR we'll be happy to review and accept it. Otherwise, it will be a while longer before we get to it.

[2019-10-04 00:44] merriemcgaw opened #2016 "Ensure ErrorProvider supports all accessibility requirements."
Per: https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/errorprovider-component-overview-windows-forms The ErrorProvider doesn't support accessibility clients. We should add that because apps that depend on it may not be fully accessible for their users.

[2019-10-04 01:15] RussKie commented on #2016
This may be handy as well https://blogs.msdn.microsoft.com/winuiautomation/2017/09/14/let-your-customers-know-of-important-status-changes-in-your-winforms-app/

[2019-10-04 02:10] RussKie commented on #357
@AraHaan this is awesome!

In the interest of having the most productive and enjoyable experience for everyone please open a new discussion for each control you want to style/theme.
This is necessary so we together can discuss requirements, implementations and other considerations (e.g. accessibility) we need to have in order for changes to be accepted into the codebase.

It is extremely sad when

[2019-10-04 05:30] RussKie opened #2017 "Port `System.ComponentModel.Design.BinaryEditor`"
**Problem description:**

`BinaryEditor` from System.Design is missing.

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-501115599

[2019-10-04 05:31] RussKie opened #2018 "Port `System.Drawing.Design.ContentAlignmentEditor`"
**Problem description:**

`ContentAlignmentEditor` from System.Drawing.Design is missing.

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-501115599

[2019-10-04 05:32] RussKie opened #2019 "Port `System.ComponentModel.Design.DateTimeEditor`"
**Problem description:**

`DateTimeEditor` from System.Design is missing.

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-501115599

[2019-10-04 05:33] RussKie opened #2020 "Port `System.Drawing.Design.IconEditor`"
**Problem description:**

`IconEditor` from System.Drawing.Design is missing.

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-501115599

[2019-10-04 07:58] RussKie commented on #1995
The issues is reported as .NET 4.7.2 issue. Until we have a confirmation the same is failing in .NET Core we can't accept it.

@15092368540 you are welcome to submit a .NET Core repro and we'll reopen the ticket.
You are also welcome to submit a PR with a fix.

[2019-10-04 09:38] hughbe commented on #1999
Could it be that we don’t dispose any controls in the unit tests?

[2019-10-04 09:39] hughbe commented on #2004
So I don’t think I actually changed the IPicture interface. I just added tests. This suggests that either this is a test bug or a bug that was there before caused by either previous refactoring or that has always been there

[2019-10-04 09:40] hughbe commented on #2004
Scratch that: metafile support WAS recently added in .Net Core. Previously in .NET framework it didnt work

[2019-10-04 10:39] weltkante commented on #1999
I think there are multiple concerns here

The deadlock @RussKie shows is a plain bug in the NoAssertListener, the TraceListenerCollection [has its own lock](https://referencesource.microsoft.com/#System/compmod/system/diagnostics/TraceListeners.cs,db564f838f2411e4) and you got a lock inversion with the NoAssertListeners lock: one path takes them in order A B the other code path takes them in order

[2019-10-04 11:24] koszeggy commented on #1504
@merriemcgaw, thank you for your trust, but as the repo requires .NET Core 5.0.100-alpha1-013788 to build, which is publicly not available (at least I could not find anything newer than 3.0.100) it is alright to me to wait for it. I have my own workaround since .NET 3.5 anyway.

[2019-10-04 11:29] weltkante commented on #1504
@koszeggy the [daily build](https://github.com/dotnet/core/blob/master/daily-builds.md) page doesn't mention it but if you click the link the actual download section has [5.0 daily builds](https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries)

[2019-10-04 14:59] AArnott commented on #1999
The `WinFormsFactAttribute` executes the test on an STA thread and sets up `WinFormsSynchronizationContext` on that thread. It does nothing else. If `OleInitialize` or some other code should be run as well before the test starts, I'm happy to oblige. Please file an issue at https://github.com/AArnott/Xunit.StaFact/issues

[2019-10-04 15:41] #1632 closed

[2019-10-04 17:30] weltkante commented on #2005
Test failure is independent from OleInitialize.

[2019-10-04 17:30] weltkante commented on #2004
Test failure is independent from OleInitialize.

[2019-10-04 17:53] Tanya-Solyanik opened #2036 "[Port] Regressions in custom DataGridView cell editing controls"
* .NET Core Version: 3.0
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
Port fix for https://devdiv.visualstudio.com/DevDiv/_workitems/edit/989913 (repro app is attached to the VSO bug)
Steps to reproduce: A customer has reported this in the forums.
1. Install Windows Server 2019 Standard with Desktop Experience from an ISO.
2. Install Failover Cluster Ser

[2019-10-04 19:38] weltkante commented on #2005
This is an interop mistake, see #2004 for more details

[2019-10-04 19:48] weltkante commented on #2004
This and #2005 are interop mistakes, making `OLE_HANDLE` unsigned leads to the wrong sign extension, if the high bit in the handle is set this will fail the test.

USER and GDI handles are apparently sign extended (documented [here](https://docs.microsoft.com/de-de/windows/win32/winprog64/interprocess-communication) and [here](https://docs.microsoft.com/en-us/previous-versions/ms810720(v=msdn.10)#

[2019-10-05 01:24] paul1956 commented on #147
As far as I can tell these instructions are still needed for VB since the preview does not work.

[2019-10-05 14:19] AArnott opened #2039 "Eliminate elevation required to init/build repo"
From what @russkie says over at https://github.com/AArnott/Xunit.StaFact/issues/30#issuecomment-538639542, the reason that `build-local.ps1` is required to elevate is to create a symlink.

It's true that VS requires the .NET SDK to be installed at the machine-wide location. Installing that would require elevation if it were not already installed. But building and testing from the command line shou

[2019-10-05 14:57] weltkante commented on #2039
When I debugged the tests yesterday building from the command line via `build.cmd` worked for me after an initial `Restore.cmd` run, both without having to elevate. I then ran the tests from within VS, but its kinda clunky to have to run `build.cmd` from commandline when changing something. At least it didn't require closing and reopening VS.

[2019-10-05 15:04] weltkante commented on #2002
Wasn't able to reproduce this, is it failing consistently? Inconsistently failing casts really hint at the COM runtime being broken. So first thing to try once you have a machine where you can reproduce it is to use `[WinFormFact]` and place a call of `Application.OleRequired` at the begin of the test.

If this fixes the problem then [this PR](https://github.com/AArnott/Xunit.StaFact/pull/33) will

[2019-10-05 15:34] koszeggy commented on #1504
I added the StatusBar fix to the PR.
I didn't change the [ActiveX-related code](https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/Control.cs,16568) found by @0xd4d though. Its test is a bit more complex and I think that would require another version of the `MAKELPARAM` method as well.

[2019-10-05 18:13] AArnott commented on #2039
hmmmm.... mklink required elevation later today. Odd. I wonder if I was in developer mode earlier... or if directory junctions *don't* require elevation where soft links of *files* do require elevation.

[2019-10-06 04:20] AraHaan opened #2040 "[API Addition] Use ScollBar control for ScrollableControls to allow usage of Custom ScrollBarRenderers."
I think that replacing Scrollbars can be a pain in the butt  when you want to theme an winforms application. What if someone wants to make the entire form look like the UWP dark theme on Windows 10 but hard coded as dark theme?

I think the application should be able to colorize the scrollbars without:
1. Using undocumented windows api that can always change or break.
2. Reinventing the wheel and

[2019-10-06 04:21] AraHaan commented on #2040
I was told to make this from issue #357.

[2019-10-06 16:58] #1504 closed

[2019-10-07 09:06] AraHaan commented on #2040
Note: Implementation will come at ``No ETA``.

This is to ensure it is not rushed and is tested locally.

[2019-10-07 15:54] hughbe opened #2047 "Setting TabControl.Alignment with a handle recreates the handle twice"
Should only do it once:

Problematic code: we set `Multiline = true` which causes the handle to be recreated before we recreate is again
[code]

[2019-10-08 02:26] RussKie commented on #2040
/cc: @nikolayxhd you may be interested in this discussion/FR

[2019-10-08 03:10] RussKie commented on #2039
`build.cmd` facilitates running from a cli.
To run from VS is significantly more cumbersome:
- start a command prompt
- run `build.cmd` and wait for all downloads, builds, tests etc
- prepend `\<path>\winforms\.dotnet` to the `%PATH%`
- launch VS from this command prompt

Because we get a constant stream of updates from arcade and core-sdk, switching between commits is a royal PIA and you have to

[2019-10-08 03:47] RussKie commented on #2004
@JeremyKuhne  @hughbe can you please lead on this?

[2019-10-08 03:49] RussKie commented on #2004
Thank you @weltkante for taking the time and the analysis.

@JeremyKuhne  @hughbe can you please lead on this?

[2019-10-08 08:20] Amy-Li02 opened #2048 "The CellFormatting event of datagridview cannot be fired for cells that are not headers"
* .NET Core Version: (3.1.100-preview1-14455 from release branch)
* Have you experienced this same bug with .NET Framework?: No

**Minimal repro:**
1. Build and run the attached application.
[CellFormattingEvent.zip](https://github.com/dotnet/winforms/files/3701402/CellFormattingEvent.zip)
2. **Double click** on "D" cell, so that entire cell cannot be selected(only selected cell 's text).
3. Then

[2019-10-08 08:42] RussKie commented on #2048
@Amy-Li02 could you please provide product versions for System.Windows.Forms.dll in both
* C:\Program Files\dotnet\shared\Microsoft.WindowsDesktop.App\3.1.100-preview1-14455
* C:\Program Files\dotnet\shared\Microsoft.WindowsDesktop.App\3.1.100-preview1-014076

![image](https://user-images.githubusercontent.com/4403806/66380664-98bf8300-ea03-11e9-859c-0c9caed5bbf5.png)

[2019-10-08 10:16] RussKie commented on #2048
This looks like a regression introduced in https://github.com/dotnet/winforms/pull/1681
Prior to #1681 `CellFormatting` event would be raised on cell hover, however now a tooltip is shown and the event isn't raised.

@vladimir-krestov please see what we can do to restore the original behaviour and have the tooltips.

[2019-10-08 12:08] vladimir-krestov commented on #2048
Ok, I'll investigate this.

[2019-10-08 16:40] vladimir-krestov commented on #2048
I have investigated a case when added a ToolTip text for a TextBox cell (without #1681 changes):

![image](https://user-images.githubusercontent.com/49272759/66411678-cce37580-e9fc-11e9-8eb9-c336bee725c6.png)

I have got the following result:

![otF94hrOSp](https://user-images.githubusercontent.com/49272759/66412628-960e5f00-e9fe-11e9-8ba1-633f15be987e.gif)

Сonclusion:
- If a cell has a tooltip t

[2019-10-08 21:20] merriemcgaw commented on #2048
Did this scenario call the CellFormatting event in Framework?

[2019-10-09 01:58] Vino-Wang opened #2052 "The color of the Linklabel is black in runtime when targeting .NET Core 5.0"
* .NET Core Version: (.NET Core SDK 5.0.100 - alpha1 5.0.100.14858)
* Have you experienced this same bug with .NET Framework?: No

**More info:**
This issue cannot reproduce when targeting .NET Core 3.0.

**Actual behavior:**
The color of the Linklabel text is black and user cannot distinguish between clicking and no clicking.
![Issue](https://user-images.githubusercontent.com/18568603/66445983-41

[2019-10-09 01:59] Amy-Li02 commented on #2048
@merriemcgaw @vladimir-krestov Yes, your investigation result is right.
1. In .NET Core, added default tooltips for all cells, so CellFormatting event is not fired.
2. In .NET Framework, there is no default tooltips for all cells, so by default, CellFormatting event can be fired. However when added a ToolTip text for a TextBox cell, CellFormatting event is not fired.

Now we worried CellFormatting

[2019-10-09 06:56] vladimir-krestov commented on #2048
@merriemcgaw, @Amy-Li02 does it need to implement calling `CellFormating` event when hovering a cell by mouse regardless of tooltips?
At the moment a DataGridView cell has a tooltip always. Except when the user sets an `empty string` or `null `as a tooltip text (then `CellFormating` event is fired).

Also, if you set `dataGridView1.ShowCellToolTips = false;` then `CellFormatting` event is not fire

[2019-10-09 09:50] pcfulife2 opened #2053 "How about supporting ARM64."
Windows 10 supports ARM64 processors. And, Windows 10 on ARM64 can run x86 applications. But, performance is significantly low because of emulation. And, it cannot run native AMD64 applications. So, some developers recompile their applications for better performance.

Win32 API supports ARM processors. (I saw native ARM64 applications which is not an UWP app) But, WinForms does not support ARM64 b

[2019-10-09 10:39] Wagnerp opened #2054 "[Question]: Overriding Scrollbars"
Hi,

I'm the developer for the `Krypton Toolkit Suite` projects hosted here on GitHub, and I was wondering if there was a way to override the default scrollbars for controls with some custom made scrollbars as seen below?

![image](https://user-images.githubusercontent.com/949607/66474563-74a68500-ea89-11e9-8f30-1714520af7f3.png)

[2019-10-09 10:49] weltkante commented on #2054
Is this the same feature request as #2040?

[2019-10-09 13:15] Wagnerp commented on #2054
@weltkante

Thanks for pointing this out. Hopefully a API for this stuff can be added soon!

[2019-10-09 13:18] Wagnerp commented on #2040
I also have the same question as noted in #2054

[2019-10-09 19:24] cston opened #2056 "Support WindowsFormsApplicationBase.IsSingleInstance"
Support for "single instance" applications (see `WindowsFormsApplicationBase.IsSingleInstance`) has not been ported to .NET Core.

The [reference source](https://github.com/microsoft/referencesource/blob/master/Microsoft.VisualBasic/runtime/msvbalib/ApplicationServices/WindowsFormsApplicationBase.vb) implementation relies on `System.Runtime.Remoting` to communicate with other instances, and `Remot

[2019-10-09 19:29] cston commented on #2056
cc @KathleenDollard

[2019-10-09 19:52] weltkante commented on #2056
Having taken a quick look it should be possible to use a named pipe instead, if I didn't miss anything it was just sending strings across the remoting.

[2019-10-09 23:13] #2054 closed

[2019-10-09 23:58] merriemcgaw commented on #2048
We would not expect the CellFormatting event to fire until the user leaves the cell that is being edited. Simply hovering elsewhere doesn't end the editing of the cell and it's when the editing is done that I would expect the CellFormatting would fire. I'd argue that not triggering the event when hovering over another cell is what I'd expect. @M-Lipin just mention this when you document #1680

[2019-10-09 23:58] #2048 closed

[2019-10-09 23:59] merriemcgaw commented on #1680
mention the behavior change noticed in #2048

[2019-10-10 00:01] merriemcgaw commented on #2040
@OliaG please put this on our list of features to discuss in 5.0 planning work.

[2019-10-10 00:39] OliaG commented on #2053
Cc @richlander

[2019-10-10 00:42] richlander commented on #2053
We are currently looking into this, for .NET Core (including WPF and Windows Forms). I am hopeful that we will add Windows ARM64 for .NET Core in 2020 but we have not finished planning and feasibility on that yet.

It would be awesome to see more requests on ARM64. If you have specific scenarios that you want to share, that would certainly help make this request a reality.

[2019-10-10 03:08] RussKie commented on #2056
I think we'll need to refactor that code to use a `Mutex` instead, e.g. something like https://stackoverflow.com/a/184143

[2019-10-10 06:18] 0x084E opened #2058 "NotifyIcon ContextMenuStrip is shown above taskbar"
* .NET Core Version: 3.0.100
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
A NotifyIcons ContextMenuStrip is shown above the taskbar and not within.

I think the reason for this is that ToolStripDropDown.WorkingAreaConstrained is always returning true in .NET Core ([Net.Core Source](https://source.dot.net/#System.Windows.Forms/System/Windows/Forms/ToolStri

[2019-10-10 07:15] weltkante commented on #2056
@Russkie That is not enough, there is more to it than the `SingleInstace` flag, it passes some strings over to the already running application and raises a user-implemented event, so the application can open the newly opened document in the existing instance rather than in a new instance (similar to various Office applications)

[2019-10-10 07:29] weltkante commented on #2058
@0x084E but Desktop also always returns true, unless you are running with restricted rights, which is no longer supported. So this code path looks identical between Core and Desktop to me.

[2019-10-10 07:32] vladimir-krestov opened #2059 ".NET Core project template doesn't have a manifest file"
* .NET Core Version: 3.1.0-preview1.19458.7
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- It needs to add a manifest file to Core project template in order for the new app to opt-in into all the latest fixes from Windows.

**Actual behavior:**
- Core project template doesn't have a manifest file

**Expected behavior:**
- Core project template must have a

[2019-10-10 18:13] AdamYoblick opened #2067 "Enable Roslyn Analyzers"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**
Port the fixes for Roslyn Analyzer violations from the VS source to the winforms source. See https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/206917 for details.

**Actual behavior:**

**Expected behavior:**

**Mi

[2019-10-10 22:46] AdamYoblick opened #2068 "Port yaml cleanup from winforms-designer"
Specifically:

- Making the variables easier to read
- Only running debug on public builds

See https://github.com/dotnet/winforms-designer/pull/963

[2019-10-10 23:43] merriemcgaw commented on #2059
User can add a manifest easily to their project (add new item dialog).

[2019-10-10 23:43] #2059 closed

[2019-10-10 23:52] merriemcgaw commented on #1890
We will consider this if we get significant customer feedback. There is significant risk and we've not heard that feedback yet.

[2019-10-10 23:52] #1890 closed

[2019-10-10 23:53] merriemcgaw commented on #1855
/cc: @OliaG

[2019-10-11 00:00] merriemcgaw commented on #1130
This is a console app and the project file doesn't have the `<UseWinForms>True</UseWinForms>`
@drewnoakes do you think this is something project system might be interested in picking up?

[2019-10-11 00:06] merriemcgaw commented on #1130
Sorry - we double checked and the behavior seems to be as we'd expect. Closing this issue

[2019-10-11 00:06] #1130 closed

[2019-10-11 00:09] JeremyKuhne opened #2069 "Consider using structs to wrap simple native typedefs"
We've been using enums to wrap `typedef`s from Windows. For example:

[code]

We're [wrapping as](https://github.com/dotnet/winforms/blob/master/src/Common/src/Interop/Interop.BOOL.cs):

[code]

While enums are more directly aligned with `typedef`, they don't provide other advantages that C# can provide, such as implicit operators. This can be useful in the case of `BOOL`, where checking `if (b ==

[2019-10-11 03:17] RussKie commented on #2059
Apps get the default manifests
![image](https://user-images.githubusercontent.com/4403806/66622002-c427b500-ec31-11e9-83af-fb7a7a5c16a9.png)

Is our default manifest missing features?

[2019-10-11 09:11] vladimir-krestov commented on #2059
@Tanya-Solyanik could you please explain this point?

[2019-10-11 09:27] weltkante commented on #2069
Technically this isn't true, which was discovered after a [bugfix](https://github.com/dotnet/coreclr/issues/19474) was made, which started crashing WPF (which already uses struct wrappers). This has lead to a technical discussion in the [PR](https://github.com/dotnet/coreclr/pull/23974) which highlighted that the native calling conventions for struct returns differ depending on whether the method

[2019-10-11 10:21] weltkante commented on #2059
@vladimir-krestov by default VS embeds a default manifest

@RussKie the default manifest does not include the `<supportedOS Id="..."/>`tags to enable Windows 7, 8, 8.1 or Windows 10 support, so .NET Core 3 applications will be switch into a compatibility mode for older OS versions, which is what @vladimir-krestov is meaning when he says the manifest does not opt-in to the latest fixes

I agree tha

[2019-10-11 10:30] vladimir-krestov commented on #2059
Thank you!

[2019-10-11 13:55] vladimir-krestov opened #2073 "[Accessibility][ScreenReader]: NVDA/Narrator are not reading the ToolTip message"
* .NET Core Version: 3.1.0-preview1.19458.7
* Have you experienced this same bug with .NET Framework?: Yes

**Original bug:**
- [Bug 987952](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/987952)

**Problem description:**
- A user can't hear a tooltip text using NVDA/Narrator

**Actual behavior:**
- NVDA/Narrator don't read a message from shown ToolTip

**Expected behavior:**
- NVDA/Narrat

[2019-10-11 18:12] JeremyKuhne commented on #2069
It is true from the .NET Framework perspective. As you pointed out, even though it is technically incorrect, the runtime could never change their treatment of these as it would essentially break the world. What would likely happen is that they would add additional modifiers that allow you to get structs to pass per spec. For the record I was the source of the break you mentioned as I stumbled acro

[2019-10-12 04:34] AraHaan commented on #2040
@merriemcgaw perhaps you can assist me on getting the real NC bounds of the form itself and the location of the buttons and stuff that gets painted in the NC area based on the OS and their sizes and stuff factored in. Because I plan on having form NC styling be an optional thing as well via a renderer. However the renderer probably needs some default values where if they are the default colors the

[2019-10-12 09:32] weltkante commented on #2040
@AraHaan [GetWindowRect](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-getwindowrect)? If you mean the shadow around the frame, that might not be part of the NC area in the first place, it could be a seperate window. At least some applications render the shadow in a separate window (which you can notice when the window stops responding to its message loop, the shadow then s

[2019-10-14 00:19] RussKie commented on #2059
@ericstj do you know who owns the default manifest? Is this change something we can entertain to it?

[2019-10-14 00:20] RussKie commented on #2059
Thank you @weltkante 👍

[2019-10-14 00:58] Shadowblitz16 opened #2076 "translate winforms to use native calls on mac and linux?"
right now winforms is the easiest to use but doesn't look native on other platforms.
I think if someone with the know how was willing to support other platforms natively it would be a better alternative for cross platform development then say xwt and eto.

I dislike the idea of anything related to wpf since its not native looking even on windows and is harder to use.

[2019-10-14 05:04] #1955 closed

[2019-10-14 11:55] weltkante commented on #2076
Projects referencing WinForms don't even build on other platforms, much less running on them, so what exactly are you talking about?

If you try to run WinForms applications via an emulation layer then any request to modernize the look and feel would need to be done against that emulation layer, WinForms itself is mostly a wrapper around the win32 API, it doesn't provide its own theming or control

[2019-10-14 15:34] weltkante commented on #1115
More missing editors:

- [ ] [DataMemberListEditor](https://github.com/dotnet/winforms/search?q=DataMemberListEditor&unscoped_q=DataMemberListEditor)
- [ ] [DataMemberFieldEditor](https://github.com/dotnet/winforms/search?q=DataMemberFieldEditor&unscoped_q=DataMemberFieldEditor)
- [ ] [ImageIndexEditor](https://github.com/dotnet/winforms/search?q=ImageIndexEditor&unscoped_q=ImageIndexEditor)
- [ ]

[2019-10-14 16:41] jmarolf opened #2084 "Incorrect position of controls when layout is suspended"
* .NET Core Version: 3.0 RTW
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

When a controls layout is suspended, if anchors are specified, changing the location of that control will cause incorrect positions to occur when layout is resumed

**Actual behavior:**

![](https://user-images.githubusercontent.com/9663150/65137205-32999e80-da09-11e9-80f8-852861f4

[2019-10-14 22:28] merriemcgaw commented on #1395
@MrB0nd can you tell us a bit more about the customer scenario here? If we know what you're trying to enable here we may have better guidance for you.

[2019-10-14 23:51] RussKie commented on #1115
Thank you!

[2019-10-14 23:56] RussKie commented on #2084
Is this a designer or a runtime issue?

[2019-10-15 00:00] jmarolf commented on #2084
This is happening in the designer process so I believe it is a runtime issue.

[2019-10-15 01:27] Shadowblitz16 commented on #2076
I thought winforms ran on mac and linux on mono and .netcore?
My suggestion is simply if it does or if it will it would be a good idea to translate it to native widgets on linux and mac.

that way people can use winforms for cross platform development and not have it look like shit on other platforms.

[2019-10-15 03:11] RussKie commented on #2076
Apps built on Windows Forms on .NET Framework and .NET Core 3.0 run on Windows.
It is also possible to run Windows Forms on .NET Framework under Mono runtime on Linux (NB: it isn't 100% like-for-like though).

There are no immediate plans to run Windows Forms .NET Core 3.0/.NET 5.0 on non-Windows platforms.
We are actutely aware of our consumers' desire to have a x-plat story, however there is not

[2019-10-15 03:11] #2076 closed

[2019-10-15 08:09] AustinWise opened #2085 "When building winforms repo, global.json file is not fully respected"
I discovered this on the 3.1 branch. I'm not sure if this is a winforms problem or an arcade problem, or how big of a problem it really is.

To reproduce:
1. Do a build.
1. Switcher to an older branch whose global.json specifies an older SDK version.
1. Do NOT clean the repo.
1. Do a build.

Expected: the precise SDK version specified in the global.json is used.
Actual: the `latestMajor` roll forw

[2019-10-15 11:29] PDostalek opened #2087 "[loc][Query][winforms] Localizability of 0; "columnHeader1.Text""
Hi,
please help localization team to answer question from translator.
In case translator is not sure about context/meaning/localizability of string we raise a question.

Source:
ColumnHeader1

File Name:
System.Windows.Forms\tests\IntegrationTests\WinformsControlsTest\xlf\ListViewTest.xlf

==========================================
Query:
Is this entry translatable? Same for following strings:
Col

[2019-10-15 18:55] jmarolf commented on #2084
I think this is a designer issue.  I will re-open with more info if this is not the case

[2019-10-15 18:55] #2084 closed

[2019-10-15 21:38] RussKie commented on #2087
Anything under "test" namespace/path are safe to ignore: System.Windows.Forms\**tests**\IntegrationTests\WinformsControlsTest\xlf\ListViewTest.xlf

[2019-10-15 21:38] #2087 closed

[2019-10-15 21:40] RussKie commented on #2087
We are in a process of removing xlf from the test apps to reduce the confusion and the maintenance overhead.

[2019-10-15 22:58] RussKie commented on #2085
@zsd4yr were you looking into the same issue earlier?

[2019-10-16 00:10] RussKie opened #2091 "Remove deprecated controls"
**Problem description:**

The following types have been deprecated in .NET Framework:

* https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/DataGrid.cs (e.g. [deprecation warning](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.datagrid?view=netframework-4.8))
* https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/sr

[2019-10-16 02:32] #1210 closed

[2019-10-16 02:32] #1272 closed

[2019-10-16 18:01] weltkante commented on #1121
Probably needs a line added [here](https://github.com/dotnet/winforms/blob/ab6730e76538c28f598bbac2bb009725e9ab69bc/src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs#L19-L33), see PR #2089 for an example.

[2019-10-16 18:01] weltkante commented on #1120
Probably needs a line added [here](https://github.com/dotnet/winforms/blob/ab6730e76538c28f598bbac2bb009725e9ab69bc/src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs#L19-L33), see PR #2089 for an example.

[2019-10-16 18:01] weltkante commented on #1119
Probably needs a line added [here](https://github.com/dotnet/winforms/blob/ab6730e76538c28f598bbac2bb009725e9ab69bc/src/System.Windows.Forms/src/System/Drawing/Design/UITypeEditor.cs#L19-L33), see PR #2089 for an example.

[2019-10-16 18:26] zsd4yr opened #2101 "Add tests for all expected TypeDescriptor.GetEditor"
This includes both types with an EditorAttribute as well as types listed in the UITypeDescriptor intrinsic table

[2019-10-16 18:49] kpreisser commented on #2053
I think with the announcement of the ARM-based Surface Pro X, support for producing ARM64 binaries becomes more important, so that WinForms/WPF apps can run at native speed on such devices and can use the full 64-bit address space. Especially start-up performance is much better when running an ARM64 app than a x86 app.

Note that it seems basic WinForms functionality does already work when publish

[2019-10-16 19:18] flerka commented on #1756
@neldridg @RussKie is it still available? May I take it?

[2019-10-16 22:37] RussKie commented on #1756
@flerka it is still up for grabs, so you're welcome to have a go at it.
You may find discussions in #1952 useful.
Thank you

[2019-10-16 23:46] merriemcgaw commented on #2085
@markwilkie, @livarcocc  is this the expected behavior?

[2019-10-16 23:49] livarcocc commented on #2085
I believe this is a bug in arcade because it restore a project into the NuGet cache and then builds from there, therefore by-passing the repo's global.json.

@nguerrera found something like that earlier this week I believe.

[2019-10-17 00:16] merriemcgaw commented on #2085
@markwilkie should we move this to the arcade repo?

[2019-10-17 00:19] merriemcgaw commented on #2036
@M-Lipin will we be able to get this for 3.1? The bug makes the MaskedTextBox relatively unusable.

[2019-10-17 00:22] merriemcgaw commented on #1996
@Vino-Wang can you check to see if this happens with only self-contained or both self-contained and framework dependent apps. Chat with @dreddy-work if you need help.

[2019-10-17 00:24] nguerrera commented on #2085
Duplicate of https://github.com/dotnet/arcade/issues/4102

[2019-10-17 00:24] zsd4yr commented on #2101
closed by #2103

[2019-10-17 00:25] #2101 closed

[2019-10-17 00:43] merriemcgaw commented on #1143
This issue is a dup of dotnet/core-setup#7491

[2019-10-17 00:44] merriemcgaw commented on #2085
closing as a dupe

[2019-10-17 00:44] #2085 closed

[2019-10-17 07:23] weltkante commented on #1143
@merriemcgaw are you sure? we are talking about WinForms API here, unless .NET Core changes the entire approach and no longer uses a stub exe, WinForms needs to adapt to the way .NET Core handles things.

Right now the implementation in WinForms is broken because it looks at the stub and doesn't recognize it as a managed application.

[2019-10-17 07:46] weltkante opened #2104 "FontNameEditor cannot be registered"
* .NET Core Version: 3.0
* Have you experienced this same bug with .NET Framework?: No

In PR #2103 following comment was noticed:

Thats unfortunate, but the good news is that its the only `[Editor]` attribute in System.Drawing thats placed on a property.

Considering that the only purpose of this "editor" is to draw the font name in the same style as the font it's not even an editor. I want to o

[2019-10-17 12:41] MrB0nd commented on #1395
@merriemcgaw
This comes from our process of porting the DevExpress End-User Report Designer component to .NET Core 3. Our visual report designer has visual report controls inherited from the Component and their designers inherited from the ComponentDesigner class. We have a custom implementation of IDesignerHost and other design time facilities, so the component integrated into an app simulates th

[2019-10-17 14:15] hughbe opened #2107 "CI Failures: Type 'System.Windows.Forms.IWin32Window' is not defined."
Weirdly fails randomly: https://dev.azure.com/dnceng/public/_build/results?buildId=391478&view=logs

[code]

[2019-10-17 17:30] grubioe opened #2110 "Windows Forms default font is different between .Net Core and .Net Framework."
@scalablecory commented on [Thu Oct 17 2019](https://github.com/dotnet/wpf/issues/2058)

_From @Lily721 on Thursday, October 17, 2019 6:22:16 AM_

See the attached sample code, we got two buttons with same size, but there's slightly differences between their font, see my attached snapshot.

My environment:
Win10 64-bit
.Net Core 3.0.1

If you try this two samples under a Win7 32-bit machine, there

[2019-10-17 17:30] grubioe opened #2111 "Windows Forms default font is different between .Net Core and .Net Framework."
@scalablecory commented on [Thu Oct 17 2019](https://github.com/dotnet/wpf/issues/2058)

_From @Lily721 on Thursday, October 17, 2019 6:22:16 AM_

See the attached sample code, we got two buttons with same size, but there's slightly differences between their font, see my attached snapshot.

My environment:
Win10 64-bit
.Net Core 3.0.1

If you try this two samples under a Win7 32-bit machine, there

[2019-10-17 17:31] #2111 closed

[2019-10-17 20:32] M-Lipin commented on #2036
Yes, I'll fix this. Plan to send for testing asap.

[2019-10-17 22:22] zsd4yr opened #2115 "Port ImageIndexEditor"
See #1115

[2019-10-18 01:05] #1283 closed

[2019-10-18 01:07] #2115 closed

[2019-10-18 02:11] Amy-Li02 commented on #1544
@RussKie Verified this issue with latest .NET Core 3.1.100-preview2-014473 from release branch & .NET Core 3.0.100-rc1-014190, this issue all cannot repro.

@KaneLeung could you please verify if the issue has been resolved on the latest 3.0?

[2019-10-18 02:19] RussKie opened #2120 "Duplicatated `DpiHelper` implementations"
**Problem description:**

* `System.Windows.Forms` uses the common implementation of `DpiHelpers` from https://github.com/dotnet/winforms/blob/master/src/Common/src/DpiHelper.cs
* `System.Windows.Forms.Design` uses the common implementation of `DpiHelpers` from https://github.com/dotnet/winforms/blob/master/src/Common/src/DpiHelper.cs
* `System.Windows.Forms.Design.Editors` has own implementation

[2019-10-18 03:33] RussKie commented on #2111
Please refer to https://docs.microsoft.com/en-us/dotnet/core/compatibility/framework-core#controldefaultfont-changed-to-segoe-ui-9pt

[2019-10-18 03:36] RussKie commented on #2110
This is by design.
@lily721 Please refer to https://docs.microsoft.com/en-us/dotnet/core/compatibility/framework-core#controldefaultfont-changed-to-segoe-ui-9pt

[2019-10-18 03:36] #2110 closed

[2019-10-18 04:49] Tanya-Solyanik opened #2122 "ToolStripImageIndexEditor should not be referenced in ToolStripItem class because it does not exist"
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
Editor attribute decorates a non browsable property -
https://github.com/dotnet/winforms/blob/971343425f4e76dfc4b8fccfb87cbca278245fdc/src/System.Windows.Forms/src/System/Windows/Forms/ToolStripItem.cs#L1360-L1375

**Actual behavior:**
attribute has no effect
**Expected behavior:**

**Minimal repro:**

[2019-10-18 04:52] Tanya-Solyanik commented on #2122
Related #1115

[2019-10-18 13:35] KaneLeung commented on #1544
I have tried it in Win10 1909 Home Edition + .Net Core 3.0.100 ,this issue cannot repro.Thanks a lot.

[2019-10-18 13:54] hughbe opened #2128 "VisualStyleRenderer.IsElementDefined loops forever, doesn't in netfx"
[code]

[2019-10-18 18:17] richlander commented on #2053
That's awesome! We have had Windows ARM64 builds of .NET Core for a couple/few years, but they were never productized. It isn't surprising that Windows Forms works. WPF will not as we need to do a significant project to make it work.

But yes, once again proving that .NET is quite a flexible platform!

[2019-10-18 20:06] zsd4yr commented on #2128
Can you narrow down if a single one of these tests loops forever?

[2019-10-18 20:59] #1544 closed

[2019-10-20 08:09] archery2000 commented on #2120
Hi, can I try this issue?

[2019-10-20 14:07] Karaulov commented on #147
2019 Not works windows form designer please fix it ************ microsoft!!!!!!!!!!!!!!!

[2019-10-20 14:12] dotMorten commented on #147
@karaulov
You saw this note right?

Also did you submit feedback in Visual Studio when you hit this issue? That's probably going to be more constructive and give the team something actionable.

[2019-10-20 14:28] fatihyildizhan commented on #147
@Karaulov Which version are you using? Did you upgrade to the latest version?

[2019-10-20 15:34] archery2000 commented on #2120
Just to clarify, if I can work on this issue, is the following the things that are needed?

- Edit src\DpiHelper.cs to also provide the functionality of misc\DpiHelper.cs (this is just a difference of 1 function)
- Edit the .csproj file to use src\DpiHelper.cs instead
- Ensure that all code depending on the file can function properly without any need for changes

Apologies, I am still quite new to

[2019-10-21 02:17] RussKie commented on #2120
Thank you for the interest, but the issue is already being worked on by @hughbe in #2131.

[2019-10-21 03:07] #2020 closed

[2019-10-21 04:20] Lily721 opened #2136 "Font.FromLogFont(object lf) cause exception in .Net Core"
See the LogFont struct below:
[code]
If we use Font.FromLogFont() to create a font, then it will goes to an exception in .Net Core Windows Forms:
```System.ArgumentException: Object contains non-primitive or non-blittable data.  ```

I debugged .Net Core source code, and it seems like following code lead to this issue:
```GCHandle gch = GCHandle.Alloc (logFont, GCHandleType.Pinned);```

If I canno

[2019-10-21 05:43] RussKie commented on #2136
@Lily721 please fill in the bug report completely.
In particular we  need to know the runtime version you're having problems with.

[2019-10-21 05:59] Lily721 commented on #2136
@RussKie , please see the stack tack below:
[code]

[2019-10-21 06:21] RussKie commented on #2136
dotnet –info

From: Lily721 <notifications@github.com>
Sent: Monday, October 21, 2019 5:00 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Igor Velikorossov <Igor.Velikorossov@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/winforms] Font.FromLogFont(object lf) cause exception in .Net Core (#2136)

@RussKie<https://nam06.safelinks.protection.outlook.com/?url=http

[2019-10-21 07:31] weltkante commented on #2136
@RussKie looks like a bug in CoreFX. They are checking [IsValueType](https://github.com/dotnet/corefx/blob/dc7005cd64787880dfc27f19120944d46fb8f200/src/System.Drawing.Common/src/System/Drawing/Font.Windows.cs#L314) to determine which code path to use, but not all structs are blittable (in particular the `MarshalAs` attribute in the OP struct definition causes it to be non-blittable so the fast cod

[2019-10-21 08:14] hughbe commented on #2128
Seems like

[code]

[2019-10-21 09:19] Lily721 opened #2138 "Exception occurred when add DataGridView editing controls to other control in .Net Core"
.Net Core version: 3.0.1
OS version: win10 64-bit

Please try my sample, when add MS control to Panel, there's always an exception occurred:

[code]

[code]

I checked the source code, this bug dues to some internal control override OnHandleCreated method, but didn't check if parent control exists or not, see below:
[code]

[InternalControlTest.Core.zip](https://github.com/dotnet/winforms/files/37

[2019-10-21 09:46] Lily721 commented on #2136
@weltkante @RussKie , yes, we do use this type in somewhere else, and I don't think it is safe to change it to class, because we may change the property value of this type. But, anyway I still tried your workaround, it failed again, this time exception occurred in Application.cs at following code:
[code]
I'd like to know will you fix this issue in next release? or when it will be fixed?

[2019-10-21 10:46] weltkante commented on #2136
This sounds like an entirely different problem and not related to Font logic, please create a separate issue with details about the problem - ideally with a way to reproduce, but at least a stack trace and under what circumstances the error occurs. I don't remember any known problem in the code block you posted, just saying "something fails there" isn't actionable.

The issue will probably be move

[2019-10-21 18:34] JeremyKuhne commented on #2136
How did it fail? Can you include the details?

You can keep it a struct if you used a fixed size array for `lfFaceName` to make it blittable. `System.Drawing` does this [here](https://github.com/dotnet/corefx/blob/07262aa6bce06f1e270e6a9b494bfe6eb1260b08/src/System.Drawing.Common/src/System/Drawing/Gdiplus.cs#L643).

If you need to read/write the face name you can add methods or a property that tr

[2019-10-21 18:37] zsd4yr commented on #2128
@hughbe I commented on your PR here. I think if you try this in an application, it will not reproduce.

I think the issue is with the tests. The test projects each need to reference the facades. I think types are not resolving.

[2019-10-21 18:38] zsd4yr commented on #2104
Can you clarify what you mean by this?

[2019-10-21 18:39] zsd4yr commented on #2104
Funny enough, we have been discussing this internally for some time! I do not think we have come to a final solution yet

[2019-10-21 18:49] zsd4yr commented on #2018
closed by https://github.com/dotnet/winforms/commit/42194cd32102c79bdeeef7012c1fec34f55492d7

[2019-10-21 18:49] #2018 closed

[2019-10-21 18:50] zsd4yr commented on #1281
closed by https://github.com/dotnet/winforms/commit/5d0a337ee6c856c2877c7731c9db7f4a03751a4d

[2019-10-21 18:50] #1281 closed

[2019-10-21 19:01] weltkante commented on #2104
This option would just be removing the editor subclass without a replacement, the editor subclass just slightly changes how the value is displayed, it is only visual and provides no additional inputing capabilities nor assist the user in any way editing the value.

I'm not saying its the best option, but its certainly one you could argue for if the others are not feasible.

Considering the class i

[2019-10-21 23:19] cleitonfelipe opened #2142 "Could not load file or assembly 'System.Runtime, Version=4.2.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies"
* .NET Core Version: 3.0.1
OS version: win10 64-bit

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
I'm creating an app WinForms and when I double-click in Forms.cs after load extension winformsdesigner.setup.vsix, I get this error Could not load file or assembly 'System.Runtime, Version=4.2.2.0,  Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of

[2019-10-21 23:56] cleitonfelipe commented on #2142
This issue I close because this error is not happening more, but I get another error I´ll create a new topic in here.

[2019-10-22 01:13] RussKie commented on #2136
@weltkante  @JeremyKuhne thank you

@JeremyKuhne I think this bug will meet the bar for 3.1, so if we have a fix in time, it go out in 3.1.

[2019-10-22 01:16] JeremyKuhne commented on #2136
I don't think it will meet the bar for Core (this is a problem in System.Drawing), but I'll see if I can come up with fix nonetheless.

[2019-10-22 01:44] JeremyKuhne commented on #2136
The fix looks to be pretty simple (linked), so it might meet the bar. I'll definitely submit it for a bar check. (We don't have a lot of time before 3.1 completes, hence the hesitance to commit to when it goes in.)

[2019-10-22 01:58] Vino-Wang commented on #1996
@merriemcgaw , sorry for the delay, will check it

[2019-10-22 02:32] weltkante commented on #2136
Just for the record, I think this bug breaks this API, so fixing it in 3.1 is a good thing. For what its worth we would hit this bug as well if we were to port our script editor control without rewriting the text rendering interop (currently targeting to 5.0 though so not an immediate problem for myself)

Using a non-blittable struct was the recommended way to do interop on Desktop Framework, usin

[2019-10-22 02:36] RussKie commented on #2136
/cc: @merriemcgaw you may need to bring this to the Tactics' attention

[2019-10-22 14:39] weltkante commented on #1462
Any updates on what is happening? dotnet/project-system#4938 had suggestions how to improve handling of licensing post-3.1 and I'd like to create a follow-up issue for that. I was waiting because it was unclear which repo is going to pick up LC.exe. Any suggestion how to proceed, should I wait for 3.1 release when this is (hopefully) resolved?

[2019-10-22 15:46] campelo opened #2147 ".net core forms doesn't open designer"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
.net core 3.0
* Have you experienced this same bug with .NET Framework?: Yes/No
No

**Problem description:**
I have created a new windows forms app (.net core) project. When I tried open Form1's designer view and VS2019 shows only the code view. I have also tried to click on Form1.cs with right-button and choose C

[2019-10-22 15:51] weltkante commented on #2147
Did you install the designer preview? Front page has a link to the [designer documentation](https://github.com/dotnet/winforms/blob/master/Documentation/winforms-designer.md) which states it is not done. You can install a preview as extension package.

[2019-10-22 18:23] AdamYoblick opened #2149 "Yaml - tsa bug area path is wrong"
* .NET Core Version: All
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
tsa bug area path has been changed in devdiv, we need to update to fix our builds

**Actual behavior:**
SDL validation fails

**Expected behavior:**
SDL validation passes

**Minimal repro:**
Run the build through CI

[2019-10-22 20:20] danmosemsft commented on #2136
Reopening pending the question to @merriemcgaw : do you want us to port this to 3.1?

If so @JeremyKuhne can make a PR, but it will need to go in before 4pm tomorrow.

[2019-10-22 20:22] #2149 closed

[2019-10-22 22:41] #2068 closed

[2019-10-22 23:48] merriemcgaw commented on #2136
@danmosemsft  Yes, I really do!

[2019-10-23 00:03] #670 closed

[2019-10-23 00:04] RussKie commented on #670
Closing, we'll create new targeted issues if necessary

[2019-10-23 00:36] RussKie opened #2153 "Broken types"
* .NET Core Version: **3.0+**
* Have you experienced this same bug with .NET Framework?: **Yes**

**Problem description:**

Preparing API compat reports https://github.com/dotnet/winforms/pull/2092 we stumbled upon several types that are declared as `public abstract` but contain `internal abstract` members.
This meas these types can't be used outside the framework's codebase and, thus, are useless

[2019-10-23 00:38] #2128 closed

[2019-10-23 00:45] weltkante commented on #2153
For what its worth `internal abstract` used to be a common way to prevent user-defined subclasses outside the assembly (before `private protected` being added, which is more clear regarding intentions) - so being not subclassable may have been intended or desireable.

I think you should question whether you want user defined subclasses for each of these cases, e.g. for BindingManagerBase I don't t

[2019-10-23 00:47] JeremyKuhne commented on #2136
This was approved for 3.1. https://github.com/dotnet/corefx/pull/42007 is the 3.1 PR. The fix is in for master (5.0).

[2019-10-23 03:27] TempeBrennan opened #2155 "Icon paint a little dim after migrate to .NET Core"
* .NET Core Version: 3.0 Preview1
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
We use this code to paint icon in form.
[code]
When use .NET Core, image bit depth decreased. Is this design?
Would you like to share some workaround? Thanks a lot.

**Actual behavior:**
![Image 156](https://user-images.githubusercontent.com/51563666/67354483-cf5ed700-f587-11e9

[2019-10-23 03:29] RussKie commented on #1680
Documented in https://github.com/dotnet/docs/issues/15361

[2019-10-23 03:32] RussKie commented on #2155
I suspect this is a duplicate of #1825.
Could you please check 3.1 and see if it fixed in it? https://github.com/dotnet/core-sdk/blob/master/README.md#installers-and-binaries

[2019-10-23 03:44] TempeBrennan commented on #2155
@RussKie I tested by lastest version installer and confirmed it's fixed indeed.
Sorry to brother you. Thanks a lot again.

[2019-10-23 03:44] #2155 closed

[2019-10-23 03:46] RussKie commented on #2155
No worries at all, hopefully it won't inconvenience you too much.
3.1 will be released pretty soon.

[2019-10-23 04:57] RussKie commented on #2138
@Lily721 thank you for reporting. I don't think it is a totally valid use-case to add `DataGridViewComboBoxEditingControl` to controls outside `DataGridView`.
You're welcome to send to PR with a fix 😉

@M-Lipin Looks like regression from 31ad7eec1780d1a79f2df04f21b18286e298026d in #1524.

@Vino-Wang could you please check whether we have any more issues of similar nature?

[2019-10-23 06:30] Amy-Li02 opened #2156 "The winforms .NET Core app cannot run when targeting .NET Core 5.0"
* .NET Core Version: .NET Core SDK 5.0.100 - alpha1 5.0.100.14915
* Have you experienced this same bug with .NET Framework?: No

**More info:**
1. WPF .NET Core app also cannot run when targeting .NET Core 5.0.
2. Console .NET Core app can run when targeting .NET Core 5.0.

**Minimal repro:**
1. Install .NET core 5.0 SDK from: https://github.com/dotnet/core-sdk.
2. Create a Windows Forms .NET Core

[2019-10-23 07:09] Misiu commented on #2056
@RussKie take a look at [this article](https://www.codeproject.com/Articles/12890/Single-Instance-C-Application-for-NET-2-0) as @weltkante wrote passing arguments to already running application is one of the main features.

[2019-10-23 07:17] weltkante commented on #2056
@Misiu I just had a quick glance at the article, but it seems to suggest to refer to the assembly we are trying to implement here :-)

[2019-10-23 07:18] PeterPann23 opened #2160 "Winforms does not implement windows theme from users profile"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description: Winforms is using standard color scheme and not the users profiles theme**

**Actual behavior:** Color scheme (borders/ colors/ icons) is not the same as in the -net framework nor is it the windows user profile color theme

*

[2019-10-23 07:19] Misiu commented on #2056
@weltkante I'm aware of that :) I just wanted to show potential usage. I agree that this functionality should be implemented here and it shouldn't require an extra library. ANd please movie it out of VisualBasic namespace :)

[2019-10-23 07:50] KlausLoeffelmann commented on #1593
Added the VB area label since it only applies to VB now.

[2019-10-23 07:53] KlausLoeffelmann commented on #1123
@merriemcgaw: Since this is template related and the workaround is enabling `Application.EnableVisualStyles`, can we close this?

[2019-10-23 08:36] weltkante commented on #2138
Not high priority but people cache controls by reparenting them to a dummy control while not in use, accidently creating the handle probably shouldn't crash in this scenario.

[2019-10-23 09:55] M-Lipin commented on #1911
@merriemcgaw the fix implemented in #2090 implies changing MonthCalendar accessible control type to **calendar** like this is in WPF. One exception is the case when the label is added to the form just before MonthCalendar control (as a title for calendar): in this particular scenario, I've found out that if calendar control type is used here, Narrator does not announce the custom name of the contr

[2019-10-23 10:07] M-Lipin commented on #1908
The scope of the issue is the correct navigation within the MonthCalendar control hierarchy.

[2019-10-23 10:12] chenxinyanc opened #2163 "The return value of UnsafeNativeMethods.SetParent should be properly checked"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`) N/A
* Have you experienced this same bug with .NET Framework?: Yes (.NET Framework 4.6/4.7)

**Problem description:**
I couldn't find a place to post the WinForm issue on .NET Framework, but since we have WinForm on Core CLR, and the subjected code are the same, so…

We've observed failures of `SetParent` when try

[2019-10-23 10:52] weltkante commented on #2163
Note that just throwing an exception may not be sufficient, it could leave the control in an inconsistent state since the logic was not written with the awareness that parenting can fail. The calling logic needs to be audited so it can roll back state changes properly.

[2019-10-23 11:17] M-Lipin opened #2164 "Narrator focus is not moving in proper logical order when user is navigating by using caps + arrow keys (tab index is ignored)"
* .NET Core Version: 3.1
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
Narrator focus is not moving in proper logical order when user is navigating by using caps + arrow keys: Narrator goes thru the controls in order which is the order of controls being added to the Controls collection of the form in design time (order of controls can be corrected by manu

[2019-10-23 11:53] M-Lipin commented on #2164
**Workaround**: to add the controls to the Form.Controls in order accordingly to Tab index.

[2019-10-23 12:25] weltkante commented on #2164
I have played around with this suggestion and I don't think its applicable in general. WinForms designer appears to place controls in reverse order in the Form.Controls, the most recent control being at the front of the collection. When I look more closely the display order also is like this, the first control is on top and the last control is on bottom. For some reason ControlsCollection is in re

[2019-10-23 17:12] zsd4yr opened #2171 "TypeConverter Attribute over DataGridViewColumn.DataPropertyName should resolve to System.Design"
https://github.com/dotnet/winforms/blob/b34582761bea089eb0d19aba8e43c4b90d90c98e/src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewColumn.cs#L186-L194

This attribute was changed to resolve to the new assembly of this type in #1545 but as pointed out in https://github.com/dotnet/winforms/pull/2078#discussion_r337787642 this is not the approach we should take.

For a fix, we need to:
*

[2019-10-23 17:17] zsd4yr opened #2172 "Write test(s) to ensure that all TypeConverter and Editor Attributes on internals are properly routed"
For each `TypeConverter` and `Editor` attribute connecting a type to its type converter or editor by a fully qualified string, we need a `TypeForwardTo` attribute in the corresponding facade. This is required as GenFacades will not automatically generate `TypeForwardTo` statements for internals.

Please see https://github.com/dotnet/winforms/pull/2078#discussion_r337787642 for more details on the

[2019-10-23 19:11] weltkante commented on #2172
That statement is misleading, you want to figure out all internal types which are targeted by TypeConverter/Editor attributes within WinForms:
- methods shouldn't have TypeConverter/Editor attributes
- you scan all types/props, not just internal ones
- you look for attributes referencing internal types in their argument

[2019-10-23 19:44] KathleenDollard commented on #2056
@Misiu Why do you want it moved out of the Visual Basic namespace (I don't want to guess).

What about the rest of the Application Models?

[2019-10-23 20:35] Misiu commented on #2056
@KathleenDollard the answer is very simple: because it is confusing.
I remember when I started developing in C# and tried to create a single instance app. I found a tutorial online that used `WindowsFormsApplicationBase` but I didn't understand why I must use Visual Basic namespace. I thought then: I'm developing in C#, so why do I need VB?
I think that now it is an ideal moment to move this into

[2019-10-23 21:56] RussKie commented on #2171
In case you missed it - https://github.com/dotnet/winforms/pull/2154

[2019-10-23 23:21] merriemcgaw commented on #2147
@campelo does following the instructions to install the VSIX for the installer work for you?

[2019-10-23 23:23] merriemcgaw commented on #2142
@cleitonfelipe is this happening again for you? It looks like you closed it and reopened it on the same day.

[2019-10-23 23:25] merriemcgaw commented on #2142
@DustinCampbell any thoughts?

[2019-10-23 23:33] merriemcgaw commented on #2163
Do note that we'd be taking this fix in .NET Core 5.0, and it won't go back to .NET Framework. If it's blocking your .NET Framework app please submit feedback via the VS Developer Community. That said, we're generally only taking security fixes in .NET Framework so the bar is very high.

[2019-10-23 23:40] merriemcgaw commented on #2153
I agree with @weltkante  - I don't see a huge reason to have either of these allow user defined sub classes.

[2019-10-24 00:24] wtgodbe opened #2176 "Re-enable SDL validation in release/3.1"
SDL Validation is still failing in the release/3.1 internal builds. We should figure out why, then re-enable it (once the branch opens back up after preview2 is finished).

See https://github.com/dotnet/winforms/pull/2175, https://github.com/dotnet/arcade/issues/4099.

CC @AdamYoblick @RussKie @riarenas @JohnTortugo

[2019-10-24 00:34] JohnTortugo commented on #2176
Is that branch updated with latest changes in Arcade?

/cc @sunandabalu

[2019-10-24 06:34] RussKie commented on #2160
Could you please describe how you see API change to accommodate your request, and, if you think it would be easy, a draft PR that showcases the requested change.
Thanks

[2019-10-24 07:27] Amy-Li02 commented on #2156
Verified with .NET Core SDK 5.0.100.15374 build, the winforms .NET Core app can run successfully, so close this issue.

[2019-10-24 07:27] #2156 closed

[2019-10-24 07:47] Vino-Wang opened #2178 "The empty DataGridView control cannot get a blue Narrator rectangle, just get the focus dot line"
* .NET Core Version: (.NET Core SDK 3.1 Preview 2 3.1.100.14533)
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
The empty DataGridView control cannot get a blue Narrator rectangle, just get the focus dot line, so no any announcement about the empty dataGridView.
But when adding some columns to the DataGridView, the blue rectangle will on the currently spec

[2019-10-24 08:08] Marie-Shi commented on #1976
@vladimir-krestov Verified this bug with .Net Core 3.1.100-preview2-014533 from Release/3.1.1 branch, this bug is fixed. Please see the following screenshots:
HC Black:
![HC_Black](https://user-images.githubusercontent.com/45864017/67465652-22b05280-f678-11e9-9708-1a9d0e529e50.png)

HC White:
![HC_White](https://user-images.githubusercontent.com/45864017/67465786-6c00a200-f678-11e9-8d3e-9a466c9a89

[2019-10-24 10:34] PeterPann23 commented on #2160
where is a PR template?

[2019-10-24 10:50] Vino-Wang commented on #2138
Hi @RussKie, we have verified a number of controls added to form by using customer project code, this issue can reproduce with some specific controls and cannot reproduce with other common controls in Toolbox. Please see the following table details.

We didn’t encounter the similar issues for now.
![Table](https://user-images.githubusercontent.com/18568603/67478688-20a5be00-f68f-11e9-926a-8b9c81bb

[2019-10-24 12:37] weltkante commented on #1999
While looking at the lock inversion I found another bug in NoAssertContext/NoAssertListener, when installing the listener secondary threads won't wait for the primary thread to actually finish installation of the listener, which can cause them to pass through and kill the process via assert even though they think they are within an NoAssertContext.

I think I'll create a PR rewriting the NoAssertL

[2019-10-24 13:02] M-Lipin commented on #1997
Issue is fixed after merging #1998

[2019-10-24 13:02] #1997 closed

[2019-10-24 15:28] DustinCampbell opened #2185 "Necessary CodeDomSerializers not ported to WinForms"
The follow `CodeDomSerializer`s have not been ported to .NET Core WinForms, and are needed for designer scenarios:

* `System.ComponentModel.Design.Serialization.LocalizationCodeDomSerializer`
* `System.Windows.Forms.Design.ControlCodeDomSerializer`
* `System.Windows.Forms.Design.DataGridViewRowCollectionCodeDomSerializer`
* `System.Windows.Forms.Design.TableLayoutPanelCodeDomSerializer`
* `System

[2019-10-24 18:18] AdamYoblick commented on #2176
Sorry, this slipped through the cracks for me. Did this get resolved?

[2019-10-24 18:21] riarenas commented on #2176
Sorry, I missed this one yesterday,

This could be due to the area path changing underneath us again? @wtgodbe do you have an example build where you tried to re-enable it to see the failures?

[2019-10-24 18:23] AdamYoblick commented on #2176
Yeah Area path was an issue for us on the dev div end as well. I'm updating the path in our master branches. I assume I'll need to do the same in the release branches as well?

[2019-10-24 18:24] riarenas commented on #2176
@sunandabalu has the guidance on how we're trying to get unblocked, and what the new area path should be.

[2019-10-24 18:24] wtgodbe commented on #2176
Here's a failing build: https://dnceng.visualstudio.com/internal/_build/results?buildId=399756

We can put up PRs for this now if the fix is known, but please don't merge into 3.1 yet, as that branch is locked down for the preview2 build.

[2019-10-24 18:27] riarenas commented on #2176
Yeah, that's the area path error:

[code]

@sunandabalu is talking with the devdiv folks to try and understand what the final area path is going to be.

[2019-10-24 18:28] AdamYoblick commented on #2176
New area path for winforms are as follows (from what I can see):

DevDiv\NET Framework\Winforms\Designer\Core
DevDiv\NET Framework\Winforms\Runtime\Core

[2019-10-24 18:30] AdamYoblick commented on #2176
These are the paths I've changed to in the PR's into master for us.

[2019-10-24 18:36] campelo commented on #2147
Yes, I thought this feature was already available on the latest VS 2019 update. Everything works fine now.
Thanks

[2019-10-24 18:36] #2147 closed

[2019-10-24 21:23] M-Lipin opened #2188 "Port Narrator announcement for StringCollectionEditor items"
* .NET Core Version: 3.1
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
There is no screen reader announcement for item navigation and selecting in StringCollectionEditor UI.

**Actual behavior:**
Narrator does not announce the StringCollectionEditor item when navigating up and down thru the items list.

**Expected behavior:**
Narrator announces the item w

[2019-10-25 00:09] RussKie commented on #2160
I'm not quite sure what you're asking for.
We have a GitHub template that will be shown when you raise a PR, it is here - https://github.com/dotnet/winforms/blob/master/.github/PULL_REQUEST_TEMPLATE.md.
As far as the discussion - please post your thought, proposals and designs ideas here.

[2019-10-25 00:21] dreddy-work commented on #1996
@felizk, can you help elaborate on step  "Change and save some Settings (using the WinForms style .settings)"  what exactly you changes and how? we are trying to repro on our side. @Vino-Wang

[2019-10-25 01:20] merriemcgaw commented on #2185
We need to get this one in for 3.1 if at all possible. @M-Lipin can you and @vladimir-krestov take a look as your next priority?

[2019-10-25 01:33] RussKie opened #2192 "Flaky test: `Application_VisualStyleState_Set_ReturnsExpected` deadlock"
**Problem description:**

As part of tests deadlock investigation, the major deadlock causing issue was eliminated in #2191, however that uncovered a secondary issue that `MonthCalendar_CalendarDimensions_SetAreaOfTwelve_GetReturnsExpected` could deadlock as well.

**Actual behavior:**

![image](https://user-images.githubusercontent.com/4403806/67532139-e3821000-f710-11e9-83c8-d0352cc71b4e.png)

A

[2019-10-25 02:51] Amy-Li02-zz opened #2193 "The RadioButton's checked state is incorrect in runtime after setting radioButton.Select event"
* .NET Core Version: .NET Core 3.1.100-preview2-014532 from Release branch
* Have you experienced this same bug with .NET Framework?: **Yes**

**More Info:**
1. This is not a regression issue, it can repro from .NET Framework 2.0 to .NET Framework 4.8 latest build.
2. When comment code **rButton.Select();**, this issue cannot repro.

**Minimal repro:**
1. Create a winforms .NET core app.
2. Add th

[2019-10-25 03:06] #1999 closed

[2019-10-25 03:39] RussKie commented on #2138
Thank you @Vino-Wang

@M-Lipin it is all yours.

[2019-10-25 07:01] #1976 closed

[2019-10-25 08:03] vladimir-krestov commented on #2185
Thanks!
Ok, we'll take a look at this.

[2019-10-25 08:05] vladimir-krestov commented on #1976
Thank you!

[2019-10-25 08:29] Rise-Yang opened #2195 "An error dialog pops up when running the winforms .net core application with .NET Core 5.0 SDK"
* .NET Core Version: NET Core SDK 5.0.100 - alpha1 5.0.100.15436
* Have you experienced this same bug with .NET Framework?: No

**More info:**
1. WPF .NET Core app also cannot run when targeting .NET Core 5.0.
2. Console .NET Core app can run when targeting .NET Core 5.0.

**Minimal repro:**
1. Install .NET core 5.0 SDK from: https://github.com/dotnet/core-sdk.
2. Create a Windows Forms .NET Core

[2019-10-25 10:11] weltkante commented on #2192
What is happening here is that this test is testing something that needs every single control and window handle to be operational, including those from other tests. Changing the theme state enumerates all windows and sends them a WM_THEMECHANGED (that part is in the screenshot). If there is a single window/control which isn't responding then this test will hang.

A control will not respond if its

[2019-10-25 13:43] weltkante commented on #2193
I cannot quite follow where the bug is supposed to be, radio buttons get checked when receiving focus, so calling `Select` implies that they get checked. Where do you base the claim on that it shouldn't get checked?

[2019-10-25 14:06] weltkante commented on #2185
`System.Windows.Forms.Design.ToolStripCodeDomSerializer` is also missing. Otherwise your list seems complete with regard to `System.Windows.Forms.dll` in `3.1.0-preview1.19506.1`

<details><summary>code I used to look for missing types</summary>

[code]

</details>

[2019-10-27 11:15] raffaeler opened #2211 "Support injecting forms with DI"
The new "Worker Service" template in VS2019 provide a very elegant way to use dependency injection even for simple console applications, by using the ASP.NET Core infrastructure.
I created a small sample that is able to use the same infrastructure to inject forms and the ability to receive DI-registered services into the forms constructor.

The problem is of course the designer pretending to deal

[2019-10-27 20:17] JeremyKuhne commented on #2069
I'm going to assert that using structs would be the best choice as it would improve encapsulation and "type safety". This came up again with #2218, where we really should have a `COLORREF` with conversion methods hanging off of it. For [example](https://github.com/JeremyKuhne/WInterop/blob/db4242c9036471adbde859895a455b64ba55271e/src/WInterop.Desktop/Gdi/Native/COLORREF.cs) (I give this code freel

[2019-10-27 23:28] hughbe commented on #2107
@RussKie IMO fixing this should be important - it comes up in about 10% of CI runs

[2019-10-27 23:35] #1981 closed

[2019-10-27 23:39] hughbe opened #2219 "Correct cases of `Control.Handle != IntPtr.Zero`"
E.g.  `VisualStyleRenderer`
[code]

Intention clearly to check `IsHandleCreated`, but `Handle != IntPtr.Zero` forces handle created

[2019-10-28 00:34] RussKie commented on #2107
@cston could you please have a look

[2019-10-28 00:37] RussKie commented on #2192
Thank you for the analysis. As usual, very insightful and helpful 💯

[2019-10-28 01:07] RussKie commented on #2211
Could you please provide more details and the sample?

Why does the designer need to invoke non default constructors and execute DI code in design scenarios?

[2019-10-28 02:13] Amy-Li02 commented on #2193
@weltkante Please refer to the issue #https://github.com/dotnet/winforms-designer/issues/1030 I reported earlier and help confirm if this is a real bug.

[2019-10-28 03:43] chenxinyanc commented on #2163
Thanks, @merriemcgaw ! We are still trying to address the root cause for the failure of `SetParent`. The issue here is just likely to be a pitfall for the debugging. However, I hope the check is introduced to the next version of .NET as soon as possible 😄

[2019-10-28 04:51] RussKie commented on #2163
A repro would be very helpful, it will make evaluating the issue easy.
Thanks

[2019-10-28 05:03] cston commented on #2107
Should the milestone be 5.0 rather than 3.1? (The release/3.1 branch does not contain src/Microsoft.VisualBasic.Forms.)

[2019-10-28 05:05] RussKie commented on #2107
Correct, the code is in the master and thus targeting 5.0 milestone.
We marked as 3.1 because we need to fix it in the 3.1 timeframe (as in, now).

[2019-10-28 06:06] RussKie commented on #2193
From @DustinCampbell

FWIW, I think this is actually a runtime issue and not a designer problem at all. Debugging the form shows that the `RadioButton.Checked` property is set to `false` but gets changed when the `Form.Load` event is fired. However, `RadioButton.Checked` gets set to `true` when it is focused. It should be possible to repro this by constructing a WinForms app with a single `RadioBu

[2019-10-28 08:23] weltkante commented on #2193
I still don't get what the claim this is a bug is based on, the stack trace shows the RB is getting focus, and its normal behavior for a RB getting focus to get checked. So where's the bug? Calling Select implies setting focus (possibly delayed until the UI is actually constructed in Form_Load). Everything looks like it is behaving as expected, please don't "fix" correct behavior which is relied u

[2019-10-28 09:00] weltkante commented on #2069
Generally I'm ok with this, but I'd like to point out that its not been clearly answered on whether this will work for ARM64. Would be nice if this could be verified. I only could check the native side, the C/C++ ABIs seem the have the same difference of how structs are passed, I can't test if CoreCLR will generate the right assembly code for everything to work out. The workaround in CoreCLR doesn

[2019-10-28 10:34] RussKie commented on #2069
We will be getting access to ARM64 hardware in near to medium term future, so we should be able to test the hypothesis.

[2019-10-28 10:47] RussKie commented on #2195
What happens if you click "Yes"?

[2019-10-28 10:50] RussKie commented on #2185
Would you like to send a PR? 😉

[2019-10-28 11:16] weltkante commented on #2185
If you just want to make sure all existing attributes can resolve then I can of course translate the above code into a PR. If you want to diff against Desktop to make sure there are no attributes missing, thats outside my expertise and I don't really understand how to do that. Basically it comes down to what exactly you want to have tested.

[2019-10-28 11:18] RussKie commented on #2185
^^^ This will be much appreciated

[2019-10-28 11:54] #2019 closed

[2019-10-28 12:01] weltkante commented on #2195
@Rise-Yang last time I asked I was told the 5.0 SDK isn't ready to be used yet, even when compiling netcoreapp3.0 or 3.1 you get errors (which I think some of were fixed recently after I had asked). So considering the SDK isn't really in a good shape to compile current versions, and you can't even select 5.0 target in VS, I don't find it surprising that it can't build the next version into a worki

[2019-10-28 12:29] KamranShahid opened #2227 "Trying to publish a windows .net core 3.0 application for linux"
I have created a winform desktop application in .net core 3.0.
Application is publishing for windows but not for linux
Is it not supported yet?
Anyway i can test that application on linux (e.g. ubuntu 16.0 x64)

[2019-10-28 12:35] KamranShahid commented on #267
What's the advantage of building winform application in .net core rather then old .net framework

[2019-10-28 12:43] KamranShahid commented on #159
Very Disappointing to understand this. Were thinking that .net core 3.0 support for winform/wpf will resolve cross platform development desktop app in .net.
It's seem no use to even touch winform in .net core 3.0 as old .net framework base WPF and winform are quite matured

[2019-10-28 13:56] #2227 closed

[2019-10-28 14:36] weltkante commented on #267
Its the way forward, Desktop framework not getting any more updates means you won't be able to use new language features like Span and IAsyncEnumerable. As long as you don't need them (and don't need any library that uses them) you are fine to remain on Desktop framework.

[2019-10-28 17:46] KamranShahid commented on #267
Agreed about language related things and framework getting some more libraries e.g. Json builtin support in 3.0 and plus. But it will take time to mature this .net core base desktop framework .

[2019-10-28 18:30] raffaeler commented on #2211
Hi @RussKie here is the sample:
[code]

And this is the form:

[code]

From that point on:
1. instead of "new-ing" a form, I can ask the DI to provide me the appropriate Form.
2. every form can request the DI to receive any appropriate service (like a viewmodel) in the constructor

At this point the default constructor will not exist anymore and the designer historically complained about not havin

[2019-10-29 02:21] RussKie commented on #2195
Works on my machine (™️) with 5.0.100-alpha1-014726:

![image](https://user-images.githubusercontent.com/4403806/67732134-80fd7c80-fa4e-11e9-8a71-1548488ea15a.png)

[code]

[2019-10-29 02:24] RussKie commented on #2195
@Rise-Yang it appears to be an SDK issue, please raise an issue in https://github.com/dotnet/core-sdk/ repo

[2019-10-29 02:24] #2195 closed

[2019-10-29 03:54] RussKie commented on #2211
Thank you, it is helpful.

Why would you want the designer to resolve dependencies and execute arbitrary code though?

There are two independent experiences in WinForms - a design-time and a runtime experiences, and we need to be clear what experience we are trying to enhance.
* The design-time experience is all about allowing a user to create a UI; and
* The runtime experience is about running th

[2019-10-29 07:50] zydjohnHotmail opened #2231 "Serious Bug in .NET Core Windows Forms Designer Preview 1"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No
No

**Problem description:**
When I created a "Hello World" simple Windows Form App on .NET Core 3.0 using .NET Core Windows Forms Designer Preview 1, it works on some simple things, like: drag a button onto the Form1 and run.  But a little more com

[2019-10-29 09:50] hughbe opened #2234 "Test failures can cause hangs by calling `OnThreadException` resulting in dialog"
E.g. in https://github.com/dotnet/winforms/pull/2141
See https://github.com/dotnet/winforms/pull/2141#issuecomment-547281156 and https://github.com/dotnet/winforms/pull/2141#issuecomment-547328796

We either need to override `_threadExceptionHandler` (i.e. `Application.ThreadException`) to simply throw the exception or to disable `SystemInformation.UserInteractive`

[2019-10-29 10:03] #1986 closed

[2019-10-29 10:30] hughbe opened #2235 "Don't force creation of `Handle` in `OnHandleCreated`"
See https://github.com/dotnet/winforms/pull/2141

The base class `Control.OnHandleCreated` checks for `IsHandleCreated` and does nothing if the handle isn't created.

In other sub-classes, we do not check `if (IsHandleCreated)` before accessing `this.Handle` which forces creation. This leads to strange recursive behaviour as `OnHandleCreated` is called again.

My opinion is that we should fix this

[2019-10-29 10:35] weltkante commented on #2235
Small correction interminology: its the _subclasses_ which don't check IsHandleCreated in their OnHandleCreated overrides. A few do check (e.g. CheckBox and RadioButton) but the majority of subclasses just assume that inside OnHandleCreated the handle already has been created. Most of those overrides just go on calling SendMessage or otherwise accessing the Handle without an explicit check against

[2019-10-29 11:05] RussKie commented on #2234
Should we fix `OnHandleCreated` logic instead?
As per discussions in https://github.com/dotnet/winforms/pull/2141#issuecomment-547339010 and https://github.com/dotnet/winforms/pull/2141#issuecomment-547348971?

[2019-10-29 12:50] chenxinyanc commented on #2163
Sure. See https://github.com/chenxinyanc/WinFormSetParentTest .

[2019-10-29 12:54] weltkante commented on #2234
@RussKie we got #2235 for OnHandleCreated

[2019-10-29 13:00] weltkante commented on #2234
From what I've seen running tests locally you do have tests which test user interaction, disabling `UserInteractive` flag may lead to altering the tested code which is not ideal.

I'd prefer "disarming" the OnThreadException code path to prevent showing UI on errors. If you can get hold of the test framework you could report test failure directly if anything enters OnThreadException unintentionall

[2019-10-29 13:33] hughbe commented on #2234
So basically what we could do is, before every test (I.e. in setup for WinFormsFact) add a thread exception handler

[code]

Alternatively `Application.SetUnhandledExceptionMode(UnhandledExceptionMode.ThrowException)` may work for exceptions arising out of `NativeWindow`

[2019-10-29 14:20] weltkante commented on #2211
As far as I'm aware it is not a problem designing a Form/Control having no parameterless constructor. Like @Russkie mentions

We have plenty of forms taking constructor parameters in Desktop Framework and it works fine editing them in the designer.

What does not work however is
* inheriting from a form that takes a constructor parameter and editing it in the designer
* placing controls that requi

[2019-10-29 16:04] DustinCampbell commented on #2211
Adding DI support to the designer would be a major undertaking. Part of the problem is that the designer doesn't _actually_ create an instance of your class. Instead, it creates an instance of the base type of your class and applies the contents of the `InitializeComponent()` method via CodeDom serialization. Consider this:

[code]

The designer doesn't actually create an instance of the class, `F

[2019-10-29 22:19] #2120 closed

[2019-10-29 23:27] RussKie commented on #2234
IIRC, in xUnit a ctor is run before each test, so we can achieve the above in the following way:

[code]

We could probably put it in a base class too, and inherit tests from it; but inheritance makes me uneasy as I've seen it abused in horrible ways.

[2019-10-30 00:00] #2073 closed

[2019-10-31 18:00] raffaeler commented on #2211
Thank you all.
I started from this small repro, but the goal was to decouple the forms fromt the logic. With the above suggestions I think I can workaround the issues.

[2019-10-31 18:00] #2211 closed

[2019-10-31 23:21] #2136 closed

[2019-10-31 23:34] #2138 closed

[2019-11-01 03:47] #1059 closed

[2019-11-01 10:15] RussKie commented on #2211
Please let us know if you have something to showcase, it would be awesome to have real world examples of DI for WinForms.
Personally it is something I've been wanting to get into [Git Extensions project](https://github.com/gitextensions/gitextensions) for years.

[2019-11-01 18:58] merriemcgaw commented on #2171
@RussKie what is left on this one?

[2019-11-01 18:59] merriemcgaw commented on #1996
I'm concerned there's a designer component and perhaps a build component to this issue. I don't think we are going to have time to get a fix put together for 3.1. More likely 5.0

[2019-11-02 10:49] felizk commented on #1996
Hello all, sorry I missed the request for elaboration.

I used the settings designer to add some settings for my project. Then I have a tickbox and when it is ticked I do "Settings.Default.tickBoxTicked = true;" and save the settings like this "Settings.Default.Save();"

[2019-11-03 18:18] hughbe opened #2275 "TabPageCollection.Clear forces Handle creation"
[code]

[2019-11-03 23:16] #2047 closed

[2019-11-04 10:33] #2017 closed

[2019-11-04 10:36] #2122 closed

[2019-11-04 13:43] chenxinyanc opened #2279 "Control.CreateHandle should use more specific DPI awareness in Application.ParkHandle"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`) 5.0-alpha1
* Have you experienced this same bug with .NET Framework?: N/A

**Problem description:**
I came across the problem when trying to add a UT for `System.Windows.Forms` that involves controls of different DPI-awareness. The code is like this
[code]

There are actually three problems I have came across duri

[2019-11-04 20:06] weltkante commented on #1996
Isn't the Settings filename/folder just determined by the assembly identity? I never noticed anything in VS design/build time influencing the settings. The fact that it gets an URL suffix looks odd though, almost as if it were treated as a clickonce app or something. It probably picks a wrong codepath because .NET Core neither has a managed .exe nor a .exe.config file. This is destined to confuse

[2019-11-04 21:45] cleitonfelipe commented on #2142
Hi @merriemcgaw this error happing sometimes, I closed but I open again because I think this can happing in another person.

[2019-11-05 04:35] JuditRose opened #2281 "Port FormatStringEditor"
Porting the missing UITypeEditors
Related to #1115

[2019-11-05 04:36] JuditRose opened #2282 "Port SelectedPathEditor"
Porting the missing UITypeEditors
Related to #1115

[2019-11-05 04:37] JuditRose opened #2283 "Port HelpNamespaceEditor"
Porting the missing UITypeEditors
Related to #1115

[2019-11-05 04:38] JuditRose opened #2284 "Port LinkAreaEditor"
Porting the missing UITypeEditors
Related to #1115

[2019-11-05 04:39] JuditRose opened #2285 "Port MaskPropertyEditor"
Porting the missing UITypeEditors
Related to #1115

[2019-11-05 04:39] JuditRose opened #2286 "Port MaskedTextBoxTextEditor"
Porting the missing UITypeEditors
Related to #1115

[2019-11-05 06:10] Zheng-Li01 commented on #1987
Verified the issue with .NET Core 3.1 Preview 3 -014638 build, the issue has been fixed, narrator can announce expanding and collapsing action for Open button in PropertyGrid ComboBox.

![IssueFixed](https://user-images.githubusercontent.com/38325459/68182951-f1b81200-ffd5-11e9-80dd-e3f2d8cbe51b.PNG)

[2019-11-05 07:09] Lydia-Shi commented on #2073
Verified the issue with .NET Core 3.1 Preview 3 -014638 build, the issue has been fixed, narrator can read tooltip message. Please see the below screenshot:
![read](https://user-images.githubusercontent.com/54019172/68186070-27f98f80-ffde-11e9-8642-2abc4f1bad47.PNG)

[2019-11-05 09:31] M-Lipin commented on #2036
Fix PR #2248 has been merged to release/3.1 branch. So closing the issue as resolved.

[2019-11-05 09:31] #2036 closed

[2019-11-05 10:10] Marie-Shi commented on #2138
Verified this bug with .Net Core 3.1.100-preview3-014638 from Release branch, this bug is fixed, there is no exception when add DataGridView editing controls to other control in .Net Core.

[2019-11-05 12:16] #1271 closed

[2019-11-05 12:16] #1277 closed

[2019-11-05 12:17] #1276 closed

[2019-11-05 12:20] #1275 closed

[2019-11-05 14:22] hughbe opened #2290 "Can we have something like [HighContrastFact]"
I want to test some behaviour on high contrast devices. We should have some sort of `Fact` attribute that makes the test/thread high contrast

[2019-11-05 17:52] SaravananAyyanar opened #2292 "ForeignKey constraint impropered performing when added the data in relatedview with DataRelation"
**Problem description:**
1."ForeignKeyConstraint Employee requires the child key values () to exist in the parent table " exception thrown when given the value is not equal foreignkey. (Refer the attached screenshot1)
2.Exception not thrown when given the value is equal foreignKey and also added the data correctly in relatedview.
3.Exception not thrown when given the value is null for foreign key

[2019-11-06 03:58] RussKie commented on #2292
Thank you, but it appears you have skipped the bug template and, thus, a number of important pieces of information were left omitted - without those we will be unable to provide any help.
The information we require is captured here: https://github.com/dotnet/winforms/edit/master/.github/ISSUE_TEMPLATE/bug_report.md

[2019-11-06 08:59] vladimir-krestov commented on #1121
At the moment FontEditor works well, but FontNameEditor doesn't work and will be fixed in the future.

[2019-11-06 09:01] vladimir-krestov commented on #1120
It was fixed in `release/3.1-uitypeeditors` branch.

[2019-11-06 09:01] #1120 closed

[2019-11-06 09:02] vladimir-krestov commented on #1119
It was fixed in `release/3.1-uitypeeditors` branch.

[2019-11-06 09:02] #1119 closed

[2019-11-06 09:10] weltkante commented on #1121
@vladimir-krestov FontNameEditor has #2104 for resolving the technical problem of registering it, I don't think its necessary to keep two issues open.

[2019-11-06 09:13] vladimir-krestov commented on #1121
@weltkante thank you, I agree.

[2019-11-06 09:13] #1121 closed

[2019-11-06 10:30] M-Lipin commented on #1908
Resolving this issue as the fixing PR #2090 is merged to release/3.1.

[2019-11-06 10:30] #1908 closed

[2019-11-06 10:47] M-Lipin commented on #1909
Resolving this issue as the fixing PR #2090 is merged to release/3.1.

[2019-11-06 10:47] #1909 closed

[2019-11-06 10:50] M-Lipin commented on #1910
Resolving this issue as the fixing PR #2090 is merged to release/3.1.

[2019-11-06 10:50] #1910 closed

[2019-11-06 10:54] M-Lipin commented on #1911
Resolving this issue as the fixing PR #2090 is merged to release/3.1.

[2019-11-06 10:54] #1911 closed

[2019-11-06 18:24] hughbe opened #2300 "Standardise between User32.SendMessageW(this, ...) and this.SendMessage(...)"
There are multiple different ways of sending a message to a control:
[code]

These two (`User32.SendMessageW` and `SendMessage`) are functionally the same but we're not consistent in how we use them

What should we standardise on?
/cc @JeremyKuhne

[2019-11-06 22:14] JeremyKuhne commented on #2300
The thought was to put everything in `User32.WindowMessage`, even if there are duplicates for given numeric values. That gives the best discoverability and tersest code (in particular with switch statements).

[code]

Becomes:

[code]

I'm also keen on us structing out some of the defines, which would make these calls simpler and safer. In particular I want to create an `LPARAM` and `WPARAM` struc

[2019-11-06 22:56] hughbe commented on #2300
I thought we were deliberately moving against putting things in WindowMessage enum and making our own enums

[2019-11-07 00:47] JeremyKuhne commented on #2300
It isn't the way we did it in the designer. There is real value in having them all in the same enum (reduces casting, improves discoverability), I don't know that there are any positives to having them separated out that would outweigh that.

cc: @RussKie

[2019-11-07 10:30] #792 closed

[2019-11-07 10:55] RussKie commented on #1933
@hughbe are you still having troubles?

[2019-11-07 10:57] RussKie commented on #1031
We have multiple issues tracking this, some of the issues are more specific.

[2019-11-07 15:16] M-Lipin opened #2316 "PropertyGridView crashes on editing ListBoxProperty with null values"
* .NET Core Version: 3.0
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

**Actual behavior:**
Exception while trying to select the item in the list with null-value element:

Exception Thrown: System.ArgumentNullException: 'Key cannot be null.'

  System.Windows.Forms.dll!System.Windows.Forms.PropertyGridInternal.PropertyGridView.GridViewListBoxItemAccessib

[2019-11-07 16:05] weltkante commented on #2300
Having conflicting definitions in the same enum can cause confusion during debugging, when the debugger picks an arbitrary unrelated WindowMessage for display just for having the same value.

Personally I'd leave the WM_USER/WM_APP range (0x0400 to 0xBFFF) range out of the central enum because you can't figure out the "right" meaning of the message without knowing which control you use.

[2019-11-07 23:14] #2282 closed

[2019-11-07 23:21] #2284 closed

[2019-11-07 23:43] #2285 closed

[2019-11-07 23:43] #2286 closed

[2019-11-07 23:44] #2281 closed

[2019-11-07 23:45] #2283 closed

[2019-11-09 19:55] Tanya-Solyanik opened #2325 "[port from VS] harden DesignerHostSite against GetService failure for DesignerHost-level services"
* .NET Core Version: 3.0+
* Have you experienced this same bug with .NET Framework?: **Yes**/No - this had been recently fixed in the Visual Studio sources

**Problem description:**
Once INestedContainer is instantiated, GetService attempts to look up services in the IServiceContainer, which internally points to the DesignerHost. We have to ensure that service container is initialized as soon as I

[2019-11-11 19:58] JuditRose opened #2334 "Port ColumnHeaderCollectionEditor"
Contributes to #1115

[2019-11-11 19:59] JuditRose opened #2335 "Port DataGridViewComponentEditor"
Contributes to #1115

[2019-11-11 20:00] JuditRose opened #2336 "Port DataGridViewCellStyleEditor"
Contributes to #1115

[2019-11-11 20:01] JuditRose opened #2337 "Port DataGridViewColumnDataPropertyNameEditor"
Contributes to #1115

[2019-11-11 20:02] JuditRose opened #2338 "Port DataMemberListEditor"
Contributes to #1115

[2019-11-11 20:03] JuditRose opened #2339 "Port DataMemberFieldEditor"
Contributes to #1115

[2019-11-11 20:04] JuditRose opened #2340 "Port StyleCollectionEditor"
Contributes to #1115

[2019-11-11 20:05] JuditRose opened #2341 "Port ToolStripCollectionEditor"
Contributes to #1115

[2019-11-11 20:05] JuditRose opened #2342 "Port ToolStripImageIndexEditor"
Contributes to #1115

[2019-11-11 20:06] JuditRose opened #2343 "Port TreeNodeCollectionEditor"
Contributes to #1115

[2019-11-11 20:07] JuditRose opened #2344 "Port TreeNodeStyleCollectionEditor"
Contributes to #1115

[2019-11-11 22:41] #2091 closed

[2019-11-11 22:41] #2185 closed

[2019-11-11 22:42] #2171 closed

[2019-11-11 22:44] #2325 closed

[2019-11-12 00:28] OliaG commented on #1462
cc @terrajobst  since he'll be working on licensing story for .NET Core.

As of now we are not planning on porting LC.exe to .NET Core.

[2019-11-12 06:37] #1933 closed

[2019-11-13 07:38] Vino-Wang commented on #1909
Verified with latest .NET Core 3.1 3.1.100-GA-014700 build, this issue is fixed. The controlType of MonthCalendar is table once there is a label in front of it, otherwise, it will be calendar.

[2019-11-13 07:43] Zheng-Li01 commented on #1910
Verified with latest .NET Core 3.1 3.1.100-GA-014700 build, this issue is fixed
![GitHubIssue](https://user-images.githubusercontent.com/38325459/68742926-41c55300-062c-11ea-8ca8-b49ebe2e0e3b.PNG)

[2019-11-13 08:38] Lydia-Shi commented on #1271
Verified with latest .NET Core 3.1 3.1.100-GA-014700 build, this issue is fixed.
![ObjectString](https://user-images.githubusercontent.com/54019172/68746639-f747d480-0633-11ea-84ef-5aa03be6f823.PNG)

[2019-11-13 09:36] Amy-Li02 commented on #1908
**Workaround:**
Add the form controls to the form with the order corresponding to their (controls') tab index:
![Verify](https://user-images.githubusercontent.com/49627022/68750925-a936cf00-063b-11ea-9be7-e1e129381803.png)

[2019-11-13 10:23] hughbe commented on #2091
Are we knowingly breaking source compatibility with .NET?

[2019-11-13 10:57] vladimir-krestov commented on #2016
@merriemcgaw, @RussKie, @Tanya-Solyanik, could you please say if I got it correctly?
I have implemented UIA supporting for ErrorProvider.ErrorWindow and ErrorProvider.ErrorWindowAccessibleObject.
Now we can change ErrorProvider AccessibleObject properties. But I couldn't find any same implementation, so **I need your suggestion** for how we'll implement ErrorProvider AccessibleObject properties.
A

[2019-11-13 17:07] vladimir-krestov commented on #2016
Quick fix. I can make like this:
![image](https://user-images.githubusercontent.com/49272759/68785796-beb5f400-064f-11ea-8f31-616cf948bd10.png)
![image](https://user-images.githubusercontent.com/49272759/68786572-0b4dff00-0651-11ea-8e8f-ae2de4198837.png)

[2019-11-14 00:06] hughbe opened #2365 "CI Failures"
E.g. https://github.com/dotnet/winforms/pull/2257/checks?check_run_id=301971831

[code]

[2019-11-14 00:07] hughbe commented on #2365
[Windows_NT_Windows debug (4).zip](https://github.com/dotnet/winforms/files/3844008/Windows_NT_Windows.debug.4.zip)

Here are logs

[2019-11-14 09:45] M-Lipin commented on #1987
Need to add the improvements as some grid entries (for instance DisplayMember of ComboBox) not always announce the expanded/collapsed state. And also need to consider changing accessible control type of such entries to ComboBox.

[2019-11-14 09:45] M-Lipin commented on #1987
Reopening the issue to make corresponding changes.

[2019-11-14 12:23] vladimir-krestov commented on #2016
When hovering by mouse you get icon AccessibleObject:
![image](https://user-images.githubusercontent.com/49272759/68856511-ba421780-06f1-11ea-8874-916056c4c4b8.png)

Narrator works well using CapsLock + keyboard arrows combination:
![Sc48e41fpi](https://user-images.githubusercontent.com/49272759/68856733-4ce2b680-06f2-11ea-9449-28ba70c4c763.gif)

@merriemcgaw, @Tanya-Solyanik, @RussKie, could you

[2019-11-14 14:02] vladimir-krestov commented on #2052
@Vino-Wang, could you please retest this issue? It seems to have been fixed after the master merging.

[2019-11-14 14:31] M-Lipin opened #2370 "Screen reader announcement of numeric up-down and domain up-down controls reads as "Spinner spinner""
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

**Actual behavior:**
Accessible name and control type of numeric up-down and domain up-down controls are similar: "Spinner" and spinner.
Screen reader announces numeric up-down and domain up-down controls as "Spinner spinn

[2019-11-15 15:59] cston commented on #2107
See https://github.com/microsoft/msbuild/issues/4923#issuecomment-554263345.

cc @KirillOsenkov

[2019-11-17 05:24] #2334 closed

[2019-11-18 08:40] Rise-Yang commented on #2284
Verified the issue with .NET Core 3.1.100.14727 build, the issue has been fixed, there is the … (ellipsis) button next to the LinkArea property name and we can edit LinkArea (LinkLabel property) via LinkAreaEditor.
![image](https://user-images.githubusercontent.com/56662732/69035891-a6632200-0a1f-11ea-8d70-4a614b71cb2d.png)
![image](https://user-images.githubusercontent.com/56662732/69036927-c98ed

[2019-11-18 09:32] #2052 closed

[2019-11-18 09:36] RussKie commented on #2091
Yes. These controls technically have been deprecated since .NET 2.0 (circa 2005) and have been removed from the VS Designer Toolbox.
It was an oversight that we ported these in 3.0.
There will be more official comms coming from Olia and/or Rich.

[2019-11-18 12:47] schoedl opened #2380 "NativeWindow AssignHandle/ReleaseHandle should use Set/RemoveWindowSubclass"
`NativeWindow AssignHandle/ReleaseHandle` use `SetWindowLongPtr` to subclass windows. This is particularly problematic if multiple independent components subclass the same window, as described here:

https://blogs.msdn.microsoft.com/anandgeorge/2010/04/10/usage-of-nativewindow-assignhandlereleasehandle-when-unmanaged-code-is-involved/

Our Office add-in coexists with other .NET add-ins and frequen

[2019-11-18 13:17] weltkante commented on #2380
Manual subclassing via `SetWindowLong` is possible and but hard to get right, the link from OP seems to indicate WinForms has gotten wrong some edge cases.

For what its worth the source code [acknowledges](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms/src/System/Windows/Forms/NativeWindow.cs#L874) that the WinForms implementation doesn't correctly implement unsubclassing

[2019-11-18 13:59] vladimir-krestov commented on #2016
For details please see #2381.

[2019-11-19 00:03] RussKie opened #2387 "Add internal/* to PR trigger list"
Add internal/* branches to PR trigger list in yml file

[2019-11-19 02:58] #2387 closed

[2019-11-19 03:44] TempeBrennan opened #2389 "Get Color Editor return null in .net core"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
Runtime Environment: Version: 3.1.0-preview2.19525.6

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Use this code
[code]
In .net framework, return a ColorEditor instance
In .net core, return null.

**Actual behavior:**
return null.

**Expected behavior:**
return a ColorEdi

[2019-11-19 08:18] vladimir-krestov opened #2390 "Narrator/NVDA doesn't read an error message when it is set to an ErrorProvider"
* .NET Core Version: 5.0.100-alpha1-015748
* Have you experienced this same bug with .NET Framework?: Yes

**Original bug:**
- [Bug 98789](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/987891)

**Problem description:**
- If you set an error message for a control using ErrorProvider.SetError method ScreenReader won't announce an error text

**Actual behavior:**
- ScreenReader is silent

**

[2019-11-19 09:17] vladimir-krestov commented on #2389
We probably added the editor definition in later versions of .Net Core 3.1 preview.
At the moment, it works in **master** branch.
![image](https://user-images.githubusercontent.com/49272759/69133033-407da580-0ac6-11ea-99d6-49c08c2d45b4.png)

[2019-11-20 00:54] RussKie commented on #2389
The `ColorEditor` was hooked up in a1817f9c419bc75f39b36cacfdbea56bddba80ed, so it will be in 3.1 RTM.