[2021-07-30 02:56] rickbrew commented on #5368
I managed to get the most popular plugin pack to work, @EdHarvey 's Effects, https://forums.getpaint.net/topic/18811-ed-harvey-effects-v-40-2012-02-13/

I used Mono.Cecil to rewrite the IL at load time to fix up a few simple things:
- `Control.ContextMenu` was being overridden to pass the object along to an inner control. However, neither the property nor `ContextMenu` was actually used, so I was

[2021-07-30 03:57] cwing2019 commented on #5278
do you have a release windows.form.dll for this? I can't build it from winforms .

[2021-07-30 05:34] cwing2019 commented on #5278
do you have a release windows.form.dll for this? I can't build it from winforms .

[2021-07-30 07:09] RussKie commented on #5278
This is fixed in .NET 6.0 RC1

[2021-07-30 08:42] Olina-Zhang commented on #4028
@vladimir-krestov  verified this issue in the latest .Net 6.0 build, it is fixed:
![image](https://user-images.githubusercontent.com/26474449/127626568-1cb2a47d-f43a-481f-b103-8a87aaf0b7a1.png)

Close this issue now.

[2021-07-30 08:42] #4028 closed

[2021-07-30 09:01] Philip-Wang01 commented on #4861
Verified this issue with the .NET SDK 3.1.412, the issue has been fixed that no exception pops up.

[2021-07-30 12:58] cwing2019 commented on #5278
no. I am using .NET 6.0 Preview 6. and windows7 ,is not ok...
so I am seeking  a download able dll for a patch to it..

[2021-07-30 15:13] TonyValenti commented on #5374
@teo-tsirpanis - I'm definitely using an SDK-style project.  The above XML is actually the click-once publishing profile:
![image](https://user-images.githubusercontent.com/13609558/127674059-b3f6a3bd-b9d4-4610-9a70-9f083f63e5db.png)

The project file is as follows:
[code]

What do you suggest?

[2021-07-30 16:46] teo-tsirpanis commented on #5374
Oh, I did not know that about the publishing profiles, I am not familiar with ClickOnce, the legacy project header was the first thing I noticed upon seeing the issue.

But I would still change the publishing profile as I initially suggested and try again if I I were you. The error messages indicate that MSBuild cannot find a target, and seem consistent with a missing SDK import.

If it still does

[2021-07-30 16:59] dreddy-work commented on #5278
You can't use RC1 bits there? if you want to patch it yourself, you can build repo using VisualStudio 2022 or you can install RC1 on your dev machine and take the binary from there.

[2021-07-30 17:00] dreddy-work commented on #5374
@John-Hart / @NikolaMilosavljevic  to help on this.

[2021-07-30 18:15] merriemcgaw commented on #5368
Thank you so much for the update @rickbrew! We're going to take some time next week to brainstorm how we can more broadly enable folks who are porting from .NET Framework and aren't so easily able to move from ContextMenu to ContextMenuStrip etc. I'm very glad your emergency is over so we can take the time we need to see how to support others in the same position!

[2021-07-30 18:25] AraHaan commented on #5368
If it is decided to add in a ``System.Windows.Forms.Legacy`` into WindowsDesktop and have those types throw PNSE, and bring back the properties removed from ``System.Windows.Forms`` back in 3.1 that became breaking. Will there be any plans to backport it to .NET 5, (possibly Core 3.1), and also apply it to .NET 6 too?

[2021-07-30 18:26] merriemcgaw commented on #4623
Unfortunately I can't promise all the bug fixes will be able to be back ported to VS 2019 but we worked really hard to stabilize the product and make sure users have a reliable experience, even if all of the features aren't enabled. Alas we are working with 20+ year old technology where there was never the thought of code running in multiple processes. For .NET Core 3.1/5/6+ the team is basically

[2021-07-30 18:29] merriemcgaw commented on #5368
We're in the very early discussions of what might be possible. Unfortunately we don't have a plan yet - we're in the brainstorming phase. By and large we don't backport and release feature level work via servicing, and .NET 6 is shutting down. Once we have a plan we'll share it with everyone, but I can't predict yet when that would come. I promise to keep everyone posted 😺

[2021-07-30 18:37] AraHaan commented on #5368
I was just saying it would be great to put it in a servicing release for .NET 5 so Paint.NET 4.3 can use it in case there is more plugins Rick Brewster did not catch to Paint.NET that uses such things that was removed in Core 3.1, likewise it would be also nice to have it go in to .NET 6 so people who use LTS releases would be able to not worry about those missing types / members on winforms as we

[2021-07-30 19:19] merriemcgaw commented on #5368
That's a very good point @AraHaan. We have some limitations we have to work within but ideally we'd have a solution for this LTS release at least. I'm excited to brainstorm it and see what we can come up with.

[2021-07-30 20:06] TonyValenti commented on #5374
I’ve Zipped up the entire project. Email me at ***@***.*** and I’ll
send you a copy of the zip so you can see it first hand.

On Fri, Jul 30, 2021 at 12:00 PM Devendar Reddy Adulla <
***@***.***> wrote:

--
Tony Valenti

[2021-07-31 09:33] MindfusionSoftware commented on #3316
Dear @dreddy-work,

We are developing diagramming SDKs for Microsoft platforms (e.g. https://www.nuget.org/packages/MindFusion.Diagramming/) and found this issue while researching how to enable our original custom designers and UI editors in .NET Core / 5.

The designer SDK link above (https://github.com/dotnet/winforms-designer/blob/master/docs/sdk-package-information.md) seems broken. Could you

[2021-08-02 01:28] RussKie commented on #5374
@TonyValenti please raise a VS Feedback (top right in the Visual Studio), attach your project to the ticket, and post the link to that issue here. Thanks

[2021-08-02 02:10] cwing2019 commented on #5278
do you mean  ".net 6 preview 7 "? still not release yet.

[2021-08-02 06:43] RussKie opened #5378 "Document new application bootstrap and analyzers"
* [x] Document the current state of [Windows Forms application configuration and bootstrap design](https://github.com/dotnet/designs/blob/main/accepted/2021/winforms/streamline-application-bootstrap.md) as implemented in [dotnet/winforms#5035](https://github.com/dotnet/winforms/pull/5035).
* [x] Document the analyzers
* [x] Document the VS Designer support (❔)

[2021-08-02 07:05] RussKie commented on #5278
This is fixed in .NET 6.0 RC1, which is not yet released.

[2021-08-02 12:22] Marmalade118 commented on #2759
Hi. I'd like to pick this one up if that's OK?

[2021-08-02 17:10] TonyValenti commented on #5374
@RussKie - Thanks!  I have just submitted it via VS Feedback:
https://developercommunity.visualstudio.com/t/ClickOnce-Fails-to-Publish/1492807?space=8&q=ClickOnce

[2021-08-02 17:12] TonyValenti commented on #5374
@RussKie - I also attached a ZIP file containing a complete project that demonstrates the issue.  Open the Universal Migrator.sln and then try to publish UniversalMigrator.Windows.  You'll see the clickonce errors.

[2021-08-02 21:09] RussKie commented on #2759
Sure thing, thanks! Holler if you get stuck.

[2021-08-03 18:33] peymanr34 opened #5384 "Document changes to ComputerInfo.OSFullName property"
If you run the following code in a Visual Basic Application (.NET Framework) it will show

[code]

[2021-08-03 19:36] merriemcgaw commented on #5368
We've talked internally and while we recognize not bringing these types over teams, most are able to resolve the situation by migrating to the currently supported ones - it's products like @rickbrew's that have difficulties, when they don't have access to the source code. I'm so glad that @rickbrew was able to resolve his situation for sure! Given where we are in .NET 6, trying to rush something t

[2021-08-03 19:41] merriemcgaw commented on #2641
At this point it is not on our current roadmap. We're still focusing on bringing the performance and stability of the designer up to snuff. If the customer demand increases, we may consider being able to do this, but for now I don't see it on our roadmap for a while. We'll keep an eye on this issue and listen to our customers and if we do hear a lot of requests, I'd be happy to reopen and discuss

[2021-08-03 19:41] #2641 closed

[2021-08-03 19:47] rodar21 commented on #2641
marty

From: Merrie McGaw ***@***.***>
Sent: Tuesday, August 3, 2021 12:41 PM
To: dotnet/winforms ***@***.***>
Cc: Roger Andrews ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [dotnet/winforms] Support third-party languages with .NET Core WinForms Designer (#2641)

Closed #2641<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdotnet%2Fwinforms%2Fissues%2F2

[2021-08-03 21:44] Tape-Worm opened #5389 "[.NET 5/DPI] Switching Visual Studio winforms designer scaling to 100% breaks the designer rendering."
* .NET Core Version:
5.0.8

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
I run my machine at 150% scaling because on these monitors I'd go blind at 100%. So, when I went to edit my form in my application, I got the "gold bar" prompt telling me to switch to 100%. No problem, I switch over and open the form.... and oh my... it did not look right at all.  Th

[2021-08-03 22:49] KlausLoeffelmann opened #5390 "`Graphics.DrawString` fails to render certain unicode/font combinations."
* .NET Core Version:
All versions.

* Have you experienced this same bug with .NET Framework?:
Yes.

**Problem description:**

Certain unicode characters fail to render using `Graphics.DrawString()`.

The sample app below produces the following result when trying to render the string `"ᦎᦷᦑᦺᦖᦺᧈᦉᦲᧇᦉᦸᧂᦗᧃᦓᦱ"`:

![image](https://user-images.githubusercontent.com/9663150/128096012-b3457188-1682-439f-97e

[2021-08-03 23:03] dreddy-work commented on #5374
This issue is being tracked via Feedback ticket.  Alternatively, ClickOnce on core issues can be raised at https://github.com/dotnet/deployment-tools

[2021-08-03 23:03] #5374 closed

[2021-08-04 00:08] rickbrew commented on #5368
Well I was able to resolve it for 1 DLL that thankfully happens to cover most of what I need. I may also be able to use the technique for other DLLs as long as their use of these types is simple or elidable. There are some I know will not be doable; in theory yes, it's possible to transcribe `ContextMenu` uses over to `ContextMenuStrip`, but I would need a lot of compilers experience to dive into

[2021-08-04 00:11] RussKie opened #5391 "Menus and *Strips and SplitContainer controls do not respect application font"
As reported in https://github.com/dotnet/winforms-designer/issues/3611

**Problem description:**

The font for these controls: ToolStrip/menuStrip/StatusStrip, MonthCalendar, SplitContainer is not rendered after setting an application font, is not same as button's
![image](https://user-images.githubusercontent.com/26474449/126601047-51e49925-e4f8-4b89-b4be-6a7df4ee8b65.png)

<details>
<summary>.NE

[2021-08-04 02:33] Zheng-Li01 commented on #5384
It's seems that due the code implement have changed in the Microsoft.VisualBasic.Devices namespace, please see below screnshot.
![image](https://user-images.githubusercontent.com/38325459/128112580-f1ea7381-2c63-4bfc-96cd-00a7911dcf12.png)

[2021-08-04 17:09] sujitnayak commented on #5374
This issue has been RC'ed to a multi-targeting class library in the solution that ClickOnce does not handle correctly. A fix for this is in the works for 16.11.
Thanks.

[2021-08-04 20:09] Tape-Worm commented on #5389
And like a dummy, I should have read the instructions closer, because it says to put these kinds of issues up on the VS feedback page instead of here.  I have done so now.  Sorry about that.

[https://developercommunity.visualstudio.com/t/NET-5DPI-Switching-Visual-Studio-win/1494798](https://developercommunity.visualstudio.com/t/NET-5DPI-Switching-Visual-Studio-win/1494798)

[2021-08-04 20:17] paul1956 commented on #5384
Both sets of information would be useful. Unless there is already a way to get the version information separately, I think both should be available. If OS Version is already available I definitely prefer the Framework way.

[2021-08-04 20:59] KlausLoeffelmann commented on #5389
We will approach this problem a different way: Simplified put, we will rewrite the CodeDom Serializer (that's the component in the Designer which generates the Code from the designed Form/UserControl) in the new Designer in a way that it serializes the controls as if they would have been designed in 96dpi no matter which the actual HighDPISetting in the Designer was at the time. And we will then d

[2021-08-04 21:10] KlausLoeffelmann commented on #2748
I am pretty sure (although not entirely) this might be related to an issue we recently fixed in the .net runtime (not in the WinForms repo), and which especially surfaces for VB scenarios. If it is, it'll be fixed for .NET 6. I don't know if it's gonna meet the bar to get serviced for .Net 5 or .Net 3.1.

https://github.com/dotnet/runtime/issues/52116

[2021-08-04 21:15] KlausLoeffelmann commented on #2748
@poutine70, follow-up question: Is it important for you to have for 3.1, and if, I'd like to ask why? Would you be able to use .NET 6 when it becomes available? I am asking also, because a lot of things for VB are completely missing in 3.1 - like the entire Application Framework support. .Net 6 might be also more attractive, since we enabled a bunch of new WinForms features via Application Events

[2021-08-05 14:28] weltkante commented on #2759
If these duplicates are in the control-specific range (1024 resp. 0x400 or above) they should not be translated to strings, unless the caller passes a parameter (e.g. an internal enum) which specifies for which control they are.

[2021-08-05 14:41] weltkante commented on #5390
Sounds like a limitation of GDI+ (System.Drawing) vs. GDI (TextRender) ? If I remember right most of `System.Drawing` lives in the dotnet/runtime repo and I think its just a flat forwarding to GDI+ unless they reworked it, so I doubt its a bug.

Generally the problem is probably that the font doesn't contain these glyphs in the first place, and you are relying on on the OS to pick a fallback font,

[2021-08-05 20:46] dreddy-work opened #5397 "Selection of dropdown throws exception in getting Accessible role"
* .NET Core Version:
6.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

A simple form with propertygrid that has label as selected object. At runtime,  clicking on dropdown items is causing exception while accessing Accessible role for ListboxItemAccessibleObject. FOllowing is stacktrace,

   at Accessibility.IAccessible.get_accRole(Object varChild)
   at

[2021-08-05 20:55] Tanya-Solyanik commented on #3506
@raffaeler - Please download the recent preview build [Visual Studio 2019.11 preview 3](https://visualstudio.microsoft.com/vs/preview/) In situ toolstrip editing experience should be available there. Please use vs feedback channel (feedback button in the VisualStudio) to file more designer-related bugs.

[2021-08-05 20:56] #3506 closed

[2021-08-06 00:48] dreddy-work commented on #5391
Can we repro this by just setting Font on the Form and no explicit Default font?

[2021-08-06 00:50] dreddy-work commented on #5391
@Olina-Zhang , Can you verify if any other winforms controls, other than what is specified here,  experiencing same issue?

[2021-08-06 01:03] dreddy-work commented on #5389
We will be removing "Gold bar" soon and the will be reimplementing the serialization in the later releases in the designer. We have a tracking issue in the internal repo and a feedback item already created above.  Closing it here

[2021-08-06 01:03] #5389 closed

[2021-08-06 02:00] Olina-Zhang commented on #5391
@dreddy-work this issue still repro by just setting Font on the Form and no explicit default font, design time and run time have same result. And other Winforms controls cannot repro this issue.
![image](https://user-images.githubusercontent.com/26474449/128444426-74c1484f-fb0c-4e7b-b8b1-abdfa0047f98.png)

[2021-08-06 02:38] Olina-Zhang commented on #3275
Verified this issue in the latest VS build: 17.0.0 Preview 3.0 [31605.277.d17.0] + .Net 6.0 SDK build: 6.0.100-rc.1.21404.12, this issue cannot repro now. Close this issue now.
![TextBox_passwordChar](https://user-images.githubusercontent.com/26474449/128447600-f0231164-ff84-4ac2-883e-ac62c25b5f49.gif)

[2021-08-06 02:38] #3275 closed

[2021-08-06 06:47] raffaeler commented on #3506
Thank you @Tanya-Solyanik
Apparently this change started passing index == 0 to `OnMeasureItem` (previously the value was -1) which caused my code to throw and crashed VS. I fixed this in my code by preventing the unexpected index, but I just want to let you know that designer code can crash VS.

In addition to that, there is something else that is preventing to load the designer:
[code]
I will mak

[2021-08-06 06:50] raffaeler commented on #3506
No way to reproduce it. I just closed and reopened the form multiple times and now it loaded.
Literally no other changes, not even rebuilding. Looks like a VS (caching?) issue.

[2021-08-06 07:23] raffaeler commented on #3506
@Tanya-Solyanik The behavior is weird. Even the code editor screws up.
I tried to give all the details here:
https://developercommunity.visualstudio.com/t/cannot-load-windows-forms-designer-in-vs-16110-pre/1496506

HTH

[2021-08-06 13:04] SergeySmirnov-Akvelon commented on #5290
Hi @RussKie, @dreddy-work. I have investigated this issue again and found that it started to reproduce in .NET Core 3.0. One of the conditions for the reproduction of the bug is the next line:
`Application.SetHighDpiMode(HighDpiMode.SystemAware)`

Unfortunately, during the first investigation, I did not know that the presence of the code above is an important condition. During testing .NET Framewo

[2021-08-06 17:42] dreddy-work commented on #5290
Thanks @SergeySmirnov-Akvelon for the update.  When need to find why adding  `Application.SetHighDpiMode(HighDpiMode.SystemAware)`  is causing this. Did you see any first chance exceptions in your  investigation?

[2021-08-07 06:11] mohammadamin83 opened #5400 "Hello"

[2021-08-08 01:09] #5400 closed

[2021-08-09 05:12] RussKie commented on #5249
I personally don't think it is correct to loc "Windows Forms", as it is the name of the tech stack.

@crsuzukimsft assigning to you as you own the locs.

[2021-08-09 05:15] RussKie commented on #5074
Refer to https://github.com/dotnet/sdk/issues/19521 for new directions.

[2021-08-09 06:05] RussKie commented on #3300
Here's a distilled sample: https://github.com/RussKie/IsDesignMode

net472:
![image](https://user-images.githubusercontent.com/4403806/128665636-5f99dc03-5fed-4f4c-930f-cf0f15e60e4b.png)

net6.0:
![image](https://user-images.githubusercontent.com/4403806/128665585-6c2ca52c-6200-4ca2-8050-ff4187fdb2e5.png)

[2021-08-09 06:37] kirsan31 commented on #5205
@dreddy-work

Dose this mean that we 100% will not see working PermintorV2 in .NET6? Also, I still see no progress on [HDPI project](https://github.com/dotnet/winforms/projects/4) :( Do we at least have a chance on improvements (read fixes) for SystemAware???

[2021-08-09 07:59] raffaeler commented on #3506
@Tanya-Solyanik
As usual, the first-level support marked as "need more info" the issue I opened.
Frankly, I don't know what could I provide more than I already did.
If you can do something with the feedback, your are welcome, otherwise I will let them close it.

[2021-08-09 09:08] SergeySmirnov-Akvelon commented on #4079
Hi @merriemcgaw. I think you are right and adding support of the text pattern fixed this issue. Now I see the correct behavior of the `ComboBox` for both cases:

![4079](https://user-images.githubusercontent.com/23376742/128683289-5d89663f-3ae6-4076-ab4c-e22a3f556654.gif)

[2021-08-09 11:47] roland5572 opened #5405 "WinForm class OpenFileDialog and SaveFileDialog don't support OFN_DONTADDTORECENT flag"
If the users don't want to save the opened file history to the Windows system, the Windows API provides the **OFN_DONTADDTORECENT** flag to achieve this, but it is currently not available in WinForm class **OpenFileDialog** and **SaveFileDialog**.

Even if the reflection method OpenFileDialog.SetOption is called and OFN_DONTADDTORECENT is passed in, it also does not work.

Tested .NET Version:

.N

[2021-08-09 12:48] roland5572 opened #5406 "In some cases, WinForm TextBox Control automatically selects all text by mistake."
In some cases, Textbox Control automatically selects all text by mistake.

TextBox Control will automatically select all texts and highlight them when TextBox control gets the focus. But in fact, in some cases, it may not be necessary to select all the text.

If the program is a Log Viewer, or Notepad, it is just a reader that simply displays more than **100,000 characters**. It does not need to a

[2021-08-09 13:33] weltkante commented on #5406
You may have noticed that the code is guarded by `selectionSet` to provide a form of lazy initialization of the selection. The current intended behavior seems to be to call `textbox.Select(0, 0);` or similar APIs when you don't want the default behavior and instead provide your own default selection. This will set `selectionSet` to `true` so the lazy initialization of the selection will be skipped

[2021-08-09 13:49] roland5572 commented on #5406
Yes, But the `selectionSet` is a private member, and I have checked the source code, there is no similar API to directly control it. There are other libraries on Github also encountered similar problem. they are using a temporary remedy, and these methods may cause errors after the .net update.

[2021-08-09 13:54] weltkante commented on #5406
You call `textbox.Select(0, 0);` during setup of the form/control, like I mentioned above. This works for both [Desktop Framework](https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/TextBox.cs,740) and [.NET Core](https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/TextBox.cs,740) (the public `Select` method calls `

[2021-08-09 14:22] roland5572 commented on #5406
Yes, this can temporarily solve this problem. But if the characters exceed 100,000, or more. For example, a 100MB text file. This operation will cause a significant performance degradation, and may cause the interface to flicker.

The larger the file, the more serious each time to switch focus.

[2021-08-09 14:33] weltkante commented on #5406
I don't think we are talking about the same thing. The code snippet you quoted is lazy initialization when the control first gets focus. I'm suggesting to preinitialize selection during setup of the form/control at which point nothing is loaded into handles, much less displayed. There is no chance to flicker.

If you dynamically change text and immediately reset selection to empty there is nothing

[2021-08-09 17:05] dreddy-work commented on #5205
for 100% screens, setting `PerMonitorV2` doesn't make any difference. There were some changes in the prioritization between designer performance and runtime work for .NET6. We are resuming the HDPI work now. Can you list the issues that blocking you in `SystemAware` mode? they will have higher priority and we expect `SystemAware` is functional in .NET 6.0.

[2021-08-09 17:36] KlausLoeffelmann commented on #5249
I agree partly, however I can only speak for German.
It should be:
"Windows Forms App" (No translation here, please! "App" is common German. We want people to understand, so _we_ need to accommodate (to) the tech lingo that is actually spoken in the various communities and tech departments of the German IT companies and households in the (German speaking) world. And sometimes we need to go against

[2021-08-09 17:55] KlausLoeffelmann commented on #5249
@Olina-Zhang:

In Addition what I wrote: What concerns me more is the effect on GB18030 for the Chinese Certification. Are tests effected by this, Olina? That's, @crsuzukimsft, why we should address this on really short notice!

[2021-08-09 18:56] kirsan31 commented on #5205
@dreddy-work

All of them are in https://github.com/dotnet/winforms/projects/4.
I think that fundamental problems are:
https://github.com/dotnet/winforms/issues/3202
https://github.com/dotnet/winforms/issues/3168 and all related to Anchor Right.
May be https://github.com/dotnet/winforms/issues/4846 but this is font scaling.

[2021-08-09 19:06] dreddy-work commented on #5205
Thanks @kirsan31 . #3202 is  designer issue and is slated for VS 2022 release and will be tracked out side of .NET release.

Issue related to `SetDefaultFont` is being investigated and expected to get some fix in .NET 6.0.

[2021-08-09 20:25] kirsan31 commented on #3202
@dreddy-work
[Here](https://github.com/dotnet/winforms/issues/5205#issuecomment-895468492) you mentioned that:

If so, I think it's must be documented somewhere that correct DPI scaling logic depend on order of these Form's properties setters:
[code]

[2021-08-09 21:45] dreddy-work commented on #5406
Given the behavior is same across the framework versions and work around exist to alter this behavior, I do not see a reason to change/alter the default behavior here. @roland5572 , did you check the behavior with Native/Mfc application?

[2021-08-10 00:24] lucapivato opened #5407 "Can't compile anymore, implicit using doesn't seem to work."
Since the last update we cannot compile winforms and winforms-designer anymore. In both cases the SDK version 6.0.100-rc.1.21379.2 cannot be found and cannot be downloaded. The latest we can find is 6.0.100-preview.6.21355.2.

"using System" is missing and the implicit using in csproj is missing as well causing thousands of compiler error.

Tried with VS2019 and 2022 and on clean dev machines.

Wh

[2021-08-10 02:47] Olina-Zhang commented on #5249
@KlausLoeffelmann I don't think this will have any impact on the test, this issue is just for display in SDK by CLI. And it also no affect in Visual Studio. Cannot be checked or tested on Chinese GB18030.

[2021-08-10 03:11] roland5572 commented on #5406
@dreddy-work I just tested it. MFC will also select all text. But if you use the following class. Then WinForm TextBox Control will not automatically select all text, I think WinForm can control the default behavior of TextBox.

Just like the Notepad program that comes with Windows, if Notepad automatically selects all text when it starts, it will make the program look weird.

[code]

[2021-08-10 04:57] #5407 closed

[2021-08-10 05:12] RussKie opened #5409 "Update implicit global usings feature"
The original implementation of "implicit global usings" (https://github.com/dotnet/sdk/pull/18459 and https://github.com/dotnet/winforms/pull/5183) has been determined to be intrusive, and it needs to be reworked as "opt-in" instead "opt-out". The new implementation must match https://github.com/dotnet/sdk/pull/19599

Refer to https://github.com/dotnet/sdk/issues/19521 for more details.

[2021-08-10 05:28] RussKie commented on #3168
This shouldn't be necessary with the new [`SetDefaultFont` API](https://docs.microsoft.com/dotnet/api/system.windows.forms.application.setdefaultfont). The [simplified app bootstrap](https://github.com/dotnet/winforms/pull/5035) will also make the designer render the forms and controls with the desired font metrics (VS 17.0p3+).
This obviously is not a solution, but can help in certain scenarios.

[2021-08-10 06:03] RussKie commented on #5406
As much as it can be frustrating, this behaviour existed for many years. We won't be changing it because it presents a significant risk of regression, as existing consumers may have comes to depend on it, and/or implemented workarounds, which may break.

It appears there is a simple enough workaround, and I don't believe we have seen any other reports against this behaviour that could justify chan

[2021-08-10 06:03] #5406 closed

[2021-08-10 11:00] SergeySmirnov-Akvelon commented on #5290
Hi @dreddy-work. No. When I investigated the bug for the first time, I made a mistake when clarifying the affect version, so I was trying to find a commit where we could potentially break it. It turned out that in the commit I found above, we added `Application.SetHighDpiMode(HighDpiMode.PerMonitorV2);` a method to the `WinformsControlsTest` project. This is the reason **why** the bug started to r

[2021-08-10 12:55] kirsan31 commented on #5290
All a bit more complicated.
1. Another prerequisite for reproduction is that the system's DPI should be more than 100. On 100% DPI all work fine.
2. If your make net4 app DPI aware:
[code]
**and** change font of the app to system font like this:

[code]
then this issue will repro even on net472.

So, strictly speaking this is not a regression, this is DPI scaling problem that exist even in net fra

[2021-08-10 16:59] dreddy-work commented on #5290
Thanks @kirsan31 for the details. Removed regression tag and slated for next release.

[2021-08-10 22:07] alamarch1 opened #5413 "Button height is too high for up/down arrows in ToolStripSplitButton DropDown, when a MaximumSize is defined in DropDown"
* .NET Core Version: 5.0.302

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
When using a ToolStripSplitButton, define multiple items inside the DropDownItems collection, and define a specific MaximumSize for the DropDown so there will be up/down arrows displayed to navigate through the list, these buttons will have a much higher height than expected.

**Ex

[2021-08-11 02:07] #4146 closed

[2021-08-11 07:28] John-Qiao commented on #4079
Verified with .NET 6.0.100-rc.1.21410.51 from main branch, this issue has been fixed that the size of Narrator screen reader blue rectangle and behavior of focus on the new character in ComboBox control or item are both correctly now.

[2021-08-11 07:34] kelicto opened #5414 "Anchor: "Bottom, Left" Bug"
* .NET Core Version: Not test.

* Have you experienced this same bug with .NET Framework?: Yes.

**Problem description:** The label 'ErrorMessage' - 'Anchor' must set default value 'Top, Left'. Otherwise, the label's position is below of derived form.

**Expected behavior:**
![image](https://user-images.githubusercontent.com/23723575/128987645-32f3e9fa-a4da-4447-b682-18545f1871da.png)
![image](htt

[2021-08-11 08:44] RussKie commented on #5414
Please fill in the template correctly and provide a sample app. Otherwise this will be closed.

[2021-08-11 12:31] AngeloCresta commented on #3320
Maybe you can consider to add a ForeColor for Footer and Subtile...
Angelo

[2021-08-11 15:51] cristianosuzuki77 commented on #5249
Where is the source of these strings?
https://github.com/dotnet/winforms/tree/main/pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/ ?

[2021-08-11 17:02] KlausLoeffelmann commented on #5249
Not sure what you mean exactly.
The localize strings are here:
https://github.com/dotnet/winforms/tree/main/pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config

(As an example for the C# WinForms App template.)

[2021-08-11 19:05] KlausLoeffelmann commented on #5249
That's what _I_ thought. The question now is, why aren't they surfacing in the product?
@merriemcgaw, @Pilchie: Just FYI, this could become too time-critical if we put it off for too long and I want to avoid doing this again at the last minute, so I plan to spend a bit time on the side investigating this on a German VM.

Also: @phenning - any idea, what might go wrong here?
@KathleenDollard FYI.

[2021-08-11 19:21] phenning commented on #5249
@vlada-shubina  and @DavidKarlas would be able to better explain how "dotnet new" localization the templates in the CLI. This is a relatively new feature- if you notice the only localized templates are those that are coming from the dotnet/templating repo which is also owned by the template engine. I believe there is some work that needs to be done in order to use the new localization mechanism fo

[2021-08-12 00:48] kelicto commented on #5414
Ok.

[2021-08-12 02:46] kelicto commented on #5414
To fix it, I create a new form and copy controls to do. Winform app needs a lot of improvement. Experience is very bad!

[2021-08-12 03:35] kelicto commented on #5414
After setting the location, it will automatically restore it back.

[2021-08-12 03:39] kelicto commented on #5414
My project have lots of forms, new form and copy controls to solve is very stupid! But, I have not any way to fix it!

[2021-08-12 09:24] Ashley-Li opened #5418 "An exception error pops up about System.Configuration.ConfigurationErrorsException: 'Configuration system failed to initialize'"
**Test Environment**
Dev17 17.0.0 Preview 4.0 [31611.372.main] + .NET 6.0.100-rc.1.21411.27

**More info**
1. This is not a regression issue, it just occurs VB winfroms .NET Core project, it cannot reproduce on C# winfroms .NET Core project.
2. It also reproduce on Dev17 .NET 5.0 project and .NET 3.1 project.
3. It also reproduce on Dev16 .NET 5.0 project and .NET 3.1 project.
4. The initial feedb

[2021-08-12 10:13] nicama commented on #4623
Still can't bind a GridView to a DataSource in a VB Winforms project with Target Platform .NET 6.0.
Neither in Visual Studio 2019 16.11.0 Preview 4.0, nor in Visual Studio 2022 17.0.0 Preview 3.0
.NET SDK 6.0.100-preview.7.21379.14

[2021-08-12 10:56] bairog commented on #4623
FYI **Visual Studio 2019 16.11** [was released two days ago](https://devblogs.microsoft.com/visualstudio/visual-studio-16-11/). Haven't tested it yet by myself.

[2021-08-12 12:39] AngeloCresta opened #5421 "MenuStrip, ToolStrip and StatusStrip white border issue"
* .NET Core Version:
    .NET SDK (reflecting any global.json):
     Version:   5.0.302
     Commit:    c005824e35

    Runtime Environment:
     OS Name:     Windows
     OS Version:  10.0.22000
     OS Platform: Windows
     RID:         win10-x64
     Base Path:   C:\Program Files\dotnet\sdk\5.0.302\

    Host (useful for support):
      Version: 5.0.8
      Commit:  35964c9215

    .NET SDKs i

[2021-08-12 14:02] danineuss commented on #112
@zsd4yr
I am currently trying to port my application to .NET Core 3.x and have stumbled upon the not supported `(...).DataVisualization.Charting` library. Is this fixed today? The URL that you posted on April 19 '19 leads into 404 land ..

Thanks already 🙏🏽

[2021-08-12 14:08] weltkante commented on #112
You want to check the [document in the release/3.0 branch](https://github.com/dotnet/winforms/blob/release/3.0/Documentation/porting-guidelines.md#include-the-systemwindowsformsdatavisualization-pack). Its usable for initial porting but generally charting is not supported going forward to newer .NET versions, so you may run into bugs eventually when WinForms changes and this library wasn't updated

[2021-08-12 16:42] dreddy-work commented on #5418
@KlausLoeffelmann , can you take a look at this?

[2021-08-12 16:47] bekir-ozturk commented on #5249
Thanks for clarifying Phil. I would like to add a few things.

Localization of template metadata was not supported by template engine until .NET 6.0. Visual Studio had a workaround for this missing feature via strings.json files.

With .NET 6.0, we have added support for this into template engine. This means that there is now a single mechanism to localize template metadata in both dotnet CLI and

[2021-08-13 00:23] #5397 closed

[2021-08-13 01:39] RussKie commented on #5249
So am I correct in understanding that we should delete [all currently localised content](https://github.com/dotnet/winforms/tree/main/pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config), and then run the tool to generate a new content that will flow via the OneLocBuild task to the Loc team?

[2021-08-13 01:50] #4571 closed

[2021-08-13 02:49] RussKie commented on #112
The library is no longer supported.
The docs link: https://github.com/dotnet/winforms/blob/main/docs/porting-guidelines.md#include-the-systemwindowsformsdatavisualization-pack
Here's a package that should help you to migrate to .NET, but it won't in the new designer: https://www.nuget.org/packages/System.Windows.Forms.DataVisualization.

[2021-08-13 07:10] Zheng-Li01 commented on #4146
Verified the with latest .NET 6.0 with 6.0.100-rc.1.21411.23-win-x64, the feature has been implemented.

[2021-08-13 07:28] bekir-ozturk commented on #5249
You shouldn't delete the current content. That would break Visual Studio locs since it hasn't yet switched to the new way. For the time being, localized content for both mechanisms should exist together. You are correct about the rest though.

[2021-08-13 12:26] kelicto commented on #5414
Very bad designer!

[2021-08-13 12:33] kelicto commented on #5414
And button-bug haven't any way to fix.

[2021-08-13 12:36] kelicto commented on #5414
I want to hurl.

[2021-08-13 13:03] phenning commented on #5249
@RussKie  You should probably still delete the "xx-XX" versions of the current localized content though, since it looks like the "xx" versions are the latest. As explained above, VIsual Studio would try to use the xx-XX versions first if they are present.

![image](https://user-images.githubusercontent.com/2433750/129361006-106b7f71-9876-4f21-a551-3b079a28dc50.png)

[2021-08-13 13:05] phenning commented on #5249
I'd verify first though that the automated check-in has the correct translations for each language.

[2021-08-13 16:10] KlausLoeffelmann commented on #5249
@bekir-ozturk, @phenning: Thanks for clarifying!

[2021-08-13 18:33] KlausLoeffelmann commented on #4895
@merriemcgaw: Talked to @OliaG about this in the context of the last survey, and we'd like to plan this in the .NET 7 timeframe.

[2021-08-15 08:21] danineuss commented on #112
Thanks Igor for your reply! I am having issues installing the nuget
package but in essence this is all I would need to do in order to make
my repo ready for moving it to .NET Core?

On August 13, 2021, radioman85 ***@***.***> wrote:

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/dotnet/winforms/issues/112#issuecomment-898140897>

[2021-08-16 02:18] RussKie commented on #5249
@bekir-ozturk I'm getting errors while running the script. I tried a few different ways, but each time the error is the same:
[code]
![image](https://user-images.githubusercontent.com/4403806/129502528-b09767e9-3c00-4e1c-9fd4-ed7cd50638cd.png)

What am I missing?

[2021-08-16 02:31] RussKie commented on #5421
This looks like what https://github.com/dotnet/winforms/pull/4739 is trying to address.

[2021-08-16 03:08] DavidKarlas commented on #5249
Short version:
You need to add "id" attributes to post actions, see example in bellow screenshot:
![image](https://user-images.githubusercontent.com/774791/129506111-661b2842-2572-4505-aad7-d4ed942886e2.png)

Long version:
Since postactions are defined as array, if we decided to match localisation by indexes in array user could re-order them or delete 1 or add 1 at beginning of array and all local

[2021-08-16 05:27] RussKie commented on #5249
@DavidKarlas thank you, that did the trick

[2021-08-16 09:04] #4643 closed

[2021-08-16 09:12] RussKie commented on #4663
As per offline discussions this functionality does not belong to Windows Forms runtime.

[2021-08-16 09:12] #4663 closed

[2021-08-16 13:15] AngeloCresta commented on #5421
Agree, plus the right border on toolstrip and menustrip ;)

[2021-08-16 17:38] dreddy-work commented on #5414
@kelicto , you are asking to change the default behavior that has been there since .NET framework and people might have taken dependency on that default behavior.

[2021-08-17 00:40] #5249 closed

[2021-08-17 01:09] RussKie commented on #5421
Would you like to try to fix the other one?

[2021-08-17 02:35] kelicto commented on #5414
But, I think it should be a bug.

[2021-08-17 03:33] RussKie commented on #5414
I tried your sample, and everything appears to be working as expected:
![5414](https://user-images.githubusercontent.com/4403806/129659430-221128e5-8e16-43e3-b5b6-1ee04e5c178d.gif)

Could you please help us understand what you see as a problem?

[2021-08-17 06:31] Craftplacer opened #5434 "SplitContainer defaults its sub-panel's cursor to H/VSplit"
* .NET Core Version: 5.0.400, 6.0.100-preview.7.21379.14
* Have you experienced this same bug with .NET Framework?:  No

**Problem description:**
When creating a `SplitContainer` and running the application, when the user hovers over the content panels (i.e. `Panel1` and `Panel2`) their cursor will be of either `HSplit` or `VSplit`, which is not correct.

**Expected behavior:**
That `HSplit` or `V

[2021-08-17 13:12] AngeloCresta commented on #5421
Why not?! Let me know...

[2021-08-17 22:14] merriemcgaw commented on #4623
Neither in Visual Studio 2019 16.11.0 Preview 4.0, nor in Visual Studio 2022 17.0.0 Preview 3.0
.NET SDK 6.0.100-preview.7.21379.14

@KlausLoeffelmann what is the current state of the databinding world in VS.
@nicama how are you trying to do the data binding. We don't support the Data Source Wizard and some of the older ways to bind data. However if you create a DataSource using the old .NET Frame

[2021-08-17 22:59] KlausLoeffelmann commented on #4623
We're currently working on enabling new Object base Data Sources in the new .NET Designer with a new Dialog, which will be as a first stage reachable from the Design Binding Picker, and which allows to create or delete new Data Sources without the Data Source Provider Service. Those should surface in VS17 (2022) Preview 4. We have yet not determined the fait of the Data Source Provider Service, bu

[2021-08-18 01:09] geoffhop opened #5444 "Issue with Visual Studio 2019 Designer when used in combination with Visual Inheritance and .NET 5 Windows"
Hi there
I am confronting an issue with the Visual Studio 2019 Designer when used in combination with visual inheritance and .NET 5 Windows
I have a net5.0-windows SDK style WinForms project using Visual Studio 2019 this issue is occuring in all versions I have tried across different PC's, v16.11.1, v16.10.4 and v16.9.5
I also have the .NET 5 SDK v5.0.400 installed which is part of .NET 5 v5.0.9 (

[2021-08-18 02:26] Marie-Shi commented on #5434
There is a similar known [Designer issue](https://github.com/dotnet/winforms-designer/issues/3575).

[2021-08-18 03:08] Marie-Shi commented on #5444
Hi geoffhop, yes, there is a known issue about cannot open the form designer for Custom Control, and we are working on it.

[2021-08-18 03:10] Marie-Shi commented on #5444
There is a known [Designer issue](https://github.com/dotnet/winforms-designer/issues/914).

[2021-08-18 03:27] geoffhop commented on #5444
Hi thereThanks for the reply but the link gives a 404 errorRegardsGeoff
    On Wednesday, August 18, 2021, 11:10:52 AM GMT+8, v-zheshi ***@***.***> wrote:

There is a known Designer issue.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-08-18 05:55] Marie-Shi commented on #5444
@geoffhop This is a private link in designer repo. We'll update this issue once we make any progress.

[2021-08-18 14:34] nicama commented on #4623
My intention is to find out the way for future migration .NET Framework based WinForm VB.NET application with MS SQL Server DB back end onto the .NET 6.+ platform, since .NET Framework has been frozen. Thus as far as I can tell there is still no way to prototype a migration path. My demand is not immediate, so that I can sit back and wait watching what VS and . NET developers work out sooner rathe

[2021-08-18 22:09] Tanya-Solyanik commented on #3316
@merriemcgaw , @OliaG  - Is it possible to give this software vendor access to the designer SDK?

[2021-08-18 22:13] Tanya-Solyanik commented on #5018
@vladimir-krestov - as far as I understand UiaClientsAreListening works exactly the same as the IsAccessiblityObjectCreate property does. We don't know that an accessibility client is listening, but we know that some UIA client has reasons to create AccessibleObject.

[2021-08-19 01:57] kelicto commented on #5414
Oh, I'm sorry. I don't reference other dll. I submit some code. And the label should not appear on form. I'm not sure if it's because you do other operations.

[2021-08-19 02:08] kelicto commented on #5414
No! It's a base form. You should test FeedbackForm.

[2021-08-19 03:01] rickbrew commented on #5368
I have made progress on making this work for other plugins that make use of `ContextMenu` and `MenuItem`, https://twitter.com/rickbrewPDN/status/1428187460203270148

I extracted the relevant classes from .NET 4.8's DLL via ILSpy and put them into a new DLL that I'll be shipping with my app, PaintDotNet.Plugins.Compatibility.dll. Then, when loading the plugin, I match against known assembly names t

[2021-08-19 04:20] RussKie commented on #5414
In your derived control you sent the location of the label which is outside the client rectangle:
![image](https://user-images.githubusercontent.com/4403806/130007126-6b5122f1-ff1a-47fb-93d6-fb258fa34c1e.png)

Everything else works correctly.

[2021-08-19 04:20] #5414 closed

[2021-08-19 07:23] Olina-Zhang opened #5476 "Unhandled exception about "System.Drawing.Common is not supported on this platform" occurs when running winforms application"
* .NET Core Version:
.Net 6.0 RC1 build: 6.0.100-rc.1.21418.27 from release/6.0.1xx-rc1 branch in https://github.com/dotnet/installer
**This is a regression issue**, cannot repro previous .Net 6.0 build: 6.0.100-rc.1.21417.19

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1. Create a Winforms .Net 6.0 application
2. Build and run app

**Expected behavior:**
Buil

[2021-08-19 07:27] kelicto commented on #5414
I don't think so.
![image](https://user-images.githubusercontent.com/23723575/130026332-49870797-130a-4f05-86b4-836c67a357a1.png)

[2021-08-19 08:30] Marie-Shi commented on #5397
Verified this issue with .Net 6.0.100-rc.1.21417.19 from Release/6.0.1XX, it is fixed. No exception throwing when selecting dropdown list item.
![issue_update](https://user-images.githubusercontent.com/45864017/130035763-4b771fff-55e3-4f53-8402-6df19dbb4e82.png)

[2021-08-19 09:26] Amy-Li03 commented on #5018
Verified this issue on latest build .NET 6.0.100-rc.1.21417.19, we can see the "IsAccessibilityObjectCreated" property in debug mode when Triggering the GotFocus event of monthCalendar.
![image](https://user-images.githubusercontent.com/62929087/130044500-b5e0073e-a6f6-4a85-919a-b7daa5c9dba4.png)

[2021-08-19 09:35] vlada-shubina opened #5477 "[Templates] Consider publishing WinForms templates in package per TFM"
Related conversation: https://github.com/dotnet/docs/pull/25603

Recently there was a conversation on how to target older frameworks in the templates, which again revealed that .NET templates in SDK are following 2 different approaches for distribution:

### Common project and web/SPA project templates
The templates are shipped in separate packages: one package per TFM.
Examples:
- `microsoft.dotn

[2021-08-19 16:38] rickbrew commented on #5368
I've published a nuget package for Menu/ContextMenu, https://www.nuget.org/packages/Unofficial.System.Windows.Forms.Legacy/0.1.0 , as per @ericstj 's naming suggestion. GitHub repo is at https://github.com/paintdotnet/System.Windows.Forms.Legacy

[2021-08-19 17:21] AraHaan commented on #5368
I think it needs to be moved to the dotnet org @rickbrew and then the .NET org can do what they need with it.

[2021-08-19 17:36] dreddy-work commented on #5476
@Olina-Zhang , is this the case with `main` as well?

[2021-08-19 17:38] dreddy-work commented on #5476
@safern, do you know anything changed in RC for Drawing.Common?

[2021-08-19 17:39] dreddy-work commented on #5421
@AngeloCresta , please go ahead. I marked this for up for grab.

[2021-08-19 21:18] DamianEdwards commented on #5074
@RussKie are you planning to bring this change through ASK mode for rc.1?

[2021-08-19 23:34] ericstj commented on #5476
We did change https://github.com/dotnet/runtime/commit/2ccf787faaf5798253a66d81be716798c751175f however that should only apply on Unix.  @ViktorHofer perhaps something changed in how we share this binary with WinForms to give them the wrong implementation?

[2021-08-19 23:48] ericstj commented on #5476
I can confirm this.  Rather than picking up the Windows implementations WindowsDesktop is getting the RID-less implementations.  @ViktorHofer I think it's due to this: https://github.com/dotnet/runtime/blob/948770a23b1e1b5d128d7bbc06f172fbd01d4ba5/src/libraries/Microsoft.Internal.Runtime.WindowsDesktop.Transport/src/Microsoft.Internal.Runtime.WindowsDesktop.Transport.proj#L3

[2021-08-20 01:18] dreddy-work commented on #2867
@SergeySmirnov-Akvelon , Can you guys take a look and see if this is still and issue and we could take it in 6.0?

[2021-08-20 01:19] dreddy-work commented on #2748
Closing this given the fix is in latest runtime. Will revisit if this needed servicing.

[2021-08-20 01:19] #2748 closed

[2021-08-20 01:37] kelicto commented on #5414
@RussKie Please open the issue, does not appear to have been resolved.

[2021-08-20 03:01] Ashley-Li commented on #5249
@RussKie @KlausLoeffelmann Verified this issue with .Net 6.0.100-rc.1.21417.19 from Release/6.0.1XX, it is still repro on OS(CHS,RUS,PTB) , winforms template names are unlocalized after runing "dotnet new --list" in CLI, please see below results.Whether this is expected?
![image](https://user-images.githubusercontent.com/56664234/130171433-f7a01e44-3ed6-4402-a51a-4cea1e6d206f.png)
![image](https:/

[2021-08-20 08:12] RussKie commented on #5249
@Ashley-Li my PR has enabled the translations infra for the templates.
I don't believe any translations have been done and/or merged. @dreddy-work and @cristianosuzuki77  can provide more information on where we're at with those.

[2021-08-20 08:33] Ashley-Li commented on #5249
@RussKie We built binaries from main branch under dotnet/winforms repo, it is empty under ..\source\repos\winforms\artifacts\bin\Microsoft.Dotnet.Winforms.ProjectTemplates, no dll generated. So we cannot verify this accurately. Do you have any ideas?

[2021-08-20 08:37] kelicto opened #5486 "Fatal bug [Anchor: "Bottom, Left" Bug(#5414 should OPEN)]"
It can be reproduced stably in the demo program, not necessarily 100%. Maybe some conditional factors will cause it, but it is a high probability event.

[2021-08-20 08:51] DmitryGorokhov opened #5487 "A DateTimePicker control should support state announcing on Calendar opening"
* More info:
Not regression. This is an addition functionality for improving experience.
This opportunity appears after adding support Expand-Collapse pattern for DateTimePicker control.

* Linked items:
       - #4099 Issue
       - #5245 PR

* .NET Core Version:
6.0.100-rc.2.21419.27

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

An DateTimePicker cont

[2021-08-20 08:52] kelicto opened #5488 "Not lock controls on base form"
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?:

**Problem description:**

**Expected behavior:**
When close form designer and reopen the form, the state of lock is unlocked.

**Minimal repro:**

[2021-08-20 09:02] ViktorHofer opened #8851 "System.Drawing.Tests.SystemIconsTests.SystemIcons_Get_ReturnsExpected failing"
Configuration: `net6.0-windows-Release-x64-CoreCLR_release-Windows.81.Amd64.Open`

Build: https://dev.azure.com/dnceng/public/_build/results?buildId=1304608&view=ms.vss-test-web.build-test-results-tab&runId=38423284&paneView=debug

Console log: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-heads-main-53ecd4535bcc4e978c/System.Drawing.Common.Tests/1/console.765b5c7d.log

[2021-08-20 10:11] cwing2019 opened #5490 "Designer pannel can't copy and paste controls. IDE problem."
* .NET Core Version:
 3.1 Preview1

* Have you experienced this same bug with .NET Framework?:
  No

**Problem description:**
when we create a new winform project ,everything is ok. we can create a button on the designer for winform1, and copy and paste .

when the project comes with:

![图片](https://user-images.githubusercontent.com/61647879/130218176-8ce20a5e-d396-454d-aa60-ef4573d0ff01.png)

as

[2021-08-20 12:32] roland5572 opened #5493 "ContextMenuStrip has different behavior if menu item Enabled=false"
ContextMenuStrip control has different behavior if menu item Enabled=false

**Reproduced process:**

Step 1. Click the right mouse button anywhere on the form to open the context menu.

![001](https://user-images.githubusercontent.com/88176616/130231525-8ce2c1bf-deba-4d8a-af07-730f9b112083.png)

Step 2. Move the mouse to the menu item. The menu item will display the **blue border**.

![003](https:

[2021-08-20 12:53] ArtemTatarinov opened #5494 "Move the duplicate logic of the "GetPropertyValue" method to base classes"
There are several properties (like `IsEnabled`, `Name`, `NativeWindowHandle`, `Offscreen`, `IsLegacyIAccessiblePatternAvailable`) that are being checked in the `GetPropertyValue` method at multiple classes.

To make the code more compact and to remove unnecessary code duplication we can move the code that works with those properties to the base classes (`ControlAccessibleObject` or `AccessibleObje

[2021-08-20 13:57] kelicto opened #5495 "Space error by base form"
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?:

**Problem description:**
The position of the label not change value. I will upload the demo.

Base form: the space  is 6px.
![image](https://user-images.githubusercontent.com/23723575/130244111-8a578dde-a411-4c66-80b2-968ff284c375.png)

Current form: the space is 5px.
![image](https://user-images.githubusercontent.co

[2021-08-20 17:21] deng0 opened #5496 ".NET 5.0 DataGridView InvalidOperationException"
* .NET Core Version:
.NET 5.0.9 and .NET 6 Preview

* Have you experienced this same bug with .NET Framework?:
No, it does not happen with .NET Framework.

**Problem description:**
There seems to be a serious problem with the DataGridView Implementation in .NET 5.0.
In .NET Framework the same code runs without problems, but in .NET 5.0 there is an InvalidOperationException: "Operation is not valid

[2021-08-20 17:29] wjk opened #5497 "ContextMenuStrip (and perhaps other controls) have unexpected 2px width difference"
* .NET Core Version: 6.0.100-preview.7.21379.14
* Have you experienced this same bug with .NET Framework?: Didn't check, as I no longer target .NET Framework.

**Problem description:**

For some reason, Windows Forms is displaying all controls with 2px less width than they should have. While normally this is not visible, my calculations for menu item drawing are off, and text in controls without m

[2021-08-20 19:20] kelicto commented on #5414
![image](https://user-images.githubusercontent.com/23723575/130283266-f0a280c5-4975-4dc2-89c6-4a9948ff22df.png)
Shit!

[2021-08-20 19:49] merriemcgaw commented on #5249
I think you will just need to wait a while until the localization has completed. @dreddy-work/@russkie do you know when that might be?

[2021-08-20 20:48] kirsan31 commented on #5496
Very strange using of WinForms...
Any way, may be related issue: https://github.com/dotnet/winforms/issues/2853

[2021-08-21 03:26] cwing2019 commented on #5490
I thinks is the bug of the IDE

[2021-08-21 04:19] kelicto commented on #5414
![Animation](https://user-images.githubusercontent.com/23723575/130310283-d35eb85b-6e31-4123-a8f9-eaa200e425a2.gif)

[2021-08-21 04:22] kelicto commented on #5486
https://github.com/dotnet/winforms/issues/5414

[2021-08-21 04:23] kelicto commented on #5486
#5414

[2021-08-22 19:51] weltkante commented on #5414
As far as I'm aware this bug triggers when you have inherited forms with docked panels and the (designer) size of the base form is different from the (designer) size of the subclass form. When designing the subclass form something "goes wrong" and it will misinterpret locations. Thats how you end up with offscreen locations of labels and such. In some scenarios its even repeatable and it will shif

[2021-08-23 00:56] kelicto commented on #5414
Thank you, I make sure that you and your team know this phenomenon is also very important!

[2021-08-23 01:21] #5486 closed

[2021-08-23 01:38] 199621616 opened #5622 "update .Net 6 Preview 7 gives Unable to find an entry point named 'SetWindowTheme' in DLL 'user32'."
### Description
SDK: 6.0.100-preview 7.21379.14
.Net runtimes : .NETCore.App 6.0.0-preview7.21377.19   WindowsDesktop.App 6.0.0-preview.7.21378.9

### Configuration

### Regression?

System.EntryPointNotFoundException
  HResult=0x80131523
  Message=Unable to find an entry point named 'SetWindowTheme' in DLL 'user32'.
  Source=DevComponents.DotNetBar2
  StackTrace:
   在 DevComponents.DotNetBar.Cont

[2021-08-23 06:59] weltkante commented on #5414
I'm not a member of the WinForms team, github issues are open for public and I just commented because this looks like an issue I've already had seen previously.

The issue is triggered by multiple things coming together (bottom anchored child controls, docked or anchored parent container controls, form inheritance of different designer sizes), you can remove any of the conditions to avoid triggeri

[2021-08-23 07:10] Olina-Zhang opened #5502 "Accessibility: HighContrast: When RenderMode is System for toolStrip/statusStrip, the text of toolStripButton/SplitButton/DropDownButton is not visible after user mouse hover or keyboard focus on HC black/white"
* .NET Core Version:
.Net SDK 6.0.100-rc.1.21417.19

* Have you experienced this same bug with .NET Framework?:
Yes

* More Info
This issue cannot repro when setting ToolStrip/StatusStrip's RenderMode property to Professional or ManagerRenderMode

**Minimal repro:**
1. Turn on Windows high contrast, and choose a theme: High Contrast Black/White
2. Open attached application in VS
[WinFormsApp54.zip

[2021-08-23 08:01] RussKie commented on #5490
I appreciate you have spent the time to raise the issue, but issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the caus

[2021-08-23 08:01] #5490 closed

[2021-08-23 08:02] RussKie commented on #5490
Please post the link to the VS Feedback issue here, so that our team can track it.

[2021-08-23 08:04] Olina-Zhang opened #5503 "Accessibility: Color Contrast: Luminosity ratio is less than 3:1 for focus indicator on ToolStrip Buttons with System RenderMode"
* .NET Core Version:
.Net SDK 6.0.100-rc.1.21417.19

* Have you experienced this same bug with .NET Framework?:
Yes

* More Info:
This issue cannot repro when setting ToolStrip/StatusStrip's RenderMode property to Professional or ManagerRenderMode

**Minimal repro:**
1. Open attached app in VS
[ToolStipButtonSystemRenderer.zip](https://github.com/dotnet/winforms/files/7030031/ToolStipButtonSystemR

[2021-08-23 08:06] RussKie commented on #5497
Are you able to provide a simple standalone repro?

[2021-08-23 10:23] kelicto opened #5504 "Form is not in the center of the screen"
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?:

**Problem description:**
Set `CenterScreen` and after winform is started, it is not in the center of the screen. I want to know the reason, although I could set location to solve. But, it's not the best way.

**Expected behavior:**

**Minimal repro:**

[2021-08-23 10:34] kelicto commented on #5504
My base form use the code `handle.SetClassLong(GCL_STYLE, handle.GetClassLong(GCL_STYLE) | CS_DROP_SHADOW);`.

[2021-08-23 10:34] #5504 closed

[2021-08-23 16:51] #4099 closed

[2021-08-23 17:29] dreddy-work commented on #5495
@kelicto, Please fill all details in this template.

[2021-08-23 17:31] alanhoman commented on #5189
I have not seen any updates on this issue.  Is this being worked on and are there any status updates?

[2021-08-23 17:32] dreddy-work commented on #5496
@vladimir-krestov ,  Can you take a look at this repro?

[2021-08-23 17:41] dreddy-work commented on #5488
@kelicto, We would need proper template filled here to understand the severity and priority of the issue. Please follow template guidance and provide complete details.

[2021-08-23 22:52] JeremyKuhne opened #5509 "API Proposal: Expose a base collection that prevents null items"
We have a number of collections in WinForms that are currently untyped but also attempt to disallow nulls (either in the collections themselves or in the consumers).

We have an internal base collection we're using that we should consider making public and consider deriving from in our public collections.

[code]

Any place we just implement `IList` would move to this collection (presuming they do

[2021-08-23 22:55] #3058 closed

[2021-08-24 01:35] RussKie commented on #5249
@Ashley-Li tl;dr - the templates don't have any binaries. The test procedures are described in https://github.com/dotnet/winforms/tree/main/pkg/Microsoft.Dotnet.WinForms.ProjectTemplates.

Microsoft.Dotnet.WinForms.ProjectTemplates and Microsoft.Private.Winforms are what we call "transport packages", and those are NuGet packages that are referenced by other repos (such as the SDK). The transport p

[2021-08-24 01:39] RussKie commented on #5249
I don't think you need to spend any time on testing because we still haven't got any translations, e.g. https://github.com/dotnet/winforms/blob/main/pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/.template.config/localize/templatestrings.de.json

@cristianosuzuki77 will know when translations are available, and @dreddy-work will know when those are merged.

[2021-08-24 01:43] RussKie commented on #4555
This is the general direction we'll likely be taking the clipboard in the future: https://github.com/RussKie/ClipboardRedux

[2021-08-24 01:44] dreddy-work commented on #5249
That is correct. We supposed to get translated PRs after @cristianosuzuki77 re-enabled for this repo. Wait on validations until @cristianosuzuki77  or me update you on this.

[2021-08-24 02:22] Jenna-Zheng opened #5514 "An exception error pops up when converting Persian calendar To Gregorian calendar"
* .NET Core Version:
.NET SDK 6.0.100-rc.1.21417.19

* Have you experienced this same bug with .NET Framework?:
Yes

* More info:
This issue is a feedback [1377707](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1377707)
![image](https://user-images.githubusercontent.com/64949616/130545410-6ad8a47e-926c-4292-8e43-b2ec7fcc17a9.png)

**Problem description:**
An exception error pops up about Sys

[2021-08-24 03:29] kelicto commented on #5495
Ok. Please give me some time, I will provide the demo.

[2021-08-24 03:32] kelicto commented on #5414
I want to auto position. So, I have to do that.

[2021-08-24 07:43] Tanya-Solyanik opened #5516 "Implement internal method to test if OS version is win11"
[RtlGetVersion](https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/wdm/nf-wdm-rtlgetversion) returns `10` as the major version on windows 11 public preview.
We need to verify if this is still the case when win11 is released.
Also might need to adjust test cases for OSVersion class

[2021-08-24 11:11] ArtemTatarinov commented on #5496
Thanks for the report! During investigation of this behaviour, I found a workaround: if `DataGridView` flag named `ShowCellToolTips` is set to `false`. then no `InvalidOperationException` will be thrown at the `AcceptChanges` method call. You could use it to avoid the issue while we're looking for the root of the problem.

[code]

[2021-08-25 03:13] Lydia-Shi opened #5526 "Cannot select correct item when there are consecutive null items in CheckedListBox and using Space Keyboard to check/uncheck"
* .NET Core Version:
6.0.100-rc.1.21417.19

* Have you experienced this same bug with .NET Framework?:
Yes, this issue occurs from .Net Framework 3.5 to 4.8.

**More info:**

1. This issue also occurs in .Net 5.0&3.1&3.0.
2. This issue cannot occurs when are no consecutive null items.
![image](https://user-images.githubusercontent.com/54019172/130719092-5576c43b-2165-4136-931b-9bf1ef3f59e6.png)

*

[2021-08-25 06:52] RussKie commented on #5071
We won't be changing our templates to use the top level statements (https://github.com/dotnet/winforms/issues/5071). A typical Windows Forms app consist of multiple types split across multiple files (e.g. Form1.cs and Form1.Designer.cs) that won't work with top level statements.

[2021-08-25 06:52] #5071 closed

[2021-08-25 07:13] Marie-Shi opened #5527 "Setting AutoEllipsis property as true, tooltip still appears after running project when no ellipsis is shown in design time"
* .NET Core Version:
.Net 6.0.100-rc.1.21417.19

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
1.	This issue can also repro on .Net Framework project.
2.	This issue can also repro on .Net 3.1 and .Net 5.0.

**Minimal repro:**
1.	Extract the “WinFormsApp3.zip” and open it in VS.
[WinFormsApp3.zip](https://github.com/dotnet/winforms/files/7044458/WinFormsApp3.zip)
2.

[2021-08-25 08:17] RussKie commented on #5477
This would have made https://github.com/dotnet/winforms/pull/5529 a breeze.

[2021-08-25 13:53] kelicto commented on #5495
Please give me some time, I'm very busy.

[2021-08-26 01:36] takiru opened #5544 "ShortcutKeysEditor does not work properly at design time"
* .NET Core Version: 3.1.18 or 5.0.9 (windows form application)

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
At design time, it cannot be added or deleted using ShortcutKeysEditor.

**Expected behavior:**

![2](https://user-images.githubusercontent.com/27405556/130885510-885729d9-f1d4-47e2-aada-221ca5add5cf.png)

**Minimal repro:**

1. Create any custom

[2021-08-26 02:13] #5544 closed, assigned to nobody

[2021-08-26 16:38] NXTwoThou opened #5551 "Label multi-line text designer issue"
* .NET Core Version:
5.0

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
**Minimal repro:**
Form1 required a label that needed multiple rows.  Set AutoSize=false and set my Size, discovered I couldn't paste multi-line into the Text field in Designer.  I closed the designer, hand edited Form1.Designer.cs to have my multi-line text.  Loaded back up the design

[2021-08-27 13:31] SergeySmirnov-Akvelon opened #5571 "Narrator's rectangle is displayed around TabControl when the user switches between TabPages"
.NET Core Version:
- NET Core SDK 6.0.100-rc.1.21416.15

Have you experienced this same bug with .NET Framework?:
- No (regression from #3058)

**Repro steps:**

1. Create a form with `TabControl`.
2. Create several `TabPages` and add `TabPages` to the `TabControl`.
3. Run the application.
4. Switch between `TabPages`.

**Actual behavior:**
Rectangle is displayed around `TabControl`

**Expected be

[2021-08-27 18:31] #5551 closed, assigned to nobody

[2021-08-30 02:00] kelicto commented on #5488
GDI technology makes me very tired, and it is very troublesome to construct such an example. When the base form is modified, various inconsistent bugs are likely to occur in the sub form. Please test it yourself, I'm tired.

[2021-08-30 02:00] #5488 closed

[2021-08-30 02:01] kelicto commented on #5488
https://github.com/dotnet/winforms/issues/5414

[2021-08-30 02:02] kelicto commented on #5495
GDI technology makes me very tired, and it is very troublesome to construct such an example. When the base form is modified, various inconsistent bugs are likely to occur in the child form. Please test it yourself, I'm tired.

[2021-08-30 02:02] #5495 closed

[2021-08-30 08:00] Jenna-Zheng commented on #4720
Verified this function with .NET SDK 6.0.100-rc.1.21424.1 and .NET SDK 6.0.100-rc.2.21429.3now, it is fixed that Customer can use MdiChildrenMinimizedAnchorBottom to revert for Windows default behavior.
**MdiChildrenMinimizedAnchorBottom=True**
![Issue_Test5 0](https://user-images.githubusercontent.com/64949616/131306160-b81dc820-1bda-4aba-8a9d-534a05e0d6f0.gif)

**MdiChildrenMinimizedAnchorBottom

[2021-08-30 08:15] Jenna-Zheng commented on #2748
Verified this issue with  .NET SDK 6.0.100-rc.2.21429.3, it is fixed that Property Grid show the property as Read/Write regardless of the presence of DefaultValueAttribute or the language used to define the class owning the property.
![Issue_Test](https://user-images.githubusercontent.com/64949616/131308187-ff480784-80ab-45da-b3a2-b77913592e96.gif)

[2021-08-30 08:16] Amy-Li03 commented on #5071
Verified this issue with .NET 6.0 RC2 latest build: 6.0.10-rc.2.21429.3, when using ApplicationConfiguration.Initialize() method on Program class, winforms .NET core project can run successfully.
![image](https://user-images.githubusercontent.com/62929087/131307797-e818602a-5865-4063-b0f3-4b8e2b2b7d8f.png)

[2021-08-30 08:46] Amy-Li03 commented on #5018
Verified this issue with .NET 6.0 RC2 latest build: 6.0.10-rc.2.21429.3, the test result same as above.

Explanation from Sergei:

_I think it's more of a technical task. For example, we have a combobox and when choosing an option, we send an event for the narrator in this case we forcefully create an accessibility object even if there is no active external accessibility tool.
By introducing this

[2021-08-30 08:50] #5074 closed

[2021-08-30 11:09] ArtemTatarinov commented on #5502
Those flags don't affect non HC theme, only the HC one. In HC theme `true` flag with the certain additional modifications at the `ToolStripSystemRenderer` class fix the issue: selected toolstrip buttons will have the filled background. The issue is also reproduced on win11 with HC themes.

[2021-08-30 11:29] RussKie commented on #3346
In the interest of transparency, we do obviously have a number of gaps and regressions in Settings and Resource handling, but most of those lie outside the realm of our team. We are working with sister teams to identify correct owners and facilitate fixes. Unfortunately there are no ETAs of any kind at the moment.

[2021-08-30 11:32] RussKie commented on #3346
@paul1956 this appears a different issue that is being discussed here. Please raise a new issue in dotnet/runtime since it is related to diagnostics.

[2021-08-30 15:03] paul1956 commented on #3346
I don't want/use logging it is just what comes over from framework.

[2021-08-30 15:20] AraHaan commented on #5071
Does this mean it also adds the ``[main: STAThread]`` to the top level program in that case?

[2021-08-30 15:44] danmoseley commented on #5622
Transferring to winforms. Not clear where issue lies, but probably the best place to start.

[2021-08-30 22:01] dreddy-work commented on #5622
@199621616, it should be from UxTheme. It seems you are trying to migrate your custom control. What was its original target framework? Were you explicitly trying to import this API from `user32.dll` ?

[2021-08-31 00:03] RussKie commented on #5071
AFAIK there is no such thing as `[main: STAThread]`, though it is being discussed.
In the case of top level statements `ApplicationConfiguration.Initialize()` emits this:
https://github.com/dotnet/winforms/blob/07f6de36d1dc4e86daccf4686ab222b950473673/src/System.Windows.Forms.Analyzers.CSharp/src/System/Windows/Forms/Generators/ApplicationConfigurationInitializeBuilder.cs#L93-L95

[2021-08-31 03:35] sgf commented on #2467
winforms designer is very slow in vs 2019
normally not responding

[2021-08-31 03:46] RussKie commented on #2467
@sgf  please use VS Feedback (top right hand corner in VS) to report VS related issues.

[2021-08-31 05:01] sgf commented on #2467
ok,tks

[2021-08-31 06:03] RussKie commented on #3346
@paul1956 I had a debugging session today, and discovered that the diagnostics section you mentioned in https://github.com/dotnet/winforms/issues/3346#issuecomment-867242536 comes from a app.config template owned by Project System team. Please raise a VS Feedback issue for it. If you post the link here I can make sure it gets assigned to the area owner team.

/cc: @jjmew @drewnoakes

[2021-08-31 09:47] drewnoakes commented on #3346
The Project System does not own any templates. Are you referring to https://github.com/dotnet/templates or https://github.com/dotnet/templating?

[2021-08-31 23:17] RussKie commented on #3346
@drewnoakes please refer to AB#1386445 which has some relevant details.

[2021-08-31 23:29] RussKie commented on #3346
@paul1956 please see  https://github.com/dotnet/project-system/issues/6784

[2021-08-31 23:29] #3346 closed

[2021-09-01 00:01] paul1956 commented on #3346
I am currently on a ship bound for Alaska and will lose internet shortly. I will do this next Wednesday when I return. Thanks.

[2021-09-01 03:25] Olina-Zhang opened #5656 "Accessibility: PropertyGrid: An onscreen element must not have a null BoundingRectangle property"
* .NET Core Version:
.Net SDK 6.0.100-preview.7.21379.14

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Open attached application in VS,  with PropertyGrid control
[WinFormsApp15.zip](https://github.com/dotnet/winforms/files/7087962/WinFormsApp15.zip)
2. Build and run it
3. In AccessibilityInsight or Inspect to detect propertyGrid

**Actual behavior:**
1. Ac

[2021-09-01 04:04] RussKie commented on #3346
Enjoy your trip! 🍸

[2021-09-01 06:34] hdefucom opened #5657 "How to realize the F1 shortcut of custom VisualStudio"
In VisualStudio, F1 can open MSDN official documents.
I always thought it could not be customized.
Until I used DevExpress.
With the cursor in the DevExpress class, press F1 to open the DevExpress document.
 How do we achieve this? Attribute?

[2021-09-01 06:39] RussKie commented on #4308
Relates to https://github.com/dotnet/project-system/issues/6784

[2021-09-01 06:39] #4308 closed

[2021-09-01 09:41] SergeySmirnov-Akvelon commented on #4504
Since this bug is related to the Narrator's behavior, we close it as "Won't fix"

[2021-09-01 09:41] #4504 closed

[2021-09-01 16:27] #5128 closed

[2021-09-01 17:03] Lohnegrim opened #5661 "Endless Loop in WinForms Code, after trying to add TapPage to the Controlslist of a Form"
* .NET Core Version:
Any/All Tests from 3.0 to 6.0

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
When you create a System.Windows.Forms.TabPage and try to add it to the Controls-List of a Form, then it trows an error on Add, but still (half) addes the TabPage to the Controls-List.
This by itself isn't a Problem, but if you for any reason try to remove it

[2021-09-01 17:11] dreddy-work commented on #5249
@Marie-Shi , actual localization commit is in this [PR](https://github.com/dotnet/winforms/pull/5570). It went into main /7.0. It will go into RC2 but towards end of the release. Please keep an eye on RC2 release timeline and validate this change then.

[2021-09-01 22:10] Tanya-Solyanik commented on #5502
Good job testing on Win11!

[2021-09-02 00:08] DanLBarr opened #5669 "Failed to set Win32 parent window of the Control."
* .NET Core Version:
.NET 6 Preview 7

* Have you experienced this same bug with .NET Framework?:
No. This problem also does NOT occur with .NET 5

**Problem description:**
We have a System.Windows.Forms.TabControl with multiple tabs in a Form. Each tab contains a custom control of ours which inherits from System.Windows.Forms.UserControl. The problem occurs when our custom control loads a graphic

[2021-09-02 00:46] Tanya-Solyanik commented on #4810
I think the edit node should be displayed in the hierarchy, but it should contain the text (item1)

[2021-09-02 02:50] Marie-Shi commented on #5249
@dreddy-work Thanks for your confirmation! We will keep an eye on RC2 release and validate it again.

[2021-09-02 05:35] ArtemTatarinov opened #5670 "Write rendering tests for ToolStrip Button background rendering fix"
Generally we should write [rendering tests](https://github.com/dotnet/winforms/blob/main/docs/testing.md#rendering-tests), if possible. There are a few example in the codebase, e.g. https://github.com/dotnet/winforms/pull/4739.

_Originally posted by @RussKie in https://github.com/dotnet/winforms/issues/5614#issuecomment-909859179_

[2021-09-02 06:03] willibrandon commented on #5405
I think this could be important for security reasons. Sometimes I want to open and save files without my Recent files list being updated. Perhaps I was working on some sensitive documents.

![RecentFiles](https://user-images.githubusercontent.com/5017479/131790350-7ced6824-15fc-4143-b16d-94b4946fee3d.PNG)

[2021-09-02 08:26] vladimir-krestov commented on #4647
@Tanya-Solyanik, I would propose to close this Issue to reduce Backlog. If a customer have the issues, he/she will create a duplicate Issue. So if you agree, please close this.

[2021-09-02 08:50] ArtemTatarinov opened #5672 "Change modifier of `ToolStrip` button background rendering methods to `internal`"
If `OnRenderButtonBackground`, `OnRenderDropDownButtonBackground`, `OnRenderSplitButtonBackground` methods at `ToolStripRenderer` would be declared as not `protected` but `internal`, we could call them from derived classes.

Classes to affect: `ToolStripRenderer`, `ToolStripProfessionalRenderer`, `ToolStripSystemRenderer`, `ToolStripHighContrastRenderer`.

When trying to call the method from the d

[2021-09-02 09:05] SergeySmirnov-Akvelon opened #5673 "Accessibility: Color Contrast: Luminosity ratio is less than 3:1 for focus indicator on ToolStrip Buttons with System RenderMode (port to 6.0)"
- .NET Core Version:
.Net SDK 6.0.100-rc.1.21417.19

- Have you experienced this same bug with .NET Framework?:
Yes

- More Info:
This issue cannot repro when setting ToolStrip/StatusStrip's RenderMode property to Professional or ManagerRenderMode

**Minimal repro:**
1. Open attached app in VS
[ToolStipButtonSystemRenderer.zip](https://github.com/dotnet/winforms/files/7097581/ToolStipButtonSystemR

[2021-09-02 10:52] SergeySmirnov-Akvelon opened #5676 "Keyboard focus is not clearly visible for ToolStripButtons when ToolStrip is in "System" render mode"
- .NET Core Version:
.Net SDK 5.0.100-rc.1.20378.13

**More info**
The issue also can reduce when focus with mouse.

**Repro steps:**
1. Create a form with `ToolStrip`.
2. Set `System` render mode for `ToolStrip`
3. Add two `ToolStripButtons` to the `ToolStrip`.
4. Make the first `ToolStripButton` checked (`ToolStripButton.Checked = true`).
5. Run the application.
6. Set focus on the second `ToolS

[2021-09-02 12:21] jespersh commented on #5622
The component has a condition where if `Environment.Version.Major > 5` or `Environment.Version.Major == 5 && Environment.Version.Minor >= 1` then it calls into the user32.dll version of `SetWindowTheme`, which it starts doing I assume for .NET 6.0. This happens if you use their `ComboBoxEx`.

If you're unable to raise the dormant developers of devcomponents (last update was 3 years ago), then eith

[2021-09-02 17:15] #5571 closed

[2021-09-02 17:29] dreddy-work commented on #5669
@DanLBarr, thanks for looking into a simple repro here. Please provide your test sample once you have it. By any chance, did you set  any High DPI mode in the application?

[2021-09-02 17:33] dreddy-work commented on #5661
@Lohnegrim, Adding `TabPage `directly to a control collection on the form seems unusual. Can you share customer scenario or point to an app where this is needed or blocking customers? Given this has been the case even in .NET framework, it is unlikely to be investigated anytime soon without customer impact. Was this repro'ing with any other control?

[2021-09-02 17:36] DanLBarr commented on #5669
@dreddy-work Thank you for your comment. No, high DPI mode is not set. Application.EnableVisualStyles() is also not called. We do call Application.SetCompatibleTextRendererDefault(false).

[2021-09-02 17:38] dreddy-work commented on #5622
@huoyaoyuan ,  in this case i believe you need to follow-up with the owners of that dll to update the explicit import here. Closing the issue from winforms side.

[2021-09-02 17:38] #5622 closed

[2021-09-02 17:43] dreddy-work commented on #5669
Okay. Thank you for confirming. In this case, We would need a simple repro app for us to investigate further.

[2021-09-02 22:17] RussKie commented on #5672
Unless the types are not public, changing `protected` to `internal` means we change public API, which is a breaking change. We can't do this.

[2021-09-02 23:26] DanLBarr commented on #5669
@dreddy-work I've discovered this issue is not related to the System.Windows.Forms controls that our model can contain and create. I've created a scenario with two TabControls where each tab contains an instance of our UserControl and neither of our controls have a model loaded. That seems to indicate it must have to do with the UserControl, not it's contents. If I remove one of our UserControls f

[2021-09-03 01:05] dreddy-work commented on #5669
@DanLBarr, Code path shows a tab selection changed causing the controls in the selected `Tabpage `to be created. Unfortunately, Native error code here is very generic. We expect a failure in this case only if you end up with different DPIs between child and parent somehow, but you ruled that out. Did you try same scenario with a simple user control?  Given that this is a regression between .NET 5.

[2021-09-03 01:58] Olina-Zhang commented on #5128
Verified in the latest .net SDK 6.0 RC 2 build + private binaries built from this Winforms repo, the issue is fixed:
![fixed1](https://user-images.githubusercontent.com/26474449/131939119-db75db7f-8932-4ff6-9f98-ace210da5261.gif)

[2021-09-03 02:32] DanLBarr commented on #5669
@dreddy-work Yes, I tried the same scenario with a plain vanilla UserControl implementation. It did not crash. You can find the project attached.
[WinFormsApp2.zip](https://github.com/dotnet/winforms/files/7102915/WinFormsApp2.zip)

[2021-09-03 05:40] willibrandon commented on #5405
I've taken a look and it seems easy enough to implement the relevant native API.

**Is your feature request related to a problem? Please describe.**

The `FileDialog` currently does not expose all of the native options available to an Open or Save Dialog. In order to deliver all aspects of Windows, I propose we implement the FOS_DONTADDTORECENT and OFN_DONTADDTORECENT option and expose a new `File

[2021-09-03 06:39] Olina-Zhang commented on #5676
@SergeySmirnov-Akvelon  Is this the similar issue: https://github.com/dotnet/winforms/issues/5502?

[2021-09-03 07:37] Jenna-Zheng commented on #5496
Verified in the latest .net SDK 6.0 RC 2 build + private binaries built, the issue is fixed that no exception thrown.

[2021-09-03 07:48] SergeySmirnov-Akvelon opened #5687 "UIA navigation doesn't work with the TabControl (port to 6.0)"
**.NET Core Version:**
.NET SDK 5.0.100-Preview.4.20209.25 + latest VS2019

**Have you experienced this same bug with .NET Framework?:**
Yes

**Problem description:**
UIA navigation to move backwards/forwards through AIWin(Accessibility Insights For Windows) keyboard combination Shift+Ctrl+F5/F6/F7/F8/F9 doesn't work with the TabControl. AIWin can’t move backwards/forwards correctly through the se

[2021-09-03 09:53] Olina-Zhang commented on #5669
@DanLBarr Yes, cannot repro with Winforms user control in TabPages on form. So could you please provide a sample application for this issue?

[2021-09-03 15:21] #5503 closed

[2021-09-03 15:44] #4356 closed

[2021-09-03 18:33] dreddy-work commented on #5405
@willibrandon , thank you for taking time and propose the solution. This looks reasonable to me. I will get this triaged within team and get it ready for API review coming week.

[2021-09-03 18:42] DanLBarr commented on #5669
@Olina-Zhang Thank you, I am working on being able to provide a sample which will reproduce the problem. I have taken a simple UserControl and am following the exception call stack to see what might be triggering the exception. Based on that, I am adding code to the UserControl to see if I can reproduce the problem.

[2021-09-03 20:08] #5687 closed

[2021-09-05 23:48] #5409 closed

[2021-09-05 23:49] #5171 closed

[2021-09-05 23:52] RussKie commented on #5179
Punting this for .NET 7.0.

[2021-09-06 00:04] RussKie opened #5699 "Add test infra for templates"
Refer to https://github.com/dotnet/templating/issues/3866

[2021-09-06 07:34] Amy-Li03 commented on #4909
Verified this issue with TP build: 6.0.100-rc.1.21453.13, this issue has been fixed.

[2021-09-06 09:17] SergeySmirnov-Akvelon opened #5701 "Replace the "is null" condition and throwing an ArgumentNullException with a call to the "ArgumentNullException.ThrowIfNull" method"
Since the code for calling the `ArgumentNullException.ThrowIfNull` method is shorter than adding a condition and throwing an `ArgumentNullException`, and also more convenient for the code analyzer, I suggest to replace such code constructs:
[code]
with a call to the `ArgumentNullException.ThrowIfNull(value, nameof(value))` method.

[2021-09-06 10:51] SergeySmirnov-Akvelon opened #5702 "The "AccessKey" property returns an String.Empty instead of "Alt+n" value for "&Name" text"
.NET Core Version:
- .NET Core 6.0.100-rc.1.21430.12

Have you experienced this same bug with .NET Framework?:
- No

**Repro steps:**

1. Create a form with any of the controls listed as done in the task #3421
2. Set `&Name` text for this control.
3. Run application.
4. Run Inspect
5. Check `AccessKey` property

**Actual behavior:**
The "AccessKey" property is Empty.String
![image](https://user-im

[2021-09-06 12:41] StefanKoell opened #5704 "System.Runtime.InteropServices.ExternalException : A generic error occurred in GDI+"
* .NET Core Version:
Microsoft.WindowsDesktop.App 5.0.9

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
I switched my WinForms App from .NET 4.71 to .NET 5 and get the following crashes from my user's machine:
[code]

From the stack trace, I can see that this crash almost always originates from showing a messagebox (drawing the background). Since I'm not ab

[2021-09-06 19:51] kirsan31 commented on #5704
Interesting...
Can you post some more (and a beet deeper) stack traces?
We faced a similar problems.
Long story...
Such errors never happens on .Net472.
After we switched to .NetCore 3.1, we have several such errors (during a year) **only** on Windows7 machine:
[code]

`WndProc` (override in Form class) is something like this:
[code]
After we switched to .Net5, this error began to appear several t

[2021-09-07 03:11] Zheng-Li01 opened #5706 "No Program.cs file generated for 5.0 core project after installed the latest .NET 6.0 rc.2"
* .NET Core Version:
.NET 6.0.100-rc.2.21456.3

* More info:

1. This is a regression issue, can't reproduce after installed dotnet-sdk-6.0.100-rc.2.21452.43-win-x64.
2. The issue can't reproduce for core project targetting with 3.1.
3. For latest .NET 6.0 rc.2, the feature "new application bootstrap logic" was enabled, maybe related the PR: [5035](https://github.com/dotnet/winforms/pull/5035)

*

[2021-09-07 06:12] StefanKoell commented on #5704
Nice to see that I'm not alone!

I don't have any of these reports from Windows 7 machines. This could mean that it doesn't exist on Windows 7 or my user base doesn't use Windows 7 anymore.

As for deeper stack traces, here's one:
[code]
I'm also using the DevExpress UI libraries but I also have seen stacktraces like yours, pure WinForms. Since the FillRectangle method seems to be a common entry p

[2021-09-07 06:24] StefanKoell commented on #5704
Well, I just looked at the CheckErrorStatus method in the framework code and found this comment in Graphics.Windows.cs:

        /// <summary>
        /// GDI+ will return a 'generic error' with specific win32 last error codes when
        /// a terminal server session has been closed, minimized, etc... We don't want
        /// to throw when this happens, so we'll guard against this by looking at

[2021-09-07 06:42] kirsan31 commented on #5704
It seems that `CheckErrorStatus` is defiantly here to protect us from what happens in this topic :) But for some reason in core it's not always working...
The code of `CheckErrorStatus` doesn't changed:

[.Net](https://referencesource.microsoft.com/System.Drawing/R/5a91110038389dd5.html):
[code]
.net5:

https://github.com/dotnet/runtime/blob/208e377a5329ad6eb1db5e5fb9d4590fa50beadd/src/libraries/S

[2021-09-07 06:48] StefanKoell commented on #5704
I see. I find it really strange how this can work in .NET 4.71 without a single crash and not always work in .NET 5 with so many crashes. The status, which is passed into the CheckErrorStatus method is the native GDI+ FillRectangle method which I assume is the same in both frameworks.

[2021-09-07 07:07] kirsan31 commented on #5704
My guess is that in core `GetLastWin32Error` can return somthing different than in .Net Framework?

[.Net Framework](https://referencesource.microsoft.com/System.Drawing/R/72c3918085efa357.html):
[code]

[.net5](https://github.com/dotnet/runtime/blob/208e377a5329ad6eb1db5e5fb9d4590fa50beadd/src/libraries/System.Drawing.Common/src/System/Drawing/GdiplusNative.cs#L1222-L1223):
[code]

In .net I see

[2021-09-07 07:10] StefanKoell commented on #5704
Good catch! I hope that someone at MS (@OliaG) can take a look at it.

[2021-09-07 07:49] RussKie commented on #5706
If this is RC2, then it is likely caused by https://github.com/dotnet/winforms/pull/5609. I'll investigate.

[2021-09-07 07:55] RussKie commented on #5706
It is indeed missing from https://github.com/dotnet/winforms/tree/release/6.0/pkg/Microsoft.Dotnet.WinForms.ProjectTemplates/content/WinFormsApplication-CSharp/net5.0, since #5609...

[2021-09-07 08:14] RussKie commented on #5704
It is plausible that the missing `SetLastError` attribute is the cause, but without a stand alone repro there would be a lot of speculations, and very difficult convince the ship room to allow servicing of .NET 6.0 (RC2 is almost complete) let alone 5.0...

System.Drawing.Common belong to dotnet/runtime, moving there.

[2021-09-07 12:38] #5706 closed

[2021-09-07 17:20] #4854 closed

[2021-09-07 17:28] #5502 closed

[2021-09-07 17:53] #5673 closed

[2021-09-08 07:09] ArtemTatarinov commented on #5672
We have discussed this issue with @vladimir-krestov, maybe the best approach would be checking & converting `RendererOverride` to the `ToolStripHighContrastRenderer` type, like that:

![image](https://user-images.githubusercontent.com/87859299/132461975-927f3f63-de1b-491a-a817-f612439c5cfd.png)

What do you think about it, should we make this refactoring at the `main` branch?

[2021-09-08 09:24] vsfeedback opened #5717 "NET5.0.9 ListView BackgroundImage GDI object leak"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NET509-ListView-BackgroundImage-GDI-ob/1523781)._

---
[severity:I'm unable to use this version]
When a win forms app shows a form with a ListView Control that has its BackgorundImage set it does not release 3 GDI objects each time it is disposed and Garbage collected, this is causing ma

[2021-09-08 09:26] Marie-Shi commented on #5717
**More info:**
1.	This is not a regression issue, it can repro in .Net Framework, also can repro in .NET 3.1, 5.0& 6.0.
2.	This issue cannot repro in imageList.

**Repro Steps:**

1.	Extract the attachment “BackGroundImageIssue.zip” and open it in VS.
2.	Open Task manger, select the 'Details' tab and add GDI objects column if not already visible.
3.	Build and run the application, click ‘Open Form

[2021-09-08 20:05] weltkante commented on #5405
This needs some additional research to check if its also needed on the (Vista)FolderBrowserDialog, since it doesn't share the same base class but shares much of the same behavior (due to also being a shell dialog since Vista).

If the FolderBrowserDialog by default also adds selected folders to the "recently used" list then it also should get this new API.

[2021-09-08 21:15] dreddy-work commented on #5672
I am fine with later but i do not want to spend dedicated time on this. This should be a cleanup task that can be picked up if you are touching this file again for any other task.

[2021-09-08 21:15] dreddy-work commented on #5167
Closing this. We are up to date for .NET6.0 with regards to docs.

[2021-09-08 21:15] #5167 closed

[2021-09-08 21:46] dreddy-work commented on #5669
@DanLBarr, any luck here?

[2021-09-08 23:42] #5670 closed

[2021-09-09 00:00] #5702 closed

[2021-09-09 00:04] DanLBarr commented on #5669
@dreddy-work No luck yet. Our user control is complex and includes native code interfaced to .NET by a C++/CLI layer. Is there a way we could securely send you a project with our DLLs so you can reproduce it? It would also include a temporary license for our library.

[2021-09-09 00:12] RussKie commented on #5669
You can raise a VS Feedback (upper right hand side in VS) and then attach all necessary files to that. Once raise please post the link to the ticket here so we make sure it gets assigned to our team.

[2021-09-09 00:18] DanLBarr commented on #5669
@RussKie @dreddy-work I will do that tomorrow when our release manager can put together the package. They are on east coast time. Thank you

[2021-09-09 06:22] willibrandon commented on #5405
If I Windows-R "recent" and watch that folder I'm seeing the FolderBrowserDialog add the selected folders to Recent. Sometimes I have to refresh to see the recently selected folder(s). There must be a better way to test it.

Looks like the FolderBrowserDialog could use some AddToRecent love too.

![FolderBrowserDialog](https://user-images.githubusercontent.com/5017479/132632684-65a28880-90b1-48dd-

[2021-09-09 06:32] willibrandon commented on #5405
Also confirmed setting the FOS.DONTADDTORECENT option prevented the FolderBrowserDialog from adding to recent.

There could be things here that I’m missing so I look forward to hearing your results.

[2021-09-09 09:32] #4044 closed

[2021-09-09 16:18] willibrandon commented on #5405
@weltkante - I've done more testing and agree that the FolderBrowserDialog should also receive this new API.

I will work on updating the proposal and should have that ready at some point today. After you get a chance to experiment, if you would like me to add any relevant information, please let me know.

Thank you.

[2021-09-09 16:54] DanLBarr commented on #5669
@RussKie @dreddy-work I've reported the problem through the Developer Community and uploaded the files for reproducing the problem.

[2021-09-09 16:59] dreddy-work opened #5729 "Positioning of the Form on non primary monitor is not centered."
* .NET Core Version:
.NET 7.0

* Have you experienced this same bug with .NET Framework?:
NO but .NET framework does not support this scenario.

**Problem description:**
Form directly launched on secondary monitor with different DPI settings than the primary monitor, does not position the form centered.

**Minimal repro:**

-  A simple app on a dual monitor setup with different DPI settings should

[2021-09-09 17:51] weltkante commented on #5405
Sounds good, you seem to be confirming what I'm expecting. In the shell both file selection and folder selection go through the same APIs these days, so I'm expecting both to behave similarly and needing the same API, it was the same with a few other recent additions in .NET Core. Its a bit annoying that we can't go back and change the base class of FolderBrowserDialog to be more in line with what

[2021-09-09 22:15] willibrandon commented on #5405
If possible, can we please update the title of this issue to the following.

**Implement AddToRecent for FileDialog and FolderBrowserDialog**

[2021-09-09 23:58] willibrandon commented on #5405
I've updated the proposal to include the implementation of AddToRecent for the FolderBrowserDialog. Thank you @weltkante for pointing that out.

If there are any other concerns, please let me know so they can be addressed.

[2021-09-10 00:11] RussKie commented on #5669
@DanLBarr unfortunately the link you posted isn't linking to your issue, it links to your feedback start page.

[2021-09-10 01:14] dreddy-work commented on #5405
Thank you @willibrandon and @weltkante. During the review of this proposal,  we looked at flags supported by native dialog [enum ](https://github.com/dotnet/winforms/blob/81774abbcbb885fe906f1c0f813e8175eef8705c/src/System.Windows.Forms.Primitives/src/Interop/Comdlg32/Interop.OFN.cs#L10)and Winforms is missing a handful of them.
![image](https://user-images.githubusercontent.com/36968667/132781581

[2021-09-10 01:19] willibrandon commented on #5405
@dreddy-work - The thought had crossed my mind as a possible future proposal. Since this is my first one, I figured I would start small. I'll take a look now and familiarize myself with the use cases.

[2021-09-10 01:24] dreddy-work commented on #5405
Cool. We should extend the scope of this proposal and see what other flags we could/should add support for.

[2021-09-10 02:59] RussKie commented on #5405
It'd be easier to take a more complete API proposal to the API Review Board. Once approved, we can implement the missing API either in one go or in a series of PRs.

[2021-09-10 03:33] DanLBarr commented on #5669
@RussKie sorry, I just copied the link from the page I had up. I think this is the proper link. The description is the same as the GitHub issue.

https://developercommunity.visualstudio.com/t/Failed-to-set-Win32-parent-window-of-the/1526052?entry=myfeedback&space=61&q=%22Failed+to+set+Win32+parent+window+of+the+Control%22

[2021-09-10 03:47] willibrandon commented on #5405
Thank you for the consideration. I'll start working on a more complete proposal which will include the remaining flags.

[2021-09-10 05:36] RussKie commented on #5669
@DanLBarr got it 👍

@dreddy-work assigned to you

[2021-09-10 06:27] Balkoth commented on #5729
Continuing this discusson from #5557 i think that the scaling itself is now maybe correct? With my workaround for this posted in #4854 the result differs by a few pixels:

![image](https://user-images.githubusercontent.com/80055480/132809322-7b7d2ded-7c71-4dfc-bac1-dde6b7f55e25.png)
![image](https://user-images.githubusercontent.com/80055480/132809483-a86407cc-b272-4919-9de8-34848ca6581a.png)

[2021-09-10 08:36] RussKie commented on #5729
@dreddy-work  https://github.com/dotnet/winforms/issues/5497 reported a "few pixels" error as well. Could this be related in some strange way?

[2021-09-10 16:39] willibrandon commented on #5405
@dreddy-work - I agree that the use cases for the remaining flags are mostly straight forward and I should have no problems proposing the solutions for those however I might need a little guidance on imagining the use case for dialog box templates in WinForms. Perhaps the team has had a similar discussion about dialog box templates in the past and could bring me up to speed on the subject?

[2021-09-10 17:04] dreddy-work commented on #5729
I do not think #5497 is related in anyway to this. I would expect no difference when compared to DPI vs DPI scaling (as shown in work around)  unless any native portion of the Form is contributing to the difference we see here. I wouldn't try to compare this scaled version with the work-around shown in the linked issue.

[2021-09-10 17:28] Balkoth commented on #5729
Maybe this is just a rounding error on my side? I just wanted to point it out.

[2021-09-10 17:34] #5656 closed

[2021-09-10 17:53] DanLBarr commented on #5669
@RussKie I thought that the attachment to the Developer Community would be private. It seems to be downloadable by anyone.

[2021-09-10 18:59] dreddy-work commented on #5669
@DanLBarr , sorry for the confusion. There is an option to share as private in the comments section but not in the original content of the feedback. For now, We took the linked attachment down. We have the sample for repro'ing the issue and update what we find here.

[2021-09-12 10:57] weltkante commented on #5717
The GDI handles are leaked every time a BackgroundImage is assigned (given the ListView handle is already created). I've made a memory snapshot comparison and there seem to be no managed objects leaked. Needs investigation of what happens on the native level, I'll continue looking into it, but it may not be fixable on WinForms level if simple reassignment already leaks the previous images handles.

[2021-09-12 14:33] x789 commented on #5701
I would like to grab this issue. Can someone assign it to me?

However, since this would be my first contribution to WinForms, I have two more comprehension questions:
- `ArgumentNullException.ThrowIfNull` is part of the .NET6 API. What would be the correct source branch, `main` or one of the `release/6.0` branches?
- Shall the `null` checking be changed throughout the C# code of the complete code

[2021-09-13 00:11] RussKie commented on #5701
Awesome! We take contributions to the main branch only.
Shout if you get stuck or have questions.

[2021-09-13 00:13] RussKie commented on #5701
I suggest to approach this work in piecemeal manner, e.g. send separate PRs for each assembly. This way it would be easier to review and less likely cause merge conflicts.

[2021-09-13 00:16] RussKie commented on #5717
Are you able to check if MFC exhibiting the same issue?

[2021-09-13 00:28] RussKie commented on #5405
Can you please clarify this point?

New properties will be surfaced in the property grid automatically. If those properties will contain something other than simple values (e.g. `bool`, `string`, etc.) then we'll need to discuss what'd be the best way to have those values set. But before we'll need to agree on the properties. Let's do this first, and then we can discuss any implications to the des

[2021-09-13 02:06] Zheng-Li01 commented on #5706
Verified the issue with latest .NET 6.0.100-rc.2.21460.37 build, the issue has been fixed that program.cs file generated for 5.0 core project after installed the latest .NET 6.0 rc.2.

Note: hitting known [designer issue ](https://github.com/dotnet/winforms-designer/issues/3724)

[2021-09-13 03:37] willibrandon commented on #5405
I should have been more specific. What I was referring to are the flags OFN_ENABLETEMPLATE and OFN_ENABLETEMPLATEHANDLE which can be used to specify dialog template resources. The dialog templates can be created using the [Dialog Editor](https://docs.microsoft.com/en-us/cpp/windows/dialog-editor) or can be [created programmatically](https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-win

[2021-09-13 06:39] willibrandon commented on #5405
Maybe a new dialog type that could run dialog templates.

[2021-09-13 07:05] weltkante commented on #5717
good point, will check

[2021-09-13 07:52] Zheng-Li01 commented on #4099
Verified the issue with latest .NET 6.0.100-rc.2.21460.37 build, the issue has been fixed that the DataTimePicker control have supported the ExpandCollapse pattern in the inspect tool & Accessibility tool. For Narrator tool, hitting known issue [5478](https://github.com/dotnet/winforms/issues/5487)
![image](https://user-images.githubusercontent.com/38325459/133044924-a5c836eb-d1be-4f34-8e01-075515

[2021-09-13 07:59] weltkante commented on #5717
Oh wow, this has nothing to do with the native `ListView` at all. Winforms `ListView.GenerateRandomName` uses `Bitmap.GetHIcon` to generate a seed for a randomizer and never releases that handle ... that is really weird code (and doesn't even guarantee being colission-free). I'll create a PR to simplify this.

[2021-09-13 09:41] Olina-Zhang commented on #5502
Verified this issue in the latest .net SDK 6.0 RC2 build: 6.0.100-rc.2.21460.37, it is fixed in HC black and white themes for toolStripButton/DropDownButton/SplitButton
![image](https://user-images.githubusercontent.com/26474449/133061484-4cb32ecb-d7da-41a9-8504-d79d780c23ae.png)
But hit a known issue: https://github.com/dotnet/winforms/issues/5676 when checking and focusing items:
![image](https:

[2021-09-13 11:52] ArtemTatarinov opened #5746 "Move unit tests from "AccessibleObjects" folder"
Unit tests from the folder `\winforms\src\System.Windows.Forms\tests\UnitTests\AccessibleObjects` (61 files) should be moved to the folder `C:\Projects\winforms\src\System.Windows.Forms\tests\UnitTests\System\Windows\Forms`  and their namespaces should be changed from `System.Windows.Forms.Tests.AccessibleObjects` to `System.Windows.Forms.Tests` . That way their location and namespaces will be con

[2021-09-13 13:24] qwertybba opened #5749 "System.ComponentModel.Win32Exception The specified executable is not a valid application for this OS platform"
* .NET Core Version: .Net6 Preview7
* Have you experienced this same bug with .NET Framework?: No
**Problem description:**
I use this code to export gridview to excel
using (XtraSaveFileDialog saveDialog = new XtraSaveFileDialog())
                {
                    saveDialog.Filter = "Excel (2007-2019) (.xlsx)|*.xlsx";
                    saveDialog.FileName = Resources.dailyProductionPaint;

[2021-09-13 13:51] ArtemTatarinov opened #5752 "`Ctrl` with `Tab`/`Shift`+`Tab` should work in `ToolStrip`"
- `Ctrl`+`Tab` should move button focus forward inside `ToolStrip` when `TabStop` is `false`
- `Ctrl`+`Shift`+`Tab` should move button focus backward inside `ToolStrip`

This is a problem. Ctrl+Tab should move "forward", Ctrl+Shift+Tab should move backwards . Try office toolstrips. Consider a user who navigates office with one set of keys, even unintentionally, and a winforms app with another. Sou

[2021-09-13 15:08] weltkante commented on #5752
The implementation should be done in a way that its possible to opt-out of this behavior if the application wants to give this shortcut a different meaning yet still have toolbars. Some multi-document applications prefer to switch documents with those shortcuts.

[2021-09-13 16:39] kirsan31 commented on #5749
Use:
[code]
In Core `UseShellExecute` property is set to false by default.

[2021-09-13 17:00] qwertybba commented on #5749
It works like a charm

[2021-09-13 17:07] #5749 closed

[2021-09-13 19:13] dreddy-work commented on #5669
@DanLBarr , I was able to run the app first time and see the exception. However, when i try running it again, it silently quits.  Any cache that needs to be cleared here?

[2021-09-13 19:55] DanLBarr commented on #5669
@dreddy-work No, this application doesn't have any cache. I just tried it on my machine and I get the exception every time (both running the executable directly from the command line and from Visual Studio 2022). I did find when opening the project in Visual Studio you will need to copy the SL.GMS*.dll files to the bin directory since that is where they were originally referenced in the project.

[2021-09-13 21:03] willibrandon commented on #5405
Another flag which is unnecessary to implement is NONETWORKBUTTON. This flag corresponds to the old Windows 3.1 style Open dialog which has a button labeled Network that appears next to the drives combo box. Clicking the Network button lets you map a new network drive.

![OldStyleOpenDialog](https://user-images.githubusercontent.com/5017479/133154815-94013068-adf9-4666-8d23-dbdbe5a7bb01.PNG)

The

[2021-09-13 21:27] weltkante opened #5755 "(Perf) avoid saving ListView BackgroundImage to disk"
**Is your feature request related to a problem? Please describe.**

`ListView.BackgroundImage` is stored into a temporary file when transferred to the native control. This puts pressure on the temp file namespace and produces additional IO.

Noted in PR #5744 while simplifying the temp file generation.

**Describe the solution you'd like and alternatives you've considered**

`ListView` supports se

[2021-09-13 23:07] dreddy-work commented on #5405
Only place in our code base i see using one of these flags is [here](https://github.com/dotnet/winforms/blob/f6349d77313bd7a1fb15d170c11d32d401909080/src/System.Windows.Forms.Design/src/System/Drawing/Design/ColorEditor.CustomColorDialog.cs#L42) and Handle passed was the Handle to the process file. I am still digging here to understand it better but i suggest continue with rest of the proposal for

[2021-09-13 23:30] weltkante commented on #5405
Are we even talking about the right enum here? Isn't this the enum from the legacy (non-Vista) dialog which is almost never going to be used anyways? I can't see these flags for the `IFileDialog` interface, nor can I see anything about dialog templates being supported. Am I missing something?

[2021-09-13 23:37] dreddy-work commented on #5669
May be something specific to my machine. Any steps to run it via Visual Studio?  I see this:
![Issue1](https://user-images.githubusercontent.com/36968667/133170585-a0a41ce0-a342-4ba9-ab66-4b5c9f909e25.gif)

[2021-09-13 23:56] #5717 closed

[2021-09-14 00:05] willibrandon commented on #5405
The IFileDialog options [are here](https://github.com/dotnet/winforms/blob/118a1682519fd8dc4db8a37d87b0cd3ba50f5b90/src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.FOS.cs#L10) and dialog templates are not supported.

I agree and thank you for mentioning the Server Core exception. The IFileDialog flags haven't been explicitly mentioned yet but my plan was to propose those missing fl

[2021-09-14 00:45] DanLBarr commented on #5669
@dreddy-work That almost looks like it isn't finding a license. After you execute gms_init.bat, if you type "set gms" at the command prompt it should show the following "GMS_HOME=C:\Users\dreddy\Downloads\test\SL-5669_RBT\DB_TEST". There should also be a file named KEYS in the lib directory. If you open KEYS with something like Notepad, the content of KEYS should be the text
00aa4665005f8d48 # tem

[2021-09-14 00:48] dreddy-work commented on #5669
Yes, i see them but application still exits silently ( i see two processes launched)

[2021-09-14 00:49] #3835 closed

[2021-09-14 01:01] DanLBarr commented on #5669
@dreddy-work That is strange! I only see one process.
![task_manager](https://user-images.githubusercontent.com/87153506/133176682-4c067d31-c66a-414c-9651-d407723a0064.png)
If you want to build the program with Visual Studio, do devenv from your command prompt so it gets the environment. Open the solution, build and run it.

[2021-09-14 01:54] dreddy-work commented on #5669
@DanLBarr , Thanks for the details. I see what is wrong here. You were trying to set parent for a SystemAware control  from a Unaware control. Please below gif.  List Viewer from library is running in SystemAware while your application (TabPage) running in `UnAware `mode.  Adding `Application.SetHighDpiMode(HighDpiMode.SystemAware);` in `program.cs `in the sample app you shared should unblock you.

[2021-09-14 01:54] #5669 closed

[2021-09-14 02:13] willibrandon commented on #5405
The following [Vista flags](https://github.com/dotnet/winforms/blob/118a1682519fd8dc4db8a37d87b0cd3ba50f5b90/src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.FOS.cs#L10) are missing:

FOS.STRICTFILETYPES
FOS.PICKFOLDERS
FOS.ALLNONSTORAGEITEMS
FOS.SHAREAWARE
FOS.NOREADONLYRETURN
FOS.NOTESTFILECREATE
FOS.HIDEMRUPLACES
FOS.HIDEPINNEDPLACES
FOS.OKBUTTONNEEDSINTERACTION
FOS.DONTADDTORECE

[2021-09-14 03:13] #5746 closed

[2021-09-14 03:32] RussKie commented on #5405
👍

Just to clarify, these are the flags that are not exposed to a user, and are up for consideration to be exposed. Do I understand this correctly?

[2021-09-14 03:43] RussKie commented on #5669
@dreddy-work I propose we reword the exception message to provide more information to a developer.

E.g.
[code]

[2021-09-14 04:26] willibrandon commented on #5405
Yes, those flags are currently not exposed. I'm not sure if it makes sense to expose all of them yet, going through the use cases now. So far I've looked at:

FOS.SHAREAWARE
FOS.NOREADONLYRETURN
FOS.NOTESTFILECREATE
FOS.DONTADDTORECENT
FOS.FORCESHOWHIDDEN

And those look good to me.

Now working through the rest:

FOS.STRICTFILETYPES
FOS.PICKFOLDERS
FOS.FORCEFILESYSTEM
FOS.ALLNONSTORAGEITEMS
FOS.H

[2021-09-14 06:06] DanLBarr commented on #5669
@dreddy-work Thank you! That fixed the immediate problem and now works in the full demo program. I may have some questions tomorrow about how this will affect our control.

[2021-09-14 09:57] SergeySmirnov-Akvelon opened #5761 "Move the implementation of properties "RuntimeId" to the base "ControlAccessibleObject" class for all inheritors"
Many accessibility objects for controls have different implementations for `RuntimeId` properties. Although in fact it is one and the same property and its implementation should not have logic specific to which control. Therefore, I suggest to use the implementation of `RuntimeId` properties from the base `ControlAccessibilityObject` class for all accessibility objects. For the base class, I would

[2021-09-15 00:44] #5235 closed

[2021-09-15 07:12] RussKie opened #5774 "Parent `PerformLayout()` sets negative child `Location` at scale factor >1"
* .NET Core Version: **.NET 5.0.9 and .NET 6.0 RC2**

* Have you experienced this same bug with .NET Framework?: **No**

**Problem description:**

The problem is originally reported at
* https://github.com/gitextensions/gitextensions/issues/9402,
* https://github.com/gitextensions/gitextensions/issues/9491.

### The following report is based on https://github.com/gitextensions/gitextensions/issues

[2021-09-15 07:31] RussKie commented on #5774
### This report is based on https://github.com/gitextensions/gitextensions/issues/9491

The app on .NET Framework 4.x behaves as expected (150% sf):
![image](https://user-images.githubusercontent.com/4403806/133388522-01b95f39-fe20-4d3c-afce-3758b9de26b8.png)

The ported version to .NET 5.0/6.0 exhibit the **issue at scale factor > 100%** (at 100% everything works as expected):
![image](https://us

[2021-09-15 19:58] #5729 closed

[2021-09-15 21:41] Njoro007 commented on #4999
Works in VS 16.11.3

[2021-09-15 21:41] #4999 closed

[2021-09-15 21:51] DanLBarr commented on #5669
@dreddy-work Wondering why the first tab doesn't have the same problem?

Another question is what could set DPI awareness on our UserControl? We actually would want that but I am not aware of anything we've done to set it. I've searched for "dpi" in all of our source code and didn't find anything.

As for the exception message, it would be nice to have something like "The parent/child DPI awarenes

[2021-09-15 23:57] RussKie commented on #4999
Thank you for the follow up.

[2021-09-16 00:20] #4150 closed

[2021-09-16 06:15] Jenna-Zheng commented on #5656
Verified this issue with .NET SDK 6.0.100-rc.2.21465.13, it is fixed.
1. AccessibilityInsight detects no error:
![image](https://user-images.githubusercontent.com/64949616/133558820-97214c04-cfd0-4355-9471-e02dbb814d83.png)
2. In inspect, it has BoudingRectangle property, and other properties: Role, State, Value, Value.Value are correct:
![image](https://user-images.githubusercontent.com/64949616/

[2021-09-16 07:15] Philip-Wang01 commented on #3058
Verified this issue with .NET 6.0 RC2 latest build: 6.0.10-rc.2.21465.13. UIA navigation is suitable for TabControl
![image](https://user-images.githubusercontent.com/86937911/133567152-216ee11b-5820-4368-b85b-53013a4d6709.png)

[2021-09-16 07:18] Philip-Wang01 commented on #5687
Verified this issue with .NET 6.0 RC2 latest build: 6.0.10-rc.2.21465.13. UIA navigation is suitable for TabControl
![image](https://user-images.githubusercontent.com/86937911/133567705-1b35b678-830a-46b1-886f-b456b6db5ccc.png)

[2021-09-16 07:52] Olina-Zhang commented on #4044
Verified this issue in the latest .net SDK 6.0 build: 6.0.100-rc.2.21465.13, it is fixed: an error dialog pops up when adding listViewGroup for ListView in virtual mode:
![image](https://user-images.githubusercontent.com/26474449/133572606-d25f6468-1f7d-4234-a35a-7d10906c1f12.png)

[2021-09-16 09:21] Lohnegrim commented on #5661
@dreddy-work,
Sorry for the slow response, I checked this a few times, but didn't see you comment/question even days after the report.

I encountered this in a random testing scenario, where it tryes to add all kinds of controls to a form.
This can also happen in dynamic control Creation/Display.
Also I got more Problems with this in the .Net Framework, but since I'm not sure where I should report

[2021-09-16 11:07] vladimir-krestov commented on #5146
Hi, @merriemcgaw, @RobGallo, do you have any updates about this?

[2021-09-16 13:09] ArtemTatarinov commented on #5752
It's possible to use `Ctrl` for moving `ToolStrip` button focus forward and backward with rather simple modification.

**`ProcessDialogKey` method at `ToolStrip` class**

Before the fix:
[code]

After the fix:
[code]
- `hasModifiers` is used at other switch cases, so we couldn't get rid of it completely
- All `Alt`+`Tab`/`Alt`+`Ctrl`+`Tab`/`Alt`+`Shift`+`Tab `/`Alt`+`Ctrl`+`Shift`+`Tab` combinatio

[2021-09-16 14:12] RobGallo commented on #5146
@vladimir-krestov
We need to see something like the platform plus the [targeted framework moniker](https://docs.microsoft.com/en-us/dotnet/standard/frameworks) separated by a delimiter, e.g., “WPF|netcoreapp3.1”, “WinForms|net451”, etc.

Here are the pieces of data we need. (* indicates required)

- * Platform (WPF | XAML | WinForms | etc.)
- * Version
- * delimiter (we need to parse the platform

[2021-09-16 17:21] dreddy-work commented on #5661
@Lohnegrim , thank you for the further details. This would be right place to raise any issues you see/suspect is from Winforms. I am keeping this issue open to see if we can improve user experience here but the priority will be lower compared to other issues we have, unless there is a real user scenario/application that is blocked with current behavior .

[2021-09-16 18:04] weltkante commented on #5752
Thats not necessarily sufficient if the code that needs to be called isn't accessible, but for this case I think you could just calle `base.ProcessDialogKey` if anything other than `Ctrl`+`Tab` is pressed, so probably ok.

[2021-09-16 18:07] weltkante commented on #5752
Thats not sufficient, you also need everything the original implementation called being public, which it apparently isn't. For example the implementation is calling `_parent.ProcessDialogKey(keyData)` which I think is not possible without doing reflection. You lose the ability to process `Ctrl`+`Tab` in a central place.

[2021-09-16 23:28] merriemcgaw commented on #5146
I think we ran out of runway for .NET 6, but we have plenty of time for discussions in .NET 7 and to design the best approach. UIA properties seem like a very logical place to put this information, but there is concern about breaking existing customers. Let's sync internally again with all the players including @SamBent from WPF and @Tanya-Solyanik on our end.

[2021-09-16 23:58] paul1956 opened #5786 "With .Net 6.0 Dropdown Combo does not respect mode"
* .NET Core Version:
.Net 6

* Have you experienced this same bug with .NET Framework?:
No, not with .Net 5.0

**Problem description:**
Under 6.0 with no changes to anything except changing TargetFramework under .Net 6 the dropdown box does drop but shows all items.
![image](https://user-images.githubusercontent.com/12789369/133703131-c2e7bca8-6285-4708-b239-5e3ff77c966a.png)

From designer
![imag

[2021-09-17 00:25] RussKie commented on #5786
@paul1956 could you please clarify the repro steps. The sample repo contains a lot of files.

[2021-09-17 00:35] paul1956 commented on #5786
In each project just change target framework to .Net 6. I did this under VS 2022 Preview 4 and you see error then undo changes and it runs in .Net 5.0.

[2021-09-17 01:01] #5497 closed

[2021-09-17 02:04] Ashley-Li commented on #5717
Verified this issue in the latest .net SDK 6.0 build: 6.0.100-rc.2.21466.17, it is fixed: after build and run the application, click ‘Open Form With List View’ button to open Form2 then close Form2, then click ‘Garbage Collect’ button, repeat this operation several times, the"GDI objects" don't increase. Please see below gif:
![gdiissue](https://user-images.githubusercontent.com/56664234/133712056

[2021-09-17 02:08] Ashley-Li commented on #5673
Verified this issue in the latest .net SDK 6.0 build: 6.0.100-rc.2.21466.17, it is fixed: the focus color(Light blue) for toolStripButton with 'System' RenderMode is contrast enough, greater than 3:1.
![image](https://user-images.githubusercontent.com/56664234/133712797-2da24944-f196-48be-a98e-7799439c0a24.png)

[2021-09-17 02:13] Lydia-Shi commented on #3835
Verified this issue with .Net 6.0.100-rc.2.21466.17, this issue is fixed. When setting TabStop=True, focus stay in the first Item by using Tab and focus stay in last item by using Shift + Tab to navigate. When setting TabStrop=false, focus turn counter clockwise by using Shift + Tab to navigate, results as below:
![toolStrip](https://user-images.githubusercontent.com/54019172/133713083-6d6fae94-44

[2021-09-17 03:04] paul1956 commented on #5786
@RussKie I made it simple Master is .Net 5.0 and DotNet6 is .Net 6.0 the only different is the project files TargetFramework  setting.

[2021-09-17 03:19] RussKie opened #5836 "System.TypeLoadException : Type 'System.Configuration.ClientSettingsSection' does not inherit from 'System.Configuration.IConfigurationSectionHandler'"
### Description

Lately (RC1 timeframe?) dotnet/winforms tests for functionality that depends on `System.Configuration.ApplicationSettingsBase` started randomly failing with the following callstack (e.g. [#1](https://dev.azure.com/dnceng/public/_build/results?buildId=1367547&view=logs&j=fdea2036-e6b2-512d-a259-98f88c972586&s=ff05ad62-bb9a-53b6-ce9f-72f329a63e7c), [#2](https://dev.azure.com/dnceng/

[2021-09-17 05:58] Olina-Zhang opened #5792 "Accessibility: LocalizedControlType property is not publicly accessible for a DataGridViewCellAccessibleObject"
* .NET Core Version:
.Net SDK 6.0.100-rc.2.21466.17

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Related AzDo bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1404297.
 For a specific case in the Settings designer with a **custom** DataGridViewCell **where the pane containing the edit and button control** is missing the LocalizedControlType.

[2021-09-17 06:09] MichaelMayrhofer opened #5793 "Application.SetDefaultFont(Font) not available in VB.NET"
* .NET Core Version: .NET 6.0.100-rc.1.21458.32

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
According to https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.application.setdefaultfont?view=net-6.0 there should be a method Application.SetDefaultFont(Font) also available in VB.NET, but it isn't. The compiler reports an error when I add this m

[2021-09-17 06:33] Olina-Zhang opened #5794 "Accessibility: ToolStrip: TabStop= false, pressing Tab or Shift-Tab doesn’t work after clicked toolStripButton/SplitButton/DropDownButton"
* .NET Core Version:
.Net SDK 6.0.100-rc.2.21466.17

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Create a Winforms .net Core application with ToolStrip added, keeping its TabStop false by default
2. Add some toolstrip items: ToolStripButton, ToolStripDropDownButton, ToolStripSplitButton, ToolStripTextBox, ToolStripComboBox
3. Build and run application
4. M

[2021-09-17 07:00] Olina-Zhang opened #5795 "Accessibility: ToolStrip: TabStop= true, pressing Shift-Tab for first or last item: toolStripComboBox/TextBox in ToolStrips doesn't move to right item right"
* .NET Core Version:
.Net SDK 6.0.100-rc.2.21466.17

* Have you experienced this same bug with .NET Framework?:
Yes, but the result is different from .net 6.0 after the PR: https://github.com/dotnet/winforms/pull/5726

**Minimal repro:**
Scenario A:
1.	Create a Winforms .Net Core application with 2 toolStrips, set their TabStop as true
2.	In the first toolStrip, the last item is not toolStripCombo

[2021-09-17 07:10] #5793 closed

[2021-09-17 12:19] ArtemTatarinov commented on #5314
I have reproduced this issue also in .Net Framework 4.7.2 and in MFC application too. Also, I have looked through the `FontDialog.cs` source code file and it doesn't contain any of the controls that we can see at it - no `Strikeout` and `Underline` `CheckBoxes`, no `ListBoxes` with fonts, font styles, font sizes, no `TextBoxes` with selected font, style, size, and so on. So my guess is this contro

[2021-09-17 18:29] merriemcgaw commented on #5314
It looks to me like this is a Windows problem then and we should go ahead and file a bug on them. @Tanya-Solyanik, would you agree?

[2021-09-20 10:19] RussKie commented on #4449
Spent some time debugging this, and it looks like this line causes the issue:
[code]

If the panel's padding is 0, then there is no shift.

Stepping through the code I ascertained the information from the config is loaded and applied correctly to each individual toolstrip. However then we call
https://github.com/dotnet/winforms/blob/74844307652966164160773a1f0287be7248e591/src/System.Windows.Forms

[2021-09-20 10:23] ArtemTatarinov commented on #5752
@weltkante, thank you for your answer!

@Tanya-Solyanik, could you please tell what's your opinion on this topic?

[2021-09-20 10:28] RussKie commented on #4449
It is possible to achieve the desired UI layout with the following dirty workaround:
[code]

[2021-09-20 10:48] ArtemTatarinov commented on #5794
This is happening because not `ToolStrip` nor `ToolStripButton` has focus after click was performed on the `ToolStripButton`. If `ToolStripButton` was clicked, then `ToolStrip` is not gaining focus (if it wasn't focused) or is losing it (if it was focused). And `ToolStripButton` itself can't be focused (it doesn't have `Focus` method, unlike `ToolStripTextBox` and other `ToolStripControlHost` succ

[2021-09-20 12:43] ArtemTatarinov commented on #5795
Hi @Olina-Zhang, @merriemcgaw, @Tanya-Solyanik, could you please tell me if I'm getting this right: pressing `Shift`+`Tab` with `TabStop`=`true` should always move the focus to the first `ToolStripItem` of a previous `ToolStrip`?

For example, we could stand on any item of the second `ToolStrip`, but if we press `Shift`+`Tab`, we should move the focus to the first item of the first `ToolStrip`? An

[2021-09-20 17:22] merriemcgaw commented on #5795
@ArtemTatarinov that is not the preferred behavior.

What we need to do is if the user does `Shift`+`Tab` we should simply go to the previous item in the current `ToolStrip`  where `TabStop`=`true`. If we are at the first item in a `ToolStrip` the `Shift`+`Tab` should take the user to the last item in the previous `ToolStrip` that has `TabStop`=`true`. It basically the opposite of what the `Tab` a

[2021-09-20 17:27] merriemcgaw commented on #5794
@Tanya-Solyanik your thoughts? I have to think about this a little. When you get to the `ToolStripDropDownButton` via keyboard the user would expect to hit the `space` perhaps to activate it, and then use `Down Arrow` to enter the `ToolStripDropDownMenu`. Then arrow keys to move up and down the list? What do you think?

[2021-09-20 19:35] dreddy-work commented on #5774
Issue is with the Anchoring of the Panel. We have multiple issues int repo with same root cause. I am prioritizing this issue now and see if i can get something out for GA. Meanwhile, @RussKie , if you could align the panel in GitExtensions without anchoring, it should work for time being.

[2021-09-20 22:44] Tanya-Solyanik commented on #5794
In this case ToolStrip was created with TabStop property set to false, This ensures that it does not get focus. TextBoxes have to have focus because otherwise user would not be able to type. Buttons and variations of buttons probably are not focusable for historical reasons, i.e. toolstip was designed for mouse access initially.

Assuming "tabstop==true" case works as expected, this is "by design"

[2021-09-21 01:13] RussKie commented on #5167
@dreddy-work have you run the tool against the VB assemblies? Looks like the VB stuff isn't doc'ed, e.g. https://docs.microsoft.com/dotnet/api/microsoft.visualbasic.applicationservices.windowsformsapplicationbase.applyapplicationdefaults

/cc: @KlausLoeffelmann

[2021-09-21 02:39] KlausLoeffelmann commented on #5167
Yep, they are missing. I did not know that they wouldn't picked up from the XML Comment of the source.
@merriemcgaw: For when do we need to plan this?

[2021-09-21 08:40] VitalLogic commented on #3346
Is this fixed yet? I just upgraded my VS 2019 for latest release 16.11.3. I am creating a new VB.NET project in VS 2019, with .NET 5.0. And it complains to even open the Project Settings panel. Whether I add new string params, they wont work. Any workaround is appreciated

[2021-09-21 13:20] gabparrot commented on #4883
How did third party control developers deal with this? Perhaps we should look into how Krypton TreeViews approached the issue considering their extended class does not flicker at all, and they are open source now

[2021-09-21 13:25] kirsan31 commented on #4883
We exactly know how, all in 1 post ;)

[2021-09-21 13:47] SergeySmirnov-Akvelon opened #5835 "Narrator is announcing the wrong tooltip for the TabPage"
.NET Core Version:
- .Net 6.0 SDK: 6.0.100-rc.1.21430.12

Have you experienced this same bug with .NET Framework?:
- No (regression from #2538)

**Repro steps:**

1. Create a Winforms .Net Core app.
2. Add a TabControl, a Tooltip, a Button to form designer.
3. Add 3 TabPages.
4. Set tooltips for pages and controls.
5. Set ShowToolTips = true.
6. Build and run app.
7. Set focus to button.
8. Hover

[2021-09-21 15:48] dreddy-work commented on #5167
I will take care of this. It was confusion with namespace. We did document everything in the System.Windows.Forms.* and it’s dependencies.

[2021-09-21 20:25] merriemcgaw commented on #5836
Thanks all!

[2021-09-21 20:27] merriemcgaw commented on #5835
Unless there's a customer impacted directly, I think we're OK to just put this in 7.

[2021-09-21 20:29] merriemcgaw commented on #5167
Sounds good. Thanks @dreddy-work

[2021-09-21 20:32] merriemcgaw commented on #5795
I think I must have misunderstood the first explanation @ArtemTatarinov, what you describe above is precisely how I'd like it to work. What is the timeline you need to get it into that state? I'd love to try to get this into the 6.0 release - that would be our last bug from the test pass and we'd be without any MAS violations left!

[2021-09-21 20:40] merriemcgaw commented on #5794
Thanks @Tanya-Solyanik I can go with that.

[2021-09-21 20:41] merriemcgaw commented on #5794
@ArtemTatarinov can you confirm and then close this?

[2021-09-22 16:50] Tanya-Solyanik commented on #5314
@merriemcgaw, @ArtemTatarinov, @vladimir-krestov   - yes, this bug should be copy/pasted into the OS bug data base, on common dialog area path with images from this investigation and the MFC sample attached.

@Philip-Wang01  - we don't own content of this dialog, winforms only invokes windows (comdlg32) APIs, so we don't have to test it.

[2021-09-22 19:07] ericstj commented on #5836
One more thing.  My conclusion and recommendation here was based on the behavior of the tests which are hitting this.

A question was raised about design time vs runtime and sharing these files in that case.  I think that question is more in the wheelhouse of the designer owners.  Are you dealing with live types?  If so, then you really should be pushing the designer access into the surface proces

[2021-09-23 01:34] RussKie commented on #3346
@VitalLogic please see dotnet/project-system#6784

[2021-09-23 13:52] ArtemTatarinov commented on #5794
Yes, clicking `ToolStrip` buttons with `TabStop`==`true` doesn't affect the current focus and moving focus with `Tab` key continued to work like no clicking was performed at all:

- The first `ToolStrip` was focused, clicked `ToolStripButton` at the first `ToolStrip`, then pressed `Tab` two times - the focus was moved to the second `ToolStrip` and then to the third one
![tabAfteClick1](https://use

[2021-09-23 13:52] #5794 closed

[2021-09-24 06:14] Amy-Li03 opened #5852 "When AutoPopDelay is the custom value, the keyboard toolTip for listview control is disappearing after pressing Ctrl"
* OS: Win11

* .NET Core Version:
.NET SDK 6.0.100-rtm.21473.61

* Have you experienced this same bug with .NET Framework?:
No

**Minimal repro:**
1. Create a Winforms .Net Core app with a button, a ListView and a toolTip added
2. Set tooltip's AutoPopDelay value to: 9000
3. Set the ToolTip on toolTip1 of ListView is "this is a ListView"
3. Set the ToolTip on toolTip1 of Button is "this is a Butto

[2021-09-24 10:42] kirsan31 opened #5853 "MonthCalendar [regression] UpdateBoldedDates reset visual boldness of last month of multipage control"
* .NET Core Version: 6.0.0-rc.1.21451.3

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
Last month of 2 page `MonthCalendar` control not display (or reset) visual boldness after `UpdateBoldedDates` call:

https://user-images.githubusercontent.com/17767561/134660612-3c899fb8-d52c-466f-af87-e5fe753fd485.mp4

**Expected behavior:**

https://user-images.githubu

[2021-09-24 10:54] kirsan31 opened #5854 "MonthCalendar not firing DateSelected when first click on last date"
* .NET Core Version: all up to 6.0 rc1

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
`MonthCalendar` not firing `DateSelected` when first click on last date (`MonthCalendar.MaxDate`):

https://user-images.githubusercontent.com/17767561/134663191-136921ca-8606-4443-8ac2-d041b148452c.mp4

**Expected behavior:**
`DateSelected` must firing on first click.

*

[2021-09-24 12:33] kirsan31 commented on #5853
Yes, regression was introduced in #4317. The problem is here:
https://github.com/dotnet/winforms/blob/8fcd2f23e79d3ad09c0502f3871bb0a23a4898ee/src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs#L1892
This code not working when we have more than 1 year on the page. I think must be something like this (not tested!):
[code]

[2021-09-24 17:53] dreddy-work commented on #5854
@kirsan31 , is that only for last day of the month?

[2021-09-24 17:57] dreddy-work commented on #5853
Is this because you can not build from command line as well due to new tool set requirement?

[2021-09-24 17:58] dreddy-work commented on #5852
/cc: @Tanya-Solyanik.

[2021-09-24 18:33] kirsan31 commented on #5854
@dreddy-work

No, for any date that is `MonthCalendar.MaxDate`.

[2021-09-24 18:42] kirsan31 commented on #5853
Honestly I haven't tried with command line :worried:

[2021-09-25 14:32] x789 commented on #5701
I am finally making my way through the code and am transforming the `null`-checks to the desired way.
By doing this, two questions arose.
First, I found usages of the `??`-operator to assign a value or to throw an `ArgumentNullException`. I think this is a good readable approach that should be kept.
Second, I stumbled upon cases where an empty string causes an `ArgumentNullException` (e.g. at `Res

[2021-09-26 06:42] Jenna-Zheng commented on #5397
Verified the issue with .NET Core SDK 5.0.402, the issue has been fixed that have the same results as above.

[2021-09-26 15:30] fwaris opened #5866 "Unable to use Windows Forms in F# Interactive with dotnet core"
F# interactive is a REPL for interactive programming. It has been around since about 2010 when F# was introduced.

We were able to use Windows Forms in an interactive mode ever since. However, with dotnet core, the way Windows Forms is packaged, it is not possible to do that any more.

Previously, the way to reference the library and create forms in F# interactive was:

[code]
Windows Forms still

[2021-09-27 03:53] #5866 closed

[2021-09-27 05:42] RussKie commented on #5853
You _don't_ technically need VS to modify or build the repo, you can use something like VS Code to edit and build with `.\build.cmd`.

[2021-09-27 05:50] kirsan31 commented on #5853
Yea, I got it.
Will try a bit later when I have a time (if @vladimir-krestov doesn't show up).

[2021-09-27 08:20] vladimir-krestov commented on #5853
@kirsan31, you are awesome as always! Thank you for the filed Issue, investigation and the ready fix. 😊
I have prepared #5869, please review it.

[2021-09-27 13:12] RussKie commented on #5701
I expect those rewritten as `... = value ?? ArgumentNullException.ThrowIfNull(value);`

This may indeed be a breaking change that we won't be able to take. Feel free to open a separate draft with that specific change, and we can discuss the merits of it. Here's the guide on exceptions https://github.com/dotnet/runtime/blob/main/docs/coding-guidelines/breaking-change-rules.md#exceptions

[2021-09-27 23:26] dreddy-work commented on #5774
We introduced a opt-in flag `EnableAnchorLayoutHighDpiImprovements `that is now become default in core. Changes covered under this flag are root cause of this issue. you can repro this issue by enabling this flag in .NET framework as well.

[2021-09-28 02:06] RussKie commented on #5774
So basically the regression lies somewhere here, right?
https://github.com/dotnet/winforms/blob/a88610b7c10afa8a1353322e9fb8ecb4fc9580b0/src/System.Windows.Forms/src/System/Windows/Forms/Layout/DockAndAnchorLayout.cs#L672-L721

Here's the .NET Framework: https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/Layout/DockAndAnchorLayout.cs,581

[2021-09-28 03:05] Amy-Li03 commented on #5673
Verified this issue on .NET 6.0 RC2 test pass build: 6.0.100-rc.2.21473.26, it was fixed.

[2021-09-28 06:05] Jenna-Zheng commented on #5687
Verified this issue on .NET 6.0 RC2 test pass build: 6.0.100-rc.2.21473.26, it was fixed.

[2021-09-28 06:12] Philip-Wang01 commented on #5706
Verified the issue with latest .NET 6.0.100-rc.2.21473.26 build, the issue has been fixed that program.cs file generated for 5.0 core project after installed the latest .NET 6.0 rc.2.
![image](https://user-images.githubusercontent.com/86937911/135032917-04353fdc-90ea-4f37-b0d7-facf06252be6.png)

[2021-09-28 06:12] Ashley-Li commented on #4099
Verified this issue on .NET 6.0 RC2 test pass build: 6.0.100-rc.2.21473.26, it was fixed.

[2021-09-28 06:43] RussKie commented on #5836
Thank you @ericstj

I think that _application_ and _user_ settings fall squarely in this scenario. To the best of my knowledge both settings are widely used in Windows Forms apps (.NET Framework) and will continue to be used with apps migrated to .NET. During the transition period it is quite plausible that both .NET Framework and .NET versions of apps may co-exist and attempt to use same configs

[2021-09-28 07:03] Marie-Shi commented on #5717
Verified this issue with .Net 6.0.100-rc.2.21473.26 from 6.0 RC2 Test Pass, it is fixed, now "GDI objects" don't increase. The result is same as above.

[2021-09-28 07:18] Marie-Shi commented on #5249
Verified this issue with .Net 6.0.100-rc.2.21473.26 from 6.0 RC2 Test Pass, it is fixed. Now Winforms template names are localized after runing "dotnet new --list" in CLI.
![ewe](https://user-images.githubusercontent.com/45864017/135041082-9bf7a5b4-c684-49fb-912d-8eb8d69be19e.png)

[2021-09-28 07:22] RussKie commented on #5836
@ericstj would you have any recommendation on the best way to proceed if we resolve that pinning Settings type names to the desktop identities is the right thing to do?

[2021-09-28 07:56] Lydia-Shi commented on #3835
Verified this issue on .NET 6.0 RC2 test pass build: 6.0.100-rc.2.21473.26, it was fixed.

[2021-09-28 10:46] SergeySmirnov-Akvelon opened #5874 "Separators for ColumnHeaders are shifted when RightToLeft = true and EnableHeadersVisualStyles = false"
.NET Core Version:
- 6.0.100-rc.1.21430.12

Have you experienced this same bug with .NET Framework?:
- Yes

**Repro steps:**
1. Create a form with a `DataGridView`
2. Add multiple `Columns`
3. Set `RightToLeft = true`
4. Set `EnableHeadersVisualStyles = false`
5. Run the application

**Actual behavior:**
Separators for `ColumnHeaders` are shifted.
![image](https://user-images.githubusercontent.com

[2021-09-28 12:49] SergeySmirnov-Akvelon opened #5876 "MAS 1.4.11: Luminosity contrast ratio of the divider lines of the DataGridView control are less than 3:1"
.NET Core Version:
- 6.0.100-rc.1.21430.12

Have you experienced this same bug with .NET Framework?:
- Yes

**Repro steps:**

1. Create a form with a `DataGridView`
2. Add multiple `Columns`
3. Add multiple `Rows`
4. Set `EnableHeadersVisualStyles = false`
5. Set the `DividerWidth = 5` for each Column
6. Set the `DividerHeight = 5` for each Row
7. Set `CellBorderStyle`
8. Set `ColumnHeadersBorderS

[2021-09-28 16:10] #4404 closed

[2021-09-28 16:26] #5792 closed

[2021-09-28 17:13] willibrandon commented on #5405
I'm still looking at the remaining flags and their use cases and I must say that I don't feel as strongly about the rest of them as I do about FOS.DONTADDTORECENT, which makes them difficult to propose.

FOS.FORCESHOWHIDDEN and FOS.HIDEMRUPLACES I can see being useful and plan to propose those 2 flags as well but for the rest of the remaining flags, I have either found no use case or have found th

[2021-09-28 17:52] ericstj commented on #5836
It's plausible however If anyone tried it they'd be blocked and would have raised this issue. The only reason we're looking at this is because tests hit it.  In both cases we've seen it, the tests actually were unintentionally sharing this state so the "right fix" was to clean that up.

I think you need to start a discussion by filing an issue in dotnet/runtime as a design change request that the

[2021-09-29 10:25] SergeySmirnov-Akvelon commented on #4750
Hi @merriemcgaw. I would like to add information about the version of this bug. It is not a #4421 regression. I can reproduce the problem for .NET Core 3.0
![Issue-4750-3 0](https://user-images.githubusercontent.com/23376742/135251030-49289af9-c4a9-472d-982f-a02a25c69008.gif)

Also, if I turn on quirks for displaying tooltips:
[code]
then this bug will also be reproducible for .NET Framework 4.8
!

[2021-09-30 05:46] Jenna-Zheng commented on #5503
Verified this issue with latest .NET 7.0.100-alpha.1.21479.21 build, it is fixed that The focus color(Light blue) for toolStripButton with 'System' RenderMode is contrast enough, greater than 3:1.
![image](https://user-images.githubusercontent.com/64949616/135394159-db71def7-2661-49da-b42b-d901146fa931.png)

[2021-09-30 06:11] Lydia-Shi commented on #5656
Verified this issue with .NET SDK 7.0.100-alpha.1.21479.26, this issue is fixed.

[2021-09-30 06:20] Jenna-Zheng commented on #3058
Verified this issue with latest .NET 7.0.100-alpha.1.21479.21 build, it is fixed.
![image](https://user-images.githubusercontent.com/64949616/135396854-4dc28756-b8c1-4c96-8fec-538950bff0fc.png)
![Issue_TestUIA](https://user-images.githubusercontent.com/64949616/135398107-958a374e-6c23-49f6-a513-81fc0021fe6c.gif)

[2021-09-30 06:28] Jenna-Zheng commented on #4099
Verified this issue with latest .NET 7.0.100-alpha.1.21479.21 build, it was fixed

[2021-09-30 06:31] Philip-Wang01 commented on #5128
Verified this issue with .NET SDK 7.0.100-alpha.1.21479.33, this issue is fixed.

[2021-09-30 06:50] Ashley-Li commented on #5502
Verified this issue with .NET SDK 7.0.100-alpha.1.21479.26, it is fixed in HC black and white themes for toolStripButton/SplitButton/DropDownButton.
![image](https://user-images.githubusercontent.com/56664234/135401637-b681324d-0ba9-4d95-a994-0ace52381d4b.png)

[2021-09-30 07:02] Lydia-Shi commented on #4044
Verified this issue with .NET SDK 7.0.100-alpha.1.21479.26, this issue is fixed.

[2021-09-30 07:22] Ashley-Li commented on #5702
Verified this issue with .NET SDK 7.0.100-alpha.1.21479.26, it is fixed that the "AccessKey" property have "Alt+n" value.
![image](https://user-images.githubusercontent.com/56664234/135406223-c0be3541-9cf1-422e-a09c-84a214d09dec.png)

[2021-09-30 07:31] Amy-Li03 commented on #4356
Verified this issue with .NET SDK 7.0.100-alpha.1.21479.26, this issue is fixed.
![image](https://user-images.githubusercontent.com/62929087/135407424-e60925ab-382a-4c55-8ffe-1256ad638da3.png)

[2021-09-30 07:49] Amy-Li03 commented on #5571
Verified this issue with .NET SDK 7.0.100-alpha.1.21479.26, this issue is fixed.
![Fixed](https://user-images.githubusercontent.com/62929087/135410301-f3f71ae7-9562-446a-9674-03a2db4d1d29.gif)

[2021-09-30 07:51] Olina-Zhang commented on #3686
Verified in the latest .Net SDK 7.0 build: 7.0.100-alpha.1.21479.33, this issue is fixed when calling insert(int index, TabPage page) for TabControl:
![image](https://user-images.githubusercontent.com/26474449/135410674-66544929-7f3c-4dfa-8a14-4a82a4bf9a69.png)

[2021-09-30 07:52] SergeySmirnov-Akvelon commented on #4750
This did not work correctly in .NET Core 5.0 and earlier:
![Issue-4750-beforefix](https://user-images.githubusercontent.com/23376742/135410676-4471e890-256d-432f-beb4-4d8a723981fd.gif)

It was fixed in the #4421 for .NET Core 6.0:
![Issue-4750-afterfix](https://user-images.githubusercontent.com/23376742/135410713-6675269c-5f18-4c07-b868-845420758e4c.gif)

[2021-09-30 07:53] Lydia-Shi opened #5883 "An error dialog pops up and ListViewGroup can be added successfully when listView in virtual mode"
* .NET Core Version:
7.0.100-alpha.1.21479.26

**Problem description:**
An error dialog pops up and ListViewGroup can be added successfully. Error title and icon is not correct.
![image](https://user-images.githubusercontent.com/54019172/135408842-b6220b08-c061-41c8-9948-a501a8a9e107.png)

**Expected behavior:**
Error dialog pops up and ListViewGroup cannot be added.
![image](https://user-images.g

[2021-09-30 07:53] roland5572 opened #5884 "support drag and drop with icon and text label"
## 💥 💥  ⬇️⬇️ **[Scroll to the API proposal](https://github.com/dotnet/winforms/issues/5884#issuecomment-1077262077)** ⬇️⬇️💥 💥

-----

About Winform drag and drop:
https://docs.microsoft.com/en-us/dotnet/desktop/winforms/input-mouse/drag-and-drop

Winforms supports drag and drop, but it displays the Windows 2000/XP old school style.

![003](https://user-images.githubusercontent.com/88176616/1355711

[2021-09-30 08:44] Ashley-Li commented on #4854
Verified this issue with .NET SDK 7.0.100-alpha.1.21479.26, it is fixed that WinForms HighDPI PerMonitorV2 windows launched on secondary monitor is correctly scaled.
![930](https://user-images.githubusercontent.com/56664234/135418965-f191e3b9-b9c3-4dea-9923-44a8bac44da8.PNG)
.

[2021-09-30 10:51] RussKie commented on #5884
What exactly are you asking for?

[2021-09-30 13:35] cbrit commented on #3686
@Olina-Zhang *brushes aside long gray hair, squinting* _Finally_.

Joking aside, thanks so much! Does this break the record for oldest bug fixed in .NET??

[2021-09-30 15:23] DmitryGorokhov opened #5886 "An instance of DataGridViewCheckBoxCell class has an incorrect value of ToggleState property."
* .NET Core Version:
5.0

* Commit
63f0ca1525151312b065375daaf50d692c95b73b

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

An instance of `DataGridViewCheckBoxCell` class has an incorrect value of `toggleState` property. So if the cell is unchecked then `toggleState` is `On` and if the cell is unchecked then `toggleState` is `Off`.

**Expected behavior:**

[2021-09-30 16:42] dreddy-work commented on #5886
Was this regressed in 6.0?

[2021-09-30 17:05] WPMGPRoSToTeMa commented on #5701
This won't work because the return type of `ThrowIfNull` is `void`.

[2021-09-30 18:10] x789 commented on #5701
You are right @WPMGPRoSToTeMa .
I will keep these lines unchanged since the `??` operator already performs a `null`-check and therefore there is no neccessity to call `ThrowIfNull`.

[2021-10-01 04:13] RussKie commented on #5701
Thank you @WPMGPRoSToTeMa.

@x789 methods with `throw` can't be inlined, so we want to remove as many of those as possible. `... = value ?? throw ...` should be rewritten as `ArgumentNullException.ThrowIfNull(value); _value = value;`

[2021-10-01 04:24] RussKie commented on #5886
The regression was introduced in https://github.com/dotnet/winforms/pull/3432 in .NET 5.0 RC1. /cc: @vladimir-krestov

[2021-10-01 05:34] WPMGPRoSToTeMa commented on #5701
@RussKie I think we can add a helper method to keep a single statement, something like this:
[code]
Where `EnsureNotNull` may be implemented like:
[code]

[2021-10-01 05:50] roland5572 commented on #5884
I have updated the post to more detailed.

[2021-10-01 06:13] RussKie commented on #5701
I'm not sure we should create more helper or extension methods tbh...

https://stackoverflow.com/a/12044248 has a good suggestion with an extension if we _really_ want to go down this route:

[code]

[code]

[2021-10-01 06:47] DmitryGorokhov commented on #5886
Created PR #5889 port to 6.0. Merge it if needed

[2021-10-01 16:54] #5886 closed

[2021-10-01 20:52] x789 commented on #5701
I was not aware that the motivation behind this issue is not only to improve the readability but also the possibility to inline code.

Of all the options to remove the `throws` from the code, I find the generic extension `OrThrowIfNull` the most elegant.
There are also comparisons on `null`-pointers which lead to exceptions (see [DCMapping.cs@38](https://github.com/dotnet/winforms/blob/ccb12709d49

[2021-10-03 02:41] nikeee opened #5896 "Support `ICollection<string>` on `Clipboard.SetFileDropList`"
**Is your feature request related to a problem? Please describe.**
I'd like to use a `Collection<string>` as a parameter for `Clipboard.SetFileDropList`, since I'd like to avoid creating new `StringCollection`s and copying entries.

**Describe the solution you'd like and alternatives you've considered**

Relevant part of the code:
https://github.com/dotnet/winforms/blob/81774abbcbb885fe906f1c0f813

[2021-10-03 15:14] manfromarce opened #5911 "API Proposal: SplitButton and DropDownButton"
**Is your feature request related to a problem? Please describe.**
Native Win32 button has a BS_SPLITBUTTON style (MFC also had SplitButton) but this has long been missing in WinForms.
Alternatives for SplitButton currently are:
- ToolStripSplitButton, but it can only be used inside a ToolStrip
- using a button, setting Image / BackgroundImage to a down arrow and detecting the button portion where

[2021-10-04 01:20] roland5572 commented on #5405
Yes, I think FOS.DONTADDTORECENT is more important. Other Flags can be implemented through additional programming code, but this flag can only be implemented through the underlying Windows API.

[2021-10-04 07:33] tugibaev opened #5912 "`ErrorProvider` extend with `HasErrors` property"
# Summary

`ErrorProvider` have a `Clear()` method which removes all errors on all linked controls. But no any property/method which can show errors are exists.

# Rationale and Usage

Current version of `ErrorProvider` need to create boolean variable and set in on every `SetError` call to check errors are exists. It makes code less readable.

# Proposed API

Add readonly property `HasErrors`:

[c

[2021-10-04 17:16] MisinformedDNA opened #5915 "Designer removes needed code"
* .NET Core Version:
TargetFramework: net5.0-windows
SDKs: 6.0.100-rc.1.21463.6, 5.0.401

* Have you experienced this same bug with .NET Framework?: Haven't tried

**Problem description:**

When I try to edit a control from the designer. The designer will remove needed parts of the code from `*.Designer.cs` which results in run-time errors.

**Expected behavior:**

Designer doesn't remove necessar

[2021-10-04 21:40] KlausLoeffelmann opened #5917 "Introduce ShowDialogAsync on Form"
## Rationale

Fluent and responsive desktop UI are not exclusive domains of UWP, WinUi or WPF. WinForm is also capable of this, not only in principle: In order to guarantee fluid WinForms app and to exclude "application not responding" messages, it should also be possible in WinForms to apply the programming paradigm with async and await that is predominant in .NET [Core] anyway.

Showing a modal

[2021-10-04 21:41] KlausLoeffelmann commented on #5917
Locked this for now, since it's work in progress.

[2021-10-04 21:57] KlausLoeffelmann opened #5918 "Introduce PopupAsync on UserControl/Form"
## Rationale

Since Windows 8, Windows introduced a popup-like Dialog for imfo messages or short input actions, which gets dismissed _just_ by clicking next to the Dialog. With that, it has a classic popup (menu) behavior.

Currently, there are no means to utelize these kinds of Dialogs in WinForms. Together with #5917 and #4631, this API is not only an important extension for programming with the

[2021-10-04 21:58] KlausLoeffelmann commented on #5918
Locked this for now, since the concept is still work in progress.

[2021-10-05 17:01] Tanya-Solyanik commented on #5915
DevExpress package used in the project probably does not have the Code designers.

[2021-10-05 18:08] MisinformedDNA commented on #5915
`DataSet` is getting unassigned as well. And there are other DevExpress controls that work fine.

[2021-10-05 18:09] #5853 closed

[2021-10-05 18:43] MisinformedDNA commented on #5915
@Tanya-Solyanik  I didn't want to edit the designer file for my repro, but I went ahead and did it. DevExpress is now removed as a dependency. I updated [main](https://github.com/MisinformedDNA/winforms-designer-issue) and here's the new [change commit](https://github.com/MisinformedDNA/winforms-designer-issue/commit/f4a84b98fa151f05250a3df0155105edf598fbfb). Same issue.

[2021-10-05 18:46] #5795 closed

[2021-10-05 23:17] RussKie commented on #5915
@MisinformedDNA have you contacted DevExpress?

[2021-10-05 23:48] MisinformedDNA commented on #5915
@RussKie I shared a repro with DevExpress removed. It's clearly not them.

[2021-10-06 22:46] dreddy-work commented on #5874
That needs very good eye sight :) Is this only for RTL?

[2021-10-06 23:27] RussKie commented on #5836
I believe the designer concerns should be mitigated by https://github.com/dotnet/project-system/pull/7647. No further work for now until we get customer feedback.

[2021-10-06 23:27] #5836 closed

[2021-10-06 23:51] hamarb123 opened #5925 "Problem with ApplicationConfiguration source generator"
**Is your feature request related to a problem? Please describe.**

Yes, I was wanting to have code like `if (!Application.SetHighDpiMode(HighDpiMode.PerMonitorV2)) Application.SetHighDpiMode(HighDpiMode.PerMonitor);` in my Program file, but it seems like `ApplicationConfiguration.Initialize();` forces me to use its implementation.

**Describe the solution you'd like and alternatives you've consid

[2021-10-07 01:16] #5925 closed

[2021-10-07 05:54] willibrandon commented on #5405
I agree but we need to consider the other flags to make a more complete API proposal as mentioned earlier.

Some of the flags and use cases have been new to me so its taken some time to get familiar with them all but I'm getting close. I'm working on a list now which will include each flag, it's definition, and some thoughts. From there we can decide which flags we could/should add support for.

[2021-10-08 00:20] dreddy-work commented on #5915
@KlausLoeffelmann , can you take a look at the sample here and see anything stand out?

[2021-10-08 00:27] merriemcgaw commented on #5911
Thanks for the suggestion!

We don't have this on our current road map, and it actually comes with its own set of accessibility and usability issues. In fact, it is no longer recommended from a design guidelines perspective. We do use it in a few places currently in our code (and eventually I do want to remove that) and since we're open source you are more than welcome to use this code in your app

[2021-10-08 00:27] #5911 closed

[2021-10-08 03:43] RussKie commented on #5884
Would you like to do a [formal API proposal](https://github.com/dotnet/winforms/blob/main/docs/issue-guide.md#feature-and-api-suggestions) so we can take it to the next level? If you have a POC - it would greatly aid in discussions.

[2021-10-08 05:39] Olina-Zhang opened #5933 "[Accessibility] MAS 1.4.11: Luminosity contrast ratio of the sorting arrows of the DataGridView control are less than 3:1"
* .NET Core Version:
6.0.100-rtm.21507.9

* Have you experienced this same bug with .NET Framework?:
Yes

**Minimal repro:**
1. Create a form with a DataGridView control
2. Add multiple columns
3. Run application
4. Add multiple rows

**Actual behavior:**
Focus on Column header, Luminosity contrast ratio of the sorting arrows of the DataGridView control are less than 3:1
![image](https://user-imag

[2021-10-08 16:56] dreddy-work commented on #5896
`IEnumerable<>` seems best fit here. Please submit a [formal API proposal](https://github.com/dotnet/winforms/blob/main/docs/issue-guide.md#feature-and-api-suggestions), so we can take it to the next level.

[2021-10-09 01:28] willibrandon commented on #5405
HidePinnedPlaces

Controls whether the items shown by default in the view's navigation pane are hidden.

https://user-images.githubusercontent.com/5017479/136639032-85d68bc2-bc0f-4649-9f19-9e314f9645fd.mp4

[2021-10-09 03:46] willibrandon commented on #5405
ExpandedMode, also known as DefaultNoMiniMode.

Controls whether to open the dialog box in expanded mode.

https://user-images.githubusercontent.com/5017479/136643178-0443ea54-85f4-48be-a20e-27cd6733f5af.mp4

[2021-10-09 04:25] willibrandon commented on #5405
ForcePreviewPaneOn

Controls whether to always display the Open dialog box preview pane.

https://user-images.githubusercontent.com/5017479/136643896-8a15a60b-16b1-4666-87c0-219eb32b23c7.mp4

[2021-10-10 22:31] willibrandon commented on #5405
AddToRecent

Controls whether to add the file being opened or saved to the recent documents list.

https://user-images.githubusercontent.com/5017479/136714819-ce38632f-7730-48b6-aac1-90de9034f0ee.mp4

[2021-10-12 04:26] willibrandon commented on #5405
NoReadOnlyReturn

Controls whether read-only items are returned.

https://user-images.githubusercontent.com/5017479/136891252-367c4537-f1e8-4ed7-b66b-b8fe3097f788.mp4

[2021-10-12 07:41] vladimir-krestov commented on #4754
@Zheng-Li01, please check if this is a duplicate of #3640. If so, please close one of them.

[2021-10-12 21:13] Backadal441 opened #5957 "Child controls in nested split container scale incorrectly on secondary monitor."
* .NET Core Version:  .NET 6 RC1

* Have you experienced this same bug with .NET Framework?:  Have not tested

**Problem description:**
Child controls in nested split container scale incorrectly on secondary monitor. Look at the following steps.
Put a split container control on the form. Put another inside panel 2 of the first split container, dock=full. Put buttons as depicted below. Form’s AutoS

[2021-10-13 05:14] willibrandon commented on #5405
NoTestFileCreate

Controls whether to create a test file.

https://user-images.githubusercontent.com/5017479/137071297-7030f608-daf0-43ac-a2ca-a5cbd752db5d.mp4

[2021-10-13 06:03] ArtemTatarinov commented on #4207
After discussion with @merriemcgaw we decided to close this issue. The Items list of the DomainUpDown control couldn't be visible at UI, there's no way to show them as a dropdown list, etc. The user cannot interact with them as a list from UI, and then they aren't needed in the control's hierarchy shown by the Inspect. So, not showing the "Items" list in the Inspect tool is a new, but expected beh

[2021-10-13 06:03] #4207 closed

[2021-10-13 06:28] Marie-Shi commented on #4754
@vladimir-krestov Maybe those two issues are not same.
For [4754](https://github.com/dotnet/winforms/issues/4754), there some contents in RichTextBox, when we Tab to RichTextBox, first there is no Narrator's blue cursor(Narrator rectangle can't focus on the entire context of RichTextBox), then we press Left arrow key, it will focus on single character
![4754](https://user-images.githubusercontent.

[2021-10-13 10:20] SergeySmirnov-Akvelon opened #5960 "ListView not firing GroupCollapsedStateChanged when user expands/collapses a ListViewGroup using the keyboard"
.NET Core Version:
- .NET Core SDK: 7.0.0-alpha.1.21512.1

Have you experienced this same bug with .NET Framework?:
- No. `ListViewGroup.CollapsedState` was implemented in .NET Core 5.0 (#3155)

**Repro steps:**
1. Create a `Form` with a `ListView`.
2. Add `ListViewGroups` to the `ListView` (`ListViewGroups` should have `CollapsedState = ListViewGroupCollapsedState.Expanded` or `CollapsedState = L

[2021-10-13 11:47] SergeySmirnov-Akvelon opened #5961 "Row header border line of the DataGridView control has very low luminosity contrast ratio"
.NET Core Version:
* .NET Core SDK: 7.0.0-alpha.1.21512.1

Have you experienced this same bug with .NET Framework?:
* Yes

**Repro steps:**

1. Create a `Form` with a `DataGridView`.
2. Add multiple columns to a `DataGridView`.
3. Add several rows to the `DataGridView`.
4. Set `DataGridView.RightToLeft = RightToLefYes`
5. Run the application.

**Actual behavior:**
Row header border line of the `Da

[2021-10-13 20:29] #5854 closed

[2021-10-13 23:07] RussKie commented on #5405
I'm a little confused by the behavior - with the flag=on a file was created (testfile1), and when the flag=off there was no file created (testfile2). [The docs](https://docs.microsoft.com/previous-versions/visualstudio/visual-studio-2013/bb167321(v=vs.120)) say that the created file may be inaccessible after the create. What was your experience?

[2021-10-14 08:39] bairog commented on #4451
Using the [code on the issue itself](https://github.com/dotnet/winforms/files/5807234/Core4451.zip), I've just run it using .NET 6 SDK version **6.0.100-rc.2.21505.57** in Microsoft Visual Studio Enterprise 2022 Preview (64-bit) Version **17.0.0 Preview 5.0**, using .NET 6 as the target Framework in the **Core4451** project.
Unfortunately the issue can still be reproduced - it works in **.NET Fram

[2021-10-14 09:46] ghost opened #5974 "The Parent type of a form should set valid derived type."
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?:

**Problem description:**
* And picture box don't contains another picture box on `Document Outline` Window.
![image](https://user-images.githubusercontent.com/23723575/137295750-ea5d22a2-afe2-4585-a508-f3b3bcbe102a.png)

* I think the code isn't strict.
[code]

**Expected behavior:**

**Minimal repro:**

[2021-10-15 00:26] RussKie commented on #5405
Thank you for the explanations 👍

Ah, I must have missed "create" bit, and that's what got me confused.

[2021-10-15 04:14] willibrandon commented on #5405
I need to make the demo more clear somehow. Anyways, we should move on to ShareAware. That one is way more interesting.

[2021-10-15 05:12] willibrandon commented on #5405
ShareAware

Controls whether the application is called back for guidance in the case of a sharing violation.

https://user-images.githubusercontent.com/5017479/137435623-d94562f7-7c57-4e88-9464-c2b3ecfebd0a.mp4

[2021-10-15 08:18] Olina-Zhang opened #5980 "[Accessibility] AccessibilityInsight: An onscreen element must not have a null BoudingRectangle property for ListView items when they are under a collapsed ListViewGroup"
* .NET Core Version:
.Net 6.0.100-rtm.21513.45 SDK build

* Have you experienced this same bug with .NET Framework?:
No, there is no CollapsedState property for ListViewGroup

**Minimal repro::**
1. Create a winforms application with ListView added
2. Add a ListViewGroup, and set its CollapsedState to Collapsed
3. Add several items and then set items' group to this added group
4. Build and run app

[2021-10-15 08:28] Olina-Zhang opened #5981 "AccessibilityInsight: Inspect: IsExpandCollapsePattemAvailable property for ListViewGroup should be false when setting ListViewGroup's CollapsedState is default"
* .NET Core Version:
.Net 6.0.100-rtm.21513.45 SDK build

* Have you experienced this same bug with .NET Framework?:
No, there is no CollapsedState property for ListViewGroup

**Minimal repro:**
1. Create a winforms application with ListView added
2. Add a ListViewGroup, and set its CollapsedState to Default
3. Add several items and then set items' group to this added group
4. Build and run app, t

[2021-10-15 17:05] andersforsgren commented on #1436
Please reevaluate for vNext

[2021-10-15 19:26] willibrandon commented on #5405
Before I forget I would like to take a moment and say thank you to the Windows Forms team for making this project available on GitHub. Regardless of what happens with this proposal, this has been a truly wonderful learning experience that I will never forget. Thank you.

[2021-10-15 23:39] willibrandon commented on #5405
FolderChanging

Occurs just before the user navigates to a new folder.

Allows the application to prevent navigation to a particular location.

https://user-images.githubusercontent.com/5017479/137564634-f8f9f1f6-d3b5-4b15-937b-b98a8ec7d045.mp4

[2021-10-16 06:49] willibrandon commented on #5405
Overwrite

Called from the save dialog when when the user chooses to overwrite a file.

https://user-images.githubusercontent.com/5017479/137576966-66aaa263-d061-4a06-aec3-53d4e20f5bae.mp4

[2021-10-17 01:03] willibrandon commented on #5405
I have noticed more file dialog features that have not been implemented yet. [IFileDialogCustomize](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nn-shobjidl_core-ifiledialogcustomize) exposes methods that allows the application to add custom controls to the dialogs and [IFileDialogControlEvents](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl/nn-shobjidl-ifiledialog

[2021-10-17 04:42] willibrandon commented on #5405
I've just discovered that there is more to the ShareAware/ShareViolation feature. I need to take a closer look at [IFileIsInUse](https://docs.microsoft.com/en-us/windows/win32/api/shobjidl_core/nn-shobjidl_core-ifileisinuse).

[2021-10-17 20:41] Snappee commented on #4623
I've recently been working on an existing WinForms application that uses .NET 5.0 - it previously had no DB Support.  I just added 'EntityFrameworkCore' 6.xx Preview support (and associated libraries), created the DBContext and associated entity tables.

1) Lack of Data Source Support in VS 2019 (for .NET 5.0)  - kind of a mess if you ask me ;):
I ran into the above problems when I went to create

[2021-10-18 09:46] Lydia-Shi opened #6000 "[AccessibilityInsight] Luminosity contrast ratio of the border lines of the Column Header&Cell are less than 3:1 when disabled HeaderVisualStyles for DataGridView"
* .NET Core Version:
.NET 6.0.100-rtm.21513.37

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Luminosity contrast ratio of the border lines of Column Header and cell are less than 3:1.
Scenario1:
![image](https://user-images.githubusercontent.com/54019172/137707680-78184655-0e19-4e49-a37d-65aef40ed1ce.png)
Scenario2:
![image](https://user-images.githubuse

[2021-10-18 10:18] kelicto opened #6001 "The TextAlign of a label set MiddleCenter is invalid."
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?: Y

**Problem description:**
![image](https://user-images.githubusercontent.com/23723575/137712723-67aeda32-61b7-47e8-92d6-7c6b3571cfa2.png)

**Expected behavior:**
![image](https://user-images.githubusercontent.com/23723575/137835929-0db42a38-299a-41b3-99ef-e34e78c49f56.png)

**Minimal repro:**

[2021-10-19 01:15] RussKie commented on #6001
Please fill out the template correctly explaining what you believe the issue is, what you think the correct behaviour is, and provide a simple standalone sample.

[2021-10-19 02:48] IDEExperienceTestSolution opened #6012 "Odd icons in Properties window in Dark theme"
* .NET Core Version:
6.0 rtm 21518.52

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
In dark them, odd icons in Properties window with extra pixilation issues around them

![CustomerOddIcons](https://user-images.githubusercontent.com/90816462/137835366-22beea27-2a85-4b39-b134-b7aab580c0f1.png)
![OddIcons](https://user-images.githubusercontent.com/90816462

[2021-10-19 03:20] #6001 closed

[2021-10-19 04:57] willibrandon commented on #5405
I just updated the proposal above. If you would like me to add anything or have any questions, please let me know. Thank you for letting me take a look at this. Its been really fun.

[2021-10-19 09:04] Marie-Shi commented on #3162
Verified this issue with Version 17.1.0 Preview 1.0 [31817.31.main] + .Net 6.0.100-rtm.21518.55, it is not repro. Now Inspect shows expanded state when font property is expanded. So close it.
![11111](https://user-images.githubusercontent.com/45864017/137878303-f51caea9-552e-40dd-b69b-786d0b20f6c2.png)

[2021-10-19 09:56] ghost opened #6013 "About using `SetRowSpan` method of a `TableLayoutPanel` object problem."
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
![image](https://user-images.githubusercontent.com/23723575/137888786-b12de385-ec84-4157-8da0-636164911ea6.png)

NOTE: `Dock = DockStyle.Fill`

**Expected behavior:**
I want to set row span, but I don't know why don't span some rows today. Then, I found my mini demo about merging cell. I

[2021-10-19 23:35] RussKie commented on #5405
Can you please add xml-docs for each new property explaining the purpose and denoting default values?

[2021-10-20 12:59] vladimir-krestov opened #6020 "Narrator doesn't announce TextPattern elements"
* .NET Core Version: 7.0 (main)
* Doesn't repro for .NET 6.0 (release)
* Regression from #5404

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
- TextPattern doesn't for for TextBox

**Expected behavior:**
- TextPattern should work as before (.NET 6.0)

**Minimal repro:**
- Run a 7.0 test app with a TextBox
- Run Narrator
- Try to input/select/navigate in th

[2021-10-20 13:27] SergeySmirnov-Akvelon opened #6021 "The color contrast of the button border is less than 3:1"
.NET Core Version:
- 7.0.0-alpha.1.21519.1

Have you experienced this same bug with .NET Framework?:
- Yes (based on [#1101503](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1101503))

**Repro steps:**

1. Create a form with a button.
2. Run the application.

**Actual behavior:**
`Button.FlatStyle= FlatStyle.Popup`:

![image](https://user-images.githubusercontent.com/23376742/138100874-e9

[2021-10-21 15:01] TonyValenti opened #6043 "ClickOnce - Value Does Not Fall Within the Expected Range"
### Description

Sometimes when trying to run my Click-Once deployed app, I get the above error

### Reproduction Steps

Not Sure.

### Expected behavior

It should work

### Actual behavior

I get this error:
[ExpectedRange.log](https://github.com/dotnet/runtime/files/7390672/ExpectedRange.log)

### Regression?

Not sure.  Just started using ClickOnce + .NET 6.x

### Known Workarounds

Completely

[2021-10-21 19:46] runfoapp[bot] opened #8852 "system.drawing.tests.pentests.ctor_color_width failing in CI"

[2021-10-22 02:52] Ashley-Li commented on #4206
@Nechto37 Verified this issue with the latest .Net SDK 6.0.100-6.1.21.52111 build, it is fixed. Now there is the additional "group" list level of the ListView control in the inspection tool and it work well using Inspector. Please see below result:
![image](https://user-images.githubusercontent.com/56664234/138385601-65ec0463-d6b8-4b19-b0c0-8116b6455fdf.png)

[2021-10-22 02:53] #4206 closed

[2021-10-22 08:58] Amy-Li03 opened #6037 "[Accessibility] An element must not have the same Name and LocalizedControlType as its parent for PropertyGrid control"
* .NET Core Version:
.Net SDK 6.0.100-rc.2.21505.57

* Have you experienced this same bug with .NET Framework?:
Yes

**Actual behavior:**
AccessibilityInsights detected an error: An element must not have the same Name and LocalizedControlType as its parent.
![image](https://user-images.githubusercontent.com/62929087/138424368-98a68507-5d74-440c-88a0-ef2489bbd1a6.png)

**Expected behavior:**
Access

[2021-10-22 09:30] Lydia-Shi opened #6038 "[AccessibilityInsight] Luminosity contrast ratio of sorting arrows of DataGridView are less than 3:1 when setting HeaderVisualStyle to false and ColumnHeader.BackColor to any color"
* .NET Core Version:
.NET Core 6.0.100

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
The contrast ratio of sorting arrows are less than 3:1.
![image](https://user-images.githubusercontent.com/54019172/138429104-a30c25a3-cdce-4e8e-9fe8-2de99df341f8.png)

**Expected behavior:**
Luminosity contrast ratio of sorting arrows are greater than 3:1.

**Minimal re

[2021-10-22 10:08] #6013 closed, assigned to nobody

[2021-10-22 10:09] #5974 closed, assigned to nobody

[2021-10-22 18:55] kirsan31 opened #6041 "Form Layout (control size) bug with Anchor = Top | Bottom"
* .NET Core Version: all up to 6.0 rc2

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
Form, with any control and `Anchor = AnchorStyles.Top | AnchorStyles.Bottom`.
1. Remember form size and distance from bottom of this control to the bottom of the form.
2. Resize the form that this control become off-screen (if any part of the control still be visible - a

[2021-10-23 23:21] #5980 closed, assigned to nobody

[2021-10-25 07:11] #5981 closed, assigned to nobody

[2021-10-25 13:40] SergeySmirnov-Akvelon opened #6062 "The color contrast of the border of the CheckBox and RadioButton in the button mode is less than 3:1"
.NET Core Version:
- 7.0.0-alpha.1.21519.1

Have you experienced this same bug with .NET Framework?:
- Yes

**Repro steps:**

1. Create a form with a `CheckBox` or `RadioButton`.
2. Set `Appearance = Appearance.Button`.
3. Run the application.

**Actual behavior:**
`CheckBox` and `RadioButton` when
[code]
![image](https://user-images.githubusercontent.com/23376742/138706224-905e0ac3-d9bc-4ff9-a9e8

[2021-10-26 01:10] Tanya-Solyanik opened #6064 "remove probing for availability of oleacc.dll"
https://github.com/dotnet/winforms/blob/04c640ce75a7b0afab590cad10486393b9de3003/src/System.Windows.Forms/src/System/Windows/Forms/Control.ControlAccessibleObject.cs#L228-L232

This code can reference https://docs.microsoft.com/en-us/windows/win32/api/oleacc/nf-oleacc-createstdaccessibleobject with no probing for `oleacc.dll` availability because it is available on Windows 2K+ and Server 2003+ and

[2021-10-26 07:05] SVD102 opened #6065 "The Form Builder (Winforms) does not open in VS 2019 (ver 16.11.5)"
* .NET Core Version: 5.0

* Have you experienced this same bug with .NET Framework?:  No

**Problem description:**

The WinForms project has successfully migrated from net framework 4.0 to NET 5.
Installed the latest update for VS 2019 (16.11.5)

The Form Builder(Winforms) does not open
After a small download, an error window appears:
"The JSON-RPC connection to the remote party was lost before th

[2021-10-26 12:52] Danil-Andrianov opened #6069 "Removing exception throwing from `RuntimeId` property type"
.NET Core Version:
- 7.0.0-alpha.1.21519.1

Have you experienced this same bug with .NET Framework?:
- No (Regression, stems from #5638)

**Repro steps:**
1. Launch WinformsControlsTest project
2. Click on "Dialog" button
3. Click on "Save file dialog" button
4. Click on "FileName" field in the property grid
5. Click on "Open file dialog" button

**Actual behavior:**
Exception is thrown when `sele

[2021-10-26 14:32] andrekoehler opened #6071 "ObjectDisposedException when closing a Form with TopMost=true inside its OnLoad event handler"
* .NET Core Version:
5.0.11

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

[code]

**Expected behavior:**
No exception.

**Minimal repro:**
Create a new Windows Forms App and change the code in Form1.cs as follows:
[code]
Then compile & run the application. The exception will occur immediately.

[2021-10-26 23:19] #6065 closed, assigned to nobody

[2021-10-27 10:49] kelicto opened #6072 "The Index of DataGridViewComboBoxCell error."
* .NET Core Version: -

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
![image](https://user-images.githubusercontent.com/23723575/139052349-f8d3676e-cc57-46b7-891f-d13786f8062c.png)
![image](https://user-images.githubusercontent.com/23723575/139051340-b26d33ef-ed6a-464e-a3de-eeccca78dde4.png)

**Expected behavior:**
Please see the above pictures. I don't

[2021-10-28 23:00] #6069 closed, assigned to Danil-Andrianov

[2021-11-01 06:25] willibrandon commented on #5884
New school style drag and drop.

![DragAndDropPoptartCat](https://user-images.githubusercontent.com/5017479/139630391-377fb3d2-3767-4042-8448-f777428b276f.png)

[2021-11-01 06:43] AraHaan commented on #6071
This is because you call Close in OnLoad() almost immediately.

[2021-11-01 07:51] vsfeedback opened #6093 ".NET 5.0, WinForms: Changing ShowInTaskbar will let CheckedListBox-items disappear."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NET-50-WinForms:-Changing-ShowInTaskb/1567672)._

---
[severity:I'm unable to use this version]
I create a new WinForms project with .NET 5.0, either with C# or VB.NET.
I add a CheckedListBox to the form and add some items via the designer.
With a Button-Click I change ```ShowInTaskbar``

[2021-11-01 08:20] VinoWang01 commented on #6093
* .NET Core Version: .NET Core 7.0.100-alpha.1.21531.1

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
The CheckedListBox's items are disappearing when set the Form's ShowInTaskBar property to false in run time.
![ShowInTaskBar](https://user-images.githubusercontent.com/90816462/139641850-0842c556-bcdd-424b-bb71-2baf87b4c041.gif)

**More info:**
1. This is

[2021-11-01 09:09] SergeySmirnov-Akvelon commented on #4033
Based on the investigation above and the fact that the `Click` and `KeyPress` methods initially contained checks for virtual mode, it was decided to consider the current behavior as expected.

[2021-11-01 09:09] #4033 closed

[2021-11-01 09:11] andrekoehler commented on #6071
@AraHaan Is there any documentation that states that this is a bad idea? In OnLoad we initialze a camera because it is a camera setup dialog and if anything goes wrong during that step we show an error MessageBox and then close the dialog.

[2021-11-01 11:48] SergeySmirnov-Akvelon opened #6094 "Add missing unit tests for "AccessibleObject.FragmentNavigate" method"
Add missing unit tests for the `AccessibleObject.FragmentNavigate` method to the following classes:
- [x] DataGridViewCellAccessibleObjectTests (https://github.com/dotnet/winforms/pull/7930)
- [x] DirectionButtonAccessibleObjectTests  (https://github.com/dotnet/winforms/pull/8036)
- [x] ListViewItem_ListViewItemBaseAccessibleObjectTests (https://github.com/dotnet/winforms/pull/8037)
- [x] ListView

[2021-11-01 11:51] KevRitchie commented on #5526
@RussKie it appears that it's not related to consecutive null values.  More that the control can't deal with multiple items with only "space" based characters.

Looking at the reproduction example provided, if you remove the spaces in the items that are only spaces, the control behaves as expected.

Would it make sense to trim whitespace when adding items to the list via the AddInternal method?

[2021-11-01 12:03] AraHaan commented on #6071
That is fine as long as something blocked the call before it tries to call Close() on the form.

[2021-11-01 12:05] Danil-Andrianov commented on #4494
@Olina-Zhang
Hi, Olina! The issue was fixed in [this PR](https://github.com/dotnet/winforms/pull/2096)
Additionally, it's also OK in .NET Core 3.1
Attach archive with application.
[Issue4494.zip](https://github.com/dotnet/winforms/files/7453077/Issue4494.zip)
Please, check the gif files below. First six controls support UIA provider by itself and remaining ones don't.
- **Support UIA provider**
<d

[2021-11-01 12:12] andrekoehler commented on #6071
@AraHaan So how do I know from which time on am I allowed to Close() the form? Should in use `BeginInvoke(() => this.Close())` inside the OnLoad handler?

[2021-11-01 12:39] SergeySmirnov-Akvelon opened #6095 "Remove unnecessary "DomainItemListAccessibleObject" and "DomainItemListAccessibleObject" classes."
**Problem description:**
In accordance with the behavior adopted in the #4207, we should not display the accessibility object for the `Items` component in the Inspect. Thus, we no longer need `DomainItemListAccessibleObject` and `DomainItemListAccessibleObject` classes responsible for this, as well as unit tests that check these classes.

As part of this bug, I propose to remove the `DomainItemLis

[2021-11-01 13:17] kirsan31 commented on #6071
@andrekoehler it's hard to say something concrete without full picture of your code.
 I think that the problem is in `TopMost = true;`. Try to set `TopMost = false;` before calling `Close();`...
Or even better set `TopMost = true;` in `OnLoad` **only** if you will show the form.

[2021-11-01 13:46] SergeySmirnov-Akvelon opened #6096 "Optimize virtual mode checking when user uses keyboard to change checkbox state"
**Problem description:**
[code]

To optimize and improve the code, I suggest placing the virtual mode check in the first condition:
`if (CheckBoxes && !VirtualMode)`

[2021-11-01 14:02] andrekoehler commented on #6071
@kirsan31 You don't need any more code than I provided in order to reproduce what is in my opinion a bug. Setting TopMost = false; before calling Close(); is indeed the workaround I am using in our project right now but I wanted to report this so it can get fixed.

[2021-11-01 14:06] kirsan31 commented on #6071
it's was about this your sentence:

[2021-11-01 16:53] #5493 closed

[2021-11-01 19:53] dreddy-work commented on #5405
@willibrandon, This is still on our radar. Team is still wrapping few things in .NET 6.0 and VS releases and should be able to take this further by end of this month.

[2021-11-02 00:56] RussKie commented on #6071
Looks like you found a workaround. Since this is an existing behaviour (i.e., .NET Framework reproduces the same) we are not going to change it.

[2021-11-02 00:56] #6071 closed

[2021-11-02 01:27] RussKie commented on #6094
Can you please elaborate why we need to skip them, and at what point we will be able to unskip them?

[2021-11-02 01:46] willibrandon commented on #5405
@dreddy-work, thanks for the update, looking forward to it.

[2021-11-02 02:08] roland5572 commented on #5884
Yes, that's a perfect effect.

[2021-11-02 02:45] willibrandon commented on #5884
@roland5572 - you have really good ideas.

[2021-11-02 03:58] roland5572 commented on #5884
Thank you. I also have some ideas about WPF, if you are interested, you can check it out.

https://github.com/dotnet/wpf/issues/5565
https://github.com/dotnet/wpf/issues/5566

[2021-11-02 04:50] willibrandon commented on #5884
I will check those out.

For this issue my interest has been piqued. Has any progress been made on a proposal?

[2021-11-02 06:08] Shyam-Gupta opened #6099 "Localized description doesn't show up for WinForms templates for Chinese locale"
**.NET Core Version:** 6.0 RTM

**Have you experienced this same bug with .NET Framework:** No

**Minimal repro:**

1. On an ENU OS, install ENU Dev17 GA VS build
2. From VS installer also install language packs for Chinese Simplified and Traditional
3. Change VS language from ENU to Chinese from VS -> Tools -> Options -> Environment -> International Settings -> Language
4. Restart VS
5. Click on

[2021-11-02 06:51] RussKie commented on #6093
This appears to be a regression introduced in .NET 5.0 timeframe, and it affects `ListBox` and `CheckedListBox` controls.
The `ListBox` control is rendered as readonly with the incorrect background, though it remains enabled and usable. The `CheckedListBox` control loses its state completely.

![image](https://user-images.githubusercontent.com/4403806/139774029-1f175a1d-f3db-46cc-84c6-9da7faea3b23

[2021-11-02 13:56] SergeySmirnov-Akvelon commented on #3285
To address this problem, a #6094 was created with a list of test classes to which missing unit tests should be added

[2021-11-02 13:56] #3285 closed

[2021-11-02 14:16] SergeySmirnov-Akvelon commented on #6094
Sorry for the confusion. Task about missing unit tests, which for some reason we forgot to add, although the accessibility object has an explicit override for the `FragmentNavigate` method. In scope of this task, we plan to add these tests.

[2021-11-02 14:36] ArtemTatarinov opened #6103 "Convert nullable string properties to non-nullable at `AccessibleObject`"
Some properties at the `AccessibleObject` class have a nullable `string?` type, like: `DefaultAction`, `Description`, `Help`, `KeyboardShortcut`, `Name`, `Value`. We're trying to avoid `null` values and return `string.Empty` instead. We should convert these properties to non-nullable.

_Originally posted by @dreddy-work in https://github.com/dotnet/winforms/pull/5745#discussion_r740372801_

[2021-11-02 17:09] #6064 closed, assigned to nobody

[2021-11-03 06:25] vladimir-krestov commented on #5933
@Olina-Zhang, could you please check, that this Issue is fixed for:
- .NET 6.0: after #6003
- .NET 7.0: after #5832
If so, please close this Issue.

[2021-11-03 06:52] RussKie commented on #3300
Resolved by #5375

[2021-11-03 06:52] #3300 closed

[2021-11-03 08:20] VinoWang01 opened #6116 "[Accessibility] [Color Contrast] The Link is hard to see when the dataGridViewlinkcell is clicking and after clicking when the dataGridView row is highlighted/selected situation"
* .NET Core Version: .NET 7.0.100-alpha.1.21552.6

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
When user select/highlight the full row of DataGridView, then click the link in the link cell. The link is hard to see when clicking and after clicking it.
Clicking:
![Clicking](https://user-images.githubusercontent.com/90816462/140027888-a2af72b4-603d-44b5-92

[2021-11-03 09:40] Olina-Zhang commented on #4494
@Danil-Andrianov Thanks for your testing, I have the same testing result with you.

[2021-11-03 10:30] Danil-Andrianov commented on #4494
@Olina-Zhang The problem is not reproduced, therefore, I agree. Please, close this issue, I just can't do this because of lack of rights.

[2021-11-03 13:08] Danil-Andrianov commented on #6116
@merriemcgaw Hi, Merrie! I have two options for this issue's resolving. Please, see the gifs below.
![ver1](https://user-images.githubusercontent.com/74228865/140065492-ea429f5d-1699-485f-a18b-7d087e3ce1b9.gif)
![ver2](https://user-images.githubusercontent.com/74228865/140065506-96b48a5b-26a1-4247-b71f-52085fbd803e.gif)
Maybe you could suggest better colors?

[2021-11-03 18:44] merriemcgaw commented on #5933
I left comments in the original AzDO bug, @Olina-Zhang if you could provide those testers with the sample app and 6.0 GA that would be super helpful!

[2021-11-03 22:54] #4494 closed

[2021-11-04 02:17] Olina-Zhang commented on #5933
Verified this issue in the latest .Net 7.0 and the latest .Net 6.0 build, they all are fixed. Please see following testing result:
.Net 7.0:
![image](https://user-images.githubusercontent.com/26474449/140245890-caf8327e-6db6-4639-a251-c5b44d8a3f4d.png)
.Net 6.0:
![image](https://user-images.githubusercontent.com/26474449/140246477-b3d46c98-1463-4d54-a175-c04b0e1d3593.png)
Closing this issue now.

[2021-11-04 02:17] #5933 closed

[2021-11-04 03:46] willibrandon commented on #5884
Okay then if nobody minds, I will take a closer look. I need to learn quite a bit more about drag and drop before I would be comfortable suggesting anything but I think with a little focus it is doable. Drag images (of cats mostly) and text.

[2021-11-04 04:18] udaken opened #6119 "Short freeze when clicking on ListViewGroup header"
* .NET Core Version:
6.0.100-rc.2.21505.57

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
When I click on the last group of a ListView that has many (I used 1000 groups) ListViewGroups, the app freezes for a short time.

In my environment, .NET Framework 4.8, it does not freeze when I click on it.
.NET 6 will freeze.

![1000](https://user-images.githubuser

[2021-11-04 05:02] RussKie commented on #6119
I am afraid I do no observe any significant discrepancy in selection times as far as this non-scientific method goes, all selections appear to be happening in comparable time:
https://user-images.githubusercontent.com/4403806/140260275-9791436b-77a5-4521-ba9a-758cdc40a940.mp4

For us to investigate further we'll need a repro with measurements and results that clearly indicate a regression.

[2021-11-04 05:20] udaken commented on #6119
@RussKie
Thank you for making an important point.

To manifest this problem, using more groups can be effective.
Using 1000 groups will cause the application to stop responding.
![1000](https://user-images.githubusercontent.com/7896698/140262006-b73540be-ca47-4f3e-adf1-bc3c25c99b56.gif)

[2021-11-04 05:26] udaken commented on #6119
I have updated the Issue and Minimal repo.

[2021-11-04 05:50] RussKie commented on #5884
👍

From: Brandon Williams ***@***.***>
Sent: Thursday, 4 November 2021 2:47 PM
To: dotnet/winforms ***@***.***>
Cc: Igor Velikorossov ***@***.***>; Comment ***@***.***>
Subject: Re: [dotnet/winforms] support drag and drop with icon and text label (#5884)

Okay then if nobody minds, I will take a closer look. I need to learn quite a bit more about drag and drop before I would be comfortable suggest

[2021-11-04 07:08] hdefucom opened #6139 "When there are a certain number of controls in WinForm project, vs cannot load pdb file for breakpoint debugging.(.NetFramework4.0)"
### Describe the bug

When there are a certain number of controls in WinForm project,
vs cannot load pdb file for breakpoint debuggingm.
I removed the controls one by one and found that there was a critical point beyond which the pdb file could not be loaded.
But it's not clear how much.
I'm talking about the number of controls on the **form designer**, not the number of controls dynamically added

[2021-11-04 09:31] frrd55l commented on #4790
I have the same issue as dang-gun, but i'm trying to use https://github.com/PaulaScholz/WindowsFormsDataVisualization.
![image](https://user-images.githubusercontent.com/17738054/140290195-5c83015a-fb7d-4232-808b-002494ad4255.png)

[2021-11-04 17:20] MisinformedDNA commented on #5915
@KlausLoeffelmann @dreddy-work Can I get some help? How do I get this resolved?

[2021-11-04 19:26] KlausLoeffelmann commented on #5915
Hey @MisinformedDNA,

thanks for reporting that. We would need a repo which doesn't use a third party custom control, of which we don't know how compatible it is with the new designer.

Please also note that Designer support for Typed DataSets is limited for .NET WinForms Apps, since the Data Source Provider Service (which are necessary for maintaining Typed DataSets and get the necessary componen

[2021-11-04 19:32] MisinformedDNA commented on #5915
@KlausLoeffelmann The project does not depend on a 3rd party, that dependency was removed Oct 5 (see above).

The note about designer support for Typed DataSets is more of an FYI, since I'm using WinForms? Is that correct?

[2021-11-04 19:50] KlausLoeffelmann commented on #5915
No, there might be issues, but I never personally encountered code-loss with using them.
And sorry, I was watching your video primarily and saw it had the dependency to DevExpress. I missed that you removed that dependency. I would need to investigate some more, but it's taking a few days at least, so I'd ask to hang in there for a bit longer!

[2021-11-04 22:10] MisinformedDNA commented on #5915
@KlausLoeffelmann Thanks for looking into it!

[2021-11-05 00:39] merriemcgaw commented on #4790
Hi @frrd55l we currently only have runtime support for the Chart Control, we do not have the VS Control Designer created for the Chart Control. We created that repo in order to help people who were porting from .NET Framework and need to have access to the chart control but have generally already gotten it configured. The recommendation is that whatever code you might have had generated in Initial

[2021-11-05 01:36] RussKie opened #6125 "Recreate handle resizes the form on monitor with non-default DPI"
* .NET Core Version: **all**
* Have you experienced this same bug with .NET Framework?: haven't checked

**Problem description:**

On a monitor with non-default DPI (e.g. 150%, 200%, etc.) a form changes its dimensions upon recreation of its handle:

https://user-images.githubusercontent.com/4403806/140443304-0be2fda6-f37e-40b1-b1f8-d4467ba18339.mp4

On a monitor with 100% scale factor everything

[2021-11-05 01:38] #6093 closed

[2021-11-05 02:02] Amy-Li03 opened #6126 "When targeting to multiple SDKs, winforms project build failed with error: CSC : error CS8630: Invalid 'nullable' value: 'Enable' for C# 7.3. Please use language version '8.0' or greater."
* .NET Core Version:
.NET SDK 6.0.100

* More info:
1. When targeting to multiple SDKs with `net5.0-windows;net48`, this issue also repro.
2. When targeting to multiple SDKs with `netcoreapp3.1;net48`, this issue doesn't repro.

* Have you experienced this same bug with .NET Framework?:
No

**Actual behavior:**
The WinForms project build failed with error: CSC : **error CS8630: Invalid 'nullable'

[2021-11-05 02:05] Amy-Li03 commented on #6126
There is a similar issue: https://github.com/dotnet/templating/issues/3297

[2021-11-05 03:35] peterYong opened #6127 "HelpProvider"
I have encountered the following problem when using HelpProvider (.Net Framework 4.5):
When two chm files are associated, the first chm is opened first, then the second chm is opened, both are normal. At this time, the first chm is closed, and then the first chm is opened again, and the problem occurs: the title of the first chm becomes the title of the second chm, but the rest is normal.

[2021-11-05 06:41] Atma9 commented on #4790
Dear Merrie, Considering that it takes so much time to implement support of VS Control Designer for .NET Core, is it possible to share, if this is something that is actually planned to be implemented? Is this 1 year, 2year in to the future? .NET Core works great, as long as the winforms designer and related api is not used. We would appreciate very much a project with example, how to debug winform

[2021-11-05 16:56] dreddy-work commented on #4947
This does not repro with latest binaries in 6.0/7.0 branch here. I am closing the issue but feel free to reopen if you can repro it with latest release here.

![image](https://user-images.githubusercontent.com/36968667/140548780-129826b9-cd7d-424a-9140-7daa3f049399.png)

[2021-11-05 16:56] #4947 closed

[2021-11-05 17:11] #4838 closed

[2021-11-05 17:15] dreddy-work commented on #6041
@kirsan31 , This should be resolved with latest binaries from main branch.

[2021-11-05 17:44] kirsan31 commented on #6041
@dreddy-work
You mentioned that this is fixed in https://github.com/dotnet/winforms/pull/6122.

But:
- this issue is not DPI related.
- this issue is repro with .NET Framework 4.7.2 too.

[2021-11-05 17:56] dreddy-work commented on #6041
Our test team ran this scenario and they do not see this issue with latest binaries. Let me check this myself and until then i will keep this open.

[2021-11-05 18:24] dreddy-work commented on #6041
@kirsan31 , i tried myself with latest binaries from main branch and issue doesn't repo.  It was my mistake to say it was introduced in 4.8. it was actually introduced at teh end of 2016 and that timeline aligns with 4.7.

[2021-11-05 18:25] dreddy-work commented on #6041
regression introduced here (internal reference)https://devdiv.visualstudio.com/DevDiv/_workitems/edit/275828

[2021-11-05 19:12] kirsan31 commented on #4790
@Atma9 latest available info on this is [here](https://github.com/dotnet/winforms/discussions/5220).
@frrd55l and [this part](https://github.com/dotnet/winforms/discussions/5220#discussioncomment-982604) is about chart control.

[2021-11-05 20:58] dreddy-work commented on #6127
Can you add a sample and a gif of what you are observing here?

[2021-11-05 21:01] dreddy-work commented on #6126
@RussKie to follow-up on this.

[2021-11-08 05:37] willibrandon commented on #5884
Alpha blended drag image.

![nyancat_alphablended](https://user-images.githubusercontent.com/5017479/140689598-f33e4778-24f6-4d1c-b479-5fb692df1899.png)

[2021-11-08 08:06] ArtemTatarinov opened #6137 "Use getting scaled bitmap method for icons"
Use the `GetScaledBitmapFromIcon` from the `DpiHelper` class for getting scaled bitmaps from icons the same way it is used at the `ToolStripScrollButton` class.

@Can you move this resizing Bitmap logic to `DpiHelper` class and create a new issue to track it for remaining Icons in winforms?

_Originally posted by @dreddy-work in https://github.com/dotnet/winforms/pull/5976#discussion_r742237740_

[2021-11-08 08:42] willibrandon commented on #5884
Drag image with drop description proof of concept.

https://user-images.githubusercontent.com/5017479/140710120-340e51fc-3916-4008-ac55-e74c64af87cf.mp4

[2021-11-08 11:42] peterYong commented on #6127
Hi, I uploaded HelpProviderDemo.zip, which includes a C# source code and a video in wmv format.
The operation steps are
1. Click First chm file
2、Click second chm file
3、Close User manuals
4、Click First chm file
As a result, the title bar of User manuals changed to Instruction Manual, why?

[HelpProviderDemo.zip](https://github.com/dotnet/winforms/files/7496596/HelpProviderDemo.zip)

[2021-11-08 19:18] #6021 closed

[2021-11-09 00:28] RussKie commented on #5912
Marking as ready for the API Review Board to consider.

[2021-11-09 00:33] RussKie commented on #5112
Planning to confirm  with the Widows team on expected behaviors.

[2021-11-09 00:43] merriemcgaw commented on #5884
This is awesome stuff! Have you thought about whether we should support for dragging something with a drag source outside of the application? Like picking up a file from Windows to copy into your app.

[2021-11-09 00:47] RussKie commented on #5509
This is related to https://github.com/dotnet/winforms/issues/2644

/cc: @weltkante

[2021-11-09 01:14] hdefucom commented on #6126
You can specify the language version manually.

![image](https://user-images.githubusercontent.com/51500043/140843554-d0d75190-8c5b-45e6-85e0-a15e10df7571.png)

[2021-11-09 01:30] hdefucom commented on #6126
Because net6's project template will add `Nullable` by default.
The .Net framework uses c#7.3 by default.
So you can modify the language version or remove the Nullable configuration node

[2021-11-09 02:16] Amy-Li03 commented on #6126
@hdefucom Thanks for your workaround, but it seems that it is not working for me.
After modify the language version and remove the Nullable configuration node, another error pops up once build this project.
![image](https://user-images.githubusercontent.com/62929087/140849063-255c4659-3239-480e-ad66-1ec95073b1f4.png)

[2021-11-09 02:21] hdefucom commented on #6126
This problem is caused by the different default reference namespaces of NetCore and NetFramework.
you can -->
![image](https://user-images.githubusercontent.com/51500043/140850010-4d0b9525-0b07-4dc7-bb12-ea3705f46127.png)