[2022-03-28 21:18] yuvalrakavy opened #6922 "ListBox.IndexFromPoint returns incorrect result in case of no match"
### Description

It should return ListBox.NoMatches (-1) and instead it returns 0xffff (16 bits)

### Reproduction Steps

Create an owner draw listbox trap mouse event and call IndexFromPoint on a point which is not on any item

### Expected behavior

Function should return ListBox.NoMatches (int -1)

### Actual behavior

The return value is 65535.

### Regression?

_No response_

### Known Workar

[2022-03-29 00:13] RussKie commented on #6922
@yuvalrakavy Is this an existing behaviour observed in .NET Framework, or is this a regression? If the latter, in which version did it regress?
Also a standalone repro will help triaging the issue correctly.
Thank you.

[2022-03-29 05:06] RussKie commented on #6915
I suppose you meant "it **can** repro".

I've looked at the code, and it doesn't look at ever worked since we ported this code to .NET Core.
![image](https://user-images.githubusercontent.com/4403806/160537257-da1da428-6187-4ea2-a126-45e476ace3a6.png)

[2022-03-29 06:58] vladimir-krestov commented on #3626
@Olina-Zhang, please close this bug, if #6250 fixed it.

[2022-03-29 09:18] runfoapp[bot] opened #6926 "Flaky test DataGridView_OnColumnHeadersHeightChanged_InvokeWithHandle_CallsColumnHeadersHeightChanged"
Runfo Tracking Issue: [Flaky tests: CallsColumnHeadersHeightChanged](https://runfo.azurewebsites.net/tracking/issue/310)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[163764](https://dev.azure.com/dnceng-public/public/_build/results?buildId=163764)|[dotnet-winforms CI](https://dnceng-public.visualstudio.com/public/_build?definitionId=76)|Rolling|Windows_arm64-xunit|
|[163764](https://dev.az

[2022-03-29 10:29] RussKie opened #6928 "`GetDocFiles` may run more than once"
`GetDocFiles` may run more than once:
https://github.com/dotnet/winforms/blob/725161305d1c0fe9a88914ae81466dc79dad3f38/eng/packageContent.targets#L23

This may cause build failures due to a race condition, e.g., [this build](https://dev.azure.com/dnceng/public/_build/results?buildId=1679927&view=results):
[code]

[BuildSrc-x86.zip](https://github.com/dotnet/winforms/files/8370456/BuildSrc-x86.zip)

[2022-03-29 10:31] RussKie commented on #6928
@KirillOsenkov I wonder if you could help me here. Is there some magic switch to prevent re-running a target?

[2022-03-29 10:41] kant2002 commented on #6928
This target is in all projects, and thus they are executed for all projects. Is pushing Inelisense related steps to separate project is proper solution, or maybe create special parameter which will trigger processing of only Intellisense files.

[code]

OR maybe create fake `doclayout.proj` (or find appropriate existing one) and execute Intellisense related targets there?

[2022-03-29 10:43] RussKie commented on #6928
I need to think it through once I get some head space. This target was originally copied from dotnet/runtime, perhaps it's invoked somewhat differently in their build.

[2022-03-29 10:47] RussKie commented on #6928
Few quick thoughts while I'm at it.

`CopyIntellisenseXmlsToTargetRefPath` is run for each individual project:
https://github.com/dotnet/winforms/blob/725161305d1c0fe9a88914ae81466dc79dad3f38/eng/packageContent.targets#L125-L130

Maybe it needs to be augmented to copy the intellisense files from the intellisense bundle to the target ref folder. Or, perhaps `GetDocFiles` needs to be rewritten to be

[2022-03-29 10:49] kant2002 commented on #6928
Can you explain why all this machinery needed and what purpose it's serves?

[2022-03-29 10:54] RussKie commented on #6928
These targets ensure the intellisense definitions (which come from a separate system related to the docs in Microsoft.Private.Intellisense.nupkg) are packaged in when we run `.\build -pack` alongside the respective assemblies, and these artifacts then get packages into the Windows Desktop workload, which users install on their workstations.

[2022-03-29 10:56] kant2002 commented on #6928
How can I test that these thinks packaged properly? Check that list of files inside individual `nupkg` same as after changes (If I manage to make them)?

So I run `.\build -pack` and check for content of nupkg right.

[2022-03-29 13:21] isadkvc opened #6930 "DataGridView unshare rows in virtual model despite all conditions to prevent it are met."
### .NET version

6.0.201

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Tested with .NET Framework 4.6.1, same issue.

### Issue description

When creating `DataGridView` and setting `VirtualMode` to `true` it is not possible to prevent rows from becoming unshared.

As far as i see, i did everything that is described in this [arti

[2022-03-29 22:52] RussKie commented on #6928
Yes, run `.\build -pack` will produce two nupkg under .\artifacts\\packages\\<Configuration\>\\NonShipping folder. The package for the Windows Desktop workload is Microsoft.Private.Winforms.\<version>.nupkg. The intellisense files are located in the ref folder:
![image](https://user-images.githubusercontent.com/4403806/160719563-0e776015-7cbf-4981-8a75-cfe0159fcdad.png)
These files must be the sam

[2022-03-29 22:57] runfoapp[bot] opened #6933 "Flaky test: Splitter_OnSplitterMoved_Invoke_CallsSplitterMoved"
Runfo Tracking Issue: [system.windows.forms.tests.splittertests.splitter_onsplittermoved_invoke_callssplittermoved](https://runfo.azurewebsites.net/tracking/issue/315)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[1687371](https://dev.azure.com/dnceng/public/_build/results?buildId=1687371)|[dotnet-winforms CI](https://dnceng.visualstudio.com/public/_build?definitionId=267)|[PR 6904](https:/

[2022-03-29 22:57] runfoapp[bot] opened #6934 "Flaky test: Splitter_OnSplitterMoving_Invoke_CallsSplitterMoving"
Runfo Tracking Issue: [system.windows.forms.tests.splittertests.splitter_onsplittermoving_invoke_callssplittermoving](https://runfo.azurewebsites.net/tracking/issue/316)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[1687371](https://dev.azure.com/dnceng/public/_build/results?buildId=1687371)|[dotnet-winforms CI](https://dnceng.visualstudio.com/public/_build?definitionId=267)|[PR 6904](https

[2022-03-29 23:28] #6468 closed

[2022-03-30 01:21] Olina-Zhang commented on #6915
In color dialog, there isn't that error dialog popping up, has the same behavior of .Net framework, see it as below:
![ColorDialog](https://user-images.githubusercontent.com/26474449/160731934-968918cd-9deb-41d6-a94a-ce35c0a130e2.gif)

[2022-03-30 03:22] #6663 closed

[2022-03-30 06:18] kirsan31 commented on #6930
I can to look into it after finish with https://github.com/dotnet/winforms/issues/6859. But sadly have very few free time lately :-(

[2022-03-30 08:35] gpetrou commented on #6934
This looks like a false alarm. All failures are on the same build of my PR. I had removed `if (_splitTarget is not null)` from `OnSplitterMoving` and `OnSplitterMoved` in an earlier PR commit, but I added it back because there are a couple of tests that pass null as `SplitterEventArgs`.

[2022-03-30 08:36] gpetrou commented on #6933
Check https://github.com/dotnet/winforms/issues/6934#issuecomment-1082786603 for more details.

[2022-03-30 08:52] MelonWang1 commented on #3626
Verified this issue on latest build 7.0.100-preview.4.22179.13, it is fixed. So close it.
![image](https://user-images.githubusercontent.com/94418985/160791352-d1e0dade-98da-4a16-99a0-9a760a044719.png)

[2022-03-30 08:57] #3626 closed

[2022-03-30 09:04] Junjun-zhao commented on #6475
@Tanya-Solyanik Do you have any update for this bug? We still repro this with build dotnet-sdk-7.0.100-preview.3.22179.4

[2022-03-30 10:12] SergeySmirnov-Akvelon opened #6936 "The narrator announces twice with a message that the TreeNode is collapsed/expanded"
### .NET version

7.0.0-preview.4.22178.1

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

The narrator announces twice with a message that the `TreeNode` is`Collapsed`/`Expanded`

### Steps to reproduce

1. Create a `Form` with a `TreeView`.
2. Add multiple `TreeNodes` to the `TreeView`.
3. Add

[2022-03-31 13:08] bairog opened #6942 "Docs for WinForms Designer SDK were on a roadmap for the first quarter of 2022"
There is a breaking change difference in how Designers work in Framework and .NET, so neither is this a bug, nor is it supposed to work this way.

To create a Designer for VS and .NET, you would need to use the WinForms Designer SDK. The reason is (simplified), that the Designer needs to run in the context of the Form (or the UserControl), which is .NET and not Framework. But VS _is_ Framework. So

[2022-03-31 13:09] bairog commented on #6942
@KlausLoeffelmann
First quarter of 2022 is over. Are docs for WinForms Designer SDK ready?

[2022-03-31 15:39] ArtemTatarinov opened #6943 "PropertyGrid accessible objects are leaking in memory"
### .NET version

7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

`PropertyGrid` accessible objects are left in memory after the `PropertyGrid` control instance was inspected with accessibility tool (like `Accessibility Insights` or `Inspect`) and the form with `PropertyGrid` is closed, garbage is coll

[2022-03-31 18:37] Njoro007 opened #6947 "When UseWPF set True in a WinForms. Proj fails to recognize ApplicationConfiguration bootstrap code"
### .NET version

6.0.3

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Worked without any issues in NET 5 and Net Framework

### Issue description

In a WinForms desktop application targeting .NET 6, the [UseWindowsForms] element in the .proj file is set to True, and a bootstrap ApplicationConfiguration.Initialize(); is generated

[2022-03-31 18:50] janseris commented on #6942
The whole idea of this out-of-process designer for .NET Core (5/6) is terrible because it doesn't work properly in real use cases. I am glad to hear about any updates on it, as well.

[2022-03-31 22:18] dreddy-work commented on #6947
@RussKie, can you take a look at this?

[2022-03-31 22:30] dreddy-work commented on #6896
Thanks @SavagingSky for reporting this. We are working on improving the accessibility and will get this addressed in the coming release.

[2022-03-31 22:49] dreddy-work commented on #6869
@janseris , I do not see this working for .NET framework 4.8 projects either. Did you notice the search bar only for the custom controls like DevExpress here?

![image](https://user-images.githubusercontent.com/36968667/161162025-1fdd217d-501e-45d0-8123-bf8b522265f5.png)

[2022-04-01 00:28] RussKie commented on #6919
@generatorXu could you please clarify - is this a runtime scenario (i.e.. while you run your app) or a design time scenario (i.e., while you are designing your control in VS)? Than you.

[2022-04-01 00:41] #6915 closed

[2022-04-01 00:48] RussKie commented on #6934
Thank you, I created this one automatically without thinking.

[2022-04-01 00:48] #6934 closed

[2022-04-01 00:48] RussKie commented on #6933
Thank you, I created this one automatically without thinking.

[2022-04-01 00:48] #6933 closed

[2022-04-01 01:08] generatorXu commented on #6919
Okay，i’ll send you a sample app this weekend.

发自我的iPhone

在 2022年4月1日，06:33，Devendar Reddy Adulla ***@***.***> 写道：

﻿

Thanks @generatorXu<https://github.com/generatorXu> for reporting this. can you help sharing a sample app here for us/community to repro?

—
Reply to this email directly, view it on GitHub<https://github.com/dotnet/winforms/issues/6919#issuecomment-1085194292>, or unsubscribe<htt

[2022-04-01 07:11] kelicto opened #6948 "An incurable bug: Failed to parse method 'InitializeComponent'."
### Environment

![image](https://user-images.githubusercontent.com/23723575/161213470-68e17567-2184-4858-b01b-e48c4b11083d.png)

### .NET version

ALL

### Did this work in a previous version of Visual Studio and/or previous .NET release?

_No response_

### Issue description

An incurable bug: Failed to parse method 'InitializeComponent'. The parser reported the following error 'Invalid symbol k

[2022-04-01 07:13] kelicto commented on #6948
This is an old problem in history. Can we provide a more friendly and thorough solution?

[2022-04-01 07:14] kelicto commented on #6948
As long as it happens, no matter where you roll back the code, it's useless. It seems that visual studio is stupid to follow.

[2022-04-01 09:11] generatorXu commented on #6919
Attachment is the sample app, just unzip and run the exe, hit File(New) menu, drag the SampleControl from the left ‘Toolbox’ and drop in the center ‘RootForm’, then you can see Exceptions occurred in the VS diagnostic window.

发自我的iPhone

在 2022年4月1日，09:06，xu chong ***@***.***> 写道：

﻿a design time scenario

发自我的iPhone

在 2022年4月1日，08:29，Igor Velikorossov ***@***.***> 写道：

a design time scenario

[2022-04-01 10:23] kelicto commented on #6948
I want to improve my understanding of custom controls. I'm still at a loss when I encounter problems. I hope someone can pay attention to this project. Thanks!

References:
https://stackoverflow.com/questions/71705283/about-custom-control-usage
https://github.com/kelicto/KeLi.TreeListViewKit

[2022-04-01 18:40] merriemcgaw commented on #6881
This may well be worth taking in servicing (thank @RussKie for advocating the servicing). @StuAG would you be willing to test the fix in your application?

[2022-04-01 20:08] weltkante commented on #5884
Feels a bit awkward to be emphasized that much, so just in case anyone is wondering, the phrasing "ideal design" is meant to relate to exposing the capabilities of the native API faithfully to the managed world. The design of the native API allows to set up the extensions once, when initiating the drag operation, but it also includes the option to update it at a later point. Exposing both capabili

[2022-04-02 03:18] DeerBear opened #6951 "Newly installed VS2022 craashes on me while deleting TabStrip component at design time on the form"
### Environment

Microsoft Visual Studio Community 2022
Version 17.1.3
VisualStudio.17.Release/17.1.3+32328.378
Microsoft .NET Framework
Version 4.8.04084

Installed Version: Community

.NET Core Debugging with WSL   1.0
.NET Core Debugging with WSL

ADL Tools Service Provider   1.0
This package contains services used by Data Lake tools

ASA Service Provider   1.0

ASP.NET and Web Tools 2019   17.

[2022-04-02 07:41] John-Qiao commented on #6704
Verified with .NET SDK 7.0.100-preview.4.22201.8 build, this issue is fixed as same as above test result.

[2022-04-02 07:51] MelonWang1 commented on #6560
Verified with .NET SDK 7.0.100-preview.4.22201.11 build, this issue is fixed.
![Screenshot 2022-04-01 231916](https://user-images.githubusercontent.com/94418985/161372910-53b3fd69-db18-4e60-8474-7ce61a7ea777.png)

[2022-04-02 07:52] Cassie-Li01 commented on #6794
Verified on .NET 7.0.100-preview.4.22201.8, it is fixed. Please see the git as below:
![fixed](https://user-images.githubusercontent.com/96758262/161372926-4bac954f-73a3-4fc2-853d-cbc2f6fbc864.gif)

[2022-04-02 08:00] Olina-Zhang opened #6952 "Winforms runtime has stopped working when calling control's dragdrop event"
### .NET version

.Net 7.0.100-preview.4.22201.11

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it works well with previous .Net 7.0 SDK build: 7.0.100-**preview.3**.22153.22, 7.0.100-**preview.4**.22173.7

### Issue description

Winforms runtime has stopped working when calling control's dragdrop event, see following gif:

[2022-04-02 10:57] Olina-Zhang opened #6953 "Automation case about comboBox met an error "Object reference not set to an instance of an object""
### .NET version

.Net 7.0.100-preview.4.22201.11

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, cannot repro in .Net SDK 7.0 Preview3 build

### Issue description

Automation case about comboBox met an error "Object reference not set to an instance of an object":
![image](https://user-images.githubusercontent.com/26474449/161

[2022-04-02 11:54] kant2002 commented on #6953
Are repro sample available? I think I would be responsible for fixing this one.

[2022-04-02 12:55] kant2002 commented on #6953
Sorry, I miss that you cannot create repo. I will take a look then more deeply.

[2022-04-02 14:43] kant2002 commented on #6953
From what I see https://github.com/dotnet/winforms/blob/e6eaed651fccbd44852bbf6a55403828172bfb1a/src/System.Windows.Forms/src/System/Windows/Forms/StringSource.cs#L53-L65

The issue appears due to race condition when AutoComplete source binded and released handle here https://github.com/dotnet/winforms/blob/40dd779a6ead7ef755a5fef57d38acc31d0792bb/src/System.Windows.Forms/src/System/Windows/Forms/

[2022-04-02 17:14] carlreinke opened #6955 "NotifyIcon does not use the appropriate icon size"
### .NET version

6.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

There is a [long-known issue](https://www.hhhh.org/cloister/csharp/icons/) that `NotifyIcon` does not use the proper icon size.  Rather than using the small icon size, it takes whatever size the `System.Drawing.Icon` has been

[2022-04-03 08:34] kirsan31 commented on #6859
I need a conceptual help here 😔 What did I find out while investigating all this dispose stuff in `DataGridView`:

1. `DataGridView` does not care about the disposing of it's components at all.
2. Due to finalizers (empty) in base components (`DataGridViewBand`, `DataGridViewCell`) all of them are end in Freachable queue.  And it has **drastically** performance impact on apps with many constantly

[2022-04-03 12:55] kant2002 commented on #6953
[WinFormsApp6953.zip](https://github.com/dotnet/winforms/files/8404533/WinFormsApp6953.zip)
Steps to reproduce attached. I hit issue from first click.

[2022-04-03 14:14] kant2002 opened #6959 "DragDrop registration did not succeed in Designer"
### Environment

Version 17.2.0 Preview 2.1

### .NET version

7.0 Preview 4

### Did this work in a previous version of Visual Studio and/or previous .NET release?

Actually have no idea, I know that designer is flacky.

### Issue description

Designer seems to be running with disabled COM interop and some love from Winforms needed.

On the opening form with project [WinFormsApp6953.zip](https://

[2022-04-04 04:30] RussKie commented on #6952
@Olina-Zhang @John-Qiao it appears this issue is caused by your repro - it references cursor files, which don't exist:
![image](https://user-images.githubusercontent.com/4403806/161474032-4c85d530-b9ab-4b72-80d0-2364eaf82be8.png)

The sample crashes if you target net6.0 as well.

[2022-04-04 05:03] RussKie commented on #6959
I tried your sample in 17.2.0 Preview 3.0, and it appears to "works on my machine"....

The error message suggests you have build-in COM disabled via a feature switch, though I couldn't readily find the switch via the provided link. @agocke @lakshanf would you know what the feature switch is, or where it is doc'ed? Thanks

[2022-04-04 05:08] #6153 closed

[2022-04-04 05:29] kant2002 commented on #6959
`BuiltInComInteropSupport` is the MSBuild switch, or `<RuntimeHostConfigurationOption Include="System.Runtime.InteropServices.BuiltInComInterop.IsSupported" Value="false" />` runtime host configuration.

I play a bit with code, and Yes. I cheat a bit. Add following lines
[code]

Remove `bin` and `obj` and rebuild project. You should see issue with blank Winforms project too.

`PublishTrimmed` impl

[2022-04-04 05:49] RussKie commented on #6953
:rocket:

[2022-04-04 06:45] kant2002 commented on #4649
I did try trim recent version of WinForms and what are the log which I receive 640 rows.
[with_design.txt](https://github.com/dotnet/winforms/files/8407199/with_design.txt)

Most issues which I see is from Design namespace which for most application does not make sense. Also I do not think that in practice that would make sense to target that namespace without additional work on Designer which hap

[2022-04-04 07:50] kant2002 opened #6963 "Potential memory leak in HtmlElementShim"
### .NET version

7.0 and earlier

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

Look at the code
https://github.com/dotnet/winforms/blob/8bbc3f2f4f2270f62ddf1cca36a0870b36017fa8/src/System.Windows.Forms/src/System/Windows/Forms/HtmlElement.HtmlElementShim.cs#L101-L111

From what I see some coo

[2022-04-04 07:55] RussKie commented on #6859
Thank you for your thoughts. Looks like this journey may take us into a long-forgotten places full of dust and despair :)

I had a quick test, and it looks like the DGV was implemented in a way that didn't assume any responsibility for its components.

[code]

Running the `DataGridView` tests from WinformsControlsTest project immediately fails with the IOE from the finalizer:
[code]

Without under

[2022-04-04 08:13] RussKie commented on #6963
😆

I had a cursory look, and `ConnectionPointCookie` doesn't appear to have been designed as "disposable". Instead it expects to be GC'ed:
https://github.com/dotnet/winforms/blob/6cc092ccf4eedcee415d8779a52bcc061846f7ca/src/System.Windows.Forms/src/System/Windows/Forms/AxHost.ConnectionPointCookie.cs#L137-L147

With that, if you force a GC you should see those abandoned cookies eaten by the GC "co

[2022-04-04 08:34] kant2002 commented on #6963
How I see code working
1. `HtmlElementShim.ConnectToEvents()` create around 20 `ConnectionPointCookie`s.
2. Each `ConnectionPointCookie` calls `IConnectionPoint.Advise` allocate connection to the events.
3. At the end of the method just one `ConnectionPointCookie` referenced by `HtmlElementShim`. Last one.
4. Eventually first 19 connection point cookies get's garbage collected.
5. During each garb

[2022-04-04 08:47] kirsan31 commented on #6859
@RussKie

Exactly :( And what is the most annoying is that almost all dispose logic in the control is about `ContextMenuStrip` lifetime tracking (see my [2 post](https://github.com/dotnet/winforms/issues/6859#issuecomment-1072103983)) 😡 I mean that strictly speaking  in 90% cases we don't need `IDisposable` here at all.

Same thots and this is why I suggest to introduce some property `DisposeInter

[2022-04-04 16:55] coderb commented on #5202
i've requested that the dotnet core project add a stable sort algorithm.
https://github.com/dotnet/core/issues/7342

[2022-04-04 21:49] dreddy-work commented on #6951
@Olina-Zhang , can you see if we can repro this?

[2022-04-05 00:49] RussKie commented on #6963
You probably haven't missed anything, more like the original developer completely missed it.
That said, the likelihood of developers using the `WebBrowser` control is diminishing with every passing day. IIRC it's based on IE7 engine, which is almost universally unusable for general web browsing these days. [WebView2](https://docs.microsoft.com/microsoft-edge/webview2/) is a modern replacement for

[2022-04-05 01:02] RussKie opened #6964 "Mark `WebBrowser` and all related (e.g., HTML* types) as obsolete"
### Is your feature request related to a problem? Please describe

The `WebBrowser` control is based on IE Trident engine, which is almost universally unusable for general web browsing these days. It is also based on COM/ActiveX, which poses difficulties in trimming/native AOT scenarios.
Also, Internet [Explorer 11 has been retired](https://blogs.windows.com/windowsexperience/2022/06/15/internet-e

[2022-04-05 05:47] RussKie commented on #6859
I am now wondering, if this "liberal" handling of DGV components is somehow linked to the DGV-related tests (e.g., https://github.com/dotnet/winforms/issues/6926 and https://github.com/dotnet/winforms/issues/6739) that fail with observable persistence...

[2022-04-05 07:05] kirsan31 commented on #6858
@RussKie can you pls reopen this for further tracking?

[2022-04-05 07:53] gc-maximloverov opened #6965 "Windows Automation RaiseAutomationPropertyChangedEvent throws System.NotSupportedException"
### .NET version

6.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

Windows Automation RaiseAutomationPropertyChangedEvent method for BoundingRectangleProperty throws System.NotSupportedException 'Type 'System.Windows.Rect' cannot be marshalled to a Variant. Type library is not registered.'.
N

[2022-04-05 08:32] kirsan31 commented on #6859
I don't think it's related. On situation overall I see that both test fails with extra Invalidate. I think it wood be helpful (to investigate further) to know inputs (parameters) and CallStack of `Invalidated`. So, for example [this](https://github.com/dotnet/winforms/blob/b844f4a583df7300c4f85b5972dbe4da83372d8b/src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/DataGridViewTests.cs#L1

[2022-04-05 17:59] merriemcgaw commented on #6942
@bairog , @janseris , We're working on those docs, but they're taking a bit longer than expected. We'll be getting them out to everyone as soon as we can, I promise 😄

@janseris - we didn't have any other choice as far as making an out of process designer for .NET 5+ apps. Previously WinForms Designer was running in the same process as VS, devenv.exe, which runs on .NET Framework. We had to pull t

[2022-04-05 23:22] janseris commented on #6942
@merriemcgaw meanwhile I discovered that it might be the VS Professional version workign well or the problem lies in third party control vendors (DevExpress) because I have created very complicated layout without using any DevExpress controls in a new project to test this again and surprisingly everything works very smoothly.

[2022-04-06 02:12] #6953 closed

[2022-04-06 02:29] Olina-Zhang commented on #6952
@RussKie  verified that sample cannot repro in .Net 6.0, previous .Net 7.0.100-preview.3.22153.22, 7.0.100-preview.4.22173.7 builds, and it was found our automation cases, I get a manual repro from MSDN about using dragdrop event. This issue still repro in the latest .Net 7.0 build after commented those .cur files.

[2022-04-06 04:39] bairog commented on #6942
@merriemcgaw Hope you will drop us a link as soon as docs (or at least a part of them) will be ready.
Also tagging @[chris-steema](https://github.com/chris-steema) as this docs will help him with **.NET 5.0 OnCreateHandle override isn't called** issue #4451 (and me personally is [waiting for a fix](https://www.steema.com/support/viewtopic.php?f=4&t=17434#p77749) in his awsome charting library 😄)

[2022-04-06 05:57] RussKie commented on #6952
Thank you. I can now repro the issue.

@kant2002 this regression is introduced by https://github.com/dotnet/winforms/pull/6746.

[2022-04-06 06:39] kant2002 commented on #6952
Not sure what's going on.
https://github.com/dotnet/winforms/blob/b4d21a581c6fb8c222423f7d225e6dc355cc4838/src/System.Windows.Forms.Primitives/src/Interop/Ole32/Interop.DoDragDrop.cs#L12-L27

Here I use both built-in COM and ComWrappers in same Interop call.

I change locally to
[code]

And I start receiving `ExecutionEngineException`. There nothing special about this code from my understanding.

[2022-04-06 07:05] RussKie commented on #6745
The team will discuss in one of the upcoming triages.

[2022-04-06 07:20] John-Qiao commented on #6704
Verified with .NET SDK 7.0.100-preview.3.22179.4 build, this issue is fixed as same as above test result.

[2022-04-06 07:22] Cassie-Li01 commented on #6259
Verified on build dotnet-sdk-7.0.100-preview.3.22179.4-win-x64, it is fixed.
![image](https://user-images.githubusercontent.com/96758262/161917780-7dc2e7ba-6dd7-4678-a1d7-ea4718038631.png)

[2022-04-06 07:49] roland5572 opened #6975 "Wrong ListViewItemStates value in OnDrawSubItem method from ListView Control."
### .NET version

6.0, 4.8

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

In the ListView control, set OwnerDraw = true, then you can overload the OnDrawSubItem function.
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.listview

When you select an Item, then click on an empty/b

[2022-04-06 07:55] Ashley-Li commented on #6748
Verified this issue with .NET SDK 7.0.100-preview.3.22179.4 build, this issue was fixed.

[2022-04-06 08:19] Amy-Li03 commented on #6306
Verified this issue on .NET SDK 7.0.100-preview.3.22179.4 build, issue was fixed, now the rectangle for the ListViewGroup is displayed correctly.
![image](https://user-images.githubusercontent.com/62929087/161928664-4ac74a30-7acb-4dc1-9eb3-ec8df37ea9c1.png)

[2022-04-06 08:48] Amy-Li03 commented on #5676
Verified this issue on .NET SDK 7.0.100-preview.3.22179.4 build, issue was fixed, now the keyboard focus clearly visible for ToolStripButtons on normal mode and High contrast mode.
![image](https://user-images.githubusercontent.com/62929087/161932932-6464648e-a9a2-4701-8b69-8a5427c63362.png)
![image](https://user-images.githubusercontent.com/62929087/161934996-fb9a14d3-0d2a-4f05-bd96-2d4dcd1e78c7.

[2022-04-06 09:30] Amy-Li03 commented on #6846
Verified this issue on latest internal test app WinformsControlsTest, the items of TreeView and ListView instances has been renamed, there are not same names for TreeView and ListView items.
![image](https://user-images.githubusercontent.com/62929087/161943800-40b9ce37-9fa5-4e35-81fe-b77a52ccee87.png)

[2022-04-06 10:20] TheLeftExit opened #6977 "String resource containing only whitespace characters are loaded as blank strings"
### .NET version

Replicated on .NET Core 3 and all later versions.

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

I did not try this with versions prior to .NET Core 3.

### Issue description

If a localized property's value is set to a string that only contains whitespace characters, **ComponentResourceManager** methods such as

[2022-04-06 12:31] kirsan31 commented on #6930
I have briefly looked at this, what I found:
1. I can't repro your _woodoo_ behavior - only selected row is unsharring.
2. Unsharring initiated by setting current cell in `OnMouseDown` no matter `VirtualMode` or not and no matter of `SelectionMode`.

![image](https://user-images.githubusercontent.com/17767561/161974187-2cdc2323-6afc-447f-b620-d70f8dc4a05c.png)

Same behavior in .net4.8. So this is

[2022-04-06 15:36] KlausLoeffelmann commented on #6942
@bairog: Good news is, a really comprehensive demo for the SDK is 99% complete. I am in the process of documenting it, and it covers

* Simple (Server-only) Control Designers, which don't have a custom UI (Custom Type Editors), so they "only" need the SDK-ref to work like before with the most common scenarios (Adorners, Actions). Editors based on Type _Converters_ will be possible with that (they

[2022-04-06 16:51] StuAG commented on #6881
@merriemcgaw, thanks for looking at this. I can confirm I would be willing to test this when a fix is available.

[2022-04-06 19:39] kirsan31 commented on #6942
This part raises the most questions... If I have a _local_ control - can I do without nuget?

[2022-04-06 21:31] KlausLoeffelmann commented on #6942
What do you mean by _local_ control?

[2022-04-06 22:51] RussKie commented on #6942
I presume scenarios here could be:
- a developer is building a control, and that control is located in the same project as a form, where this control is hosted, and
- a developer is building a control, and that control is located in another project within the same solution.

[2022-04-06 23:08] KlausLoeffelmann commented on #6942
Ah, OK, yes, that makes sense.

Well, if your Control Libraries includes controls that need a dedicated UI via custom Type Editors, then you are required to pack into a NuGet. The reason is, that the Client part needs to be loaded in the context of VS, and the Server part, into the context of the DesignToolsServer. If not, so, if the Control needs let's say just custom adorners, action lists or cu

[2022-04-07 00:55] RussKie commented on #5884
Awesome work @willibrandon!

Generally, `EventArg` properties should be read-only and initialised via the .ctor. Any reason to have these mutable?
Ditto for other `EventArg`.

I'm struggling to provide a better name, but "Insert" on its own doesn't look very descriptive. Maybe `MessageInsert` or `MessageReplacementToken`?

`data`, `keyState`, `x`, `y`, `allowedEffect`, `effect` don't appear to be

[2022-04-07 01:01] RussKie commented on #4649
The designer codebase has its own copies of several runtime types (for various reasons). Most of the types that are present in this codebase can and are used in runtime scenarios, e.g., editors and type converters are invoked via the `PropertyGrid` control. Some other types from the "designer" namespace can be used in general-purpose designers, e.g., a report view control.

[2022-04-07 01:22] RussKie commented on #4649
Right now this epic isn't high on the team's backlog, and you're paving the road :) (and we are very appreciative of your work, thank you). Which means you can split and dice it any way you wish.

[with_design.txt](https://github.com/dotnet/winforms/files/8407199/with_design.txt) contains only the following warnings: IL2050, IL2094, IL2093, IL2092, IL2046, IL2026, IL2072, IL2075, IL2067, IL2057, I

[2022-04-07 01:32] MelonWang1 commented on #6560
Verified this issue with .NET SDK 7.0.100-preview.3.22179.4 build, this issue was fixed.

[2022-04-07 01:44] Philip-Wang01 commented on #6666
Verified this issue on .NET SDK 7.0.100-preview.3.22179.4 build, it is fixed

[2022-04-07 02:08] RussKie commented on #6930
Looking at the docs I don't see any promises or guarantees to not unshare rows in virtual mode: https://docs.microsoft.com/dotnet/desktop/winforms/controls/best-practices-for-scaling-the-windows-forms-datagridview-control#using-shared-rows

[2022-04-07 02:14] Olina-Zhang commented on #6951
@DeerBear the sample application you provided is not a completed one, which is missing form after unzipped it. And what is TabStrip? is it TabControl?

[2022-04-07 02:26] kant2002 commented on #4649
That's interesting observation. I did not notice that.

I would like (for now) discuss what's in principle should be done. Kind of meta-discussion. I would like to get rid of undocumented `_SuppressWinFormsTrimError` property introduced in https://github.com/dotnet/sdk/pull/19409/files . That cannot happens until team decide that earlier issues no longer a problem. I have only vague understanding

[2022-04-07 02:58] DeerBear commented on #6951
Hold up!

I zipped the folder as-is, so... what are we saying here, really? I literally just selected the folder, added to zip and posted it.
So... if anything is missing... that might actually be the problem and the core issue. I double-checked now and, yes, I zipped the outermost folder, so if something is not there that should be... I have no idea why.
And sorry, I misnamed it, it was the ToolS

[2022-04-07 03:11] Cassie-Li01 commented on #3342
This bug fixed on Version 17.2.0 Preview 2.1 download from: https://visualstudio.microsoft.com/vs/preview/.
And the related bug https://github.com/dotnet/winforms-designer/issues/1810 also has been fixed, so close this bug.
![fixed](https://user-images.githubusercontent.com/96758262/162112530-f0881690-9c71-480e-8110-38babfed0fbc.gif)
.

[2022-04-07 03:11] #3342 closed

[2022-04-07 03:18] Olina-Zhang commented on #6951
It seems that issue cannot reproduce now in your machine, and I tested toolStripContainer, deleted it several times, all work well. So we will close this issue now. And please file a new one if it can reproduce again.

[2022-04-07 03:42] jkotas commented on #4649
Make sure that the code from Design namespace is not getting rooted and that it gets trimmed in a typical WinForms apps. In Code that gets trimmed won't produce warnings.

https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/prepare-libraries-for-trimming is a general guidance for how to prepare libraries for trimming.

[2022-04-07 04:23] #6951 closed

[2022-04-07 05:53] Cassie-Li01 commented on #4336
The issue can repro on version 17.2.0 Preview 2.1 download from: https://visualstudio.microsoft.com/vs/preview/

repro steps:
1. Create a Windows Form App (.NET) project.
2. Open Form1 in the designer.
3. Add a TabControl and keep the two tabs.
4. Add a User Control to the project. Open it in design mode.
5. Add a TreeView to the User Control and build the project to compile it.
6. Add the User Co

[2022-04-07 05:54] kirsan31 commented on #6942
Yes, this is exactly what I was afraid of :( But let's hope this is the worst thing that awaits us 😆

[2022-04-07 05:59] kirsan31 commented on #6930
@RussKie
In this docs a bit down in section [Preventing Rows from Becoming Unshared](https://docs.microsoft.com/en-us/dotnet/desktop/winforms/controls/best-practices-for-scaling-the-windows-forms-datagridview-control?view=netframeworkdesktop-4.8#preventing-rows-from-becoming-unshared) we see:
![image](https://user-images.githubusercontent.com/17767561/162130113-72152692-a1ad-4e92-8d1a-066ec640b300

[2022-04-07 06:35] RussKie commented on #3456
One way of tracking rolling failures: https://runfo.azurewebsites.net/search/tests/?q=started%3A~14+definition%3A267+kind%3Arolling

[2022-04-07 06:44] RussKie commented on #6947
@Njoro007 please provide a simple repro that manifest the issue.

[2022-04-07 08:12] Njoro007 commented on #6947
To Reproduce

- Create a new Windows Forms project in VS 2022 targeting .NET 6.

- Go to Application/Proj Properties, under Application **check** the _Enable WPF for this project_ check box

- Add a WPF window to the project

- and then Build. (Error will show)

[2022-04-07 09:42] Olina-Zhang commented on #6915
Verified this issue in the latest .Net 7.0 SDK build: 7.0.100-preview.4.22206.9, it is fixed.
![image](https://user-images.githubusercontent.com/26474449/162170648-bce345ed-02f5-4d97-8b34-6e369b41c4d9.png)

[2022-04-07 19:00] willibrandon commented on #5884
I agree it needs a more descriptive name. How does `MessageFormat` sound? The [drop description](https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/ns-shlobj_core-dropdescription) `szInsert` member is technically a [FormatMessage](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-formatmessage) which uses the subset _%%_ and _%1_ as format message markers.

[2022-04-07 22:18] dreddy-work commented on #6975
Thank you @roland5572 for reporting this. Given this has been the case from Framework, we are unlikely to get it investigated on priority basis. If you like to investigate and propose a solution, we will be happy to help get it reviewed/fixed.

[2022-04-07 22:21] dreddy-work commented on #6965
Thanks @gc-maximloverov for reporting this. @vladimir-krestov , can you take a look at this scenario and see what we can do?

[2022-04-07 22:25] dreddy-work commented on #6963
associating it with #6964

[2022-04-07 22:26] #6963 closed

[2022-04-07 22:34] dreddy-work commented on #6955
Thanks @carlreinke for reporting this. We may need to follow this [doc](https://docs.microsoft.com/en-us/windows/win32/api/shellapi/ns-shellapi-notifyicondataw) here to get it right.

[2022-04-07 22:47] dreddy-work commented on #6948
Thanks @kelicto for reporting this. Explicit modification of designer generated code may result in such errors. We would be able to investigate further if you can provide repro sample for this.

[2022-04-07 22:50] dreddy-work commented on #6964
Team agrees principally.

[2022-04-07 22:57] RussKie commented on #6947
I am unable to repro it.
![image](https://user-images.githubusercontent.com/4403806/162332638-21279a50-8dab-4bbe-9d5c-b643577b3735.png)

[2022-04-07 23:19] #6928 closed

[2022-04-07 23:27] RussKie commented on #5884
To me this sounds more what `Message` field should be called, as it defined the format of the message, i.e., contains the [replacement sequences](https://docs.microsoft.com/windows/win32/api/winbase/nf-winbase-formatmessage#remarks).
Would `MessageReplacementToken` work?

I think if we mention this in the intellisense/docs - it would suffice.

[2022-04-07 23:31] Njoro007 commented on #6947
Added a WPF Window/Page?...I have done a recording

https://user-images.githubusercontent.com/22431006/162335073-20ec867f-dd95-447d-8e2f-d145384f6d9b.mp4

[2022-04-08 02:37] Amy-Li03 commented on #6953
Verified this issue on .NET SDK 7.0.100-preview.4.22207.2, issue was fixed.

[2022-04-08 02:41] RussKie commented on #6953
Thank you

[2022-04-08 02:43] RussKie commented on #6947
Thank you for the video. I can repro it now.

[2022-04-08 03:27] willibrandon commented on #5884
It's how I'm allowing the application to set the drop description and why I've included those properties in the proposal, but perhaps there is a better way. I'm still learning how things get designed and could use some help with ideas if a different approach is required for this.

[2022-04-08 04:09] willibrandon commented on #5884
Oh I see it now. It doesn't have to be mutable if I do things in the right order.

[2022-04-08 05:57] willibrandon commented on #5884
If `EventArg` properties should be read-only, then we need another way to set the drag image and drop description.

[2022-04-08 06:46] kirsan31 commented on #6739
@RussKie I've offered a couple of ideas [here](https://github.com/dotnet/winforms/issues/6859#issuecomment-1088421309):

I think it wood be helpful (to investigate further) to know inputs (parameters) and CallStack of _extra_ `Invalidated`. So, for example [this](https://github.com/dotnet/winforms/blob/b844f4a583df7300c4f85b5972dbe4da83372d8b/src/System.Windows.Forms/tests/UnitTests/System/Windows

[2022-04-08 07:31] kirsan31 opened #6987 "ContextMenuStrip ToolTip appear behind menu on items with dropdown elements"
### .NET version

All up to current 6.0.

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No.

### Issue description

`ContextMenuStrip` item with dropdown elements + ToolTip (`ToolTipText`) will display tip behind itself. So tip will be not visible (not fully visible). Video:

https://user-images.githubusercontent.com/17767561/16238

[2022-04-08 07:52] kant2002 commented on #3271
@dreddy-work this does not appears anymore from what I know. Probably can be closed as fixed.

[2022-04-08 08:00] kant2002 commented on #6977
I believe this is issue for https://github.com/dotnet/runtime

Tests which should be extended located here https://github.com/dotnet/runtime/blob/da5888aa4d7f8cac2519d5d35d7d8f59385fc6e8/src/libraries/System.ComponentModel.TypeConverter/tests/ComponentResourceManagerTests.cs

[2022-04-08 09:03] weltkante commented on #5884
There are two kind of events: "notifications" (read-only) and "information requests" (mutable) where listeners can "vote" for what the result should be. Since event handlers cannot return values it is common to store the result in properties on the event. For example `CancelEventArgs` allows voting for cancellation, there are also various precedents in the data binding infrastructure where you sto

[2022-04-08 09:11] kant2002 commented on #6977
Yeah. It’s quite possible that is an issue with how `.resx` files compiled to `.resources` Like stated here https://github.com/dotnet/msbuild/issues/7074#issuecomment-977164313

[2022-04-08 09:23] Philip-Wang01 commented on #6977
@dreddy-work  We try to create resource file manually and add a property there on following without localization of the Form, this issue still repro. Please see the pictures below and Incidental project:

![image](https://user-images.githubusercontent.com/86937911/162404473-e5216011-ddce-4519-9e8a-6689b4b1f084.png)
[WinFormsApp12.zip](https://github.com/dotnet/winforms/files/8450431/WinFormsApp12.

[2022-04-08 09:40] kant2002 commented on #6977
`WinFormsApp12\obj\Debug\net6.0-windows\WinFormsApp12.Resource1.resources` does have `label1.Text` empty.

[2022-04-08 11:40] dmitrii-drobotov commented on #6714
Also failing on [x64](https://dev.azure.com/dnceng/public/_build/results?buildId=1705641&view=ms.vss-test-web.build-test-results-tab) and [arm64](https://dev.azure.com/dnceng/public/_build/results?buildId=1685056&view=ms.vss-test-web.build-test-results-tab)
![image](https://user-images.githubusercontent.com/102954094/162428272-70e645db-8331-473d-914d-3cedc0feae86.png)
![image](https://user-images.

[2022-04-08 11:44] dmitrii-drobotov commented on #6610
`ToolStrip_WndProc_InvokeMouseActivateWithHandle_Success` also fails on [x64](https://dev.azure.com/dnceng/public/_build/results?buildId=1676828&view=ms.vss-test-web.build-test-results-tab)
![image](https://user-images.githubusercontent.com/102954094/162429073-1c72ed41-5709-47f4-bdc1-296fc29849fb.png)

[2022-04-08 12:02] dmitrii-drobotov commented on #6690
@vladimir-krestov
* I think we can add https://github.com/dotnet/winforms/issues/6739 and https://github.com/dotnet/winforms/issues/6926 as separate items to the list in issue's description. They're mentioned in #6597 but these 2 are failing not only on arm64 as shown in their description.
* https://github.com/dotnet/winforms/issues/6730 is missing from the list.

[2022-04-08 13:32] FTricoire opened #6990 "Timed out while connecting to named pipe: DesignToolsServer.9e32d169-ddf5-4473-a4af-3f8d634b3fdc"
### Environment

Microsoft Visual Studio Community 2022
Version 17.1.3
VisualStudio.17.Release/17.1.3+32328.378
Microsoft .NET Framework
Version 4.8.04084

Version installée : Community

ASP.NET and Web Tools 2019   17.1.358.51495
ASP.NET and Web Tools 2019

ASP.NET Web Frameworks and Tools 2019   17.1.358.51495
Pour plus d'informations, visitez https://www.asp.net/

Azure Functions and Web Jobs T

[2022-04-08 16:42] dreddy-work commented on #3271
Thanks @kant2002 .

[2022-04-08 16:42] #3271 closed

[2022-04-08 17:28] binki opened #7019 "Document that OpenFileDialog.OpenFile() throws IOException"

[2022-04-09 04:00] jkotas commented on #5202
@corerb `DataGridViewRowCollection.RowArrayList` has its own custom sort implementation:  https://github.com/dotnet/winforms/blob/d46ad2e8dc76248739d9ae22b28b399a6a6b299e/src/System.Windows.Forms/src/System/Windows/Forms/DataGridViewRowCollection.RowArrayList.cs#L35 . Unless the implementation is refactored to use the sort implementation from the core libraries, you would not be able to use stable

[2022-04-09 05:07] RussKie commented on #6990
No, it doesn't work that way. Before we can help you with the issue, we'll need the designer diagnostics. Please refer to https://aka.ms/winforms/designer/troubleshooting.

I also encourage you to install the latest [VS Preview](https://docs.microsoft.com/visualstudio/releases/2022/release-notes-preview), which has an improved diagnostics.
________________________________
From: FTricoire ***@***.*

[2022-04-09 07:16] RussKie commented on #6947
I've looked through the [binlog](https://github.com/dotnet/winforms/files/8456422/msbuild.zip), and there's a second compilation pass for a temp WPF project:
![Untitled](https://user-images.githubusercontent.com/4403806/162560731-eea88b31-eef6-4bf1-a224-83bf252edd42.png)

I _guess_ the Windows Forms source generator isn't run for the temp project, and the temp project can't resolve `ApplicationCon

[2022-04-09 22:49] paul1956 opened #6996 "NotifyIcon is not deleted (stays in tray) when application closes"
### .NET version

Microsoft.WindowsDesktop.App 6.0.3 and all previous

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Not that I know of

### Issue description

If you create an iNotifyIcon and show it in tray, when application exits the icon stays in tray. Each time you restart app you get another icon and now have 2,3,4... They do

[2022-04-11 23:10] Tanya-Solyanik commented on #6732
@Olina-Zhang  - what do you mean here -  `when doing expanding or collapsing action for treenodes.` - how do you do this action, do you invoke it in inspect?

[2022-04-12 14:33] coderb opened #7007 "Question: Windows Forms Designer default font"
### Environment

vs2022

### .NET version

net472 & net6.0-windows

### Did this work in a previous version of Visual Studio and/or previous .NET release?

n/a

### Issue description

I have Form classes that were designed under net472 which had a default font of `new Font(FontFamily.GenericSansSerif, 8.25f)`.

When compiling/running under net6 I call `Application.SetDefaultFont(new Font(FontFamil

[2022-04-13 01:47] kelicto commented on #6948
I will resume this frustrating project that has been deleted from GitHub immediately. If the official team has the energy, I hope you can improve it again (although I know it's unlikely... That's why I deleted the use of commercial components).

[2022-04-13 14:49] dmitrii-drobotov opened #7013 "`RuntimeInformation.ProcessArchitecture` returns X64 architecture for Arm64 tests"
### .NET version

7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

Tests are run for x86, x64 and arm64 architectures. Some tests could be flaky on a specific architecture, so we introduced an attribute to skip a test when run on a certain architecture (https://github.com/dotnet/winforms/pull

[2022-04-13 17:31] willibrandon commented on #6919
The `ToolboxSnapDragDropEventArgs` constructor throws `NotImplementedException`.

https://github.com/dotnet/winforms/blob/8dfd08de957e7e2b8f697c816032285fdf1dcf0f/src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ToolboxSnapDragDropEventArgs.cs#L40

Which could be causing upstream calls to `base.OnDragDrop()` to not get executed, as described in the issue description.

[2022-04-13 21:01] KlausLoeffelmann commented on #4304
Also, for folks who are interested in early adaptation of the SDK (which is still in prerelease, but we don't expect breaking changes at this point!), take a look here:

https://github.com/KlausLoeffelmann/NetControlDesigners

[2022-04-13 21:07] KlausLoeffelmann commented on #6942
While the work on the blog post is in progress, the complete SDK docs will take a while due to a shift in internal prios.
We know you're eager for sample code and starting points, so please take a look here for an early access to our SDK sample candidate:

https://github.com/KlausLoeffelmann/NetControlDesigners

[2022-04-13 22:15] RussKie commented on #7013
Tests on ARM64 are run under x64.

[2022-04-14 01:23] generatorXu commented on #6919
@willibrandon, yes, you got it!

[2022-04-14 01:29] generatorXu commented on #6919
Yes. you got it.

发自我的iPhone

在 2022年4月14日，01:31，Brandon Williams ***@***.***> 写道：

﻿

The ToolboxSnapDragDropEventArgs constructor throws NotImplementedException.

https://github.com/dotnet/winforms/blob/8dfd08de957e7e2b8f697c816032285fdf1dcf0f/src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/Behavior/ToolboxSnapDragDropEventArgs.cs#L40

Which could be causing upstream calls to bas

[2022-04-14 02:00] Cassie-Li01 commented on #6915
Verified this issue in the latest .Net 7.0 SDK build: 7.0.100-preview.4.22213.30, it is fixed.
![image](https://user-images.githubusercontent.com/96758262/163299135-40672be7-eac5-4ba7-aa9d-fd2d2aed4737.png)

[2022-04-14 05:54] Amy-Li03 commented on #6881
Verified this issue with .NET SDK 7.0.100-preview.4.22213.30, issue was fixed, toolstrip has an image displaying when clicking button1 on Form2.

[2022-04-14 05:55] #6881 closed

[2022-04-14 09:40] roland5572 commented on #269
@willibrandon

I did a small test today and confirmed that after adding the FOS.ALLOWMULTISELECT flag to SetOptions . You can now select multiple folders in the dialog (the dialog UI will not display the CheckBox, but you can use the shift key to select multiple folders at the same time). Do you think it is possible to add this property too?

[2022-04-14 13:01] kelilive opened #7017 "Please DELETE THE ISSUE."
### Environment

Visual Studio version: 17.1.2

### .NET version

ALL

### Did this work in a previous version of Visual Studio and/or previous .NET release?

No

### Issue description

![image](https://user-images.githubusercontent.com/23723575/163394273-cfb3e519-d5d5-409a-a00d-e3a74b55e5b8.png)

My local region is `zh-CN` and OS is `en-US`. So at runtime, the corresponding resources should be au

[2022-04-14 13:14] kelicto commented on #7017
![image](https://user-images.githubusercontent.com/23723575/163398283-ee6418d9-c599-4ea5-8020-012626f2bd6b.png)

[2022-04-14 13:15] kelicto commented on #7017
zh-CN or zh-Hans resx are invalid.

[2022-04-14 13:16] kelicto commented on #7017
![image](https://user-images.githubusercontent.com/23723575/163398715-5fc19595-5b45-40a5-80d3-0d33646391bc.png)

[2022-04-14 13:20] kelicto commented on #7017
Please fix these problems properly, thanks a lot. They are creating panic and make me hesitate whether this technology is already lacking to be put into maintenance and should be put into a more reliable and trustworthy UI framework.

[2022-04-14 13:38] dmitrii-drobotov commented on #6965
@gc-maximloverov It looks like `RaiseAutomationPropertyChangedEvent` calls Win32 API function [UiaRaiseAutomationPropertyChangedEvent ](https://docs.microsoft.com/en-us/windows/win32/api/uiautomationcoreapi/nf-uiautomationcoreapi-uiaraiseautomationpropertychangedevent), which accepts `oldValue` and `newValue` as VARIANTs. Variants are intended to hold primitive types rather than custom types like

[2022-04-14 16:18] merriemcgaw commented on #6996
Thanks for this issue @paul1956. Can you tell me which version(s) of Windows you are testing on?

[2022-04-14 18:26] paul1956 commented on #6996
Windows 11 Pro. I just starting using last week but a quick search shows people with this issue over 10 years ago with lots of different workarounds.

[2022-04-14 20:28] KlausLoeffelmann commented on #7017
Hello kelicto,

thanks for reporting this issue.
I will take a look at this.
I would need some assistance from you.

I don't understand exactly what you are referring to.
Can you be a bit more specific, and show the code you think of?
That would be helpful to understand your problem.

Could you also add this line of code in your _Program.cs_ file, and report the printout from the Debug window back

[2022-04-15 00:53] kelicto commented on #7017
Add code: `CultureInfo.CurrentUICulture = new CultureInfo("zh-CN");`
It can work well.

[2022-04-15 00:55] kelicto commented on #7017
Before that, I had made a similarly large number of attempts, and I may have been careless.

[2022-04-15 00:59] kelicto commented on #7017
![image](https://user-images.githubusercontent.com/23723575/163501188-4d976863-9d22-45d8-86c6-8a9ec99de785.png)

This seems to be a painful problem, inheritance failure? The designer does not read multilingual resources well.

[2022-04-15 01:15] kelicto commented on #7017
This problem will be even more fatal, I will be using form inheritance a lot in different projects and if the designer does not display properly, it will cause a lot of disruption to my usage.

[2022-04-15 01:25] kelicto commented on #7017
Whether to keep only the text-related, if it has to be so designed. I personally still prefer to use `zh-Hans.resx` and add resources directly through the explorer instead of resetting values on the designer (automatically creating `zh-CN.resx`, which I prefer to have nothing to do with the country but with the language, is better to automatically adapt to zh-Hans after setting the region).

And i

[2022-04-15 03:18] #6155 closed

[2022-04-15 04:02] kelicto opened #7020 "ListViewItem Collection Editor : The Text of item is not searched and the resource is not added to Form.resx for Localization."
### Environment

Visual Studio: 17.1.2

### .NET version

ALL

### Did this work in a previous version of Visual Studio and/or previous .NET release?

NO

### Issue description

So, if I want to solve it, I can only manage multiple languages by dynamically creating code. This is not a friendly way and I think it needs to be improved.

![image](https://user-images.githubusercontent.com/23723575/163

[2022-04-15 04:09] ghost opened #7021 "ListView Item: Icon picture quality is too low"
### Environment

Visual Studio: 17.1.2

### .NET version

ALL

### Did this work in a previous version of Visual Studio and/or previous .NET release?

NO

### Issue description

![image](https://user-images.githubusercontent.com/23723575/163516718-b772fdcc-f636-4d79-8871-1157b59c3ea6.png)

### Steps to reproduce

Nothing

### Diagnostics

[code]

[2022-04-15 05:12] KlausLoeffelmann commented on #7017
It's hard to understand it just from the screenshots.
A sample app with comments in it would be very helpful.

Thank you!

[2022-04-15 06:24] #7020 closed

[2022-04-15 06:25] kelicto commented on #7020
Acceptable, putting it in `Form.resx` may be more complicated

[2022-04-15 10:02] kirsan31 commented on #6942
@KlausLoeffelmann
I've spend some time on studying this. My thots / questions:

- At this moment everything are very confusing. The most problems I faced are absent of editors `ArrayEditor`, `ColorEditor`, `FileNameEditor` etc. And their methods for override `EditValue`, `ShowHelp`, `CreateCollectionForm` etc. The code itself for these overridden methods looks very simple in my case. Do I need to

[2022-04-15 16:07] Symbai commented on #6996
If you hard kill a process (in VS you stop debugging which kills the process rather than closing it gracefully) and it has a tray icon the tray icon remains visible until you simply mouse hover. This is because the code for removing this icon is not executed because you killed the process. This has been like that for ages. In a specific Windows 11 build mouse hovering doesn't remove the icon, this

[2022-04-15 23:42] Tanya-Solyanik opened #7025 "revert https://github.com/dotnet/winforms/pull/7024 when the NUGET warning is fixed"
Revert  https://github.com/dotnet/winforms/pull/7024  when https://github.com/dotnet/sdk/issues/24747 is fixed.

### Issue description

NU1505 was disabled because it was causing the following output in the VS:
[code]

This warning was temporarily disabled in https://github.com/dotnet/winforms/pull/7024, and should be re-enabled when the but is fixed.

[2022-04-15 23:53] #6653 closed

[2022-04-16 00:37] #6952 closed

[2022-04-16 01:10] Tanya-Solyanik opened #7026 "Focus in an empty DGV"
@vladimir-krestov  - should this be `return owner.Focused && RowCount == 0;`

_Originally posted by @Tanya-Solyanik in https://github.com/dotnet/winforms/pull/6102#discussion_r851568124_

[2022-04-16 02:26] paul1956 commented on #6996
@Symbai that explains the killing of the app and stopping in Visual Studio, it does not explain the application just ending normally. is there any code in WinForms to handle a graceful exit in the normal case?

[2022-04-16 03:29] ghost opened #7027 "TreeView.Sorted Property has Attribute [EditorBrowsable(EditorBrowsableState.Never)]"
### .NET version

6.0 / 4.8

### Did it work in .NET Framework?

No

### Issue description

If you have a TreeView control, and you set TreeView.TreeViewNodeSorter = new TreeNodeComparer().
Then .net will set TreeView.Sorted=true.

https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.treeview.treeviewnodesorter

But if you set  TreeView.TreeViewNodeSorter = null, Then .net will not set

[2022-04-16 05:14] vladimir-krestov commented on #7026
I think so, because we have `HasKeyboardFocus` as true, even a DGV doesn't have focus. I think, it's not correct and we should fix it. Will take it

[2022-04-18 01:13] kelicto commented on #7017
Hmm. I will try to upload it sometime.

[2022-04-18 04:56] #6421 closed

[2022-04-18 05:55] AraHaan commented on #6421
Too bad we cant debug using the source downloaded from sourcelink to set breakpoints so we can debug the actual binaries that get installed from the stable builds of the sdk.

[2022-04-18 09:23] RussKie commented on #6421
You should be able to with the help of function breakpoints
https://docs.microsoft.com/visualstudio/debugger/using-breakpoints#BKMK_Set_a_breakpoint_in_a_source_file
________________________________
From: AraHaan ***@***.***>
Sent: Monday, 18 April 2022 3:55 PM
To: dotnet/winforms ***@***.***>
Cc: Igor Velikorossov ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/winforms] Setting ShowInTas

[2022-04-18 09:28] kirsan31 opened #7042 "Designer delete code from event handlers"
### Environment

Microsoft Visual Studio Community 2022
Version 17.1.4
VisualStudio.17.Release/17.1.4+32407.343
Microsoft .NET Framework
Version 4.8.04084

### .NET version

`net6.0-windows;net4.8`

### Did this work in a previous version of Visual Studio and/or previous .NET release?

As I understand, this behavior was changed (the bug appeared) in VS2017.
https://developercommunity.visualstudio.

[2022-04-18 09:47] vladimir-krestov opened #7043 "ExpandCollapse pattern is available for any tree node in `TreeView`"
### .NET version

.NET 7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, but it was reproduced in https://github.com/dotnet/winforms/pull/6432 as well.

### Issue description

`TreeView TreeNode` accessible object supports `Expand-Collapse` pattern even if the node can't expand:
![image](https://user-images.githubusercontent.c

[2022-04-18 09:48] vladimir-krestov commented on #7043
@merriemcgaw, should we fix it?

[2022-04-18 10:14] kirsan31 commented on #6550
Before implementing this, https://github.com/dotnet/winforms/issues/7042 defiantly must be fixed.

[2022-04-18 13:55] gc-maximloverov commented on #6965
@dmitrii-drobotov it works, thanks!

[2022-04-18 13:55] #6965 closed

[2022-04-18 21:11] #6852 closed

[2022-04-19 01:01] #6922 closed

[2022-04-19 17:35] merriemcgaw commented on #7043
@vladimir-krestov yes, I definitely think we should.

[2022-04-19 17:40] merriemcgaw commented on #6942
Yes, we're hoping it will make things a lot easier. And we will be investigating ways to simplify the building of controls as well as converting old controls. It's a process for sure.

[2022-04-19 18:51] KlausLoeffelmann commented on #6942
They are still part of both the .NET and the .NET Framework runtime, although those types as a base for derived Editors in a Server-only scenario don't make sense, since they are never deployed: The .NET types cannot run in the context of VS, and the .NET Framework types lack the infrastructure to be deployed in a server-only scenario. What you can do though in a server-only scenario is to invoke

[2022-04-19 19:06] KlausLoeffelmann commented on #6942
Oh, and sorry, I missed your last point!

Can you provide a small sample project for this?
I would need to debug into that to see exactly what's going on.

[2022-04-19 19:27] #2848 closed

[2022-04-19 19:27] #4876 closed

[2022-04-20 00:57] kelicto commented on #7017
![image](https://user-images.githubusercontent.com/23723575/164125732-3def8be7-ba16-45db-8435-4a62324a6e75.png)

Weird language differentiation display.

[2022-04-20 01:04] kelicto commented on #7017
![image](https://user-images.githubusercontent.com/23723575/164126345-cd6223e5-ae6c-4d8b-b66a-6dcad28e9e94.png)
Lots of confusion and unreliability.

[2022-04-20 08:32] kirsan31 commented on #6942
@KlausLoeffelmann thank you for detailed answer. Especially the part about x86/x64 is something that is not quite obvious at first glance

I will try to...
- .Net core WinForms come out.
  - WoW I want to port my control to it!
  - You can't - new designer is not ready yet.
- Waiting ~2 years...
- New designer is almost ready and usable.
  - WoW can I now to port my control?
  - You can't - we hav

[2022-04-20 08:40] Olina-Zhang opened #7056 "Narrator: Focus rectangle for treeNode is not in the correct position after expanded/collapsed the non-first parent treeNode when treeView has multiple level treeNode"
### .NET version

7.0.100-preview.4.22218.7

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, it is not a regression issue

### Issue description

Narrator's focus rectangle for treenode is not in the correct position after expanded/collapsed the non-first parent treeNode when treeView has multiple level treeNode, and found that

[2022-04-20 10:58] kelicto opened #7057 "What does the default font size of WinForms depend on?"
### Environment

ALL

### .NET version

ALL .NET Framework Versions.

### Did this work in a previous version of Visual Studio and/or previous .NET release?

_No response_

### Issue description

My colleagues their `form` font is 9 by default, my font is 8.25 in any case, causing the problem of unsatisfactory display effect.

What is the reason for this and how can I solve the problem of default

[2022-04-20 17:49] gpetrou opened #7061 "Add IEquatable<T> to public Equals-overriding value types to enable CA1066"
### Is your feature request related to a problem? Please describe

Based on [CA1066](https://docs.microsoft.com/lv-lv/dotnet/fundamentals/code-analysis/quality-rules/ca1066) it looks like there are some missing IEquatable<T> interface implementations for the following public types:

- BindingMemberInfo
- LinkArea
- TableLayoutPanelCellPosition
- Message
- Padding

There was a similar issue in http

[2022-04-20 18:33] KlausLoeffelmann commented on #6942
Well,

I think from what your write, it's best to address 3 major issues, which might also be good to hear about for the rest of the community, so, again, what you write is very valuable!

I can't share this idea.

* **.NET Framework vs. .NET**: Framework .NET is not at all something to label as to "give up" or "abandon". Framework will of course continue to receive updates. It certainly is and al

[2022-04-20 18:40] KlausLoeffelmann commented on #6942
I also took the liberty to rename this issue, so people could easier assume to find answers to questions here, they are looking for. I think this is more inclusive.

[2022-04-20 18:45] KlausLoeffelmann commented on #6942
@bairog, @kirsan31, @janseris:
What do you think about the idea to add the initial post by an [Update] section, where we add links to resources about the Designer SDK?

[2022-04-20 19:13] carlreinke opened #7063 "TreeView checkbox state desynchronizes on double-click"
### .NET version

.NET 5.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

If a checkbox in a `TreeView` is double-clicked then the `Checked` property of the `TreeNode` no longer matches the visual state of the checkbox.

### Steps to reproduce

1. Add a `TreeView` to a `Form`.
2. Set the `Check

[2022-04-20 19:23] carlreinke commented on #7063
A potentially-related issue is that cancelling the `BeforeCheck` event on the `TreeView` does not prevent double-clicking from changing the visual state of a checkbox.

[2022-04-21 01:42] kelicto commented on #7057
I want to change `System.Drawing.SystemFonts.DefaultFont`.

[2022-04-21 02:03] ghost opened #8843 "`System.Drawing.SystemFonts.DefaultFont` cannot switch automatically according to the system and Do some reflections"
**Version Used**:

Test IDEs: Visual Studio 2017; Visual Studio 2019; Visual Studio 2021;

**Steps to Reproduce**:

1. Install English OS, the default font size is 8.25.
2. Change the display language and region to Chinese, I want to change it as 9.

**Expected Behavior**:

I'm a Chinese. My Chinese colleagues use Chinese systems and the default font size for projects is 9. We know that `default f

[2022-04-21 04:15] Olina-Zhang commented on #6952
Verified in the latest .Net 7.0 SDK build: 7.0.100-preview.5.22220.23, it is fixed.
![GH6952_Fixed](https://user-images.githubusercontent.com/26474449/164370941-39cc6f66-80bf-4a77-a00f-a3c77cf5d27f.gif)

[2022-04-21 07:35] kelicto commented on #7017
Multilingual resource access becomes unreliable across solutions.
[Bug Video.zip](https://github.com/dotnet/winforms/files/8528691/Bug.zip)

I have to give up on multilingual solutions for now, very disappointed.

[2022-04-21 15:40] KlausLoeffelmann commented on #7017
@Olina-Zhang, could you help me to understand exactly the problem here, maybe lead a conversation to clarify facts in Chinese (but translate to English in parallel), or try to repro the issues here? I have tried a few things with English, German and some German sub-languages, but I wasn't able to repro the actual problem. I may be missing something.

[2022-04-21 19:06] #7061 closed

[2022-04-21 20:36] #7026 closed

[2022-04-21 20:43] #5774 closed

[2022-04-21 23:01] dreddy-work commented on #7063
@carlreinke Thanks for reporting this!

As this isn't a regression from .NET Framework it is unlikely that the WinForms team will be able to get to the issue. If you or another community member wants to investigate a possible fix we'll be happy to look at any pull requests.

Note that all changes to existing behavior are considered breaking changes and have to be evaluated for potential impact to

[2022-04-21 23:03] dreddy-work commented on #7027
@roland5572 Thanks for reporting this!

As this isn't a regression from .NET Framework it is unlikely that the WinForms team will be able to get to the issue. If you or another community member wants to investigate a possible fix we'll be happy to look at any pull requests.

Note that all changes to existing behavior are considered breaking changes and have to be evaluated for potential impact to

[2022-04-22 01:57] carlreinke commented on #7063
What feedback are you waiting on from me?

[2022-04-22 02:41] kelicto commented on #7057
I did not make any interventional settings.

[2022-04-22 02:52] Olina-Zhang commented on #7017
@kelicto Here is my understanding about your issue, I listed following repro steps, could you please confirm if it is yours? @KlausLoeffelmann

**Issue description**: Inherited form cannot get the parent form's local resource setting

**Repro steps:**
0. VS: ENU, OS: CHS
1. Create a Winforms .Net framework app
2. Add 2 buttons to form1 designer
3. Set form1's localizable to True, and set form1's l

[2022-04-22 04:01] #6869 closed

[2022-04-22 17:26] dreddy-work commented on #7063
As mentioned above, we would be happy to co-ordinate if you or any other community member like to contribute to a solution on this. That label is intended to identify if there is sufficient interest and if not, issue will be closed after certain period of time.  To avoid confusion with label, I will create a new one.

[2022-04-22 19:24] #6896 closed

[2022-04-22 19:50] KlausLoeffelmann commented on #7017
So the culprit here is picking up localized Forms in inherited-Form scenarios.
I'll take a look.

[2022-04-23 16:35] TheLeftExit commented on #6977
I guess that's a wrap. Thanks @kant2002!

[2022-04-23 16:35] #6977 closed

[2022-04-24 04:16] vladimir-krestov opened #7077 "`Owner` property should be cleaned to avoid memory leaks"
### Is your feature request related to a problem? Please describe

Not all objects are cleaned after disposing of Control accessible objects because of keeping some value in `Owner`.
Needs to suggest the opportunity to null `Owner` in accessible objects to avoid memory leaks.

### Describe the solution you'd like and alternatives you've considered

The suggestion is based on #6886 comment (see des

[2022-04-24 10:03] kelicto commented on #7017
Please use the demo, maybe it's unnecessary to reduce the trouble. Of course, now that you have mentioned it, I'll answer your question directly.

[2022-04-24 10:05] kelicto commented on #7017
NO. The property `Lcalizable` of `form2` is true.

[2022-04-24 10:17] roland5572 commented on #6421
@AraHaan

You can debug .net WinForms.

1. Download the source code from https://github.com/dotnet/winforms
2. Since the master branch is always improving, if you cannot compile the source code, you may need to download a stable branch (eg. v7.0.0-preview.3.22176.3 or new in the feature).
3. unzip the source code to a folder.
4. run build.cmd
5. run start-vs.cmd file from your folder (You need to

[2022-04-24 10:55] AraHaan commented on #6421
If I am doing all of that work, why not publish the projects that allow one to do the same type of integration tests that this repo uses so they can test their own code too? 😄

[2022-04-24 11:39] roland5572 commented on #6421
@AraHaan Maybe the integration tests are not in the current roadmap. A smarter version may be introduced in the future.

[2022-04-25 01:22] ahdung commented on #3851
Any news?

[2022-04-25 02:33] Ashley-Li commented on #6952
Verified in the .Net 7.0 SDK build: 7.0.100-preview.4.22222.1, it is fixed.
![6952_issue_verify](https://user-images.githubusercontent.com/56664234/165011048-89c74dff-0ff0-436b-9fa5-942edcab94f1.gif)

[2022-04-25 06:51] vladimir-krestov opened #7079 "Empty `DataGridView` has extra NotSortedAccessibleStatus"
### .NET version

.NET 7.0 (latest main)

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, there is no this extra property in .NET 6.0.
Regression from https://github.com/dotnet/winforms/pull/6498

### Issue description

Empty `DataGridView` has unexpected `NotSortedAccessibleStatus` item status:

![image](https://user-images.gi

[2022-04-25 07:22] vladimir-krestov opened #7080 "TextPattern implementation needs to be refactored"
### Is your feature request related to a problem? Please describe

At this moment AccessibleObject.cs keeps TextPattern providers for all instances.
Consider moving TextPattern to the base TextBoxBase AO and implement providers there.

### Describe the solution you'd like and alternatives you've considered

Move TextPattern implementation to derived types.

### Will this feature affect UI controls

[2022-04-25 23:57] RussKie commented on #7077
Another possible option to avoid changes to the nullability contract is to do something like the following. It will require a risk assessment as well though.
[code]

[2022-04-26 03:07] RussKie commented on #4555
Is https://github.com/dotnet/winforms/pull/6976 having any effect on this issue?

[2022-04-26 05:19] RussKie commented on #6421
If you have any proposals, you'd like to discuss, or have any questions - please start a [new discussion thread](https://github.com/dotnet/winforms/discussions/new).

[2022-04-26 07:44] calanchenlins opened #7085 "Printing to PDF causes deadlock in Winforms with async Task Main()"
### .NET version

net6.0-windows

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

In netcoreapp3.1 and net5.0-windows, there are the same issues as net6.0-windows;
However, The sample code is worked without any issues in  Net Framework4.8;

### Issue description

When Main() method is async in Winforms,  PrintDocument.Print() will c

[2022-04-26 08:03] RussKie commented on #2734
@weltkante do you mind trying to apply `UseDefaultXunitCultureAttribute` to tests that fail on your machine, and see if it fixes those?

[2022-04-26 08:11] RussKie commented on #7085
`STAThread` and `async Main` don't and aren't meant to work together. This is by design. Please refer to https://github.com/dotnet/roslyn/issues/22112 for more details.

[2022-04-26 08:11] #7085 closed

[2022-04-26 08:32] RussKie commented on #7019
On a second thought, this belongs to dotnet/dotnet-api-docs. A PR with a desired wording is welcome.

[2022-04-26 08:35] calanchenlins commented on #7085
@RussKie , After Follow your advice and removed the `STAThread`, The issues still exists.

[2022-04-26 08:38] calanchenlins commented on #7085
@RussKie , After Follow your advice and removed the `STAThread`, The issues still exists.

[2022-04-26 15:12] kant2002 commented on #4555
No, the https://github.com/dotnet/winforms/pull/6976 does not have effect on the issue, but https://github.com/dotnet/winforms/pull/7087 is.
After #7087 lands, you can start juggling how to create CCW for DataObject. right now I support only one interface - IComDataObject, but we can create CCW which support 2 interfaces IComDataObject + IWinFormsDataObject. For IWinFormsDataObject we can take GUI

[2022-04-26 19:21] tbolon commented on #7085
You should have done the opposite : keep `[STAThread]` but remove the `async Task<int> Main` and use simply `int Main()` instead.

[2022-04-27 02:44] Olina-Zhang opened #7089 "Uncaught exception or assertion failure: System.Collections.Generic.KeyNotFoundException for listView's setSorting test scenario"
### .NET version

**.Net 7.0 SDK:** 7.0.100-preview.5.22226.4

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it is a regression issue in recent .Net 7.0 build from main branch, cannot repro in .Net 7.0 SDK build: 7.0.100-preview.5.22220.23, it may be caused by PR: https://github.com/dotnet/winforms/pull/7029

### Issue descrip

[2022-04-27 02:52] RussKie commented on #7089
@Olina-Zhang are you able to share " XListView case for setSorting scenario" code?

[2022-04-27 02:55] RussKie commented on #7089
/cc: @gpetrou

[2022-04-27 02:58] Olina-Zhang opened #7090 "Automation cases about Label/LinkLabel met an error "Object reference not set to an instance of an object""
### .NET version

**.Net 7.0 SDK:** 7.0.100-preview.5.22226.4

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it is a regression issue in recent .Net 7.0 build from main branch, cannot repro in .Net 7.0 SDK build: 7.0.100-preview.5.22220.23, it may be caused by PR: https://github.com/dotnet/winforms/pull/6778

### Issue descrip

[2022-04-27 03:02] Olina-Zhang commented on #7089
Here is the testing code snippet for setSorting scenario:

[code]

[2022-04-27 03:03] RussKie commented on #7089
How is the listview populated, and how is this method invoked?

[2022-04-27 03:12] Olina-Zhang commented on #7089
Hmm, it's hard to say, we have test cases based on test framework: WFCTestLib, to test current control and based control'
s properties and events
![image](https://user-images.githubusercontent.com/26474449/165432132-1acd35d2-80a8-46ab-ae17-ba77cd0cd232.png)

[2022-04-27 04:58] kant2002 commented on #6959
After my CCW changes lands, issue disappear in latest preview.

[2022-04-27 04:58] #6959 closed

[2022-04-27 06:27] kant2002 commented on #6745
@RussKie are the team has possibility to discuss this issue on the meetings?

[2022-04-27 07:21] RussKie commented on #6745
@kant2002 thank you for the nudge. Yes, absolutely! I've been away for few weeks, and just got back. Still catching up...

/cc: @merriemcgaw @dreddy-work @JeremyKuhne

[2022-04-27 07:56] AraHaan commented on #6217
I think it should wait until it actually gets shipped and if it can add support for com marshalling then use it to avoid possibly breaking changes.

[2022-04-27 09:17] gpetrou commented on #7089
In order to address the exception we could use `TryGetValue` instead. However, it is not clear to me how this can be reproduced and if we need to fix something else.

[2022-04-27 09:58] kelicto commented on #7017
Strangely enough, some projects also use resx multilingual solutions, but they work well, why is that? For example, we use the DevExpress UI library, and version 21.1 searches for zh-Hans resource package to localize it easily and normally, but version 17.1 uses zh-CHS resource, even if it is set `System.Globalization. CultureInfo("zh-CHS");` explicitly point to the language pack still does not he

[2022-04-27 10:24] MelonWang1 opened #7092 "[Unstable]Form designer does not display the currently added control"
### .NET version

6.0.300-preview.22204.3

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it is a regression issue. It may be cause by VS, because which has been reproduced before in both 6.0 and 7.0.

### Issue description

When add a control, build and run, no control is displayed, add another control, build and run, Form de

[2022-04-27 23:11] dreddy-work commented on #7057
@kelicto , WinForms does not control the selection of DefaultFont based on OS locale. Linked runtime bug should be good to track a response on that. Meanwhile, If you like to keep your application with consistent Font, setting `Application.DefaultFont` is an alternative here.  Closing this issue as external.

[2022-04-27 23:11] #7057 closed

[2022-04-28 01:35] dreddy-work commented on #7090
Working on this. Regression was in current preview.

[2022-04-28 02:09] RussKie commented on #7089
I got the source code for the test harness, and planning to look through to see if we distill a repro from it.

[2022-04-28 02:35] Amy-Li03 commented on #2848
Verified this issue on .NET 7.0.100-preview.5.22226.4 build, issue was fixed.
After step 4, there is "Font" edit item below "Font" tree item node.
![image](https://user-images.githubusercontent.com/62929087/165665219-b4e9ae39-23e7-4730-bf6d-b338b1a8ec3c.png)
After step 5, there is also "Font" edit item below "Font" tree item node.
![image](https://user-images.githubusercontent.com/62929087/1656652

[2022-04-28 02:38] #7080 closed

[2022-04-28 03:01] Amy-Li03 commented on #4876
Verified this issue on .NET 7.0.100.preview.5.22227.7, issue was fixed. There is "Drop down control holder" panel node in "AccrssibleRole" tree item and the highlighted drop-down list is displayed in the accessibility tree.
![image](https://user-images.githubusercontent.com/62929087/165667708-177f7b62-bbea-4dce-a026-e451f37c5fbb.png)

[2022-04-28 03:27] Olina-Zhang commented on #6896
Verified this issue on .NET 7.0.100-preview.5.22227.7 build, it is fixed:
![image](https://user-images.githubusercontent.com/26474449/165670392-279b730c-b20a-45a4-a40a-25cdda6a26a5.png)

[2022-04-28 06:25] Olina-Zhang commented on #6953
Verified this issue in .Net SDK 7.0.100-preview.4.22227.3 test pass build, it was fixed

[2022-04-28 06:33] MelonWang1 commented on #6155
Verified in the .NET 7.0 SDK build: 7.0.100-preview.4.22227.3, it is fixed.
![61554](https://user-images.githubusercontent.com/94418985/165691466-f0316fff-fca3-42fa-b420-b4c638ebffe0.png)

[2022-04-28 06:35] MelonWang1 commented on #6881
Verified in the .NET 7.0 SDK build: 7.0.100-preview.4.22227.3, it is fixed.
![6881](https://user-images.githubusercontent.com/94418985/165691800-e33ff3cc-d071-4c31-a925-9aef2c587a39.gif)

[2022-04-28 06:46] Amy-Li03 commented on #6732
Verified this issue on .NET 7.0.100-preview.4.22227.3, issue was fixed. Narrator can announce the expand/collapse state when focusing treeview checkbox nodes or doing expanding or collapsing action for them.
![image](https://user-images.githubusercontent.com/62929087/165693014-69f412fb-348d-4091-b55a-233b87391f48.png)

[2022-04-28 06:49] Philip-Wang01 commented on #6915
Verified this issue in the .NET 7.0 SDK build: 7.0.100-preview.4.22227.3, it is fixed.
![image](https://user-images.githubusercontent.com/86937911/165693700-5d943151-6eeb-4e47-9978-e0b4be8e852f.png)

[2022-04-28 07:17] Ashley-Li commented on #6421
Verified this issue on .NET 7.0.100-preview.4.22227.3, issue was fixed, click the button in new form will not close the new form automatically. [TestApp4621.zip](https://github.com/dotnet/winforms/files/8580375/TestApp4621.zip)
![verify_6421](https://user-images.githubusercontent.com/56664234/165695632-5cdf9801-f14c-463c-9948-dc22dde35f19.gif)

[2022-04-28 07:35] Ashley-Li commented on #6732
Verified this issue on .NET 7.0.100-preview.5.22227.7, issue was fixed. Narrator can announce the expand/collapse state when focusing treeview checkbox nodes or doing expanding or collapsing action for them.
![image](https://user-images.githubusercontent.com/56664234/165701341-5805e000-7ae9-454d-9119-ebdb9b09e53c.png)

[2022-04-28 07:52] Philip-Wang01 commented on #6468
Verified this issue in .Net SDK 7.0.100-preview.4.22227.3 test pass build, it was fixed.
![70ceshi](https://user-images.githubusercontent.com/86937911/165704170-865597ae-860b-497a-bd38-20d34d25fc0a.gif)

[2022-04-28 08:12] Cassie-Li01 commented on #7026
Verified this issue on .NET 7.0.100-preview.5.22227.7, issue was fixed.
Without focus, HasKeyboardFocus as false
![image](https://user-images.githubusercontent.com/96758262/165707713-fd6fe515-d793-4e2e-b9d6-bff9d599cff7.png)

With Focus:  HasKeyboardFocus as True
![image](https://user-images.githubusercontent.com/96758262/165707974-d5ba61db-ac8d-41b8-8572-8635aa7bcf6a.png)

[2022-04-28 08:16] Philip-Wang01 commented on #6153
Verified this issue in .NET SDK 7.0.100-preview.4.22227.3 test pass build, it was fixed
![bujugeju](https://user-images.githubusercontent.com/86937911/165708692-c8b7093b-2a2f-4dee-8d43-3237d051ad42.gif)

[2022-04-28 08:41] coderb opened #7098 "TreeView OverflowException"
### .NET version

net6 x86

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

unknown

### Issue description

I'm hitting an OverflowException in TreeView.cs due to the cast to IntPtr on x86 (32-bit) with multiple monitors.

It looks like this is likely fixed under net7 with https://github.com/dotnet/winforms/pull/5791 .

`User32.Send

[2022-04-28 09:28] Philip-Wang01 commented on #6852
Verified this issue on .NET 7.0.100-preview.5.22227.7, issue was fixed
![image](https://user-images.githubusercontent.com/86937911/165721599-6749ce9e-f5d4-494f-93e7-e307c4a3da4c.png)

[2022-04-28 10:17] weltkante commented on #2734
I had a look two weeks ago, had a lot of problems with accessibility tests requiring localized data and seemingly not being influenced by the culture settings. Will check again with your attribute and let you know how well it goes.

[2022-04-28 10:44] AraHaan commented on #6421
you mean preview.5.22227.3?

[2022-04-28 10:55] Olina-Zhang opened #7099 "System.Runtime.InteropServices.MarshalDirectiveException pops up when executing MetaFile automation case"
### .NET version

**.Net 7.0 SDK:** 7.0.100-preview.5.22227.7

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes, it is a regression issue, cannot repro in .Net 6.0

### Issue description

System.Runtime.InteropServices.MarshalDirectiveException
  HResult=0x80131535
  Message=Cannot marshal 'parameter #5': Cannot marshal managed ty

[2022-04-28 10:57] Olina-Zhang commented on #7099
It seems not a Winforms issue, please triage

[2022-04-28 22:15] dreddy-work commented on #7098
Thanks @coderb for reporting this. @coderb do you mind checking if there are any other instances like this in the WinForms code base? That would meet the bar for servicing and we will work on the fix.

[2022-04-28 22:18] coderb commented on #7098
@dreddy-work that's the only instance of an overflow exception that i hit.  unfortunately, the codebase probably has many issues (see the merged patches for net7 and discussion here ->  https://github.com/dotnet/winforms/pull/5791 ).

[2022-04-28 22:23] dreddy-work commented on #7021
Thank you for reporting this @kelicto . Issues are expected to have a simple sample application or animation of the scenario describing the issue as mentioned in the issue template.

[2022-04-28 22:27] dreddy-work commented on #6987
Thanks @kirsan31 for reporting this. Do you have a fix in mind? If you do, we can help with rest of the process. Otherwise, It's going to be low priority for the team since it is not a regression.

[2022-04-29 01:24] kelicto commented on #7057
Not exactly true, the designer won't understand your intentions.

[2022-04-29 01:30] kelicto commented on #7057
What is `Application.DefaultFont`? I don't find any useful code to solve my problem.  `WindowsFormsSettings.DefaultFont = new System.Drawing.Font("Arial", 12);` make sure ok on runtime, but not a designer.

[2022-04-29 03:23] RussKie commented on #7057
If you're using third party libraries (such as DevExpress) please direct your queries to the authors of these libraries.

This repo contains the code for the Windows Forms SDK, and whilst the team maintaining this repo tries to provide assistance and guidance, we can't answer questions or debug applications. There are other more suited channels to seek information (such as [docs](https://docs.micr

[2022-04-29 05:52] Ashley-Li commented on #6421
@AraHaan Yesterday, I installed  **Release/7.0.1xx-preview4(7.0.x Runtime)** from  https://github.com/dotnet/installer and test this.

[2022-04-29 06:28] kirsan31 commented on #6987
No, I haven't even looked yet. But I'll give it a try if I have time...

[2022-04-29 08:28] AraHaan commented on #6421
I see, I been actually looking for the link to download only the daily quality Windows Desktop and ASP.NET Runtimes as it seems that the sdk installer seems to always not install the exact matching version suffix builds.

[2022-04-29 08:29] kant2002 commented on #5163
Another big area for ComWrappers - hosting of ActiveX controls
The ActiveX host know about following OLE interfaces
[code]

I think for handling this case should be created separate `ActiveXComWrappers` class which will creates object implementing `IDynamicInterfaceCastable` which mimic very closely what's happening here. Sample which show how it can work - https://github.com/dotnet/samples/tree/m

[2022-04-29 10:07] kant2002 opened #7105 "Obsolete BinaryFormatter infrastructure"
### Is your feature request related to a problem? Please describe

Given that https://docs.microsoft.com/en-us/dotnet/standard/serialization/binaryformatter-security-guide and overall plan to obsolete BinaryFormatter, is there time to do the same and mark constructors with `(SerializationInfo info, StreamingContext context)`.  Also all implementations for serialization can be put behind `AppContex

[2022-04-29 17:17] dreddy-work commented on #7021
@kelicto it is always recommended to provide as much details as possible to get better attention to the problem. A straight forward repro for you may not be the same for others. for ex:   you won't get low picture quality if your monitor is running at 100% DPI settings or you may always get low picture quality( even after you fix this issue ) if you are running application in DpiUnaware mode and y

[2022-04-29 17:30] dreddy-work commented on #7105
/cc: @JeremyKuhne / @merriemcgaw

[2022-05-02 01:10] RussKie commented on #5884
@merriemcgaw @dreddy-work the API proposed in https://github.com/dotnet/winforms/issues/5884#issuecomment-1077262077 look good to me, and I recommend engaging the ARB for their formal approval.

[2022-05-02 07:33] RussKie commented on #6421
@AraHaan I don't think there's a way of doing this (outside the team).

@kant2002  has created a service that can help determining what versions the installer has, you can find it here: https://kant2002.github.io/dotnet-installer-viewer/.
E.g.,
![image](https://user-images.githubusercontent.com/4403806/166200047-b8e4cb12-1cad-4f51-a1c5-a52994227ac3.png)

[2022-05-02 11:20] AraHaan commented on #6421
Wait why is System.Private.Winforms preview 4 still?

[2022-05-02 11:20] kant2002 commented on #7105
I think this is https://github.com/dotnet/winforms/issues/1251 and https://github.com/dotnet/winforms/issues/6267 , so my search foo was broken when I wrote this issue :(

[2022-05-02 14:15] FTricoire commented on #6990
Sorry for the wait but I couldn't find the time to send the information needed, i'll do this soon.

[2022-05-02 20:19] #6885 closed

[2022-05-02 23:31] JeremyKuhne commented on #6745
@kant2002 Is the goal here to simply make sure the two `IDataObject` types are explicitly referenced? Is there some other way we can clue in the trimmer? I would think it is fair to pull in both anytime someone uses the DragDrop APIs.

[2022-05-02 23:41] merriemcgaw commented on #5368
Issue can be worked around by following the instructions [here](https://github.com/dotnet/winforms/issues/5368#issuecomment-902069621)

There are no current plans to add an official package for this purpose so we are closing this issue.

[2022-05-02 23:41] #5368 closed

[2022-05-02 23:46] merriemcgaw commented on #5195
We thank you for your suggestion, however it does not meet our bar. This is a convenience feature and can be implemented as an extension method using whichever technique you need (breadth-first or depth-first).

[2022-05-02 23:46] #5195 closed

[2022-05-02 23:48] merriemcgaw commented on #5477
This has been addressed as far as possible in C#. I don't think we need to keep this open for the VB side, we know there is other work to do there too.

[2022-05-02 23:48] #5477 closed

[2022-05-03 02:21] kant2002 commented on #6745
@JeremyKuhne the goal is shift responsibility for built-in COM from WinForms to user code. `object` can be `_ComObject` if unknown nature.

[2022-05-03 17:46] JeremyKuhne commented on #6745
@kant2002 sorry, I'm not clear on how that helps. @AaronRobinsonMSFT are there resources on built-in COM and trimming? All I really know at this point is that we should be moving away from ComImport where possible, but I don't even _really_ know why. :)

[2022-05-03 17:54] chsienki commented on #6947
Hmm, we've seen this problem in a few different iterations.

https://github.com/dotnet/roslyn/issues/60257
https://github.com/dotnet/wpf/issues/4421
https://github.com/dotnet/roslyn/issues/46300

Basically all of these occur because the 'inner build' isn't including the required source generators. I think it was generally fixed for WPF, but my best guess is that the winforms generator is somehow b

[2022-05-03 18:13] chsienki commented on #6947
@RussKie Yeah, the `ResolveTargetingPackAssets` target isn't getting run by the WPF inner build, so the winforms generator never gets picked up by that build. I'd suggest starting with WPF to see why that isn't run / if it can be.

[2022-05-03 18:57] terrajobst commented on #5884
* `DropImageType`
    - We should align the names of `DropImageType` with Windows terminology, which includes using `Image` over `Icon`
        + `Default` -> `Invalid`
        + `NoDrop` -> `NoImage`
* `DragEventArgs`
    - `DropIcon` to `DropImageType`
    - The `Message*` properties should probably be nullable
* `GiveFeedbackEventArgs`
    - The constructor should match `DoDragDrop` with respec

[2022-05-03 19:22] kant2002 commented on #6745
Consider this piece of code somewhere in the external library.

[code]
For the runtime object `problemObject` actual type is `_ComObject`. Because this is Com Proxy, for runtime `IMyDataObject` and `ComType.IDataObject` are same types and can be converted to each other, so lines
https://github.com/dotnet/winforms/blob/e0e125abe00ae53cd102df47ed9a55deb2d5010d/src/System.Windows.Forms/src/System/Win

[2022-05-03 23:49] RussKie commented on #6947
Our source generator is only included for Windows Forms apps:
https://github.com/dotnet/winforms/blob/8e757eb35354dd9f0d6297ff721dd2c1f773b59d/pkg/Microsoft.Private.Winforms/sdk/dotnet-windowsdesktop/System.Windows.Forms.FileClassification.props#L13-L14
dotnet\packs\Microsoft.WindowsDesktop.App.Ref\\<version>\data\FrameworkList.xml is then generated from this list, which is then used by `ResolveTa

[2022-05-04 01:36] RussKie commented on #6947
Looking through the binlog stumbled upon this:
![image](https://user-images.githubusercontent.com/4403806/166612380-bc47ad63-d061-4c14-b452-6787c91fd5a7.png)

Digging in further...

[2022-05-04 02:03] AaronRobinsonMSFT commented on #6745
Are we sure the above APIs will actually help in a full featured WinForms way? What about the entire automation stack that is present in a Drag -N-Drop scenario?

@kant2002 I'm not saying we shouldn't add the `RequiresUnreferencedCode` to the existing API, but I don't see how the two additional overrides help push anything further along.

@JeremyKuhne The best source of details on the trimmer resi

[2022-05-04 15:26] dmitrii-drobotov opened #7135 "Fix issues when user removes ListViewItem"
### .NET version

7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

Continuation of work on https://github.com/dotnet/winforms/issues/6230. While https://github.com/dotnet/winforms/pull/6352  resolved the issue, it didn't fix the underlying problem.

### Steps to reproduce

See https://github.

[2022-05-04 18:16] JeremyKuhne commented on #6745
@kant2002 I wasn't aware you could cast `_ComObject` that way, but it makes sense when I think about it.

[2022-05-04 18:34] AaronRobinsonMSFT commented on #6745
Yes. A cast on an `_ComObject` is really a `QueryInterface` under the covers so all that matters is the GUID of the type being casted to. This is the base case though. There are other scenarios in .NET Framework where one can activate a COM server implemented in managed code and then cast the activate COM server to the managed implemented type rather than any COM interface.

For example:

[code]

[2022-05-04 19:11] #6652 closed

[2022-05-04 22:32] JeremyKuhne commented on #6745
Talking with @agocke the presumption is that you will never see `_ComObject` when trimming is enabled as COM interop is disabled. @AaronRobinsonMSFT is that a correct assumption?

[2022-05-05 03:02] carlreinke commented on #7063
@RussKie This is a report not a feature request. The bug will still be there even if you close the issue in 120 days.

[2022-05-05 03:17] RussKie commented on #7063
I understand this. However, this bug has been like this for a very long time. You're welcome to propose a fix.

[2022-05-05 04:26] RussKie commented on #6096
@vladimir-krestov can you please prioritize?

[2022-05-05 04:43] carlreinke commented on #7063
Yeah, well, maybe it went unreported for that very long time because everyone knew that valid bug reports were met with hostility.

I don't contribute to projects that use stale bot on bug reports.

[2022-05-05 04:43] #7063 closed

[2022-05-05 04:44] carlreinke commented on #6955
I don't contribute to projects that use stale bot on bug reports.

[2022-05-05 06:45] Symbai commented on #269
@RussKie: So if there is no community PR, then this request is rejected. Really?!

[2022-05-05 08:25] Balkoth commented on #4856
As this seems to be a Win32 Bug in the common controls, how do you think anyone else than Microsoft can fix this?

[2022-05-05 09:53] RussKie commented on #4856
We can bump it to the Windows team, however it will very-very likely get rejected... So if you or anyone else in the community feel strongly about it - you're welcome to propose a fix.
In a way, this is similar to https://github.com/dotnet/winforms/issues/3533.

[2022-05-05 09:56] RussKie commented on #269
The issue has been open for 4 years now, and it doesn't appear to be of any interest to anyone else. If you feel strongly about it - you're welcome to propose a fix.

[2022-05-05 10:54] Symbai commented on #269
Its fine if you mark it as up for grabs but who exactly gets hurt if it remains open?

[2022-05-05 11:56] Balkoth commented on #4856
It's sad that we will see no fixes to bugs in the common controls anymore. But i am more than happy that winforms went the open source route and has a working process for accepting community fixes (looking at you WPF).

So i did a quick check and tried the two approaches mentioned in #4374. While recreating the handle does indeed correctly draw the TextBox after it was disabled and had focus, the

[2022-05-05 12:11] Balkoth commented on #4856
What also works is calling `BufferedPaintStopAllAnimations` directly before changing the enabled state:

[code]

[2022-05-05 13:27] AaronRobinsonMSFT commented on #6745
Yes. The `_ComObject` represents the runtime's RCW. It has specialized handling for casts and other behavior that permit it to look and feel like a normal .NET object. The equivalent casting behavior is provided with `ComWrappers` via the [`IDynamicInterfaceCastable`](https://docs.microsoft.com/dotnet/api/system.runtime.interopservices.idynamicinterfacecastable) (IDIC) API - which is what @kant200

[2022-05-05 16:30] NXTwoThou opened #7141 "OwnerDrawFixed Bounds/DrawString issue."
### .NET version

.NET 6.0.

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Do not have anything prior to .NET 6.0 installed

### Issue description

In a simple WinForm app I was asked to change the color on some rows in a ListBox.  No problem, did it hundreds of times in .NET Framework apps over the years.  When I followed the [ex

[2022-05-05 17:06] NXTwoThou commented on #7141
Note, this is how I can work around it.

[code]

Doing this shows my new e.Bounds.Height to be 16 and it renders correctly.

I think the real issue is that ItemHeight isn't ever getting changed to match the Font that the control has.  The hard coded 13 worked fine for the default 8.25 font with .NET Framework apps, but obviously is a problem for the new default templates.

/src/System.Windows.Form

[2022-05-05 17:08] dreddy-work commented on #6955
@carlreinke , I understand your hesitation here but know that we are constantly monitoring the repo and prioritizing the issues as they come. In this case, we think the product can be benefitted if community contributed given the limited resources team have.  Hence marked so. This does not mean only the author of the issue needs to work on it. WinForms team own the responsibility of closing the is

[2022-05-05 18:22] NXTwoThou commented on #7141
Note, doing this is still screwy.  I have to do ListBox1.Font.Height-1 to give me the same row height as DrawMode.Normal. I then have to create a new Rectangle in DrawItem and do the .Y-1 to get the tops to line up.  That then cuts off the bottom of the G in Orange and the bottom of the lower case p in Purple.

![image](https://user-images.githubusercontent.com/15003605/166987840-1b1acc25-0d45-4b3

[2022-05-05 22:18] dreddy-work commented on #7135
@vladimir-krestov  to prioritize the issue.

[2022-05-05 22:21] dreddy-work commented on #7105
@kant2002 , We would be tracking this with epic #6267 and closing this as duplicate.

[2022-05-05 22:21] #7105 closed

[2022-05-05 22:44] dreddy-work commented on #3572
@rLindorfer, This has been around and hasn't got traction from the community. If this is still blocking you, Would you be interested in a API proposal as well as the implementation here? We will help you drive the rest of the process. Otherwise, We will not get to it in .NET 7.0

[2022-05-05 22:51] dreddy-work commented on #4600
Thank you @HubKing for filing this, this has been open and hasn't got any traction form community. If you are blocked or a fix in mind, please feel free to propose solution and we can help drive it in the coming milestone.

[2022-05-05 22:58] dreddy-work commented on #4989
Thank you for reporting this @trivalik . We believe there are various events(HandleCreated, OnLoad or Show etc.) at the Control/Form level available to achieve what you were demonstrating in the sample app here. Given lack of community traction, we are closing this.

[2022-05-05 23:06] RussKie commented on #4555
Related to https://github.com/dotnet/winforms/issues/6269

[2022-05-05 23:10] RussKie commented on #1268
Related to https://github.com/dotnet/winforms/issues/6269

[2022-05-05 23:10] RussKie commented on #3456
Related to https://github.com/dotnet/winforms/issues/6269

[2022-05-05 23:11] #4989 closed

[2022-05-05 23:12] RussKie commented on #6729
Related to https://github.com/dotnet/winforms/issues/6269

[2022-05-05 23:16] RussKie commented on #5896
Related to https://github.com/dotnet/winforms/issues/6269

[2022-05-06 02:11] RussKie commented on #4856
Have you checked if the fix applied in #4374 and #4855 addressed this issue? If - yes, we can apply the same here.

[2022-05-06 04:54] trivalik commented on #4989
Sure, but `Control.DesiredVisibility` would make is more easier.

[2022-05-06 06:10] Balkoth commented on #4856
I have tried it like this (64-bit build on 64-bit machine, so 32-bit GetWindowLong is omitted), unfortunately it does not work:

[code]

[2022-05-06 06:17] RussKie commented on #4856
Thank you for checking.

Then we can go this route.

[2022-05-06 22:07] jhudsoncedaron opened #7149 "Feasabilty of enabling Trim on WinForms by manually providing the roots file?"
### .NET version

.NET Runtime 6.0

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

N/A

### Issue description

Discussion tag please

This documentation describes how to provide a list of assemblies to preserve: https://github.com/dotnet/linker/blob/main/docs/data-formats.md

We have a large .NET Runtime application that is mostly

[2022-05-07 04:46] MelonWang1 commented on #6652
Verified this issue on .NET 7.0.100-preview.5.22256.2, issue was fixed. In inspect, toolStripScrollButtons are in hierarchy of toolStripDropDown menu.
Inspect:
![Screenshot 2022-05-06 200533](https://user-images.githubusercontent.com/94418985/167238703-c5e0eee4-fb82-484c-ae7b-83f0e872b578.png)
![UP](https://user-images.githubusercontent.com/94418985/167238707-c3661385-ba39-4dc6-b36c-4396457a42c6.p

[2022-05-07 04:50] #7043 closed

[2022-05-07 05:57] Cassie-Li01 commented on #6153
Verified this issue in .NET SDK 7.0.100-preview.5.22256.2 test pass build, it was fixed

[2022-05-07 06:26] Olina-Zhang commented on #7042
This issue was fixed in internal VS build, please use incoming Visual Studio 2022 preview build for testing.
![eventsVerify](https://user-images.githubusercontent.com/26474449/167241820-f0e3ba17-7219-433f-af32-8d62d45c4ec9.gif)

[2022-05-07 06:26] #7042 closed

[2022-05-07 06:41] Olina-Zhang commented on #6550
Verified this issue in Visual Studio 2022 internal build, it was fixed: when event is not referenced, the event code is still keeping there. Please use incoming Visual Studio 2022 preview version for this improvement.

[2022-05-07 06:49] kirsan31 commented on #6550
@Olina-Zhang you closed this by mistake?

[2022-05-07 07:16] Olina-Zhang commented on #6550
I am not clear if I understand correctly, @RussKie mentioned another issue: [7042](https://github.com/dotnet/winforms/issues/7042), want us to verify them together. Please correct me if issue has more feature request.

[2022-05-07 07:25] kirsan31 commented on #6550
Hmm, this is your issue, isn't  it?
**Need to be able to remove empty events in Windows Form**
Why it was closed? 🤔

[2022-05-07 07:34] Olina-Zhang commented on #6550
This is from external suggestion feedback ticket, not mine. I understand the fix is the event code is keeping there when it is not referenced, not deleted now. Let our engineer team give more details for this bug, @RussKie, @merriemcgaw.

[2022-05-07 07:40] kirsan31 commented on #6550
I think the misunderstanding here arose because of my [comment](https://github.com/dotnet/winforms/issues/7042#:~:text=Some%20how%20related%20to%20%236550.) in description of #7042:

But by relation, I meant only [this](https://github.com/dotnet/winforms/issues/6550#issuecomment-1101288184):

[2022-05-07 09:20] John-Qiao commented on #6885
Verified this issue on .NET 7.0.100-preview.5.22256.2, issue was fixed as below screenshot:

![TestResult](https://user-images.githubusercontent.com/45864985/167247946-43080328-0583-4173-87f6-dab5aa665cd1.png)

[2022-05-07 15:50] AraHaan commented on #6550
Speaking about events: Inlined events using delegate syntax's get removed by the designer whenever you change even a slight thing (and it does not care if it has code in it or not).

[2022-05-08 12:38] kelicto commented on #7021
I won't create such problems and submit them to the official team for solution. I don't set up DPI amplification.

[2022-05-08 12:55] kirsan31 opened #7153 "wrong number conversion in structs (regional format related)"
### Environment

Microsoft Visual Studio Community 2022
Version 17.1.6
VisualStudio.17.Release/17.1.6+32421.90
Microsoft .NET Framework
Version 4.8.04084

Installed Version: Community

Visual C++ 2022   00482-90000-00000-AA052
Microsoft Visual C++ 2022

ASP.NET and Web Tools 2019   17.1.363.30963
ASP.NET and Web Tools 2019

Azure App Service Tools v3.0.0   17.1.363.30963
Azure App Service Tools v3

[2022-05-08 23:27] RussKie commented on #7153
I worked on several very similar issues, and those were fixed in 17.2.

May I get you to check the cli args for the DesignToolServer? In the fixed version VS passes the desired locale information to the server process. There were few iterations in this space, but we expect it to be something like:
![3953-2](https://user-images.githubusercontent.com/4403806/144371570-28d41f37-610f-42b8-9dcc-25d021b

[2022-05-08 23:46] KlausLoeffelmann commented on #4895
@tbolon:

Yes, that was my plan.

[2022-05-08 23:48] KlausLoeffelmann commented on #4895
Yeah, I always was ambivalent about that as well, and wrote "Optional" to begin with. I am gonna drop this, it makes no sense. Or not enough sense.

[2022-05-09 00:44] RussKie commented on #6550
@kirsan31 the issue was closed because it was fixed in the designer repo. I asked @Olina-Zhang to close it after the fix was confirmed.
The fix is expected to be available in 17.3p2.

[2022-05-09 00:44] #6550 closed

[2022-05-09 01:26] RussKie commented on #7149
Windows Forms SDK is not currently trim-friendly due to an extensive dependency on COM and the use of reflection. The team is aware of the customer ask in this area, however this work is not currently prioritised. We track related requests under https://github.com/dotnet/winforms/issues?q=label%3A%22area%3A+ILLinker%2FAOT%22
@kant2002 is currently porting COM definitions to ComWrappers, and when t

[2022-05-09 02:59] John-Qiao commented on #7153
@RussKie we have filed a designer issue for it, please check https://github.com/dotnet/winforms-designer/issues/4140.

[2022-05-09 03:19] John-Qiao commented on #6919
@generatorXu have you attached your sample project here? I didn't find it, please check.

[2022-05-09 04:53] kant2002 commented on #7149
@jhudsoncedaron I think you looking for https://docs.microsoft.com/en-us/dotnet/core/deploying/trimming/trimming-options#root-descriptors

For starting place on controls which problematic for trimming, you can look at [my work](https://github.com/kant2002/RdXmlLibrary/blob/main/System.Windows.Forms.rd.xml) on NativeAOT. That's all problematic places which I found during my testing. It's likely tha

[2022-05-09 06:27] Olina-Zhang opened #7154 "[Accessibility] Change DataGridView's Row/Column counting with starting at 1, not 0"
### .NET version

**.Net 7.0 SDK build:** 7.0.100-preview.5.22256.2

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, this is not a regression issue. And @merriemcgaw wants a runtime issue to ask to change the counting with starting at 1.

### Issue description

We need to change DataGridView's Row/Column counting with starting at

[2022-05-09 07:18] kirsan31 commented on #7153
![image](https://user-images.githubusercontent.com/17767561/167359094-1e1ffe39-663d-4036-927e-9ef6a3a31e16.png)

So, it seems that the problem in something else...

[2022-05-09 08:48] Ashley-Li commented on #7021
@kelicto The ImageList control added to the Form designer by default has ColorDepth=Depth8Bit, when you change the ImageSize of the ImageList control, please try to modify the ColorDepth to Depth32Bit and observe the clarity of the image again.

[2022-05-09 09:55] RussKie commented on #7153
I think I may have found the problem, investigating a possible fix.

________________________________
From: kirsan31 ***@***.***>
Sent: Monday, 9 May 2022 5:18 PM
To: dotnet/winforms ***@***.***>
Cc: Igor Velikorossov ***@***.***>; Assign ***@***.***>
Subject: Re: [dotnet/winforms] wrong number conversion in structs (regional format related) (Issue #7153)

May I get you to check the cli args for t

[2022-05-09 11:52] generatorXu commented on #6919
Hi @John-Qiao,

 sample is here:
[DesignerSample.zip](https://github.com/dotnet/winforms/files/8651342/DesignerSample.zip)

[2022-05-09 22:56] #7079 closed

[2022-05-10 01:39] kelicto commented on #7021
Thinks. The default should be to use the bitmap depth of the default image, and setting it through properties is not a good practice. Although it can solve the problem, this increases the learning cost and not everyone is aware of it.

[2022-05-10 01:59] kelicto commented on #7021
Sorry. I don't see the FEATURE tag.

[2022-05-10 02:39] John-Qiao commented on #6919
@generatorXu I tried your sample project on my side, but it seems there's no exception occurs in the VS diagnostic window. Please check the below gif file, and please let me know if I missed something.

![TestResult](https://user-images.githubusercontent.com/45864985/167531763-77a03108-6a55-45ae-b9bf-1a60cf3b4281.gif)

[2022-05-10 04:01] generatorXu commented on #6919
Hi @John-Qiao , in Visual Studio, please uncheck "Tools -> Options -> Debugging -> Enable Just My code" options first, then re-run my project.

[2022-05-10 04:05] generatorXu commented on #6919
and modify DesignerSample.csproject according to the screen shot below:
![2022-05-10-12-05-22](https://user-images.githubusercontent.com/23371488/167540384-c5e476aa-bf9c-4d80-b5f6-9e9eb1be991a.gif)

[2022-05-10 05:40] John-Qiao commented on #6919
@generatorXu thanks for your info, I can repro this exception using your sample project now.

[2022-05-10 10:27] Junjun-zhao opened #7159 "[dotnet-sdk-7.0.100-preview.5.22257.3] WinForm Apps thrown Object reference not set to an instance of an object when setting values to Label.Text"
### .NET version

7.0.100-preview.5.22257.3

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

**Verify Scenarios:**
1). Windows10 RS5 x64+dotnet-sdk-7.0.100-preview.5.22257.3: Fail
2). Windows10 RS5 x64+dotnet-sdk-7.0.100-preview.5.22258.1: Fail
3). Windows10 RS5 x64+dotnet-sdk-7.0.100-preview.4.22252.9: Pass

### Issue description

[2022-05-10 11:16] RussKie commented on #7159
@dreddy-work this likely relates to your recent work, please investigate.

[2022-05-10 17:07] dreddy-work commented on #7159
Yes it is and is in this preview only. I am working on it.

[2022-05-11 01:54] Olina-Zhang commented on #7159
Similar issue: https://github.com/dotnet/winforms/issues/7090

[2022-05-12 03:09] #6096 closed

[2022-05-12 04:39] MelonWang1 commented on #7043
Verified on build .NET 7.0.100-preview.5.22261.8, this issue was fixed. Screenshot as below:
![Screenshot 2022-05-11 213143](https://user-images.githubusercontent.com/94418985/167993236-caa9a6f2-198f-4b3c-8357-a20da47871fb.png)

[2022-05-12 06:34] tinodo commented on #7154
+1 on this issue!

[2022-05-12 06:39] tinodo commented on #3471
You can override the AccessibilityRole in code. Make the Menu a List and the items ListItems. This will cause Narrator to announce the item count and position of an item.

[2022-05-12 06:40] tinodo commented on #6657
You can manually override the default colors to meet the contrast requirements. But visually impaired users will typically use something like a high contrast theme in Windows. Overriding the 'default' colors with specific ones, will break this.

[2022-05-12 18:27] #7159 closed

[2022-05-12 22:09] #7090 closed

[2022-05-12 22:11] dreddy-work commented on #7154
This would be breaking change.

[2022-05-12 22:16] dreddy-work commented on #7154
@vladimir-krestov , can you guys take a look and see if we can fix this just for accessibility?

[2022-05-12 22:23] dreddy-work commented on #6859
@RussKie, Can you summarize what the next steps here for the community given marked it for 'up-for-grabs'?

[2022-05-12 22:26] dreddy-work commented on #6646
@Tanya-Solyanik, Are you planning to take this up in 7.0?

[2022-05-13 08:56] udaken opened #8844 "[API Proposal]: Add ReadOnlySpan<char> overloads to System.Drawing.Graphics"
### Background and motivation

When drawing strings manually in WinForms, new text is frequently created.
Since the methods `System.Drawing.Graphics` and `System.Drawing.GraphicsPath` only accept strings
String allocations occur frequently.

It would be better to add an overload that accepts `ReadOnlySpan<char>` so that the buffer can be passed directly.

### API Proposal

[code]

### API Usage

I

[2022-05-13 20:28] Tanya-Solyanik commented on #6646
No, this is a request from the runtime team. Someone from our team should work with Rich to understand his goal, and then we need to decide if his goals align with ours.

[2022-05-14 03:29] RussKie commented on #7099
@kant2002 could this be a fallout from of the comwrapper related changes?

[2022-05-14 04:32] kant2002 commented on #7099
I think not. `Cannot marshal managed types when the runtime marshalling system is disabled.` this message indicates to me that `DisableRuntimeMarshalling` attribute applied to `System.Windows.Forms` assembly. I would guess that SDK automatically insert that attribute for some reasons (trimming for example).

LibraryImportGenerator would solve this kind of issues one and for all.

[2022-05-14 04:40] kant2002 commented on #7099
Exception happens which I see when run with Debug mode is following

[code]
[code]

[2022-05-14 04:44] kant2002 commented on #7099
Oops, sorry. I repro reported error
[code]

but again, I see that issue should belongs to dotnet/runtime

[2022-05-14 04:50] kant2002 commented on #7099
This is simplest repro
[code]

[2022-05-14 09:01] RussKie commented on #7099
Thank you @kant2002 for the investigation.

[2022-05-14 11:49] kant2002 commented on #6217
First work is started in https://github.com/dotnet/winforms/pull/7172

[2022-05-14 19:14] AraHaan commented on #6217
I think Winforms will still need a way to use COM then when this happens. Perhaps one should ask the maintainers of the generator to add COM marshaling support so that way there won't be any possible regressions in winforms.

[2022-05-15 02:07] RussKie commented on #6217
/cc: @AaronRobinsonMSFT for visibility

[2022-05-15 02:35] AaronRobinsonMSFT commented on #6217
WinForms can start to consume LibraryImport now and that would be much appreciated. We started doing this in https://github.com/dotnet/aspnetcore/pull/41573 and found some deficiencies so it is possible WinForms will also find issues we should address.

This is on deck - see https://github.com/dotnet/runtime/issues/66674.

[2022-05-15 03:52] kant2002 commented on #6217
For the record LibraryImport work started https://github.com/dotnet/winforms/pull/7172

based on my previous attempts we need a lot of structure marshalers. What’s recommendations for dealing with structures? There a lot of them in WinForms and writing all of marshalers would be boring. Can simple marshalers be generated for us for this case?

[2022-05-15 04:08] AaronRobinsonMSFT commented on #6217
That is something we have discussed. We are still looking for the justification of cost though. Knowing how many marshallers would need to be written manually in WinForms coupled with a few examples would be helpful in understanding the benefit.

[2022-05-15 14:25] kant2002 commented on #6217
Okay. I wrote a small tool which analyze `System.Windows.Forms.Primitives` where most DllImport lives.

Methods analysis:
[code]

And types analysis
[code]

I would not claim that I copy all rules for LibraryImportGenerator, but seems to be I'm pretty close.

Not sure about which scenario runtime team think to implement, but I think it was what I call `UnmanagedStruct` (in the docs they are called

[2022-05-15 16:05] AaronRobinsonMSFT commented on #6217
Right.

The idea is basically the old definition but limited to value types, classes marked sequential are not blittable, and must be made up of types that are either all defined in the same assembly or of always blittable primitives.

Sort of. There are a number of cases where `DisableRuntimeMarshallingAttribute` will cause a lot of complexity to change and although it might be worth it in the lo

[2022-05-16 09:38] vsfeedback opened #7181 "Second DataGridView with CalendarColumn does not display data in the cells"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Second-DataGridView-with-CalendarColumn-/10043008)._

---
[severity:It's more difficult to complete my work]
Using the CalendarColumn from the "How to: Host Controls in Windows Forms DataGridView Cells" documentation example, I have modified the program to create a DataTable to use as a

[2022-05-16 09:46] Cassie-Li01 commented on #7181
**Repro Steps:**
1. Open attached application
2. Build and Run it
3. Observe
[WinFormsApp4.zip](https://github.com/dotnet/winforms/files/8698910/WinFormsApp4.zip)

**Current Behavior**
Second DataGridView with CalendarColumn does not display data in the cells
![Error](https://user-images.githubusercontent.com/96758262/168564988-9b0391c7-7043-48ee-851d-49ccbc54bc5d.PNG)
![Repro](https://user-images

[2022-05-16 09:49] dkazennov commented on #7056
The issue with the Narrator focus doesn't reproduce in WinformsControlTest TreeView test, both with changes made by PR #7175 and with the TreeView test locally replaced with the form from the testing application. The issue doesn't reproduce with checkout to older project commits e.g. v7.0.0-preview.2.22152.2.

The issue reproduces in the separate testing application, both with dotnet release (7.0.

[2022-05-16 12:56] kant2002 opened #7182 "Failed to open designer"
### Environment

Version 17.3.0 Preview 1.0

### .NET version

net7.0

### Did this work in a previous version of Visual Studio and/or previous .NET release?

_No response_

### Issue description

Seeing
[code]

### Steps to reproduce

Take sample app from https://github.com/dotnet/winforms/issues/6952 and open in the designer.

### Diagnostics

_No response_

[2022-05-16 16:59] glynn-stuber commented on #7181
This is NOT the expected behaviour.
The second grid should show/display the current cell values the same as the first grid.
When the form is shown, the second grid is blank, and only shows the value in the editor when edit is invoked in a cell.
This is not Normal behaviour. The grid should always show the current cell values,

[2022-05-16 18:10] dreddy-work commented on #7013
@RussKie do you know why we didn't opt to run native on arm64?

[2022-05-16 18:31] dreddy-work commented on #7098
this require majority of #5791 to be ported not just tailored fix here. @JeremyKuhne any thoughts on this?

[2022-05-16 18:52] JeremyKuhne commented on #7098
@dreddy-work We wouldn't port the whole of #5791 for a servicing fix. A targeted fix can be evaluated for servicing. @coderb, please confirm that this is the location you're hitting the issue.

https://github.com/dotnet/winforms/blob/ec6689c3ebccb90aeea7c6912648da348588018a/src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs#L3098

The current implementation is this:

https://github.com/

[2022-05-16 19:10] coderb commented on #7098
@JeremyKuhne yes, that is the line that has the probmlem.

[2022-05-16 19:41] dreddy-work commented on #7098
Thanks @JeremyKuhne , i was thinking in the lines of making nint changes across the call flow here . Hence, realized it needed most those changes in #5791. Linked [PR](https://github.com/dotnet/winforms/pull/7183) has targeted fix. Will be sending it to servicing approval.

[2022-05-16 22:33] RussKie commented on #7013
AFAIK we don't have arm vms. @mmitche or @MattGal  may correct me though.

[2022-05-16 22:37] #7098 closed

[2022-05-16 23:14] MattGal commented on #7013
Correct; ARM64 VMs exist, but we have yet to receive any / enough quota to utilize them in Azure, so the only ARM64 machines we have are Helix test machines which are all physical hardware.

We have https://github.com/dotnet/core-eng/issues/15539 which tracked trying to help Winforms move their tests to Helix, which would allow ARM64 test execution (despite test building still being on AMD64) but

[2022-05-17 00:57] RussKie commented on #6919
@generatorXu thank you for the sample. Could you please provide more information on your business scenario and on how this issue affects it, so we can present it to the Servicing Bar for a consideration to taking the fix into the 6.0.x branch. Thanks

[2022-05-17 04:05] generatorXu commented on #6919
@RussKie ,

I'm a senior developer. My working company is a software vender which provide low-code modeling/developing tools for large scale enterprises.

The 'drag & drop from toolbox' functionality is making a key role in our design functionality of the UI modeling tool. The UI modeling tool is similar to  Microsoft new WinForms Designer, but it doesn't generate codes, it produces xml document i

[2022-05-17 07:04] Cassie-Li01 commented on #7182
I can't repro this issue with sample app, please check below gif
[WinFormsApp30.zip](https://github.com/dotnet/winforms/files/8705936/WinFormsApp30.zip)
![Not Repro](https://user-images.githubusercontent.com/96758262/168749065-4ac02658-6346-4ac9-a4b4-021cbb261052.gif)

VS Version 17.3.0 Preview 1.0
.Net Core version:
![image](https://user-images.githubusercontent.com/96758262/168749625-08b5b40c-11

[2022-05-17 09:27] kant2002 commented on #7182
I have slightly differnet version of .NET SDK `7.0.100-preview.5.22263.22`

Also right now I cannot repro exact this issue, but if I
1. add
[code]

2. then build project
3. open designer
then VS restarts

Event viewer shows
[code]

I suspect this is separate issue, but who knows. I willing to troubleshoot more, if more knobs given to me.

[2022-05-17 09:29] kant2002 commented on #7182
Ooh. I add Verbose logging and Designer did not crash, and just properly log error. but I see other interesting bits

Notice that stacktrace has a lot of `Cursor.ToString` calls which points to potential stack overflow.
[code]

[2022-05-17 09:35] kant2002 commented on #7182
I would guess that issue here
https://github.com/dotnet/winforms/blob/9ea06044776cd10bd1968ee141449bed1a8e6945/src/System.Windows.Forms/src/System/Windows/Forms/CursorConverter.cs#L88

This condition is false when Cursor comes from assembly with different identity(unsure). Because .NET can treat this is as different Cursor classes, it falls down to
https://github.com/dotnet/winforms/blob/9ea060447

[2022-05-17 10:44] RussKie commented on #6919
Thank you, it does.

[2022-05-17 16:36] dkazennov commented on #7056
An additional testing outside of Winforms shows the same Narrator highlight behavior with scrollbars in different applications including Visual Studio and in Windows Explorer.

![image](https://user-images.githubusercontent.com/102961955/168862604-bb9fe8af-f90a-423e-b505-2c2c6a58d7ed.png)

[2022-05-17 22:02] #6763 closed

[2022-05-17 22:59] merriemcgaw commented on #7154
We would likely have to make some sort of configuration option for the developer to opt in to counting starting from 1 rather than zero. I can't see any other way to not break our users who have worked around this issue for years. I imagine there's lots of automation that depends on this bug, and probably some AT has worked around this too and we don't want to break either scenario.

[2022-05-18 01:07] buyaa-n opened #8845 "System.Drawing.Common.Tests fails during libraries test run"
Found while running all tests in libraries, running tests manually from the individual project also fails.
[code]
Failing with clean build having no any changes

[2022-05-18 06:25] Cassie-Li01 commented on #7079
Verified on build .NET 7.0.100-preview.5.22267.11, this issue was fixed. Screenshot as below:
![image](https://user-images.githubusercontent.com/96758262/168971233-3577a611-ccd6-4cc5-846f-36e01cb15228.png)

[2022-05-18 09:10] Olina-Zhang commented on #7159
Verified it in the latest .Net 7.0 build from main branch: 7.0.100-preview.5.22267.11, it is fixed:
![issue7159_fixed](https://user-images.githubusercontent.com/26474449/169002896-78529570-9107-43ff-977e-73c950c1b444.gif)

[2022-05-18 10:15] MelonWang1 commented on #7090
Verified this issue on .NET SDK 7.0.100-preview.5.22267.11, it is fixed. The Label and LinkLabel Cases automation run passed.

[2022-05-18 19:37] Tanya-Solyanik commented on #7056
Great investigation! Yeah, looks like we need to raise some sort of [accessibility event](https://github.com/dotnet/winforms/blob/d8016d116e11d476adb1950bfdc09dc2150b90f0/src/System.Windows.Forms/src/System/Windows/Forms/AccessibleEvents.cs#L308). But since this does not work in File explorer either, and new acc event might be not expected and breaking for automation tests, we can "won't fix" this

[2022-05-18 19:37] #7056 closed

[2022-05-19 06:19] John-Qiao commented on #6381
Verified with 7.0.100-preview.5.22267.11 from main branch, this issue has been fixed that the Anchors of user control works when scaling on high DPI now.

![TestResult](https://user-images.githubusercontent.com/45864985/169223814-0ca496c2-63f7-4c58-a7ea-a64a770e1e87.gif)

[2022-05-19 09:48] 2mik commented on #6381
Thanks a lot!

[2022-05-19 09:57] kant2002 opened #7193 "Designer failed to load immidiately after open project"
### Environment

17.3.0 Preview 1.0

### .NET version

.NET 7.0

### Did this work in a previous version of Visual Studio and/or previous .NET release?

_No response_

### Issue description

I open project and almost immidiately open MainForm in the designer.
It sits in the loading process. Log below.
[code]

### Steps to reproduce

I open https://github.com/kant2002/WinFormsComInterop project
Cha

[2022-05-19 11:13] RussKie commented on #7193
[15:46:48.427389] info: [SampleWindowsForms]:  ---> System.IO.FileNotFoundException: Could not load file or assembly 'System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'. The system cannot find the file specified.
[15:46:48.427389] info: [SampleWindowsForms]: File name: 'System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'

A

[2022-05-19 11:47] kant2002 commented on #7193
No, I do not. And I do not even have Net Frmaeowkr TFM anywhere

[2022-05-19 15:59] dmitrii-drobotov opened #7196 "TreeNode accessible objects are leaking in memory"
### .NET version

.NET 7.0 Preview 4 (at least .NET 7.0 Preview 3, where `TreeNodeAccessibleObject` was introduced)

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No (there was no `TreeNodeAccessibleObject`)

### Issue description

`TreeNode` accessible objects are left in memory after the `TreeView` control instance with its nodes

[2022-05-19 16:09] dmitrii-drobotov opened #7197 "ListBox items' accessible objects are leaking in memory"
### .NET version

.NET 7.0 Preview 4

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

`ListBox` items' accessible objects are left in memory after the `ListBox` control instance with its items was inspected with accessibility tool (like Accessibility Insights or Inspect) and the form with `ListBox` is close

[2022-05-19 19:06] dreddy-work commented on #7025
@Tanya-Solyanik , linked bug is closed. Can you push PR reverting the change?

[2022-05-19 22:15] dreddy-work commented on #7197
@dmitrii-drobotov , we believe you are working on it hence, assigned to you.

[2022-05-19 22:55] dreddy-work commented on #7181
Thanks for reporting this. As the behavior is the same on .NET Framework, we're unlikely to make a change to the behavior. We'll take a look when we're able and see if there is a way to accomplish what you're trying to do.

Alternatively, there are other more suited channels to seek information (such as [docs](https://docs.microsoft.com/)) and ask questions (such as [Discussions](https://github.co

[2022-05-20 00:50] Tanya-Solyanik commented on #4856
We had re-triaged this issue. The fix can be breaking to the existing applications because it raises HandleCreated event unexpectedly. On the other hand, a workaround can be applied on the application level. Closing this issue unless a solution that does not require re-creation of the control can be found.

[2022-05-20 00:51] #4856 closed

[2022-05-20 00:53] Tanya-Solyanik commented on #7181
@glynn-stuber  - please try moving DataGridView initializations to form constructor from Form.Shown handler.

[code]

[2022-05-20 01:48] RussKie commented on #7182
This isn't a supported use case, so we can't really offer much help. I can sort of see how the SDK and VS can get confused here. If you wish to test the latest Windows Forms runtime with the designer you'd need to [copy the changes to the SDK](https://github.com/dotnet/winforms/blob/main/docs/debugging.md#1-copy-your-changes-into-the-sdk).
I've written a script for this https://gist.github.com/Rus

[2022-05-20 01:48] #7182 closed

[2022-05-20 01:50] kant2002 commented on #7193
I think this is the same for canary builds so https://github.com/dotnet/winforms/issues/7182#issuecomment-1132362956 applies

[2022-05-20 01:50] #7193 closed

[2022-05-20 01:52] RussKie commented on #7193
Yes, I very much suspect so. You're trying to load a Windows Forms project in the designer that's using the globally installed .NET Windows Desktop SDK, and the project is referencing the canary bits of the Windows Desktop SDK from another place...

[2022-05-20 01:56] kant2002 commented on #7193
Not sure how complicated it would be, but if Designer just log message if detect System.Windows.forms.dll inside bin folder. At least that reduce noise which I can make in the future (and any contributor)

[2022-05-20 02:13] RussKie commented on #7193
Then we'd have to know the content of the Windows Desktop SDK so we can match any file from it... And what if someone (because why not?) decides to name their assembly System.Windows.Forms.dll? Unless the dll has the same identity, it shouldn't really be a problem.... Though I'm not 100% sure :)

[2022-05-20 02:45] glynn-stuber commented on #7181
Tanya,
Thank you for your reply and advice.
I tried this and it worked, although I don't understand why.

[2022-05-20 02:47] RussKie commented on #7181
This may be related to timing of events, such as handle creation.

[2022-05-20 02:48] #7181 closed

[2022-05-20 09:28] Cassie-Li01 opened #7199 "[Accessibility] An onscreen element must not have a null BoundingRectangle property for PrintPreviewToolStrip Zoom button"
### .NET version

.NET 7.0.100-preview.5.22267.11

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

This is a regression issue. .NET 7.0.100-preview.4.22252.9 and Net 6.0 not repro this issue

### Issue description

[Accessibility] An onscreen element must not have a null BoundingRectangle property for PrintPreviewToolStrip Zoom butt

[2022-05-20 14:00] Junjun-zhao opened #7201 "[dotnet-sdk-7.0.100-preview.5.22267.11] Some controls are sometimes not displayed due to DPI settings and monitor"
### .NET version

dotnet-sdk-7.0.100-preview.5.22267.11

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

**Verify Scenarios:**
1). Windows10 RS5 x64+dotnet-sdk-7.0.100-preview.5.22267.11: Fail
2). Windows10 RS5 x64+dotnet-sdk-5.0.214-win-x64: Pass
3). Windows10 RS5 x64+dotnet-sdk-7.0.100-preview.5.22263.22: Pass

### Issue descripti

[2022-05-23 08:32] xiaoyuvax commented on #5434
met the same problem and @Marie-Shi 's link is 404.

[2022-05-23 20:26] dreddy-work commented on #7201
Investigating.

[2022-05-23 20:45] dreddy-work commented on #7201
@Olina-Zhang , I tried attached sample app [WinFormsApp3.zip](https://github.com/dotnet/winforms/files/8740651/WinFormsApp3.zip) with 200% primary DPI with latest SDK (desktop version 7.0.0-preview.5.22269.1) and i do not repro the issue. Can you help get the repro steps here with this sample app if you could repro it? I tried both SystemAware and UnAware ( in program.cs).

[2022-05-23 23:03] dotMorten commented on #6964
Better idea: Replace just the internal implementation with the new browser control.

[2022-05-23 23:29] RussKie commented on #6964
I don't think this is feasible - the API surface is different, the types are different, the deployment model is different... It sounds similar to "I want to continue building VB6 apps, just plug the .NET runtime under the covers".

[2022-05-23 23:40] RussKie commented on #5434
@xiaoyuvax the link points to a private repo.

[2022-05-23 23:42] RussKie commented on #5434
@Craftplacer please provide a sample repro.

The designer exhibited a similar issue which was addressed in VS 17.2.

[2022-05-24 01:01] #6990 closed

[2022-05-24 07:24] Junjun-zhao commented on #7201
@dreddy-work @Olina-Zhang Thanks for helping investigate this bug.  I uploaded a new repro sample, there are some changes , location , size and AutoScaleDimensions . [WinFormsApp.zip](https://github.com/dotnet/winforms/files/8759940/WinFormsApp.zip)
We tried it with 7.0.100-preview.5.22273.1 on three machines. It repro . Could you please have a try?  Feel free to let us know if you encounter any p

[2022-05-24 09:01] Cassie-Li01 commented on #7201
Verified on latest SDK 7.0.100-preview.5.22273.16 with sample application
[WinFormsApp.zip](https://github.com/dotnet/winforms/files/8761085/WinFormsApp.zip)

**Repro use the sample application and Unaware**
sample application:
![MicrosoftTeams-image (12)](https://user-images.githubusercontent.com/96758262/169991670-ae19b79f-593b-4da1-b98f-8ef34a64f230.png)
Unaware:
![MicrosoftTeams-image (13)](ht

[2022-05-24 16:45] #7135 closed, assigned to vladimir-krestov, dmitrii-drobotov

[2022-05-24 23:14] RussKie commented on #5434
Thank you @Craftplacer

@xiaoyuvax please open a new issue and provide as much info as possible.

[2022-05-24 23:14] #5434 closed

[2022-05-25 01:14] #7153 closed

[2022-05-25 01:16] RussKie commented on #7153
The fix is expected to be available in 17.3p2.

[2022-05-25 19:07] merriemcgaw commented on #7199
@vladimir-krestov can you prioritize this for an upcoming preview in .NET 7? This could be a blocking bug for us,

[2022-05-25 21:50] DJm00n commented on #4345
Hi all!

I have written the code in C++ accodring to the [comment](https://github.com/dotnet/winforms/issues/4345#issuecomment-759161693). Seems simple enought and working so far:

[code]

It could be easely ported to WinForms.

[2022-05-25 23:53] Tanya-Solyanik commented on #7025
This change did not make it into our repo yet

[2022-05-26 02:08] #716 closed

[2022-05-26 02:17] RussKie commented on #4345
Thank you for sharing @DJm00n.

[2022-05-26 06:00] Olina-Zhang opened #7224 "[LOC] Comments and region description are not translated in Form.designer.cs"
### .NET version

.Net 7.0 SDK build: 7.0.100-preview.5.22273.1

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, still repro in previous .Net Core and .Net 5+

### Issue description

Comments and region description are not translated for winforms files

.Net 7.0_CHS:
![image](https://user-images.githubusercontent.com/26474449/17

[2022-05-26 07:23] MohanramAnbukkarasu opened #7225 "Rounded Corners are not smooth in WinForms"
### .NET version

Issue can be reproduced in any .NET version.

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

I'm creating a custom Form with rounded corners.

I'm using the below given code to get rounded corners.

**Note** : It is just a sample code to reproduce my problem.

[code]

I can get the rounde

[2022-05-26 15:38] SommerEngineering opened #7228 "SaveFileDialog gives irritating error message when using ransomware protection in Windows 10 or 11"
### .NET version

.NET 6.0.5 on latest Windows 11 (21H2 / 22000.675)

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

I don't know 🙁 But I don't think so.

### Issue description

When I use a `SaveFileDialog` to create a none-existing file on a modern Windows system with activated ransomware protection, I get the error message: "File

[2022-05-26 16:56] KlausLoeffelmann commented on #5918
In my mind: The latter. 😄
But I'd need to investigate more closely. The idea also is to have a dropdown mechanisam, so we could host UserControl content in a dropdown. Like the Data Binding Picker does.

Sorry for the late response.

[2022-05-26 18:52] Alexislml96 commented on #7228
Maybe I can figure out what is going on here.

[2022-05-26 23:48] dreddy-work commented on #7201
Thanks @Cassie-Li01. I got repro and investigating.

[2022-05-27 00:10] merriemcgaw commented on #7224
We need to have an internal discussion about whether and how to localize comments in the templates.

[2022-05-27 00:16] merriemcgaw commented on #7199
@dmitrii-drobotov and @vladimir-krestov  which one of you would like to investigate this and see what caused this recent regression?

[2022-05-27 00:33] JeremyKuhne commented on #7225
This is a function of GDI drawing not being anti-aliased. GDI+ (System Drawing) can draw anti-aliased, but ironically doesn't have rounded rectangles.  Here is a technique to get nice rounded corners:

https://stackoverflow.com/questions/58903526/creating-smooth-rounded-corners-in-winform-applications

Closing as this is the nature of these APIs. Hopefully the above will work for you.

[2022-05-27 00:33] #7225 closed

[2022-05-27 00:45] JeremyKuhne commented on #7228
Thanks for the report. Unfortunately, there is not much we can do here. Windows itself reports `ERROR_FILE_NOT_FOUND` in this case. You can see the same behavior by creating a simple console app and trying to write a file to a protected folder (say, via `File.WriteAllText()`). No idea why they wouldn't return something like `ERROR_ACCESS_DENIED`.

[2022-05-27 00:45] #7228 closed

[2022-05-27 03:32] Tanya-Solyanik commented on #7224
Maybe instead of our existing comments we could put a link to docs, like console template is doing -
[code]

[2022-05-27 09:08] vladimir-krestov commented on #7199
I couldn't reproduce this bug in the latest main branch and in 7.0.0-preview.5.22269.1.
@Cassie-Li01, could you please test this bug in the latest sdk?

[2022-05-27 11:47] vladimir-krestov commented on #7154
It's easy to change-just add +1 to index:

`DataGridViewRowAccessibleObject.Name`:
![image](https://user-images.githubusercontent.com/49272759/170692343-36b80ea7-9799-46db-8f51-c9adb4496c7c.png)

And `DataGridViewCellAccessibleObject.Row/Column`:
![image](https://user-images.githubusercontent.com/49272759/170692573-1052a92a-d060-4730-b428-709acd51b374.png)

_____________________________

But we ne

[2022-05-27 17:30] JeremyKuhne commented on #6555
@rickbrew I don't see any realistic way to do this without making these public (or making further risky changes). If you want to turn this into a formal proposal I'll submit it for API review. You can look at the .NET runtime example for the structure of this: https://github.com/dotnet/runtime/issues/38344

Please also put your first stab as to what the XML comments should be (based on the other M

[2022-05-27 20:32] tracktownsoftware opened #7233 "Reading application settings in NET WinForms OOP designer fails with exception 'Invalid URI: The hostname could not be parsed""
### Environment

Version 17.2.2

### .NET version

net6.0-windows

### Did this work in a previous version of Visual Studio and/or previous .NET release?

No, this is new in VS2022 and the NET WinForms OOP designer.

### Issue description

This is an issue in the new NET WinForms designer when using the microsoft.winforms.designer.sdk to add design-time support to a custom NET6 WinForms control. R

[2022-05-28 08:06] vladimir-krestov commented on #6936
@Olina-Zhang, could you please check this case?
I can't reproduce this in the latest main branch. Please provide more info and repro steps, if you find this bug. If no, please close this Issue.

[2022-05-29 20:30] martingbrown opened #7236 "Textbox right click menu incorrect after mouse move."
### .NET version

.NET SDK (reflecting any global.json):
 Version:   6.0.300
 Commit:    8473146e7d

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.22000
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\6.0.300\

Host (useful for support):
  Version: 6.0.5
  Commit:  70ae3df4a6

.NET SDKs installed:
  3.1.419 [C:\Program Files\dotnet\sdk]
  5.0

[2022-05-30 02:03] RussKie commented on #7233
The application settings are resolved in the context of the currently running app - which in the case of the out-of-proc designer is DesignToolsServer.dll.

Here's what's going on here. When we're trying to resolve `Properties.Settings.HelloWorld`,  the .NET runtime is trying to locate the DesignToolsServer's settings and it fails here:
[code]

The issue here is that the designer is located at a p

[2022-05-30 02:34] Olina-Zhang commented on #6936
@vladimir-krestov Verified this issue in the latest .NEt 7.0 build from main branch, it cannot repro: Narrator just reads collapse/expand state only once, but in NarratorBuddy, it records twice. Can we close this bug?
![image](https://user-images.githubusercontent.com/26474449/170906745-cdb9ebed-e7a2-4417-93c5-177cca479125.png)

[2022-05-30 02:46] MelonWang1 commented on #7233
**Repro Steps:**
	1. Create a Winforms .NET Core 6.0 application
	2. Download and copy "[MyButtonLibrary.1.0.102.nupkg](https://github.com/tracktownsoftware/MicrosoftWinFormsDesignerSDK_AppSettingsBug)" from "\Pack\packages\MyButtonLibrary.1.0.102.nupkg" to "C:\Program Files (x86)\Microsoft SDKs\NuGetPackages"
	3. Right click the project and select " Manguage NuGet Packages…"
	4. The Package sourc

[2022-05-30 03:00] RussKie commented on #6555
We [already have it](https://github.com/dotnet/winforms/issues/new?assignees=&labels=untriaged%2Capi-suggestion&template=feature_request.yml). Feel free to tweak it, if you think it is necessary.

[2022-05-30 05:46] MohanramAnbukkarasu commented on #7225
Hi Jeremy,

Thanks for the response. But the solution you have provided doesn't include the non client area(title bar) of the form. It makes the FormBorderStyle as None and have rounded corners only with the client area.

If there any solution to have smooth rounded corners including the non client area of the form. (Without setting FormBorderStyle as None)

[2022-05-30 08:25] Cassie-Li01 commented on #7199
Hi @vladimir-krestov

Verified on build dotnet-sdk-7.0.100-preview.6.22277.6, issue is not repro, so closed.
![image](https://user-images.githubusercontent.com/96758262/170949630-9f02242e-e45b-4457-b91c-73586402a911.png)

[2022-05-30 08:25] #7199 closed

[2022-05-30 09:49] MelonWang1 commented on #7098
@dreddy-work I can't repro this issue in .NET 6.0.5 or .NET 5.0, maybe is my repro steps are incorrect, could you please help me confirm this issue?
**Repro scenario1:**
1. Create a winforms .net core 6.0 project(both 6.0.5 and 6.0.6)
2. Change the Platform target to x86 and add a treeview control to form designer
3. Build and run, click treeview control

**Result1:** No Overflow Exception occurs.

[2022-05-30 09:54] coderb commented on #7098
@MelonWang1 melon wang-> you also need to have multiple monitors configured in such a way that one of them has negative coordinates and then move the control into that area of the display.

[2022-05-30 11:25] kant2002 opened #7237 "TextFormatFlags.SkipAssertFlag provide bad ergonomics for consuming Winforms"
### .NET version

.NET 7

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes. I think that's working in .NET 5, maybe even in .NET 6

### Issue description

When consume debug builds of WinForms with custom components, if using `TextRenderer.DrawText` on modified `Graphics` application spill asserts. I have to either pollute externa

[2022-05-30 15:55] vladimir-krestov commented on #6936
@merriemcgaw, can we close this until getting users requests?

[2022-05-31 00:41] RussKie commented on #7237
Could you please explain what your expectations are here?

The asserts help us to ensure the expected device context state for the operations performed by the SDK:
https://github.com/dotnet/winforms/blob/3a32c07bff581885526d941d910a6243b99aa63d/src/System.Windows.Forms/src/System/Windows/Forms/TextRenderer.cs#L19-L24

If we remove the flag we will degrade the SDK devex, and if we remove the assert

[2022-05-31 01:34] kant2002 commented on #7237
I do understand that this is delicate topic, so I do not think that this Assert should be lifted. Maybe you found legitimate perf bug.

This is one of the places where issues appears

https://github.com/kant2002/winforms-modernui/blob/6bf025aa83d213707756a79c3d67154057d1362a/MetroFramework/Forms/MetroForm.cs#L231-L249

For me I cannot understand how this can be improved, to not trigger the perform

[2022-05-31 02:31] MelonWang1 commented on #7098
@coderb I set the negative coordinates of monitors, but I still not repro this issue in .NET core 5.0, below is my repro scenario, could you please help me check my steps? if I am missing some steps please let me know.
**Repro scenario:**
1. Set the second monitor is left of main monitor, the second monitor has negative coordinates
2. Create a winforms .net core 5.0 project
3. Right click the proj

[2022-05-31 09:02] coderb commented on #7098
@MelonWang1 i'm not sure exactly when `(IntPtr)n` generates an OverflowException, but for my particular monitor setup I was able to capture the exception in the debugger and the `x` coordinate was `0xFFEFDB5`.

Perhaps you can log the result of GetMessagePos() and try to move the app around to attempt to get it to be as close to 0xFFFFFFFF as possible.

Also the exception was happening when the ch

[2022-05-31 11:15] RussKie commented on #7237
Yeah, I'm not sure what other options you have here except adding the `SkipAssertFlag` if you're running against a debug build.

[2022-05-31 14:47] kant2002 commented on #7237
Can I say, that Assert assume that best way to use API is to always pass additional flags `TextFormatFlags.PreserveGraphicsClipping | TextFormatFlags.PreserveGraphicsTranslateTransform`

[2022-06-01 00:06] RussKie commented on #7237
It depends on how the DC is used and the assumptons made by authors. But I guess the general guidance we be to use `TextFormatFlags.PreserveGraphicsClipping | TextFormatFlags.PreserveGraphicsTranslateTransform` _if_ the was any clipping or transformations applied to the DC.

Adding @JeremyKuhne for more inputs.

[2022-06-01 06:04] MelonWang1 commented on #7098
We are simulating the product code to verify this issue, in .NET SDK 6.0 TP build, the issue was fixed.
**Verify steps:**
	1. Create a winforms .net core 6.0 project
	2. Change the Platform target to x86 and add a button control
	3. Double click button control and add below code, then build and run, click the button
**Result:**
when the code is:
            //var x = GetMessagePos(); // -> 0xFFFEF

[2022-06-01 08:07] Olina-Zhang opened #7245 "Accessibility tools cannot focus the form contained in control correctly"
### .NET version

7.0.100-preview.6.22281.2

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No, this issue still repro in .Net Core 3.1/5.0/6.0

### Issue description

Accessibility tools cannot focus the form contained in control correctly

**.Net 7.0:** repro this issue
![image](https://user-images.githubusercontent.com/26474449/

[2022-06-01 09:21] Cassie-Li01 commented on #6763
This issue is fixed on build: .NET 7.0.100-preview.6.22281.2
![image](https://user-images.githubusercontent.com/96758262/171371387-16534530-a8b3-4b41-ab4c-2c3f24b314c7.png)

[2022-06-01 15:36] tracktownsoftware commented on #7233
Do you have an ETA when this might be fixed? This issue has blocked us from adding design-time support for our NET6 WinForms control. We can't release until this is fixed.
Thanks.

[2022-06-01 16:12] vladimir-krestov opened #7248 "TextBox TextPattern objects are leaking in memory"
### .NET version

.NET 7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

If to use TextPattern abilities, UIA creates and keeps several UiaTextRanges, that keep UiaTextProvider and TextBox. So #6886 is not enough for fixing #6885.
![image](https://user-images.githubusercontent.com/49272759/171450183-4f8d

[2022-06-01 22:43] #6936 closed

[2022-06-01 22:58] Tanya-Solyanik commented on #6220
@Amy-Li03, @vladimir-krestov  - I think we fixed this bug in 4.8.1 - https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1367573, but had not ported to .NET7. If this is the case, Vladimir, please prioritize this issue

[2022-06-02 00:06] Tanya-Solyanik commented on #5314
WIndows [bug](https://microsoft.visualstudio.com/OS/_workitems/edit/39833818) is here, @merriemcgaw - should we close this issue?

[2022-06-02 00:07] #5314 closed

[2022-06-02 00:14] Tanya-Solyanik commented on #3713
@Olina-Zhang - could you please see if this bug repros on .NET 7.0. If it does not repro, I suggest we close this bug as we have no request for servicing. Thanks

[2022-06-02 00:24] Tanya-Solyanik commented on #6322
@Amy-Li03 @vladimir-krestov  - same question as in #6220  - had we fixed this in 4.8.1?

[2022-06-02 02:19] Olina-Zhang commented on #3713
@Tanya-Solyanik  how to add supporting of "LegacyIAccessible" pattern for Combobox described in above step1? I verified it cannot repro in .Net core 3.1 and 7.0 if skip it.

[2022-06-02 07:03] Amy-Li03 commented on #6322
@Tanya-Solyanik verified this bug in 4.8.1 on win11 OS after installed latest .Net framework 4.8.1 msu: [\\cpvsbuild\drops\dev14\NetFXDev1\layouts\amd64ret\04349.00\enu\netfx\fullvnextmsu\msu](file://cpvsbuild/drops/dev14/NetFXDev1/layouts/amd64ret/04349.00/enu/netfx/fullvnextmsu/msu), bug is still reproducing, the test result is same as above screenshot in Actual behavior.

[2022-06-02 07:10] Amy-Li03 commented on #6220
@Tanya-Solyanik verified this bug in 4.8.1 on win10 OS after installed latest .Net framework 4.8.1: \\\cpvsbuild\drops\dev14\NetFXDev1\layouts\amd64ret\04349.00\enu\netfx\fulloob\oob, bug is still reproducing, the test result is same as above screenshot in Actual behavior.

[2022-06-02 11:41] tbambuch opened #7251 "Changing MinimumSize of Form activates the form"
### .NET version

6.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

In Form.MinimumSize setter, `SetWindowPos `is called with `User32.SWP.NOZORDER` flag. I suppose `User32.SWP.NOZORDER | User32.SWP.NOACTIVATE` should be used, since there is no point in activating the form when MinimumSize chan

[2022-06-02 11:51] vladimir-krestov commented on #3713
We can't set `LegacyIAccessible` outside. So, if it can't repro, let's close the issue.

[2022-06-02 11:51] #3713 closed

[2022-06-02 18:16] JeremyKuhne commented on #7237
You'd only set the flags if you actually want them applied. If you don't, then the only option is to add the debug flag if you're using a debug build. As @RussKie points out, this assert is important for us to catch regressions.

[2022-06-06 08:49] John-Qiao commented on #7043
Verified with .NET SDK 7.0.100-preview.5.22305.1 TP build, this issue is fixed as same as above test result.

[2022-06-06 10:09] John-Qiao commented on #6919
Verified with 7.0.100-preview.6.22306.1 from main branch, this issue has been fixed that SampleControl can drag and drop to form and no exception occurs now.
![TestResult3](https://user-images.githubusercontent.com/45864985/172141177-271ac244-0586-414f-92d6-9770d454a3a3.png)

[2022-06-06 21:42] DaveTryon opened #7261 "Some UIA PropertyChanged events are not being generated"
### .NET version

.NET 6.0.5

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

In https://github.com/microsoft/accessibility-insights-windows/issues/1346, we received a user report that apps listening for UIA PropertyChanged events on WinForm labels were being notified of changes in the element's BoundingRec

[2022-06-07 02:19] Cassie-Li01 commented on #7090
Verified this issue on .NET SDK 7.0.100-preview.5.22305.3 TP, it is fixed. The Label and LinkLabel cases automation are passed.

[2022-06-07 02:19] Cassie-Li01 commented on #7159
Verified this issue on .NET SDK 7.0.100-preview.5.22305.3 TP, it is fixed. Gif as above.

[2022-06-07 02:20] Cassie-Li01 commented on #6381
Verified this issue on .NET SDK 7.0.100-preview.5.22305.3 TP, it is fixed. Gif as above.

[2022-06-07 02:53] Ashley-Li commented on #7079
Verified with .NET SDK 7.0.100-preview.5.22305.1 TP build, this issue is fixed as same as above test result.

[2022-06-07 03:19] Amy-Li03 commented on #6763
Verified this issue on .NET 7.0 test pass build: .NET 7.0.100-preview.5.22305.3, it was fixed.

[2022-06-07 05:00] generatorXu commented on #6919
That's great, thank you @RussKie!
When will be the release date of 7.0.100 ?
Can't wait any more.

[2022-06-07 06:04] RussKie commented on #6919
.NET 7 GA will be released in Nov 2022, see https://dotnet.microsoft.com/platform/support/policy/dotnet-core. .NET 7 Preview 6 will be released in July 2022.

[2022-06-07 06:09] Amy-Li03 commented on #6919
Verified this issue on .NET 7.0 test pass build: .NET 7.0.100-preview.5.22305.3, it was fixed.

[2022-06-07 08:08] koszeggy opened #7262 "DataGridView: sporadic NullReferenceException when trying to display the tooltip"
### .NET version

.NET version: 6.0.300
Windows version: Windows 7 using classic theme

### Did it work in .NET Framework?

I'm not 100% sure whether it works in .NET Framework but I did not face this issue earlier.

### Issue description

[code]

### Steps to reproduce

It occurs randomly (up to a couple of times per day) at one of my customer's computer who uses Windows 7 with visual styles disa

[2022-06-07 08:30] RussKie commented on #7262
W7 or W7SP1?

[2022-06-07 10:18] koszeggy commented on #7262
OS Name:                   Microsoft Windows 7 Professional
OS Version:                6.1.7601 Service Pack 1 Build 7601

[2022-06-07 11:45] dmitrii-drobotov opened #7263 "Label edit in ListView has incorrect position in accessibility tree"
### .NET version

7.0

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

Once #6309 is merged, edit control of ListViewItem will be placed as a last child of the ListView in accessibility tree (as of now it's a first child). Even though it's the same behavior as in the Windows File Explorer, it seems incorrec

[2022-06-07 15:04] kant2002 opened #8846 "[API Proposal]: Trim friendly Font ToLogFont/FromLogFont"
### Background and motivation

Right now WinForm use `System.Drawing.Common.Font.ToLogFont/FromLogFont` with their own interop structures. That API produce trimming warning. This API would serve same purpose as existing API, but provide trim friendly alternative.

### API Proposal

[code]

### API Usage

[code]

### Alternative Designs

Ask users of this API, reimplement it itself within their app

[2022-06-07 19:48] phenning opened #7267 "Missing Program.vb in Winforms App targeting 3.1 from Visual Studio"
### .NET version

7.0.100-preview.4.22252.9

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Only with netcoreapp3.1 SDK I believe.

### Issue description

When creating a NET Core 3.1 WinForms app in VIsual Studio, an error is encountered:

1>------ Build started: Project: WinFormsApp5, Configuration: Debug Any CPU ------
1>vbc : e

[2022-06-07 23:03] RussKie commented on #7267
VB support was added in .NET 5, https://devblogs.microsoft.com/dotnet/visual-basic-winforms-apps-in-net-5-and-visual-studio-16-8/.

/cc: @KlausLoeffelmann @KathleenDollard

[2022-06-07 23:56] phenning commented on #7267
Support in the template was added in this PR, so it's been "supported" for quite some time.

https://github.com/dotnet/winforms/commit/bc0c4af69366d388b880980282209d6c9c0a2372#diff-a748f16615f37a9935eb65fdabe285c79fc66f99c5f62e339f9ed48189ce81f5

It (netcoreapp3.1) got broken when you added support for VB Application Framework in this PR:
https://github.com/dotnet/winforms/commit/8bec0f0c8ad2057f2

[2022-06-08 00:06] RussKie commented on #7267
@phenning thank you for digging in.

I had a quick offline chat with @KlausLoeffelmann, and he straightened me - VB is supported from cli just not in VS.

[2022-06-08 00:10] phenning commented on #7267
@RussKie I think its just Application Framework isn't supported when targeting 3.1.

That appears to be the intent in both the blog posts and in all the previous updates to template.json. It's just that there was a slight authoring error in the template.json.

Its pretty apparent there is different expected behavior here since
3.1 uses `<Project Sdk="Microsoft.NET.Sdk.WindowsDesktop">`
and 5.0+ us

[2022-06-08 00:15] merriemcgaw commented on #7263
Inconsistent across UI stacks, not that important if we don't have reports of issues. @dmitrii-drobotov - is this something that is quick and easy to fix now?

[2022-06-08 00:35] merriemcgaw commented on #7251
Our recommendation is to not change the activation behavior of MinimumSize/MaximumSize. However, we should go ahead and scale those properties.

[2022-06-08 00:41] RussKie commented on #7267
Yes, "Application Framework" is the keyword that I omitted from my earlier reply.

[2022-06-08 01:09] RussKie commented on #7262
It's likely there's a race condition - e.g., a mouse is hovering a cell, which is rapidly updated with content, and the content may trigger the default cell tooltip. And while the tooltip is getting ready to show, the cell is updated recycling the handle.

As a workaround, can you try disabling `DataGridView.ShowCellToolTips` and see if it mitigates the issue?

[2022-06-08 01:10] Tanya-Solyanik commented on #7261
As part of this work item, we need to investigate what controls other than `Label` don't raise property change event for `Name` property. @Olina-Zhang - would you be able to investigate that, Dave had provided a sample app that can be modified to use other controls.

[2022-06-08 03:40] kslynn opened #7270 "VS2022: The process cannot access the file 'Microsoft.DotNet.DesignTools.Protocol.resources.dll' because it is being used by another process."
### Environment

Microsoft Visual Studio Professional 2022 (64-bit) - Current
Version 17.2.3

### .NET version

dotnet5

### Did this work in a previous version of Visual Studio and/or previous .NET release?

I don't know, I am new for this company, I got a new pc, and copy the solution from my collages

### Issue description

![WinFormDesignerError](https://user-images.githubusercontent.com/12741

[2022-06-08 04:39] kslynn commented on #7270
nstances of this error (1)

1.   Hide Call Stack

at System.IO.__Error.WinIOError(Int32 errorCode, String maybeFullPath)
at System.IO.FileStream.Init(String path, FileMode mode, FileAccess access, Int32 rights, Boolean useRights, FileShare share, Int32 bufferSize, FileOptions options, SECURITY_ATTRIBUTES secAttrs, String msgPath, Boolean bFromProxy, Boolean useLongPath, Boolean checkHost)
at Syste

[2022-06-08 06:18] RussKie commented on #7270
@Shyam-Gupta can you please have a look?

[2022-06-08 06:28] RussKie commented on #7270
@kslynn can you please attach the full verbose log? See https://aka.ms/winforms/designer/troubleshooting.

[2022-06-08 08:53] dmitrii-drobotov commented on #7263
@merriemcgaw at first glance it seems not so easy — a fixed position at the beginning or the end of ListView is much simpler than determining the correct one.

[2022-06-08 08:53] kant2002 opened #7271 "Icon misaligned in the Menustrip"
### .NET version

.NET 7

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

I think it is.

### Issue description

![image](https://user-images.githubusercontent.com/4257079/172573113-7b4b7a86-1054-4786-ba7f-ee2c270ac332.png)

### Steps to reproduce

1. Open WinFormsControlsTest
2. Press Menus
3. Press Project

[2022-06-08 09:57] Cassie-Li01 commented on #7271
This also repro on .NET framework when using "WinFormsControlsTest" project, but it is not repro when create a new one.
![image](https://user-images.githubusercontent.com/96758262/172588672-5d62e123-c812-4398-bc0d-b8590799e11c.png)

[2022-06-08 10:04] Olina-Zhang commented on #7271
We can workaround this issue by changing ImageScaling property in that repro application "WinformsControlsTest":
![CheckIconIssue](https://user-images.githubusercontent.com/26474449/172590195-c548d6ba-f9ea-46d2-97e3-4a98e9db4542.gif)

[2022-06-08 12:43] #7267 closed

[2022-06-08 22:44] DaveTryon commented on #7261
@Olina-Zhang, the GIF you provided shows only EventRecorderNotification events--the Name property in the Event details shows what property we're registering to receive. Once the registration completes, there should be an AutomationPropertyChanged event _each time_ the control text changes. Here's a GIF showing what happens using a WPF-based app:

![NameChangedEvents](https://user-images.githubuser

[2022-06-08 23:42] merriemcgaw commented on #7270
@Shyam-Gupta to investigate once we have the logs.

[2022-06-08 23:50] merriemcgaw commented on #7245
Can you confirm if this works for controls inside of containers? I think it would but we want to be sure.

[2022-06-08 23:53] merriemcgaw commented on #7236
Thanks for reporting this. As the behavior is the same on .NET Framework we're unlikely to make a change to the behavior.
If you or another community member wants to investigate a possible fix we'll be happy to look at any pull requests.

[2022-06-09 00:02] #7236 closed

[2022-06-09 00:06] merriemcgaw commented on #7224
.NET doesn't generally localize comments in the templates. If we get a lot of feedback that customers really want this feature, we will work with the SDK folks to figure out how we would deliver the localized templates.

[2022-06-09 00:06] #7224 closed

[2022-06-09 00:06] #6919 closed

[2022-06-09 01:43] Olina-Zhang commented on #7245
it works well when calling form outside of containers, accessibility tools can focus on it with right position.

[2022-06-09 01:50] kslynn commented on #7270
Yes, the log context is as the below:

[09:47:13.4044430] Added 'System'
[09:47:13.4044430] Loaded System.Drawing in 00:00:00.0000076 [thread 28]
[09:47:13.4044430] Processed 'System.Drawing' in 00:00:00.0000799
[09:47:13.4054399] Added 'System.Drawing'
[09:47:13.4054399] Loaded System.Design in 00:00:00.0000049 [thread 28]
[09:47:13.4273666] Creating VsDesignerLoader
[09:47:13.4592598] Processed

[2022-06-09 02:04] Cassie-Li01 commented on #7271
Verified on 100%, this issue is repro on .NET Core and Framework when use application "WinformsControlsTest", and not repro when create new application
![image](https://user-images.githubusercontent.com/96758262/172747561-a6f3a670-2cee-4050-83cc-58dc0c87464b.png)
![image](https://user-images.githubusercontent.com/96758262/172748445-ec77aa3f-5f3a-4ec4-b4ce-6d1f13377963.png)

[2022-06-09 02:13] kant2002 commented on #7271
Is this issue with test app?

[2022-06-09 02:45] RussKie commented on #7271
It could very well be...

[2022-06-09 10:30] dkazennov commented on #6220
Current results in 7.0.0-preview.4.22229.4.

![image](https://user-images.githubusercontent.com/102961955/172819435-edaa3397-702b-4f47-9bdf-793f772d0691.png)
![image](https://user-images.githubusercontent.com/102961955/172819531-5b2754af-e16b-4a94-8888-652d3a4a046c.png)

[2022-06-09 14:14] phillipstoll opened #7282 "TreeView and ComboBox do not correctly display"
### .NET version

Version:   6.0.300

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Windows Forms TreeView and ComboBox controls, when used with Verdana Font, do not correctly display certain Latin-8 (ISO-8859-14: Celtic) characters. Certain characters are displayed as squares. E.g., Ḃḃ£ĊċḊ§Ẁ©ẂḋỲ®Ÿ appears as □□£Ċċ□§Ẁ©Ẃ□Ỳ®Ÿ . For t

[2022-06-09 14:37] Mr-Technician opened #7283 "Winforms process not stopping correctly when using WebView2"
### .NET version

6.0.5

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

I have created a Winforms app using Blazor through WebView2. This works great until I try to close the app.

While running, all of the processes are contained under the parent under the Apps section of task manager:
![image]

[2022-06-09 15:28] dkazennov commented on #6220
It seems that this issue is similar with https://github.com/dotnet/winforms/issues/5502

[2022-06-10 01:57] Cassie-Li01 commented on #7282
This issue can repro on .NET Core and .NET framework

**Steps to reproduce**
1. Create a WinForms .NET Core/.NET framework app
2. Add a TreeView controls to the form
3. Change the TreeView's Font to Verdana in properties window
4. Click smart tag, click edit nodes, add a node and change the text to "Ḃḃ£ĊċḊ§Ẁ©ẂḋỲ®Ÿ"
or open attached project, open form
[WinFormsApp13.zip](https://github.com/dotnet/w

[2022-06-10 02:07] Cassie-Li01 commented on #7283
Similar to VS feedback [1546460](https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1546460)

[2022-06-10 07:09] RussKie commented on #7283
@champnic any thoughts on this?

[2022-06-10 17:20] champnic commented on #7283
I'm not seeing this on a regular Winforms .NET 6 app (without Blazor), nor have I heard other reports of this. I would suspect it's something to do with the app itself or Blazor on handling shutdown, not calling WebView2.Dispose(). Can you verify that Dispose is getting called? Do you see the same issue in a non-Blazor app? + @Eilon in case this is known on the Blazor side.

It's interesting to me

[2022-06-10 18:45] Mr-Technician commented on #7283
Ok, I removed the WebView2 component from the project, commented out all of the services for Blazor, and published + copied to the machine I'm running this on. The app closes and the process does not remain in the background, so it seems that issue is related to WebView.

[2022-06-10 20:41] Mr-Technician commented on #7283
I have tested this and the webview2 processes shut down correctly along with the Cert Manager process. So this would confirm it is an issue with WebView2 + Blazor.

[2022-06-10 20:58] Mr-Technician commented on #7283
Additionally, I am unable to reproduce this in a blazor webview app in WPF.

[2022-06-13 01:40] kslynn commented on #7270
I have found something difference while I tried to skipped the error
I built a new solution which had contained a dotnet5 winform apps, and at the very beginning, it gave me the error of "Microsoft.DotNet.DesignTools.Server.resources.dll is used by another process"
, I could not open winform in dotnet5 what ever I tried,
but,
things changed after I added a new winform app in dotnet6, the dotnet6-w

[2022-06-13 01:44] kslynn commented on #7270
It's also good at the dotnet 4.8

[2022-06-13 01:51] kslynn commented on #7270
Most important I think is , you need to start the vs as an administrator

[2022-06-13 10:47] dkazennov commented on #6220
After the investigation and consultations I believe that this task should be closed.

1. We can not affect what color was been selected in Windows settings. We can just use different color scheme properties (like Color.Highlight) for different components of Winforms.
2. The doted line rectangle was introduces in https://github.com/dotnet/winforms/pull/5614 (it is related to https://devdiv.visualst

[2022-06-13 10:53] dkazennov commented on #6322
I believe the should probably close this issue for the same reasons I describe in https://github.com/dotnet/winforms/issues/6220

[2022-06-13 13:47] dkazennov commented on #4375
1. Issue repros in Inspect.
2. Issue repros in Accessibilty Insights.

![test1](https://user-images.githubusercontent.com/102961955/173368059-dcac783b-52c4-4b77-bdff-9186a93ecad6.gif)

[2022-06-13 16:09] dkazennov commented on #4375
The issue corresponds with focus events sent by ListControlType.

![AccEvent](https://user-images.githubusercontent.com/102961955/173396839-201c0404-2129-4738-84d8-004010f9019b.png)

[2022-06-13 17:55] JeremyKuhne commented on #6555
@rickbrew the only real way to ensure that we keep compatibility is to make it officially public. That's our guarantee mechanism. That said, the likelihood of us changing this is pretty low, so there isn't a lot of pressure on going through the API process. The only advantage of rushing is that you get the ability to use the public API sooner rather than later.

Filling out the template isn't as h

[2022-06-13 23:50] RussKie commented on #7270
The fix is expected to be available in 17.3 Preview 3.

[2022-06-13 23:50] #7270 closed

[2022-06-14 01:07] runfoapp[bot] opened #7297 "Flaky System.Windows.Forms.UITests.ButtonTests.Button_Anchor_ResizeOnWindowSizeWiderAsync"
Runfo Tracking Issue: [Flaky System.Windows.Forms.UITests.ButtonTests.Button_Anchor_ResizeOnWindowSizeWiderAsync](https://runfo.azurewebsites.net/tracking/issue/346)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[227661](https://dev.azure.com/dnceng-public/public/_build/results?buildId=227661)|[dotnet-winforms CI](https://dnceng-public.visualstudio.com/public/_build?definitionId=76)|Rolling|

[2022-06-14 12:53] vladimir-krestov commented on #7077
I see 3 ways:
1) Use Igor's suggestion. We will avoid changing and adding a lot of null-checks for all control AOs. But it will lead for many unexpected unstable exceptions, because UIA likes to call our methods after disposing a control and disconnecting the object (eg. FragmentNavigate). So anyway we must to add checks for all methods of all inherited objects to avoid the exceptions or we can ma

[2022-06-14 14:32] dkazennov commented on #6220
Some additional information.
It is possible to add overlaying graphics with custom colors line in case of https://github.com/dotnet/winforms/pull/6557 with the help of ButtonBaseAdapter class and it derivates or with creating new instances of Pen and SolidBrush classes.

But it doesn't help with the fact that if a border rectangle is contrast with form background it won't be contrast with checked

[2022-06-14 17:09] merriemcgaw commented on #6220
I think you're probably right. The button needs to have the correct contrast with the text. The border is of less importance per the official CAIAcc team. So we can go ahead and close this issue.

[2022-06-14 17:09] #6220 closed

[2022-06-14 17:54] merriemcgaw commented on #7154
We would definitely need to quirk this so that those who depend on the "starts at 0" behavior are not broken. @dreddy-work  is working on a quirking strategy for the HDPI scary changes, and I think for this one we'd need to follow that same pattern. Let's hold off on this for a little while, so that we can consider how people and assistive tech can use the new behavior. It's not an urgent issue by

[2022-06-14 17:59] merriemcgaw commented on #5314
@Tanya-Solyanik thanks!!

[2022-06-14 18:14] merriemcgaw commented on #6322
Agreed - as long as the text of the buttons is at the right contrast I think we don't need to change anything here right now.

[2022-06-14 18:14] #6322 closed

[2022-06-15 00:17] merriemcgaw commented on #7282
Thank you for reporting this issue as it shows up in both Core and Framework. In .NET Core we can look at this in the future and we will take a look when we have the chance. It is unlikely that we will be able to fix this in .NET Framework however because the servicing bar is extremely high at this point. We'll be happy to increase the priority of the issue in .NET if we find that there are other

[2022-06-15 00:24] merriemcgaw commented on #7271
@Olina-Zhang can you update the test app so that it uses "size to fit"? If customers raise the issue with "none" for image scaling we can take a look at the actual runtime then.

[2022-06-15 00:26] dreddy-work commented on #6151
@Olina-Zhang , given there were multiple fixes went in over the time, can you help verify this in latest build?

[2022-06-15 00:27] dreddy-work commented on #6157
@Olina-Zhang , can you confirm if we can close this with latest 7.0 bits?

[2022-06-15 00:28] merriemcgaw commented on #5786
@Olina-Zhang can you see if this repros with C# for us? This looks like a ToolStrip/MenuStrip ComboBox control. @paul1956 please correct me if I'm wrong there 😄

[2022-06-15 00:38] JeremyKuhne commented on #7282
This is most likely a limitation of the underlying Windows common controls. The first character in question `Ḃ` does not actually exist in Verdana or Arial Bold. The Unicode character here is 1E02. You can see that it doesn't match by running the Character Map tool and enabling the advanced view. Some controls are obviously grabbing from another font (likely Arial) to fill in glyph gaps.

![image]

[2022-06-15 00:43] paul1956 commented on #5786
@merriemcgaw This is fixed in Microsoft Visual Studio Community 2022 (64-bit) - Preview Version 17.3.0 Preview 1.1. Sorry but I don't know when it was actually fixed. I or someone else could close.

[2022-06-15 01:37] kslynn commented on #7270
Thats's great!
I am looking forward to it

[2022-06-15 01:42] KlausLoeffelmann commented on #5786
OK, closing it.
@paul1956, if you stumble over it in the future again, feel free to reopen.
Thanks!

[2022-06-15 01:42] #5786 closed

[2022-06-15 02:35] RussKie commented on #7077
I like the idea of tracking when the owner is disposed, and for `Control`-derived owners this shouldn't be too difficult to implement (see [`Disposed` event](https://docs.microsoft.com/dotnet/api/system.windows.forms.control.dispose)).
Building on top of that, we could also have a shared static dummy control that we'd return when the real owner is disposed, but wouldn't we be hiding error scenario

[2022-06-15 05:55] 2mik commented on #6381
@dreddy-work, thank you for keeping me updated.

[2022-06-15 06:58] Mandi-Man commented on #5106
Verified with 17.3.0 Preview 3.0 [32612.38.main], this issue is not reproduce.
When moving the form to the second screen at 100% DPI and clicking on a tool option in the form, the checkbox icon of toolStripMenuItem can be scaled nicely.
Please see below gif:
![issue5106](https://user-images.githubusercontent.com/104553917/173762887-975322eb-2ed2-4c45-ad74-5907655eadc6.gif)

[2022-06-15 07:11] Philip-Wang01 commented on #6157
@dreddy-work , verified this issue with latest 7.0 build : 7.0.100-preview.6.22314.18, this issue still repro.
300% main screen:
![image](https://user-images.githubusercontent.com/86937911/173765121-af72ebb7-2430-4ddb-a346-f07b5bd1c098.png)
Move to 100% sceondary screen to create:
![image](https://user-images.githubusercontent.com/86937911/173765183-215c25f4-cdff-46fe-aec1-742cb3ef9371.png)

[2022-06-15 07:26] Philip-Wang01 commented on #6151
@dreddy-work , verified this issue with latest 7.0 build : 7.0.100-preview.6.22314.18 and 6.0 build: 6.0.400-preview.22301.10. This issue reproduces in 6.0, but not in 7.0.
300% main screen:
![image](https://user-images.githubusercontent.com/86937911/173767803-c7a0a573-f1d8-4f13-94f1-e4de9d1587db.png)
![image](https://user-images.githubusercontent.com/86937911/173767897-cb39d65c-1867-4664-b0bc-583

[2022-06-15 09:20] dkazennov commented on #4375
This Issue reproduces in 7.0.100-preview.4.22252.9 as well.

[2022-06-15 16:45] dreddy-work commented on #6151
Closing with confirmation form 7.0

[2022-06-15 16:50] dreddy-work commented on #6157
@Philip-Wang01 , i did not get full details from your screen shot. they look right to me. What do you think is wrong here?

[2022-06-15 17:22] Tanya-Solyanik commented on #4375
Since issue does not affect narrator, perhaps this is a tool issue.

[2022-06-15 18:53] JeremyKuhne commented on #7282
Here is a possible workaround for this limitation. Setting the `DrawMode` to `TreeViewDrawMode.OwnerDrawText`, adding an event handler to `DrawNode` and:

[code]

![image](https://user-images.githubusercontent.com/8184940/173902449-29099287-0587-491d-8c2d-f9be8201290e.png)

It isn't clear as to why the Windows tree view isn't rendering the missing glyphs. Thought it might have something to do with

[2022-06-15 19:15] JeremyKuhne commented on #7282
With `ComboBox` you can do something similar, but you actually have to do the drawing of the text in the `DrawItem` event handler.

[2022-06-15 20:16] dreddy-work opened #7308 "Remove obsolete API usage from Winforms"
### .NET version

.NET 7.0

### Did it work in .NET Framework?

Yes

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

Yes

### Issue description

Latest .NET runtime enforcing to discourage use of obsolete APIs in WinForms. This issue is to track obsolete APIs and replace them.

- [ ] AssemblyName.Codebase
- [ ] AssemblyNAme.EscapedCodebase

### Steps to reproduce
refer to

[2022-06-16 00:41] #7201 closed

[2022-06-16 02:10] Philip-Wang01 commented on #6157
@dreddy-work , The labels' font size is about the same as the scaling of the title font when launching app in secondary screen, but it causes the spacing of the labels to become larger. Is this acceptable behavior?
![image](https://user-images.githubusercontent.com/86937911/173975761-0fbc568d-f249-4099-a6a7-09bb29fb175a.png)

[2022-06-16 06:57] epikgit opened #7313 "Weird problem with a .NET CORE 6 Winforms application and Windows 10 scaling"
### Description

Hi,
I have a really simple Winforms application written in C# with VS Professional 2022 (64-bit) version 17.2.4 and .NET Core 6.0.

It's a form that contains a tab control that contains a table layout panel that contains a listbox.
Every child control is set to anchor to Top, Bottom, Left, Right.
The expected behaviour is, when I resize the form, every child control resizes accord

[2022-06-16 17:39] Shyam-Gupta commented on #7270
@kslynn Thank you for reporting this issue. Fix for this bug will also be available in next 17.2 servicing update.

cc: @merriemcgaw

[2022-06-16 17:40] dreddy-work commented on #6157
Hmm. Now i got what you were referring. That may be very well how those labels were placed. This issue was mainly about font sizes and that is resolved. If there is a real customer scenario about spacings going wrong, we will look it separately.

[2022-06-16 19:43] vladimir-krestov opened #7318 "ComboBox items accessible objects are leaking in memory"
### .NET version

.NET 7.0 Preview 4

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

No

### Issue description

`ComboBox` items accessible objects are left in memory after the ComboBox control instance with its items was inspected with accessibility tool (like Accessibility Insights or Inspect) and the form with ComboBox is closed,

[2022-06-17 02:07] kant2002 commented on #6964
Bye bye IE. let mark classes as obsolete. What are internal position? Does any discussion should happen for this plan?

[2022-06-17 02:11] kant2002 commented on #6745
I hope that this would be better version of same methods. Approach like in this PR https://github.com/dotnet/runtime/pull/70224 @JeremyKuhne what do you think?

[2022-06-17 02:15] #5106 closed

[2022-06-17 04:51] RussKie commented on #6964
The team has discussed this proposal and reached an agreement that this proposal is worth pursuing further. However, the team doesn't currently have any cycles to work on this further. If you're keen, you're welcome to start working on this.

The obsoletion process entails the following:
- marking the API as obsolete, which will emit a build warning with a link to more information (refer to https:

[2022-06-17 05:17] kant2002 commented on #6964
Not clear what this is means. Does MsgBox uses HTML related classes internally? Where is .NET Upgrade Assistant lives. Ahh, I found [link](https://github.com/dotnet/upgrade-assistant) at the bottom of marketing page.

Can `MsgBox` => `MessageBox` API conversion treated as separate issue? Or at least work can be split in half that way. Also if you mark this as good first issue, maybe somebody excep

[2022-06-17 05:52] RussKie commented on #6964
🤦‍♂️ Haha, I copied that from another issue and missed that bit. I now updated the text above.

[2022-06-17 06:45] runfoapp[bot] opened #7320 "Flaky System.Windows.Forms.UITests.ComboBoxTests.ComboBox_Select_Item_By_UpArrowKeyAsync"
Runfo Tracking Issue: [Flaky System.Windows.Forms.UITests.ComboBoxTests.ComboBox_Select_Item_By_UpArrowKeyAsync](https://runfo.azurewebsites.net/tracking/issue/348)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[1833634](https://dev.azure.com/dnceng/public/_build/results?buildId=1833634)|[dotnet-winforms CI](https://dnceng.visualstudio.com/public/_build?definitionId=267)|Rolling|Windows_x64-

[2022-06-17 07:17] runfoapp[bot] opened #8847 "system.drawing.tests.graphicstests tests failing in IsVisibleClipEmpty"

[2022-06-17 08:07] RussKie commented on #7320
I was able to replicate the failures locally, and the most likely reason for the failures is the loss of focus by the test form.

E.g., here's a script to automate the issue (make sure to have built the repo, i.e., run `build.cmd`):

[code]

While the test is running, bring other windows to the foreground (i.e., click on those). As a result, the test will fail:
[code]

[2022-06-17 09:24] dkazennov commented on #7320
@RussKie so test will be compromised if user moves the mouse and clicks it's buttons?
I propose we recreate this test so it is not affected by user's actions.

[2022-06-17 12:05] RussKie commented on #7320
I've been staring (and not only) at `ComboBox_Select_Item_By_DownArrowKeyAsync` and `ComboBox_Select_Item_By_UpArrowKeyAsync`, and whilst they are similar, they don't behave the same...
https://github.com/dotnet/winforms/blob/03f373f17a8606b8544ff45ff77ffdfc8720ca6a/src/System.Windows.Forms/tests/IntegrationTests/UIIntegrationTests/ComboBoxTests.cs#L40-L68
https://github.com/dotnet/winforms/blob/0

[2022-06-20 02:56] kslynn commented on #7270
@Shyam-Gupta Thank you sir,  it will be a great help for us.

[2022-06-20 03:18] Olina-Zhang commented on #3747
Verified this issue in the latest .Net 7.0 build: 7.0.100-preview.6.22316.8 on CHS OS, it doesn't repro. So close this issue now.
![image](https://user-images.githubusercontent.com/26474449/174519327-f49e0972-082e-4f42-8842-1c9d123d03ce.png)

[2022-06-20 03:18] #3747 closed

[2022-06-20 06:58] Olina-Zhang commented on #3780
verified this issue in .Net 7.0/6.0, and .Net framework 4.8 on CHS OS. Reproduce in .Net framework 4.8 and doesn't reproduce in .Net 7.0/6.0, close it.
![image](https://user-images.githubusercontent.com/26474449/174542887-856d3d37-eebe-4f00-bdd1-589c7a71bdf6.png)
![image](https://user-images.githubusercontent.com/26474449/174542914-b2bb3d12-e6fa-422e-9192-f6d06585b76a.png)

[2022-06-20 06:58] #3780 closed

[2022-06-20 06:58] John-Qiao commented on #2490
In my testing result, this issue still can repro in .NET Core 3.1 and .NET 5.0, but it cannot repro in .NET 6.0 and .NET 7.0 now.

[2022-06-20 07:14] #2490 closed

[2022-06-20 07:34] Olina-Zhang commented on #6707
Verified this issue in the latest .Net7.0/6.0 with provided Example application, it doesn't reproduce now. Close it now. @ThomasLee-Factbook, feel free to re-open it if you still meet it in the latest builds
![6707_NotRepro](https://user-images.githubusercontent.com/26474449/174548372-c1a5adc0-1842-4c87-972a-185ac90c586a.gif)

[2022-06-20 07:34] #6707 closed

[2022-06-20 07:52] John-Qiao commented on #2608
Verified with 7.0.100-preview.6.22316.8 from main branch, the VB Core project can be built successfully without any error after added AboutBox and SplashScreen forms, so closed this issue now.
![TestResult5](https://user-images.githubusercontent.com/45864985/174552079-e2394931-54e0-440f-9af8-e738ccac5dd1.png)

[2022-06-20 07:52] #2608 closed

[2022-06-20 07:58] Amy-Li03 commented on #4366
@tbolon can we close this issue now?

[2022-06-20 08:30] #2698 closed

[2022-06-20 09:40] Nora-Zhou01 commented on #2877
Verified with 17.3.0 Preview 3.0 [32619.15.main] from main branch, NET 5.0 and .NET 7.0  not repro this problem, Combobox list nodes can show expanded when Inspect focus on the dropdown list value, so closed this issue now.
![0620](https://user-images.githubusercontent.com/104609169/174573639-26e404db-a35a-483c-b809-c127bb28676c.png)

[2022-06-20 09:41] #2877 closed

[2022-06-20 23:22] #4366 closed

[2022-06-21 02:46] Amy-Li03 commented on #4600
Hi @HubKing verified this issue on .NET SDK 5.0, 6.0 & 7.0, we all cannot reproduce this issue, following is our repro steps, please correct us if we have done anything wrong, if you also don't reproduce it any longer, we will close this.
![NotRepro](https://user-images.githubusercontent.com/62929087/174705410-e2bc21a9-3a0c-4540-949f-473f58dde516.gif)

[2022-06-21 08:42] vladimir-krestov opened #7328 "DomainUpDown and its elements accessible objects are leaking in memory"
### .NET version

.NET 7.0 Preview 4

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

DomainUpDown items accessible objects are left in memory after the DomainUpDown control instance with its items was inspected with accessibility tool (like Accessibility Insights or Inspect) and the form with Do

[2022-06-21 08:45] Cassie-Li01 commented on #4883
Hi @kirsan31 verified this issue on .NET SDK 5.0, 6.0 & 7.0, we all cannot reproduce this issue with attached project, please correct us if we have done anything wrong, if you also don't reproduce it any longer, we will close this.
![Not repro](https://user-images.githubusercontent.com/96758262/174751908-5fc0626c-b0aa-4a91-bd59-a7f57f9b082e.gif)

[2022-06-21 08:48] kirsan31 commented on #4883
@Cassie-Li01 left treeview is clearly flickering on your gif.

[2022-06-21 09:03] MelonWang1 commented on #6380
Verified this issue in the latest .Net 7.0 build: 7.0.100-preview.6.22316.8, it doesn't repro. So close this issue now. See below screenshot.
![Untitled](https://user-images.githubusercontent.com/94418985/174761320-3fe2e613-e065-49d1-abc8-4df1df0cf14c.png)

[2022-06-21 09:26] MelonWang1 commented on #6439
Verified this issue in the latest .Net 7.0 build: 7.0.100-preview.6.22316.8, it doesn't repro. So close this issue now. See below screenshot.
![6439](https://user-images.githubusercontent.com/94418985/174766125-438d1ad2-4031-457d-9a99-463113572e01.gif)

[2022-06-21 09:26] #6439 closed

[2022-06-21 09:35] #6440 closed

[2022-06-21 14:24] dkazennov opened #7329 "Control classes leaking memory"
### .NET version

.NET 7.0 Preview 4

### Did it work in .NET Framework?

No

### Did it work in any of the earlier releases of .NET Core or .NET 5+?

_No response_

### Issue description

Investigating possible memory leaks with Windows Forms classes inherited to Control class AND in corresponding Accessible Objects.
Some control items and some accessible objects are left in memory after the cont

[2022-06-21 17:35] dreddy-work commented on #7313
@epikgit , thank you for reporting. We have known issues around anchoring of controls especially when they are nested. I see you set `AutoscaleMode` to `None` in your sample app on the Form. Was that intentional or were you trying to get a work around for the issue? Default should be `AutoscaleMode.Font`.

Can you use `DpiUnaware` mode for your application as work around in this case?

[2022-06-21 19:18] gpetrou commented on #7089
@RussKie are you able to share the code to reproduce the exception? I am struggling to understand how this can be reproduced.

[2022-06-22 02:00] #7320 closed

[2022-06-22 04:31] #7089 closed

[2022-06-22 07:06] RussKie commented on #7089
I still haven't got a repro myself and working with @Olina-Zhang to get it. All my conclusions are currently based purely on comparing the API.
Once I have a repro, I'll share it with you.

[2022-06-22 07:12] runfoapp[bot] opened #7332 "Flaky System.Windows.Forms.Tests.Dpi.FormDpiTests.Form_DpiChanged_Bounds"
Runfo Tracking Issue: [Flaky System.Windows.Forms.Tests.Dpi.FormDpiTests.Form_DpiChanged_Bounds](https://runfo.azurewebsites.net/tracking/issue/353)
|Build|Definition|Kind|Run Name|
|---|---|---|---|

Build Result Summary
|Day Hit Count|Week Hit Count|Month Hit Count|
|---|---|---|
|0|0|0|

[2022-06-22 07:14] runfoapp[bot] opened #7333 "Flaky System.Windows.Forms.Tests.ToolStripTests.ToolStrip_WndProc_InvokeMouseActivate_Success"
Runfo Tracking Issue: [Flaky System.Windows.Forms.Tests.ToolStripTests.ToolStrip_WndProc_InvokeMouseActivate_Success](https://runfo.azurewebsites.net/tracking/issue/354)
|Build|Definition|Kind|Run Name|
|---|---|---|---|
|[165926](https://dev.azure.com/dnceng-public/public/_build/results?buildId=165926)|[dotnet-winforms CI](https://dnceng-public.visualstudio.com/public/_build?definitionId=76)|[PR

[2022-06-22 07:48] RussKie commented on #7329
To confirm - are _controls_ leaking memory, or their _AO_ implementations?

[2022-06-22 08:29] RussKie commented on #7089
The source code for the failng test does not exhibit the issue - i.e., if I compile and/or debug the test app - no issues. However, the compiled sample fails consistently.

I've attached the debugger, and here's what's causing the issue (still no idea how we end up with this) - the hashtable does not contain an item with "index:0", instead it contains an item with "index:52" despite the fact that

[2022-06-22 09:32] dkazennov commented on #7329
There are problems both with Controls and Accessible objects. This issue is to investigate the whole problem and to create subsequent issues.

[2022-06-22 23:08] RussKie commented on #5040
@eriawan thank you for testing.

@Jenna-Zheng can you please retest, and close, if this no longer repros.

[2022-06-23 01:35] RussKie commented on #7089
I spent a little more time trying to reverse-engineer the sample app, and here's how the listview colleciton gets in this state:
[code]

Then at some point `/* form */Controls.Clear()` is called, and it leads to the exception:
[code]

I was unable to replicate this locally though, and this would require more digging in and debugging. Unfortunately I don't have more time for this right now.

[2022-06-23 06:32] PoojaNamde opened #7336 "A11y_WINFORMS_CommonControls1_ButtonSection_Keyboard : Keyboard focus order is incorrect inside Button section."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### .NET version
.NET Framework Version 4.8.04161
Operating System: Windows 11 Enterprise 21H2

### Did it work in .NET Framework?

No

### Issue description

GitHubTags:#A11yMAS;#A11yTCS;#.NET Core[WINFORMS]-Win32-June2022;#.NET Core;#A11yS

[2022-06-23 07:07] PoojaNamde opened #7337 "A11y_WINFORMS_CommonControls2_MonthCalendar_Keyboard : Keyboard focus order is incorrect inside "Common Control 2" section"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### .NET version

.NET Framework Version 4.8.04161
Operating System: Windows 11 Enterprise 21H2

### Did it work in .NET Framework?

No

### Issue description

GitHubTags:#A11yMAS;#A11yTCS;#.NET Core[WINFORMS]-Win32-June2022;#.NET Core;#A11y

[2022-06-23 09:06] RussKie commented on #7336
Thank you for the submission. Unfortinately, I'm having troubles understanding the natute of the issue. Could you please provide an animaton showing the issue?

[2022-06-23 12:35] dkazennov commented on #7329
Button control:
![image](https://user-images.githubusercontent.com/102961955/175299490-7b4ebf8c-da14-4182-9b99-96af6fd08144.png)
CheckBox control:
![image](https://user-images.githubusercontent.com/102961955/175299547-a1b4c914-b175-4b78-bb78-c438563dd448.png)
DataGridView control:
![image](https://user-images.githubusercontent.com/102961955/175299622-3940b441-bcb7-481f-a134-531e2ee7459b.png)
DateT

[2022-06-23 15:27] jhudsoncedaron commented on #7149
@kant2002 : Deferred due to overload. Sorry. :(

[2022-06-23 15:36] kant2002 commented on #7149
That’s unfortunate. Hopefully that’s not result in your overwork. And if you and your team still manage to run experiment I would still be interested to hear about lessons if this issue would still be with us

[2022-06-23 18:52] merriemcgaw commented on #7337
@PoojaNamde could you please attach a video explaining what is wrong with the tab order for us? This is not enough information.

[2022-06-23 18:53] merriemcgaw commented on #7336
@PoojaNamde we need a video or a gif illustrating what specifically is wrong with the tab order. Please attach one, as there is not enough information for us to proceed with anything.

[2022-06-23 23:11] bkoelman commented on #3780
Tried on .NET 6 today, but still seeing the same issue:

![image](https://user-images.githubusercontent.com/10324372/175429722-faffc4dc-9750-4baf-8811-3d7e4808d7b3.png)

[2022-06-23 23:17] RussKie commented on #3780
@bkoelman please raise a new issue and provide as much information as possible.

[2022-06-24 01:48] ahdung commented on #3780
@bkoelman Just curious, why your button controls looks pretty? That's definitely not native button of Windows 7.

[2022-06-24 03:18] vsfeedback opened #7341 "LinkLabels truncate when programmically disabled"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/LinkLabels-truncate-when-programmically-/10078592)._

---
[severity:It bothers me. A fix would be nice]
The link label truncates when it's Enabled property is set to false. Does not happen in the designer, just the program. I have set the backgound colour to highlight that it is within t

[2022-06-24 03:20] MelonWang1 commented on #7341
**Repro steps:**
	1. Create a Winforms .NET Core application with a LinkLabel control
	2. Set the LinkLabel control Enabled properties is false
	3. Build and run
**More info:**
This issue is not a regression issue, it also reproduces on VS 2019.
**Actual Result:**
The last character is truncate.
![lionklabel](https://user-images.githubusercontent.com/94418985/175455463-a5fa5951-2993-4c0d-b7ab-3706

[2022-06-24 08:54] PoojaNamde commented on #7336
@merriemcgaw @RussKie

Added attachment describing the issue.

[2022-06-24 09:08] PoojaNamde commented on #7337
@merriemcgaw

Added attachment describing the bug.

[2022-06-24 12:38] vladimir-krestov opened #7344 "`DomainItemAccessibleObject` and `DomainUpDownAccessibleObject` should be marked as "obsolete""
### Is your feature request related to a problem? Please describe

Related to fix #7330. Based on the [comment](https://github.com/dotnet/winforms/pull/7330#pullrequestreview-1017923802).
- `DomainItemAccessibleObject` class is useless, we don't need it to build `DomainUpDown` accessibility tree, because we don't show "Items" list anymore (see #4207).
- `DomainUpDownAccessibleObject` class is usel