[2021-02-19 00:03] wjk commented on #2714
Just a quick update on the current state of this issue:

I have tried running [the NativeAOT compiler](https://github.com/dotnet/runtimelab/tree/feature/NativeAOT) over a simple Windows Forms application. When I run the resulting AOT’d binary, it displays a fully working form with button. I click the button… and get an unhandled exception. NativeAOT does not currently support `ComImportAttribute`,

[2021-02-19 00:33] RussKie commented on #4582
Thank you for the submission.

Given this behaviour existed in for many years there is a significant risk of breaking existing consumers who rely on the existing behaviour and may have worked around it, if we chose to make any changes.

If you wish to investigate it further, and present a solid technical case for changing the behaviour we'll be happy to consider it.
At this stage this goes into th

[2021-02-19 00:33] #4582 closed

[2021-02-19 00:36] RussKie commented on #2714
/cc: @AaronRobinsonMSFT @AArnott FYI

[2021-02-19 00:55] AArnott commented on #2714
@wjk For my own enlightenment, what is it about `ComImportAttribute` that makes any difference at runtime at all? Is it the type equivalence when it is embedded?

[2021-02-19 01:18] mageshsankar opened #4583 "WinForms designer debugging is not working for netcore app"
* .NET Core Version:
NetCore 3.1 and recent version

VS: VS2019

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

I trying to do designer debugging for my WinForms net core application using devenv.exe, but the breakpoint is never hit the source. Is designer debugging working in NETCore application.

**Expected behavior:**
The WinForms designer debugging sho

[2021-02-19 02:03] AaronRobinsonMSFT commented on #2714
@AArnott It isn't really anything specific with `ComImportAttribute`, it is what it implies - COM. COM isn't AOT friendly because of all the dynamic code gen at runtime - marshalling stubs et al. It is even more complicated when `IDispatch` is involved because that is basically reflection for COM and not feasible in AOT in practice. The key issue is around removing all code gen at run time.

The C

[2021-02-19 07:13] mageshsankar commented on #4569
Hi @OliaG

Can you please address the issue?

https://github.com/dotnet/winforms/issues/4583

Thanks,
magesh

[2021-02-19 13:34] filipnavara commented on #4528
@dreddy-work I'll file a separate report for that through VS feedback. Basically any `null` that is assigned into control property in the designer ends up as `ResXNullRef` type in the .resx file. Since the designer ships its own copy of ResX classes it happens to use its own copy of `ResXNullRef` that resides in the designer assembly. It puts the wrong assembly name into the .resx file and fails a

[2021-02-19 17:24] wjk commented on #4538
If the buttons are using the System FlatStyle, this is something we cannot fix, as the line in question is drawn by native code in user32 and uxtheme.

However, if the buttons use the Standard FlatStyle (which is the default), bitmaps of the button background are retrieved from UXTheme and drawn using standard GDI+. In this case, we can draw whatever we want on top of them. `ControlPaint.DrawFocus

[2021-02-20 01:19] merriemcgaw commented on #4428
@SergeySmirnov-Akvelon - do you know if we can add the Toggle pattern to the button control? Is there any reason to think we could not/should not?

[2021-02-20 10:10] SergeySmirnov-Akvelon commented on #4428
Hi @merriemcgaw. Yes, we can do it and I implemented it in the #4586. Could you please take a look at #4586 and confirm that this is the expected behavior?

[2021-02-21 21:47] KlausLoeffelmann commented on #4308
I am not sure if I understood this correctly.
Can you clarify what you mean exactly in the context of writing the settings?

What settings issue exactly do you see in Preview 4?

[2021-02-22 02:22] paul1956 commented on #4308
In Framework the default value for a setting of type System.Collections.Specialized.StringCollection is a New collection with count 0, the following code is not necessary
[code]
In core
[code]

[2021-02-22 09:29] #4439 closed

[2021-02-22 09:37] #4580 closed

[2021-02-22 10:29] weltkante commented on #4583
As far as I know creating custom controls is not fully supported yet (at least they didn't document how to do it, still waiting). There have been plenty designer changes that make it impossible to just run a Desktop Framework custom control on .NET Core.

The new designer is running in a separate process, so if you want to debug your control before official support is finished you can try identify

[2021-02-23 02:27] Olina-Zhang commented on #4524
Verified this issue in .Net 5.0.104-servicing.21118.22 build, it is fixed: after running application with above testing code, drawing text is in the right position, same as the result of .Net Core 3.1.
![image](https://user-images.githubusercontent.com/26474449/108795577-c178f600-75c1-11eb-9874-9cf0eb871101.png)

[2021-02-23 08:33] Jessie-Zhang01 opened #4593 "The default value is not displayed in the correct position after setting SelectedObject property for PropertyGird control"
* .NET Core Version: .Net SDK 6.0.100-preview.2.21120.3, .Net SDK 5.0.104 from March 2021 Update Test Pass

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
The default value is not displayed in the correct position after setting SelectedObject property for PropertyGird control. It seems to be displayed in the upper left corner of the propertygrid.
![image](h

[2021-02-23 08:34] rvv27 opened #4594 "DataGridView.SelectedCells returns inconsistent results based on selection type"
* .NET Core Version:
Any version

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
When using DataGridView.SelectedCells property it returns the Selected Cells. When doing so it ignores the cells from rows which are set Visible = false. i.e. SelectedCells.Count ignores the hidden rows and gets the actual visible cell count

Bug: This however doesn't work if

[2021-02-23 20:22] terrajobst commented on #4431
Any r

Should we consider exposing the display text in the event args as well?

[2021-02-23 21:14] weltkante commented on #4431
Unfortunately the documentation is for users of the RTF control, it is explaining how to obtain the display text -if- you are using the recommended hyperlink format, but the user is free to format his hyperlinks differently (which is actually common for code ported from the old RTF control and was how the whole discussion started)

So, yes, WinForms could expose the documented way to obtain the di

[2021-02-24 08:01] RussKie commented on #4593
This is a regression surfaced by https://github.com/dotnet/winforms/pull/4525. Before #4525 any modifications to a `Graphics` object would be correctly applied, as the code would follow this path:
https://github.com/dotnet/winforms/blob/7b6d43368dbfd7a40fd0d3e336e46418f780ee59/src/System.Windows.Forms.Primitives/src/System/Windows/Forms/DeviceContextHdcScope.cs#L52-L55
Since #4525 we rely on `flag

[2021-02-24 19:10] JeremyKuhne commented on #4593
Your fix looks right, and I like the assert.

[2021-02-24 19:18] Tanya-Solyanik opened #4598 "Form and CheckedListBox icons contain only 16x16 frames"
We need icons with multiple resolution to support HDPI environment.
https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/src/Resources/System/Windows/Forms/Form.ico
https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/src/Resources/System/Windows/Forms/CheckedListBox.ico
![image](https://user-images.githubusercontent.com/15823268/109053876-0c623e80-7692-11eb-973f-

[2021-02-24 19:19] Tanya-Solyanik commented on #4598
Winforms Designer has a local work around for this issue that uses larger resolution bmps. I'm not sure where the multiple resolution icons are. We might have to contact UX designers.

[2021-02-24 22:28] paul1956 commented on #4308
Still getting error with Preview 5.
![image](https://user-images.githubusercontent.com/12789369/109074357-87d0e980-76ac-11eb-846e-63cabd8dc7ac.png)

[2021-02-24 22:41] merriemcgaw commented on #4428
@SergeySmirnov-Akvelon, that looks great in my eyes! Thanks so much! If a developer doesn't want to set it as a toggle button, they can get the regular behavior, right?

[2021-02-24 23:02] merriemcgaw commented on #4593
Agreed - we should get this in 5.0.5 for sure.

[2021-02-25 07:14] SergeySmirnov-Akvelon commented on #4428
Hi @merriemcgaw. It seems to me that there is no easy way for users to influence how these buttons work.

On the one hand, we have the old behavior in the framework, where the buttons are of the `checkbox` control type and our change may confuse the user.
On the other hand, these controls really look more like buttons than checkboxes. In addition, they have the behavior of radio buttons, when you

[2021-02-25 07:35] Zheng-Li01 opened #4599 "Missing the description for some properties & events of migrated DataSet control"
* .NET Core Version:
.NET 6.0.100-preview.3.21123.4

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
Missing the description for some properties & events of migrated DataSet, DirectorySearcher, DirectoryEntry, PerformanceCounte controls.

**Expected behavior:**
There have the description for some properties & events of migrated DataSet control.

**Minimal re

[2021-02-25 07:56] HubKing opened #4600 "Make the owner window foreground, when the child window that the user had clicked is closed."
**Is your feature request related to a problem? Please describe.**

I have been personally annoyed by this "disappearing window" issue of my own WinForms app for years. When I close a child window, suddenly the main window gets hidden for some reason. I did not know exactly why it happened, and today, I finally found it out.

Let's say that the WinForms app has a MainWindow and a child Window. Cre

[2021-02-25 08:25] kirsan31 commented on #4593
Am I understand right, that this regression will be introduced in 5.0.**4** anyway?

[2021-02-25 09:47] RussKie commented on #4593
5.0.4 has been snapped few weeks ago, and is about to be released. Unfortunately it is too late in the cycle to undo or fix it in this release.
Sadly we messed it up, sorry.

________________________________
From: kirsan31 <notifications@github.com>
Sent: Thursday, 25 February 2021 7:25 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Igor Velikorossov <Igor.Velikorossov@microsoft.com>; As

[2021-02-25 09:51] kirsan31 commented on #4593
Thanks for the info (forewarned is forearmed). We need to stick with 5.0.**3** then...

[2021-02-25 09:54] RussKie commented on #4593
This issue will noted in the release notes, I just hadn't have a chance to add it yet.
________________________________
From: kirsan31 <notifications@github.com>
Sent: Thursday, 25 February 2021 8:51 PM
To: dotnet/winforms <winforms@noreply.github.com>
Cc: Igor Velikorossov <Igor.Velikorossov@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [dotnet/winforms] The default value is not

[2021-02-25 11:57] PavelAgurov opened #4601 "TabControl control has transparent tab color by default"
Hi,

When I put TabControl to the form I have transparent color of all tabs.
It’s not usefule - I have to change it to the “Control” color or something like this.
Can you set some color for tab pages by default?

BR,
Pavel

[2021-02-25 16:06] techfan101 opened #4607 "Inconsistent behavior getting/setting scroll bar visibility for ScrollableControl / UserControl"
**Environment**

.NET Core Version: 5.0

**Problem description:**

While I was implementing a custom [UserControl](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.usercontrol), I noticed some very strange behavior regarding the visibility of the scroll bars.  Upon further investigation, this behavior seems to point to a bug in its parent class:  [ScrollableControl](https://docs.mi

[2021-02-25 21:27] RussKie opened #4608 "Simplify `Invoke` and `BeginInvoke` signature and accept `Action`"
## Proposed API:

Add an overload that takes `Action` as a parameter for both [`Invoke(Action method)`](https://docs.microsoft.com/dotnet/api/system.windows.forms.control.invoke) and [`BeginInvoke(Action method)`](https://docs.microsoft.com/dotnet/api/system.windows.forms.control.begininvoke).
I don't think it is necessary to create overloads for methods that take `params object[] args` as it is p

[2021-02-25 21:29] RussKie commented on #4608
@MadsTorgersen @jaredpar @KathleenDollard can you see any issues with this change?

[2021-02-25 21:30] gcaughey opened #4609 "Some file is missing from single-file self-contained publish beginning in .NET 5.0.3"
* .NET Core Version: 5.0.3

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Application fails to launch with this message: Launch exception: The system cannot find the file specified. (0x80070002)
This only happens with a a single-file self-contained app published to a folder on a PC that doesn't have .NET 5 runtime installed.
If the app is published self-c

[2021-02-25 21:36] RussKie commented on #4609
This sounds like a duplicate of https://github.com/dotnet/winforms/issues/4397 (which is a duplicate of dotnet/runtime#40103).
Please have a look in it to see if it is.

Please check EventViewer for stack traces and other relevant information for more insights.

[2021-02-25 21:41] gcaughey commented on #4609
There is nothing in EventViewer. I can't say for sure if this is the same issue, but even if not, it could have a common cause.

[2021-02-25 21:44] gcaughey commented on #4609
This behavior is new for me beginning in .NET 5.0.3, so that would be different from those other issues, which occurred in earlier versions of NET 5.

[2021-02-25 22:03] RussKie commented on #4609
Can you please provide a small repro so we can investigate further?

[2021-02-25 22:15] weltkante commented on #4600
WinForms can hand off activation to a different window before it closes the form. If it doesn't then the Windows standard logic will kick in and (probably) activate the most recently used window. This usually makes sense, but for owned windows its indeed odd since the most recently used is not matching whats in the foreground when you close the child window.

I have no objection for WinForms to au

[2021-02-25 22:37] RussKie commented on #4601
Can you please elaborate? Screenshots and a repro will help better understand your issue.

This how it looks:
![image](https://user-images.githubusercontent.com/4403806/109228577-23ca3480-7816-11eb-9a6a-8c5dd60af576.png)

[2021-02-25 22:41] PavelAgurov commented on #4601
Background color of each page is Transparent. In WinForms it was SystemColor.Control.

[2021-02-25 23:07] RussKie commented on #4593
I've updated the known issues docs, these will be published when 5.0.4 and 6.0p2 are released

[2021-02-25 23:11] RussKie commented on #4601
I don't believe there were any changes with the regards to `TabPage` background colours.

.NET 6.0:
https://github.com/dotnet/winforms/blob/f19545231fb36e430b74612ce303e781317636b0/src/System.Windows.Forms/src/System/Windows/Forms/TabPage.cs#L91-L105
.NET Framework 4.7.2:
https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/TabPage.cs,127

.NET 6.0:
https://

[2021-02-25 23:14] weltkante commented on #4601
The tab control is themed, it should not have relations to user specified colors at all (unless theming is disabled), since its being drawn by the theming engine. On some versions of Windows that includes a gradient background which is not possible to represent with a background color; frames are also drawing images.

If there's a regression you should probably try to describe what regressed. If t

[2021-02-26 04:48] jaredpar commented on #4608
LGTM

[2021-02-26 08:29] Jenna-Zheng commented on #4310
@RussKie this issue also reproduce on .NET 6.0.

[2021-02-26 09:58] kirsan31 commented on #4608
https://github.com/dotnet/winforms/issues/1347 :grin:

[2021-02-26 10:00] #4531 closed

[2021-02-26 14:29] gcaughey commented on #4609
I'm still working on a small repro, but I was able to get something from the EventViewer with a different app that also fails to launch:

Faulting application name: WasteworksSyncManager.exe, version: 2.0.0.0, time stamp: 0x600b9ea2
Faulting module name: KERNELBASE.dll, version: 10.0.18362.1316, time stamp: 0x7a6bfa05
Exception code: 0xe0434352
Fault offset: 0x001146d2
Faulting process id: 0x57d4

[2021-02-26 15:19] gcaughey commented on #4609
[TestWinformsPublish.zip](https://github.com/dotnet/winforms/files/6050534/TestWinformsPublish.zip)

Repro steps:
1. File, new Winforms project targeting .NET 5
2. Build
3. Publish to folder selecting Release/x86 single-file self-contained
4. Try to run from a PC that doesn't have .NET 5 installed
5.  Check EventViewer for errors. I got this:

Application: TestWinformsPublish.exe
CoreCLR Version:

[2021-02-26 15:43] tbolon commented on #4608
Will this also works?

[2021-02-26 16:09] weltkante commented on #4608
Yes but its currently slightly more inefficient because the delegate is not cached (for historic reasons). There's a [roslyn issue](https://github.com/dotnet/roslyn/issues/5835) for changing this and making it behave like the other delegate syntax variants.

[2021-02-26 16:23] gcaughey commented on #4609
I found that if I commented out  this line in program.cs, the app loads ok:
           //Application.EnableVisualStyles();

[2021-02-26 20:33] KlausLoeffelmann commented on #4608
@weltkante, do you think if we introduced this, we would break a terribly awful lot of people with regards to what you wrote here?

https://github.com/dotnet/winforms/issues/1347#issuecomment-671821782

(And let's all keep in mind, we always said, given the nature of .NET in contrast to Framework, we don't want to, but if the benefit outweighs the risk, we would introduce breaking changes. I'd say

[2021-02-26 21:00] merriemcgaw commented on #4428
I absolutely agree. That seems like the best approach in my book. Thanks @SergeySmirnov-Akvelon !

[2021-02-26 22:15] merriemcgaw commented on #4031
@vladimir-krestov can you guys put this higher on the priority list so we can close out all remaining bugs from the previous accessibility test pass? I've moved it to the todo column in the project.

[2021-02-26 22:30] weltkante commented on #4608
Not really, no, people who wrote an extension method will compile against your method now, but I really doubt someone would make an `Invoke(Action)` extension on `Control` and give it different behavior than `Invoke(Delegate)`

I expect existing extension methods are doing the same you are going to do in your overload so that should not be breaking.

[2021-02-27 11:02] JensNordenbro commented on #4326
@RussKie ; we also are experiencing friction with thirdparty needing this. For us the problem is not the removal of these components but the lack of control for using thirdparty.
I guess in the end we will just replace these thirdparty dependencies.

This "not full compatiblity" leads me however to ask the questions:
1. Is there a roadmap for further component deprecation?
2. Are there plans to do

[2021-02-27 16:08] tbolon commented on #4608
Sorry for the digression; but I completely forgot about this, and I remember how I was shocked, because I was always thinking that this form was more efficient that the other one (instead of allocating a delegate, just point directly to the method). Thanks for the reminder 😅

[2021-02-28 00:57] reflectronic opened #8827 "Add support for converting the format of a Bitmap"
### Background

GDI+ 1.1 added support for converting the pixel format of an bitmap in-place. Naturally, one can specify a target pixel format, but the function accepts many other parameters to control aspects of the conversion. Unfortunately, the API is not very well designed — it's poorly documented, and many combinations of options seem to be outright ignored or result in vague errors — but [a

[2021-02-28 09:01] kirsan31 opened #4621 "maximized MDI child not response to icon changes"
* .NET Core Version: **All**

* Have you experienced this same bug with .NET Framework?: **Yes**

**Problem description:**
Icon on maximized child form not react on Hide/Show and Icon (picture) changing - see below:

https://user-images.githubusercontent.com/17767561/109413054-97a64180-79bc-11eb-8a92-c2c0e81cea12.mp4

**Expected behavior:**
Icon on maximized child form properly react on Hide/Show

[2021-03-01 01:33] RussKie commented on #4609
Duplicate of #4397

[2021-03-01 01:33] #4609 closed

[2021-03-01 02:14] RussKie commented on #4599
These types belong to dotnet/runtime, and AFAIK the runtime does not maintain any attributes or is being localised.

E.g. [.NET Framework version](https://referencesource.microsoft.com/#System.Data/fx/src/data/System/Data/DataSet.cs,667) vs [.NET version](https://github.com/dotnet/runtime/blob/56b2fa93da517e3812456d8909454020773a242a/src/libraries/System.Data.Common/src/System/Data/DataSet.cs#L725

[2021-03-01 02:20] RussKie commented on #4583
![image](https://user-images.githubusercontent.com/4403806/109444165-aeb66380-7a90-11eb-87b4-4d031b63336d.png)

[2021-03-01 02:20] #4583 closed

[2021-03-01 02:27] RussKie commented on #4621
Since this is a long standing existing behaviour setting is up for grabs. You're welcome to submit a PR with a fix 😉

[2021-03-01 02:39] RussKie commented on #4326
I'm not currently aware of any plans to deprecate any more controls. But calls of this nature generally involve more than just the engineering team.
If any more components will be made obsolete I fully expect our communication to be better and well in advance.

Can you please clarify the question?

[2021-03-01 04:11] RussKie commented on #4608
Updated with `public T Invoke<T>(Func<T> method)` overload.

[2021-03-01 04:17] RussKie commented on #1347
Duplicate of #4608

[2021-03-01 04:17] #1347 closed

[2021-03-01 08:28] bairog opened #4623 "DataGridView DataSource cannot be assigned to BindingSource"
* .NET Core Version:
.NET 5.0.103 and .NET 6.0.100-preview.1.21103.13

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

I have a BindingSource where DataSource is set to “typeof(MyClassLibraryNamespace.MyClassName)” in MyForm.Designer.cs to allow me AutoCreation of DataGridView columns in design time.

BUT, when I want to assign that BindingSource to DataGri

[2021-03-01 09:56] devliber commented on #357
I'm very interested in enabling the Explorer theme on ListViews and TreeViews by default, but I didn't find an issue for this so far.

As a side note, it seems there is already a [ApplyListViewThemeStyles](https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms.Design/src/System/Windows/Forms/Design/DesignerUtils.cs#L880) method in the `System.Windows.Forms.Design.DesignerUtils` inte

[2021-03-01 10:01] RussKie commented on #1199
I went and tried implementing the proposal and looked at it from a developer side. And I do really feel we're trying to fit a square peg into a round hole. I'm going to rescind the current proposal for the following reasons:

1. Bloated API.
    All the previous examples assumed a page created, e.g.
[code]

    However, in reality a lot of developers will likely prefer the fluent expression, e.g.:

[2021-03-01 11:05] weltkante commented on #4608
I think you missed that the old `Invoke` method works with _any_ delegate type, not just with `MethodInvoker`.

You'd either cast the boxed value or return it through a variable captured in the closure:

[code]

or

[code]

`MethodInvoker` has nothing to do with the original methods, they take any delegate. `MethodInvoker` is not special in any regards, you could replace it literally with `Action`

[2021-03-01 11:06] shakir-timur opened #4624 "Several ComboBox controls with one DataSource object affect each other on change"
* .NET Core Version: 3.1

* Have you experienced this same bug with .NET Framework?:  Yes

**Problem description:**
Binding several ComboBoxes to one object causes somewhat unobvious side effects: when selecting value of one causes others to change theirs too and fire events like SelectedIndexChanged on every other ComboBoxes.
This can probably affect other elements too, not just ComboBoxes.

Such

[2021-03-01 16:23] weltkante commented on #4624
Both your linked issues have the correct solutions, I don't believe there is a bug.

When you are assigning lists directly as data source WinForms will track the current selection for you, to support scenarios like master/detail views where the controls of the detail area need to respect the current selection of the master list. Obviously this can only work when the binding system coordinates betw

[2021-03-01 18:26] kirsan31 commented on #4623
I think this is one of many issues with new designer.
IMHO, it's still far away from prodaction ready state.
We are using old .net Framework designer with .net5 through this technique:
`<TargetFrameworks>net472;net5.0-windows</TargetFrameworks>`
Yes, it's not so easy and comfortable, but for us it's the only option for now :-(

[2021-03-01 18:37] 1R053 commented on #4370
I just had a look at the source for this in InPlaceActivate(OLEIVERB verb). There is a call to
[code]
at a location in the code where _inPlaceUiWindow has never been instantiated. This piece of code cannot work anywhere.

[2021-03-01 19:21] KlausLoeffelmann commented on #1199
I find this absolutely dreaded, horrifying and terrible - don't get mad yet, this sentence has not finished 😄 - in the _context of the original WinForms Development spirit!_

Read the docs? Come on...
It is completely undiscoverable, doesn't aim our target audience, and I predict, it will not be widely accepted.

Please, let's not assume that clicking a Link like www.learnhtmlsoyoucanusewinforms.c

[2021-03-01 19:22] jnm2 commented on #1199
Should say the href attribute, right?

Since target is an HTML concept that means something, as in `<a href="..." target="_blank">`, can we go with `LinkId` instead of `LinkTarget`?

[2021-03-01 20:29] 1R053 commented on #4370
created a PR #4626
imo it was a copy & paste error when porting this code.
In case this goes through, will it be backported to 5.x or should this be a separate PR?

[2021-03-01 23:18] RussKie commented on #1199
We've had a chat with @KlausLoeffelmann and he will put forward another proposal.

[2021-03-01 23:30] #4320 closed

[2021-03-01 23:35] tannergooding commented on #1199
My 2 cents here is that what @RussKie proposed (https://github.com/dotnet/winforms/issues/1199#issuecomment-787822157) is a small minimal abstraction that fits well to the Win32 APIs actually exposed.
`public bool EnableLinks { get; set; }` maps to [TDF_ENABLE_HYPERLINKS](https://docs.microsoft.com/en-us/windows/win32/api/commctrl/ns-commctrl-taskdialogconfig#members) while `public event EventHand

[2021-03-01 23:37] tannergooding commented on #1199
You can always build a higher abstraction over a low-cost minimal wrapper. The reverse is rarely true.

[2021-03-01 23:58] #4624 closed

[2021-03-02 01:24] KlausLoeffelmann commented on #1199
If I remember correctly, the original proposal provided this.
I have no idea, why we did not pursue the original draft?
What was the problem with the original proposal, where we already had the Unassisted Scenario (see above)?

Please let's not forget: The TaskDialog or a Page of it is a modal Dialogbox which most likely is dedicatedly crafted for a typical UI scenario anyway. It is not the result

[2021-03-02 01:50] RussKie commented on #4608
Thank you @weltkante, I indeed totally overlooked it.
I've update the proposal. I think there are some perf benefits to reap as well.

[2021-03-02 02:43] tannergooding commented on #1199
My general point here is that the proposal given [here](https://github.com/dotnet/winforms/issues/1199#issuecomment-787822157) represents the minimum viable product. It exposes all the underlying functionality supported by the API and allows all the scenarios, both expected and unexpected. It allows you to be as performant or allocating as you want and you can build all other functionalities on to

[2021-03-02 03:52] KlausLoeffelmann commented on #1199
I understood that the unassisted scenario is the base, and the more guided or rather guiding API is on top.
Will talk to @RussKie  again about this, and review! Thanks!

[2021-03-02 07:58] SergeySmirnov-Akvelon commented on #4428
Hi @merriemcgaw. The CTI team found an unpleasant surprise. According to the Accessibility Insights rules, the button cannot support `Invoke` and `Toggle` patterns at the same time, as a result we see an error:
![Issue-4428-AIError](https://user-images.githubusercontent.com/23376742/109616293-0e227b00-7b46-11eb-9966-79fc7fd11a70.png)
Probably we will have to go back to using the `Checkbox` control

[2021-03-02 09:00] Zheng-Li01 commented on #4391
Verified the issue based on .NET 6.0 Preview2[21127.3] Test Pass,the issue has been fixed.

[2021-03-02 09:18] Jenna-Zheng commented on #4439
Verified this issue with .NET 6.0.0-preview.2.21124.3, it is fixed that TreeNode has a keyboard tooltip
![TestApp](https://user-images.githubusercontent.com/64949616/109626208-38daf680-7b7b-11eb-9744-33936d06b165.gif)

[2021-03-02 09:30] Amy-Li03 opened #4629 "An exception was throwing when switching the dates of MonthCalendar control on .NET 6.0 windows arm64 SDK"
* .NET Core Version:
.NET SDK 6.0.100-preview.3.21123.4

* Have you experienced this same bug with .NET Framework?:
No

**More info:**
1. This issue **cannot** reproduce on .NET 6.0 Windows x64 SDK build
2. This issue can reproduce from .NET 6.0 Preview 1 to Preview 3 windows arm64 SDK latest build
2. This issue cannot reproduce on DateTimePicker control

**Minimal repro:**
[TestApp.zip](https://g

[2021-03-02 09:36] Ashley-Li commented on #3989
Verified the issue based on .NET 6.0 Preview2[21127.3] Test Pass,the issue has been fixed that when create targets .NET6.0 app, the TargetFramework is net6.0, when create targets .NET5.0 app, TargetFramework is net5.0.

[2021-03-02 09:39] RussKie commented on #4629
@Amy-Li03 can you please try an MFC app to establish where the problem is - in the underlying Win32 control or Windows Forms' wrapper? Thanks

[2021-03-02 13:51] weltkante commented on #4629
If this works in MFC you may want to double check that the stackalloced structs get properly zero initialitzed, since [GetMonthRange](https://github.com/dotnet/winforms/blob/2178e7a66ed27332202659c3ea86649dc4578c3d/src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs#L1293) passes on the datetime unchanged to [SysTimeToDateTime](https://github.com/dotnet/winforms/blob/2178e7a66ed2733

[2021-03-02 16:07] JensNordenbro commented on #4326
1. ok
2. WinForms is based upon GDI which is not HW accelerated fully (since Vista days although improved with Win7 https://docs.microsoft.com/en-us/windows/win32/direct2d/comparing-direct2d-and-gdi ).
Considering
  + Few WinForms application developers interact with GDI directly and instead using GDI+
  + WinUI3 enables WIn32-interaction
  + Major versions (even minor) of .NET has historically br

[2021-03-02 23:18] #4216 closed

[2021-03-02 23:22] RussKie commented on #4216
@coderb how severely does this issue impact you?

[2021-03-02 23:23] #4454 closed

[2021-03-02 23:37] #4593 closed

[2021-03-02 23:45] coderb commented on #4216
@RussKie i've delayed upgrading to 5.0 (still on 3.1) due to it.  it would be great if it landed in a production release sooner rather than later!

[2021-03-03 05:35] Amy-Li03 commented on #4629
@RussKie Create a MFC project with a monthCanlendar control on win10 machine, build this project, then run it on win arm64 machine, there is no exception was throwing when switching dates of MonthCalendar.

![MFC](https://user-images.githubusercontent.com/62929087/109753636-97f14780-7c1d-11eb-9707-8d6eca74eb38.gif)

[2021-03-03 06:58] KlausLoeffelmann opened #4631 "Introduce InvokeAsync, ShowAsync, ShowDialogAsync"
# Rationale

[Scenario and API proposal updated to reflect the current eco system.]

A growing number of components in and for WinForms requires to asynchronously marshal an async method to run on the UI-Thread. These are for example APIs around WebView2, projected native Windows 10 and 11 APIs or async APIs from modern libraries for example for Semantic Kernel.

Other scenarios make it necessary

[2021-03-03 08:03] panost commented on #2625
It's just a single line change
[code]

to
[code]

but I am unfamiliar with the pull request methodology and the requirements that this repository has.

[2021-03-03 12:40] weltkante commented on #4629
The exception does not come from switching dates, it comes from WinForms intercepting the date switch and running custom code. The code looks correct but on ARM something behaves incorrectly. To determine if its the native control that behaves incorrectly you may need to recreate the interop call WinForms does and see if it works when done in a native MFC application.

I had some links above, basi

[2021-03-03 17:36] ststeiger opened #8828 "Font API"

[2021-03-03 21:31] KlausLoeffelmann commented on #4146
Again, I am afraid I am of a different opinion here.
But I added a disclaimer in the API description/rationale, that this API should *_not be used for License-checking purposes_*.

Also, please keep in mind, that if you would see edge-case problems with this API for a third-party-control vendor, then by all means: don't use it for that!

I came up with this API because of the necessity for UserCon

[2021-03-03 22:18] KlausLoeffelmann commented on #4631
Oh, and this is the implementation I did so far with which I used in the demo:

[code]

[2021-03-03 23:14] RussKie commented on #4216
We've got an approval to service this in 5.0.5

[2021-03-03 23:37] willibrandon commented on #2625
It might be more than a 1 line change if we add to or update the `PropertyTabTests`, but I believe @panost is on the right track.

The proposed solution would also require that the `EmbeddedResource` CustomPropertyTab `LogicalName` metadata in System.Windows.Forms.Tests.csproj be updated to reflect the change.

Are we correct that this should behave like the .NET Framework?

[2021-03-03 23:41] RussKie commented on #2625
If you're willing to give it a go, I'm happy to guide :)

We have few guides that explains steps to build and test. In essence the steps are as follows:
1. fork the repo
2. clone
3. [configure your workstation](https://github.com/dotnet/winforms/blob/main/docs/developer-guide.md)
4. [build](https://github.com/dotnet/winforms/blob/main/docs/building.md)
5. create a git branch
6. run `.\start-vs.cmd

[2021-03-03 23:52] weltkante commented on #4631
[code]

The `args` make no sense, `Func<Task>` takes no arguments and if you pass anything but an empty array you'll get an exception (same for the other overload).

Also do you really want `BeginInvoke` behavior which always interrupts control flow (posting to the message loop) even if you are already on the UI thread? I mean its ok to do if you document it, people can do their own extension meth

[2021-03-04 00:11] terrajobst commented on #3512
* Looks good as proposed.

[code]

[2021-03-04 00:19] terrajobst commented on #4431
* Looks good as proposed.
    - It's a bit odd to default `LinkStart` to zero, but that would be consistent without, for example, `SelectionStart` and `SelectionLength` work in WinForms

[code]

[2021-03-04 00:21] RussKie commented on #3512
@weltkante would you like to have a go at implementing it?

[2021-03-04 00:21] RussKie commented on #4431
@weltkante would you like to have a go at implementing it?

[2021-03-04 00:36] terrajobst commented on #4146
* Makes sense, but it might be better to introduce a property that combines `Component.DesignMode` and `Control.IsAncestorSiteInDesignMode` so that you have a single property that answers "am I being designed or is one of my parents being designed"

[code]

[2021-03-04 00:41] terrajobst commented on #4608
* Looks good as proposed
      - Is this a source breaking change for VB? @KathleenDollard @jaredpar?

[code]

[2021-03-04 00:57] terrajobst commented on #4631
* The scenario makes sense
    - @StephenToub should review this as he's working on adding support for timeout and cancellation token support as part of dotnet/runtime#47525

[code]

[2021-03-04 01:09] stephentoub commented on #4631
Just skimming the post now...

Am I understanding correctly that the timeout and CancellationToken don't actually impact the execution of the invokeDelegate, rather they cause the returned task to transition to a completed state even when the invokeDelegate may still be executing?

If so, that's exactly what the new WaitAsync methods will do:
https://github.com/dotnet/runtime/pull/48842
e.g. if th

[2021-03-04 01:12] RussKie commented on #4608
@weltkante made a great comment in https://github.com/dotnet/winforms/issues/4631#issuecomment-790160172

This could be addressed by dotnet/runtime#47525 that's looking at adding support for timeout and cancellation token support.

[2021-03-04 01:31] dreddy-work commented on #2625
@panost , I do not think we need extension to be passed onto the name. In core, we got rid of extension name from the resource names. It should be able to find embedded resources based on the name ( no extension). Did you verify your proposed fix here? I didn't look in detail but extension should not be needed in the name.

[2021-03-04 02:06] dreddy-work commented on #4623
We did few changes in this space in the recent release. @KlausLoeffelmann can provide updated status information here for tracking purpose but work is in progress.

[2021-03-04 02:18] dreddy-work commented on #4600
I am not sure if making this proposed behavior as default is good.  for ex: While i am working on window # 1, got a popup message from a process running under window # 2. responding on this popup message will take me back to what i was working on. Falling back to previous active window seems right ( even from accessibility perspective). I agree that we should not hide the parent window ( as shown

[2021-03-04 02:20] dreddy-work commented on #4598
We do have multiple resolution Icons for all winforms controls. Will get these things fixed as part of the high DPI work.

[2021-03-04 02:58] Zheng-Li01 commented on #4541
Verified the issue with latest .NET SDK 6.0.100-preview3.21153.9 build, the issue has been fixed as below screenshot.
![image](https://user-images.githubusercontent.com/38325459/109904700-959ff380-7cd8-11eb-848b-63843d46ef81.png)

[2021-03-04 06:06] RussKie commented on #357
@devliber please open a new issue for this. The more information you put - the better. If you have a proposal on a fix - great!

[2021-03-04 09:34] RussKie commented on #3001
We had further team discussions about the API and how it will work with the designer, and we identified a number of gaps, which require further analysis.
I'm going to close it until we fully establish this is the correct approach.

[2021-03-04 09:41] arknu commented on #4370
@1R053 Thank you for creating the PR. It certainly fixes the NullReference exception for me. However, there appears to be other issues resulting in the ActiveX control not being created - at least when running in Office (via the ICTPFactory.CreateCTP method). I don't get any exceptions or details, just "The ActiveX object could be created". However, those issues are probably best discussed in a se

[2021-03-04 09:44] 1R053 commented on #4370
@arknu Thanks - I've observed this as well. It would be great if you can assist in identifying the next issues.

[2021-03-04 10:09] 1R053 commented on #4370
after the fix I think the class type of the control cannot be identified somehow.
When looking into Internal.Runtime.InteropServices.ComActivator->FindClassType there seems to be no type returned in my case

[2021-03-04 10:16] arknu commented on #4370
@1R053 For me it actually gets as far as calling the constructor of the UserControl now. Definitely progress. But after executing the constructor successfully, it fails. I have a feeling that there may be another copy-paste bug lurking somewhere...

[2021-03-04 10:21] 1R053 commented on #4370
@arknu
Can you register/unregister the comhost.dll with Core 6? I had also issues here.
If it was already registered before I also had a successful instantiation but no success with ICTPFactory.CreateCTP

[2021-03-04 10:31] RussKie opened #4639 "Remove remaining `EnumValidator`"
An addendum to https://github.com/dotnet/winforms/pull/4043 that replaced enum validations with source generators. We still have runtime enum validations lurking around, and they needs to be cleaned out and replaced with the compile-time validations.
https://github.com/dotnet/winforms/blob/2178e7a66ed27332202659c3ea86649dc4578c3d/src/System.Windows.Forms/src/System/Windows/Forms/WinFormsUtils.cs#L

[2021-03-04 10:45] panost commented on #2625
@dreddy-work No, I didn't know those details and I don't have an environment suitable to build and test this WinForms repository.
What I know is this:
I have a WinForms project where I have a custom PropertiesTab named ObjectPropertiesTab (the code is in ObjectPropertiesTab.cs) . In this project you have to provide an icon but without an .ico extension
As I do here (see the extensionless file Obje

[2021-03-04 10:51] RussKie commented on #4370
Our current team is lacking in understanding how Office interop and ActiveX are used in the wild, and we're very interested in sample apps that can demonstrate real scenarios. Having these scenarios we'll help us building a test suite and identifying gaps, and may aid in cross-org discussion about the future of the interop.

I can't make any promises on the future support of VSTO and Office intero

[2021-03-04 10:55] RussKie commented on #2625
Can you provide a sample app that shows the issue?

[2021-03-04 11:15] noseratio commented on #4631
Alternatively, I've been using the following version, modified to support `timeOutSpan`. I my experience, I never needed `timeOutSpan`, as `CancellationToken` was always good enough. Removing `timeOutSpan` could make it a bit shorter and perhaps a bit more performant.

[code]

[2021-03-04 11:34] panost commented on #2625
Sure,
[PropertyTabIssue.zip](https://github.com/dotnet/winforms/files/6083217/PropertyTabIssue.zip)

Is a Winforms net5.0 project that works just fine, because the embedded resource named ObjectPropertiesTab is extensionless (this file is actually an icon).
If you rename it to ObjectPropertiesTab.ico (or select "Build Action" to "None") and run it, several exceptions are throw (with first, the one

[2021-03-04 12:21] weltkante commented on #4631
Contrary to the original method this is public, thus definitely broken, because it doesn't unwrap and await the task returned by `Func<Task>` or `Func<Task<T>>`

When passing an actual async function the `Task` returned by `InvokeAsync` completes before the `invokeDelegate` completes.

In other words, your `InvokeAsync` does not support async callbacks, it supports calling _synchronous_ callbacks

[2021-03-04 12:38] noseratio commented on #4631
I guess I see what you mean. That version was for invoking _synchronous_ delegates, and the real code accepts an `Action`, not an untyped `Delegate`:

[code]

As for async lambdas, I use a different override (similar to how `Task.Run` does it):

[code]

[2021-03-04 12:42] coderb commented on #4216
fantastic, thank you!

[2021-03-04 13:30] noseratio commented on #4631
The original method seems to be broken too for async lambdas, as I've shown above. However, it's still possible to make it work for async lambdas disguised as untyped Delegates. It's a questionable design, but it's also the legacy of `BeginInvoke`.

Here's a take at that, it works for both regular and async delegates:

[code]

[2021-03-04 14:44] ekolis opened #4641 "When I open the WinForms designer in a certain project, it freezes for 10 minutes before finally loading."
* .NET Core Version:

5.0

* Have you experienced this same bug with .NET Framework?:

No

**Problem description:**

When I load the Windows Forms designer for any form in my FrEee game, Visual Studio freezes for a few minutes before finally loading the designer.

I thought it was an issue with my screen scaling setting (I recently upgraded to a 4K monitor, and bumped up the scaling from 100% to 1

[2021-03-04 15:38] gero3 opened #4642 "Several tests fail due to culture being nl-BE"
* WinForms Version:
The main branch of the Winforms Repository

* Have you experienced this same bug with .NET Framework?:
N/A

**Problem description:**
Multiple tests fail due to the fact that the culture is different.
- System.Windows.Forms.Tests.LinkAreaConverterTests.LinkAreaConverter_ConvertFrom_InvalidString_ThrowsArgumentException(value: "1,2,3")
- System.Windows.Forms.Tests.LinkAreaConvert

[2021-03-04 15:52] Balkoth opened #4643 "Add a new virtual property `StatusStripBorder` to `ToolStripProfessionalRenderer`"
# Summary

Currently, if you want to theme your application with a `ToolStripProfessionalRenderer`, there is an issue with the `StatusStrip` border, as the drawing routine uses a hardcoded value for the border color. A new virtual property should be added to the `ProfessionalColorTable` to customize that color. I have create a draft pull request here #4739.

# Proposed API

[code]
[code]

### Impl

[2021-03-04 16:36] KlausLoeffelmann commented on #4631
@weltkante

Absolutely. One of the features I use Invoke for, and which I find super important in scenarios, where I want dedicatedly a method call to be getting event characteristics through scheduling it on the message queue. Even if not fired off from a different thread. I’ll add a rational for that as well in the nearer future, and I am really interested in a discussion about alternative appro

[2021-03-04 17:01] willibrandon commented on #2625
I am able to reproduce the issue with the sample app that @panost has provided with ObjectPropertiesTab.ico (with the .ico file exntension), Debugging options - Enable Just My Code - unchecked, and Exception Settings - Common Language Runtime Exceptions - checked.

![PropertyTab_Icon_ArgumentException](https://user-images.githubusercontent.com/5017479/109999059-b1020300-7cc6-11eb-873f-08155f1d5c71

[2021-03-04 17:14] weltkante commented on #4631
`await Task.Yield()` will achieve the same thing and I personally prefer having it separate from InvokeAsync, but I'm not against keeping it in line with `BeginInvoke` and having users check `InvokeRequired` manually. Either way is fine, you always can implement the other as extension method if you prefer it.

[2021-03-04 17:19] willibrandon commented on #2625
If we got rid of resource filename extensions in core, I can't imagine this behavior is by design. This scenario, with a resource filename extension, should be properly handled, and the application should not terminate.

[2021-03-04 18:09] weltkante commented on #4642
duplicate of #2734 - I have a [branch](https://github.com/weltkante/winforms/tree/culture) which works around these issues so you can run tests locally

I'd make a PR but discussion in #2734 has not come to a conclusion yet /cc @RussKie

(My workaround runs tests only in english but generally the discussion indicates it would be nice to run it in at least another language which differs from englis

[2021-03-04 19:40] dreddy-work commented on #2625
@panost  and @willibrandon , you can always give logical name to resource ( as shown in screenshot below). adding ".Ico"  extension in the runtime still breaks if you embed ".bmp" in your test project.
![image](https://user-images.githubusercontent.com/36968667/110020480-71dfac00-7cde-11eb-987c-d620f798618e.png)

[2021-03-04 21:31] weltkante commented on #4608
Actually I don't think so, that will only allowing the _consumer_ of the `Task` to specify when it wants to _abort waiting on the `Task`_ (to stop waiting when some other condition is met), but the callback will still be running to completion - which for WinForms is especially bad because it will be running to completion on the UI thread. Being able to _actually_ cancel the callback to ensure its

[2021-03-04 22:35] RussKie commented on #4642
We have constrained resources, and some work is shuffled to backburners.
When we migrate to [Helix infra](https://github.com/dotnet/winforms/issues/3140) we should have access to a matrix of build agents, including those running non-English locale (if memory serves me well those are es-ES).

[2021-03-04 22:36] RussKie commented on #4642
Duplicate of #2734

[2021-03-04 22:36] #4642 closed

[2021-03-04 22:43] RussKie commented on #4631
I wonder if something like @kevingosse proposed in [his article](https://medium.com/criteo-engineering/switching-back-to-the-ui-thread-in-wpf-uwp-in-modern-c-5dc1cc8efa5e) would allow us achieve the desired in a different way?

[2021-03-04 22:51] weltkante commented on #4631
The linked article is more like [vs-threading](https://github.com/microsoft/vs-threading) using the pattern `await SwitchToMainThread()` and `await SwitchToThreadPool()` (names changed for clarity)

This pattern means you explicitly "change" threads by awaiting a custom awaiter, which will either be a no-op if you are on the right thread, or suspend execution and resume it on the right thread.

Ha

[2021-03-04 23:14] noseratio commented on #4631
That's a very interesting approach, thanks for the link. I personally like @kevingosse's initial idea, without the added `AsyncMethodBuilder`  machinery:

[code]

This kind of tells the intention right away, in a very readable way, IMHO.  A similar API [has been already proposed for .NET 6.0](https://github.com/dotnet/runtime/issues/20025).

A potential problem I see with this is that we need to s

[2021-03-04 23:19] birbilis opened #4646 "misphrasing in porting guidelines doc"
at
https://github.com/dotnet/winforms/blob/main/docs/porting-guidelines.md
says
"NB: The tool may not for all possible projects, in that case please read on."

"may not for all" is misphrased, probably needs "may not cover all"

[2021-03-04 23:55] weltkante commented on #4631
Only a problem if you want to build it as an external library, WinForms internally can have all the magic it wants, since it is providing the SynchronizationContext in the first place. That said `BeginInvoke` is a very cheap way to switch threads _as long as you don't use the IAsyncResult_ (which is why the implementation in the OP is bad).

However note that `await control.SwitchToThreadAsync()`

[2021-03-05 01:23] RussKie commented on #4643
Could you please elaborate why you prefer option 2?

[2021-03-05 02:15] RussKie commented on #4646
Thank you!

[2021-03-05 02:15] #4646 closed

[2021-03-05 02:24] dreddy-work commented on #4641
Can you enable verbose logging by going into **Tools->Options->Windows Forms Designer ->.NET Core->Logging Level**  and set to "Verbose". Perform the designer loading operation and collect the logging written into output window.  you can share that information for diagnosing the  issue further.

[2021-03-05 02:32] RussKie commented on #4631
Git Extensions has been using Microsoft.VisualStudio.Threading as well (https://github.com/gitextensions/gitextensions/pull/4601, thanks to @sharwell), but it required additional tweaks and plumbing (e.g. [ControlThreadingExtensions](https://github.com/gitextensions/gitextensions/pull/4601/files#diff-b1087576aa909942788f2e8ccacc4a3a1b2f93e22c518249771ce54618168d4a) and [ThreadHelper](https://githu

[2021-03-05 03:09] RussKie commented on #4641
What version of VS are you having troubles with? Are you running the latest version?

[2021-03-05 03:47] vladimir-krestov opened #4647 "A proposal to rework bolded dates collections to HashSet in MonthCalendar"
I propose to change type of `_arrayOfDates`, `_annualArrayOfDates`, `_monthlyArrayOfDates` collections from `List` to `HashSet` in `MonthCalendar` to improve performance and clean up the code.
This change allows to make the implementation more logical and avoid extra checks of containing items.

**User impact**
- Due to `HashSet` can't store duplicates of items, our collections will store only uni

[2021-03-05 06:58] Jessie-Zhang01 commented on #3227
Verified the issue with latest NET SDK 6.0.100-preview.3.21154.10, this issue is fixed. Please see following screenshot:
![image](https://user-images.githubusercontent.com/45864649/110078754-2eab3900-7dc3-11eb-8918-29485e5fea8f.png)

[2021-03-05 07:03] Balkoth commented on #4643
There are alrady existing properties StatusStripGradientBegin and StatusStripGradientEnd so i figured it would be best to have a separate property for the StatusStripBorder as well.

[2021-03-05 07:07] kirsan31 commented on #4647
Yes, it was the first that come in mind when I was looking at the code.
But possibility to add any number if equal ittems - stopped me from further thots :-(

[2021-03-05 07:37] arknu commented on #4370
@RussKie As for my use case, I'm currently attempting a proof of concept to determine whether whether we can do an Outlook addin without VSTO, since there apparently no desire to update VSTO (which is a shame!). We currently have a fairly complex commercial VSTO-based addin, and no desire to be stuck on a dead .NET Framework with outdated libraries - and no desire to use a subpar language like JS.

[2021-03-05 07:37] kirsan31 commented on #4641
The problem [was reported](https://developercommunity.visualstudio.com/t/when-i-try-to-open-the-windows-forms-designer-visu/1331179#T-N1331677-N1332285) with 16.8.4.

[2021-03-05 08:34] vladimir-krestov commented on #4647
Yes, this is a continuation of our discussion in PR #4317. This proposal is not my original idea.
Here we need to decide if can we exclude duplicate dates from bolded dates collections. If so, we will use HashSet.

We need to consider any use cases that can ntervene this idea.

[2021-03-05 19:25] sharwell commented on #4631
My main concern with the `InvokeAsync` proposal is the same concern I still have with the Git Extensions approach: it's not obvious how these methods should tie in with closing/disposing forms, and I'm not convinced they will make it any easier for developers to address those concerns.

[2021-03-05 21:47] paul1956 commented on #4023
@KlausLoeffelmann This seems to be fixed in 16.9 and I believe it should be closed. I did not make any changes and it no longer corrupts my files.

[2021-03-05 21:52] agocke opened #4649 "Determine linker compatibility for .NET 6"
Right now winforms produces many linker warnings (some of them in the core framework, which will be handled separately). To provide linker compatibility, these warnings should be reviewed.

Unfortunately, there are too many warnings to list directly, so here's an attached file:

[warnings.txt](https://github.com/dotnet/winforms/files/6093559/warnings.txt)

[2021-03-05 23:04] noseratio commented on #4631
I think, the same concern applies to any `async` method which does anything on the UI thread.

I usually tackle this with the "main" cancellation token source which is be triggered when the form is closing/disposing. With `InvokeAsync`, I imagine it could look like this:

[code]

`InvokeAsync` should be passing a cancellation token to its callback, whether the callback is sync or async. That's wha

[2021-03-06 00:44] ekolis commented on #4641
I have since upgraded to version 16.9.0, but I'm still running into this problem. I'll get the verbose log in a bit...

[2021-03-06 00:52] ekolis commented on #4641
OK, here's the log...

[code]

[2021-03-06 02:05] KlausLoeffelmann commented on #4023
Do you happen to have 16.10 Preview 1 installed?
We just had a fix around resources, which regressed again in 16.10 (also with a code loss scenario), and although I cannot really see how these things could be related, I just would like to check this before closing it.

[2021-03-06 03:04] paul1956 commented on #4023
Yes but my code will not run at all, it looks like VB code generators are broken and there are other issues so I stopped using it. 16.9 settings is still broken in VS UI.

[2021-03-06 03:23] KlausLoeffelmann commented on #4631
So, after quick email-discussion with @Pilchie, I tried based on a question he asked and I am wondering: what about this approach?

[code]

And, apart from the fact that discoverability of this as an alternative is obviously a problem, I am wondering: _is_ it an alternative? What problems do you see here? If using this is OK, would we still need InvokeAsync?

[2021-03-06 09:10] noseratio commented on #4631
@KlausLoeffelmann I don't think this is going to work well, for the same reason [I brought up here](https://github.com/dotnet/winforms/issues/4631#issuecomment-790588457).

`BeginInvoke` is unware of `async` callbacks. As far as `BeginInvoke` is concerned, the call is done when a `Func<Task>` delegate returns a `Task`, not when the `Task`  it returns is completed.  To illustrate the problem, using

[2021-03-06 09:45] weltkante commented on #4631
Just to be clear, for semantics I want `control.InvokeAsync(callback)` to behave exactly as `Task.Run(callback)` - just on the controls UI thread instead of the thread pool. That means the returned `Task` is used for observing the callbacks completion and result, including exceptions. Inventing new semantics just used by WinForms will be confusing to users.

Furthermore, don't be lazy and try to o

[2021-03-06 11:01] kirsan31 commented on #4647
`_arrayOfDates` can be populate with duplicates only through [`BoldedDates`](https://github.com/dotnet/winforms/blob/2178e7a66ed27332202659c3ea86649dc4578c3d/src/System.Windows.Forms/src/System/Windows/Forms/MonthCalendar.cs#L258) because [`AddBoldedDate`](https://github.com/dotnet/winforms/blob/2178e7a66ed27332202659c3ea86649dc4578c3d/src/System.Windows.Forms/src/System/Windows/Forms/MonthCalenda

[2021-03-06 12:23] panost commented on #2625
@dreddy-work It is not clear to me if your suggestion is a temporary workaround until this is fixed or a permanent that should be included in the documentation of the PropertiesTab class as a warning to anyone inheriting from this class.

If it is the former, I already have a workaround that works, if it is the latter then I have nothing else to say and you can close this issue.

[2021-03-06 17:20] ekolis opened #4654 "Enable double buffering by default for all forms and controls"
**Is your feature request related to a problem? Please describe.**

If I make an app and forget to turn on double buffering in my forms and controls, rendering can be laggy, especially if I handle the Paint event to do GDI rendering.

**Describe the solution you'd like and alternatives you've considered**

The DoubleBuffered property should default to true instead of false on all forms and control

[2021-03-06 17:57] wjk commented on #2573
If we are going to implement this proposal (as appears to be the case given the 6.0 milestone and https://github.com/dotnet/winforms/issues/4456#issuecomment-775640379), we should also go through the design assembly and remove all other references to `NotImplementedByDesign`. This is currently present in the `Glyph` and `BodyGlyph` classes, possibly among others.

[2021-03-07 01:24] paul1956 commented on #4023
@KlausLoeffelmann It is also fixed in 16.10 Preview 1, I am not seeing any corruption and in 16.10 even the resources work.
![image](https://user-images.githubusercontent.com/12789369/110226091-c763b680-7ea0-11eb-999e-13340696859e.png)

[2021-03-07 06:38] kirsan31 commented on #570
The link in the 1 post is dead, and with simple mdi app I can't repro this. We defiantly need more repro steps here.

[2021-03-07 09:02] dreddy-work commented on #2625
I looked at your sample app again. In .Net core, we moved to Icons to enable support for higher DPI screens and make the embedded resource extension-less by giving alias. A right solution may be checking for both ".bmp"  for applications migrating from .NET framework and ".ico"  for any new applications passing Icons.  But, given that work around is simple and embedding resource with alias is alwa

[2021-03-07 09:02] #2625 closed

[2021-03-08 02:25] paul1956 commented on #4023
@KlausLoeffelmann after doing a Git Clean and restarted VS, the problem is fixed in both, I have tried opening all my forms and closing them and there are no changes (though Git does show a red check box, Git Compare with Unmodified shows no changes.

[2021-03-08 06:34] Shidell commented on #4631
@weltkante Doesn't BeginInvoke get translated into an (asynchronous) Win32 PostMessage? (Why would that interrupt control flow, even if you are already on the UI thread?) Are you referring to the lack of an InvokeRequired check, and simply calling BeginInvoke with a delegate every time, regardless of whether or not we're already on the UI thread?

[2021-03-08 08:14] weltkante commented on #4631
yes it does

because if you are on the UI thread, you will stop running your code and only resume once all other pending messages are processed

I'm talking about the planned semantic of `InvokeAsync`. There's a design decision of whether `InvokeAsync` will immediately execute the callback when already on the UI thread (no `BeginInvoke` call, but invoke the callback immediately), or whether to alw

[2021-03-08 08:26] noseratio commented on #4631
In this light, I'd make `InvokeAsync` always async, regardless of whether it's already on the UI thread or not. Knowing it's always async is less cognitive load, especially given it's in the name of the method.

I think I've mentioned a few times already how JavaScript Promises always resolve asynchronously (even for something simple as `await true`), and that doesn't seem to be a problem in that

[2021-03-08 08:30] weltkante commented on #4631
Yes this is a significant argument that has to be weighted in, though a counterargument is that every other `await` you do will inline if its await-condition is aready fulfilled, so `InvokeAsync` would stand out and not fully integrate into the async/await world in order to be more in line with historic behavior. (I'm explicitly not judging here which is "better", leaving this to others).

[2021-03-08 08:45] noseratio commented on #4631
To counterargument that, WPF's [`Dispatcher.InvokeAsync`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.threading.dispatcher.invokeasync?view=net-5.0) is always async, even when called on the same `Dispatcher` thread :) It'd be great to have this behavior consistent with WinForms.

[2021-03-08 15:32] tanek100 opened #4661 "When form icon is used, form.resx throws an error"
* .NET Core Version:
.NET 5.0.2 SDK

* Have you experienced this same bug with .NET Framework?:
 No
**Problem description:**
If new form is created and Icon is set in properties, then the form resx throws an error: Object reference not set to an instance of an object. Ico files was used.

![image](https://user-images.githubusercontent.com/3244218/110341906-85b74500-8033-11eb-970f-20decd7b1469.png)

[2021-03-08 17:10] KlausLoeffelmann commented on #4023
Super! Thanks a lot - closing this.

[2021-03-08 17:10] #4023 closed

[2021-03-08 17:23] KlausLoeffelmann commented on #4631
I am also in favor to have it always async, since this might be the expectation (the somewhat natural "stomach feeling/instinct" if the translation of "Bauchgefühl" makes any sense in English) of your typical WinForms Developer, who did not come in contact with too much async stuff until now.

Although I have to admit, if I wanted to enqueue a call back on the Message Queue, I can hardly think of

[2021-03-08 18:19] Shidell commented on #4631
The recommended practice in WinForms when mutating a Control looks like this:

[code]

But, a lot of developers just skip checking InvokeRequired, and always use BeginInvoke, even if they're already on the UI thread:

[code]

#4608 looks to improve this by allowing Invoke/BeginInvoke to pass an Action directly, rather than a Delegate, so if accepted, itwould look like this:

[code]

I don't know w

[2021-03-08 18:31] KlausLoeffelmann commented on #4631
Not from my experience. What makes you assume this?

[2021-03-08 18:53] kirsan31 commented on #4661
I can confirm this on 16.8.4 too.
![image](https://user-images.githubusercontent.com/17767561/110367182-65e64800-8058-11eb-899c-30c7e821e447.png)

I am 99% sure that next step they will want from you is report it [here](https://developercommunity2.visualstudio.com/home) directly from your V.S.

[2021-03-08 19:11] JeremyKuhne commented on #4641
We'll look at the project to get a better idea of what is going on and what we can do about it. Presumably you have a large number of files in the output folder.

The copying is done to allow you to build while you're designing as the `.exe` and `.dll' files are locked when they are running in the designer.

We need to update the logging string. It shouldn't be `"Copying project output folder from

[2021-03-08 19:49] Shidell commented on #4631
Microsoft's pages on [Invoke](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.invoke?view=net-5.0) and [BeginInvoke](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.begininvoke?view=net-5.0) don't include checking InvokeRequired in their example usage.

The first hits when searching for "Invoke vs. BeginInvoke" on StackOverflow lead to these pages,

[2021-03-08 19:58] sharwell commented on #4631
The most compelling argument for me on any threading API is this: if your code has a single-threaded UI and involves asynchronous code, it needs to be using Microsoft.VisualStudio.Threading for correctness. Defining a new `InvokeAsync` API here would have exactly one outcome: it would be a new method to add to the list of "do not call" methods for correct asynchronous applications.

[2021-03-08 20:07] kirsan31 commented on #4631
Did I understand you correctly that you are proposing to completely rewrite WinForms (`Invoke`, `BeginInvoke`)?

[2021-03-08 20:28] sharwell commented on #4631
Ignoring concerns I have with `InvokeAsync` in limited scenarios involving external libraries, I have a different set of concerns with the specific API proposal above. The primary open question is whether to invoke the callback synchronously or force a yield when called from the UI thread. Synchronous invocation would allow for simpler coding patterns in common cases, and opens up efficiency impro

[2021-03-08 21:39] cadilhac commented on #3316
16.9 is ready and there is no word/docs about how to license a component. Seems like licx file support has been dropped. I'm clueless about how to go ahead.

[2021-03-08 21:45] KlausLoeffelmann commented on #4631
OK, I would like all of us to take a step back, so I can probably also role back my assumption, that the `InvokeAsync` proposal/semantics is the best solution for a problem I see (no matter how that method may or may not get implemented in the end).

My motivation for the proposal was the following:

* Consider, you are a WinForms Developer, not really experienced with neither the usage of `BeginI

[2021-03-08 21:58] dreddy-work commented on #3316
@cadilhac , we have been granting access to our private repo on designer for control vendors on case by case based on NDA.  Component vendors are currently building against the [designer SDK ](https://github.com/dotnet/winforms-designer/blob/master/docs/sdk-package-information.md). But for individual users, we are not there yet. If you are looking to gain such access we would need  your organizati

[2021-03-08 22:02] dreddy-work commented on #3316
Adding components to toolbox using this explorer is on low pri for us at the moment. But we have implemented finish scanning toolbox items from nuget packages  when that nuget package is referenced or if nuget package exist in Visual studio [fallback folders. ](https://github.com/microsoft/xaml-designer-extensibility/blob/main/documents/toolbox-population.md#toolbox-items-from-unreferenced-nuget-p

[2021-03-08 22:20] noseratio commented on #4631
@KlausLoeffelmann, with WinForms it's unfortunately impossible to _effectively_ cancel a queued callback (unlike with WPF's [`Dispatcher.InvokeAsync`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.threading.dispatcher.invokeasync?view=net-5.0#System_Windows_Threading_Dispatcher_InvokeAsync_System_Action_System_Windows_Threading_DispatcherPriority_System_Threading_CancellationToken_)).

[2021-03-08 23:34] Shidell commented on #4631
Your question and scenario is exactly what led me here—I'm a WinForms developer who is trying move legacy code from Events (BackgroundWorkers) into the future via Tasks and Async/Await, and my organization wants to go from WinForms to WinUI 3.0, because they took issue Silverlight/WPF/UWP for various reasons.

It's for those reasons that I look at Invoke and BeginInvoke, and recognize InvokeRequir

[2021-03-08 23:52] RussKie commented on #4647
The proposal looks sensible to me 👍

This is probably something to look at, and close the gap.

[2021-03-09 01:27] noseratio commented on #4631
Personally, when I worked with WinFroms or WPF, I was following the following pattern where I very rarely needed `BeginInvoke` or `Invoke`:

[code]

This way, we just stay on the same UI same thread through the whole async workflow. Of course, we need to account for potential re-entrancy (I often used [this approach](https://stackoverflow.com/questions/21424084/task-sequencing-and-re-entracy)), ca

[2021-03-09 01:34] #4621 closed

[2021-03-09 02:21] RussKie commented on #4631
To be honest I'm having a hard time picturing the scenario for `InvokeAsync`, and where it would be preferred to the clarity of intent: a) do background work, b) switch to the UI thread to update the UI.

I like several approaches that were mentioned in some shape or form above:

1. I like declarative approach offered by Microsoft.VisualStudio.Threading and WPF
[code]
2. I like  @kevingosse's idea

[2021-03-09 05:54] RussKie commented on #4661
@merriemcgaw  @Olina-Zhang do you know if this is tracked in the designer repo?

[2021-03-09 06:01] Olina-Zhang commented on #4661
@RussKie，this is the designer repo issue: https://github.com/dotnet/winforms-designer/issues/1248, which had been fixed in VS: 16.10 Preivew1.

[2021-03-09 08:00] Shidell commented on #4631
Are these assertions about Invoke and BeginInvoke correct?

- Invoke is dangerous because SendMessage is synchronous, and even if the developer uses Invoke on another thread (to switch contexts and prevent an IllegalCrossThreadException), any introduction of an Invoked SendMessage from any thread other than the Control's UI thread could also introduce UI deadlock.

- BeginInvoke is preferred becau

[2021-03-09 08:47] RussKie commented on #2573
I'm looking at this piece of work, but it isn't straight forward as it may seem.

[2021-03-09 08:51] RussKie commented on #4370
If you have any repros to share but don't want those to be public please feel free to email me at Igor.Velikorossov at microsoft.

[2021-03-09 08:54] RussKie commented on #4661
Thank you @Olina-Zhang

@tanek100 closing since it's been fixed. Please let us know if you still have issues in VS 16.10P1 or later.

[2021-03-09 08:54] #4661 closed

[2021-03-09 12:55] SergeySmirnov-Akvelon commented on #4428
Hi @merriemcgaw. I've updated the behavior of the buttons to be of the `RadioButton` control type. `Select` and `AddToSelection` methods now have the old `Toggle` method behavior. `RemoveFromSelection` does nothing, as we should always have one option selected.
![Issue-4428-RadioButton](https://user-images.githubusercontent.com/23376742/110473665-d7bda080-80ef-11eb-8d8d-deafb5449ce5.gif)
![Issue-4

[2021-03-09 16:46] AArnott opened #4663 "System.Drawing.Design.ToolboxService is missing"
Per [this PR comment](https://github.com/dotnet/winforms/issues/2092#issuecomment-545040231_), I was under the impression that System.Drawing.Design.ToolboxService was to be added in .NET 5. But it's not yet in the .NET 6 previews.

Can we get that added?

[2021-03-09 18:57] weltkante commented on #4654
I assume you just mean custom Forms and UserControls? I doubt the native controls wrapped by WinForms would like it if someone turned on double buffering behind their back.

The designer is definitely not going to handle changing default values well. If the user was explicitly setting it to `false` in the designer then it wouldn't have been serialized and "migrating" the project to .NET 6 (by open

[2021-03-09 19:06] weltkante opened #4665 "Update FolderNameEditor to use modern folder dialog"
**Is your feature request related to a problem? Please describe.**

As noted [here](https://github.com/dotnet/winforms/pull/4645#pullrequestreview-605774524) `FolderNameEditor` is using interop for folder selection, thus still opening the legacy folder dialog. `FolderBrowserDialog` has been updated to use the more modern Vista folder dialog. It would make sense to call `FolderBrowserDialog` from `

[2021-03-10 04:55] paul1956 opened #4667 "Is there any interest in supporting Dark Mode in addition to the existing Light Mode?"
This is not a proposal just a question as to what a plans might be to support Dark Mode and/or would there be interest is accepting any PR's that would support dark mode OR make it easier for others to support it. This is not Dark Mode instead of the existing Light Mode but the ability to switch back and forth at Runtime.

**Is your feature request related to a problem? Please describe.**

WinForm

[2021-03-10 05:46] #4667 closed

[2021-03-10 06:13] RussKie commented on #4456
I'm looking at this piece of work, but it isn't straight forward as it may seem.

[2021-03-10 06:33] RussKie commented on #4631
It is great to see the excitement and passion everyone has for making Windows Forms more async/await-friendly. However it looks like the discussion is going off the topic, which is _requirements/feasibility/necessity for `Control.InvokeAsync` API_.

In the interest of retaining the discussion focused on the subject, may I please ask you to asks  unrelated to this topic questions at https://github.

[2021-03-10 07:25] RussKie commented on #4593
The changelog is updated to reflect the state of the current release.

[2021-03-10 07:29] kirsan31 commented on #4593
Forgot to post link of the doc - sorry :( I meant this: https://github.com/dotnet/core/blob/main/release-notes/5.0/5.0-known-issues.md
![image](https://user-images.githubusercontent.com/17767561/110592584-882cb280-818b-11eb-8908-6bdd1dadfa1c.png)

[2021-03-10 09:07] dreddy-work commented on #4663
Given that designer and runtime run on different process, What would be the scenario that would use ToolboxService from the runtime?

[2021-03-10 10:27] kirsan31 commented on #4593
@RussKie Any advice how to specify **exact runtime version** with framework-dependent applications?
[`RuntimeFrameworkVersion`](https://docs.microsoft.com/en-us/dotnet/core/versions/selection) doesn't work :(((

[2021-03-10 16:00] AngeloCresta opened #4670 "High DPI support on ToolStrip in .Net 5"
In .Net 5 it seems that there is a regression in toolstrips with High DPI enabled (Per Monitor v2) compared to .Net Framework 4.7.2, check the image below where the 2 apps are running side by side (monitor with scale at 150%).
It's by design?
![Strips](https://user-images.githubusercontent.com/12256319/110656653-6dc0fc00-81c0-11eb-9a5b-1ff718da439c.png)

Regards,
Angelo

[2021-03-10 17:17] AngeloCresta opened #4671 "High DPI support on ToolStrip in .Net 5"
In .Net 5 it seems that there is a regression in toolstrips with High DPI enabled (Per Monitor v2) compared to .Net Framework 4.7.2, check the image below where the 2 apps are running side by side (monitor with scale at 150%).
It's by design?
![Strips](https://user-images.githubusercontent.com/12256319/110656653-6dc0fc00-81c0-11eb-9a5b-1ff718da439c.png)

Regards,
Angelo

[2021-03-10 17:41] kirsan31 commented on #4671
Are they equal at 100% dpi? If no, then [it's ok](https://docs.microsoft.com/en-us/dotnet/core/compatibility/winforms#default-control-font-changed-to-segoe-ui-9-pt).

[2021-03-10 17:59] AngeloCresta commented on #4671
I don't think so when your app is set Per Monitor-DPI aware (v2) and the behavior is btw different from the. Net fw 4.7.2...

[2021-03-10 18:13] kirsan31 commented on #4671
You have 2 options here:
- Set dpi to 100% and compare. If they are not equal - see my previous [post](https://github.com/dotnet/winforms/issues/4671#issuecomment-795801979). If they are equal - see below.
- Provide a repro.

[2021-03-10 20:10] AngeloCresta commented on #4671
Yes, they're equal.
Same size at 100%.

[2021-03-10 22:56] tommcdon commented on #4548
@fabiant3 @hoyosjs  This looks like it may be related WPF penimc_cor3 packaging in Microsoft.WindowsDesktop.App

[2021-03-11 02:40] RussKie commented on #4649
Useful docs:
* https://github.com/mono/linker/blob/main/docs/design/reflection-flow.md#linker-friendly-reflection
* https://devblogs.microsoft.com/dotnet/app-trimming-in-net-5/

[2021-03-11 06:35] #4558 closed

[2021-03-11 08:34] weltkante commented on #4649
I find no mention of COM interop, the warnings about COM interop not being supported are worrying (`IL2050: xxx declares a parameter with COM marshalling. Correctness of COM interop cannot be guaranteed after trimming. Interfaces and interface members might be removed.`) since this is fundamental functionality to communicate with Windows (WinForms without clipboard, drag'n'drop, RichEdit, accessib

[2021-03-11 09:58] weltkante commented on #2625
It probably should be documented then?

[2021-03-11 12:28] rmsmelik opened #4673 "Propertygrid displays all values in top-left corner of component"
* .NET Core Version: 5.0 (Microsoft.WindowsDesktop.App 5.0.4)

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

In the 5.0.4 runtime release of March 9 2021, a display issue has been introduced for the WinForms PropertyGrid component that was not present in the previous 5.0.3 release. It seems that all values the property grid should display are placed in th

[2021-03-11 17:11] kirsan31 commented on #4673
https://github.com/dotnet/winforms/issues/4593
<sup>P.s. I think this is only beginning...</sup>

[2021-03-11 18:11] dreddy-work commented on #2625
That should help. Let me follow up on that.

[2021-03-12 00:16] KlausLoeffelmann commented on #1199
Guys, I'll need some time to think about this, and try to come up with some additional ideas around this.
Sorry for that, but I am not forgetting it.

[2021-03-12 00:26] dreddy-work commented on #4670
Did you try on .NET 4.8? HDPI feature changes were spanned across releases starting from .NET 4.7.* and would need to opt-in if you are not targeting latest. I believe Net 5.0 will match with .NET 4.8.

[2021-03-12 00:28] dreddy-work commented on #4671
Seems other one is a copy of this.  Did you try on .NET 4.8? HDPI feature changes were spanned across releases starting from .NET 4.7.* and would need to opt-in if you are not targeting latest. I believe Net 5.0 will match with .NET 4.8.

[2021-03-12 00:45] merriemcgaw commented on #4670
Duplicate of #4671

[2021-03-12 00:45] #4670 closed

[2021-03-12 01:04] RussKie commented on #4673
Duplicate of https://github.com/dotnet/winforms/issues/4593

[2021-03-12 01:04] #4673 closed

[2021-03-12 01:05] RussKie commented on #4673
This is a regression in 5.0.4, it is fixed in 5.0.5

[2021-03-12 04:47] RussKie commented on #4397
I verified, this issue has been fixed in 5.0.4.

P.S. If your app is dependent on `PropertyGrid` control be aware of https://github.com/dotnet/winforms/issues/4593.

[2021-03-12 04:47] #4397 closed

[2021-03-12 07:11] AngeloCresta commented on #4671
Tested with .net fw 4.8 (light) e .Net 5.0 (dark) with the same size at 100%, at 150% the result is still different:
the strips are just "colored" via renderer manger, without overriding drawing methods.
![image](https://user-images.githubusercontent.com/12256319/110904843-e1225500-8309-11eb-8c2a-a310ba21e2df.png)

and there's the same behaviour on status strip:
![image](https://user-images.github

[2021-03-12 12:50] SergeySmirnov-Akvelon opened #4678 "`ListViewSubItem` not shown in Inspector tree when `ListViewItem` belongs to group"
.NET Core Version:
- 5.0.200-preview.20614.14

Have you experienced this same bug with .NET Framework?:
- No. It is regression from #3223

**Minimal repro:**
1. Create application with ListView.
2. Set View.Tile for ListView.
3. Add couple ColumnHeaders to ListView.
4. Add ListViewGroup to ListView.
5. Add ListViewItem with ListViewSubItem to ListView.
6. Select ListViewGroup as Group of the ListV

[2021-03-12 12:52] SergeySmirnov-Akvelon opened #4679 "The yellow rectangle is not displayed for a subitem when the user hovers over it or selects in the Inspector tree"
.NET Core Version:
- 5.0.200-preview.20614.14

Have you experienced this same bug with .NET Framework?:
- No. It is regression from #3223

**Minimal repro:**

1. Create application with ListView.
2. Set View.Tile for ListView
3. Add couple ColumnHeaders to ListView.
4. Add ListViewItem with ListViewSubItem to ListView.
5. Or use [attached project](https://github.com/dotnet/winforms/files/6130220/I

[2021-03-12 20:55] RC1207Sev commented on #3919
The problem seems happening again on 5.0.201 and on 5.0.104.
![image](https://user-images.githubusercontent.com/1739664/110997308-d3d58c80-8342-11eb-93ad-08d8e9372c64.png)

[2021-03-12 20:57] kirsan31 commented on #3919
@RC1207Sev https://github.com/dotnet/winforms/issues/4593

[2021-03-12 21:01] RC1207Sev commented on #3919
Thank you for the super fast reply and thank you for working on it. If you tell me the 5.0.5 has the fix and will be released in days, I will wait and upgrade.

Thanks!

[2021-03-12 21:06] kirsan31 commented on #3919
5.0.5 will be contain fix, but I am afraid that it will be release approximately in 1 one month (unless it will be forced).
And yes, your are not alone who come in [troubles](https://github.com/dotnet/winforms/issues/4593#issuecomment-795212201) with this :(

[2021-03-13 12:03] arknu commented on #4370
@RussKie As promised, I have now uploaded my proof-of-concept to a GitHub repository: https://github.com/arknu/OutlookAddinNet5. It is pretty much as simple as can be - adding a few buttons to the ribbon and attempting to show a taskpane with a UserControl. This last part being what fails.

It is currently based on .NET 5, haven't tried the .NET previews yet.

I'm running it with a private patched

[2021-03-13 20:22] ekolis commented on #4641
This began to happen in another .NET 5 WinForms app I was working on; it got worse and worse over the past week. Here's the repo: https://github.com/ekolis/FoundMagic

[2021-03-13 21:48] weltkante commented on #4370
I'll have a look

[2021-03-14 03:54] weltkante commented on #4370
ok, found two issues:
* In `IOleObject.GetMiscStatus` [this line](https://github.com/dotnet/winforms/blob/921ea830917d27a6998132726faa5092f99284ce/src/System.Windows.Forms/src/System/Windows/Forms/Control.cs#L13552) looks suspicious. On [Desktop Framework](https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/Control.cs,15700) this code lives in an else-branc

[2021-03-14 04:40] weltkante commented on #4370
@1R053 I've successfully done that while debugging the above, but I had to install the 32 bit SDK for some reason to get the addin working in a 32 bit office installation (just building 32 bit worked via 64 bit SDK, but registering did not) - I wonder if these addins even register via `regsvr32` on machines where the SDK is not installed in the first place?

If `regsvr32` is broken without an SDK

[2021-03-14 12:15] arknu commented on #4370
@weltkante Thank you for taking a look at my code. Adding the interface and the `ComDefaultInterface` attribute fixed the problem. I can now show a custom task pane with a WinForms UserControl:
![image](https://user-images.githubusercontent.com/4654741/111068049-57b88180-84c7-11eb-836c-b32c8718fb84.png)

Regarding the other issue you mention, that does seem a bit suspicious, yes...

Regarding regs

[2021-03-14 13:14] 1R053 commented on #4370
Thanks @weltkante - the task pane looks good now with this fix!

[2021-03-15 22:27] weltkante opened #4687 "Clean up interactive dialog test"
**Is your feature request related to a problem? Please describe.**
/ **Describe the solution you'd like and alternatives you've considered**

During PR #4645 discussion it was noted that interactive testing of various combinations of dialog options would be easier to do by making a property grid available to configure the dialogs instead of having just a small number of predefined test scenarios t

[2021-03-15 22:59] RussKie commented on #4687
`FileDialog` integration tests must be amalgamated into `Dialogs.cs` tests (introduced by #4645).
https://github.com/dotnet/winforms/blob/b8014c7e3d454863169551b227f4843619dc3f44/src/System.Windows.Forms/tests/IntegrationTests/WinformsControlsTest/FileDialog.cs#L10-L15

The dialogs must be created and initialised via `InitializeComponent` (where possible/practical) and further bound to `PropertyGr

[2021-03-16 07:57] arknu commented on #4370
@weltkante @RussKie A quick question: I have now made a .NET 6 version of the proof-of-concept and I noticed something strange: I cannot load both the .NET 5 and 6 versions in Outlook at the same time. Either one alone loads fine, both both at the same time will cause the other one to fail to load. Is this supposed to be supported?
The two addins have different namespaces and GUIDs, so from what I

[2021-03-16 08:01] 1R053 commented on #4370
@arknu besides the COM namespaces - did you also change the addin name under Software/Microsoft/Office/Outlook/Addins?

[2021-03-16 08:10] weltkante commented on #4370
Probably not, last statement I've seen about this was that it is not supported to load .NET more than once, since it uses global resources (like named mutexes or whatever) loading multiple instances of coreclr into the same process cannot work. They are aware of this restriction and considering lifting it, but I don't know what the progress is on that. If its not been worked on yet you _will_ run

[2021-03-16 08:12] arknu commented on #4370
@1R053 Yes, Outlook has two distinct addins:
![image](https://user-images.githubusercontent.com/4654741/111276194-5efe9d00-8637-11eb-9989-47107b837604.png)

But the .NET 6 one has a COM runtime error when loading:
![image](https://user-images.githubusercontent.com/4654741/111276290-79387b00-8637-11eb-828c-d3df4ebf0ccc.png)

However, if I disable the .NET 5 addin (by changing LoadBehavior to ), the

[2021-03-16 08:14] 1R053 commented on #4370
if this does not work, it would be a big issue imo. Since this would mean that two addins from two vendors that are usually not synced with respect to their .NET version would crash each other.

[2021-03-16 08:19] weltkante commented on #4370
See for example dotnet/runtime#12018 (which is quite old) so its probably worth to ask again and present your usecase.

definitely, you'd risk your addin not being loadable by relying on .NET core if someone else gets loaded earlier

I'd hope it'd just not load, not crash the Office process. If it crashes it may be worth fixing that crash independently from adding side-by-side support.

[2021-03-16 08:29] 1R053 commented on #4370
Maybe a custom shim instantiating the runtime with a custom assembly context could work
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblyloadcontext?view=net-5.0

does somebody have an example for a custom shim with .NET Core?

[2021-03-16 08:41] weltkante commented on #4370
No at the [end of the issue](https://github.com/dotnet/runtime/issues/12018#issuecomment-551214265) I linked above they mention they have been using global resources. If they didn't change that yet it won't work at all.

You'd need to move your addin out of process to make it resolve uniquely, and have a C++ COM addin as a shim (or any other language that can load side-by-side)

We actually do som

[2021-03-16 08:43] weltkante commented on #4370
Personally I'd suggest opening another issue on the runtime, I mentioned COM addins as a major problem in the linked issue, and missed when that issue got closed later. Having the runtime unable to load side-by-side basically makes it useless for implementing COM objects.

[2021-03-16 08:49] 1R053 commented on #4370
@weltkante do you have a C++ example project that does this with .NET Core? That could be the base for a custom shim if I understand you correctly.

[2021-03-16 08:57] arknu commented on #4370
@weltkante Thank you for all your effort on this. I have now filed https://github.com/dotnet/runtime/issues/49686 for discussing the issue of multiple versions of .NET with COM hosting.

[2021-03-16 09:00] arknu commented on #4370
To get a little more back on topic, I have now created a .NET 6 version of this proof-of-concept. It loads OK (once you disable the .NET 5 version), but the UserControl in the task pane is non-interactive. It looks like mouse messages or something are not being processed correctly. It loads fine, but does not react to mouse movement or clicking the button. It works in .NET 5. Should I file a new i

[2021-03-16 09:09] weltkante commented on #4370
No, nothing finished anyways, ours is currently C# Desktop Framework (which is able to load side-by-side) but it wouldn't be too hard to create one, its just a bit of work. You'd probably use ATL or WRL to implement those COM objects and IDL to define the interfaces (you need a TLB to have COM talk cross-process, which .NET does not support generating anymore, so you have to define all out-of-proc

[2021-03-16 09:14] arknu commented on #4370
@weltkante I agree, I've renamed the issue accordingly.

I haven't applied your latest patch to .NET 6 yet, so that may certainly be related. That said, I didn't apply it to my custom .NET 5 build and that works fine...

[2021-03-16 09:18] 1R053 commented on #4370
Thanks @weltkante - I think the COM / IDL side I could manage. What would help would be to understand how the equivalent of metahost->CLRCreateInstance,  metahost->EnumerateInstalledRuntimes or  metahost->GetRuntimes is properly handled for .NET Core in a C++ project.

[2021-03-16 09:26] weltkante commented on #4370
You don't need to, out of process hosts are an `.exe` so you can just make a normal .NET exe and it'll activate .NET Core itself.

You specifically wouldn't want to load the .NET runtime in the C++ shim since it'd fail anyways if someone already loaded a different version. The C++ shim would just mediate between COM objects (Office and the out-of-process COM objects) and not need to be aware of .N

[2021-03-16 21:42] #2717 closed

[2021-03-17 00:18] RussKie commented on #4593
I'm afraid I don't know enough about the .NET deployments via the WU. Manually it is possible to install the runtimes side-by-side.
Please direct any questions about the WU to the dotnet/sdk repo.

You can define how you wish the runtime to be resolved, please check https://github.com/dotnet/runtime/blob/main/docs/design/features/framework-version-resolution.md
You may also find this useful: https

[2021-03-17 09:20] SergeySmirnov-Akvelon opened #4690 "Epic - ListViewSubItems in the ListView have incorrect behavior"
<details>
<summary> Common</summary>

### Case 1:
- [x] The checkbox does not have its accessibility object in the `ListView`

**Actual behavior:**
![image](https://user-images.githubusercontent.com/23376742/111449792-c7757900-8720-11eb-914f-fd02d6b349ab.png)

**Expected behavior:**
The checkbox should have its accessibility object in the `ListView`
</details>

<details>
<summary> Details </summar

[2021-03-18 13:48] alexluozf opened #4699 "What's the matter with PropertyGrid in NET5.0"
* .NET Core Version:
windowsdesktop-runtime-5.0.4-win-x64

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

Only the focus property value display.
![PropertyGrid Issue](https://user-images.githubusercontent.com/62095636/111636587-989bf780-8833-11eb-9f35-239c1443d879.png)

**Expected behavior:**

**Minimal repro:**

[2021-03-18 15:29] kirsan31 commented on #4699
https://github.com/dotnet/winforms/issues/4593

[2021-03-18 17:52] wreuel commented on #4112
Hello @RussKie how could help with this one?

[2021-03-18 18:11] AteCoder commented on #4239
I am seeing the exact same behavior.  It is very easy to reproduce:
(1) Add a new user control (use default name usercontrol1);
(2) Hit Shift-F7--user control 1 displays in design mode; so far so good;
(3) change `public partial class UserControl1 : UserControl` to `public partial class UserControl1 : SplitContainer`
(2) Hit Shift-F7--error: `Value cannot be null. (Parameter 'rootComponent')`

[2021-03-18 22:42] RussKie commented on #4699
Duplicate of #4593

[2021-03-18 22:42] #4699 closed

[2021-03-18 23:17] AArnott commented on #4663
@dreddy-work A designer that runs in a .NET 6 process.

[2021-03-19 00:28] #4242 closed

[2021-03-19 00:30] #4428 closed

[2021-03-19 01:45] #4228 closed

[2021-03-19 03:49] RussKie commented on #4112
Hi @wreuel, as per the original post - [`SHILCreateFromPath`](https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.SHILCreateFromPath.cs) needs to be removed and replaced with the [`SHParseDisplayName`](https://docs.microsoft.com/windows/desktop/api/shlobj_core/nf-shlobj_core-shparsedisplayname). Then the change needs to be verified for cor

[2021-03-19 04:00] #4601 closed

[2021-03-19 07:15] SergeySmirnov-Akvelon commented on #4305
Closed because the main task of adding missing keyboard tooltips is complete.

[2021-03-19 07:15] #4305 closed

[2021-03-19 09:41] wreuel commented on #4112
Hi @RussKie just looked up how is it now, and I think I could help you with that!

[2021-03-20 00:46] RussKie commented on #4112
Awesome! Holler if you get stuck or have questions.

[2021-03-20 00:56] dreddy-work commented on #1522
@Olina-Zhang , if this doesn't repro in latest , please close it.

[2021-03-20 18:19] wreuel commented on #4112
@RussKie I do believe, I have done right, the test for this change is running good, but I couldn't run all the tests, there always getting some issues.

[2021-03-20 19:20] wreuel commented on #4639
Hello @RussKie how could I help to solve this one?

[2021-03-21 08:02] kirsan31 commented on #1522
Can't repro this with .net 5.0.3. on Win10 20H2.

[2021-03-22 01:09] RussKie commented on #4665
We had an offline chat with @dreddy-work last week, and whilst we can change the declarations, these will only be visible at runtime, and not in the designer (the dialogs are run in VS process, which runs on .NET Framework).
To accommodate the designer a separate piece of work will need to be done in the designer, which doesn't have a high priority in the backlog.

@merriemcgaw what do you think a

[2021-03-22 01:42] #4409 closed

[2021-03-22 02:15] RussKie commented on #4639
In #4043 we have replaced enum runtime validations with compile-time validations facilitated by the source generators. But we missed `ContentAlignment` validations.

To fix the following steps needs to be performed:
1. Find all callsites where `ContentAlignment` is validated
2. Write tests for all these callsites, if those absent. I had a cursory look, and we have at least some test coverage. Miss

[2021-03-22 07:22] Zheng-Li01 commented on #4593
Verified the issue with latest 6.0.100-preview.3.21169.6, the issue has been fixed that the PropertyGird control display correctly as below screenshot.
![image](https://user-images.githubusercontent.com/38325459/111953850-27559080-8b22-11eb-9822-3ec44c3520d7.png)

[2021-03-22 07:28] Zheng-Li01 commented on #4216
Verified the issue with latest 6.0.100-preview.3.21169.6, the issue has been fixed that no exception ops up for now.

[2021-03-22 07:31] Zheng-Li01 commented on #4242
Verified the issue with latest 6.0.100-preview.3.21169.6, the issue has been fixed thatI nspect & Accessibility Insights are working well when moving cursor inside the DataGridView that setting AllowUserToAddRows as false.

[2021-03-22 07:35] Zheng-Li01 commented on #4428
Verified the issue with latest 6.0.100-preview.3.21169.6, the issue has been fixed that the ControlType has been changed as Radio button, and everything working as expected.
![image](https://user-images.githubusercontent.com/38325459/111955226-350c1580-8b24-11eb-8a26-2f1950db2e3e.png)

[2021-03-22 08:13] Jessie-Zhang01 commented on #4593
Verified the issue with .Net SDK 5.0.202 from April 2021 Update Test Pass, this issue is fixed.
![image](https://user-images.githubusercontent.com/45864649/111959477-794de480-8b29-11eb-83b5-b8792439e545.png)

[2021-03-22 08:31] Jessie-Zhang01 commented on #4320
Verified the issue with .Net SDK 6.0.100-preview.3.21169.6, this issue is fixed. ListViewItem has a keyboard tooltip.
![step](https://user-images.githubusercontent.com/45864649/111961391-f9754980-8b2b-11eb-82a0-08f921dfbedb.gif)

[2021-03-22 08:50] Olina-Zhang commented on #1522
It also cannot repro in the latest 6.0 SDK build.

[2021-03-22 08:50] #1522 closed

[2021-03-22 08:53] John-Qiao commented on #4558
Verified the issue with the latest .NET 6.0.100-preview.3.21169.6 from master branch , this issue has been fixed that the "FindNearestItem" method returned the correct result for element. Please check the below gif file:

![4558-TestResult](https://user-images.githubusercontent.com/45864985/111963901-02b3e580-8b2f-11eb-823f-a28d5db5d210.gif)

[2021-03-22 08:55] Jessie-Zhang01 commented on #4454
Verified the issue with .Net SDK 6.0.100-preview.3.21169.6, this issue is fixed.
![step1](https://user-images.githubusercontent.com/45864649/111964169-46a6ea80-8b2f-11eb-9b64-c032a1ce3674.gif)

[2021-03-22 08:58] John-Qiao commented on #4621
Verified the issue with the latest .NET 6.0.100-preview.3.21169.6 from master branch , this issue has been fixed that the icon on maximized child form properly react on Hide/Show and Icon changing. Please check the below gif file:
![4621-TestResult](https://user-images.githubusercontent.com/45864985/111964579-b9b06100-8b2f-11eb-93c3-ee16747b16bb.gif)

[2021-03-22 09:14] Zheng-Li01 commented on #2717
Verified the issue with .Net SDK 6.0.100-preview.3.21169.6, this issue is fixed. TabPage has a keyboard tooltip for now.

[2021-03-22 09:22] Zheng-Li01 commented on #4228
Verified the issue with latest 6.0.100-preview.3.21169.6, the issue has been fixed that no exception pops up as below gif.
![4228GIF](https://user-images.githubusercontent.com/38325459/111967541-22e5a380-8b33-11eb-8fe4-419e28b70a3e.gif)

[2021-03-22 09:26] John-Qiao commented on #4216
Verified the issue with .NET SDK 5.0.202 from April 2021 Update Test Pass, this issue is fixed.
![4216-TestResult](https://user-images.githubusercontent.com/45864985/111968026-b1f2bb80-8b33-11eb-92fe-1d868a0d45ad.gif)

[2021-03-22 16:03] MohanramAnbukkarasu opened #4711 "Slow Performance of Linq Where statement"
Hi,

I have an ObservableCollection with 4 lakhs unique items. On a button click event,  I execute a Linq Where query to set value for a bool value in the items of the collection.
`
List<DataClass> DistinctCollection = new List<DataClass>();
List<DataClass> filteredCollection = new List<DataClass>();

for(int i=1;i<=400000; i++)
 {
     DistinctCollection.Add(new DataClass() { Content = i.ToString

[2021-03-22 20:14] merriemcgaw commented on #4665
I'm perfectly OK with doing that. We can fix it the way we want it in the runtime now and if changes need to be made for the best design experience we can make sure of that when we're ready to tackle it.

[2021-03-23 04:00] AraHaan opened #4712 "[DialogResult] Add TryAgain and Continue (result 10, and 11) respectively."
**Is your feature request related to a problem? Please describe.**

Nope, I am filing this because I noticed that the documentations here: https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-messagebox
As such I noticed that DialogResults of 10, and 11 are possible.

**Describe the solution you'd like and alternatives you've considered**

Currently I have no other alternatives in

[2021-03-23 06:21] #4711 closed

[2021-03-23 07:19] RussKie commented on #4712
Thank you.

Looking at WinUser.h these appear to have been added in Windows 2000. Besides these `DialogResult` misses `IDCLOSE`, `IDHELP` and `IDTIMEOUT`:

[code]

We do have imports for these however in:
https://github.com/dotnet/winforms/blob/03d1550f1d893fa964548df8a6f57b2fde892fc3/src/System.Windows.Forms.Primitives/src/Interop/User32/Interop.ID.cs#L9-L23

I think a better way to resolve this

[2021-03-23 10:07] Marie-Shi opened #4714 "An error dialog pops up when saving the .NET Framework project that is based on the new SDK style after renaming Form1.cs"
**Visual Studio Version**:
Version 16.10.0 Preview 2.0 [31122.235.main]

**More info:**
1.	This issue cannot repro without control on form designer.
2.	This issue cannot repro if saved the form designer first, then rename Form1.cs.
3.	This issue cannot repro on .Net Framework and .Net Core project.

**Steps to Reproduce**:
1.	Extract the “WinFormsApp9.zip” and open it in VS.
[WinFormsApp9.zip](htt

[2021-03-23 17:55] dreddy-work commented on #4598
@Tanya-Solyanik , we do have multiple resolution Icons in runtime. I just cross checked. If it is not being picked up in VS, that could be a different issue ( may be we are not querying for right DPI). Please feel free to open a new issue if that is the case and close this one?

[2021-03-23 19:57] dreddy-work commented on #4561
It seems padding is the only type that is serialized and was moved around. Associated PR is adding 'TypeForwardedFrom' attribute for this type.

[2021-03-23 19:59] dreddy-work commented on #4598
Closing this for now. @Tanya-Solyanik , feel free to reactivate if you see anything contradicting.

[2021-03-23 19:59] #4598 closed

[2021-03-23 20:03] dreddy-work commented on #4527
@RussKie , lets chat offline, if there is anything that needs to be done for HDPI here.

[2021-03-23 21:18] Maniues opened #4716 "Why winforms doesn't work on platforms other than windows?"
Why winforms doesn't work on platforms other than windows?

[2021-03-23 22:07] AraHaan commented on #4712
Alright made changes, I hope you guys do not mind if I use ``var`` or even switch expressions with or patterns to simplify it's readability.

As for the rest I think it should be complete, let me know about ``ID.CLOSE => buttons is MessageBoxButtons.CancelTryContinue or MessageBoxButtons.OKCancel or MessageBoxButtons.RetryCancel or MessageBoxButtons.YesNoCancel ? DialogResult.Cancel : DialogResult

[2021-03-23 22:45] dreddy-work commented on #3984
@DmitryGaravsky, this can not be Winforms specific. Did you try with a native application? May be in MFC? I think we should reach out to windows on this.

[2021-03-23 23:07] #4716 closed

[2021-03-24 02:51] RussKie commented on #4714
This has nothing to do with winforms runtime.
Please raise a VS Feedback.

[2021-03-24 02:51] #4714 closed

[2021-03-24 05:08] #3512 closed

[2021-03-24 08:05] trivalik commented on #1147
I implemented an example https://github.com/trivalik/winforms/tree/OverrideSetEnabled, which means that derived control could exchange enable behavior by several factors

[2021-03-24 09:01] weltkante commented on #1147
@trivalik You forgot to make it virtual ;)

Also your logic forgets to update `value` so the subsequent code will use outdated data to compute focus.

[2021-03-24 11:41] kirsan31 opened #4720 "[MDI] Add possibility to align minimized child to default location (TOP LEFT)"
**Is your feature request related to a problem? Please describe.**
WinForms [override](https://github.com/dotnet/winforms/blob/61d0963e6578488a9d04aa99f2acb95e0847439a/src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs#L243-L282) standard MDI behavior without option to use original one. It's lead to all child windows layout (with minimized windows) are mess up after main window resize.

[2021-03-24 11:44] StevenBonePgh commented on #4333
Perhaps the issue I filed in [Developer Community 'WinForms Designer Uses Assembly from Wrong Target Framework of a Project Dependency'](https://developercommunity.visualstudio.com/t/winforms-designer-uses-assembly-from-wrong-target/1379457) is related to this? Perhaps we are talking about different issues with a similar workaround.

@davkean - I do suspect at least my issue may be related to Proj

[2021-03-24 12:10] trivalik commented on #1147
Thanks, for your review. I had no .NET 6 to check. I fixed your concerns.

[2021-03-25 00:20] weltkante commented on #4598
The [folder](https://github.com/dotnet/winforms/blob/main/src/System.Windows.Forms/src/Resources/System/Windows/Forms) mentioned above only seems to contain 16x16 icons. Maybe they aren't used anymore, but then you could just remove them? If they are still used they probably should be unified with their multi resolution counterparts. Browsing that folder in a local checkout indicates there are ple

[2021-03-25 06:09] kirsan31 commented on #4720
Guys, I am bit confused here :thinking:

@RussKie  why this is a **bug**? This is by WinForms [_design_](https://github.com/dotnet/winforms/blob/61d0963e6578488a9d04aa99f2acb95e0847439a/src/System.Windows.Forms/src/System/Windows/Forms/MDIClient.cs#L250):

@dreddy-work And I don't understand how it's related to **HDPI**?

[2021-03-25 06:19] dreddy-work commented on #4720
From the attached images, we were looking at the nature of minimized MDI windows location being constant after windows resolution that resized Form window to changed resolution/DPI. This is something that need to be handled when DPI changes. Correct us if we are not reading it right.

[2021-03-25 06:32] kirsan31 commented on #4720
@dreddy-work yes you are not reading this right :) This is absolutely not related to HDPI, I don't know how to explain it in more details than I did at [post1](https://github.com/dotnet/winforms/issues/4720#issue-839636272) and [post2](https://github.com/dotnet/winforms/issues/4720#issuecomment-806390543) :(

[2021-03-25 07:03] dreddy-work commented on #4720
Thanks for the GIF.  Earlier images attached were not clear enough to understand the expected behavior around anchoring of minimized MDI windows. Did you try bypassing ‘Setbounds*’ method?

[2021-03-25 07:19] kirsan31 commented on #4720
Your mean `SetBoundsCore` of `MDIClient`? If yes, then - no, not directly. We are doing revert move in `OnResize`:
[code]

And it's work well, except that this is a bit overhead :roll_eyes:
1. System move window to correct place.
2. WinForms move it to wrong place.
3. We move it back to correct place.

[2021-03-25 07:24] dreddy-work commented on #4720
Yes.  Wanted to check as comments around that code was saying the default behavior was top-right anchored and I observed MFC app was doing top-left.

[2021-03-25 07:28] kirsan31 commented on #4720
Oh I ever didn't notice that :) Yes, It's typo in comment - `Left` everywhere.

[2021-03-29 01:04] #4112 closed

[2021-03-29 01:08] RussKie opened #4736 "Flaky test: `DataGridView_RowHeadersWidth_SetWithParentWithHandle_GetReturnsExpected`"
Keeps intermittently failing on the public CI leg in all configs/bitness

[code]

[2021-03-29 01:15] #4205 closed

[2021-03-29 01:58] #3455 closed

[2021-03-29 02:26] RussKie commented on #4643
@Balkoth to have a new public API added we need to have a formal [API proposal](https://github.com/dotnet/winforms/blob/main/docs/issue-guide.md#feature-and-api-suggestions) ([examples](https://github.com/dotnet/winforms/issues?q=label%3Aapi-approved)).
If you'd like to take this proposal further and are willing to champion it and have it implemented, please update your original post. A draft pull

[2021-03-29 02:35] Olina-Zhang opened #4737 "ToolboxItemContainer.Equals incorrectly returns false on first invocation"
* .NET Core Version:
The latest .Net 6.0 SDK build

* Have you experienced this same bug with .NET Framework?:
Yes, currently released .NET Framework 4.8 (and earlier)

**Problem description:**

ToolboxItemContainer.Equals incorrectly returns false on first invocation.
Visual Studio 2019 is affected by this issue and we currently have a workaround: [Pull request 312663](https://devdiv.visualstudio

[2021-03-29 02:38] Olina-Zhang commented on #4737
This issue is copied from AzDO bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1297086, and @merriemcgaw mentioned she wants a Github issue so we can consider a fix here. We probably can't fix .NET Framework 4.8, but if we provide implementation in Core we will want to make sure this is fixed.

[2021-03-29 02:39] RussKie commented on #4737
Windows Forms runtime doesn't have this API

[2021-03-29 02:40] Olina-Zhang opened #4738 "ToolboxItemContainer.GetHashCode is not coherent with Equals"
* .NET Core Version:
The latest .Net 6.0 SDK build

* Have you experienced this same bug with .NET Framework?:
Yes, currently released .NET Framework 4.8 (and earlier)

**Problem description:**
Run the following code
[code]

[2021-03-29 02:41] Olina-Zhang commented on #4738
This issue is copied from AzDO bug: https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1297124, and @merriemcgaw mentioned she wants a Github issue so we can consider a fix here. We probably can't fix .NET Framework 4.8, but if we provide implementation in Core we will want to make sure this is fixed. So far, Windows Forms runtime doesn't have this API.

[2021-03-29 02:44] RussKie commented on #4738
Windows Forms runtime doesn't have this API

[2021-03-29 05:45] RussKie commented on #3263
We need to solve how we communicate project settings to the designer, e.g. application default font, dpi awareness, visual styles, etc.

[2021-03-29 06:20] #4678 closed

[2021-03-29 06:20] SergeySmirnov-Akvelon commented on #4678
Fixed in scope of #4205

[2021-03-29 08:39] wreuel commented on #4639
@RussKie I think I could help with this, maybe it will take more time than the last one. (If this is not a problem)

Could you assigne to me?

[2021-03-29 08:45] Balkoth commented on #4643
I have updated my original post following your directions.

[2021-03-29 10:32] #4431 closed

[2021-03-29 10:42] RussKie commented on #4639
No rush :) Thank you

[2021-03-29 14:54] KathleenDollard commented on #1347
Sorry for the delay. I am OK with this change. I do think we should get it into the breaking change list with an explanation of the limited times someone will encounter it.

[2021-03-30 00:17] StevenBonePgh opened #4742 "ListViewItem.ListViewSubItem.ListViewSubItemAccessibleObject ctor ArgumentNullException"
* .NET Core Version:
5.0.4

* Have you experienced this same bug with .NET Framework?:
This does not happen with .NET Framework 4.8. This also does not happen with NetCoreApp3.1.

This appears to be a regression due to #3224, though I can't seem to reconcile the call stack with the code I see in this repository. This is exhibited in a library called `ObjectListView`. This control inherits from Lis

[2021-03-30 00:26] merriemcgaw commented on #1199
I tend to agree with @tannergooding 's comment [here](https://github.com/dotnet/winforms/issues/1199#issuecomment-788401639) and that given where we are in the cycle, and what resources we have available, I think we should start with what we have here, and a minimum viable product for the unassisted scenarios. If we get feedback about this specific part of the API, we can always add layers of abst

[2021-03-30 09:52] RussKie commented on #4712
Can you please elaborate on this piece? Under what circumstances do you expect this to happen, as according to [the docs](https://docs.microsoft.com/windows/win32/api/winuser/nf-winuser-messagebox#return-value), these don't belong to the list of the return values?

[2021-03-30 14:45] AraHaan commented on #4712
I think that the close button at the top of a MessageBox makes it return ``CLOSE``, if Help is enabled for it, it could possibly return ``HELP`` (it did not exactly say that it did, but it also did not say that it would not return ``HELP`` as the result of the MessageBox call) and dispatch an ``WM_HELP`` message as well too. As for ``Timeout`` the docs was not clear if ``Timeout`` was used by the

[2021-03-31 00:05] RussKie commented on #4712
Thank you. I'll get the ball rolling to get an approval. In mean time if you can - open a draft PR with the change, it would aid the process.

[2021-03-31 05:48] AraHaan commented on #4712
@RussKie ``DialogResult.None`` does not seem to be used by the MessageBox class at all, is anything using that member of ``DialogResult`` or is it just a dummy member that goes unused entirely just for backwards compatibility with old code that used it?

[2021-03-31 06:23] AraHaan commented on #4712
opened #4746.

[2021-03-31 08:11] AraHaan commented on #4712
It does not seem there are any tests for MessageBox at all except for a call I see in the TaskDialog test.

[2021-03-31 08:20] SergeySmirnov-Akvelon opened #4748 "Create separate accessibility objects for each ListView view"
**Problem description:**
The `ListView` is a very complex control with many different behaviors. In the course of working with it, we found more and more criteria that affect his behavior. For example, when displaying `ListViewGroup`, we take into account the following criteria:
- visual styles
- virtual mode
- `ShowGroups` property
- view (we do not show groups for "List" view)

In addition, we f

[2021-03-31 09:08] Olina-Zhang commented on #4409
Verified this issue in the latest .Net 6.0 SDK build: 6.0.100-Preview.4.21180.17, it is fixed for comboBox with DropDownStyle: dropdown, simple, the 'Edit' element in ComboBox has supported ValuePattern and TextPattern.
![image](https://user-images.githubusercontent.com/26474449/113120001-ae51e980-9243-11eb-98ca-df3afd18f067.png)

[2021-03-31 10:02] Olina-Zhang opened #4749 "[Accessibility] Narrator should announce "end of line'" instead of "Space" when focusing on last text position in comboBox and textBox"
* .NET Core Version:
.Net 6.0 SDK build: 6.0.100-Preview.4.21180.17

* Have you experienced this same bug with .NET Framework?:
 No
* More Info
This is a regression issue, found after the fix of PR: https://github.com/dotnet/winforms/pull/4540

**Repro Steps:**
1. Open attached application in VS, build and run it
[WinFormsApp11.zip](https://github.com/dotnet/winforms/files/6235603/WinFormsApp11.zi

[2021-03-31 10:26] Olina-Zhang opened #4750 "[Accessibility] The mouse tooltip of second TabPage is not correct when setting TabControl, tabpages' tooltip, and another control's tooltip"
* .NET Core Version:
.Net 6.0 SDK build: 6.0.100-Preview.4.21180.17
* Have you experienced this same bug with .NET Framework?:
No, framework is not supported TabPage's keyborad tooltip
* More Info
1. This is a regression issue, found after the fix of PR: https://github.com/dotnet/winforms/pull/4421
2. This issue cannot repro if don't do following step4

**Repro steps:**
1.	Create a Winforms .Net C

[2021-03-31 11:30] AraHaan commented on #3982
Since this is .NET 6 is it alright if since I am working on #3983 as well to bundle this with the changes that this would need in the same pr or different pr?

Note: I will use github to make the commits for now since I am currently on my mac.

Also since ``Environment.ProcessId`` is the same as ``Kernel32.GetCurrentProcessId`` should the p/invoke to that function get nuked entirely for ``Environm

[2021-03-31 11:41] AraHaan commented on #3983
Speaking of updating warnings why is hDrop here an ``IntPtr`` and not ``HandleRef`` or ``SafeHandle``?

https://github.com/dotnet/winforms/blob/2178e7a66ed27332202659c3ea86649dc4578c3d/src/System.Windows.Forms.Primitives/src/Interop/Shell32/Interop.DragQueryFileW.cs#L13-L16

[2021-03-31 12:07] weltkante commented on #3983
I don't think thats a handle? [doc](https://docs.microsoft.com/en-us/windows/win32/api/shellapi/nf-shellapi-dragqueryfilew) says its a `HDROP` and I don't think thats something `CloseHandle` can operate on.

[2021-03-31 12:24] AraHaan commented on #3983
[code]
Ah I thought everwhere that StringBuilder was used was for buffers... I got to change the code a bit more before I open a pr.

[2021-03-31 13:21] AraHaan commented on #3982
https://github.com/dotnet/winforms/search?q=Kernel32.GetCurrentProcessId

https://github.com/dotnet/winforms/search?q=Kernel32.GetCurrentProcessId

[2021-03-31 13:42] weltkante commented on #3983
Yes, your quote is about a buffer. Buffers are often optional, no contradiction here. What exactly did you have in mind?

[2021-03-31 13:44] weltkante commented on #3983
Looking at your PR you may be misunderstanding what "buffer" means. A buffer is a mutable memory area where the called function can write into. Specifically you can _not_ use C# `string` because it is immutable and not supposed to be modified.

[2021-03-31 13:51] AraHaan commented on #3982
I think the ``Process.GetCurrentProcess.Id`` could be at least replaced with ``Environment.ProcessId`` but turned into a string.

[2021-03-31 13:55] weltkante commented on #3982
I wouldn't rely on github search, its ok as a first start but in my experience it often returns less matches than a normal plaintext search, especially if you search for more (or less) than a single word.

[2021-03-31 14:50] AraHaan commented on #3982
Yep, github search needs to be enhanced to be more accurate on finding results in code.

[2021-03-31 21:29] bkqc commented on #3851
Is there any time frame to expect this feature to be integrated in Microsoft.Windows.SDK.Contracts?
To be totally honest, when I read that this package was supposed to allow .NET 4.6 to access Windows Runtime APIs, I understood everything from WindowsAPICodePack would have migrated to it... Is there actually any right way to access this feature in a Winform application without having to move back

[2021-03-31 22:46] RussKie commented on #4748
@merriemcgaw this is an important work, assigning to you for prioritisation.

[2021-04-01 00:13] AraHaan commented on #3983
RIP so ``Span<char>`` or ``char*`` might be the only way. I think using ``Span<char>`` could be better then for it.

[2021-04-01 00:19] KathleenDollard commented on #4608
I think we should go forward with this. Sorry again for the delay.

[2021-04-01 00:22] RussKie commented on #4608
Setting as up for grabs.

[2021-04-01 01:01] RussKie commented on #3983
In the interop signatures we generally use `char*`, and there are different way to get to it depending on a situation.

[2021-04-01 03:15] #4561 closed

[2021-04-01 05:41] SergeySmirnov-Akvelon commented on #4749
This regression is the result of adding text pattern support (#2701) to the `TextBox`. This issue is reproducible for the `ComboBox`, because we reused the same logic to support the text pattern (#4540)

[2021-04-01 08:36] Zheng-Li01 opened #4754 "[Accessibility] Narrator rectangle can't focus on the entire context of RichTextBox control when setting the RightToLeft property as true"
* .NET Core Version:
.NET 6.0.100-preview.4.21181.20

**More info:**
1.  The issue can't reproduce on TextBox & ComboBox controls.
2.  This is not a regression issue, also can reproduce on .NET SDK 3.1 & 5.0.
3. Narrator can announce the entire context of RichTextBox contorl correctly, fixed in GH issue [3455](https://github.com/dotnet/winforms/issues/3455).

**Have you experienced this same bug w

[2021-04-01 08:41] Zheng-Li01 commented on #3455
Verified the with .NET 6.0.100-preview.4.21181.20, the issue has been fixed that Narrator can announce the content in RichTextBox when setting the RightToLeft property as true, however the Narrator rectangle can't focus on the entire context of RichTextBox contorl, after confirmed with Sergei, filed new GH accessibility issue [4754](https://github.com/dotnet/winforms/issues/4754) to track.
![CoreN

[2021-04-01 08:42] Olina-Zhang commented on #4205
Verified this issue in the latest .Net 6.0 SDK build: 6.0.100-preview.4.21181.20, it is fixed: ListView groups are not displayed in Inspect when visual styles are disabled:
![image](https://user-images.githubusercontent.com/26474449/113267563-11598400-9309-11eb-811c-8b3a168a816c.png)

[2021-04-01 08:54] Amy-Li03 commented on #3513
Verified issue on .Net 5.0.202 & .Net 6.0 latest build: 6.0.100-Preview.4.21181.20, this issue all fixed now. FileDialog.InitialDirectory works correctly.

[2021-04-01 17:08] terrajobst commented on #4712
* Looks good as proposed

[code]

[2021-04-01 17:30] AraHaan commented on #4712
@terrajobst so do I convert the pr from draft now for merging or does it still have some steps left that needs done before merge?

[2021-04-01 20:27] juniormayhe commented on #4641
I am having a similar [issue](https://www.reddit.com/r/VisualStudio/comments/mi0q0h/slow_windows_forms_loading_in_vs_ide/) related to slow loading. My solution has a Windows Forms application, NET 5 with latest Visual Studio update, one simple Form, few UI elements added, nothing fancy. When I open the solution it gets loading the form for a long time in order to render it. I also disabled and AI

[2021-04-01 21:19] AraHaan commented on #3723
Cant people who consume these do ``<KnownFrameworkReference Update="Microsoft.WindowsDesktop.App" IsTrimmable="true" />`` from within an ``ItemGroup`` on their project files in the mean time?

[2021-04-01 23:46] RussKie commented on #4641
Please submit all issues with the designer via VS Feedback. This way we get more information that could help us to root-cause issues.

[2021-04-02 02:02] RussKie commented on #4712
The API proposal has been approved, and you now have a green light to make your PR non-draft :)

[2021-04-02 02:04] Jessie-Zhang01 commented on #4678
Verified this issue with .Net SDK 6.0.100-preview.4.21201.21, this issue is fixed. ListViewItem contains ListViewSubItem.
![image](https://user-images.githubusercontent.com/45864649/113372240-c9833d00-939a-11eb-98d4-ca2acb52440e.png)

[2021-04-02 02:29] AraHaan commented on #4712
ok, converted it to a normal PR.

[2021-04-02 16:14] juniormayhe commented on #4641
I opened a [ticket](https://developercommunity.visualstudio.com/t/slow-windows-forms-loading-in-vs-ide/1389500). I see that once I open the solution for the first time, the slowness happens. But after the Form design is already loaded, there is no noticeable delay.

Here a [demo](https://www.dropbox.com/s/2xqtbn669wiw3ho/windows%20forms%20loading%20issue.gif?dl=0) of the slow loading

[2021-04-02 18:36] ericstj commented on #1462
This change in runtime will deprecate the format written by the desktop tool: https://github.com/dotnet/runtime/pull/48527

Without a new tool that writes the new format established in that PR there will be no way to use Licensing in .NETCore.   @pgovind

[2021-04-02 23:06] weltkante commented on #1462
There already is no (working) licensing in .NET Core, some fractions of the old infrastructure remain working, but as a whole it does not work even now. Its a longstanding open issue.

The deprecation of BF will be much more catastrophal to the Clipboard and Drag and Drop systems though, these *require* it and I'm not aware of a plan for a replacement.

[2021-04-05 17:57] dreddy-work opened #4762 "Native portions of winforms controls are not updating their Font correctly in HDPI scenarios."
* .NET Core Version:
Net 6.0

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Some of the native portions in Winforms controls ( ex: Tabtitle in 'TabPage' or 'ColumnHeader' in ListView  or 'ListItem' in ListBox) are not updating their Font when there is a change DPI.

Explicit WM_SETFONT message is not helping update the Font but something between Managed F

[2021-04-06 04:51] #3533 closed

[2021-04-06 05:34] RussKie commented on #3851
@bkqc I'm not sure what you're asking for. Windows Forms has no relation Microsoft.Windows.SDK.Contracts, which contains WinRT API.

[2021-04-06 06:27] #4742 closed

[2021-04-06 23:24] merriemcgaw commented on #4643
During implementation we will want to make sure that High Contrast themes are honored and we're able to adjust when a user needs to have High Contrast. Obviously a user can override to something that doesn't work in high contrast, but our defaults need to be accessible.

Other than validating that, I have no personal objections.

[2021-04-06 23:41] merriemcgaw commented on #4479
This is a cool idea, and we're interested in it. But, this is an extremely large feature that will require a lot of planning and design discussion. It is in line with some of what we want to do in future releases. Before we go very far down this path I want to talk to the Windows team about whether they have anything we can leverage. I would hesitate to go deeply into the design until we have this

[2021-04-06 23:55] merriemcgaw commented on #4654
The team has discussed this and we're happy to make this property public, but we won't want to change the default. We'd also want to make sure there's a note on the documentation that it may not work in certain scenarios. We also may want to hide this from the PropertyGrid in VS, and mark this as an Advanced property.

[2021-04-07 05:44] MagicAndre1981 commented on #4089
any update on this? Will we ever get the `EM_SETCUEBANNER `implementation? I want to remove my custom controls in favor to inbox controls from .net (6?). I also build custom controls for ComboBox, ToolStripTextBox with `EM_SETCUEBANNER` support I would like to replace with inbox controls.

[2021-04-07 06:13] RussKie commented on #4654
We can't change the defaults as it will be a breaking behavioural change. Besides double buffering only works if `UserPaint` and `AllPaintingInWmPaint` styles are enabled.

Secondly, I don't think we _can_ change the access modifier level - it will be a [binary breaking change](https://docs.microsoft.com/dotnet/standard/library-guidance/breaking-changes#binary-breaking-change).

I created a simple

[2021-04-07 06:13] #4654 closed

[2021-04-07 06:51] RussKie commented on #4089
This work does not have a significant priority for the team, however if you feel passionate about this feature you're welcome to work on it.

[2021-04-07 21:48] Omcsesz opened #4768 "DataGrid ItemsSource unexpected behavior"
Hello, Team!

I would like to report the following issue:
when I add a new item to a List, then I set it to be the ItemSource, this results in putting the two entries beside each other:
![DataGridUnexpectedBehavior](https://user-images.githubusercontent.com/1839739/113763476-02fcd500-971a-11eb-84c3-736bbd703699.jpg)

[WpfApp1.zip](https://github.com/dotnet/sdk/files/6266869/WpfApp1.zip)

Is this n

[2021-04-08 02:28] Zheng-Li01 commented on #3533
Verified the issue with latest .NET 6.0.100-preview.4.21207.18, the issue has been fixed that DateTimePicker control's border working well after enabled/disable it when running the application.
![Issue3533](https://user-images.githubusercontent.com/38325459/113959291-2b3d1e80-9855-11eb-800a-18d06dc50cae.gif)

[2021-04-10 18:56] wreuel commented on #4639
To keep me organized, I did a list.

- [ ] ButtonBase.cs
- [x] ButtonBase.cs - Tests (Already Covered)
- [ ] CheckBox.cs
- [x] CheckBox.cs - Tests (Already Covered)
- [ ] Label.cs
- [x] Label.cs - Tests (Tests needed)
- [ ] RadioButton.cs
- [x] RadioButton.cs - Tests (Tests needed)
- [ ] ToolStripControlHost.cs
- [x] ToolStripControlHost.cs - Tests (Already Covered)
- [ ] ToolStripItem.cs
- [x] To

[2021-04-10 20:37] luronumen opened #4774 ".NET 5.0 is not rendering WinForms created in the .NET Framework 4.8 correctly"
* .NET Core Version: **.NET 5.0**

* Have you experienced this same bug with .NET Framework?: **No**

**Problem description:**
.NET 5.0 is not rendering WinForms created in the .NET Framework 4.8 correctly:

![ISSUE](https://user-images.githubusercontent.com/8019466/114283721-8cb1e880-9a21-11eb-89f8-3faac20bd390.png)

**Expected behavior:** .NET 5.0 should render WinForms created in .NET Framework

[2021-04-11 00:38] luronumen commented on #4774
I found an alternative way to manual fix this issue:
- Go to *LoginForm.resx* file and set *$this.AutoScaleDimensions* to **7, 15** instead of _6, 13_;
- Unlock/Lock the _LoginForm_ for all languages (e.g.: Default and Portuguese) to the _LoginForm.pt.resx_ and _LoginForm.resx_ be updated to the _.NET 5.0_ format;
    - Open _LoginForm.pt.resx_ and replace all _Version=4.0.0.0_ by **Version=5.0.0.

[2021-04-11 07:56] kirsan31 commented on #4774
https://docs.microsoft.com/en-us/dotnet/core/compatibility/fx-core#default-control-font-changed-to-segoe-ui-9-pt

[2021-04-11 11:31] luronumen commented on #4774
Thanks @kirsan31

[2021-04-11 11:34] luronumen commented on #4774
HOW TO PORT A .NET FRAMEWORK WINFORM TO .NET 5.0
- Added **Font = new System.Drawing.Font(new System.Drawing.FontFamily("Microsoft Sans Serif"), 8f);** at the form constructor after _InitializeComponent();_;

HOW TO PORT A .NET FRAMEWORK WINFORM RESOURCES FILES TO .NET 5.0
- Go to _Form.resx_ file and set **$this.AutoScaleDimensions** to **7, 15**;
- Unlock/Lock the Form for all languages (e.g.: D

[2021-04-11 15:49] AraHaan opened #4775 "[CI Tests] ConvertManagedToNative_Bitmap fails with System.Runtime.InteropServices.COMException."
* .NET Core Version:

.NET 6.

* Have you experienced this same bug with .NET Framework?:

No

**Problem description:**

The test can fail and block clean CI on Windows x86 Release mode, for some reason it works in debug mode and not sure why that is. The Test started to fail on (that I know of) https://github.com/dotnet/winforms/pull/4746/commits/dce8d8ff62676c8151f2a6ffbb91e09e71860e4e.

**Expec

[2021-04-12 00:03] dreddy-work commented on #3691
This issue is being tracked by windows internally. Will update the status based on their resolution.  Doing anything on the winforms side would need implementation of custom rendering of the non-client area.  It would be better if it gets fixed on windows side  and even native apps can benefit from it.

[2021-04-12 00:47] AraHaan commented on #4774
And what if the form is windows only and is set to be ``Localizable``?

[2021-04-12 01:35] RussKie commented on #3691
AB#32462899

[2021-04-12 03:11] Zheng-Li01 commented on #4561
Verified the issue with .NET SDK 6.0.0-preview.4.21206.2, for now the Form1.resx can be opened successfully and values of System.Windows.Forms.Padding display correctly in the Form1.resx file after setting the Localizable property of Form1 as true and then updated the Padding property values.
![Issue4561](https://user-images.githubusercontent.com/38325459/114335654-cdc00f00-9b7f-11eb-91b0-42752582

[2021-04-12 04:01] RussKie commented on #4775
Thank you. This is a "general" flakiness of CI runs on the public build infra. Unfortunately the successful re-run of the build has rewritten the logs, making it impossible to get more information at this stage.
I'll re-open if this test becomes generally unstable.

[2021-04-12 04:01] #4775 closed

[2021-04-12 04:07] thanhhn253 opened #4776 "Location 0, 0 not working on windows 10"
Steps:
- Create new windows form app
- Set StartPosition = Manual
- Set Location = 0, 0
- Run the app
- The app does not display at 0, 0

Please fix!

[2021-04-12 04:23] thanhhn253 commented on #4776
And also if you set Height = Screen.FromHandle(Handle).WorkingArea.Height; it will leave some space at the bottom

[2021-04-12 07:25] VincentBu opened #8829 "Test failure System.Drawing.Tests.GraphicsTests"

[2021-04-12 07:41] RussKie commented on #4776
Please provide a sample app and screenshots.

[2021-04-12 08:32] thanhhn253 commented on #4776
Sample app: [https://github.com/thanhhn253/test/raw/master/issues_4776.zip](url)
Screenshot:
![image](https://user-images.githubusercontent.com/31772380/114364836-0376ef00-9ba4-11eb-9e7d-b3279dd2152c.png)
![image](https://user-images.githubusercontent.com/31772380/114364900-18538280-9ba4-11eb-9120-4bb05d21e377.png)
![image](https://user-images.githubusercontent.com/31772380/114364943-23a6ae00-9ba4

[2021-04-12 12:10] PhilPJL opened #4780 "WinForms designer emits broken code in multi-targeted projects"
VS 16.9, 16.10

**Summary**:

[See initial post here](https://developercommunity.visualstudio.com/t/Winforms-designer-issue-with-ISupportIni/1392601?port=1025&fsid=da8f689d-711c-4ea9-bb1e-6825f9253bbe&entry=suggestion&space=8&scope=follow?port=1025&fsid=da8f689d-711c-4ea9-bb1e-6825f9253bbe&entry=suggestion&space=8&scope=follow&moreInfo=true&viewtype=all)

It's possible to create code which compile

[2021-04-12 12:26] SergeySmirnov-Akvelon opened #4778 "The Inspector displays incorrect rectangle for the ListViewGroup"
.NET Core Version:
- 6.0.100-preview.2.21155.3

Have you experienced this same bug with .NET Framework?:
- No (regression from #3224)

**Minimal repro:**
1. Create an app with a ListView
2. Add ListViewGroup to the ListView
3. Add ListViewItem related to the group to the ListView
4. Run the application
5. Run the inspect
6. Select a ListViewGroup in the Inspect tree

**Actual behavior:**
The ListV

[2021-04-12 12:53] SergeySmirnov-Akvelon opened #4779 "Empty ListViewGroups are displayed in the Inspect tree"
.NET Core Version:
- 6.0.100-preview.2.21155.3

Have you experienced this same bug with .NET Framework?:
- No (regression from #3224)

**Minimal repro:**

1. Create an app with a ListView
2. Add several ListViewGroup to the ListView
3. Add ListViewItem related to the first group to the ListView
4. Run the application
5. Run the Inspect

**Actual behavior**
Invisible (empty) ListViewGroups are disp

[2021-04-12 14:59] jnm2 commented on #3509
Is this issue tracking the enabling of the tab order IDE function in the .NET Core/5 designer, or specifically only the Ctrl+click part?

[2021-04-13 02:46] Zheng-Li01 commented on #4780
There have more details for the issue.

**For Core**
VS crashed after targeting to 3.5, and VS working well after comment the below code section, however the below code appeared again after modify the Form1.cs[design], such as re-sized it.
`((System.ComponentModel.ISupportInitialize)(this.splitContainer1)).BeginInit();`
![Core](https://user-images.githubusercontent.com/38325459/114489122-2dccb900-

[2021-04-13 05:52] vladimir-krestov commented on #4390
I have made a primary investigation, if we can set AccessibleObject as null.

Why do we need it:
- We will avoid many "IsHandleCreated" checks, this will clean up the code and make it faster
- Code implementations will have less code paths, so it will reduce unit tests count
- We will avoid feature bugs like #2797

Issues:
- After #3432 we reduced chanse of appearence bugs like #2797 because we ha

[2021-04-13 07:25] MagicAndre1981 commented on #4089
and what about adding the current PlaceHolderText for other controls?

[2021-04-13 08:44] RussKie commented on #4390
Thank you.

[2021-04-13 08:44] #4390 closed

[2021-04-13 17:45] JeremyKuhne commented on #3509
@jnm2 There is a designer issue tracking getting the existing functionality working again. I've made sure the links are in place. We're sort of piggy-backing the two things in this public issue.

[2021-04-14 04:00] #3984 closed

[2021-04-14 09:18] Atma9 opened #4790 "Trouble with custom CodeDomSerializer on .NET v5 Winforms"
Dear All,

We have trouble debugging custom CodeDomSerializer on .NET v5 Winforms. When the form loads, the components, which are marked with an attribute to use a custom CodeDomSerializer, are simply deleted from the form without any error message.

The custom serializer works with .NET Framework v2 to 4.8, but fails with .NET Core from v5 and newer (including v6).

The main problem is that we ca

[2021-04-14 09:24] Hefaistos68 opened #4791 "Some events never called in WinForms dialog when overriding Form methods and not calling base"
* .NET Core Version:
.NET SDK (reflecting any global.json):  Version:   5.0.201 Commit:    a09bd5c86c
Runtime Environment: Windows  10.0.19042 win10-x64
Host (useful for support):  Version: 5.0.4  Commit:  f27d337295
.NET SDKs installed:  3.0.101, 3.1.407, 5.0.103, 5.0.104, 5.0.200-preview.21077.7, 5.0.201

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**
Wh

[2021-04-14 09:29] Hefaistos68 commented on #4791
I know this opens 3 cans of nasty worms and may break existing code. So at least a documentation fix would be in order, documenting method / event hierarchies, so one can determine which events will or will not be called depending on which base method is called or not.

[2021-04-14 09:52] RussKie commented on #4791
This is an existing behaviour since day one (which a long time ago), so we can't change for obvious reasons.

If you feel some documentation is lacking it would be appreciated if you could help us make it better by clicking [Edit] button found on each doc page in the top right corner.

Thank you

[2021-04-14 09:52] #4791 closed

[2021-04-14 18:46] StevenBonePgh commented on #4304
I noticed that the `EditorAttribute` also works inconsistently in the designer for .NET Core vs the .NET Framework. [I created a Feedback Item for this earlier today](https://developercommunity.visualstudio.com/t/net-5-winforms-designer-ignores-systemcomponentmod/1398197).

In the Core/NET5 designer, it ignores the specified Editor and uses the base class variant instead. The property is declared

[2021-04-14 19:18] StevenBonePgh commented on #3329
I believe this is somewhat related [to a Developer Community issue that I raised recently](https://developercommunity.visualstudio.com/t/net-5-winforms-designer-load-error-does-not-load-p/1384393). In my experiences shown there, this does _sometimes_ work in that the designer loads, but requires doing a build, then a restart of Visual Studio for the designer to be able to load the derived control

[2021-04-14 23:35] AraHaan commented on #4712
@terrajobst after some testing it seems setting the default button to Button4 crashes the application when trying to display a messagebox according to what @RussKie tested.

Not sure if it's just an issue with Windows however and that the crash might need to be fixed or not, it might have been an accidentally exposed field sdk headers but was never implemented.

As such the proposal might need to

[2021-04-14 23:48] terrajobst commented on #4712
That's odd. Seems hard to believe that we found a bug in the SDK though. @RussKie, do we have a repro?

[2021-04-15 00:00] RussKie commented on #4780
Can you please tell us more about your scenario, and why you're targeting 3.5? This could help us better prioritise this work.

As a workaround you could duplicate the designer file and conditionally include it in the build based on the TFM you're targeting.

[2021-04-15 01:44] RussKie commented on #4639
@wreuel have you had a chance to look at what methods use `EnumValidator.IsEnumWithinShiftedRange`?

[2021-04-15 02:12] RussKie commented on #4712
@terrajobst no, false alarm. More details here https://github.com/dotnet/winforms/pull/4746#issuecomment-819997698

[2021-04-15 02:16] AraHaan commented on #4712
Ah ok, I thought it was a windows bug causing it to crash, good to know what the 4th button was for.

[2021-04-15 05:14] Pilzinsel64 commented on #4304
You're right, the EditorAttribute also doesn't work correctly.

DotNetBar is a big collection of useful Controls and Components for Windows Forms. It use both attributes for many controls. And they prevents me from porting DotNetBar as well as my projects that uses DotNetBar. Even if it works at run-time, it just doesn't load the designer correctly at design-time.

[2021-04-15 07:06] PhilPJL commented on #4780
Hi. I was trying to update Unity Mod Manager to use the modern project format (see above) and hit this issue. The author of UMM wants to maintain compatibility with net35. I would happily drop it but it's not my call.  This does highlight the fact that if the designer code differs between TFMs for this or any other reason you can end up with code that could but doesn't run or other issues. I guess

[2021-04-15 07:51] ygra opened #4793 "ToolTip sometimes briefly flashes the last-shown text when appearing"
* .NET Core Version:
5.0 (the project targets netcoreapp3.0, though, but I get build warnings about .NET 5 assemblies, so no idea which one it uses in actuality)

* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

When a tooltip instance has shown a tooltip, sometimes when showing the tooltip in another location (triggered via ToolTip.Show) or even on another

[2021-04-15 10:12] dennismaxjung commented on #1462
@EamonHetherton
Does this still works ? I've some problems with this workaround. I've added the gerneated .licenses file as embedded ressource but on runtime it says it is still not licenced. Are there any things besides this i could missed ?

Runtime: net472,  SDK-Style .csproj files and try to build with dotnet build

[2021-04-15 15:05] wreuel commented on #4639
Nope @RussKie , I didn't looked up on theses, should I?

[2021-04-15 15:45] StevenBonePgh commented on #4304
[I updated the Feedback Item for this earlier today](https://developercommunity.visualstudio.com/t/net-5-winforms-designer-ignores-systemcomponentmod/1398197). Turns out that the EditorAttribute is also ignored for overridden virtual properties and even properties that are declared on the type directly. I'm not sure how existing built-in controls work - the .NET 5's ListView's Columns collection s

[2021-04-15 18:27] RussKie commented on #4639
It needs to go away as well. @AraHaan is touching the callsites for `EnumValidator.IsEnumWithinShiftedRange` in  #4746, and I expect it to be removed as part of that work.
I just want to make sure no-one is stepping on someone else's toes.

[2021-04-15 18:50] RussKie commented on #4780
To confirm I understand the context correctly - the issue is a result of you switching to the SDK-style projects and multi-targeting, and not so much targeting .NET 5.0?

Whilst the idea of multi-targeting is very enticing, you need to fully embrace the risks and challenges it carries, especially so when targeting vastly different framework versions, such as .NET Framework 3.5, .NET Framework 4x a

[2021-04-15 18:53] RussKie commented on #4793
Please provide a repro sample

[2021-04-15 19:07] PhilPJL commented on #4780
Yes.  Nothing to do with .NET 5.  Everything to do with you support multi-targeting, but it doesn't work.
In general I have the option of conditional compilation, and conditional MS Build config to handle different TFMs.  However in this particular case the designer will overwrite any conditional statements I manually insert to fix the issue.  That's the core of the problem. I understand it's a di

[2021-04-15 19:48] jlukosky commented on #2726
To be compliant with 1.4.13 the following needs to be supported:
•	Dismissible: A mechanism is available to dismiss the additional content without moving pointer hover or keyboard focus, unless the additional content communicates an input error or does not obscure or replace other content.
•	Hoverable: If pointer hover can trigger the additional content, then the pointer can be moved over the addi

[2021-04-15 20:55] merriemcgaw commented on #2726
@jlukosky we have the new tooltip requirements are are working towards meeting these criteria. Under the hood, WinForms is dependent on the Windows Common Controls for much of our functionality. We're engaging directly with that team to provide us a base ToolTip control that supports the requirements so that we can then expose that to the .NET WinForms customer. This particular issue is one which

[2021-04-15 20:57] jlukosky commented on #2726
@merriemcgaw - That's exactly what I needed to know. Thanks for the rapid response.

[2021-04-15 20:58] merriemcgaw commented on #2726
@jlukosky, @RussKie deserves all the credit as he called this question to my attention 😄

[2021-04-16 00:20] #4779 closed

[2021-04-16 08:00] jroessel commented on #4793
[code]

https://user-images.githubusercontent.com/29534431/114991846-5a2d4300-9e9a-11eb-892b-8cc3a549fdd6.mp4

This doesn't happen every time a tooltip shows, but still often enough to reproduce it with a few tries.

[2021-04-16 16:07] RalphLAtGitHub commented on #2886
@merriemcgaw: Is there still hope that the bug will be fixed? What does your timeline look like?

[2021-04-16 16:11] filipnavara commented on #2886
I'd certainly hope that this gets fixed at some point. We have to force our developers to use specific locale on machines running Visual Studio that use the WinForms designer. Additionally we have a unit test that checks all the .resx files to make sure all the shortcuts could still be loaded in different locales.

[2021-04-16 18:15] Atma9 opened #4803 "VS.IDE deletes components, which cannot be created during the loading of the form"
Dear All,

While upgrading to Winforms .NET Core 5.0, we have encountered several situations, where the component, or the control could not be created by the Winforms designer UI (null pointer exception in the constructor). If we disregard the reason, why the error happens, the default behavior of the Winforms UI Designer is to silently delete the component from the source code. The components can

[2021-04-16 19:29] kirsan31 commented on #4803
[Here](https://github.com/dotnet/winforms/issues/4122#issuecomment-725798527) is **old** @merriemcgaw answer about similar issue.

[2021-04-17 07:11] Atma9 commented on #4803
Thanks for the link. The issues are not "as bad" as in that post, but I would like to add:

1.) Toolbox sometimes shows components, which are currently inserted in to the open form. Sometimes it does not show them. More often not showing. Why they get to present sometimes and sometimes not, I cant tell.
2.) Toolbox does not load ToolboxBitmap(s). On the form itself, the bitmap icons are shown for

[2021-04-17 10:47] AlexVallat opened #4805 "WindowsFormsApplicationBase does not raise StartupNextInstance if MainForm is null (it does in Framework)"
* .NET Core Version: found in 5, still present in code in current main branch

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
WindowsFormsApplicationBase.StartupNextInstance event is not raised if MainForm is null.

**Expected behavior:**
StartupNextInstance event is raised. This was the behaviour in .NET Framework

**Minimal repro:**
Create an WindowsForms

[2021-04-18 08:16] kirsan31 opened #4807 "bound DataGridView with all invisible columns will display first column anyway"
* .NET Core Version:  all up to latest (5.0.5)

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
DataGridView with manual added columns. If your set on all of the columns `Visible = false` and then set `DataSource` you'll get 2 bugs:
1. First column become visible to user.
2. If `RowHeadersVisible = false` and  `AutoGenerateColumns = false` column header wil

[2021-04-18 08:53] kirsan31 opened #4808 "ToolStripMenuItem can lead to memory leaks"
* .NET Core Version: all up to latest (5.0.5)

* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
`ToolStripMenuItem` can lead to memory leaks in some special conditions.

- Menu with submenu.
[code]
- Populate and clear submenu in runtime. In fact, only cleaning is important.
[code]
In certain conditions (I think that is - open only main menu and not opening

[2021-04-18 21:48] luronumen commented on #4774
Hi @AraHaan

It doesn't matter if the form language property is set to True or False: The issue is reproducible in both scenarios and all languages when it set to True.

Best Regards,
Luciano

[2021-04-18 21:59] luronumen commented on #4774
Hi @kirsan31 @AraHaan and @RussKie

Look at this example from another form in the same application.
I will have to review all forms if I really want to port this application to .NET 5.0 :(

### .NET Framework 4.8
![NET48](https://user-images.githubusercontent.com/8019466/115162008-4b4fb780-a077-11eb-8e3d-f1874e898c62.png)

### .NET 5.0
![NET50](https://user-images.githubusercontent.com/8019466/115

[2021-04-18 22:10] AraHaan commented on #4774
I get the same issues from one of my older projects, but it seems to happen on the System.Drawing side for me since I use System.Drawing to try to draw my own ``pseudo`` window frame (which looks ok on framework, on core it's ok until I open a form with a wider width.

I think it's due to some bug on my part.

[2021-04-19 03:34] RussKie commented on #1199
We're proceeding with the following API, which is very much what the original proposal from @kpreisser was: kpreisser@187bdb4.

I acknowledge the API discoverability is a little vague, but having read the docs once on how to use the feature developers shouldn't have any troubles using it again.
We currently won't be providing any helper methods to construct HREFs.

We can revisit the API and any h

[2021-04-19 03:55] AraHaan commented on #4639
@RussKie So you want to to remove all callsites that use ``EnumValidator.IsEnumWithinShiftedRange`` inside of #4746?

[2021-04-19 04:14] RussKie commented on #4639
Ideally we do it in a separate PR _before_  #4746. Otherwise you may need to write more tests, which will be deleted after.
If you don't mind - create a new PR to address this first, then we can continue on  #4746.

[2021-04-19 04:17] AraHaan commented on #4639
I think cherry picking https://github.com/dotnet/winforms/pull/4746/commits/51a551c6a190329263240acc4d92ba008e8ea0be into a new pr, then dropping that commit in #4746 might work for this.

[2021-04-19 05:28] AraHaan commented on #4639
Opened #4809 for removing ``EnumValidator.IsEnumWithinShiftedRange`` from ``MessageBox.cs``.

[2021-04-19 06:37] EamonHetherton commented on #1462
Still working here.  Targeting .NET Framework 4.8 using dotnet.exe to build, only thing a little different is that I've made the original licenses.licx file DependentUpon on the .licenses file

`
<ItemGroup>
	<EmbeddedResource Include="application.exe.licenses" />
	<None Include="licenses.licx">
	  <DependentUpon>application.exe.licenses</DependentUpon>
	</None>
</ItemGroup>
`

then build with "do

[2021-04-19 09:07] Marie-Shi opened #4810 "[Accessibility]Inspect: There is an additional “”edit node in Inspect when ListView item in edit Status"
* .NET Core Version:
.Net 6.0.100-preview.4.21218.5 from main branch

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
1.	In .NET Framework 4.7.1, it has the same result.
2.	This issue can repro no matter enable virtual mode or disable virtual mode.

**Minimal repro:**
1.	Extract the “noVirtual_Listview_detail.zip” and open it in VS.
[noVirtual_Listview_detail.zip](ht

[2021-04-19 11:40] RussKie commented on #4456
The progress is slow, but I've managed to get https://www.codeproject.com/Articles/24385/Have-a-Great-DesignTime-Experience-with-a-Powerful to the basic render stage:
![image](https://user-images.githubusercontent.com/4403806/115230281-78739700-a157-11eb-96a4-b5ab59f8444d.png)

[2021-04-19 11:41] RussKie commented on #2573
Tracking the progress in https://github.com/dotnet/winforms/issues/4456.

[2021-04-19 11:41] #2573 closed

[2021-04-19 18:23] KlausLoeffelmann commented on #1199
OK then, I agree meekly. 😄 (And sorry for not getting to this sooner, I am still swamped with higher priority Designer and VB things). I still think we should have something in edition, but this API doesn't prevent us from extensions in the future, so I completely agree!

[2021-04-19 21:57] JeremyKuhne opened #4813 "ToolStrip_RendersBackgroundCorrectly fails intermittently"
[ToolStrip_RendersBackgroundCorrectly](https://github.com/dotnet/winforms/blob/d46ad2e8dc76248739d9ae22b28b399a6a6b299e/src/System.Windows.Forms/tests/UnitTests/System/Windows/Forms/ToolStripTests.Rendering.cs) has failed twice with `BitBltValidator did not receive expected records`.

The second BITBLT validator (`BitBltValidator`) didn't get all of the records it was expecting.

The state of the

[2021-04-20 01:30] RussKie commented on #4807
Would you like to have a go at fixing it?

[2021-04-20 02:16] Marie-Shi opened #4816 "[Accessibility]Inspect: In View is Details, the yellow rectangle jumps to the front item automatically when we focus on the sub items in form individually"
* .NET Core Version:
.Net 6.0.100-preview.4.21218.5 from main branch

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
1.	This issue can also repro on .Net Core 3.1, 5.0 and .NET framework 4.7.1.
2.	This issue cannot happen every time.
3.	This issue cannot happen if we focus sub item in inspect.
4.	This issue can repro no matter enable virtual mode or disable virtual

[2021-04-20 15:01] kirsan31 commented on #4807
Ah, I Would. As you know, I've been here for quite some time, and I always want to fix something :) Even creating a bug report takes some effort. And the fix itself need more time, that I don't have :(  Especially the very first attempt (create and configure environment, etc). But I do not lose hope that someday I will still do it :)))

[2021-04-21 03:24] RussKie commented on #4807
Yes, I fully appreciate it takes time to submit an actionable bug report. Thank you for doing this.

Did you check the [developer guide](https://github.com/dotnet/winforms/blob/main/docs/developer-guide.md)? Was there anything missing or confusing that made it hard?

[2021-04-21 08:34] #4778 closed

[2021-04-21 09:01] Jenna-Zheng commented on #4742
Verified this issue with .NET 5.0.6(SDK 5.0.203), it is fixed that do not throw unhandled exception during a hit test.
![Table](https://user-images.githubusercontent.com/64949616/115526938-218ad080-a2c3-11eb-94b8-e1bbabf9fa50.gif)

[2021-04-21 19:00] kirsan31 commented on #4807
Checked now, everything is good and clear :flushed:

[2021-04-21 23:25] RussKie commented on #4594
Can you please clarify the customer scenario and repro steps. It is a little unclear what and how you're performing selections. An animated gif will help as well.
Thanks.

[2021-04-21 23:44] RussKie commented on #4803
Unfortunately it is a known gap, and we're still working on getting the .NET designer to parity with the .NET Framework designer. We've done quite a few changes in the latest designer. Can you please try VS 16.10 Preview2 (or better yet 16.10 preview3 which will be out in a matter of weeks).

The best way to report issues with with VS and VS Designer should be sent via VS Feedback channel (the ico

[2021-04-22 00:04] merriemcgaw commented on #4780
This is behaving as I would consider by-design. The designer itself can only generate code (and display to the developer) for a single runtime at a time. There are a couple of options for working through this issue. One is to always place the oldest framework version as the first one listed in the TargetFrameworks. This will only generate code that is supported by all versions listed - though the

[2021-04-22 01:37] #4780 closed

[2021-04-22 08:02] Zheng-Li01 commented on #4742
Verified the issue ..NET 6.0.100-preview.4.21221.10-win-x64 that the issue has been fixed that the project can run successfully with no exception.

[2021-04-22 08:02] Atma9 commented on #4803
Dear RussKie,

Yes, have tried before and have not noticed anything special to be different.

How do you report an issue, if there is no error reported? The component leakage from the forms is silent and depends IDE time-out and various file-locking issues, which are transient.

Thanks!
Atmapuri

[2021-04-22 08:16] RussKie commented on #4803
Please refer to this article: https://docs.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio

[2021-04-22 08:39] Atma9 commented on #4803
Considering that a reproducible issue does not exist, is there any sense in submitting such report?

Thanks!
Atmapuri

[2021-04-22 09:23] PhilPJL commented on #4780
Depends what you consider as by design I suppose.
VS is advertising that it supports multi-targeting but clearly the designers don't and you're implying they won't.
Instead of just closing this which is a cop out you should at least

- Make it clear in the documentation that it's not supported
- Change the designer UI to indicate to, or force the user to use the lowest/oldest framework, or at leas

[2021-04-22 15:26] sampathnarine opened #4828 "Form shows behind the parent form when showing through button"
* Have you experienced this same bug with .NET Framework?:
Yes

**Problem description:**

I have created the winforms sample. I have set form's visibility as true when mouse pointer enters the button. So the form opens and shown in the toplevel. Now click the button and again hover on the button. The form opens in behind the other form. I felt the reason is focus is in the button. This is not corr

[2021-04-22 16:48] mmitche opened #4829 "SourceLink links broken for some packages"
It looks like the SourceLink info for some files incorrect:

[code]
Notice the missing file extension.

[2021-04-22 22:26] dreddy-work commented on #4829
@RussKie , Do you know what could be the reason here?

[2021-04-23 05:46] Lydia-Shi commented on #4561
Verified this issue with .NET 5.0.6(SDK 5.0.203), this issue is fixed.

[2021-04-23 05:48] vladimir-krestov opened #4835 "ToolStripControlHost with a custom control freezes UIA clients"
* .NET Core Version: 6.0

* Have you experienced this same bug with .NET Framework?: Yes

* Original bug: [1313197](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/1313197?src=WorkItemMention&src-action=artifact_link)

**Problem description:**
- If a ToolStrip has ToolStripControlHost item, Inspect can't show its accessbiility tree and freezes:
![hMfSttv4cb](https://user-images.githubuserco

[2021-04-23 05:52] AraHaan commented on #4829
Odd. I wonder why the pdbs to winforms and wpf are not embedded in the actual assembly?

I usually embed them in my projects despite using sourcelink and it seems to work just fine then.

Perhaps an experiment can be made to see if the bug goes away if the pdb's are embedded inside of the resulting assemblies instead of outputting separate pdb files and then needing to make symbol packages to subm

[2021-04-23 09:42] vijayarasan opened #4838 "Winforms-When added the option(button) in panel not shown the option with HighDpi and custom scaling applied in .NET 5.0"
When setting the scaling 100% Control size and alignment are proper in the panel with HighDpi in the .Net 5.0 application. Please refer to the below screenshot for your reference,

**DPI enabled:**
![Dpi100Scaling](https://user-images.githubusercontent.com/58214164/115852229-78b8ae80-a445-11eb-84cb-3c227f5b9c53.png)

**Scaling:**
![Scaling](https://user-images.githubusercontent.com/58214164/115852

[2021-04-23 10:02] SergeySmirnov-Akvelon opened #4839 "ListViewItemAccessibleObject does not update data about ListViewGroup when moved to another ListViewGroup"
.NET Core Version:
- 6.0.100-preview.2.21155.3

Have you experienced this same bug with .NET Framework?:
- No. It is regression from #3223

**Minimal repro:**
1. Create an app with `ListView`
2. Add several `ListViewItems` to a `ListView`
3. Add "Test" `ListViewGroup` to the `ListView`
4. Add an event so that when you click on a special button, the second `ListViewItem` is moved to the "Test" `Lis

[2021-04-23 23:01] dreddy-work commented on #4838
Thanks @vijayarasan for providing the sample. Will be looking in to it on what is going on.

[2021-04-25 07:05] Olina-Zhang commented on #4431
Verified in the latest .Net 6.0 P4 build: 6.0.100-preview.4.21224.2, it provided link span: LinkStart and LinkLength for LinkClickedEventArgs
![image](https://user-images.githubusercontent.com/26474449/115984060-a59ccb00-a5d7-11eb-82a0-14019e3f89d0.png)

[2021-04-25 08:12] nth-block commented on #2981
This is true for `netcoreapp3.1` also.

[2021-04-25 10:05] John-Qiao commented on #3455
Verified in the latest .NET 6.0 P4 build: 6.0.100-preview.4.21224.2, the issue has been fixed that Narrator can announce the content in RichTextBox control as Zheng-Li01 said in previous comment.
![TestResult](https://user-images.githubusercontent.com/45864985/115989413-d50c0180-a5f0-11eb-809e-be49f0e9e51e.png)

[2021-04-25 14:51] kirsan31 opened #4846 "[HDPI] CheckBox doesn't not respect system font scaling"
* .NET Core Version: all up to latest (5.0.5)

* Have you experienced this same bug with .NET Framework?: No because .NET Framework doesn't respect system font scaling at all.

**Problem description:**
Probably all CheckBox  staff (`CheckBox`, `TreeView` with checkboxes, `CheckBoxRenderer` e.t.c.) doesn't respect system font scaling for check box image:
![Snipaste_2021-04-25_17-33-44](https://user

[2021-04-25 18:49] kirsan31 commented on #4838
The problem is `AnchorStyles.Right`, same as https://github.com/dotnet/winforms/issues/3168.
@vijayarasan if you comment it here:
![image](https://user-images.githubusercontent.com/17767561/116005369-45298000-a60f-11eb-817a-f746385c729e.png)
you will get almost desire result:
![image](https://user-images.githubusercontent.com/17767561/116005520-0647fa00-a610-11eb-9769-47d686f71d81.png)

[Blog post

[2021-04-26 02:07] Ashley-Li commented on #4779
Verified in the latest .NET 6.0 P4 build: 6.0.100-preview.4.21224.2, the issue has been fixed that invisible (empty) ListViewGroups cannot be displayed in the Inspect tree. Please see below result:
![image](https://user-images.githubusercontent.com/56664234/116019607-713a0680-a5f9-11eb-9a28-b480b78ef1a7.png)

[2021-04-26 08:56] SergeySmirnov-Akvelon opened #4847 "The ListViewItem has the wrong position in the Inspect tree after changing the Group of the ListViewItem."
.NET Core Version:
- 6.0.100-preview.2.21155.3

Have you experienced this same bug with .NET Framework?:
- Yes

**Minimal repro:**

1. Create an app with ListView
2. Add "Test" ListViewGroup to the ListView
3. Add three ListViewItems to a ListView
4. Set the "Test" ListViewGroup as the Group for the second ListViewItem
5. Add an event so that when you click on a special button, the second ListView

[2021-04-27 08:22] Amy-Li03 opened #4851 "[Accessibility] The Inspect tree displays information doesn't refresh timely when moving a listViewItem from default listViewGroup to another listViewGroup"
* .NET Core Version:
.NET SDK 6.0.100-preview.5.21226.11

* Have you experienced this same bug with .NET Framework?:
Yes

**More info:**
1. This is a not regression issue, it also reproduced on .NET framework 4.8, .NET core 3.1 & .NET 5.0.
2. The issue is related to the fact that the Inspect tree displays information that is relevant at the time the data is received. To update the data again, the

[2021-04-29 07:11] Balkoth opened #4854 "WinForms HighDPI PerMonitorV2 windows launched on secondary monitor is incorrectly scaled"
**.NET Core Version:**

SDK: 5.0.202 (db7cc87d51)
Runtime: 5.0.5 (2f740adc14)

**Problem description:**

If the main application window is not launched on the main monitor it scales wrong, because Form.DeviceDpi has the DPI-Settings of the main monitor.

**Minimal repro:**
- Create new .NET-Core 5.0 WinForms app
- Set Application.SetHighDpiMode(HighDpiMode.PerMonitorV2)
- Open the forms designer f

[2021-04-29 08:41] Balkoth commented on #4854
Here is a workaround until this is fixed:

[code]

[2021-04-29 08:51] Zheng-Li01 commented on #4778
Verified the issue with latest .NET 6.0.100-preview.5.21228.19, the issue has been fixed that the inspect tool display correct rectangle for ListViewGroup for now, see below GIF.
![Verified4778](https://user-images.githubusercontent.com/38325459/116525419-152df580-a90b-11eb-8d14-873d23b7838b.gif)

[2021-04-29 09:11] Balkoth opened #4856 "Disabling a focused TextBox draws TextBox wrong"
**.NET Core Version:**

SDK: 5.0.202 (db7cc87d51)
Runtime: 5.0.5 (2f740adc14)

**Problem description:**

If a focused textbox is disabled while having the focus, it does not display correctly:

Here are 2 textboxes where the top one has focus:
![image](https://user-images.githubusercontent.com/80055480/116527782-573f4300-a8db-11eb-9d28-ae798ec93b96.png)

The top one is now disabled, notice the wei

[2021-04-29 09:11] RussKie opened #4857 "`LinkedLabel.PaintLink` doesn't preserve clipping/transform"
**Problem description:**

While testing a fix https://github.com/dotnet/winforms/pull/4860, and invoking a designer actions for a `Panel` control got a failure while rendering a `LinkLabel`:
![image](https://user-images.githubusercontent.com/4403806/116521680-a014ed00-a917-11eb-8296-9ca8e39f6c6e.png)

![image](https://user-images.githubusercontent.com/4403806/116521638-8d9ab380-a917-11eb-8136-8261

[2021-04-29 09:19] RussKie commented on #4856
Please provide a repro.

[2021-04-29 09:56] Balkoth commented on #4856
I have added a repro to the original comment.

[2021-04-30 00:00] dreddy-work commented on #4528
We stopped writing designer specific type info into Resx file during serialization. We still yet to do work for the resources added directly from the Resource editor in VisualStudio but not by Winforms designer.  If you still see this issue with latest VS (VS 2019 16.10 preview3) and If you have already opened a feedback ticket, can you please share link here ?

[2021-04-30 00:13] merriemcgaw commented on #4856
Is this a regression from a previous version?

[2021-04-30 06:28] Balkoth commented on #4856
I don't think this has ever worked.

[2021-04-30 08:57] MrStefanWolff opened #4861 "PropertyGrid: ExpandAllGridItems() on hidden control causes NullRefException on Form Dispose"
* .NET Core Version: 3.1

* Have you experienced this same bug with .NET Framework?:  No (tested with identical design)

**Problem description:**
I am using a propertygrid control on a TabControl.
The propertygrid is located on the second TabPage, which is not the selected index when the application starts.
On creating the form, I assign a simple dataobject to the propertygrid (I picked "Color" as

[2021-04-30 20:34] merriemcgaw commented on #2886
@filipnavara agreed, this certainly needs to be fixed. We'll bubble this up to take a look now since we're much further a long in the localized forms story.
@Olina-Zhang can you test this scenario for localizing keyboard shortcuts on the form? If there's still and issue, let us know here but also create a bug for the designer repo as well. Thanks so much!

[2021-04-30 20:37] merriemcgaw commented on #3329
@Olina-Zhang can your team walk through the scenario and get us an issue in the designer repo to triage soon. You can also link @StevenBonePgh's Feedback ticket he raised for more details to the team. Thanks!

[2021-05-03 20:09] JeremyKuhne commented on #4857
@RussKie can you please provide a repro for this. Looking at the old code it appears that it would not apply transforms either but I can't fully validate without knowing exactly how to reproduce your specific observed problem.

[2021-05-04 10:42] sampathnarine commented on #4828
Hi Guys,

Please provide any update on this.

Regards,
Sampath

[2021-05-05 11:48] RussKie commented on #4857
You can grab the sample from https://github.com/dotnet/winforms/pull/4860.
From my tests it fails in DEBUG mode only. A RELEASE build works just fine...

[2021-05-05 11:54] RussKie commented on #4828
It is the existing behaviour.
Why do you think it is a bug, and why do you think it has to change after all these years?

[2021-05-05 12:34] Balkoth opened #4872 "WinForms HighDPI PerMonitorV2 ToolStrip scales wrong"
**.NET Core Version:**

SDK: 5.0.202 (db7cc87d51)
Runtime: 5.0.5 (2f740adc14)

**Problem description:**

A toolstrip with items set to DisplayStyle=ImageAndText does not scale correct.

Starting the sample application provided below on my main screen with 144dpi, shows that both toolbars are of the same height:
![image](https://user-images.githubusercontent.com/80055480/117140591-dafea100-adad-11e

[2021-05-06 02:09] clairernovotny commented on #4398
Not sure what this is waiting on?

[2021-05-06 06:32] John-Qiao commented on #3329
@merriemcgaw I have filed the GitHub issue: [3142 ](https://github.com/dotnet/winforms-designer/issues/3142)in designer repo based on details in StevenBonePgh's Feedback ticket. And the issue still occurs in the latest VS 2019 from main branch + latest .NET 6.0 SDK from main branch environment.

[2021-05-06 06:44] Jenna-Zheng commented on #2886
@merriemcgaw this issue is still reproducing and I have create a new bug [#3305](https://github.com/dotnet/winforms-designer/issues/3305) for the designer repo as well.

[2021-05-06 07:32] sampathnarine commented on #4828
Hi @RussKie,

Thanks for the reply,
Okay, Is there any work around for this. And I have found whether it is form or panel, it lost its focus. Is there anyway to restrict this.

Regards,
Sampath Narayanan.S

[2021-05-06 15:59] Paul-Williams commented on #4239
I am getting the same issue when attempting to inherit from System.Windows.Forms.TabControl.

[2021-05-06 16:35] #4839 closed

[2021-05-06 19:22] Avaruz commented on #3303
Same issue in Visual Studio 16.9.4 and .Net 5.0.202!!!

[2021-05-07 00:40] safern commented on #4239
Thanks all for the info. I was able to reproduce this. Taking a deeper look now.

[2021-05-07 11:15] SergeySmirnov-Akvelon opened #4876 "Inspect can't find PropertyGrid's highlighted dropdown list in the accessibility tree"
**.NET Core Version:**
- 6.0.100-preview.3.21202.5

**Have you experienced this same bug with .NET Framework?:**
- Yes

**Minimal repro:**
1. Create an app with a PropertyGrid and button.
2. Set button as "SelectedObject" property of PropertyGrid
3. Run the app
4. Run  the Inspect
5. Expand the "AccessibleRole" dropdown list and highlight the drop-down list using the Inspect

**Actual behavior:**

[2021-05-07 13:58] SenthilKumaranRajan opened #4878 "Windows Forms Designer debugging in NetCore"
We could not able to perform design time debugging in NetCore Windows Forms.

We have tried to perform debugging as we perform for dot NetFramework but our source code cannot be able to debug at design time. We have followed the below steps.

1.	Set the breakpoint in our custom control constructor.
2.	Set the start-up project as “devenv.exe”.

![image](https://user-images.githubusercontent.com/444

[2021-05-07 21:48] OliaG opened #4880 "[HighDPI] WinForms changes the true size of controls with system DPI awareness"
* .NET Core Version:

* Have you experienced this same bug with .NET Framework?:

**Problem description:**
Copied from tweet thread: https://twitter.com/awakecoding/status/1389943462871633922?s=20

 A 1920x1080 is reported as 4800x2700 with 250% DPI scaling, yet the true size of the control is still 1920x1080 (if I draw using the reported size, it is 250% larger than the real size). This means tha

[2021-05-08 17:13] kirsan31 opened #4883 "TreeView flickering"
* .NET Core Version: all up to latest (5.0.5).

* Have you experienced this same bug with .NET Framework?:  yes

**Problem description:**
TreeView is flickering (especially on large amount of data):
Native control has [ex. style](https://docs.microsoft.com/en-us/windows/win32/controls/tree-view-control-window-extended-styles) `TVS_EX_DOUBLEBUFFER` that fix the problem:
[code]
Left default `TreeVie

[2021-05-09 16:32] dupeng0224 opened #4885 "Use PropertyGrid in WPF, the memory increased from 63M to 4.5G"
* .NET Core Version: 5.0.202

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**
when i am use propertygrid in wpf, if set the SelectedObject, the memory increase from 63M to **4.5G**

The Xaml Like this
`<Window x:Class="WpfApp1.MainWindow"
        xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
        xmlns:x="http://schemas.microsoft.com/w

[2021-05-10 02:16] paxtonxuhongzhi opened #4886 "ControlDesigner can not be used in .NetCore winform,but it works in .Net Framework,how to use it in .Net Core winform"
ControlDesigner can not be used in .NetCore winform,but it works in .Net Framework,how to use it in .Net Core winform
92764-image.png

![92764-image](https://user-images.githubusercontent.com/42473082/117597581-7316d480-b178-11eb-9504-5bc743bf2129.png)

Such as this(Framework),the panel in framework work well,it visable in designer and controable,but in .Net Core,it just exist but can not use.
![9

[2021-05-10 03:34] sampathnarine commented on #4828
Hi,

Any update for my query.

regards,
Sampath Narayanan.S

[2021-05-10 10:48] SenthilKumaranRajan opened #4887 "Smart Tag support in WF"
* .NET Core Version:
.Netcore 3.1 and NET 5

* Have you experienced this same bug with .NET Framework?:
No

**Problem description:**

The smart tag is not working properly for the NETCore project.

**Expected behavior:**

The smart tag should work properly as like .NETFramework

Attached the code example in the below link

[CustomControlWithSmartTag.zip](https://github.com/dotnet/winforms/files/64

[2021-05-10 22:20] RussKie commented on #4887
The sample code is unreadable. Please provide a stand along repro.

[2021-05-10 23:05] merriemcgaw commented on #3303
@Avaruz and team - we're expecting to have a fix for this in an upcoming 16.10 this spring. We did some changes on the internal engine of the designer and this was picked up as part of those changes. I'll reply back when I can tell you which Preview for certain.

[2021-05-11 02:52] Olina-Zhang commented on #3303
@Avaruz we verified this issue in the same test environment: Visual Studio 16.9.4 and .Net 5.0.202, it cannot reproduce, see following screenshot and gif:
![image](https://user-images.githubusercontent.com/26474449/117750866-bb042d00-b246-11eb-94cb-502a3be961e1.png)
![TestResult-3303](https://user-images.githubusercontent.com/26474449/117750408-ef2b1e00-b245-11eb-80bc-5b0d9cfa6a90.gif)
If you stil

[2021-05-11 05:19] SenthilKumaranRajan commented on #4887
Hi @RussKie ,

I have attached the sample quotes in attachment. Please check this and let me know if you have any concerns.

Also please share is there any documentation link to create a smart tag support for custom control? for NETCore

[2021-05-11 07:06] #4749 closed

[2021-05-11 11:13] RussKie commented on #4398
We're waiting on a sample repro. Unfortunately we don't capacity to debug client applications.

[2021-05-11 11:20] RussKie commented on #4856
@Olina-Zhang would you be able to check whether this issue only affects the `TextBox` control, or other controls [derived from `TextBoxBase`](https://docs.microsoft.com/dotnet/api/system.windows.forms.textboxbase) as well?
Thank you

[2021-05-11 11:38] RussKie commented on #4828
As much as we'd love, I am afraid, we don't have capacity to debug custom apps or teach you how to build a Windows Forms apps that do what you want. We are here to help fix bugs, and in this case I am not satisfied your report constitutes to a bug.

If you have questions or seek guidance on how to implement certain features or behaviours - those are better asked in ["Discussion"](https://github.co

[2021-05-11 12:21] vladimir-krestov commented on #3655
In my opinion, this is not a bug. This is issue of the incorrect test case. Inspect stores outdated information about the drop-down ListBox, because it has been already collapsed. So the ListBox is not available for the accessibility tree, if you update "FlatStyle" tree item (click "-", then "+" of the tree item), you will see, that it's true - there is no ListBox in the tree. The same for the Lis

[2021-05-11 13:24] Avaruz commented on #3303
Here is the same issue in other machine recently installed:

![Animation](https://user-images.githubusercontent.com/690375/117822423-8db18200-b23a-11eb-8612-1d5a1e61d86e.gif)

[2021-05-11 14:07] RussKie commented on #4886
See https://github.com/dotnet/winforms/pull/4860

[2021-05-11 14:32] #4878 closed

[2021-05-11 17:22] KlausLoeffelmann commented on #4883
Well, Double Buffering is something that we should not give up too soon (as a general improvement). It's not only the flickering which is people driving crazy, in my opinion in some cases we even come to a point, where it is _so_ bad that it can become as accessibility problem for folks who want to search by paging throw data, and having a hard time to synchronize the flickering content with their

[2021-05-11 17:33] KlausLoeffelmann commented on #4883
Well, we could make it work that way, couldn't we? What I am saying is, we shouldn't consider DoubleBuffered for this, but...what I wrote.

[2021-05-11 21:21] KlausLoeffelmann opened #4895 "[API Proposal]: Introduce Commands and DataContext to WinForms to adapt modern Binding scenarios"
## Rationale:

We want our customers to modernize their existing WinForms Apps and allow them to adapt new Azure-based technologies. It is important for our customers, that the business logic of their WinForms LOB apps to this end becomes more flexible and can be rearchitected away from the WinForms-typical code-behind and towards UI Controller or ViewModels, which can be easy reused and unit test

[2021-05-11 23:59] wjk opened #4898 "ContextMenuStrip doesn’t DPI-scale its items properly"
## .NET Core Version
6.0.0-preview.3.21201.4

**Have you experienced this same bug with .NET Framework?** Didn’t bother to check; I no longer target .NET Framework

## Problem description
The below screenshot illustrates the problem much better than words can. The left menu is the `ContextMenuStrip`; the right menu is a `ToolStripMenuDropDown`.

## Expected behavior
All menu items should have the

[2021-05-12 00:16] RussKie commented on #4898
This isn't a correct statement, .NET Framework is fully supported and maintained. It is "feature complete", and thus doesn't receive any updates.

[2021-05-12 00:29] RussKie commented on #4883
I think so :) The point is that we can fix the fact that `DoubleBuffered=true` doesn't do anything. The logical place to me seems fixing it here:
https://github.com/dotnet/winforms/blob/9f61c5569b3b7a7388fbeffdeaefb6bc8ceb9182/src/System.Windows.Forms/src/System/Windows/Forms/TreeView.cs#L315-L418

[2021-05-12 00:33] RussKie commented on #4883
I left some comments related to this question here: https://github.com/dotnet/winforms/issues/4654#issuecomment-814632604. I'm still open to the idea of making it easy (not _easier_) to enable double-buffering, but we'll need a new well thought proposal for this.

[2021-05-12 00:40] RussKie commented on #3655
I had a chat with @vladimir-krestov offline, and it looks like this is an Inspect-specific issue. Inspect is a developer specific tooling, and it's unlikely to be used by end users with accessibility needs.

@Amy-Li03 can you check if this issue affects end-user accessibility tools, such as Narrator, NVDA, etc. If those tools don't have the same problem - please close it.

[2021-05-12 00:40] KlausLoeffelmann commented on #4883
A proposal it is.

[2021-05-12 01:30] wjk commented on #4898
@RussKie My apologies; that was a poor choice of wording. Updated OP. Thanks!

[2021-05-12 01:38] Amy-Li03 commented on #3655
@RussKie Checked this issue with accessibility tool: accessibility Insights, it doesn't have the same problem. And For Narrator, NVDA tool, they doesn't exist tree, so we cannot verify this problem, but it can announce the correct information when focusing.
So close this issue.

[2021-05-12 01:38] #3655 closed

[2021-05-12 03:57] RussKie commented on #4883
Setting as up for grabs.

[2021-05-12 05:35] SenthilKumaranRajan commented on #4887
Hi @RussKie ,

Is there any other way to provide the smart tag support?

[2021-05-12 06:10] RussKie commented on #4887
Thank you. Run your sample against #4860:
![image](https://user-images.githubusercontent.com/4403806/117926666-722ea000-b33c-11eb-8e8f-4da502b1f02b.png)

At runtime - no.

[2021-05-12 06:21] Olina-Zhang commented on #4856
@RussKie @Balkoth, I tested this issue using that provided app, cannot repro in .Net 3.1/5.0 /6.0. After disabled textboxs with focused and unfocused, they have same states. See following GIF:
![disabledTextBox](https://user-images.githubusercontent.com/26474449/117927796-4b1ca200-b32d-11eb-992c-bd1ad1502e5a.gif)

[2021-05-12 06:46] Balkoth commented on #4856
I don't know why this works for @Olina-Zhang, because to my knowlegde this problem exists in all versions of Windows and .NET:
![image](https://user-images.githubusercontent.com/80055480/117930598-79cf5400-b2fe-11eb-96ad-c5357a101bda.png)

[2021-05-12 06:55] RussKie commented on #4886
Please provide a standalone sample.

[2021-05-12 22:24] dreddy-work commented on #4880
Can we get the sample app with his experiment here?

[2021-05-13 00:00] RussKie commented on #4856
I confirm the issue:
![4856](https://user-images.githubusercontent.com/4403806/118058210-0b0efb00-b3d1-11eb-9c16-b1eca4a6fbcd.gif)

Also [`MaskedTextBox`](https://docs.microsoft.com/dotnet/api/system.windows.forms.maskedtextbox) suffers the same issue:
![image](https://user-images.githubusercontent.com/4403806/118058643-fd0daa00-b3d1-11eb-9534-72461777eb06.png)

Setting the issue as up for grabs.

[2021-05-13 04:00] #4594 closed

[2021-05-13 14:01] #4679 closed

[2021-05-13 21:41] Tanya-Solyanik opened #4906 "Investigate HtmlDocument tests that set focus to the document"
`HtmlDocument_Focused_GetFocused_ReturnsExpected` and `HtmlDocument_Focus_Invoke_Success` tests are failing with inconsistent errors. Sometimes IHtmlDocument4.Focus succeeds and sometimes it does not.
https://dev.azure.com/dnceng/public/_build/results?buildId=1137942&view=ms.vss-test-web.build-test-results-tab&runId=34524282&resultId=103045&paneView=debug
[code]
and sometimes
https://dev.azure.com

[2021-05-13 23:31] #4857 closed

[2021-05-14 00:16] merriemcgaw commented on #4838
@kirsan31 Great blogpost link! We should totally create another issue in the runtime repo describing what's up with Anchor right/bottom properties and see if we can't get it addressed as part of the HDPI effort.

[2021-05-14 00:55] paxtonxuhongzhi commented on #4886
[TestTabControlNetCore.zip](https://github.com/dotnet/winforms/files/6475854/TestTabControlNetCore.zip)
[TestTabControlFramework.zip](https://github.com/dotnet/winforms/files/6475855/TestTabControlFramework.zip)

[2021-05-14 00:57] paxtonxuhongzhi commented on #4886
Thank you for your attention. I have uploaded two zips

[2021-05-14 02:07] RussKie opened #4908 "Support designer capabilities at runtime"
# Context

The Windows Forms SDK consist of two distinct parts – the **runtime** (the code that executes, open sourced in this repo) and the **designer** (consists of the "_general purpose_" and "_Visual Studio-specific_"  components, close sourced). In .NET Framework these two parts lived together, and that allowed customers to invoke and use VS-specific functionality. Skip forward to .NET Core/.

[2021-05-14 02:07] RussKie commented on #4908
- RESERVED -

[2021-05-14 02:15] #1395 closed

[2021-05-14 02:15] #4456 closed

[2021-05-14 02:15] #4887 closed

[2021-05-14 02:20] Zheng-Li01 commented on #4839
Verified the issue with latest 6.0.100-preview.5.21263.57, the issue has been fixed that ListViewItemAccessibleObject updated data about ListViewGroup when moved to another ListViewGroup, see below GIF.

In addition, have a GH issue [4581](https://github.com/dotnet/winforms/issues/4851) to track the item doesn't refresh timely in the Accessibility tree.
![Update4839](https://user-images.githubuser

[2021-05-14 02:25] RussKie commented on #1395
The ported functionality will be available in .NET 6.0 Preview5. Please raise new issues for any further missing functionality. The sooner we know the higher change we get it addressed before .NET 6.0 GA.
Thanks

[2021-05-14 02:26] RussKie commented on #2573
The ported functionality will be available in .NET 6.0 Preview5. Please raise new issues for any further missing functionality. The sooner we know the higher change we get it addressed before .NET 6.0 GA.
Thanks

[2021-05-14 02:26] RussKie commented on #4456
The ported functionality will be available in .NET 6.0 Preview5. Please raise new issues for any further missing functionality. The sooner we know the higher change we get it addressed before .NET 6.0 GA.
Thanks

[2021-05-14 02:59] RussKie commented on #4886
Can you please clarify how to use your samples? I don't see any design hosts or surfaces...

When I run the .NET Framework sample I see this:
![image](https://user-images.githubusercontent.com/4403806/118214770-bc865d00-b4b3-11eb-9bde-7722a5d7de93.png)

Please explain what you're trying to achieve, what the issue is, and steps to reproduce.
Thanks

[2021-05-14 04:49] RussKie opened #4909 "[Proposal] Streamline application configuration and bootstrap"
Moved to https://github.com/dotnet/designs/pull/223

[2021-05-14 04:52] RussKie commented on #3001
We can now implement this proposal. https://github.com/dotnet/winforms/issues/4909 will facilitate a communication of the the font information to the designer process.

[2021-05-14 07:07] kirsan31 commented on #3001
@RussKie #4009 is grate! But,  I want to point out some one thing that related to this issue and #4009 too. It's system font scaling:
![image](https://user-images.githubusercontent.com/17767561/118230601-9a321680-b496-11eb-8cb3-9c878537f949.png)
Currently explicitly set font of the control (most time in designer), will stop it's scaling with this technique. What will be if we set _app wide_ font?

[2021-05-14 09:47] kirsan31 opened #4913 "[regression] PropertyGrid GDI leak"
* .NET Core Version: 5.0.3 - 5.0.6 tested.

* Have you experienced this same bug with .NET Framework?:  **NO**. Also this bug is **not present** in .net core 3.1

**Problem description:**
For several months I am was investigating **huge** (up to critical 10000) GDI leak in our app (beginning after switching from .net core 3.1 to .Net 5). And finally found it out (I am happy :roll_eyes:). Facts:

-

[2021-05-14 11:06] SergeySmirnov-Akvelon opened #4914 "TrackBar control does not support UIA accessibility"
**Environment**
- Microsoft Windows [Version 10.0.19041.388]
- .NET Core SDK 6.0.100-preview.3.21202.5

**Have you experienced this same bug with .NET Framework?:**
- Yes

**Problem description**
![image](https://user-images.githubusercontent.com/23376742/118262205-3bcc5e80-b4bd-11eb-9c61-28f98a0ee708.png)

Accessibility providers:
[pid:9884,providerId:0x280FE0 Main:Nested [pid:28360,providerId:0x

[2021-05-14 19:50] JeremyKuhne commented on #4913
Interesting.  First guess here is that connecting probably fires WM_SETTINGCHANGE and that may be causing the color pickers to drop handles.

[2021-05-14 20:55] kirsan31 commented on #4913
@JeremyKuhne

I am afraid that the problem not in the property's (color pickers etc), but in the `PropertyGrid ` itself, because it's leak with this simple class as `SelectedObject`:
[code]

https://user-images.githubusercontent.com/17767561/118329356-8d9dd480-b50f-11eb-8938-d50b3aecb05d.mp4

[2021-05-14 23:30] JeremyKuhne commented on #4913
Thanks @kirsan31

[2021-05-15 05:48] #4372 closed

[2021-05-16 03:40] RussKie commented on #3001
Good call!

I've created a simple app targeting net472 and net6.0
[code]

Changing the text size I didn't observe the any changes to the font metrics in net472:

* 100%
![image](https://user-images.githubusercontent.com/4403806/118384554-3fd9b700-b64a-11eb-9b00-29a44c68249d.png)

* 120%
![image](https://user-images.githubusercontent.com/4403806/118384548-25074280-b64a-11eb-942e-491c62040dc9.png)
!

[2021-05-16 04:03] mdtauk commented on #3001
With Windows 10 21H2 changing the System font to **Segoe UI Variable** with its **Small**, **Text**, and **Display** OpticalSize variants - will WinForms be ready to handle that, and will there be suitable fallbacks for Windows 8, and older Windows 10 versions?

https://blogs.windows.com/windows-insider/2021/05/06/announcing-windows-10-insider-preview-build-21376/

[2021-05-16 07:38] kirsan31 commented on #3001
@RussKie

Yes, becouse .net framework doesn't respect system font, and .net core does (#656). But font scaling in .net will work only if you not set font explicitly (then it will be taken from `Control.DefaultFont`). Thats all my previous [post](https://github.com/dotnet/winforms/issues/3001#issuecomment-841059077) about.
Intresting that your .net6 120% screen is the same size as 100% - font scail

[2021-05-16 08:50] RussKie commented on #3001
They are in fact different in net6.0 scenarios :)

[2021-05-16 12:53] RussKie commented on #3001
Thanks for the link. We get the default font from .NET runtime, and take it for granted:
https://github.com/dotnet/winforms/blob/c93d8c85ccd53597b6c9dfe83637ada82fabe353/src/System.Windows.Forms/src/System/Windows/Forms/Control.cs#L1807-L1819

If you're running that build already you could probably run a test yourself and see:
https://github.com/dotnet/runtime/blob/64303750a9198a49f596bcc3aa13de80

[2021-05-16 13:21] RussKie commented on #3001
I've tested this in, and the font serialization has been fixed in .NET 5.0 (in https://github.com/dotnet/winforms/pull/3875).
However looks like the CellStyle editor is settings the default font to "Microsoft Sans Serif, 8.25f", this is on the designer side (I think).
![dgv-cellstyle-font](https://user-images.githubusercontent.com/4403806/118398742-578e5b00-b69d-11eb-9181-35f1045fb1f3.gif)

[2021-05-16 14:00] kirsan31 commented on #3001
Yea it's all about designer, I [answered](https://developercommunity2.visualstudio.com/t/WinForms-DataGridView-styles-designer/1143911#T-N1424480) to your post on developercommunity, thank you.

[2021-05-17 04:40] paxtonxuhongzhi commented on #4886
https://github.com/dotnet/winforms/issues/4886#issuecomment-840972514

[2021-05-17 04:41] paxtonxuhongzhi commented on #4886
It doesn't need to run, you should see the difference in the designer. In the designer, when you drag the custom control to the form, you can see the custom control with the same code. In the designer of. Net framework, you can see the sub control panel of the custom control, change its size, and drag other controls into the sub control of the custom control. But in the design of.Net Core, you can

[2021-05-17 07:15] dreddy-work commented on #4872
Font is controlling scaling in this case and Control font is not updated when moved form one monitor to other with different DPI. OnFontchanged  bypass Font reset on control when owner drawn. We should be making sure to set right Font on control to get them scaled well. Will get the fix out soon.

[2021-05-17 08:26] RussKie commented on #4886
This is the Windows Forms runtime repo. Issues with VS and VS Designer should be sent via VS Feedback channel (the icon in the top right hand side corner). The reason for this - the VS Feedback tool captures a lot of additional information (such as screenshots, memory dumps, stack traces, assembly versions, etc.) that can help us to investigate your issue and identify the cause..

Please post a li

[2021-05-17 08:26] #4886 closed

[2021-05-17 08:43] SergeySmirnov-Akvelon commented on #4364
Closed as [external bug](https://github.com/microsoft/accessibility-insights-windows/issues/1123)

[2021-05-17 08:43] #4364 closed

[2021-05-17 22:02] RussKie commented on #1278
Related https://github.com/dotnet/winforms/pull/4860

[2021-05-18 00:56] paxtonxuhongzhi opened #4927 "ControlDesigner can not be used in .NetCore winform,but it works in .Net Framework,how to use it in .Net Core winform"
ControlDesigner can not be used in .NetCore winform,but it works in .Net Framework,how to use it in .Net Core winform
92764-image.png

92764-image

Such as this(Framework),the panel in framework work well,it visable in designer and controable,but in .Net Core,it just exist but can not use.
92677-image
92677-image.png
such as this（.Net Core）

my code as follow,

using System;
using System.Collectio

[2021-05-18 01:59] RussKie commented on #4927
There is no need to create duplicate issues, this is just plain counterproductive.

As I explained you in https://github.com/dotnet/winforms/issues/4886#issuecomment-842128490 this repo deals with Windows Forms runtime - i.e. how your app behaves when it is run. Issue with the Visual Studio Designer such as "I can't use my custom designer in VS" should be reported via VS Feedback tool (the icon in

[2021-05-18 01:59] #4927 closed

[2021-05-18 02:01] RussKie commented on #4927
Duplicate of #4886

[2021-05-18 02:07] paxtonxuhongzhi commented on #4927
I'm sorry I found the wrong place

[2021-05-18 02:08] paxtonxuhongzhi commented on #4927
Thank you!

[2021-05-18 08:14] vsfeedback opened #4928 "NET5 ImageList GDI object leak"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/NET5-ImageList-GDI-object-leak/1424122)._

---
In NET5 any Windows Form that contains a System.Windows.Forms.ImageList that is populated from a `((System.Windows.Forms.ImageListStreamer)(resources. GetObject("imageList1.ImageStream")));` Leak GDI objects that are never released by the Ga

[2021-05-18 08:22] Lydia-Shi commented on #4928
**More info:**
It's a regression issue, it occurs in 5.0&6.0, cannot occurs in 3.1&3.0

**Repro Steps:**
1.	Extract the attachment [CoreImageListGDILeak.zip](https://github.com/dotnet/winforms/files/6499537/CoreImageListGDILeak.zip)
2.	Open Task manger, select the 'Details' tab and add GDI objects column if not already visible
3.	Build and run the application, click ‘ShowForm2’ button to open Form

[2021-05-18 11:21] RussKie commented on #4928
I think this may be related to https://github.com/dotnet/winforms/issues/3567

[2021-05-18 11:35] Balkoth opened #4929 "WinForms HighDPI PerMonitorV2 TextBox scales wrong"
**.NET Core Version:**

SDK: 5.0.203 (383637d63f)
Runtime: 5.0.6 (478b2f8c0e)

**Problem description:**

If the main application window is not launched on the main monitor it scales the textbox and the used font wrong.

This is a screenshot from launching the application on the main display and dragging it onto the second screen:
![image](https://user-images.githubusercontent.com/80055480/11864352

[2021-05-18 15:50] dennis-garavsky commented on #4239
Just to indicate that we have been waiting for this Component Designer fix as well (for our commercial product for other .NET developers). We have a Controller class and a custom designer, a descendant of ComponentDocumentDesigner:

[code]
## Scenario
.NET developers can configure Controller properties in the property grid and also drag & drop Actions from the Visual Studio Toolbox. Actions are ch

[2021-05-18 16:42] kirsan31 commented on #4928
Yes. it's exactly this issue. It's leak due to unmanned `NativeImageList` destroy was removed from managed `NativeImageList` finalizer...

[2021-05-18 23:06] #3001 closed

[2021-05-18 23:34] reflectronic opened #8830 "Add more complete metafile support to System.Drawing"

[2021-05-19 01:12] weltkante commented on #4913
`WM_SETTINGCHANGE` causes the PropertyGrid to [reload its ImageList](https://github.com/dotnet/winforms/blob/d46ad2e8dc76248739d9ae22b28b399a6a6b299e/src/System.Windows.Forms/src/System/Windows/Forms/PropertyGrid.cs#L4427) without disposing the old one, leaking the handles owned by it. See also #4928 and #3567

There may be more things leaking, but disposing the ImageList before reassigning it hel

[2021-05-19 01:37] weltkante commented on #4828
Link to the discussion: #4893

[2021-05-19 06:00] RussKie commented on #4909
Updated dpi resolution algorithm.

[2021-05-19 07:29] kirsan31 commented on #3567
We already know two use cases (#4913, #4928) where GDI leak appear due to `NativeImageList` destructor removal.  I wonder, is this doable work - to check for proper disposing of all existing `ImageList` references? And even if so, we still can have cases like #4928...

[2021-05-19 10:09] weltkante commented on #3567
`NativeImageList` doesn't necessarily need a destructor, but `ImageListStreamer` and `ImageList` need to be handling it properly if it doesn't have one.

Note that this is actually two issues, `ImageListStreamer` has the additional issue that its not clear who is "owning" it and should dispose of it in the first place.

Generally I agree _some_ Finalizer needs to be in place, either `ImageListStre

[2021-05-19 11:07] KSchlobohm opened #4936 "Add template for .NET Core Windows Forms Class Library Project"
While porting some code from .NET Framework to .NET Core I encountered a scenario where I wanted a class library to reference the System.Windows.Forms library.

Please support a new project template which will automatically setup the SDK attribute and <UseWindowsForms>true</UseWindowsForms> element so that we can add a workflow that just works when migrating legacy projects.

[2021-05-19 12:06] Balkoth opened #4937 "WinForms HighDPI PerMonitorV2 MessageBox is blurry"
**.NET Core Version:**

SDK: 5.0.203 (383637d63f)
Runtime: 5.0.6 (478b2f8c0e)

**Problem description:**

MessageBoxes not shown on the primary screen are blurry.

This is a screenshot showing a MessageBox on the main display:
![image](https://user-images.githubusercontent.com/80055480/118809319-c2f94800-b8aa-11eb-85a0-16a0c820f430.png)

This is a screenshot showing the same MessageBox but on the s

[2021-05-19 13:30] kant2002 commented on #1756
@RussKie I see value for ILLink/NativeAOT scenario to be able to disable reading data from the web streams. I agree that this feature allow load data from URLs but this feature bring additional dependency which may be not wanted. Is it possible to put this feature (loading images from remote addresses) behind AppContext switche similar to how it is proposed here https://github.com/dotnet/aspnetcor

[2021-05-19 13:40] kant2002 opened #4940 "Replace FileSaveDialogRCW and FileOpenDialogRCW with manual creation of COM object"
Currently NativeAOT does not support `CoClass` and have not plans for [that for now](https://github.com/dotnet/runtimelab/issues/306#issuecomment-834523773). That's not direct statement, but I think it would be better fix here then add support in NativeAOT.

[2021-05-19 14:02] russgreen opened #4941 "ApplicationSettings PropertyBinding"
Apologies if this is not a WinForms issue but upgrading net48 apps to net50 results in the loss of access to ApplicationSettings PropertyBinding...e.g. https://www.dropbox.com/s/wakm27dyuprh6c1/Screenshot%202021-05-19%20145241.jpg?dl=0.

Would love to see this supported in .net50 apps.

[2021-05-19 17:01] dfev77 opened #4943 "Automation UI behavior breaking change on GetClickablePoint for menu items when compiling code with .Net 4.8"
Not sure if posting to right repo but as https://github.com/microsoft/dotnet/ seems to be retired, I'm posting it here. Please let me know if this should be open on another repository

* .NET Core Version: none

* Have you experienced this same bug with .NET Framework?: .Net 4.8

**Problem description:**
When WinForms application is compiled using .Net 4.8 (as opposed to 4.7.2), Automation is not