[2019-06-13 23:15] merriemcgaw commented on #994
@John-Qiao Can you see if this still repros and tell us if this is a regression from an earlier .NET Core Build?

[2019-06-13 23:31] merriemcgaw commented on #485
Remove or reword strings that reference .NET Framework. Then we'll list out where there are functional implications of making a change and evaluate them one by one.

[2019-06-13 23:36] merriemcgaw commented on #254
Let's go with ".NET Core."

[2019-06-13 23:41] merriemcgaw commented on #146
Please do go ahead and start the PR. I'll poke @OliaG and @terrajobst about getting the API review done and wrapped up. I think we can still get it in if we get everything lined up. @RussKie  will help with the PR review. Thank you for your patience as we're getting used to taking new big features from the community! 😀

[2019-06-13 23:44] merriemcgaw commented on #1123
So it looks like the template doesn't have EnableVisualStyles to have it enabled by default. @KlausLoeffelmann can you take a quick look at the template and update?

[2019-06-13 23:56] merriemcgaw commented on #1021
@Olina-Zhang can your team help us identify what build regressed this behavior to help us narrow down a cause?

[2019-06-13 23:59] merriemcgaw commented on #1015
@Olina-Zhang can you help us confirm that the menustrip can be created successfully.

[2019-06-14 00:00] merriemcgaw commented on #825
The current WebBrowser control does work in the latest builds. This is all we will achieve for GA.

[2019-06-14 00:00] #825 closed

[2019-06-14 00:04] merriemcgaw commented on #746
Closing this issue. Please reopen in the repros for you and you still have problems.

[2019-06-14 00:04] #746 closed

[2019-06-14 00:04] #673 closed

[2019-06-14 00:04] #672 closed

[2019-06-14 00:05] merriemcgaw commented on #671
@AdamYoblick you can close this out once @Olina-Zhang and team have the instructions and are set to go.

[2019-06-14 10:08] albahari commented on #520
Good news - I've just tested this in Preview6 and it appears to be working correctly. Was something fixed recently?

[2019-06-14 10:09] Amy-Li02 opened #1130 "An error pops up when adding new items(Form, Winforms UserControl…) to ConsoleApp and Class Library .net core application"
* Visual Studio Version: 16.2.0 Preview 3.0 [29013.64.d16.2]
* .NET Core Version:  .NET Core 3.0.100-preview7-012395
* Have you experienced this same bug with .NET Framework?: No

**More info**: This issue cannot repro on Winforms .net core application.

**Steps to Reproduce**:
1. Install .NET Core 3.0 SDK available from https://github.com/dotnet/core-sdk.
2. Create a ConsoleApp .Net Core applicat

[2019-06-14 15:20] AaronRobinsonMSFT commented on #520
@albahari nothing new just some minor bugs. Preview 5 had most of the support for `IDispatch` so this should also work fine there. Either way glad to hear the scenario is unblocked.

[2019-06-14 22:43] RussKie commented on #520
Is there something else outstanding, or can we close the issue?

[2019-06-15 04:41] #520 closed

[2019-06-16 10:17] kpreisser commented on #146
Hi @merriemcgaw,
thank you! I will start a PR then. For now, I have also removed the attributes for designer support and changed class `TaskDialog` to no longer inherit from `System.ComponentModel.Component` as mentioned in my previous comment.

Unfortunately, I just discovered a new (serious) bug in the native task dialog that is related to accessibility: When you "click" a button by pressing its

[2019-06-16 19:27] kpreisser commented on #146
Hi,

I have opened a draft PR for the Task Dialog (#1133).

While working on it, I noticed there is room for improvement to the handling of hyperlinks:
Currently, in order to use links in the task dialog, you have to set `TaskDialogPage.HyperlinksEnabled` to `true`. Then in the `TaskDialogPage.Text` property (or expander/footer text) you can use a HTML-like form to create a link, for example:
[cod

[2019-06-16 23:04] RussKie commented on #146
Thank you for a thorough description. I propose we deal with this separately, otherwise we'll never finalise this feature.
Would you like to open a new issue and copy/move your post there?

[2019-06-16 23:09] RussKie commented on #146
Let's deal with this separately as well.
Could you open a new issue please?

[2019-06-17 00:22] RussKie commented on #1130
Looks like a regression, I've tested the same scenario against the .NET Fx and it worked.

[2019-06-17 09:58] vladimir-krestov opened #1135 "Accessibility: Invalid BoundingRectangle value for CheckedListBox entries"
Steps to reproduce:
1. Create a new .Net Core WinForms app
2. Add to app the CheckedListBox control
3. Add to CheckedListBox some items
4. Open the Inspect tool and check the BoundingRectangle of CheckedListBox

Actual result:
The Inspect shows the bounds of invisible items.
![CheckedListBoxBounds](https://user-images.githubusercontent.com/49272759/59595862-4dedc880-90ff-11e9-8bbe-07ba584b70d8.png

[2019-06-17 10:40] GSPP commented on #146
Maybe a helper method `TaskDialog.GetHyperlinkText(string href, string text)`?

[2019-06-17 17:59] kpreisser commented on #146
Hi @GSPP,

Thanks, good idea! That won't require any incompatible changes to the current proposed API, so it can implemented at a later time.
I will later create a separate issue for it, as @RussKie requested.

[2019-06-17 18:56] jnm2 commented on #146
This probably isn't useful, but the thought struck me that you could make an API that takes a FormattableString instance:

[code]

[2019-06-18 08:54] RussKie commented on #1102
Thanks for the suggestions.

I've created a demo project (https://github.com/RussKie/Test-VS-Visualizers), however it doesn't seem to be picking the changes if I uncomment the attributes:
https://github.com/RussKie/Test-VS-Visualizers/blob/master/Form1.cs#L16-L23
![image](https://user-images.githubusercontent.com/4403806/59667444-1e6fb680-91fa-11e9-8033-13d9a6063e38.png)

Do I need to subclass typ

[2019-06-18 10:21] shutdown256 opened #1143 "In self-contained app Application.ExecutablePath returns dll"
I'm not sure if this is bug or by design but in a self-contained app `Application.ExecutablePath` return path to dll and there is no apparent way to easily get path to the executable. What is recommended way to solve this problem?

[2019-06-18 10:44] John-Qiao opened #1144 "Cannot add ElementHost control in project because there’s no Integration namespace in System.Windows.Forms"
* .NET Core Version: 3.0.100-preview7-012434 from Master branch
* Have you experienced this same bug with .NET Framework?: No

**OS:** RS4 X64
**VS:** Dev16 16.2.0 Preview 3.0 [29014.106.d16.2]
**.NET Core:** 3.0.100-preview7-012434 from Master branch

**More Info:**
This issue can repro in 3.0.100-preview7-012361 from Master branch too. But it’s not existed in latest 3.0.100-preview6-012266 from

[2019-06-18 12:06] trivalik opened #1147 "Control.Enabled not virtual"
* .NET Core Version: only winforms related
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
We integrated a internal system to change independent from control the enable flag, therefore we add the Enabled property to hide the original function. Make "Enabled" virtual would solve our issue that if it casted down to "Control" the wrong "Enabled" property is ca

[2019-06-18 12:46] lukaschal commented on #1076
Issue#1 - String "MultilineStringEditorWatermark" is translated correctly in localization repository. See TRK example below.

https://github.com/dotnet/winforms/blob/master/src/System.Windows.Forms.Design.Editors/src/Resources/xlf/SR.tr.xlf

Rid="MultilineStringEditorWatermark"
source: Press Enter to begin a new line.\r\nPress Ctrl+Enter to accept Text.</source>
target:Yeni satıra başlamak için En

[2019-06-18 12:51] lukaschal commented on #1076
Issue#2 - All strings has in a target added multiline by "\r\n" same as represented in a source.

[2019-06-18 13:38] weltkante commented on #1147
I think overriding Control.Enabled and returning anything else than the base class value would just by a lie (i.e. would not lead to changing control state), since the implementation is in the setter. So the getter cannot be virtual, only the setter.

[2019-06-18 14:52] ericstj commented on #1102
Hmm, wonder why I didn't see that, but I confirm the same as you.  You can manually update autoexp per instructions here: https://docs.microsoft.com/en-us/visualstudio/debugger/using-the-debuggerdisplay-attribute?view=vs-2019

For me this was:
1. open elevated command prompt.
2. `cd C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\Common7\Packages\Debugger\Visualizers\Original`
3. `n

[2019-06-18 18:51] AdamYoblick opened #1151 "Failing unit test: SiteNestedContainer_Add_Unloading_Nop"
https://dev.azure.com/dnceng/internal/_build/results?buildId=229007&view=ms.vss-test-web.build-test-results-tab&runId=5675834&resultId=101249&paneView=debug

System.Exception : There is no designer for the class System.ComponentModel.Design.Tests.SiteNestedContainerTests+DisposingDesignerComponent.

Stack trace
at System.ComponentModel.Design.DesignerHost.AddToContainerPostProcess(IComponent compo

[2019-06-18 19:54] weltkante commented on #1076
Probably related to dotnet/wpf#977

[2019-06-18 20:40] hughbe commented on #1017
Fixed in https://github.com/dotnet/winforms/pull/1018

[2019-06-18 20:40] #1017 closed

[2019-06-18 21:21] #1135 closed

[2019-06-18 21:48] #778 closed

[2019-06-18 22:08] RussKie commented on #1102
Awesome, thanks. Renaming autoexp.dll worked!
![image](https://user-images.githubusercontent.com/4403806/59723071-befcbf80-9268-11e9-9c01-4ed3497efa3f.png)

@Olina-Zhang please use my demo project https://github.com/RussKie/Test-VS-Visualizers to test

[2019-06-19 00:00] hughbe commented on #1104
https://github.com/dotnet/winforms/pull/1158

[2019-06-19 00:01] hughbe commented on #1151
Hmm this doesn't make much sense:

Maybe `BeginLoad` does some async stuff?
[code]

[2019-06-19 00:12] hughbe commented on #1059
@zsd4yr @ViktorHofer is there a way to re-generate the ApiCompatBaseline file, or at least test it?

[2019-06-19 00:33] AdamYoblick commented on #1151
Yeah I’m not sure, and it passed in release. So it’s most likely a race condition like you suggested. Either way it failed the build so I commented it out for now until we can fix it :)

________________________________
From: Hugh Bellamy <notifications@github.com>
Sent: Tuesday, June 18, 2019 7:01:35 PM
To: dotnet/winforms
Cc: Adam Yoblick; Author
Subject: Re: [dotnet/winforms] Failing unit test:

[2019-06-19 05:07] #1104 closed

[2019-06-19 07:20] weltkante commented on #1144
This namespace is not part of WinForms, its part of WPF. The Assembly is `WindowsFormsIntegration.dll` and in Desktop Framework you have to add the reference explicitely.

Not sure how the workflow is to configure a .NET Core project to enable both WinForms and WPF, but I wouldn't expect it to be on by default, because that would mean all WinForms projects would have to load WPF "just in case". Yo

[2019-06-19 07:33] Amy-Li02 commented on #1015
Verified the issue with the latest .NET Core SDK 3.0.100.12499 -preview7 from master branch, menustrip can be created successfully, no exception was thrown both design time and runtime.

[2019-06-19 08:10] Amy-Li02 commented on #1021
@merriemcgaw
Issue #1 -  When the File menu is open and press 'S' to save, the menu item still shown on Form.
Issue #2 -  When pressing up-arrow on the first menu item, it doesn't cycle to the last item on the menu.

For Issue #1, this is a regression, cannot repro in .Net Core 3.0 SDK 3.0.100-preview4-011216 release build.
For Issue #2, verified in the latest .Net Core SDK 3.0.100.12499 - preview

[2019-06-19 08:56] rookie0jnr opened #1163 "Code coverage locally"
Hello,

Is it possible to obtain code coverage report locally? If yes, what are the necessary steps (tools) in order to get one (Windows x64, VS 16.2)?

Moreover, the links for [codecov.io](https://codecov.io/gh/dotnet/winforms) on the main page  do not show the "coverage sunburst". They used to be there. Is this a problem with dotnet/winforms project or on codecov.io's end?

Thank you in advance.

[2019-06-19 10:48] Olina-Zhang commented on #1102
@RussKie, tested your VS PR build, Winforms framework scenarios look good, and no issue was found. And tested your provided demo project as ReadMe.md file.
Before renaming autoexp.dll on test machine, run app directly, just fontFamily and fontSize in fontDialog has visualizer issue in watch window:
![image](https://user-images.githubusercontent.com/26474449/59759303-9d89dc80-9244-11e9-8263-79269d4

[2019-06-19 11:04] weltkante commented on #1151
Its not called `BeginLoad` because it does async stuff, but to mark the begin of an ongoing operation which takes more than one call to complete. Just like `BeginUpdate`/`EndUpdate` pairs mark an update operation on some controls. While technically it could kick off some background operation I don't think the default implementation does that, at least I never came across it.

So dismissing this as

[2019-06-19 12:39] onovotny opened #1166 "error CS1069: The type name 'Icon' could not be found"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
3.0.100-preview7-012503

Looks like a type `Icon` was moved to a new assembly, but that assembly isn't referenced by default by the SDK targets:

[code]

[2019-06-19 12:43] AdamYoblick commented on #1151
Well it failed in debug but passed in release, so it’s either some sort of race condition or something specific to the debug config. :)

Not meaning to dismiss it, just taking a guess. We’ll need to dig in to be sure. Commented it out in the meantime to get some build stability back.

________________________________
From: Tobias Käs <notifications@github.com>
Sent: Wednesday, June 19, 2019 6:04:3

[2019-06-19 13:00] onovotny commented on #1166
Moving to https://github.com/dotnet/corefx/issues/38682

[2019-06-19 13:00] #1166 closed

[2019-06-19 15:51] IGMikeS opened #1168 "TextBox raises TextChanged event the first time it gets focus when there is an Accessibility client running"
* .NET Core Version: Version:   3.0.100-preview6-012264
* Have you experienced this same bug with .NET Framework?: No

A TextBox control on a form fires the TextChanged event the first time it gets focus, even though the text has not changed. This only happens when there is an accessibility client running.

To reproduce the issue, create a new NetCore Winforms project and use the following code in

[2019-06-19 16:14] jmarkyston commented on #1015
Great! I'm not seeing that preview version in the usual places: https://dotnet.microsoft.com/download/dotnet-core/3.0
https://github.com/dotnet/core/releases

Should I wait for it to become available publically, or should I install it from somewhere else?

[2019-06-19 16:37] weltkante commented on #1015
@jmarkyston preview7 isn't released yet, you'll have to consume [daily builds](https://github.com/dotnet/core/blob/master/daily-builds.md) or wait for it

[2019-06-19 16:47] jmarkyston commented on #1015
Cool. Thanks guys. I'll let you know how it goes.

[2019-06-19 21:06] zsd4yr commented on #1059
@Shyam-Gupta 	may know more

[2019-06-19 21:08] zsd4yr commented on #1101
@jmarolf 	gentle bump

[2019-06-19 21:12] ViktorHofer commented on #1059
C:\git\corefx\src\shims>dotnet msbuild /t:Rebuild ApiCompat.proj

[2019-06-19 21:14] ViktorHofer commented on #1059
cc @ericstj

[2019-06-19 21:40] ericstj commented on #1059
As Viktor mentioned you can build the project that runs APICompat specifying /p:BaselineApiCompat=true.  In this case its `src/System.Design/src/System.Design.Facade.csproj`

[2019-06-19 22:51] merriemcgaw commented on #1168
@stefanov-stefan are you able to take a look at this by any chance?

/cc @M-Lipin

[2019-06-19 22:54] merriemcgaw commented on #1163
@zsd4yr can you help get us some docs here?

[2019-06-19 23:03] merriemcgaw commented on #1147
We are hesitant to make a change like this, because it has been working this way and there are expectations for how this will behave. If we get more feedback wanting a change like this I'm happy to revisit the issue.

[2019-06-19 23:03] #1147 closed

[2019-06-19 23:07] merriemcgaw commented on #1144
@vatsan-madhavan what are your thoughts on how we ought to get this enabled for the developers using the ElementHost control in their apps, and not have WPF load for all apps?

[2019-06-19 23:11] merriemcgaw commented on #1144
@John-Qiao can you help narrow down which build it changed in?

[2019-06-19 23:24] vatsan-madhavan commented on #1144
It's not going to _load_ WPF.

Setting both `<UseWindowsForms>true</UseWindowsForms>`  and `<UseWpf>true</UseWpf>` will switch from `Microsoft.WindowsDesktop.App.WindowsForms` FrameworkReference profile to `Microsoft.WindowsDesktop.App` profile.

The _full_ profile will add references to all assemblies in `Microsoft.WindowsDesktop.App` - yes - but what the app _loads_ is only what intends to _use_

[2019-06-19 23:52] vatsan-madhavan commented on #1144
BTW this would have changed recently (<2 weeks)

FrameworkReference profile refactoring was done in sdk ~month ago (https://github.com/dotnet/sdk/pull/3259), and support for it was just added in WindowsDesktop SDK  ~2wks ago:https://github.com/dotnet/wpf/pull/868

Also see https://github.com/dotnet/cli/issues/10536

[2019-06-20 00:01] RussKie commented on #1102
Using the default VS visualisers you should see more errors:
![image](https://user-images.githubusercontent.com/4403806/59809058-4f5b0300-9342-11e9-8261-9b08eb06d188.png)

Were you running it against the latest WinFroms version built locally?

[2019-06-20 05:22] trivalik commented on #1147
Sorry there was a misunderstanding, it is of course just the setter implementation, which is changed.

[2019-06-20 05:58] weltkante commented on #1147
Yes, that is more or less what I meant when saying making the setter virtual. Since you cannot make just the the setter of a property virtual in C# having a separate virtual function being called by the setter is the only workable implementation.

[2019-06-20 06:01] Olina-Zhang commented on #1102
@RussKie, I used VS is from your fix PR VS, it should without any visualizers issue in test app. Using fixed PR build to test directly, the result should be same as renaming autoexp.dll + uncomment DebuggerDisplayAttribute declarations in code. Is it right? In addition, we tried to use non-fixed PR VS for testing directly, more errors found in watch window, then rename autoexp.dll + uncomment Debu

[2019-06-20 06:20] RussKie commented on #1102
Without my fix viewing WF types, you should see a number of errors (as per the screenshot above).
Rename autoexp.dll + uncomment DebuggerDisplayAttribute declarations in code - you should see all errors gone.

[2019-06-20 06:23] RussKie commented on #1059
Added to the wiki - https://github.com/dotnet/winforms/wiki/Re-generate-the-ApiCompatBaseline-file

[2019-06-20 06:28] RussKie opened #1176 "Cleanup everything related to partial trust"
**Problem description:**

Copied from https://github.com/dotnet/winforms/pull/1097#discussion_r295588816

[code]

`System.Security.SecurityCritical` is also no longer functional and can be removed.

Related: https://github.com/dotnet/winforms/pull/207

[2019-06-20 06:31] RussKie opened #1177 "Cleanup everything related to System.Security.Permissions"
**Problem description:**

Copied from https://github.com/dotnet/winforms/pull/1097#discussion_r295587944

[code]

`System.Security.Permissions` in its entirety is non functional on .netcore. It’s an empty set of classes which we make available only for source compatibility.
Anything related to partial trust is a target for cleanup.

Related: https://github.com/dotnet/winforms/pull/207

[2019-06-20 07:52] jmarolf commented on #1101
@zsd4yr sorry I missed this, thanks for pinging me.  I do not know where this item template is defined but presumably it will need to be updated to not load the current projects assembly into VS (which fails because VS is a .NET Framework process)

[2019-06-20 10:54] Olina-Zhang commented on #1102
Thanks for your confirmation, your fix is good.

[2019-06-20 11:23] vladimir-krestov opened #1178 "Accessibility: Name property of "Description” pane and "ToolBar" pane in PropertyGrid must not include the same text as its LocalizedControlType/ControlType properties"
**Repro steps:**
1. Create .Net Core Winforms app
2. Add to app PropertyGrid control
3. Open the Inspect tool and take a look at the PropertyGrid tree

**Actual:**
1. For “Description” pane in PropertyGrid, Name property of “Description” pane in PropertyGrid includes the same text as its LocalizedControlType/ControlType properties
2. For “ToolBar” in PropertyGrid, Name property of Toolbar in Prope

[2019-06-20 15:35] zsd4yr commented on #1101
strange that this error contains a reference to the .NET Framework; @RussKie 	is this error message something you encountered during your work to remove framework-isms #485 ?

[2019-06-20 15:43] zsd4yr commented on #1163
@sharwell 	are you aware of any regression / intentional break in codecov.io that would result in this loss?

@AdamYoblick 	did you happen to touch any of the files related to codecoverage? I remember you had been asking me about [codecov.yml](https://github.com/dotnet/winforms/blob/master/codecov.yml)

[2019-06-20 16:12] AdamYoblick commented on #1163
Nope, I didn't touch anything codecov related. All I did recently was remove helix stuff. :)

[2019-06-20 17:22] dsplaisted commented on #1144
I think for now having to set `UseWPF` is OK, and once we have the `Reference` support, you should also be able to specifically reference WindowsFormsIntegration without the other WPF references.

[2019-06-20 20:04] vatsan-madhavan commented on #1144
+1

[2019-06-20 21:24] sharwell commented on #1163
I've been having some issues with codecov in other projects for a few days. They are working on it.

[2019-06-20 22:04] zsd4yr commented on #1163
Is there an issue or set of issues you can link us to in order to track progress?

[2019-06-20 23:02] sharwell commented on #1163
https://community.codecov.io/t/processing-errors-in-repository-that-was-working-fine/272

[2019-06-20 23:13] zsd4yr commented on #1101
@jjmew @diverdan92 Do you two have any ideas about Item Templates in .NET Core?

[2019-06-20 23:15] zsd4yr commented on #1101
@vatsan-madhavan @amit-kabra I believe you guys had a similar ask in WPF which was captured in Core Tactics this morning. I recall Charles had a bit to say about Item Templates as well, but I cannot find his github...

[2019-06-20 23:25] merriemcgaw commented on #1144
@John-Qiao can you confirm adding the UseWPF flag to the project file will allow you to add an ElementHost control.

[2019-06-20 23:27] #1106 closed

[2019-06-20 23:27] merriemcgaw commented on #1092
@leecow can you give us the correct third party notices file to confirm ours is correct?

[2019-06-20 23:39] merriemcgaw commented on #254
On second thought, let's do "Microsoft .NET"

[2019-06-20 23:42] OliaG commented on #254
Yes, I believe we are keeping the trademark next to "Microsoft", so "Microsoft® .NET"

[2019-06-20 23:49] merriemcgaw commented on #1123
Moving to the designer repo and we can enable this when we say we have full support for VB in the application.

[2019-06-20 23:53] zsd4yr commented on #1123
[code]

[2019-06-20 23:55] merriemcgaw commented on #1101
@Tanya-Solyanik is this actually a designer issue?

[2019-06-21 01:09] RussKie opened #1183 "Update the PR template with link to Accessibility Insights tool guide"
**Problem description:**

Update the PR template with a link to a guide on how to use the Accessibility Insights tool.
Requested in https://github.com/dotnet/winforms/pull/1172#discussion_r295874239.

@merriemcgaw will provede the link.

[2019-06-21 02:22] RussKie commented on #1101
No, I don't believe it is related

[2019-06-21 02:59] vatsan-madhavan commented on #1101
/cc @chabiss

[2019-06-21 05:30] RussKie commented on #254
A quick test, the product name comes from `AssemblyProductAttribute`:
![image](https://user-images.githubusercontent.com/4403806/59899709-12be0300-9439-11e9-942a-e740faa71ffc.png)

That is set at the project level:
![image](https://user-images.githubusercontent.com/4403806/59899761-3e40ed80-9439-11e9-8d48-49d549caa4f8.png)

[2019-06-21 10:42] Amy-Li02 opened #1188 "[Loc]The translations of "Categorized", "Alphabetical" and "Property Pages" in Property Grid are not consistent between .Net Core and .Net framework"
* VS: Version 16.2.0 Preview 3 [29020.229.d16.2]
* .NET Core Version: 3.0.100-preview7-012535 from master branch
* Affected Languages: CHT, CSY, DEU, FRA, PTB

**More info:**
This issue cannot reproduce in those local languages:  CHS, RUS, JPN, KOR, PLK, ITA, TRK, ESN

**Steps to reproduce:**

1. Install latest VS & .NET Core 3.0 on loc machine, then open the attached app.
[WindowsFormsApp7.zip](h

[2019-06-21 12:32] Symbai commented on #1143
I've noticed this too. I believe the executable, considering its tiny size, is just a wrapper hosting your application which is basically still the DLL. So the path of the executable of your application is the path to your dll. To me it looks like an expected behavior which is by-design.

By the way it also links to your DLL when not self contained.

[2019-06-21 19:06] hughbe opened #1193 "Use Array.Empty<T> instead of new T[0]"
https://github.com/dotnet/winforms/pull/1181

[2019-06-21 19:09] leecow commented on #1092
Working on this on another thread with Richard, who originally created the files. Shooting to have an update on this next week.

[2019-06-21 23:30] diverdan92 commented on #1101
@cartermp was looking at item templates.

[2019-06-22 00:52] merriemcgaw commented on #1183
https://accessibilityinsights.io/https://accessibilityinsights.io/

[2019-06-22 11:03] kpreisser opened #1199 "Task Dialog: Improve hyperlink usage"
:arrow_double_down::arrow_double_down: [**CLICK HERE TO SCROLL DOWN TO THE FINAL PROPOSAL**](https://github.com/dotnet/winforms/issues/1199#issuecomment-822142698) :arrow_double_down::arrow_double_down:

----

Hi,

as requested by @RussKie in https://github.com/dotnet/winforms/issues/146#issuecomment-502493259, I've opened a new issue for this topic.
**Note:** The listed options don't need to chan

[2019-06-22 11:05] kpreisser commented on #146
I opened #1199 to deal with this issue.

Thanks, I didn't know about the `FormattableString` produced by an interpolated string!
I added it to #1199 (Option B).

[2019-06-22 13:02] jnm2 commented on #1199
One thing to be aware of with FormattableString. If you manually create a variable and don't explicitly type it as FormattableString, C# prefers the type `string` which means the templated string is rendered to `string` before getting passed.

[code]

A Roslyn analyzer could provide a warning and a fix for this scenario.

[2019-06-22 13:07] jnm2 commented on #1199
One thing to be aware of with FormattableString. If you manually create a variable and don't explicitly type it as FormattableString, C# prefers the type `string` which means the templated string is rendered to `string` before getting passed.

[code]

This is okay so long as there is no overload of `FormatWithHyperlinks` that accepts a string. The compiler will draw your attention to it by errorin

[2019-06-23 23:25] RussKie opened #1210 "StringCollectionEditor unable to add - constructor on type System.String not found"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
  - .NET Core SDK (reflecting any global.json):
  - Version:   3.0.100-preview6-012264
  - Commit:    be3f0c1a03

* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

![image](https://user-images.githubusercontent.com/4403806/59983255-c8b76600-9660-11e9-8b96-92d6f445359f.png)

*

[2019-06-23 23:29] RussKie commented on #1115
It looks there are more missing editors, I missed those as they are internal:

* [] StringCollectionEditor, System.Windows.Forms.Design
* [] StringCollectionEditor, System.Windows.Forms.Design
* [] StringCollectionEditor, System.Windows.Forms.Design
* [] StringCollectionEditor, System.Windows.Forms.Design
* [] StringCollectionEditor, System.Windows.Forms.Design
* [] StringCollectionEditor, System.

[2019-06-23 23:41] RussKie commented on #1115
It looks there are more missing editors, I missed those as they are all `internal`:

Descendants of `CollectionEditor` (only in our namespaces):
* [] **ColumnHeaderCollectionEditor**, System.Windows.Forms.Design
* [] **DataGridColumnCollectionEditor**, System.Windows.Forms.Design
* [] **ImageCollectionEditor**, System.Windows.Forms.Design
* [] **IntegerCollectionEditor**, System.Windows.Forms.Desi

[2019-06-24 00:29] #254 closed

[2019-06-24 08:04] John-Qiao commented on #1144
@merriemcgaw I retested this scenario in .NET Core 3.0.100-preview7-012578 app, after added <UseWpf>true</UseWpf> flag in project file, the ElementHost control works well in form now.

[2019-06-24 08:05] RussKie commented on #1144
Can we close it now?

[2019-06-24 08:08] RussKie commented on #994
I think this is caused by a regression introduced in https://github.com/dotnet/winforms/commit/c1a3b671e0ad2d3a19ff5970b42b6a900e78ec8d.
More info: https://github.com/dotnet/winforms/commit/c1a3b671e0ad2d3a19ff5970b42b6a900e78ec8d#comments

I suspect we need to perform a thorough review of that change, or revert it back.

[2019-06-24 09:44] John-Qiao commented on #994
@merriemcgaw @RussKie This issue still repros in the latest .NET Core 3.0.100-preview7-012578 version from Master branch. And in my test result, it's a regressions issue from .NET Core 3.0.100-preview5-011534 version.

[2019-06-24 10:07] hughbe commented on #1210
I don't think we've ported `StringCollectionEditor` yet?

[2019-06-24 10:11] weltkante commented on #1210
Yes #1115 is updated with more missing editors

[2019-06-24 10:20] weltkante commented on #1143
I don't think its by design, but rather a side effect of .NET Core handling things differently. [Application.ExecutablePath](https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/Application.cs,0765d7c8c8bf6a14) already has code to figure out the native entry point but in Desktop Framework the entry point is always in an exe because the native code to load th

[2019-06-24 10:50] Symbai commented on #1143
You don't have to fall back to unmanaged code. You simply use Path.ChangeExtension on the return of Application.ExecutablePath. I would consider it as a breaking change similar to the behavior of Process.Start where on .NET Framework it automatically uses shellexecute while on core it does not. Which means if you do Process.Start("explorer.exe") it works in .NET framework but not in .NET Core, whi

[2019-06-24 11:04] KlausLoeffelmann opened #1216 "Enable the Visual Basic Application Framework"
Visual Basic in .NET had the ability to configure a series of application settings just via the App Designer. The following screenshot shows the Application Framework part of the AppDesigner for Visual Basic projects:

<img width="275" alt="image" src="https://user-images.githubusercontent.com/9663150/60013002-a3852080-967d-11e9-9262-28dd924dbb0e.png">

We should consider reenable this for VB Core

[2019-06-24 11:06] weltkante commented on #1143
Well, the decision with Process.Start was that they wanted it to behave the same on all platforms, but only Windows has the ShellExecute support, so whatever choice they took it was going to be broken from the start.

The case here is different, the implementation already has code to look for the "right" return value (return the native exe) but it isn't triggered because what was previoulsy an edg

[2019-06-24 11:10] KlausLoeffelmann commented on #1123
The VB Application Framework is missing completely in Core, hence the behavior.
We have discussed this, if I recall correctly, in a meeting around the time frame when SetHighDpiMode happened, but that was low prio at the time. We should schedule another meeting for this, since this - I suggest - has to be redone. I'll create a dedicated issue for that here: #1216.

[2019-06-24 11:36] hughbe commented on #994
Yes. It looks like the `EM_*` messages are incorrect. Bizarely they were incorrect before my change (when defined in RichTextBoxConstants.cs) but it was being used in different places.

https://github.com/dotnet/winforms/pull/791/files#diff-aafd5fb74483abd9f7febf2c487e1385L60
![image](https://user-images.githubusercontent.com/1275900/60015836-594f6f80-967c-11e9-8aba-661920a456e0.png)

[2019-06-24 11:56] weltkante commented on #1216
Several mistakes here:
* The setting is not closing the existing application, this is not possible to do reliably. Many applications ask if you want to exit and if you cancel you'd have two instances. If you'd attempt killing the process forcefully you'd have risk of data loss.

  Instead what the setting does is to activate the main window of the application and then exit out, so all secondary in

[2019-06-24 13:46] hughbe opened #1219 "ScrollBar.OnMouseWheel(null) throws NRE"
Should check for null before using

[2019-06-24 13:51] hughbe opened #1220 "Setting ScrollProperties with a null container throws NRE"
Should not try to update the parent if there is no parent

[2019-06-24 15:29] KlausLoeffelmann commented on #1216
Well, this was just describing the scope, and a brief explanation what that all actually is, since most of the C# Devs are not that familiar with it. And I said, that I would approach this by starting to port `WindowsFormsApplicationBase`, and I think it is possible to do this port incrementally. I don't see how this is then necessarily rushed, though I am happy to hear o alternative feasable sugg

[2019-06-24 16:20] AdamYoblick opened #1222 "Failing unit test: ListControl Ctor_Default"
See https://dev.azure.com/dnceng/internal/_build/results?buildId=235831&view=ms.vss-test-web.build-test-results-tab&runId=5849926&resultId=100147&paneView=debug

[2019-06-24 16:51] #1193 closed

[2019-06-24 17:35] merriemcgaw commented on #1216
@OliaG we need to discuss when this should be done. I'm thinking it will be closer to 3.1 than 3.0 GA to be honest. How many of these could/should be in the templates enabled in a Sub Main or something? We could get the template updated now for the defaults we want, and document the rest then we can work on the VS side in a future VS update.

[2019-06-24 18:01] KlausLoeffelmann commented on #1216
We could do a lot of that via templates. And even if this is a bit against the original VB philosophy, I'd rather like that approach (at least for the time being, and as an permanent alternative), since it would be more honest - de-blackbox-ing, so to say... 😄 .

[2019-06-24 18:28] Symbai commented on #1143
This "fix" would need to be a windows - only thing then. So it would behave differently on different OS, which you said, was the goal why shellexecute was changed, although it's a huge breaking change as it's literally never set manually to true in most source codes I've seen.

That was my thought of why this behavior could be a "by design" decision. I'm not saying that a fix doesn't make sense, r

[2019-06-24 21:48] vatsan-madhavan opened #1226 "Add Warning in WindowsDesktop SDK for UseWinForms"
See https://github.com/dotnet/wpf/pull/1027#issuecomment-505092719

The comment from @drewnoakes suggests that there is occasional confusion that leads to the use of `UseWinForms` in `Microsoft.NET.Sdk.WindowsDesktop` based projects instead of using the correct property `UseWindowsForms`.

The current behavior will be warning `NETSDK1106` ("Windows Desktop SDK requires UseWpf or UseWindowsForms").

[2019-06-24 22:06] hughbe opened #1227 "new TreeNode().NextNode throws NRE"
Should return null

[2019-06-24 22:17] #465 closed

[2019-06-24 22:17] hughbe commented on #1227
Same with PreviousNode

[2019-06-24 22:29] hughbe opened #1228 "new TreeNode().Handle throws NRE"
Should not create handle without TreeView

[2019-06-24 22:30] #1076 closed

[2019-06-25 00:57] merriemcgaw commented on #1216
I was thinking as a temporary approach definitely, not as the long term option. But your caution about not being un-editable is a point well taken. I'd love @weltkante's  and @wjk's thoughts on the approach as a bandaid for broken scenarios.

[2019-06-25 05:54] #1178 closed

[2019-06-25 07:49] weltkante commented on #1216
Templates are probably fine (especially for simple things which are just a method call you do or don't do) but you should have a good way for educating VB programmers about the changes, otherwise there's going to be confusion.

I don't feel great about doing templating as a temporary approach, but mostly because I have no idea how an update strategy would look like when you want to provide an alte

[2019-06-25 08:00] weltkante commented on #1143
@Symbai The code for `Application.ExecutableImage` in WinForms is already Windows only anyways, and the `Application` class won't be going cross-platform anytime soon either because it is based on the Windows message loop. For cross-platform there is `Assembly.GetEntryAssembly` and I don't suggest to change that.

[2019-06-25 09:16] lukaschal commented on #1188
Fixed on all languages.

0; "PBRSToolTipCategorized"
0; "PBRSToolTipAlphabetic"
0; "PBRSToolTipPropertyPages"

[2019-06-25 09:20] RussKie commented on #1188
@lukaschal is there anything that need changing in the source?

[2019-06-25 09:25] MohanramAnbukkarasu commented on #570
The same issue exists also in .Net Framework 4.7.2

[2019-06-25 10:37] hughbe commented on #1222
I can’t acess this log can you share?

[2019-06-25 11:56] RussKie commented on #1222
[code]

[2019-06-25 13:28] AdamYoblick commented on #1222
Looks like the fonts have the same data but are probably not the same reference. So we either need to compare the font properties one by one or override Font.Equals and change to Assert.Equal.

Not sure I’d override font.equals is an option because of logic implications in the real code, so comparing font properties is probably the safest.

________________________________
From: Igor Velikorossov

[2019-06-25 14:19] weltkante commented on #1222
`Font` already [overrides](https://referencesource.microsoft.com/#System.Drawing/commonui/System/Drawing/Advanced/Font.cs,447b844c726afc0f) `Equals` for value equality

[2019-06-25 14:21] hughbe opened #1230 "Building on Windows causes errors"
[code]

Any ideas?

[2019-06-25 15:15] kfrancis commented on #989
@RussKie @JuditRose Any luck yet?

[2019-06-25 15:20] AdamYoblick commented on #1222
Well then changing to Assert.Equal sounds like the appropriate fix here. Thanks @weltkante :)

[2019-06-25 17:50] zsd4yr commented on #1216
@merriemcgaw 	@KlausLoeffelmann 	@RussKie 	If we want to update the template, that is probably something we want to try to get in before Monday (snap to Go Live preview)

[2019-06-25 21:06] merriemcgaw commented on #1216
@weltkante has the same point @KlausLoeffelmann made offline to me. We don't have any good way of making it easy to move from the templates idea to the Property Pages properties. I wonder if it would be better to document the code equivalents for these options so devs can choose which ones they want to add in their apps and be ready to remove in favor of property pages later. @OliaG what do you th

[2019-06-25 21:43] AdamYoblick commented on #1230
I was not able to repro this locally, let me try again on a clean VM to make sure. I'll get back to you.

[2019-06-25 21:43] AdamYoblick commented on #1230
Out of curiosity, did you go through the setup required at https://github.com/dotnet/winforms/blob/master/Documentation/building.md ?

[2019-06-25 21:49] hughbe commented on #1230
Yes I ran build from root

[2019-06-25 22:01] AdamYoblick commented on #1230
Sorry, I meant the pre-requisites at https://github.com/dotnet/corefx/blob/master/Documentation/building/windows-instructions.md

[2019-06-25 22:18] AdamYoblick commented on #1230
I just created a clean win10 vm in azure and I followed your steps exactly. I was not able to repro even without installing any of the prerequisites.

I remember in the past I had issues creating/building repos in the c:\users\<username> folder. Can you please try from a folder outside of c:\users, maybe c:\src or something similar to see if your problem is resolved?

[2019-06-25 22:51] RussKie commented on #1102
The VS PR merged.
https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/186044

[2019-06-25 22:51] #1102 closed

[2019-06-25 22:52] merriemcgaw commented on #989
@kfrancis, @MrB0nd can you help us to prioritize our work and let us know specifically which ones you need in order to unblock your migrations?

[2019-06-25 22:53] RussKie commented on #989
No, sorry. We're currently focusing on P7 milestone items.
Hopefully we'll get to this soon.

[2019-06-25 23:18] AdamYoblick commented on #1230
/cc: @RussKie

[2019-06-25 23:37] RussKie commented on #1230
Try running `PS> .\build-local -FullClean`

[2019-06-26 01:25] RussKie commented on #1222
FWIW, here's an explanation of the cause - https://github.com/xunit/visualstudio.xunit/issues/142

[2019-06-26 05:09] vatsan-madhavan commented on #1226
/cc @RussKie, @davkean, @dsplaisted, @drewnoakes , @stevenbrix , @rladuca , @ryalanms , @nguerrera @davidwengier

This is my attempt at gently moving over the discussion about `WindowsForms` vs. `WinForms` from https://github.com/dotnet/wpf/pull/1027 over to here. I think I've tagged everyone who was a participant there except bot-accounts ;-)

[2019-06-26 05:13] vatsan-madhavan commented on #1226
https://github.com/dotnet/wpf/pull/1027#issuecomment-505717076

@davkean, why would accepting both definitions be a problem? Couldn't we make it so whenever `UseWinForms` is set, `UseWindowsForms` is also set by WindowsDesktop SDK targets, so that the rest of our tooling can continue working off of `WindowsForms` without having to be aware of this accommodation ?

[2019-06-26 05:27] vatsan-madhavan commented on #1226
https://github.com/dotnet/wpf/pull/1027#issuecomment-505715041

@drewnoakes, not quite - please refer to the issue description above.

These fail to receive warnings/guidance today:
- `Microsoft.NET.Sdk.WindowsDesktop` projects that set `UseWpf` and also set `UseWinForms`
- `Microsoft.NET.Sdk` projects that set `UseWinForms`

These will receive warnings today:
- `Microsoft.NET.Sdk.WindowsDesktop`

[2019-06-26 06:30] vatsan-madhavan commented on #1230
Do you really need the sdk entry in your global.json? If you removed it, wouldn't you just build using the tools (props/targets) from `tools.dotnet`, and build against ref-pack supplied by `runtimes.dotnet`?

[2019-06-26 07:14] davkean commented on #1226
@vatsan-madhavan The assumption there is that SDK targets files are evaluated _before_ anything else that consumes `UseWindowsForms`, which might not always be the case. The other assumption that is folks are going to know that they need to check `UseWindowsForms` in targets and not `UseWinForms` which is not the canonical value. I'm convinced that having multiple ways to represent the same thing,

[2019-06-26 07:20] nguerrera commented on #1226
This was the first I heard of it, but for a long time we hadn't done the work to give you different references and there are no build target changes for winforms over wpf. So it's possible that some impacted projects didn't notice.

I agree with not having more than one valid spelling. A warning would be better.

[2019-06-26 07:26] lichen19951127 opened #1233 "In Visual Studio 2019 16.1.4,Winform designer can net be used"
* .NET Core Version:3.0 Preview6
* Have you experienced this same bug with .NET Framework?: No

**Problem description:In Visual Studio 2019 16.1.4,Winform designer can net be used
   I created a winform app
![image](https://user-images.githubusercontent.com/43132899/60159807-95263880-9826-11e9-9c91-79fb4f94f3c5.png)

**Actual behavior:
![image](https://user-images.githubusercontent.com/43132899/60

[2019-06-26 07:27] lichen19951127 commented on #1233
I created the default app and didn't make any changes

[2019-06-26 07:29] RussKie commented on #1233
The designer is not currently available.
A designer will be available in 3.0 final.

[2019-06-26 07:29] #1233 closed

[2019-06-26 07:31] lichen19951127 commented on #1233
Ok, thank you, I am looking forward to it.

[2019-06-26 07:31] RussKie commented on #1233
Please refer to https://github.com/dotnet/winforms/blob/master/README.md for a workaround invoking the Classic Framework Designer.

[2019-06-26 07:33] RussKie commented on #1233
Please refer to https://github.com/dotnet/winforms/blob/master/README.md for a workaround invoking the Classic Framework Designer.
There's also another workaround via `TargetFrameworks` property - please refer to https://github.com/dotnet/winforms/pull/845

[2019-06-26 07:47] lichen19951127 commented on #1233
![image](https://user-images.githubusercontent.com/43132899/60161222-a6bd0f80-9829-11e9-96ba-90942f665a55.png)

<Project Sdk="Microsoft.NET.Sdk.WindowsDesktop">

  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFrameworks>net472;netcoreapp3.0</TargetFrameworks>
    <UseWindowsForms>true</UseWindowsForms>
    <LangVersion>7.3</LangVersion>
  </PropertyGroup>
  <ItemGroup Condition="

[2019-06-26 07:48] lichen19951127 commented on #1233
<Project Sdk="Microsoft.NET.Sdk.WindowsDesktop">

  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFrameworks>net472;netcoreapp3.0</TargetFrameworks>
    <UseWindowsForms>true</UseWindowsForms>
    <LangVersion>7.3</LangVersion>
  </PropertyGroup>
  <ItemGroup Condition=" '$(TargetFramework)' == 'net472' ">
    <Reference Include="System" />
    <Reference Include="System.Core" />

[2019-06-26 07:48] lichen19951127 commented on #1233
<Project Sdk="Microsoft.NET.Sdk.WindowsDesktop">

  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFrameworks>net472;netcoreapp3.0</TargetFrameworks>
    <UseWindowsForms>true</UseWindowsForms>
    <LangVersion>7.3</LangVersion>
  </PropertyGroup>
  <ItemGroup Condition=" '$(TargetFramework)' == 'net472' ">
    <Reference Include="System" />
    <Reference Include="System.Core" />

[2019-06-26 10:04] Zheng-Li01 opened #1235 "Accessibility:[Keyboard] The narrator can’t focus on correct item of CheckedBoxList control"
* .NET Core Version: 3.0.100 Preview7 12618 from master branch
* Have you experienced this same bug with .NET Framework?: Yes. the bug [918826](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/918826) still can reproduce in framework.

**Repro Steps:**
1.	Open the attached application, build and run.[ReproApplication.zip](https://github.com/dotnet/winforms/files/3329450/ReproApplication.zip)

[2019-06-26 13:06] MrB0nd commented on #989
@merriemcgaw @RussKie  While I see that you're likely have the other priorities this time, I still want to answer your question. We have been trying to migrate DevExpress End-User Report Designer to finish our work before the official .NET Core 3 release. Our tool has visual report components whose designers are derived from ComponentDesigner and they use events, attributes and property filtering.

[2019-06-26 13:27] lukaschal commented on #1188
@RussKie I think so no change is needed in source.

[2019-06-26 23:07] #1188 closed

[2019-06-26 23:31] zsd4yr opened #1237 "Do we need attributes of the style '[OptionalField(VersionAdded = 2)]' ???"
What were these ever for? Serialization across versions?

[2019-06-27 02:28] VBAndCs opened #1238 "Fix UserControl.DesignMode property"
In Framework, there is an issue with UserControl.DesignMode property(more details [here]( https://stackoverflow.com/questions/34664/designmode-with-nested-controls) and I Quote:

I faced this problem just today, so, I hope you fix this in the CorFx version.

[2019-06-27 05:54] weltkante commented on #1237
[yes](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.optionalfieldattribute?view=netframework-4.8) they belong to `[Serializable]`/`ISerializable` style serialization (BinaryFormatter/SoapFormatter).

If you remove serialization on the type you can remove those as well. If you keep serialization keeping it depends on which Desktop Framework version you want to be compatib

[2019-06-27 14:25] smorrell opened #1239 "LinkDictionary seems to really slow down ResXResourceReader"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:** A large resx with 40k entries compiles to resource file very slowly ~ 30 seconds

**Expected behavior:** The same .resx file converted into a .txt file compiles very fast, under a second.  Of note,, the conversion is slow.  I

[2019-06-27 22:20] merriemcgaw commented on #1144
Yes we can

[2019-06-27 22:20] #1144 closed

[2019-06-27 23:13] #932 closed

[2019-06-27 23:24] merriemcgaw commented on #1033
@OliaG can you get this done for Preview 8?

[2019-06-27 23:24] merriemcgaw commented on #1026
@vladimir-krestov are you still working on this issue?

[2019-06-27 23:26] merriemcgaw commented on #1021
@Amy-Li02 is issue num 2 a regression from .NET Framework?

[2019-06-27 23:26] AdamYoblick commented on #671
Sent instructions to @Olina-Zhang via email, closing this out :)

[2019-06-27 23:26] merriemcgaw commented on #1021
@M-Lipin Can you take a look at this for Preview 8

[2019-06-27 23:26] #671 closed

[2019-06-27 23:28] merriemcgaw commented on #1015
Sounds like this is taken care of, fantastic! I'll close the issue but if it recurs feel free to reopen it.

[2019-06-27 23:28] #1015 closed

[2019-06-27 23:43] merriemcgaw commented on #638
@Olina-Zhang can you check this scenario now?

[2019-06-27 23:52] AraHaan commented on #147
hmm if only VS actually edited that option and actually had a list box (for .net core and .net standard projects) to select which ones they want from items in the list box (of supported frameworks on the latest version of the .net core sdk they have installed on their device).

That way if they select 1, it will be ``<TargetFramework>`` if they select multiple, it will be ``<TargetFrameworks>`` an

[2019-06-27 23:54] merriemcgaw commented on #1235
@Zheng-Li01 can you verify and close this issue now that it's merged into master? #1027 @vladimir-krestov was that the right PR?

[2019-06-28 00:02] merriemcgaw commented on #1226
I think a warning should be sufficient, though the team really thinks that an alias would be nice - because all of our docs/repos/etc use "winforms". We could argue that "winforms" was the more correct one to use. It seems like aliasing would be the least disruptive change. Though we'd argue that we should change to winforms.

/cc @OliaG

[2019-06-28 00:07] davkean commented on #1226
Unlike WPF docs which do use "WPF", the Windows Forms docs uses "Windows Forms" with exception to the URL: https://docs.microsoft.com/en-us/dotnet/framework/winforms/.

There's no concept of aliasing in MSBuild, you would need to assign one to the other which leads to "which one do I use for conditions and how do I know this?".

[2019-06-28 00:15] 199621616 commented on #638
3.0.0-Prevew7还不能解决这个问题嘛？希望在3.0.0-Prevew7中能解决，不要再改性到3.0.0-Prevew8

[2019-06-28 00:26] merriemcgaw commented on #1226
I spoke with @zsd4yr and @OliaG and we're going to have to leave it as is. We can't get an alias and we don't want to force folks to say `dotnet new winforms.`

[2019-06-28 00:26] #1226 closed

[2019-06-28 00:39] vatsan-madhavan commented on #1226
`dotnet new winforms` already works today.  I don't think anyone is proposing that we change this to `dotnet new windowsforms` etc.

We should address the lack of warnings for users in this situation. I'm afraid that we've closed the issue without addressing this.

It's ok if WinForms decides that we won't show warnings to users who are especially interested in WPF/WinForms interop and happen to g

[2019-06-28 00:39] merriemcgaw commented on #1226
Sorry - there was a typo in my comment (I should have realized that's what you were talking about). I edited.

[2019-06-28 01:05] RussKie commented on #994
@John-Qiao could you please retest when you have time.
Thank you

[2019-06-28 01:20] davidwengier commented on #147
The property pages are indeed open source, and there is an open issue for better support for the multi-target scenario here: https://github.com/dotnet/project-system/issues/800

[2019-06-28 01:21] RussKie commented on #638
Please write your comments in English

[2019-06-28 04:28] AraHaan commented on #147
Oh nice, the page happen to have a designer option so I can PR a fix for it then?

[2019-06-28 05:28] vladimir-krestov commented on #1235
@merriemcgaw No, this is a separate issue and it is not resolved in #1027.
It began to appear after fixing #1136.
Prior to that, it worked like this in the master branch:
![image](https://user-images.githubusercontent.com/49272759/60318708-b8fb9280-997c-11e9-8e57-c5439eb62e2b.png)
It doesn't reproduce in new version Windows, but reproduces in old versions.
This issue must be solved in other PR.

[2019-06-28 05:35] vladimir-krestov commented on #1026
@merriemcgaw I fixed this issue. I will create a new issue with items selection by the Narrator as a separate bug

[2019-06-28 05:35] #1026 closed

[2019-06-28 15:06] camleng commented on #974
This was my mistake. Instead of just targeting my class libraries to netstandard2.0, I mistakenly targeted everything to netstandard2.0 instead of netcoreapp3.0. Thank you for the help!

[2019-06-28 15:06] #974 closed

[2019-06-28 15:14] kfrancis commented on #989
We're waiting on Telerik to support designing reports, very likely similar to @MrB0nd's requirements.

[2019-06-28 23:32] RussKie commented on #974
Thank you for the follow up.

[2019-06-29 16:20] dreddy-work commented on #493
@Zheng-Li01 , i tried to get it working with Framework  application but i do see getImage() there also returnign null.  can you please share your desktop framework version of this app that was working for you?

[2019-07-01 03:19] Zheng-Li01 commented on #493
@dreddy-work, Just installed the latest Dev16 which have the .NET4.7.2 on RS4 x6, the getImage()  will return "system.drawing.imaging.metafile" in the framework application.

However, Both 4.7.2 and 4.8 situations, the method getImage() will return null after installed the .NET 4.8 in framework application.

[2019-07-01 03:35] dreddy-work commented on #493
@Zheng-Li01 , is it possible to track down which build of .net4.8 regressed it?

[2019-07-01 18:17] GrabYourPitchforks opened #1251 "Clean up usage of BinaryFormatter throughout codebase"
See https://github.com/dotnet/corefx/issues/38760 for more information.

There is a possibility that the BinaryFormatter type might be moved out of the shared framework in a future release. Since WinForms is part of the shared framework, the code base should begin preparing for this transition. The following steps will help ensure that if a "safe" BinaryFormatter-compatible serializer is introduce

[2019-07-01 19:13] #1007 closed

[2019-07-01 19:17] merriemcgaw commented on #1251
Let's look through the codebase for all usage of BinaryFormatter. I'm thinking clipboard scenarios (@Tanya-Solyanik others?) We can get back to @GrabYourPitchforks with everything we know.

[2019-07-01 19:59] merriemcgaw commented on #1235
@vladimir-krestov thanks for the explanation. Do we know which version of Windows it began to break on? If this also repros on classic Framework we should file a Windows issue.

[2019-07-01 20:51] weltkante commented on #1251
Clipboard and drag'n'drop rely on BinaryFormatter. If you want clipboard/drag'n'drop between older Desktop Framework applications and newer .NET Core 5 applications the replacement needs to be able to produce/consume the same binary data.

[2019-07-01 22:09] dreddy-work commented on #638
@rainersigwald , I am thinking this is one of the scenario that might have been solved by your changes. Can you help me point to the build that i can verify against?

[2019-07-01 23:34] JeremyKuhne opened #1253 "WinForms should use System.Runtime.InteropServices.ComTypes"
Doing so will significantly reduce the footprint of WinForms and will reduce risk.

[2019-07-01 23:54] JeremyKuhne commented on #1253
This includes:

[code]

https://apisof.net/catalog/System.Runtime.InteropServices.ComTypes

Most of these are currently redefined in WinForms. This is a good thing to tackle early in v.Next to give the migration plenty of time to bake. It isn't a huge task, but there is transliteration risk.

Note that a lot of these are defined in WinForms as `tag*`, e.g `tagVARDESC`.

[2019-07-02 00:52] dreddy-work commented on #638
@ericstj  and @rainersigwald , it seems Resourcemanager is embedding resources under project name instead of Namespace name.  This was workign when applicatiosn continue with defautl namespace but throw an exception when they do not opt into default name space. FOllowign are the embedded resources from Netcore and classic framework applications with exact same source code.

![image](https://user-i

[2019-07-02 01:01] ericstj commented on #638
@nguerrera @dsplaisted

[2019-07-02 01:01] AaronRobinsonMSFT commented on #1253
cc @jkoritzinsky @jeffschwMSFT

[2019-07-02 01:02] dreddy-work commented on #889
Changes regarding this are ready for validation. @zsd4yr , please update this when you get chance to share privates for testing.

[2019-07-02 01:04] dreddy-work commented on #493
@Zheng-Li01 @Olina-Zhang , Can you help track down the .NET 4.8 build that regressed this?

[2019-07-02 01:37] #846 closed

[2019-07-02 01:42] RussKie commented on #1253
Is there a way we can test the changes to avoid/minimise changes of regressions?

[2019-07-02 02:43] nguerrera commented on #638
I believe this will be the issue of DependentUpon not being set and is a duplicate. Will follow up with further details.

[2019-07-02 02:48] nguerrera commented on #638
We had talked about having some way to tell msbuild to fall back to a file naming convention when there is no DependentUpon. @davkean I think you were going to propose something? Is there an msbuild issue yet?

[2019-07-02 02:51] nguerrera commented on #638
https://github.com/dotnet/winforms/issues/638#issuecomment-477053971

Is the workaround. Without DependentUpon msbuild can’t figure out the namespace and class used in the actual file and will use the file name and RootNamespace (which is defaulted to the project name).

If we add support for convention, we need to put it behind a flag or we will break existing projects. We can then opt in to the

[2019-07-02 02:53] dreddy-work commented on #638
I am not sure if there is already an issue in msbuild repo. Feel free to move this.

[2019-07-02 02:56] nguerrera commented on #638
I was asking @davkean if there was an issue because I think he was going to file a proposal.

[2019-07-02 05:36] Zheng-Li01 commented on #493
@dreddy-work, the issue regressed from .NET 4.8 03702.00 from NETFXRel1 branch, which previous build .NET 4.8 03698.00 is working well.

[2019-07-02 08:30] Amy-Li02 commented on #1021
@merriemcgaw Issue #2 is a regression from .NET 4.8 03627.00 from NETFXRel1 branch, however it works well in .NET 4.7.2.

[2019-07-02 09:58] hughbe opened #1257 "DesignSurface.View throws NRE if `LoadErrors` contains a null element"
E..g
[code]

[2019-07-02 10:00] hughbe opened #1258 "DesignSurface.View throws NRE if the root component designer has null SupportedTechnologies"
Should be treated the same as if the `SupportedTechnologies` array was empty

[code]

[2019-07-02 10:07] hughbe opened #1259 "ComponentDesigner.Children throws NRE if AssociatedComponents returns null"
Should be treated as if it were empty

[code]

[2019-07-02 10:11] hughbe opened #1260 "ComponentDesigner.DoDefaultAction throws NRE if GetSelectedComponents returns null"
Should be treated as if it were empty

[code]

[2019-07-02 10:13] hughbe opened #1261 "ComponentDesigner.DoDefaultAction throws InvalidCastException if the default event property is not a string"
Should be skipped in the same way as read-only properties
[code]

[2019-07-02 10:14] hughbe opened #1262 "ComponentDesigner.DoDefaultAction throws NullReferenceException if GetCompatibleMethods returns null"
Should be treated as if it were empty
[code]

[2019-07-02 10:15] hughbe opened #1263 "ComponentDesigner.DoDefaultAction throws InvalidCastException if GetCompatibleMethods contains a non-string value"
Invalid values should be skipped (e.g. enumerate using `.OfType<string>()`)

[code]

[2019-07-02 17:44] #896 closed

[2019-07-02 18:47] dreddy-work commented on #493
We were restricting deserialization of some of the types in Clipboard. metfile is one of them. Need to look further if we need to support this.

[2019-07-02 19:21] dreddy-work commented on #493
@merriemcgaw , this behavior was by design decision. I will let you decide on closing this issue.

[2019-07-02 22:31] merriemcgaw commented on #493
Agreed, this is by design and in that case we should update the tests.

[2019-07-02 22:31] #493 closed

[2019-07-02 22:41] dreddy-work commented on #1101
I do not think this issue is because of missing template.

I see two issues here. Also, this issue should be moved to "Winforms-designer" repo. @merriemcgaw  can you help with moving it?

1. "InheritanceDilog" code was excluding *.config" files while loading assemblies . In core, we have "*.json" files. Thus, API "Loadassembly" failing on those.

2. It seems, querying for types in core assembly us

[2019-07-02 23:17] davkean commented on #638
There's an issue here, https://github.com/dotnet/project-system/issues/4807, but I've run out of time to figure out/file a proposal. If MSBuild/SDK could pick this up, that would be great.

[2019-07-03 01:01] RussKie commented on #493
@dreddy-work could you please update tests, if any.

Should we throw an exception of some kind advising that type is not supported?

[2019-07-03 01:47] #1228 closed

[2019-07-03 01:47] #1227 closed

[2019-07-03 03:27] dreddy-work commented on #638
Now that we are tracking the issue in msbuild repo, closing this issue here.

[2019-07-03 03:27] #638 closed

[2019-07-03 06:16] RussKie commented on #817
@hughbe could you please clarify the context - are you referring to a specific class or across the whole codebase?
There are 28 definitions of `object GetService(Type service)` across the codebase but they are not identical.

Perhaps we need to narrow down the context and start there.
I don't necessarily think we need to wait for a "common" assembly. If necessary we can link files like we do for N

[2019-07-03 07:13] John-Qiao commented on #994
@RussKie we have retested it in .NET Core 3.0.100-preview7-012793 from Release branch, issue has been fixed and no other issue was found.

[2019-07-03 07:14] RussKie commented on #994
Awesome! Thank you

[2019-07-03 07:36] RussKie commented on #817
@Tanya-Solyanik

@weltkante

@AArnott

@Tanya-Solyanik what do you think would be an impact if we throw?
I too think it is better to fail fast, if an incorrect cast is requested.

[2019-07-03 08:18] RussKie commented on #1033
I believe this is done.

[2019-07-03 08:18] #1033 closed

[2019-07-03 09:48] John-Qiao commented on #994
@RussKie could we reopen this issue?

I retest this issue in .NET Core 3.0.100-preview7-012793 from Release branch, but I found this issue is not fixed in the following scenario:

            `MaskedTextBox myObj = new MaskedTextBox();
            //TextBox myObj = new TextBox();

            //RichTextBox myObj = new RichTextBox();
            myObj.Text = "eöü****#*$&@&$4ä1452";

            Poi

[2019-07-03 14:52] weltkante commented on #493
I'd expect `SetImage` to throw an exception (unless you want to support write-only semantics for metafiles), `ContainsImage` return false and `GetImage` return null (to be consistent with other Get-methods when no data of the appropriate format is present)

Current behavior:
* SetImage with a metafile succeeds
* ContainsImage returns true
* GetImage returns null

IMHO thats broken. Do you want to

[2019-07-04 00:27] #989 closed

[2019-07-04 02:01] dreddy-work commented on #493
Agree. Please open a new issue for that.

[2019-07-04 06:03] #1219 closed

[2019-07-04 06:27] RussKie commented on #994
It looks there is something else in play here.

I've added few tests and it looks like when an input is longer than a ~95 pixels it fails:
[code]

Results:
[code]

[2019-07-04 06:38] RussKie commented on #994
I've run the same code against NET 4.7.2 and observed the same results with `myObj.Font = SystemFonts.MessageBoxFont;`:

[code]

[2019-07-04 11:19] weltkante opened #1268 "Clipboard.ContainsImage inconsistent with Clipboard.GetImage"
In #493 it was decided that removing metafile support from `Clipboard.GetImage` is by design. However `Clipboard.SetImage` and `Clipboard.ContainsImage` were never adjusted and still support metafiles, this leads to an inconsistent API.

[code]

* `GetImage` returning null (instead of throwing an exception) is correct, since all clipboard APIs return null if there is no compatible data available.

[2019-07-05 01:38] RussKie commented on #994
I have run a number of tests and it looks like the issue affects textbox controls which size (width or height) is less than necessary to show all text when attempting to get a position from a character which is outside of the client area of the control.
**The issue reproduces consistently in both .NET Fx and .NET Core** (⚠️ one must account for the default font change in .NET Core #656 and set the

[2019-07-05 01:38] #994 closed

[2019-07-05 01:43] #988 closed

[2019-07-05 01:45] #1259 closed

[2019-07-05 01:45] #1260 closed

[2019-07-05 01:45] #1261 closed

[2019-07-05 01:45] #1262 closed

[2019-07-05 01:45] #1263 closed

[2019-07-05 02:50] RussKie opened #1269 "Port System.Windows.Forms.Design.ColumnHeaderCollectionEditor"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**
`ColumnHeaderCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:50] RussKie opened #1270 "Port System.Windows.Forms.Design.StringCollectionEditor"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**
`StringCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:51] RussKie opened #1271 "Port System.Windows.Forms.Design.ListControlStringCollectionEditor"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**
`ListControlStringCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:52] RussKie opened #1272 "Port System.Windows.Forms.Design.StringArrayEditor"
**Problem description:**
`StringArrayEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:52] RussKie opened #1273 "Port System.Windows.Forms.Design.ImageCollectionEditor"
**Problem description:**
`ImageCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:53] RussKie opened #1274 "Port System.Windows.Forms.Design.IntegerCollectionEditor"
**Problem description:**
`IntegerCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:53] RussKie opened #1275 "Port System.Windows.Forms.Design.ListViewGroupCollectionEditor"
**Problem description:**
`ListViewGroupCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:54] RussKie opened #1276 "Port System.Windows.Forms.Design.ListViewItemCollectionEditor"
**Problem description:**
`ListViewItemCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:54] RussKie opened #1277 "Port System.Windows.Forms.Design.ListViewSubItemCollectionEditor"
**Problem description:**
`ListViewSubItemCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:55] RussKie opened #1278 "Port System.Windows.Forms.Design.TreeNodeCollectionEditor"
**Problem description:**
`TreeNodeCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:55] RussKie opened #1279 "Port System.Windows.Forms.Design.TreeNodeStyleCollectionEditor"
**Problem description:**
`TreeNodeStyleCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:55] RussKie opened #1280 "Port System.Windows.Forms.Design.StyleCollectionEditor"
**Problem description:**
`StyleCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:56] RussKie opened #1281 "Port System.Windows.Forms.Design.TabPageCollectionEditor"
**Problem description:**
`TabPageCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:56] RussKie opened #1282 "Port System.Windows.Forms.Design.ToolStripCollectionEditor"
**Problem description:**
`ToolStripCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 02:56] RussKie opened #1283 "Port System.Windows.Forms.Design.DataGridColumnCollectionEditor"
**Problem description:**
`DataGridColumnCollectionEditor` from System.Windows.Forms.Design is missing

Refer to https://github.com/dotnet/winforms/issues/1115#issuecomment-504798149

[2019-07-05 19:47] ViktorHofer opened #8811 "Re-enabled test System.Drawing.Tests.BrushTests.Dispose_NoSuchEntryPoint_SilentyCatchesException fails on CI"

[2019-07-06 10:59] hughbe opened #1288 "MultilineStringEditor.EditValue throws InvalidCastException if `value` is not a string"
Should handle this gracefully as if it were null
[code]

[2019-07-06 11:01] hughbe opened #1290 "ColorEditor.EditValue throws InvalidCastException if `value` is not a Color"
Should handle this gracefully as if it were null

[code]

[2019-07-06 11:03] hughbe opened #1292 "CursorEditor.EditValue throws InvalidCastException if `value` is not a Cursor"
Should handle this gracefully as if it were a null value

[code]

[2019-07-06 11:07] hughbe opened #1294 "BorderSidesEditor.EditValue throws InvalidCastException if `value` is not ToolStripStatusLabelBorderSides"
Should handle gracefully

[code]

[2019-07-06 11:10] hughbe opened #1296 "ShortcutKeysEditor.EditValue throws InvalidCastException if `value` is not a Shortcut"
Should handle this gracefully as if it were null

[code]

[2019-07-06 22:04] paul1956 opened #1298 "New VB default font needs to be highlighted in Read Me/Whats New"
* .NET Core Version: 3.0 Preview6
* Have you experienced this same ISSUE with .NET Framework?: No
**Problem description:**
The default font for VB Forms has changed and is larger causing layouts to look different
**Actual behavior:**
Controls are not in the same place between Framework and Core
**Expected behavior:**
Things would look the same, but since that is not happening some customer facing

[2019-07-07 23:35] #1288 closed

[2019-07-08 00:07] RussKie commented on #1298
@paul1956 the default font was changed in #656.

@merriemcgaw @KlausLoeffelmann we need to revisit this.

[2019-07-08 02:35] #1257 closed

[2019-07-08 02:35] #1258 closed

[2019-07-08 08:58] paul1956 commented on #1298
I am not asking for it to be revisited, it looks great but without a UI designer in Core for VB I had no idea if the port of my application was the issue or why things didn't fit. The request here is documentation and to make it easy to know what the new default font is (because its default its value does not show up in designer.vb).  All I had to do is change the default font in my Framework app

[2019-07-08 10:50] vladimir-krestov opened #1300 "Accessibility: Incorrect ToolStrip navigation order when tabbing and shift-tabbing"
**Repro steps:**
- Create .Net Core 3.0 application
- Add to app some controls and ToolStrip control
- Run and using Tab keyboard to go through all controls forward on the form
- Then using shift-tab to go through all controls backward

**Actual:**
Navigation order when forward and when backward do not match.
![LTR](https://user-images.githubusercontent.com/49272759/60804315-ebc83680-a185-11e9-95f

[2019-07-08 11:14] vladimir-krestov commented on #1235
@merriemcgaw I can't say which version of Windows it began to break on. But this issue reproduces in 10.0.17763.557 Windows version and doesn't reproduce in 10.0.18362.175 Windows version.

(.Net 4.8 old Windows version)
![image](https://user-images.githubusercontent.com/49272759/60805810-ebca3580-a189-11e9-9444-6f6bdda16f06.png)

I checked this issue in .Net 4.8 and it too reproduces in old Windo

[2019-07-08 18:42] IGMikeS opened #1303 "Double.TryParse succeeds and returns an incorrect value."
.NET Core Version: Version: 3.0.100-preview6-012264 - I think. VS2019 apparently hides the NetCore packages, now, so I am not 100% sure.
Have you experienced this same bug with .NET Framework?: No

Run the following code:
            var text = "123e466";
            var provider = new CultureInfo("en-US");
            double value;

            var success = Double.TryParse(
                text,

[2019-07-08 20:05] vatsan-madhavan opened #1304 "Dependencies are not getting updated"
Dependency updates seem to have stalled on dotnet/winforms.

The last update was 14 days ago, approximately. See https://github.com/dotnet/winforms/pulls?q=is%3Apr+is%3Aclosed+author%3Aapp%2Fdotnet-maestro.

Triggering subscriptions manually doesn't seem to have any effect either.

/cc @merriemcgaw, @AdamYoblick, @RussKie
/cc @wtgodbe

[2019-07-08 20:06] wtgodbe commented on #1304
May be https://github.com/dotnet/core-eng/issues/6868

[2019-07-08 22:11] #1304 closed

[2019-07-08 23:48] #1292 closed

[2019-07-09 00:01] #1290 closed

[2019-07-09 00:04] #1296 closed

[2019-07-09 00:04] #1294 closed

[2019-07-09 01:31] Tanya-Solyanik commented on #817
I too think it is better to fail fast, if an incorrect cast is requested.**

If this were a new code, it would had been better to fail fast always. There are cases in VS when services are removed (shut down, project closing) and GetService returns null, which can be safely ignored, and there is no reason to throw InvalidCastException, as it would affect perf. DevExpress ships feature very similar

[2019-07-09 02:00] RussKie commented on #817
I think we're maybe talking about two differnet things.

1. a requested service is unavailabe (i.e.. "_...shut down, project closing..._") - in this case, return `null` and don't throw
2. an invalid cast `(MyType)GetService(OtherType)` - this should be a bug and we should fail.

[2019-07-09 05:00] RussKie commented on #1298
Thank you for the clarification.
We will update the documentation for the v3.0 release, and continue to monitor issues related to the subject.

If you haven't already, please have a look at https://github.com/dotnet/winforms/blob/master/Documentation/winforms-designer.md, you may find it useful.

[2019-07-09 09:11] IanMarteens commented on #730
I've been redirected here by a similar problem: SelectedIndexChanged not firing.  However, in this case, the problem happens if you assign SelectedIndex in the constructor, when there is no window handle yet. After that point, the event never fires again. It only happens in .NET Core. The full Framework handles this case OK.

[2019-07-09 09:16] weltkante commented on #730
If you have a scenario where .NET Core and Full Framework are different you should probably create a new issue, as this one is marked as discussion and your case is more like a regression and will probably be adressed more immediately.

[2019-07-09 10:10] IanMarteens commented on #730
Thanks. I'll do it.

[2019-07-09 12:11] hughbe opened #1310 "PictureBox.OnPaint(null) if PictureBox has image throws NRE"
Should not draw the image if the `e` is null

[code]

[2019-07-09 17:27] IanMarteens opened #1311 "ComboBox.SelectedIndexChanged not firing if SelectedIndex is set before OnHandleCreated"
Setting ComboBox.SelectedIndex in a form's constructor disables further firing of the SelectedIndexChanged event, in .NET Core. It seems it has to do with the availability of the window and control handles. It works OK in the full framework, but it fails in .NET Core. Looks like a breaking change.

[2019-07-10 00:54] RussKie commented on #1311
Please fill the bug template provided and supply steps to reproduce/demo app.
Thank you

[2019-07-10 01:33] Shyam-Gupta opened #1312 "Build.cmd errors: Cannot modify the return value of 'EventHandlerService.GetTestAccessor()'"
Running Build.cmd on a clean machine lists lots of following errors:

System\Windows\Forms\Design\EventHandlerServiceTests.cs(55,13): error CS1612: Cannot modify the return value of 'EventHandlerService.GetTestAccessor()' because it is not a variable [C:\g\winforms\src\System.Windows.Forms.Design\tests\UnitTests\System.Windows.Forms.Design.Tests.csproj]

Its related to PR: https://github.com/dotne

[2019-07-10 03:26] RussKie opened #1315 "IntegerCollectionEditor fails to persist changes to a property of int[] type"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

`IntegerCollectionEditor` fails to persist changes to a property of `int[]` type.

**Actual behavior:**

![IntegerCollectionEditor-array](https://user-images.githubusercontent.com/4403806/60937748-d5041a00-a314-11e9-881c-0

[2019-07-10 08:10] IanMarteens commented on #1311
(where's the bug template?)
Steps for reproduction:

1. Create a new WinForms app in .NET Core.
2. Add a combo box and fill its Items with three lines (let's say: One, Two, Three).
3. Add a label control.
4. Handle the SelectedIndexChanged from the combo to something like label1.Text = comboBox1.Text;
5. Execute it. It will run fine when selecting items in the combo box.
6. Now add an assignment t

[2019-07-10 08:12] IanMarteens commented on #1311
About the environment: Windows 10 v1093, Visual Studio 2019 16.1.6 with previews allowed, and .NET Core Preview 6.

[2019-07-10 08:40] #1270 closed

[2019-07-10 13:59] #1300 closed

[2019-07-10 16:59] hughbe opened #1326 "new DataObject.GetDataPresent(null) throws NRE"
Should be fixed

[2019-07-10 18:15] merriemcgaw commented on #1183
Fixed with #1196

[2019-07-10 18:15] #1183 closed

[2019-07-10 18:39] vladimir-krestov opened #1328 "Accessibility: Incorrect control type is defined for all menus like 'File and Edit and View and Tools...' in MenuStrip"
* .NET Core Version: 3.0.1-preview8-012981
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
*User Experience:*
User who depends on screen reader won't be able to get the correct purpose of the controls on tool, if Incorrect control type is defined for all menus like 'File and Edit and View and Tools...' on SSMA.

**Repro steps:**
1. Create new .Net Core app

[2019-07-10 23:25] dreddy-work commented on #1311
@Olina-Zhang  can you try repro it  and if it repros, can you please attach a sample repro app here?

[2019-07-10 23:33] Shyam-Gupta commented on #1312
This issue got resolved after installing latest build of VS.

[2019-07-10 23:33] #1312 closed

[2019-07-10 23:45] dreddy-work commented on #1268
adding @Tanya-Solyanik  and @merriemcgaw  to discuss further on the experience here.

[2019-07-11 00:17] #1220 closed

[2019-07-11 05:51] RussKie opened #1335 "`ImageCollectionEditor` unable to add an image at runtime"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

Having ported `ImageCollectionEditor` code from NETFx, it appears impossible to add an image at run-time via `ImageCollectionEditor`.
The error appears in both NET Fx (4.7.2/4.8) and NET Core implementations.

It is howeve

[2019-07-11 05:53] RussKie commented on #1335
@merriemcgaw  @dreddy-work

@Olina-Zhang could you please check whether this ever worked in NET Fx?

[2019-07-11 07:09] Olina-Zhang commented on #1335
@RussKie I checked all .Net frameworks, behaviors are same, at VS design time, it can add image successfully, and in PropertyGrid runtime, there is an error existed when adding image in ImageCollectionEditor:
![image](https://user-images.githubusercontent.com/26474449/61029524-12e25c00-a370-11e9-95a5-11d2d2e3c377.png)

[2019-07-11 07:12] RussKie commented on #1335
Thank you, @Olina-Zhang.

It will be fixed in Core. @merriemcgaw what's our appetite getting it fixed in NETFx?

[2019-07-11 09:25] AriNuer opened #8812 "Test failure: System.Drawing.Printing.Tests.PrintDocumentTests/DefaultPageSettings_Null_ReturnsExpected"
Test `System.Drawing.Printing.Tests.PrintDocumentTests/DefaultPageSettings_Null_ReturnsExpected`has failed.

Message :
[code]
Stack Trace :
[code]
Build: -[20190710.51](https://mc.dot.net/#/user/dotnet-bot/pr~2Fdotnet~2Fcorefx~2Frefs~2Fheads~2Fmaster/test~2Ffunctional~2Fcli~2F~2F/20190710.51)(Master)

Failing configuration:

- Windows.Nano.1803.Amd64.Open-x64-Release

Details:
https://mc.dot.net/#

[2019-07-11 09:33] IanMarteens commented on #1311
[WindowsFormsAppCore.zip](https://github.com/dotnet/winforms/files/3381296/WindowsFormsAppCore.zip)
Repro added. The repro has two forms: you don't need the second one. It's just that I first isolated the bug using a secondary form. However, you just need a single combobox in the main form to reproduce it.

[2019-07-11 09:41] IanMarteens opened #1338 "Form.FormBorderStyle == SizeableToolWindow not working."
* .NET Core Version: Preview 6
* Have you experienced this same bug with .NET Framework?: No

**Problem description:** Setting FormBorderStyle to SizeableToolWindow is not working.

**Actual behavior:** Same caption bar height as a Sizeable form.

**Expected behavior:** The caption bar should be narrower, as in .NET Framework.

**Minimal repro:**: change the property in the main form of a minimal

[2019-07-11 10:02] Olina-Zhang commented on #1311
@dreddy-work  we can repro this issue in Core latest build, and cannot repro in .Net 4.8 latest build. It seems a regression issue in Core. Here is the sample app with same code for .Net Core and .Net framework 4.8

- .Net Core:
[WindowsFormsApp9.zip](https://github.com/dotnet/winforms/files/3381398/WindowsFormsApp9.zip)

- .Net framework:
[WindowsFormsApp8.zip](https://github.com/dotnet/winforms/

[2019-07-11 19:32] bricelam opened #1342 "Move ResXResourceWriter out of System.Windows.Forms"
In Entity Framework 6, we need to [generate resx files](https://github.com/aspnet/EntityFramework6/blob/6.2.0/src/EntityFramework.PowerShell/Migrations/Utilities/MigrationWriter.cs#L69-L72) at design time.

Now that we're porting to .NET Core, it's infeasible for us to depend on System.Windows.Forms.

Would it be possible to move this type to the existing System.Resources.Writer assembly in corefx

[2019-07-11 19:42] merriemcgaw commented on #635
Looks like EN Intellisense is working.

[2019-07-11 19:42] #635 closed

[2019-07-11 20:01] merriemcgaw commented on #1342
@ericstj What are your thoughts?

[2019-07-11 20:22] Shyam-Gupta opened #1344 "Replace DpiAwarenessContext enum with Windows DPI_AWARENESS_CONTEXT everywhere in the code"
All the P/Invokes for DPI related APIs work with DPI_AWARENESS or DPI_AWARENESS_CONTEXT.
It is incorrect to use our own DpiAwarenessContext enum.

We need to update P/Invoke headers of all such APIs and update all code invocations appropriately.

For more discussion check: https://github.com/dotnet/winforms/pull/1331

[2019-07-11 22:46] nguerrera opened #1346 "Add MyType to VB WinForms template"
This is needed in support of getting VB code that uses My.* working out of the box.

Sync with @KathleenDollard on the correct content, but I think we want the following:
[code]
Eventually we will want MyType=WindowsForms that you get in the classic VB WPF project, but Console is what works now.

[2019-07-11 23:15] ericstj commented on #1342
Resources.Writer is for resources format, not resx.  The resx writer does a lot more, including use binary formatted, typeconverter, and system.drawing types which aren’t part of the shared framework.  @bricelam what sort of data types are you putting in ResX?  It may make sense to have something lighter weight like what @rainersigwald did in msbuild.

[2019-07-11 23:16] merriemcgaw commented on #1346
This will likely make 3.1, not 3.0. We will add it for sure when the support is available for WinForms apps.

[2019-07-11 23:24] merriemcgaw commented on #1344
If we get this done sooner, fantastic. But I want to commit to doing it when we are focused squarely on HPDI stuff.

[2019-07-11 23:29] JeremyKuhne commented on #1344
Here is the main place to start in the discussion https://github.com/dotnet/winforms/pull/1331#discussion_r302679950.

[2019-07-11 23:29] merriemcgaw commented on #1335
If we have a customer requesting the fix we likely would, but really not until then.

[2019-07-11 23:30] merriemcgaw commented on #1328
I will talk with an Accessibility expert on Tuesday. I'll follow up with expected types.

[2019-07-11 23:45] merriemcgaw commented on #1092
gentle ping @leecow 😊

[2019-07-11 23:46] merriemcgaw commented on #1274
This is cut because it's unused.

[2019-07-11 23:46] #1274 closed

[2019-07-11 23:48] merriemcgaw commented on #1021
@Amy-Li02 are you saying that this regressed in 4.8?

[2019-07-11 23:51] merriemcgaw commented on #889
@Tanya-Solyanik can you take a look at the remaining to-dos so we can document the remaining serializable types?

[2019-07-12 00:03] bricelam commented on #1342
We just use strings; I’ve unblock myself with a simple implementation.

But it always seemed strange to me that this class was part of WinForms

[2019-07-12 01:18] Amy-Li02 commented on #1021
@merriemcgaw Yes, Issue #2 regressed in 4.8.

[2019-07-12 01:25] maikebing opened #1347 "Executes the given Action on the thread that owns this Control's underlying window handle."
The following code I think is more complicated and old.
Code sample:
[code]
I want to  add a method   Invoke( Action action)
Code sample:
`  this.Invoke(() =>  MessageBox.Show(ex.Message));
`
This code looks more modern and conforms to the new syntax.

[2019-07-12 06:32] Amy-Li02 commented on #1188
Verified this issue in .Net Core 3.0.100-preview8-013096 from master branch, the issue were fixed and in 13 local languages it all works well.
![Fixed-PTB](https://user-images.githubusercontent.com/49627022/61107168-d1f26080-a4b1-11e9-840b-ccfd05cfec95.png)

[2019-07-12 06:41] Amy-Li02 commented on #1076
Verified this issue in .Net Core 3.0.100-preview8-013096 from master branch, the 2 issues were fixed and in 13 local languages it all works well.
![CHSCore](https://user-images.githubusercontent.com/49627022/61107606-eaaf4600-a4b2-11e9-9fd5-9c12b4fab99c.png)
![TRKCore](https://user-images.githubusercontent.com/49627022/61107614-ee42cd00-a4b2-11e9-8bb3-7633366021f6.png)

[2019-07-12 11:42] M-Lipin opened #1353 "Accessibility: Name property of "Print button" in Print Preview dialog must not include the same text as its LocalizedControlType/ControlType properties"
Steps to reproduce:
1. Create .NET Core WinForms application and add PrintPreviewDialog control to it.
2. Build and run it, open Print preview dialog.
3. Inspect the accessibility names of the dialog.

**Actual:**
The Name property of "Print button" in Print Preview dialog include the same text/element as its LocalizedControlType/ControlType properties and announced by Narrator as "Print button bu

[2019-07-12 12:26] hughbe commented on #1230
Can't repro anymore - I completely uninstalled .NET Core and reinstalled cleaning out all the paths etc which seemed to do the trick. Thanks all!

[2019-07-12 15:24] hughbe opened #1356 "ComponentEditorPage.SetSite(null) throws NRE should set the site to null"
[code]

[2019-07-12 15:25] hughbe opened #1357 "ComponentEditorPage.SetDirty() throws NRE if PageSite is null"
Should be a nop

[code]

[2019-07-12 21:14] merriemcgaw commented on #1021
@Amy-Li02 please file a 4.8 bug ASAP if one isn't filed already. This is one we'll absolutely need to service. I'll make sure @M-Lipin and @vladimir-krestov are looking at it actively. Please mark it as a11y-MAS

[2019-07-13 00:25] merriemcgaw commented on #1342
I'm glad you were able to unblock yourself. I don't think we're considering moving it from where it's historically been at this point, so I'm going to close this issue.

[2019-07-13 00:25] #1342 closed

[2019-07-13 00:29] merriemcgaw commented on #1346
I spoke with @KathleenDollard yesterday and agree we can get this into 3.0. Please submit the PR or give us the precise content that needs to be added when everything is ready

[2019-07-13 01:43] bricelam commented on #1342
Would you accept a PR?

[2019-07-13 02:06] RussKie commented on #1230
For local build try `build-local.ps1` - that will download necessary sdks, if required, and symlink them.
You could also run `build-local.ps1 -FullClean` to delete existing sdks and setup afresh

[2019-07-13 02:25] #1353 closed

[2019-07-13 17:49] hughbe opened #1372 "DataGridTableStyle.OnForeColorChanged actually calls the BackColorChanged event"
!!!

[code]

[2019-07-14 12:43] hughbe opened #1378 "DataGridTableStyle.CreateGridColumn(null) throws NRE"
should be ane

[2019-07-14 13:31] hughbe opened #1379 "DataGridTableStyle.BeginEdit throw NRE if previous BeginEdit gridColumn Commit returns false"
[code]

Stack Trace:
   at System.Windows.Forms.DataGrid.CommitEdit() in /Users/hugh/Documents/GitHub/winforms/src/System.Windows.Forms/src/System/Windows/Forms/DataGrid.cs:line 5836
   at System.Windows.Forms.DataGrid.EndEdit() in /Users/hugh/Documents/GitHub/winforms/src/System.Windows.Forms/src/System/Windows/Forms/DataGrid.cs:line 6724
   at System.Windows.Forms.DataGrid.set_HorizontalOffset(I

[2019-07-14 13:34] hughbe opened #1380 "Setting DataGridTableStyle.PreferredRowHeight to the same value calls `OnPreferredRowHeightChanged` unecessarily"
Should be guarded by an `if` check

[code]

[2019-07-15 03:22] Amy-Li02 commented on #1021
@merriemcgaw we have filed a 4.8 bug about Issue#2.

[2019-07-15 10:23] hughbe opened #1389 "Clean Windows Build: `dotnet-api-docs_netcoreapp3.0 was not found in .`"
[code]

[2019-07-15 11:13] hughbe commented on #1230
Running into problems again : (

[code]

[2019-07-15 11:13] hughbe commented on #1230
I was under the impression that I don't need a globally install `dotnet` to make this work

[2019-07-15 22:36] merriemcgaw commented on #1342
Where would you suggest having this? I don't think @ericstj would be wanting it in corefx but I could be wrong.

[2019-07-15 22:38] merriemcgaw commented on #1235
If it is fixed in the latest Windows builds I don't think we can or should do anything. I'm going to go ahead and close this in that case.

[2019-07-15 22:38] #1235 closed

[2019-07-16 00:55] merriemcgaw commented on #1389
@AdamYoblick , @RussKie do you gentlemen have any ideas?

[2019-07-16 00:57] RussKie commented on #1389
I've seen these warnings but I haven't investigated

[2019-07-16 01:21] RussKie commented on #1230
This is an odd one.
Are you running the script on a brand new machine?

try adding a `Write-Host` statement before this line and see what path it is trying to link:
https://github.com/dotnet/winforms/blob/master/build-local.ps1#L96

[2019-07-16 01:40] vatsan-madhavan commented on #1230
@RussKie, consider creating an instrumented branch that @hughbe can checkout and build.

I tried master under Process Explorer and didn’t see any $env:ProgramFiles usage for the SDK. The only oddness I noticed which I wasn’t happy about was a junction point being created _from_ $env:ProgramFile\dotnet\... to $(RepoRoot).dotnet\sdk\...  at the end of the build.

[2019-07-16 07:47] paul1956 commented on #1346
Not sure this is the correct issue but I have been struggling with not being able to access any Form without first assigning New FormX to a variable then using the variable then disposing of the variable. Today I found https://docs.microsoft.com/en-us/dotnet/visual-basic/developing-apps/customizing-extending-my/customizing-which-objects-are-available-in-my. and noticed My.Forms is missing in Core3

[2019-07-16 08:02] paul1956 commented on #1346
Also if  you add
[code]
The Settings.Designer will fail to compile because My.Application.[SaveMySettingsOnExit and Shutdown] are missing.

[2019-07-16 08:33] stefanov-stefan commented on #1110
Hey @merriemcgaw, @petermitkov will take a look at this.

[2019-07-16 08:33] stefanov-stefan commented on #1109
Hey @merriemcgaw, @petermitkov will take a look at this.

[2019-07-16 08:33] stefanov-stefan commented on #1168
Hey @merriemcgaw, @petermitkov will take a look at this.

[2019-07-16 08:50] MrB0nd opened #1395 "ComponentDesigner - InitializeNewComponent/InitializeExistingComponent issues"
* .NET Core Version: **3.0.100-preview8-013006**
* Have you experienced this same bug with .NET Framework?: **No**

I have a question about the InitializeNewComponent and InitializeExistingComponent methods of the ComponentDesigner class.
 
In .NET Framework, the InitializeNewComponent method implementation contains some code related to DesignerActionUIService. Also InitializeNewComponent calls th

[2019-07-16 13:05] M-Lipin opened #1396 "Accessibility: High Contrast - PrintPreview - The border of the PrintPreviewControl is inconsistent in the four themes of High Contrast"
**Steps to reproduce:**
Install the .NET Core 3.0 SDK from https://github.com/dotnet/core-sdk.
Create a project with PrintPreviewControl on the form.
Open the form with PrintPreviewControl and select the respective high contrast theme.
Build and run it.

**Actual:**
The border of the 'PrintPreviewControl' control is not easy to distinguish between #1 and Black theme.
High Contrast #1：
![image](htt

[2019-07-16 13:10] ericstj commented on #1342
I suspect you’ll receive pushback if you put a type in corefx.  I think it’s better to depend on the format and have a simple writer implemented on top of the xml library of your choice.

You are welcome to open an issue in corefx for future to have that discussion.

[2019-07-16 13:41] M-Lipin commented on #1396
Initiated PR #1398

[2019-07-16 16:10] bricelam commented on #1342
It's just been a pet peeve for years, so I wanted to test how much push back there would be. Doesn't sound like it's worth pursuing.

[2019-07-16 18:25] nguerrera commented on #1346
Adding @cston

It is my understanding that there remains VB runtime implementation work for MyType=WindowsForms that will not be done by 3.0 RTM.

[2019-07-16 21:55] jdm7dv commented on #1230
They are treating warnings are errors in the microsoft.dotnet.arcade.sdk\1.0.0-beta.19323.4

[2019-07-16 22:04] AdamYoblick commented on #1389
This is due to intellisense stuff we added, which is nearly identical to what wpf does. I noticed the warnings as well. @vatsan-madhavan do you know of any way to suppress these warnings?

[2019-07-16 22:56] AdamYoblick commented on #1230
This is kind of off-topic, but I'm not sure I understand this comment. The whole point of a package manager like nuget is specifically so you don't have to check packages into source control. It is literally depending on the internet to build software.

Igor, this seems like maybe a bug with the build-local script if the user has never installed any dotnet sdk?

[2019-07-16 23:09] jdm7dv commented on #1230
![Untitled](https://user-images.githubusercontent.com/8218836/61335819-dc3b9400-a7fc-11e9-851d-0bd63205c37c.png)

Might not be the problem but it was a thought. You can build C# or .NET projects with a simple makefile and nmake might not resolve all of the dependencies but in the old .NET we didn't need many.

[2019-07-16 23:24] vatsan-madhavan commented on #1389
See https://github.com/dotnet/arcade/pull/2249/files for context.

- You can try changing the error text in `$errMsg`
- Maybe add another config variable (for e.g., `SuppressNativeToolsInstallationWarningMessages`) and skip `Write-Warning $errMsg`

[2019-07-16 23:32] jdm7dv commented on #1230
[https://github.com/intj-t/Lex](url) Here is an example in C# with nmake if anyone cares.

[2019-07-17 03:27] #1176 closed

[2019-07-17 03:27] #1177 closed

[2019-07-17 04:24] RussKie commented on #1230
I'm going to test it on a blank VM

[2019-07-17 08:42] Olina-Zhang opened #1408 "The chosen menu items in MenuStrip/ContextMenuStrip/ToolStrip have no background color"
* .NET Core Version: 3.0 Preview7 012821 from Release branch
* Have you experienced this same bug with .NET Framework?: No

**Minimal repro:**
1. Open attached Winforms .Net Core app and run it
[WindowsFormsApp5.zip](https://github.com/dotnet/winforms/files/3400833/WindowsFormsApp5.zip)
2. Use mouse or keyboard accelerators(after GitHub issue ![image](https://user-images.githubusercontent.com/2647

[2019-07-17 16:29] giggio commented on #147
Summarizing to anyone coming across this in the future. All you have to do to get the designer to show is this on your csproj:

[code]

A lower version of .NET Framework should work too, like `net472`.

[2019-07-17 17:55] DustinCampbell opened #1412 "SnapLine is not implemented"
None of the APIs on `SnapLine` are implemented, which affects the WinForms designer.

[2019-07-17 18:11] danmosemsft opened #1413 "SR.Designer.cs is public API"
src\System.Windows.Forms.Design\src\Resources\SR.Designer.cs contains the strings for Winforms implementation, but it is currently a public class which means we would be shipping it as public API and need to document it, not break it, etc.

It should be internal like similar classes in CoreFX (although in CoreFX it's generated in the build)

[code]

[2019-07-17 18:14] danmosemsft commented on #1413
This is showing up as "must be documented" in our tooling which is why I noticed it

[2019-07-17 18:19] jmarolf opened #1414 "Support Class Library project templates"
This is to bring us to experience parity with desktop for WPF on .NET Core 3.0.

On desktop today you can add a class library project to your existing Winforms solution and everything will just work. Due to complexities in how Framework References work this will not light up automatically. Instead we will need a Winforms Class library template that has the correct framework references.

[2019-07-17 18:19] jmarolf commented on #1414
cc: @OliaG

[2019-07-17 18:44] merriemcgaw commented on #1413
Thanks @danmosemsft . I'll have @RussKie take a look. That spreadsheet scared me!

[2019-07-18 07:50] weltkante commented on #1413
@merriemcgaw I don't think that SR should be documented, it should be made internal like @danmosemsft suggested. All the SR classes are internal in Desktop Framework too, I don't see why they should start to be public.

[2019-07-18 08:47] RussKie commented on #147
Correct, thank you.
The information has been captured in https://github.com/dotnet/winforms/blob/master/Documentation/winforms-designer.md.

[2019-07-18 09:05] Jessie-Zhang01 opened #1421 "Accessibility: [High Contrast]: The text cannot be shown when focus "Close" button of ToolStrip item in Print Preview dialog"
* .NET Core Version: 3.0.100 Preview8 13316 from master branch
* Have you experienced this same bug with .NET Framework?: Yes.

**Repro Steps:**

1. Open control panel and select the respective high contrast theme.
2. Open the attached application [PrintDemo .zip](https://github.com/dotnet/winforms/files/3405539/PrintDemo.zip), build and run.
3. Click the 'Preview' button to show the Print preview

[2019-07-18 13:55] RussKie commented on #1413
@weltkante I think you may have misread Merrie's response.
We're turning it internal like everything else.

[2019-07-18 14:10] weltkante commented on #1413
I was referring to the 'documentation' tag.

[2019-07-18 15:24] M-Lipin opened #1423 "Accessibility: The ToolStrip control UIA hierarchy of PrintPreviewDialog is not correct"
Accessibility hierarchy of the PrintPreviewDialog's ToolStrip is not correct and may freeze the Inspect/other accessibility client app (due to infinite loop of UIA child elements):

![image](https://user-images.githubusercontent.com/23213980/61470137-31a4ac00-a989-11e9-92a4-a1ce93f6c984.png)

[2019-07-18 17:27] merriemcgaw commented on #1421
@M-Lipin or @vladimir-krestov can you guys take a look at this?

[2019-07-18 18:26] #1413 closed

[2019-07-18 18:27] danmosemsft commented on #1413
thanks @RussKie

cc @carlossanlop

[2019-07-18 18:44] #1273 closed

[2019-07-18 18:44] #1335 closed

[2019-07-19 00:13] Tanya-Solyanik commented on #889
If serializableattribute decorates an enum or struct, remove it.
If serializableattribute decorate a class, seeif it participates in any of known serialization scenarios:
1. Exceptions are serializable because they are exchanged between frameworks(https://github.com/dotnet/corefx/issues/23520)
2. ToolboxItems are serialized to files and clipboard
3. binary serialization is used in resx serializati

[2019-07-19 13:58] #1021 closed

[2019-07-19 21:30] JeremyKuhne opened #1435 "Remove all references to DRAWING_DESIGN_NAMESPACE"
Most are gone, need to remove from projects and look for any other references.

[2019-07-20 02:50] maikebing opened #1436 "If possible, want the Ribbon control."
Existing open source projects
https://github.com/RibbonWinForms/RibbonWinForms

MFC's Ribbon Designer
https://docs.microsoft.com/en-us/cpp/mfc/ribbon-designer-mfc?view=vs-2019

So, I think winforms should have Ribbon.

[2019-07-21 20:48] #1414 closed

[2019-07-22 09:48] #1372 closed

[2019-07-22 09:48] #1378 closed

[2019-07-22 09:48] #1379 closed

[2019-07-22 09:48] #1380 closed

[2019-07-22 13:41] #1396 closed

[2019-07-22 19:16] JeremyKuhne opened #1441 "Consider using reflection to optimize code paths in stock scenarios"
WinForms is almost completely configurable but that comes at a performance cost. When we get windows messages (`WM_*`) we create event classes and jump through a lot of hoops that would not be necessary in a closed system.

For one example, getting a `WM_ERASEBKGND` often ends up being a `FillRect` on the passed in `HDC`.  We could potentially avoid a lot of hoop jumping some allocations if we kne

[2019-07-22 23:40] JeremyKuhne commented on #1151
DesignerHost_Add_ComponentDisposeThrowsDuringUnloadingDispose_ThrowsInvalidOperationException has been failing regularly with the same error.

https://dev.azure.com/dnceng/public/_build/results?buildId=266084&view=ms.vss-test-web.build-test-results-tab&runId=7239310&resultId=100000&paneView=history

[2019-07-23 01:32] vatsan-madhavan commented on #1389
See https://github.com/dotnet/wpf/pull/1339 and https://github.com/dotnet/arcade/pull/3315

Implement this in winforms; wait for an update from arcade.

[2019-07-23 14:15] MrB0nd commented on #1395
@merriemcgaw @RussKie Any updates on this?

[2019-07-23 20:45] #1389 closed

[2019-07-24 07:09] Tanya-Solyanik opened #1460 "Unit test intermittently fails"
DesignerHost_Add_ComponentDisposeThrowsDuringUnloadingDispose_ThrowsInvalidOperationException might have a race condition

https://github.com/dotnet/winforms/blob/774bd34a750016e596808bc6106d63b79dff2462/src/System.Windows.Forms.Design/tests/UnitTests/System/ComponentModel/Design/DesignerHostTests.cs#L1801-#1814

[2019-07-24 09:59] hughbe commented on #1460
Hmmm - i'm a bit surprised because there shouldn't be any async stuff interfering with this

[2019-07-24 12:08] #1423 closed

[2019-07-24 13:17] #1109 closed

[2019-07-24 13:17] #1110 closed

[2019-07-24 13:17] #1168 closed

[2019-07-24 16:01] merriemcgaw commented on #1436
Thank you so much for the suggestion. Currently this isn't in our roadmap for 3.0/3.1. We may want to re-evaluate for .NET 5.

Right now we're working on a suggestion for .NET Core 3 that is going through the full process to be accepted into WinForms. The discussions in #146 and the PR #1133 are a good example of what we need to do to get a new feature into the WinForms runtime. If you're interest

[2019-07-24 16:01] #1436 closed

[2019-07-24 16:08] merriemcgaw commented on #1412
Need to port this from the Framework sources into Core if we want the SnapLines feature in VS to work in the new Core Designer.

[2019-07-24 16:12] merriemcgaw commented on #1408
Regression related to the work in #1021

[2019-07-24 16:13] merriemcgaw commented on #1408
@vladimir-krestov can you take a look?

[2019-07-24 20:45] livarcocc opened #1462 ".NET Core MSBuild is missing the LC task"
_From @livarcocc on Monday, April 24, 2017 5:08:10 PM_

_From @alienisty on April 24, 2017 1:58_

## Steps to reproduce
Just create a project with a licenses.licx file definition and build the project with

## Expected  behavior
The project builds and the license information are compiled in the binaries

## Actual behavior
The following error is raised:

aration is correct, that the assembly and a

[2019-07-24 20:45] livarcocc commented on #1462
_From @livarcocc on Monday, April 24, 2017 5:08:10 PM_

_From @alienisty on April 24, 2017 2:1_

Note that building the project with MSBuild provided with Visual Studio 2017 builds the project fine.
I also checked the core tasks dlls from the donet core SDK and VS2017 and the one from the dotnet core sdk is actually missing the LC task, while the VS2017 one has it.

[2019-07-24 20:45] livarcocc commented on #1462
_From @rustyhann on Tuesday, August 1, 2017 7:15:13 PM_

I'm also experiencing this problem. I tried pointing our build script to MSBuild.exe in the Visual Studio installation path (..\Program Files (x86)\..\) but I still get this error.

[2019-07-24 20:45] livarcocc commented on #1462
_From @rainersigwald on Tuesday, August 1, 2017 7:22:55 PM_

The LC task wasn't ported to .NET Core because `lc.exe` isn't available in a cross-platform version (that I know of, anyway). The task just calls the executable, so it wouldn't work on non-Windows platforms.

The best way to deal with this today is to use full-framework `msbuild.exe`, which does have the task.

@rustyhann, you're saying

[2019-07-24 20:45] livarcocc commented on #1462
_From @rustyhann on Tuesday, August 1, 2017 7:52:23 PM_

@rainersigwald

Thank you for the quick reply,

I'm working on generating a diagnostic log now. While that's running I can provide some background on our project.

We started the project as a .NET Core project (using dotnet new), then changed the target to "net462". We're doing this as a way to move to .NET Core completely while we migrate o

[2019-07-24 20:45] livarcocc commented on #1462
_From @vanthao on Tuesday, October 3, 2017 7:09:28 PM_

When this issue will be fixed? I faced the same issue with Teletik license file.

[2019-07-24 20:45] livarcocc commented on #1462
_From @rustyhann on Tuesday, October 10, 2017 1:47:24 AM_

You can work around this by building with MSBuild and deploying with MSDeploy. The .Net Core tools will not work. The root issue for our scenario was dotnet publish was calling dotnet build. The no-compile option was deprecated in dotnet build. Even if we used MSBuild before calling dotnet publish we still had the issue. Switching to MSDep

[2019-07-24 20:45] livarcocc commented on #1462
_From @iainnicol on Thursday, November 29, 2018 10:22:47 AM_

Makes sense. But does .NET Core 3's support of WinForms controls (on Windows) change things?

[2019-07-24 20:45] livarcocc commented on #1462
_From @rainersigwald on Thursday, November 29, 2018 4:07:02 PM_

That's a good question. @merriemcgaw do you know if there are plans to bring `lc.exe` to core?

[2019-07-24 20:45] livarcocc commented on #1462
_From @iainnicol on Thursday, November 29, 2018 5:04:40 PM_

Thanks for forwarding on the question.

Note that even if the "dotnet" command does not get support, a tweak to the (.NET Framework) msbuild task would still be useful. Similarly to #2836, (.NET Framework) msbuild passes giant command line arguments to lc.exe, when targetting netcoreapp3.0.

[2019-07-24 20:45] livarcocc commented on #1462
_From @merriemcgaw on Thursday, November 29, 2018 9:07:42 PM_

I know it's been discussed, but I don't know where the discussions have landed yet.

[2019-07-24 20:45] livarcocc commented on #1462
_From @ericstj on Friday, February 8, 2019 2:44:48 PM_

Running desktop lc.exe on core assemblies is busted. See https://github.com/dotnet/corefx/issues/24200#issuecomment-461803927.  I think this needs to be fixed. We have had a few customers ask for the licensing functionality in netcore 3.0.

[2019-07-24 20:45] livarcocc commented on #1462
_From @sansjunk on Friday, February 8, 2019 2:52:24 PM_

@ericstj Thanks for pointing to the issue I faced. I'd like to add we need this not just for licensing components/controls but also plain class libraries. In fact right now for .NET core we are trying this only for the plain class library case.

[2019-07-24 20:45] livarcocc commented on #1462
_From @merriemcgaw on Friday, February 8, 2019 8:53:41 PM_

@sansjunk thanks for the scenario explanation. I will be working with my team to make a plan for when/how we migrate lc.exe support to Core.

[2019-07-24 20:45] livarcocc commented on #1462
_From @livarcocc on Friday, February 8, 2019 9:43:28 PM_

Should we move this issue to the winforms repo?

[2019-07-24 20:45] livarcocc commented on #1462
_From @IrinaPykhova on Wednesday, April 3, 2019 1:48:54 PM_

WPF uses the same licensing model

[2019-07-24 20:45] livarcocc commented on #1462
_From @jroessel on Wednesday, July 24, 2019 8:04:49 AM_

Is this issue expected to be fixed for the final .NET Core 3.0 release?

[2019-07-24 20:55] merriemcgaw commented on #1395
Sorry for the delay @MrB0nd . We're looking at the issue, and I think we're going to be able to address it in 3.1 by porting the remaining pieces of ComponentDesigner class to Core. We're unfortunately a bit overloaded to be certain we can get this in 3.0, but we expect that 3.1 is likely.

[2019-07-24 20:56] merriemcgaw commented on #1462
We do not have this on our radar for the 3.0 release. @OliaG , when will we be taking a look at how we support licensing for 3.0?

[2019-07-24 21:21] JeremyKuhne opened #1463 "Should use GetDllVersion for seeing what common controls is available"
In [`Application.InitializeComCtlSupportsVisualStyles()`] we're scraping for known exports to determine the version of common controls that is available. That's error prone and why they've added `DllGetVersion` to the various shell dlls. There shouldn't be a "binding" issue as called out in the code.

Feel free to use my implementation as a reference, I don't need credited. https://github.com/Jere

[2019-07-25 04:58] vladimir-krestov commented on #1408
@merriemcgaw Yes, assigned to me.

[2019-07-25 07:48] Amy-Li02 opened #1466 "The return value of ToolTip control's ToString() method is incorrect"
* .NET Core Version: .NET Core 3.0.100-preview8-013439 from master branch
* Have you experienced this same bug with .NET Framework?:  **No**

 **More Info:** The issue cannot repro in .Net Core 3.0.100-preview8-013404 from master branch

**Steps to reproduce:**
1.	Create a Winforms .NET Core application.
2.	Write following code to Form1.cs.
[code]
3.	 Debug the application.

**Actual behavior:**
W

[2019-07-25 10:38] #1408 closed

[2019-07-25 10:58] #1466 closed

[2019-07-25 13:54] M-Lipin opened #1470 "Accessibility: PrintPreviewDialog's PageNumericUpDown spinner Accessible name is not correct"
Accessible name of the PrintPreviewDialog PageNumericUpDown spinner is incorrect: it is empty or shows 1/2/3/4 but should have 'PageNumericUpDown' accessible name's text.

![image](https://user-images.githubusercontent.com/23213980/61881334-21e41500-aeff-11e9-9c96-23e440409fcc.png)

[2019-07-25 14:43] DustinCampbell commented on #1412
It's exactly a panic. I've worked around it in the new designer.

[2019-07-25 16:01] cadesalaberry opened #1515 "Cannot use System.Windows.Forms in preview7"
# Cannot use `System.Windows.Forms` in `3.0-preview7`

When upgrading from 3.0 preview6 to 3.0-preview7 I get stuck with:

[code]

# General

I realised that the error was coming from the version of dotnet Core after uninstalling ALL available SDKs but the `3.0-preview6` version. I then executed `dotnet --version` and realised it was still using `3.0-preview7` which made no sense.

This makes me t

[2019-07-25 17:46] #1470 closed

[2019-07-25 17:58] merriemcgaw commented on #1412
@RussKie will take a look and start porting as soon as he can.

[2019-07-25 17:59] merriemcgaw commented on #1408
Nice!

[2019-07-25 21:23] RussKie commented on #1098
Progress update:

I have spent a considerable amount of time on this, the logic is quite arcane.
My current conclusion that the issue is somehow caused by the removal of `AccessibilityImprovements.Level3` quirks in #754. I will follow up with @M-Lipin  to confirm my findings.

[2019-07-26 02:31] ericoporto commented on #221
Hey, I am hitting this at Dotnet core 3.0 Preview 7, checking the above, it seems it will be only on 3.0 Preview 8 (from the milestone). Is this it, or I was supposed to be able to get System.Design on Preview 7?

[2019-07-26 05:44] davkean opened #1479 "Windows Forms template has a resource by default"
[code]

 **Problem description:**

Windows Forms (.NET Core) template has an unused RESX in it under the Form, this is different from .NET Framework. The Form has not been opted in localization, so I'm not sure why this RESX exists.

 **Actual behavior:**
Has RESX
![image](https://user-images.githubusercontent.com/1103906/61928610-59fd5d80-afbc-11e9-9d65-4686a4afa063.png)

 **Expected behavior:**

[2019-07-26 05:58] 0x084E commented on #1311
Are there any hints or workarounds for this? That just prevents me from going beyond preview5.

[2019-07-26 07:24] davkean commented on #1479
Yep you are right, wrong repo.

[2019-07-26 07:37] IanMarteens commented on #1311
Move any initializations involving controls from the constructor into an overridden OnHandleCreated method.

[2019-07-26 07:54] RussKie commented on #221
@ericoporto please open a new issue and provide all necessary information.

[2019-07-26 09:09] 0x084E commented on #1311
Thanks but far to much effort if you have a lot of forms.
Fortunately I already have a derived ComboBox class in place. The following code in the derived class seems to successfully workaround it, too.

[code]

[2019-07-26 11:41] jnm2 commented on #221
@ericoporto You aren't reading the (confusing) GitHub message correctly; the removed milestones are listed before the added ones. You can verify by looking in the sidebar that the current milestone is Preview 6:

![image](https://user-images.githubusercontent.com/8040367/61949396-c6ef0400-af78-11e9-9a6d-15bcf9215d32.png)

[2019-07-26 13:02] vladimir-krestov commented on #1328
Currently, the issue of the accessibility navigation tree structure is being resolved.

[2019-07-26 17:53] JeremyKuhne opened #1489 "XML comments style guidelines"
In CoreFX we didn't call out a standard for XML comments. Since we have so much active cleanup and code generation I think we should develop some consistency guidelines, with the following goals:

**Goals (in priority order)**

1. Code style is consistent
2. Comments are readable
3. Comments are maintainable
4. Comments have real value

Here are some starting guidelines for discussion:

**Guidelin

[2019-07-26 17:56] bartonjs commented on #1489
I'm guessing `<paramref>` and/or `<see>` were in there, but didn't get escaped? :smile:

[2019-07-26 17:57] JeremyKuhne commented on #1489
Heheh :) Fixing

[2019-07-26 17:58] RussKie commented on #1489
In a full accord with these 💯

[2019-07-26 18:02] bartonjs commented on #1489
The indentation I've done is actually two spaces, the same as VS was doing for nested tags (IIRC).

If comments exist I think the guidelines here are reasonable.  But I, personally, have a love/hate relationship with API comments in code...  they get written in code, then they get ported to the docs site (if the member was new), then the docs site is the authority.  So, personally, I'm sort of an

[2019-07-26 18:04] RussKie commented on #1489
What about the intellisense?

[2019-07-26 18:35] JeremyKuhne commented on #1489
I clarified

[2019-07-26 20:12] bartonjs commented on #1489
From inside the assembly, or outside?  From outside it's provided by bundles that are built from the information in dotnet-api-docs (the same thing that feeds docs.microsoft.com).  From inside it might/might-not matter.

Most projects I've worked on don't bother xmldocs non-public members, so "internal public calls" and "internal internal calls" equally having no docs is a potentially sane state t

[2019-07-27 16:59] IanMarteens commented on #1311
You're right, of course.

[2019-07-28 10:58] koszeggy opened #1504 "Dual monitor dialog resize issue"
**Issue reproduction steps:**

1. Make sure your secondary display is left or above of your primary display (so it has negative relative coordinates)
2. Create a new Windows Forms Application and display a form by `ShowDialog` so the resize grip is visible.
3. Execute the application and drag the form to the secondary display.
4. Now as its coordinates are in the negative range, move the mouse alo

[2019-07-28 11:13] 0xd4d commented on #1504
The minimal fix can just add a `(short)` cast to the original code.

Did you check if there are similar bugs in other parts of the code?

[2019-07-28 11:18] koszeggy commented on #1504
The other parts seem to be ok. I discovered this some years ago and I did not experience other issues (I use an "overridden" hittest in my projects).

[2019-07-28 11:27] 0xd4d commented on #1504
Here's one possible bug:

https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/Control.cs,16568

msg is WM_MOUSEFIRST = 0x0200 to WM_MOUSELAST = 0x020A which includes eg. WM_LBUTTONDOWN = 0x0201 and according to [the docs](https://docs.microsoft.com/en-us/windows/win32/inputdev/wm-lbuttondown), you should use GET_X_LPARAM or GET_Y_LPARAM to get x/y since the

[2019-07-28 13:23] hughbe commented on #1460
Possibly related: a failure in `DesignSurface_View_GetWithInvalidSupportedTechnologies_ThrowsNotSupportedException`

Assert.Throws() Failure\r\nExpected: typeof(System.NotSupportedException)\r\nActual: typeof(System.InvalidOperationException): The CurrentContext property of the LicenseManager is currently locked and cannot be changed.\r\n---- System.InvalidOperationException : The CurrentContext p

[2019-07-29 02:36] Zheng-Li01 opened #1517 "Failed to bind data to the Button control in Properties Browser dialog"
.NET Core Version: (3.0 Preview8 100.13437 from master)
Have you experienced this same bug with .NET Framework?: No

**More info**: The issue can reproduce many controls’s properties.

**Reproduce Steps:**
1. Installed the VSIX & latest .NET Core SDK from https://github.com/dotnet/core-sdk.
2. Create a .NET Core winforms applicaiton with button control.
3. Bind data in Properties Browser dialog.

[2019-07-29 07:56] Marie-Shi opened #1520 "WinForm RichTextBox LinkClicked event fails to fire when control loaded with RTF containing a friendly name hyperlink"
* .NET Core Version: .Net Core 3.0.100-preview8-013587 build from master branch
* Have you experienced this same bug with .NET Framework?: Yes

**More info:**
There is a blocked GitHub issue [33714](https://github.com/dotnet/corefx/issues/33714) when use Test2.rtf
[Test2_Doc.zip](https://github.com/dotnet/winforms/files/3440865/Test2_Doc.zip)(just add more words than Test.rtf ). Please see the fol

[2019-07-29 08:30] weltkante commented on #1515
Do you have a `<UseWindowsForms>true</UseWindowsForms>` in the project file?

[2019-07-29 08:34] weltkante commented on #1520
You cannot use Process.Start with URLs in .NET Core because the default of `UseShellExecute` changed to false to be consistent between platforms (it used to default to true in Desktop Framework). Since only Windows supports `UseShellExecute` (which is required for "executing" URLs) you now have to specify this explicitly. Just use an overload which allows to specify `UseShellExecute`.

(Also note

[2019-07-29 08:34] RussKie commented on #1515
@cadesalaberry can you please post the content of your csproj file?

P8 is yet to be cut, so it won't be released for another month or so.

As far as our schedule goes, we're on track with our releases.

[2019-07-29 08:49] RussKie commented on #1504
@Olina-Zhang I understand this relates to the email thread we had.
Could you please confirm the bug?

[2019-07-29 09:09] hughbe commented on #1489
I’m not sure about #2 - two spaces after doc comment isn’t something I’ve really ever seen

[2019-07-29 09:43] Olina-Zhang opened #1522 "[HDPI] CheckListBox with multi-items is not scaled well"
* .NET Core Version: 3.0.100-preview8-013334
* Have you experienced this same bug with .NET Framework?: Yes

**Repro Steps:**
1. Set Windows DPI as 100%, then create a Winforms .Net Core application
2. Add CheckListBox control to form designer, and add 4 lines items to this control, ensure all items are shown without scrollbar and no extra empty line --- use .Net framework app designer code to wor

[2019-07-29 10:04] Olina-Zhang commented on #1504
@RussKie I can repro this issue on 2 monitors with above setting: secondary display is left or above of your primary display.

Tested .Net Core app:
[WindowsFormsApp5.zip](https://github.com/dotnet/winforms/files/3441439/WindowsFormsApp5.zip)

[2019-07-29 10:52] M-Lipin commented on #1098
It seems that we need to delay accessing DataGridView.EditingControlAccessibleObject until corresponding EditingControl is initialized and its handle is created.

[2019-07-29 12:55] cadesalaberry commented on #1515
Here is my `.csproj`. I am not `<UseWindowsForms>true</UseWindowsForms>` as I haven't seen it documented anywhere. I will give it a try.

[code]

[2019-07-29 13:12] hughbe commented on #1460
Another possibly related failure in https://github.com/dotnet/winforms/pull/1527

      System.Exception : There is no designer for the class System.ComponentModel.Design.Tests.DesignerHostTests+DesignerComponent.
      Stack Trace:
        /_/src/System.Windows.Forms.Design/src/System/ComponentModel/Design/DesignerHost.cs(244,0): at System.ComponentModel.Design.DesignerHost.AddToContainerPostProc

[2019-07-29 13:37] cadesalaberry commented on #1515
The build is now successful, I was missing the `< UseWindowsForms >` option to make it all work.

Thanks for the help !

[2019-07-29 13:37] #1515 closed

[2019-07-29 14:41] RussKie commented on #1515
Your project was targeting WPF stack.
To target WinForms (or more officially Windows Forms) you need to use `<UseWindowsForms>true</UseWindowsForms>` as @weltkante suggested.

AKAIK you can target both stacks simultaneously too, e.g. use both switches:
[code]

[2019-07-29 14:46] RussKie commented on #1151
Related #1460

[2019-07-29 14:57] #1310 closed

[2019-07-29 14:59] hughbe commented on #1326
Fixed

[2019-07-29 14:59] #1326 closed

[2019-07-29 17:47] merriemcgaw commented on #1504
Let's see if we can get this in to 3.1, but if not we're planning on doing some Per Monitor and HDPI work in 5.0

[2019-07-29 17:49] merriemcgaw commented on #1517
Moving to the designer repo to tackle when we're working on data binding scenarios.

[2019-07-29 17:56] merriemcgaw commented on #1520
@ericstj , @karelz can you help us locate the corefx bug that @weltkante links. Can you confirm the failure in the process.start call is by design?

@Marie-Shi - you should change the test as @weltkante suggests and confirm that it works.

[2019-07-29 21:38] ChrisSires opened #1532 "Color Contrast Analyzer fails for default highlighted text color"
See screenshot.  Note the example shows the Windows Run dialog failing this check as well as the default winforms TextBox control.  According to this tool being used to validate MAS standards, this is a violation of MAS 1.4.3, having to do with Contrast (Minimum).

![image](https://user-images.githubusercontent.com/37852980/62084437-2f0a4800-b20e-11e9-8013-b3c4530a34d6.png)

[2019-07-29 21:39] ChrisSires commented on #1532
See aka.ms/enable for more information on the MAS guidelines.

[2019-07-29 23:15] merriemcgaw commented on #1532
If you note, the dialog mentions that it is "just below" 4.5:1 for the contrast ratio. In the past we've been given guidance that this is most definitely just a rounding error and that if Windows is going with the same contrast then we are good to go too. We're doing an official compliance test pass right now with the accessibility group and I will confirm that they continue to approve this settin

[2019-07-30 00:09] ChrisSires commented on #1532
Good to hear this is a technicality and not a real issue.  Thank you.

[2019-07-30 06:32] Marie-Shi commented on #1520
@weltkante @merriemcgaw “More info” is another scenario when RichTextBox use **Test2.rtf**(just add more words than Test.rtf in attached project), click the “Click here”, it is blocked by GitHub issue [33714](https://github.com/dotnet/corefx/issues/33714). But using Test2.rtf in .Net Framework project, click the “Click here”, it opens the browser and navigates to the page of Google. The original p

[2019-07-30 07:09] karelz commented on #1520
`UseShellExecute` default changed as described above. If that is the root cause, all is fine and by design.
cc @wtgodbe

[2019-07-30 10:32] John-Qiao opened #1534 "VB Winforms project Form event doesn’t generated correctly when add the Form event from form.vb code page"
* .NET Core Version: 3.0.100-preview8-013587 from Master branch
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
All Form events have the same issue when add Form events by this way.

**Actual behavior:**
A not defined type NullableAttribute added in Form1_Load event, it caused the project cannot be built successfully.
![Actual](https://user-images.githubuser

[2019-07-30 11:00] maikebing commented on #147
Does anyone know when the designer plans to release it?

[2019-07-30 11:34] RussKie commented on #147
A preview of the designer will be released as part of .NET 3.0 release in September 2019.

[2019-07-30 11:52] hughbe opened #1536 "Discussion: should we throw ANEs or do nothing in `UITypeEditor.PaintValue subclasses`"
E.g. in ColorEditor:

[code]

Currently this is a NRE for `Paint(null)`. However, do we want to throw an ANE or `nop` if the  event args are null.

Looking at the construction of this code, I'm inclined to be a `nop`, as we're checking explicitly whether the event args that were passed to us were invalid

Let me know - I'd like to send in a PR

# Current Cases
- ColorEditor: throws NRE
- FontNameE

[2019-07-30 11:57] hughbe commented on #1059
I modified `src/System.Drawing.Design/src/ApiCompatBaseline.txt` to read the following (deleting FontNameEditor which does in fact exist and deleting ToolboxItemCreator which does not exist);

[code]

I then ran
[code]

and got the following output:
[code]

Am I doing smething wrong? It appears as if the ApiCompatBaseline.txt file is not being read - I'd expect an error here

[2019-07-30 12:41] #540 closed

[2019-07-30 12:52] RussKie commented on #1534
I don't think it is a runtime issue, and is probably a VS issue...

[2019-07-30 16:26] wtgodbe commented on #1520
I believe this is the issue: https://github.com/dotnet/corefx/issues/24704

[2019-07-30 16:44] merriemcgaw commented on #1534
@KlausLoeffelmann @KathleenDollard do you guys think this is VS related?

[2019-07-30 16:50] weltkante commented on #1520
@wtgodbe  No thats about what UseShellExecute should do on Linux, though the title doesn't reflect that.

The one I had in mind had a discussion about what the right thing to do was, from the three options
* always throw an exception on Linux because UseShellExecute defaults to true but is not supported
* have different behavior of the same API between Linux and Windows
* change the behavior on Wi

[2019-07-30 17:06] KathleenDollard commented on #1534
@jinujoseph @jasonmalinowski any thoughts?

[2019-07-30 18:23] jasonmalinowski commented on #1534
I'm surprised about the "NullableAttribute is not defined" because that would seem to imply we're generating attributes to something that's internal and that's a general bug in our method generation code. #36163 recently changed that so it should have been dropping inaccessible attributes, but I guess it's not being applied in this case and it (generally) should be.

More generally too, we're also

[2019-07-30 18:24] jasonmalinowski commented on #1534
Can somebody with admin permissions on this repo move this bug to dotnet/roslyn?

[2019-07-30 18:52] RussKie commented on #1534
@danmosemsft @ericstj do you have permissions to move?

[2019-07-30 20:42] merriemcgaw opened #1542 "WinForms Interop: XamlParseException on .NET Core"
@thomasclaudiushuber commented on [Wed Jul 24 2019](https://github.com/dotnet/wpf/issues/1366)

* .NET Core Version: 3.0.100-preview8-013410
* Windows version: 1903
* Does the bug reproduce also in WPF for .NET Framework 4.8?: No

 **Problem description:**
Creating a WinForms DataGridView in WPF XAML throws XamlParseException on .NET Core. This happens for the DataPropertyName property of the Data

[2019-07-30 21:46] rladuca commented on #1542
I did a quick search and just the first hit `LinkAreaConverter` seems to not have an implementation.  This makes me think that there are definitely other TypeConverters that are not implemented.  If WPF ever attempts to instantiate these, it will crash in the same fashion.

[2019-07-31 02:34] KaneLeung opened #1544 "WinForm RichTextBox SelectionChanged event fails when set SelectionFont"
* .NET Core Version:3.0.100-preview7-012821
* Have you experienced this same bug with .NET Framework?: No

**Problem description:WinForm RichTextBox SelectionChanged event fails when set SelectionFont

**Actual behavior:**

**Expected behavior:**

**Minimal [repro:RichTextboxBugTest](https://github.com/KaneLeung/RichTextboxBugTest)

[2019-07-31 05:27] dreddy-work commented on #1542
That is true. Types in "System.Design" assembly are ported only on need basis or based on their usage.

[2019-07-31 05:34] weltkante commented on #1542
`LinkAreaConverter` has a `typeof` and isn't constructed by string, so it wouldn't compile if it weren't implemented. It is implemented inside LinkArea.cs, the github search just returns one match per file so its not visible on the search page.

Also it can't be referencing the wrong assembly since the `typeof` will use the assembly where the compiler actually sees it. You need to search for TypeC

[2019-07-31 17:07] merriemcgaw commented on #1544
@Olina-Zhang can your team try to repro this and see if there is a workaround.
@KaneLeung what OS are you running this on?

[2019-07-31 17:10] merriemcgaw commented on #1532
Thanks!

[2019-07-31 17:10] #1532 closed

[2019-07-31 17:14] merriemcgaw commented on #1536
We've decided to leave this as is.

[2019-07-31 17:17] merriemcgaw commented on #1534
@DustinCampbell do you have access to move this issue? If not I'll use Zenhub's move issue feature, but it's neater with GitHub's

[2019-07-31 19:06] carlossanlop opened #1548 ".NET Core 3.0 Preview 7 - PictureBox.LoadAsync throws an exception. "Operation is not supported on this platform.""
_From @ebizupnorth on Monday, July 29, 2019 4:28:28 AM_

[code]
The following code throws an Exception "Operation is not supported on this platform." on .NET Core 3.0 Preview 7. The picture loads fine when using .NET Framework 4.8

Form1.Designer.cs
[code]
Form1.resx
[code]

Form1.cs
[code]

_Copied from original issue: dotnet/core#3107_

[2019-07-31 19:06] carlossanlop commented on #1548
_From @ebizupnorth on Monday, July 29, 2019 5:57:12 PM_

Workaround:
[code]

[2019-07-31 19:06] carlossanlop commented on #1548
_From @carlossanlop on Wednesday, July 31, 2019 7:06:17 PM_

Thank you @ebizupnorth for the detailed report. I will transfer your issue to the winforms repo.

[2019-07-31 19:34] weltkante commented on #1548
This was reported previously as #242 but @merriemcgaw misunderstood the comment from corefx and closed as "by design". This is the wrong resolution, there was a comment afterwards with a link on how to replace `Delegate.BeginInvoke` calls in .NET Core but the issue never was reopened.

Note that the naming of that function `LoadAsync` predates the async/await language features. It is not actually

[2019-07-31 19:59] ericstj commented on #1059
If you specify `/p:BaselineApiCompat=true` you will not get any error and the baseline text file will be rewritten.  Is this what you are observing?

[2019-07-31 22:23] merriemcgaw commented on #1548
@weltkante you're right - thank you for catching that, it slipped by me. We'll keep this one open for now. I can't be sure if we'll get it for this 3.0 GA but we'll try.

[2019-07-31 22:31] rladuca commented on #1542
Doh, you're right.  I'll see myself out : - ).

[2019-08-01 06:13] Tanya-Solyanik opened #1549 "System.Windows.Forms and S.W.F.Design should test round trip between framework versions"
Existing tests verify:
1. integration scenarios where resources that are generated on .Net framework are read on Core
2. test for presence of Serializable attribute on the known types and only on the known types
3. roundtrip within Core 3.0 and compare resulting blob against .Net

The missing test is to deserialize hardcoded Core content on  .Net Framework.
The existing round-trip test should be e

[2019-08-01 10:04] Amy-Li02 commented on #1544
@merriemcgaw Verified this issue with Win10 RS6 + latest .NET Core 3.0.100-preview8-013624 from release branch, this issue can repro. But in Win10 RS6 + latest .NET 4.8.03947 from NetFxDev1 branch, this issue cannot repro.
Hope it can serve as a **workaround**: Set SelectionFont in SelectionChanged event of RichTextBox.

[2019-08-01 11:44] #1098 closed

[2019-08-01 12:48] RussKie commented on #1412
@DustinCampbell do I correctly understand we need to port [this class](https://referencesource.microsoft.com/#System.Design/System/Windows/Forms/Design/Behavior/SnapLine.cs,8ddcdcf6a72917bd)? Is there something else we need to port along?

[2019-08-02 09:54] cadesalaberry commented on #1515
Yes, I ended up using both simultaneously.

Thanks for your suggestions !

[2019-08-02 10:01] RussKie opened #1553 "PropertyGrid: objects not expandable"
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

The property grid does not allow to expand complex objects if those aren't at the top level of object hierarchy.

![image](https://user-images.githubusercontent.com/4403806/62362075-e5c73a80-b524-11e9-8db6-cb9fb62431a0.png)

**Actual behavior:**

![image](https://user-images.githubusercontent.com/4403806/62362

[2019-08-02 12:37] RussKie opened #1555 "`AccessibleEvents` has malformed xml-docs"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

`AccessibleEvents` has malformed and partial xml-docs
![image](https://user-images.githubusercontent.com/4403806/62367120-5e33f880-b531-11e9-8f38-f933bf560cbf.png)

Likely the original issue was introduced in 5f065a719fc1b

[2019-08-02 12:39] RussKie opened #1556 "`AccessibleObject` throws 'Value does not fall within the expected range.' creating `CollectionEditor`"
* Have you experienced this same bug with .NET Framework?: No

[code]

**Problem description:**

Invoking a collection editor for an int array appears to fail with accessibility object throwing a AE.

My understanding of the sequence of events is as follows:
* the editor is created, no elements to edit added
* an accessibility object is spawned requesting to focus on the first element <-- failure

[2019-08-02 13:46] RussKie opened #1558 "The specified structure must be blittable or have layout information."
* .NET Core Version:
[code]
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

Incorrect p/invoke definitions?

**Actual behavior:**

![image](https://user-images.githubusercontent.com/4403806/62374120-e622fe00-b543-11e9-8e03-0d59dbdf6e2f.png)

[code]

**Expected behavior:**

No exceptions

**Minimal repro:**

1. Checkout 8437748b9bad0f8311218afb0f040dfaf8fdd7

[2019-08-02 14:19] weltkante commented on #1558
PR #1246 removed `[StructLayout(LayoutKind.Sequential)]` from `MOUSEHOOKSTRUCT`. However `MOUSEHOOKSTRUCT` is a class and not a struct, so the attribute is not optional. (According to [this](https://github.com/dotnet/winforms/pull/1247#discussion_r299184957) discussion StructLayout(Sequential) on struct is optional).

[2019-08-02 16:31] KaneLeung commented on #1544
My OS is Win10 home 1803 17134.829 and .NET Framework version is 4.7.2,thanks.

[2019-08-02 17:03] MatthewBeardmore opened #1559 "Referencing mshtml.dll in a .NET Core 3 WinForms project"
* .NET Core Version: 3.0 Preview 7
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

I am having an issue with adding Microsoft.mshtml to my converted (net471) .NET Core 3 project.  With .NET Framework, I was able to go into Reference Manager -> Assemblies tab -> Extensions sub tab, then find Microsoft.mshtml. ![Capture](https://user-images.githubusercontent.

[2019-08-02 17:53] JeremyKuhne commented on #1558
Yes, I crossed streams with this one. I'll put up the fix shortly.

[2019-08-02 17:57] RussKie commented on #1558
Thank you @weltkante, it is great you're keeping track of discussions and changes 👍 Thank you.

[2019-08-02 20:04] #1558 closed

[2019-08-02 20:07] #1556 closed

[2019-08-02 20:08] MatthewBeardmore opened #1564 "string.Copy deprecation removes a necessary use case with TextRenderer.MeasureText"
* .NET Core Version: 3.0 Preview 7
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
string.Copy was deprecated in .NET Core 3.0 (for good reason), however, I had been using it with TextRenderer.MeasureText, which modifies the string when calling it if the string is too long for the width specified. Without string.Copy, I'm not sure how else you would use this

[2019-08-02 20:22] weltkante commented on #1564
That sounds more like a bug in the MeasureText implementation, but nice catch anyways. I suspect fixing this needs a new overload though, I don't think the function should go around and break runtime invariants by writing into an immutable object.

[2019-08-02 20:48] RussKie commented on #247
/cc: @JeremyKuhne - if you have a spare cycle or two, could you cast your eye...
may be give a hint on how to correct `IMsoComponentManager` definitions

[2019-08-02 20:53] JeremyKuhne commented on #247
I've actually rewritten some of them to be correct. I need to look at the VS implementations and make sure they're actually using the right definitions. I'll poke a bit into this later today.

[2019-08-02 20:54] weltkante commented on #247
I still highly recommend checking with the Office team, they are the main consumers/providers of it besides VS, and as far as I know the only ones with a 64 bit implementation which is actually used in practice (VS still being 32 bit only)

[2019-08-03 01:39] #889 closed

[2019-08-03 01:39] #890 closed

[2019-08-03 16:00] hughbe commented on #1059
https://github.com/dotnet/winforms/pull/1538 has a fix. The problem was that we didn’t reference Microsoft.DotNet.ApiCompat package anywhere so we never used it!

[2019-08-05 04:38] AlexYurkin opened #1570 "Adding new field to CloseReason Enum"
Link to article:
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.closereason?redirectedfrom=MSDN&view=netframework-4.8

Problem:
When you describe the fields of this Enumeration you state that the 'UserClosing' happens when: "The user is closing the form through the user interface (UI)". But this also happens when you use 'Close' method for a form in your code.
It would be great t

[2019-08-05 09:54] vladimir-krestov commented on #1328
The vision of this problem was revised. It was decided to create a separate bug with a modified description of the expected result.

[2019-08-05 09:54] #1328 closed

[2019-08-05 10:12] #1542 closed

[2019-08-05 14:37] DustinCampbell commented on #1412
Ugh! I introduced a typo here! I meant, "it's *not* exactly a panic" 😦

[2019-08-05 18:05] ericstj commented on #1059
right, I discussed that with @zsd4yr last week.  Had assumed you were doing that as part of this work.

[2019-08-05 21:45] nguerrera commented on #1346
Please hold off on making this change, there may need to be some things reverted from 3.0 and deferred to 3.1 such that MyType=X would not work. This should be moved to 3.1 after all.

[2019-08-06 10:14] ahmadnchatila commented on #147
https://www.codeproject.com/Articles/5163923/Use-Windows-Forms-Designer-on-NET-Core-3-0-Preview

[2019-08-06 11:01] RussKie commented on #147
Thank you.
However the offered solution is more complex than [our guide](https://github.com/dotnet/winforms/blob/master/Documentation/winforms-designer.md).

Also the file copying logic could be expressed in a form of MSBuild targets, which would make it both cleaner and more maintainable.

[2019-08-06 21:45] merriemcgaw commented on #1123
Moved to 5.0 given that 3.1 isn't really for new feature work.

[2019-08-06 22:40] danmosemsft opened #1577 "Consider enabling some xunit analyzers"
We have done this in corefx and it's helped find some incorrect use of asserts and xunit attributes. Might be something the community is interested in doing - enabling one rule at a time as we have been doing.

original change https://github.com/dotnet/corefx/pull/38676
subsequent enablings https://github.com/dotnet/corefx/commits/master/src/CodeAnalysis.ruleset
more pending https://github.com/dot

[2019-08-07 07:46] Olina-Zhang opened #1578 "Accessibility: DataGridView cells in a ReadOnly DGV are reported as editable and Value.IsReadOnly is false in Inspect"
* .NET Core Version: .Net 3.0 SDK Preview8 013656 build
* Have you experienced this same bug with .NET Framework?: Yes

**Repro Steps:**
1. Create a Winforms .Net Core application

2. Add DataGridView control, set ReadOnly property to true

3. Add columns and rows

    public Form1()
        {
            InitializeComponent();
            this.dataGridView1.ReadOnly = true;
            this.dataG

[2019-08-07 09:03] PeterSawyer commented on #147
Having a separate Designer project works ok, but requires all files in the project to be added as links and when using a package like Microsoft.EntityFrameworkCore.Sqlite then Designer is unable to compile as there is no equiv namespace in .NET FW 472.

So have to make Design changes, ignore errors, then Unload project before building.
Is this the expected behavior in the interim or am I missing s

[2019-08-07 09:05] Olina-Zhang opened #1579 "Accessibility: [Inspect] The name of spinner under “PageUpDown” spinner in PrintPreview dialog should be consistent with .Net framework behavior"
* .NET Core Version: .Net 3.0 SDK Preview8 013656 build
* Have you experienced this same bug with .NET Framework?: No

**Repro Steps:**
1.	Open attached “PrintDemo” .Net Core app in VS
[PrintDemo.zip](https://github.com/dotnet/winforms/files/3476187/PrintDemo.zip)

2.	Build and run it, click the “Preview” button to show the Print Preview dialog
3.	Open Inspect and focus on the last one: ToolStripN

[2019-08-07 11:57] ahmadnchatila commented on #147
The older .NET Framework WinForms project is supposed to act as a reflector (design wise). You don’t need to reference anything, any UI changes you wish to make will be directly applied to the .NET Core project.

[2019-08-07 12:53] PeterSawyer commented on #147
Thanks - I am so used to doing a CTRL+SHIFT+B to compile the solution.  Might be best I keep the older (design) project in a separate solution, thus VS window.

[2019-08-07 13:31] vladimir-krestov opened #1582 "[Accessibility]: Incorrect control type of dropdown menu items"
* .NET Core Version: 3.0.100-preview8-013392
* Have you experienced this same bug with .NET Framework?: Yes

**Original bug:**
- [Bug 937670: ](https://devdiv.visualstudio.com/DevDiv/_workitems/edit/937670)[Screen Reader - SSMA - Create new project] Incorrect control type is defined for all menus like 'File and Edit and View and Tools...' on SSMA.

**Problem description:**
- ToolStrip menu items h

[2019-08-07 14:39] merriemcgaw commented on #1579
This isn't a MAS violation, but we should ensure that Accessibility Insights comes back clean. If it does we can close this. @Olina-Zhang can you confirm whether Accessibility Insights complains about this? I'm not worried about whether the name is the same as in Framework, just that it's not a MAS violation.

[2019-08-08 05:33] Jessie-Zhang01 opened #1587 "The DataGridViewComboBoxColumn cannot be displayed as combobox mode when the DisplayStyle property is set to Nothing."
* .NET Core Version: (.Net Core SDK 5.0.100.13662 build from master branch)
* Have you experienced this same bug with .NET Framework?: Yes

**Steps to reproduce:**

1. Create a Winforms .Net Core application.
2. Add DataGridView control, then add a DataGridViewComboBoxColumn column.
3. Set the DisplayStyle property of DataGridViewComboBoxColumn as Nothing.
4. Build and run it.
[WindowsFormsApp6.zi

[2019-08-08 06:08] Olina-Zhang commented on #1579
@merriemcgaw, thanks for your confirmation! For this Spinner Name changing in .Net Core, no issue was found in Accessibility Insights. Please see following testing result:
![image](https://user-images.githubusercontent.com/26474449/62679072-2b8e6380-b968-11e9-97f6-409414218d46.png)
Closing this issue now.

[2019-08-08 06:08] #1579 closed

[2019-08-08 07:50] Marie-Shi opened #1588 "[Accessibility Insights] An element of the given ControlType must support the Text pattern for edit controls: TextBox/MaskedTextBox/ComboBox/NumericUpDown/DomainUpDown"
* .NET Core Version: .NET Core 3.0.100-preview8-013656 from release branch
* Have you experienced this same bug with .NET Framework? Yes

**Affected controls:**
TextBox/MaskedTextBox/ComboBox/NumericUpDown/DomainUpDown

**Problem description:**
1.	Install the .NET Core 3.0 SDK from https://github.com/dotnet/core-sdk.
2.	Open the attached ‘NumericUpDown_DomainUpDown’ .NET Core app in VS.
[NumericUp

[2019-08-08 13:50] #1412 closed

[2019-08-08 13:59] RussKie commented on #1555
Fixed in #1591

[2019-08-08 14:00] #1555 closed

[2019-08-08 14:01] RussKie commented on #1489
I've reformatted xml-docs to have 2 spaces in #1591

[2019-08-08 14:23] weltkante commented on #1489
Is there some editor config in place? Last I checked this is not the default of VS. Without editor support you'll have a hard time keeping this consistent.

[2019-08-08 23:58] merriemcgaw opened #1593 "Update templates to set DPI Awareness to System Aware by default"
.NET Core apps are more likely than not to run on more modern hardware with a higher pixel density. Given that, we should default all new apps to be System Aware. We'll update this in the templates using  `Application.SetHighDpiMode(HighDpiMode.SystemAware);` in program.cs file and the equivalent in VB.

@OliaG to make porting of apps smoother and work well in the new designer we should also updat

[2019-08-09 04:31] sharwell commented on #1489
This is not supported by the IDE formatter and will not be sustainable in a repository. I recommend removing this guideline, as it only serves to further discourage the inclusion of documentation which is already an uphill battle before this.

[2019-08-09 04:35] sharwell commented on #1489
💡 If you want assistance in XML documentation syntax, consider adding [DotNetAnalyzers.DocumentationAnalyzers](https://www.nuget.org/packages/DotNetAnalyzers.DocumentationAnalyzers) to the project. It has a bunch of rules to help get things like paragraphs and lists correct, and even has a refactoring that allows a comment to initially be written as Markdown and then converted to XML syntax.

[2019-08-09 04:50] sharwell commented on #1489
📝 This would be aided by https://github.com/DotNetAnalyzers/DocumentationAnalyzers/issues/27 and https://github.com/DotNetAnalyzers/DocumentationAnalyzers/issues/29. It already detects `<c>paramName</c>` from https://github.com/DotNetAnalyzers/DocumentationAnalyzers/issues/24 but doesn't detect plain `paramName`.

[2019-08-09 07:26] RussKie commented on #1489
I completely understand it. We can do a cleanup/reformat pass every so often, no real issue here.

Thank you, will look into this.

[2019-08-09 15:12] MatthewBeardmore opened #1597 "MenuBar checkbox color is different between .NET Core 3 and .NET Framework"
* .NET Core Version: 3.0 Preview 7
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
MenuBar's MenuItem has a different color when it is checked (with no mouse hovering) between .NET Framework and .NET Core 3. The color for .NET Core 3 appears to be a bug, as I wouldn't have expected it to have the solid blue background, nor a different checkmark, as shown bel

[2019-08-09 17:18] merriemcgaw commented on #1544
@dreddy-work - did we do a RichTextBox change in 4.8 that still needs to be ported?

[2019-08-09 17:19] #1479 closed

[2019-08-09 17:25] merriemcgaw commented on #1559
Can you tell us a bit more about your scenario? Perhaps we can find some existing options.

[2019-08-09 17:27] AraHaan commented on #147
@PeterSawyer or just look at the updated options; you can also list the framework that you use on the designer project on your core project; then delete the designer one; and it would still do the same. Note: that framework MUST be listed first.

[2019-08-09 17:29] merriemcgaw commented on #1564
I think we are beyond the timeframe where we can add an overload for 3.0 and 3.1 so we will probably need to fix this issue in 5.0. Moving to that milestone for now. We can always bring it back if we have the time to fix it.

[2019-08-09 17:30] merriemcgaw commented on #1570
We're past the point where we can add this for 3.0/3.1 so I'm putting it in 5.0. This is an interesting idea to consider.

[2019-08-09 17:33] zsd4yr commented on #1564
It is not as simple as `string.Copy`, but can you just?:

[code]

or

[code]

[2019-08-09 17:34] merriemcgaw commented on #1597
This is expected - we updated icons to a more modern look for .NET Core 3.

[2019-08-09 18:20] MatthewBeardmore commented on #1559
I am attempting to add events on a WinForms WebBrowser to attach to mouse wheel events, which isn't possible via the normal C# WebBrowser events. So in the past with .NET Framework, I'd do something like the following:

mshtml.HTMLDocumentEvents2_Event docEvents = (mshtml.HTMLDocumentEvents2_Event)webBrowser.Document.DomDocument;
docEvents.onmousewheel += docEvents_onmousewheel;

to attach to any

[2019-08-09 18:22] MatthewBeardmore commented on #1597
Alright, I'll go ahead an close it now. Honestly, I thought it was a mistake because of how out of place it looked. Thanks.

[2019-08-09 18:33] mikedn commented on #1597
This is baffling. Not only that the new icon looks completely out of place with the default `ToolStrip` render style but there's absolutely nothing modern about it. If anything, this looks like something from a badly designed UI from the '90 or as a rendering bug, the kind of bug that you get when you don't handle the transparency color correctly.

[2019-08-09 18:42] MatthewBeardmore commented on #1597
It really does look like a transparency color issue, which is why I reported it in the first place.

[2019-08-09 18:42] weltkante commented on #1597
Have to agree with @mikedn, WinForms shouldn't change UI style by itself, makes it look out of place with the rest of Windows UI. In particular since WinForms is mostly about wrapping native controls. In our application we are mixing technologies and now the WinForms windows are going to stand out annoyingly compared to the native and WPF windows.

[2019-08-09 18:50] merriemcgaw commented on #1597
Thank you all for your feedback! It's absolutely appreciated and we will take another look at this particular icon. If you notice any others that look badly in the new format, please reach out. @dreddy-work please work with the UX team to find something more inline with the default MenuStrip style.

[2019-08-10 05:45] PeterSawyer commented on #147
@AraHaan tried that by changing ```<TargetFramework>netcoreapp3.0</TargetFramework>``` to ```<TargetFrameworks>net472;netcoreapp3.0</TargetFrameworks>``` and targeted 472 for the form as per the following, however, I can open a form and edit in the designer but whenever I try to save the form i get an error saying "Microsoft Visual Studio - Specified cast is not valid."

[code]

My current work ar

[2019-08-10 16:21] Gigas002 opened #1600 "Scrollable MessageBox"
The problem's pretty much obvoius: sometimes standard messageboxes are just too short for the contents:

![image](https://user-images.githubusercontent.com/24297712/62801559-b13c1b80-baee-11e9-9891-7862c678944a.png)

There was already good and working solution of this problem. More info:
https://www.codeproject.com/Articles/601900/FlexibleMessageBox-A-Flexible-Replacement-for-the

The mentioned Fl

[2019-08-10 16:53] kirsan31 commented on #147
@PeterSawyer

Same here. I've done it as in [Option 1](https://github.com/dotnet/winforms/blob/master/Documentation/winforms-designer.md). And got _Specified cast is not valid_ every time.

[2019-08-10 17:52] kirsan31 opened #1602 "AccessViolationException with MenuStrip and VisualStyleState.NoneEnabled"
* .NET Core Version: .NET Core Version: 3.0.0-preview7-27912-14
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
When you disable visual stiles:
[code]
The winForms mdi app with MenuStrip ans submenus are crushed with AccessViolationException, after you open sub menu and live it (move cursor out of the menu - see gif below). Windows 7 pro x64.

**Actual behav

[2019-08-10 21:09] ahmadnchatila commented on #147
In case anyone is looking to avoid reading the article provided, I've recorded a video on how to use WinForms on .NET Core 3.0 Preview. https://www.youtube.com/watch?v=n9rqu_L7JUY

[2019-08-10 21:19] ahmadnchatila commented on #147
In case anyone is looking to avoid reading the article provided, I've recorded a video on how to use WinForms Designer in .NET Core 3.0 Preview. https://www.youtube.com/watch?v=n9rqu_L7JUY

[2019-08-10 23:13] kirsan31 commented on #1597
@MatthewBeardmore

I think same. It's looks different with visual styles on/off on .net core (and with v.s. off, it's look ok :)). When ,net version looks the same in both cases.
![Snipaste_2019-08-11_02-05-49](https://user-images.githubusercontent.com/17767561/62827691-140be080-bbdd-11e9-9d34-84bb3e548c72.png)

[code]
[code]

[2019-08-11 17:12] riov opened #1606 "ListView slow and max width"
ListView becomes slow when it contains many columns, even if only a few of them are displayed. Here is a sample code that illustrates the issue. When you try to scroll it, it takes a long time to repaint. Virtual mode does not help. I am not really sure why it takes so long to paint 120 cells.

[code]
Another issue I found is that it looks like there is a limitation of how large the width of all c

[2019-08-11 18:43] Pilchie opened #1607 "`ListView.AutoResizeColumns` prevents control from firing events"
_From @PeterPann23 on Sunday, August 11, 2019 5:19:35 PM_

### Describe the bug
Created a new project in .net Core 3.0
Added a ListView to the form that I populate based on user actions (button click works just fine)
The events on the listview however do not get firred.

### To Reproduce
Steps to reproduce the behavior:
1. Visual Studio 2019, Core 3.0 Release 3.0.100-preview7-012821
2. Run this th

[2019-08-12 08:05] RussKie commented on #1600
Thank you for the link.

It appears that in the give scenario a message box was incorrectly chosen as a medium to present the data to a user. Making a message box scrollable would not address the underlying UX issue.
Please refer to the Windows Desktop UI guidelines for messages - https://docs.microsoft.com/en-us/windows/win32/uxguide/messages

In the current scenario a progress bar (purely inform

[2019-08-12 08:05] #1600 closed

[2019-08-12 08:19] RussKie commented on #1602
I couldn't repro it in 3.0.0-preview8-28380-08 on W10.

@olina could you please see if you can repro the issue on W7 in preview7 and preview8 releases.
Thank you

[2019-08-12 08:19] RussKie commented on #1602
I couldn't repro it in 3.0.0-preview8-28380-08 on W10.

@Olina-Zhang  could you please see if you can repro the issue on W7 in preview7 and preview8 releases.
Thank you

[2019-08-12 08:20] weltkante commented on #1600
I would also like to add that WinForms merely exposes the underlying Windows MessageBox, it cannot modify the implementation. It would have to create a completely new implementation from scratch, which is a significant investment.

So besides UX considerations mentioned above any feature request has to be weighted against the required work for rewriting existing behavior from scratch, not just the

[2019-08-12 08:27] kirsan31 commented on #1602
@RussKie It's 100% reproducible on my system with preview5 - preview7.  Where  I can get preview8 binary to try it out?

[2019-08-12 08:58] weltkante commented on #1602
I don't know how to get specific versions but there is [nightly builds](https://github.com/dotnet/core/blob/master/daily-builds.md) to get the latest available.

[2019-08-12 10:10] Olina-Zhang commented on #1602
@RussKie  I can repro this issue on Win10 machine with Preview8 release build using above attached app. Please see above gif from kirsan31, run app and do actions, then put mouse in background code, the exception pops up.

[2019-08-12 11:54] RussKie commented on #1602
Thank you, I retract my comment. I can actually reproduce it too.

[2019-08-12 13:30] RussKie commented on #1602
I did a quick investigation, here's where it fails:
![image](https://user-images.githubusercontent.com/4403806/62864241-d65da380-bd13-11e9-857f-a95c76957d6b.png)

Further investigation is required to understand the root cause.

[2019-08-12 15:13] r-aghaei commented on #1607
@Pilchie The code which you have shared doesn't reproduce the problem.  The `Click` event of `ListView` will raise if you click on an item, but I cannot see any item in your code.

I've already tried the following code in VS2019, .NET CORE 3 without any problem:

[code]

[2019-08-12 15:15] RussKie commented on #1607
@r-aghaei the question should be directed at  @PeterPann23 as the original topic started.

[2019-08-12 15:16] RussKie commented on #1607
@PeterPann23 please provide a repro project that exhibits the issue - either a zip or a link to a github repo will work.
Thank you

[2019-08-12 16:01] r-aghaei commented on #1607
Oops! I corrected the mention. Thanks @RussKie.

[2019-08-12 16:17] r-aghaei commented on #1587
@Jessie-Zhang01  When the cell is not in edit mode, it doesn't display a combo box, but when the cell is in edit mode, it shows the combo box as expected.

It's already mentioned in the [documentations](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.datagridviewcomboboxcolumn.displaystyle?view=netframework-4.8#remarks):

The code which you shared shows expected behavior based on

[2019-08-12 17:23] merriemcgaw commented on #1602
@kirsan31 - can you tell us a little more about why your app needs to use the VisualStyles that you use? This will help us to figure out a priority for addressing this issue as we get so close to shipping 3.0 GA.
@JeremyKuhne - can you help @RussKie with this investigation by any chance?

[2019-08-12 17:29] merriemcgaw commented on #1602
@M-Lipin can you take a look? Callstack shows Keyboard tooltip which is suspicious that perhaps removing the quirk for Keyboard ToolTip support might have uncovered something here.

[2019-08-12 17:30] merriemcgaw commented on #1606
@riov can you please tell us a bit more about your scenario using 700 columns in the ListView? Is this something that is a regression from .NET Framework?

[2019-08-12 17:35] PeterPann23 commented on #1607
Sure

[issue 1607.zip](https://github.com/dotnet/winforms/files/3493645/issue.1607.zip)

[2019-08-12 17:43] merriemcgaw commented on #1597
This is not blocking any functionality so we're marking this as 3.1.

[2019-08-12 17:46] MatthewBeardmore commented on #1597
It isn't blocking anything, but it looks ugly and does not match the previous behavior. It also conversion to .NET Core harder as I now have to reskin these to something more appropriate, just for it to be changed again in 3.1.

[2019-08-12 17:49] JeremyKuhne commented on #1602
I'll take a look at the defines here.

[2019-08-12 18:18] r-aghaei commented on #1559
@MatthewBeardmore You can use [`tlbimp.exe`](https://docs.microsoft.com/en-us/dotnet/framework/tools/tlbimp-exe-type-library-importer) to export the type definitions of `mshtml.tlb` into equivalent definitions in .net assembly.
Then add a reference to the exported dll and in Visual Studio, in the properties of the reference, set `Embed Interop Types` to `Yes`.

I've shared all the steps here in th

[2019-08-12 18:43] MatthewBeardmore commented on #1559
Thanks for the writeup - that is super useful.

[2019-08-12 18:54] JeremyKuhne commented on #1602
I've got the repro going, I'll figure out what is going on.

[2019-08-12 19:40] r-aghaei commented on #1606
@riov

For the columns rendering, the behavior is the same in .NET Framework.
For the scroll/repaint I couldn't see any problem.
For the resize issue, I believe it's a limitation in the Windows message. Consider [`WM_MOUSEMOVE`](https://docs.microsoft.com/en-us/windows/win32/inputdev/wm-mousemove), the `lParam` parameter determines the mouse position. The low-order word specifies the x-coordinate

[2019-08-12 20:05] r-aghaei commented on #1607
@PeterPann23  It would be great if the share a really simple repro, like what I shared.
Did you give my code a try?

[2019-08-12 20:48] JeremyKuhne commented on #1602
I'm pretty sure I know what this is. I'll update once I've finished investigating.

[2019-08-12 20:58] riov commented on #1606
@merriemcgaw, no it is not a regression. LV with my sample code performs even worse in .NET Framework. In my case, I needed to be able to display large data sets and that is how I have discovered its slow performance.
@r-aghaei, thank you for the insight about the x and y coordinate limitation. I would never think of that.
I am attaching a gif file so that you could see how slow LV is when I try t

[2019-08-13 02:14] Jessie-Zhang01 commented on #1587
Yes, the current state of the product is like this, but @merriemcgaw wants to add some accessibility improvement in future, so file this Github issue to track it.

[2019-08-13 04:50] r-aghaei commented on #1606
@riov Here is what I get for `ListView`:
![listview](https://user-images.githubusercontent.com/25272166/62914820-91457a00-bdc4-11e9-968a-91eaf48037e7.gif)

As a workaround for large column numbers (even 10000 columns), I tried a double-buffered `DataGridView` and it worked well. [`DoubleBuffered`](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.doublebuffered?view=netframe

[2019-08-13 04:54] JeremyKuhne commented on #1602
It does, in fact, repro on 4.8 if you enable the new keyboard state machine. In the app.config you can add:

[code]

The basic problem is that we're trying to get the size of the tooltip bubble when it isn't active. Windows unfortunately doesn't guard well here, and AVs when there isn't an active tooltip window.

We should follow up on the repro crash for 4.8. I'll tag where the specific fix is.

[2019-08-13 06:25] PeterPann23 commented on #1607
@r-aghaei
I'm guessing you did not see my post just above yours. it contains a zip file with code that, on my pc does not fire the events.

[2019-08-13 06:35] r-aghaei commented on #1607
@PeterPann23 In fact I tried to run it, but it has a lot of dependencies and non-relevant codes which makes it a bit hard to run and debug. That's why I posted my previous comment asking for a minimal repro if possible. Something like what I shared. Did you tried the example which I shared?

[2019-08-13 07:19] #1578 closed

[2019-08-13 07:22] PeterPann23 commented on #1607
What dependencies are you referencing? I have json, that's not needed.

My code follows the normal pattern of a partial class with InitializeComponent(), actually this is auto generated code by visual studio and does not contain any 3rd party controls.

Sure, there are more controls than needed, I agree but this code contains the issue of the treeview not firing the selection changing as wel as th

[2019-08-13 08:42] weltkante commented on #1607
I can confirm that the zipped project won't run as-is on the current VS 2019 preview. It has problems resolving the nuget packages and even after removing them something about the project file doesn't work out correctly. Anyways, it was pretty easy to comment all that stuff out, and the problem of no click event still repros. I'm attaching the editing project with nuget/csproj/designer items comme

[2019-08-13 08:46] weltkante commented on #1607
The `SelectedIndexChanged` can be made working by moving the initialization (except InitializeComponent) from constructor to Load event. This might be related to #1311 however click event still doesn't work.

[2019-08-13 08:47] weltkante commented on #1311
There seems to be a similar bug with ListView where SelectedIndexChanged doesn't fire if you interact with the ListView in the constructor (noticed while debugging the otherwise separate issue #1607)

[2019-08-13 12:03] RussKie commented on #1602
Thank you @JeremyKuhne for the thorough investigation 👍

[2019-08-13 12:16] RussKie commented on #1606
@riov it doesn't look like `ListView` is the right control for your use-case, and you should use `DataGridView` as per @r-aghaei suggestion.

Yes, it is (sadly) inaccessible to consumers.
Another way is to create a derived contol where you'd have access to both `DoubleBuffered` property as well as to `SetStyle()` method.

[2019-08-13 12:16] #1606 closed

[2019-08-13 12:16] weltkante commented on #1602
@RussKie I'd still consider it a regression if in 4.8 it needs special app compat flags to trigger and in .NET Core the AV always happens (just mentioning it in case you overlooked that detail)

[2019-08-13 12:27] RussKie commented on #1602
@JeremyKuhne all these switches are set to `false`, are they set to `true` by default?

[2019-08-13 14:33] kirsan31 commented on #1602
@merriemcgaw

As we now know that visual stiles is not the root of the problem. But I answer your question any way.

We have several exchange trading apps. That running on the servers within exchange data-space.
Traders connecting to them by RDP.  All were good until a new trader come in. Our apps become randomly crushes on user login to rdp. After investigation we have figure out that new trader

[2019-08-13 14:57] RussKie commented on #1602
Can you please raise a new issue providing as much information as possible so we can address this in Core.
Thank you

[2019-08-13 15:07] RussKie commented on #1577
Thank you Dan.

We have the analysers installed:
![image](https://user-images.githubusercontent.com/4403806/62952596-a3d7a780-bdf4-11e9-8be2-181c728446f8.png)

I assume we have them enabled by default as we have no suppressions for them. I tried writing some "bad" code and it triggered the analysers.

Please let me know, if there is more to do.
Closing for now.

[2019-08-13 15:07] #1577 closed

[2019-08-13 15:18] kirsan31 commented on #1602
@RussKie

I need a bit of free time for experiments on this, then I will try.

[2019-08-13 15:20] RussKie commented on #1602
No hurry, it won't make 3.0; depending on severity it may make in 3.1, but most likely won't get addressed until 5.0.

[2019-08-13 15:38] riov commented on #1606
@RussKie, actually, neither `ListsView` nor `DataGridView` will be suitable for my application because of the max total column width limitation that @r-aghaei has talked about.

As @r-aghaei has suggested, I have tried `DataGridView` and it works as expected and there is no lag. It remains a mystery to me, why `ListsView` cannot show the same performance.
![comparison](https://user-images.githubus

[2019-08-13 15:39] M-Lipin opened #1615 "Accessibility: [High Contrast] - Tooltips are not enough contrasted in HC mode"
.NET Core Version: 3.0.100 Preview8 13316 from master branch
Have you experienced this same bug with .NET Framework?: Yes.

**Repro Steps:**
Open control panel and select the respective high contrast theme.
Create WinForms application with some control and add tooltip for this, build and run the app.
Mouse-over the control and wait until ToolTip appears.

**Actual:**
Tooltip is not enough contrast

[2019-08-13 15:56] RussKie commented on #1559
@MatthewBeardmore in the original screenshot there is COM tab.
Is there a reason you can't use it?

[2019-08-13 16:06] RussKie commented on #1606
Could you please raise separate issues for each one, thank you.
Because both of these suggestions affect public API we'll need to have an assessment how these changes will affect existing consumers.

Not sure, it could be an underlying limitation of Win32 API...
A Windows Explorer struggles to scroll when one has beyond certain number of files in a folder too.

[2019-08-13 16:12] PeterPann23 commented on #1607
@weltkante okey... I tried to do what you described however I must miss understand what you write as when I bind the event in an Form1.Show and remove it in InitializeComponent() the show gets invoked, however my bound  event still get's ignored.

[code]

What am I missing for this "work around" to work?

[2019-08-13 16:25] weltkante commented on #1607
@PeterPann23 I had to move the whole initialization from constructor to Load event, not just the event subscription. Something in that initialization breaks the ListView. I'm attaching the zip with the modifications. (Note I'm no longer at my VS 2019 machine so might have syntax errors, but that was what got Click event working. I've got VS 2019 preview with [nightly build](https://github.com/dotn

[2019-08-13 16:56] RussKie commented on #1559
![image](https://user-images.githubusercontent.com/4403806/62960878-519e8280-be04-11e9-94da-c2945e9f1a58.png)

I think this is the same COM object as you get by running tlbimp.

[2019-08-13 17:13] r-aghaei commented on #1559
This is how I get *Reference Manager* window when I try to add reference to a .NET Core Class Library or Windows Forms project in VS 2019 16.2.1:

![ReferenceManager](https://user-images.githubusercontent.com/25272166/62961296-15cce280-be2f-11e9-8b69-934aedfda8a2.png)

@RussKie Which version of VS/NET Core/Project Template does the screenshot belongs to?

[2019-08-13 17:16] RussKie commented on #1559
I'm on an internal build, so I presume you will get the same functionality in the next version of VS.

[2019-08-13 17:16] #1559 closed

[2019-08-13 17:19] MatthewBeardmore commented on #1559
@r-aghaei  You need VS 2019 16.3 preview to get the COM menu with .NET Core 3 projects I believe.

@RussKie You are correct. I saw that, tried it, and moved on as it didn't have the same namespace. The one that I had added in the .NET Framework picture added the namespace as "mshtml", while the one you showed adds it as "MSHTML". We can close this as it just requires modifying the namespace.

[2019-08-13 21:08] MatthewBeardmore opened #1620 "Combobox does not fire SelectedIndexChanged event"
* .NET Core Version: 3.0 Preview8
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**
When using a ComboBox with a SelectedIndexChanged event, the event will not fire if you set the SelectedIndex in the Constructor.

**Actual behavior:**
The SelectedIndexChanged event *only* fires when the "SelectedIndex = 0;" line is run and does not fire when changed by the en

[2019-08-13 21:36] kirsan31 commented on #1620
#1311?

[2019-08-13 22:23] PeterPann23 commented on #1607
@weltkante
Ok, now I understand what you mentioned by _moving the initialization_ looks like controls should not be altered at the constructor until a fix is implemented, your sample solved my issue, sorting and selecting works like a charm now.

Perhaps one should mention your work around it in the "known" issues

[2019-08-14 00:06] mscrivo opened #1624 "Deploying a non self-contained app that requires both x64 and x86 runtimes"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
3.0 Preview 8

* Have you experienced this same bug with .NET Framework?: Yes/No
No

**Problem description:**
I've ported my application (https://github.com/mscrivo/ootd) to .net core 3 and have run into an interesting problem with the deployment scenario.  According to what I've seen, the only supported deploymen

[2019-08-14 01:13] terrajobst commented on #146
I've added the notes of API review [here](https://github.com/dotnet/apireviews/pull/105). Feedback welcome!

[2019-08-14 03:47] #1582 closed

[2019-08-14 05:28] kirsan31 commented on #146
So, only in 5.0 now? Why so much delay?

[2019-08-14 06:48] RussKie commented on #1607
I've narrowed it down to `ListViewControlItems.AutoResizeColumns(ColumnHeaderAutoResizeStyle.HeaderSize);` call.
If you comment it out - everything will work as expected.

[2019-08-14 07:01] RussKie commented on #146
Because further work is required, and it won't be completed before we ship v3.0.
We expect to cut a release/3.0 again shortly and then the master will be rebranded to v5.0.

[2019-08-14 07:18] PeterPann23 commented on #1607
Having a look at the documentation for [InvokeRequired ](https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.control.invokerequired?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev16.query%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(System.Windows.Forms.Control.InvokeRequired);k(SolutionItemsProject);k(DevLang-csharp)%26rd%3Dtrue&view=netframework-4.8) I noticed familiarity especiall

[2019-08-14 08:09] kpreisser commented on #146
Hi @terrajobst,

thanks a lot for sharing the review notes! I will start to work on addressing them when I have time.

[2019-08-14 08:14] weltkante commented on #1624
Interesting, we have a similar scenario and so far I was assuming I could just publish the application as a AnyCPU library ("portable") so it can be loadable both into 32 bit and 64 bit processes - did you try that approach? The portable profiles doesn't seem to deploy WinForms/WPF so I was assuming its part of the downloadable runtime, having to install the SDK on end user machines would be silly

[2019-08-14 09:03] weltkante commented on #1607
I now have tested both scenarios on .NET Core and Desktop Framework:
* Calling `ListViewControlItems.AutoResizeColumns(ColumnHeaderAutoResizeStyle.HeaderSize);` in the constructor works in Desktop Framework, so its a regression
* Showing a message box from `SelectedIndexChanged` prevents the `Click` event also on Desktop Framework, so this is not a regression.

I suggest keeping this issue about t

[2019-08-14 09:57] RussKie commented on #1607
I don't think we can safely implement this change without adding new quirks since it would affect existing consumers.
It is possible to call requied functionality from both handlers of `Click` and `SeletedIndexchanged` events.

[2019-08-14 10:38] AtOmXpLuS opened #1628 "Seni çok seviyorum Svetlana"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

**Actual behavior:**

**Expected behavior:**

**Minimal repro:**

[2019-08-14 11:13] r-aghaei commented on #1607
It's not showing the `MessageBox` which prevents the `Click` event, it's releasing the capture which prevents a mouse up and prevents a click. If you don't release the capture and close the message box using <kbd>Esc</kbd> key, the `Click` event will raise. IMO, it's expected behavior.

[2019-08-14 11:21] r-aghaei commented on #1607
Also consider the following points:

* In general, showing a message box in `SelectedIndexChanged` doesn't look like a good idea. The event may raise more than once. For example once for the item which get selected and once for the item which get deselected.

* The other thing that you should be careful about, is about putting some logic in `Click` event. Users may select items using keyboard, so

[2019-08-14 11:49] RussKie commented on #1620
Duplicate of #1311

[2019-08-14 11:49] #1620 closed

[2019-08-14 12:58] mscrivo commented on #1624
AnyCPU doesn't work for this scenario.  To use the outlook view control, you need to explicitly compile against x86/x64.  The launcher is AnyCPU and then launches the appropriate x64/x86 binary which hosts the control.

[2019-08-14 13:04] RussKie opened #1631 "RichTextBox `LinkClicked` event doesn't work for "friendly named" hyperlinks"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**

With the removal of the quirk `Switch.System.Windows.Forms.DoNotLoadLatestRichEditControl` (https://github.com/dotnet/winforms/pull/1139/commits/3f2ca8a2a3e19ea7431279defcebec14e2ca59ea) we may regress because we will use new

[2019-08-14 13:52] MatthewBeardmore commented on #1311
Why is this set to the future milestone? It's a pretty big hurdle to upgrade to .NET Core 3 with this compatibility issue for people who have lots of forms.

[2019-08-14 14:42] weltkante commented on #1311
I agree, initialization in constructors is pretty common, and its a regression from Desktop Framework.

[2019-08-14 14:44] cston opened #1632 "Port Microsoft.VisualBasic.{ApplicationServices,Devices,MyServices}"
dotnet/winforms should generate a Microsoft.VisualBasic.dll assembly that contains the types from the VB runtime that have dependencies on System.Windows.Forms. (The remaining types from VB runtime that do not depend on System.Windows.Forms should be type-forwarded to Microsoft.VisualBasic.Core.dll from dotnet/corefx.)

The types in the namespaces Microsoft.VisualBasic.{ApplicationServices,Devices

[2019-08-14 14:46] weltkante commented on #1624
I meant putting the main part of the application in AnyCPU (so it can be shared and doesn't need to be deployed twice) and then having a minimal stub as 32/64 bit. The AnyCPU application can then be loaded by the stub in the correct bitness.

My primary point is not AnyCPU though, it is the "framework dependent profiles", which don't seem to need to deploy WinForms/WPF. Did you try those? I would

[2019-08-14 14:58] weltkante commented on #1631
Title might need a fix? The linked article talks about a regression in hyperlinks, not about images.

The linked article suggests that only as a workaround for a regression in WinForms, not because the RTB handles hyperlinks differently. RTB 5.0 has a "friendly name hyperlink" feature which WinForms apparently doesn't understand.

So while your argument that downgrading to older RTB controls is no

[2019-08-14 15:11] r-aghaei commented on #1631
@RussKie The linked SO question is about `LinkClicked` event.

I also tried editing an image (PBrush object class) in `RichTextBox` which worked as expected in both .NET Core and .NET Framework.

[2019-08-14 16:08] RussKie commented on #1631
Yes, thank you - looked at the wrong title in the original ticket.

[2019-08-14 16:18] AdamYoblick opened #1634 "Winforms applications are DPI unaware by default"
* .NET Core Version: 3.0.100-preview8-013437
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
Winforms applications are DPI unaware by default

**Actual behavior:**
Controls are scaled differently between the designer and the runtime

**Expected behavior:**
Winforms applications are System Aware

**Minimal repro:**
Create a winforms app and run it on a monit

[2019-08-14 16:58] merriemcgaw commented on #1346
OK, we'll move this issue to 3.1 in that case.

[2019-08-14 21:15] r-aghaei commented on #1587
IMO it's a feature and works as expected. I believe even if someone decides to create new column types like `DatePickerColumn`, `NumericUpDownColumn`, `ColorPickerColumn`, ... they should follow similar practice to allow developers choose rendering mode of the cell when the cell is not in edit mode.

[2019-08-14 22:27] #1634 closed

[2019-08-14 22:29] #1602 closed

[2019-08-15 08:57] RussKie commented on #1587
Whilst the feature is working as expected it is an accessibility issue, and that is what we'll need to address by disallowing use of `Nothing` state.

[2019-08-15 09:07] weltkante commented on #1587
I don't think disallowing distinct display/editor states is the way to go, every other grid also has this behavior of only showing the editor on the edited cell and it is very much desired by end users. The most common usage of a data grid is to view data, with an occasional desired to edit, not edit every single cell, forcing editing UI on the user is very distracting. Removing this capability wi

[2019-08-15 09:10] r-aghaei commented on #1587
The users can easily start editing and see the editing control by pressing <kbd>F2</kbd> or any key by default, or even as soon as they enter the cell (if `EditMode` set to `EditOnEnter`).

Consider the following examples:
* Label editing in `TreeView` or `ListView` all over Windows.
* `PropertyGrid` control doesn't show editing control, unless you select the property.

In fact, for a control like

[2019-08-15 09:11] RussKie opened #1640 "Cleanup API targeting unsupported platforms"
* .NET Core Version: (e.g. 3.0 Preview1, or daily build number, use `dotnet --info`)
* Have you experienced this same bug with .NET Framework?: Yes/No

**Problem description:**

As per the [API docs review](https://github.com/dotnet/dotnet-api-docs/pull/2995#discussion_r314033637), we don't support OS prior to W7SP1, so
we need to cleanup unused API/reference for unsupported platforms.
E.g. https:

[2019-08-15 10:33] weltkante commented on #1640
As far as your search goes, please note that often this kind of naming scheme means "Vista or newer"  - so you need to take care to only remove code which actually has another newer version. Otherwise code introduced for Vista support may very well still be "current" for Windows 10, in this case you should just adjust the naming scheme but not actually remove the code.

[2019-08-15 16:03] bwateratmsft opened #1641 "WinForms SDK should explicitly contribute WindowsForms ProjectCapability"
Currently the WinForms SDK does not contribute the "WindowsForms" ProjectCapability. It is contributed by [Microsoft.Managed.DesignTime.targets](https://github.com/dotnet/project-system/blob/master/src/Microsoft.VisualStudio.ProjectSystem.Managed/ProjectSystem/DesignTimeTargets/Microsoft.Managed.DesignTime.targets) but that does not apply outside of VS.

The ProjectCapability should be explicitly

[2019-08-15 16:03] bwateratmsft commented on #1641
Related to https://github.com/dotnet/wpf/issues/1638.

[2019-08-15 17:48] Tanya-Solyanik opened #1643 "Investigate if FolderBrowserDialog.AutoUpgradeEnabled property is obsolete on win7+"
* .NET Core Version: 3.0
* Have you experienced this same bug with .NET Framework?: N/A

As far as I understand, this property auto-upgrades the XP dialog to the Vista dialog. We need to double check if this is relevant on the OSs that Core ships on.
Once this is understood, we need to update the docs - https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Windows.Forms/FolderBrowserDia

[2019-08-15 17:52] RussKie commented on #1643
Related https://github.com/dotnet/winforms/issues/1640

[2019-08-15 18:09] RussKie opened #1644 "RichTextBox link handling is broken"
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

`RitchTextBox` does not react to `LinkClicked` events at all.

**Actual behavior:**
Created two apps - .NET 4.6.1 and .NET Core side-by-side targeting msftedit.dll (not the old riched20.dll), loaded the same rtf:
![rtb-link-issue](https://user-images.githubusercontent.com/4403806/63113455-3e71eb00-bf9b-11e9-84

[2019-08-15 18:24] #1615 closed

[2019-08-15 20:00] #485 closed

[2019-08-16 16:05] RussKie commented on #1311
I've debugged into the issue comparing .NET Fx and .NET Core.
Here's the progress so far.

.NET Fx:
[code]

.NET Core
[code]

The call `UnsafeNativeMethods.CallWindowProc(defWindowProc, m.HWnd, m.Msg, m.WParam, m.LParam)` that is supposed to send a message to the combobox returns `0x01`.
https://github.com/dotnet/winforms/blob/aec17fb941d399ba3dd05c6c1a4a7dfcd9f28cad/src/System.Windows.Forms/src/S

[2019-08-16 16:58] JeremyKuhne commented on #1311
Investigating

[2019-08-16 17:10] zsd4yr commented on #1593
@KlausLoeffelmann is doing the vb one

[2019-08-16 17:13] zsd4yr commented on #1553
@DustinCampbell, @AdamYoblick and I feel like you mentioned something here -- do you have any thoughts?

[2019-08-16 17:15] zsd4yr commented on #1588
@M-Lipin assigning to you

[2019-08-16 17:19] zsd4yr commented on #1624
@weltkante that sounds viable to me.

@nguerrera Do you have any thoughts here? Am I correct in thinking that your team owns the different build options.

[2019-08-16 17:23] zsd4yr commented on #1631
@RussKie @weltkante It sounds to me like we now use RTB 5.0 and that there is additional work to support functionality new to 5.0 that we have not wrapped appropriately; does that sound right?

[2019-08-16 17:25] zsd4yr commented on #1632
@cston please be more verbose? What is the work to be done here?

[2019-08-16 17:27] weltkante commented on #1553
`ComponentConverter` should be the one responsible for expanding in the property grid (it overrides GetProperties, same as ExpandableObject does). I don't know how ComponentConverter is linked to the `Component` base class, its not an attribute on the type. Maybe that link is broken in .NET Core.

[2019-08-16 17:28] zsd4yr commented on #1641
@bwateratmsft could you clarify this a bit? What is the need here? What is the impact of moving these?

Is this something that needs to change by 3.0 GA (VS 16.3 GA)?

/cc @dagood @vatsan-madhavan

[2019-08-16 17:32] zsd4yr commented on #1641
@bwateratmsft could you clarify some of these scenarios? VSCode?

[2019-08-16 17:40] bwateratmsft commented on #1641
@zsd4yr Our main use case is in VS so technically the problem doesn't apply to us directly (since we have the DesignTime target). My team works on the Docker tools in VS, and our extension uses ProjectCapability to know whether or not to show the options to add Docker/Docker-Compose/etc. support. Of course it makes no sense to containerize a UI application so WinForms (and WPF) should not show tho

[2019-08-16 17:46] weltkante commented on #1631
@zsd4yr thats what the linked stackoverflow article says in the reseponse marked as answer, it's pretty detailed in outlining the problem in the WinForms implementation leading to events not firing.

[2019-08-16 18:07] cston commented on #1632
@zsd4yr, I've updated the description.

[2019-08-16 18:14] nguerrera commented on #1624
@dagood Are there still no runtime installer bundles for WindowsDesktop? Framework dependent deployment of WPF or Winforms apps is basically broken without this.

[2019-08-16 18:18] dagood commented on #1624
Funny, I just commented on https://github.com/dotnet/core-setup/issues/7530#issuecomment-522103307 about this. It hasn't been ported to `release/3.0` yet due to that discussion. I'm skipping a decision on the branding to get something released for Preview 9. The tracking issue is https://github.com/dotnet/core-setup/issues/6384.

[2019-08-16 18:19] nguerrera commented on #1624
Seems like this can be closed against https://github.com/dotnet/core-setup/issues/6384, then.

[2019-08-16 19:25] #1624 closed

[2019-08-16 19:30] RussKie commented on #1631
Right now we have a broader issue of link clicked events not working at all - https://github.com/dotnet/winforms/issues/1644

[2019-08-16 19:59] weltkante commented on #1644
Move your initialization from constructor into load event then it works.

I think I'm starting to see a pattern here, with ComboBox (#1311) and ListView (#1607) not working when doing certain things in constructor initialization ;)

[2019-08-16 20:00] weltkante commented on #1631
#1644 works when initialization is moved from constructor to load event, so its not related to hyperlinks, it seems to be a general pattern that in .NET Core there's a problem when things are initialized in the constructor

[2019-08-16 20:02] weltkante commented on #1311
ListView (#1607) and RichTextBox (#1644) also have problems firing events when initialized in the constructor. Starts looking like a general problem.

[2019-08-18 04:56] JeremyKuhne commented on #1311
Unfortunately the best I can tell so far is that this came from #1034. 😭 I walked back the branches of the commit tree to this change. I'm easily confused by git, so if someone can check me that would be greatly appreciated. f38a7a167d8f83924d43f8d2d8f2b03034351eb7 repros the issue. 38a0d1b738675a8417829bad95c554fe3613e062 does not.

I'll give the change a closer look tomorrow to see if I can find

[2019-08-18 06:18] PeterPann23 commented on #1607
I have noted the same issue, on some other controls being Chart (KeyDown, MouseDown) and Datagridview (RowEnter), moving the binding from the AutoGenerated code called in InitializeComponent() to the Load event solves this.

[2019-08-18 17:35] JeremyKuhne commented on #1311
I found the issue. Ordering got flipped with switching `as` to `is`. I presume the tooling was at fault here. We should audit that part of #1034 thoroughly to make sure nothing else got reordered.

This has to be one of the longest investigations I've done for such a small fix. :)  Debugging the message loops is extremely painful- I've got a number of changes for V5 that will simplify the process

[2019-08-19 13:30] weltkante commented on #1607
Should be tested again once PR #1661 is in.

[2019-08-19 13:30] weltkante commented on #1631
Should be tested again once PR #1661 is in.

[2019-08-19 13:31] weltkante commented on #1644
Should be tested again once PR #1661 is in.

[2019-08-19 13:32] weltkante commented on #1631
~~Should be tested again once PR #1661 is in.~~

[edit] posted this on the wrong issue, this one is not related, sorry. Can't seem to remove the issue link by deleting the post, so I'll mark it hidden instead.

[2019-08-19 18:06] filipnavara opened #1662 "ResXNullRef/ResXFileRef resource serialization is broken"
* .NET Core Version: 3.0 Preview 8
* Have you experienced this same bug with .NET Framework?: No

**Problem description:**

.resx files using `System.Resources.ResXNullRef` or `System.Resources.ResXFileRef` cannot be loaded.

**Actual behavior:**

[code]

**Expected behavior:**

No crash.

**Minimal repro:**

[WindowsFormsApp1.zip](https://github.com/dotnet/winforms/files/3517074/WindowsFormsApp1.

[2019-08-19 18:15] rainersigwald commented on #1662
`ResXNullRef` probably needs special handling in MSBuild. I'll duplicate this bug over there and look into that.

Can you share a repro for your problems with `ResXFileRef`? I have a fix almost ready for byte arrays and memory streams, but I'm not sure that's your case: microsoft/msbuild#4607.

[2019-08-19 18:16] rainersigwald commented on #1662
This issue was moved to microsoft/msbuild#4634

[2019-08-19 19:31] #1662 closed

[2019-08-19 23:21] zsd4yr commented on #1641
@bwateratmsft 	thanks for the followup!

@merriemcgaw 	I am moving this to 5.0.

[2019-08-20 06:00] RussKie commented on #1631
Duplicate of #1520

[2019-08-20 07:03] weltkante commented on #1520
@RussKie this is not a bug, but an intentional change in behavior in corefx. Please re-read my [reply](https://github.com/dotnet/winforms/issues/1520#issuecomment-515899341) above. As the screenshot shows the event gets fired, but the code *inside* the event runs into `Process.Start(string)` having changed semantics. You need to use an overload which allows setting `UseShellExecute=true`.

[2019-08-20 07:04] weltkante commented on #1631
@RussKie this is not a duplicate, #1520 is not about friendly name links at all, it is about Process.Start having changed semantics.

[2019-08-20 08:22] Jessie-Zhang01 opened #1665 "Resource file: Form1.resx in Winforms .Net Core project is missing"
* .NET Core Version: (.Net Core SDK 3.0.100.13959 build from release branch)
* Have you experienced this same bug with .NET Framework?: No

**Steps to reproduce:**

1. Install latest .NET Core 3.0 SDK Preview 9 from release branch by link: https://github.com/dotnet/core-sdk.
2. Create a new Windows Forms App(.NET Core), then expand the Form1.cs.

**Actual:**
Resource file: Form1.resx in .Net Core

[2019-08-20 08:55] weltkante commented on #1665
This is intentionally removed (see #1479) because it is not used by the template. It is a designer generated file which will be generated automatically if required. Deploying an empty file by default through the template makes not much sense.

[2019-08-20 14:54] RussKie commented on #1665
Resx's were removed in https://github.com/dotnet/winforms/pull/1573

[2019-08-20 14:54] #1665 closed

[2019-08-20 14:59] RussKie commented on #1631
We've discussed it with our testers, who have submitted #1520, and it was resolved as reporting the same issue.
The screenshot is misleading indeed, and it threw few people off the right track.

[2019-08-20 16:11] weltkante commented on #1631
@RussKie considering you said in PR #1661 that Issue #1520 will be fixed by said PR, this issue can't be a duplicate.

This repros on Desktop Framework and I'd assume it also repros in .NET Core. It is the problem the stackoverflow article was about, a regression in the Desktop Framework long ago (by updating to a newer version of the RTF control which supported features WinForms doesn't understan

[2019-08-20 16:24] AdamYoblick commented on #1230
@hughbe Is this still an issue?

[2019-08-20 17:43] RussKie commented on #1631
@weltkante thank you for being persistent.
I have run this scenario locally and, you're right, it is still broken.

[2019-08-20 17:48] #1311 closed

[2019-08-20 17:48] #1520 closed

[2019-08-20 17:48] #1607 closed

[2019-08-20 17:48] #1644 closed

[2019-08-21 02:22] dreddy-work commented on #1597
I see two opinions here.
1. Changing Icons to match the Framework version ( legacy Icons)
2. Match the behavior when VisualStyle is ON /OFF with framework but keep the new Icon.

Will take a look if we can  match the behavior when VisualStyle is ON/OFF  with framework but try to keep new Icons. We adopted VisualStudio formats in core. @MatthewBeardmore, please respond if you disagree.

[2019-08-21 03:57] TempeBrennan opened #1670 "When AutoScroll = true, Form size become smaller after show and hide"
* .NET Core Version: (3.0 Preview8)
* Have you experienced this same bug with .NET Framework?: Yes

**Problem description:**
After click form maximize button serval times, form will be very small.

**Actual behavior:**
form size will reduce 17 unit each time after click form maximize button twice.

**Expected behavior:**
form size not change each time after after click form maximize button twice.

[2019-08-21 14:08] MatthewBeardmore commented on #1597
I think the new icons are fine in most places (and even in this place), but the transparency behind the VisualStyle On looks very out of place. If that was fixed, I think it would match well enough with the previous style and previous behavior that (for me) would work fine.

[2019-08-21 17:32] NatKite opened #1679 "control.DataBindings.Remove\Clear does not unsubscribe from the INotifyPropertyChanged.PropertyChanged event in the WinForms app."
Hello!

I think that this is the compatibility bug. (.NetCore 3.0 preview8)
Build and run the code below at the ,Net Framework and at the .Net Core platforms and we will see a difference.

[code]

For .Net Framework the result is:
MainObject.IsPropertyChangedAssigned: True
MainObject.IsPropertyChangedAssigned: False
For .Net Core the result is:
MainObject.IsPropertyChangedAssigned: True
MainObject

[2019-08-21 19:35] merriemcgaw commented on #1587
Thank you all for the feedback, it's much appreciated. I'll reach out to our accessibility team and find out what their expected behavior is in this case. The tooling flagged a mismatch between the reported type of AccessibleObject and the visible one. I'm hopeful we can find a way to alleviate their concerns and satisfy our customers.

[2019-08-22 08:27] Jessie-Zhang01 commented on #1582
Verified this bug in .Net Core SDK 3.0.100-Preview 9-13959 build from release branch. This bug is fixed. Please see following screenshot:
![image](https://user-images.githubusercontent.com/45864649/63499061-ac696580-c4f9-11e9-9974-637a1c0399e2.png)

[2019-08-22 08:35] Jessie-Zhang01 commented on #1602
Verified this bug in .Net Core SDK 3.0.100-Preview 9-13959 build from release branch. This bug is fixed. Please see following screenshot:
![image](https://user-images.githubusercontent.com/45864649/63499634-cf484980-c4fa-11e9-883b-43aa228b39fb.png)

[2019-08-22 08:52] Jessie-Zhang01 commented on #1578
Verified this bug in .Net Core SDK 3.0.100-Preview 9-13959 build from release branch. This bug is fixed. Please see following screenshot:
![image](https://user-images.githubusercontent.com/45864649/63500792-20593d00-c4fd-11e9-995b-dfa2854d9719.png)

[2019-08-22 12:26] kpreisser commented on #146
I have implemented changes to the PR according to the [review notes](https://github.com/dotnet/apireviews/blob/master/2019/System.Windows.Forms/README.md):

Done.
<br>

I removed class `TaskDialogButtonClickedEventArgs ` and added a `boolean` property `TaskDialogButton.ShouldCloseDialog` (default value: `true`). This property can be set to `false` to prevent the dialog from closing when the button

[2019-08-22 12:39] RussKie commented on #1578
Thank you @Jessie-Zhang01

[2019-08-22 12:40] RussKie commented on #1602
Thank you @Jessie-Zhang01